{% extends 'TopxiaAdminBundle:User:layout.html.twig' %}

{% set memberlevel = memberlevel|default(null) %}
{% block title %}
{% if memberlevel %}编辑{% else %}新增{% endif %}会员类型
{% endblock %}

{% set menu = 'memberlevel' %}

{% set script_controller = 'memberlevel/save-modal' %}

{% block main %}

<div class="page-header clearfix">
  <h1 class="pull-left">{% if memberlevel %}编辑{% else %}新增{% endif %}会员类型</h1>
</div>
<form id="memberlevel-form" class="form-horizontal" method="post" action="{% if memberlevel %}{{path('admin_user_level_update',{id:memberlevel.id}) }}{% else %}{{ path('admin_user_level_create') }}{% endif %}">
  <fieldset>

    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="levelName">会员类型名称&nbsp;<span class="glyphicon glyphicon-star"></span></label>
      </div>
      <div class="col-md-7 controls">
        <input type="text" id="levelName" data-url="{% if memberlevel %}{{ path('admin_user_level_checkname', {exclude:memberlevel.name}) }}{% else %}{{path('admin_user_level_checkname')}}{% endif %}" name="name" class="form-control" value="{% if memberlevel %}{{ memberlevel.name }}{% endif %}">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="monthPrice">购买类型&nbsp;<span class="glyphicon glyphicon-star"></span></label>
      </div>
      <div class="checkbox col-md-1">
        <label>
          <input class="boughtType" type="checkbox" name="monthType" value="month">包月
        </label>
      </div>
      <div class="col-md-6">
        <input type="text" name="monthPrice" class="form-control" value="{% if memberlevel %}{{ memberlevel.monthPrice }}{% else %}0.00{% endif %}">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="yearPrice"></label>
      </div>
      <div class="checkbox col-md-1">
        <label>
          <input class="boughtType" type="checkbox" name="yearType" value="year">包年
        </label>
      </div>
      <div class="col-md-6">
        <input type="text" name="yearPrice" class="form-control" value="{% if memberlevel %}{{ memberlevel.yearPrice }}{% else %}0.00{% endif %}">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="freeLearned">可免费学习所有课程</label>
      </div>
      <div class="col-md-5 radios">
        <div>
          {% if memberlevel %}
            <label> 
             {{ radios('freeLearned', {'1':'是', '0':'否'}, memberlevel.freeLearned) }}
            </label>
          {% else %}
            <div class="radio-inline">
              <label>
                <input type="radio" name="freeLearned" id="freeLearned1" value="1" checked="checked">
                是
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" name="freeLearned" id="freeLearned2" value="0">
                否
              </label>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="memberlevel-content-field">一句话描述</label>
      </div>
      <div class="col-md-7 controls">
        <textarea class="form-control" id="memberlevel-content-field" name="description">{% if memberlevel %}{{ memberlevel.description }}{% endif %}</textarea>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="memberlevel-content-field">展示图片</label>
      </div>
      <div class="col-md-7 controls">
        <input type="hidden" name="picture" value="" >
        <img src="{{ file_path('public://course/2014/03-05/1200364ea1a1341686.jpg','course-default-475x250.png') }}" class="img-responsive" /><br />
        <a href="javascript:;" class="btn btn-default btn-sm" data-url="{{ path('admin_user_level_picture') }}" data-toggle="modal" data-target="#modal">设置图片</a>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="memberlevel-content-field">示意图标</label>
      </div>
      <div class="col-md-7 controls">
        <input type="hidden" name="picture" value="" >
        <img src="{{ file_path('public://course/2014/03-05/120036500a98464578.jpg','course-default-475x250.png') }}" class="img-responsive" /><br />
        <a href="javascript:;" class="btn btn-default btn-sm" data-url="" data-toggle="modal" data-target="#modal">示意图标</a>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="enabled">状态</label>
      </div>
      <div class="col-md-5 radios">
          <div>
            {% if memberlevel %}
              <label> 
               {{ radios('enabled', {'1':'开启', '0':'关闭'}, memberlevel.enabled) }}
              </label>
            {% else %}
              <div class="radio-inline">
                <label>
                  <input type="radio" name="enabled" id="enabled1" value="1" checked="checked">
                  开启
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="enabled" id="enabled2" value="0">
                  关闭
                </label>
              </div>
            {% endif %}
          </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="controls col-md-offset-2 col-md-8">
        <input type="submit" class="btn btn-primary pull-left"  value="保存">
      </div>
    </div> 

  </fieldset>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

</form>

{#   <form id="icon-image-upload-form" action="{{ path('file_upload', {group:'default'}) }}" method="post" enctype="multipart/form-data" class="form-horizontal"> 
    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="levelIcon">图标</label>
      </div>
      <div class="col-md-9 controls">
          <div id="icon-container">{% if memberlevel %}<img src="{{ memberlevel.icon }}">{% else %}{% endif %}</div>
          {% if memberlevel %}
            <div id="icon_uploadform_area" style="display:none;">
              <input class="btn btn-default btn-sm" type="file" name="file" value="上传" style="display:inline-block;">
              <button class="btn btn-default btn-sm" id="uploadButton">上传图片</button>
              <p class="help-block">你可以上传JPG、GIF或PNG格式的文件。</p>
            </div>
          {% else %}
            <input class="btn btn-default btn-sm" type="file" id="uploadarea" name="file" value="上传" style="display:inline-block;">
            <button id="uploadButton" class="btn btn-default btn-sm">上传图片</button>
            <p class="help-block">你可以上传JPG、GIF或PNG格式的文件。</p>
          {% endif %}
      </div>
    </div>
    {% if memberlevel %}
    <button class="btn btn-default btn-sm" id="changeButton">替换图片</button>
    {% endif %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  #}
{% endblock %}