<tr id="{{ memberlevel.id }}" class="item-memberlevel">
  <td>
    <span class="glyphicon glyphicon-move" style="cursor:move"></span>
  </td>
  <td width="30%">
    <img src="{{ memberlevel.icon }}">&nbsp;{{ memberlevel.name}}
  </td>
  <td>
    {% if memberlevel.monthPrice == 0 %}未设置{% else %}{{ memberlevel.monthPrice }}{% endif %}
  </td>
  <td>
    {% if memberlevel.yearPrice == 0 %}未设置{% else %}{{ memberlevel.yearPrice }}{% endif %}
  </td>
  <td>
    123
  </td>
  <td>
    {% if memberlevel.enabled %}
      <span class="text-success">允许加入会员</span>
      <br>
    {% else %}
      <span class="text-muted">禁止加入会员</span>
    {% endif %}  
  </td>
  <td>
    <div class="btn-group">
      <button class="btn btn-default btn-sm" data-url="{{path('admin_user_level_update',{id:memberlevel.id}) }}" data-toggle="modal" data-target="#modal">编辑</button>
      <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          {% if memberlevel.enabled %}
          <a href="javascript:" class="off-memberlevel" data-url="{{path('admin_user_level_off',{id:memberlevel.id}) }}"> 
            <span class="glyphicon glyphicon-ban-circle"></span> 关闭加入会员
          </a>
          {% else %}
          <a href="javascript:" class="on-memberlevel" data-url="{{path('admin_user_level_on',{id:memberlevel.id}) }}"> 
            <span class="glyphicon glyphicon-ok-circle"></span> 开启加入会员
          </a>
          {% endif %}
        </li>
        <li class="divider"></li>
        <li>
          <a href="javascript:" class="delete-memberlevel" data-url="{{path('admin_user_level_delete',{id:memberlevel.id}) }}" ><span class="glyphicon glyphicon-trash"></span> 删除会员类型</a>
        </li>
      </ul>
    </div> 
  </td>
</tr>
