<!-- 未接入 -->
<div class="cloud-banner-top">
  <img src="/assets/v2/img/educloud/banner_nouse.jpg">
  <a href="http://open.edusoho.com/cloud/access" target="_blank" class="access-btn">{{'admin.edu_cloud.overview.immediate_access'|trans}}</a>
</div>
<div class="cloud-banner banner-bg-blue clearfix">
  <div class="banner-content pull-left">
    <div class="title">{{'admin.edu_cloud.overview.cloud_video'|trans}}</div>
    <div class="subtitle">{{'admin.edu_cloud.overview.create_online_video_tips'|trans|raw}}</div>
    <div class="features text-sm text-muted ptm pbl">
      {{'admin.edu_cloud.overview.experience_tips'|trans|raw}}
    </div>
    <a href="http://open.edusoho.com/show/cloud/video" target="_blank" class="text-sm text-underline"><u>{{'admin.edu_cloud.overview.further_understand_cloud_video'|trans}}</u></a>
  </div>
  <img src="/assets/v2/img/educloud/banner_video.png" class="pull-right">
</div>
<div class="cloud-banner banner-bg-gray clearfix">
  <img src="/assets/v2/img/educloud/banner_live.png" class="pull-left">
  <div class="banner-content pull-right">
    <div class="title">{{'admin.edu_cloud.overview.cloud_live'|trans}}</div>
    <div class="subtitle">{{'admin.edu_cloud.overview.live_course_tips'|trans|raw}}</span></div>
    <div class="features text-sm text-muted ptm pbl">
      {{'admin.edu_cloud.overview.live_open_course_tips'|trans|raw}}
    </div>
    <a href="http://open.edusoho.com/show/cloud/live" target="_blank" class="text-sm text-underline"><u>{{'admin.edu_cloud.overview.further_understand_cloud_live'|trans|raw}}</u></a>
  </div>
</div>
<div class="cloud-banner banner-bg-blue clearfix">
  <div class="banner-content pull-left">
    <div class="title">{{'admin.edu_cloud.overview.cloud_sms'|trans}}</div>
    <div class="subtitle">{{'admin.edu_cloud.overview.teach_info_fast_arrival_one_tips'|trans|raw}}</div>
    <div class="features text-sm text-muted ptm pbl">
      {{'admin.edu_cloud.overview.teach_info_fast_arrival_two_tips'|trans|raw}}
    </div>
    <a href="http://open.edusoho.com/show/cloud/sms" target="_blank" class="text-sm text-underline"><u>{{'admin.edu_cloud.overview.further_understand_cloud_sms'|trans|raw}}</u></a>
  </div>
  <img src="/assets/v2/img/educloud/banner_video.png" class="pull-right">
</div>
<div class="cloud-banner banner-bg-gray clearfix">
  <img src="/assets/v2/img/educloud/banner_video.png" class="pull-left">
  <div class="banner-content pull-right">
    <div class="title">{{'admin.edu_cloud.overview.cloud_search'|trans}}</div>
    <div class="subtitle">{{'admin.edu_cloud.overview.search_teach_resources_tips'|trans|raw}}</div>
    <div class="features text-sm text-muted ptm pbl">
      {{'admin.edu_cloud.overview.search_more_tips'|trans|raw}}
    </div>
    <a href="http://open.edusoho.com/show/cloud/search" target="_blank" class="text-sm text-underline"><u>{{'admin.edu_cloud.overview.further_understand_cloud_search'|trans}}</u></a>
  </div>
</div>
