<div class="testpaper-card affix">
  {% if paperResult.status|default(null) == 'finished' %}
    <div class="mbl">
      <a class="btn btn-primary btn-block btn-lg border-radius-none" href="{{ path('exercise_start_do',{lessonId:paperResult.lessonId|default(0),exerciseId:paperResult.testId|default(0)}) }}">{{'再做%itemCount%题'|trans({'%itemCount%':paper.itemCount })}}</a>
    </div>
  {% endif %}
  <div class="panel panel-gray border-radius-none">
    <div class="panel-heading">
      {{'答题卡'|trans}} 
      <a class="pull-right link-medium" href="javascript:;" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content='<div>本次考试共<span class="color-primary">2题</span>，总分<span class="color-primary">8.0分</span>，及格为<span class="color-primary">5.0</span>分。请在<span class="color-primary">50分钟</span>内作答。</div>'><i class="es-icon es-icon-info"></i></a>
    </div>
    <div class="panel-body">
      {% for question in questions %}
        {% set loopIndex = loop.index %}
        {% if question.type == 'material' %}
          {% for subQuestion in question.subs|default(null) %}
            <a href="javascript:;" data-anchor="#question{{ subQuestion.id }}" class="js-btn-index color-lump lump-card mrm mbm
              {% if subQuestion.testResult.status|default('noAnswer') in ['partRight','wrong'] %}
                bg-danger
              {% elseif subQuestion.testResult.status|default('noAnswer')  == 'right' %}
                bg-success
              {% endif %}">
              {{ loopIndex + loop.index - 1 }}
            </a>
          {% endfor %}
        {% else %}
          <a href="javascript:;" data-anchor="#question{{ question.id }}" class="js-btn-index color-lump lump-card mrm mbm
            {% if question.testResult.status|default('noAnswer') in ['partRight','wrong'] %}
              bg-danger
            {% elseif question.testResult.status|default('noAnswer')  == 'right' %}
              bg-success
            {% endif %}">
            {{ question.seq }}
          </a>
        {% endif %}
        
      {% endfor %}
    </div>
    
    <div class="panel-footer text-right mt20">
      {% if paperResult.id|default(0) > 0 %}
        <a id="paper-finish" class="btn btn-primary" data-toggle="modal" data-target="#testpaper-finished-dialog">{{'提交练习'|trans}}</a>
      {% else %}
        <a id="paper-finish" class="btn btn-primary" disabled="disabled">{{'提交练习'|trans}}</a>
      {% endif %}
    </div>
    
  </div>
</div>