<div class="well well-sm">
  <img class="mrm" src="{{ asset('assets/img/default/cloud_' ~ attachment.file.type ~ '.png') }}" height="60px" width="107px">
  {{ attachment.file.filename }}
  {% if app.user.isLogin()|default(0) %}
    <button class="btn btn-link js-attachment-delete pull-right"
            data-url="{{ path('attachment_delete',{id:attachment.file.id, type:'file'}) }}" type="button"
            style="margin-top:13px" data-role="delte-item" data-loading-text="{{'form.btn.delete.submiting'|trans}}">{{'form.btn.delete'|trans}}
    </button>
  {% endif %}
</div>
