{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
  <div class="col-md-6">
		 	
 	<div class="panel panel-default">
	
	 	<div class="panel-heading">
		  	<p class="panel-title">新用户</p>
	 	</div>

		<div>
			<table class="table table-condensed table-bordered table-striped table-hover">
		        <thead>
		          <tr>
		            <th width="10%">昵称</th>
		            <th width="15%">上次登陆IP</th>
		            <th width="20%">注册时间</th>
		            <th width="50%" >收藏的课程</th>
		          </tr>
		        </thead>
		        <tbody>
		        	{% if newUsers %}

			        	{% for newUser in newUsers %}
			        		
			        		<tr>
					            <td>{{newUser.nickname}}</td>
					            <td>{{newUser.loginIp}}</td>
					            <td>{{newUser.createdTime | date('Y-n-d H:i:s') }}</td>
					            <td>
					            	{% if favoriteCourses[newUser.id] %}

						            	{% for favoriteCourse in favoriteCourses[newUser.id] %}

						            		<a  
						            		{% if loop.index > 6 %} 
						            		style="display:none" class="favorite-course more-course"
						            		{% else %} class="favorite-course less-course"
						            		{% endif %} href="{{ path('course_show', {id:favoriteCourse.id}) }}" > {{ favoriteCourse.title }} 
						            		</a>
						            		{% if loop.index != favoriteCourses[newUser.id]|length %} <br> {% endif %}

						            	{% endfor %}

						            	{% if favoriteCourses[newUser.id]|length > 6 %}
					            		   <button id="more-or-less" class="pull-right btn btn-info" href="javascript:;">更多</button>
					            		{% endif %}

					            	{% else %}
					            	  暂无收藏课程 
					            	{% endif %}

					            </td>
			          		</tr>

			        	{% endfor %}

		        	{% endif %}

		        </tbody>
		    </table>
		</div>
	
	</div>

  </div>