{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<div class="col-md-12">
	
	 	<div class="panel panel-default">
	 		<div class="panel-heading">
		  		<p class="panel-title">最新未解答问题</p>
		 	</div>

			<div>
				<table class="table table-condensed table-bordered table-striped table-hover">
			        <thead>
			          <tr>
			            <th width="15%">课程</th>
			            <th width="35%">问题名称</th>
			            <th width="5%">提问人</th>
			            <th width="10%">教师</th>
			            <th width="5%">点击次数</th>
			            <th width="8%">创建时间</th>
			            <th width="10%">操作</th>
			          </tr>
			        </thead>
			        <tbody class="tbody">
			        	{% if questions %}
			        		{% for question in questions %}
			        		  {% set course =  courses[question.courseId]|default(null) %}
			        		  {% if course %}
			        	<tr>
			            <td>
				            	<a href="{{ path('course_show', {id:courses[question.courseId].id}) }}" target="_blank">{{ courses[question.courseId].title }}</a>
			            </td>
			            <td>
			                <a href="{{ path('course_thread_show', {courseId:question.courseId, id:question.id}) }}" target="_blank">
			                	{{ question.title }}
			                </a>
			            </td>
			            <td>
			            	{{ admin_macro.user_link(askers[question.userId]) }}
			            </td>
			            <td>
			            	
			            	{% for teacherId in courses[question.courseId].teacherIds %}
			            		{{ admin_macro.user_link(teachers[teacherId]) }}
			            	{% endfor %}

			            </td>
			            <td>{{question.hitNum}} 次</td>
			            <td>{{question.createdTime |date('Y-n-d H:i:s') }} </td>
			            <td>
			            <button class="btn btn-default btn-sm remind-teachers" data-url="{{ path('admin_remind_course_teachers', {courseId:question.courseId, questionId:question.id}) }}">
			            	提醒教师
			            </button>
			        	</td>
			          </tr>
			          {% endif %}

			        		{% endfor %}
			        	{% endif %}       
			        </tbody>
			    </table>
		  	</div>

	 	</div>
  </div>