{% extends 'TopxiaAdminBundle::layout.html.twig' %}
{% block title %}{{ '管理后台'|trans }}{% endblock %}
{% set panel = 'dashboard' %}
{% set script_controller = 'default/index' %}
{% block container %}

  {{ render(controller('TopxiaAdminBundle:Default:inspect')) }}

  {% if is_granted('ROLE_BACKEND') %}

    <div class="row">
      {% if not (setting('copyright.thirdCopyright')|default(0) == 1) %}
        {{ render(controller('TopxiaAdminBundle:Default:getCloudNotices')) }}
      {% endif %}

      {% if setting('copyright.thirdCopyright')|default(null) != 1 %}
        <div class="col-md-6">
          <div class="panel panel-default panel-150">
            <div class="panel-heading">
              <h3 class="panel-title">{{ '系统状态'|trans }}</h3>
            </div>
            <div class="panel-body" id="system-status" data-url="{{ path('admin_system_status') }}">
              <div class="empty">{{ '正在载入数据，请稍等。'|trans }}</div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">
          {{ '网站概览'|trans }}
        </h3>
      </div>
      <div class="panel-body" id="operation-analysis-table" data-url="{{ path('admin_operation_analysis') }}">
        <div class="empty">{{ '正在载入数据，请稍等。'|trans }}</div>
      </div>
    </div>

    {# <div class="col-md-6">
       <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="open-message-title" data-url="{{path('admin_official_messages')}}">{{ 'EduSoho官方消息'|copyright_less }}</h3>
        </div>
        <div id="edusoho-open-message" >
          <div class="empty">正在载入数据，请稍等。</div>
        </div>
      </div>
    </div> #}

    {#<div id="popular-courses-panel" class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <select id="popular-courses-type" class="pull-right" data-url="{{ path('admin_popular_courses') }}">
            {{ select_options(dict('dateType'), app.request.query.get('dateType')) }}
          </select>
          <h3 class="panel-title">{{ '受欢迎课程'|trans }}</h3>
        </div>
        <div id="popular-courses-table">
          <div class="empty">{{ '正在载入数据，请稍等。'|trans }}</div>
        </div>
      </div>
    </div>
  </div> #}

    <div class="panel panel-default panel-380">
      <div class="panel-heading">
        <div class="pull-right">
          <span class="mrl text-sm js-data-switch-time">2016/09/01~2016/09/07</span>
          <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-primary js-user-switch-button" data-time="2016/09/01~2016/09/07"
                    data-url="{{ path('admin_user_statistic', {period: 'week'}) }}">最近7天
            </button>
            <button type="button" class="btn btn-default js-user-switch-button" data-time="2016/09/01~2016/09/30"
                    data-url="{{ path('admin_user_statistic', {period: 'month'}) }}">最近30天
            </button>
          </div>
        </div>
        <h3 class="panel-title">{{ '用户统计'|trans }}</h3>
      </div>
      <div class="panel-body js-statistic-areas" id="user-statistic" style="height:320px;">

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default panel-380">
          <div class="panel-heading">
            <div class="pull-right">
              <span class="mrl text-sm js-data-switch-time">2016/09/01~2016/09/07 </span>
              <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-primary js-study-switch-button" data-time="2016/09/01~2016/09/07"
                        data-url="{{ path('admin_study_statistic', {period: 'week'}) }}">最近7天
                </button>
                <button type="button" class="btn btn-default js-study-switch-button" data-time="2016/09/01~2016/09/07"
                        data-url="{{ path('admin_study_statistic', {period: 'month'}) }}">最近30天
                </button>
              </div>
            </div>
            <h3 class="panel-title">{{ '学习人次统计'|trans }}</h3>
          </div>
          <div class="panel-body js-statistic-areas" id="study-count-statistic" style="height:320px;">

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default panel-380">
          <div class="panel-heading">
            <div class="pull-right">
              <span class="mrl text-sm js-data-switch-time">2016/09/01~2016/09/07 </span>
              <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-primary js-order-switch-button" data-time="2016/09/01~2016/09/07"
                        data-url="{{ path('admin_order_statistic', {period: 'week'}) }}">{{ '最近7天'|trans }}</button>
                <button type="button" class="btn btn-default js-order-switch-button" data-time="2016/09/01~2016/09/07"
                        data-url="{{ path('admin_order_statistic',{period: 'month'}) }}">{{ '最近30天'|trans }}</button>
              </div>
            </div>
            <h3 class="panel-title">{{ '付费订单统计'|trans }}</h3>
          </div>
          <div class="panel-body js-statistic-areas" id="pay-order-statistic" style="height:320px;">

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default panel-420">
          <div class="panel-heading">
            <div class="pull-right">
              <span class="mrl text-sm js-data-switch-time">2016/09/01~2016/09/07 </span>
              <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-primary js-lesson-switch-button" data-time="2016/09/01~2016/09/07"
                        data-url="{{ path('admin_lesson_learn_statistic', {period: 'week'}) }}">{{ '最近7天'|trans }}</button>
                <button type="button" class="btn btn-default js-lesson-switch-button" data-time="2016/09/01~2016/09/07"
                        data-url="{{ path('admin_lesson_learn_statistic', {period: 'month'}) }}">{{ '最近30天'|trans }}</button>
              </div>
            </div>
            <h3 class="panel-title">{{ '学习课时数'|trans }}
              <span class="glyphicon glyphicon-question-sign text-sm"
                    data-toggle="tooltip" data-placement="top"
                    title="{{ '每天课时学习数量(包括公开课)'|trans }}"></span></h3>
          </div>
          <div class="panel-body js-statistic-areas" id="study-lesson-count-statistic" style="height:360px;">

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default panel-420">
          <div class="panel-heading">
            <div class="pull-right">
              <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-primary js-course-switch-button" data-time="2016/09/01~2016/09/07"
                        data-url="{{ path('admin_course_explore', {period: 'week'}) }}">{{ '最近7天'|trans }}</button>
                <button type="button" class="btn btn-default  js-course-switch-button" data-time="2016/09/01~2016/09/07"
                        data-url="{{ path('admin_course_explore', {period: 'month'}) }}">{{ '最近30天'|trans }}</button>
              </div>
            </div>
            <h3 class="panel-title">{{ '课程排行榜'|trans }}</h3>
          </div>
          <div class="panel-body js-statistic-areas" id="course-explore-list" >
            <table class="table table-condensed table-noborder table-overflow">
              <thead>
              <tr>
                <th width="10%"></th>
                <th width="70%">{{ '课程名'|trans }}</th>
                <th width="25%">{{ '新增学员'|trans }}</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>
                  <a class="link-primary" href="">课程名称课程名称</a>
                </td>
                <td class="pull-right prl">15</td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <a class="link-primary" href="">课程名称课程名称</a>
                </td>
                <td class="pull-right prl">15</td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <a class="link-primary" href="">课程名称课程名称</a>
                </td>
                <td class="pull-right prl">15</td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  <a class="link-primary" href="">课程名称课程名称</a>
                </td>
                <td class="pull-right prl">15</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <a class="link-primary" href="">课程名称课程名称</a>
                </td>
                <td class="pull-right prl">15</td>
              </tr>
              <tr>
                <td>6</td>
                <td>
                  <a class="link-primary" href="">课程名称课程名称</a>
                </td>
                <td class="pull-right prl">15</td>
              </tr>
              <tr>
                <td>7</td>
                <td>
                  <a class="link-primary" href="">课程名称课程名称</a>
                </td>
                <td class="pull-right prl">15</td>
              </tr>
              <tr>
                <td>8</td>
                <td>
                  <a class="link-primary" href="">课程名称课程名称</a>
                </td>
                <td class="pull-right prl">15</td>
              </tr>
              <tr>
                <td>9</td>
                <td>
                  <a class="link-primary" href="">课程名称课程名称</a>
                </td>
                <td class="pull-right prl">15</td>
              </tr>
              <tr>
                <td>10</td>
                <td>
                  <a class="link-primary" href="">课程名称课程名称</a>
                </td>
                <td class="pull-right prl">15</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        {{ render(controller('TopxiaAdminBundle:Default:unsolvedQuestionsBlock')) }}
      </div>
      <div class="col-md-4">
        <div class="panel panel-default panel-420">
          <div class="panel-heading">
            <a href="" class="pull-right">{{ '更多'|trans }}</a>
            <h3 class="panel-title">
              {{ '最新评价'|trans }}
            </h3>
          </div>
          <div class="panel-body">
            <table class="table table-condensed table-noborder table-overflow">
              <thead>
              <tr>
                <th width="70%">{{ '评价内容'|trans }}</th>
                <th width="15%">{{ '评分'|trans }}</th>
                <th width="15%">{{ '操作'|trans }}</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <a class="link-primary" href="">课程很不错，就是内容太少了课程很不错，就是内容太少了</a>
                </td>
                <td class="pull-right prl">5</td>
                <td>
                  <a href="" class="btn btn-default btn-xs">查看</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">课程很不错，就是内容太少了</a>
                </td>
                <td class="pull-right prl">5</td>
                <td>
                  <a href="" class="btn btn-default btn-xs">查看</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">课程很不错，就是内容太少了</a>
                </td>
                <td class="pull-right prl">5</td>
                <td>
                  <a href="" class="btn btn-default btn-xs">查看</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">课程很不错，就是内容太少了</a>
                </td>
                <td class="pull-right prl">5</td>
                <td>
                  <a href="" class="btn btn-default btn-xs">查看</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">课程很不错，就是内容太少了课程很不错，就是内容太少了</a>
                </td>
                <td class="pull-right prl">5</td>
                <td>
                  <a href="" class="btn btn-default btn-xs">查看</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">课程很不错，就是内容太少了</a>
                </td>
                <td class="pull-right prl">5</td>
                <td>
                  <a href="" class="btn btn-default btn-xs">查看</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">课程很不错，就是内容太少了</a>
                </td>
                <td class="pull-right prl">5</td>
                <td>
                  <a href="" class="btn btn-default btn-xs">查看</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">课程很不错，就是内容太少了</a>
                </td>
                <td class="pull-right prl">5</td>
                <td>
                  <a href="" class="btn btn-default btn-xs">查看</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">课程很不错，就是内容太少了课程很不错，就是内容太少了</a>
                </td>
                <td class="pull-right prl">5</td>
                <td>
                  <a href="" class="btn btn-default btn-xs">查看</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">课程很不错，就是内容太少了</a>
                </td>
                <td class="pull-right prl">5</td>
                <td>
                  <a href="" class="btn btn-default btn-xs">查看</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default search-panel panel-420">
          <div class="panel-heading">
            <a href="" class="pull-right">{{ '更多'|trans }}</a>
            <h3 class="panel-title">
              {{ '热门搜索'|trans }}
              <small>{{ '最近7天'|trans }}</small>
            </h3>
          </div>
          <div class="panel-body">
            <table class="table table-condensed table-noborder table-overflow">
              <thead>
              <tr>
                <th width="60%">{{ '关键词'|trans }}</th>
                <th width="30%">{{ '搜索次数'|trans }}</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <a class="link-primary" href="">Edusoho安装教程</a>
                </td>
                <td class="text-middle">
                  <div class="search-count js-cloud-search" data-count="30"></div>
                </td>
                <td>30</td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">Edusoho安装教程</a>
                </td>
                <td class="text-middle">
                  <div class="search-count js-cloud-search" data-count="20"></div>
                </td>
                <td>20</td>
              </tr>
              <tr>
                <td class="text-middle">
                  <a class="link-primary" href="">Edusoho安装教程</a>
                </td>
                <td>
                  <div class="search-count js-cloud-search" data-count="13"></div>
                </td>
                <td>13</td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">Edusoho安装教程</a>
                </td>
                <td class="text-middle">
                  <div class="search-count js-cloud-search" data-count="10"></div>
                </td>
                <td>10</td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">Edusoho安装教程</a>
                </td>
                <td class="text-middle">
                  <div class="search-count js-cloud-search" data-count="10"></div>
                </td>
                <td>10</td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">Edusoho安装教程</a>
                </td>
                <td class="text-middle">
                  <div class="search-count js-cloud-search" data-count="10"></div>
                </td>
                <td>10</td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">Edusoho安装教程</a>
                </td>
                <td class="text-middle">
                  <div class="search-count js-cloud-search" data-count="8"></div>
                </td>
                <td>8</td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">Edusoho安装教程</a>
                </td>
                <td class="text-middle">
                  <div class="search-count js-cloud-search" data-count="8"></div>
                </td>
                <td>8</td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">Edusoho安装教程</a>
                </td>
                <td class="text-middle">
                  <div class="search-count js-cloud-search" data-count="6"></div>
                </td>
                <td>6</td>
              </tr>
              <tr>
                <td>
                  <a class="link-primary" href="">Edusoho安装教程</a>
                </td>
                <td class="text-middle">
                  <div class="search-count js-cloud-search" data-count="4"></div>
                </td>
                <td>4</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {#{{ render(controller('TopxiaAdminBundle:Default:userCoinsRecordsBlock')) }}

    {{ render(controller('TopxiaAdminBundle:Default:latestPaidOrdersBlock')) }}#}

  {% else %}
    <h4>{{ '欢迎来到%name%管理后台'|trans({'%name%': setting('site.name') }) }}</h4>
  {% endif %}

  <input type="hidden" id="admin-notice" value="{{ path('admin_notice_modal') }}"/>
{% endblock %}