<ul class="subfield-list eight-subfield clearfix">
  <li>
    <div class="title">{{ '在线用户'|trans }}</div>
    <span class="number"> 登录 <span>{{ loginCount| default('0') }}</span> </span>
    <p>{{ '总数'|trans }}: {{ onlineCount }}</p>
  </li>
  <li>
    <div class="title">{{ '新增注册'|trans }}</div>
    <span class="number">今日<span> {{ todayRegisterNum }}</span> </span>
    <p>{{ '总数'|trans }}: {{ totalRegisterNum }}</p>
  </li>
  <li>
    <div class="title">{{ '新增学员'|trans }}</div>
    <span class="number"> 今日<span> {{ todayCourseMemberNum +todayClassroomMemberNum }} </span></span>
    <p>{{ '总人次'|trans }}: {{ totalCourseMemberNum +totalClassroomMemberNum }}</p>
  </li>
  {% if is_plugin_installed('Vip') and setting('vip.enabled') %}
    <li>
      <div class="title">{{ '新增会员'|trans }}</div>
      <span class="number"> 今日<span>{{ todayVipNum }} </span></span>
      <p>{{ '总数'|trans }}: {{ totalVipNum }}</p>
    </li>
  {% endif %}
  <li>
    <div class="title">{{ '回答未回复'|trans }}</div>
    <span class="number">今日<span>
      {{ todayThreadNum }}/{{ todayThreadUnAnswerNum }}
   </span></span>
    <p>{{ '总数'|trans }}: {{ totalThreadNum }}</p>
  </li>
</ul>