{% if members %}
	<table class="table table-condensed table-striped table-hover" style="word-break: break-all;">
	  <thead>
	    <tr>
	      <th>课程名称</th>
	      <th>新增学生人数</th>
	      <th>总学生人数</th>
	      <th>新增收入</th>
	    </tr>
	  </thead>
		<tbody>
			{% for member in members %}
				<tr>
					<td>
						<a href="{{ path('course_show', {id: member.courseId}) }}" target="_blank">{{ member.title }}</a>
					</td>
					<td>{{ member['co'] }} 人 </td>
					<td>{{ member['studentNum'] }} 人</td>
					<td class="money-text">{{ member['income'] }} 元 </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
  <div class="empty">暂无受欢迎课程</div>
{% endif %}