{% extends 'TopxiaWebBundle:Classroom:dashboard-layout.html.twig' %}

{% block title %} {{thread.title}} - {{ parent() }}{% endblock %}

{% set script_controller = 'thread/thread-show' %}

{% block dashboard_main %}

<ul class="breadcrumb">
  <li><a href="{{ path('threads', {targetType:targetType,id:targetId}) }}">话题</a></li>
  <li class="active">{% if thread.type == 'question' %}问答{% else %}话题{% endif %}</li>
</ul>

	<div class="thread">
	  <div class="thread-header">
	    {{ web_macro.user_avatar(author, 'pull-right thread-author-avatar') }}
	    <h2 class="thread-title">
	      {% if thread.type == 'question' %}
	      <span class="label label-info">问</span>
	      {% endif %}
	      {{ thread.title }}
	    </h2>
	    <div class="thread-metas">
	      By {{  web_macro.user_link(author, 'link-muted') }}
	      <span class="bullet mhs">•</span>
	      {{ thread.createdTime|smart_time }}
	      <span class="bullet mhs">•</span>
	      {{ thread.hitNum}} 次浏览
	    </div>
	  </div>
	  <div class="thread-body">{{ thread.content|raw }}</div>
	  {% if isManager or app.user.id == author.id %}
		  <div class="thread-footer" >
		    <a href="{{ path('thread_edit', {targetType:targetType,targetId:thread.targetId, id:thread.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-edit"></span> 编辑</a>
		    {% if isManager %}
			    <a href="javascript:;" class="btn btn-link" data-url="{{ path('thread_delete', {targetType:targetType,targetId:targetId, id:thread.id}) }}" data-after-url="{{ path('threads', {targetType:targetType,id:targetId}) }}" data-role="confirm-btn" data-confirm-message="您真的要删除该帖吗？"><span class="glyphicon glyphicon-remove-sign"></span> 删除</a>
			    {% if thread.isStick %}
			      <a href="javascript:" class="btn btn-link" data-url="{{ path('thread_unstick', {targetType:targetType,targetId:targetId, id:thread.id}) }}" data-role="confirm-btn" data-confirm-message="您真的要取消置顶该帖吗？"><span class="glyphicon glyphicon-minus-sign"></span> 取消置顶</a>
			    {% else %}
			      <a href="javascript:" class="btn btn-link" data-url="{{ path('thread_stick', {targetType:targetType,targetId:targetId, id:thread.id}) }}" data-role="confirm-btn" data-confirm-message="您真的要置顶该帖吗？"><span class="glyphicon glyphicon-circle-arrow-up"></span> 置顶</a>
			    {% endif %}

			    {% if thread.isElite %}
			      <a href="javascript:" class="btn btn-link" data-url="{{ path('thread_unelite', {targetType:targetType,targetId:targetId, id:thread.id}) }}"data-role="confirm-btn" data-confirm-message="您真的要取消加精该帖吗？"><span class="glyphicon glyphicon-hand-right"></span> 取消加精</a>
			    {% else %}
			      <a href="javascript:" class="btn btn-link" data-url="{{ path('thread_elite', {targetType:targetType,targetId:targetId, id:thread.id}) }}"data-role="confirm-btn" data-confirm-message="您真的要加精该帖吗？"><span class="glyphicon glyphicon-thumbs-up"></span>  加精</a>
			    {% endif %}
		    {% endif %}
		  </div>
	  {% endif %}
	</div>

	<div class="thread-posts">
		{% if thread.type == 'question' and elitePosts %}
			<h3 class="thread-posts-heading"><span class="glyphicon glyphicon-share-alt"></span> 教师的答案</h3>
	    <ul class="thread-post-list media-list">
	      {% for post in elitePosts %}
	        {% set author = users[post.userId] %}
	        {% include 'TopxiaWebBundle:Thread:post-list-item.html.twig' %}
	      {% endfor %}
	    </ul>
		{% endif %}


 {% if thread.postNum %}
  <div class="panel panel-default thread-post-list">
        <div class="panel-heading">
            <span id="thread-post-num">{{ thread.postNum }}</span> {% if thread.type == 'question' %}所有答案{% else %}回复{% endif %}
        </div>

    <div class="panel-body">

<!-- 		<h3 class="thread-posts-heading">
			<span class="glyphicon glyphicon-share-alt"></span>
      <span id="thread-post-num">{{ thread.postNum }}</span> {% if thread.type == 'question' %}所有答案{% else %}回复{% endif %}
		</h3> -->

    <ul class="media-list">
      {% for post in posts %}
        {% set subPosts = postReply[post.id]|default(null) %}
        {% set author = users[post.userId] %}

       <li id="post-{{ post.id }}" class="thread-post media clearfix">
          {{ web_macro.user_avatar(author, 'pull-left media-object') }} 
          <div class="media-body">
              <div class="metas">
                  <span class="floor" style="float: right;font-size: 12px;color: #999;">
                  {{ (loop.index+1)+paginator.getPerPageCount()*(paginator.currentPage-1) }}楼
                  </span>
                {{ web_macro.user_link(postMember[post.userId]) }}
                <span class="bullet">•</span>
                <span class="text-muted">{{post.createdTime|smart_time}} </span>
              </div>
              <div class="thread-post-content">{{ post.content|raw }}</div>

         <div class="actions">
<!--           {% if isManager %}
            <li><a href="javascript:" data-action="post-delete"  class="mhm post-delete-btn" data-url="{{ path('thread_post_delete', {targetType:targetType,targetId:targetId,threadId:thread.id, id:post.id}) }}" data-for="#post-{{ post.id }}"><i class="glyphicon glyphicon-remove"></i> 删除</a></li>
          {% endif %} -->

                {% if not subPosts %}
                      <a href="javascript:" class="reply" id="reply-{{post.id}}"  parentId="{{post.id}}" postName="{{postMember[post.userId].nickname}}" data-from-user-id-nosub="{{postMember[post.userId].id}}">回复</a>
                      <a href="javascript:" class="unreply" id="unreply-{{post.id}}" parentId="{{post.id}}" style="display:none;">收起</a>
                {% else %}
                      <a style="display:none;" href="javascript:" class="reply" id="reply-{{post.id}}"  parentId="{{post.id}}" postName="{{postMember[post.userId].nickname}}" data-from-user-id-nosub="">回复({{postReplyCount[post.id]}})</a>
                      <a href="javascript:" class="unreply" id="unreply-{{post.id}}" parentId="{{post.id}}" >收起</a>
                {% endif %}
            </div>


            <div class="reply-{{post.id}}">
                  {% if subPosts %}
                                {% include 'TopxiaWebBundle:Thread:post-list-item.html.twig'  with {targetType:targetType,posts:subPosts, users:postReplyMembers,postMain:post} %}
                  {% else %}

                <div class="reply-{{post.id}}" style="display:none;">
                  <form  class="thread-post-reply-form reply-{{post.id}}" method="post"  post-url="{{path('thread_post',{targetType:targetType,targetId:targetId,id:thread.id})}}">
                    <div class="form-group">
                      <label class="control-label hide" for="reply-content-{{post.id}}">回复内容</label>
                      <div class="controls">
                      <textarea id="reply-content-{{post.id}}" class="form-control"></textarea>
                    </div>
                    </div>
                    <div id="fromUserIdNoSubDiv"></div>
                    <div class="form-group">
                      <button type="submit" parentId="{{post.id}}" targetId="{{targetId}}" class="reply-btn btn btn-xs btn-primary pull-right" style="margin-top:-10px;"data-submiting-text="正在发表回复">发表</button>
                    </div>
                  </form>
                </div>



<!--                       <div class="reply-{{post.id}} empty" style="display:none;">
                          <span>还没有{% if thread.type == 'question' %}答案{% else %}回复{% endif %}，赶快添加一个吧！</span>
                       </div> -->
                   {% endif %}
            </div>
        <!-- </div> -->
    </li>
      {% endfor %}
    </ul>

    {{ web_macro.paginator(paginator) }}



    </div>
    </div>
  {% endif %}

      <div class="panel panel-default">
    <div class="panel-heading">发表回复</div>
    <div class="panel-body">

      {% if app.user %}
        <form id="post-thread-form" class="post-thread-form thread-form" method="post" post-url="{{path('thread_post',{targetType:targetType,targetId:targetId,id:thread.id})}}">

          <div class="form-group">
              <label class="control-label hide" for="post_content">回复内容</label>
              <div class="controls">
              <textarea name="content" value="" rows="10" id="post_content" class="form-control"></textarea>
              </div>
          </div>
          <div class="form-group">
            <div class="controls">
            <button id="post-thread-btn" data-submiting-text="正在回复" type="submit" class="post-thread-btn btn btn-primary pull-right">发表</button>
            </div>
          </div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
        </form>
      {% else %}
        <div class="empty">
          你还没有登录，请先<a href="{{ path('login', {goto:app.request.server.get('REQUEST_URI')}) }}">登录</a>或<a href="{{ path('register', {goto:app.request.server.get('REQUEST_URI')}) }}">注册</a>！
        </div>

      {% endif %}

    </div>
  </div>



{% endblock %}