{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">{{ thread.title }}</h1>
    <div class="thread-metas">
      {{  web_macro.user_link(author, 'link-muted') }}
      <span class="bullet mhs">•</span>
      {{ thread.createdTime|smart_time }}
      <span class="bullet mhs">•</span>
      {{ thread.hitNum}} 次浏览
    </div>
  </div>
  <div class="panel-body">
    {{ thread.content|raw }}
  </div>

  <div class="panel-footer clearfix">
    <div class="pull-right">
      <a href="{{ path( target.type ~ '_thread_update', {(target.type ~ 'Id'): target.id, threadId:thread.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-edit"></span> 编辑</a>
      <a href="javascript:;" class="btn btn-link" data-url="{{ path(target.type ~ '_thread_delete', {(target.type ~ 'Id'): target.id, threadId:thread.id}) }}" data-after-url="{{ path(target.type ~ '_threads', {(target.type ~ 'Id'): target.id, threadId:thread.id}) }}" data-role="confirm-btn" data-confirm-message="您真的要删除该帖吗？"><span class="glyphicon glyphicon-remove-sign"></span> 删除</a>
      {% if thread.sticky %}
        <a href="javascript:" class="btn btn-link" data-url="{{ path(target.type ~ '_thread_cancel_sticky', {(target.type ~ 'Id'): target.id, threadId:thread.id}) }}" data-role="confirm-btn" data-confirm-message="您真的要取消置顶该帖吗？"><span class="glyphicon glyphicon-minus-sign"></span> 取消置顶</a>
      {% else %}
        <a href="javascript:" class="btn btn-link" data-url="{{ path(target.type ~ '_thread_set_sticky', {(target.type ~ 'Id'): target.id, threadId:thread.id}) }}" data-role="confirm-btn" data-confirm-message="您真的要置顶该帖吗？"><span class="glyphicon glyphicon-circle-arrow-up"></span> 置顶</a>
      {% endif %}

      {% if thread.nice %}
        <a href="javascript:" class="btn btn-link" data-url="{{ path(target.type ~ '_thread_cancel_nice', {(target.type ~ 'Id'): target.id, threadId:thread.id}) }}"data-role="confirm-btn" data-confirm-message="您真的要取消加精该帖吗？"><span class="glyphicon glyphicon-hand-right"></span> 取消加精</a>
      {% else %}
        <a href="javascript:" class="btn btn-link" data-url="{{ path(target.type ~ '_thread_nice', {(target.type ~ 'Id'): target.id, threadId:thread.id}) }}"data-role="confirm-btn" data-confirm-message="您真的要加精该帖吗？"><span class="glyphicon glyphicon-thumbs-up"></span>  加精</a>
      {% endif %}
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    {{ thread.postNum }} 回复
  </div>
  <div class="panel-body">
    <ul class="media-list thread-post-list">
      {% for post in posts %}
        {% set author = users[post.userId] %}
        <li id="post-{{ post.id }}" class="thread-post media">
          <a href="{{ path('user_show', {id:author.id}) }}" class="pull-left user-avatar">
            <img class="media-object" src="{{ default_path('avatar', author.smallAvatar, '') }}" >
          </a>
          <div class="media-body">
            <div class="metas">
              {% include 'TopxiaWebBundle:Thread:post-manage-menu.html.twig' %}
              <a href="{{ path('user_show', {id:author.id}) }}" class="nickname">{{ author.nickname }}</a>
              <span class="bullet">•</span>
              <span class="text-muted">{{post.createdTime|smart_time}} </span>
            </div>
            <div class="thread-post-content">{{ post.content|raw }}</div>
            <div>
              {% include 'TopxiaWebBundle:Thread:post-interaction.html.twig' %}
            </div>
            {% if post.subposts %}
              {{ render(controller('TopxiaWebBundle:Thread:subposts', {request:app.request, target:target, thread:thread, parentId:post.id})) }}
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>