{% extends 'layout.html.twig' %}

{%- block title -%}
  {{'course.liveroom.content_title'|trans}}
{%- endblock -%}

{% block meta %}
  {{ parent() }}
  {% if params.activityId|default(0) > 0 and params.courseId|default(0) > 0 %}
    <meta name="trigger_url" content="{{path('task_live_trigger', {courseId: params.courseId, activityId: params.activityId})}}">
  {% endif %}
{% endblock %}

{% do script(['app/js/liveroom/index.js']) %}

{% block body %}
    <div id="entry" data-role="{{ liveRole }}" data-provider="{{ params.provider|default(0) }}" data-direct-url="{{ ticket.roomUrl| default() }}" data-url="{{ path('liveroom_ticket', {roomId:roomId, ticket:ticket.no}) }}" class="well well-lg text-center color-success">{{'course.liveroom.open_liveroom_tips'|trans}}</div>
{% endblock %}