{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}

{% block title %}添加作业 - {{ parent() }}{% endblock %}

{% set side_nav = 'lesson' %}
{% set script_controller = 'course-manage/homework-modal' %}

{% block main %}

<div class="panel panel-default panel-col lesson-manage-panel" id="homework-items-manager">
	<div class="panel-heading">
			添加作业
	</div>
	<div class="panel-body">

		<form class="form-horizontal">
			      <div class="form-group">
			        <div class="col-md-2 control-label"><label>作业说明</label></div>
			        <div class="col-md-8 controls">
			          <textarea name="description" rows="10" id="homework-about-field" class="form-control"></textarea>
			        </div>
			      </div>

				<div class="form-group">
					<label class="col-md-2 control-label">进度条件设置</label>
					<div class="col-md-8 controls radios" id="completeLimit-radios">
						{{ radios('completeLimit', {'inherited':'沿用本课程的设置','yes':'完成作业后才能进入下一课时', 'no':'不做控制'}, homework.homeworkCompleteLimit|default('inherited') ) }}
					</div>
				</div>
		</form><hr>

	    <div class="clearfix mbm">
	      <button  id="picker_homework_items" data-url="{{ path('course_manage_homework_item_picker',{courseId:course.id}) }}" class="btn btn-info btn-sm pull-right" data-role="pick-item"　><span class="glyphicon glyphicon-plus"  ></span> 新增题目</button>
	    </div>

    <form id="homework-create-form" class="form-horizontal" method="post" >

		<table class="table table-striped table-hover tab-content" id="homework-table">
	        <thead>
	          <tr>
	            <th><input type="checkbox" data-role="batch-select"></th>
	            <th>题号</th>
	            <th width="40%">题干</th>
	            <th>类型</th>
	            <th>难度</th>
	            <th width="20%">操作</th>
	          </tr>
	        </thead>
			<tbody id="homework-table-tbody" >
			{# 		{% if items|default(null) %}
					        {% for type, typeItems in items %}
					          <tbody data-type="{{ type }}" id="testpaper-items-{{ type }}" class="hide testpaper-table-tbody">
					            {% for item in typeItems %}
					              {% set question = questions[item.questionId] %}
					              {% include 'TopxiaWebBundle:CourseLessonManage:item-tr.html.twig' %}
					              {% if subItems[item.questionId]|default(null) %}
					                {% for item in subItems[item.questionId] %}
					                  {% set question = questions[item.questionId] %}
					                  {% include 'TopxiaWebBundle:CourseLessonManage:item-tr.html.twig' %}
					                {% endfor %}
					              {% endif %}
					            {% endfor %}
					          </tbody>
					        {% endfor %}
					{% endif %} #}
			</tbody>
      </table>
      <div>
        <label class="checkbox-inline"><input type="checkbox" data-role="batch-select"> 全选</label>
        <button type="button" class="btn btn-default btn-sm mlm" data-role="batch-delete"  data-name="题目">删除</button>
      </div>
        
		<div class="btn btn-primary pull-right mlm confirm-submit" id="save-homework-btn" data-saving-text="正在保存..." data-url="{{ path('course_manage_lesson_create_homework',{ courseId:course.id, lessonId:lesson.id }) }}">确定</div>

	      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

	  </form>
	</div>

</div>



{% endblock %}