<div id="media-choosers">

  <div class="file-chooser" id="video-chooser" style="display:none;">
    <div class="file-chooser-bar" style="display:none;">
      <span data-role="placeholder"></span>
      <button class="btn btn-link btn-sm" type="button" data-role="trigger"><i class="glyphicon glyphicon-edit"></i> 编辑</button>
      <div class="alert alert-warning" data-role="waiting-tip" style="display:none;">正在转换视频格式，转换需要一定的时间，期间将不能播放该视频。<br />转换完成后将以站内消息通知您。</div>
    </div>

    <div class="file-chooser-main">
      <ul class="nav nav-pills nav-pills-mini mbs file-chooser-tabs">
        <li class="active"><a class="file-chooser-uploader-tab" href="#video-chooser-upload-pane" data-toggle="tab">上传视频</a></li>
        <li><a href="#video-chooser-disk-pane" data-toggle="tab">从视频库中选择</a></li>
        <li><a href="#video-chooser-import-pane" data-toggle="tab">导入网络视频</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="video-chooser-upload-pane">

          <div class="file-chooser-uploader">
            <div class="file-chooser-uploader-label">选择你要上传的视频文件：</div>
            <div class="file-chooser-uploader-control">
              <span id="video-choose-uploader-btn"
                data-role="uploader-btn"
                data-key="{{ fileKey }}"
                data-token="{{ videoUploadToken.token }}"
                data-url="{{ videoUploadToken.url }}"
                data-filepath="{{ filePath }}"
                data-convert-key="{{ convertKey }}"
                data-filetypes="{% if storageSetting.upload_mode == 'cloud' %}*.mp4;*.avi;*.flv;*.wmv{% else %}*.mp4{% endif %}"
                data-button-image="{{ asset('assets/img/common/swfupload-btn.png') }}"
                data-callback="{% if storageSetting.upload_mode == 'cloud' %}{{ path('disk_upload_callback') }}{% endif %}" 
                data-fileinfo-url="{{ path('disk_file_info', {type:'video'}) }}"
                data-progressbar="#video-chooser-progress"></span>
            </div>
            <div class="progress" id="video-chooser-progress" style="display:none;">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
              </div>
            </div>

            <div class="alert alert-info">
              <ul>
                {% if storageSetting.upload_mode == 'cloud' %}
                  <li>支持<strong>mp4, avi, flv, wmv</strong>格式的视频文件上传。</li>
                  <li>视频将上传到<strong>云服务器</strong>，上传之后会对视频进行格式转换，转换过程需要一定的时间，在这个过程中视频将无法播放。</li>
                {% else %}
                  <li>支持<strong>mp4</strong>格式的视频文件上传，且文件大小不能超过<strong>300 MB</strong>。</li>
                  <li>视频将上传到<strong>网站服务器</strong>，如需使用视频云存储，请联系EduSoho官方购买。使用视频云存储，将获得更好的播放体验。</li>
                {% endif %}
              </ul>
              <p></p>
              <p></p>
              <p></p>

            </div>

          </div>

        </div>
        <div class="tab-pane" id="video-chooser-disk-pane">
            <div id="disk-browser-video" data-role="disk-browser" 
            style="width:621px;height:200px;overflow: hidden"
            data-url="{{ path('disk_browse', {type:'video'}) }}" 
            data-empty="暂无视频文件，请先上传。">
            </div>
        </div>
        <div class="tab-pane" id="video-chooser-import-pane">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="支持优酷、土豆、网易公开课的视频页面地址导入" data-role="import-url" >
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" data-role="import" data-url="{{ path('course_manage_media_import', {id:course.id}) }}" data-loading-text="正在导入，请稍等">导入</button>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div class="file-chooser" id="audio-chooser" style="display:none;">
    <div class="file-chooser-bar">
      <span data-role="placeholder"></span>
      <button class="btn btn-link btn-sm" type="button" data-role="trigger"><i class="glyphicon glyphicon-edit"></i> 编辑</button>
    </div>

    <div class="file-chooser-main">
      <ul class="nav nav-pills nav-pills-mini mbs file-chooser-tabs">
        <li class="active"><a class="file-chooser-uploader-tab" href="#audio-chooser-upload-pane" data-toggle="tab">上传音频</a></li>
        <li><a href="#audio-chooser-disk-pane" data-toggle="tab">从音频库中选择</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="audio-chooser-upload-pane">

          <div class="file-chooser-uploader">
            <div class="file-chooser-uploader-label">选择你要上传的音频文件：</div>
            <div class="file-chooser-uploader-control">
              <span id="audio-choose-uploader-btn" 
                data-role="uploader-btn"
                data-key="{{ fileKey }}"
                data-token="{{ audioUploadToken.token }}"
                data-url="{% if storageSetting.upload_mode == 'cloud' %}{{ audioUploadToken.url }}{% else %}{{ path('disk_upload') }}{% endif %}"
                data-filepath="{{ filePath }}"
                data-convert-key="{{ convertKey }}"
                data-button-image="{{ asset('assets/img/common/swfupload-btn.png') }}"
                data-callback="{% if storageSetting.upload_mode == 'cloud' %}{{ path('disk_upload_callback') }}{% endif %}" 
                data-fileinfo-url="{{ path('disk_file_info', {type:'audio'}) }}"
                data-progressbar="#audio-chooser-progress"></span>
            </div>
            <div class="progress" id="audio-chooser-progress" style="display:none;">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
              </div>
            </div>

            <div class="alert alert-info">
              <ul>
                <li>支持<strong>mp3</strong>格式的音频文件上传，且文件大小不能超过<strong>100 MB</strong>。</li>
                {% if storageSetting.upload_mode == 'cloud' %}
                  <li>音频将上传到<strong>云服务器</strong></li>
                {% else %}
                  <li>音频将上传到<strong>网站服务器</strong></li>
                {% endif %}
              </ul>
            </div>
          </div>

        </div>
        <div class="tab-pane" id="audio-chooser-disk-pane">
          <div id="disk-browser-audio" data-role="disk-browser" 
          style="width:621px; height:200px; overflow: hidden"
          data-url="{{ path('disk_browse', {type:'audio'}) }}" data-empty="暂无音频文件，请先上传。"></div>
        </div>
      </div>
    </div>

  </div>

</div>