<div id="media-choosers">

  <div class="media-chooser" id="video-chooser">
    <div class="media-chooser-bar">
      <span data-role="placeholder"></span>
      <button class="btn btn-link btn-small" type="button" data-role="trigger"><i class="glyphicon glyphicon-edit"></i> 编辑</button>
    </div>

    <div class="media-chooser-main">
      <ul class="nav nav-pills nav-pills-mini mbs media-chooser-tabs">
        <li class="active"><a class="media-chooser-uploader-tab" href="#video-chooser-upload-pane" data-toggle="tab">上传视频</a></li>
        <li><a href="#video-chooser-disk-pane" data-toggle="tab">从视频库中选择</a></li>
        <li><a href="#video-chooser-import-pane" data-toggle="tab">导入网络视频</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="video-chooser-upload-pane">

          <div class="media-chooser-uploader">
            <div class="media-chooser-uploader-label">选择你要上传的视频文件：</div>
            <div class="media-chooser-uploader-control">
              <span id="video-choose-uploader-btn" 
                data-role="uploader-btn"
                data-token="{{ uploadToken }}"
                data-url="{% if videoSetting.upload_mode == 'cloud' %}http://up.qiniu.com/{% else %}{{ path('disk_upload') }}{% endif %}"
                data-filepath="course-{{ course.id }}"
                data-filetypes="{% if videoSetting.upload_mode == 'local' %}*.mp4{% endif %}"
                data-button-image="{{ asset('assets/img/common/swfupload-btn.png') }}"
                data-callback="{% if videoSetting.upload_mode == 'cloud' %}{{ path('disk_upload_callback') }}{% endif %}" 
                data-progressbar="#video-chooser-progress"></span>
            </div>
            <div class="progress" id="video-chooser-progress" style="display:none;">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
              </div>
            </div>

            <div class="alert alert-info">
              <ul>
                {% if videoSetting.upload_mode == 'cloud' %}
                  <li>支持<strong>mp4, avi, flv</strong>格式的视频文件上传，且文件大小不能超过<strong>300 MB</strong>。</li>
                  <li>视频将上传到<strong>云服务器</strong>，上传之后会对视频进行格式转换，转换过程通常需5至10分钟时间，在这个过程中视频将无法播放。</li>
                {% else %}
                  <li>支持<strong>mp4</strong>格式的视频文件上传，且文件大小不能超过<strong>300 MB</strong>。</li>
                  <li>视频将上传到<strong>网站服务器</strong>，当前不会对上传的的视频进行格式转换及压缩，如需使用该功能，请在管理后台设置视频上传模式为云服务器。
                {% endif %}
              </ul>
              <p></p>
              <p></p>
              <p></p>

            </div>

          </div>

        </div>
        <div class="tab-pane" id="video-chooser-disk-pane">
          <div id="disk-browser-video" data-role="disk-browser" data-url="{{ path('disk_browse', {type:'video'}) }}"></div>
        </div>
        <div class="tab-pane" id="video-chooser-import-pane">
          <div class="input-group">
            <input type="text" placeholder="支持优酷、土豆、网易公开课的视频页面地址导入" data-role="import-url" >
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" data-role="import" data-url="{{ path('course_manage_media_import', {id:course.id}) }}" data-loading-text="正在导入，请稍等">导入</button>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>