{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'training-modal-lg' %}

{% do script(['app/js/dataset/index.js']) %}

{% block title %} 选择数据集 {% endblock %}



{% block body %}
<div class="training-add js-select-container" data-url="{{ path('dataset_set_manage_info',{id: id,taskId:10}) }}">
    <div style="padding-top:10px;min-height:300px;" class="list-info">
        {{ include('training/manage/dataset/dataset-modal-list.html.twig') }}
    </div>
</div>
<div class="footer-tag" style="width:100%;">
    <h4 class="tag-lists">
        {{ include('training/manage/dataset/component/tags.html.twig') }}
    </h4>
</div>
<div class="hidden default_tags_value">{{ tags|json_encode|raw }}</div>
{% endblock %}

{% block footer %}
<button type="button" class="btn btn-link js-close-modal" data-dismiss="modal" tabindex="6">取消</button>
<button id="pick-btn" data-submiting-text="正在提交" type="submit" class="btn btn-primary js-pick-btn"
  data-toggle="form-submit" tabindex="4">保存</button>


  <script>
    {# $(function(){
        let tags = {{ tags|json_encode|raw }};
        let cuid = 0;
        init();
        function init(){
            // 初始选中
            $(".list-info li").each(function(){
                cuid = $(this).data("id");
                tags.forEach(v =>{
                    if (v.id == cuid){
                        $(this).addClass("dataset_active");
                    }
                })
            });
        }

        $(".js-pick-btn").click(function(){
            $modal = $(".js-select-container").parents('.modal')
            let $content = $('#task-create-content-iframe').contents();
            $content.find(".dataset-cache").text(JSON.stringify(tags));

             $modal.modal('hide');
             $('.js-close-modal').trigger('click');
        });

        $(".js-select-container").on("click",".pagination li",function(){
            let url = $(".js-select-container").data("url");
            let conditions = "page="+$(this).data("page");
            $.ajax({
                type: 'GET',
                url: url,
                data: conditions
            }).done(function(resp){
                $(".list-info").html(resp);
                init();
            }).fail(function(){
                console.log("fail");
            });
        })

        $(".list-info").on("click",".dataset_li",function(){
            let currentTagId = $(this).data("id");
            let currentTagName = $(this).data("name");
            let check = 0;
            // 判断是新增还是删除
            tags.forEach(v=>{
                if(v.id == currentTagId){
                    removeTag(currentTagId);
                    console.log("删除")
                    check = 1;
                    return 
                }
            })

            if (check == 0){
                if(tags.length >3){
                    notify('danger', "数据集最多只能选择3个！");
                }
                addTag({id:currentTagId,name:currentTagName});
            }
            $(this).toggleClass("dataset_active")
        })

        // 点击删除标签
        $(".tag-lists").on("click",".bb-icon-close",function(){
            let currentId = $(this).data("id");
            removeTag(currentId);
            $(".dataset_li_"+currentId).removeClass("dataset_active");
        });

        // 增加标签
        function addTag(info){
            tags.push(info);
            console.log(tags);
            let html = "<div class='tag-info checktag-"+info.id+"'><span class='label label-primary'>"+info.name+"+<a id='bb' href='javascript:void(0)' class='panel-tool-close bb-icon-close'  data-id='"+info.id+"'>X</a></span></div>"
            $(".tag-lists").append(html);
        }
        // 删除标签
        function removeTag(id){
            newTags = [];
            tags.forEach((v,k)=>{
                if(v.id != id){
                    newTags.push(v);
                    return;
                }
            })
            tags = newTags;
            $(".checktag-"+id).remove();
        }
    }) #}
  </script>


  <style>
    .right-editor .ck-content {
        min-height: 550px;
    }
</style>
<style scoped lang="less">
    .dataset_active{
        position: relative;
        border: solid 1px #298dff;
    }
    .dataset_active:last-child{
        border: solid 1px #298dff;
    }
    .ivu-list-item{
        padding:16px 8px;
    }
    .dataset_active:after {
        content: "";
        right: 0;
        bottom: 0;
        width: 24px;
        height: 24px;
        position: absolute;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTc2NTcxOTI1NjMwIiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjExNTQ5IiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PC9zdHlsZT48L2RlZnM+PHBhdGggZD0iTTEwMjQgMHYxMDI0SDB6IiBmaWxsPSIjMDA4MEZGIiBwLWlkPSIxMTU1MCI+PC9wYXRoPjxwYXRoIGQ9Ik02MjUuMjggODA2LjQ2NGEyMi4xNDQgMjIuMTQ0IDAgMCAxLTE1LjIzMi02LjE0NGwtMTE3Ljc2LTExMi43NjhhMjIuMDggMjIuMDggMCAxIDEgMzAuNTkyLTMxLjkzNmwxMDAuNDggOTYuMzIgMTgyLjQtMjIxLjYzMmEyMi4xNDQgMjIuMTQ0IDAgMCAxIDM0LjE3NiAyOC4xNmwtMTk3LjUwNCAyNDBhMjIuMTQ0IDIyLjE0NCAwIDAgMS0xNy4wODggOHoiIGZpbGw9IiNGRkZGRkYiIHAtaWQ9IjExNTUxIj48L3BhdGg+PC9zdmc+) 0/100% 100%;
        background-size: 100%
    }
</style>    
{% endblock %}
