<div>
  <div class="text-track-title">
    {% set token = uploader_token('subtitle', media.id, 'private') %}
    <div class="row">
      <div class="col-md-3 caption-uploader js-select-file" id="uploader" style="width: 28%" 
      data-media-id="{{ media.id }}"
      data-subtitle-create-url="{{ url('subtitle_create', {courseId: courseId}) }}"
      data-subtitle-list-url="{{ url('subtitle_media_subtitles', {courseId: courseId, mediaId: media.id}) }}"
      data-init-url="{{ url('uploader_init', {token:token}) }}"
      data-finish-url="{{ url('uploader_finished', {token:token}) }}"
      >
      </div>
      <div class="col-md-9 caption-notify" style="width: 72%; padding-left: 0" >
        <i class="es-icon es-icon-xinxi remask-icon color-warning"></i>
        仅支持srt字幕格式，最多上传4个字幕
      </div>
    </div>
  </div>
  <div class="text-track-list mrm mts">
    <div id="track-select"></div>
    <div class="text-track-overview" style="overflow-y: auto; border: #999 solid 1px; border-radius: 6px; padding: 5px 10px; display: none"></div>
  </div>
</div>
<script type="text/javascript">app.load('marker/subtitle')</script>