{% extends "form_div_layout.html.twig" %}

{% block form_rows %}
    <div class="symfony-form-errors">
        {{ form_errors(form) }}
    </div>
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{% block form_row %}
    <div class="symfony-form-row">
        {{ form_label(form) }}
        <div class="symfony-form-field">
            {{ form_widget(form) }}
            <div class="symfony-form-errors">
                {{ form_errors(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block form_label %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label for="{{ id }}">
        {{ label|trans }}
        {% if required %}
            <span class="symfony-form-required" title="This field is required">*</span>
        {% endif %}
    </label>
{% endblock %}
