{% extends 'classroom-manage/layout.html.twig' %}
{% block title %}{{ 'classroom.manage.set_info'|trans }} - {{ parent() }}{% endblock %}

{% set script_arguments = {
tagMatchUrl: path('tag_match'),
classroomStatus: classroom.status
} %}

{% set side_nav = 'base' %}

{% do script(['libs/jquery-validation.js','libs/es-ckeditor/ckeditor.js','libs/bootstrap-datetimepicker.js','app/js/classroom-manage/set-info/index.js']) %}

{% block main %}
  <div class="panel panel-default" role="classroom-manage-base">
    <div class="panel-heading">{{ 'classroom.manage.set_info'|trans }}</div>
    <div class="panel-body">
      {{ web_macro.flash_messages() }}
      <form class="form-horizontal" method="post" id="classroom-set-form" novalidate>
        <div class="row form-group">
          <div class="col-md-2 control-label">
            <label class="control-label-required" for="title" >{{ 'classroom.manage.set_info.name'|trans }}</label>
          </div>
          <div class="controls col-md-8">
            <input name="title" type="text" id="title" class="form-control" value="{{ classroom.title }}"/>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-2 control-label">
            <label>{{ 'classroom.manage.set_info.introduction'|trans }}</label>
          </div>
          <div class="controls col-md-8">
            <textarea name="about" class="form-control" rows="6"
            data-image-upload-url="{{ path('editor_upload', {token:upload_token('default')}) }}"
            data-flash-upload-url="{{ path('editor_upload', {token:upload_token('default', 'flash')}) }}"
            id="about">{{ classroom.about|raw }}</textarea>
            <div class="help-block">{{ 'classroom.manage.set_info.introduction.help_block'|trans }}</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">{{ 'classroom.manage.set_info.tags'|trans }}</label>
          <div class="col-md-8 controls">
            <input type="text" id="classroom_tags" name="tags"  class="width-full select2-offscreen"
              tabindex="-1" value="{{ tags|join(',') }}"
              data-explain="{{ 'classroom.manage.set_info.tags.explain'|trans }}">
            <div class="help-block">{{ 'classroom.manage.set_info.tags.help_block'|trans }}</div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-2 control-label">
            <label>{{ 'classroom.manage.set_info.show_label'|trans({'%name%':setting('classroom.name')|default('site.default.classroom'|trans)}) }}</label>
          </div>
          <div class="col-md-8 controls radios">
            <label>
              <input id="showable-open" type="radio" name="showable" value="1" data-showable="{{ classroom.showable }}"> {{ 'form.radio_btn.open'|trans }}
            </label>
            <label>
              <input id="showable-close" type="radio" name="showable" value="0"> {{ 'form.radio_btn.close'|trans }}
            </label>
            <div class="help-block">{{ 'classroom.manage.set_info.show_label.help_block'|trans({'%name%':setting('classroom.name')|default('site.default.classroom'|trans)}) }}</div>
          </div>

        </div>
        <div class="row form-group" id='buyable'>
          <div class="col-md-2 control-label">
            <label>{{ setting("classroom.name")|default('site.default.classroom'|trans) }}{{ 'classroom.manage.set_info.buy'|trans }}</label>
          </div>
          <div class="col-md-8 controls radios">
            <label>
              <input id="buyable-open" type="radio" name="buyable" value="1" data-buyable="{{ classroom.buyable }}"> {{ 'form.radio_btn.open'|trans }}
            </label>
            <label>
              <input id="buyable-close" type="radio" name="buyable" value="0"> {{ 'form.radio_btn.close'|trans }}
            </label>
            <div class="help-block">{{ 'classroom.manage.set_info.buy.help_block'|trans({'%name%':setting('classroom.name')|default('site.default.classroom'|trans)}) }}</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">{{ 'classroom.manage.set_info.classroom_period'|trans }}</label>
          <div class="col-md-8 controls radios">
            {% if classroom.status == 'draft' %}
              <input type="hidden" name="expiryMode" value="{{ classroom.expiryMode }}">
              {{ radios('expiryMode', {'date':'classroom.manage.set_info.classroom_period.end_date'|trans, 'days':'classroom.manage.set_info.classroom_period.days'|trans,'forever':'classroom.manage.set_info.classroom_period.forever'|trans}, classroom.expiryMode|default('forever')) }}
            {% else %}
              {{ radios('expiryMode', {'date':'classroom.manage.set_info.classroom_period.end_date'|trans, 'days':'classroom.manage.set_info.classroom_period.days'|trans,'forever':'classroom.manage.set_info.classroom_period.forever'|trans}, classroom.expiryMode|default('forever'), 'disabled') }}
              <input type="hidden" name="expiryMode" value="{{ classroom.expiryMode|default('forever') }}">
            {% endif %}
          </div>
        </div>
        <div class="form-group expiry-value-js {% if classroom.expiryMode|default('forever') == 'forever' %} hidden {% endif %}">
          <div class="col-md-offset-2 col-md-4 controls">
            <input type="text" id="classroom_expiryValue" name="expiryValue" 
              value="{% if classroom.expiryMode|default('forever') == 'date' %}{{ classroom.expiryValue|date('Y-m-d') }}{% else %}{{ classroom.expiryValue }}{% endif %}"
              class="form-control width-input width-input-large" {% if classroom.status != 'draft' %}readonly{% endif %}> <span
              {% if classroom.expiryMode|default('forever') != 'days' %}class="hidden" {% endif %}>{{ 'form.radio_btn.one_day'|trans }} </span>
            {% set date_help = 'classroom.manage.set_info.date_help'|trans({'%user_name%': setting('default.user_name')|default('site.default.student'|trans)}) %}
            {% set days_help = 'classroom.manage.set_info.days_help'|trans({'%user_name%': setting('default.user_name')|default('site.default.student'|trans)}) %}

            <div class="help-block" data-date="{{ date_help }}" data-days="{{ days_help }}">
              {% if classroom.expiryMode|default('forever') == 'date' %}  {{ date_help }}{% elseif  classroom.expiryMode|default('forever') == 'days' %}{{ days_help }} {% endif %}
            </div>
          </div>
          <div class="col-md-6 js-course-rule">
            <p class="alert-warning"></p>
            <a href="{{ path('classroom_expiry_date_rule') }}" target="_blank">{{ 'classroom.manage.set_info.view_period_rules'|trans }}</a>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">{{ 'category'|trans }}</label>
          <div class="col-md-8 controls">
            <select id="course_categoryId" name="categoryId" required="required" class="form-control width-input width-input-large">
              {{ select_options(category_choices('classroom'), classroom.categoryId, {0:'category'|trans}) }}

            </select>
            <div class="help-block" style="display:none;"></div>
          </div>
        </div>
        {% include 'org/org-tree-select.html.twig' with {orgCode: classroom.orgCode, inputClass: 'width-input width-input-large'} %}
        <div class="row form-group">
          <div class="col-md-2 control-label"></div>
          <div class="controls col-md-8">
            <button class="btn btn-primary" id="classroom-save">{{ 'form.btn.submit'|trans }}</button>
          </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      </form>
    </div>
  </div>
{% endblock %}
