{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% import "TopxiaAdminBundle::macro.html.twig" as web_macro %}
{% set modal_class = 'modal-lg' %}
{% block title %}{{ batch.name }}-优惠码使用详情{% endblock %}
{% block body %}

<table class="table table-striped" id="coupon-list">
    <thead>
      <tr>
        <th>优惠码</th>
        <th>使用者</th>
        <th>使用</th>
        <th>原价</th>
        <th>实付</th>
        <th>使用时间</th>
      </tr>
    </thead>
    <tbody>
      {% for coupon in coupons %}
      	{% if coupon.userId %}{% set user = data('User',{ userId: coupon.userId }) %}{% endif %}
      	{% if coupon.targetType == 'course' and coupon.targetId != 0 %}{% set course = data('Course',{ courseId: coupon.targetId }) %}{% endif %}
		<tr>
		  <td>{{ coupon.code }}</td>  
		  <td>{% if coupon.userId %}{{ web_macro.user_link(user) }}{% else %}未使用{% endif %}</td>
		  <td>
		  	{% if coupon.targetType == 'course' and coupon.targetId != 0 %}
		  		购买课程《{{ course.title }}》
		  	{% else %}
		  		未使用
		  	{% endif %}
		  </td> 
		  <td>
		  	{% if coupon.targetType == 'course' and coupon.targetId != 0 %}
		  		{{ course.price }}元
		  	{% else %}
		  		-
		  	{% endif %}
		  </td>
		  <td>
		  	{% if coupon.targetType == 'course' and coupon.targetId != 0 %}
			  	{% if coupon.type == 'minus' %}
			  		{{ course.price - coupon.rate }}元
			  	{% else %}
			  		{{ course.price * coupon.rate * 0.1 }}元
			  	{% endif %}
			{% else %}
			 	-
		  	{% endif %}
		  </td>
		  <td>
		  	{% if coupon.userId %}
			  	{{ coupon.orderTime }}
			{% else %}
				-
			{% endif %}
		  </td> 
		</tr>
      {% endfor %}
    </tbody>
  </table>
  {{ web_macro.paginator(paginator) }}

{% endblock %}
{% block footer %}
  <button type="button" class="btn btn-default pull-right" data-dismiss="modal">关闭</button>
{% endblock %} 