{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% import "TopxiaAdminBundle::macro.html.twig" as web_macro %}
{% set modal_class = 'modal-lg' %}
{% block title %}{{ batch.name }}-优惠码使用详情{% endblock %}
{% block body %}

<table class="table table-striped" id="coupon-list">
    <thead>
      <tr>
        <th>优惠码</th>
        <th>状态</th>
        <th>使用者</th>
        <th>使用</th>
        <th>原价</th>
        <th>实付</th>
        <th>使用时间</th>
      </tr>
    </thead>
    <tbody>
      {% for coupon in coupons %}
      	{% set user = users[coupon.userId]|default(null) %}
      	{% set course = courses[coupon.targetId]|default(null) %}
		<tr>
		  <td>{{ coupon.code }}</td>
		  <td>{% if coupon.status == 'unused' %}未使用{% else %}已使用{% endif %}</td> 
		  <td>{% if user %}{{ web_macro.user_link(user) }}{% else %}-{% endif %}</td>
		  <td>
		  	{% if course %}
		  		购买课程《<a href="{{ path('course_show', {id:course.id}) }}" target="_blank"><strong>{{ course.title }}</strong></a>》
		  	{% else %}
		  		-
		  	{% endif %}
		  </td> 
		  <td>
		  	{% if course %}
		  		{{ course.price }}元
		  	{% else %}
		  		-
		  	{% endif %}
		  </td>
		  <td>
		  	{% if course %}
			  	{% if coupon.type == 'minus' %}
			  		{{ course.price - coupon.rate }}元
			  	{% else %}
			  		{{ course.price * coupon.rate * 0.1 }}元
			  	{% endif %}
			{% else %}
			 	-
		  	{% endif %}
		  </td>
		  <td>
		  	{% if user %}
			  	{{ coupon.orderTime }}
			{% else %}
				-
			{% endif %}
		  </td> 
		</tr>
      {% endfor %}
    </tbody>
  </table>
  {{ web_macro.paginator(paginator) }}

{% endblock %}
{% block footer %}
  <button type="button" class="btn btn-default pull-right" data-dismiss="modal">关闭</button>
{% endblock %} 