{% import "TopxiaAdminBundle::macro.html.twig" as web_macro %}
<tr>
  <td>{{ coupon.name }}</td>
  <td>
  {% if coupon.type=='discount' %}
    <span>打折{{ coupon.rate|number_format(1) }}折</span>
  {% elseif coupon.type=='minus' %}
    <span>抵价{{ coupon.rate }}元</span>
  {% endif %}
  </td>
  <td>{{ coupon.generatedNum }}</td>  
  <td>{{ coupon.usedNum }}</td>
  <td>{{ coupon.money }}</td>
  <td>{{ coupon.description }}</td>
  <td>{{ coupon.deadline|date('Y-n-d') }}</td>
  <td>{{ coupon.createdTime|date('Y-n-d H:i') }}</td>
  <td>
    <a class="coupon-remove" href="javascript:;" data-url="{{ path('admin_coupon_delete', {id:coupon.id}) }}">导出CSV文件</a>
    <a class="coupon-remove" href="javascript:;" data-url="{{ path('admin_coupon_delete', {id:coupon.id}) }}">详情</a>
    <a class="coupon-remove" href="javascript:;" data-url="{{ path('admin_coupon_delete', {id:coupon.id}) }}">删除</a>
  </td>
</tr>