<div class="course-column" id="course-list-pane">
  <div class="title">课程列表</div>
  {% if groupedItems %}
  <div class="course-outline">
    <ul>
      {% for group in groupedItems %}
       {% set groupType = group.type %}
       {% if groupType == 'chapter' %}
        {% set chapter = group.data %}
          {% if chapter.type == 'unit' %}
            <li class="section">
              第{{chapter.number}}节 {{ chapter.title }}
            </li>
          {% elseif chapter.type == 'chapter' %}
            <li class="chapter clearfix">
              <i class="icon-node"></i>
              <span>第{{chapter.number}}章 {{ chapter.title }}</span>
              <i class="icon icon-minus"></i>
            </li>
          {% endif %}
       {% elseif groupType == 'list' %}
        {% for item in group.data %}
          <li class="period">
              <a href="#modal" data-toggle="modal" data-url="{{ path('course_lesson_preview', {courseId:item.courseId, lessonId:item.id}) }}">
              <div class="period-title">
                <i class="icon-progress"></i>
                <span>第{{item.number}}课时 {{ item.title }}{% if item.type == 'video' %}(   
               {{(item.length / 60 )|round(0, 'floor')  }}:{{item.length-(item.length / 60 )|round(0, 'floor') * 60}}){% endif %}
                </span>
                <i class="video-btn {% if item.type == 'ppt' %}ppt {% elseif item.type == 'text' %} word {% elseif item.type == 'audio'%} audio {% endif %}"></i>
              </div>
              </a>
          </li>
        {% endfor %}
       {% endif %}
      {% endfor %}
    </ul>

  </div>
  {% else %}
    <div class="content">
      暂无课时
    </div>
  {% endif %}
</div>









