{% import "macro.html.twig" as web_macro %}
{% do script(['app/js/course-manage/header/index.js']) %}
{% set basepath = path('course_show', {id: course.id}) %}

<div class="course-manage-header clearfix">

  {% if course.status=='closed' %}
    <span class="course-publish-status course-publish-status--closed">{{'course.status.closed'|trans}}</span>
  {% elseif course.status=='draft' %}
    <span class="course-publish-status course-publish-status--unpublished">{{'course.status.unpublished'|trans}}</span>
  {% elseif course.status=='published' %}
    <span class="course-publish-status course-publish-status--published">{{'course.status.published'|trans}}</span>
  {% endif %}

  <div class="course-manage-header-info">
    <h1 class="course-manage-header-info__title text-overflow">
      <a class="cd-link-major" href="{{basepath}}">{{ courseSet.title ~ ' - ' ~ course.title }}</a>
    </h1>
    {% if 'freeMode' == course.learnMode %}
      <div class="course-manage-header-info__type">{{ 'course.teaching_plan.free_mode'|trans }}</div>
    {% else %}
      <div class="course-manage-header-info__type">{{ 'course.teaching_plan.locked_mode'|trans }}</div>
    {% endif %}
  </div>

  <div class="course-manage-header-data">
    <span class="course-manage-header-data__icon"><i class="es-icon es-icon-list-check"></i>25</span>
    <span class="course-manage-header-data__icon"><i class="es-icon es-icon-person"></i>{{course.studentNum}}</span>
    <span class="course-manage-header-data__price color-danger">
      {% include 'common/price.html.twig' with {'productPrice': course.price} %}
    </span>
  </div>

  <div class="pull-right hidden-xs">
    {# 发布状态 #}
    {% if course.status == 'published' %}
      <div class="btn-group">
        <a class="cd-btn cd-btn-primary" href="{{basepath}}">{{'course.btn.back_course_homepage'|trans}}</a>
      </div>

      <div class="btn-group">
        <a class="cd-btn cd-btn-primary" href="{{ path('course_set_manage_courses', {'courseSetId': courseSet.id})}}">{{'course.btn.back_course_edit'|trans}}</a>
      </div>
    {% endif %}

    {# 未发布状态 #}
    {% if course.status != 'published' %}

      <button class="cd-btn cd-btn-primary course-publish-btn" data-url="{{ path('course_set_manage_course_publish', {courseSetId: courseSet.id, courseId: course.id}) }}">{{'course.btn.publish_task'|trans}}</button>

      <div class="cd-dropdown cd-dropdown-right" data-toggle="cd-dropdown">
        <button class="cd-btn cd-btn-primary course-manage-header-more">
          <i class="es-icon es-icon-morehoriz"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a target="_blank" href="{{ path('course_show', {id: course.id, 'previewAs':'guest'}) }}">{{ 'course.preview.plan'|trans }}</a>
          </li>
          <li>
            <a href="{{ path('course_set_manage_courses', {'courseSetId': courseSet.id})}}">{{'course.btn.back_course_edit'|trans}}</a>
          </li>
        </ul>
      </div>
    {% endif %}
  </div>
</div>
