{% extends 'course-manage/layout.html.twig' %}

{% block title %}{{'course.plan_base_info'|trans}} - {{ course.title }} - {{ parent() }}{% endblock %}
{% set course_side_nav = 'info' %}
{% do script(['libs/es-ckeditor/ckeditor.js','libs/jquery-validation.js','libs/bootstrap-datetimepicker.js','app/js/course-manage/info/index.js']) %}

{% block page_title %}{{ 'course.plan_base_info'|trans }}{% endblock %}

{% block main_body %}
{{ web_macro.flash_messages() }}
{% if 'ROLE_SUPER_ADMIN' in app.user.roles or 'ROLE_ADMIN' in app.user.roles or ('ROLE_TEACHER' in app.user.roles and setting('course.teacher_manage_marketing', 0) == 1) %}
<form class="form-horizontal" role="form" id="course-info-form" action="{{path('course_set_manage_course_info', {courseSetId: courseSet.id, courseId: course.id})}}" method="post">
  <div>
    营销设置
  </div>
  <div role="course-marketing-info">
    {% include 'course-manage/base-info/marketing.html.twig' %}
  </div>
  <div>
    基础规则
  </div>
  <div role="course-base-rule">
    <div class="form-group">
      <label for="" class="col-sm-2 control-label">{{'course.plan_setup.mode'|trans}}</label>
      <div class="col-sm-8 form-control-static">
          {% if course.learnMode|default('freeMode') == 'freeMode' %}
            {{'course.plan_setup.mode.free'|trans}}<a class="es-icon es-icon-help ml5 link-gray" data-trigger="hover" data-toggle="popover" data-container="body" data-placement="top" data-content="{{'course.plan_setup.mode.free_tips'|trans}}"></a>
          {% else %}
            {{'course.plan_setup.mode.locked'|trans}}<a class="es-icon es-icon-help ml5 link-gray" data-trigger="hover" data-toggle="popover" data-container="body" data-placement="top" data-content="{{'course.plan_setup.mode.locked_tips'|trans}}"></a>
            <p class="help-block" id="learnLockModeHelp" data-role="tab-content" >{{''|trans}}</p>
          {% endif %}
      </div>
    </div>
    {% include 'course-manage/marketing/set-rule.html.twig' %}
    <div class="form-group">
      <label for="" class="col-sm-2 control-label">{{'course.plan_setup.finish_rule'|trans}}</label>
      <div class="col-sm-8 radios">
        <label>
          <input type="radio" name="enableFinish" value="0" {% if course.enableFinish|default('0') == 0 %}checked{% endif %}> {{'course.plan_setup.finish_rule.depend_on_finish_condition'|trans}}
          <a class="es-icon es-icon-help ml5 link-gray" data-trigger="hover" data-toggle="popover" data-container="body" data-placement="top" data-content="{{'course.plan_setup.finish_rule.depend_on_finish_condition_tips'|trans}}"></a>
        </label>
        <label>
          <input type="radio" name="enableFinish" value="1" {% if course.enableFinish|default('0') == 1 %}checked{% endif %}> {{'course.plan_setup.finish_rule.nothing'|trans}}
        </label>
      </div>
    </div>
    {% if courseSet.type != 'live' %}
      {% include 'course-manage/marketing/set-preview.html.twig' %}
    {% endif %}

    <div class="es-piece">
      <div class="form-group js-services {% if course.showServices|default(1) == 0 %}hidden{% endif %}">
        <label class="col-sm-2 control-label">{{ 'course.marketing_setup.services.provide_services'|trans }}</label>
        <div class="col-sm-8 form-control-static">
          {% set serviceTags = services(course.services | default([])) %}
          {% for tag in serviceTags %}
            <a class="label label-md js-service-item mr10 mb10 inline-block {% if tag.active %}label-primary{% else %}label-default{% endif %}" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="{{ tag.summary|trans }}" data-code="{{ tag.code }}">{{ tag.fullName|trans }}</a>
          {% endfor %}
          <input type="hidden" id="course_services" name="services" value="{{ course.services|default([])|json_encode_utf8() }}">
        </div>
      </div>
    </div>

    {% if audioServiceStatus != 'needOpen' and course.type == 'normal' %}
      <div class="form-group" id="audio-modal-id">
        <label for="" class="col-sm-2 control-label">{{ 'course.info.video.convert.audio.enable'|trans }}</label>
        <div class="col-sm-8 radios" data-value="{{ audioServiceStatus }}" id="course-audio-mode">
          <label>
            <input type="radio" name="enableAudio" value="1" {% if course.enableAudio|default('0') == 1 %}checked{% endif %}>
            {{ 'course.info.video.convert.audio.start'|trans }}
          </label>
          <label>
            <input type="radio" name="enableAudio" value="0" {% if course.enableAudio|default('0') == 0 %}checked{% endif %}>
            {{ 'course.info.video.convert.audio.close'|trans }}
          </label>
          <div>
            <label>1.{{ 'course.enable.video.convert.audio.benefit'|trans }}</label>
            <label>2.{{ 'course.video.convert.audio.status'|trans }}：{{ video_convert_completion(course.id) }} <a class="ml5" href="{{ path('course_set_manage_files', { id: courseSet['id'] }) }}" target="__blank">{{'course.video.convert.audio.detail'|trans }}</a></label>
          </div>
        </div>
      </div>
    {% endif %}

    {% include 'course-manage/marketing/set-reward-point.html.twig' %}
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button id="course-submit" type="submit" class="btn btn-primary" data-loading-text="{{ 'form.btn.save.submiting'|trans }}">{{ 'form.btn.save'|trans }}</button>
      <div id="test"></div>
    </div>
  </div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>
{% endif %}
{% endblock %}
