{% extends 'courseset-manage/layout.html.twig' %}
{% block title %}
  {{ 'course.plan_task.manage'|trans }} - {{ parent() }}
{% endblock %}

{% set isMulPlansCourse = is_mul_plans_course(courseSet.id) %}
{% set side_nav =  isMulPlansCourse ? 'plan' : 'default-course-info' %}

{% block breadcrumb %}
  <ol class="breadcrumb breadcrumb-o">
    <li><a href="{{ path('homepage') }}">{{ 'homepage'|trans }}</a></li>
    <li><a href="{{ path('course_set_manage_courses', {'courseSetId': courseSet.id})}}">{{courseSet.title|plain_text(21)}}</a></li>
    <li class="active">{{course.title}}</li>
  </ol>
{% endblock %}

{% block courseset_header %}
  {{ render(controller('AppBundle:Course/CourseSetManage:header', {courseSet:courseSet, course: course|default(null), foldType: 1})) }}
{% endblock %}

{% block paddingClass %}course-manage-body {% endblock %}

{% block course_header %}
  {% if isMulPlansCourse %}
    <div class="course-manage-header-wrap">
      {{ render(controller('AppBundle:Course/CourseManage:header', {courseSet:courseSet, course: course, manage: true})) }}
    </div>
  {% endif %}
{% endblock %}

{% block sidebar %}
  {{ render(controller('AppBundle:Course/CourseSetManage:sidebar', {courseSetId:courseSet.id, curCourse: course|default(null), courseSideNav: course_side_nav|default(null)})) }}
{% endblock %}

{% block main %}
  <div class="cd-main">
    <div class="cd-main__heading {% block main_heading_class %}{% endblock %}">
      {% block main_heading %}
        <div class="cd-main__title">
          {% block page_title %}{% endblock %}
        </div>
      {% endblock %}
    </div>
    <div class="cd-main__body">
      {% block main_body %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
