{% extends 'courseset-manage/layout.html.twig' %}
{% block title %}{{ '教学计划管理'|trans }} - {{ parent() }}{% endblock %}
{% set active = active | default(null) %}

{% block main %}
  <div class="panel panel-default panel-col lesson-manage-panel">
    <div class="panel-heading">
      <a href="{{path('course_set_manage_courses', {courseSetId: courseSet.id})}}">{{'教学计划列表'|trans}}</a> | {{course.title}}
      {% if course.status == 'published' %}
        <button class="btn btn-link btn-sm pull-right js-close-course" data-url="{{path('course_set_manage_course_close', {courseSetId: courseSet.id, courseId: course.id})}}">{{'关闭计划'|trans}}</button>
      {% else %}
        <button class="btn btn-success btn-sm pull-right js-publish-course" data-url="{{path('course_set_manage_course_publish', {courseSetId: courseSet.id, courseId: course.id})}}">{{'发布计划'|trans}}</button>  
      {% endif %}
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills mbl">
        <li class="{% if active == 'tasks' %}active{% endif %}">
        	<a href="{{path('course_set_manage_course_tasks', {courseSetId: courseSet.id, courseId: course.id})}}">{{'计划任务'|trans}}</a>
        </li>
        <li class="{% if active == 'info' %}active{% endif %}">
          <a href="{{path('course_set_manage_course_info', {courseSetId: courseSet.id, courseId: course.id})}}">{{'计划设置'|trans}}</a>
        </li>
        <li class="{% if active == 'marketing' %}active{% endif %}">
        	<a href="{{path('course_set_manage_course_marketing', {courseSetId: courseSet.id, courseId: course.id})}}">{{'营销设置'|trans}}</a>
        </li>
        <li class="{% if active == 'teachers' %}active{% endif %}">
          <a href="{{path('course_set_manage_course_teachers', {courseSetId: courseSet.id, courseId: course.id})}}">{{'教师设置'|trans}}</a>
        </li>
        <li class="{% if active == 'students' %}active{% endif %}">
          <a href="{{path('course_set_manage_course_students', {courseSetId: courseSet.id, courseId: course.id})}}">{{'学员管理'|trans}}</a>
        </li>
        <li class="{% if active == 'testpaper-check' %}active{% endif %}">
          <a href="{{path('course_manage_testpaper_check_list', {id: course.id})}}">{{'试卷批阅'|trans}}</a>
        </li>
        <li class="{% if active == 'homework-check' %}active{% endif %}">
          <a href="{{path('course_manage_homework_check_list', {id: course.id})}}">{{'作业批阅'|trans}}</a>
        </li>
      </ul>
      {% block course %}

      {% endblock %}
    </div>
  </div>
{% endblock %}



