{% extends 'courseset-manage/layout.html.twig' %}
{% block title %}
  {{ 'course.plan_task.manage'|trans }} - {{ parent() }}
{% endblock %}

{% block sectionClass %} course-header-section {% endblock %}
{% block breadcrumb %}
  <ol class="breadcrumb breadcrumb-o">
    <li><a href="{{ path('homepage') }}">{{ 'homepage'|trans }}</a></li>
    <li><a href="#">如何构建合理的建筑结构超出二十一个字就截取</a></li>
    <li class="active">这是我的第二个默认教学计划</li>
  </ol>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block course_header %}
  {{ render(controller('AppBundle:Course/CourseManage:header', {courseSet:courseSet, course: course, manage: true})) }}
{% endblock %}

{% block sidebar %}
  {{ render(controller('AppBundle:Course/CourseSetManage:sidebar', {courseSetId:courseSet.id, curCourse: course|default(null), sideNav: side_nav|default(null)})) }}
{% endblock %}

{% block main %}
  <div class="cd-main">
    <div class="cd-main__heading">
      {% block main_heading %}
        <div class="cd-main__title">
          {% block page_title %}{% endblock %}
        </div>
      {% endblock %}
    </div>
    <div class="cd-main__body">
      {% block main_body %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
