{% extends 'courseset-manage/layout.html.twig' %}
{% block title %}{{ 'course.plan_task.manage'|trans }} - {{ parent() }}{% endblock %} {%
do script(['app/js/course-manage/index.js']) %}

{% block course_header %}
  {{ render(controller('AppBundle:Course/CourseManage:header', {courseSet:courseSet, course: course, manage: true})) }}
{% endblock %}

{% block main %}
  <div class="panel panel-default">

      <div class="panel-heading">
        {{ course.title }}
          <button class="btn btn-success btn-sm pull-right js-publish-course"
            data-url="{{ path('course_set_manage_course_publish', {courseSetId: courseSet.id, courseId: course.id}) }}">
            {{ 'course.plan_task.publish_btn'|trans }}
          </button>
      </div>
    <div class="panel-body">
      {% block course %} {% endblock %}
    </div>
  </div>
{% endblock %}