{% extends 'course-manage/layout.html.twig' %}
{% block title %}{{ '教学计划管理'|trans }} - {{ parent() }}{% endblock %}

{% set side_nav = 'plan' %}
{% set active = 'marketing' %}
{% do script(['libs/jquery-validation.js','libs/bootstrap-datetimepicker.js','app/js/course-manage/marketing/index.js']) %}

{% block course %}
<form id="course-marketing-form" class="form-horizontal" action="{{path('course_set_manage_course_marketing', {courseSetId: courseSet.id, courseId: course.id})}}" method="post">
  <div class="form-group">
    <label class="col-sm-2 control-label">{{'收费免费'|trans}}</label>
    <div class="col-sm-8 radios">
      {{ radios('isFree', {'0': '收费'|trans, '1': '免费'|trans }, course.isFree|default(0)) }}
    </div>
  </div>

  <div class="form-group js-is-free {% if course.isFree|default(0) == 1 %}hidden{% endif %}"  data-role="tab-content">
    <label class="col-sm-2 control-label">{{'价格'|trans}}</label>
    <div class="col-sm-4">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      <input class="form-control width-150 mrs" id="course_price" type="text" name="originPrice" value="{{course.originPrice|default(0)}}" >{{'元'|trans}}
    </div>
  </div>
  <div class="form-group js-is-free {% if course.isFree|default(0) == 1 %}hidden{% endif %}">
    <label class="col-sm-2 control-label">{{'会员规则设置'|trans}}</label>
    <div class="col-sm-4">
      <!-- TODO 需要从会员插件里提取会员列表，这里用select展示，实际存储level_id -->
      <input class="form-control width-150 mrs" type="text" name="vipLevelId" value="{{course.vipLevelId|default('')}}">
    </div>
    <div class="col-sm-10 col-sm-offset-2">
      <div class="help-block">{{'设置会员课程后，该会员及更高等级的会员，可免费学习。'|trans}}</div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">购买截止日期</label>
    <div class="col-sm-8 radios">
      {{ radios('enableBuyExpiryTime', {'1': '是', '0': '否'}, course.buyExpiryTime|default(0) > 0 ? 1 : 0 ) }}
    </div>
  </div>

  <div class="form-group {% if course.buyExpiryTime == 0 %}hidden{% endif %} " id="buyExpiryTime" >
    <div class="col-sm-8 col-sm-offset-2">
      <input type="text" class="form-control width-input width-input-large" name="buyExpiryTime" value="{% if course.buyExpiryTime > 0 %}{{course.buyExpiryTime|date_format('Y-m-d')}}{% endif %}">
    </div>
  </div>
  
  {# <div class="form-group">
    <label class="col-sm-2 control-label">{{'学习有效期'|trans}}</label>
    <div class="col-sm-4">
      <input class="form-control" type="" name="">
    </div>
    <div class="col-sm-4 form-control-static">天</div>
    <div class="col-sm-8 col-sm-offset-2"><div class="help-block">{{'从加入的当前起，学员可在此有效期内学习，过期后无法学习。系统会在到期前10天提醒学员。设置为0则无时间限制'|trans}}</div></div>
  </div> #}
  <div class="form-group">
    <label class="col-sm-2 control-label">{{'加入方式'|trans}}</label>
    <div class="col-sm-10 radios">
      {{ radios('buyable', { '1': '学员自己加入学习，也可以由老师来添加学员'|trans, '0': '只能由老师添加／移除学员，学员自己无法加入。常用于封闭型教学'|trans }, course.buyable|default(1)) }}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">{{'开启视频试看'|trans}}</label>
    <div class="col-sm-8 radios">
      {{ radios('tryLookable', { '1': '是'|trans, '0': '否'|trans }, course.tryLookable|default(0)) }}
      <div class="help-block">{{'常用于收费视频内容的前几分钟免费试看'|trans}}</div>
    </div>
  </div>
  <div class="form-group js-enable-try-look {% if course.tryLookable|default(0) == 0 %}hidden{% endif %}">
    <label class="col-sm-2 control-label">{{'试看时长'|trans}}</label>
    <div class="col-sm-8 ">
      <input class="form-control width-150 mrs" type="text" name="tryLookLength" value="{{course.tryLookLength|default(1)}}">分钟
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">{{'视频观看时长限制'|trans}}</label>
    <div class="col-sm-8">
      <input class="form-control width-150 mrs" type="text" name="watchLimit" value="{{course.watchLimit|default(0)}}">{{'倍单视频总时长'|trans}}
      <div class="help-block">{{'0表示无限制'|trans}}</div>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-2 control-label">实名认证</label>
    <div class="col-sm-8 radios">
      {{ radios('approval', { '1': '是'|trans, '0': '否'|trans }, course.approval|default(0)) }}
      <div class="help-block">设置该值后，学员购买课程前，必须先去申请实名认证。</div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">{{'承诺提供服务'|trans}}</label>
    <div class="col-sm-8 form-control-static">
      <a class="label label-md js-service-item {% if '24小时作业批改' in course.services|default([]) %}label-primary{% else %}label-default{% endif %}">24小时作业批改</a>
      <a class="label label-md js-service-item {% if '24小时阅卷点评' in course.services|default([]) %}label-primary{% else %}label-default{% endif %}">24小时阅卷点评</a>
      <a class="label label-md js-service-item {% if '提问必答' in course.services|default([]) %}label-primary{% else %}label-default{% endif %}">提问必答</a>
      <a class="label label-md js-service-item {% if '一对一在线答疑' in course.services|default([]) %}label-primary{% else %}label-default{% endif %}">一对一在线答疑</a>
      <input type="hidden" id="course_services" name="services" value="{{course.services|default([])|json_encode_utf8()}}">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button id="course-submit" type="button" class="btn btn-primary" data-loading-text="{{ '正在保存...'|trans }}">{{ '保存'|trans }}</button>
    </div>
  </div>
</form>
{% endblock %}



