{% import "PermissionBundle:Templates:macro.html.twig" as self_macro %}

{% set permissions = sub_permissions(parentCode, group|default('1')) %}

{% if permissions|default(null) %}
<a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
  <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  {% for permission in permissions %}
    <li>
      {{ self_macro.menu_link_html(_context, permission, permission.class|default('')) }}
    </li>
  {% endfor %}

</ul>
{% endif %}
{# 
{% if 'ROLE_SUPER_ADMIN' in user.roles %}
  <li></li>
{% else %}
  <li><a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_roles', {id:user.id}) }}">设置用户组</a></li>
{% endif %}

{% else %}
  <li>
    <a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_roles', {id:user.id}) }}">设置用户组</a>
  </li>
{% endif %}

{% if user.locked %}
  <li>
    <a class="unlock-user" href="javascript:" title="解禁用户{{ user.nickname }}" data-url="{{ path('admin_user_unlock', {id:user.id }) }}">解禁用户</a>
  </li>
{% else %}
  {% if 'ROLE_SUPER_ADMIN' not in app.user.roles %}
    {% if 'ROLE_SUPER_ADMIN' in user.roles %}
      <li></li>
    {% else %}
      <li>
        <a class="lock-user" href="javascript:" title="封禁用户{{ user.nickname }}" data-url="{{ path('admin_user_lock', {id:user.id}) }}">封禁用户</a>
      </li>
    {% endif %}
  {% else %}
    <li>
      <a class="lock-user" href="javascript:" title="封禁用户{{ user.nickname }}" data-url="{{ path('admin_user_lock', {id:user.id}) }}">封禁用户</a>
    </li>
  {% endif %}
{% endif %} #}
