{% set permissions = sub_permissions(parentCode) %}

{% if permissions|default(null) %}
<a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
  <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  {% for permission in permissions %}
    <li>
      <a 
        {% if permission.mode|default('') == 'modal' %}
        href="#modal"
        data-toggle="modal"
        {% endif %}
        {% set router = permission.router_name|default(permission.code) %}
        {% set routerParams = permission.router_params|default() %}
        data-url="{{ path(router, {id:user.id}) }}"
      >编辑用户信息</a>
    </li>
  {% endfor %}
  {% if 'ROLE_SUPER_ADMIN' not in app.user.roles %}
    {% if 'ROLE_SUPER_ADMIN' in user.roles %}
      <li></li>
    {% else %}
      <li><a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_roles', {id:user.id}) }}">设置用户组</a></li>
    {% endif %}
  {% else %}
    <li>
      <a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_roles', {id:user.id}) }}">设置用户组</a>
    </li>
  {% endif %}

  <li><a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_avatar', {id:user.id}) }}">修改用户头像</a></li>

  <li><a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_change_password', {userId:user.id}) }}">修改密码</a></li>

  <li><a class="send-passwordreset-email" href="javascript:" data-url="{{ path('admin_user_send_passwordreset_email', {id:user.id}) }}">发送密码重置邮件</a></li>

  <li><a class="send-emailverify-email" href="javascript:" data-url="{{ path('admin_user_send_emailverify_email', {id:user.id}) }}">发送Email验证邮件</a></li>

  {% if user.locked %}
    <li>
      <a class="unlock-user" href="javascript:" title="解禁用户{{ user.nickname }}" data-url="{{ path('admin_user_unlock', {id:user.id }) }}">解禁用户</a>
    </li>
  {% else %}
    {% if 'ROLE_SUPER_ADMIN' not in app.user.roles %}
      {% if 'ROLE_SUPER_ADMIN' in user.roles %}
        <li></li>
      {% else %}
        <li>
          <a class="lock-user" href="javascript:" title="封禁用户{{ user.nickname }}" data-url="{{ path('admin_user_lock', {id:user.id}) }}">封禁用户</a>
        </li>
      {% endif %}
    {% else %}
      <li>
        <a class="lock-user" href="javascript:" title="封禁用户{{ user.nickname }}" data-url="{{ path('admin_user_lock', {id:user.id}) }}">封禁用户</a>
      </li>
    {% endif %}
  {% endif %}

</ul>
{% endif %}