<div class="panel panel-default">
  <div class="panel-heading">
    班级课程
  </div>
  <div class="panel-body schedule-course">
   <ul class="media-list">
      {% for course in courses %}
      {% set teacher = users[course.teacherIds[0]|default(0)]|default(null) %}
          <li class="media">
            <a class="pull-left" href="{{ path('course_show',{id:course.id}) }}">
              <img class="media-object" src="{{ file_path(course.middlePicture, 'course-large.png') }}" alt="{{ course.title }}">
            </a>
            <div class="media-body">
              <h4 class="media-heading">
                {% if course.compulsory %}
                  <span class="label label-success compulsory mrs">必修</span>
                {% else %}
                  <span class="label label-warning compulsory mrs">选修</span>
                {% endif %}
                <<{{ course.title }}>></h4>
                <div class="pvs">
                   <span>{{ teacher.truename }}<span> <span class="mll">{{ course.lessonNum }}个课时</span>
                </div>
             
            </div>
          </li>
        {% else %}
        <li class="empty">班级还没有课程！</li>
        {% endfor %}
     
   </ul>
 </div>
</div>