<div class="schedule-course-item-list-wrap hidden schedule-item-list">
	<ul class="schedule-course-item-list" >
		{% for id, item in items %}
		  {% if 'chapter' in id %}
		    {% if item.type == 'unit' %}
				  <li class="item chapter-item chapter-item-unit clearfix">
				  	<span class="name">第 {{ item.number }} 节</span>
				  	<span class="title">{{ item.title }}</span>
		  	  </li>
		    {% else %}
				  <li class="item chapter-item clearfix">
				  	<span class="name">第 {{ item.number }} 章</span>
				  	<span class="title">{{ item.title }}</span>
		  	  </li>
		    {% endif %}
		  {% elseif 'lesson' in id %}
	    	  {% set lessonUrl = path('course_learn', {id:course.id}) ~ '#lesson/' ~ item.id %}
		    <li class="item lesson-item hover-item clearfix " data-id="{{ item.id }}" data-icon="{{ file_path(course.middlePicture, 'course-large.png') }}" data-title="{{ item.title }}" data-cid="{{ course.id }}" data-ctitle="{{ course.title }}">

		    	<span class="name ">课时{{ item.number }}</span>
		    	<a class=" title" href="{{ lessonUrl }}" title="{{ item.title }}" data-id="{{ item.id }}">
			    		{{ item.title }}
		    	</a>

		    </li>
		  {% endif  %}
		{% endfor %}
	</ul>
</div>