{% extends 'TopxiaWebBundle:Class:layout.html.twig' %}
 
{% set classNav = 'schedule' %}

{% block right_side %}
  {{ render(controller('TopxiaWebBundle:ClassSchedule:courses', {class:class})) }}
{% endblock %}

{% block class_main %}
<div class="schedule" data-save="{{ path('class_schedule_save', {classId:class.id}) }}" data-reset="{{ path('class_schedule_reset', {classId:class.id}) }}">
  <div class="schedule-header row tal">
    <div class="view-type col-md-3">
      <select class="viewType">
        <option value="week">按周查看</option>
        <option value="month">按月查看</option>
      </select> 
    </div>
    <div class="month  col-md-6 tac">
      <span class="glyphicon glyphicon-chevron-left text-success previous-month"></span>
      <span class="yearMonth"> {{ "now" | date(' Y 年 m 月')}}</span>
      <span class="glyphicon glyphicon-chevron-right text-success next-month"></span>
    </div>
    <div class="operation  col-md-3 tar">
      <button class="btn btn-default btn-xs">编辑</button>
      <button class="btn btn-default btn-xs">只看我的</button>
    </div>
  </div>


 <div class="schedule-body">
    {{ render(controller('TopxiaWebBundle:ClassSchedule:schedule', {classId:class.id})) }}
  </div>
</div>

{% endblock %}