<tr class="day">
  {% for day,items in schedules %}
    <td data-day="{{ day }}" {% if day|slice(4,2) != 'now'|date('m')%}class="text-muted" {% endif %}>{{ day|slice(6,2) }}</td>
  {% endfor %}
</tr>
{% if changeMonth %} <tr class="hidden yearMonth"></tr>{% endif %}
<tr class="lesson">
  {% for day,items in schedules %}
    <td>
      <ul class="lesson-ul" data-day="{{ day }}">
        {% if items %}
          {% for item in items %}
            <li data-id="{{ item.lessonId }}"><img src="{{ file_path(courses[lessons[item.lessonId].courseId].middlePicture, 'course-large.png') }}" ><br>{{ lessons[item.lessonId].title}}</li>
          {% endfor %}
        {% endif %}
      </ul>
    </td>
  {% endfor %}
</tr>