{% set week = ['日','一','二','三','四','五','六']%}
<div class="row ptm">
  <span class="glyphicon glyphicon-chevron-left text-success col-md-1 tac mtm previous-week"></span>
  <table class="col-md-10 tac week">
    <thead>
      <tr class="">
        {% for day,items in schedules %}
        <td {% if day == 'now'|date('Ymd')%} class="today" {% endif %}>{{ week[loop.index0]}}</td>
        {% endfor %}
      </tr>

    </thead>
    <tbody>
      <tr class="day">
        {% for day,items in schedules %}
          <td data-day="{{ day }}" {% if day == 'now'|date('Ymd')%} class="today" {% endif %} {% if day|slice(4,2) != 'now'|date('m')%}class="text-muted" {% endif %}>{{ day|slice(6,2) }}</td>
        {% endfor %}
      </tr>
      {% if changeMonth %} <tr class="hidden yearMonth"></tr>{% endif %}
      <tr class="lesson">
        {% for day,items in schedules %}
          <td>
            <ul class="lesson-ul" data-day="{{ day }}">
              {% if items %}
                {% for item in items %}
                {% set lessonLearn = lessonLearns[item.lessonId] | default(null)%}
                {% set lessonUrl = path('course_learn', {id:courses[lessons[item.lessonId].courseId].id}) ~ '#lesson/' ~ item.lessonId%}
                  <li data-id="{{ item.lessonId }}" data-url="{{ lessonUrl }}">
                    {% if can_remove_schedule(app.user, courses, lessons, item) %}
                    <button type="button" class="close pull-right lesson-remove"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    {% endif %}
                    {% if lessonLearn and lessonLearn.status == 'finished' %}
                    <span class="glyphicon glyphicon-ok pull-left text-success"></span>
                    {% endif %}
                    <img src="{{ file_path(courses[lessons[item.lessonId].courseId].middlePicture, 'course-large.png') }}" ><br>{{ lessons[item.lessonId].title}}</li>
                {% endfor %}
              {% endif %}
            </ul>
          </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  <span class="glyphicon glyphicon-chevron-right text-success col-md-1 tac mtm next-week"></span>
</div>
