<!DOCTYPE html>
<html>
<head>
	<title>{{ lesson.title }}</title>
	{% if setting('site.favicon') %}
	<link href="{{ asset(setting('site.favicon')) }}" rel="shortcut icon" />
	{% endif %}

	<link href="{{ asset('assets/v2/bootstrap/css/bootstrap.css') }}" rel="stylesheet" />

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body style="position: static;">

	{% set script_controller = 'live-course/classroom' %}

	<div id="classroom-url" data-url="{{ url }}" class="well well-lg text-center text-success">{{'正在打开教室，请稍后'|trans}}...</div>

	{% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaweb/js/app.js')} %}

</body>
</html>