<!DOCTYPE html>
<html>
<head>
<title>{{ lesson.title }}</title>
<head>
</head>
<body>
<form action="http://www.tetequ.com/api2/join_in" method="POST" name="form">
<input type="hidden" name="room_num" value="{{ roomNum }}">
<input type="hidden" name="join_code" value="{{ joinCode }}">
<input type="hidden" name="user_name" value="{{ app.user.nickname }}">
<input type="hidden" name="avatar" value="{{ app.request.getSchemeAndHttpHost() }}{{ file_path(app.user.smallAvatar, 'avatar.png') }}">
<input type="hidden" name="user_id" value="{{ app.user.id }}">
<input type="hidden" name="role" value="{% if app.user.isAdmin() %}1{% else %}2{% endif %}">
</form>

<script>
document.all.form.submit();
</script>

</body>
</html>