{% extends 'TopxiaWebBundle:LiveCourse:layout.html.twig' %}

{% block title %}{{'直播'|trans}} - {{ parent() }}{% endblock %}

{% set script_controller = 'live-course/index' %}

  {% block top_content %}
    {% if paginator.currentPage == 1 %}
        <section class="es-live-poster swiper-container">
          <div class="swiper-wrapper">
            {{ block_show('live_top_banner') }}
          </div> 
          <div class="swiper-pager"></div> 
        </section>
    {% endif  %}
  {% endblock %}
  {% block live_main %}

  {{ render(controller('TopxiaWebBundle:LiveCourse:liveTab')) }}

  {% include 'TopxiaWebBundle:LiveCourse:recommend-course-list.html.twig' %}


  {{ render(controller('TopxiaWebBundle:LiveCourse:replayList')) }}
  
  {% endblock %}

  {% block live_side %}

    {{ render(controller('TopxiaWebBundle:LiveCourse:liveCourseList',{request:app.request})) }}

  {% endblock %}

