{% extends 'TopxiaWebBundle:LiveCourse:layout.html.twig' %}

{% block title %}首页 - {{ parent() }}{% endblock %}

{% set script_controller = 'live-course/index' %}

{% block live_main %}

	{% include 'TopxiaWebBundle:LiveCourse:nav.html.twig' %}

	{% set blocks = data('Blocks',{'codes':['live_banner'] }) %}
      	{% if blocks.live_banner %}
        <div class="homepage-feature homepage-feature-slides mbl">
          <div class="cycle-pager"></div>
          {{ blocks.live_banner|raw }}
        </div>
    {% endif %}

	<div class="es-box">
        <div class="es-box-heading">
        	<h2>直播课程</h2>
        	<a class="text-muted pull-right mts" href="{{ path('live_course_list') }}">更多>></a>
       	</div>
        <div class="es-box-body">
          {% if newCourses %}
            {{ render(controller('TopxiaWebBundle:LiveCourse:coursesBlock', {courses:newCourses, view: 'list'})) }}
          {% else %}
            <div class="empty">还没有发布的课程</div>
          {% endif %}
        </div>
  	</div>
{% endblock %}

{% block live_side %}

	<div class="es-box">
        <div class="es-box-heading">
        	<h2>即将开始</h2>
       	</div>
        <div class="es-box-body">
        	<div class="list-group">
        		{% if recentCourses %}
	        		{% for course in recentCourses %}
	        			{% set lesson = course.lesson %}
					    <a href="{{ path('course_show', {id:course.id}) }}" class="list-group-item">
					    	<h4 class="list-group-item-heading clearfix">
					    		<span class="text-primary pull-left fsn mts">{{ lesson.startTime|date('H:i') }}-{{ lesson.endTime|date('H:i m-d')}}</span>
					    		{% if lesson.endTime < tomorrow %}
					    			<button type="button" class="mlm btn btn-xs btn-success">今天</button>
					    		{% else %}
					    			<button type="button" class="mlm btn btn-xs btn-danger">明天</button>
					    		{% endif %}
					    		{% set teacher = users[course.teacherIds|first]|default(null) %}
					    		<span class="text-muted pull-right fsn mts">{{ teacher.nickname }}</span>
					    	</h4>
				          	<div class="list-group-item-text">
				          		<strong>{{ course.title|plain_text(26) }}</strong>
				          		<span class="text-muted mll">({{ lesson.number }}/{{ course.lessonNum }})</span>
				          	</div>
				        </a>
				    {% endfor %}
				{% else %}
					<div class="empty">没有即将开始的课程</div>
			    {% endif %}
			</div>
        </div>
  	</div>
  	{{ render(controller('TopxiaWebBundle:LiveCourse:ratingCoursesBlock')) }}

{% endblock %}
