{% import 'TopxiaWebBundle::macro.html.twig' as web_macro %}
<div class="panel panel-default es-live-all">
  <div class="panel-heading">
    <form id="live-search-form" class="form-inline" action="{{ path('live_course_explore') }}" method="get" novalidate="">
      <div class="form-group mrl">
        <select style="max-width:150px;" class="form-control" name="categoryId" id="categoryId">
          {{ select_options(category_choices('course'), request.query.get('categoryId'), '课程分类') }}
        </select>
      </div>
      <div class="form-group">
        <select style="max-width:150px;" class="form-control" name="vipCategoryId" id="vipCategoryId">
          <option value="">会员课程</option>
          {% for level in levels if level %}
            <option value="{{ level.id }}" {% if level.id == request.query.get('vipCategoryId') %}selected{% endif %}>{{ level.name }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
  </div>
  <div class="panel-body">
    {% for course in liveCourses if course %}
      <div class="media">
        <div class="media-left">
          {{ lazy_img(filepath(course.middlePicture, 'course.png'), 'img-responsive', course.title) }}
        </div>
        <div class="media-body">
          <div class="title  mbm">
            <a href="{{ path('course_show',{id:course.id}) }}"  class="gray-darker">{{ course.title }}</a>
          </div>
          <!-- <span class="label label-success label-md">正在直播 今天 10：00</span> -->
          <div class="metas">
            <span class="num prl"><i class="es-icon es-icon-people prm"></i>{{ course.studentNum }}</span>
            <span class="comment"><i class="es-icon es-icon-textsms prm"></i>{{ course.ratingNum }}</span>
          </div>
          <div class="user">
              {% set user = data('User',{userId:course.teacherIds[0]}) %}
              {{ web_macro.user_avatar(user) }}
              {{ web_macro.user_link(user, '') }}
          </div>
          <div class="other">
            {% include 'TopxiaWebBundle:Course:Widget/course-price.html.twig' with {shows:'price'} %}
            <a href="{{ path('course_show',{id:course.id}) }}" class="btn btn-primary">进入直播</a>
          </div>
        </div>
      </div>
    {% else %}
      <div class="empty">暂无直播课程</div>
    {% endfor %}

    {{ web_macro.paginator(paginator) }}

  </div>
</div>
{% do load_script('live-course/list') %}