{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{'标签'|trans}} - {{ parent() }}{% endblock %}

{% block content %}

<div class="es-section">
  <div class="section-header"><h1>{{'标签'|trans}}</h1></div>
  {% if tags  %}
    {% for tag in tags %}
      <a href="{{ path('tag_show', {name:tag.name}) }}" class="btn-tag">{{ tag.name }}</a>
    {% endfor %}
  {% else %}
    <div class="empty">{{'当前还没有标签'|trans}}!</div>
  {% endif %}
</div>
{% endblock %}