{% set props = status.properties %}

{% if mode == 'simple' %}
	{% if status.objectType == 'course' %}
		{{'加入课程'|trans}} <a  class="link-dark" href="{{ path('course_show', {id: props.course.id}) }}" title="{{'来自《%props%》'|trans({'%props%':props.course.title})}}">{{ props.course.title|sub_text(15)}}</a>
	{% else %}
		{{'加入%classroom%'|trans({'%classroom%':setting("classroom.name")|default('班级'|trans)})}} <a  class="link-dark" href="{{ path('classroom_show', {id: props.classroom.id}) }}" title="{{'来自《%props%》'|trans({'%props%':props.classroom.title})}}">{{ props.classroom.title|sub_text(15)}}</a>
	{% endif %}
  
{% elseif mode == 'full' %}
	{% if status.objectType == 'course' %}
		
	{% else %}
		
	{% endif %}
{% endif %}