{% extends 'TopxiaWebBundle:My:layout.html.twig' %}

{% block title %}教学资料库 - {{ parent() }}{% endblock %}
{% set side_nav = 'material-lib' %}

{% block main %}
<div class="panel panel-default panel-col">

	<div class="panel-heading">
		教学资料库
		{% if source == "shared" %}
			<span class="text-sm" style="font-weight: normal;">&gt; 来自分享</span>
		{% elseif source == "myShareHistory" %}
			<span class="text-sm" style="font-weight: normal;">&gt; 我的分享历史</span>
		{% else %}
			<span class="text-sm" style="font-weight: normal;">&gt; 来自上传</span>
		{% endif %}
		
		<span class="text-sm" style="float: right; font-weight: normal;">
			{% if source != "upload" %}
				<a href="{{ path('course_manage_list_teacher_materials', {type: type|default('all'), viewMode: viewMode|default('thumb'), source: 'upload'}) }}">来自上传</a> | 
			{% endif %}

			{% if source  != "shared" %}
		 		<a href="{{ path('course_manage_list_teacher_materials', {type: type|default('all'), viewMode: viewMode|default('thumb'), source: 'shared'}) }}">来自分享</a> | 
			{% endif %}

		 	<a href="javascript:;" data-toggle="modal" data-target="#modal" data-url="{{ path('course_manage_show_share_my_material') }}">分享我的教学资料</a>

		 	{% if source  != "myShareHistory" %}
		 		| <a href="{{ path('course_manage_show_share_history') }}">我的分享历史</a>
		 	{% endif %}
		</span>
	</div>
	
	<div class="panel-body">
	{% block browse_files %}
	{% endblock %}
	</div>
</div>
{% endblock %}