{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
{% set quality = "" %}
<tr id="upload-file-tr-{{uploadFile.id}}" data-role="item" data-convertHash="{{uploadFile.convertHash}}" class="item-material">

  <td><input value="{{uploadFile.id}}" type="checkbox" data-role="batch-item" ></td>

  <td>
    {% if uploadFile.storage == 'cloud' %}
      <span class="glyphicon glyphicon-cloud text-muted" title="云文件"></span>
    {% endif %}
    
    {% if uploadFile.convertStatus == 'waiting' %}
      {{uploadFile.filename}}<br><span class="text-warning text-sm">正在文件格式转换</span>
      {% if ( now - uploadFile.updatedTime ) > 28800 %}
        <a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换</a>
      {% endif %}

    {% elseif uploadFile.convertStatus == 'doing' %}
      {{uploadFile.filename}}<br><span class="text-info text-sm">正在文件格式转换</span>
      {% if uploadFile.type == 'ppt' and ( now - uploadFile.updatedTime ) > 1800 %}
        <a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换</a>
      {% endif %}
    {% elseif uploadFile.convertStatus == 'error' %}
      {{uploadFile.filename}}<br><span class="text-danger text-sm">文件格式转换失败，<a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn">重新转换</a></span>
    {% else %}
        {{ uploadFile.filename }}
        {% if uploadFile.type == 'ppt' and ( not uploadFile.metas2.length|default(null) ) and uploadFile.targetType == 'courselesson'  %}
          <br><a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换</a>
        {% endif %}
    {% endif %}

    {% if setting('developer.debug') and uploadFile.convertParams.convertor|default(null) %}
      <a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换(调试模式)</a>
    {% endif %}

  </td>
  <td>{{ web_macro.bytesToSize(uploadFile.size) }}</td>
{% if type == 'all' or type == 'video' or type == 'audio'%}
  <td> 
  {% if uploadFile.type == 'video' or uploadFile.type == 'audio'%}
		{{ uploadFile.length|date('i:s') }}
		{% endif %}
  </td>
  {% endif %}
  <td> 
    <span class="text-muted text-sm">{{ uploadFile.updatedTime|date('Y-n-d H:i')}}</span>
  </td>
  <td  >
  <span style="float: right;">
    <a class="btn btn-link" title="预览"  href="#modal" data-toggle="modal" data-url="{{ path('material_lib_file_preview', {fileId: uploadFile.id}) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
	<a {% if uploadFile.createdUserId != currentUserId %}disabled="disabled" {% endif %} class="btn btn-link delete-material-btn" title="删除" data-url="{{ path('course_manage_delete_teacher_material', {id: uploadFile.id}) }}"><span class="glyphicon glyphicon-trash"></span></a>
  </span>
  </td>

</tr>