<li class="course-grid item-material">
	<div style="width: 180px; height: 180px; padding: 8px;" class="course-item-list-multi">
    <div><input value="{{uploadFile.id}}" type="checkbox" data-role="batch-item" ></div>

   	{% if uploadFile.type == 'video' %}
			{% set parentClass = "item-object-video" %}
		{% elseif uploadFile.type == 'audio' %}
			{% set parentClass = "item-object-audio" %}
		{% elseif uploadFile.type == 'ppt' %}
			{% set parentClass = "item-object-ppt" %}
		{% else %}
			{% set parentClass = "item-object-text" %}
		{% endif %}
		
		{% if uploadFile.type in ['video', 'audio'] %}
			{% set subTitle = uploadFile.length|date('i:s') %}
		{% else %}
			{% set subTitle = uploadFile.ext|upper %}
		{% endif %}
		
		<div style="height: 90px;" class="center-block">
			
		{% if uploadFile.type in ['video', 'audio', 'ppt'] %}
			{% set tagName = "a" %}
			{% set title = "预览" %}
		{% else %}
			{% set tagName = "span" %}
			{% set title = "暂不支持预览" %}
		{% endif %}
			
			 <{{ tagName }} style="float: none;" class="item-object {{ parentClass|default('') }} tip center-block mtm" title="{{ title }}" data-placement="bottom" href="#modal" data-toggle="modal" data-url="{{ path('material_lib_file_preview', {fileId: uploadFile.id}) }}">
				<span class="item-icon"></span>
				<span class="item-length">
						{{ subTitle|default('') }}
				</span>
					
				</{{ tagName }}>
			</div>
											
    <span class="file-name-container text-sm mhs mvs">{{ uploadFile.filename }}</span>
    
    <span class="row action-buttons-container center-block" style="display: none; background-color: #f6f6f6;">
    	<a {% if uploadFile.createdUserId != currentUserId %} disabled="disabled" {% endif %} class="center-block btn btn-link delete-material-btn" data-url="{{ path('material_lib_delete_file', {id: uploadFile.id}) }}"><span class="glyphicon glyphicon-trash"></span>删除</a>
    </span>
  </div>
</li>
