{% extends 'TopxiaWebBundle:MaterialLib:layout.browse.html.twig' %}

{% block title %}教学资料库 - {{ parent() }}{% endblock %}

{% block list %}

<div id="aticle-table-container">
    <table class="table table-hover table-striped" id="article-table">
        <thead>
            <tr>
                <th width="50%"><label class="checkbox-inline"><input type="checkbox" data-role="batch-select"> 全选</label></th>
                <th width="50%">
                    <span style="float: right;">
                        <a href="{{path('course_manage_list_teacher_materials', {type: type, viewMode:'thumb', source: source}) }}">
                             <span class="glyphicon glyphicon-th-large" />
                        </a>
                        <a href="{{path('course_manage_list_teacher_materials', {type: type, viewMode:'list', source: source}) }}">
                            <span class="glyphicon glyphicon-th-list" />
                        </a>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="course-grids" id="material-item-list">

        <li class="course-grid item-material" id="panel-upload-file">
        		<div style="width: 180px; height: 180px; padding: 8px;">
           <div class="container" style="width: 100%; height: 120px; vertical-align: middle;">
            <a class="btn btn-link center-block" style="margin-top: 20px;"
            data-html5-url="{{ path('course_manage_batch_upload_course_files', {id:'0', targetType:'materiallib'}) }}"
            data-normal-url="{{ path('course_manage_upload_course_files', {id:'0', targetType:'materiallib'}) }}"
            data-storage="{{storageSetting.upload_mode}}" title="添加"   data-placement="bottom" >
                <i class="glyphicon glyphicon-plus" style="font-size:40px;"></i>
            </a>
            </div>
							<div>
							{% if type == 'all' %}
								<span class="text-sm">支持常见文档、图片、音视频、压缩包等格式。</span>
							{% elseif type == 'video' %}
								<span class="text-sm">支持mp4, avi, flv, wmv, mov格式，文件大小不能超过1GB。</span>
							{% elseif type == 'audio' %}
								<span class="text-sm">仅支持mp3格式。</span>
							{% elseif type == 'image' %}
					    	<span class="text-sm">支持png, jpg, gif格式。</span>
							{% elseif type == 'ppt' %}
					    	<span class="text-sm">支持ppt格式。</span>
					  	{% elseif type == 'document' %}
					    	<span class="text-sm">支持doc, docx, pdf格式。</span>
					  	{% elseif type == 'other' %}
					    	<span class="text-sm">支持常见文档、图片、音视频、压缩包等格式。</span>
							{% endif %}
            
            </div>
            </div>
        </li>

        {% for uploadFile in materialResults %}
            {% include 'TopxiaWebBundle:MaterialLib:material-thumb-view-item.html.twig' %}
        {% else %}
            <div class="empty">无文件记录</div>
        {% endfor %}
    </div>
</div>

{% endblock %}