{% extends 'activity/activity-form-layout.html.twig' %}

{% do script(['libs/es-ckeditor/ckeditor.js','libs/jquery-sortable.js','app/js/activity-manage/homework/index.js'], 300) %}

{% block activity_content %}
  <form id="step2-form" class="form-horizontal homework-activity-form" method="post">

    <div class="form-group">
      <div class="col-sm-2 control-label"><label for="homework-about-field" class="control-label-required">作业说明</label></div>
      <div class="col-sm-10 controls">
        <textarea name="description" rows="10" id="homework-about-field" class="form-control" data-image-upload-url="{{ path('editor_upload', {token:upload_token('course')}) }}" data-image-download-url="{{ path('editor_download', {token:upload_token('course')}) }}">{{ activity.description|default('') }}</textarea>
      </div>
    </div>

    {% if not activity|default(null) %}
      <div class="form-group">
        <div class="col-sm-2 control-label"><label for="homework-about-field" class="control-label-required">选择题目</label></div>
        <div class="col-sm-8">
          <a id="picker_homework_items" data-url="{{ path('course_set_manage_homework_question_picker',{id:courseSetId,targetType:'homework'}) }}" class="btn btn-info btn-sm" data-role="pick-item"　><i class="es-icon es-icon-anonymous-iconfont"></i>
          选择题目
          </a>
          <input type="hidden" name="questionLength" value="{% if questions|default(null) %} questionItems.lenght {% endif %}">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <table class="table" id="question-table">
            <thead>
              <tr>
                <th></th>
                <th><input type="checkbox" data-role="batch-select"></th>
                <th width="10%">题号</th>
                <th width="25%">题干</th>
                <th width="15%">类型</th>
                <th width="10%">难度</th>
                <th width="25%">操作</th>
              </tr>
            </thead>
            <tbody id="question-table-tbody" >
            {% if questions|default(null) %}
              {% for key,questionItem in questionItems %}
                {% set questionId = questionItem.questionId %}
                {% set question = questions[questionId] %}
                {% include 'WebBundle:QuestionManage:question-tr.html.twig'%}
              {% endfor %}
            {% endif %}
            </tbody>
          </table>
          <div class="mbl">
            <label class="checkbox-inline"><input type="checkbox" data-role="batch-select"> 全选</label>
            <button type="button" class="btn btn-default btn-sm mlm" data-role="batch-delete-btn"  data-name="题目">删除</button>
          </div>
          <span class="color-danger js-help-redmine"></span>
          <p class="js-subjective-remask" data-type="homework">
          </p>
          <p class="help-block color-warning">{{'提示：保存后题目将不能再添加或移除。'|trans}}</p>
        </div>
      </div>
    {% endif %}
  </form>
{% endblock %}

{% block activity_finish %}

  <div class="row form-group">
    <div class="col-sm-2 control-label">
      <label for="condition-select">{{ '完成条件'|trans }}</label>
    </div>
    <div class="col-xs-4 form-control-static">
      提交作业
      <select class="form-control hidden" id="condition-select" name="finishCondition">
        {{ select_options({'submit':'提交作业'|trans}, activity.finishCondition['type']|default('score')) }}
      </select>
      <input type="hidden" name="finishScore" value="{{ activity.finishCondition['score']|default('0') }}" />
      <input type="hidden" name="mediaType" value="homework" />

    </div>
  </div>
  
{% endblock %}