<div class="materials-group">
	  <select class="form-control form-csearch-type js-search-type" name="searchType">{{ 'admin.cloud_file.keyword_type'|trans }} <span class="caret" ></span>
		<option value="course"><a href="javascript:;" >{{ 'admin.cloud_file.keyword_type.course'|trans }}</a></option>
		<option value="title"><a href="javascript:;" >{{ 'admin.cloud_file.keyword_type.title'|trans }}</a></option>
		<option value="user"><a href="javascript:;" >{{ 'admin.cloud_file.keyword_type.user'|trans }}</a></option>
	  </select>
  <div class="form-group">
		<input class="form-control " name="keywords" placeholder="{{ 'admin.cloud_file.keyword_placeholder'|trans }}">
	</div>
	<div class="form-group">
	  <button class="btn btn-primary">{{ 'form.btn.search'|trans }}</button>
 </div>
</div>

