{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set bodyClass = 'course-list-page bg-blank' %}
{% set siteNav = 'course/explore' %}
{% set script_controller = 'open-course/open-course-explore' %}

{% block keywords %}
  {% if category %}{{category.name}}
    {% if category.parent %}{{ ','}}{{ category.parent.name|default('') }}{% endif %}
  {% else %}
    {{ '全部' }}
  {% endif %}
{% endblock %}
{% block description %}{{ category.description|default('')|plain_text(100) }}{% endblock %}
{% block title %}{{ category.name|default('全部'|trans) }} - {{setting('site.name')}}
  {% if setting('site.slogan') %}{{' - '}}{{setting('site.slogan')}}{% endif %}
  {% if not setting('copyright.owned') %} - Powered By EduSoho{% endif %}
{% endblock %}

{% block top_content %}
  <section class="es-live-poster swiper-container">
    <div class="swiper-wrapper">
      {{ block_show('open_course_top_banner') }}
    </div> 
    <div class="swiper-pager"></div> 
  </section>
{% endblock %}

{% block content %}
  {% set type = fliter.type|default('all') %}
  {% set orderBy = app.request.get('orderBy')|default('latest')%}
 
  <div class="course-filter" id="course-filter">
    
  </div>

  <div class="course-list open-course-list">
    {% for course in courses %}
      {% set lessons = data('OpenCourseLessons',{courseId:course.id,count:1}) %}
          {# <div class="col-lg-3 col-md-4 col-xs-6">
            {% include 'TopxiaWebBundle:OpenCourse/Widget:open-course-grid.html.twig' %}
          </div> #}
      <div class="row course-block">
        <div class="col-md-3">
          <div class="course-img">
            <a href="{{ path('open_course_show', {courseId:course.id}) }}" target="_blank" target="{{ course.title }}">
              <span class="tags">
                <span class="tag-live"></span>
              </span>
              {{ lazy_img(filepath(course.middlePicture, 'course.png'), 'img-responsive', course.title) }}
            </a>
            {% if course.type == 'liveOpen' and lessons %}
              {% if lessons[0].startTime|date('Y-m-d') == "now"|date('Y-m-d') %}
                <div class="open-starttime">今日直播：{{ lessons[0].startTime|date('H:i')}}</div>
              {% else %}
                <div class="open-starttime">{{ lessons[0].startTime|date('Y-m-d H:i')}}</div>
              {% endif %}
            {% endif %}
          </div>
        </div>

        <div class="col-md-9">
          <div class="open-course-content">
            <div class="title">
              {% if course.type == 'liveOpen' and lessons %}
                {% if "now"|date("U") >= lessons[0].startTime and "now"|date("U") <= lessons[0].endTime %}
                  <span class="label label-primary mrm">直播中</span>
                {% elseif "now"|date("U") < lessons[0].startTime and lessons[0].startTime|date('Y-m-d') == "now"|date('Y-m-d') %}
                  <span class="label label-primary mrm">即将开始</span>
                {% else %}
                  <span class="label label-primary mrm">直播已结束</span>
                {% endif %}
              {% endif %}
              
              <a class="link-dark" href="{{ path('open_course_show', {courseId:course.id}) }}" target="_blank" title="{{ course.title }}">
                {{ course.title }}
              </a>
            </div>
            <div class="open-course-intro">
              {{ course.subtitle }}
            </div>
            <div class="metas clearfix">
              <span class="num mrm"><i class="es-icon es-icon-removeredeye mrs"></i>{{ course.hitNum }}</span>
              <span class="comment"><i class="es-icon es-icon-textsms mrs"></i>{{ course.postNum }}</span>
              <a href="{{ path('open_course_show', {courseId:course.id}) }}" target="_blank" title="{{ course.title }}" class="btn btn-primary btn-lg pull-right">进入公开课</a>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="empty">{{'该分类下无公开课'|trans}}</div>
    {% endfor %}
  </div>
  <nav class="text-center">
    {{ web_macro.paginator(paginator) }}
  </nav>
{% endblock %}
