{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set bodyClass = 'course-list-page bg-blank' %}
{% set siteNav = 'course/explore' %}
{% set script_controller = 'course/explore' %}

{% block keywords %}
  {% if category %}{{category.name}}
    {% if category.parent %}{{ ','}}{{ category.parent.name|default('') }}{% endif %}
  {% else %}
    {{ '全部' }}
  {% endif %}
{% endblock %}
{% block description %}{{ category.description|default('')|plain_text(100) }}{% endblock %}
{% block title %}{{ category.name|default('全部'|trans) }} - {{setting('site.name')}}
  {% if setting('site.slogan') %}{{' - '}}{{setting('site.slogan')}}{% endif %}
  {% if not setting('copyright.owned') %} - Powered By EduSoho{% endif %}
{% endblock %}

{% block top_content %}
  <div class="es-banner">
    <div class="container">
      <div class="title">
        <i class="es-icon es-icon-viewcomfy"></i>
        {{'公开课列表'|trans}}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% set type = fliter.type|default('all') %}
  {% set orderBy = app.request.get('orderBy')|default('latest')%}
  {{ render(controller('TopxiaWebBundle:Category:treeNav',{category:category.code|default(''), path:'open_course_explore',fliter:{type: type},orderBy:orderBy})) }}
  <div class="es-filter">
    <ul class="nav nav-sort clearfix">
      <li><a href="{{ path('open_course_explore', {category:category.code|default(''), fliter: {type: type},orderBy: 'latest'}) }}" class="{% if (orderBy == 'latest') %}active{% endif %}">{{'最新'|trans}}</a></li>
      <li><a href="{{ path('open_course_explore', {category:category.code|default(''), fliter: {type: type},orderBy: 'hitNum'}) }}" class="{% if (orderBy == 'hitNum') %}active{% endif %}">{{'最热'|trans}}</a></li>
      <li><a href="{{ path('open_course_explore', {category:category.code|default(''), fliter: {type: type},orderBy: 'recommendedSeq'}) }}" class="{% if (orderBy == 'recommendedSeq') %}active{% endif %}">{{'推荐'|trans}}</a></li>
    </ul>
    <div class="filter hidden-xs">

      <label class="checkbox-inline">
        <input type="checkbox" {% if type == 'liveOpen'%}checked="true" {% endif %} id="live" value="
        {% if type == 'all'%}
          {{ path('open_course_explore', {category:category.code|default(''), fliter: {type: 'liveOpen'},orderBy: orderBy}) }}
        {% else %}
          {{ path('open_course_explore', {category:category.code|default(''), fliter: {type: 'all'},orderBy: orderBy}) }}
        {% endif %}"> {{'直播公开课'|trans}}
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" {% if type == 'open'%}checked="true" {% endif %} id="free" value="
        {% if type == 'all'%}
          {{ path('open_course_explore', {category:category.code|default(''), fliter: {type: 'open'},orderBy: orderBy}) }}
        {% else %}
          {{ path('open_course_explore', {category:category.code|default(''), fliter: {type: 'all'},orderBy: orderBy}) }}
        {% endif %}">{{'录播公开课'|trans}}
      </label>
    </div>
  </div>

  <div class="course-list">
    <div class="row">
      {% if courses %}
        {% for course in courses %}
          <div class="col-lg-3 col-md-4 col-xs-6">
            {% include 'TopxiaWebBundle:OpenCourse/Widget:open-course-grid.html.twig' %}
          </div>
        {% endfor %}
      {% else %}
        <div class="empty">{{'该分类下无公开课'|trans}}</div>
      {% endif %}
    </div>
  </div>
  <nav class="text-center">
    {{ web_macro.paginator(paginator) }}
  </nav>
{% endblock %}
