{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set script_controller = 'open-course/open-course' %}

{% block full_content %}
  {% block top_content %}{% endblock %}
  
  <div class="container">
    {% block content %}
      <ol class="breadcrumb breadcrumb-o">
        <li><a href="">首页</a></li>
        <li><a href="">公开课</a></li>
        <li>{{ course.title }}</li>
      </ol>
      <div class="row" style="margin:0">
        <!-- <div class="col-md-9 open-course-views">
          <img class="img-responsive" src="/assets/img/default/open-course-bg.jpg" alt="">
          <div class="mask">
            <div class="mask-content">
              <button class="btn btn-warning btn-lg mask-btn" style="margin-top:60px;">
                开始播放<i class="es-icon es-icon-playcircleoutline"></i>
              </button>
            </div>
          </div>
        </div> --> 
        {{ render(controller('TopxiaWebBundle:OpenCourse:header',{course:course})) }}
        
        <div class="col-md-3 open-course-tab">
          <ul class="clearfix">
            <li class="tab-header active"><i class="es-icon es-icon-staroutline prm"></i>推荐课程</li>
            {% if course.type == 'open' %}
              <li class="tab-header"><i class="es-icon es-icon-videocam prm"></i>课时列表</li>
            {% endif %}
          </ul  >
          <div id="content">
            <ul id="recommand-tab" >
              <li class="tab-recommand clearfix">
                <a href=""><img class="img-responsive" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <a class="title" href="">edusoho教学资料库教学资料库课教学资料库课课程学习</a>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
              <li class="tab-recommand clearfix">
                <a href=""><img class="img-responsive" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <a class="title" href="" >edusoho教学资料库课程学习</a>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
              <li class="tab-recommand clearfix">
                <a href=""><img class="img-responsive" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <a class="title" href="" >edusoho教学资料库课程学习</a>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
              <li class="tab-recommand clearfix">
                <a href=""><img class="img-responsive" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <a class="title" href="" >edusoho教学资料库课程学习</a>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
              <li class="tab-recommand clearfix">
                <a href=""><img class="img-responsive" src="/assets/img/default/course.png" alt=""></a>
                <div class="open-course-info">
                  <a class="title" href="" >edusoho教学资料库课程学习</a>
                  <div class="num">2345人在学习</div>
                </div>
              </li>
            </ul>
            <ul id="live-tab" style="display:none">
              <li class="tab-live clearfix">
                <a href="">课时1：以理服人</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时2：以情化人：情感形态广告什么的</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时1：以理服人</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时2：以情化人：情感形态广告什么的</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时1：以理服人</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时2：以情化人：情感形态广告什么的</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时1：以理服人</a>
              </li>
              <li class="tab-live clearfix">
                <a href="">课时2：以情化人：情感形态广告什么的</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="open-course-detail row">

        {{ render(controller('TopxiaWebBundle:OpenCourse:infoBar',{courseId:course.id})) }}

        <div class="col-md-9">
          <div class="es-section gray-darker">
            {{ course.about }}
            <img src="{{ filepath(course.smallPicture|default(''), 'course.png') }}" alt="{{ course.title }}" class="intro-img">
          </div>

          {{ render(controller('TopxiaWebBundle:OpenCourse:comment',{courseId:course.id})) }}
          
        </div>
        
        {{ render(controller('TopxiaWebBundle:OpenCourse:teachers',{courseId:course.id})) }}
    {% endblock %}
  </div>
  
  {% block bottom_content %}{% endblock %}
{% endblock %}
    