<div class="course-item">
  <div class="course-img">
    <a href="{{ path('open_course_show', {courseId:course.id}) }}" target="_blank" target="{{ course.title }}">
      
      {% if course.type == 'liveOpen' %}
        <span class="tags">
          <span class="tag-live"></span>
        </span>
      {% endif %}
      {{ lazy_img(filepath(course.middlePicture, 'course.png'), 'img-responsive', course.title) }}
    </a>
  </div>
  <div class="course-info">
    <div class="title">
      <a class="link-dark" href="{{ path('open_course_show', {courseId:course.id}) }}" target="_blank" title="{{ course.title }}">
        {{ course.title }}
      </a>
    </div>
    <div class="metas clearfix">
      <span class="num"><i class="es-icon es-icon-people"></i>{{ course.studentNum }}</span>
      <span class="comment"><i class="es-icon es-icon-textsms"></i>{{ course.postNum }}</span>
    </div>
  </div>
</div>