{% extends 'coin/layout.html.twig' %}

{% block title %}{{'user.account.my_coin'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-bill' %}

{% block main %}
<div class="es-section h400">
  {% include 'coin/bill-bar.html.twig' %}

  <form id="user-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
    <div class="form-group">
      <select class="form-control" name="lastHowManyMonths"  onchange="submit();">
        {% set options = {'':'site.dategrid.filter.all_records'|trans,'oneWeek':'site.dategrid.filter.last_one_week'|trans,'twoWeeks':'site.dategrid.filter.last_two_week'|trans,'oneMonth':'site.dategrid.filter.last_one_month'|trans,'twoMonths':'user.last_two_month'|trans,'threeMonths':'site.dategrid.filter.last_three_month'|trans} %}
        {{ select_options(options, app.request.get('lastHowManyMonths')) }}
      </select>
    </div>

    {#<button class="btn btn-primary">搜索</button>#}
     <div class="control-label pull-right" style="padding-top: 8px;">
      {{'finance.income'|trans}}<span style="color:#1bb974;">{{ amountInflow }}</span>&nbsp;{{'site.currency.RMB'|trans}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{'finance.expense'|trans}}<span style="color:#ff7b0e;">{{ amountOutflow }}</span>&nbsp;{{'site.currency.RMB'|trans}}
      </div>
  </form>
  <br>
  <div class="table-responsive">
    <table class="table table-striped">
      {% if cashes %}
        <tr>
          <th><span class="text-sm">{{'order.sn'|trans}}</span></th>
          <th><span class="text-sm">{{'order.name'|trans}}</span></th>
          <th><span class="text-sm">{{'order.paid_time'|trans}}</span></th>
          <th class="text-right" style="padding-right: 60px;"><span class="text-sm">{{'finance.income_expense'|trans}}</span></th>
          <th><span class="text-sm">{{'order.payment_pattern'|trans}}</span></th>
        </tr>
        {% for cash in cashes %}
          <tr>
            <td><span class="text-sm">{{cash.sn}}</span></td>
            <td><span class="text-sm">{{cash.name}}</span><br>
                <span class="color-gray text-sm">{{'order.id'|trans}}{{cash.orderSn}}</span></td>
            <td><span class="text-sm">{{cash.createdTime|date('Y-m-d H:i:s')}}</span></td>

            {% if cash.type =="inflow" %}
            <td class="text-right" style="color:#1bb974;padding-right: 50px;">
               {{cash.amount}}
            </td>
            {% endif %}
            {% if cash.type =="outflow" %}
            <td  class="text-right" style="color:#ff7b0e;padding-right: 50px;">
               -&nbsp;{{cash.amount}}
            </td>
            {% endif %}

            <td>
              <span class="text-sm">
                {% if cash.type =="inflow" %}
                  {{ dict_text('payment', cash.payment) }}
                {% else %}
                  {{'order.payment_pattern.school'|trans}}
                {% endif %}
              </span>
            </td>
          </tr>
        {% endfor %}
      {% else %}
      <div class="empty">{{'user.account.empty'|trans}}</div>
      {% endif %}
    </table>
  </div>
  <nav class="text-center">
    {{ web_macro.paginator(paginator) }}
  </nav>
</div>

{% endblock %}