{% extends 'v2/layout.html.twig' %}

{% block title %}{{ 'user.account.my_coin'|trans({'%coin_name%' : setting('coin.coin_name')}) }} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-coin' %}

{% block page_title %}
  {{ 'user.account.my_coin'|trans({'%coin_name%' : setting('coin.coin_name')}) }}
{% endblock %}

{% block main_body %}
  <div class="row cd-row">
    <div class="col-md-7">
      <div class="cd-colorful-card cd-colorful-card-danger">
        <div class="card-icon"><i class="cd-icon cd-icon-money"></i></div>
        <div class="card-body">
          <p>{{'finance.balance'|trans}}</p>
          <p><span class="card-money">{{account.cash|default(0)}}</span></p>
        </div>
        {% if setting('coin.coin_enabled') %}
          <div class="card-action">
            {% if is_plugin_installed('ChargeCoin') and setting('coin.charge_coin_enabled') %}
              <a href="javascript:;" class="btn cd-btn btn-card-danger"
              data-url="{{path('my_coin_buy')}}" data-toggle="modal" data-target="#modal">现金充值</a>
            {% endif %}
            {% if is_plugin_installed('MoneyCard') %}
              <a href="javascript:;"  class="btn cd-btn btn-card-white" data-url="{{path('money_card_use')}}" data-toggle="modal" data-target="#modal">{{'plugin.money_card'|trans}}</a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-5">
      <div class="cd-data-card">
        <div class="card-item">
          <div class="card-item-label">{{'finance.total_income'|trans}}</div>
          <div class="card-item-value"><span>{% if amountInflow %}+{% endif %}{{ amountInflow }}</span></div>
        </div>
        <div class="card-item">
          <div class="card-item-label">{{'finance.total_expense'|trans}}</div>
          <div class="card-item-value"><span>{% if amountOutflow %}-{% endif %}{{ amountOutflow }}</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive cd-table-responsive">
    <table class="table cd-table">
      <thead>
        <tr>
          <th width="30%">{{'order.name'|trans}}</th>
          <th>{{'order.sn'|trans}}</th>
          <th>{{'order.id'|trans}}</th>
          <th>{{'order.paid_time'|trans}}</th>
          <th class="text-right">{{'finance.income_expense'|trans}}</th>
        </tr>
      </thead>
      <tbody>
        {% if cashes %}
          {% for cash in cashes %}
            <tr>
              <td>{{cash.name}}</td>
              <td>{{cash.sn}}</td>
              <td>
                {% if cash.orderSn %}
                  {{cash.orderSn}}
                {% else %}
                  --
                {% endif %}
              </td>
              <td>{{cash.createdTime|date('Y-m-d H:i:s')}}</td>
              <td class="text-right">
                {% if cash.type == "inflow" %}
                  +{{cash.amount}}
                {% elseif cash.type == "outflow" %}
                  -{{cash.amount}}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="20">
              <div class="cd-empty">{{'user.account.empty'|trans}}</div>
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
    {{ web_macro.paginator(paginator) }}
  </div>
{% endblock %}