{% extends 'coin/layout.html.twig' %}
{% block title %}{{'user.account.my_invite_code'|trans}} - {{ parent() }}{% endblock %}



{% set side_nav = 'my-invite-code' %}

{#
{% do load_script('topxiawebbundle/controller/coin/share') %}
{% include 'seajs_loader_compatible.html.twig' with {topxiawebbundle: true} %}
{% set url = inviteInfomation_template %}
{% set message = ds|default('我正在%site%学习，邀请你也来体验下。')|trans({'%site%':setting('site.name')}) %}
{% set title = setting('site.name') %}
{% if setting('site.logo') %}
{% set picture = asset(setting('site.logo')) %}
{% else %}
{% set picture = asset('assets/img/default/MAIN_icon.png') %}
{% endif %}
#}

{% block main %}
  <div class="es-section">
  {% include 'coin/bill-bar.html.twig' %}
  {% if setting('invite.invite_code_setting') == 1 %}
    <p class="clearfix">
      <span class="label label-primary label-md mrl">{{'user.account.my_invite_code'|trans}}</span><span class="mrl text-xlg">{{code}}</span>
     
      {% if record == null %}
     
      <a  class="btn btn-primary btn-sm pull-right mlm" href="#modal" data-toggle="modal" id="writeInvite" data-url="{{ path('write_invitecode')}}">{{'user.account.other_invite_code'|trans}}</a>   
      {% endif %}
     
      <a  class="btn btn-primary btn-sm pull-right" href="#modal" data-toggle="modal" data-url="{{ path('invite_promote_link')}}">{{'user.account.my_invite_code.invite'|trans}}</a>
    </p>
    {#
    <div class="clearfix">
      <span class="label label-primary label-md mrl">{{'我的邀请码'|trans}}</span><span class="mrl text-xlg">{{code}}</span>
    
      {% if record == null %}
      <a  class="btn btn-primary btn-sm pull-right mlm" href="#modal" data-toggle="modal" id="writeInvite" data-url="{{ path('write_invitecode')}}">{{'TA的邀请码'|trans}}</a>
      {% endif %}

      <div class="es-share top pull-right">
        <a  class="btn btn-primary btn-sm pull-right mlm dropdown-toggle" href="" data-toggle="dropdown">{{'邀请好友'|trans}}</a>
        <div class="dropdown-menu {% if right|default(false) %}pull-right{% endif %} js-social-share-params ml30-o" data-title="{{ title }}" data-summary="{{ summary|default('') }}" data-message="{{ message }}" data-url="{{ url }}" data-picture="{{ picture|default('') }}">
          <a href="javascript:;" class="js-social-share" data-cmd="weixin" title="{{'分享到微信'|trans}}" data-share="weixin" data-qrcode-url="{{ path('common_qrcode',{text:url}) }}"><i class="es-icon es-icon-weixin"></i></a>
          <a href="javascript:;" class="js-social-share" data-cmd="tsina" title="{{'分享到新浪微博'|trans}}" data-share="weibo"><i class="es-icon es-icon-weibo"></i></a>
          <a href="javascript:;" class="js-social-share" data-cmd="qq" title="{{'分享到QQ好友'|trans}}" data-share="qq"><i class="es-icon es-icon-qq"></i></a>
          <a href="javascript:;" class="js-social-share" data-cmd="qzone" title="{{'分享到QQ空间'|trans}}" data-share="qzone"><i class="es-icon es-icon-qzone"></i></a>
        </div>
      </div>
    </div>
    #}

    <br>
    <div class="alert alert-warning">
    {{'user.account.my_invite_code.first_tips'|trans}}
    {% if setting('invite')|default(false) %}
      {% if setting('invite.promoted_user_value')|default(false)  %}
        {{'user.account.my_invite_code.second_tips'|trans({'%promoted_user_value%':inviteSetting.promoted_user_value})}}
      {% endif %}

      {% if setting('invite.promote_user_value')|default(false) %}
        ，
        {% if setting('invite.get_coupon_setting')|default(false) %}
            {{'user.account.my_invite_code.third_tips'|trans({'%promote_user_value%':inviteSetting.promote_user_value})}}
        {% else %}
            {{'user.account.my_invite_code.fourth_tips'|trans({'%promote_user_value%':inviteSetting.promote_user_value})}}
        {% endif %}
      {% endif %}
    {{'。'|trans}}
    {% else %}
    {{'。'|trans}}
    {% endif %}
    </div>

<table class="table table-striped table-hover" id="course-table" style="word-break:break-all;">
  <thead>
    <tr>
      <th>{{'user.account.my_invite_code.invitees'|trans}}</th>
      <th>{{'user.account.my_invite_code.invite_time'|trans}}</th>
      <th>{{'user.account.my_invite_code.invite_rewords'|trans}}</th>
      <th>{{'user.account.my_invite_code.get_invite_rewords_time'|trans}}</th>
    </tr>
  </thead>
  <tbody>
      {% for user in invitedUsers %}
      <tr>
        <td>{{user.nickname}}</td>
        <td>{{user.inviteTime|date('Y-m-d H:i:s')}}</td>
        <td>{{user.rewardRate|default('-')}}</td>
        <td>{{user.inviteRewardTime|default('-')}}</td>
      </tr>
      {% else %}
        <tr><td colspan="20"><div class="empty">{{'user.account.my_invite_code.empty'|trans}}</div></td></tr>
      {% endfor %}
  </tbody>
</table>
  {{ web_macro.paginator(paginator) }}


  {% else %}
  <div class="well" style="text-align:center;">
    {{'user.account.my_invite_code.close'|trans}}
  </div>
  {% endif %}
  </div>
{% endblock %}