{% extends 'v2/layout.html.twig' %}

{% block title %}{{'user.account.invite_code'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-invite-code' %}

{% set pageTitle = 'user.account.invite_code'|trans %}

{% block main_body %}
  <div class="alert alert-warning">
    {{ 'user.account.my_invite_code.no_reward_tips'|trans }}
    {% if setting('invite')|default(false) %}
      {% if setting('invite.promoted_user_value')|default(false)  %}
        {{'user.account.my_invite_code.reward_after_register_tips'|trans({'%promoted_user_value%':inviteSetting.promoted_user_value})}}
      {% endif %}
      {% if setting('invite.promote_user_value')|default(false) %}
        {% if setting('invite.get_coupon_setting')|default(false) %}
            {{'user.account.my_invite_code.reward_after_consume_tips'|trans({'%promote_user_value%':inviteSetting.promote_user_value})}}
        {% else %}
          {{'user.account.my_invite_code.reward_after_register_reward_tips'|trans({'%promote_user_value%':inviteSetting.promote_user_value})}}
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="colorful-card colorful-card--info">
        <div class="colorful-card__icon"><i class="es-icon es-icon-yulan"></i></div>
        <div class="colorful-card__body">
          <p>{{'user.account.my_invite_code'|trans}}</p>
          <p><span class="text-xlg text-medium text-white">{{code}}</span></p>
        </div>
        <div class="colorful-card__action">
          <a href="" class="btn btn-card-info">{{'user.account.my_invite_code.invite'|trans}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      {% set number = 0 %}
      {% set money = 0.00 %}
      {% for record in records %}
        {% set number = loop.length %}
        {% set coupon = coupons[record.inviteUserCardId]|default() %} 
        {% set money = money + coupon.rate  %}
      {% endfor %}
      <div class="data-card">
        <div class="data-item">
          <div class="data-item__label">{{'user.account.my_invite_code.invited'|trans}}</div>
          <div class="data-item__value"><span>{{ number }}</span>{{'site.data.people'|trans}}</div>
        </div>
        <div class="data-item">
          <div class="data-item__label">{{'user.account.my_invite_code.has_received_coupons'|trans}}</div>
          <div class="data-item__value"><span>{{ money }}</span>{{'site.currency.CNY'|trans}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>{{'user.account.my_invite_code.invitees'|trans}}</th>
          <th>{{'user.account.my_invite_code.invite_time'|trans}}</th>
          <th>{{'user.account.my_invite_code.invite_rewords'|trans}}</th>
          <th>{{'user.account.my_invite_code.invite_rewords_time'|trans}}</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
            {% set user = invitedUsers[record.invitedUserId] %}
            {% set coupon = coupons[record.inviteUserCardId]|default() %}
        <tr>
          <td>{{ web_macro.user_link(user) }}</td>
          <td>{{record.inviteTime|date('Y-m-d H:i:s')}}</td>
          <td>{{coupon.rate|default('-')}}</td>
          <td>
          {% if coupon.createdTime|default() %}
              {{coupon.createdTime|date('Y-m-d H:i:s')}}
          {% else %}
            -
          {% endif %}
          </td>
        </tr>
        {% else %}
          <tr><td colspan="20"><div class="empty">{{'site.datagrid.empty'|trans}}</div></td></tr>
        {% endfor %}
      </tbody>
    </table>
    {{ web_macro.paginator(paginator) }}
  </div>
{% endblock %}