{% import 'TopxiaAdminBundle::macro.html.twig' as admin_macro %}
<tr id="classroom-table-tr-{{ classroom.id }}">
    <td>
    <strong>  
      <a target="_blank" href="{{ path('group_show', {id:classroom.id}) }}">{{ classroom.title}}</a>
    </strong>
    </td>

    <td>
    {{ classroom.studentNum }}
    </td>

    <td>
    {{ classroom.studentNum }}
    </td>

    <td>
    {{ classroom.price }}
    </td>

    <td>
    {% if classroom.status=='published' %}
    已发布
    {% elseif classroom.status=='closed'%}
    已关闭
    {% else %}
    未发布
    {% endif %}
    </td>

    <td>

  <div class="btn-group">

    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      编辑
      <span class="caret"></span>
    </button>

 <ul class="dropdown-menu">
       <li><a href="{{path('classroom_manage',{id:classroom.id})}}" target="_blank"><span class="glyphicon glyphicon-eye-open"></span> 管理班级</a></li>

       {% if classroom.status=='published'%}
       <li><a href="javascript:" class="close-group" title="关闭班级({{classroom.title}})" data-url="{{path('admin_group_close',{id:classroom.id})}}"><span class="glyphicon glyphicon-off"></span> 关闭小组</a></li>

       {% else %}
       <li><a href="javascript:" class="open-group" title="开启班级({{classroom.title}})" data-url="{{path('admin_group_open',{id:classroom.id})}}"><span class="glyphicon glyphicon-ok"></span>开启小组</a></li>

       {% endif %}



  </div>
 </td>
</tr>