{% import 'macro.html.twig' as web_macro %}
<div class="course-detail-content js-course-detail-content">
  <ul class="task-list infinite-container">
    {% for assessment in assessments if assessments %}
      {% if records|default(null) %}{% set record = records[assessment.id]|default(null)  %}{% endif %}
      <li class="assessment-list-li">
        <div class="col-md-2">
          <div style="font-weight:400;color:#333333;">{{ assessment.name }}</div>
          <div id="assessment-info">
            {{ 'course.testpaper_manage.count'|trans({'%itemCount%': assessment.item_count}) }}/{{ 'course.testpaper_manage.score'|trans({'%score%':assessment.total_score}) }}
          </div>
        </div>
        {% if member|default(null) and previewAs|default(null) %}
          <div id="assessment-btn" class="col-md-3 pull-right">
            {% if record|default(null) %}
              {% if record.status == 'doing' or record.status == 'paused' %}
                <span id="assessment-btn-tip">{{ 'item_bank_exercise.exercise.wait_tip'|trans }}</span>
                <a id="btn-default" class="cd-btn cd-btn-primary" href="javasrcipt:;">{{ 'item_bank_exercise.assessment.exercise.continue_btn'|trans }}</a>
              {% elseif record.status == 'reviewing' %}
                <a id="btn-view" class="cd-btn cd-btn-ghost-primary" href="javasrcipt:;">{{ 'item_bank_exercise.assessment.exercise.view_btn'|trans }}</a>
                <a id="btn-default" class="cd-btn cd-btn-ghost-primary" href="javasrcipt:;">{{ 'item_bank_exercise.assessment.exercise.again_btn'|trans }}</a>
              {% else %}
                <a id="btn-default" class="cd-btn cd-btn-ghost-primary" href="javasrcipt:;">{{ 'item_bank_exercise.assessment.exercise.start_btn'|trans }}</a>
              {% endif %}
            {% else %}
              <a id="btn-default" class="cd-btn cd-btn-ghost-primary" href="javasrcipt:;">{{ 'item_bank_exercise.assessment.exercise.start_btn'|trans }}</a>
            {% endif %}
          </div>
        {% endif %}
      </li>
    {% else %}
      <div class="empty js-task-empty">
        {{'my.teaching.question_bank.testpaper.empty'|trans}}
      </div>
    {% endfor %}
  </ul>
  {{ web_macro.ajax_paginator(paginator) }}
</div>
