{% if member|default(null) and previewAs|default(null) %}
    {% if record %}
      <div class="col-md-2 content-right">
        <span>{{ record.doneQuestionNum }}/{{ 'course.testpaper_manage.count'|trans({'%itemCount%': record.questionNum}) }}</span>
      </div>
      <div class="col-md-2 content-right">
        <span>{{ 'item_bank_exercise.accuracy'|trans }}{{ record.rightRate }}%</span>
      </div>
      <div class="col-md-3 content-right">
        {% if record.status == 'doing' or record.status == 'paused' %}
          <span id="chapter-btn-tip">{{ 'item_bank_exercise.exercise.wait_tip'|trans }}</span>
          <a id="btn-default" class="cd-btn cd-btn-primary content-right" href="javasrcipt:;">{{ 'item_bank_exercise.chapter.exercise.continue_btn'|trans }}</a>
        {% elseif record.status == 'reviewing' %}
          <a id="btn-view" class="cd-btn cd-btn-ghost-primary" href="javasrcipt:;">{{ 'item_bank_exercise.chapter.exercise.view_btn'|trans }}</a>
          <a id="btn-default" class="cd-btn cd-btn-ghost-primary" href="javasrcipt:;">{{ 'item_bank_exercise.chapter.exercise.again_btn'|trans }}</a>
        {% else %}
          <a id="btn-default" class="cd-btn cd-btn-ghost-primary" href="javasrcipt:;">{{ 'item_bank_exercise.chapter.exercise.start_btn'|trans }}</a>
        {% endif %}
      </div>
    {% else %}
      <div class="col-md-2 content-right">
        <span>0/{{ 'course.testpaper_manage.count'|trans({'%itemCount%': question_num}) }}</span>
      </div>
      <div class="col-md-2 content-right">
        <span>{{ 'item_bank_exercise.accuracy'|trans }}0%</span>
      </div>
      <div class="col-md-3 content-right">
        <a id="btn-default" class="cd-btn cd-btn-ghost-primary" href="javasrcipt:;">{{ 'item_bank_exercise.chapter.exercise.start_btn'|trans }}</a>
      </div>
    {% endif %}
{% else %}
  <div class="col-md-7 content-right">
    {% if question_num %}{{'course.testpaper_manage.count'|trans({'%itemCount%': question_num})}}{% endif %}
  </div>
{% endif %}