{% extends 'activity/activity-form-layout.html.twig' %}

{% do script(['//service-cdn.qiqiuyun.net/js-sdk/uploader/sdk-v1.js', 'libs/perfect-scrollbar.js','app/js/activity-manage/video/index.js']) %}

{% block activity_content %}
  <div class="form-group">
    <div class="col-sm-2 control-label">
      <label for="ext_mediaSource" class="style control-label-required">{{ '视频'|trans }}</label>
    </div>
    <div class="col-sm-10">
      {% include 'file-chooser/file-choose.html.twig' with {mediaType: 'video',fileType:'video',file: activity.ext.file|default(null) } %}
      <input type="hidden" id="ext_mediaSource" name="ext[mediaSource]"
             value="{{ activity.ext.mediaSource|default(null) }}">
    </div>
  </div>
  <div class="form-group for-video-type" id="lesson-length-form-group">
    <div class="col-sm-2 control-label for-video-type">
      <label class="control-label-required">{{ '视频时长'|trans }}</label>
    </div>
    <div class="col-sm-10">
      <input id="mediaId" class="form-control" type="hidden" name="mediaId" value={{ activity.mediaId|default(null) }}>
      <input class="form-control width-150 js-length" id="minute" type="text" name="minute"
             value="{{ activity.minute|default(null) }}"><span class="mhs">{{ '分'|trans }}</span><input
          class="form-control width-150 js-length" id="second" type="text" name="second"
          value="{{ activity.second|default(null) }}">{{ '秒'|trans }}
      <input type="hidden" id="ext_mediaId" name="ext[mediaId]" value="{{ activity.ext.mediaId|default(null) }}">
      <input type="hidden" id="ext_mediaUri" name="ext[mediaUri]" value="{{ activity.ext.mediaUri|default(null) }}">
      <input type="hidden" id="length" name="length" value="{{ activity.length|default(0) }}">
    </div>
  </div>
{% endblock %}

{% block activity_finish %}
  <div class=" form-group">
    <div class="col-sm-2 control-label">
      <label>{{ '完成条件'|trans }}</label>
    </div>
    <div class="col-sm-10">
      <div class="col-sm-4">
        <select id="finish-condition" name="ext[finishType]" class="form-control">
          <option value="end">观看到最后</option>
          <option value="time">观看时长</option>
        </select>
      </div>
    </div>
  </div>

  <div class=" form-group hidden viewLength">
    <div class="col-sm-2 control-label"></div>
    <div class="col-sm-10">
      <div class="col-sm-4 controls">
        <input id="condition-detail" class="form-control" type="text" name="ext[finishDetail]"
               value="{{ activity.ext.finishDetail|default(1) }}">
      </div>
      <div class="col-sm-4 controls">
        <p class="form-control-static">分钟</p>
      </div>
    </div>
  </div>
{% endblock %}