{% extends (course_count(course.courseSetId) > 1 ? 'course' : 'courseset') ~ '-manage/layout.html.twig' %}

{% block title %}{{'course.members_manage.quit_records.content_title'|trans}} - {{ course.title }} - {{ parent() }}{% endblock %}
{% do script(['app/js/course-manage/students/index.js']) %}
{% set side_nav = 'students' %}

{% block main %}
  <div class="panel panel-default">
      <div class="panel-heading">
        {{'course.members_manage.quit_records.content_title'|trans}}
        {% if courseSet.type != 'live' %}
        <div class="pull-right">
          {% if course.status != 'published' %}
            <button class="btn btn-success btn-sm js-publish-course"
              data-url="{{ path('course_set_manage_course_publish', {courseSetId: courseSet.id, courseId: course.id}) }}">
              {{ 'course.members_manage.publish_btn'|trans }}
            </button>
          {% endif %}
      </div>
      {% endif %}
      </div>
      <div class="panel-body">
        {% include 'course-manage/student/panel-nav.html.twig'  with {'panelNav': 'quit'} %}
        {{ render(controller('AppBundle:MemberOperationRecord:showRecord', {targetType: 'course', targetId: course.id, operatType: 'exit'})) }}
      </div>
    </div>
  </div>
{% endblock %}
