{% extends 'TopxiaWebBundle:Theme:edit-modal-layout.html.twig' %}

{% block custom_count %}
  <div class="form-group">
    <label class="col-sm-3 control-label">小组数量设置</label>
    <div class="col-sm-9">
      <select class="form-control width-input-large" name="count">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </div>
  </div>
{% endblock %}

{% block custom_category_count %}
  <div class="form-group">
    <label class="col-sm-3 control-label">{{'是否启用模块'|trans}}</label>
    <div class="col-sm-9 check-box">
      <label class="checkbox-inline">
        <input type="checkbox" name="select1" value={{config.select1}} checked={{config.select1}}>
        {{'热门小组'|trans}}
      </label>
      <label class="checkbox-inline" >
        <input type="checkbox" name="select2" value={{config.select2}} checked={{config.select2}}>
        {{'最新资讯'|trans}}
      </label>
      <label class="checkbox-inline" >
        <input type="checkbox" name="select3" value={{config.select3}} checked={{config.select3}}>
        {{'学员评价'|trans}}
      </label>
      <label class="checkbox-inline" >
        <input type="checkbox"  name="select4" value={{config.select4}} checked={{config.select4}}>
        {{'学员动态'|trans}}
      </label>
    </div>
  </div>
{% endblock %}
