{% extends 'TopxiaWebBundle:Theme:edit-modal-layout.html.twig' %}

{% block custom_count %}{% endblock %}

{% block custom_category_count %}
  <div class="form-group">
    <label class="col-sm-3 control-label">{{'是否启用模块'|trans}}</label>
    <div class="col-sm-9 check-box">
      <label class="checkbox-inline">
        <input type="checkbox" name="select1" value={{config.select1}} checked={{config.select1}}>
        {{'热门小组'|trans}}
      </label>
      <label class="checkbox-inline" >
        <input type="checkbox" name="select2" value={{config.select2}} checked={{config.select2}}>
        {{'最新资讯'|trans}}
      </label>
      <label class="checkbox-inline" >
        <input type="checkbox" name="select3" value={{config.select3}} checked={{config.select3}}>
        {{'学员评价'|trans}}
      </label>
      <label class="checkbox-inline" >
        <input type="checkbox"  name="select4" value={{config.select4}} checked={{config.select4}}>
        {{'学员动态'|trans}}
      </label>
    </div>
  </div>
{% endblock %}

{% block custom_orderby %}{% endblock %}
