{% import "admin/macro.html.twig" as admin_macro %}
{% if is_trial() %}
  <script>
    var _hmt = _hmt || [];
  </script>
  <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
  <div class="col-md-12">
    <div class="alert alert-warning">
      <p>
        &nbsp;&nbsp;{{'admin.homepage.alert.version_expired.welcome'|trans}} 
        <span style="color:#fed032;"> 
          {% if trialTime.endTime is defined %}
            {{trialTime.endTime|date("Y-m-d")}} 
          {% else %} 
            {{'admin.homepage.alert.version_expired.unknown_time'|trans}}
          {% endif %}
        </span> 
        {{'admin.homepage.alert.version_expired.remaining'|trans}} 
        <span style="color:#fed032;">
          {% if trialTime.remainDays is defined %} {{ trialTime.remainDays }} {% else %}{{'unknown'|trans}}{% endif %}
        </span> {{'admin.homepage.alert.version_expired.days'|trans}}
      </p>
      <p>
        &nbsp; {{'admin.homepage.alert.version_expired.contact_our_business_managers'|trans}}{{'admin.homepage.alert.version_expired.phone'|trans}}4008041114 {{'or'|trans}}
        <span>
          <a id="BizQQWPA" href="javascript:" onclick="_hmt.push(['_trackEvent', 'advisory', 'click', 'qq'])" style='text-decoration:none;'>QQ：800023860 </a>。
        </span>
      </p>
    </div>
  </div>

  <script type="text/javascript">
    BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 800023860, selector: 'BizQQWPA'}); 
  </script>
{% else %}
    <div class="col-md-6">
      <div class="panel panel-default panel-150">
        <div class="panel-heading">
          <h3 class="panel-title">{{'admin.homepage.admins_announcements_title'|trans}}</h3>
        </div>
        <div class="panel-body">
          <ul class="admin-notice-list">
          {% for notice in notices %}
            <li>
              <a class="link-primary" href="{{notice.detailUrl}}" target="_blank">{{notice.content}}</a>
              {# <span>{{notice.createdTime|date("Y-m-d H:i:s")}}</span>#}
            </li>
            {% else %}
              <div class="empty">{{ 'admin.homepage.admins_announcements_empty'|trans }}</div>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
{% endif %}