<div class="thread-event-title-bar">
  <span class="label label-success" title="活动">活动</span>
  <h1 class="thread-title">{{ thread.title }}</h1>
  {% if thread.sticky %}
    <span class="label label-danger" title="置顶帖">置顶</span>
  {% endif %}
  {% if thread.nice %}
    <span class="label label-warning" title="精华帖">精</span>
  {% endif %}
</div>

<div>
  <p>时间：{{ thread.startTime|date('Y 年 m 月 d 日 ') ~ '周' ~ dict_text('dateType',thread.startTime|date('N')) ~ thread.startTime|date(' h:i') }}</p>
  <p>地点：{{ thread.location }}</p>
  <p>名额：{{ thread.maxUsers }} 人 （还剩 {{ remainNum }}人）</p>
</div>

{% if member is empty %}
  <button class="btn btn-success btn-sm js-event-apply" data-toggle="modal" data-target="#modal" data-url="{{ path(thread.targetType ~ '_thread_members_become', {threadId:thread.id, (thread.targetType ~ 'Id'):thread.targetId}) }}">我要报名</button>
{% else %}
  <button class="btn btn-success btn-sm js-event-apply disabled" data-toggle="modal" data-target="#modal">已报名</button>
  <button class="btn btn-link js-event-cancel" data-url="{{ path(thread.targetType ~ '_thread_members_quit', {memberId: member.id, threadId:thread.id, (thread.targetType ~ 'Id'):thread.targetId}) }}">取消报名</button>
{% endif %}
