{% if myFriends|default(null) %}
  <div class="joined-frineds">
    <p>好友在参加</p>
    <ul class="user-grids">
      {% for  friend in myFriends %}
        <li style="width:20%;">
          {{ web_macro.user_avatar(friend , 'pull-left media-object media-object-small ')}}
            <p>
            {{ web_macro.user_link(friend , 'link-muted') }}
            </p>
        </li>  
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% if activityMembers|default(null) %}
  <div class="joined-users">
    <p>活动成员（{{ activityMembers|length }}）</p>
    <ul class="user-grids">
      {% for  member in activityMembers %}
        <li style="width:20%;">
          {{ web_macro.user_avatar(users[member['userId']] , 'pull-left media-object media-object-small ')}}
            <p>
            {{ web_macro.user_link(users[member['userId']] , 'link-muted') }}
            </p>
        </li>  
      {% endfor %}
    </ul>
  </div>
{% endif %}