{% extends 'layout.html.twig' %}

{% block body %}
   <div  class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:block">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body task-state-modal">
		        <div class="title font-blod">
		          <i class="es-icon es-icon-iccheckcircleblack24px text-success"></i>
		          {{'考试说明'|trans}}
		        </div>
		        <div class="content">
		          <div class="content-title">
		          	本次考试共<span class="text-success">{{ testpaper.itemCount }}题</span>，总分<span class="text-success">{{ testpaper.score }}分</span>
	          		{% if testpaperActivity.finishCondition.type == 'score' %}
	          			，及格为<span class="text-success">{{ testpaperActivity.finishCondition.finishScore}}分</span>
	          		{% endif %}；<br/>

		          	{% if testpaperActivity.limitedTime %}
		          		请在<span class="text-success">{{ testpaperActivity.limitedTime }}分钟</span>内作答。
		          	{% endif %}
		          </div>
		          
		        </div>
		        <div class="footer text-right">
		          <a class="btn btn-primary" href="{{ path('testpaper_do',{lessonId:activity.id,testId:testpaperActivity.mediaId})}}">{{'开始考试'|trans}}</a>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
{% endblock %}



{#
{% if activity.startTime|default(0) and activity.startTime > "now"|date("U") %}
	<div>
		<span>考试将在{{ activity.startTime|date('Y-m-d H:i:s') }}开始，请到时再来。</span>
	</div>
{% elseif "now"|date("U") > activity.startTime|default(0) and "now"|date("U") <= activity.endTime|default(0)%}
	<div>
		<span>考试已开始，请在{{ activity.endTime|date('H:i:s') }}之前完成考试</span>
		{% if not testpaperResult|default(null) or testpaperResult.status|default('doing') == 'doing' %}
			<a href="javascript:;" class="btn btn-primary btn-sm" data-url="">{{'开始考试'|trans}}</a>
		{% elseif testpaperResult.status|default('doing') == 'reviewing' %}
			<span>{{'正在批阅'|trans}}</span>
		{% else %}
			<a href="javascript:;" class="btn btn-primary btn-sm" data-url="">{{'查看结果'|trans}}</a>
		{% endif %}
	</div>
{% else %}
	
{% endif %}

{% if not testpaperResult|default(null) or testpaperResult.status|default('doing') == 'doing'%}
	<div>
		<span>{{'欢迎参加考试，请点击「开始考试」按钮。'|trans}}</span>
		<a href= class="btn btn-primary btn-sm" target="_blank">{{'开始考试'|trans}}</a>
	</div>
{% else %}
	{% if testpaperResult.status == 'finished' %}
		<a href="javascript:;" class="btn btn-primary btn-sm" data-url="">{{'查看结果'|trans}}</a>
		{% if testpaperActivity.redoInterval > 0 and testpaperResult.checkedTime > ("now"|date("U") + testpaperActivity.redoInterval * 3600 * 1000) or not testpaperActivity.redoInterval %}
			<a href="javascript:;" class="btn btn-primary btn-sm" data-url="">{{'重新考试'|trans}}</a>
		{% else %}
			<span>{{'重考倒计时：'|trans}}{{ testpaperActivity.redoInterval|date('H:i:s') }}</span>
		{% endif %}
	{% elseif testpaperResult.status == 'reviewing' %}
		<a href="javascript:;" class="btn btn-primary btn-sm" data-url="">{{'正在批阅'|trans}}</a>
	{% endif %}
	
{% endif %}#}