<div class="form-group">
  <div class="col-md-2 control-label"><label for="test-percentage-field">生成方式</label></div>
  <div class="col-md-8 controls radios">
       {{ radios('mode', {'rand':'随机生成', 'difficulty':'按难易程度'}, 'rand') }}
  </div>
</div>

<div class="form-group difficulty-form-group hidden">
  <div class="col-md-2 control-label"><label for="test-percentage-field">试卷难度</label></div>
  <div class="col-md-8 controls form-control-static">
      <div class="difficulty-percentage-slider" data-url="{{ path('course_manage_testpaper_create_check',{courseId:course.id})}}"  ></div>
      <div class="help-block">
          <span class="simple-percentage-text"></span>
          <span class="normal-percentage-text"></span>
          <span class="difficulty-percentage-text"></span>
      </div>
  </div>
</div>

<div class="form-group">
  <div class="col-md-2 control-label"><label for="test-range-field">出题范围</label></div>
  <div class="col-md-8 controls radios">
       {{ radios('range', {'course':'整个课程', 'lesson':'按课时范围'}, 'course') }}
       <input type="hidden" name="ranges" value="">
       <div id="test-range-selects" style="display:none; margin-top:8px;">
         <select class="form-control width-input width-input-large" id="test-range-start" >
           {{ select_options(ranges) }}
         </select>
         <span class="text-muted mrs">到</span>
         <select class="form-control width-input width-input-large" id="test-range-end">
           {{ select_options(ranges) }}
         </select>
       </div>
  </div>
</div>


<br />
<div class="test-sort-body">

{% for key,type in dict('questionType') %}
    <div class="form-group type-item">

        <div class="col-md-1 control-label"><label for="test-stem-field"></label></div>

        <div class="form-inline">
            <div class="col-md-10 controls pls">

                <div class="col-md-1 controls ">
                    <button type="button" class="btn btn-link test-sort-handle"><span class="glyphicon glyphicon-move hidden-lt-ie8"></span></button>
                </div>

                <div class="form-control-static pull-left prm">
                    {{type}} 
                </div>

                <div class="form-control-static pull-left plm">题目数量:</div>
                <div class="col-md-2">
                    <input type="text" class="form-control item-number input-sm" data-key="{{key}}" name="count[{{key}}]"  value="0" />
                </div>

                <div class="form-control-static pull-left plm">题目分值:</div>
                <div class="col-md-2">
                  <input type="text" class="form-control item-number input-sm" data-key="{{key}}" name="score[{{key}}]"  value="2" />
                </div>

            </div>
        </div>
    </div>
{% endfor %}

</div>

<input type="hidden" name="percentages[simple]">
<input type="hidden" name="percentages[normal]">
<input type="hidden" name="percentages[difficulty]">

<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">