{% import "macro.html.twig" as web_macro %}
<form class="form-inline well well-sm " action="" method="get" novalidate>
  <div class="form-group col-md-7">
    <input class="form-control" style="width:45%" type="text" placeholder="{{ 'course.members_manage.official_student.input_placeholder'|trans }}" name="keyword" value="{{ app.request.get('keyword') }}">

    <button class="btn btn-primary">{{'form.btn.search'|trans}}</button>
  </div>
  <div class="clearfix"></div>
</form>
<table class="table table-striped" id="quit-record-list">
  <thead>
    <tr>
      <th>{{'course.members_manage.quit_records.name'|trans}}</th>
      <th>{{'course.members_manage.quit_records.date'|trans}}</th>
      <th>{{'退出类型'|trans}}</th>
      <th width="30%">{{'course.members_manage.quit_records.reason'|trans}}</th>
      <th>{{'是否退款'|trans}}</th>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}   
      {% set user = users[record['user_id']] %}
      {% set order = orders[record['order_id']]|default() %}
      <tr>
        <td class="media" style="vertical-align: middle;">
          {{ web_macro.user_avatar(user, 'pull-left', 'avatar-sm') }}
          <a class="link-primary" target="_blank" href="{{ path('user_show', {id:user.id}) }}">{{ user.nickname }}</a>
        </td>
        <td style="vertical-align: middle;">
            {{ record.created_time|date('Y-n-d H:i') }}
        </td>
        <td style="vertical-align: middle;word-break: break-all;">
          {{ dict_text('exit_reason', record.reason_type) }}
        </td>
        <td style="vertical-align: middle;word-break: break-all;">
            {{ record.reason|trans }}
        </td>
        <td style="vertical-align: middle;">
           {% if record.refund_id > 0 %}
              {{ 'member.manage.exit_refund_yes'|trans }}
           {% elseif order['pay_amount']|default() > 0 %}
              {{ 'member.manage.exit_refund_no'|trans }}
           {% else %}
              --
           {% endif %}
        </td>
      </tr>
    {% else %}
      <tr class="empty"><td colspan="20">{{'course.members_manage.quit_records.empty'|trans}}</td></tr>
    {% endfor %}
  </tbody>
</table>
<nav class="text-center">
  {{ web_macro.paginator(paginator) }}
</nav>