{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
  <div class="table-responsive">
    <table class="table table-bordered" style="word-break:break-all;text-align:center;">
        <tr>
          <th>{{ 'log.field.change'|trans }}</th>
          <th>{{ 'log.field.change.before'|trans }}</th>
          <th>{{ 'log.field.change.now'|trans }}</th>
        </tr>
      {% for key,value in oldData %}

        <tr class="active">
          <td>{{ key|trans }}</td>
          <td>{{value}}</td>
          <td>{{ newData[key] }}</td>
        </tr>

      {% endfor %}
    </table>
  </div>
{% endblock %}
