<style>
/*sign css*/

.sign_main {
    position: absolute;
    left: -200px;
    width: 636px;
    background: #F5F8FA;
    display: none;
    margin-top: 10px;
    z-index: 9999;
}

.main{

    width: 318px;

}

.aside{
    border-left: 1px solid #e3e3e3;
    background: #fff;
}

.sign_main .disabled-next {
    cursor: not-allowed;
    color: #999;
}

.sign_main table {
    width: 278px;
    border: 1px solid #e3e3e3;
    border-width: 1px 0;
    background: #fff;
    color: #666;
}

.sign_main thead {
    color: #999;
}

.sign_main table tr td{
    border-bottom: 1px solid #e3e3e3;
}


.sign_main table tbody td {
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}

.sign_main .calendar_title_month {
    height: 40px;
}

.sign_main .today-rank,
.sign_main .signed-number,
.sign_main .keep-days{
    color: #ff7f3e;
}
.sign_main .calendar_title_month span:hover {
    cursor: pointer;
}
.sign_main .title-month {
    font-size: 14px;
    color: #656565;
}

.sign_main .title-margin {
    margin: 10px;
}

.sign_main .signed_day{
    background: url({{file_path('','sign_have_anime.gif')}}) center no-repeat;
}

.sign_main .signed_anime_day{
    background: url({{file_path('','sign_have_anime.gif')}}) center no-repeat;
}
.group-sign {
    cursor: pointer;
    display: inline-block;
    margin: 20px 13px;
    border: 1px solid #ddd;
    background-color: #edfaeb;
    border-radius: 5px;
}

.day {
  cursor: pointer;
}

.group-sign .date-col {
    float: left;
    width: 150px;
    padding-bottom: 10px;
    text-align: center; 
    color: #57c332;
    font-size: 14px;
}

.group-sign .date-col .week {
    margin-top: -15px;
}

.group-sign .date-col .day {
    font-size: 60px;
}

.group-sign .action-col {
    float: left;
    margin: 30px 0;
    width: 150px;
}

.group-sign .action-col .sign-area {
    font-size: 18px;
    color: #fff;
    line-height: 55px;
    text-align: center;
    width: 100px;
    background-color: #57c332;
}

.card{
  background-image: url({{file_path('','card.png')}});
  background-position: -90px 0px;
  background-repeat: no-repeat;
  position: absolute;
  left: 15px;
  top: 105px;
  width: 80px;
  height: 60px;
}
.sign_tip{
  padding: 18px 0 0 120px;
  font-size: 14px;
  color: #666;
  line-height: 22px;
}

.buy a{
  color: #428bca;
}
</style>
<div class="panel panel-default">
  <div class="panel-body">

  <div class="row col-md-12">

  <div id="group-sign"  data-records="{{ path('signed_records', {'groupId':groupinfo.id})}}" data-signurl="{{path('group_sign',{groupId:groupinfo.id})}}" data-repairSignUrl="{{path('sign_repair',{groupId:groupinfo.id})}}">

      <div class="media" id="group-sign" data-signurl="{{path('group_sign',{groupId:groupinfo.id})}}">
        <div  class="sign-area" {% if not isSignedToday or is_groupmember == 0 %} data-role="sign" {% else %} data-role="signed" onclick="return false;" {% endif %} >
     {% if not isSignedToday or is_groupmember == 0 %}
        <a class="btn btn-info btn-lg pull-left" style="width:100px;font-size:25px;" > 签 到 </a>
        <div class="media-body pll">
        <h4 class="media-heading pts">{{ 'now' | date('m') }}月{{ 'now' | date('d') }}号</h4>
         星期{{week}}
        </div>
      {% else %}
      <a class="btn btn-info btn-lg pull-left disabled" style="width:100px;font-size:12px;text-align:left;">已签到 
      <br>连续{{userSignStatistics.keepDays}}天</a>
      <div class="media-body pll">
      <h4 class="media-heading pts">{{ 'now' | date('m') }}月{{ 'now' | date('d') }}号</h4>
      漏签<span style="color:red;">{{notSign}}</span>天
    </div>
    {% endif %}
  </div>
   

  </div>
  {% if isSignedToday %}
  <div class="sign_main row" style="display:none">
    <div class="main col-xs-6">
      <div class="">
        <div class="calendar_title_month clearfix mbm">
          <span class="pull-left glyphicon glyphicon-chevron-left title-margin" data-role="previous"></span>
          <span class="pull-right glyphicon glyphicon-chevron-right title-margin disabled-next" data-role="next"></span>
          <div class="text-center title-month title-margin" data-time="{{ "now"|date('Y/m') }}" id="title-month">{{ "now"|date('Y年m月') }}
          </div>
        </div>
        
        <table class="sign_succ_table ">
          <thead align="center">
            <tr class="sign_succ_canlerdar_head">
              <td>日</td><td>一</td><td>二</td><td>三</td><td>四</td><td>五</td><td>六</td>
            </tr>
          </thead>
          <tbody align="center" class="sign_succ_canlerdar_days j_canlerdar_days">

          </tbody>
        </table>
      </div>
      <div class="sign_tip_boards">
        <div class="mlm mtl" style="margin-top:40px;">
          <p class=" text-muted"><i class="icon-user-md"></i> 签到排名：今日本小组第<span class="today-rank"></span>个签到</p>
        </div>
        <div class="mlm">
          <p class=" text-muted"><i class=" icon-signal"></i> 今日签到人数：<span class="signed-number"></span></p>
        </div>
        <div class="mlm mbl">
          <p class=" text-muted"><i class="icon-flag"></i> 连续签到：<span class="keep-days"></span>天</p>
        </div>
      </div>
    </div>
    <div class="aside col-xs-6">

        <div class="text-left mtm" >亲爱的{{ web_macro.user_link(app.user, 'link-muted ') }}:
          <span class="pull-right">每日签到奖励<span style="color:red;">{{setting('group').daySign|default(0)}}</span>{{setting('coin').coin_name}}</span>
        </div>
        <hr>
        <div class="mtl mbl">本月漏签:<span style="color:red;">{{notSign}}</span>天
        <a class="card" ><span class="sign_num"><span class="j_rpln_card_count"></span></span></a>
        <div class="sign_tip">本月补签卡:<span style="color:red;">{{userLevel.signInCards|default(0)}}</span>张
          <br>已使用:<span style="color:red;">{% if canUseCard.cardNum|default(0) %}{{ userLevel.signInCards|default(0) - canUseCard.cardNum }}{% else %}{{userLevel.signInCards|default(0)}}{% endif %}</span>张
        </div>

        </div>
        <div class="mtl">
        点击漏签日期进行补签
        <br><br>
        连续签到:<span style="color:red;">{{userSignStatistics.keepDays|default(0)}}</span>天
        <span class="pull-right">累计签到:<span style="color:red;">{{signDay}}</span>天</span>
        <hr>
        </div>

        <div class="mtl mbl">
        {% for vipLevel in vipLevels %}
        <span style="color:red;">{{vipLevel.name}}</span>:每月<span style="color:red;">{{vipLevel.signInCards|default(0)}}</span>张补签卡,连续签到一周奖励<span style="color:red;">{{vipLevel.signReward|default(0)}}</span>{{setting('coin').coin_name}}<br>
        {% endfor %}
        </div>

        <div class="buy mbl">
        <a href="#" >查看详细规则</a>
        <a href="{{path('vip')}}" class="pull-right" target="blank">{% if status == "false" %}购买会员{% else %}升级会员{% endif %}</a>
 
        </div>
    </div>
  </div>
{% endif %}
</div>
  </div>

 
  </div>
</div>
 
