<tr>
  <td>
    <a class="link-primary" href="{% if status == 'reviewing' %}{{ path('course_manage_testpaper_check', {id:paperResult.courseId,resultId:paperResult.id}) }}{% elseif status == 'finished' %}{{ path('testpaper_result_show', {resultId:paperResult.id,source:source|default('course'),targetId:targetId|default(0)}) }}{% endif %}" target="_blank">{{ testpaper.name|plain_text(60) }}</a>
    <br>
    <small class="color-gray">
      {% if courseSet|default(null) %}
        {{ 'my.teaching.testpaper.target_course'|trans }}<a class="color-primary" href="{{ path('course_show',{id: courseSet.defaultCourseId}) }}">《{{courseSet.title|default('')}}》</a> •
      {% endif %}
      {% if course|default(null) %}
        {{ 'my.teaching.testpaper.course_task'|trans }}<a class="color-primary" href="{{ path('course_show',{id:course.id}) }}">《{{ course.title|default('') }}》</a>
      {% endif %}
    </small>
    <small class="color-gray mhs">•</small>
    <small class="color-gray">{{'my.teaching.testpaper.detail'|trans({'%score%':testpaper.score,'%itemCount%':testpaper.itemCount})}}</small>
  </td>
  <td width="20%" class="vertical-middle">
    {{ web_macro.user_link(student) }} <br>
    <small class="color-gray">{{ paperResult.endTime|date("Y-n-d H:i") }} {{'my.teaching.testpaper.submit'|trans}}</small>
  </td>
  <td width="30%" class="vertical-middle">
    {% if status == 'reviewing' and (not isTeacher is defined or isTeacher) %}
      <a class="link-primary" href="{{ path('course_manage_testpaper_check', {id:paperResult.courseId,resultId:paperResult.id,source:source|default('course'),targetId:targetId|default(0)}) }}" target="_blank">{{'my.teaching.testpaper.check'|trans}}</a>
    {% endif %}

    {% if status == 'finished' %}
      <div>
        <div class="text-warning">
          {{'my.teaching.testpaper.answer_detail'|trans({'%totalCount%': paperResult.score, '%objectiveScore%': paperResult.objectiveScore, '%subjectiveScore%': paperResult.subjectiveScore, '%teacherName%': teacher.nickname|default('my.teaching.testpaper.default_teacher'|trans), '%checkTime%': paperResult.checkedTime|date('site.date_format_H_i'|trans)})|raw}}
        </div>
      </div>
    {% endif %}
  </td>
</tr>
