<div id="hot-sale-courses" class="cart-courses course-grids">
  {% for course in hotSaleCourses %}
    <li class="course-grid item-course">
      <div class="thumb-img-background" align=center>
        <a href="{{ path('course_show', {id:course.id}) }}" target="_blink">
          <img src="{{ default_path('coursePicture',course.smallPicture, '') }}" width=100%>
        </a>
      </div>
      <h4><strong><span class="text-danger">  ¥ </span><span data-role="total-price" class="text-danger">{{ course.price }}</span></strong></h4>
      <div class="courseware-thumb-title">{{ course.title|plain_text(25) }}</div>
    </li>
  {% endfor %}
</div>

<div id="favorited-courses" class="cart-courses course-grids hide">
  {% for favoritedCourse in favoritedCourses %}
    <li class="course-grid item-course">
      <div class="thumb-img-background" align=center>
        <a href="{{ path('course_show', {id:FavoritedCourse.id}) }}" target="_blink">
          <img src="{{ default_path('coursePicture',FavoritedCourse.smallPicture, '') }}" width=100%>
        </a>
      </div>
      <div class="courseware-thumb-title">{{ FavoritedCourse.title|plain_text(25) }}</div>
    </li>
  {% endfor %}
</div>