{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %} {{user.nickname}}的公共主页 - {{ parent() }}{% endblock %}

{% set bodyClass = 'userpage' %}
{% set pageNav = pageNav|default(null) %}

{% set script_controller = 'user/user' %}

{% block content %}

{{ render(controller('CustomWebBundle:Carts:list')) }}

<div class="es-row-wrap container-gap userpage-body">
  <ul class="nav nav-pills userpage-nav clearfix">
    <li {% if pageNav == 'hotSale' %}class="active"{% endif %}><a href="{{ path('hot_sale_courses') }}">热卖课程</a></li>
    <li {% if pageNav == 'favorited' %}class="active"{% endif %}><a href="{{ path('user_favorited_courses') }}">收藏的课程</a></li>
  </ul>

  {% block main %}{% endblock %}

</div>

{% endblock %}