<tr data-role="cart-tr-{{cart.id}}" class="cart-tr">
    <td><input type="checkbox" data-role="single-select" data-id={{ cart.id }}></td>
    <td>
        <div class="clearfix course-header">
            <a href="{{ path('course_show', {id:course.id}) }}">
                <img class="picture" src="{{ default_path('coursePicture',course.largePicture, '') }}" />
            </a>
            <a class="title">{{ course.title }}</a>
            <div class="teachers">
              {% if course.teacherIds|default(null) %}
                教师：
                {% for id in course.teacherIds %}
                  {% set user = users[id] %}
                  <a href="#modal" data-toggle="modal" data-url="{{ path('course_teacher_info',  {courseId:course.id, id:user.id}) }}">{{ user.nickname }}</a>
                {% endfor %}
              {% endif  %}
            </div>
        </div>

    </td>
    <td data-role="price" class="text-danger">{{ course.price }}</td>
    <td>
        <a href="#" class="btn btn-link">
            <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" data-role="delete-carts-btn" title="删除" data-url="{{ path('carts_delete',{id:cart.id})}}" data-id={{ cart.id }}></span>
        </a>

        <a href="#" class="btn btn-link">
            <span class="glyphicon glyphicon-bookmark"　data-toggle="tooltip" data-placement="top" data-role="favourite" title="收藏"></span>
        </a>
    </td>
</tr>