<div>
  {% if carts %}
  <div>
    <ul class="carts-popover-list">
      {% for cart in carts %}
      {% set course = courses[cart.itemId] %}
      <li class="carts-item clearfix">
        <a href="{{ path('course_show', {id:course.id}) }}" class="course-popover pull-left" target="_blink">
          <img src="{{ default_path('coursePicture',course.smallPicture, '') }}">
        </a>

        <span class="pull-right">
          <div class="price-count">{{ course.price }}元</div>
          <div class="carts-item-delete">
            <a href="javascript:;">删除</a>
          </div>
        </span>

        <a href="{{ path('course_show', {id:course.id}) }}" target="_blink">
          <span class="apply-name">{{ course.title }}</span>
        </a>
        <div class="apply-version">教师：{# {{ teacher.nickname }} #}</div>
      </li>
      {% endfor %}
    </ul>
  </div>
    <a href="javascript:;" class="btn btn-danger btn-xs pull-right">去购物车结算</a>
  {% else %}
    您的购物车还是空的，赶紧行动吧！
  {% endif %}
</div>

<script>app.load('customwebbundle/controller/carts/show-popover')</script>