{% if carts %}
<div class="carts-popover">
  <ul class="carts-popover-list">
    {% for cart in carts %}
    {% set course = courses[cart.itemId] %}
    <li class="carts-item clearfix">
      <a href="{{ path('course_show', {id:course.id}) }}" class="course-popover" target="_blank">
        <img src="{{ default_path('coursePicture',course.smallPicture, '') }}">
      </a>

      <span class="pull-right carts-text">
        <div class="price-count">{{ course.price }}元</div>
        <div class="carts-item-delete" data-url="{{ path('carts_delete', {id:cart.id}) }}">
          <a href="javascript:;" class="carts-text-delete">删除</a>
        </div>
      </span>

      <a href="{{ path('course_show', {id:course.id}) }}" target="_blank">
        <span class="apply-name">{{ course.title|plain_text(5) }}</span>
      </a>
      <div class="popover-teachers">
        {% if course.teacherIds|default(null) %}
          教师：
          {% for id in course.teacherIds %}
            {% set user = users[id] %}
            <a href="{{ path('user_show',  {id:user.id}) }}" target="_blank">{{ user.nickname }}</a>
          {% endfor %}
        {% endif  %}
      </div>
    </li>
    {% endfor %}
  </ul>
  <a href="{{ path('carts_list') }}" class="btn btn-danger btn-xs pull-right" target="_blank" style="margin-bottom:5px">去购物车结算</a>
</div>
{% else %}
  <div class="popover-empty">您的购物车还是空的，赶紧行动吧！<a href="{{ path('homepage') }}" target="_blank">去首页看看</a></div>
{% endif %}


<script>app.load('customwebbundle/controller/carts/show-popover')</script>