{% if carts %}
<div class="carts-popover">
  <ul class="carts-popover-list">
    {% for cart in carts %}
    {% set course = courses[cart.itemId] %}
    <li class="carts-item clearfix">
      <a href="{{ path('course_show', {id:course.id}) }}" class="course-popover" target="_blank">
        <img src="{{ default_path('coursePicture',course.smallPicture, '') }}">
      </a>
      <span class="pull-right carts-text">
        <div class="price-count"><span class="course-price" >{{ course.price }}</span>元</div>
        <div class="carts-item-delete" data-url="{{ path('carts_delete', {id:cart.id}) }}">
          <a href="javascript:;" class="carts-text-delete">删除</a>
        </div>
      </span>
      <div>
        <a class="course-title" href="{{ path('course_show', {id:course.id}) }}" target="_blank">
          <span>{{ course.title|plain_text(8) }}</span>
        </a>
        <div class="popover-teachers">
          {% if course.teacherIds|default(null) %}
            教师：
            {% for id in course.teacherIds %}
              {% set user = users[id] %}
              <a href="{{ path('user_show',  {id:user.id}) }}" target="_blank">{{ user.nickname }}</a>
            {% endfor %}
          {% endif  %}
        </div>        
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="pull-right">
    <div class="carts-popover-info">共 <strong><span class="text-danger" id="count"> {{ cartsCount() }} </span></strong> 件商品 &nbsp;&nbsp; 总计<strong><span class="text-danger">  ¥<span id="price">{{ totalPrice }}</span> </span></strong>元</div>
    <a href="{{ path('carts_list') }}" class="btn btn-danger btn-xs pull-right carts-popover-btn" target="_blank">购物车结算</a>
  </div>
</div>
{% else %}
  <div class="popover-empty">您的购物车还是空的，赶紧行动吧！<a href="{{ path('homepage') }}" target="_blank">去首页看看</a></div>
{% endif %}


<script>app.load('customwebbundle/controller/carts/show-popover')</script>