<!-- 侧边栏快捷操作 -->

  <div class="es-bar visible-lg">
    <div class="es-bar-menu">
      <ul class="bar-menu-top">
        {% set recentLiveLessons = data('RecentLiveLessons',{userId : app.user.id}) %}
        <li data-id="#bar-user-center" class="bar-user">
          <a href="javascript:;">学<br>习<br>中<br>心
            {% if recentLiveLessons %}
            <span class="dot"></span>
            {% endif %}
          </a>
        </li>
        <li data-id="#bar-course-list" data-toggle="tooltip" data-placement="left" title="我的课程/班级"><a href="javascript:;" ><i class="es-icon es-icon-book"></i></a></li>
        {#<li data-id="#bar-history" data-toggle="tooltip" data-placement="left" title="学习历史"><a href="javascript:;"><i class="es-icon es-icon-accesstime"></i></a></li>#}
        <li data-id="#bar-homework" data-toggle="tooltip" data-placement="left" title="考试/作业"><a href="javascript:;"><i class="es-icon es-icon-edit"></i></a></li>
        <li data-id="#bar-message" data-toggle="tooltip" data-placement="left" title="通知"><a href="javascript:;"><i class="es-icon es-icon-notifications"></i></a></li>
      </ul>
      <ul class="bar-menu-sns">
        {% if setting('consult.enabled', 0) and (consultDisplay|default(false)) %}
          {% set consult = setting('consult') %}
          {% set break = 0 %}
          {% for qq in consult.qq if qq.name is not empty or consult.qqgroup[0].name is not empty and break == 0 %}
            <li class="popover-btn bar-qq-btn" data-container=".bar-qq-btn" data-title="QQ客服及QQ群" data-content-element="#bar-qq-content">
              <a href="javascript:;"><i class="es-icon es-icon-qq"></i></a>
            </li>
            {% set break = 1 %}
          {% endfor %}
          {% set break = 0 %}
          {% for phone in consult.phone if phone.name is not empty or consult.worktime is not empty or consult.email is not empty  and break == 0 %}
            <li class="popover-btn bar-phone-btn" data-container=".bar-phone-btn" data-title="电话客服" data-content-element="#bar-phone-content">
              <a href="javascript:;"><i class="es-icon es-icon-phone"></i></a>
            </li>
            {% set break = 1 %}
          {% endfor %}

          {% if consult.webchatURI is not empty %}
          <li class="popover-btn bar-weixin-btn" data-container=".bar-weixin-btn" data-title="微信公众号" data-content-element="#bar-weixin-content">
            <a href="javascript:;"><i class="es-icon es-icon-weixin"></i></a>
          </li>
          {% endif %}
        {% endif %}
        <li data-toggle="tooltip" data-placement="left" title="手机端">
          <a href="http://demo.edusoho.com/mobile" target="_blank"><i class="es-icon es-icon-phone1"></i></a>
        </li>
        <li class="go-top" data-toggle="tooltip" data-placement="left" title="回到顶端"><a href="javascript:;"><i class="es-icon es-icon-keyboardarrowup"></i>TOP</a></li>
      </ul>
    </div>

      <!-- 通知 -->
      <div class="es-bar-main" id="bar-message">
      <div class="bar-main-header">
        <a href="javascript:;" class="js-bar-shrink pull-left link-light" id="bar-message-btn" data-url="{{ path('esbar_my_notify') }}"><i class="es-icon es-icon-arrowforward"></i></a>
        通知
      </div>
      <div class="bar-main-wrap">
        <div class="bar-main-body">
          <div class="bar-message">

          </div>
        </div>
      </div>
    </div>

      <!-- 考试/作业 -->
      <div class="es-bar-main" id="bar-homework">
      <div class="bar-main-header">
        <a href="javascript:;" class="js-bar-shrink pull-left link-light" id="bar-practice-btn" data-url="{{ path('esbar_my_practice',{status:'reviewing'}) }}"><i class="es-icon es-icon-arrowforward"></i></a>
        考试/作业
      </div>
      <div class="bar-main-body">
        <div class="btn-action">
          <a href="javascript:;" data-url="{{ path('esbar_my_practice',{status:'reviewing'}) }}" class="btn btn-primary active" id="bar-practice-review">已提交</a>
          <a href="javascript:;" data-url="{{ path('esbar_my_practice',{status:'finished'}) }}" class="btn btn-primary" id="bar-practice-finish"><span>已批阅<i class="dot-md"></i></span></a>
        </div>
        <ul class="bar-homework">

        </ul>
      </div>
    </div>

      <!-- 课程/班级 -->
      <div class="es-bar-main" id="bar-course-list">
      <div class="bar-main-header">
        <a href="javascript:;" class="js-bar-shrink pull-left link-light"><i class="es-icon es-icon-arrowforward"></i></a>
        课程/班级
      </div>
      <div class="bar-main-body">
        <div class="btn-action">
          <a href="javascript:;" data-url="{{ path('esbar_my_learn',{type:'course'}) }}" class="btn btn-primary active" id="bar-course-btn">课程</a>
          <a href="javascript:;" data-url="{{ path('esbar_my_learn',{type:'classroom'}) }}" class="btn btn-primary" id="bar-classroom-btn">班级</a>
        </div>
        <div id="bar-my-course">

        </div>
      </div>
      </div>
      <!-- 学习中心 -->
      <div class="es-bar-main" id="bar-user-center">
      <div class="bar-main-header">
        <a href="javascript:;" class="js-bar-shrink pull-left link-light" ><i class="es-icon es-icon-arrowforward"></i></a>
        学习中心
      </div>
      <div class="bar-main-body">
        <div class="bar-user-center">
          <a href="{{ path('user_show',{id:app.user.id}) }}" ><img class="avatar-md" src="{{ filepath(app.user.largeAvatar, 'avatar.png') }}"></a>
          <p>{{ app.user.nickname }}</p>
        </div>

        <div class="text-line gray small">
          <h5><span>预告板</span></h5>
          <div class="line"></div>
        </div>

        <ul class="bar-preview">
          {% if recentLiveLessons %}
            {% for recentLiveLesson in recentLiveLessons %}
              <li>
                <p class="text-overflow"><i class="es-icon es-icon-calendar"></i><a class="link-light" href="{{ path('course_learn', {id:recentLiveLesson.courseId}) ~ '#lesson/' ~ recentLiveLesson.id }}">{{ recentLiveLesson.title }}</a></p>
                <p class="date">{{ recentLiveLesson.startTime|date('Y-m-d H:i:s') }}</p>
              </li>
            {% endfor %}
          {% else %}
            <li>
              <p class="text-overflow"><i class="es-icon es-icon-calendar"></i>暂无直播课</p>
            </li>
          {% endif %}
        </ul>


        <div class="text-line gray small">
          <h5><span>学习任务</span></h5>
          <div class="line"></div>
        </div>

        {{ render(controller('TopxiaWebBundle:EsBar/EsBar:studyPlan',{userId:app.user.id} )) }}

      </div>
    </div>

      <!-- 学习历史 -->
    {#<div class="es-bar-main" id="bar-history">
      <div class="bar-main-header">
        <a href="javascript:;" class="js-bar-shrink pull-left link-light" data-url="{{ path('esbar_my_history') }}" id="bar-my-history"><i class="es-icon es-icon-arrowforward"></i></a>
        学习历史
      </div>
      <div class="bar-main-body" id="bar-history-list">

      </div>
    </div>#}
    {% if setting('consult.enabled', 0) and (consultDisplay|default(false)) %}

      <div class="bar-popover-content" style="display:none;">
      <div id="bar-qq-content">
        <div class="row mtm">
          {% for qq in consult.qq if qq.name is not empty %}
            <div class="col-xs-6 mbm">
              <a class="link-light" href="http://wpa.qq.com/msgrd?v=3&uin={{ qq.number }}&site=qq&menu=yes" target="_blank"><img class="mrs" src="http://wpa.qq.com/pa?p=2:{{ qq.number }}:52" alt="" title="点击这里给我发消息" alt="">
                {{ qq.name }}
              </a>
            </div>
          {% endfor %}
        </div>
        <hr>
        <div class="row">
          {% for qqgroup in consult.qqgroup if qqgroup.name is not empty %}
            <div class="col-xs-6 mbm">
              <p>{{qqgroup.name}} </p>
              <p>{{qqgroup.number}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
      <div id="bar-phone-content">
        {% if consult.worktime is not empty %}
          <p class="mtl"><i class="es-icon es-icon-notificationson mrm"></i>工作时间： {{ consult.worktime }}</p>
        {% endif %}
        {% for phone in consult.phone if phone.name is not empty %}
          <p class="mtl"><i class="es-icon es-icon-phone mrm"></i>{{ phone.name }}： {{ phone.number }}</p>
        {% endfor %}
        {% if consult.email is not empty %}
          <p class="mtl"><i class="es-icon es-icon-mail mrm"></i>邮箱： <a class="link-light" href="mailto:{{consult.email}}">{{consult.email}}</a></p>
        {% endif %}
      </div>
      {% if consult.webchatURI is not empty %}
        <div id="bar-weixin-content">
          <img class="img-responsive" src="{{ asset(consult.webchatURI) }}" alt="">
        </div>
      {% endif %}
    </div>
    {% endif %}

  </div>


  {% block modal %}
    <div id="modal" class="modal"></div>
  {% endblock %}