

{% if type == 'course' %}
  {% if courses %}
    <!-- 课程 -->
    <div class="course-list">
      {% for course in courses %}
        <div class="course-item">
          <div class="course-img">
            <a href="{{ path('course_show', {id:course.id}) }}">
              <img class="transform img-responsive" src="{{ filepath(course.middlePicture, 'course.png') }}">
            </a>
          </div>
          <div class="progress progress-sm">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ course.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ course.percent }}%" data-toggle="tooltip" data-placement="right" title="" data-original-title="40%">
            </div>
          </div>
          <div class="course-info">
            <div class="title">
              <a href="{{ path('course_show', {id:course.id}) }}">
                {{ course.title }}
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% elseif type == 'classroom' %}
  {% if classrooms %}
  <!-- 班级 -->
  <div class="recommend-class-list">
    {% for classroom in classrooms %}
      <div class="class-item">
        <a href="{{ path('classroom_show',{id:classroom.id}) }}">
          <img class="img-responsive" src="{{ filepath(classroom.middlePicture, 'classroom.png') }}" alt="{{ classroom.title }}">
          <h3>{{ classroom.title }}</h3>
          <div class="image-overlay"></div>
        </a>
      </div>
    {% endfor %}
  </div>
  {% endif %}
{% else %}
  <span class=""></span>未开始学习任何课程或班级。<a href="{{ path('course_explore') }}">去逛逛>></a>
{% endif %}
