{% if classrooms or courses %}
  {% for classroom in classrooms %}
    <div class="bar-task">
      <div class="bar-task-header">
        {{ classroom.title }}
        {{ classroom.learnedLessonNum ~ '/' ~ classroom.allLessonNum }}
      </div>

      <ul class="bar-time-line">
        {% if classroom['lessons'] %}
          {% for lesson in classroom['lessons'] %}
            {% set status = lesson.isLearned %}
            {% if status %}
              <li><span class="es-icon es-icon-doing"></span><a class="link-light" href="{{ path('course_learn', {id:lesson.courseId}) ~ '#lesson/' ~ lesson.id }}">{{ lesson.title }}</a></li>
            {% else %}
              <li><span class="es-icon es-icon-undone"></span><a class="link-light" href="{{ path('course_learn', {id:lesson.courseId}) ~ '#lesson/' ~ lesson.id }}">{{ lesson.title }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  {% endfor %}
  {% for course in courses %}
    <div class="bar-task">
      <div class="bar-task-header">
        {{ course.title }}
        {{ course.learnedLessonNum ~ '/' ~ course.allLessonNum }}
      </div>

      <ul class="bar-time-line">
        {% if course['lessons'] %}
          {% for lesson in course['lessons'] %}
            {% set status = lesson.isLearned %}
            {% if status %}
              <li><span class="es-icon es-icon-doing"></span><a class="link-light" href="{{ path('course_learn', {id:lesson.courseId}) ~ '#lesson/' ~ lesson.id }}">{{ lesson.title }}</a></li>
            {% else %}
              <li><span class="es-icon es-icon-undone"></span><a class="link-light" href="{{ path('course_learn', {id:lesson.courseId}) ~ '#lesson/' ~ lesson.id }}">{{ lesson.title }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  {% endfor %}
{% else %}
  <span class=""></span>暂未发现还有未学习课时。<a href="{{ path('course_explore') }}">去逛逛>></a>

{% endif %}
