{% if courses %}

<div class="es-panel related-courese">
  <div class="panel-heading clearfix">相关课程<span class="course-icon"></span></div>
  <div class="panel-body">
    <div class="home-course-list row">
       {% set key = 0 %}
       {% for course in courses %}
        {% if key < 3 and currentCourse.id != course.id %}
        {% set key = key + 1 %}
          <div class="course-item col-sm-4">
            <div class="course-img">
              <a href="{{ path('course_show', {id:course.id}) }}"><img class="img-responsive" src="{{ filepath(course.largePicture, 'course.png') }}" /></a>
            </div>
            <div class="course-caption">
              <div class="title"><a href="{{ path('course_show', {id:course.id}) }}">{{ course.title }}</a></div>
              <div class="metas clearfix">
                  {% set courseDetail=data('Course',{courseId:course.id}) %}
                <span class="teacher-name">{{courseDetail['teachers'][1].nickname}}</span>
                <span class="student-mun">{{ course.studentNum }}人报名</span>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
     
    </div>
  </div>
</div> 
{% endif %}