{% extends 'MaterialLibBundle:Admin:layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('bundles/materiallib/css/admin.css') }}" rel="stylesheet" />  
{% endblock %}

{% set menu = 'admin_material_lib_stats' %}
{% do load_script('materiallibbundle/controller/admin/stats') %}

{% block main %}
<div id="materiallib-stats" class="materiallib-stats">
  <form class="form-inline" id="search-form">
    <span>上传时间:</span>
    <div class="form-group ">
      <input class="form-control" type="text" id="startDate" name="startDate" value="{{ app.request.query.get('startDate') }}" placeholder="起始时间">
      -
      <input class="form-control" type="text" id="endDate" name="endDate" value="{{ app.request.query.get('endDate') }}" placeholder="结束时间">
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-sm">查询</button>
    </div>
  </form>

  <div class="stats-summary row">

    <div class="col-md-6 piece border-sm-right border-sm-bottom active" data-target="#total-chart">
      <div class="col-md-6 quantum">
        <p class="text-muted p-text">存储空间使用</p>
        <p class="p-text number">{{ stats.storage.space.total }}GB</p>
      </div>
      <div class="col-md-6 quantum">
        <p class="text-muted p-text">流量共计使用</p>
        <p class="p-text number">{{ stats.storage.transfer.total }}GB</p>
      </div>
    </div>

    <div class="col-md-6 piece border-sm-left border-sm-bottom" data-target="#video-chart">
      <div class="col-md-6 quantum">
        <p class="text-muted p-text">视频播放次数</p>
        <p class="p-text number">{{ stats.video.views.total }}</p>
      </div>
      <div class="col-md-6 quantum">
        <p class="text-muted p-text">视频播放时长(分钟)</p>
        <p class="p-text number">{{ stats.video.duration.total }}</p>
      </div>
    </div>

    <div class="col-md-6 piece border-sm-right border-sm-top" data-target="#audio-chart">
      <div class="col-md-6 quantum">
        <p class="text-muted p-text">音频播放次数</p>
        <p class="p-text number">{{ stats.audio.views.total }}</p>
      </div>
      <div class="col-md-6 quantum">
        <p class="text-muted p-text">音频播放时长(分钟)</p>
        <p class="p-text number">{{ stats.audio.duration.total }}</p>
      </div>
    </div>

    <div class="col-md-6 piece border-sm-left border-sm-top" data-target="#document-chart">
      <div class="col-md-6 quantum">
        <p class="text-muted p-text">文档阅读次数</p>
        <p class="p-text number">{{ stats.document.doc.total }}</p>
      </div>
      <div class="col-md-6 quantum">
        <p class="text-muted p-text">PPT阅读次数</p>
        <p class="p-text number">{{ stats.document.ppt.total }}</p>
      </div>
    </div>

  </div>

  <div class="chart active" id="total-chart">
    <div class="pie-container row"> 
      <div class="col-md-6 left">
        <div class="pie space-pie" id="space-pie-chart" data-data="{{ space|json_encode }}">
        </div>
      </div>
      <div class="col-md-6 right">
        <div class="pie flow-pie" id="flow-pie-chart" data-data="{{ flow|json_encode }}"> 
        </div>
      </div>
    </div>

    <div class="line-container row">
      <div class="col-md-12 container">
        <div class="line total-line" id="total-line-chart" data-date="{{ date|json_encode }}" data-data1="{{ data1|json_encode }}" data-data2="{{ data2|json_encode }}" data-title1="存储空间" data-title2="流量" data-ytitle1="存储空间(G)" data-ytitle2="流量(G)">
        </div>
      </div>
    </div>
  </div>
  

  <div class="chart" id="video-chart">
    <div class="line-container row">
      <div class="col-md-12 container">
        <div class="line total-line" id="video-line-chart" data-date="{{ date|json_encode }}" data-data1="{{ data1|json_encode }}" data-data2="{{ data2|json_encode }}" data-title1="视频播放次数" data-title2="视频播放时长" data-ytitle1="播放次数" data-ytitle2="播放时长(分钟)">
        </div>
      </div>
    </div>
  </div>

  <div class="chart" id="audio-chart">
    <div class="line-container row">
      <div class="col-md-12 container">
        <div class="line total-line" id="audio-line-chart" data-date="{{ date|json_encode }}" data-data1="{{ data1|json_encode }}" data-data2="{{ data2|json_encode }}" data-title1="音频播放次数" data-title2="音频播放时长" data-ytitle1="播放次数" data-ytitle2="播放时长(分钟)">
        </div>
      </div>
    </div>
  </div>

  <div class="chart" id="document-chart">
    <div class="line-container row">
      <div class="col-md-12 container">
        <div class="line total-line" id="document-line-chart" data-date="{{ date|json_encode }}" data-data1="{{ data1|json_encode }}" data-data2="{{ data2|json_encode }}" data-title1="文档阅读次数" data-title2="PPT阅读次数" data-ytitle1="阅读次数" data-ytitle2="阅读次数">
        </div>
      </div>
    </div>
  </div>

</div>

  


  
{% endblock %}