{% for material in materials %}
  <tr>
    <td>
      <div>
        <div class="pull-left" style="width:50%">
          <a href="">
            <img style="width:90%" src="{{ asset(material.thumbnail) }}">
          </a>
        </div>
        <div class="pull-right" style="width:50%">
          <p>{{ material.name }}</p>
          <p>{{ material.createdTime|date('Y-m-d H:i:s') }}</p>
        </div>
      </div>
    </td>

    <td>
      {{ material.views }}
    </td>
    <td>
      {{ dict_text('fileType', material.type) }}
    </td>    
    <td>
      {{ material.size|file_size }}
    </td>
    <td>
      <span class="label 
        {% if material.processStatus == 'ok' %}
          label-success
        {% elseif material.processStatus == 'waiting' %}
          label-info
        {% elseif material.processStatus == 'processing' %}
          label-primary
        {% elseif material.processStatus == 'error' %}
          label-danger
        {% else %}
          label-warning
        {% endif %}
      ">
        {{ dict_text('processStatus', material.processStatus) }}
      </span>
      
    </td>

    <td>
      <div class="btn-group">
        <a type="button" class="btn btn-default js-detail-btn" href="javascript:;" data-url="{{ path('material_detail', {globalId:material.no}) }}">详情</a>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">下载</a></li>
          <li><a href="#">删除</a></li>
          <li><a href="#">编辑</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">查看引用</a></li>
        </ul>
    </td>
  </tr>
{% else %}
  <tr>
    <td class="empty" colspan="10" style="color:#999;padding:80px;">没有搜索到任何资源......</td>
  </tr>
{% endfor %}

<tr class="hide">
  <td class="js-paginator">
    {% if paginator.lastPage > 1 %}
      <ul class="pagination">
        {% if paginator.currentPage != paginator.firstPage %}
          <li data-page="{{paginator.firstPage}}"><a  href="javascript:;">首页</a></li>
          <li data-page="{{paginator.previousPage}}"><a  href="javascript:;"><i class="es-icon es-icon-chevronleft"></i></a></li>
        {% endif %}
        {% for page in paginator.pages %}
          <li {% if page == paginator.currentPage %}class="active"{% endif %} data-page="{{ page }}"><a href="javascript:;">{{ page }}</a></li>
        {% endfor %}

        {% if paginator.currentPage != paginator.lastPage %}
          <li data-page="{{paginator.nextPage}}"><a  href="javascript:;"><i class="es-icon es-icon-chevronright"></i></a></li>
          <li data-page="{{paginator.getLastPage}}"><a  href="javascript:;">尾页</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </td>
</tr>


