{% for material in materials %}
  {% set createdUser = createdUsers[material.createdUserId|default(0)]|default(null) %}
  <tr>
    <td>
      <div>
        <div class="pull-left" style="width:50%">
          <a href="javascript:;">
            <img style="width:90%;height:100px" src="{{ asset(material.thumbnail|default('assets/img/default/cloud_' ~ material.type ~ '.jpg')) }}">
          </a>
        </div>
        <div class="pull-right" style="width:50%">
          <p class="text-overflow" data-toggle="tooltip" data-placement="top" title="{{ material.name }}">{{ material.name }}</p>

          <div style="margin-top:40px">
            <span class="text-sm text-muted" style="display:block">
              {% if createdUser %}
                {{ createdUser.nickname }} 上传
              {% endif %}
            </span>
            <span class="text-sm text-muted" style="display:block">{{ material.createdTime|date('Y-m-d H:i:s') }}</span>
          </div>
          
        </div>
      </div>
    </td>

    <td>
      {{ material.views }}
    </td>
    <td>
      {{ dict_text('fileType', material.type) }}
    </td>    
    <td>
      {{ material.size|file_size }}
    </td>
    <td>
      {% if material.processStatus == 'ok' %}
        <span class="label label-success">
          {{ dict_text('processStatus', material.processStatus) }}
        </span>
      {% elseif material.processStatus == 'waiting' %}
        <span class="label label-info">
          {{ dict_text('processStatus', material.processStatus) }}
        </span>
      {% elseif material.processStatus == 'processing' %}
        label-primary
        <span class="label label-primary">
          {{ dict_text('processStatus', material.processStatus) }}
        </span>
      {% elseif material.processStatus == 'error' %}
        <span class="label label-danger">{{ dict_text('processStatus', material.processStatus) }}</span><br><a href="javascript:;" class="btn btn-primary btn-xs js-reconvert-btn" data-url="{{ path('material_reconvert', {globalId:material.no}) }}" data-loading-text="正在提交..." style="margin-top:10px">重新转码</a>
      {% else %}
        <span class="label label-warning">
          {{ dict_text('processStatus', material.processStatus) }}
        </span>
      {% endif %}
    </td>

    <td>
      <div class="btn-group">
        <a type="button" class="btn btn-default js-detail-btn" href="javascript:;" data-url="{{ path('admin_material_detail', {globalId:material.no}) }}">详情</a>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li class="js-download-btn"><a href="{{ path('material_download', {globalId:material.no}) }}" target="__blank">下载</a></li>
          <li class="js-delete-btn" data-url="{{ path('material_delete', {globalId:material.no}) }}"><a href="javascript:;">删除</a></li>
        </ul>
    </td>
  </tr>
{% else %}
  <tr>
    <td class="empty" colspan="10" style="color:#999;padding:80px;">没有搜索到任何资源......</td>
  </tr>
{% endfor %}

<tr class="hide">
  <td class="js-paginator">
    {% if paginator.lastPage > 1 %}
      <ul class="pagination">
        {% if paginator.currentPage != paginator.firstPage %}
          <li data-page="{{paginator.firstPage}}"><a  href="javascript:;">首页</a></li>
          <li data-page="{{paginator.previousPage}}"><a  href="javascript:;"><i class="es-icon es-icon-chevronleft"></i></a></li>
        {% endif %}
        {% for page in paginator.pages %}
          <li {% if page == paginator.currentPage %}class="active"{% endif %} data-page="{{ page }}"><a href="javascript:;">{{ page }}</a></li>
        {% endfor %}

        {% if paginator.currentPage != paginator.lastPage %}
          <li data-page="{{paginator.nextPage}}"><a  href="javascript:;"><i class="es-icon es-icon-chevronright"></i></a></li>
          <li data-page="{{paginator.getLastPage}}"><a  href="javascript:;">尾页</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </td>
</tr>


