{% for material in materials %}
  <tr>
    <td>
      <div>
        <div class="pull-left" style="width:50%">
          <a href="">
            <img style="width:90%" src="{{ asset(material.thumbnail) }}">
          </a>
        </div>
        <div class="pull-right" style="width:50%">
          <p>{{ material.name }}</p>
          <p>{{ material.createdTime|smart_time }}</p>
        </div>
      </div>
    </td>

    <td>
      {{ material.views }}
    </td>
    <td>
      {{ dict_text('fileType', material.type) }}
    </td>    
    <td>
      {{ material.size|file_size }}
    </td>
    <td>
      <span class="label 
        {% if material.processStatus == 'ok' %}
          label-success
        {% elseif material.processStatus == 'waiting' %}
          label-info
        {% elseif material.processStatus == 'processing' %}
          label-primary
        {% elseif material.processStatus == 'error' %}
          label-danger
        {% else %}
          label-warning
        {% endif %}
      ">
        {{ dict_text('processStatus', material.processStatus) }}
      </span>
      
    </td>

    <td>
      <div class="btn-group">
        <button type="button" class="btn btn-default">详情</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">下载</a></li>
          <li><a href="#">删除</a></li>
          <li><a href="#">编辑</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">查看引用</a></li>
        </ul>
    </td>
  </tr>
{% else %}
{% endfor %}

