{% for material in materials %}
  <tr>
    <td>
      <div>
        <div class="pull-left" style="width:50%">
          <a href="">
            <img style="width:90%" src="http://demo.edusoho.com/files/user/2015/03-17/172533d6fbf5121921.png?6.15.4">
          </a>
        </div>
        <div class="pull-right" style="width:50%">
          <p>{{ material.filename }}</p>
          <p>{{ material.createdTime|smart_time }}</p>
        </div>
      </div>
    </td>

    <td>
      {{ material.views }}
    </td>
    <td>
      {{ material.type }}
    </td>    
    <td>
      {{ material.fileSize|file_size }}
    </td>
    <td>
      <span class="label label-success">转码成功</span>
    </td>

    <td>
      <div class="btn-group">
        <button type="button" class="btn btn-default">Action</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
    </td>
  </tr>
{% else %}
{% endfor %}

