
{% extends 'TopxiaAdminBundle:Group:layout.html.twig' %}

{% block title %}小组签到设置 - {{ parent() }}{% endblock %}

{% set menu = 'sign' %}
{% set submenu = 'settings' %}

{% block main %}
  <div class="page-header clearfix">
      <h1 class="pull-left">小组签到设置</h1>
  </div>
  {{ web_macro.flash_messages() }}
  <form class="form-horizontal" method="post" id="coin-settings-form">
    <fieldset>
      <legend>每日签到奖励</legend>
        <div class="form-group">
        <div class="col-md-3 control-label">
            <label>用户{{setting('coin').coin_name}}奖励</label>
        </div>
        <div class="col-md-3 controls">
            <input type="text" class="form-control" name="daySign" value="{{setting('group').daySign|default(0)}}"/>
        </div>
        <div class="col-md-1 control-label">
            {{setting('coin').coin_name}}
        </div>
        </div>      

    </fieldset>

    <fieldset>
      <legend>连续签到奖励</legend>
        <div class="form-group">
          <div class="col-md-3 control-label">
              <label>VIP用户{{setting('coin').coin_name}}奖励</label>
          </div>
        </div> 
        {% if vipLevels %}
          {% for vipLevel in vipLevels %}
            <div class="form-group">
              <div class="col-md-3 control-label">
              <label>{{vipLevel.name}}</label>
              </div>
              <div class="col-md-3 controls">
                <input type="text" class="form-control" name="reward[{{vipLevel.id}}][]" value="{{vipLevel.signReward}}"/>
              </div>
              <div class="col-md-1 control-label">
                {{setting('coin').coin_name}}
              </div>
             </div> 
          {% endfor %}
        {% endif %}    

    </fieldset>
    <div class="row form-group">
        <div class="col-md-3 control-label"></div>
        <div class="controls col-md-8">
          <button type="submit" class="btn btn-primary">提交</button>  
        </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}