{% extends 'TopxiaWebBundle:OpenCourseManage:open-course-layout.html.twig' %}

{% block title %}{{'营销设置'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'marketing' %}
{% set script_controller = 'course-manage/live-open-time-set' %}

{% block main %}

<style>

.course-grid {
    display: inline-block;
    vertical-align: top;
    margin: 15px 15px 15px 0;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.course-grid .add-course {
    font-size: 80px;
    height: 148px;
    text-align: center;
    padding-top: 30px;
}
</style>

<div class="panel panel-default panel-col">
  <div class="panel-heading">{{'营销设置'|trans}}</div>
  <div class="panel-body">
    <form class="form-horizontal" id="course-form" method="post">

      {{ web_macro.flash_messages() }}

      <div class="form-group">
        <input type="hidden" name="courseIds" value="">
        <div class="col-md-12" role="course-item-container">
          <ul class="course-grids">
            <li class="course-grid related-course-grid" role="add-course" style="cursor:pointer" data-backdrop="static" data-toggle="modal" data-target="#modal" data-url="/admin/course/search">
              <i class="add-course grid-body glyphicon glyphicon-plus"></i>
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-8 controls">
            <button class="btn btn-fat btn-primary" id="course-create-btn" type="submit">{{'保存'|trans}}</button>
        </div>
      </div>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

    </form>
  </div>
</div>

{% endblock %}