{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

<form class="form-inline well well-sm " action="{{ path('open_course_manage_students',{id:course.id}) }}" method="get" novalidate>
  <div class="form-group col-md-7">
    <input class="form-control " type="text" style="width:45%" placeholder="{{ '请输入用户名'|trans }}" name="keyword" value="{{ app.request.get('keyword') }}">

    <input type="hidden" name="userType" value="login"/>

    {% if course.type == 'liveOpen' and setting('cloud_sms.sms_enabled') and (setting('cloud_sms.sms_live_play_one_day') == 'on' or setting('cloud_sms.sms_live_play_one_hour') == 'on') %}
      <select class="form-control" name="isNotified">
        {{ select_options({0:'全部学员', 1: '设置提醒的学员'}, app.request.get('isNotified')) }}
      </select>&nbsp;&nbsp;
    {% endif %}
    <button class="btn btn-primary">{{ '搜索'|trans }}</button>
  </div>
  <div class="clearfix"></div>
</form>

<table class="table table-striped" id="course-student-list">
  <thead>
    <tr>
      <th width="30%">{% if setting('default.user_name') %}{{setting('default.user_name')|default('学员'|trans)}}{% else %}{{'学员'|trans}}{% endif %}</th>
      <th width="20%">{{'最近进入'|trans}}</th>
      <th width="20%">{{'手机号'|trans}}</th>
      {% if course.type == 'liveOpen' and setting('cloud_sms.sms_enabled') and (setting('cloud_sms.sms_live_play_one_day') == 'on' or setting('cloud_sms.sms_live_play_one_hour') == 'on') %}
        <th>{{'是否提醒'|trans}}</th>
      {% endif %}
      <th>{{'操作'|trans}}</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
      {% set user = users[student.userId] %}
      <tr id="student-{{ user.id }}-tr">
        <td class="media" style="vertical-align: middle;">
          {{ web_macro.user_avatar(user, 'pull-left', 'avatar-sm') }}
          <a target="_blank" href="{{ path('user_show', {id:user.id}) }}">{{ user.nickname }}</a>
          <div class="text-muted text-sm">{{'加入时间：'|trans}}{{ student.createdTime|date('Y-n-d H:i') }}</div>
        </td>

        <td style="vertical-align: middle;">
          {{ student.lastEnterTime|date('Y-m-d H:i:s') }}
        </td>

        <td style="vertical-align: middle;">{{ student.mobile }}</td>

        {% if course.type == 'liveOpen' and setting('cloud_sms.sms_enabled') and (setting('cloud_sms.sms_live_play_one_day') == 'on' or setting('cloud_sms.sms_live_play_one_hour') == 'on') %}
          <td style="vertical-align: middle;">
            {% if student.isNotified %}已设置提醒{% else %}未设置{% endif %}
          </td>
        {% endif %}
        
        <td style="vertical-align: middle;">
          <div class="btn-group">
            {% if app.user.id != user.id %}
              <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-url="{{path('message_create', {toId:user.id})}}">{{'发私信'|trans}}</button>
            {% endif %}
            {% if app.user.isAdmin() %}
              <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-url="{{path('course_manage_students_show', {courseId:course.id, userId:user.id})}}">{{'查看资料'|trans}}</button>
            {% endif %}
          </div>
        </td>
      </tr>
    {% else %}
      <tr class="empty"><td colspan="20">{{'暂无记录'|trans}}</td></tr>
    {% endfor %}
  </tbody>
</table>


