{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<tr id="student-{{ user.id }}-tr">
  <td class="media" style="vertical-align: middle;">
    {{ web_macro.user_avatar(user, 'pull-left', 'avatar-sm') }}
    <a target="_blank" href="{{ path('user_show', {id:user.id}) }}">{{ user.nickname }}</a>
    <div class="text-muted text-sm">{{'报名时间：'}}{{ student.createdTime|date('Y-n-d H:i') }}</div>
  </td>

  <td style="vertical-align: middle;">
    <div class="progress mvm" title="已学课时">
      <div class="progress-bar" style="width: ">
      </div>
    </div>
  </td>

  <td style="vertical-align: middle;">
    <div class="btn-group">
      {% if app.user.id != user.id %}
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-url="{{path('message_create', {toId:user.id})}}">{{'发私信'|trans}}</button>
      {% endif %}
      {% if app.user.isAdmin() %}
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-url="{{path('course_manage_students_show', {courseId:course.id, userId:user.id})}}">{{'查看资料'|trans}}</button>
      {% endif %}
    </div>
  </td>
</tr>