{% if chapter.depth == 2 %}
{% set type = 'unit' %}
{% elseif chapter.depth == 1 %}
{% set type = 'chapter' %}
{% endif %}

{% if type == 'unit' %}
<li id="chapter-{{chapter.id}}" data-id="{{ chapter.id }}" class="task-manage-item js-task-manage-items drag js-task-manage-{{type}} task-manage-{{type}} clearfix" style="cursor: default">
  <div class="item-line"></div>
  <div class="item-content js-item-contents" style="color:#666">
    <a class="js-toggle-show js-toggle-{{ type }} cd-link-assist" href="javascript:;">
      <i class="es-icon es-icon-keyboardarrowdown cd-mr16"></i></a>
      <label 
        class="cd-checkbox chapter-operation js-chapter-operation" 
        data-id="{{chapter.id}}"
        data-parentId="{{ chapter.parent_id }}"
        <input type="checkbox" value="1" data-toggle="cd-checkbox">
      </label>
      {% if chapter.status == 'published' %}
        <span class="chapter-status-published js-chapter-status">
          {{ 'course.status.published'|trans }}
        </span>
      {% else %}
        <span class="chapter-status-unpublished js-chapter-status">
          {{ 'course.status.unpublished'|trans }}
        </span>
      {% endif %}
      {{ chapter.name }}
  </div>
  <div class="item-actions two-level-item-actions">{% if chapter.question_num %}{{ chapter.question_num }}{% endif %}</div>
  {% if chapter.status == 'published' %}
    <a class="item-publish-btn js-item-publish" data-publishurl="{{ path('item_bank_exercise_manage_chapter_exercise_unpublish', {exerciseId: exercise.id}) }}" data-status="{{ chapter.status }}" data-id="{{ chapter.id }}" href="javascript:;">{{ 'course.plan_task.unpublish_btn'|trans }}</a>
  {% else %}
    <a class="item-publish-btn js-item-publish" data-publishurl="{{ path('item_bank_exercise_manage_chapter_exercise_publish', {exerciseId: exercise.id}) }}" data-status="{{ chapter.status }}" data-id="{{ chapter.id }}" href="javascript:;">{{ 'course.plan_task.publish_btn'|trans }}</a>
  {% endif %}
</li>
{% else %}
<li id="chapter-{{chapter.id}}" data-id="{{ chapter.id }}" class="task-manage-item js-task-manage-items drag js-task-manage-{{type}} task-manage-{{type}} clearfix" style="cursor: default">
  <div class="item-content js-item-contents" style="color:#333">
    <a class="js-toggle-show js-toggle-{{ type }} cd-link-assist" href="javascript:;">
      <i class="es-icon es-icon-keyboardarrowdown cd-mr16"></i></a>
      <label 
        class="cd-checkbox chapter-operation js-chapter-operation" 
        data-id="{{chapter.id}}"
        data-parentId="{{ chapter.parent_id }}"
        <input type="checkbox" value="1" data-toggle="cd-checkbox">
      </label>
      {% if chapter.status == 'published' %}
        <span class="chapter-status-published js-chapter-status">
          {{ 'course.status.published'|trans }}
        </span>
      {% else %}
        <span class="chapter-status-unpublished js-chapter-status">
          {{ 'course.status.unpublished'|trans }}
        </span>
      {% endif %}
      {{ chapter.name }}
  </div>
  <div class="item-actions one-level-item-actions" style="color:#333">{% if chapter.question_num %}{{ chapter.question_num }}{% endif %}</div>
  {% if chapter.status == 'published' %}
    <a class="item-publish-btn js-item-publish" data-publishurl="{{ path('item_bank_exercise_manage_chapter_exercise_unpublish', {exerciseId: exercise.id}) }}" data-status="{{ chapter.status }}" data-id="{{ chapter.id }}" href="javascript:;">{{ 'course.plan_task.unpublish_btn'|trans }}</a>
  {% else %}
    <a class="item-publish-btn js-item-publish" data-publishurl="{{ path('item_bank_exercise_manage_chapter_exercise_publish', {exerciseId: exercise.id}) }}" data-status="{{ chapter.status }}" data-id="{{ chapter.id }}" href="javascript:;">{{ 'course.plan_task.publish_btn'|trans }}</a>
  {% endif %}
</li>
{% endif %}
