{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'cd-modal-dialog' %}

{% do script(['app/js/cashier/modal/index.js']) %}

{% block title %}
  {{ 'cashier.confirm.title'|trans }}
{% endblock %}

{% block body %}
  <p>
    {{ 'cashier.confirm.desc'|trans|nl2br }}
  </p>
{% endblock %}

{% block footer %}
  <div>
    <a class="btn cd-btn cd-btn-flat-default" data-dismiss="modal">{{ 'cashier.confirm.pick_again'|trans }}</a>
    <a class="btn cd-btn cd-btn-primary cd-btn-lg js-confirm-btn" data-url="{{ path('cashier_order_is_paid_check', {orderSn:orderSn}) }}">{{ 'cashier.confirm.success'|trans }}</a>
  </div>

{% endblock %}