{% extends 'layout.html.twig' %}
{% block title %} {{ 'pay_center'|trans }} - {{ parent() }}{% endblock %}

{% do script(['libs/jquery-validation.js' ,'app/js/cashier/mobile/index.js']) %}

{% block esBar %}
{% endblock %}

{% block content %}
  <div class="order-pay">

    <div class="es-section">
      {% include 'order/order-step-status.html.twig' with {step: 2} %}
      <div class="order-pay-body">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          {{ 'pay_center.pay.submit_tips'|trans }}
        </div>

        <div class="order-detail-bg  checkout" style="border:none">
          <div class="order-detail  clearfix">
            <div class="order-info">
              <p>{{'order.name'|trans}}: {{ order.title }}</p>
              <p>{{'order.id'|trans}}: {{ order.sn }}</p>
              <p>
                {{'order.price'|trans}}: <span class="pay-rmb">{{ order.pay_amount|price_format }}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="es-piece" style="margin-bottom:20px;">
          <div class="piece-header">{{ 'pay_center.pay.submit_tips'|trans }}</div>
        </div>

        <form class="form-paytype" id="cashier-form" method="post" action="{{ path('cashier_pay') }}" data-price-url="{{ path('cashier_pay_price', {sn:order.sn}) }}">

          <input type="hidden" name="sn" value="{{ order.sn }}"/>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

          <div class="form-group order-detail-bg">
            {% for type,payment in payments %}
              <div class="check {% if loop.index == 1 %}active{% endif %}" id="{{ type }}">
                <img src="{{ asset('assets/img/order/' ~ type ~ '.png') }}"/>
                <span class="icon"></span>
              </div>

              {% if loop.index == 1 %}
                <input type="hidden" name="payment" value="{{ type }}">
              {% endif %}

            {% else %}
              <div class="pay-type-label text-warning ">{{ 'payment.useless_tips'|trans }}</div>
            {% endfor %}
          </div>

          {{ render(controller('AppBundle:Cashier/Coin:show', {order:order})) }}

          <div class="form-group">
            <div class="total-price">
              {{ 'order.confirm.pay_rmb'|trans }}
              <span class="js-pay-price pay-rmb">{{ order.pay_amount|major_currency }}</span>
            </div>
          </div>
          <div class="form-group text-right">
            <a class="btn cd-btn cd-btn-primary cd-btn-lg js-pay-btn" data-url="{{ path('cashier_confirm_modal', {orderSn:order.sn}) }}">{{ 'pay_center.pay.confirm_pay_btn'|trans }}</a>
          </div>

        </form>
      </div>
    </div>
  </div>
{% endblock %}
