{% extends 'order/layout.html.twig' %}
{% block title %} {{'pay_center.finish'|trans}} - {{ parent() }}{% endblock %}

{% do script(['app/js/pay/success-redirect/index.js'])%}

{% set step = '3' %}

{% block order_body %}
  <div class="cd-feedback cd-feedback-lg">
    <div class="feedback-icon"><i class="cd-icon cd-icon-check cd-text-success"></i></div>
    <div class="feedback-title"><span class="cd-text-success">{{'pay_center.finish_title'|trans}}</span></div>
    <div class="feedback-content js-turn" data-url='{{ goto }}'>
      {{'pay_center.finish_tips'|trans|raw}}
    </div>
  </div>
{% endblock %}
