{% extends 'bootstrap-modal-layout.html.twig' %}

{% block title %}{{'编辑回放'|trans}}{% endblock %}
{% do script(['libs/select2.js', 'app/js/live-replay/edit/index.js'])  %}
{% block body %}
  <form class="form-horizontal" id="replay-form" method="post" action="{{ path('material_lib_live_replay_edit', {'liveActivityId':live.id}) }}" >
    <div class="form-group">
      <label class="col-md-2 control-label">{{ 'my.teaching.open_course.Basic_Info.tags'|trans }}</label>
      <div class="col-md-8 controls">
        <input type="text" id="tags" data-url="{{ path('material_tag_show_match') }}" name="tags"
               required="required" class="width-full" tabindex="-1" data-selected="{{ tags|json_encode }}" value="{{ live.replayTagIds|join(',') }}"
               data-explain="{{ 'admin.cloud_file.material_tag_show_match_tips'|trans }}">
      </div>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}

{% block footer %}
  <button id ="submit-btn" data-submiting-text="{{'form.btn.submit.submiting'|trans}}" type="button" class="btn btn-primary pull-right mll" data-target="#replay-form">{{'form.btn.save'|trans}}</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">{{'form.btn.close'|trans}}</button>
{% endblock %}