<footer class="es-footer">
  <div class="footer-link">
    <div class="container">
      <div class="row">
        {{ block_show('jianmo:bottom_info') }}
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      {% include "TopxiaWebBundle::powered-by.html.twig" %}
      {{ setting('site.analytics')|raw }} 
      <a class="mlm" href="{{ path('course_archive') }}">课程存档</a>
      <div class="mts">
        {% if setting('site.copyright') %}
          课程内容版权均归
          <a href="/">
            {{ setting('site.copyright') }}
          </a>
          所有
        {% endif %}
        {% if setting('site.icp') %}
          <a class="mlm" href="http://www.miibeian.gov.cn/" target="_blank">
            {{ setting('site.icp') }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</footer>