{% set currentTheme = current_theme() %}
{% set themeConfig = isEditColor|default(false) ? currentTheme.config : currentTheme.confirmConfig %}
{% for config in themeConfig.blocks.left|default([]) %}
    {% set code = config.code %}
    {% if code == 'footer-link' %}
      {% set category = config.categoryId|default(0) ? data('Category', {categoryId: config.categoryId})  : null %}
      {% include 'TopxiaWebBundle:Default:' ~ code ~ '.html.twig' with {config:config, category: category} %}
    {% endif %}
{% endfor %}

<footer class="es-footer">
  <div class="copyright">
    <div class="container">
      {% include "TopxiaWebBundle::powered-by.html.twig" %}
      {{ setting('site.analytics')|raw }}
      <a class="mlm" href="{{ path('course_archive') }}">{{'课程存档'|trans}}</a>
      <div class="mts">
        {% if setting('site.copyright') %}
          {{'课程内容版权均归'|trans}}
          <a href="/">
            {{ setting('site.copyright') }}
          </a>
          {{'所有'|trans}}
        {% endif %}
        {% if setting('site.icp') %}
          <a class="mlm" href="http://www.miibeian.gov.cn/" target="_blank">
            {{ setting('site.icp') }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</footer>