{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}
{% set bodyClass = 'homepage' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" media="screen" href="{{ asset('themes/default/css/class-default.css') }}" />
{% endblock %}

{% block main_content %}
  {% if blocks.home_top_banner %}
    <section class="poster hidden-xs">
      <div class="carousel slide" id="carousel" data-ride="carousel">
        <ol class="carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="container">
              <div class="item-left col-sm-3 col-md-4">
                <div class="title">全新改版<br>简约风格</div>
                <div class="subtitle"><span>专注学习内容</span><span>提升用户体验</span></div>
              </div>
              <div class="pull-right item-right">
                <img src="{{ asset('bundles/topxiaweb/img/poster_computer.jpg') }}" class="item-img-bg">
                <img src="{{ asset('bundles/topxiaweb/img/poster_computer_content.jpg') }}" class="item-img">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="item-left col-sm-3 col-md-4">
                <div class="title">全新改版<br>简约风格</div>
                <div class="subtitle"><span>专注学习内容</span><span>提升用户体验</span></div>
              </div>
              <div class="pull-right item-right">
                <img src="{{ asset('bundles/topxiaweb/img/poster_computer.jpg') }}" class="item-img-bg">
                <img src="{{ asset('bundles/topxiaweb/img/poster_computer_content.jpg') }}" class="item-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% set announcements = data('Announcement',{ count:1 }) %}
    {% if announcements %}
    {% set announcement = announcements[0] %}
    <section class="index-notice">
      <div class="container">
        <div class="text-line">
          <h5><i class="iconfont icon-bell"></i><span><a class="open-article-link" {% if announcement.url %} href="{{announcement.url}}" target="_blank"{% endif %}>{{announcement.title|sub_text(50)}}</a></span></h5>
          <div class="line"></div>
        </div>
      </div>
    </section>
  {% endif %}

  <!-- 课程删选 -->
  <section class="index-cuorse-cat">
    <div class="container">
      <div class="cuorse-cat-mian">
        <div class="hidden-xs js-index-cuorse-cat course-cat-tags">
          <a href="javascript:;" class="btn btn-default">全部课程</a>
          <a href="javascript:;" class="btn btn-default">后端开发</a>
          <a href="javascript:;" class="btn btn-default">web前端开发</a>
          <a href="javascript:;" class="btn btn-default">图形图像设计</a>
          <a href="javascript:;" class="btn btn-default">编程基础</a>
        </div>
        <div class="btn-group visible-xs">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">全部课程 <span class="caret"></span></button>
          <ul class="dropdown-menu js-index-cuorse-cat" role="menu">
            <li><a href="javascript:;">全部课程</a></li>
            <li><a href="javascript:;">后端开发</a></li>
            <li><a href="javascript:;">web前端开发</a></li>
            <li><a href="javascript:;">图形图像设计</a></li>
            <li><a href="javascript:;">编程基础</a></li>
          </ul>
        </div>
        <div class="course-sort js-course-sort">
          <a href="javascript:;" class="active iconfont icon-time" data-toggle="tooltip" data-placement="top" title="按时间排序"></a>
          <a href="javascript:;" class="iconfont icon-hot" data-toggle="tooltip" data-placement="top" title="最热"></a>
          <a href="javascript:;" class="iconfont icon-aisding" data-toggle="tooltip" data-placement="top" title="点赞"></a>
        </div>
      </div>
    </div>
  </section>

  <!-- 课程列表 -->
  <section class="index-course-list lazyload">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="course-item">
            <div class="course-img">
              <a href="javascript:;">
                <span class="tag-discount"></span>
                <img class="transform img-responsive" src="img-temp/course_1.jpg" data-original="img-temp/course_1.jpg">
              </a>
            </div>
            <div class="course-info">
              <div class="title"><a href="">Android UiAutomator UiScrollable API 详细介绍</a></div>
              <div class="metas clearfix">
                <a href="javascript:;" class="num"><i class="iconfont icon-group"></i>100</a>
                <a href="javascript:;" class="comment"><i class="iconfont icon-comment"></i>100</a>
                <span class="price">¥1111</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="course-item">
            <div class="course-img">
              <a href="javascript:;">
                <span class="tag-discount free"></span>
                <img class="transform img-responsive" src="img-temp/course_1.jpg"  data-original="img-temp/course_1.jpg">
              </a>
            </div>
            <div class="course-info">
              <div class="title"><a href="">Android UiAutomator</a></div>
              <div class="metas clearfix">
                <a href="javascript:;" class="num"><i class="iconfont icon-group"></i>100</a>
                <a href="javascript:;" class="comment"><i class="iconfont icon-comment"></i>100</a>
                <span class="price free">免费</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="course-item">
            <div class="course-img">
              <a href=""><img class="transform img-responsive" src="img-temp/course_1.jpg" data-original="img-temp/course_1.jpg"></a>
            </div>
            <div class="course-info">
              <div class="title"><a href="">Android UiAutomator UiScrollable API 详细介绍</a></div>
              <div class="metas clearfix">
                <span class="num"><i class="iconfont icon-group"></i>100</span>
                <span class="comment"><i class="iconfont icon-comment"></i>100</span>
                <span class="price">¥1111</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="course-item">
            <div class="course-img">
              <a href=""><img class="transform img-responsive" src="img-temp/course_1.jpg" data-original="img-temp/course_1.jpg"></a>
            </div>
            <div class="course-info">
              <div class="title"><a href="">Android UiAutomator UiScrollable API 详细介绍</a></div>
              <div class="metas clearfix">
                <span class="num"><i class="iconfont icon-group"></i>100</span>
                <span class="comment"><i class="iconfont icon-comment"></i>100</span>
                <span class="price">¥1111</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="course-item">
            <div class="course-img">
              <a href=""><img class="transform img-responsive" src="img-temp/course_1.jpg" data-original="img-temp/course_1.jpg"></a>
            </div>
            <div class="course-info">
              <div class="title"><a href="">Android UiAutomator UiScrollable API 详细介绍</a></div>
              <div class="metas clearfix">
                <span class="num"><i class="iconfont icon-group"></i>100</span>
                <span class="comment"><i class="iconfont icon-comment"></i>100</span>
                <span class="price">¥1111</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="course-item">
            <div class="course-img">
              <a href=""><img class="transform img-responsive" src="img-temp/course_1.jpg" data-original="img-temp/course_1.jpg"></a>
            </div>
            <div class="course-info">
              <div class="title"><a href="">Android UiAutomator UiScrollable API 详细介绍</a></div>
              <div class="metas clearfix">
                <span class="num"><i class="iconfont icon-group"></i>100</span>
                <span class="comment"><i class="iconfont icon-comment"></i>100</span>
                <span class="price">¥1111</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="course-item">
            <div class="course-img">
              <a href=""><img class="transform img-responsive" src="img-temp/course_1.jpg" data-original="img-temp/course_1.jpg"></a>
            </div>
            <div class="course-info">
              <div class="title"><a href="">Android UiAutomator UiScrollable API 详细介绍</a></div>
              <div class="metas clearfix">
                <span class="num"><i class="iconfont icon-group"></i>100</span>
                <span class="comment"><i class="iconfont icon-comment"></i>100</span>
                <span class="price">¥1111</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="course-more">
        <a href="javascript:;" data-toggle="tooltip" data-placement="top" title="更多">...</a>
      </div>
    </div>
  </section>

  <!-- 特性 -->
  <section class="index-introduction">
    <div class="container">
      <div class="row">
        <a href="javascript:;" class="col-md-4 col-sm-4 col-xs-12">
          <img class="img-responsive" src="{{ asset('bundles/topxiaweb/img/icon_introduction_1.png') }}">
          <h4>体系化学习</h4>
          <h5>体系化学习，掌握完整知识结构</h5>
        </a>
        <a href="javascript:;" class="col-md-4 col-sm-4 col-xs-12">
          <img class="img-responsive" src="{{ asset('bundles/topxiaweb/img/icon_introduction_2.png') }}">
          <h4>体系化学习</h4>
          <h5>体系化学习，掌握完整知识结构</h5>
        </a>
        <a href="javascript:;" class="col-md-4 col-sm-4 col-xs-12">
          <img class="img-responsive" src="{{ asset('bundles/topxiaweb/img/icon_introduction_3.png') }}">
          <h4>体系化学习</h4>
          <h5>体系化学习，掌握完整知识结构</h5>
        </a>
      </div>
    </div>
  </section>

  <!-- 小组动态 -->
  {% if setting('group').group_show|default(1) %}
  {% set groups = data('HotGroup', {'count':6}) %}
  <section class="group-dynamic">
    <div class="container">
      <div class="group-dynamic-header">
        <div class="text-line">
          <h5><span>小组动态</span></h5>
          <div class="line"></div>
        </div>
      </div>
      <div class="group-dynamic-body row">
        <div class="col-md-6">
          <div class="panel es-panel index-group clearfix">
            <div class="panel-heading clearfix">
              <h3 class="panel-title"><i class="iconfont icon-hot pull-left"></i>推荐小组</h3>
              <a href="{{ path('group') }}" class="more">...</a>
            </div>
            <div class="panel-body row">
              {% for group in groups %}
              <div class="media group-item col-md-6 col-sm-4">
                <div class="media-left">
                  <a href="javascript:;">
                    {% if group.logo %}
                        <img src="{{file_path(group.logo)}}" alt="{{group.title}}">
                        {%else%}
                        <img src="{{asset('assets/img/default/group.png')}}" alt="{{group.title}}">
                    {%endif%}
                  </a>
                </div>
                <div class="media-body">
                  <div class="title"><a href="">{{ group.title }}</a></div>
                  <div class="metas">
                    <a href="javascript:;"><i class="iconfont icon-group"></i>{{ group.memberNum }}</a>
                    <a href="javascript:;"><i class="iconfont icon-comment"></i>{{ group.threadNum }}</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% set learns = data('PersonDynamic', {'count':5}) %}
        <div class="col-md-6">
          <div class="panel es-panel index-dynamic">
            <div class="panel-heading clearfix">
              <h3 class="panel-title"><i class="iconfont icon-pseson pull-left"></i>学员动态</h3>
              <a href="javascript:;" class="more">...</a>
            </div>
            <div class="panel-body">
              {% for learn in learns %}
              <div class="media">
                <div class="media-left">
                  <a href="javascript:;">
                    <img class="img-circle" src="img-temp/course_1.jpg">
                  </a>
                </div>
                <div class="media-body">
                  <div class="title">
                    <a href="">李小龙</a>
                  </div>
                  <div class="content">
                    <a href="">加入了课程《十分钟掌握HTML5基础》课程</a>
                  </div>
                  <span class="date">111小时前</span>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}

{% macro course_lists(courses) %}
  {% set mode = mode|default('default') %}
  <ul class="course-wide-list">
    {% for course in courses %}
    <li class="course-item clearfix">
      <a class="course-picture-link" href="{{ path('course_show', {id:course.id}) }}">
        <img class="course-picture" src="{{ default_path('coursePicture', course.middlePicture, 'large') }}" alt="{{ course.title }}">
      </a>
      <div class="course-body">
        <div class="course-price-info">
          {% include "TopxiaWebBundle:Course:price-widget.html.twig" with {shows: ['price', 'discount']} %}
        </div>
        <h4 class="course-title"><a href="{{ path('course_show', {id:course.id}) }}">{{ course.title }}</a>
        {% if course.serializeMode=='serialize' %}
          <span class="label label-success ">更新中</span>
        {% elseif course.serializeMode=='finished' %}
          <span class="label label-warning ">已完结</span>
        {% endif %}
        {% if course.type == 'live' %}
            {% set lesson = course['lesson']|default(null) %}
            {% if lesson and "now"|date("U") >= lesson.startTime and "now"|date("U") <= lesson.endTime %}
              <span class="label label-warning series-mode-label">正在直播中</span>
            {% else %}
              <span class="label label-success series-mode-label">直播</span>
            {% endif %}
        {% endif %}
        </h4>

        {% if course.type == 'live' %}
          {% set lesson = course.lesson|default(null) %}
          {% if lesson %}
            <div class="live-course-lesson mbm">
              <span class="text-success fsm mrm">{{ lesson.startTime|date('n月j日 H:i') }} ~ {{ lesson.endTime|date('H:i') }}</span>
              <span class="text-muted fsm mrm">第{{ lesson.number }}课时</span>
            </div>
          {% endif %}
        {% else %}
          <div class="course-about ellipsis">{{ course.subtitle }}</div>
        {% endif %}

        <div class="course-footer clearfix">

          {% set teacher = course.teachers|first|default(null) %}
          {% if teacher %}
            <div class="teacher">
              <a href="{{ path('user_show', {id:teacher.id}) }}"><img src="{{ default_path('avatar', teacher.smallAvatar, '') }}" class="teacher-avatar"></a>
              <a class="teacher-nickname ellipsis" href="{{ path('user_show', {id:teacher.id}) }}">{{ teacher.nickname }}</a>
              <span class="teacher-title ellipsis">{{ teacher.title }}</span>
            </div>
          {% endif %}
          <div class="course-metas">
            <span class="stars-{{ (course.rating)|number_format }}">&nbsp;</span>
            {% if setting('course.show_student_num_enabled', '1') == 1  %}
            <span class="divider"></span>
            <span class="text-muted mrm mls"><strong>{{ course.studentNum }}</strong>{{setting('default.user_name', '学员')}}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
{% endmacro %}