{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}
{% block description %}{{ setting('site.seo_description') }}{% endblock %}

{% set bodyClass = 'homepage' %}
{% set script_controller = 'index' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" media="screen" href="{{ asset('themes/default/css/class-default.css') }}" />
{% endblock %}

{% block main_content %}

  <!-- 公告 -->
  <section class="notice-section">
    <div class="container">
      <div class="text-line small">
        <h5><i class="es-icon es-icon-notifications"></i><span>EduSoho新版本上线咯，赶紧免费下载更新吧！</span></h5>
        <div class="line"></div>
      </div>
    </div>
  </section>


  <!-- 课程列表 -->
  <section class="course-list-section" id="course-list">
    <div class="container">
      <div class="cuorse-filter" id="cuorse-filter">
        <div class="course-cat-tags hidden-xs">
          <a href="javascript:;" class="btn btn-default">全部课程</a>
          <a href="javascript:;" class="btn btn-default">后端开发</a>
          <a href="javascript:;" class="btn btn-default">web前端开发</a>
          <a href="javascript:;" class="btn btn-default">图形图像设计</a>
          <a href="javascript:;" class="btn btn-default">编程基础</a>
        </div>
        <div class="btn-group visible-xs">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">全部课程 <span class="caret"></span></button>
          <ul class="dropdown-menu js-cuorse-filter" role="menu">
            <li><a href="javascript:;">全部课程</a></li>
            <li><a href="javascript:;">后端开发</a></li>
            <li><a href="javascript:;">web前端开发</a></li>
            <li><a href="javascript:;">图形图像设计</a></li>
            <li><a href="javascript:;">编程基础</a></li>
          </ul>
        </div>
        <div class="course-sort">
          <a href="javascript:;" class="btn-circle active" data-toggle="tooltip" data-placement="top" title="按时间排序">
            <i class="es-icon es-icon-accesstime"></i>
          </a>
          <a href="javascript:;" class="btn-circle " data-toggle="tooltip" data-placement="top" title="最热">
            <i class="es-icon es-icon-whatshot"></i>
          </a>
          <a href="javascript:;" class="btn-circle " data-toggle="tooltip" data-
          placement="top" title="点赞">
            <i class="es-icon es-icon-thumbup"></i>
          </a>
        </div>
      </div>
      <div class="course-list">
        <div class="row">
          {% set courses = data('LatestCourses', {count: 12}) %}
          {% for course in courses %}
            <div class="col-lg-3 col-md-4 col-sm-6">
              {% include 'TopxiaWebBundle:Course:Widget/course-grid.html.twig' %}
            </div>
          {% endfor %}
        </div>
        <div class="course-more">
          <a href="{{ path('course_explore') }}" data-toggle="tooltip" data-placement="top" title="更多"><i class="es-icon es-icon-morehoriz"></i></a>
        </div>
      </div>
    </div>
  </section>

  <!-- 特性 -->
  <section class="introduction-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 introduction-item">
          <img class="img-responsive" src="assets/v2/img/icon_introduction_1.png">
          <h4>体系化学习</h4>
          <h5>体系化学习，掌握完整知识结构</h5>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 introduction-item">
          <img class="img-responsive" src="assets/v2/img/icon_introduction_2.png">
          <h4>教与学结合</h4>
          <h5>教学结合，提高学习质量</h5>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 introduction-item">
          <img class="img-responsive" src="assets/v2/img/icon_introduction_3.png">
          <h4>与代码为伍</h4>
          <h5>学得怎么样？考试结果告诉你</h5>
        </div>
      </div>
    </div>
  </section>


  <!-- 推荐班级 -->
  <section class="class-section">
    <div class="container">
      <div class="index-class-header">
        <div class="text-line">
          <h5><span>推荐班级</span></h5>
          <div class="line"></div>
        </div>
      </div>
      <div class="recommend-class-list row">
        <div class="col-md-3 col-sm-6">
          {# {% include 'Classroom/class-grid.html.twig' %} #}
        </div>

      </div>
    </div>
  </section>

  <!-- 小组动态 -->
  <section class="group-dynamic">
    <div class="container">
      <div class="group-dynamic-header">
        <div class="text-line gray">
          <h5><span>小组动态</span></h5>
          <div class="line"></div>
        </div>
      </div>
      <div class="group-dynamic-body row">
        <div class="col-md-6">
          <div class="panel panel-default index-group">
            <div class="panel-heading">
              <a href="javascript:;" class="more">...</a>
              <h3 class="panel-title"><i class="es-icon es-icon-whatshot pull-left"></i>推荐小组</h3>
            </div>
            <div class="panel-body row">


              <div class="media group-item col-md-6 col-sm-4">
                <div class="media-left">
                  <a href="javascript:;">
                    <img src="assets/v2/img/course_1.jpg">
                  </a>
                </div>
                <div class="media-body">
                  <div class="title"><a href="">保护地球组织</a></div>
                  <div class="metas">
                    <span><i class="es-icon es-icon-people"></i>100</span>
                    <span><i class="es-icon es-icon-textsms"></i>100</span>
                  </div>
                </div>
              </div>
              


            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default index-dynamic">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="es-icon es-icon-recentactors pull-left"></i>学员动态</h3>
              <!-- <a href="javascript:;" class="more">...</a> -->
            </div>
            <div class="panel-body">
              {% set statuses = data('LatestStatuses', {mode:'simple', count: 4}) %}

              {% for status in statuses %}
                <div class="media">
                  <div class="media-left">
                    {{ web_macro.user_avatar(status.user, '', 'img-circle') }}
                  </div>
                  <div class="media-body">
                    <div class="title">
                      {{ web_macro.user_link(status.user) }}
                    </div>
                    <div class="content">
                      {{ status.message|raw }}
                    </div>
                    <span class="date">111小时前</span>
                  </div>
                </div>
              {% endfor %}


              

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>





{% endblock %}