{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}
{% block description %}{{ setting('site.seo_description') }}{% endblock %}

{% set nav = 'index' %}

{% set bodyClass = 'homepage' %}
{% set script_controller = 'homepage' %}

{% block content%}
 

  <!-- banner -->
  <div class="row visible-md visible-lg"> 
    <div class="col-md-12 ">

    {% if blocks.home_top_banner %}
            {{ blocks.home_top_banner.content|raw }}
    {% endif %}

     </div>
    
  </div>

          
  <div class="row mtl">

    <div class="col-md-8 ">
      {% for stickTag in stickTags %}
        {% set tagCourses = tagsCourses[stickTag.id] %}
      <div >
        <div class="es-row-wrap container-gap">
          <div class="kytitle clearfix es-box-heading mtm">
            <h3>{{stickTag.name}}</h3>
            <a href="/tag/{{stickTag.name}}"  class="pull-right">更多>></a>
          </div>
          <div class="es-box-body plll clearfix  ">
            {{ render(controller('TopxiaWebBundle:Course:osfCoursesBlock', {courses:tagCourses, view: 'grid'})) }}
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="visible-md visible-lg">
        <!--讨论，学员，牛人，谁在学，最新点评-->  
        <div class="clearfix">
          <!-- 新加入学员 -->  
          <div class="kytitle">
            <h3>新学员</h3>
            <div class="fix-right font18">64231人已在学习</div>
          </div>
          <div class="mod-content pz clearfix">
            <div class="pull-left info">

              <div class="info-content clearfix">
                <div id="photo" class="photo-wall pull-left">
                  <span id="wait-you" class=" list-waiting pull-right">
                    <img  width="101"  src="{{ file_path('','avatar.png')}}" ></span>
                  {% for user in users%}
                  <span class="list-item-user  pull-right" >
                    <a href="{{ path('user_show',{id:user.id}) }}">
                      <img  class="tip user-logo-small-size" src="{{ file_path(user.smallAvatar,'user-default-'~user.id%40~'.jpg')  }}" alt="user icon"></a>
                    <div class="todos-thumb-span">
                      <a href="{{ path('user_show',{id:user.id}) }}">{{user.nickname}}</a>
                    </div>
                  </span>
                  {% endfor %}
                  <span class="justify_fix"></span>
                </div>
                <div class="info-ad pull-left">
                  <div class="info-btn">
                    <p>还等什么呢就差你了</p>

                    <a class="btn center-block" href="{{ path('register') }}">我要学习</a>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div>
        <!-- 讲师团 -->  
        <div class="clearfix">
          <div class="kytitle">
            <h3>讲师团</h3>
            <div class="fix-right">
              <a class="text-size-18 text-color-333" href="{{ path('teacher') }}">55位开源大牛坐镇</a>
            </div>
          </div>
          <div class="pz mz clearfix" id = "teachers">
            <ul class="pz">
              {% for teacher in teachers  %}
                 {% set teacherinfo =teacherinfos[teacher.id] %}
              <li class="col-md-4 pz mz li-no">
                <div class="white-grid media " >
                  <a class="pull-left" href="{{ path('user_show',{id:teacher.id}) }}">
                    <img width="100px" class="img-responsive media-object " src="{{ file_path(teacher.mediumAvatar,'avatar-large.png')  }}" alt="user icon"></a>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a href="{{ path('user_show', {id:teacher.id}) }}">{{ teacherinfo.truename |default(teacher.nickname)}}</a>
                      <span class="text-color-gray text-small">{{ teacher.title|plain_text(15) }}</span>
                    </h4>

                  </div>
                  <div class="text-color-green-096 text-normal">{{ teacherinfo.about | plain_text(30) }}</div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      {% if blocks.home_new_banner %}
      <div>
        <div class="es-row-wrap container-gap">
          <div class="kytitle clearfix es-box-heading mtm">
            <h3 >{{ blocks.home_new_banner.title}}</h3>
          </div>
          <div class="es-box-body pll prm pbm">{{ blocks.home_new_banner.content|raw }}</div>
        </div>
      </div>
      {% endif %}
      <!-- 学习动态 -->  
      <div>
        <div class="es-row-wrap container-gap">
          <div class="kytitle clearfix es-box-heading mtm">
            <h3 >学习动态</h3>
          </div>
          <div class="es-box-body pll prm">
            <ul class="media-list">
              {% for studyLog in studyLogs  %}
                {% set userProfile = studyLogUsers[studyLog.userId] %}
              <li class="media pbz li-no">
                <a class="pull-left" href="{{ path('user_show',{id:userProfile.id}) }}">
                  <img class="img-responsive media-object user-logo-small-size" src="{{ file_path(userProfile.mediumAvatar,'avatar-large.png')  }}" alt="user icon"></a>
                <div class="media-body">
                  <p class="text-color-gray text-normal">
                    学生
                    <a class="text-color-gray" href="{{ path('user_show', {id:userProfile.id}) }}">{{ userProfile.nickname }}</a>
                    {{ studyLog.createdTime|smart_time }} 开始在学习:
                  </p>
                  <p class="text-color-666 text-size-12">
                    <a href="{{ path('course_show', {id:studyLog.data.courseId}) }}" target="_blank">{{ studyLog.message }}</a>
                  </p>
                </div>
                <div class="pts" ></div>
              </li>
              {% endfor %}
            </ul>

          </div>
        </div>
      </div>
      <!-- 答疑动态 -->  
      <div >
        <div class="es-row-wrap container-gap">
          <div class="kytitle clearfix es-box-heading mtm">
            <h3 >答问动态</h3>
          </div>
          <div class="es-box-body pll prm">
            <ul class="media-list">
              {% for answerLog in answerLogs  %}
                      {% set userProfile = answerLogUsers[answerLog.userId] %}
                      {% set qu = questionUsers[answerLog.data.userId] %}
              <li class="media  pbz li-no">
                <a class="pull-left" href="{{ path('user_show',{id:userProfile.id}) }}">
                  <img class="img-responsive media-object user-logo-small-size" src="{{ file_path(userProfile.mediumAvatar,'avatar-large.png')  }}" alt="user icon"></a>
                <div class="media-body">
                  <p class="text-color-gray text-normal">
                    老师
                    <a class="text-color-gray" href="{{ path('user_show', {id:userProfile.id}) }}">{{ userProfile.nickname }}</a>
                    {{ answerLog.createdTime|smart_time }} 回答了学生
                    <a class="text-color-gray" href="{{ path('user_show', {id:qu.id}) }}">{{ qu.nickname }}</a>
                    在:
                  </p>
                  <p class="text-color-666 text-size-12">
                    <a href="{{ path('course_show', {id:answerLog.data.courseId}) }}" target="_blank">{{ answerLog.message }}</a>
                  </p>
                </div>
                <div class="pts" ></div>
              </li>
              {% endfor %}
            </ul>

          </div>
        </div>
      </div>
      <!-- 笔记动态 -->  
      <div >
        <div class="es-row-wrap container-gap">
          <div class="kytitle clearfix es-box-heading mtm">
            <h3 >笔记动态</h3>
          </div>

          <div class="es-box-body pll prm">

            <ul class="media-list">
              {% for note in notes  %}
                      {% set userProfile = noteUsers[note.userId] %}
                      {% set noteCourse = noteCourses[note.courseId] %}
              <li class="media  pbz li-no">
                <a class="pull-left" href="{{ path('user_show',{id:userProfile.id}) }}">
                  <img class="img-responsive media-object user-logo-small-size" src="{{ file_path(userProfile.mediumAvatar,'avatar-large.png')  }}" alt="user icon"></a>
                <div class="media-body">

                  <p class="text-color-gray text-normal">

                    <a class="text-color-gray" href="{{ path('user_show', {id:userProfile.id}) }}">{{ userProfile.nickname }}</a>
                    {{ note.updatedTime|smart_time }} 在课程
                    <a class="text-size-12" href="{{  path('course_show', {id:noteCourse.id})  }}">《{{ noteCourse.title }}》</a>
                    中写下了笔记：
                  </p>
                  <p class="text-color-666 text-size-12">{{ note.content|plain_text(50) }}</p>
                  <p></p>
                </div>
                <div class="pts" ></div>
              </li>
              {% endfor %}
            </ul>

          </div>
        </div>
      </div>
      <!-- 最新评论 -->  
      <div >
        <div class="es-row-wrap container-gap">
          <div class="kytitle clearfix es-box-heading mtm">
            <h3 >最新评论</h3>
          </div>

          <div class="es-box-body pll prm">

            <ul class="media-list">
              {% for review in reviews  %}
                      {% set userProfile = reviewUsers[review.userId] %}
                      {% set reviewCourse = reviewCourses[review.courseId] %}
              <li class="media  pbz li-no">
                <a class="pull-left" href="{{ path('user_show',{id:userProfile.id}) }}">
                  <img class="img-responsive media-object user-logo-small-size" src="{{ file_path(userProfile.mediumAvatar,'avatar-large.png')  }}" alt="user icon"></a>
                <div class="media-body">

                  <p class="text-color-gray text-normal">

                    <a class="text-color-gray" href="{{ path('user_show', {id:userProfile.id}) }}">{{ userProfile.nickname }}</a>
                    {{ review.createdTime|smart_time }}  在课程
                    <a class="text-size-12" href="{{  path('course_show', {id:reviewCourse.id})  }}">《{{ reviewCourse.title }}》</a>
                    中发表了评论：
                  </p>
                  <p class="text-color-666 text-size-12">{{ review.content|plain_text(50) }}</p>

                </div>
                <div class="pts" ></div>
              </li>
              {% endfor %}
            </ul>

          </div>
        </div>
      </div>
    </div>

  </div>



{% endblock %}