{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" media="screen" href="{{ asset('themes/default/css/class-default.css') }}" />
{% endblock %}

{% block main_content %}
  {% if blocks.home_top_banner %}
    <section class="poster hidden-xs">
      <div class="carousel slide" id="carousel" data-ride="carousel">
        <ol class="carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="container">
              <div class="item-left col-sm-3 col-md-4">
                <div class="title">全新改版<br>简约风格</div>
                <div class="subtitle"><span>专注学习内容</span><span>提升用户体验</span></div>
              </div>
              <div class="pull-right item-right">
                {{ lazy_img(asset('bundles/topxiaweb/img/poster_computer.jpg'), 'item-img-bg') }}
                {{ lazy_img(asset('bundles/topxiaweb/img/poster_computer_content.jpg'), 'item-img') }}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="item-left col-sm-3 col-md-4">
                <div class="title">全新改版<br>简约风格</div>
                <div class="subtitle"><span>专注学习内容</span><span>提升用户体验</span></div>
              </div>
              <div class="pull-right item-right">
                {{ lazy_img(asset('bundles/topxiaweb/img/poster_computer.jpg'), 'item-img-bg') }}
                {{ lazy_img(asset('bundles/topxiaweb/img/poster_computer_content.jpg'), 'item-img') }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% set announcements = data('Announcement',{ count:1 }) %}
    {% if announcements %}
    {% set announcement = announcements[0] %}
    <section class="index-notice">
      <div class="container">
        <div class="text-line">
          <h5><i class="es-icon es-icon-notifications"></i><span><a class="open-article-link" {% if announcement.url %} href="{{announcement.url}}" target="_blank"{% endif %}>{{announcement.title|sub_text(50)}}</a></span></h5>
          <div class="line"></div>
        </div>
      </div>
    </section>
  {% endif %}

  <!-- 课程删选 -->
  <section class="cuorse-filter" id="cuorse-filter">
    <div class="container">
      <div class="cuorse-filter-mian">
        {% set tags = data('Tags',{'count':5}) %}
        {% if tags %}
        <div class="hidden-xs course-cat-tags js-cuorse-filter">
          {% for tag in tags %}
          <a href="/tag/{{ tag.name }}" class="btn btn-default">{{ tag.name }}</a>
          {% endfor %}
        </div>
        <div class="btn-group visible-xs">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">全部课程 <span class="caret"></span></button>
          <ul class="dropdown-menu js-index-cuorse-cat" role="menu">
            {% for tag in tags %}
            <li><a href="javascript:;" class="btn btn-default">{{ tag.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <div class="course-sort" id="course-sort">
          <a href="javascript:;" class="btn-circle active" data-toggle="tooltip" data-placement="top" title="按时间排序">
            <i class="es-icon es-icon-accesstime"></i>
          </a>
          <a href="javascript:;" class="btn-circle " data-toggle="tooltip" data-placement="top" title="最热">
            <i class="es-icon es-icon-whatshot"></i>
          </a>
          <a href="javascript:;" class="btn-circle " data-toggle="tooltip" data-
          placement="top" title="点赞">
            <i class="es-icon es-icon-thumbup"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  

  <!-- 课程列表  todo fix me -->
  {% set courses = data('LatestCourses',{'count':8}) %}
  {% if courses %}
  <section class="index-course-list latest-course">
    <div class="container">
      <div class="row">
        {% for course in courses %}
          <div class="col-lg-3 col-md-4 col-sm-6">
          {% include "TopxiaWebBundle:Default:price-widget.html.twig" with {shows: ['price', 'discount']} %}
          </div>
        {% endfor %}
      </div>
      <div class="course-more">
        <a href="{{ path('course_explore') }}" data-toggle="tooltip" data-placement="top" title="更多">...</a>
      </div>
    </div>
  </section>
  {% endif %}
  
  <!-- 课程列表  todo fix me -->
  {% set courses = data('PopularCourses',{'count':8}) %}
  {% if courses %}
  <section class="index-course-list popular-courses"  style="display:none;">
    <div class="container">
      <div class="row">
        {% for course in courses %}
          <div class="col-lg-3 col-md-4 col-sm-6">
          {% include "TopxiaWebBundle:Default:price-widget.html.twig" with {shows: ['price', 'discount']} %}
          </div>
        {% endfor %}
      </div>
      <div class="course-more">
        <a href="{{ path('course_explore') }}" data-toggle="tooltip" data-placement="top" title="更多">...</a>
      </div>
    </div>
  </section>
  {% endif %}
  
  <!-- 课程列表  todo fix me -->
  {% set courses = data('CourseRankByRating',{'count':8}) %}
  {% if courses %}
  <section class="index-course-list rateing-courses" style="display:none;">
    <div class="container">
      <div class="row">
        {% for course in courses %}
          <div class="col-lg-3 col-md-4 col-sm-6">
          {% include "TopxiaWebBundle:Default:price-widget.html.twig" with {shows: ['price', 'discount']} %}
          </div>
        {% endfor %}
      </div>
      <div class="course-more">
        <a href="{{ path('course_explore') }}" data-toggle="tooltip" data-placement="top" title="更多">...</a>
      </div>
    </div>
  </section>
  {% endif %}

  <!-- 特性 -->
  <section class="index-introduction">
    <div class="container">
      <div class="row">
        <a href="javascript:;" class="col-md-4 col-sm-4 col-xs-12">
          <img class="img-responsive" src="{{ asset('bundles/topxiaweb/img/icon_introduction_1.png') }}">
          <h4>体系化学习</h4>
          <h5>体系化学习，掌握完整知识结构</h5>
        </a>
        <a href="javascript:;" class="col-md-4 col-sm-4 col-xs-12">
          <img class="img-responsive" src="{{ asset('bundles/topxiaweb/img/icon_introduction_2.png') }}">
          <h4>教与学结合</h4>
          <h5>教学结合，提高学习质量</h5>
        </a>
        <a href="javascript:;" class="col-md-4 col-sm-4 col-xs-12">
          <img class="img-responsive" src="{{ asset('bundles/topxiaweb/img/icon_introduction_3.png') }}">
          <h4>与代码为伍</h4>
          <h5>学得怎么样？考试结果告诉你</h5>
        </a>
      </div>
    </div>
  </section>

  <!-- 推荐班级 -->
  <section class="index-class">
    <div class="container">
      <div class="index-class-header">
        <div class="text-line">
          <h5><span>推荐班级</span></h5>
          <div class="line"></div>
        </div>
      </div>
      <div class="index-class-list row">
        <div class="col-md-3 col-sm-6">
          <div class="class-item">
            <a href="">
              <img class="img-responsive" src="img-temp/class_1.jpg" alt="">
              <h3>淘宝运营课程高级班</h3>
              <div class="image-overlay"></div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="class-item">
            <a href="">
              <img class="img-responsive" src="img-temp/class_2.jpg" alt="">
              <h3>淘宝运营课程高级班</h3>
              <div class="image-overlay"></div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="class-item">
            <a href="">
              <img class="img-responsive" src="img-temp/class_3.jpg" alt="">
              <h3>淘宝运营课程高级班淘宝运营课程高级班</h3>
              <div class="image-overlay"></div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="class-item">
            <a href="">
              <img class="img-responsive" src="img-temp/class_4.jpg" alt="">
              <h3>淘宝运营课程高级班</h3>
              <div class="image-overlay"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 小组动态 -->
  {% if setting('group').group_show|default(1) %}
  {% set groups = data('HotGroup', {'count':6}) %}
  <section class="group-dynamic">
    <div class="container">
      <div class="group-dynamic-header">
        <div class="text-line gray">
          <h5><span>小组动态</span></h5>
          <div class="line"></div>
        </div>
      </div>
      <div class="group-dynamic-body row">
        <div class="col-md-6">
          <div class="panel panel-default index-group clearfix">
            <div class="panel-heading clearfix">
              <a href="{{ path('group') }}" class="more">...</a>
              <h3 class="panel-title"><i class="es-icon es-icon-whatshot pull-left"></i>推荐小组</h3>
            </div>
            <div class="panel-body row">
              {% for group in groups %}
              <div class="media group-item col-md-6 col-sm-4">
                <div class="media-left">
                  <a href="{{ path('group_show',{id:group.id})}}">
                    {% if group.logo %}
                      {{ lazy_img(file_path(group.logo), '') }}
                        {% else %}
                      {{ lazy_img(asset('assets/img/default/group.png'), '') }}
                    {%endif%}
                  </a>
                </div>
                <div class="media-body">
                  <div class="title"><a href="{{ path('group_show',{id:group.id})}}">{{ group.title }}</a></div>
                  <div class="metas">
                    <span><i class="es-icon es-icon-people"></i>{{ group.memberNum }}</span>
                    <span><i class="es-icon es-icon-textsms"></i>{{ group.threadNum }}</span>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% set learns = data('PersonDynamic', {'count':4}) %}
        <div class="col-md-6">
          <div class="panel panel-default index-dynamic">
            <div class="panel-heading clearfix">
              <h3 class="panel-title"><i class="es-icon es-icon-recentactors pull-left"></i>学员动态</h3>
            </div>
            <div class="panel-body">
              {% for learn in learns %}
              <div class="media">
                <div class="media-left">
                  <a href="{{ path('user_show', {id:learn.user.id}) }}">
                    {{ lazy_img(default_path('avatar', learn.user.mediumAvatar, ''), 'img-circle') }}
                  </a>
                </div>
                <div class="media-body">
                  <div class="title">
                    <a href="{{ path('user_show', {id:learn.user.id}) }}">{{learn.user.nickname}}</a>
                  </div>
                  <div class="content">
                    {% if learn.type == "finished_testpaper" %}
                      完成了考试 {{learn.properties.testpaper.name|plain_text(15)}}
                    {% elseif learn.type == "finished_homework" %}
                    完成了 课程 {{learn.properties.course.title|default('')|plain_text(15)}} 课时 {{learn.properties.lesson.title|default('')|plain_text(15)}} 下的作业
                    {% elseif learn.type == "finished_exercise" %}
                    完成了 课程 {{learn.properties.course.title|default('')|plain_text(15)}} 课时 {{learn.properties.lesson.title|default('')|plain_text(15)}} 下的练习
                    {% elseif learn.objectType == "course" and learn.type == "become_student" %}
                    加入了课程 {{learn.properties.course.title|plain_text(15)}}
                    {% elseif learn.objectType == "classroom" and learn.type == "become_student" %}
                    成为了班级 {{learn.properties.classroom.title|plain_text(15)}} 的学员
                    {% elseif learn.objectType == "classroom" and learn.type == "become_auditor" %}
                    成为了班级 {{learn.properties.classroom.title|plain_text(15)}} 的旁听生
                    {% elseif learn.type == "learned_lesson" %}
                    完成了课时 {{learn.properties.lesson.title|plain_text(15)}}
                    {% elseif learn.type == "favorite_course" %}
                    收藏了课程 {{learn.properties.course.title|plain_text(15)}}
                    {% elseif learn.type == "start_learn_lesson" %}
                    开始学习课时 {{learn.properties.lesson.title|plain_text(15)}}
                    {% endif %}
                  </div>
                  <span class="date">{{learn.createdTime|smart_time}}</span>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}

{% macro course_lists(courses) %}
  {% set mode = mode|default('default') %}
  <ul class="course-wide-list">
    {% for course in courses %}
    <li class="course-item clearfix">
      <a class="course-picture-link" href="{{ path('course_show', {id:course.id}) }}">
        <img class="course-picture" src="{{ default_path('coursePicture', course.middlePicture, 'large') }}" alt="{{ course.title }}">
      </a>
      <div class="course-body">
        <div class="course-price-info">
          {% include "TopxiaWebBundle:Course:price-widget.html.twig" with {shows: ['price', 'discount']} %}
        </div>
        <h4 class="course-title"><a href="{{ path('course_show', {id:course.id}) }}">{{ course.title }}</a>
        {% if course.serializeMode=='serialize' %}
          <span class="label label-success ">更新中</span>
        {% elseif course.serializeMode=='finished' %}
          <span class="label label-warning ">已完结</span>
        {% endif %}
        {% if course.type == 'live' %}
            {% set lesson = course['lesson']|default(null) %}
            {% if lesson and "now"|date("U") >= lesson.startTime and "now"|date("U") <= lesson.endTime %}
              <span class="label label-warning series-mode-label">正在直播中</span>
            {% else %}
              <span class="label label-success series-mode-label">直播</span>
            {% endif %}
        {% endif %}
        </h4>

        {% if course.type == 'live' %}
          {% set lesson = course.lesson|default(null) %}
          {% if lesson %}
            <div class="live-course-lesson mbm">
              <span class="text-success fsm mrm">{{ lesson.startTime|date('n月j日 H:i') }} ~ {{ lesson.endTime|date('H:i') }}</span>
              <span class="text-muted fsm mrm">第{{ lesson.number }}课时</span>
            </div>
          {% endif %}
        {% else %}
          <div class="course-about ellipsis">{{ course.subtitle }}</div>
        {% endif %}

        <div class="course-footer clearfix">

          {% set teacher = course.teachers|first|default(null) %}
          {% if teacher %}
            <div class="teacher">
              <a href="{{ path('user_show', {id:teacher.id}) }}"><img src="{{ default_path('avatar', teacher.smallAvatar, '') }}" class="teacher-avatar"></a>
              <a class="teacher-nickname ellipsis" href="{{ path('user_show', {id:teacher.id}) }}">{{ teacher.nickname }}</a>
              <span class="teacher-title ellipsis">{{ teacher.title }}</span>
            </div>
          {% endif %}
          <div class="course-metas">
            <span class="stars-{{ (course.rating)|number_format }}">&nbsp;</span>
            {% if setting('course.show_student_num_enabled', '1') == 1  %}
            <span class="divider"></span>
            <span class="text-muted mrm mls"><strong>{{ course.studentNum }}</strong>{{setting('default.user_name', '学员')}}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
{% endmacro %}