{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}
{% block description %}{{ setting('site.seo_description') }}{% endblock %}

{% set bodyClass = 'homepage' %}
{% set script_controller = 'index' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" media="screen" href="{{ asset('themes/default/css/class-default.css') }}" />
{% endblock %}

{% block main_content %}

  <!-- 公告 -->
  <section class="notice-section">
    <div class="container">
      <div class="text-line small">
        <h5><i class="es-icon es-icon-notifications"></i><span>EduSoho新版本上线咯，赶紧免费下载更新吧！</span></h5>
        <div class="line"></div>
      </div>
    </div>
  </section>


  <!-- 课程列表 -->
  <section class="course-list-section" id="course-list">
    {% include 'TopxiaWebBundle:Course:Widget/course-grid-with-condition.html.twig' %}
  </section>

  <!-- 特性 -->
  {{ block_show('default:middle_banner') }}


  <!-- 推荐班级 -->
  {% set RecommendClassrooms = data('RecommendClassrooms',{'count':4})%}
  {% if RecommendClassrooms %}
    <section class="class-section">
      <div class="container">
        <div class="index-class-header">
          <div class="text-line">
            <h5><span>推荐班级</span></h5>
            <div class="line"></div>
          </div>
        </div>
        <div class="recommend-class-list row">
          {% for classroom in RecommendClassrooms%}
            <div class="col-md-3 col-sm-6">
               {% include 'ClassroomBundle:Classroom:class-grid.html.twig' %} 
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}

  <!-- 小组动态 -->
  {% set groups = data('HotGroup',{'count':6}) %}
  {% if groups %}
    <section class="group-dynamic">
      <div class="container">
        <div class="group-dynamic-header">
          <div class="text-line gray">
            <h5><span>小组动态</span></h5>
            <div class="line"></div>
          </div>
        </div>
        <div class="group-dynamic-body row">
          <div class="col-md-6">
            <div class="panel panel-default index-group">
              <div class="panel-heading">
                <a href="{{ path('group') }}" class="more">...</a>
                <h3 class="panel-title"><i class="es-icon es-icon-whatshot pull-left"></i>推荐小组</h3>
              </div>
              <div class="panel-body row">
                {% for group in groups %}
                  <div class="media group-item col-md-6 col-sm-4">
                    <div class="media-left">
                      <a href="{{ path('group_show',{id:group.id}) }}">
                        {% if group.logo %}
                          <img src="{{file_path(group.logo)}}">
                        {% else %}
                          <img src="{{asset('assets/img/default/group.png')}}">
                        {% endif %}
                      </a>
                    </div>
                    <div class="media-body">
                      <div class="title"><a href="{{ path('group_show',{id:group.id}) }}">{{ group.title }}</a></div>
                      <div class="metas">
                        <span><i class="es-icon es-icon-people"></i>{{ group.memberNum }}</span>
                        <span><i class="es-icon es-icon-textsms"></i>{{ group.threadNum }}</span>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default index-dynamic">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="es-icon es-icon-recentactors pull-left"></i>学员动态</h3>
                <!-- <a href="javascript:;" class="more">...</a> -->
              </div>
              <div class="panel-body">
                {% set statuses = data('LatestStatuses', {mode:'simple', count: 4}) %}

                {% for status in statuses %}
                  <div class="media">
                    <div class="media-left">
                      {{ web_macro.user_avatar(status.user, '', 'img-circle') }}
                    </div>
                    <div class="media-body">
                      <div class="title">
                        {{ web_macro.user_link(status.user) }}
                      </div>
                      <div class="content">
                        {{ status.message|raw }}
                      </div>
                      <span class="date">{{status.createdTime | smart_time}}</span>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}





{% endblock %}