{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}
{% block description %}{{ setting('site.seo_description') }}{% endblock %}

{% set nav = 'index' %}

{% set bodyClass = 'homepage' %}
{% set script_controller = 'homepage' %}

{% block contentlg %}
 
<section class="row">  
  <!-- banner -->
  <div class="banner clear-mtop">  
    <!-- 广告 -->
    <div class="container clear-pleft clear-pright">
      <div class="banner-bg">
        <div class="top">
          <div class="pull-left bulletin">

            <div class="index-img-box">
              <a    {% if nextActivity.id %} href="{{ path('activity_show',{id:nextActivity.id})}}"  {% endif %}>
                <img class="open-class-logo-midll-size" src="{{ file_path(nextActivity.largePicture,'open-class-default-logo.jpg')  }}" >  
              </a>  
              <h5 class="activity-img-title ">{{nextActivity.subtitle}}</h5>
              <h4 class="activity-img-title "><a href="{{ path('activity_show',{id:nextActivity.id})}}">{{nextActivity.title }}</a></h4>
            </div>
            
          </div>
          <div class="pull-left info">
            <div class="info-header">
              {% if nextActivity.id %} 
                <span class="ky-times">{{ nextActivity.startTime|default('每周二.晚.7:00-9:00') }} </span>
                <span class="ky-address ">{{ nextActivity.address|default('北京.海淀区海淀西大街70号.3W咖啡二楼') }}</span>
                <span class="ky-jiangshi"> <a href="{{ path('user_show',{id:activitTerchar['id'] }) }}">{{ activitTerchar.nickname|default('') }}</a></span>
              {% endif %}
              <div class="fix-right font18">64231人报名公开课</div>
            </div>
            <div class="info-content clearfix">
              <div id="photo" class="photo-wall pull-left">
                <span class=" list-waiting pull-right">
                   <img  width="103" height="101" src="{{ file_path('','avatar.png')}}" >
                </span>
                {% for user in users%}
                <span class="list-item  pull-right">
                  <a href="{{ path('user_show',{id:user.id}) }}">
                    <img  class="tip user-logo-default-size" src="{{ file_path(user.smallAvatar,'user-default-'~user.id%21~'.gif')  }}" alt="user icon">
                  </a>
                  <span class="todos-thumb-span text-left">
                    <a href="{{ path('user_show',{id:user.id}) }}">{{user.nickname}}</a>
                    <span class="user-tag">{{ user.title }}</span>
                  </span>
                </span>
                {% endfor %}
              
                <span class="justify_fix"></span>
              </div>
              <div class="info-ad pull-left">
                <div class="info-btn">
                <p>还等什么呢就差你了</p>
                {% if nextActivity.id %}
                <a class="btn center-block" href="{{ path('activity_join',{id:nextActivity.id}) }}">我要报名</a>
                {% else %}
                <a class="btn center-block" >我要报名</a>
                {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="kyitem">
          <ul class='guide center-block row'>
              <li class="everyone col-md-3">
                <p>没有门道？</p>
                  <strong>大牛是我师</strong>  
                </li>
                <li class="ky-time col-md-3">
                  <p>告别懒惰</p>
                  <strong>计划系统的学习</strong>  
                </li>
                <li class="ky_code col-md-3">
                   <p>告别自负</p>
                  <strong>见识真正的核心技术</strong>
                </li>
                <li class="ky-comtmu col-md-3">
                   <p>告别孤独</p>
                  <strong>这里是温暖的大家庭</strong>
                </li>
            </ul>
        </div>      
    </div>        
  </div>

  <div class="row  prl pll">
    <div class="container clear-pleft clear-pright">   
      <!-- 课程资源 -->
      <div class="es-row-wrap container-gap mtl">
        <div class="mod col-md-12">     
          <div class="kytitle clearfix es-box-heading mtm">
            <h3>课程资源</h3>
            <a href="{{ path('course_explore') }}" target="_blank" class="pull-right">全部课程资源>></a>
          </div>
           
          <div class="es-box-body plll">
            {{ render(controller('TopxiaWebBundle:Course:coursesBlock', {courses:courses, view: 'grid'})) }}
          </div>    
             
        </div>
      </div>
      <!-- 讨论，学员，牛人，谁在学，最新点评-->
      <div class="row">
        <div class="col-md-8 ">          
          <!-- 问答讨论 -->
          <div class=" es-row-wrap container-gap mod k_postlist discussion mod">
            <div class="kytitle clearfix es-box-heading mtm">
              <h3>问答讨论</h3>          
            </div>
            <div class="content">       
              <ul class="pz">
                {% for activityThread in activityThreads %}
                <li>
                  <div class="imageblock clearfix">
                    <div class="imageblock-image">
                      <a href="#" class="show-user-card user-link user-avatar-link" >
                        {% if activityThread['userId']==0 %}
                        <img src="/assets/img/default/avatar.png" alt="ae120"></a>
                        {% else %}
                        <a class="user-link user-avatar-link" href="{{ path('user_show',{id:activityThread['userId']})}}" ><img src="{{ file_path(threadUsers[activityThread.userId].smallAvatar,'avatar.png') }}" class="thumb"></a>
                        {% endif %}
                    </div>
                    <div class="imageblock-content">
                      <p class="title">
                        <a href="
                          {% if activityThread['userId']==0 %}
                            #
                          {% else %}
                             {{ path('user_show',{id:activityThread['userId'] }) }}
                          {% endif %}
                          "
                        >{{ threadUsers[activityThread.userId].nickname }}</a>
                        在 {{activitys[activityThread.activityId].subtitle}} 提问到：

                      </p>
                      <p class="metas">
                        <span class="show-user-card">
                          <a href="{{ path('activity_show',{id:activityThread.activityId})}}">
                             {{ activityThread.content }}
                          </a>
                        </span>
                        <time class="pull-right">{{ activityThread.createdTime|smart_time }}</time>
                      </p>
                      <p class="scan">
                        <a href="{{ path('activity_show',{id:activityThread.activityId})}}">
                          <span class="highlight mz">{{ activityThread.postNum }}</span>
                        </a>
                        <span >个回复</span>
                        
                      </p>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>           
            </div>
          </div>
          <!-- 新加入学员 -->
          <div class="mod trainee">
            <div class="kytitle">
              <h3>新学员</h3>              
            </div>            
            <div class="mod-content">
              <ul class="grids smallpic-grids pz">
                {% for studnet in students %}
                <li class="grid">
                  <a href="{{ path('user_show',{id:studnet['id'] }) }}" class="user-link user-avatar-link">
                    <img src="{{  file_path(studnet.smallAvatar,'avatar.png') }}" alt="用户" class="thumb"></a>
                  <p>
                    <a href="{{ path('user_show',{id:studnet['id'] }) }}">{{ studnet.nickname }}</a>
                  </p>
                </li>
                {% endfor %}
              </ul>
              <p style="clear: both;"></p>
            </div>
          </div>
          <!-- 开源教练组 -->
          <div class="mod coach">
            <div class="kytitle clearfix">
              <h3>牛人团</h3>
              <a href="{{ path('teacher') }}" target="_blank" class="pull-right cm_go">更多»</a>
            </div>
            <div class="mod-content">
              <ul class="grids  pz">
                {% for teacher in teachers %}
                <li class="grid">
                  <a href="{{ path('user_show',{id:teacher.id }) }}">
                    <img src="{{ file_path(teacher.mediumAvatar,'avatar.png')  }}" alt="用户" class="thumb"></a>
                  <p>
                    <h5><a href="{{ path('user_show',{id:teacher.id }) }}">{{teacher.nickname}}</a></h5>
                  </p>
                  <p>{{ teacherinfos[teacher.id].about|raw }}</p>
                </li>
                {% endfor %}
              </ul>
              </div>
          </div>
        </div>

        <!-- 侧栏 -->
        <aside class="col-md-4">
          <!-- 大家正在学 -->
          <div class="widget k_postlist shadow studying">
            <div class="kytitle clearfix bor-l-green">
              <h3>大家正在学</h3>
            </div>
            <div class="content">       
              <ul class="pz">
                {% for userAction in userActions %}
                <li>
                  <div class="imageblock clearfix">
                    <div class="imageblock-image">
                      <a href="{{ path('user_show',{id:userAction['userId'] }) }}" class="show-user-card user-link user-avatar-link" >
                        <img src=" {{ file_path(userActionUsers[userAction.userId].mediumAvatar,'avatar.png')  }}" alt="ae120"></a>
                    </div>
                    <div class="imageblock-content">
                      <p class="title">
                        <a href="{{ path('user_show',{id:userAction['userId'] }) }}">
                          {{ userActionUsers[userAction.userId].nickname  }}
                        </a> 刚刚学习了
                      </p>
                      <p class="metas">
                        <a href="#" class="show-user-card ">{{ userAction.courseName}} 
                          第{{ userAction.chapterName }}章 第{{ userAction.lessonName }}课时</a>
                      </p>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>           
            </div>
          </div>
          <!-- 大家正在学 -->
          <div class="widget k_postlist shadow">
            <div class="kytitle clearfix bor-l-green">
              <h3>最新点评</h3>
              </div>
            <div class="content">       
              <ul class="pz">
                {% for review in reviews%}
                <li>
                  <div class="shadow speak">
                    <p>{{ review.content }}</p>
                  </div>
                  <div class="imageblock clearfix">
                    <div class="imageblock-image">
                      <a href="{{ path('user_show',{id:review['userId'] }) }}" class="show-user-card user-link user-avatar-link" >
                        <img src="{{ file_path( reviewUsers[review.userId].mediumAvatar,'avatar.png')  }}" alt="ae120"></a>
                    </div>
                    <div class="imageblock-content">
                      <p class="title">
                        <a href="{{ path('user_show',{id:review['userId'] }) }}">{{ reviewUsers[review.userId].nickname }} </a>刚刚点评了
                      </p>
                      <p class="metas">
                        <a href="{{ path('course_show', {id:review.courseId }) }}" class="show-user-card " data-uid="1272156">
                          课程 {{ reviewCourse[review.courseId].title }}
                        </a>
                      </p>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>           
            </div>
          </div>          
        </aside>
      </div>
    </div>
  </div>  
</section>

{% endblock %}