{% if reviews %}
	<div class="es-box">
		<div class="es-box-heading"><h2>{% if setting('default.user_name') %}{{setting('default.user_name')|default('学员')}}{% else %}学员{% endif %}评价</h2></div>
	<ul class="media-list latest-review-list">
		{% for review in reviews %}
		  {% set author = users[review.userId]|default(null) %}
		  {% set course = courses[review.courseId]|default(null) %}
		  {% if author and course %}
			  <li class="media">
			  	<a href="{{ path('user_show', {id:author.id}) }}" class="author-picture-link">
				  	<img class="author-picture" src="{{ default_path('avatar',author.smallAvatar, '') }}">
			  	</a>
			  	<a href="{{ path('user_show', {id:author.id}) }}" class="author-nickname">{{ author.nickname }}</a> <span class="text-muted">说：</span> <br>
			  	<div class="review-content">{{ review.content|plain_text(50) }}</div>

				  <div class="review-footer">
					  <a href="{{ path('course_show', {id:course.id}) }}" class="course-title"> 《 {{ course.title }} 》</a>
					  <span class="divider"></span>
					  <span class="stars-{{review.rating }}">&nbsp;</span>
				  </div>
			  </li>
		  {% endif %}
		{% endfor %}
	</ul>
	</div>
{% endif %}