{% if teacher %}
<div class="es-box">
  <div class="es-box-heading"><h2>名师风采</h2></div>
  <div class="es-box-body">
    <div class="promoted-teacher">
      <a href="{{ path('user_show', {id:teacher.id}) }}"><img src="{{ default_path('avatar',teacher.mediumAvatar, '') }}" class="avatar"></a>
      <a class="nickname" href="{{ path('user_show', {id:teacher.id}) }}">{{ teacher.nickname }}</a>
      <div class="title">{{ teacher.title }}</div>
      <div class="about">{{ teacher.about|plain_text(100) }}</div>
      <div class="more"><a href="{{ path('user_show', {id:teacher.id}) }}">去老师主页看看 &raquo;</a></div>
    </div>
  </div>
</div>
{% endif %}