{# <li class="nav-item {% if siteNav and siteNav == nav.url %} active {% endif %}">
  <a href="{{ path('homepage') }}">首页</a>
</li> #}
{% for nav in navigations %}
  {% if nav.isOpen %}
  {% set subNavs = nav.children|default([]) %}
    <li class="nav-item {% if siteNav and siteNav == nav.url %} active {% endif %}">
      <a href="{% if nav.url %}{{ nav.url|navigation_url }}{% else %}javascript:;{% endif %}" class="{% if subNavs %} dropdown-toggle {% endif %}" {% if nav.isNewWin %}target="_blank"{% endif %} {% if subNavs %} data-toggle="dropdown" {% endif %}>{{ nav.name }} {% if subNavs %} <b class="caret"></b>{% endif %}</a>
      {% if subNavs %}
        <ul class="dropdown-menu" role="menu">
          {% for subNav in subNavs %}
            {% if subNav.isOpen %}
            <li><a href="{{ subNav.url|navigation_url }}"  {% if subNav.isNewWin %}target="_blank"{% endif %}>{{ subNav.name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </li>
    {% if  loop.index == 3  %}
    <li class="nav-more">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <span class="more">...</span>
      </a>
      <ul class="dropdown-menu" role="menu"></ul>
    </li>
    {% endif %}
  {% endif %}
{% endfor %}      
