{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}

{% block title %}
  {% if question|default(null) %}{{'编辑题目'|trans}}{% else %}{{'添加题目'|trans}}{% endif %} - {{ parent() }}
{% endblock %}

{% set side_nav = 'question' %}
{% set script_controller = 'quiz-question/create' %}

{% block main %}

{% set parentQuestion = parentQuestion|default(null) %}

<div class="panel panel-default panel-col">
  <div class="panel-heading clearfix">
    {{'题目管理'|trans}}
  </div>
  <div class="panel-body">

    <ol class="breadcrumb">
      <li><a href="{{ path('course_manage_question',{courseId:course.id}) }}">{{'题目管理'|trans}}</a></li>
      {% if parentQuestion %}
        <li><a href="{{ path('course_manage_question',{courseId:course.id, parentId: parentQuestion.id}) }}">{{ dict_text('questionType', parentQuestion.type) }}</a></li>
      {% endif %}
      <li>{% if question|default(null) %}{{'编辑题目'|trans}}{% else %}{{'添加题目'|trans}}{% endif %} </li>
      <li class="active">{{ dict_text('questionType',type) }}</li>
    </ol>

    <div id="question-creator-widget">
      {% include typeTemplate %}
    </div>

  </div>
</div>


{% endblock %}
