{% import 'macro.html.twig' as web_macro %}
<div class="container" style="width:100%">
{% for list in lists %}
    <label class="radio">
        <input type="radio" {{list.checked}} name="common" id="radio_{{ list.name}}" value="{{ list.name}}" />
        <label for="radio_{{ list.name}}">{{list.name}}</label>
        <select style="float:right;" class="version_select">
            {% for item in list.tags %}
            <option value="{{item.tag_name}}" {{item.checked}}>{{item.tag_name}}</option>
            {% endfor %}
        </select>
    </label>
{% endfor %}
</div>
<nav class="text-center">
    {{ web_macro.ajax_paginator(paginator) }}
</nav>