{% import 'macro.html.twig' as web_macro %}
<div class="container" style="width:100%">
{% for list in lists %}
    <label class="radio">
        <input type="radio" {{ list.checked }} name="common" id="radio_{{ list.id}}" value="{{ list.id}}" />
        <label for="radio_{{ list.id}}">{{list.name}}</label>
        <select style="float:right;">
            <option>v1.0.0</option>
            <option>v1.0.1</option>
            <option>v1.0.2</option>
        </select>
    </label>
{% endfor %}
</div>
<nav class="text-center">
    {{ web_macro.ajax_paginator(paginator) }}
</nav>