{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {%- block title -%}
      {{ setting('site.name', 'EduSoho') }}{% if setting('site.slogan') %} - {{ setting('site.slogan') }}{% endif %}{% if not setting('copyright.owned') %} - Powered By EduSoho{% endif %}
    {%- endblock -%}
  </title>
  <meta name="keywords" content="{% block keywords %}{% endblock %}" />
  <meta name="description" content="{% block description %}{% endblock %}" />
  <meta content="{{ csrf_token('site') }}" name="csrf-token" />
  {{ setting('login_bind.verify_code', '')|raw }}
  {% if setting('site.favicon') %}
  <link href="{{ asset(setting('site.favicon')) }}" rel="shortcut icon" />
  {% endif %}
  {% block stylesheets %}
    <link href="{{ asset('assets/libs/gallery2/bootstrap/3.1.1/css/bootstrap.css') }}" rel="stylesheet" />
    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/common.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/bootstrap-extends.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('themes/default/css/class-default.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/web.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/member.css') }}" />
     <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/main.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/iconfont.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/font-awesome.min.css') }}" />
    <!--[if lt IE 8]>
      <link href="{{ asset('assets/css/oldie.css') }}" rel="stylesheet">
    <![endif]-->
  {% endblock %}
  <!--[if lt IE 9]>
    <script src="{{ asset('assets/libs/html5shiv.js') }}"></script>
  <![endif]-->

  <!--[if IE 8]>
    <script src="{{ asset('assets/libs/respond.min.js') }}"></script>
  <![endif]-->

  {% block head_scripts %}{% endblock %}

</head>
<body {% if bodyClass|default('') %}class="{{ bodyClass }}"{% endif %}>

{% block body %}
  
  {% include 'TopxiaWebBundle::email-setting.html.twig' %}
  <header class="navbar">
    <div class="container">
      <div class="navbar-header">
        <div class="visible-xs navbar-mobile">
          <a href="javascript:;" class="navbar-more js-navbar-more"><i class="iconfont icon-gengduo"></i></a>
          <div class="nav-mobile">
            <form class="navbar-form">
              <div class="form-group">
                <input class="form-control" placeholder="搜索">
                <button class="button iconfont icon-search"></button>
              </div>
            </form>
            <ul class="nav navbar-nav">
              {{ render(controller('TopxiaWebBundle:Default:topNavigation', {siteNav:siteNav|default(null)})) }}
            </ul>
          </div>
        </div>
        <a href="javascript:;" class="navbar-brand">
          {% if setting('site.logo') %}
            <img src="{{ asset(setting('site.logo')) }}">
          {% else %}
            <img src="{{ asset('bundles/topxiaweb/img/logo.png') }}">    
          {% endif %}
        </a>
      </div>
      <ul class="nav navbar-nav clearfix hidden-xs" id="nav">
        {{ render(controller('TopxiaWebBundle:Default:topNavigation', {siteNav:siteNav|default(null)})) }}
      </ul>

      <div class="pull-right navbar-user">
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <!--
          <li><a href="javascript:;">登陆</a></li>
          <li><a href="javascript:;">注册</a></li>
           -->
          {% if app.user %}
          <li class="info-img">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <img src="{{ default_path('avatar', app.user.smallAvatar, '') }}" class="img-circle">
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="javascript:;" class="user">{{ app.user.nickname }}</a></li>
              <li><a href="{{ path('user_show', {id:app.user.id}) }}"><i class="iconfont icon-ren"></i>个人主页</a></li>
              <li><a href="{{ path('settings') }}"><i class="iconfont icon-shezhi"></i>个人设置</a></li>
              <li><a href="{% if setting('coin.coin_enabled') %}{{path('my_coin')}}{% else %}{{path('my_bill')}}{% endif %}"><i class="iconfont icon-001"></i>账户中心</a></li>
              {% if is_granted('ROLE_BACKEND') %}<li><a href="{{ path('admin') }}"><i class="iconfont icon-dashboard"></i>管理后台</a></li>
              {% endif %}
              <li><a href="{{ path('logout') }}"><i class="iconfont icon-tuichu"></i>退出登陆</a></li>
            </ul>
          </li>
          <li>
            <a href="{{ path('my') }}">学习中心</a>
          </li>
          <li>
            <a href="javascript:;" data-toggle="dropdown" role="button" aria-expanded="false"><i class="iconfont icon-youjian"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ path('notification') }}"><i class="iconfont icon-bell"></i>通知<span class="pull-right num">{% if app.user.newNotificationNum > 0 %}{{ app.user.newNotificationNum }}{% endif %}</span></a></li>
              <li><a href="{{ path('message') }}"><i class="iconfont icon-shezhi"></i>私信<span class="pull-right num">{% if app.user.newMessageNum > 0 %}{{ app.user.newMessageNum }}{% endif %}</span></a></li>
            </ul>
          </li>
          {% else %}
             <li><a href="{{ path('login', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">登陆</a></li>
             <li><a href="{{ path('register', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">注册</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right visible-xs">
          {% if app.user %}
          <li class="info-img">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <img src="{{ default_path('avatar', app.user.smallAvatar, '') }}" class="img-circle">
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="javascript:;" class="user">{{ app.user.nickname }}</a></li>
              <li><a href="{{ path('user_show', {id:app.user.id}) }}"><i class="iconfont icon-ren"></i>个人主页</a></li>
              <li><a href="{{ path('settings') }}"><i class="iconfont icon-shezhi"></i>个人设置</a></li>
              <li><a href="{% if setting('coin.coin_enabled') %}{{path('my_coin')}}{% else %}{{path('my_bill')}}{% endif %}"><i class="iconfont icon-001"></i>账户中心</a></li>
              {% if is_granted('ROLE_BACKEND') %}<li><a href="{{ path('admin') }}"><i class="iconfont icon-dashboard"></i>管理后台</a></li>
              {% endif %}
              <li><a href="{{ path('logout') }}"><i class="iconfont icon-tuichu"></i>退出登陆</a></li>
              <li><a href="javascript:;"><i class="iconfont icon-study"></i>学习中心</a></li>
              <li><a href="{{ path('notification') }}"><i class="iconfont icon-tongzhi"></i>通知<span class="pull-right num">{% if app.user.newNotificationNum > 0 %}{{ app.user.newNotificationNum }}{% endif %}</span></a></li>
              <li><a href="{{ path('message') }}"><i class="iconfont icon-shezhi"></i>私信<span class="pull-right num">{% if app.user.newMessageNum > 0 %}{{ app.user.newMessageNum }}{% endif %}</span></a></li>
            </ul>
          </li>
          {% else %}
             <li><a href="{{ path('login', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">登陆</a></li>
             <li><a href="{{ path('register', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">注册</a></li>
          {% endif %}
        </ul>
        <form class="navbar-form col-md-6 col-sm-3 pull-right hidden-xs">
          <div class="form-group">
            <input class="form-control js-search">
            <button class="button iconfont icon-search"></button>
          </div>
        </form>
      </div>
    </div>
  </header>
  
  {% block main_content %}
  <div id="content-container" class="container">
    {% include 'TopxiaWebBundle:Announcement:announcement.html.twig' %}
    
    {% block content %}{% endblock %}
    
  </div><!-- /container -->

  {% endblock %}
    
  <footer class="footer clearfix">
    <div class="footer-link">
      <div class="container">
        <div class="row">
          <div class="col-md-8 footer-main clearfix">
            <div class="link-item">
              <h3>我是学生</h3>
              <a href="javascript:;">如何注册</a>
              <a href="javascript:;">如何学习</a>
              <a href="javascript:;">如何互动</a>
            </div>
            <div class="link-item">
              <h3>我是老师</h3>
              <a href="javascript:;">发布课程</a>
              <a href="javascript:;">使用题库</a>
              <a href="javascript:;">教学资料库</a>
            </div>
            <div class="link-item">
              <h3>我是管理员</h3>
              <a href="javascript:;">系统设置</a>
              <a href="javascript:;">课程设置</a>
              <a href="javascript:;">用户管理</a>
            </div>
            <div class="link-item hidden-xs">
              <h3>商业应用</h3>
              <a href="javascript:;">会员专区</a>
              <a href="javascript:;">题库增强版</a>
              <a href="javascript:;">用户导入导出</a>
            </div>
            <div class="link-item hidden-xs">
              <h3>关于我们</h3>
              <a href="javascript:;">ES官网</a>
              <a href="javascript:;">官方微博</a>
              <a href="javascript:;">加入我们</a>
            </div>
          </div>
          <div class="col-md-4 footer-logo">
            <img src="{{ asset('bundles/topxiaweb/img/bottom_logo.png') }}">
            <div class="footer-partner">
              <a href="javascript:;"><i class="iconfont icon-sina"></i></a>
              <a href="javascript:;"><i class="iconfont icon-qq"></i></a>
              <a href="javascript:;"><i class="iconfont icon-weixin"></i></a>
              <a href="javascript:;"><i class="iconfont icon-mobile"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <span>Powered by EduSoho v4.7.9 ©2014-2015</span>
        <span>课程内容版权均归杭州阔知网络科技有限公司所有   浙ICP备13006852号-1</span>
      </div>
    </div>
  </footer>

  {% block bottom %}{% endblock %}
  <div id="login-modal" class="modal" data-url="/login/ajax"></div>
<div id="modal" class="modal"></div>
{% endblock %}

{% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaweb/js/app.js')} %}


</body>
</html>