{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {{ setting('site.name', 'EDUSOHO') }} - {% if setting('site.slogan') %}{{ setting('site.slogan') }} -{% endif %} Powered by EDUSOHO{% endblock %}</title>
  <meta name="keywords" content="{% block keywords %}{% endblock %}" />
  <meta name="description" content="{% block description %}{% endblock %}" />
  {% block stylesheets %}
    <link href="{{ asset('assets/libs/gallery2/bootstrap/3.0.1/css/bootstrap.css') }}" rel="stylesheet" />
    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/common.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/bootstrap-extends.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/web.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/layout.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/style.css') }}" />
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/osf.css') }}" />
    
    <!--[if lt IE 8]>
      <link href="{{ asset('assets/css/oldie.css') }}" rel="stylesheet">
    <![endif]-->
  {% endblock %}
  <!--[if lt IE 9]>
    <script src="{{ asset('assets/libs/html5shiv.js') }}"></script>
  <![endif]-->

  <!--[if IE 8]>
    <script src="{{ asset('assets/libs/respond.min.js') }}"></script>
  <![endif]-->
  {% block head_scripts %}{% endblock %}
</head>
<body {% if bodyClass|default('') %}class="{{ bodyClass }}"{% endif %}>

{% set nav = 'df' %}

{% block body %}
<header class="navbar navbar-inverse site-navbar navbar-fixed-top mz pz" id="site-navbar"  data-counter-url="{{ path('user_remind_counter') }}">   
    <div class="container"> 
      <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            {% if setting('site.logo') %}
              <a class="navbar-brand-logo" href="{{ path('homepage') }}"><img src="{{ asset(setting('site.logo')) }}"></a>
            {% else %}
              <a class="navbar-brand" href="{{ path('homepage') }}">{{ setting('site.name', 'EDUSOHO') }}</a>
            {% endif %}
      </div>
      <nav class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav">
          {{ render(controller('TopxiaWebBundle:Default:topNavigation')) }}
          {% if app.user %}
            
                <li><a href="{{ path('my') }}"> 我的课程 </a></li>
                <li><a href="{{ path('notification') }}" class="badge-container notification-badge-container">
                  <span class="glyphicon glyphicon-bullhorn"></span>
                  {% if app.user.newNotificationNum > 0 %}<span class="badge">{{ app.user.newNotificationNum }}</span>{% endif %}</a></li>
                <li><a href="{{ path('message') }}" class="badge-container message-badge-container"><span class="glyphicon glyphicon-envelope"></span>{% if app.user.newMessageNum > 0 %}<span class="badge">{{ app.user.newMessageNum }}</span>{% endif %}</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.nickname }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ path('user_show', {id:app.user.id}) }}"><i class="glyphicon glyphicon-home"></i> 我的主页</a></li>
                    <li><a href="{{ path('settings') }}"><i class="glyphicon glyphicon-cog"></i> 帐号设置</a></li>
                    <li class="divider"></li>
                    
                    {% if is_granted('ROLE_TEACHER') %}
                      <li><a href="{{ path('course_create') }}"><i class="glyphicon glyphicon-plus"></i> 创建课程</a></li>
                    {% endif %}

                    <li class="divider"></li>
                    {% if is_granted('ROLE_ADMIN') %}
                      <li><a href="{{ path('admin') }}"><i class="glyphicon glyphicon-dashboard"></i> 管理后台</a></li>
                      <li class="divider"></li>
                    {% endif %}
                    <li><a href="{{ path('logout') }}"><i class="glyphicon glyphicon-off"></i> 退出</a></li>
                  </ul>
                </li>
              {% else %}
                <li><a href="{{ path('login') }}">登录</a></li>
                <li><a href="{{ path('register') }}">注册</a></li>
          {% endif %}
        </ul>           
      </nav>    
    </div>     
</header> 

<div class="slide"></div>
 
<!-- container -->
<div id="content-container" class="container">
    {% if app.user and app.user.setup == 0 and (hideSetupHint is not defined or hideSetupHint != true) %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        为了帐号的安全，以及更好的使用体验，请设置您的Email地址。
        <a href="{{ path('settings_setup') }}">现在就去设置</a>
      </div>
    {% endif %}
    {% block content %}{% endblock %}
</div>

{% block bottom %}
<!-- container -->
<footer class="footer">
    <div class="container clearfix">    
      <div class="pull-left bor-r col-md-5">
        <img class="footer-ad" src="{{ asset('bundles/topxiaweb/img/kaiyuan.jpg') }}" >
        <ul class="about plm">
          <li>关于我们</li>
          <li>使用帮助</li>
          <li>意见反馈</li>
          <li>联系方式</li>
          <li>招聘信息</li>
        </ul>     
      </div>
      <div class="pull-left bor-l bor-r col-md-2">
        <ul class="links">
          <li>好知网</li>
          <li></li>
          <li>友情链接</li>
          <li>友情链接</li>
          <li>友情链接</li>
        </ul>
      </div>
      <div class="pull-left bor-l bor-r col-md-3">
        <p>开源力量创始人</p>
        <p>
          <img src="{{ asset('bundles/topxiaweb/img/ceo1.png')}}">     
          <img src="{{ asset('bundles/topxiaweb/img/ceo2.png')}}"></p>
        <div class="contact">
          <p>如果你遇到任何疑问,<br>欢迎随时给我们留言</p>
        </div>
      </div>
      <div class="pull-right bor-l col-md-2">
        <div class="social-media">
          <p class="ky-sina">新浪微博</p>
          <p class="ky-weixin">微信</p>
          <div>
            <img src="{{ asset('bundles/topxiaweb/img/weixin.png')}}">
          </div>
        </div>
      </div>
    </div>
</footer>

{% endblock %}

<div id="login-modal" class="modal" data-url="{{ path('login_ajax') }}"></div>
<div id="modal" class="modal"></div>
{% endblock %}

{% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaweb/js/app.js')} %}

<div  style="display:none">{{ setting('site.analytics')|raw }}</div>

</body>
</html>