{% extends 'WebBundle:Activity:content-layout.html.twig' %}

{% do script(['web/activity/ppt/index.js']) %}

{% block body %}
  <div id="activity-ppt-content"
       data-finish-type="{{ ppt.finishType }}"
       data-finish-detail="{{ ppt.finishDetail }}"
       data-slides="{{ slides|join(',') }}" {% if setting('magic.ppt_watermark') %} data-watermark-url="{{ path('cloud_ppt_watermark') }}"{% endif %}>
    {% if not error is empty %}
      {{ error.message|raw }}
    {% endif %}

    <div class="slide-player">
      <div class="slide-player-body loading-background"></div>
      <div class="slide-notice">
        <div class="header">{{ '已经到最后一张图片了哦'|trans }}
          <button type="button" class="close">×</button>
        </div>
      </div>
      <div class="slide-player-control clearfix">
        <a href="javascript:" class="goto-first">
          <span class="glyphicon glyphicon-step-backward"></span>
        </a>
        <a href="javascript:" class="goto-prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="javascript:" class="goto-next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <a href="javascript:" class="goto-last">
          <span class="glyphicon glyphicon-step-forward"></span>
        </a>
        <a href="javascript:" class="fullscreen">
          <span class="glyphicon glyphicon-fullscreen"></span>
        </a>
        <div class="goto-index-input">
          <input type="text" class="goto-page form-control input-sm" value="1">&nbsp;/&nbsp;
          <span class="total"></span>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

