<div class="order-item clearfix">
  <div class="order-item-title">
    <i class="es-icon es-icon-localplay">
    </i>
    <span class="title">{{'order.confirm.coupon'|trans}}</span>

      <span role="no-use-coupon-code">
      （{{'order.confirm.coupon.empty'|trans}}）</span>

  </div>



  <div class="order-item-detail  coupon-detail">
  {% if true %}
      <div role="null-coupon-code">
        {% if coupons %}
          <select class="form-control width-input width-input-large" id="coupon-select" name="couponCode">
            {% for coupon in coupons %}
              {% if coupon.type == 'minus' %}
                  <option data-target-type="{{targetType}}" data-target-id="{{targetId|default(0) }}" data-amount="{{ totalPrice }}" data-code="{{ coupon.code }}" value="{{ coupon.code }}">{{'plugin.coupon.minus_tips'|trans({'%rate%':coupon.rate})}}</option>
              {% endif %}
              {% if coupon.type == 'discount' %}
                <option data-target-type="{{targetType}}" data-target-id="{{targetId|default(0) }}" data-amount="{{ totalPrice }}" data-code="{{ coupon.code }}" value="{{ coupon.code }}">{{'plugin.coupon.discount_tips'|trans({'%rate%':coupon.rate})}}</option>
              {% endif %}
            {% endfor %}
            <option data-code="" value="">{{'plugin.coupon.no_use_option'|trans}}</option>
          </select>
          <a id="coupon-code-btn" class="btn btn-primary" href="javascript:;">{{'plugin.coupon.change_btn'|trans}}</a>
        {% else %}
          <a id="coupon-code-btn" class="btn btn-primary" href="javascript:;">{{'plugin.coupon.use_btn'|trans}}</a>
        {% endif %}
      </div>


    {% if targetType in ['course','vip','classroom'] %}
      <div role="coupon-code" class="input-group" style="display: none;">
        <input role="coupon-code-verified" name="couponCode" type="hidden"/>
        <input style="width:150px;" role="coupon-code-input" type="text" class="form-control mrm" placeholder="{{'plugin.coupon.use.input_placeholder'|trans}}" data-target-type="{{targetType}}" data-target-id="{{targetId|default(0) }}" data-amount="
         {{ totalPrice }}
        "/>
          <button class="btn btn-primary" type="button" role="coupon-use">{{'form.btn.use'|trans}}</button>
          <a href="javascript:;" class="btn btn-link" role="cancel-coupon">{{'form.btn.cancel'|trans}}</a>
      </div>
    {% endif %}
  {% else %}
    <a id="coupon-code-btn" class="btn btn-primary" href="javascript:;">{{'plugin.coupon.choose_btn'|trans}}</a>
    {% if app.request.query.get('targetType') in ['course','vip','classroom'] %}
      <div role="coupon-code" class="input-group" style="display: none;">
        <input role="coupon-code-verified" name="couponCode" type="hidden"/>
        <input style="width:150px;" role="coupon-code-input" type="text" class="form-control mrm" placeholder="{{'plugin.coupon.use.input_placeholder'|trans}}" data-target-type="{{app.request.query.get('targetType')}}" data-target-id="{{app.request.query.get('targetId')|default(0) }}" data-amount="
         {{ totalPrice }}
        "/>
          <button class="btn btn-primary" type="button" role="coupon-use">{{'form.btn.use'|trans}}</button>
          <a href="javascript:;" class="btn btn-link" role="cancel-coupon">{{'form.btn.cancel'|trans}}</a>
      </div>
    {% endif %}
  {% endif %}
    <div role="code-notify" class="alert alert-success alert-xs mtm" style="display:none;line-height:20px;"></div>
  </div>
  <div class="order-item-price" role="coupon-price">
    <span class="mrs">{{'plugin.coupon.minus'|trans}}</span>
    {% if priceType|default("RMB") == "RMB" %}<span>￥</span>{% endif %}
    <span role="price" style="font-size: 24px">0.00</span>
    <span>
      {% if priceType|default("RMB") == "RMB" %} {% else %} {{ setting("coin.coin_name") }} {% endif %}
    </span>
  </div>
</div>
