<div class="order-detail clearfix">
  <div class="order-img hidden-xs">
    <a href="{{ path('course_show', {id:course.id}) }}">
      <img class="img-responsive" src="{{ filepath(course.middlePicture, 'course.png') }}" alt="{{ course.title }}"></a>
  </div>
  <div class="order-info text-overflow">{{ course.title }}</div>
  <div class="order-price">
    {% if priceType|default('RMB') == "RMB" %}
      <span class="pay-rmb">￥</span>
    {% endif %}
    <span role="total-price" class="pay-rmb">{{totalPrice}}</span>
    {% if priceType|default('RMB') == "RMB" %}
    {% elseif priceType|default('RMB') == "Coin" %}
      {{setting("coin.coin_name")}}
    {% endif %}
  </div>
</div>