{% import "common/data-dict-macro.html.twig" as dict_macro %}
{% import "macro.html.twig" as web_macro %}
{% set mode = mode|default(['my']) %}

<thead>
  <tr>
    <th width="25%">{{'order.name'|trans}}</th>
    <th>{{'order.id'|trans}}</th>
    <th class="text-right">{{'order.real_pay'|trans}}</th>
    <th>{{'order.payment_pattern'|trans}}</th>
    <th>{{'order.createdTime'|trans}}</th>
    <th>{{'order.status'|trans}}</th>
    <th style="min-width:100px">{{'user.orders.operation'|trans}}</th>
  </tr>
</thead>

<tbody>
  {% for order in orders %}
    <tr id="order-table-{{order.id}}">
      <td>
        {% if order.targetType == 'course' %}
          <a class="cd-link-gray-dark" href="{{ path('course_show', {id:order.targetId}) }}" target="_blank">{{order.title}}</a>
        {% elseif order.targetType == 'vip' %}
          <a class="cd-link-gray-dark" href="{{ path('vip', {id:order.targetId}) }}" target="_blank">{{order.title}}</a>
        {% elseif order.targetType == 'classroom' %}
          <a class="cd-link-gray-dark" href="{{ path('classroom_show', {id:order.targetId}) }}" target="_blank">{{order.title}}</a>
        {% else %}
          {{order.title}}
        {% endif %}
      </td>
      <td>{{order.sn}}</td>
      <td class="text-right">{{order.totalPrice}}</td>
      <td>
        {{ dict_text('payment', order.payment)|default('--') }}
      </td>
      <td>{{ order.createdTime|date('Y-n-d H:i:s') }}</td>
      <td>{{ dict_macro.orderStatusV2(order.status) }}</td>
      <td>
        <div class="table-action">
          <div class="table-action__item">
            <a href="javascript:;" class="cd-link-primary" data-toggle="modal" data-target="#modal" data-url="{{ path('web_user_order_detail', {id:order.id}) }}">{{'form.btn.detail'|trans}}</a>
          </div>
          {% if order.status == 'refunding' or  order.status == 'created' %}
            <div class="table-action__item dropdown">
              <a href="javascript:;" class="cd-link-primary" data-toggle="dropdown">
                更多<i class="cd-text-xs cd-icon cd-icon-arrow-down"></i>
              </a>

              <ul class="dropdown-menu cd-dropdown-menu cd-dropdown-menu-right">
                {% if order.status == 'refunding' %}
                  <li><a href="javascript:;" class="js-cancel-refund" data-url="{{ path('my_order_cancel_refund', {id:order.id}) }}">{{'user.orders.cancel_refund'|trans}}</a></li>
                {% endif %}
                {% if order.status == 'created' %}
                  <li>
                    <a href="{{path('pay_center_show', {sn:order.sn, targetType:order.targetType})}}">{{'user.orders.pay'|trans}}</a>
                  </li>
                  <li><a href="javascript:;" class="js-cancel" data-url="{{ path('my_order_cancel', {id:order.id}) }}">{{'user.orders.cancel_order'|trans}}</a></li>
                {% endif %}
              </ul>
            </div>
          {% endif %}
        </div>
      </td>
    </tr>
  {% else %}
    <tr><td colspan="20"><div class="cd-empty">{{'site.datagrid.empty'|trans}}</div></td></tr>
  {% endfor %}
</tbody>