<input type="hidden" name="buyType" value="{{buyType}}"/>
<input type="hidden" name="duration" value="{{duration|default('')}}"/>
<input type="hidden" name="unitType" value="{{unitType|default('')}}"/>
<input type="hidden" name="type" value="{{type|default('')}}"/>
<div class="order-detail">
  <div class="order-img hidden-xs">
    <a href="{{ path('vip_course_explore', {levelId:level.id}) }}">
      <img class="img-responsive" src="{{ level.picture|default(asset('assets/img/default/vip-default.png')) }}" alt="">
    </a>
  </div>
  <div class="order-info">
    {% if type|default(true) %}
      {% if buyType == "upgrade" %}
      {{'order.vip_order.level_up_tips'|trans({'%level.name%':level.name})}}
      {% elseif buyType == "renew" %}
         {{ 'order.vip_order.renew_tips'|trans({'%level.name%':level.name,'%duration%':duration})}}{% if unitType == "month" %}{{'order.vip_order.total_months'|trans}}{% elseif unitType == "year" %}{{'site.date.year'|trans}}
      {% endif %}
      {% else %}
        {{'order.vip_order.buy_tips'|trans({'%level.name%':level.name,'%duration%':duration})}}{% if unitType == "month" %}{{'order.vip_order.total_months'|trans}}{% elseif unitType == "year" %}{{'site.date.year'|trans}}
      {% endif %}
      {% endif %}
    {% endif %}
  </div>
  <div class="order-price">
    {% if priceType|default('RMB') == "RMB" %}
      <span class="pay-rmb">￥</span>
    {% endif %}
    <span role="total-price" class="pay-rmb">{{totalPrice}}</span>
    {% if priceType|default('RMB') == "RMB" %}
    {% elseif priceType|default('RMB') == "Coin" %}
    {{setting("coin.coin_name")}}
    {% endif %}
  </div>
</div>
