{% extends 'admin-v2/layout.html.twig' %}

{% set menu = 'admin_v2_wap_set' %}

{% do load_script('h5-admin/index.js') %}

{% block main %}

  {{ web_macro.flash_messages() }}

  <div class="h5-find-body">
    <ul class="nav nav-tabs setting-nav-tab js-nav-tab">
      <li class="active"><a href="#find-page" data-toggle="tab">微网校</a></li>
      <li ><a href="#theme-page" data-toggle="tab">装修主题</a></li>
      <li ><a href="#site-page" data-toggle="tab">微网校设置</a></li>
    </ul>
    <div class="tab-content h5-tab-content">

      {# 发现页设置 #}
      <div class="tab-pane fade in active" id="find-page">
        {% if 2 != wapSetting.version %}
        <div class="row h5-clearfix ">
          <div class="find-page__left">
                <img class="find-page__left--img" src="{{ asset('static-dist/app/img/admin/h5/iPhoneX.png') }}" alt="{{ 'admin.wap_setting.new'|trans|raw }}" />
                <div class="find-page__left--scroll">
                  <img class="scroll-img" src="{{ asset('static-dist/app/img/admin/h5/h5-all.png') }}" alt="{{ 'admin.wap_setting.new'|trans|raw }}" />
                </div>
          </div>
          <div class=" find-page__right">
            <p class="find-page__right--text">
                微网校是通过浏览器打开应用，无需下载。网校可以链接发给学员，或在推送的短信中加入链接，学员点击链接后，即可立即进入微网校内进行学习、购买课程、课程分享等。微网校比较适用于通过营销活动促进学员分享、拉新、促活等目的。
            </p>
            <a class="btn-h5-open js-site-set" href="#theme-page" data-toggle="tab">{{ 'admin.wap_setting.open'|trans|raw }}</a>
          </div>
        </div>
         {% else %}
           {% if template %}
             <iframe src="/h5/admin/index.html?template={{ template }}" frameborder="0" style="width: 100%;height: 700px;border: none;"></iframe>
           {% else %}
             <iframe src="/h5/admin/index.html" frameborder="0" style="width: 100%;height: 700px;border: none;"></iframe>
           {% endif %}
        {% endif %}
      </div>
       {# 站点页设置 #}
      <div class="tab-pane fade" id="site-page">
          <div class="help-block-container">
              <h4 class="mbl">首次开启微网校，请修改微信支付配置</h4>
              <p>1、首次开启微网校，需要修改微信配置，否则用户无法在微网校中支付购课。</p>
              <p>2、旧版微网校改用新版微网校的客户，需修改微信配置。</p>
              <a href="http://www.qiqiuyu.com/faq/793/detail" target="_blank">【查看教程】</a>
          </div>
      </div>

      {# 装修主题 #}
      <div class="tab-pane fade" id="theme-page">
        <form class="form-horizontal" method="post" id="wap-setting-form" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="row theme-bg">
                <div class="theme-recomend"><div>推荐</div></div>
                <div class="col-md-5   theme-left"> 
                  <img class="theme-default-img" src="{{ asset('static-dist/app/img/admin/h5/new_default_img.png') }}" alt="{{ 'admin.wap_setting.new'|trans|raw }}" />
                </div>
                <div class="col-md-7 theme-right">
                  <div class="theme-right__title"><b>主题名称：</b>启航</div>
                  <div >
                    <p class="mbm theme-right__title"><b>主题亮点：</b><p>
                    <div class="theme-right__content">
                      <p>1、促进新用户试学和低客单价课程转化</p>
                      <p>2、装修组件更齐全。</p>
                      <p>3、自定义灵活编辑。</p>
                      <p>4、更适合移动端的用户体验。</p>
                    </div>
                  </div>
                  <button type="button" class="btn btn-h5-save js-site-save" data-version="2" data-template="sail">立即应用</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-10 col-xs-12">
              <div class="row theme-bg">
                <div class="col-md-5  theme-left"> 
                    <img class="theme-default-img" src="{{ asset('static-dist/app/img/admin/h5/old_default_img.png') }}" alt="{{ 'admin.wap_setting.old'|trans|raw }}"/>
                </div>
                <div class="col-md-7  theme-right">
                  <div class="theme-right__title"><b>主题名称：</b>简墨</div>
                  <div >
                    <p class="mbm theme-right__title"><b>主题亮点</b><p>
                    <div class="theme-right__content">
                      <p>1、PC端适配为微网校。</p>
                      <p>2、一键应用，省时省力。</p>
                      <p>3、组件有限，不支持自定义编辑。</p>
                    </div>
                  </div>
                  <button type="button" class="btn btn-h5-save js-site-save" data-version="1" data-template="jianmoOn">立即应用</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row theme-bg">
                  <div class="col-md-5 theme-left"> 
                      <img class="theme-default-img" src="{{ asset('static-dist/app/img/admin/h5/no_default_img.png') }}" alt="{{ 'admin.wap_setting.old'|trans|raw }}"/>
                  </div>
                  <div class="col-md-7  theme-right">
                    <div class="theme-right__title"><b>主题名称：</b>简墨</div>
                    <div >
                      <p class="mbm theme-right__title"><b>主题亮点 ：</b><p>
                      <div class="theme-right__content">
                        <p>1、PC端自适应为微网校。</p>
                        <p>2、一键应用，省时省力。</p>
                        <p>2、一键应用，省时省力。</p>
                        <p>4、更适合PC端的用户体验。</p>
                      </div>
                    </div>
                    <button type="button" class="btn btn-h5-save js-site-save" data-version="0" data-template="jianmoOff">立即应用</button>
                  </div>
              </div>
          </div>
          <input type="hidden" name="template" value="{{ wapSetting.template }}">
          <input type="hidden" name="version" value="{{ wapSetting.version }}">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
        </form>
      </div>
    </div>
  </div>
{% endblock %}