{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_bill' %}

{% block main %}

    <form id="user-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
      <div class="form-group">
        <select class="form-control" name="lastHowManyMonths"  onchange="submit();">
          {% set options = {'':'admin.bill.time_option.default'|trans,'oneWeek':'admin.bill.time_option.last_one_week'|trans,'twoWeeks':'admin.bill.time_option.last_two_week'|trans,'oneMonth':'admin.bill.time_option.last_one_month'|trans,'twoMonths':'admin.bill.time_option.last_two_month'|trans,'threeMonths':'admin.bill.time_option.last_three_month'|trans} %}
          {{ select_options(options, app.request.get('lastHowManyMonths')) }}
        </select>
      </div>
    <div class="form-group">
        <input type="text" id="nickname" name="nickname" class="form-control" value="{{ app.request.query.get('nickname') }}" placeholder="{{ 'form.placeholder.nickname'|trans }}">
    </div>

    <button class="btn btn-primary">{{ 'form.btn.search'|trans }}</button>
    <a class="btn btn-primary" href="{{ path('admin_bill_export_csv',{
    lastHowManyMonths:app.request.get('lastHowManyMonths'),
    cashType:cashType,
    nickname:app.request.query.get('nickname'),
    })}}">{{ 'form.btn.export_result'|trans }}</a>

    </form>

    <p class="text-muted">
      <span class="mrl">{{ 'finance.balance'|trans }}：<strong class="inflow-num">{{ account.cash_amount|round(2) }}</strong> {{ 'site.currency.CNY'|trans }}</span>
      <span class="mrl">{{ 'finance.expense'|trans }}：<strong class="outflow-num">{{ math_format(amountOutflow, 0.01) }}</strong> {{ 'site.currency.CNY'|trans }}</span>
    </p>

    <div class="table-responsive">
      <table class="table table-striped">
        <tr class="text-sm">
          <th><span>{{ 'order.sn'|trans }}</span></th>
          <th><span>{{ 'name'|trans }}</span></th>  
          <th><span>{{ 'user.fields.username_label'|trans }}</span></th>             
          <th><span>{{ 'order.paid_time'|trans }}</span></th>
          <th class="text-right prl"><span>{{ 'finance.income_expense'|trans }}</span></th>
          <th><span>{{ 'order.payment_pattern'|trans }}</span></th>
        </tr>
         {% if cashes %}
          {% for cash in cashes %}
            {% if cash['order_sn']|default(false) %}
                {% set order = orders[cash['order_sn']] %}
            {% endif %}
            <tr class="text-sm">
              <td><span >{{ cash.sn }}</span></td>
              <td><span>{{ cash.title }}</span><br>
                  {% if order|default(false) %}
                    <span class="text-muted">{{ 'order.id'|trans }}：{{ cash.order_sn }}</span></td>
                  {% else %}
                      <span class="text-muted">{{ 'order.id'|trans }}：--</span></td>
                  {% endif %}
              <td>
                  {% if order|default(false) %}
                    <span><a href="{{ path('user_show', {id:cash.user_id}) }}">
                    {{ users[order.user_id].nickname }}</a></span>
                  {% else %}
                      --
                  {% endif %}
              </td>
              <td><span>{{ cash.created_time|date('Y-m-d H:i:s') }}</span></td>
              <td class="text-right prl {% if cash.type =="inflow" %}text-success{% else %}warning-state{% endif %}">
                {{ cash.amount }}
              </td>
              <td>
                <span>
                  {% if cash.type =="inflow" %}
                    {#platform 字典#}
                    {{ dict_text('payment', cash.platform) }}
                  {% else %}
                    {{ 'order.payment_pattern.school'|trans }}
                  {% endif %}
                </span>
              </td>
            </tr>
          {% endfor %}
        {% else %}
            <th colspan="6"><div class="empty">{{ 'site.datagrid.empty'|trans }}</div></th>
        {% endif %}
      </table>
    </div>
    {{ admin_macro.paginator(paginator) }}
{% endblock %}