{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_coin_records' %}

{% block main %}  
    {% include 'admin/bill/form-filter.html.twig' with {'exportName': 'bill-coin-flow'} %}
    <p class="text-muted">
      <span class="mrl">{{'coin.online_school_balance'|trans}}：<strong class="amount-num">{{math_format(account.amount, 0.01)|default(0)}}</strong> {{ setting('coin.coin_name') }}</span>
      <span class="mrl">{{'coin.recharge'|trans}}：<strong class="inflow-num">{{ math_format(inflow, 0.01) |default(0)}}</strong> {{ setting('coin.coin_name') }}</span>
      <span class="mrl">{{'coin.consume'|trans}}：<strong class="outflow-num">{{ math_format(outflow, 0.01)|default(0)}}</strong> {{ setting('coin.coin_name') }}</span>
    </p>
    <div class="table-responsive">
      <table class="table table-striped">
      {% include 'admin/bill/table-title.html.twig' %}
        {% for cash in cashes %}
          <tr>
            <td>{{cash.sn}}</td>
            <td>{{cash.title}}<br>
                <span class="text-muted text-sm">{{'coin.order_sn'|trans}}：{{cash.order_sn}}</span></td>
            <td>   <a target="_blank" href="{{ path('user_show', {id:cash.user_id}) }}">
            {{users[cash.user_id].nickname}}</a></td>
            <td>{{cash.created_time|date('Y-m-d H:i:s')}}</td>
            {% if cash.type =="inflow" %}
            <td class="text-right" style="color:#1bb974;padding-right: 50px;">
               {{cash.amount}} 
            </td>
            {% endif %}
            {% if cash.type =="outflow" %}
            <td  class="text-right" style="color:#ff7b0e;padding-right: 50px;">
               -&nbsp;{{cash.amount}}               
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
 {{ admin_macro.paginator(paginator) }}

{% endblock %}