{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<tr >
  <td>{{ businessState.date }}</td>
  <td>{{ businessState.prodType }}</td>
   <td>{{ businessState.prodId }}</td>
  <td>{{ businessState.prodName }}</td>
 
  <td>{{ businessState.orders }}
    <br> 

   

  </td>
  <td>{{ businessState.feeOrders }}
   <br>

   
  </td> 
  <td>{{ businessState.freeOrders }} <br>

  
  </td> 

  <td>{{ businessState.dayGuest }}</td>
  <td>{{ businessState.dayGuestVisit }}</td>

  <td>{{ businessState.dayNewGuest }}</td>
  <td>{{ businessState.dayNewGuestVisit }}</td>

    <td>{{ businessState.dayOldGuest }}</td>
  <td>{{ businessState.dayOldGuestVisit }}</td>

    <td>{{ businessState.dayUser }}</td>
  <td>{{ businessState.dayUserVisit }}</td>
  
</tr>