{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<tr >
  <td>{{ businessState.date }}</td>
  <td>{{ businessState.prodType }}</td>
   <td>{{ businessState.prodId }}</td>
  <td>{{ businessState.prodName }}</td>
 
  <td>{{ businessState.totalOrders }}</td>
  <td>{{ businessState.totalFeeOrders }}</td> 
  <td>{{ businessState.totalFreeOrders }}</td>


  <td>{{ businessState.orders }}</td>
  <td>{{ businessState.feeOrders }}</td>
  <td>{{ businessState.freeOrders }}</td>


  <td>{{ businessState.dayGuest }}</td>
  <td>{{ businessState.dayGuestVisit }}</td>

  <td>{{ businessState.dayNewGuest }}</td>
  <td>{{ businessState.dayNewGuestVisit }}</td>

    <td>{{ businessState.dayOldGuest }}</td>
  <td>{{ businessState.dayOldGuestVisit }}</td>

    <td>{{ businessState.dayUser }}</td>
  <td>{{ businessState.dayUserVisit }}</td>
  
</tr>