{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<tr >
  <td>{{ businessState.date }}</td>
  <td>{{ businessState.prodType }}</td>
  <td>{{ businessState.prodName }}</td>
  <td>{{ businessState.prodId }}</td>
  <td>{{ businessState.orders }}</td>
  <td>{{ businessState.feeOrders }}</td> 
  <td>{{ businessState.freeOrders }}</td> 
  <td>{{ businessState.dayGuestVisit }}</td>
  <td>{{ businessState.dayGuest }}</td>
</tr>