{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<tr >
  <td>{{guestState.date}}</td>
  <td>{{guestState.totalGuest}}</td>

  <td>{{guestState.dayGuestPv}}</td>
  <td>{{guestState.dayNewGuest}}</td>
  <td>{{guestState.dayActGuest}}</td>
  <td>{{guestState.oneWeekActGuest}}</td>
  <td>{{guestState.oneMonthActGuest}}</td>

  <td>{{guestState.oneMonthLoseGuest}}</td>
  <td>{{guestState.twoMonthLoseGuest}}</td>
  <td>{{guestState.threeMonthLoseGuest}}</td>
  <td>{{guestState.sixMonthLoseGuest}}</td>

  <td>{{guestState.oneMonthAgoLoseNewGuest}}</td>
  <td>{{guestState.oneMonthAgoRegGuest}}</td>

  <td>{{guestState.twoMonthAgoLoseNewGuest}}</td>
  <td>{{guestState.twoMonthAgoRegGuest}}</td>

  <td>{{guestState.threeMonthAgoLoseNewGuest}}</td>
  <td>{{guestState.threeMonthAgoRegGuest}}</td>

  <td>{{guestState.sixMonthAgoLoseNewGuest}}</td>
  <td>{{guestState.sixMonthAgoRegGuest}}</td>
 
</tr>