{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<tr >
  <td>{{ partnerState.date }}</td>
  <td>{{ partnerUser.id }}</td>
  <td>{{ partnerUser.nickname }}</td>
  <td>{{ partnerState.courseOrders }}</td>
  <td>{{ partnerState.courseOrdersFee }}</td>
  <td>{{ partnerState.courseOrdersFree }}</td>
  <td>{{ partnerState.activityOrders }}</td>
  <td>{{ partnerState.vipOrders }}</td>
  <td>{{ partnerState.dayActGuest }}</td>
  <td>{{ partnerState.dayNewGuest }}</td>
  <td>{{ partnerState.dayActUser }}</td>
  <td>{{ partnerState.dayRegUser }}</td>
  <td>{{ partnerState.dayPv }}</td>

 
</tr>