{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<tr class="text-color-red">
  <td></td>
  <td></td>
  <td>页面小计</td>
  <td>{{ sumPartnerState.courseOrders }}</td>
  <td>{{ sumPartnerState.courseOrdersFee }}</td>
  <td>{{ sumPartnerState.courseOrdersFree }}</td>
  <td>{{ sumPartnerState.activityOrders }}</td>
  <td>{{ sumPartnerState.vipOrders }}</td>
  <td>{{ sumPartnerState.dayActGuest }}</td>
  <td>{{ sumPartnerState.dayNewGuest }}</td>
  <td>{{ sumPartnerState.dayActUser }}</td>
  <td>{{ sumPartnerState.dayRegUser }}</td>
  <td>{{ sumPartnerState.dayPv }}</td>

 
</tr>