{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<tr >
  <td>{{userState.date}}</td>
  <td>{{userState.totalUser}}</td>
  <td>{{userState.totalVerifyUser}}</td>
  <td>{{userState.dayUserPv}}</td>
  <td>{{userState.dayRegUser}}</td>
  <td>{{userState.dayActUser}}</td>
  <td>{{userState.oneWeekActUser}}</td>
  <td>{{userState.oneMonthActUser}}</td>

  <td>{{userState.oneMonthLoseUser}}</td>
  <td>{{userState.twoMonthLoseUser}}</td>
  <td>{{userState.threeMonthLoseUser}}</td>
  <td>{{userState.sixMonthLoseUser}}</td>

  <td>{{userState.oneMonthAgoLoseNewUser}}</td>
  <td>{{userState.oneMonthAgoRegUser}}</td>

  <td>{{userState.twoMonthAgoLoseNewUser}}</td>
  <td>{{userState.twoMonthAgoRegUser}}</td>

  <td>{{userState.threeMonthAgoLoseNewUser}}</td>
  <td>{{userState.threeMonthAgoRegUser}}</td>

  <td>{{userState.sixMonthAgoLoseNewUser}}</td>
  <td>{{userState.sixMonthAgoRegUser}}</td>
 
</tr>