<div class="form-group">
  <label class="control-label col-md-3 col-xs-3" for="data[{{ code }}][{{ dataId }}][value]">{{'admin.block_manage.visual_edit.tag_text'|trans}}</label>
  <div class="col-md-9 col-xs-9">
    <input class="form-control js-label-input" type="text" name="data[{{ code }}][{{ dataId }}][value]" value="{{ data.value|default('') }}">
  </div>
 </div>
