<div class="form-group">
  <label class="control-label col-md-3 col-xs-3" for="data[{{ code }}][{{ dataId }}][value]">{{'admin.block_manage.visual_edit.tag_content'|trans}}</label>
  <div class="col-md-9 col-xs-9">
    <textarea class="form-control js-label-input" name="data[{{ code }}][{{ dataId }}][value]" rows="5" style="resize:vertical">{{ data.value|default('') }}</textarea>
  </div>
 </div>
