{% extends 'layout.html.twig' %}
{% block title %}{{'user.login.content_title'|trans}} - {{ parent() }}{% endblock %}
{% do script(['libs/jquery-validation.js','app/js/auth/login-bind-choose/index.js']) %}
{% block content %}
<div class="es-section login-section login-section-weixin">
  <div class="section-header">
    <h1>{{ name }}</h1>
  </div>
    <form id="set-bind-new-form" class="form-vertical" method="post" action="{{ path('login_bind_newset', {type:type}) }}" data-goto="{% if hasPartnerAuth %}{{ path('partner_login') }}{% else %}{{ path('homepage') }}{% endif %}">
      <div class="alert alert-danger" id="bind-new-form-error" style="display:none;"></div>
      {% if app.request.get('inviteCode') != null  %}
        <div class="alert alert-info alert-sm">{{'user.register.invite_register_tips'|trans({'%inviteUser%': inviteUser.nickname})|raw}}</div>
      {% endif %}
      <div class="form-group mbl">
        <label class="control-label" for="set-bind-nickname-field">{{'user.register.avatar_label'|trans}}</label>
        <div class="controls">
          {% if oauthUser.avatar is defined and oauthUser.avatar is not empty %}
            <img class="img-thumbnail" width="120" height="120" src="{{ filepath(oauthUser.avatar, 'avatar.png') }}" />
          {% else %}
            {{'user.register.get_user_avatar_tips'|trans}}
          {% endif %}
        </div>
      </div>
      <div class="form-group mbl">
        <label class="control-label" for="set-bind-nickname-field">{{'user.fields.username_label'|trans}}</label>
        <div class="controls">
          <input id="set-bind-nickname-field" class="form-control input-lg" type="text" name="nickname" value="{{ oauthUser.name }}" data-url="{{ path('register_nickname_check') }}" />
          <p class="help-block">{{'user.register.nickname_hint'|trans}}</p>
        </div>
      </div>
      {% if setting('login_bind.' ~ type ~ '_set_fill_account') %}
        <div class="form-group mbl">
          <label class="control-label" for="set_bind_email">{{'user.register.email_label'|trans}}</label>
          <div class="controls">
            <input id="set_bind_email" class="form-control input-lg" type="email" name="set_bind_emailOrMobile" data-url="{{path('register_email_check')}}">
          </div>
        </div>
      {% endif %}
      <div class="form-group mbl">
        <label id="user_terms">
          <input type="checkbox"  checked="checked">{{'user.register.i_agree'|trans}}<a href="{{ path('user_terms') }}" target="_blank">《{{'user.register.terms'|trans}}》</a>
        </label>
      </div>

      <div class="form-group clearfix">
        <div class="row">
          <div class="col-xs-6">
            <button id="set-bind-new-btn" class="btn btn-primary btn-lg btn-block" type='button' data-loading-text="{{ 'form.btn.login.submiting'|trans }}">{{'user.register.register_btn'|trans}}</button>
          </div>
          <div class="col-xs-6">
            <a class="btn btn btn-default btn-lg btn-block" href="{{ path('login_bind_change', {type: type}) }}">{{'user.bind.bind_change_btn'|trans}}</a>
          </div>
        </div>
      </div>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      <input type="hidden" name="invite_code" value="{{ app.request.get('inviteCode', '')}}">
    </form>
</div>

{% endblock %}