{% extends 'layout.html.twig' %}
{% block title %}{{'user.login.content_title'|trans}} - {{ parent() }}{% endblock %}
{% do script(['libs/jquery-validation.js','app/js/auth/login-bind-exist/index.js'])%}

{% block content %}
<div class="es-section login-section login-section-weixin">
  <div class="section-header">
    <h1>{{ name }}</h1>
  </div>
 <form id="bind-exist-form" class="form-vertical" method="post" action="{{ path('login_bind_exist', {type:type}) }}" data-goto="{% if hasPartnerAuth %}{{ path('partner_login') }}{% else %}{{ path('homepage') }}{% endif %}">
    <div class="alert alert-danger" id="bind-exist-form-error" style="display:none;"></div>

    {% if (setting('auth.register_mode') == 'mobile' or setting('auth.register_mode') == 'email_or_mobile') and setting('cloud_sms.sms_enabled') %}
    <div class="form-group mbl">
      <label class="control-label" for="bind-email-field">{{'user.bind.email_or_mobile'|trans}}</label>
        <div class="controls">
          <input id="bind-email-field" class="form-control" type="text" name="emailOrMobile">
          <p class="help-block">{{'user.bind.email_or_mobile_hint'|trans({'%name%':setting('site.name')})}}</p>
        </div>
    </div>
    {% else %}
    <div class="form-group mbl">
      <label class="control-label" for="bind-email-field">{{'user.bind.email'|trans}}</label>
        <div class="controls">
          <input id="bind-email-field" class="form-control" type="email" name="emailOrMobile">
          <p class="help-block">{{'user.bind.email_hint'|trans({'%name%':setting('site.name')})}}</p>
        </div>
    </div>
    {% endif %}

    <div class="form-group mbl">
      <label class="control-label" for="bind-password-field">{{'user.login.password_label'|trans}}</label>
        <div class="controls">
          <input id="bind-password-field" class="form-control" type="password" name="password">
        </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <button class="btn btn-primary btn-lg btn-block" id="set-bind-exist-btn" type="button" data-loading-text="{{ 'form.btn.submit.submiting'|trans }}">{{'user.bind.confirm_bind_btn'|trans}}</button>
        </div>
        <div class="col-xs-6">
          <a class="btn btn-default btn-lg btn-block" href="{{ path('login_bind_choose', {type: type}) }}">{{'user.bind.bind_choose_btn'|trans}}</a>
        </div>
      </div>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
</div>
{% endblock %}