		<div class="form-group">
			<select class="form-control" name="categoryId">
				{{ select_options(category_choices('course'), app.request.get('categoryId'), 'admin.course_manage.chooser.course_category'|trans) }}
			</select>
		</div>
		<div class="form-group">
			<select class="form-control" name="status">
				{{ select_options(dict('courseStatus'), app.request.get('status'), 'admin.course_manage.chooser.course_status'|trans) }}
			</select>
		</div>
		<div class="form-group">
			<input class="form-control" type="text" placeholder="{{'admin.course_manage.title_placeholder'|trans}}" name="title" value="{{ app.request.get('title') }}">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" placeholder="{{'admin.course_manage.creator_placeholer'|trans}}" name="creatorName" value="{{ app.request.get('creatorName') }}">
		</div>