{% extends 'TopxiaAdminBundle:CategoryManage:layout.html.twig' %}

{% block title %}基本信息 - {{ parent() }}{% endblock %}

{% set nav = 'course' %}
{% set side_nav = 'testpaper' %}
{% set script_controller = 'customadminbundle/controller/testpaper/index' %}

{% block main %}

<div class="panel panel-default panel-col" id="testpaper-list">
  <div class="panel-heading">
    试卷管理
    <a href="{{ path('admin_testpaper_create_advanced',{categoryId:category.id}) }}" class="btn btn-info btn-xs pull-right mls"><span class="glyphicon glyphicon-plus"></span>高级组卷</a>
    <a href="{{ path('admin_testpaper_create',{categoryId:category.id}) }}" class="btn btn-info btn-xs pull-right mls"><span class="glyphicon glyphicon-plus"></span>快速组卷</a>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover" id="quiz-table">
      {{ web_macro.flash_messages() }}
        <thead>
        <tr>
          <th><input type="checkbox"  autocomplete="off"  data-role="batch-select"></th>
          <th width="38%">名称</th>
          <th>状态</th>
          <th>题目统计</th>
          <th>时间限制</th>
          <th>更新人/时间</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
          {% for testpaper in testpapers %}
            {% set user = users[testpaper.updatedUserId] %}
            {% include 'CustomAdminBundle:Testpaper:testpaper-tr.html.twig' %}
          {% else %}
            <tr><td colspan="20"><div class="empty">还没有试卷，请点击右上角按钮，<a href="{{ path('admin_testpaper_create',{categoryId:category.id}) }}">创建一个新试卷</a></div></td></tr>
          {% endfor %}
        </tbody>
      </table>
      <div>
        <label class="checkbox-inline"><input type="checkbox"  autocomplete="off" data-role="batch-select"> 全选</label>
        <button class="btn btn-default btn-sm mlm" data-role="batch-delete"  data-name="试卷" data-url="{{ path('admin_testpaper_deletes',{categoryId:category.id}) }}">删除</button>
      </div>

      {{ web_macro.paginator(paginator) }}

  </div>
</div>

{% endblock %}



