{% extends 'layout.html.twig' %}

{% do script(['libs/easy-pie-chart/dist/jquery.easypiechart.js','app/js/courseset/show/index.js']) %}

{% block top_content %}

{% endblock %}

{% block content %}

  {{ render(controller('AppBundle:Course:header',{id: course.id})) }}

  <!-- 中部 -->
  <div class="container">
    <div class="course-detail row">
      <div class="col-lg-9 col-md-8 course-detail-main">
        <div class="alert alert-warning" role="alert">
          <a href="" class="alert-link">
            课程公告：下节直播课程将于本周五上午10:30按时开课，请各位学员准备好上次的作业进行批阅。 <i class="es-icon es-icon-close01 alert-close"></i>
          </a>
        </div>
        <!-- 课程详情页中部内容 -->
        <section class="es-section">
          <div class="nav-btn-tab">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="{% if nav|default('') == 'overview' %}active{% endif %}">
                <a href="{{ path('course_set_show', {'id': courseSet.id}) }}">课程概览</a>
              </li>

              <li role="presentation" class="{% if nav|default('') == 'directory' %}active{% endif %}">
                <a href="{{ path('course_task_list',{id: course.id}) }}">课程目录</a>
              </li>
              <li role="presentation" class="{% if nav|default('') == 'thread' %}active{% endif %}">
                <a href="{{ path('course_threads', {id: course.id}) }}">话题</a>
              </li>
              <li role="presentation" class="{% if nav|default('') == 'appraise' %}active{% endif %}">
                <a href="">评价</a>
              </li>
              <li role="presentation" class="{% if nav|default('') == 'note' %}active{% endif %}">
                <a href="{{ path('course_notes', { id: course.id }) }}">
                  笔记
                  <small class="text-muted">({{ course.noteNum }})</small>
                </a>
              </li>
              {#<li class="highlight" style="left: 585px; width: 92px; overflow: hidden;"></li>#}
            </ul>
          </div>
          <div class="course-detail-content">
            {% block detail_content %}
            {% endblock %}
          </div>
        </section>
        <!-- 课程列表 -->
        {#<section class="es-section">
          <div class="nav-btn-tab">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation">
                <a href="">课程概览</a>
              </li>
              <li class="active" role="presentation">
                <a href="">课程目录</a>
              </li>
              <li role="presentation">
                <a href="">评论</a>
              </li>
              <li role="presentation">
                <a href="">笔记</a>
              </li>
              <li class="highlight" style="left: 585px; width: 92px; overflow: hidden;"></li>
            </ul>
          </div>
          <div class="course-detail-content">
            <ul class="task-list task-list-detail">
              <li class="task-item  mouse-control"> <i class="es-icon es-icon-undone-check left-menu"></i>
                <a class="text-overflow title" href="/course/29/task/131/show?preview=1">预习-音频</a>
                <span class="right-menu mouse-leave">
                  01:00:00 <i class="es-icon es-icon es-icon-audioclass mlm" data-toggle="tooltip" data-placement="top" title="" data-original-title="音频任务"></i>
                </span>
                <span class="right-menu mouse-enter">
                  <a class="btn btn-primary btn-sm btn-learn">继续学习</a>
                </span>
              </li>
              <li class="task-item  mouse-control">
                <i class="es-icon es-icon-undone-check left-menu"></i>
                <a class="text-overflow title" href="/course/29/task/131/show?preview=1"><span class="label label-warning">免费</span>预习-音频</a>
                <span class="right-menu mouse-leave">
                  01:00:00
                  <i class="es-icon es-icon es-icon-audioclass mlm" data-toggle="tooltip" data-placement="top" title="" data-original-title="音频任务"></i>
                </span>
                <span class="right-menu mouse-enter">
                  <a class="btn btn-warning btn-sm btn-learn">免费试听</a>
                </span>
              </li>
              <li class="task-item  mouse-control">
                <i class="es-icon es-icon-undone-check left-menu"></i>
                <a class="text-overflow title" href="/course/29/task/131/show?preview=1">预习-音频</a>
                <span class="right-menu mouse-leave">
                  01:00:00
                  <i class="es-icon es-icon es-icon-audioclass mlm" data-toggle="tooltip" data-placement="top" title="" data-original-title="音频任务"></i>
                </span>
                <span class="right-menu mouse-enter">
                  <a class="btn btn-primary btn-sm btn-learn">继续学习</a>
                </span>
              </li>
            </ul>
          </div>
        </section>#}
      </div>
      <div class="col-lg-3 col-md-4 course-sidebar">

        {# @TODO 现在数据还是写死的，到时候通过render(controller) 方式去做 #}
        <!-- 课程特色: 加入前显示，加入后不显示 -->
        {% include 'course-set/characteristic.html.twig' %}

        <!-- 其他计划: 加入前不显示，加入后不显示-->
        {% include 'course-set/other-course.html.twig' %}

        <!-- 推荐班级 -->
        {% include 'course-set/recommend-classroom.html.twig' %}

        <!-- 授课教师 -->
        {% include 'course-set/teachers.html.twig' %}

        <!-- 最新学员-->
        {% include 'course-set/newest-students.html.twig' %}

        <!-- 学员动态 -->
        {% include 'course-set/student-activity.html.twig' %}

      </div>
    </div>
  </div>
  {% include 'seajs_loader_compatible.html.twig' with {topxiawebbundle: true} %}
{% endblock %}

