{% extends 'layout.html.twig' %}
{% do script(['libs/easy-pie-chart/dist/jquery.easypiechart.js','app/js/courseset/show/index.js']) %}

{% block top_content %}

{% endblock %}

{% block full_content %}

  {{ render(controller('AppBundle:Course:header',{id: course.id})) }}

  <!-- 中部 -->
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8 course-detail-main">
        {% include 'course-set/announcement/block.html.twig' with { courseSetId:courseSet.id, courseId:course.id } %}
        <!-- 课程详情页中部内容 -->
        <section class="es-section">
          {{ render(controller('AppBundle:Course:detailNavsPart', {id: course.id})) }}
          <div class="course-detail-content">
            {% block detail_content %}
            {% endblock %}
          </div>
        </section>
      </div>

      <div class="col-lg-3 col-md-4 course-sidebar">
        {# @TODO 现在数据还是写死的，到时候通过render(controller) 方式去做 #}

        <!-- 课程特色: 加入前显示，加入后不显示 -->
        {{ render(controller('AppBundle:Course:characteristicPart', {id: course.id})) }}

        <!-- 其他计划: 加入前不显示，加入后显示-->
        {{ render(controller('AppBundle:Course:otherCoursePart', {id: course.id})) }}

        <!-- 推荐班级 -->
        {% include 'course-set/recommend-classroom.html.twig' %}

        <!-- 授课教师 -->
        {{ render(controller('AppBundle:Course:teachersPart', {id: course.id})) }}

        <!-- 最新学员-->
        {{ render(controller('AppBundle:Course:newestStudentsPart', {id: course.id})) }}

        <!-- 学员动态 -->
        {% include 'course-set/student-activity.html.twig' with {course: course} %}
      </div>
    </div>
  </div>

  {% include 'seajs_loader_compatible.html.twig' with {topxiawebbundle: true} %}
{% endblock %}
