{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

<div id="user-card-{{ user.id }}" class="js-card-content" data-user-id="{{ user.id }}">
  <div class="card-header media-middle">
    <div class="media">
      <div class="media-left">
        {{ web_macro.user_avatar(user, '', 'avatar-md', false) }}
        {% if 'ROLE_TEACHER' in user.roles %}
          <span class="icon-user-status"><i class="es-icon es-icon-school"></i></span
        >
        {% endif %}
      </div>
      <div class="media-body">
        <div class="title">
          {{ web_macro.user_link(user, '', false) }}
        </div>
        <div class="content">
          {% if user.title %}
            {{ user.title }}
          {% endif %}
        </div>
      </div>
    </div>
    {% if not app.user or (app.user.id != user.id) %}
      <div class="metas">
        <a class="btn btn-primary btn-xs follow-btn" href="javascript:;" data-url="{{ path('user_follow', {id:user.id}) }}" {% if isFollowed %} style="display:none;"{% endif %} data-loggedin={% if app.user and app.user.isLogin() %}"1"{% else %}"0"{% endif %}>关注</a> 
        <a class="btn btn-default btn-xs unfollow-btn" href="javascript:;"  data-url="{{ path('user_unfollow', {id:user.id}) }}" {% if not isFollowed %}style="display:none;"{% endif %}>已关注</a>
        <a class="btn btn-default btn-xs direct-message-btn" herf="javascript:;" data-toggle="modal" data-target="#modal" data-url="{{path('message_create', {toId:user.id})}}">私信</a>
      </div>
    {% endif %}
  </div>
  <div class="card-body">
    {% if profile.signature %}
      {{ profile.signature }}
    {% else %}
      还没有签名
    {% endif %}
  </div>
  <div class="card-footer clearfix">
    <span><a class="link-light" href="{{ path('user_learn',{id:user.id}) }}">{{ user.learningNum }}<br>在学</a></span>
    <span><a class="link-light" href="{{ path('user_following',{id:user.id}) }}">{{ user.followingNum }}<br>关注</a></span>
    <span><a class="link-light" href="{{ path('user_follower',{id:user.id}) }}">{{ user.followerNum }}<br>粉丝</a></span>
  </div>
    
</div>

