{% if isBuyFillUserinfo|default(false) %}
  {% if userinfoFieldsSetting %}
    <br><br>
    <div class="nav nav-tabs">
      <div class="help-block">温情提示：如果您的资料有变更，请在此修改，以便更好的为您服务！</div>
    </div><br>

    {% for field in userinfoFieldsSetting %}

      {% if field == 'truename' %}
        <div class="form-group">
          <label class="col-md-3 control-label" for="truename">真实姓名 </label>
          <div class="col-md-6 controls">
            {% if user.approvalStatus == 'approved' %}
              <div class="control-text">{{ user.truename }} <small class="text-success">(已认证)</small></div>
            {% elseif user.approvalStatus == 'approving' %}
              <div class="control-text">{{ user.truename }} <small class="text-warning">(实名认证中)</small></div>
            {% else %}
              <input class="form-control" id="truename" type="text" name="truename" value="{{ user.truename }}">
            {% endif %}
          </div>
        </div>
      {% endif %}

      {% if field == 'mobile' and ( not user.verifiedMobile|default('')) %}
        <div class="form-group">
          <label class="col-md-3 control-label" for="mobile">手机</label>
          <div class="col-md-6 controls">
            <input class="form-control" id="mobile" type="text" name="mobile" value="{{ user.mobile }}">
          </div>
        </div>
      {% elseif field == 'mobile' and user.verifiedMobile %}
        <div class="form-group">
          <label class="col-md-3 control-label" for="mobile">手机</label>
          <div class="col-md-6 controls">
            <div class="control-text">{{ blur_phone_number(user.verifiedMobile) }}<small class="text-success">(已绑定)</small></div>
          </div>
        </div>
      {% endif %}

      {% if field == 'qq' %}
        <div class="form-group">
          <label class="col-md-3 control-label" for="qq">QQ</label>
          <div class="col-md-6 controls">
            <input class="form-control" id="qq" type="text" name="qq" value="{{ user.qq }}">
          </div>
        </div>
      {% endif %}

      {% if field == 'company' %}
        <div class="form-group">
          <label class="col-md-3 control-label" for="company">所在公司</label>
          <div class="col-md-6 controls">
            <input class="form-control" id="company" type="text" name="company" value="{{ user.company }}">
          </div>
        </div>
      {% endif %}

      {% if field == 'job' %}
        <div class="form-group">
          <label class="col-md-3 control-label" for="job">职业</label>
          <div class="col-md-6 controls">
            <input class="form-control" id="job" type="text" name="job" value="{{ user.job }}">
          </div>
        </div>
      {% endif %}

      {% if field == 'idcard' %}
        <div class="form-group">
          <label class="col-md-3 control-label required" for="idcard">身份证号</label>
          <div class="col-md-6 controls">
            {% if user.approvalStatus == 'approved' %}
              <div class="control-text">{{ blur_idcard_number(user.idcard) }} <small class="text-success">(已认证)</small></div>
            {% elseif user.approvalStatus == 'approving' %}
              <div class="control-text">{{ blur_idcard_number(user.idcard) }} <small class="text-warning">(实名认证中)</small></div>
            {% else %}
              <input type="text" id="idcard" name="{{ field }}"  class="form-control" value="{{user.idcard}}">
            {% endif %}
          </div>
        </div>
      {% endif %}

      {% if field == 'gender' %}
        <div class="form-group">        
          <div class="controls">
            <label class="col-md-3 control-label required" for="{{ field }}" style="padding: 0 20px 0 0px;">性别</label>&nbsp;
            <input type="radio" id="{{ field }}_0" name="{{ field }}" required="required" value="male" {% if user.gender=="male"%}checked=true{% endif %}>
            <label for="profile_gender_0" class="required" style="padding: 0 20px 0 0px;">男</label>
            <input type="radio" id="{{ field }}_1" name="{{ field }}" required="required" value="female"  {% if user.gender=="female"%}checked=true{% endif %}>
            <label for="profile_gender_1" class="required" >女</label>
          </div>
        </div>
      {% endif %}

      {% if field == 'weixin' %}
        <div class="form-group">
          <label class="col-md-3 control-label required" for="weixin">微信</label>
          <div class="col-md-6 controls">
            <input type="text" id="weixin" name="{{ field }}"  class="form-control" value="{{user.weixin}}">
          </div>
        </div>
      {% endif %}

      {% if field == 'weibo' %}
        <div class="form-group">
          <label class="col-md-3 control-label required" for="weibo">微博</label>
          <div class="col-md-6 controls">
            <input type="text" id="weibo" name="{{ field }}"  class="form-control" value="{{user.weibo}}">
          </div>
        </div>
      {% endif %} 

      {% for userField in userFields %}
        {% if field == userField.fieldName %}
           {% if userField.type=="text" %}             
              <div class="form-group">
                <label for="{{userField.fieldName}}" class="col-md-3 control-label ">{{userField.title}}</label>
                <div class="col-md-6 controls">
                  <textarea id="{{userField.fieldName}}" name="{{userField.fieldName}}" class="form-control ">{{ user[userField.fieldName]|default('') }}</textarea>
                  <div class="help-block" style="display:none;"></div>
                </div>
              </div>

            {% elseif userField.type=="int" %}
              <div class="form-group">
                <label for="{{userField.fieldName}}" class=" col-md-3 control-label">{{userField.title}}</label>
                <div class="col-md-6 controls">
                  <input type="text" id="{{userField.fieldName}}" placeholder="最大值为9位整数" name="{{userField.fieldName}}" class="{{userField.type}}  form-control" data-widget-cid="widget-5" data-explain="" value="{{ user[userField.fieldName]|default('') }}">
                  <div class="help-block" style="display:none;"></div>
                </div>
              </div>

            {% elseif userField.type=="float" %}
              <div class="form-group">
                <label for="{{userField.fieldName}}" class="col-md-3 control-label">{{userField.title}}</label>
                <div class=" col-md-6 controls">
                  <input type="text" id="{{userField.fieldName}}" placeholder="保留到2位小数" name="{{userField.fieldName}}" class="{{userField.type}} form-control" data-widget-cid="widget-5" data-explain="" value="{{ user[userField.fieldName]|default('') }}">
                  <div class="help-block" style="display:none;"></div>
                </div>
              </div>

            {% elseif userField.type=="date" %}
              <div class="form-group">
                <label for="{{userField.fieldName}}" class="col-md-3 control-label">{{userField.title}}</label>
                <div class=" col-md-6 controls">
                  <input type="text" id="{{userField.fieldName}}" name="{{userField.fieldName}}" class="{{userField.type}}  form-control" data-widget-cid="widget-5" data-explain="" value="{{ user[userField.fieldName]|default('') }}">
                  <div class="help-block" style="display:none;"></div>
                </div>
              </div>

            {% elseif userField.type=="varchar" %}
              <div class="form-group">
                <label for="{{userField.fieldName}}" class="col-md-3 control-label">{{userField.title}}</label>
                <div class="col-md-6  controls">
                  <input type="text" id="{{userField.fieldName}}" name="{{userField.fieldName}}" class="form-control" data-widget-cid="widget-5" data-explain="" value="{{ user[userField.fieldName]|default('') }}">
                  <div class="help-block" style="display:none;"></div>
                </div>
              </div>
            {% endif %}
            
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
{% endif %}
