<div class="es-row-wrap  container-gap userpage-header">
  <div class="row">
    <div class="col-md-12">
      <img class="avatar" src="{{ default_path('avatar',user.largeAvatar, 'large') }}">
      <div class="userpage-header-info">
          <div class="actions">
            {% if (not app.user) or (app.user.id != user.id) %}
              <button class="btn btn-success unfollow-btn" data-url="{{ path('user_unfollow', {id:user.id}) }}" {% if isFollowed == false %} style="display:none;"{% endif %}>已关注</button>
              <button class="btn btn-primary follow-btn" data-url="{{ path('user_follow', {id:user.id}) }}" {% if isFollowed == true %} style="display:none;"{% endif %}>关注</button>
              <button class="btn btn-default" data-toggle="modal" data-target="#modal" data-url="{{path('message_create', {toId:user.id})}}">私信</button>
            {% endif %}
          </div>
          <h1>{{user.nickname}} <small>{{ user.title }}</small></h1>
          <div class="about">{{ user.about|raw }}</div>
          <div class="links">
            {% if user %}
              {% if user.weibo %}
                <a href="{{ user.weibo }}" target="_blank" class="mrm"><img src="{{ asset('assets/img/user/link-weibo.png') }}"> 微博</a>
              {% endif %}
              {% if user.site %}
                <a href="{{ user.site }}" target="_blank" class="mrm"><img src="{{ asset('assets/img/user/link-site.png') }}"> 网站</a>
              {% endif %}
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>