        <div class="col-lg-3">
            <div class="panel panel-col">
                <div class="avatar">
                  <img src="{{ file_path(user.largeAvatar, 'avatar-large.png') }}">
                </div>
                <hr>
                
                <div class="about">
                    {% if userProfile.about %}
                        <p> 简介: </p>
                      {{userProfile.about | raw }}
                    {% endif %}
                </div>

                <div class="followings">
                    {% if followings %}
                        <p> 关注: {{ followings | length}} </p>
                      {% for following in followings %} 
                       <a href="{{ path('user_show', {userId:following.toId}) }}">
                        <img src="{{ file_path(users[following.toId].smallAvatar, 'avatar.png') }}">
                       </a>
                      {% endfor %}
                    {% endif %}
                </div>

                <div class="followers">
                    {% if followers %}
                        <p> 粉丝: {{ followers | length}} </p>
                      {% for follower in followers %} 
                       <a href="{{ path('user_show', {userId:follower.fromId}) }}">
                        <img src="{{ file_path(users[follower.fromId].smallAvatar, 'avatar.png') }}">
                      </a>
                      {% endfor %}
                    {% endif %}
                </div>

                <div class="latest-visitors">
                    <p>最近访客:</p>
                </div>
            </div>
        </div>