{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %} {{app.user.nickname}}的主页 - {{ parent() }}{% endblock %}
{% block content %}
{% set navType = 'notes' %}

<div class="row">

    {% include 'TopxiaWebBundle:User:left-bar.html.twig' with {userProfile:userProfile, user: app.user, followings:followings, followers: followers} %}

        <div class="col-lg-9">

            <div class="panel panel-col">

              {% include 'TopxiaWebBundle:User:simple-introdution.html.twig' with {userProfile:userProfile, user: app.user, followings:followings, followers: followers} %}

              {% include 'TopxiaWebBundle:User:nav-tabs.html.twig' with {userProfile:userProfile, user: app.user, followings:followings, followers: followers} %}

              <div class="panel-body">
                {% for note in notes %}
                    <div class="note">
                        <p >
                            <label>所属课程名称:</label> {{courses[note.courseId].title}}
                        </p>
                        <p>
                            <label>所属课时名称:</label> {{lessons[note.lessonId].title}}
                        </p>
                        <p>
                            <label>笔记内容:</label> {{note.content | raw | plain_text(20) }}
                        </p>
                        <p>
                            <label>创建时间:</label> {{note.createdTime | date('Y-n-d H:i:s')}}
                        </p>
                    </div>
                    <hr>
                {% endfor %}
              </div>
              
              <p>备注:  公开个人主页最多只显示10个笔记!</p>
            </div>

        </div>


</div>


{% endblock %}