{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %} {{app.user.nickname}}的主页 - {{ parent() }}{% endblock %}
{% block content %}
{% set navType = 'questions' %}

<div class="row">

    {% include 'TopxiaWebBundle:User:left-bar.html.twig' with {userProfile:userProfile, user: app.user, followings:followings, followers: followers} %}

        <div class="col-lg-9">

            <div class="panel panel-col">

              {% include 'TopxiaWebBundle:User:simple-introdution.html.twig' with {userProfile:userProfile, user: app.user, followings:followings, followers: followers} %}

              {% include 'TopxiaWebBundle:User:nav-tabs.html.twig' with {userProfile:userProfile, user: app.user, followings:followings, followers: followers} %}

              <div class="panel-body">
                    
                {% for question in questions %}
                    <div class="question">
                        <p >
                            <label>所属课程名称:</label> {{courses[question.courseId].title}}
                        </p>
                            <label>问答题目:</label> {{question.title | raw | plain_text(20) }}
                        <p>
                            <label>问答内容:</label> {{question.content | raw | plain_text(20) }}
                        </p>
                        <p>
                            <label>创建时间:</label> {{question.createdTime | date('Y-n-d H:i:s')}}
                        </p>
                         <p>
                            <label>点击量:</label> {{question.hitNum }}
                        </p>
                    </div>
                    <hr>
                {% endfor %}

              </div>

                 <p>备注:  公开个人主页最多只显示10个问答!</p>
            </div>

        </div>


</div>


{% endblock %}