{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %} {{app.user.nickname}}的主页 - {{ parent() }}{% endblock %}
{% block content %}
{% set navType = 'teachings' %}

<div class="row">

    {% include 'TopxiaWebBundle:User:left-bar.html.twig' with {userProfile:userProfile, user: app.user, followings:followings, followers: followers} %}

        <div class="col-lg-9">

            <div class="panel panel-col">

              {% include 'TopxiaWebBundle:User:simple-introdution.html.twig' with {userProfile:userProfile, user: user, followings:followings, followers: followers} %}

              {% include 'TopxiaWebBundle:User:nav-tabs.html.twig' with {userProfile:userProfile, user: app.user, followings:followings, followers: followers} %}

              <div class="panel-body">

                {% for teachingMember in teachingMembers %}
                    <div class="course">
                          <a href="{{ path('course_show', {id:courses[teachingMember.courseId].id}) }}"><img class="picture" src="{{ file_path(courses[teachingMember.courseId].largePicture, 'course-default-475x250.png') }}" /></a>
                        <p >
                            <label>课程标题:</label> {{courses[teachingMember.courseId].title}}
                        </p>
                        <p>
                            <label>课时数目:</label> {{courses[teachingMember.courseId].lessonNum }}
                        </p>
                         <p>
                            <label>学生数目:</label> {{courses[teachingMember.courseId].studentNum }}
                        </p>
                        <p>
                            <label>创建时间:</label> {{courses[teachingMember.courseId].createdTime | date('Y-n-d H:i:s')}}
                        </p>
                    </div>
                    <hr>
                {% endfor %}
              </div>
              <p>备注:  公开个人主页最多只显示10个课程!</p>
            </div>

        </div>


</div>


{% endblock %}