{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %} {{user.nickname}}的公共主页 - {{ parent() }}{% endblock %}
{% set navType = 'show' %}

{% set bodyClass = 'userpage' %}

{% set script_controller = 'user/user' %}

{% block content %}

<div class="es-row-wrap userpage-header">
  <div class="row">
    <div class="col-lg-12">
      <img class="avatar" src="{{ file_path(user.largeAvatar, 'avatar-large.png') }}">
      <div class="userpage-header-info">
          <div class="actions">
            {% if app.user.id != user.id %}
              <button class="btn btn-info unfollow-btn" data-url="{{ path('user_unfollow', {id:user.id}) }}" {% if isFollowed == false %} style="display:none;"{% endif %}>已关注</button>
              <button class="btn btn-primary follow-btn" data-url="{{ path('user_follow', {id:user.id}) }}" {% if isFollowed == true %} style="display:none;"{% endif %}>关注</button>
            {% endif %}
            <a class="btn btn-default" data-toggle="modal" data-target="#modal" data-url="{{path('message_create', {toId:user.id})}}">私信</a>
          </div>
          <h1>{{user.nickname}} <small>{{ user.title }}</small></h1>
          <div class="about">{{ user.about|raw }}
          </div>
      </div>
    </div>
  </div>
</div>

<div class="es-row-wrap userpage-body">

  <ul class="nav nav-pills">
    <li class="active"><a href="#">在教课程</a></li>
    <li><a href="#">在学课程</a></li>
    <li><a href="#">收藏的课程</a></li>
    <li><a href="#">关注/粉丝</a></li>
  </ul>

  <div class="row">
    <div class="col-lg-12">
<p>xxx</p>
<p>xxx</p>
<p>xxx</p>
<p>xxx</p>
<p>xxx</p>
    </div>
  </div>
</div>

{% endblock %}