{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %} {{app.user.nickname}}的主页 - {{ parent() }}{% endblock %}
{% block content %}
{% set navType = 'threads' %}

<div class="row">

    {% include 'TopxiaWebBundle:User:left-bar.html.twig' with {userProfile:userProfile, user: app.user, followings:followings, followers: followers} %}

        <div class="col-lg-9">

            <div class="panel panel-col">

              {% include 'TopxiaWebBundle:User:simple-introdution.html.twig' with {userProfile:userProfile, user: app.user, followings:followings, followers: followers} %}

              {% include 'TopxiaWebBundle:User:nav-tabs.html.twig' with {userProfile:userProfile, user: app.user, followings:followings, followers: followers} %}

              <div class="panel-body">

                    {% for thread in threads %}
                    <div class="thread">
                        <p >
                            <label>所属课程名称:</label> {{courses[thread.courseId].title}}
                        </p>
                            <label>话题题目:</label> {{thread.title | raw | plain_text(20) }}
                        <p>
                            <label>话题内容:</label> {{thread.content | raw | plain_text(20) }}
                        </p>
                        <p>
                            <label>创建时间:</label> {{thread.createdTime | date('Y-n-d H:i:s')}}
                        </p>
                         <p>
                            <label>点击量:</label> {{thread.hitNum }}
                        </p>
                    </div>
                    <hr>
                {% endfor %}
              </div>
              <p>备注:  公开个人主页最多只显示10个话题!</p>
            </div>

        </div>


</div>


{% endblock %}