<tr id="homework-tr-{{ homework.id }}">
	<td>作业{{ loop.index }}</td>
	<td>{{ homeworkLessons[homework.lessonId].title|default('--') }}</td>
	<td>
		{% if homeworkResults and homeworkResults[homework.id]|default(null) %}
			已完成
		{% else %}
			<span class="text-danger">未完成</span>
		{% endif %}
		</td>
	<td>{{ homework.score }}</td>
	<td>
		{% if homeworkResults and homeworkResults[homework.id]|default(null) %}
			{{ homeworkResults[homework.id].score }}
		{% else %}
			--
		{% endif %}
		</td>
</tr>