{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class= "modal-lg" %}

{% block title %}选择课程{% endblock %}
{% block body %}
<style>
.course-item:hover {
    cursor: pointer;
}
.course-wide-list .course-item .select{

}
</style>

<div class="alert alert-info" role="alert">加入{{setting("classroom.name")|default("班级")}}的课程为选中的原课程复制生成，并与原课程实时同步更新。如需解除同步，请对该课程进行编辑。
</div>

<form class="form-inline form-search" role="search-form">
      <div class="form-group ">
        <input type="text" class="form-control" name="key" id="enterSearch" value="" placeholder="课程名称" data-url="{{path('classroom_course_search',{classroomId:classroomId})}}">
      </div>
      <button type="button" class="btn btn-primary"  id="search"  data-url="{{path('classroom_course_search',{classroomId:classroomId})}}">搜索</button>
      <a class="btn btn-primary" id="all-courses" data-url="{{path('classroom_courses_pick',{classroomId:classroomId})}}">全部课程</a>
</form>

<div class="row mtl">
    <div class="col-md-12">
      <div class="courses-list">
        {% include('TopxiaWebBundle:Course:course-select-list.html.twig') %}
        {{ web_macro.paginator(paginator) }}
      </div>
    </div>
</div>

{% endblock %}

{% block footer %}
  <button id="sure" class="btn btn-primary pull-right" data-url="{{ path('classroom_courses_select', {id:classroomId})}}">添加</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>

    <script>app.load('classroombundle/controller/classroom/manage/course/pick')</script>
{% endblock %}