<div class="panel panel-default">
  <div class="panel-heading">值得加入的小组</div>
  <div class="panel-body">
    
      {% if deserveGroup%}
      <table class="table">
        {% for group in deserveGroup%}

          <tr class="media-list" style="word-break: break-all;">

            <td class="media">
              <a href="{{path('group_index',{id:group.id})}}" title="{{group.title}}" class="pull-left">
                {% if group.logo %}
                  <img src="{{file_path(group.logo)}}" alt="{{group.title}}" style="width:58px;height:58px;" >
                  {%else%}
                  <img src="{{asset('assets/img/default/group.png')}}" alt="{{group.title}}"  style="width:58px;height:58px;">
                  {%endif%}
              </a>

                <div class="media-body" ><p><a href="{{path('group_index',{id:group.id})}}" title="{{group.title}}">{{group.title}}</a></p>

                    <div class="text-muted text-normal">
                      {{group.memberNum}}个成员
                      {{group.threadNum}}个话题
                      <a type="button" class="btn btn-success btn-xs pull-right" href="{{path('group_index',{id:group.id})}}">
                        <span class="glyphicon glyphicon-hand-right"></span> 进入小组
                      </a>
                    </div>
                    
                </div>
                
              </td>

            </tr>

          {% endfor %}
            </table>
        {% else %}

          <div class="empty">还没有小组信息！</div>

        {% endif %}
        
    
    </div>
</div>