{% set groupNav = groupNav|default(null) %} 

<div class="group-header">
  <div class="group-header-inner" style="background:url({{filepath(groupinfo.backgroundLogo, 'background_group.jpg')}});background-repeat: no-repeat;background-size: 100% 100%;">
    <div class="media">
      <div class="media-left">
        <a href="{{path('group_show',{id:groupinfo.id})}}">
          <img src="{{filepath(groupinfo.logo, 'group.png')}}" alt="" class="avatar-square-sm" >
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading">{{groupinfo.title}}</h2>
        <div class="media-metas">
          {{groupinfo.memberNum}}个成员
        </div>
      </div>
    </div>
  </div>
</div>