<ul class="media-list message-list">
  {% if postThreads%}
    {% for postThread in postThreads%}

        {% if groupsAsPostThreads[threads[postThread.threadId].groupId].status=='open' and threads[postThread.threadId].status=='open'%}
              <li class="media" style="word-break: break-all;">
                <img src="{{asset('assets/img/default/reply.gif')}}" > {{ web_macro.user_link(user , '') }}回复了话题 <a href="{{path('group_thread_index',{id:groupsAsPostThreads[threads[postThread.threadId].groupId].id,threadId:postThread.threadId})}}" >"{{threads[postThread.threadId].title|plain_text(40)}}"</a>
                &nbsp;
                <div class="media-body " >
                  
                  <div class="popover right clearfix" >
                    <div class="popover-content">    <a href="{{path('group_thread_index',{id:groupsAsPostThreads[threads[postThread.threadId].groupId].id,threadId:postThread.threadId})}}?post={{postThread.id}}" class="col-md-offset-1">"{{postThread.content|plain_text(30)}}"</a> 
                      <div class="pull-right">
                      <a href="{{path('group_index',{id:groupsAsPostThreads[threads[postThread.threadId].groupId].id})}}" title="{{groupsAsPostThreads[threads[postThread.threadId].groupId].title}}" >{{groupsAsPostThreads[threads[postThread.threadId].groupId].title}}</a>&nbsp; {{postThread.createdTime|smart_time}}
                      </div>
                    </div>
                  </div>
                </div>

              </li>
          {% endif %}
    {% endfor %}

  {% else %}
    <div class="empty">暂无回复！</div>
  {% endif %}
</ul>