{% extends 'TopxiaWebBundle:Group:layout.html.twig' %}

{% block title %}小组 - {{ parent() }}{% endblock %}
{% block content %}

 

<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-md-12 col-md-8">
        <div class="es-row-wrap ">
            <div class="row">

                <div class="page-header"><span class="glyphicon glyphicon-leaf"></span> 热门小组 </div>
              
                    {% if activegroup %}
                    {% for group in activegroup %}
                     <div class="grouplist" style="height:120px;width: 90px;">  <a href="{{path('group_index',{id:group.id})}}" title="{{group.title}}">
                                     {% if group.logo %}
                                    <img src="{{file_path(group.logo)}}" alt="{{group.title}}" >
                                    {%else%}
                                    <img src="{{asset('assets/img/default/group.png')}}" alt="{{group.title}}" >
                                    {%endif%}
                                </a><p class="mvs"><a href="{{path('group_index',{id:group.id})}}" title="{{group.title}}">{{group.title}}</a></p></div>
                      
                                {%endfor%}
                    {%else%}
                    还没有小组信息！赶紧去创建吧！
                    {%endif%}
                 
            
            </div>
   <br>
        </div>

        <div class="es-row-wrap ">
            <div class="row">
                
                <div class="page-header"><span class="glyphicon glyphicon-leaf"></span> 热门话题</div> 
                <div class="col-md-12">
                   <ul class="media-list">
                  {% if thread_recentlyinfo%}
                    {% for threadinfo in thread_recentlyinfo%}  
                    <li class="media"> 
                          <a href="{{path('group_index',{id:threadinfo.groupId})}}" title="{{groupinfo[threadinfo.groupId].title}}">  <span class="label label-success pull-right">{{groupinfo[threadinfo.groupId].title}}</span> </a>           
                     
                      {{ web_macro.user_avatar(owner[threadinfo.userId], 'pull-left media-object media-object-small')}}
                    <div class="media-body" style="word-break: break-all;" >
                      <a href="{{path('groupthread_index',{id:threadinfo.groupId,threadid:threadinfo.id})}}">{{threadinfo.title}} </a></h4>
                     <div class="text-muted text-normal"><br>
                       <span class="glyphicon glyphicon-user"></span> {{ web_macro.user_link(owner[threadinfo.userId] , 'link-muted') }} &nbsp;<span class="glyphicon glyphicon-time"></sapn>{{threadinfo.createdTime|smart_time}} 
                     </div>
                     
                    
                   </li>
                    {% endfor %}
                      
                    {% else %}
                    还没有话题！
                    {% endif %}
  
                    </ul>
                </div>
            </div></div>

    </div>
    <div class="col-md-6 col-md-4">
        <div class="es-row-wrap ">
            <div class="row">

                <div class="page-header">我创建的小组
                   <a href="#" class="pull-right">..更多</a>
                </div> 
                  <div class="row">
           
                     {% if mycreatedGroup %}
                    {% for group in mycreatedGroup %}
                     <div class="grouplist"     >  <a href="{{path('group_index',{id:group.id})}}" title="{{group.title}}">
                                     {% if group.logo %}
                                    <img src="{{file_path(group.logo)}}" alt="{{group.title}}" >
                                    {%else%}
                                    <img src="{{asset('assets/img/default/group.png')}}" alt="{{group.title}}" >
                                    {%endif%}
                                </a> <p class="mvs"><a href="{{path('group_index',{id:group.id})}}" title="{{group.title}}">{{group.title}}</a></p></div>
                     
                                {%endfor%}
                    {%else%}
                    还没有小组信息！赶紧去创建小组吧！
                    {%endif%}
                  </div><br>
               <div class="page">
                   
                     <a href="{{ path ('group_add') }}" class="btn btn-primary btn-default active" role="button">创建小组</a>
              
               </div>


            </div></div>
         <div class="es-row-wrap ">
            <div class="row">

                <div class="page-header">我加入的小组
                 <a href="#" class="pull-right">..更多</a></div> 

                  <div class="row">
              
                     {% if myjionGroup %}
                     {% for group in myjionGroup %}
                     <div class="grouplist" >  <a href="{{path('group_index',{id:group.id})}}" title="{{group.title}}">
                                     {% if group.logo %}
                                    <img src="{{file_path(group.logo)}}" alt="{{group.title}}" >
                                    {%else%}
                                    <img src="{{asset('assets/img/default/group.png')}}" alt="{{group.title}}" >
                                    {%endif%}
                                </a> <p class="mvs"><a href="{{path('group_index',{id:group.id})}}" title="{{group.title}}">{{group.title}}</a></p></div>

                     {%endfor%}
                              
                    {%else%}
                    还没有小组信息！赶紧去加入小组吧！
                    {%endif%}
                   </div><br>
               


            </div></div>
        
    </div>
</div>
{% endblock %}
