<div class="panel panel-default">
  <div class="panel-heading">新晋小组</div>
  <div class="panel-body">
    
      {% if newGroups%}
      <table class="table"  border frame=void>
        {% for group in newGroups%}

          <tr class="media-list" style="word-break: break-all;">

            <td class="media">
              <a href="{{path('group_index',{id:group.id})}}" title="{{group.title}}" class="pull-left">
                {% if group.logo %}
                  <img src="{{file_path(group.logo)}}" alt="{{group.title}}" style="width:58px;height:58px;" >
                  {%else%}
                  <img src="{{asset('assets/img/default/group.png')}}" alt="{{group.title}}"  style="width:58px;height:58px;">
                  {%endif%}
              </a>

                <div class="media-body" ><p><a href="{{path('group_index',{id:group.id})}}" title="{{group.title}}">{{group.title}}</a>
                      <span style="color:#999">{{group.memberNum}}个成员</span>
                    
                    </p>
                      {% if group.about %}
                      {{group.about|raw|sub_text(30)}}
                      {% else %}
                      暂无简介
                      {% endif %}           
                    {#   <a href="{{path('group_index',{id:group.id})}}">
                     &raquo;进入小组 #}
                   {#    </a> #}
                    
                    
                </div>
                
              </td>

            </tr>

          {% endfor %}
            </table>
        {% else %}

          <div class="empty">暂无小组信息！</div>

        {% endif %}
        
    
    </div>
</div>