<div class="well">

  <ul class="media-list">
    {% for post in posts %}
      <li class="media" {% if loop.index > 5 %}style="display:none;"{% endif %}>
        <a href="{{ path('user_show', {id:post.userId}) }}" class="pull-left">
          <img src="{{ file_path(users[post.userId].smallAvatar, 'avatar.png') }}" class="media-object">
        </a>
        <div class="media-body">
          <div class="metas">
            <strong>{{ web_macro.user_link(postReplyMembers[post.userId]) }}</strong>
            <span class="mhm">{{post.createdTime|smart_time}}</span>
          </div>
          <div class="content">{{post.content|raw}}</div>
          <div class="text-muted text-normal pull-right">
            <a href="javascript:" class="li-reply" postId="{{post.id}}" postName="{{users[post.userId].nickname}}"> 回复</a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  <div class="actions">
    <a class="replyToo btn btn-default btn-xs pull-right" postId="{{post.id}}" href="javascript:;">我也要说</a>
    {% if posts|length > 5 %}
      <span class="text-muted">还有{{postReplyCount[post.id]-5}}条回复，</span><a href="javascript:" postId="{{post.id}}" class="lookOver">点击查看</a>
    {% endif %}
  </div>

  {% if postReplyPaginator[post.id].lastPage > 1 %}
    <ul  class="paginator-{{post.id}} pagination pagination-sm pull-left " style="display:none;">
      {% if postReplyPaginator[post.id].currentPage == postReplyPaginator[post.id].firstPage %}
        <li class="disabled"><span>上一页</span></li>
      {% else %}
        <li class="postReply-page"  postId="{{post.id}}"  data-url="{{path('group_thread_post_reply',{postId:post.id,page:postReplyPaginator[post.id].previousPage})}}"><a >上一页</a></li>
      {% endif %}
      {% for page in postReplyPaginator[post.id].pages %}
        <li {% if page == postReplyPaginator[post.id].currentPage %}class="active"{% endif %} class="postReply-page"  postId="{{post.id}}"  data-url="{{path('group_thread_post_reply',{postId:post.id,page:page})}}"><a  >{{ page }}</a></li>
      {% endfor %}

      {% if postReplyPaginator[post.id].currentPage == postReplyPaginator[post.id].lastPage %}
        <li class="disabled"><span>下一页</span></li>
      {% else %}
        <li class="postReply-page"  postId="{{post.id}}" data-url="{{path('group_thread_post_reply',{postId:post.id,page:postReplyPaginator[post.id].nextPage})}}"><a>下一页</a></li>
      {% endif %}
    </ul>
  {% endif %}

  <form  class="thread-post-reply-form" method="post" post-url="{{path('group_thread_post',{groupId:groupinfo.id,threadId:threadMain.id})}}">
    <div class="form-group">
      <textarea id="reply-content-{{post.id}}" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <button type="button" postId="{{post.id}}" class="reply-btn btn btn-xs btn-primary pull-right" style="margin-top:-10px;"data-submiting-text="正在发表回复">发表</button>
    </div>
  </form>

</div>