{% extends 'TopxiaWebBundle:Group:layout.html.twig' %}
{% block title %}{{'搜索'|trans}} - {{ parent() }}{% endblock %}
{% block content %}
  <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
    <li><a href="{{path('homepage')}}">{{ setting('homepage.name', '首页'|trans) }}</a></li>
    <li><a href="{{path('group')}}">{{setting('group.name', '小组主页'|trans)}}</a></li>
    <li><a href="{{path('group_search_group')}}">{{setting('search.name', '搜索小组'|trans)}}</a></li>
  </ol>

  <div class="row">
    <div class="col-md-9 group-main">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'所有小组'|trans}}</h3>
        </div>

        <div class="panel-body">
          {% if groups %}
          <div class="row">
            {% for group in groups %}
              {% include 'TopxiaWebBundle:Group:group-media-small.html.twig'  %}
            {% endfor %}
          </div>
          <div class="text-center">
            {{ web_macro.paginator(paginator) }}
          </div>
          {% else %}
          <div class="empty">{{'暂无小组信息'|trans}}</div>
          {% endif %}

        </div>
      </div>
    </div>
    {% include 'TopxiaWebBundle:Group:sidebar.html.twig' %}
  </div>
{% endblock %}