{% extends 'TopxiaWebBundle:Group:layout.html.twig' %}
{% if app.request.get('page')=='logoCrop' %}
  {% set script_controller = 'group/group_logo_crop' %}
{% endif %}
{% if app.request.get('page')=='backGroundLogoCrop' %}
  {% set script_controller = 'group/group_backgroundlogo_crop' %}
{% endif %}
{% block title %}{{groupinfo.title}}小组 - {{ parent() }}{% endblock %}
{% block content %}
  {{ web_macro.flash_messages() }}
  {% include 'TopxiaWebBundle:Group:group-header.html.twig' with {
  'groupinfo':groupinfo,
  'is_groupmember':is_groupmember,}
  %}
  <div class="es-row-wrap container-gap userpage-body">
    {% include 'TopxiaWebBundle:Group:group-tab-ul.html.twig' with 
    {'tab':'set', }%}
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills">
          <li  {% if app.request.get('action')=='setGroupInfo' %}class="active"{% endif %}><a href="{{path('group_set',{id:groupinfo.id,action:'setGroupInfo'})}}">编辑小组 </a></li>
          <li {% if app.request.get('action')=='setLogo' %}class="active"{% endif %}> <a  href="{{path('group_set',{id:groupinfo.id,action:'setLogo'})}}">logo设置</a></li>
          <li {% if app.request.get('action')=='setBackGroundLogo' %}class="active"{% endif %}>  <a  href="{{path('group_set',{id:groupinfo.id,action:'setBackGroundLogo'})}}">背景设置</a></li>

        </ul><br>
        
        {% include 'TopxiaWebBundle:Group:set-logo-crop-form.html.twig' with {
        'pictureUrl' : pictureUrl,
        'naturalSize' : naturalSize,
        'scaledSize' : scaledSize,}
        %}
        
      </div>
    </div>
  </div>
{% endblock %}