{% extends 'TopxiaWebBundle:Group:layout.html.twig' %}

{% block title %}小组背景设置 - {{ parent() }}{% endblock %}
{% set script_controller = 'group/group_backgroundlogo_crop' %}

{% block main %}

  {% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}<span class="glyphicon "></span> 小组背景设置{% endblock %}
    {% block body %}
    
     <form id="avatar-crop-form" method="post" enctype="multipart/form-data">
      {{ web_macro.flash_messages() }}

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <img src="{{ file_url(pictureUrl) }}" id="avatar-crop" width="{{scaledSize.width}}" height="{{scaledSize.height}}" data-natural-width="{{ naturalSize.width }}" data-natural-height="{{ naturalSize.height }}" />
          <div class="help-block">提示：请选择图片裁剪区域。</div>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <input type="hidden" name="x">
          <input type="hidden" name="y">
          <input type="hidden" name="width">
          <input type="hidden" name="height">
          <button class="btn btn-fat btn-primary" id="upload-picture-btn" type="submit">保存</button>
        </div>
      </div>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      
    </form>
  {% endblock %} 
  {% endembed %}
{% endblock %}