{% extends 'TopxiaWebBundle:Group:setting-layout.html.twig' %}

{% if app.request.get('page')=='logoCrop' %}
  {% set script_controller = 'group/group_logo_crop' %}
  {% set settingNav = 'logo' %}
{% endif %}

{% if app.request.get('page')=='backGroundLogoCrop' %}
  {% set script_controller = 'group/group_backgroundlogo_crop' %}
  {% set settingNav = 'background' %}
{% endif %}

{% block title %}{{groupinfo.title}}小组 - {{ parent() }}{% endblock %}

{% block group_setting_body %}

<form id="avatar-crop-form" method="post" enctype="multipart/form-data">
  <div class="form-group clearfix">
    <div class="col-md-offset-2 col-md-8 controls">
      <img src="{{ file_url(pictureUrl) }}" id="avatar-crop" width="{{scaledSize.width}}" height="{{scaledSize.height}}" data-natural-width="{{ naturalSize.width }}" data-natural-height="{{ naturalSize.height }}" style="max-width:100%"/>
      <div class="help-block">提示：请选择图片裁剪区域。</div>
    </div>
  </div>
  <div class="form-group clearfix">
    <div class="col-md-offset-2 col-md-8 controls">
      <input type="hidden" name="x">
      <input type="hidden" name="y">
      <input type="hidden" name="width">
      <input type="hidden" name="height">
      <button class="btn btn-fat btn-primary" id="upload-picture-btn" type="submit">保存</button>
    </div>
  </div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  
</form>

{% endblock %}