{% extends 'TopxiaWebBundle:Group:layout2.html.twig' %}
{% set script_controller = 'group/group' %}
{% block title %}{{groupinfo.title}}小组 - {{ parent() }}{% endblock %}

{% block group_main %}
  <div class="panel panel-default group-thread">
    <div class="panel-heading">
      <h2>
        {{ threadMain.title }}
        {% if threadMain.isElite %}
        <span class="label label-warning">精</span>
      {% endif %}
      </h2>
      <div class="metas">
        发表于 {{ threadMain.createdTime|smart_time }}
        <span class="divider">•</span>
        <span>XX 次查看</span>
      </div>
    </div>
    <div class="panel-body">
      {{threadMain.content|raw}}

      <div>

        {% if filters.type=='onlyOwner' %}
          <a class="btn btn-link" href="{{path('group_thread_index',{id:groupinfo.id,threadId:threadMain.id,type:'all',sort:filters.sort})}}" %}><span class="glyphicon glyphicon-filter"></span> 查看全部回复</a>
        {% else %}
          <a class="btn btn-link" href="{{path('group_thread_index',{id:groupinfo.id,threadId:threadMain.id,type:'onlyOwner',sort:filters.sort})}}"><span class="glyphicon glyphicon-filter"></span> 只看楼主回复</a>
        {% endif %}
        
        {% if filters.sort=='desc' %}
          <a type="button" class="btn btn-link " href="{{path('group_thread_index',{id:groupinfo.id,threadId:threadMain.id,type:filters.type,sort:'asc'})}}"><span class="glyphicon glyphicon-sort"></span> 顺序查看回复</a>
        {% else %}
          <a type="button" class="btn btn-link " href="{{path('group_thread_index',{id:groupinfo.id,threadId:threadMain.id,type:filters.type,sort:'desc'})}}"><span class="glyphicon glyphicon-sort"></span> 倒序查看回复</a>
        {% endif %}

        
        {% if user.id==owner.id or is_granted('ROLE_ADMIN') or user.id==groupinfo.ownerId or is_groupmember==3%}
          <a class="btn btn-link" href="{{path('group_thread_update',{id:groupinfo.id,threadId:threadMain.id})}}"><span class="glyphicon glyphicon-edit"></span> 编辑</a>
        {% endif %}

        {% if is_groupmember==2 or is_granted('ROLE_ADMIN') or is_groupmember==3 %}
          {% if threadMain.isElite==1 %}
            <a id="elite"  title="取消加精" class="btn btn-link"
              href="javascript:"
            data-url="{{path('group_thread_removeElite',{threadId:threadMain.id})}}"><span class="glyphicon glyphicon-hand-right"></span> 取消加精</a>
          {% else %}
            <a id="elite"  title="加精" class="btn btn-link"
            href="javascript:" data-url="{{path('group_thread_setElite',{threadId:threadMain.id})}}"><span class="glyphicon glyphicon-thumbs-up"></span> 加精</a>
          {% endif %}

          {% if threadMain.isStick==1 %}
             <a id="stick" title="取消置顶" class="btn btn-link"
            href="javascript:" data-url="{{path('group_thread_removeStick',{threadId:threadMain.id})}}"><span class="glyphicon glyphicon-minus-sign"></span> 取消置顶</a>
          {% else %}
            <a id="stick"  title="置顶" class="btn btn-link"
            href="javascript:" data-url="{{path('group_thread_setStick',{threadId:threadMain.id})}}"><span class="glyphicon glyphicon-circle-arrow-up"></span>  置顶</a>
          {% endif %}
{# 
          <a id="closeThread"  title="一但关闭话题将删除！确定关闭话题" class="btn btn-link"
          href="javascript:" data-url="{{path('group_thread_closeThread',{threadId:threadMain.id,memberId:user.id})}}">
          <span class="glyphicon glyphicon-remove-sign"></span> 关闭话题
          </a> #}

        {% endif %}
        <div class="share pull-right"  data-bdText="{{groupShareContent|default('')}}"></div>


      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      {{threadMain.postNum}}回复
    </div>
    <div class="panel-body">

    </div>
  </div>

  <div class="panel panel-default">
  <div class="panel-body">





      <div class="table ">
        
      {% if post %}
        {% for post in post %}
        <div class="list" id="post-{{post.id}}">
                <div class="col-md-12 "  style="border-top:1px solid #ddd;word-break:break-all;">
                    <br>
                    <div class="pull-left" style="width:80px;"> <a class="user-link user-avatar-link thread-img" href="{{ path('user_show', {id:post.userId}) }}">
                      <img src="{{ file_path(postMember[post.userId].largeAvatar, 'avatar-large.png') }}">
                    </a>
                    </div> 
                     {{ web_macro.user_link(postMember[post.userId] , 'link-muted ') }}{% if post.userId==owner.id %}<span class="label label-danger" style="padding:.2em .2em .2em;">楼主</span>{% endif %}
                                     
                    <div class="media"  >
                      <div class="media-body" >
                        {{post.content|raw}}
                      </div>
                    </div>        
                </div>
                
                <div class="bottom-thread-post col-md-12" >     
                    <div class="text-muted pull-right" >&nbsp;
                    {% if filters.sort=='desc' %}
                      {{ (postCount+1)-10*(paginator.currentPage-1)-loop.index0 }}
                    {% else %}
                      {{ (loop.index+1)+10*(paginator.currentPage-1) }}
                    {% endif %}
                    楼 {{post.createdTime|smart_time}} 
                    {% if not postReply[post.id] %}<a href="javascript:" class="reply" id="reply-{{post.id}}"  postId="{{post.id}}" postName="{{postMember[post.userId].nickname}}">回复</a><a href="javascript:" class="unreply" id="unreply-{{post.id}}" postId="{{post.id}}" style="display:none;">收起</a>{% else %}<a style="display:none;" href="javascript:" class="reply" id="reply-{{post.id}}"  postId="{{post.id}}" postName="{{postMember[post.userId].nickname}}">回复({{postReplyCount[post.id]}})</a><a href="javascript:" class="unreply" id="unreply-{{post.id}}" postId="{{post.id}}" >收起</a>{% endif %}

                  </div>

                  {% if user.id==post.userId %}
                  <div class="course-view">
                    <div class="deletePost"><a title="确定删除这条回复"  id="deletePostByself"
                    href="javascript:" data-url="{{path('group_thread_deletePost',{postId:post.id,memberId:user.id,threadOwnerId:threadMain.userId,groupOwnerId:groupinfo.ownerId,groupId:groupinfo.id})}}">删除</a>
                    
                    </div>
                  </div>
                  {% elseif user.id==owner.id %}
                  <div class="course-view" >
                      <div class="deletePost"><a title="确定删除这条回复"  id="deletePostBythreadowner"
                      href="javascript:" data-url="{{path('group_thread_deletePost',{postId:post.id,memberId:user.id,threadOwnerId:threadMain.userId,groupOwnerId:groupinfo.ownerId,groupId:groupinfo.id})}}">删除</a>
                      </div>
                  </div>
                  {% elseif is_granted('ROLE_ADMIN')  or is_groupmember==3  or is_groupmember==2 %}
                  <div class="course-view">
                      <div class="deletePost">
                        <a title="确定删除这条回复"  id="deletePostBygroupowner"
                        href="javascript:" data-url="{{path('group_thread_deletePost',{postId:post.id,memberId:user.id,threadOwnerId:threadMain.userId,groupOwnerId:groupinfo.ownerId,groupId:groupinfo.id})}}">删除</a>
                      </div>
                  </div>
                  {% endif %}
                <br>
                <div class="reply-{{post.id}} " style="{% if not postReply[post.id] %}display:none;{% endif %}position: relative;"> 
             
                 <ul class="list-unstyled col-md-10 col-md-offset-2" style="background-color:#f0f1f2">
                    <div class="reply-post-list-{{post.id}}">
                    {% if postReply[post.id] %}
                    {% for reply in postReply[post.id] %} 
                        
                        <li style="{% if loop.index > 5 %} display:none;{% endif %}border-bottom:1px solid #ddd;word-break:break-all;" class="li-reply-{{post.id}}">
                            <div class="pull-left" style="width:80px;"> <a class="user-link user-avatar-link thread-img" href="{{ path('user_show', {id:reply.userId}) }}">
                              <img src="{{ file_path(postReplyMembers[reply.userId].largeAvatar, 'avatar-large.png') }}">
                            </a>
                            </div>
                           <div class="media">
                            <div class="media-body">
                              {{ web_macro.user_link(postReplyMembers[reply.userId] , 'link-muted ') }}
                              <p >{{reply.content|raw}}&nbsp;</p>
                              <div class="text-muted text-normal pull-right">{{reply.createdTime|smart_time}}<a href="javascript:" class="li-reply" postId="{{post.id}}" postName="{{postReplyMembers[reply.userId].nickname}}"> 回复</a>
                              </div>
                            </div> 
                          </div>
                        </li>
                        {% if loop.index > 5 and  loop.index==loop.length %}
                        <li class="lookOver-{{post.id}} pull-left" >&nbsp;&nbsp;&nbsp;还有{{postReplyCount[post.id]-5}}条回复<a href="javascript:" postId="{{post.id}}" class="lookOver">/点击查看</a></li>
                        {% endif %}
                    {% endfor %}
                    {% endif %}<br>
                  {% if postReply[post.id] %}
                  <li>
                     {% if postReplyPaginator[post.id].lastPage > 1 %}
                      <ul  class="paginator-{{post.id}} pagination pagination-sm pull-left " style="display:none;">
                        {% if postReplyPaginator[post.id].currentPage == postReplyPaginator[post.id].firstPage %}
                          <li class="disabled"><span>上一页</span></li>
                        {% else %}
                          <li class="postReply-page"  postId="{{post.id}}"  data-url="{{path('group_thread_post_reply',{postId:post.id,page:postReplyPaginator[post.id].previousPage})}}"><a >上一页</a></li>
                        {% endif %}
                        {% for page in postReplyPaginator[post.id].pages %}
                          <li {% if page == postReplyPaginator[post.id].currentPage %}class="active"{% endif %} class="postReply-page"  postId="{{post.id}}"  data-url="{{path('group_thread_post_reply',{postId:post.id,page:page})}}"><a  >{{ page }}</a></li>
                        {% endfor %}

                        {% if postReplyPaginator[post.id].currentPage == postReplyPaginator[post.id].lastPage %}
                          <li class="disabled"><span>下一页</span></li>
                        {% else %}
                          <li class="postReply-page"  postId="{{post.id}}" data-url="{{path('group_thread_post_reply',{postId:post.id,page:postReplyPaginator[post.id].nextPage})}}"><a>下一页</a></li>
                        {% endif %}
                      </ul>
                    {% endif %}

                    <a class="replyToo btn btn-default btn-xs pull-right" postId="{{post.id}}" href="javascript:" type="button">我也要说</a></li><br><br>
                  {% endif %}
                  </div>
                  <li id="li-{{post.id}}" style="position: relative;top:-4px; {% if postReply[post.id] %}display:none;{% endif %}"> <form  class="reply-thread-form form-horizontal" method="post" post-url="{{path('group_thread_post',{groupId:groupinfo.id,threadId:threadMain.id})}}">
                  <textarea id="reply-content-{{post.id}}" class="form-control" ></textarea><br>
                  <span class="danger-{{post.id}}" style="color:red;display:none;" > 回复内容不能为空！</span>  
                   <button type="button" postId="{{post.id}}" class="reply-btn btn btn-xs btn-primary pull-right" style="margin-top:-10px;"data-submiting-text="正在回复">回复</button></form>
                 </li>{% if not postReply[post.id] %}<br>{% endif %}
                   </ul>
           
               

                 </div>
              </div> 
          </div>                 
          {% endfor %}
        {% endif %}
      </div>
      <div class="pull-right">{{ web_macro.paginator(paginator) }}</div>
          <div class="page-header clearfix"></div>
          <form id="post-thread-form" class="post-thread-form form-horizontal" method="post" post-url="{{path('group_thread_post',{groupId:groupinfo.id,threadId:threadMain.id})}}">
    
            <div class="form-group">
              <label class="col-md-2 control-label" for="post_content"><span class="glyphicon glyphicon-comment"></span> 回复内容</label>
              <div class="col-md-9 controls">
                <textarea name="content" value="" rows="10" id="post_content" class="form-control"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5 col-md-offset-2">
                <button id="post-thread-btn" data-submiting-text="正在回复" type="submit" class="post-thread-btn btn btn-primary">回复</button>
              </div>
            </div>
            <br>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
          </form>
  </div>
  </div>

{% endblock %}

{% block group_side %}
    {% if activeMembers %}
      
      {% include 'TopxiaWebBundle:Group:active-member-list.html.twig' with {activeMembers:activeMembers} %}
    {% endif %}
{% endblock %}
