{% extends 'TopxiaWebBundle:Group:layout.html.twig' %}
{% set script_controller = 'group/group' %}
{% block title %}{{groupinfo.title}}小组 - {{ parent() }}{% endblock %}
{% block content %}
  {{ web_macro.flash_messages() }}
  {% include 'TopxiaWebBundle:Group:groupHeader.html.twig' with {
  'groupinfo':groupinfo,
  'is_groupmember':is_groupmember,}
  %}
  <div class="es-row-wrap container-gap userpage-body">
  {% include 'TopxiaWebBundle:Group:group.tab.ul.html.twig' with 
    {'tab':'', }%}
    <div class="row">
      <div class="col-md-8">    
          <div class="btn-group-xs pull-right" >
                <a type="button" {% if filters.type=='onlyOwner' %}class="btn btn-default active" href="{{path('group_thread_index',{id:groupinfo.id,threadId:threadMain.id,type:'all',sort:filters.sort})}}"{% else %} class="btn btn-default"  href="{{path('group_thread_index',{id:groupinfo.id,threadId:threadMain.id,type:'onlyOwner',sort:filters.sort})}}" {% endif %}>只看楼主</a>
                <a type="button" {% if filters.sort=='desc' %}class="btn btn-default active" href="{{path('group_thread_index',{id:groupinfo.id,threadId:threadMain.id,type:filters.type,sort:'asc'})}}"{% else %}class="btn btn-default " href="{{path('group_thread_index',{id:groupinfo.id,threadId:threadMain.id,type:filters.type,sort:'desc'})}}"{% endif %}><span class="glyphicon glyphicon-circle-arrow-down"></span> 倒序查看</a>
                <a type="button" class="btn btn-default" href="#post-thread-form"><span class="glyphicon glyphicon-comment"></span>  回复({{threadMain.postNum}})</a>
            </div>
        <div class="clearfix">
          <h4 style="word-break: break-all;" ><b>{{threadMain.title|sub_text(25)}}</b>{% if threadMain.isElite %}
            <span class="label label-warning">精</span>
          {% endif %}{% if threadMain.isStick==1 %}
          <span class="label label-danger">置顶</span>
        {% endif %}</h4>
        <br>
      </div>
        {% if paginator.currentPage==1 %}
          <div style="word-break: break-all;" class="thread-list">
           
              <div class="row">
                  <div class="col-md-12" >
                     <div class="pull-left" style="width:80px;"> <a class="user-link user-avatar-link thread-img" href="{{ path('user_show', {id:owner.id}) }}">
                      <img src="{{ file_path(owner.largeAvatar, 'avatar-large.png') }}" >
                    </a></div>
                    {{ web_macro.user_link(owner , 'link-muted ') }}<span class="label label-danger" style="padding:.2em .2em .2em;">楼主</span>
                    <div class="media">                      
                      <div class="media-body" >
                        {{threadMain.content|raw}}
                      </div>
                    </div>     
                  </div>
                </div>
                            
          </div>
           
          {% if user.id==owner.id or is_granted('ROLE_ADMIN') or user.id==groupinfo.ownerId or is_groupmember==3%}

              <div class="pull-right" id="post-action">
                  {% if user.id==owner.id or is_groupmember==2 or is_granted('ROLE_ADMIN') or is_groupmember==3 %}
                      <a class="btn btn-link" href="{{path('group_thread_update',{id:groupinfo.id,threadId:threadMain.id})}}"><span class="glyphicon glyphicon-edit"></span> 编辑</a>
                  {% endif %}

                  {% if is_groupmember==2 or is_granted('ROLE_ADMIN') or is_groupmember==3 %}
                      {% if threadMain.isElite==1 %}
                        <a id="elite"  title="取消加精" class="btn btn-link"
                          href="javascript:"
                        data-url="{{path('group_thread_removeElite',{threadId:threadMain.id})}}"><span class="glyphicon glyphicon-hand-right"></span> 取消加精</a>
                      {% else %}
                        <a id="elite"  title="加精" class="btn btn-link"
                        href="javascript:" data-url="{{path('group_thread_setElite',{threadId:threadMain.id})}}"><span class="glyphicon glyphicon-thumbs-up"></span> 加精</a>
                      {% endif %}

                      {% if threadMain.isStick==1 %}
                         <a id="stick" title="取消置顶" class="btn btn-link"
                        href="javascript:" data-url="{{path('group_thread_removeStick',{threadId:threadMain.id})}}"><span class="glyphicon glyphicon-minus-sign"></span> 取消置顶</a>
                      {% else %}
                        <a id="stick"  title="置顶" class="btn btn-link"
                        href="javascript:" data-url="{{path('group_thread_setStick',{threadId:threadMain.id})}}"><span class="glyphicon glyphicon-circle-arrow-up"></span>  置顶</a>
                      {% endif %}

                  {% endif %}

                  {% if user.id==owner.id or is_granted('ROLE_ADMIN') or is_groupmember==3 or is_groupmember==2%}
                            <a id="closeThread"  title="一但关闭话题将删除！确定关闭话题" class="btn btn-link"
                            href="javascript:" data-url="{{path('group_thread_closeThread',{threadId:threadMain.id,memberId:user.id})}}">
                            <span class="glyphicon glyphicon-remove-sign"></span> 关闭话题
                            </a>
                  {% endif %}
              </div>{% include 'TopxiaWebBundle:Group:share.html.twig'%}
  
          {% else %}
            <div class="bottom-thread-post col-md-12">            
              {% include 'TopxiaWebBundle:Group:share.html.twig'%}
            </div>
          {% endif %}
               
      {% endif %}

      <table class="table ">
        
      {% if post %}
        {% for post in post %}
          <tr style="word-break: break-all;" class="thread-list" id="post-{{post.id}}">
            <td>
                <div class="col-md-12" >

                    <div class="pull-left" style="width:80px;"> <a class="user-link user-avatar-link thread-img" href="{{ path('user_show', {id:post.userId}) }}">
                      <img src="{{ file_path(postMember[post.userId].largeAvatar, 'avatar-large.png') }}">
                    </a>
                    </div> 
                     {{ web_macro.user_link(postMember[post.userId] , 'link-muted ') }}{% if post.userId==owner.id %}<span class="label label-danger" style="padding:.2em .2em .2em;">楼主</span>{% endif %}
                                     
                    <div class="media"  >
                      <div class="media-body" >
                        {{post.content|raw}}
                      </div>
                    </div>        
                </div>
                
                <div class="bottom-thread-post col-md-12">     
                    <div class="text-muted pull-right" >&nbsp;
                    {% if filters.sort=='desc' %}
                      {{ (postCount+1)-10*(paginator.currentPage-1)-loop.index0 }}
                    {% else %}
                      {{ (loop.index+1)+10*(paginator.currentPage-1) }}
                    {% endif %}
                    楼 {{post.createdTime|smart_time}}
                  </div>
                  {% if user.id==post.userId%}
                  <div class="course-view">
                    <div class="deletePost"><a title="确定删除这条回复"  id="deletePostByself"
                    href="javascript:" data-url="{{path('group_thread_deletePost',{postId:post.id,memberId:user.id,threadOwnerId:threadMain.userId,groupOwnerId:groupinfo.ownerId,groupId:groupinfo.id})}}">删除</a>
                    
                    </div>
                  </div>
                  {% elseif user.id==owner.id %}
                  <div class="course-view" >
                      <div class="deletePost"><a title="确定删除这条回复"  id="deletePostBythreadowner"
                      href="javascript:" data-url="{{path('group_thread_deletePost',{postId:post.id,memberId:user.id,threadOwnerId:threadMain.userId,groupOwnerId:groupinfo.ownerId,groupId:groupinfo.id})}}">删除</a>
                      </div>
                  </div>
                  {% elseif is_granted('ROLE_ADMIN')  or is_groupmember==3  or is_groupmember==2 %}
                  <div class="course-view">
                      <div class="deletePost">
                        <a title="确定删除这条回复"  id="deletePostBygroupowner"
                        href="javascript:" data-url="{{path('group_thread_deletePost',{postId:post.id,memberId:user.id,threadOwnerId:threadMain.userId,groupOwnerId:groupinfo.ownerId,groupId:groupinfo.id})}}">删除</a>
                      </div>
                  </div>
                  {% endif %} 
              </div>
              </td>   
            </tr>                  
          {% endfor %}
        {% endif %}
      </table>
      <div class="pull-right">{{ web_macro.paginator(paginator) }}</div>
          <div class="page-header clearfix"></div>
          <form id="post-thread-form" class="form-horizontal" method="post" post-url="{{path('group_thread_post',{groupId:groupinfo.id,threadId:threadMain.id})}}">

            <div class="form-group">
              <label class="col-md-2 control-label" for="post_content"><span class="glyphicon glyphicon-comment"></span> 回复内容</label>
              <div class="col-md-9 controls">
                <textarea name="content" rows="10" id="post_content" class="form-control"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5 col-md-offset-2">
                <button id="post-thread-btn" data-submiting-text="正在回复" type="submit" class="btn btn-primary">回复</button>
              </div>
            </div>
            <br>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
          </form>
      </div>

      <div class="col-md-4">
        {% if activeMembers %}
          
          {% include 'TopxiaWebBundle:Group:activeMember.list.html.twig' with {activeMembers:activeMembers} %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}