<table class="table table-hover">
  {% if threads %}
    {% for threadinfo in threads%}
      <tr class="media-list" style="word-break: break-all;">
        <td class="media">
          
          {{ web_macro.user_avatar(owner[threadinfo.userId], 'pull-left media-object media-object-small')}}
          <div class="media-body" >

              {% if threadinfo.postNum %}
                <span class="badge pull-right" style="margin-top:15px;background-color:#3cb373;"> {{threadinfo.postNum}}
                </span>
              {% endif %}

              {% if threadinfo.isStick %}
              <span class="label label-danger">置顶</span>
              {% endif %}
              
              <a class="link-muted" href="{{path('group_thread_index',{id:groupinfo.id,threadId:threadinfo.id})}}" >{{threadinfo.title|sub_text(80)}}</a> 

              {% if threadinfo.isElite %}
              <span class="label label-warning">精</span>
              {% endif %}

             <div class="text-muted text-normal"><br>
              <span class="glyphicon glyphicon-user"></span>  
              {{ web_macro.user_link(owner[threadinfo.userId] , 'link-muted') }}&nbsp;
              <span class="glyphicon glyphicon-time"></sapn>
                {{threadinfo.createdTime|smart_time}}

              {% if threadinfo.lastPostTime %}
                &nbsp;最后回复:{{ web_macro.user_link(lastPostMembers[threadinfo.lastPostMemberId] , 'link-muted') }}
                &nbsp;最后回复时间: {{threadinfo.lastPostTime|smart_time}}
              {% endif %}
          </div>
           </div>
        </td>
      </tr>
    {% endfor %}
  {% else %}
      <tr>
      <td><div class="empty">暂无话题！</div></td>
      </tr>
  {% endif %}
  
</table>