
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">上传附件</h4>
      </div>
      <div class="modal-body">
        <button class="btn btn-default btn-sm upload-img" style="height:33px;" type="button" data-url="{{ path('group_upload', {group:'user'}) }}"  >上传</button>
        <span> (大小不能超过<span style="color:red;">2</span>MB，文件类型支持png ,jpg ,gif ,doc ,xls ,txt ,rar ,zip .)</span>

        <table id="block-table" class="table table-striped table-condensed mtl">
          <tr >
          <th width="60%">文件名</th>
          <th>描述</th>
          <th>{{setting('coin').coin_name|default('')}}</th>
          <th>操作</th>
          </tr>
          {% if thread|default(null) %}
          {% for attach in attachs %}
            <tr id="file-{{attach.id}}">
              <td><label class="control-label"><span class="glyphicon glyphicon-folder-close"></span> {{attach.title}}</label></td>
              <td><input type="hidden" name="id[]" value="{{attach.fileId}}"/><input type="text" class="form-control" name="description[]" title="{{attach.title}}" value="{{attach.description}}"></td>
              <td><input type="text" name="coin[]" class="form-control" value="{{attach.coin}}"></td>
              <td><button type="button" class="del-file btn btn-default" data-id="{{attach.id}}">删除</button></td>
            </tr>       
          {% endfor %}
        {% endif %}
        </table>
      </div>
      <div class="modal-footer">
          <div class="pull-left text-muted">用户下载附件扣除的{{setting('coin').coin_name|default('')}}会在扣除50%之后添加到您的账户
          </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="sure">确定</button>
      </div>
    </div>
  </div>
</div>