{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% set block = block|default(null) %}

{% block title %}
{% if editBlock is defined %}
设置编辑区
{% else %}
新增编辑区
{% endif %}
{% endblock %}

{% if editBlock is defined %}
  {% set checkCodeUrl = path('admin_block_code_check_foredit', {id:editBlock.id}) %}
{% else %}
  {% set checkCodeUrl = path('admin_block_code_check_forcreate') %}
{% endif %}

{% block body %}
  <form class="form-horizontal" id="block-form"  
  {% if editBlock is defined %}
    action="{{ path('admin_block_edit', {block:editBlock.id}) }}" 
  {% else %}
    action="{{ path('admin_block_create') }}"
  {% endif %}  method="post">
  
    <div class="row control-group">
          <div class="col-lg-3 control-label">{{ form_label(form.code, '编号') }}</div>
          <div class="col-lg-8 controls"> {{ form_widget(form.code, {attr:{'data-url': checkCodeUrl}}) }}</div>
    </div>
    
    <div class="row control-group">
          <div class="col-lg-3 control-label">{{ form_label(form.title, '标题') }}</div>
          <div class="col-lg-8 controls"> {{ form_widget(form.title) }}</div>
    </div>

    {{ form_rest(form) }}
  </form>

  <script type="text/javascript">
    {% if editBlock is defined %}
  app.load('block/edit-modal')
  {% else %}
  app.load('block/save-modal')
   {% endif %}
  </script>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
  <button type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#block-form">保存</button>
{% endblock %}
