{% extends 'TopxiaAdminBundle:Block:block-visual-layout.html.twig' %}

{% set menu = menu|default('admin_block') %}
{% set currentPage = 'admin_block_visual_edit_history' %}
{% block page_title %} {{ '历史记录'|trans }} {% endblock %}


{% block blockVisual %}
  {{ web_macro.flash_messages() }}

  {% if blockHistorys|default() %}
    <table id="block-history-table" class="visual-block-history-table table table-striped table-condensed">
      <thead>
      <th>{{ '修改时间'|trans }}</th>
      <th>{{ '修改用户'|trans }}</th>
      <th>{{ '操作'|trans }}</th>
      </thead>
      <tbody>
      {% for blockHistory in blockHistorys %}
        <tr id="{{ blockHistory.id }}">
          <td>{{ blockHistory.createdTime |date('Y-n-d H:i:s') }}</td>
          <td>{{ historyUsers[blockHistory.userId].nickname|default('用户已删除'|trans) }}</td>
          <td>
            <a class="btn btn-xs btn-default edit-btn"
               href="{{ path('admin_blockhistory_preview', {id:blockHistory.id}) }}"
               target="_blank"> {{ '预览'|trans }} </a>

            {% if blockHistory.data %}
              <a class="btn btn-xs btn-default edit-btn"
                 href="{{ path('admin_block_recovery', {blockTemplateId:block.blockTemplateId, historyId:blockHistory.id}) }}">{{ '恢复此内容'|trans }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {{ admin_macro.paginator(paginator) }}
  {% else %}
    <div class="empty">{{ '暂无记录'|trans }}</div>
  {% endif %}
{% endblock %}
