{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% set block = block|default(null) %}

{% block title %}
{% if editBlock.id == 0 %}
新增编辑区
{% else %}
设置编辑区
{% endif %}
{% endblock %}

{% if editBlock.id == 0 %}
  {% set checkCodeUrl = path('admin_block_code_check_forcreate') %}
{% else %}
  {% set checkCodeUrl = path('admin_block_code_check_foredit', {id:editBlock.id}) %}
{% endif %}

{% block body %}
  <form class="form-horizontal" id="block-form"  
  {% if editBlock.id == 0 %}
    action="{{ path('admin_block_create') }}"
  {% else %}
    action="{{ path('admin_block_edit', {block:editBlock.id}) }}" 
  {% endif %}  method="post">


   <div class="row form-group">
    <div class="col-md-3 control-label"><label for="code">编号</label></div>
    <div class="col-md-8 controls"> 
    <input class="form-control" type="text" id="code" value="{{editBlock.code}}" data-url="{{checkCodeUrl}}" name="code"></div>
  </div>

   <div class="row form-group">
    <div class="col-md-3 control-label"><label for="title">标题</label></div>
    <div class="col-md-8 controls"> 
    <input class="form-control" type="text" id="title" value="{{editBlock.title}}" name="title"></div>
  </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>

  <script type="text/javascript">
    {% if editBlock.id == 0 %}
  app.load('block/save-modal')
  {% else %}
  app.load('block/edit-modal')
   {% endif %}
  </script>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
  <button type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#block-form">保存</button>
{% endblock %}
