{% for code,item in block.meta.items|default(null) %}
<strong>{{ item.title }}</strong>
<p class="text-muted">{{ item.desc }}</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="width:50%;">
  {% for dataId in 1..item.count %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="{{code}}-heading-{{ dataId }}">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#{{code}}-collapse-{{ dataId }}" aria-expanded="false" aria-controls="{{code}}-collapse-{{ dataId }}">
            {{ item.title }} - <span class="js-seq">{{ dataId }}</span>
          </a>
        </h4>
      </div>
      <div id="{{code}}-collapse-{{ dataId }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{code}}-heading-{{ dataId }}">
        <div class="panel-body">
         {% include 'TopxiaAdminBundle:Block/Tag:' ~ item.type ~ '.html.twig' with { data:block.data[code][dataId]|default(null) } %}
        }
        }
        </div>
      </div>
    </div>
  {% endfor %}

</div>
{% endfor %}