{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<tr id="blockitem{{ blockTemplate.id }}">
    <td>
        {{ blockTemplate.title }}
        <br>
        <span class="text-muted text-sm">编码：{{ blockTemplate.code }}</span>
    </td>
    <td>
        {% if latestHistory.userId|default(null) %}
        {{ admin_macro.user_link(latestUpdateUser|default(null)) }}
        {% else %}
        <span class="text-muted">未编辑</span>
        {% endif %}
        <br>
        {% if latestHistory.createdTime|default(null) %}
        <span class="text-muted text-sm">{{ latestHistory.createdTime|date('Y-n-d H:i:s') }}</span>
        {% endif %}
    </td>
    <td>
        {% if blockTemplate.mode == 'html' %}
            <button class="btn btn-sm btn-primary update-btn" data-url="{{ path('admin_block_update', {blockTemplateId:blockTemplate.id}) }}" data-toggle="modal" data-target="#modal">编辑html</button>
        {% endif %}

        {% if blockTemplate.mode == 'template' %}
            <a class="btn btn-sm btn-primary update-btn" href="{{ path('admin_block_visual_edit', {blockTemplateId:blockTemplate.id}) }}">编辑内容</a>
        {% endif %}

        {% if setting('developer.debug') %}
        
        <button class="btn btn-sm btn-default edit-btn hidden" data-url="{{ path('admin_block_edit', {blockTemplateId:blockTemplate.id}) }}" data-toggle="modal" data-target="#modal" >设置</button>
        <button class="btn btn-sm btn-default delete-btn" data-url="{{ path('admin_block_delete', {id:blockTemplate.id}) }}" data-target="{{ blockTemplate.id }}">删除</button>
        {% endif %}
    </td>
</tr>