<div class="btn-group">
<a href="{{ url('admin_block', {category: 'all'}) }}" type="button" class="btn btn-default btn-sm {% if type == 'all'%} btn-primary{% endif %}">所有</a>

<a href=" {{ url('admin_block', {category: 'theme'}) }}" type="button" class="btn btn-default btn-sm {% if type == 'theme'%}btn-primary{% endif %}">当前主题</a>

<a href=" {{ url('admin_block', {category: 'system'}) }}" type="button" class="btn btn-default btn-sm {% if type == 'system'%}btn-primary{% endif %}">系统</a>

{% set url = path('admin_block_match') ~ '?q={{query}}' %}
</div>
<input class="form-control quicksearch" id="block-input"  data-role="item-input" placeholder="搜索编辑区" data-url='{{url}}'>
