{% for item in items %}
  <form class="form-horizontal quiz-form" method="post" action="{{ path('course_lesson_plugin_quiz_item_post', {quizId:lessonQuiz.id, quizItemId:item.id}) }}" style="display:none;" data-item-type="{{ item.type }}">

    <div class="quiz-heading">
      {% if item.type == "multiple" %}
        <span class="pull-right text-muted">本题是多选题</span>
      {% endif %}
      <h4> 第{{loop.index}}题<small> (共 {{ items | length }}题)</small></h4>
    </div>

    <div class="quiz-description">
      {{item.description|raw }}
    </div>

    <div class="quiz-choices">
      {% set letters =  'A'..'Z' %}
      {% for index, choice in item.choices %}
      <div class="choice clearfix">
        {{ letters[loop.index0] }}：<span>{{choice}}</span>
        {% if item.type == "multiple" %}
          <span class="pull-right"> <input class="choice-answer" type="checkbox" name="answer" value="{{index}}"></span>
        {% elseif item.type == "single" %}
          <span class="pull-right"> <input class="choice-answer" type="radio" name="answer" value="{{index}}"></span>
        {% endif %}
        <span class="choice-answer-status"></span>
      </div>  
      {% endfor %}
    </div>

  </form>

{% endfor %}