{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<tr>
  <td>{{ courseCoupon.code }}</td>
  <td>
  {% if courseCoupon.type=='discount' %}
    <span>折扣:{{ courseCoupon.rate|number_format(1) }}折</span>
  {% elseif courseCoupon.type=='minus' %}
    <span>减免:{{ courseCoupon.rate }}元</span>
  {% endif %}
  </td>
  <td>
  {% if courseCoupon.status=='unused' %}  
    <span class="label label-success ">未使用</span>
  {% elseif courseCoupon.status=='used' %}
    <span class="label label-default ">已使用</span>
  {% endif %}
  </td>  
  <td>{{ courseCoupon.times }}</td>
  <td>{{ courseCoupon.createdTime|date('Y-n-d H:i') }}</td>
  <td>{{ courseCoupon.deadline|date('Y-n-d H:i') }}</td>
  <td><a class="coupon-remove" href="javascript:;" data-url="{{ path('course_manage_coupon_delete', {id:course.id, couponId:courseCoupon.id}) }}">删除</a>
  </td>
</tr>