{% extends 'layout.html.twig' %}

{% block title %}{{ 'my.teaching.live_schedule_menu'|trans }} - {{ parent() }}{% endblock %}

{% do script(['libs/fullcalendar.js', 'app/js/my/learning-calendar/index.js'])  %}

{% block content %}
  <div class="panel panel-default panel-col lesson-manage-panel">
    <div class="panel-heading">
      <a href="{{ path('my_courses_learning') }}">{{'my.learning.menu_heading'|trans}}</a>
      <span class="pull-right">
        <a id="create-course" href="{{ path('my_courses_learning') }}" class="btn btn-info btn-sm">{{ 'my.learning.course'|trans }}</a>
      </span>
    </div>

    <div class="panel-body">
      <div id='calendar'></div>
      <div id="todayDateStr" class="hidden">{{"now"|date('Y-m-d')}}</div>
    </div>
  </div>
{% endblock %}