{% extends 'v2/layout.html.twig' %}

{% block title %}{{ 'my.teaching.live_schedule_menu'|trans }} - {{ parent() }}{% endblock %}

{% do script(['libs/fullcalendar.js', 'app/js/my/learning-calendar/index.js'])  %}

{% block full_content %}
  <div class="container cd-container">
    <ol class="breadcrumb breadcrumb-o schedule">
      <li><a href="{{ path('my_courses_learning') }}">{{'my.learning.menu_heading'|trans}}</a></li>
      <li class="active">{{ 'my.teaching.live_schedule_menu'|trans }}</li>
    </ol>
    <div class="cd-content">
      <div class="cd-panel panel-default panel-col lesson-manage-panel">
        <div class="panel-heading clearfix">
          <span class="pull-right">
            <a id="create-course" href="{{ path('my_courses_learning') }}" class="btn cd-btn cd-btn-primary cd-btn-sm">{{ 'my.learning.course'|trans }}</a>
          </span>
        </div>

        <div class="panel-body my-course-manage-panel">
          <div id='calendar'></div>
          <div id="todayDateStr" class="hidden">{{"now"|date('Y-m-d')}}</div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}