<div class="my-course-item cd-mb16 clearfix">
  <a class="my-course-item__link" href="{{ path('course_show', {id: courseSet.defaultCourseId}) }}">
    {{ lazy_img(filepath(course_set_cover(courseSet, 'large'), 'courseSet.png'), 'my-course-item__picture', courseSet.title) }}
    {% include 'my/learning/course/courses-block-label.html.twig' %}
  </a>

  <div class="my-course-item__info">
    <div class="my-course-item__title text-overflow">
      <a class="cd-link-major" href="{{ path('course_show', {id: courseSet.defaultCourseId}) }}">{{ courseSet.title }}</a>
    </div>

    <div class="my-course-item__status">
      {% include 'course/widgets/course-set-price.html.twig' with {shows: 'price'} %}
    </div>
  </div>

  <div class="my-course-item__btn">
    <a class="btn cd-btn cd-btn-primary" href="{{ path('course_show', {id: courseSet.defaultCourseId}) }}" target="_blank">{{ 'course.block_grid.view_course_btn'|trans }}</a>
  </div>

</div>