{% extends 'classroom-manage/layout.html.twig' %}

{% block title %}{{'classroom.homework_check'|trans}} - {{ parent() }}{% endblock %}
{% set side_nav = 'homework-check' %}

{% do script(['libs/vue.js', 'app/js/course-manage/testpaper-check/index.js']) %}

{% block main %}
  <div class="panel panel-default panel-col">
    <div class="classroom-testpaper">
      {{'classroom.homework_check'|trans}}
      <div class="testpaper-check-title">
        <div id="app"></div>
      </div>
    </div>
    <div class="panel-body js-task-list">
      {% if isTeacher is defined and not isTeacher %}
        <span class="color-danger">{{'classroom.homework_check_tips'|trans}}</span>
      {% endif %}

      {{ render(controller('AppBundle:Testpaper/Manage:checkList',{request:app.request,targetId:classroom.id,targetType:'classroom',type:'homework'})) }}

    </div>
  </div>
  <input type="hidden" value="classroom" class="js-testpaper-check-header">
  <input type="hidden" value="{{classroom.id}}" class="js-testpaper-check-targetid">
  <input type="hidden" value="homework" class="js-testpaper-check-type">
{% endblock %}