{% extends 'activity/content-layout.html.twig' %}

{% if error is empty %}
  {% do script(['app/js/activity/ppt/index.js']) %}
{% endif %}

{% block body %}
  <div class="iframe-parent-content" id="activity-ppt-content"
      data-finish-type="{{ ppt.finishType }}"
      data-finish-detail="{{ ppt.finishDetail }}"
      data-slides="{{ slides|join(',') }}" {% if setting('magic.ppt_watermark') %} data-watermark-url="{{ path('cloud_ppt_watermark') }}"{% endif %}>
    {% if not error is empty %}
      <div class="alert alert-danger mv20 mh20">
        <i class="es-icon es-icon-info"></i>{{ error.message|raw }}
      </div>
    {% else %}

    {% endif %}
  </div>
{% endblock %}

