{% if free_limit_type(course) != 'no_free' %}
<div 
    {% if pageType == 'show' %}
        class="countdown-show"
    {% endif %}
    {% if pageType == 'dashboard' %}
        class="countdown-dashboard"
    {% endif %}
    {% if pageType == 'list' %}
        class="countdown-list"
    {% endif %}>
    
    {% if free_limit_type(course) == 'free_coming' %}
    <div class="countdown-em">
        <em class="countdown-font">即将限免</em> 
    </div>


    <div  class="countdown">
        <span>{{course.freeStartTime|date('m')}}</span>月
        <span>{{course.freeStartTime|date('d')}}</span>日
        <span>{{course.freeStartTime|date('H')}}</span>:
        <span>{{course.freeStartTime|date('i')}}</span>
    </div>
    {% endif %}

    {% if free_limit_type(course) == 'free_now' %}
    <div class="countdown-em">
        <em class="countdown-font">正在限免</em> 
    </div>
    <div  class="countdown" data-starttime="{{course.freeStartTime|default()|data_format('Y-m-d H:i:s')}}" data-endtime="{{course.freeEndTime|default()|data_format('Y-m-d H:i:s')}}">
        <span class="days">00</span>天
        <span class="hours">00</span>时
        <span class="minutes">00</span>分
        <span class="seconds">00</span>秒
    </div>
    {% endif %}
</div>


{% endif %}