{% if free_limit_type(course) != 'no_free' and is_feature_enabled('free_limit') and free_limit_type(course) != 'free_end' %}
<div 
    {% if pageType == 'show' %}
        class="countdown-show"
    {% endif %}
    {% if pageType == 'dashboard' %}
        class="countdown-dashboard"
    {% endif %}
    {% if pageType == 'list' %}
        class="countdown-list"
    {% endif %}>
    
    {% if free_limit_type(course) == 'free_coming' %}
    <div class="countdown-em">
        <em class="countdown-font">即将限免</em> 
    </div>


    <div  class="countdown">
        <span>{{course.freeStartTime|date('m')}}</span>
        <em>月</em>
        <span>{{course.freeStartTime|date('d')}}</span>
        <em>日</em>
        <span>{{course.freeStartTime|date('H')}}</span>
        <em>:</em>
        <span>{{course.freeStartTime|date('i')}}</span>
    </div>
    {% endif %}

    {% if free_limit_type(course) == 'free_now' %}
    <div class="countdown-em">
        <em class="countdown-font">正在限免</em> 
    </div>
    <div  class="countdown" data-starttime="{{course.freeStartTime|default()|data_format('Y-m-d H:i:s')}}" data-endtime="{{course.freeEndTime|default()|data_format('Y-m-d H:i:s')}}">
        <span class="days">00</span>
        <em>天</em>
        <span class="hours">00</span>
        <em>时</em>
        <span class="minutes">00</span>
        <em>分</em>
        <span class="seconds">00.0</span>
        <em>秒</em>
    </div>
    {% endif %}
</div>


{% endif %}