{% set modal_class= "modal-lg" %}
{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}{{course.title}}课程的数据{% endblock %}
{% block body %}
  <div class="table-responsive">
        <table class="table table-bordered" style="word-break:break-all;text-align:center;">
          <tr class="active">
            <td>用户名</td>
            <td>加入课程时间</td>
            <td>完成课程时间</td>
            <td>课程学习天数</td>
            <td>课程学习时长（秒）</td>
            <td>提问数</td>
            <td>笔记数</td>
          </tr>

          {% if students %}
            {% for student in students %}
            <tr>
            <td>{{student.nickname}}</td>
            <td>{{student.createdTime|date('Y-m-d H:i:s')}}</td>
            <td>{% if student.fininshTime|default(null) %}{{student.fininshTime|date('Y-m-d H:i:s')}}{% else %}----{% endif %}</td>
            <td>{{student.fininshDay}}</td>
            <td>{{student.learnTime|default(0)}}</td>
            <td>{{student.questionCount}}</td>
            <td>{{student.noteNum}}</td>
            </tr>
            {% endfor %}
          {% endif %}
         
         
        </table>
     {{ web_macro.paginator(paginator) }}
  </div>


{% endblock %}
