{% set mode = mode|default('default') %}
<ul class="page-grids pz" id="grids">
  {% for course in courses %}
    <li class=" col-md-4 col-xs-12 plz prz mz li-no">
      <div class="card  ps-re">
        
        <a href="{{ path('course_show', {id:course.id}) }}" class="card-body">
          <img src="{{ file_path(course.largePicture, 'course-large.png') }}"  class="img-responsive thumb ">
        </a> 
          <div class="phm">         
              <div class="text-size-12 pvm phs mvz  text-weight-800  div-height-3">
                <a href="{{ path('course_show', {id:course.id}) }}" class="card-body text-color-999">{{ course.title }}</a>
              </div>

              {% if mode in ['default', 'teach'] %}
                <div class="pvs phs mvz bor-t text-size-12  clearfix">
                  
                   {% if course.price > 0 %}
                      <span class="text-weight pull-left"><i>原价:</i><em class=" text-color-red-e5"><s>¥{{ course.price+250 }}</s></em></span>

                      <span class="text-weight pull-right"><i>优惠价:</i><em class=" text-color-red-e5">¥{{ course.price |number_format(0, '', '') }}</em></span>
                      
                    {% else %}
                      <span class=" text-color-red-e5 text-weight ">免费</span>
                    {% endif %}
                                 

                

                  


                </div>
              {% endif %}

            

              {% if mode in ['default'] %}
                {% set user = users[course.teacherIds|first]|default(null) %}
                {% if user %}
                  <div class="pvs  mvz bor-t  clearfix ">
                    <img src="{{ file_path(user.smallAvatar, 'avatar.png') }}" class="thumb user-logo-small-size-s">
                    <p class="text-normal mz pz">讲师：{{ user.nickname }}</p>
                    <p class="text-normal text-color-gray mz pz">{{ user.title|plain_text(15) }}</p>
                  </div>
                {% endif %}
              {% endif  %}

              <div class="pvs  mvz bor-t jc_js">
                {% if course.price > 0 %}
                  <a  href="{{ path('course_show', {id:course.id}) }}" >免费试听</a>
                {% else %}
                  <a  href="{{ path('course_show', {id:course.id}) }}" >加入学习</a>
                {% endif %}
              </div>

           </div>
       

         

      </div>
    </li>
  {% endfor %}
</ul>