{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{'创建课程'|trans}} - {{ parent() }}{% endblock %}

{% set script_controller = 'course/create' %}

{% block content %}
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default panel-page panel-create-course">
      <div class="panel-heading"><h2>{{'创建课程'|trans}}</h2></div>

      {% if not app.user.largeAvatar or not app.user.title or not userProfile.about %}
        <div class="alert alert-info">
          <h5><strong>{{'请先完成以下设置，才能创建课程：'|trans}}</strong></h5>
          <ol>
            <li>{{'设置头像。'|trans}}
              {% if app.user.largeAvatar %}
                <span class="text-success"><span class="glyphicon glyphicon-ok-circle"></span> {{'已完成'|trans}}</span> 
              {% else %}
                <span class="text-danger"><span class="glyphicon glyphicon-remove-circle"></span> {{'未完成'|trans}}</span>{{'，'|trans}}<a href="{{ path('settings_avatar', {fromCourse:true}) }}" class="alert-link">{{'去设置'|trans}}</a>
              {% endif %}
            </li>
            <li>{{'设置头衔 、自我介绍。'|trans}}
              {% if app.user.title and userProfile.about %}
                <span class="text-success"><span class="glyphicon glyphicon-ok-circle"></span> {{'已完成'|trans}}</span> </li>
              {% else %}
                <span class="text-danger"><span class="glyphicon glyphicon-remove-circle"></span> {{'未完成'|trans}}</span>{{'，'|trans}}<a href="{{ path('settings', {fromCourse:true}) }}" class="alert-link">{{'去设置'|trans}}</a>
              {% endif %}
            </li>
          </ol>
        </div>
      {% else %}
        <form id="course-create-form" class="form-horizontal" method="post">

          {{ web_macro.flash_messages() }}
 
          <div class="text-xlg">
            {{'1、选择类型'|trans}}
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="course-select active" data-type="normal">
                <i class="es-icon es-icon-putongkecheng "></i>
                <div class="course-type">普通课程</div>
                <div class="course-intro">完整的教学主干课，支持视频、图文等各种形式</div>
              </div>
            </div>
            {% if setting('course.live_course_enabled') %}
              <div class="col-md-3">
                <div class="course-select" data-type="live">
                  <i class="es-icon es-icon-zhibokecheng "></i>
                  <div class="course-type">直播课程</div>
                  <div class="course-intro">纯直播形式教学的完整课程</div>
                </div>
              </div>
            {% endif %}

            {% if setting('course.open_course_enabled') %}
              <div class="col-md-3">
                <div class="course-select" data-type="open">
                  <i class="es-icon es-icon-lubogongkaike"></i>
                  <div class="course-type">录播公开课</div>
                  <div class="course-intro">无门槛观看、结构简单的课程，常用于营销推广</div>
                </div>
              </div>
            {% endif %}

            {% if setting('course.live_course_enabled') and setting('course.live_open_course_enabled') %}
              <div class="col-md-3">
                <div class="course-select" data-type="liveOpen">
                  <i class="es-icon es-icon-zhibokecheng2"></i>
                  <div class="course-type">直播公开课</div>
                  <div class="course-intro">直播形式的公开课</div>
                </div>
              </div>
            {% endif %}
          </div>

          <div class="course-title row">
            <div class="col-md-3 controls-label text-xlg">
              <div class="text-left">
                {{'2、课程标题'|trans}}
              </div>
            </div>
            <div class="col-md-9">
              <input type="text" id="course_title" name="title" required="required" class="form-control" data-widget-cid="widget-1" data-explain="">
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>

          <div class="text-right row">
            <div class="col-md-offset-3 col-md-9 controls">
              <input id="course-create-btn" data-submiting-text="{{'正在创建'|trans}}" class="btn btn-fat btn-primary" type="submit" value="{{'创建'|trans}}">
              <a class="btn btn-fat btn-link" href="">取消</a>
            </div>
          </div>

          {% if not setting('copyright.owned') %}
            <div class="text-right row">
              <div class="col-md-offset-3 col-md-9 controls">
                <p class="mtl"><a href="http://www.qiqiuyu.com/course/22" class="text-muted" target="_blank">{{'如何创建课程？'|trans}}</a></p>
              </div>
            </div>
          {% endif %}

          <input type="hidden" name="type" value="normal" />
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
        </form>
        
      {% endif %}
    </div>
  </div>

</div>
{% endblock %}