{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}创建课程 - {{ parent() }}{% endblock %}

{% set script_controller = 'course/create' %}

{% block content %}
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default panel-page">
      <div class="panel-heading"><h2>创建课程</h2></div>

      <form id="course-create-form" class="form-horizontal" method="post">

        {{ web_macro.flash_messages() }}

        {{ form_errors(form) }}

        <div class="form-group">
          <div class="col-md-2 control-label">{{ form_label(form.title, '标题') }}</div>
          <div class="col-md-8 controls">{{ form_widget(form.title, {attr:{class:'form-control'}}) }}</div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-8 controls">
            {{ form_rest(form) }}
            <input id="course-create-btn" class="btn btn-fat btn-primary" type="submit" value="创建">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-8 controls">
            <p class="mtl"><a href="http://www.edusoho.com/guide/38" class="text-muted" target="_blank">如何创建课程？</a></p>
          </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">


      </form>


    </div><!-- /panel -->

  </div>

</div>
{% endblock %}