{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}创建课程 - {{ parent() }}{% endblock %}

{% set script_controller = 'course/create' %}
{% set script_arguments = {
  categoryUrl: path('category_all'),
  tagUrl: path('tag_all'),
  locationUrl: path('location_all')
} 
%}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default panel-page">
      <div class="panel-heading"><h2>创建课程</h2></div>

      <form id="course-create-form" class="form-horizontal" method="post">

        {{ web_macro.flash_messages() }}

        {{ form_errors(form) }}

        <div class="row control-group">
          <div class="col-lg-2 control-label">{{ form_label(form.title, '标题') }}</div>
          <div class="col-lg-8 controls">{{ form_widget(form.title) }}</div>
        </div>

        <div class="row control-group">
          <div class="col-lg-offset-2 controls">
            {{ form_rest(form) }}
            <input id="course-create-btn" class="btn btn-fat btn-primary" type="submit" value="创建">
          </div>
        </div>

      </form>

    </div><!-- /panel -->

  </div>

</div>
{% endblock %}