{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}课程 - {{ parent() }}{% endblock %}
{% set nav = 'course' %}

{% block content %}
<div class="page">

<div class="row">
  <div class="col-lg-12 mbl ptm">

    <div id="carousel-example-generic" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/img/placeholder/carousel-1140x300-1.png">
        </div>
        <div class="item">
          <img src="/assets/img/placeholder/carousel-1140x300-2.png">
        </div>
        <div class="item">
          <img src="/assets/img/placeholder/carousel-1140x300-3.png">
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

  </div>
</div>

<div class="row ptm">
  <div class="col-lg-8">

      {% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" %}
        {% block heading %}<h2>最新课程</h2>{% endblock %}
        {% block body %}
          {% set locations = {0:'全部', 110100:'北京', 310100:'上海'} %}
          {% 
            set dates = {
              '': '全部', this_week: '本周', last_week:'上周', next_week:'下周',this_month:'本月', last_month: '上月', next_month: '下月' }
          %}
          <div class="course-conditions">
            <p>
              <span>地点：</span>
              {% for id, name in locations %}
                <a href="{{ path('course_explore', conditions|merge({locationId:id})) }}" class="fsn mrs {% if conditions.locationId == id %}label label-info{% endif %}">{{ name }}</a>
              {% endfor %}
            </p>
            <p>
              <span>时间：</span>
              {% for id, name in dates %}
                <a href="{{ path('course_explore', conditions|merge({date:id})) }}"  class="fsn mrs {% if conditions.date == id %}label label-info{% endif %}">{{ name }}</a>
              {% endfor %}
            </p>
          </div>

        <ul class="media-list">
          {% for course in courses %}
            <li class="media">
              <a class="pull-left" href="{{ path('course_show', {id:course.id}) }}">
                <img class="media-object" src="{{ file_path(course.largePicture, 'course-default-475x250.png') }}" style="max-width:200px;width:200px;">
              </a>
              <div class="media-body">

                {% if date() < date(course.startTime) %}
                  <span class="fsm label label-info pull-right">未开始</span>
                {% elseif date() > date(course.startTime) and date() < date(course.endTime) %}
                  <span class="fsm label label-success pull-right">进行中</span>
                {% else %}
                  <span class="fsm label pull-right">已结束</span>
                {% endif %}

                <h4 class="media-heading"><a href="{{ path('course_show', {id:course.id}) }}">{{ course.title }}</a></h4>
                <p>{{ course.about|plain_text(120) }}</p>
                <p>
                  <span class="mrs">时间：</span>
                  {{ course.startTime|time_range(course.endTime) }}
                </p>
                <p>
                  <span class="mrs">地点：</span>
                  {{ course.locationId|location_text('c D') }}
                  {{ course.address }}
                </p>
                <p>
                  <span class="text-success">{{ course.studentNum }}</span>人已参加
                </p>
              </div>
            </li>
          {% endfor %}
        </ul>

        {{ web_macro.paginator(paginator) }}


        {% endblock %}
      {% endembed %}

  </div>

  <div class="col-lg-4">

    {% if is_granted('ROLE_ADMIN') %}
    <p class="mbl">
      <a href="{{ path('course_create') }}" class="btn btn-primary btn-large btn-block">创建课程</a>
    </p>
    {% endif %}

    {% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" %}
      {% block heading %}<h2>标签</h2>{% endblock %}
      {% block body %}
        {% set tags = [{id:0,name:'全部'}]|merge(tags) %}
        <div class="tags">
        {% for tag in tags %}
          <a href="{{ path('course_explore', conditions|merge({tagId:tag.id})) }}" class="mrm {% if conditions.tagId == tag.id %}label label-info{% endif %}">{{ tag.name }}</a>
        {% endfor %}
        </div>
      {% endblock %}
    {% endembed %}


    {% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" %}
      {% block heading %}<h2>学员最新动态</h2>{% endblock %}
      {% block body %}

        <ul class="media-list">
        {% for  member in members %}
          {% set user = object_load('user', member.userId) %}
          {% set course = object_load('course', member.courseId) %}
          <li class="media">
            <a class="pull-left" href="javascript:">
              <img class="media-object" src="{{ file_path(user.smallAvatar, 'avatar.png') }}" width="45" height="45">
            </a>
            <div class="media-body">
              <h5 class="media-heading">
                <a href="javascript:">{{ user.nickname }}</a> <span class="text-muted">{{ member.createdTime|smart_time }}</span>
              </h5>
              <p>
                <span class="text-muted">报名：</span>
                <a href="{{ path('course_show', {id:course.id}) }}" class="text-success">{{ course.title }}</a>
              </p>
            </div>
          </li>
        {% else %}
          <div class="empty">还没有学员！</div>
        {% endfor %}
        </ul>


      {% endblock %}
    {% endembed %}

  </div>

</div>






</div>
{% endblock %}