{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set bodyClass = 'course-list-page bg-blank' %}
{% set siteNav = 'course/explore' %}
{% set script_controller = 'course/explore' %}

{% block keywords %}{% if categoryArray %}{{categoryArray.name}}{% if categoryParent %}{{ ','}}{{ categoryParent.name|default('') }}{% endif %}{% else %}{{ '全部' }}{% endif %}{% endblock %}
  {% block description %}{{ categoryArrayDescription|default('')|plain_text(100) }}{% endblock %}
    {% block title %}{{ categoryArray.name|default('全部'|trans) }} - {{setting('site.name')}}{% if setting('site.slogan') %}{{' - '}}{{setting('site.slogan')}}{% endif %}{% if not setting('copyright.owned') %} - Powered By EduSoho{% endif %}
    {% endblock %}

{% block top_content %}
  <div class="es-banner">
    <div class="container">
      <div class="title">
        <i class="es-icon es-icon-viewcomfy"></i>
        {{'课程列表'|trans}}
      </div>

      {% set classrooms = data('Classrooms',{count:1}) %}
      {% if classrooms|default(null) %}
        <a class="btn btn-primary btn-lg more" href="{{path('classroom_explore')}}">
          查看{{ setting('classroom.name')|default('班级') }}
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% set type = fliter.type|default('all') %}
  {% set price = fliter.price|default('all')%}
  {% set orderBy = orderBy|default('latest')%}
  {% set currentLevelId = fliter.currentLevelId|default('all')%}
  {{ render(controller('TopxiaWebBundle:Category:treeNav',{category:category|default(''), path:'course_explore',fliter:{type: type,price: price,currentLevelId: currentLevelId},orderBy:orderBy})) }}
  <div class="es-filter">
    <ul class="nav nav-sort">
      <li>
        <a href="{{ path('course_explore', {category:category, fliter: {type: type,price: price,currentLevelId: currentLevelId},orderBy: 'latest'}) }}" class="{% if (orderBy == 'latest') %} active {% endif %}">
          {{'最新'|trans}}
        </a>
      </li>
      <li>
        <a href="{{ path('course_explore', {category:category, fliter: {type: type,price: price,currentLevelId: currentLevelId},orderBy: 'studentNum'}) }}" class="{% if (orderBy == 'studentNum') %} active {% endif %}">
          {{'最热'|trans}}
        </a>
      </li>
      <li>
        <a href="{{ path('course_explore', {category:category, fliter: {type: type,price: price,currentLevelId: currentLevelId},orderBy: 'recommendedSeq'}) }}" class="{% if (orderBy == 'recommendedSeq') %} active {% endif %}">
          {{'推荐'|trans}}
        </a>
      </li>
    </ul>
    
  </div>

  <div class="course-list">
    <div class="row">
      {% if courses %}
        {% for course in courses %}
          <div class="col-lg-3 col-md-4 col-xs-6">
            {% include 'TopxiaWebBundle:Course:Widget/course-grid.html.twig' %}
          </div>
        {% endfor %}
      {% else %}
        <div class="empty">{{'该分类下无课程'|trans}}</div>
      {% endif %}
    </div>
  </div>
  <nav class="text-center">
    {{ web_macro.paginator(paginator) }}
  </nav>
{% endblock %}
