{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}课程 - {{ parent() }}{% endblock %}
{% set nav = 'course' %}

{% set bodyClass = 'homepage' %}

{% block content %}
  <div class="row es-row-light">

    <div id="carousel-feature-banner" class="carousel slide carousel-feature-banner">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-feature-banner" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-feature-banner" data-slide-to="1"></li>
        <li data-target="#carousel-feature-banner" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/img/placeholder/carousel-1200x256-1.png" class="img-responsive">
        </div>
        <div class="item">
          <img src="/assets/img/placeholder/carousel-1200x256-2.png" class="img-responsive">
        </div>
        <div class="item">
          <img src="/assets/img/placeholder/carousel-1200x256-3.png" class="img-responsive">
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-feature-banner" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-feature-banner" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

    <div class="col-lg-12">

      <div class="es-box">
        <div class="es-box-heading">
          <h2>最新课程</h2>
        </div>

        <ul class="course-grids">
          {% for course in courses %}
            <li>
              <a href="{{ path('course_show', {id:course.id}) }}" class="grid-body">
                <img src="{{ file_path(course.largePicture, 'course-large.png') }}"  class="img-responsive thumb">
                <span class="title">{{ course.title }}</span>
                <span class="metas clearfix">
                  <span class="student-num">
                    <span>{{ course.lessonNum }}课时</span>
                  </span>
                  {% if course.price > 0 %}
                    <span class="money">{{ course.price }}元</span>
                  {% else %}
                    <span class="money money-free">免费</span>
                    {% endif %}
                </span>
                {% if course.teacherIds %}
                  {% set user = users[course.teacherIds|first]|default(null) %}
                  {% if user %}
                    <span class="teacher clearfix">
                      <img src="{{ file_path(user.smallAvatar, 'avatar.png') }}" class="thumb">
                      <span class="nickname ellipsis">{{ user.nickname }}</span>
                      <span class="user-title ellipsis">{{ user.title }}</span>
                    </span>
                  {% endif %}
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>


    <div class="col-lg-2 es-sidebar hide">

      <div class="es-box">
        <h2 class="es-sidebar-heading">课程分类</h2>
        <ul class="nav es-sidenav">
          <li><a href="#">课程分类A</a></li>
          <li class="active"><a href="#">课程分类B</a></li>
          <li><a href="#">课程分类C</a></li>
        </ul>
      </div>

    </div>
    
  </div>
{% endblock %}