{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}

{% set bodyClass = 'course-list-page' %}
{% set siteNav = 'course/explore' %}

{% block main_header %}
  <div class="course-banner es-banner">
    <div class="container">
      <div class="title">
        <span>课程</span>course
      </div>
      <div class="course-more">
        <a class="btn-more" href="{{path('classroom_explore')}}">
          查看<br>班级
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {{ render(controller('TopxiaWebBundle:Category:treeNav',{code:code|default(''), path:'course_explore'})) }}
  <div class="cuorse-filter" id="cuorse-filter">
    <ul class="nav nav-pills hidden-xs" role="tablist">
      <li role="presentation" class="{% if (sort|default('ALL') == 'ALL') %}active {% endif %}"><a href="{{ path('course_explore',{code:code, sort:'ALL',orderBy : orderBy|default('latest')}) }}">全部课程</a></li>
      <li role="presentation"class="{% if (sort|default('ALL') == 'free') %}active {% endif %}"><a href="{{ path('course_explore', {code:code, sort:'free',orderBy: orderBy|default('latest')}) }}">免费课程</a></li>
      <li role="presentation"class="{% if (sort|default('ALL') == 'live') %}active {% endif %}"><a href="{{ path('course_explore', {code:code, sort:'live',orderBy: orderBy|default('latest')}) }}">直播课程</a></li>
    </ul>
    <div class="btn-group visible-xs">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">全部课程 <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{{ path('course_explore',{code:code, sort:'ALL',orderBy : orderBy|default('latest')}) }}" class="cat-tag{% if (sort|default('ALL') == 'ALL') %}active {% endif %}">全部课程</a></li>
        <li><a href="{{ path('course_explore', {code:code, sort:'free',orderBy: orderBy|default('latest')}) }}" class="cat-tag{% if (sort|default('ALL') == 'free') %}active {% endif %}">免费课程</a></li>
        <li><a href="{{ path('course_explore', {code:code, sort:'live',orderBy: orderBy|default('latest')}) }}" class="cat-tag{% if (sort|default('ALL') == 'live') %}active {% endif %}">直播课程</a></li>
      </ul>
    </div>
    <div class="course-sort">
      <a href="{{ path('course_explore', {code:code, sort:sort,orderBy: 'latest'}) }}" class="btn-circle {% if (orderBy|default('latest') == 'latest') %} active {% endif %}" data-toggle="tooltip" data-placement="top" title="按时间排序">
        <i class="es-icon es-icon-accesstime"></i>
      </a>
      <a href="{{ path('course_explore', {code:code, sort:sort,orderBy: 'studentNum'}) }}" class="btn-circle {% if (orderBy|default('latest') == 'studentNum') %} active {% endif %}" data-toggle="tooltip" data-placement="top" title="最热">
        <i class="es-icon es-icon-whatshot"></i>
      </a>
      <a href="{{ path('course_explore', {code:code, sort:'free',orderBy: 'recommendedSeq'}) }}" class="btn-circle {% if (orderBy|default('latest') == 'recommendedSeq') %} active {% endif %}" data-toggle="tooltip" data-
      placement="top" title="点赞">
        <i class="es-icon es-icon-thumbup"></i>
      </a>
    </div>
  </div>
  <div class="course-list">
    <div class="row">
      {% for course in courses %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          {% include 'TopxiaWebBundle:Course:Widget/course-grid.html.twig' %}
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}