{% extends 'TopxiaWebBundle:Course:normal-layout.html.twig' %}

{% set tab = 'info' %}

{% block course_main %}

  <div class="course-detail-content">

    <ul class="course-about">
      <li>
        <div class="course-about-header">
          课程介绍
        </div>
        <div class="course-about-body">
          {% if course.about %}
            {{ course.about|raw }}
          {% else %}
            <p>暂无课程简介</p>
          {% endif %}

          {% if category %}
            <p><strong>分类：</strong><a href="{{ path('course_explore', {category:category.code|default(category.id)}) }}" target="_blank">{{ category.name }}</a></p>
          {% endif %}

          {% if tags %}
            <p><strong>标签：</strong>
              {% for tag in tags %}
                <a href="{{ path('tag_show', {name:tag.name}) }}">{{ tag.name }}</a>
              {% endfor %}
            </p>
          {% endif %}
        </div>
      </li>
      {% if course.goals %}
        <li>
          <div class="course-about-header">
            课程目标
          </div>
          <div class="course-about-body">
            <ul class="list-unstyled">
              {% for goal in course.goals %}
              <li>
                <i class="es-icon es-icon-chevronright"></i> {{ goal }}
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endif %}
      {% if course.audiences %}
        <li>
          <div class="course-about-header">
            适合人群
          </div>
          <div class="course-about-body">
            <ul class="list-unstyled">
              {% for audience in course.audiences %}
              <li>
                <i class="es-icon es-icon-chevronright"></i> {{ audience }}
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endif %}
    </ul>
  </div>

{% endblock %}