{% extends 'TopxiaWebBundle:Course:normal-layout.html.twig' %}

{% set tab = 'info' %}

{% block course_main %}

  <div class="course-detail-content">

    <div class="es-piece">
      <div class="piece-body p-lg clearfix">
        {% if course.about %}
          {{ course.about|cdn|raw }}
        {% else %}
          <div class="text-muted">{{'暂无课程简介'|trans}}</div>
        {% endif %}
      </div>
    </div>

    {% if course.goals %}
      <div class="es-piece">
        <div class="piece-header">
          {{'课程目标'|trans}}
        </div>
        <div class="piece-body">
          <ul class="piece-body-list">
            {% for goal in course.goals %}
            <li>
              <i class="es-icon es-icon-chevronright"></i> {{ goal }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}

    {% if course.audiences %}
      <div class="es-piece">
        <div class="piece-header">
          {{'适合人群'|trans}}
        </div>
        <div class="piece-body">
          <ul class="piece-body-list">
            {% for audience in course.audiences %}
            <li>
              <i class="es-icon es-icon-chevronright"></i> {{ audience }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}