<section class="poster swiper-container">
  <div class="swiper-wrapper" style="width: 2530px; height: 570px;">
    {% for i in 1..3 %}
      {% set carouselground = _context['carousel' ~ i ~ 'ground']%}
      {% set title1 = _context['carousel' ~ i ~ 'title1']%}
      {% set title2 = _context['carousel' ~ i ~ 'title2']%}
      {% set subtitle1 = _context['carousel' ~ i ~ 'subtitle1']%}
      {% set subtitle2 = _context['carousel' ~ i ~ 'subtitle2']%}
      {% set carouselbanner =  _context['carousel' ~ i ~'banner'] %}
      <div class="swiper-slide {% if loop.index == 1 %} swiper-slide-visible swiper-slide-active {% endif %}" style="width: 1265px; height: 570px; background: rgb(63, 63, 63);">
        <div class="container">
          <img class="img-responsive" src="{{ carouselground[0].src|default('') }}">
          <div class="mask">
            <div class="title"><span>{{ title1[0].value|default('') }}</span><span>{{ title2[0].value|default('') }}</span></div>
            <div class="subtitle"><span>{{ subtitle1[0].value|default('') }}</span><span>{{ subtitle2[0].value|default('') }}</span></div>
            <div class="item-mac">
              <a href="{{ carouselbanner[0].href|default('') }}"><img class="img-responsive" src="{{ carouselbanner[0].src|default('') }}"></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="swiper-pager"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span></div>
</section>