{% extends 'admin-v2/layout.html.twig' %}

{% set menu = 'admin_v2_data_visualization_activity_learn_record' %}

{% block main %}

  {% if records|default([]) %}
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th width="5%">{{ 'ID'|trans }}</th>
        <th>{{ '用户ID'|trans }}</th>
        <th>{{ '教学活动ID'|trans }}</th>
        <th>{{ '任务ID'|trans }}</th>
        <th>{{ '计划ID'|trans }}</th>
        <th>{{ '课程ID'|trans }}</th>
        <th>{{ '状态'|trans }}</th>
        <th>{{ '事件'|trans }}</th>
        <th>{{ '终端'|trans }}</th>
        <th>{{ '开始时间'|trans }}</th>
        <th>{{ '结束时间'|trans }}</th>
        <th>{{ '周期（秒）'|trans }}</th>
        <th>{{ '教学活动类型'|trans }}</th>
        <th>{{ '原始数据'|trans }}</th>
        <th>{{ '流水号'|trans }}</th>
        <th>{{ '创建时间'|trans }}</th>
      </tr>
      </thead>
      <tbody>
      {% for record in records|default([]) %}
        <tr id="job-log-table-tr-{{ record.id }}">
          <td>
            {{ record.id }}
          </td>

          <td>
            {{ record.userId }}
          </td>

          <td>
            {{ record.activityId }}
          </td>

          <td>
            {{ record.taskId }}
          </td>

          <td>
            {{ record.courseId }}
          </td>

          <td>
            {{ record.courseSetId }}
          </td>

          <td>
            {{ record.status }}
          </td>

          <td>
            {{ record.event }}
          </td>

          <td>
            {{ record.client }}
          </td>

          <td>
            {{ record.startTime|date('Y-m-d H:i:s') }}
          </td>

          <td>
            {{ record.endTime|date('Y-m-d H:i:s') }}
          </td>

          <td>
            {{ record.duration }}
          </td>

          <td>
            {{ record.mediaType }}
          </td>

          <td>
            {{ record.data|json_encode }}
          </td>

          <td>
            {{ record.flowSign }}
          </td>

          <td>
            {{ record.createdTime|date('Y-m-d H:i:s') }}
          </td>

        </tr>
      {% endfor %}
      </tbody>

    </table>
  {% else %}
    <div class="empty">{{'无数据'|trans}}</div>
  {% endif %}
  {{ admin_macro.paginator(paginator) }}

{% endblock %}