{% import "macro.html.twig" as web_macro %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html> <!--<![endif]-->
{% set currentTheme = current_theme() %}
{% set showMobile = is_show_mobile_page() %}
{% set lang = app.request.session.get('_locale', app.request.getLocale()) %}
<html lang="{{ lang }}" class="lang-{{ lang }}{% if showMobile  and setting('theme.code', 'jianmo') == 'jianmo' %} es-mobile{% endif %}"> {# @tode: 这里的class能否移动到body上去? #}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>
    {%- block title -%}
      {{ setting('site.name', 'EduSoho') }}{% if setting('site.slogan') %} - {{ setting('site.slogan') }}{% endif %}{% if  setting('copyright.owned','0') != '1' or setting('copyright.thirdCopyright')|default(0) == 2 %} - Powered By EduSoho{% endif %}
    {%- endblock -%}
  </title>
  <meta name="keywords" content=" {% spaceless %}{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}{% endspaceless %}"/>
  <meta name="description" content="{% spaceless %}{% block description %}{{ setting('site.seo_description') }}{% endblock %}{% endspaceless %}"/>
  <meta content="{{ csrf_token('site') }}" name="csrf-token"/>

  {{ setting('login_bind.verify_code', '')|raw }}
  
  {% if setting('site.favicon') %}
    <link rel="icon" href="{{ asset(setting('site.favicon')) }}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ asset(setting('site.favicon')) }}" type="image/x-icon" media="screen"/>
  {% endif %}

  <!--[if lt IE 9]>
  <script src="{{ asset('static-dist/libs/html5shiv.js') }}"></script>
  <script src="{{ asset('static-dist/es5-shim/es5-shim.js') }}"></script>
  <![endif]-->

  {% include 'base/stylesheet.html.twig' %}
  {% block append_html_head %}{% endblock %}
  {{ slot('layout.append_html_head', {theme: theme}) }}
</head>
<body class="{{ 'es-main-' ~ theme.primaryColor }} {{ 'es-nav-' ~ theme.navColor }} {% if bodyClass|default('') %}{{ bodyClass }}{% endif %}">

  <!--[if lt IE 9]>
  <script src="{{ asset('static-dist/libs/fix-ie.js') }}"></script>
  {% include 'default/ie8-alert.html.twig' %}
  <![endif]-->

  {% block body %}
    <div class="es-wrap">
      {% block header %}
        {% include 'base/header.html.twig' %}
      {% endblock %}

      {% block full_content %}
        {% block top_content %}{% endblock %}

        <div id="content-container" class="container">
          {% block content %}{% endblock %}
        </div>

        {% block bottom_content %}{% endblock %}
      {% endblock %}

      {% block footer %}
        {% include 'base/footer.html.twig' %}
      {% endblock %}

      {% block bottom %}{% endblock %}
    </div>
  {% endblock %}

  {% include 'base/es-bar.html.twig' %}
  {% include 'base/float-consult.html.twig' %}
  {% include 'base/reward-point-notify.html.twig' %}
  <div id="modal" class="modal"></div>

  {% include 'base/foot_script.html.twig' %}
  {% block append_html_body %}{% endblock %}
  {{ slot('layout.append_html_head', {theme: theme}) }}

</body>
</html>