{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}佣金推广 - {{ parent() }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    {% block side %}
    {% set side_nav = side_nav|default(null) %}

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="list-group-block">
            <div class="list-group-panel">
              <div class="list-group-heading">佣金收入</div>
              <ul class="list-group">
               
                <a class="list-group-item {% if side_nav == 'overview' %}active{% endif %}" href="{{ path('mysale') }}"> <i class="glyphicon glyphicon-briefcase"></i>
                 收入概览
                </a>

                <a class="list-group-item {% if side_nav == 'commission-list' %}active{% endif %}" href="{{ path('mysale_commission_list') }}"> <i class="glyphicon glyphicon-briefcase"></i>
                 收入明细
                </a>
                

              </ul>
            </div>
          </div>
          <!-- /list-group-block -->          

          <div class="list-group-block">
            <div class="list-group-panel">
              <div class="list-group-heading">线上链接推广</div>
              <ul class="list-group">
              
                <a class="list-group-item {% if side_nav == 'link-course-list' %}active{% endif %}" href="{{ path('mysale_link_course_list') }}"> <i class="glyphicon glyphicon-plus"></i>
                  课程链接推广
                </a>

                <a class="list-group-item {% if side_nav == 'link-web' %}active{% endif %}" href="{{ path('mysale_link_web_link') }}"> <i class="glyphicon glyphicon-plus"></i>
                  网站链接推广
                </a>             

              </ul>
            </div>
          </div>
          <!-- /list-group-block -->   

         <div class="list-group-block">
           <div class="list-group-panel">
             <div class="list-group-heading">线下邀请码推广</div>
             <ul class="list-group">

               <a class="list-group-item {% if side_nav == 'offsale-course-list' %}active{% endif %}" href="{{ path('mysale_offsale_course_list') }}"> <i class="glyphicon glyphicon-tree-deciduous"></i>
                 课程邀请码推广
               </a>

            


             </ul>
           </div>
         </div>
         <!-- /list-group-block -->         





        </div>

      </div>
    {% endblock %}
  </div>
  <div class="col-md-9">
    {% block main %}{% endblock %}
  </div>
</div>
{% endblock %}