{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<tr id="offsale-table-tr-{{ linksale.id }}" data-role="item">
 

  
  <td class="text-muted text-sm text-break"><p  id="content{{linksale.id}}">{{ linksale.tUrl }}</p></td>
  
  
   <td>
     {{ linksale.adCommission}}%
    
   </td>

  <td>   
     <span class="text-muted text-sm text-break">{{ linksale.adCommissionDay }}天</span>
  </td>
  


  <td class="text-muted text-sm text-break">{{ linksale.linkName }}</td>
 

  <td class="mvl ps-re">
    
    
       <button id="button{{linksale.id}}"  class="copy-button">点击复制该链接</button>
        <div id="copy{{linksale.id}}"></div>
      

  </td>

 

</tr>