{% extends 'TopxiaWebBundle:Sale:layout.html.twig' %}

{% block title %}网站链接推广 - {{ parent() }}{% endblock %}

{% set script_controller = 'mysale/link-web' %}
{% set side_nav = 'link-web-link' %}

{% block main %}
<form class="form-horizontal" id="weblink-form"  action="{{ path('mysale_link_web_link') }}" method="post">

<div class="panel panel-default panel-col">
	<div class="panel-heading">
		
	</div>
	<div class="panel-body">
		<div class="row form-group">
			<div class="col-md-12">
				请输入您需要转换的网站链接地址
				<textarea  id="oUrl" class="form-control"  cols="60" rows="3"></textarea>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-8">
				请输入该链接描述
				<textarea  id="linkname" class="form-control"  cols="60" rows="2"></textarea>
			</div>

			
<a  class="btn btn-default btn-sm pull-right"  href="#modal" data-toggle="modal"  data-url="{{ path('mysale_link_web_link') }}">生成网站推广链接</a>
		</div>


		<div class="row form-group">

			<div class="col-md-12">
				
					<h3>关于网站链接推广：</h3>
					<ul class="list-unstyled">
						<li>1、网站链接推广适用本站所有课程。</li>
						
						<li>2、任何用户通过您的专属网站推广链接访问本网站后，该用户在<span class="text-color-red text-size-18">{{lswSetting.webCommissionDay}}天</span>内在本网站购买的所有课程你都能获得<span class="text-color-red text-size-18">{{ lswSetting.webCommission}}%</span>的佣金收入。</li>

						<li>
							3、您可以通过<a  href="{{ path('mysale_commission_list') }}">佣金明细</a>	来查看您的网站链接推广佣金明细及分成情况。
						</li>

						<li>
							4、支付更快，次月结算当月的提成金额，满200元就支付，提成由管理员人工审核发放，有任何问题您可以人工申诉。
						</li>

						<li>
							5、如果推荐人和课程购买人在同一IP上或同一人，则视为无效推荐。
						</li>
						



					</ul>


					</p>
			
			</div>

		</div>
	</div>
</div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}"></form>

{% endblock %}