{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<tr id="offsale-table-tr-{{ linksale.id }}" data-role="item">
 

  
  <td class="text-muted text-sm text-break">{{ linksale.tUrl }}</td>
  
  
   <td>
     {{ linksale.adCommission}}%
    
   </td>

  <td>   
     <span class="text-muted text-sm text-break">{{ linksale.adCommissionDay }}天</span>
  </td>
  


  <td class="text-muted text-sm text-break">{{ linksale.linkName }}</td>
 

  <td class="mvl">
    
    
        <button id="copy-button" class="copy-button" value="abc">点击复制该链接</button>
        <div id="copy" class="copy"></div>
      

  </td>

 

</tr>