{% set modal_class= "modal-sd" %}
{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block title %}{{'admin_v2.operation.user_content_audit.modal.title'|trans}}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-xs-10 col-md-10 col-md-offset-1">
      <h3 class="text-center">{{'admin_v2.operation.user_content_audit.modal.body.warning'|trans}}</h3><br/>
      <p class="text-center">{{ 'admin_v2.operation.user_content_audit.modal.body.info'|trans }}</p><br>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <button class="btn btn-default btn-lg pull-left" id="cancel">{{ 'admin_v2.operation.user_content_audit.modal.body.button.cancel'|trans }}</button>
  <button class="btn btn-primary btn-lg pull-right" id="confirm">{{ 'admin_v2.operation.user_content_audit.modal.body.button.confirm'|trans }}</button>
{% endblock %}