{% extends 'admin-v2/layout.html.twig' %}

{% set menu = 'admin_v2_user_content_audit' %}

{% do script(['libs/bootstrap-datetimepicker.js','app/js/audit/user-content-audit/index.js']) %}

{% block main %}
  <div class="modal fade" id="modal-confirm-pass" tabindex="-1" role="dialog" aria-hidden="true">
    {% include 'admin-v2/operating/user-content-audit/audit-pass-modal.html.twig' %}
  </div>
  <div class="modal fade" id="modal-confirm-illegal" tabindex="-1" role="dialog" aria-hidden="true">
    {% include 'admin-v2/operating/user-content-audit/audit-illegal-modal.html.twig' %}
  </div>

  <form id="audit-search-form" class="form-inline well well-sm" action="" method="get" novalidate>

    <div class="form-group">
      <select class="form-control" name="targetType">
        {{ dict_select_options('userAuditTargetType') }}
      </select>
    </div>

    <div class="form-group">
      <select class="form-control" name="status">
        {{ dict_select_options('userAuditStatus') }}
      </select>
    </div>

    <div class="form-group">
      <select class="form-control" name="containSensitiveWords">
        {{ dict_select_options('containSensitiveWords') }}
      </select>
    </div>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="{{'admin_v2.operation.user_content_audit_form.sensitive_keywords.placeholer'|trans}}" name="sensitiveWordsSearch" value="{{ app.request.get('sensitiveWordsSearch') }}">
    </div>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="{{'admin_v2.operation.user_content_audit_form.author.placeholer'|trans}}" name="author" value="{{ app.request.get('author') }}">
    </div>

    <div class="form-group ">
      <input class="form-control" type="text" id="startTime" name="startTime"
             value="{{ app.request.query.get('startTime') }}" placeholder="{{ 'admin_v2.operation.user_content_audit_form.startTime'|trans }}" autocomplete="off">
      -
      <input class="form-control" type="text" id="endTime" name="endTime"
             value="{{ app.request.query.get('endTime') }}" placeholder="{{ 'admin_v2.operation.user_content_audit_form.endTime'|trans }}" autocomplete="off">
    </div>

    <button class="btn btn-primary">{{'form.btn.search'|trans}}</button>
  </form>


  <div id="audit-table-container">
    <table class="table table-striped table-hover" id="audit-table">
      <thead>
      <tr>
        <th width="4%"><input type="checkbox"  data-role="batch-select"></th>
        <th width="40%">{{'admin_v2.operation.user_content_audit.content_th'|trans}}</th>
        <th width="20%">{{'admin_v2.operation.user_content_audit.contain_sensitive_words_th'|trans}}</th>
        <th width="8%">{{'admin_v2.operation.user_content_audit.type_th'|trans}}</th>
        <th width="8%">{{'admin_v2.operation.user_content_audit.author_time_th'|trans}}</th>
        <th width="8%">{{'admin_v2.operation.user_content_audit.status_th'|trans}}</th>
        <th width="8%">{{'admin_v2.operation.user_content_audit.auditor_th'|trans}}</th>
        <th width="8%">{{'admin_v2.operation.user_content_audit.operation_th'|trans}}</th>
      </tr>
      </thead>
      <tbody>
      {% for audit in userAudits %}
        {% set author = authors[audit.author]|default(null) %}
        {% set auditor = auditors[audit.auditor]|default(null) %}
        <tr id="review-table-tr-{{audit.id}}" data-role="item">
          <td><input type="checkbox" value="{{audit.id}}" data-role="batch-item"></td>
          <td>
            <div class="short-long-text">
              <div class="short-text" style="white-space: pre-wrap;">
                {{ audit.short_content|raw }} <span class="text-muted trigger">({{'admin_v2.operation.user_content_audit.expand_td'|trans}})</span>
              </div>
              <div class="long-text">{{ audit.content|raw }} <span class="text-muted trigger">({{'admin_v2.operation.user_content_audit.collapse_td'|trans}})</span></div>
            </div>
          </td>
          <td>
            <div class="short-long-text">
              <div class="short-text">
                {{ audit.sensitiveWords|join(',')|plain_text(30) }} <span class="text-muted trigger">({{'admin_v2.operation.user_content_audit.expand_td'|trans}})</span>
              </div>
              <div class="long-text">{{ audit.sensitiveWords|join(',')|nl2br }} <span class="text-muted trigger">({{'admin_v2.operation.user_content_audit.collapse_td'|trans}})</span></div>
            </div>
          </td>
          <td>{{ dict_text('userAuditTargetType', audit.targetType) }}</td>
          <td>
            {{ admin_macro.user_link(author)|default('') }}<br>
            <span class="text-muted">{{audit.createdTime|date('Y-n-d H:i')}}</span>
          </td>
          <td>{{ dict_text('userAuditStatus', audit.status) }}</td>
          {% if 'sysPass' == audit.status %}
            <td>{{ 'admin_v2.operation.user_content_audit.default_auditor'|trans }}</td>
          {% else %}
            <td>{{ admin_macro.user_link(auditor)|default('--') }}</td>
          {% endif %}
          <td>
              <div class="btn-group" style="margin-top: 30%;">
                <button class="btn btn-primary btn-xs mlm" data-role="item-confirm-pass" data-name="{{'admin_v2.operation.user_content_audit.user_content'|trans}}" data-url="{{ path('admin_v2_user_content_audit_confirm', {id:audit.id,status:'pass'}) }}">{{'form.btn.confirm.normal'|trans}}</button>
              </div>
            <div class="btn-group" style="margin-top: 20%;">
              <button class="btn btn-danger btn-xs mlm" data-role="item-confirm-illegal" data-name="{{'admin_v2.operation.user_content_audit.user_content'|trans}}" data-url="{{ path('admin_v2_user_content_audit_confirm', {id:audit.id,status:'illegal'}) }}">{{'form.btn.confirm.illegal'|trans}}</button>
            </div>
          </td>
        </tr>
      {% else %}
        <tr><td colspan="20"><div class="empty">{{'site.datagrid.empty'|trans}}</div></td></tr>
      {% endfor %}
      </tbody>
    </table>

    <div>
      <label class="checkbox-inline"><input type="checkbox" data-role="batch-select"> {{'admin_v2.operation.user_content_audit.select_all_btn'|trans}}</label>
      <button class="btn btn-primary btn-xs mlm" data-url="{{ path('admin_v2_user_content_audit_batch_confirm') }}" data-role="batch-confirm-pass" data-name="{{ 'admin_v2.operation.user_content_audit.user_content'|trans }}">{{'form.btn.confirm.normal'|trans}}</button>
      <button class="btn btn-danger btn-xs mlm" data-url="{{ path('admin_v2_user_content_audit_batch_confirm') }}" data-role="batch-confirm-illegal" data-name="{{ 'admin_v2.operation.user_content_audit.user_content'|trans }}">{{'form.btn.confirm.illegal'|trans}}</button>
    </div>
  </div>

  {{ admin_macro.paginator(paginator) }}
{% endblock %}
