{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

{% for course in courses if course %}
  {% set lessons = data('OpenCourseLessons',{courseId:course.id,count:1}) %}
  
  <div class="course-block clearfix">
    <div class="course-img">
      <a href="{{ path('open_course_show', {courseId:course.id}) }}" target="_blank" target="{{ course.title }}">
        <span class="tags">
          <span class="tag-live"></span>
        </span>
        {{ lazy_img(filepath(course.middlePicture, 'course.png'), 'img-responsive', course.title) }}
      </a>
      {% if course.type == 'liveOpen' and lessons %}
        {% if lessons[0].startTime|date('Y-m-d') == "now"|date('Y-m-d') %}
          <div class="open-starttime">今日直播：{{ lessons[0].startTime|date('H:i')}}</div>
        {% else %}
          <div class="open-starttime">{{ lessons[0].startTime|date('Y-m-d H:i')}}</div>
        {% endif %}
      {% endif %}
    </div>

    <div class="open-course-content">
      <div class="title">
        {% if course.type == 'liveOpen' and lessons %}
          {% if "now"|date("U") >= lessons[0].startTime and "now"|date("U") <= lessons[0].endTime %}
            <span class="label label-primary mrm">直播中</span>
          {% elseif "now"|date("U") < lessons[0].startTime %}
            <span class="label label-warning mrm">直播预告</span>
          {% else %}
            <span class="label label-info mrm">查看回放</span>
          {% endif %}
        {% endif %}
        
        <a class="link-dark" href="{{ path('open_course_show', {courseId:course.id}) }}" target="_blank" title="{{ course.title }}">
          {{ course.title }}
        </a>
      </div>
      <div class="open-course-intro hidden-sm">
        {% if course.subtitle %}
          {{ course.subtitle|raw }}
        {% else %}
          <p><span>暂无简介</span></p>
        {% endif %}
      </div>
      <div class="metas clearfix">
        <span class="num"><i class="es-icon es-icon-removeredeye"></i>{{ course.hitNum }}</span>
        <span class="comment"><i class="es-icon es-icon-textsms"></i>{{ course.postNum }}</span>
        <a class="btn btn-primary btn-lg pull-right hidden-sm" href="{{ path('open_course_show', {courseId:course.id}) }}" target="_blank" title="{{ course.title }}">进入公开课</a>
      </div>
    </div>
  </div>
{% else %}
  <div class="empty">{{'暂无公开课'|trans}}</div>
{% endfor %}
{{ web_macro.ajaxCoursePaginator(paginator) }}