<div class="course-item">
  <div class="course-img">
    <a href="{{ path('open_course_show', {courseId:course.id}) }}" target="_blank" target="{{ course.title }}">
      
      {% if course.type == 'liveOpen' %}
        {% set lessons = data('OpenCourseLessons',{courseId:course.id,count:1}) %}
        
        {% if "now"|date("U") >= lessons[0].startTime and "now"|date("U") <= lessons[0].endTime %}
          <span class="tags">正在直播 今天 {{ lessons[0].startTime|date('H:i')}}</span>
        {% elseif "now"|date("U") < lessons[0].startTime and lessons[0].startTime|date('Y-m-d') == "now"|date('Y-m-d') %}
          <span class="tags">即将直播 {{ lessons[0].startTime|date('m-d H:i')}}</span>
        {% elseif "now"|date("U") < lessons[0].startTime and lessons[0].startTime|date('Y-m-d') != "now"|date('Y-m-d') %}
          <span class="tags">直播预告 {{ lessons[0].startTime|date('m-d H:i')}}</span>
        {% else %}
          <span class="tags">直播已结束 {{ lessons[0].startTime|date('m-d H:i')}}</span>
        {% endif %}

      {% endif %}
      {{ lazy_img(filepath(course.middlePicture, 'course.png'), 'img-responsive', course.title) }}
    </a>
  </div>
  <div class="course-info">
    <div class="title">
      <a class="link-dark" href="{{ path('open_course_show', {courseId:course.id}) }}" target="_blank" title="{{ course.title }}">
        {{ course.title }}
      </a>
    </div>
    <div class="metas clearfix">
      <span class="num"><i class="es-icon es-icon-removeredeye"></i>{{ course.hitNum }}</span>
      <span class="comment"><i class="es-icon es-icon-thumbup"></i>{{ course.likeNum }}</span>
      <span class="comment"><i class="es-icon es-icon-textsms"></i>{{ course.postNum }}</span>
    </div>
  </div>
</div>