{% import "macro.html.twig" as web_macro %}
<div class="row mrm">
    <div class="legend clearfix">
        <div class="col-10">
            任务
        </div>
        <div class="col-80">
            任务进度
            <span class="legend-icon mll learned js-legend-btn"  data-bar-class=".learned-color">
                已完成
            </span>
            <span class="legend-icon mll learning js-legend-btn"  data-bar-class=".learning-color">
                学习中
            </span>
            <span class="legend-icon mll learn js-legend-btn" data-bar-class=".learn-color">
                未开始
            </span>
        </div>
        <div class="col-10">完成率</div>
    </div>
    {% for task in tasks %}
        <div class="chart-item clearfix">
            <div class="col-10 color-gray">
                {{ task.alias }}
            </div>
            <div class="col-80">
                <div class="progress"
                     data-toggle="popover"
                     data-trigger="hover"
                     data-placement="top"
                     data-html="true"
                     data-delay="100"
                     data-content="
                        <div style='display:inline-block'><p class='mbs'>{{ task.title }}</p>
                        <span class='legend-icon learned'></span>已完成 : {{ task.finishedNum }}<br/>
                        <span class='legend-icon learning'></span>学习中 : {{ task.learnNum }}<br/>
                        <span class='legend-icon learn'></span>未开始 : {{ task.notStartedNum }}<br/>
                    </div>">

                    <div class="progress-bar learned-color" style="width: {{ task.rate}}%">
                    </div>
                    <div class="progress-bar learning-color" style="width: {{task.learnNum/course.studentNum*100}}%">
                    </div>
                    <div class="progress-bar learn-color" style="width: {{ task.notStartedNum/course.studentNum * 100 }}%">
                    </div>
                </div>
            </div>
            <div class="col-10">
                <span class="color-gray">{{ task.rate}}%</span>
                <a class="js-task-chart-detail more"
                   data-toggle="modal"
                   data-target="#modal"
                   data-url="{{ path('course_set_manage_task_detail_modal',{taskId:task.id}) }}"
                   href="javascript:;" >详情</a>
            </div>
        </div>
    {% endfor %}
</div>
<div class="pull-right mtm">
    {{ web_macro.paginator(paginator) }}
</div>