<li class="item-chapter {% if chapter.type == 'unit' %}item-chapter-unit{% endif %} clearfix" id="chapter-{{ chapter.id }}">
	<div class="item-content">{{'第'|trans}} <span class="number">{{ chapter.number }}</span> {% if chapter.type == 'unit' %}{{'节'|trans}}{% else %}{{'章'|trans}}{% endif %}{{'：'|trans}} {{ chapter.title }}</div>
</li>