{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}
{% block title %}录播显示编辑{% endblock %}
{% block body %}
	<form class="form-horizontal" id="replay_manage_form" method="POST" action="{{ path('live_course_manage_lesson_replay_edit',{lessonId:lessonId,courseId:courseId}) }}">
	  	{% for replayLesson in replayLessons %}
	  		<label class="checkbox-inline mlm">
		  		<input type="checkbox" name="visibleReplaies" {% if replayLesson.hidden == 0 %}checked="checked" {% endif %} value="{{replayLesson.id}}"> 
		  		<span id="replay-name-span-{{replayLesson.id}}" role='replay-name-span' data-replay-id="{{replayLesson.id}}" data-replay-title="{{replayLesson.title}}" data-url="{{path('live_course_manage_lesson_replay_title_update')}}">{{ replayLesson.title }}</span>
		  		<input id="replay-name-input-{{replayLesson.id}}" data-replay-id="{{replayLesson.id}}" role='replay-name-input' type="text" name="name" value="{{ replayLesson.title }}" style="display:none"> 
			</label>
	  	{% endfor %}
	  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
	</form>

	<script>app.load('live-course-manage/replay-lesson-modal')</script>

{% endblock %}
{% block footer %}
	<button id="server-create-btn" data-submiting-text="正在提交" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#replay_manage_form">提交</button>
	<button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
{% endblock %}