{% extends 'my/my-teaching.html.twig' %}

{% block title %}{{ 'my.teaching.question_bank_title'|trans }} - {{ parent() }}{% endblock %}
{% set side_nav = 'my-question-bank' %}

{% block main %}
  {{ render(path('question_bank_category_tree_nav',{ category: category })) }}

  <div class="question-bank-list clearfix">
    {% if questionBanks %}
      {% for questionBank in questionBanks %}
        <a href="{{ path('question_bank_manage', {id: questionBank.id}) }}" class="question-bank-list-item link-dark">
          <img src="{{ asset('static-dist/app/img/question-bank/question_bank_folder.png') }}"
               srcset="{{ asset('static-dist/app/img/question-bank/question_bank_folder@2x.png') }} 2x" alt="folder"/>
          <p class="text-center">{{ questionBank.name }}</p>
        </a>
      {% endfor %}
    {% elseif has_permission('admin') %}
      {% set quesionManagePath = path('admin_question_bank') %}
      <div class="empty">{{ 'question_bank.empty'|trans({'%loginUrl%': quesionManagePath})|raw }}</div>
      {% else %}
        <div class="empty">{{ 'question_bank.empty.no_auth'|trans }}</div>
    {% endif %}
  </div>
{% endblock %}