<div class="nav-btn-tab">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="{% if nav|default('') == 'overview' %}active{% endif %}">
      <a href="{{ path('course_show', {'id': course.id}) }}">课程概览</a>
    </li>

    <li role="presentation" class="{% if nav|default('') == 'directory' %}active{% endif %}">
      <a href="{{ path('course_task_list',{id: course.id}) }}">课程目录</a>
    </li>

    {% if not member is empty %}
      <li role="presentation" class="{% if nav|default('') == 'thread' %}active{% endif %}">
        <a href="{{ path('course_threads', {id: course.id}) }}">
          话题
          <small class="text-muted">({{ course.threadNum|default(0) }})</small>
        </a>
      </li>
    {% endif %}

    <li role="presentation" class="{% if nav|default('') == 'review' %}active{% endif %}">
      <a href="{{ path('course_review',{id:course.id}) }}">
        评价
        <small class="text-muted">({{ course.ratingNum|default(0) }})</small>
      </a>
    </li>
    <li role="presentation" class="{% if nav|default('') == 'note' %}active{% endif %}">
      <a href="{{ path('course_notes', { id: course.id }) }}">
        笔记
        <small class="text-muted">({{ course.noteNum|default(0) }})</small>
      </a>
    </li>

    <li role="presentation" class="{% if nav|default('') == 'material' %}active{% endif %}">
      <a href="{{ path('course_materials', { id: course.id }) }}">
        下载区
        <small class="text-muted">({{ course.materialNum|default(0) }})</small>
      </a>
    </li>
    {#<li class="highlight" style="left: 585px; width: 92px; overflow: hidden;"></li>#}
  </ul>
  {% if (course.parentId == 0 or course.locked == 0) and (app.user.admin|default(false) or member.role|default('') == "teacher") %}
    <div class="btnbar hidden-xs">
      <a href="#modal" data-toggle="modal"
         data-url="{{ path('announcement_add',{targetType:'course',targetId:course.id}) }}" class="btn btn-link">
        <i class="es-icon es-icon-anonymous-iconfont"></i>
        {{ '公告'|trans }}
      </a>
    </div>
  {% endif %}
</div>