<!-- 2、加入后：自由式学习 -->
<div class="container">
  <ol class="breadcrumb breadcrumb-o">
    <li><a href="{{ path('homepage') }}">首页</a></li>
    <li class="active">{{ courseSet.title }} </li>
  </ol>
  <div class="es-section course-detail-section clearfix">
    <div class="course-detail-top">
      {{ render(controller('AppBundle:Course:headerTopPart', {id: course.id})) }}
    </div>
    <section class="course-freelearn-section">
      <div class="row">
        <div class="col-sm-3">
          <div class="course-progress">
            <div class="cricle-progress" id="freeprogress" data-percent="{{ progress }}">
              <span class="percent"></span>
            </div>
          </div>
        </div>
        <div class="col-sm-7">
          <ul class="clearfix text-12 course-learn-list hidden-xs">
            <li>
              <p class="mb15 color-gray">
                <i class="es-icon es-icon-iccheckcircleblack24px mrm"></i>已完成
              </p>
              <span class="text-16"><span class="color-primary">{{ taskResultCount }}</span> / <span class="mrl">{{ taskCount }}</span>
              课时</span>
            </li>
            <li>
              <p class="mb15 color-gray">
                <i class="es-icon es-icon-today mrm"></i>学习有效期
              </p>
              <span class="text-16">
                {% if course.expiryMode == 'days' and course.expiryDays == 0 %}
                  不限
                {% elseif course.expiryMode == 'date' %}
                  {{ course.expiryEndDate|date('Y-m-d ') }}
                  <span class="mls color-warning text-12">剩余 {{ course.expiryEndDate|time_diff }} 天</span>
                {% else %}
                  {{ member.createdTime|date_modify("+#{course.expiryDays} days")|date('Y-m-d ') }}
                  <span class="mls color-warning text-12">剩余 {{ member.createdTime|time_diff(course.expiryDays) }} 天</span>
              </span>
            {% endif %}
            </li>
            <li>
              <p class="mb15 color-gray">
                <i class="es-icon es-icon-book mrm"></i>下一课
              </p>
              <span class="text-16">
                {% for toLearnTask in toLearnTasks %}
                {{ toLearnTask.title }}
                {% else %}
                暂无任务
                {% endfor %}
              </span>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          {% for toLearnTask in toLearnTasks %}
            <a class="btn btn-primary btn-lg hidden-sm" href="{{ path('course_task_show',{courseId: course.id, id: toLearnTask.id}) }}" style="margin-top: 1.5px">继续学习</a>
            <a class="btn btn-primary btn-block visible-sm" href="{{ path('course_task_show',{courseId: course.id, id: toLearnTask.id}) }}" style="margin-top: 1.5px">继续学习</a>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
</div>