<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ otherCourse.title }}</h3>
  </div>
  <div class="panel-body course-list">
    <div class="course-item">
      <div class="course-img">
        <a href="{{ path('course_show', {id: otherCourse.id }) }}" target="_blank">
          <img src="{{ filepath(courseSet.cover[1]|default(''), 'course.png') }}" alt="{{ otherCourse.title }}"
               class="img-responsive"></a>
      </div>
      <div class="course-info">
        <div class="title">
          <a class="link-dark" href="{{ path('course_show', {'id': otherCourse.id}) }}" target="_blank">
            {{ otherCourse.title }}
          </a>
        </div>
        <div class="metas clearfix">
          <span class="num">
            <i class="es-icon es-icon-people"></i>
            {{ otherCourse.studentNum|default(0) }}
          </span>
          <span class="comment">
            <i class="es-icon es-icon-textsms"></i>
            {{ otherCourse.threadNum|default(0) }}
          </span>
          <span class="course-price-widget">
            <span class="price">{{ otherCourse.price|default(0) }}元</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>