<div class="course-item">
  <div class="course-img">
    {% set courseSet = data('CourseSet', { id: course.courseSetId }) %}
    <a href="{{ path('course_show', {id: course.id }) }}" target="_blank">
      {% if course.serializeMode == 'serialize' %}
        <span class="tags"><span class="tag-serialing"></span></span>
      {% elseif course.serializeMode == 'finished' %}
        <span class="tags"><span class="tag-finished"></span></span>
      {% endif %}
      {% if course.type|default() == 'live' %}
        <span class="tags">
          <span class="tag-live"></span>
        </span>
      {% endif %}
      <img class="img-responsive" src="{{ filepath(courseSet.cover.middlePicture|default(null), 'course.png') }}" alt="{{ course.title }}">
    </a>
  </div>
  <div class="course-info">
    <div class="title">
      <a class="link-dark" href="{{ path('course_show', {id: course.id}) }}" target="_blank">
        {{ course.title }}
      </a>
    </div>
    <div class="metas clearfix">
      {% if setting('course.show_student_num_enabled', '1') == 1  %}
        <span class="num"><i class="es-icon es-icon-people"></i>{{ course.studentNum }}</span>
      {% endif %}
      <span class="comment"><i class="es-icon es-icon-textsms"></i>{{ course.ratingNum }}</span>
      {% if course %}
        {% include 'course/widgets/price.html.twig' with {shows:'price'} %}
      {% endif %}
    </div>
  </div>
</div>