<!DOCTYPE html>
<html>
<head>
  <title>{{'直播教室'|trans}}</title>
  {% if setting('site.favicon') %}
  <link href="{{ asset(setting('site.favicon')) }}" rel="shortcut icon" />
  {% endif %}

  <meta name="_csrf_token" content="{{ csrf_token('site') }}">
  <meta name="trigger_url" content="{{path('task_live_trigger', {courseId: courseId, activityId: activityId})}}">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

  <link href="{{ asset('assets/v2/bootstrap/css/bootstrap.css') }}" rel="stylesheet" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
  <div id="entry" data-url="{{ path('task_liveroom_ticket', {courseId: courseId, activityId: activityId, roomId:roomId, ticket:ticket.no}) }}" class="well well-lg text-center text-success">{{'正在打开教室，请稍后'|trans}}...</div>
  {% do script(['libs/vendor.js', 'web.js', 'app/js/activity/live/index.js'], 1000) %}
  {% include 'script_boot.html.twig' %}
  {# 这里的js没有加载！！！！ #}
  {# {% do script(['app/js/activity/live/index.js']) %} #}
</body>
</html>