{% extends 'activity/content-layout.html.twig' %}
{% do script(['libs/jquery-countdown.js','app/js/activity/live/index.js']) %}
{% set endLeftSeconds = activity.endTime - activity.nowDate %}
{% set startLeftSeconds = activity.startTime - activity.nowDate %}
{% set replayGuid = activity.ext.liveProvider == 1 ? 'activity.live.replay_guid_1'|trans : 'activity.live.replay_guid'|trans %}

{% block body %}
  <div class="iframe-parent-content ph20 pv20">
    {% if roomCreated %}
      <div class="lesson-content lesson-content-text"  data-has-room="{{roomCreated ? true : false}}" data-role="lesson-content">
        <pre id="activity-data" style="display:none !important;">{{ activity|json_encode()|raw }}
        </pre>
        <pre id="activity-summary" style="display:none !important;">{{ summary }}</pre>
        <div class="lesson-content-text-body">
          {% if startLeftSeconds > 0  and startLeftSeconds < 7200 %}
            <div class="live-show-item">
              <p class="title">${Translator.trans('activity.live.notice_title')}</p>
            </div>
              <div class='live-show-item'>
                  <p class='title'>{{ 'testpaper.answer.count_donw_timer'|trans }}</p>
                  <span class="color-warning">13123</span>
              </div>
            <div class='live-show-item'>
              <p class='title'>{{ 'course.plan_task.activity_manage.live.info'|trans }}</p>
                {{ summary }}
            </div>
            {% if activity.isTeacher %}
                <div class='live-show-item'>
                    <a class='btn btn-primary js-start-live' href='javascript:;'>
                       {{ 'homepage.live_course.join_btn'|trans }}
                    </a>
                </div>
            {% endif %}

          {% elseif startLeftSeconds < 0  and endLeftSeconds > 0  %}
              <div class='live-show-item'>
                  <p class="title">{{ 'homepage.live_course.start_time'|trans }}</p>
                  {{ 'my.teaching.open_course.lesson.header.content.tips'|trans }}{{ activity.endTimeFormat }}
                  {{ 'my.teaching.open_course.lesson.header.content.end.tips'|trans }}
              </div>
              <div class='live-show-item'>
                  <a class='btn btn-primary js-start-live' href='javascript:;'>
                     {{ 'homepage.live_course.join_btn'|trans }}
                  </a>
              </div>
              {% if activity.isTeacher %}
                  <div class='live-show-item'>
                     {{ replayGuid|raw }}
                  </div>
              {% endif %}
          {% elseif endLeftSeconds < 0 %}
              <div class='live-show-item'>
                  <p class="title">{{ 'homepage.live_course.start_time'|trans }}</p>
              </div>
              <div class='live-show-item'>
                  <p class='title'>{{ 'course.plan_task.activity_manage.live.info'|trans }}</p>
                  {{ summary }}
              </div>
              {% if activity.replays %}
                  <div class='live-show-item'>
                      {% for btn in activity.replays %}
                          <a class="btn btn-primary btn-replays" href="{{ btn.url }}"  target='_blank'>
                              {{ btn.title }}
                          </a>
                      {% endfor %}
                  </div>
              {% endif %}
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="lesson-content lesson-content-text" id="lesson-live-content"  data-role="lesson-content">
        <div class="lesson-content-text-body">
          <div class='live-show-item'>
            <p class='title'>{{ 'course.plan_task.activity_manage.live.info'|trans}}</p>
            <p>{{'activity.liva.not_created_notice'|trans}}</p>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}