<div class="site-footer container clearfix">

  {{ render(controller('TopxiaWebBundle:Default:footNavigation')) }}

  <div class="text-gray" data-role="default-foot-bar">
    {% include "TopxiaWebBundle::powered-by.html.twig" %}
    {{ setting('site.analytics')|raw }}
    <div class="pull-right">{% if setting('site.copyright') %}课程内容版权均归<a href="/">{{ setting('site.copyright') }}</a>所有{% endif %}&nbsp;{% if setting('site.icp') %}<a href="http://www.miibeian.gov.cn/" target="_blank">{{ setting('site.icp') }}</a>{% endif %}</div>

    <div class="pull-right mhs"><a href="{{ path('course_archive') }}">课程存档</a></div>
  </div>
</div>
