{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="{{ csrf_token('site') }}" name="csrf-token" />
  <title>{% block title %}EduSoho主题编辑{% endblock %}</title>
  {% if setting('site.favicon') %}
  <link href="{{ asset(setting('site.favicon')) }}" rel="shortcut icon" />
  {% endif %}
  <link href="{{ asset('assets/libs/gallery2/bootstrap/3.1.1/css/bootstrap.css') }}" rel="stylesheet" />
  <link href="{{ asset('assets/css/common.css') }}" rel="stylesheet" />
  <link href="{{ asset('bundles/topxiaadmin/css/admin.css') }}" rel="stylesheet" />
  <link href="{{ asset('bundles/topxiaadmin/css/admin_v2.css') }}" rel="stylesheet" />
  {% block javascripts %}{% endblock %}
  <!--[if lt IE 9]>
    <script src="{{ asset('assets/libs/html5shiv.js') }}"></script>
    <script src="{{ asset('assets/libs/respond.min.js') }}"></script>
  <![endif]-->
</head>

{% set nav = nav|default(null) %}
{% set menu = menu|default(null) %}
{% set script_controller = 'theme-edit/edit' %}

<body>

<script id="theme-config" type="text/x-handlebars-template">{{ themeConfig|json_encode|raw }}</script>

<nav class="navbar navbar-inverse site-navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10"> 
      <a class="navbar-brand">主题编辑</a>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ path('homepage') }}"><i class="glyphicon glyphicon-remove"></i> 取消</a></li>
      <li><a href="{{ path('admin_confirm_theme_config') }}"><i class="glyphicon glyphicon-ok"></i> 保存</a></li>
      </ul>
    </div>
    <div class="col-md-1"></div>
  </div>
</nav>
<div class="container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
     <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#left" role="tab" data-toggle="tab">左侧</a></li>
      <li><a href="#right" role="tab" data-toggle="tab">右侧</a></li>
      <li><a href="#buttom" role="tab" data-toggle="tab">底部</a></li>
      <li><a href="#color" role="tab" data-toggle="tab">配色方案</a></li>
      <a herf="{{ path('admin_reset_theme_config') }}" class="btn btn-primary pull-right" data-toggle="form-submit" data-role="item-delete" id="reset">全部重置</a>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" id="theme-edit-content" data-url="{{ path('admin_save_theme_config') }}">
      <div class="tab-pane active" id="left">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading clearfix">
              <div class="col-md-4 ">
                挂件名称
              </div>
              <div class="col-md-4">
                自定义名称
              </div>

            </div>

            <!-- List group -->
            <ul class="list-group module-item-list theme-edit-block theme-custom-left-block">
              <li class="list-group-item clearfix theme-edit-item">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 首页轮播图挂件
                  </label>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-3"></div>
                <div class="col-md-1"></div>
              </li>
              <li class="list-group-item clearfix theme-edit-item" id="theme-edit-item-code">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox" class="check-block"> 推荐课程挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm item-edit-btn" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('left_edit_courses_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
              <li class="list-group-item clearfix theme-edit-item">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox" class="check-block"> 最新课程挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm item-edit-btn" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('left_edit_courses_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
              <li class="list-group-item clearfix theme-edit-item">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox" class="check-block"> 直播课程挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm item-edit-btn" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('left_edit_courses_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 分类课程一挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('left_edit_courses_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 分类课程二挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('left_edit_courses_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 分类课程三挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('left_edit_courses_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 推荐话题挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('left_edit_threads_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 资讯挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('left_edit_articles_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 讲师团挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('left_edit_teachers_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
            </ul>
          </div>
      </div>

      <div class="tab-pane" id="right">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading clearfix">
              <div class="col-md-4 ">
                挂件名称
              </div>
              <div class="col-md-4">
                自定义名称
              </div>

            </div>

            <!-- List group -->
            <ul class="list-group module-item-list">
               <li class="list-group-item clearfix">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 登录框挂件
                  </label>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-3"></div>
                <div class="col-md-1"></div>
              </li>
              <li class="list-group-item clearfix">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 每日一师挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('right_edit_teacher_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 学员评价挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('right_edit_reviews_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 直播课程挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('right_edit_live_courses_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 精品课程挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('right_edit_popular_courses_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 热门标签挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('right_edit_tags_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 业内动态挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('right_edit_articles_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
              <li class="list-group-item clearfix">
                <div class="col-md-4 ">
                  <label>
                  <input type="checkbox"> 学习动态挂件
                  </label>
                </div>
                <div class="col-md-4">
                  &nbsp;自定义名称
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('right_edit_learns_theme')}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                </div>
              </li>
            </ul>
          </div>
      </div>
      <div class="tab-pane" id="buttom">
        <div class="panel panel-default">
        <div class="panel-body">
          Basic panel example
        </div>
      </div>
      </div>
      <div class="tab-pane" id="color">
        <div class="panel panel-default">
        <form class="panel-body form-inline">
           <div class="form-group">
            <label>
              <input type="checkbox"> <div class="mod-cpanel-basic-color" data-color-scheme="orange" style="background:#f16e50; display:inline-block"></div>
            </label>
          </div>  
        </form>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="mod-preview-mask">
  <iframe src="/" marginheight="0" marginwidth="0" frameborder="0" scrolling="no" width="100%" height="100%" id="iframepage" name="iframepage" >
</iframe>
</div>
<div class="col-md-1"></div>

  {% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaadmin/js/admin-app.js')} %}

  <div id="modal" class="modal"></div>

</body>
</html>


<style>
.list-group {
  height: 244px;
  overflow:auto;
}

#iframepage {

}
.mod-preview-mask {

  border-top: 1px solid #ddd;
}

iframe {
  z-index: 1000;
}

/*.mod-preview-mask .pm-div {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  z-index: 1024;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
}
*/
/*.mod-preview-mask .pm-iframe {
  position: absolute;
  z-index: 1024;
  left: 0;
  top: 0;
  border: none;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  height: 100%;
}
*/
.mod-cpanel-basic-color {
  width: 85px;
  height: 25px;
  border: 1px solid #aaa;
  cursor: pointer;
}
</style>
