<li class="list-group-item clearfix theme-edit-item" data-code="theme_edit_item_{{ pendant.code }}" id="{{ pendant.id }}">
  <div class="col-md-4 ">
    <label>
      <input type="checkbox" class="check-block" {% if isChoiced %}checked{% endif %}><span class="default-title">{{ pendant.defaultTitle }}</span>
    </label>
  </div>
  <div class="col-md-4">
    &nbsp;{% if pendant.title|default(null) %}{{ pendant.title }}{% else %}{{ pendant.defaultTitle }}{% endif %}
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-1">
    {% if pendant.code not in ['login-box'] %}
      <button class="btn btn-primary btn-sm item-edit-btn" {% if not isChoiced %}style="display:none;"{% endif %} data-title="Edit" data-toggle="modal" data-target="#modal" data-url="{{path('admin_theme_config_edit', {code:pendant.code})}}"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
    {% endif %}
  </div>
</li>