<div class="es-section open-course-detail clearfix">
  <div class="open-course-detail-main media hidden-sm hidden-xs">
    <div class="media-left">
      <img class="img-responsive" src="{{ filepath(course.middlePicture|default(''), 'course.png') }}"
           alt="{{ course.title }}">
    </div>
    <div class="media-body">
      <div class="title">{{ course.title }}</div>
      <div class="metas">
        <span><i class="es-icon es-icon-removeredeye mrs"></i>{{ course.hitNum }}</span>
        {% if setting('openCourse.show_comment', '1') == 1 %}
          <span><i class="es-icon es-icon-textsms mrs"></i>{{ course.postNum }}</span>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="open-course-detail-operation">
    <div class="operation-list">
      <div class="operation-img operation-zan">
        <a href="javascript:;" class="js-like-num" data-like-url="{{ path('open_course_like', {id:course.id}) }}"
           data-cancel-like-url="{{ path('open_course_unlike', {id:course.id}) }}"><i
              class="es-icon es-icon-thumbup"></i></a>
      </div>
      <span>{{ course.likeNum }}</span>
    </div>
    <div class="operation-list">
      <div class="operation-img  operation-share es-share top js-es-share">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="es-icon es-icon-share"></i></a>
        {% include 'common/share-dropdown.html.twig' with { type:'open_course', 'useSeajs': true } %}
      </div>
      {{ 'my.teaching.open_course.infobar.share_btn'|trans }}
    </div>
    <div class="operation-list  no-border">
      <div class="operation-img operation-collection {% if memberFavorite %}active{% endif %}">
        <a href="javascript:;" class="js-favorite-num"
           data-target-type="openCourse"
           data-target-id="{{ course.id }}"
           data-login-url="{{ path('login_ajax') }}"
           ><i
              class="es-icon es-icon-bookmarkoutline"></i></a>
      </div>
      <span>{% if memberFavorite %}{{ 'my.teaching.open_course.infobar.Favorited'|trans }}{% else %}{{ 'my.teaching.open_course.infobar.Favorite'|trans }}{% endif %}</span>
    </div>
    <div class="operation-list hidden-sm hidden-xs">
      <div class="operation-img  operation-code">
        <a class="js-qrcode qrcode-popover top"> 
          <i class="es-icon es-icon-phone1"></i>
          <div class="qrcode-content">
            <img src="{{ qrcode_data_uri(url('open_course_show', {courseId: course.id})) }}" alt="">
            <span class="gray-darker text-center text-sm">{{ 'my.teaching.open_course.infobar.WeChat_QR_code_lerarn_course'|trans|raw }}</span>
          </div>
        </a>
      </div>
      {{ 'my.teaching.open_course.infobar.WeChat_QR_code'|trans }}
    </div>
   </div>
  {% if member.role|default('') == 'teacher' or is_granted('ROLE_ADMIN') %}
    <a href="{{ path('open_course_manage',{id:course.id}) }}" class="btn btn-default btn-setting hidden-xs hidden-sm" title="{{'my.teaching.open_course.infobar.course_manage_btn'|trans}}">
      <i class="es-icon es-icon-setting"></i>
    </a>
  {% endif %}
</div>