{% set recommends = data('RecommendOpenCourses',{courseId:course.id,count:5}) %}

{# course 实际是courseSet #}
{% for recommend in recommends %}
  {% set goods = recommend.goods %}
  {% set showUrl = path('goods_show',{id:recommend.goods.id}) %}


  <li class="tab-recommand clearfix">
		<a href="{{ showUrl }}" target="_blank" title="{{ goods.title }}">
      <img class="img-responsive" src="{{ filepath(goods.images.middle|default(''), 'courseSet.png') }}" alt="{{ goods.title }}">
    </a>
		<div class="open-course-info">
		  <a class="title" href="{{ showUrl }}" target="_blank" title="{{ goods.title }}">{{ goods.title }}</a>
{#      {% if setting('course.show_student_num_enabled', '1') == 1  %}#}
{#				<div class="num">{{ course.studentNum }}{{ 'my.teaching.open_course.lesson.recommend.learning_num'|trans }}</div>#}
{#			{% endif %}#}
		</div>
	</li>
{% else %}
	<li><div class="empty">{{ 'my.teaching.open_course.lesson.recommend.empty'|trans }}</div></li>
{% endfor %}