{% extends 'course-manage/overview/layout.html.twig' %}

{% block title %}{{'course.plan_setup'|trans}} - {{ course.title }} - {{ parent() }}{% endblock %}
{% do script(['libs/echarts.js','app/js/course-manage/overview/index.js']) %}

{% block overview %}
    <ul class="course-dashboard-header course-dashboard-ul">
        <li>
            <div class="title">{{ '计划学员数'|trans }}</div>
            <span class="number js-student-num">{{ summary.studentNum }}<span class="label label-info" style="vertical-align: super;font-size: 2px;">+{{ summary.studentNumToday }}</span></span>
        </li>
        <li>
            <div class="title">{{ '完成人数'|trans }}</div>
            <span class="number js-finished-num">{{ summary.finishedNum }}<span class="label label-info" style="vertical-align: super;font-size: 2px;">+{{ summary.finishedNumToday }}</span></span>
        </li>
        <li>
            <div class="title">{{ '免费试看数'|trans }}
                <span class="link-medium es-icon es-icon-help ml5"
                      data-container="body"
                      data-toggle="popover"
                      data-trigger="hover"
                      data-placement="top"
                      data-content="{{'包括免费任务和试看任务，可以在“营销设置”中修改'|trans}}">
        </span>
            </div>
            <span class="number js-finished-rate">{{ summary.tryViewNum }}<span class="label label-info" style="vertical-align: super;font-size: 2px;">+{{ summary.tryViewNumToday }}</span></span>
        </li>
    </ul>

    <ul class="course-dashboard-footer course-dashboard-ul">
        <li>
            <div class="title">{{ '笔记数'|trans }}</div>
            <span class="number js-note-num">{{ summary.noteNum }}<span class="label label-info" style="vertical-align: super;font-size: 2px;">+{{ summary.noteNumToday }}</span></span>
        </li>
        <li>
            <div class="title">{{ '提问数'|trans }}</div>
            <span class="number js-ask-num">{{ summary.askNum }}<span class="label label-info" style="vertical-align: super;font-size: 2px;">+{{ summary.askNumToday }}</span></span>
        </li>
        <li>
            <div class="title">{{ '话题数'|trans }}</div>
            <span class="number js-discussion-num">{{ summary.discussionNum }}<span class="label label-info" style="vertical-align: super;font-size: 2px;">+{{ summary.discussionNumToday }}</span></span>
        </li>
    </ul>
    <div class="student-learning-data">
        <ul class="nav nav-tabs">
            <li >
                <a href="#student-data" data-toggle="tab">
                    学员详情
                </a>
            </li>
            <li class="active">
                <a href="#task-data" data-toggle="tab">
                    任务详情
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in" id="student-data">
                学员详情
            </div>
            <div class="tab-pane fade in active" id="task-data">
                <div class="clearfix">
                    <div class="search">
                        <input class="" value="" name="" placeholder="">
                    </div>
                    <a class="pull-right">
                        导出
                    </a>
                </div>
                任务详情
                <div class="action" id="task-data-chart" style="height: 400px;width:100%">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
