{% extends 'course-manage/overview/layout.html.twig' %}

{% block title %}{{'course.plan_setup'|trans}} - {{ course.title }} - {{ parent() }}{% endblock %}
{% do script(['libs/echarts.js','app/js/course-manage/overview/index.js']) %}

{% block overview %}
<!-- 概览 -->
<div class="dashboard row">
  <div class="col-xs-4 item bottom-border">
    <span class="number">{{ summary.studentNum }}
    {% if summary.studentNumToday %}
      <span class="incre">+{{ summary.studentNumToday }}</span>
    {% endif %}
    </span>
      <div class="title">{{ '计划学员数'|trans }}</div>
  </div>
  <div class="col-xs-4 item bottom-border">
    <span class="number">{{ summary.finishedNum }}
      {% if summary.finishedNumToday %}
        <span class="incre">+{{ summary.finishedNumToday }}</span>
      {% endif %}
    </span>
      <div class="title">{{ '完成人数'|trans }}</div>
  </div>
  <div class="col-xs-4 item bottom-border no-right-border">
    <span class="number">{{ summary.tryViewNum }}
      {% if summary.tryViewNumToday %}
        <span class="incre">+{{ summary.tryViewNumToday }}</span>
      {% endif %}
    </span>
    <div class="title">{{ '免费试看数'|trans }}
      <span class="link-medium es-icon es-icon-help ml5" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="{{'包括免费任务和试看任务，可以在“营销设置”中修改'|trans}}">
      </span>
    </div>
  </div>
  <div class="col-xs-4 item">
    <span class="number">{{ summary.noteNum }}
      {% if  summary.noteNumToday %}
        <span class="incre">+{{ summary.noteNumToday }}</span>
      {% endif %}
    </span>
      <div class="title">{{ '笔记数'|trans }}</div>
  </div>
  <div class="col-xs-4 item">
    <span class="number">{{ summary.askNum }}
      {% if summary.askNumToday  %}
        <span class="incre">+{{ summary.askNumToday }}</span>
      {% endif %}
    </span>
      <div class="title">{{ '提问数'|trans }}</div>
  </div>
  <div class="col-xs-4 item no-right-border">
    <span class="number">{{ summary.discussionNum }}
      {% if summary.discussionNumToday %}
        <span class="incre">+{{ summary.discussionNumToday }}</span>
      {% endif %}
    </span>
      <div class="title">{{ '话题数'|trans }}</div>
  </div>
</div>

{% include 'course-manage/overview/student-trendency.html.twig' %}

{% include 'course-manage/overview/finished-rate-trend.html.twig' %}

{% include 'course-manage/overview/task-detail.htm.twig' %}

{% endblock %}
