{% import 'admin-v2/macro.html.twig' as admin_macro %}
<tr id="sms-request-log-table-tr-{{ smsRequestLog.id }}">
  <td>
    <span>{{ smsRequestLog.coordinate }}</span>
  </td>
  <td>
    <span>{{ smsRequestLog.ip }}</span>
  </td>
  <td>
    <span>{{ smsRequestLog.mobile }}</span>
  </td>
  <td>
    {% if smsRequestLog.isIllegal == 0 %}
      <span>否</span>
    {% else %}
      <span style="color: red">是</span>
    {% endif %}
  </td>
  <td>
    {% if smsRequestLog.disableType == 'ip' %}
      <span>同一ip多次请求</span>
    {% elseif smsRequestLog.disableType == 'coordinate' %}
      <span>同一坐标多次请求</span>
    {% else %}
      <span>无</span>
    {% endif %}
  </td>
  <td>
    <span class="text-sm">{{ smsRequestLog.createdTime|date('Y-n-d H:i:s') }}</span>
  </td>
  <td>
    <a href="#modal" data-toggle="modal" data-url="{{ path('admin_v2_login_record_details', {id:smsRequestLog.id}) }}" data-url="" class="btn btn-default btn-sm">{{'admin.user.btn.show_btn'|trans}}</a>
  </td>
</tr>