{% do script(['app/js/default/header/index.js']) %}

<header class="es-header navbar">
  {# logo显示 #}
  <div class="navbar-header">
    <div class="visible-xs  navbar-mobile">
      <a href="javascript:;" class="navbar-more js-navbar-more">
        <i class="es-icon es-icon-menu"></i>
      </a>
      <div class="html-mask"></div>
      <div class="nav-mobile">
        <form class="navbar-form" action="{{ path('search') }}" method="get">
          <div class="form-group">
            <input class="form-control" placeholder="{{'homepage.header.search'|trans}}" name="q">
            <button class="button es-icon es-icon-search"></button>
          </div>
        </form>

        <ul class="nav navbar-nav">
          {% set navigations = data('NavigationsTree', {}) %}
          {% include 'default/top-navigation.html.twig' with {navigations: navigations,siteNav: siteNav|default(null), isMobile: true} %}
        </ul>
      </div>
    </div>
    {% if mobile %}
      <div class="M_header-back js-back">
        <a><i class="es-icon es-icon-chevronleft"></i></a>
      </div>
    {% endif %}
    <a href="{{ path('homepage') }}" class="navbar-brand">
      {% if setting('site.logo') %}
        <img src="{{ filepath('../' ~ setting('site.logo'),'') }}">
      {% else %}
        {{ setting('site.name', 'EDUSOHO') }}
      {% endif %}
    </a>
  </div>

  
  <nav class="collapse navbar-collapse">
    {# 导航栏模块 #}
    <ul class="nav navbar-nav clearfix hidden-xs " id="nav">
      {% include 'default/top-navigation.html.twig' with {navigations: navigations,siteNav: siteNav|default(null), isMobile: false} %}
    </ul>

    {# 个人操作模块 #}
    <div class="navbar-user {% if setting('esBar.enabled', 0) %} left {% endif %}">

      <ul class="nav user-nav">
        {% if app.user %}

          <li class="visible-lg nav-hover">
            {% if setting('esBar.enabled', 0) and app.user.newMessageNum > 0 %}
              <a class="hasmessage"><i class="es-icon es-icon-mail"></i><span class="dot"></span></a>
            {% elseif ( not setting('esBar.enabled', 0)) and ( app.user.newNotificationNum > 0 or app.user.newMessageNum > 0) %}
              <a class="hasmessage"><i class="es-icon es-icon-mail"></i><span class="dot"></span></a>
            {% else %}
              <a><i class="cd-icon cd-icon-bell"></i></a>
            {% endif %}

            <ul class="dropdown-menu" role="menu">
              {% if not setting('esBar.enabled', 0) %}
                <li>
                  <a href="{{ path('notification') }}">
                    <span class="pull-right num">{% if app.user.newNotificationNum > 0 %}{{ app.user.newNotificationNum }}{% endif %}</span>
                    <i class="es-icon es-icon-notificationson"></i>{{'notification.user_notification'|trans}}
                  </a>
                </li>
              {% endif %}
              <li>
                <a href="{{ path('message') }}">
                  <span class="pull-right num">{% if app.user.newMessageNum > 0 %}{{ app.user.newMessageNum }}{% endif %}</span>
                  <i class="es-icon es-icon-mail"></i>{{'user.btn.send_message'|trans}}
                </a>
              </li>
            </ul>
          </li>

          {# 头像下拉 #}
          <li class="user-avatar-li nav-hover">
            <a href="javascript:;" class="dropdown-toggle user-avatar-toggle">
              <img class="cd-avatar cd-avatar-xs" src="{{ filepath(app.user.smallAvatar, 'avatar.png') }}">
            </a>
            <div class="dropdown-menu cd-dropdown-menu cd-dropdown-menu-right user-dropdown">
              <div class="user-dropdown__info cd-mb24">
                <a class="user-dropdown__avatar cd-mr24" href="{{ path('user_show', {id:app.user.id}) }}">
                  <img class="cd-avatar cd-avatar" src="{{ filepath(app.user.smallAvatar, 'avatar.png') }}">
                </a>
                <div class="user-dropdown__profile">
                  <div class="user-dropdown__nickname"><span>{{ app.user.nickname }}</span>{% if is_plugin_installed('Vip')%}<img class="user-dropdown__vip-icon" src="{{ asset('static-dist/app/img/vip/vip_icon_gold.png') }}">{% endif %}</div>
                  {% if is_plugin_installed('Vip') %}
                    <div class="user-dropdown__rank cd-mv8">网校超级黄金会员</div>
                  {% endif %}
                  {% if is_plugin_installed('RewardPoint') %}
                    <div class="user-dropdown__rank">{{ 'homepage.header.reward'|trans }}：<span class="color-warning">899</span></div>
                  {% endif %}
                </div>
              </div>
              <div class="user-dropdown__link cd-mb24">
                <a class="cd-link-gray" href="{{ path('my_orders') }}"><i class="cd-icon cd-icon-payment"></i>{{ 'homepage.header.account_menu'|trans }}</a>
                <a class="cd-link-gray" href="{{ path('settings') }}"><i class="es-icon es-icon-setting"></i>{{ 'homepage.header.settings_menu'|trans }}</a>
              </div>
              <div class="user-dropdown__logout"><a class="cd-link-gray" href="{{ path('logout') }}">{{ 'homepage.header.logout'|trans }}</a></div>


              {# <li role="presentation" class="dropdown-header">{{ app.user.nickname }}</li> #}
            {#   <li><a href="{{ path('user_show', {id:app.user.id}) }}"><i class="es-icon es-icon-person"></i>{{'homepage.header.personal_menu'|trans}}</a></li> #}
              {# <li><a href="{{ path('settings') }}"><i class="es-icon es-icon-setting"></i>{{'homepage.header.settings_menu'|trans}}</a></li>
              <li class="hidden-lg user-nav-li-my">
                <a href="{{ path('my') }}">
                  <i class="es-icon es-icon-eventnote"></i>{% if 'ROLE_TEACHER' in app.user.roles %}{{'homepage.header.my_teaching_menu'|trans}}{% else %}{{'homepage.header.my_learning_menu'|trans}}{% endif %}
                </a>
              </li>
              <li><a href="{{path('my_orders')}}"><i class="es-icon es-icon-accountwallet"></i>{{'homepage.header.account_menu'|trans}}</a></li>

              {% if has_permission('admin') %}<li><a href="{{ path('admin') }}"><i class="es-icon es-icon-dashboard"></i>{{'homepage.header.admin_menu'|trans}}</a></li>
              {% endif %}

              <li class="hidden-lg"><a href="{{ path('notification') }}"><span class="pull-right num">{% if app.user.newNotificationNum > 0 %}{{ app.user.newNotificationNum }}{% endif %}</span><i class="es-icon es-icon-notificationson"></i>{{'homepage.header.notice'|trans}}</a></li>
              <li class="hidden-lg"><a href="{{ path('message') }}"><span class="pull-right num">{% if app.user.newMessageNum > 0 %}{{ app.user.newMessageNum }}{% endif %}</span><i class="es-icon es-icon-mail"></i>{{'homepage.header.message'|trans}}</a></li>
              {% if mobile %}
                <li class="mobile-switch js-switch-pc visible-xs"><a href="javascript:;">
                  <i class="es-icon es-icon-qiehuan"></i>{{'homepage.header.switch_pc'|trans}}</a></li>
              {% elseif setting('wap.enabled') == 1  %}
                <li class="mobile-switch js-switch-mobile visible-xs"><a href="javascript:;">
                  <i class="es-icon es-icon-qiehuan"></i>{{'homepage.header.switch_mobile'|trans}}</a>
                </li>
              {% endif %}
              <li class="user-nav-li-logout"><a href="{{ path('logout') }}"><i class="es-icon es-icon-power"></i>{{'homepage.header.logout'|trans}}</a></li> #}
            </div>
          </li>

          {# 我的教学／我的学习 #}
          {# <li class="visible-lg">
            <a href="{{ path('my') }}">
              {% if 'ROLE_TEACHER' in app.user.roles %}
                {{'homepage.header.my_course'|trans}}
              {% else %}
                {{'homepage.header.my_learning'|trans}}
              {% endif %}
            </a>
          </li> #}
        {% else %}
        <li class="user-avatar-li nav-hover visible-xs">
          <a href="javascript:;" class="dropdown-toggle">
            <img class="avatar-xs" src="{{ asset('assets/img/default/avatar.png') }}">
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="user-nav-li-login">
              <a href="{{ path('login', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">
                <i class="es-icon es-icon-denglu"></i>{{'homepage.header.login'|trans}}
              </a>
            </li>
            <li class="user-nav-li-register">
              <a href="{{ path('register', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">
                <i class="es-icon es-icon-zhuce"></i>{{'homepage.header.register'|trans}}
              </a>
            </li>
            {% if mobile %}
              <li class="mobile-switch js-switch-pc"><a href="javascript:;">
                <i class="es-icon es-icon-qiehuan"></i>{{'homepage.header.switch_pc'|trans}}</a>
              </li>
            {% elseif setting('wap.enabled') == 1  %}
              <li class="mobile-switch js-switch-mobile"><a href="javascript:;">
                <i class="es-icon es-icon-qiehuan"></i>{{'homepage.header.switch_mobile'|trans}}</a>
              </li>
             {% endif %}
          </ul>
        </li>

        <li class="hidden-xs"><a href="{{ path('login', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">{{'homepage.header.login'|trans}}</a></li>
        <li class="hidden-xs"><a href="{{ path('register', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">{{'homepage.header.register'|trans}}</a></li>
        {% endif %}
        {#{% include 'default/switch-language.html.twig' %}#}
      </ul>

      {# 搜索框 #}
     {#  <form class="navbar-form navbar-right hidden-xs hidden-sm" action="{{ path('search') }}" method="get">
        <div class="form-group">
          <input class="form-control js-search" value="{{ app.request.get('q')|default() }}" name="q" placeholder="{{'homepage.header.search'|trans}}">
          <button class="button es-icon es-icon-search"></button>
        </div>
      </form> #}
    </div>
  </nav>
</header>