{% if teacher %}
<div class="es-box">
  <div class="es-box-heading"><h2>{{'teacher.promoted_teacher.content_title'|trans}}</h2></div>
  <div class="es-box-body">
    <div class="promoted-teacher">
      <a href="{{ path('user_show', {id:teacher.id}) }}"><img src="{{ filepath(teacher.mediumAvatar, 'avatar.png') }}" class="avatar"></a>
      {% if not teacher.destroyed|default(0) %}
      <a class="nickname" href="{{ path('user_show', {id:teacher.id}) }}">{{ teacher.nickname }}</a>
      {% else %}
        {{ 'user.user_had_destroyed'|trans }}
      {% endif %}
      <div class="title">{{ teacher.title }}</div>
      <div class="about">{{ teacher.about|plain_text(100) }}</div>
      <div class="more"><a href="{{ path('user_show', {id:teacher.id}) }}">{{'teacher.promoted_teacher.see_ben'|trans}} &raquo;</a></div>
    </div>
  </div>
</div>
{% endif %}
