{% set teachers = data('RecommendTeachers',{'count': config.count|default(4)}) %}
{% if teachers %}
  <section class="recommend-teacher {{config.background|default("")}}">
    <div class="container">
      <div class="text-line">
        <h5><span>{{ config.title|default(config.defaultTitle) }}</span><div class="line"></div></h5>
        <div class="subtitle">{{ config.subTitle|default(config.defaultSubTitle) }}</div>
      </div>
      <div class="row">
        {% for teacher in teachers %}
        {% set profile = teacher.profile %}
        {% set isFollowed = teacher.isFollowed %}
          <div class="col-md-3 col-xs-6">
            {% include 'teacher/teacher-item.html.twig' %}
          </div>
        {% endfor %}
      </div>
      <div class="section-more-btn">
        <a href="{{ path('teacher') }}" class="btn btn-default btn-lg">
          {{'homepage.recommend_teacher.more'|trans}} <i class="mrs-o es-icon es-icon-chevronright"></i>
        </a>
      </div>
    </div>
  </section>
{% endif %}
