{# 
  <a class="btn btn-info js-batch-tag-btn" data-role="batch-tag">{{ 'admin.cloud_file.add_tag'|trans }}
  </a>
  <a class="btn btn-danger js-batch-delete-btn" data-role="batch-dalete" href="javascript:;" data-url="{{ path('admin_cloud_file_delete_modal_show') }}"  >{{ 'admin.cloud_file.delete_btn'|trans }}
  </a>
</div> #}
<div class="material-btn-group mbm all mtm">
  <button class="btn btn-info" type="button" disabled>下载资料</button>
  <button class="btn btn-info js-batch-tag-btn" type="button" disabled data-role="batch-tag">{{ 'admin.cloud_file.add_tag'|trans }}</button>
  <button class="btn btn-danger js-batch-delete-btn" type="button" disabled data-role="batch-dalete" data-url="{{ path('admin_cloud_file_delete_modal_show') }}" >{{ 'admin.cloud_file.delete_btn'|trans }}
  </button>
</div>
