<div id="material-lib-items-panel" class="all mtm">
  {#a class="btn btn-primary js-upload-file-btn" data-toggle="modal" data-backdrop="static"  data-target="#modal"
  data-url="{{ path('uploader_batch_upload', {token:uploader_token('materiallib', app.user.id, 'private')}) }}" title="上传资料"   data-placement="bottom" >上传资料
  </a>#}
  <a class="btn btn-info js-manage-batch-btn" href="javascript:;">{{ 'admin.cloud_file.batch_manage_btn'|trans }}
  </a>
  <a class="btn btn-info js-batch-tag-btn" style="display:none;" data-role="batch-tag">{{ 'admin.cloud_file.add_tag'|trans }}
  </a>
  {#<a class="btn btn-info js-batch-share-btn" style="display:none;" data-role="batch-share" href="javascript:;" data-url="{{ path('material_batch_share') }}"  >共享
  </a>#}
  <a class="btn btn-danger js-batch-delete-btn" style="display:none;" data-role="batch-dalete" href="javascript:;" data-url="{{ path('admin_cloud_file_delete_modal_show') }}"  >{{ 'admin.cloud_file.delete_btn'|trans }}
  </a>
  <label class="checkbox-inline" style="display:none;" data-role="batch-manage" >
    <input type="checkbox"  data-role="batch-select"/> {{ 'admin.cloud_file.select_all'|trans }}
  </label>
</div>