<div class="materials-group bottom">
  <li class="all"><span>{{ 'form.field.filter'|trans }}：</span></li>
  <div class="form-inline">
    <div class="form-group es-materials-filter">
      <input class="form-control" type="text" id="startDate" name="startDate" value="" placeholder="{{ 'form.placeholder.start_date'|trans }}">
      -
      <input class="form-control" type="text" id="endDate" name="endDate" value="" placeholder="{{ 'form.placeholder.end_date'|trans }}">
    </div>
    <div class="form-group" >
      <select class="form-control js-process-status-select" name="audioConvertStatus">
        <option value="">{{ 'cloud_file.process_status'|trans }}</option>
        <option value="success">{{ 'cloud_file.process_status.ok'|trans }}</option>
        <option value="doing">{{ 'cloud_file.process_status.waiting'|trans }}</option>
        <option value="error">{{ 'cloud_file.process_status.error'|trans }}</option>
      </select>
    </div>
    {% if pageType == 'file' %}
      <div class="form-group" >
        <select class="form-control js-use-status-select" name="useStatus">
          <option value="">{{ 'cloud_file.use_status'|trans }}</option>
          <option value="unused">{{ 'cloud_file.use_status.unused'|trans }}</option>
          <option value="used">{{ 'cloud_file.use_status.used'|trans }}</option>
        </select>
      </div>
    {% endif %}
  </div>

 {#  <div class="checkbox">
    <label>
      <input type="checkbox" name="processStatus" value="error"> 转码失败
    </label>
  </div> #}
</div>
