<ul class="materials-nav nav nav-tabs js-tags-container">
  <li class="all"><span>{{ '类型：'|trans }}</span></li>
  <li class="active js-type-btn" data-value=""><a class="item" href="javascript:;">{{ '全部'|trans }}</a></li>
  <li class="js-type-btn " data-value="video"><a class="item" href="javascript:;">{{ '视频'|trans }}</a></li>
  <li class="js-type-btn " data-value="flash"><a class="item" href="javascript:;">flash</a></li>
  <li class="js-type-btn " data-value="audio"><a class="item" href="javascript:;">{{ '音频'|trans }}</a></li>
  <li class="js-type-btn " data-value="image"><a class="item" href="javascript:;">{{ '图片'|trans }}</a></li>
  <li class="js-type-btn " data-value="document"><a class="item" href="javascript:;">{{ '文档'|trans }}</a></li>
  <li class="js-type-btn " data-value="ppt"><a class="item" href="javascript:;">PPT</a></li>
  <li class="js-type-btn " data-value="other"><a class="item" href="javascript:;">{{ '其它'|trans }}</a></li>
  <input type="hidden" name="type" value="{{ type|default('') }}">
</ul>
