{% import "macro.html.twig" as web_macro %}
<div class="panel panel-default student-dynamic">

  <div class="panel-heading">
    <h3 class="panel-title"><i class="es-icon es-icon-recentactors"></i>{{'课程奖励'|trans}}</h3>
  </div>

  <div class="panel-body">
    {% if course %}
      {{ '完成任务奖励'|trans }}{{ course.taskRewardPoint }}{{ '积分'|trans }}<br>
      {{ '完成教学计划奖励'|trans }}{{ course.rewardPoint }}{{ '积分'|trans }}
    {% endif %}
  </div>

</div>
