{% import "macro.html.twig" as web_macro %}
<div class="panel panel-default panel-reward-point">

  <div class="panel-heading">
    <h3 class="panel-title"><i class="es-icon es-icon-recentactors"></i>{{'课程奖励'|trans}}</h3>
  </div>

{% if setting('reward_point').enable|default(0) %}
  <div class="panel-body">
    <div class="media">
      <div class="media-left vertical-middle"><img src="{{asset('static-dist/app/img/integral_img.png')}}"></div>
      <div class="media-body color-gray">
        {% if course %}
          {% if course.taskRewardPoint > 0 %}
            {{ '完成单个任务奖励：'|trans }}<span class="color-primary"> {{ course.taskRewardPoint }} </span><br>
          {% endif %}
          {% if course.rewardPoint > 0 %}
            {{ '完成课程奖励：'|trans }}<span class="color-primary"> {{ course.rewardPoint }} </span>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

</div>
