<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">

      {% if notification.content.file|default(null) %}

        {% set file = notification.content.file %}
        {% if file.convertStatus == 'success' %}
          {% if file.type == 'video' %}
            您上传到云的视频文件<strong>{{ file.filename }}</strong>已完成视频格式转换！
          {% elseif file.type == 'ppt' %}
            您上传到云的PPT文件<strong>{{ file.filename }}</strong>已完成格式转换！
          {% else %}
            您上传到云的文件<strong>{{ file.filename }}</strong>已完成格式转换！
          {% endif %}
        {% else %}
          {% if file.type == 'video' %}
            您上传到云的视频文件<strong>{{ file.filename }}</strong>格式转换失败，请到课程文件管理中重新转换！
          {% elseif file.type == 'ppt' %}
            您上传到云的PPT文件<strong>{{ file.filename }}</strong>格式转换失败，请到课程文件管理中重新转换！
          {% else %}
            您上传到云的文件<strong>{{ file.filename }}</strong>格式转换失败，请到课程文件管理中重新转换！
          {% endif %}
        {% endif %}

      {% else %}
        {% set data = notification.content %}
        您上传到云视频的视频文件<strong>{{ data.filename }}</strong>已完成视频格式转换！
      {% endif %}

    </div>
    <div class="notification-footer">
      {{ notification.createdTime | date('Y-n-d H:i:s') }}
    </div>
  </div>
</li>