<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
      {% set data = notification.content %}
      您的{% if data.threadType == 'question' %}问题{% else %}话题{% endif %}
      <a href="{{ path('course_thread_show', {courseId:data.courseId, id:data.threadId}) }}#post-{{ data.postId }}"  target="_blank"><strong>{{ data.threadTitle }}</strong></a> 有了<strong>{{ data.postUserNickname }}</strong>的新回复。
    </div>
    <div class="notification-footer">
      {{ notification.createdTime | date('Y-n-d H:i:s') }}
    </div>
  </div>
</li>