{% extends 'TopxiaAdminBundle:System:operation.layout.html.twig' %}

{% block title %}课程设置 - {{ parent() }}{% endblock %}

{% set submenu = 'course_setting' %}
{% block maincontent %}
<div class="page-header"><h1>课程设置</h1></div>

{{ web_macro.flash_messages() }}

<form class="form-horizontal" method="post" novalidate>

  <fieldset>
    <div class="form-group">
      <div class="col-md-3 control-label">
        <label >给新学员发送欢迎私信</label>
      </div>
      <div class="controls col-md-8 radios">
        {{ radios('welcome_message_enabled', {1:'开启', 0:'关闭'}, courseSetting.welcome_message_enabled) }}
      <p class="help-block">开启后，新学员加入课程后，会收到教师的欢迎私信</p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3 control-label">
        <label for="welcome_message_body">欢迎私信内容</label>
      </div>
      <div class="controls col-md-8">
        <textarea id="welcome_message_body" name="welcome_message_body" class="form-control" rows="5">{{ courseSetting.welcome_message_body }}</textarea>
        <div class="help-block">
          {% verbatim %}
          <div>变量说明：</div>
          <ul>
            <li>{{nickname}} 为接收方用户昵称</li>
            <li>{{course}} 为课程名称</li>
          </ul>
          {% endverbatim %}
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3 control-label">
        <label >购买课程时填写个人资料</label>
      </div>
      <div class="controls col-md-8 radios">
        {{ radios('buy_fill_userinfo', {1:'开启', 0:'关闭'}, courseSetting.buy_fill_userinfo) }}
      <p class="help-block">开启后，学员购买课程时，需填写个人资料</p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3 control-label">
        <label >允许教师设置课程价格</label>
      </div>
      <div class="controls col-md-8 radios">
        {{ radios('teacher_modify_price', {1:'是', 0:'否'}, courseSetting.teacher_modify_price) }}
      </div>
    </div>

  </fieldset>
  <fieldset>
    <legend>直播课程</legend>

    <div class="form-group">
      <div class="col-md-3 control-label">
        <label >开启状态</label>
      </div>
      <div class="controls col-md-8 radios">
        {{ radios('live_course_enabled', {1:'开启', 0:'关闭'}, courseSetting.live_course_enabled) }}
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3 control-label">
        <label>单堂最大学员数</label>
      </div>
      <div class="controls col-md-8">
        <input type="text" id="max_student_num" name="max_student_num" class="form-control" value="{{ courseSetting.max_student_num }}">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3 control-label">
        <label>同时在线人数上线</label>
      </div>
      <div class="controls col-md-8">
        <input class="form-control" type="text" placeholder="{{ courseSetting.max_current_num }}人" disabled>
        <p class="help-block">如需扩充，请联系Edusoho客服人员</p>
      </div>
    </div>

  </fieldset>

  <div class="form-group">
    <div class="controls col-md-offset-3 col-md-8">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>

{% endblock %}