{% extends 'TopxiaAdminBundle:System:operation.layout.html.twig' %}

{% block title %}系统默认设置 - {{ parent() }}{% endblock %}

{% set submenu = 'default' %}
{% set script_controller = 'setting/default-course-picture-crop' %}

{% block maincontent %}

<meta http-equiv="pragma" content="no-cache" />
<div class="panel panel-default panel-col">
  <div class="panel-heading">
    自定义默认课程图片
  </div>

  <div class="panel-body">

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <img src="{{ file_url(pictureUrl) }}" 
          id="default-course-picture-crop" 
          data-crop-img-url="{{path('file_img_crop', {group: 'system'})}}"
          width="{{scaledSize.width}}" height="{{scaledSize.height}}" data-natural-width="{{ naturalSize.width }}" data-natural-height="{{ naturalSize.height }}" />
          <div class="help-block">提示：请选择图片裁剪区域。</div>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <a class="btn btn-fat btn-primary" 
          data-url="{{path('admin_setting_default_course_picture_crop')}}"
          id="upload-course-picture-btn" >保存</a>
          <a href="javascript:;" class="go-back btn btn-link">重新选择图片</a>
        </div>
      </div>

  </div>
</div>


{% endblock %}