{% extends 'TopxiaAdminBundle:System:operation.layout.html.twig' %}

{% block title %}系统默认设置 - {{ parent() }}{% endblock %}

{% set submenu = 'default' %}
{% set script_controller = 'setting/default-course-picture-crop' %}

{% block maincontent %}

<meta http-equiv="pragma" content="no-cache" />
<div class="panel panel-default panel-col">
  <div class="panel-heading">
    自定义默认课程图片
  </div>

  <div class="panel-body">
    <form id="default-course-picture-crop-form" method="post" action="{{ path('admin_setting_default_course_picture_crop') }}" enctype="multipart/form-data">
      {{ web_macro.flash_messages() }}

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <img src="{{ pictureUrl }}" id="default-course-picture-crop" width="{{scaledSize.width}}" height="{{scaledSize.height}}" data-natural-width="{{ naturalSize.width }}" data-natural-height="{{ naturalSize.height }}" />
          <div class="help-block">提示：请选择图片裁剪区域。</div>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <input type="hidden" name="x">
          <input type="hidden" name="y">
          <input type="hidden" name="width">
          <input type="hidden" name="height">
          <button class="btn btn-fat btn-primary" id="upload-picture-btn" type="submit">保存</button>
          <a href="javascript:;" class="go-back btn btn-link">重新选择图片</a>
        </div>
      </div>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

    </form>
  </div>
</div>


{% endblock %}