{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set nav = 'system' %}

{% block content %}
  <div class="col-md-2">
    {% block sidebar %}
      <div class="list-group">
        <a href="{{ path('admin_setting_site') }}" class="list-group-item {% if menu == 'site' %}active{% endif %}">站点设置</a>
        <a href="{{ path('admin_setting_auth') }}" class="list-group-item {% if menu == 'operation' %}active{% endif %}">全局设置</a>
        <a href="{{ url('admin_setting_ip_blacklist') }}" class="list-group-item {% if menu == 'ip_blacklist' %}active{% endif %}">IP黑名单</a>

        {% if 'upgrade' not in disabled_features %}
          <a href="{{ url('admin_upgrade') }}" class="list-group-item {% if menu == 'upgrade' %}active{% endif %}">安装与升级</a>
        {% endif %}

        <a href="{{ url('admin_logs') }}" class="list-group-item {% if menu == 'logs' %}active{% endif %}">系统日志</a>   

      </div>
    {% endblock %}
  </div>
  <div class="col-md-10">
      {% block main %}{% endblock %}
  </div>
{% endblock %}