{% extends 'TopxiaAdminBundle:System:layout.html.twig' %}

{% block title %}日志记录 - {{ parent() }}{% endblock %}

{% set menu = 'logs' %}
{% set script_controller = 'log/list' %}
{% block main %}

<div class="page-header"><h1>日志记录</h1></div>

{{ web_macro.flash_messages() }}

<form class="well well-sm form-inline" action="{{ path('admin_setting_logs') }}" 
method="get">
  <div class="form-group">
    {{ form_widget(form.startDateTime, {attr:{class:'form-control', 'placeholder':'起始时间', 'data-date-format':'yyyy-mm-dd hh:ii'}}) }}
  </div>

  <div class="form-group">
    {{ form_widget(form.endDateTime, {attr:{class:'form-control', 'placeholder':'结束时间', 'data-date-format':'yyyy-mm-dd hh:ii'}}) }}
  </div>

  <div class="form-group">
    {{ form_widget(form.level, {attr:{class:'form-control'}}) }}
  </div>

  <div class="form-group">
    {{ form_widget(form.nickname, {attr:{class:'form-control', placeholder:'用户昵称'}}) }}
  </div>

  <button class="btn btn-primary">搜索</button>

</form>

	<table class="table table-hover">
		<tr>
			<th width="10%">模块</th>
			<th width="10%">动作</th>
			<th width="55%">信息</th>
			<th width="10%">等级</th>
			<th width="15%">用户/时间</th>
		</tr>		
		{% for log in logs %}
			<tr>
				<td>{{ log.module }}</td>
				<td>{{ log.action }}</td>
				<td>{{ log.message }}</td>
				<td>{{ dict('logLevel:html')[log.level]|raw }}</td>
				<td>
					{{ admin_macro.user_link(users[log.userId]|default(null)) }}
					<br />
					<span class="text-muted text-sm">{{ log.createdTime|date("Y-m-d H:i:s") }}</span>
				</td>
			</tr>
		{% else %}
		  <tr><td colspan="5">无日志记录</tr>
		{% endfor %}
	</table>

	{{ web_macro.paginator(paginator) }}

{% endblock %}