<table class="table table-hover">
	<thead>
		<tr>
			<th>序号</th>
			<th>用户</th>
			<th>模块</th>
			<th>动作</th>
			<th>信息</th>
			<th>等级</th>
			<th>时间</th>
			<th>操作</th>
		</tr>		
	</thead>

	{% set num = 1 %}
	{% for log in logs %}

	{% if log.level == "info" %}
		<tr class="success">
	{% elseif log.level == "warning" %}
		<tr class="warning">
	{% elseif log.level == "error" %}
		<tr class="danger">
	{% endif %}
		<td>{{ num }}</td>
		<td>{{ log.userEmail }}</td>
		<td>{{ log.module }}</td>
		<td>{{ log.action }}</td>
		<td>{{ log.message }}</td>
		<td>{{ levels[log.level] }}</td>
		<td>{{ log.createdTime|date("Y-m-d H:i:s") }}</td>
		<td>
			<button type="button" class="btn btn-info">详情</button>
		</td>
	</tr>
	{% set num = num+1 %}
	{% endfor %}
</table>