{% extends 'TopxiaAdminBundle:System:layout.html.twig' %}

{% block title %}支付方式 - {{ parent() }}{% endblock %}

{% set menu = 'payment' %}

{% block main %}

<div class="page-header"><h1>支付方式</h1></div>

{{ web_macro.flash_messages() }}

<form class="form-horizontal" method="post" novalidate>
  
  <div class="form-group">
    <div class="col-lg-3 control-label">
      <label >支付功能</label>
    </div>
    <div class="controls col-lg-8 radios">
      {{ radios('enabled', {1:'开启', 0:'关闭'}, payment.enabled) }}
    </div>
  </div>

  <fieldset>
    <legend>支付宝</legend>
    <div class="form-group">
      <div class="col-lg-3 control-label">
        <label >支付宝</label>
      </div>
      <div class="controls col-lg-8 radios">
        {{ radios('alipay_enabled', {1:'开启', 0:'关闭'}, payment.alipay_enabled) }}
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-3 control-label">
        <label for="alipay_key">App Key</label>
      </div>
      <div class="controls col-lg-8">
        <input type="text" id="alipay_key" name="alipay_key" class="form-control" value="{{payment.alipay_key}}">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-3 control-label">
        <label for="alipay_key">App Secret</label>
      </div>
      <div class="controls col-lg-8">
        <input type="text" id="alipay_secret" name="alipay_secret" class="form-control" value="{{payment.alipay_secret}}">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-3 control-label"></div>
      <div class="controls col-lg-8">
        <button type="submit" class="btn btn-primary">提交</button>
      </div>
    </div>
  </fieldset>
</form>

{% endblock %}