{% extends 'TopxiaAdminBundle:System:layout.html.twig' %}

{% block title %}视频设置 - {{ parent() }}{% endblock %}

{% set menu = 'file' %}

{% block main %}

<div class="page-header"><h1>视频设置</h1></div>

{{ web_macro.flash_messages() }}

<form class="form-horizontal" method="post" novalidate>
  <div class="row control-group">
    <div class="col-lg-3 control-label">{{ form_label(form.upload_mode, '上传模式') }}</div>
    <div class="controls col-lg-8 radios">{{ form_widget(form.upload_mode) }}</div>
  </div>

  <div class="row control-group">
    <div class="col-lg-3 control-label">{{ form_label(form.cloud_access_key, '云服务器AccessKey') }}</div>
    <div class="controls col-lg-8 radios">{{ form_widget(form.cloud_access_key) }}</div>
  </div>

  <div class="row control-group">
    <div class="col-lg-3 control-label">{{ form_label(form.cloud_secret_key, '云服务器SecretKey') }}</div>
    <div class="controls col-lg-8 radios">{{ form_widget(form.cloud_secret_key) }}</div>
  </div>

  <div class="row control-group">
    <div class="col-lg-3 control-label">{{ form_label(form.cloud_bucket, '云服务器空间名') }}</div>
    <div class="controls col-lg-8 radios">{{ form_widget(form.cloud_bucket) }}</div>
  </div>

  <div class="row control-group">
    <div class="col-lg-3 control-label"></div>
    <div class="controls col-lg-8">
      {{ form_rest(form) }}
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </div>
</form>

{% endblock %}