{% extends 'activity/content-layout.html.twig' %}

{% set ppt = activity.ext|default(null) %}
{% set file = ppt.file|default(null) %}
{% set pptPlayer = ppt_player(ppt, app.request.secure) %}

{% if pptPlayer.error is empty %}
  {% do script(['pptactivity/js/show/index.js']) %}
{% endif %}

{% block body %}
  {% if not pptPlayer.error is empty %}
    <div class="iframe-parent-content pv20 ph20">
      <div class="alert alert-danger"><i class="es-icon es-icon-info"></i>{{ pptPlayer.error.message|raw }}</div>
    </div>
  {% else %}
    <div class="iframe-parent-content iframe-parent-full" id="activity-ppt-content"
         data-type="slide"
         data-finish-type="{{ activity.ext.finishType }}"
         data-finish-detail="{{ activity.ext.finishDetail }}"
         data-res-no="{{ file.globalId }}"
         data-token="{{ pptPlayer.result.token }}"
         data-user-id="{{app.user.id|default(0)}}"
         data-user-name="{{app.user.username|default('')}}"
         data-image-info="{{ pptPlayer.result.images|json_encode() }}"
         data-token-url="{{ path('activity_ppt_token', {mediaId: activity.mediaId}) }}"
         {% if setting('magic.ppt_watermark') %}data-watermark-url="{{ path('cloud_ppt_watermark') }}"{% endif %}
        {% if pptPlayer.result.animation is not defined %}data-img-type="onlyImg"{% endif %}>
    </div>
    {% if pptPlayer.result.animation is defined %}
      <button class="cd-btn cd-btn-primary ppt-player-change-btn js-change-ppt-btn" type="button">{{ 'course.plan_task.activity_ppt_animation_btn'|trans }}</button>
    {% endif %}
    <input type="hidden" class="js-cloud-url" data-url="{{ cloud_sdk_url('newPlayer') }}">
    {% do script(['libs/base.js','app/js/common.js','app/js/main.js','pptactivity/js/show/index.js'], 1000) %}
  {% endif %}

  {#<div class="iframe-parent-content" id="activity-ppt-content"#}
    {#data-finish-type="{{ activity.ext.finishType }}"#}
    {#data-finish-detail="{{ activity.ext.finishDetail }}"#}
    {#data-slides="{{ pptPlayer.result.images|default()|join(',') }}" {% if setting('magic.ppt_watermark') %} data-watermark-url="{{ path('cloud_ppt_watermark') }}"{% endif %}>#}
  {#{% if not pptPlayer.error is empty %}#}
    {#<div class="alert alert-danger mv20 mh20">#}
      {#<i class="es-icon es-icon-info"></i>{{ pptPlayer.error.message|raw }}#}
    {#</div>#}
  {#{% endif %}#}
  {#</div>#}
{% endblock %}