<input type="text" id="{{ name }}" name="{{ name }}" class="form-control {{ class|default('') }}" value="{{ value }}" {% if required %} required="required" {% endif %} {% if disabled|default(false) %} disabled="disabled" {% endif %}  autocomplete="off">
<span class="js-delete-content-btn delete-content-btn" data-target="#{{ name }}">
	<i class="cd-icon cd-icon-close"></i>
</span>