<div class="card-pack-item coupon-item useless">
  {% if cardDetail.targetType == "course" %}
    <p class="title">{{'此课程优惠券已使用'|trans}}</p>
  {% endif %}
  {% if cardDetail.targetType == "classroom" %}
    <p class="title">{{'此班级优惠券已使用'|trans}}</p>
  {% endif %}
  {% if cardDetail.targetType == "vip" %}
    <p class="title">{{'此会员优惠券已使用'|trans}}</p>
  {% endif %}
	{% if cardDetail.targetType == "all" %}
			<p class="title">{{'此抵价优惠券已使用'|trans}}</p>
	{% endif %}
  <p class="price">
    {% if cardDetail.type == "minus" %}￥{% endif %}<strong>{{ cardDetail.rate }}</strong>{% if cardDetail.type == "discount" %}{{'折'|trans}}{% endif %}
  </p>
  <p>{{'有效期截止：'|trans}}<span>{{ (cardDetail.deadline)|date('Y') }}{{'年'|trans}}{{ (cardDetail.deadline)|date('n') }}{{'月'|trans}}{{ (cardDetail.deadline)|date('d') }}{{'日'|trans}}</span></p>
  {% if cardDetail.targetType == 'fullDiscount' and cardDetail.fullDiscountPrice %}
    <p>{{'使用条件：'|trans}}<span>满{{ (cardDetail.fullDiscountPrice) }}可用</span></p>
  {% endif %}
  <div class="stamp stamp-used"></div>
</div>

