<div class="card-pack-item card-item useless">
  <h4>{{'学习卡'|trans}}</h4>
  <p class="title">{{'学习卡可以用于账户充值'|trans}}</p>
  <p class="price">
    <strong>{{ cardDetail.coin }}</strong>{{setting('coin.coin_name')|default("虚拟币"|trans)}}
  </p>
  <p>{{'有效期截止：'|trans}}<span>{{ (cardDetail.deadline)|date('Y') }}{{'年'|trans}}{{ (cardDetail.deadline)|date('n') }}{{'月'|trans}}{{ (cardDetail.deadline)|date('d') }}{{'日'|trans}}</span></p>
  <div class="stamp stamp-used"></div>
</div>
