<div class="panel-heading clearfix">
  <span class="h3 pull-left panel-title" style="margin-top: 7px">{{ 'admin.information_collection.basic_info'|trans }}</span>
  <button class="btn btn-primary pull-right hidden-xs">{{ 'admin.information_collection.update_btn'|trans }}</button>
  <button id="close-collection" class="btn btn-primary pull-right hidden-xs {% if event.status != 'open' %}hidden{% endif%}" style="margin-right: 10px" data-url="{{ path('admin_v2_information_collection_close', {id: event.id}) }}">{{ 'admin.information_collection.close_btn'|trans }}</button>
  <button id="open-collection" class="btn btn-primary pull-right hidden-xs {% if event.status == 'open' %}hidden{% endif%}" style="margin-right: 10px" data-url="{{ path('admin_v2_information_collection_open', {id: event.id}) }}">{{ 'admin.information_collection.open_btn'|trans }}</button>
</div>
<div class="panel-body">
  <table class="table table-noborder" style="margin-bottom: 0">
    <tr>
      <td width="8%">{{ 'admin.information_collection.title_th'|trans }}：</td>
      <td width="40%">{{ event.title | slice(0,40) }}{% if event.title|length >40 %}...{% endif %}</td>
      <td width="10%">{{ 'admin.information_collection.status_th'|trans }}：</td>
      <td>
        {% set statusInfo = 'admin.information_collection.status.' ~ event.status %}
        {{ statusInfo|trans|raw }}
      </td>
    </tr>
    <tr>
      <td width="8%">{{ 'admin.information_collection.location_th'|trans }}：</td>
      <td width="40%">
        {% set location = information_collection_location_info(event.id) %}
        {{ event.formTitle }}
        <br>
        <span class="text-muted text-sm">{{ location | slice(0,40) }}{% if location|length >40 %}...{% endif %}</span>
      </td>
      <td width="10%">{{ 'admin.information_collection.collected_num_th'|trans }}：</td>
      <td>{{ 'admin.information_collection.collected_num'|trans({'%collectedNum%':collectedNum[event.id].collectNum|default(0)}) }}</td>
    </tr>
    <tr>
      <td width="8%">{{ 'admin.information_collection.create_time_th'|trans }}：</td>
      <td width="40%">{{ event.createdTime|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
      <td width="8%">{{ 'admin.information_collection.creator'|trans }}：</td>
      <td width="40%">{{ creator.nickname }}</td>
    </tr>
  </table>
</div>