{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-md' %}
{% do script(['app/js/admin-v2/edu-cloud/protocol/index.js']) %}

{% block modal_content %}
  <div class="protocol-modal-content">
    <div class="protocol-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i class="cd-icon cd-icon-close"></i>
      </button>
    </div>
    <div class="protocol-title">
      {{ 'admin.app_upgrades.protocol.title'|trans }}
    </div>
    <div class="protocol-body">
        {{ protocol.trans|trans|raw }}
    </div>
    <div class="protocol-check-label">
      <label><input type="checkbox" class="js-agree-radio" name="agree"></label>
      <label>{{ 'admin.app_upgrades.protocol.agree'|trans }}</label>
    </div>
    <div class="protocol-footer">
      <button class="btn btn-primary disabled js-upgrade-btn" data-url="{{ path('admin_v2_app_package_update_protocol', {id: id}) }}">{{ 'admin.app_upgrades.protocol.btn'|trans }}</button>
    </div>
  </div>
{% endblock %}
