<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="teacher-item">
    <a class="teacher-img" href="{{ path('user_show', {id:teacher.id}) }}">
      <img class="avatar-lg" src="{{ filepath(teacher.largeAvatar, 'avatar.png') }}" alt="">
      <div class="mask">
        {{ profiles[teacher.id].about|plain_text(60) }}
      </div>
    </a>
    <div class="teacher-info">
      <div class="title">
        <a class="name" href="{{ path('user_show', {id:teacher.id}) }}">{{ teacher.nickname }}</a>
        {% if member.role == 'headTeacher' %}
          <i class="es-icon es-icon-assignmentind color-i" data-toggle="tooltip" data-placement="top" title="" data-original-title="班主任"></i>
        {% endif %}

        {% if member.role == 'assistant' %}
          <i class="es-icon es-icon-permcontactcal color-i" data-toggle="tooltip" data-placement="top" title="" data-original-title="助教"></i>
        {% endif %}

        {% if member.role == 'teacher' %}
          <i class="es-icon es-icon-accountcircle color-i" data-toggle="tooltip" data-placement="top" title="" data-original-title="教师"></i>
        {% endif %}

        {% if not app.user or (teacher.id != app.user.id) %}
          <a class="follow-btn" href="javascript:;" data-url="{{ path('user_follow', {id:teacher.id}) }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="关注" {% if isFollowed %} style="display:none;"{% endif %}><i class="es-icon es-icon-addbox"></i></a>
          <a class="unfollow-btn" href="javascript:;" data-url="{{ path('user_unfollow', {id:teacher.id}) }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="取消关注" {% if not isFollowed %} style="display:none;" {% endif %}><i class="es-icon es-icon-checkbox"></i></a>
        {% endif %}
      </div>
      <div class="position">
        {% if teacher.title %}
          {{ teacher.title }}
        {% else %}
          暂无头衔
        {% endif %}
      </div>
      <a class="btn btn-default btn-xs text-center" data-toggle="modal" data-target="#modal" data-url="{{path('message_create', {toId:teacher.id})}}">私信</a>
    </div>
  </div>
</div>