{% import 'TopxiaAdminBundle::macro.html.twig' as admin_macro %}
<tr id="money-card-batch-table-tr-{{ batch.id }}">
  <td>
    <strong>{{ batch.id }}</strong>
  </td> 
  <td>
    <strong>{{ batch.batchName }}</strong>
  </td>
  <td>
    <span class="text-sm" style="color:red">{{ batch.coin }}</span>
  </td>
  <td>
    <span class="text-sm">{{ batch.number }}</span>
  </td>
  <td>
    <span class="text-sm"  style="color:red">{{ batch.rechargedNumber }}</span>
  </td>
  <td>
    <span class="text-sm">{{ batch.deadline }}</span>
  </td>

  <td>

    <span class="text-sm">{{ batch.user.nickname }}</span>
    <br />
    <span class="text-sm">{{ batch.createdTime|date('Y-n-d H:i:s') }}</span>
  </td>
  <td>
    {% if batch.batchStatus == 'normal' %}
      <span class="text-sm">正常</span>
    {% else %}
      <span class="text-sm">作废</span>
    {% endif %}
  </td>

  <td>
    <div class="btn-group">
      <a href="{{ path('admin_money_card_batch_export_csv', {batchId:batch.id}) }}" class="btn btn-sm btn-default" target='_blank'>导出</a>
      <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu pull-right text-right" style="min-width: 60px;">
            <li><a href="javascript:;" class="btn btn-link delete" data-url="{{ path('admin_money_card_batch_delete', {id:batch.id}) }}"><span class="text-sm">删除</span></a></li>
            <li><a href="{{ path('admin_money_card_all_cards') }}?batchId={{ batch.id }}" target="_blank"  class="btn btn-link" ><span class="text-sm">查看</span></a></li>
 
            {% if batch.batchStatus == 'normal' %}
              <li><a class="btn btn-link lock-money-card-batch" href="javascript:" title="作废批次为{{ batch.batchName }}的充值卡" data-url="{{ path('admin_money_card_lock_batch', {id:batch.id }) }}"><span class="text-sm">作废本批次</span></a></li>
            {% else %}
              <li><a class="btn btn-link unlock-money-card-batch" href="javascript:;" title="启用批次为{{ batch.batchName }}的充值卡" data-url="{{ path('admin_money_card_unlock_batch', {id:batch.id }) }}"><span class="text-sm">启用本批次</span></a></li>
            {% endif %}
      </ul>
    </div>


  </td>
</tr>

