{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set nav = 'operation' %}


{% block content %}
  <div class="col-md-2">
    {% block sidebar %}

      <div class="panel panel-default">
        <div class="list-group">
          <a href="{{ url('admin_operation') }}" class="list-group-item {% if menu == 'article' %}active{% endif %}">资讯</a>
          <a href="{{ path('admin_operation_group') }}" class="list-group-item {% if menu == 'group' %}active{% endif %}">小组</a>
          <a href="{{ path('admin_operation_block') }}" class="list-group-item {% if menu == 'block' %}active{% endif %}">编辑区</a>
          <a href="{{ path('admin_operation_content', {type:'page'}) }}" class="list-group-item {% if menu == 'content' %}active{% endif %}">自定义页面</a>
         {% if is_plugin_installed('Coupon') %}
          <a href="{{ path('admin_operation_coupon') }}" class="list-group-item {% if menu == 'coupon_batch' %}active{% endif %}">优惠码</a>
         {% endif %}
          {% if is_plugin_installed('MoneyCard') %}
          <a href="{{ path('admin_money_card_homepage') }}" class="list-group-item {% if menu == 'money_card_homepage' %}active{% endif %}">学习卡</a>
         {% endif %}
        </div>
      </div>

    {% endblock %}
  </div>
  <div class="col-md-10">
      {% block main %}{% endblock %}
  </div>
{% endblock %}
