{% import 'TopxiaAdminBundle::macro.html.twig' as admin_macro %}
<tr id="money-card-table-tr-{{ moneyCard.id }}">
  <td>
    <strong>{{ moneyCard.cardId }}</strong>
  </td>

  <td>
    <span class="text-sm"><a href="javascript:;" class="btn btn-link" data-toggle="modal" data-target="#modal" data-url="{{ path('admin_money_card_get_password', {id:moneyCard.id}) }}">查看密码</a></span>
  </td>

  <td>
    <span class="text-sm">{{ moneyCard.deadline }}</span>
  </td>

  <td>
    <span class="text-sm">{{ moneyCard.batchId }}({{ moneyCard.batch.batchName }})</span>
  </td>

  <td>
    {% if moneyCard.cardStatus == 'normal' %}
      <span class="text-sm">正常</span>
    {% elseif moneyCard.cardStatus == 'invalid' %}
      <span class="text-sm">作废</span>
    {% endif %}
  </td>

  <td>
    {% if moneyCard.rechargeTime == 0 %}
      <span class="text-sm">未充值</span>
    {% else %}
      <span class="text-sm">已充值({{ moneyCard.rechargeUser.nickname }})</span>
      <br />
      <span class="text-sm">{{ moneyCard.rechargeTime|date('Y-n-d H:i:s') }}</span>
    {% endif %}
  </td>

  <td>
     <div class="btn-group">
      <a href="javascript:;" class="btn btn-default  btn-sm delete " data-url="{{ path('admin_money_card_delete', {id:moneyCard.id}) }}">删除</a>
      <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </a>

       <ul class="dropdown-menu pull-right text-right" style="min-width: 60px;" > 
         <li>
          {% if moneyCard.cardStatus == 'normal' %}
            <a class="btn btn-link lock-money-card" href="javascript:" title="作废充值卡{{ moneyCard.cardId }}" data-url="{{ path('admin_money_card_lock', {id:moneyCard.id }) }}"><span class="text-sm">作废</span></a>
          {% elseif moneyCard.cardStatus == 'invalid' and moneyCard.batch.batchStatus == 'normal' %}
              {% if moneyCard.rechargeTime == 0 %}
                <a class="btn btn-link unlock-money-card" href="javascript:" title="启用充值卡{{ moneyCard.cardId }}" data-url="{{ path('admin_money_card_unlock', {id:moneyCard.id }) }}">
                  <span class="text-sm">                  
                      启用
                  </span>
                </a>
              {% else %}
                <a class="btn" href="javascript:" title="已充值的卡不能再次启用">
                  <span class="text-sm text-muted">                  
                      启用
                  </span>
                </a>              
              {% endif %}  
          {% elseif moneyCard.cardStatus == 'invalid' and moneyCard.batch.batchStatus == 'invalid' %} 
                <a class="btn" href="javascript:" title="批次已被作废的情况下，充值卡不能被启用">
                  <span class="text-sm text-muted">                  
                      启用
                  </span>
                </a>                     
          {% endif %}
         </li>
       </ul>
   </div>
  </td>
</tr>

