<div class="coupon-pack-item coupon-item useless">
  {% if cardDetail.targetType == "course" %}
    <p class="title range">{{'coupon.used_status.course'|trans}}</p>
  {% endif %}
  {% if cardDetail.targetType == "classroom" %}
    <p class="title range">{{'coupon.used_status.classroom'|trans}}</p>
  {% endif %}
  {% if cardDetail.targetType == "vip" %}
    <p class="title range">{{'coupon.used_status.vip'|trans}}</p>
  {% endif %}
	{% if cardDetail.targetType == "all" %}
			<p class="title range">{{'coupon.used_status.all'|trans}}</p>
	{% endif %}
  <p class="price">
    {% if cardDetail.type == "minus" %}￥{% endif %}<strong class="price__number">{{ cardDetail.rate }}</strong>{% if cardDetail.type == "discount" %}{{'coupon.discount'|trans}}{% endif %}
  </p>
  <p class="tip">{{ 'coupon.buy_something_btn'|trans }}</p>
  <p class="cd-mt16 date">{{'coupon.expired_on'|trans}}
    <span>{{ cardDetail.deadline|date('site.date_coupon'|trans) }}</span>
  </p>
  {% if cardDetail.targetType == 'fullDiscount' and cardDetail.fullDiscountPrice %}
    <p>{{'coupon.Requirements'|trans({'%fullDiscountPrice%': cardDetail.fullDiscountPrice|default('coupon.Accessible'|trans)})}}<span></span></p>
  {% endif %}
  <div class="stamp stamp-used {% if app.request.locale == 'en' %}{{ 'en-backgroundimg' }}{% endif %}"></div>
</div>

