{% extends 'TopxiaAdminBundle:User:layout.html.twig' %}

{% set menu = 'fortune' %}

{% block main %}

<div class="page-header"><h1>{{'积分流水账'|trans}}</h1></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>{{'时间'|trans}}</th>
      <th>{{'积分类型'|trans}}</th>
      <th>{{'变化值'|trans}}</th>
      <th>{{'备注'|trans}}'|trans}}'|trans}}</th>
      <th>{{'总值'|trans}}'|trans}}</th>
      <th>{{'用户'|trans}}</th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    {% set u = userList[log.userId] %}
    <tr>
      <td> {{ log.createdTime|fulltime }} </td>
      <td> {% if log.type == 'point' %}{{'学分'|trans}}{% elseif log.type == 'coin' %}{{'金币'|trans}}{% endif %}</td>
      <td> {% if log.number > 0 %}+{% endif %} {{ log.number }}</td>
      <td> {{ log.note }} </td>
      <td> {% if log.type == 'point' %} {{ u.point }} {% elseif log.type == 'coin' %} {{ u.coin }} {% endif %} </td>
      <td> ID_{{ log.userId }}: <a href="{{ path('admin_user', {nickname:u.nickname})  }}"> {{ u.nickname }} </a> </td>
    </tr>

    {% endfor %}

  </tbody>
</table>

{% if paginator.lastPage > 1 %} {{ pg.paginator(paginator) }} {% endif %}

{% endblock %}