{% extends 'TopxiaAdminBundle:User:layout.html.twig' %}


{% set menu = 'invitation' %}

{% block main %}

<div class="page-header"><h1>邀请记录</h1></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>邀请人</th>
      <th>被邀请人</th>
      <th>时间</th>
    </tr>
  </thead>
  <tbody>
  {% for invitation in invitations %}
    {% set inviter = userList[invitation.inviterId] %}
    {% set invitee = userList[invitation.inviteeId] %}
    <tr>
      <td> <a href="{{ path('user_show', {user:inviter.uri|default(inviter.id)}) }}">{{inviter.nickname }}</a> </td>
      <td> <a href="{{ path('user_show', {user:invitee.uri|default(invitee.id)}) }}">{{invitee.nickname }}</a> </td>
      <td> {{ invitation.createdTime|fulltime }}</td>

    </tr>
  {% endfor %}
  </tbody>
</table>

{% if paginator.lastPage > 1 %} {{ pg.paginator(paginator) }} {% endif %}

{% endblock %}