{% extends 'TopxiaAdminBundle::layout.html.twig' %}
{% import "TopxiaWebBundle::macro_old.html.twig" as m %}
{% import "TopxiaAdminBundle::paginator.html.twig" as pg %}

{% set panel = 'user' %}

{% block content %}

<div class="page-header"><h1>用户 <strong>{{user.nickname}}</strong> 的课时浏览记录</h1></div>

<table class="table table-striped">
  <thead>
    <tr>
        <th>#</th>
        <th>课时</th>
        <th>所属课程</th>
        <th>浏览时间</th>
    </tr>
  </thead>
  <tbody>
      {% for v in vieweds %}
      {% set l = lessonList[v.lessonId] %}
      {% set c = courseList[v.courseId] %}
      <tr>
        <td><span class="label">L{{ l.idx }}</span></td>
        <td ><a href="{{ path('course_lesson_show', {course:c.uri|default(c.id), lesson:l.uri|default(l.id)}) }}">{{ l.title }}</a></td>
        <td><a href="{{ path('course_show', {course:c.uri|default(c.id)}) }}">{{ c.title }}</a></td>
        <td>{{ v.createdTime|smart_time }}</td>
      </tr>
      {% endfor %}

  </tbody>
</table>

{% if paginator.lastPage > 1 %} {{ pg.paginator(paginator) }} {% endif %}

{% endblock %}