{% extends 'TopxiaAdminBundle::layout.html.twig' %}
{% import "TopxiaWebBundle::macro_old.html.twig" as m %}
{% import "TopxiaAdminBundle::paginator.html.twig" as pg %}

{% set panel = 'user' %}

{% block content %}

<div class="page-header"><h1>用户日志</h1></div>

<div class="well well-small clearfix">
  用户： {{ m.user_link(user) }}

  {% if user.verified %}
    <span class="done-state">(已验证)</span>
  {% else %}
    <a href="{{ path('admin_user_emailverify', {uid:user.id}) }}" class="btn pull-right" target="_blank">重发验证邮件</a>
  {% endif %}

</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>时间</th>
      <th>动作</th>
      <th>目标</th>
      <th>备注</th>
      <th>IP</th>
    </tr>
  </thead>
  <tbody>
  {% for log in logs %}
  <tr>
    <td>{{log.createdTime|fulltime}}</td>
    <td>{{ log.action }}</td>
    <td>{% if log.targetId  %} {{ log.targetKind }}-{{log.targetId}} {% else %} - {% endif %}</td>
    <td>{{log.note}}</td>
    <td>{% if log.ip %}{{log.ip}}{% else %} - {% endif %}</td>
   </tr>
   {% endfor %}
   </tbody>
</table>

{% if paginator.lastPage > 1 %} {{ pg.paginator(paginator) }} {% endif %}

{% endblock %}