{% extends 'TopxiaAdminBundle::layout.html.twig' %}
{% import "TopxiaWebBundle::macro_old.html.twig" as m %}
{% import "TopxiaAdminBundle::paginator.html.twig" as pg %}

{% set panel = 'user' %}

{% block content %}


<div class="page-header"><h1>学分记录</h1></div>

<div class="alert clearfix">
  用户： {{ m.user_link(user) }}

  {% if user.verified %}
    <span class="done-state">(已验证)</span>
  {% else %}
    <a href="{{ path('admin_user_emailverify', {uid:user.id}) }}" class="btn pull-right" target="_blank">重发验证邮件</a>

    <span class="mrs">级别：{{ m.user_level(app.user) }} </span>
  总学分：{{ app.user.point }}



  {% endif %}

</div>

<div class="fr">
  </div>

<div class="mod">

  <table class="table table-striped" id="teaching-datagrid">
    <thead>
      <tr>
        <th>时间</th>
        <th>名称</th>
        <th>学分</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
      <tr>
        <td>{{ log.createdTime|fulltime }}</td>
        <td>{{ log.note }}</td>
        <td>{% if log.number > 0 %}+{% endif %}{{ log.number }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  {% if paginator and paginator.lastPage > 1 %} {{ pg.paginator(paginator) }} {% endif %}

  <div class="mvl gray">备注：从2012年4月27日起，系统会记录学分的得失明细。</div>

</div>
{% endblock %}