{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}编辑用户所属组织{% endblock %}
{% block body %}

<form id="user-edit-form" class="form-horizontal" method="post" action="{{ url('admin_user_org_update', {id:user.id}) }}">
  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="orgCode">组织机构</label>
    </div>
    <div class="col-md-7 controls">
       {% set org = data('Org',{orgCode:org.orgCode|default(app.user.orgCode)})%}
        <input id="modalOrgSelectTree" 
          value="{{ org.name|default("--选择组织机构--"|trans) }}" autocomplete="off"
          class="form-control"
          data-url ="{{ path('org_tree') }}" 
          data-code ="{{ org.orgCode }}"
        />
    </div>
  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>
{% endblock %}

{% block footer %}
  <button id="edit-user-btn" data-submiting-text="正在提交" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#user-edit-form">保存</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
  <script>app.load('user/update-org-modal')</script>
{% endblock %}