<span class="right-menu color-gray {% if not member %} mouse-leave {% endif %}">
  {% if task.watchLimitRemaining is defined %}
    <span class="hidden-xs mr20">  {{'course.task.learning.remaining.watch_time'|trans}}：{{ task.watchLimitRemaining > 0 ? task.watchLimitRemaining|duration_text : 0 }} </span>
  {% endif %}

  {% set meta = activity_meta(task.activity.mediaType) %}
  {% if task.type == 'live' %}
    {% set now = date().timestamp %}
    {% set isLiveFinished = is_live_finished(task.activity.id, 'course') %}

    {% if task.activity.ext.replayStatus|default('') != constant('Biz\\Course\\Service\\LiveReplayService::REPLAY_UNGENERATE_STATUS') %}
      {{ 'course.block_grid.live_back'|trans }}
    {% elseif now < task.activity.startTime %}
      {{ task.activity.startTime|date('m-d H:i') }}
    {% elseif task.activity.startTime < now and not isLiveFinished %}
      {{ 'course.block_grid.onlive'|trans }}
    {% elseif isLiveFinished %}
      {{ 'course.block_grid.live_finish'|trans }}
    {% endif %}
  {% else %}
    {{ task.activity.length|default(0)|activity_length_format(task.activity.mediaType) }}
  {% endif %}
  <i class="{{ meta.icon }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ meta.name }}{{ setting('course.task_name')|default('admin.setting_course.task'|trans) }}" data-container="body"></i>
</span>
