<!-- è§ app/Resources/static-src/app/js/courseset/show/index.js -->

<div class="js-infinite-item-template hidden">
  <li class="task-item bg-gray-lighter js-task-chapter infinite-item" 
      display-if="{isChapter}"><i class="es-icon es-icon-menu left-menu"></i>
    <a href="javascript:" class="title gray-dark">{getChapterName}</a>
    <i class="right-menu es-icon es-icon-remove js-remove-icon"></i>
  </li>

  <li class="task-item color-gray bg-gray-lighter infinite-item"
    display-if="{isUnit}">
    <span class="title">{getUnitName}</span>
  </li>

  <li class="task-item task-content mouse-control infinite-item"
      display-if="{isTask}">
    <i display-if="{isTaskLocked}" class="{taskClass}" data-toggle="tooltip" data-trigger="hover" 
      data-placement="top" title="{{ 'course.task.lock_tips'|trans }}">
    </i>

    <i hide-if="{isTaskLocked}" class="{taskClass}">
    </i>

    {% include 'course/task-list/parts/task-link-template.html.twig' %}

  </li>

</div>


<div class="hidden hiddenCourseInfo">
  {
    "id": "{{course.id}}",
    "isDefault": "{{course.isDefault}}",
    "learnMode": "{{course.learnMode}}",
    "isMember": "{{member.id|default('')}}",
    "status": "{{course.status}}"
  }
</div>

<div class="hidden hiddenI18n">
  {
    "i18nChapterName": "{{course_chapter_alias('chapter')|trans}}",
    "i18nUnitName": "{{course_chapter_alias('part')|trans}}"
  }
</div>

<div class="hidden hiddenData">
  [
    {% for item in courseItems if not (item.itemType == 'task' and item.isOptional) %}
      {% if not loop.first %}
        ,
      {% endif %}
      
      {
        "itemType": "{{item.itemType}}",
        "number": "{{item.number}}",
        "title": "{{item.title}}",
        "result": "{{item.result|default('')}}",
        "resultStatus": "{{item.result.status|default('')}}",
        "lock": "{{item.lock|default('')}}",
        "status": "{{item.status}}",
        "taskId": "{{item.id}}",
        "isOptional": "{{item.isOptional|default('')}}",
        "type": "{{item.type|default('')}}",
        "isTaskFree": "{{item.isFree|default('')}}",
        "watchLimitRemaining": "{{item.watchLimitRemaining|default('')}}",
        "replayStatus": "{{item.activity.ext.replayStatus|default('')}}",
        "activityStartTimeStr": "{{item.activity.startTime|default(0)|date('m-d H:i')}}",
        "activityStartTime": "{{item.activity.startTime|default(0)}}",
        "activityEndTime": "{{item.activity.endTime|default(0)}}",
        "activityLength": "{{item.activity.length|default(0)|activity_length_format(item.activity.mediaType|default('video'))}}",
        "fileStorage": "{{item.activity.ext.file.storage|default('')}}",
        "isTaskTryLookable": "{{item.tryLookable|default('')}}"
      }
    {% endfor %}
  ]
</div>

<div class="hidden hiddenActivityMetas">
  {
    {% set allMetas = activity_meta() %}
    {% for key, item in allMetas %}
      {% if not loop.first %}
        ,
      {% endif %}
      
      "{{key}}": {
        "icon": "{{item.icon}}",
        "name": "{{item.name}}"
      }
    {% endfor %}
  }
</div>

<div class="hidden currentTimeStamp">{{ date().timestamp }}</div>