{# 如果关闭了购买或者加入或者过期 #}
{% set isOvertime = (course.buyExpiryTime and course.buyExpiryTime < 'now'|date('U')) or (course.expiryEndDate and course.expiryEndDate < 'now'|date('U')) %}

<tmp hide-if="{isItemDisplayedAsUnpublished}">
  {% if member %}
    <a hide-if="{isTaskLocked}" class="title" href="{{ path('course_task_show',{courseId:course.id, id: '{taskId}'}) }}">
      {% include 'course/task-list/parts/list-li-title-template.html.twig' %}
    </a>

    <span display-if="{isTaskLocked}" class="title">
      {% include 'course/task-list/parts/list-li-title-template.html.twig' %}
    </span>
  {% elseif not isOvertime %}{# 不是课程学员，并且课程不过期，此处即使不是学员，也可以显示预览按钮，原因是控制器会报错，然后弹出登陆框提醒客户登陆 #}
    <a display-if="{isTaskShowModal}"  class="title" href="#modal" data-toggle="modal"
        data-url="{{ path('course_task_preview',{courseId:course.id, id: '{taskId}'}) }}"
        style="margin-top:-6px">{% include 'course/task-list/parts/list-li-title-template.html.twig' %}</a>
    {% if app.user %}
      <a hide-if="{isTaskShowModal}" class="title {% if course.parentId|default(0) == 0 %}js-lesson-item-notify{% endif %}" href="javascript:;" data-notify-message="{{ 'course.task.notify_message.join_and_buy'|trans }}"
         style="margin-top:-6px">{% include 'course/task-list/parts/list-li-title-template.html.twig' %}</a>
    {% else %}
      <a hide-if="{isTaskShowModal}"  class="title" href="#modal" data-toggle="modal"
         data-url="{{ path('login_ajax') }}"
         style="margin-top:-6px">{% include 'course/task-list/parts/list-li-title-template.html.twig' %}</a>
    {% endif %}

  {% else %}{# 过期了,不管登陆与否，应该提示'该课程已限制加入，请联系客服' #}
    <a class="title {% if course.parentId|default(0) == 0 %}js-lesson-item-notify{% endif %}" href="javascript:;" data-notify-message="{{ 'course.task.notify_message.join_limit'|trans }}"
       style="margin-top:-6px">{% include 'course/task-list/parts/list-li-title-template.html.twig' %}</a>
  {% endif %}

  {% include 'course/task-list/parts/task-length-template.html.twig' %}
  <span class="right-menu mouse-enter">
    {% if not member and not isOvertime and courseSet.status | default('published') == 'published' %}
      <tmp display-if="{isTaskFree}">
        <a class="btn btn-primary" href="#modal" data-toggle="modal"
            data-url="{{ path('course_task_preview',{courseId:course.id, id: '{taskId}'}) }}"
            style="margin-top:-6px">{{ 'course.catalogue.task.preview_btn'|trans }}</a>
      </tmp>
      <tmp display-if="{isTaskTryLookable}">
        <a class="btn btn-warning" href="#modal" data-toggle="modal"
            data-url="{{ path('course_task_preview',{courseId:course.id, id: '{taskId}'}) }}"
            style="margin-top:-6px">{{ 'course.catalogue.task.try_look_btn'|trans }}</a>
      </tmp>
    {% endif %}
  </span>
</tmp>

<tmp display-if="{isItemDisplayedAsUnpublished}">
  <span class="title">
    {% include 'course/task-list/parts/list-li-title-template.html.twig' %}
  </span>
  <span class="right-menu color-gray">
    {{ 'course.catalogue.task_status.looking_forward'|trans }}
  </span>
</tmp>