<label class="image-upload-label">
  <input type="file" name="file" class="js-upload-image hidden" accept="image/bmp,image/jpeg,image/png"
  data-toggle="local-upload"
  data-token="{{ upload_token('default', 'image') }}" 
  data-file-upload="{{path('file_upload')}}" 
  data-crop="{{ path('file_img_crop') }}" 
  data-save-url="{{ path(saveUrl) }}"
  data-targe-img="{{ targetImg }}"
  data-show-type="image" 
  data-crop-width="270"
  data-crop-height="270" />
</label>