
{% do script(['libs/es-ckeditor/ckeditor.js']) %}

<form action= class="upload-image-form" method="POST" enctype="multipart/form-data" >
  <label class="image-upload-label">
    <input type="file" name="file" class="js-upload-image" accept="image/bmp,image/jpeg,image/png"
    data-toggle="local-upload"
    data-token="{{ upload_token('default', 'image') }}" 
    data-file-upload="{{path('file_upload')}}" 
    data-crop="{{ path('file_img_crop') }}" 
    data-crop-modal="{{ path(cropModalUrl)}}" 
    data-save-url="{{ path(saveUrl) }}"
    data-show-type="image" 
    data-crop-width="270"
    data-crop-height="270" />
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}"  />
  </label>
</form>