{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<html>
	<head>
		{% include 'TopxiaWebBundle:Default:stylesheet.html.twig' %}
		{% if setting("developer.balloon_player")|default(0) %}
		    <link rel="stylesheet" media="screen" href="{{asset('assets/libs/balloon-video-player/1.0.0/src/skin/video-js-debug.css') }}" rel="stylesheet" type="text/css">
		 {% endif %}
	</head>
	<body>
		<div class="lesson-dashboard ">
			<div id="lesson-video-content" 
			data-course-id="{{courseId}}" 
			data-user-id="{{app.user.id}}" 
			data-media-id="{{file.id}}" 
			data-file-type="{{file.type}}" 
			data-lesson-id="{{lessonId}}" 
			data-url="{{url}}"
			data-player="{{player}}"
			{% if file.type == 'video' %}
				{% if file.storage == 'local' %}
				class="lesson-content local-video-player "
				{% elseif setting("developer.balloon_player")|default(0) %}
				class="lesson-content ballon-video-player"
				{% else  %}
				class="lesson-content "
				{% endif %}
			{% elseif file.type == 'audio' %}
				class="lesson-content lesson-content-audio"
			{% endif %}
			></div>
		</div>

		{% set script_controller = 'player/show' %}

		{% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaweb/js/app.js')} %}
	</body>
</html>