{% extends 'admin/layout.html.twig' %}

{#
    {% set script_controller = 'trade/index' %}
#}

{% set menu = 'admin_' ~ targetType ~ '_order' %}

{% set script_controller = 'manage/list' %}

{% block main %}

  <form id="user-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
    <div class="mbm">
      <div class="form-group">
        <label class="ptm">{{ 'order.createdTime'|trans }}:</label>
        <input class="form-control" type="text" id="startDate" name="startDateTime" value="{{ request.get('startDateTime') }}"
          placeholder="{{ 'form.placeholder.start_date'|trans }}">
        -
        <input class="form-control" type="text" id="endDate" name="endDateTime" value="{{ request.get('endDateTime') }}"
          placeholder="{{ 'form.placeholder.end_date'|trans }}">
      </div>
    </div>
    <div class="mbm">
      <div class="form-group">
        <label class="ptm">{{ 'admin.order.screen_condition'|trans }}</label>
        <select class="form-control" name="status">
          {{ select_options(dict('orderStatus'), request.get('status'), 'order.status'|trans) }}
        </select>

        <select class="form-control" name="payment">
          {{ select_options(dict('payment'), request.get('payment'), 'order.payment_pattern'|trans) }}
        </select>
      </div>
      <div class="form-group" style="display:none;">
        <input class="form-control" type="text" name="paidTimeRange" , placeholder="{{ 'admin.order.paid_time_range.input_placeholder'|trans }}">
      </div>


      <div class="form-group">
        <label class="ptm">{{ 'admin.order.keyword'|trans }}</label>
        <select class="form-control" name="keywordType">
          {% if targetType == 'vip' %}
            {% set options = {sn: 'order.id'|trans, buyer:'admin.order.buyer'|trans, title: dict_text('targetName', targetType) ~ 'admin.order.target_name'|trans} %}
          {% elseif targetType == 'course' %}
            {% set options = {
            sn: 'order.id'|trans,
            buyer:'admin.order.buyer'|trans,
            courseSetTitle:'course.name',
            courseSetId:' course.id',
            title: dict_text('targetName', targetType) ~ 'admin.order.target_name'|trans,
            mobile:'admin.order.buyer_mobile'|trans,
            email:'admin.order.buyer_email'|trans} %}
          {% else %}
            {% set options = {sn: 'order.id'|trans, buyer:'admin.order.buyer'|trans, targetId: dict_text('targetName', targetType) ~ 'admin.order.target_id'|trans, title: dict_text('targetName', targetType) ~ 'target_name'|trans, mobile:'admin.order.buyer_mobile'|trans, email:'admin.order.buyer_email'|trans} %}
          {% endif %}
          {{ select_options(options, request.get('keywordType')) }}
        </select>

        <input class="form-control" type="text" name="keyword" value="{{ request.get('keyword') }}" placeholder="{{ 'form.placeholder.keyword'|trans }}">
      </div>

      <button class="btn btn-primary">{{ 'form.btn.search'|trans }}</button>
      <a class="btn btn-primary btn-export-csv"
        href="{{ path('admin_order_manage_export_csv',
        {targetType:targetType,
          startTime:request.get('startDateTime'),
          endTime:request.get('endDateTime'),
          status:request.get('status'),
          payment:request.get('payment'),
          keywordType:request.get('keywordType'),
          keyword:request.get('keyword')
        }) }}"
        data-export-count="{{ paginator.getItemCount() }}"
        data-export-count-format="{{ paginator.getItemCount()|number_to_human }}"
        data-export-allow-count="{{ setting('magic.export_allow_count') }}"
        data-export-allow-count-format="{{ setting('magic.export_allow_count')|number_to_human }}"
      >{{ 'form.btn.export_result'|trans }}</a>
    </div>
  </form>

  <table class="table table-striped table-hover" id="order-table">
    {% include 'order/order-table.html.twig' with {mode:'admin'} %}
  </table>
  <div class="paginator">
    {{ admin_macro.paginator(paginator) }}
  </div>

  <div class="alert alert-info">
    {{ 'admin.order.tips'|trans }}
  </div>
{% endblock %}
