{% extends 'TopxiaWebBundle:MyGroup:layout.html.twig' %}
{% set script_controller = 'mygroup/group' %}
{% block title %}{{groupinfo.title}}小组 - {{ parent() }}{% endblock %}
{% block content %}

 {{ web_macro.flash_messages() }}
<div class="jumbotron" >
    <div class="row"><h2>
 {% if groupinfo.logo%}
            <img src="{{file_path(groupinfo.logo)}}" alt="" > 
{% else %}
            <img src="{{asset('assets/img/default/group.png')}}" alt="" > 
{% endif %}
{{groupinfo.title}}<span class="group-header-tip">({{groupinfo.memberNum}}个成员)</span>
        </h2>

    </div> <br><p class="group-header-btn"><button class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">
            小组介绍
        </button>


        {% if is_groupmember==0%}
        <a class="btn btn-primary btn-default" role="button" href="{{path('groupjoin',{id:groupinfo.id,title:groupinfo.title})}}">加入小组</a>
        {% elseif is_groupmember==1%}
        <a class="btn btn-primary btn-default" role="button" href="{{path('groupexit',{id:groupinfo.id,title:groupinfo.title})}}">退出小组</a>
        {% else %}
         <a class="btn btn-primary btn-default" role="button" href="{{path('setgrouplogo',{id:groupinfo.id})}}">logo设置</a>
         <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#groupinfo_edit">编辑小组 </button>
        {% endif %}
    </p>
    {% if is_groupmember==2 %}

     <div class="modal fade" id="groupinfo_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">编辑小组</h4>
                </div>
                <div class="modal-body">
                   
        <form id="user-group-form" class="form-horizontal" method="post" action="{{path('groupinfo_edit',{id:groupinfo.id})}}">

  
          <div class="form-group">
            <label class="col-md-2 control-label" for="group_grouptitle">小组名称</label>
            <div class="col-md-7 controls">
              <input type="text" id="group_grouptitle" name="group[grouptitle]" class="form-control"
          value="{{groupinfo.title}}" >
              <div class="help-block" style="display:none;"></div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" for="group_about">小组介绍</label>
            <div class="col-md-7 controls">
              <textarea name="group[about]" rows="10" id="group_about" class="form-control">{{groupinfo.about}}</textarea>
            </div>
          </div>


    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">           


        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="group-save-btn" data-submiting-text="正在创建" type="submit" class="btn btn-primary">修改</button>
                </div></form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    {% endif %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">小组介绍</h4>
                </div>
                <div class="modal-body">
                    {% if groupinfo.about%}
                      {{groupinfo.about|raw}}
                    {% else %}
                    无
                    {% endif %}

                    <br>  <br>
                   创建时间：{{groupinfo.createdTime|date('Y-m-d')}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>



</div>
{% block group %}
<div class="es-row-wrap container-gap userpage-body">
  <ul class="nav nav-pills userpage-nav clearfix">
             <li class="active"><a href="{{path('groupindex',{id:groupinfo.id})}}">小组首页</a></li>
        <li><a href="#">讨论区</a></li>
        <li><a href="{{path('groupmember',{id:groupinfo.id})}}">小组成员</a></li>
  </ul>

  <div class="row">
  <div class="col-md-12">
                       
<div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
        
            <div class="row">

                <div class="page-header"><span class="glyphicon glyphicon-leaf"></span> 最近话题</div>

         
            <br>
        </div>



    </div>
    <div class="col-xs-6 col-sm-3">
      
            <div class="row">

                <div class="page-header">最近加入</div> 
                <div class="row-fluid ">
                    {% if groupmember_recentlyinfo %}
                    {% for member in groupmember_recentlyinfo %}
                     <div class="col-xs-2">  <a href="" title="{{member.nickname}}"  >
                                     {% if member.largeAvatar %}
                                    <img src="{{file_path(member.largeAvatar, 'avatar-large.png') }}" alt="{{member.nickname}}" >
                                    {%else%}
                                    <img src="{{asset('assets/img/default/avatar-large.png')}}" alt="{{member.nickname}}" >
                                    {%endif%}
                                </a> <p class="mvs"><a href="" title="{{member.nickname}}">{{member.nickname}}</a></p></div>
                      
                                {%endfor%}
                    {%else%}
                    还没有小组成员！

                    {%endif%}
              
                      
                </div><br>
            </div>

    </div>
</div>
                    </div>
</div>

</div>

{% endblock %}

{% endblock %}
