<div class="nav-btn-tab">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="{% if nav == 'introduction' %}active{% endif %}"><a  href="{{ path('classroom_introductions', {id:classroom.id}) }}">{{'classroom.description'|trans}}</a></li>
    {% set classroomSetting = setting('classroom') %}
    {% if is_plugin_installed('ClassroomPlan') %}
      {% set classroomPlan = data('GetClassroomPlanByClassroomId',{classroomId:classroom.id})|default(null) %}
      {% if classroomPlan|default(null) and classroomPlan.status == 'published' and app.user %}
        {% set planMember = data('UserClassroomPlanTaskNumInfo',{classroomId:classroom.id, userId:app.user.id})|default(null) %}
      {% endif %}
    {% endif %}
    {% if not planMember|default(null) %}
      <li role="presentation" class="{% if nav == 'course' %}active{% endif %}"><a href="{{ path('classroom_courses', {classroomId:classroom.id}) }}">{{'course'|trans}} <small >({{classroom.courseNum}})</small></a></li>
    {% endif %}

    {% if is_plugin_installed('ClassroomPlan') %}
      {{ render(controller('ClassroomPlanBundle:ClassroomPlan:planNav',{classroomId:classroom.id, nav:nav})) }}
    {% endif %}
  {% if  classroom.showable or ( not classroom.showable and member) %}
    {% if classroomSetting.show_review|default(1) != 0 %}
      <li role="presentation" class="{% if nav == 'review' %}active{% endif %}"><a href="{{ path('classroom_reviews', {id:classroom.id}) }}">{{'classroom.reviews'|trans}} <small >({{classroom.ratingNum }})</small></a></li>
    {% endif %}
    {% if classroomSetting.show_thread|default(1) != 0 %}
      <li role="presentation" class="{% if nav == 'thread' %}active{% endif %}"><a href="{{ path('classroom_threads', {classroomId:classroom.id}) }}">{{'thread'|trans}} <small >({{classroom.threadNum}})</small></a></li>
    {% endif %}
    {% if classroomSetting.show_note|default(1) != 0 %}
      <li role="presentation" class="{% if nav == 'note' %}active{% endif %}"><a  href="{{ path('classroom_course_notes_list', {classroomId:classroom.id}) }}">{{'classroom.note'|trans}} <small >({{ classroom.noteNum }})</small></a></li>
    {% endif %}
  {% endif %}

    <li role="presentation" class="{% if nav == 'teachers' %}active{% endif %}"><a href="{{ path('classroom_teachers', {classroomId:classroom.id}) }}">{{'classroom.teachers'|trans}}</a></li>

  </ul>
  
  {% if canManageClassroom %}
  <div class="btnbar hidden-xs">
    <a href="#modal" data-toggle="modal" data-url="{{ path('announcement_add', {targetType:'classroom', targetId:classroom.id}) }}" class="btn btn-link">
      <i class="es-icon es-icon-anonymous-iconfont"></i>{{'announcement'|trans}}
    </a>
  </div>
  {% endif %}
</div>