{% extends 'bootstrap-modal-layout.html.twig' %}
{% do script(['app/js/classroom/member-access/index.js'])%}

{% block title %}{{ 'course.member.tips.title'|trans }}{% endblock %}
{% block body %}
  <div class="alert">
    {% if code == 'vip.not_member' %}
      {{ code|trans({'%vipLevelName%':vipRightLevel.name, '%path%':path('vip_buy', {level: vipRightLevel.id})})|raw }}
    {% elseif code == 'vip.member_expired' %}
      {{ code|trans({'%path%':path('vip_renew')})|raw }}
    {% elseif code == 'vip.level_not_exist' %}
      {{ code|trans }}
    {% elseif code == 'vip.level_low' %}
      {{ code|trans({'%vipLevelName%':vipLevel.name, '%href%':path('vip')})|raw }}
    {% endif %}
  </div>
{% endblock %}

{% block footer %}
  <a id="member-access" href="#modal" data-toggle="modal" data-url="{{ path('course_exit_modal', {action:path('classroom_exit', {id:classroomId})}) }}" class="btn btn-primary">
    {% if code == 'vip.level_not_exist' %}
      {{'course.member.classroom_member.classroom_exit_btn'|trans }}
    {% else %}
      {{'course.member.classroom_member.exit_btn'|trans }}
    {% endif %}
  </a>
{% endblock %}
