{% extends 'bootstrap-modal-layout.html.twig' %}
{% do script(['app/js/classroom/member-access/index.js'])%}

{% block title %}{{ 'course.member.tips.title'|trans }}{% endblock %}
{% block body %}
  <div class="alert">
    {% if code == 'vip.not_member' %}
      {{ code|trans({'%vipLevelName%':vipRightLevel.name,'%vipName%':vipRightLevel.name, '%type%': '班级'})|raw }}
    {% elseif code == 'vip.member_expired' %}
      {{ code|trans({'%type%': '班级', '%typeName%': '班级'})|raw }}
    {% elseif code == 'vip.level_not_exist' %}
      {{ code|trans({'%type%': '班级', '%typeName%': '班级'}) }}
    {% elseif code == 'vip.level_low' %}
      {{ code|trans({'%vipName%':vipRightLevel.name|default(''),'%type%': '班级','%vipLevelName%':vipRightLevel.name|default('')}) }}
    {% endif %}
  </div>
{% endblock %}

{% block footer %}
  <a id="member-access" href="#modal" data-toggle="modal" data-url="{{ path('course_exit_modal', {action:path('classroom_exit', {id:classroom.id})}) }}" class="btn btn-default">
    {{'course.member.classroom_member.classroom_exit_btn'|trans }}
  </a>
  {% if code == 'vip.not_member' %}
    <a href="{{ path('vip_buy', {level:vipRightLevel.id}) }}" class="btn btn-danger">{{'vip.to_buy'|trans }}</a>
  {% elseif code == 'vip.member_expired' %}
    <a href="{{ path('vip_buy', {level:vipRightLevel.id}) }}" class="btn btn-danger">{{'vip.to_renew'|trans }}</a>
  {% elseif code == 'vip.level_low' %}
    <a href="{{ path('vip_upgrade', {targetId:vipRightLevel.id}) }}" class="btn btn-danger">{{'vip.to_grade'|trans }}</a>
  {% endif %}
{% endblock %}
