{% import "macro.html.twig" as web_macro %}
{% do script(['app/js/classroom/teachers/index.js'])%}

<div class="panel panel-default" id="class-teacher-column">
  <div class="panel-heading">
    <h3 class="panel-title"> 
      <i class="es-icon es-icon-assignmentind"></i>{{'classroom.headmaster'|trans}}
    </h3>
  </div>
  <div class="panel-body">
    {% if headTeacher %}
    <div class="media media-default">
      <div class="media-left">
        {{ web_macro.user_avatar(headTeacher,'','avatar-md') }}
      </div>
      
      <div class="media-body">
        <div class="title">
          {{ web_macro.user_link(headTeacher , 'link-dark') }}
        </div>
        {% if headTeacher.title|default('') %}
          <div class="content">{{ headTeacher.title }}</div>
        {% else %}
          <div class="content">{{'classroom.headmaster_title_not_set_tips'|trans}}</div>
        {% endif %}
      </div>
    </div>
    {% else %}
      <div class="empty">{{'classroom.not_set_headmaster_tips'|trans({'%name%':setting('classroom.name')|default('classroom'|trans)})}}</div>
    {% endif %}

  </div>
</div>

