{% extends 'bootstrap-modal-layout.html.twig' %}

{% block title %}{{'announcement.modal.classroom_nojoin.title'|trans}}{% endblock %}

{% block body %}
    <h4>{{'announcement.modal.course_nojoin.tips'|trans({'%courseTitle%': targetObject.title|default('course'|trans) })}}</h4>
{% endblock %}

{% block footer %}
    <a id="course-buy-btn" class="btn btn-primary"
      {% if setting("targetObject.buy_fill_userinfo")|default(false) %}
      href="#modal" data-toggle="modal"
      data-url="{{ path('course_buy', {id:targetObject.id, targetType:'course'}) }}"
      {% else %}
      href="{{ path('order_show', {targetId:targetObject.id, targetType:'course'}) }}"
      {% endif %}
      >{{''|trans}}
    </a>
{% endblock %}
