{% extends 'my/my-teaching.html.twig' %}

{% block title %}{{ 'my.teaching.question_bank.question_category.manage'|trans }} - {{ parent() }}{% endblock %}
{% set side_nav = 'my-question-bank' %}

{% do script(['app/js/question-category/index.js'])  %}

{% block main %}
  <div class="panel panel-default panel-col">
    <div class="panel-heading">{{ questionBank.name }}</div>
  </div>

  <div>
    <div class="cd-tabs" style="margin-bottom: 0px;">
      <li class="mll"><a href="{{ path('question_bank_manage_question_list', {id: questionBank.id }) }}">{{ 'my.teaching.question_bank.question.manage'|trans }}</a></li>
      <li><a href="javascript:;">{{ 'my.teaching.question_bank.testpaper.manage'|trans }}</a></li>
      <li class="active"><a href="{{ path('question_bank_manage_question_category', {id: questionBank.id }) }}">{{ 'my.teaching.question_bank.question_category.manage'|trans }}</a></li>
    </div>
    <div class="panel panel-default panel-col">
      <div class="panel-body">
        <div class="row">
          <button class="cd-btn cd-btn-primary pull-right" data-toggle="modal" data-backdrop="static"  data-target="#modal" 
            data-url="{{ path('question_bank_manage_question_category_batch_create',{id: questionBank.id}) }}"  type="button" data-placement="bottom" >{{'my.teaching.question_bank.question_category.create'|trans}}
          </button>
        </div>

        <div>
          <table class="table table-striped">
            <thead>
              <tr class="cd-dark-major cd-text-medium">
                <th>{{ 'my.teaching.question_bank.question_category.title'|trans }}</th>
                <th>{{ 'my.teaching.question_bank.question_category.latest_update'|trans }}</th>
                <th>{{ 'my.teaching.question_bank.question_category.operation'|trans }}</th>
              </tr>
            </thead>
            {% include 'question-bank/question-category/tbody.html.twig' %}
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}