<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th width="">用户名</th>
        <th width="">加入任务时间</th>
        <th width="">完成任务时间</th>
        <th width="">首次考试用时</th>
        <th width="">首次考试得分</th>
        <th width="">最高分</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
        {% set taskResult = taskResults[student['userId']]|default()  %}
        {% if taskResult %}
            <tr>
                <td>{{ users[student['userId']].nickname }}</td>
                <td>
                    {{ taskResult.beginTime|date('Y-m-d H:i:s') }}
                </td>
                <td>
                    {% if  taskResult.endTime|default() %}
                    {{ taskResult.endTime|date('Y-m-d H:i:s') }}</td>
                {% else %}
                    --
                {% endif %}
                <td>{{ taskResult.time|default() }}</td>
                <td>
                    {{ taskResult.watchTime|default() / 60 }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td>{{ users[student['userId']].nickname }}</td>
                <td>
                    未开始
                </td>
                <td>
                    --
                </td>
                <td>
                    --
                </td>
                <td>
                    --
                </td>
                <td>
                    --
                </td>
            </tr>
        {% endif %}

    {% endfor %}
    </tbody>
</table>