{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}
{% set categoriesFirst = data('Categories',{'group':'course'})%}
{% set title = config.title ? config.title : config.defaultTitle %}
{% set subTitle = config.subTitle ? config.subTitle : config.defaultSubTitle %}
{% block title %}{{ title }}{{'admin.setting.theme.manage.modal.edit'|trans}}{% endblock %}
{% block body %}
    <form id="edit-left-course-form" class="form-horizontal item-config-form" role="form" data-code="{{ config.code }}">
      {% block custom_name %}
        <div class="row form-group">
          <div class="col-md-3 control-label">
            <label for="name">{{'admin.setting.theme.manage.custom_name'|trans}}</label>
          </div>
          <div class="col-md-7 controls">
            <input type="text"  class="form-control" name="title" value="{{ title }}">
          </div>
        </div>
      {% endblock %}

      {% block custom_sub_title %}
        <div class="row form-group">
          <div class="col-md-3 control-label">
            <label for="subname">{{'admin.setting.theme.manage.modal.subname'|trans}}</label>
          </div>
          <div class="col-md-7 controls">
            <input type="text"  class="form-control" name="subTitle" value="{{ subTitle }}">
          </div>
        </div>
      {% endblock %}

      {% block custom_count %}
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'admin.setting.theme.manage.modal.setting_course_num'|trans}}</label>
          <div class="col-sm-4">
            <select class="form-control width-input-large" name="count">
              <option value="4">4</option>
              <option value="8">8</option>
              <option value="12">12</option>
            </select>
          </div>
        </div>
      {% endblock %}

      {% block custom_category_count %}
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'admin.setting.theme.manage.modal.setting_custom_category_count'|trans}}</label>
          <div class="col-sm-4">
            <select class="form-control width-input-large" name="categoryCount">
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
        </div>
      {% endblock %}

      {% block custom_orderby %}
        <div class="form-group">
          <label class="col-md-3 control-label">{{'admin.setting.theme.manage.modal.setting_custom_orderby'|trans}}</label>
          <div class="col-md-4 controls">
            <select id="orderBy" name="orderBy" required="required" class="form-control width-input width-input-large">
                <option value="latest">{{'site.datagrid.filter.latest'|trans}}</option>
                <option value="studentNum">{{'site.datagrid.filter.hotest'|trans}}</option>
                <option value="recommendedSeq">{{'site.datagrid.filter.recommended'|trans}}</option>
            </select>
            <div class="help-block" style="display:none;"></div>
          </div>
        </div>
      {% endblock %}

      {% block custom_background_color %}
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'admin.setting.theme.manage.modal.setting_ustom_background_color'|trans}}</label>
          <div class="col-sm-9 check-box">
          <input type="hidden"  name="background" value={{config.background|default("")}}>
            <label class="radio-inline">
              <input type="radio"  value="section-gray"{% if config.background|default("") == "section-gray"%} checked="checked"{% endif %}>
              {{'admin.setting.theme.manage.modal.color_gray'|trans}}
            </label>
            <label class="radio-inline" >
              <input type="radio"  value="section-wihte"{% if config.background|default("") == "section-wihte"%} checked="checked"{% endif %} >
              {{'admin.setting.theme.manage.modal.color_wihte'|trans}}
            </label>
            <label class="radio-inline" >
              <input type="radio"  value=""{% if config.background|default("") == ""%} checked="checked"{% endif %} >
              {{'admin.setting.theme.manage.modal.color_default'|trans}}
            </label>
          </div>
        </div>
      {% endblock %}
    </form>

{% endblock %}

{% block footer %}
  <button data-submiting-text="{{'form.btn.save.submiting'|trans}}" class="btn btn-primary pull-right" data-form="#edit-left-course-form" id="save-btn">{{'form.btn.confirm'|trans}}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>
  <script>app.load('topxiaadminbundle/controller/theme/left-edit-modal')</script>
{% endblock %}
