{% extends 'admin/layout.html.twig' %}
    {% block title %}
        主题管理
    {% endblock %}
{% set script_controller = 'topxiaadminbundle/controller/theme/edit' %}
{% block body %}
  <style>
    body {
      padding-bottom: 0
    }
    .list-group {
      height: 244px;
      overflow:auto;
    }

    .mod-preview-mask {
      width: 100%;
      min-height: 100%;
      position: relative;
      border-top: 1px solid #ddd;
    }

    iframe {
      z-index: 1024;
    }

    .radios, .checkboxs {
      padding-top: 20px;
      vertical-align: middle;
    }

    .mod-preview-mask .pm-iframe {
      position: absolute;
      z-index: 1023;
      left: 0;
      top: 0;
      border: none;
      opacity: 0;
      filter: alpha(opacity=0);
      width: 100%;
      height: 100%;
    }

    .mod-cpanel-basic-color {
      width: 85px;
      height: 25px;
      border: 1px solid #aaa;
      cursor: pointer;
    }

    .edit-sort {
      color: #aaa;
      margin-right: 20px;
    }

    .edit-sort:hover {
      color: #444;
    }
  </style>
  <body style="background: #eeeff0">

  <script id="theme-config" type="text/x-handlebars-template">{{ themeConfig|json_encode|raw }}</script>
  <script id="theme-all-config" type="text/x-handlebars-template">{{ allConfig|json_encode|raw }}</script>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="col-md-12">
        <a class="navbar-brand">{{'admin.setting.theme.manage.theme_edit'|trans}}</a>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('admin_setting_theme') }}"><i class="glyphicon glyphicon-remove"></i>{{'admin.setting.theme.manage.theme_cancel'|trans}}</a></li>
        <li><a href="{{ path('admin_confirm_themes_config',{uri:themeUri}) }}"><i class="glyphicon glyphicon-ok"></i> {{'admin.setting.theme.manage.theme_ok'|trans}}</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="col-md-12">
       <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#left" role="tab" data-toggle="tab">{{'admin.setting.theme.manage.components'|trans}}</a></li>
        <li><a href="#top" role="tab" data-toggle="tab">{{'顶部'|trans}}</a></li>
        <li><a href="#maincolor" role="tab" data-toggle="tab">{{'admin.setting.theme.manage.coloring_scheme_btn'|trans}}</a></li>
        <a href="{{ path('admin_reset_currentTheme_config', {uri:themeUri}) }}" class="btn btn-primary pull-right">{{'admin.setting.theme.manage.all_reset'|trans}}</a>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content" id="theme-edit-content" data-url="{{ path('admin_save_themes_config',{uri:themeUri}) }}">
        {% include 'admin/theme/tab-panel/left.html.twig' %}
        {% include 'admin/theme/tab-panel/nav.html.twig' with {navigation: themeConfig.navigation|default() }%}
        {% include 'admin/theme/tab-panel/maincolor.html.twig' %}
      </div>
    </div>
  </div>

  <div class="mod-preview-mask">
    <iframe src="{{ path('admin_themes_show',{uri:themeUri}) }}" marginheight="0" marginwidth="0" frameborder="0" scrolling="no" width="100%" height="100%" id="iframepage" name="iframepage">
    </iframe>
    <div class="pm-iframe"></div>
  </div>

    {% include 'old-script_boot.html.twig' with {script_main: asset('bundles/topxiaadmin/js/admin-app.js')} %}

  <div id="modal" class="modal"></div>

  </body>
{% endblock %}