{#<li class="mll">#}
    {% if member.role == 'teacher' %}
        {% if course.expiryMode == 'days' %}
              共{{ course.expiryDays }}天
        {% else %}
            {{ course.expiryEndDate|date('Y-m-d') }}
        {% endif %}
    {% else %}
        {% if course.expiryMode == 'forever' %}
          永久有效
        {% elseif course.expiryMode in ['end_date', 'date'] %}
          {{ course.expiryEndDate|date('Y-m-d') }}
          {% set lastDays = course.expiryEndDate|time_diff %}
          {% if lastDays > 0 %}
            剩余 {{ lastDays }} 天
          {% else %}
            <span class="color-danger">已到期</span>
          {% endif %}
        {% else %}
          {{ member.deadline|date('Y-m-d') }}
          {% set lastDays = member.deadline|time_diff %}
          {% if lastDays > 0 %}
            剩余 {{ lastDays }} 天
          {% else %}
            <span class="color-danger">已到期</span>
          {% endif %}
        {% endif %}
    {% endif %}
{#</li>#}
