{#<li class="mll">#}
    {% if member.role == 'teacher' %}
        {% if course.expiryMode == 'days' %}
              共{{ course.expiryDays }}天
        {% else %}
            {#{{ course.expiryStartDate|date('Y-m-d') }} ~ #}
            {{ course.expiryEndDate|date('Y-m-d') }}
        {% endif %}
    {% else %}
        {% if member.deadline <= 0 %}
          {% if course.expiryMode == 'forever' %}
            永久有效
          {% elseif course.expiryMode in ['end_date', 'date'] %}
            {{ course.expiryEndDate|date('Y-m-d') }}
            剩余 {{ member.expiryDays|time_diff }} 天
          {% endif %}{# 不必考虑expiryMode=days的情况，此时member.deadline必定>0 #}
        {% else %}
          {{ member.deadline|date('Y-m-d') }}
          剩余 {{ member.deadline|time_diff }} 天
        {% endif %}
    {% endif %}
{#</li>#}
