{#<li class="mll">#}
    {% if member.role == 'teacher' %}
        {% if course.expiryMode == 'days' %}
              共{{ course.expiryDays }}天
        {% else %}
            {#{{ course.expiryStartDate|date('Y-m-d') }} ~ #}
            {{ course.expiryEndDate|date('Y-m-d') }}
        {% endif %}
    {% else %}
        {{ member.deadline|date('Y-m-d') }}
          剩余 {{ member.deadline|time_diff }} 天
    {% endif %}
{#</li>#}
