<li class="mll">
    {% if member.role == 'teacher' %}
        {% if course.expiryMode == 'days' %}
              共<span class="mls color-warning"> {{ course.expiryDays }}天</span>
        {% else %}
            {{ course.expiryStartDate|date('Y-m-d') }} ~ {{ course.expiryEndDate|date('Y-m-d') }}
        {% endif %}
    {% else %}
        {{ member.deadline|date('Y-m-d') }}
          <span class="mls color-warning">剩余 {{ member.deadline|time_diff }} 天</span>
    {% endif %}
</li>
