{% extends 'bootstrap-modal-layout.html.twig' %}

{% do script(['libs/jquery-validation.js', 'app/js/course-chapter-manage/index.js']) %}

{% set chapter = chapter|default(null) %}

{% block title %}
  {% if chapter %}
    {{'course.plan_task.edit_btn'|trans}}
  {% else %}
    {{'course.plan_task.create_btn'|trans}}
  {% endif %}

  {% if type == 'unit' %}
    {{ course_chapter_alias('part')|trans }}
  {% elseif type == 'lesson' %}
    {{'site.data.task'|trans}}
  {% else %}
    {{ course_chapter_alias('chapter')|trans }}
  {% endif %}
{% endblock %}

{% block body %}
<form id="course-chapter-form" class="form-horizontal" method="post" {% if parentId is defined%}data-parentId="{{parentId}}" {% endif %}
  {% if chapter %}
	  action="{{ path('course_manage_chapter_edit', {courseId:course.id, chapterId:chapter.id}) }}"
	{% else %}
	  action="{{ path('course_manage_chapter_create', {id:course.id}) }}"
  {% endif %}
  >
  <div class="row form-group">
    <div class="col-md-3 control-label">
      {% if type == 'unit' %}
        <label for="chapter-title-field">{% if course_chapter_alias('part') %}{{ course_chapter_alias('part')|default('site.data.part'|trans) }}{% else %}{{'site.data.part'|trans}}{% endif %}{{'site.data.title'|trans}}</label>
      {% elseif type == 'lesson' %}
        <label for="chapter-title-field">{{'site.data.task'|trans}}</label>
      {% else %}
        <label for="chapter-title-field">{% if course_chapter_alias('chapter') %}{{ course_chapter_alias('chapter')|default('site.data.chapter'|trans) }}{% else %}{{'site.data.chapter'|trans}}{% endif %}{{'site.data.title'|trans}}</label>
      {% endif %}
    </div>
    <div class="col-md-8 controls"><input id="chapter-title-field" type="text" name="title" value="{{ field_value(chapter, 'title') }}" class="form-control"></div>
  </div>
  <input type="hidden" name="type" value="{{ type }}">
</form>

{% endblock %}

{% block footer %}
    <button type="button" class="btn btn-link" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>
    <button id="course-chapter-btn" data-loading-text="{{'form.btn.submit.submiting'|trans}}" type="button" class="btn btn-primary" data-toggle="form-submit" data-target="#course-chapter-form" data-chapter="{{ course_chapter_alias('chapter')|default('site.data.chapter'|trans) }}" data-part="{{ course_chapter_alias('part')|default('site.data.part'|trans) }}">{% if chapter %}{{'form.btn.save'|trans}}{% else %}{{'form.btn.add'|trans}}{% endif %}</button>
{% endblock %}

{% set hideFooter = true %}
