<li id="chapter-{{chapter.id}}" class="task-manage-item drag task-manage-{{chapter.type}} js-task-manage-{{chapter.type}} clearfix">
  <div class="item-content">
    {% if chapter.type == 'chapter' %}
      {{'course.plan_task.which_chapter'|trans({'%chapterNumber%':chapter.number, '%chapter%':course_chapter_alias('chapter')|default('site.data.chapter'|trans), '%title%':chapter.title|sub_text(30)})|raw }}
    {% elseif chapter.type == 'unit' %}
      {{'course.plan_task.which_part'|trans({'%chapterNumber%':chapter.number, '%part%':course_chapter_alias('part')|default('site.data.part'|trans), '%title%':chapter.title|sub_text(30)})|raw }}
    {% elseif chapter.type == 'lesson' %}
      {{'course.plan_task.which_task'|trans({'%chapterNumber%':chapter.number, '%task%':'site.data.task'|trans, '%title%':chapter.title|sub_text(30)})|raw }}
    {% endif %}
  </div>
  <div class="item-actions">
    <span class="dropdown">
      <a class="dropdown-toggle dropdown-more btn gray-darker" id="dropdown-more" data-toggle="dropdown" href="#"><i class="es-icon es-icon-anonymous-iconfont mrs"></i>{{'course.plan_task.create_btn'|trans}}
      </a>
      <ul class="dropdown-menu pull-right dropdown-menu-more" role="menu" style="margin-top:12px;min-width:144px" aria-labelledby="dLabel" style="display:none;">
        {% if chapter.type == 'chapter' %}
          <li>
            <a href="#" data-toggle="modal" data-target="#modal" data-url="{{ path('course_manage_chapter_create', {id:course.id, type:'unit',parentId:'chapter-'~chapter.id}) }}">{{'course.plan_task.create_part'|trans({'%partName%':course_chapter_alias('part')|default('site.data.part'|trans)}) }}</a>
          </li>
        {% endif %}
        {% if chapter.type != 'lesson' %}
          <li>
            <a href="#" data-toggle="modal" data-target="#modal" data-url="{{ path('course_manage_task_create', {courseId:course.id, type:'lesson', chapterId: 'chapter-'~chapter.id}) }}">{{'course.plan_task.create_task'|trans }}</a>
          </li>
        {% endif %}
      </ul>
    </span>

    <a class="btn gray-darker" href="#" data-toggle="modal" data-target="#modal" data-url="{{ path('course_manage_chapter_edit', {chapterId:chapter.id,courseId:course.id}) }}">
      <i class="es-icon es-icon-edit mrs"></i>
      {{'course.plan_task.edit_btn'|trans}}
    </a>
    <a href="javascript:;" class="btn gray-darker delete-item" data-type="chapter" data-url="{{ path('course_manage_chapter_delete', {chapterId:chapter.id,courseId:course.id}) }}">
      <i class="es-icon es-icon-delete mrs"></i>
      {{'course.plan_task.delete_btn'|trans}}
    </a>
    {% if chapter.type == 'chapter' %}
      <a href="javascript:;" class="btn gray-darker js-chapter-toggle-show">
        <i class="es-icon  es-icon-keyboardarrowup mr5 js-remove-icon"></i>
        <span class="js-remove-text">{{'site.btn.collapse'|trans}}</span>
      </a>
    {% endif %}
  </div>
</li>
