<li id="chapter-{{chapter.id}}" class="task-manage-item drag task-manage-{{chapter.type}} js-task-manage-{{chapter.type}}  clearfix">
  {% if chapter.type == 'lesson' %}
    <div class="item-line"></div>
  {% endif %}
  
  <div class="item-content">
    {% if chapter.type == 'chapter' %}
      {{'course.plan_task.which_chapter'|trans({'%chapterNumber%':chapter.number, '%chapter%':course_chapter_alias('chapter')|default('site.data.chapter'|trans), '%title%':chapter.title|sub_text(30)})|raw }}
    {% elseif chapter.type == 'unit' %}
      {{'course.plan_task.which_part'|trans({'%chapterNumber%':chapter.number, '%part%':course_chapter_alias('part')|default('site.data.part'|trans), '%title%':chapter.title|sub_text(30)})|raw }}
    {% elseif chapter.type == 'lesson' %}
      {{'course.plan_task.which_lesson'|trans({'%chapterNumber%':chapter.number, '%title%':chapter.title|sub_text(30)})|raw }}
      <span class="color-warning publish-status {% if chapter.status == 'published' %}
      hidden {% endif %}">{{'course.plan_task.task_unpublished'|trans}}</span>
    {% endif %}
  </div>
  <div class="item-actions">
    <span class="dropdown">
      <a class="dropdown-toggle dropdown-more btn gray-darker" id="dropdown-more" data-toggle="dropdown" href="#"><i class="es-icon es-icon-anonymous-iconfont mrs"></i>
        {% if chapter.type == 'lesson' %}{{ 'site.data.task'|trans }}{% else %}{{'course.lesson'|trans}}{% endif %}
      </a>
      <ul class="dropdown-menu pull-right dropdown-menu-more" role="menu" style="margin-top:12px;min-width:144px" aria-labelledby="dLabel" style="display:none;">
        {% if chapter.type == 'chapter' %}
          <li>
            <a href="#" data-toggle="modal" data-target="#modal" data-url="{{ path('course_manage_chapter_create', {id:course.id, type:'unit', parentId:'chapter-'~chapter.id}) }}">{{'course.plan_task.create_part'|trans({'%partName%':course_chapter_alias('part')|default('site.data.part'|trans)}) }}</a>
          </li>
        {% endif %}
        {% if chapter.type != 'lesson' %}
          <li>
            <a href="#" data-toggle="modal" data-target="#modal" data-url="{{ path('course_manage_task_create', {courseId:course.id,type:'lesson', chapterId:'chapter-'~chapter.id}) }}">{{'course.manage.create_lesson'|trans }}</a>
          </li>
        {% endif %}
        {% if chapter.type == 'lesson' %}
          <li>
            <a href="#" data-toggle="modal" data-target="#modal" data-url="{{ path('course_manage_task_create', {courseId:course.id,categoryId:chapter.id}) }}">{{'course.plan_task.create_task'|trans }}</a>
          </li>
        {% endif %}
      </ul>
    </span>

    <a class="btn gray-darker" href="#" data-toggle="modal" data-target="#modal" data-url="{{ path('course_manage_chapter_edit', {chapterId:chapter.id,courseId:course.id}) }}">
      <i class="es-icon es-icon-edit mrs"></i>
      {{'course.plan_task.edit_btn'|trans}}
    </a>
    {% if chapter.type == 'lesson' %}
      <span class="dropdown">
        <a class="dropdown-toggle dropdown-more btn gray-darker" id="dropdown-more" data-toggle="dropdown" href="#">
          <i class="es-icon es-icon-keyboardarrowdown mrs" aria-haspopup="true" aria-expanded="false"></i>{{ 'course.plan_task.more_btn'|trans }}
        </a>
        <ul class="dropdown-menu pull-right dropdown-menu-more" role="menu" style="margin-top:12px;min-width:144px" aria-labelledby="dLabel" style="display:none;">

          {% set status = chapter.status|default('create') == 'published' ? 1 : 0 %}
          <li>
            <a class='publish-item {% if status == 1 %}hidden{% endif %}' href="javascript:;" data-type="chapter" data-url="{{ path('course_manage_chapter_publish', {courseId:course.id, chapterId:chapter.id}) }}">
              <i class="es-icon es-icon--check-circle mrs"></i>{{'course.plan_task.publish_btn'|trans}}
            </a>
          </li>
          <li>
            <a href="javascript:;" class="delete-item {% if status == 1 %}hidden{% endif %}" data-type="chapter" data-url="{{ path('course_manage_chapter_delete', {chapterId:chapter.id,courseId:course.id}) }}">
              <i class="es-icon es-icon-delete mrs"></i>
              {{'form.btn.delete'|trans}}
            </a>
          </li>
          <li>
            <a class='unpublish-item {% if status != 1 %}hidden{% endif %}' href="javascript:;" data-type="chapter" data-url="{{ path('course_manage_chapter_unpublish', {courseId:course.id, chapterId:chapter.id}) }}">
              <i class="es-icon es-icon-close01 mrm"></i>{{'course.plan_task.unpublish_btn'|trans}}
            </a>
          </li>
        </ul>
      </span>
    {% else %}
      <a href="javascript:;" class="btn gray-darker delete-item" data-type="chapter" data-url="{{ path('course_manage_chapter_delete', {chapterId:chapter.id,courseId:course.id}) }}">
        <i class="es-icon es-icon-delete mrs"></i>
        {{'form.btn.delete'|trans}}
      </a>
    {% endif %}
    {% if chapter.type == 'chapter' %}
      <a href="javascript:;" class="btn gray-darker js-chapter-toggle-show">
        <i class="es-icon es-icon-keyboardarrowup mr5 js-remove-icon"></i>
        <span class="js-remove-text" >{{'site.btn.collapse'|trans}}</span>
      </a>
    {% endif %}
  </div>
</li>
