
<table class="table mll" style="margin-bottom: 0px">
  <thead>
  <tr>
    <th width="30%">{{ 'coupon.name'|trans }}</th>
    <th width="30%">{{ 'coupon.batch.prefix'|trans }}</th>
    <th width="30%">{{ 'coupon.content'|trans }}</th>
    <th width="10%">{{ 'coupon.operation'|trans }}</th>
  </tr>
  </thead>
  <tbody >

  {% if batchId|default(0) >0%}
    {% set batch = data('CouponBatch',{'batchId': batchId|default('')}) %}
    <tr>
      <td>{{ batch.name }}</td>
      <td>
        {{ batch.prefix }}
      </td>
      <td>
        {% if batch.type=='discount' %}
          <span>{{ batch.couponContent }}{{ 'coupon.type.discount_tip'|trans({'%rate%': batch.rate|number_format(1)}) }}</span>
        {% elseif batch.type=='minus' %}
          <span>{{ 'coupon.type.minus_tip'|trans({'%rate%': batch.rate}) }}</span>
        {% endif %}
        <br>
        {% if batch.couponContent == 'multi' %}
          <span class="text-muted text-sm">{% if batch.targetType == 'course' %}{{ 'coupon.target_type.multi_course'|trans }}{% elseif batch.targetType == 'classroom' %}{{ 'coupon.target_type.multi_classroom'|trans }}{% endif %}</span>
        {% else %}
          <span class="text-muted text-sm">{{ batch.couponContent }}</span>
        {% endif %}
      </td>
      <td><a href="javascript:;" class="js-remove-item" >{{ 'site.delete'|trans }}</a></td>
    </tr>
  {% endif %}
  </tbody>
</table>
<span class="text-muted text-sm" style="margin-left: 20px">{{ 'admin.setting.invite.chooser_message'|trans }}</span>