{% extends 'course-manage/layout.html.twig' %}

{% block title %}{{'课程学习数据'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'plan' %}
{% set active = 'dashboard' %}

{% block course %}

<div class="panel panel-default panel-col course-data">
    <div class="panel-heading">{{'课程学习数据'|trans}}</div>
    <div class="panel-body dashboard-panel">
      <ul class="nav nav-tabs mbl">
        <li class="{% if submenu|default() == 'course_dashboard' %}active{% endif %}">
          <a href="{{ path('course_set_manage_course_dashboard',{courseSetId: course.courseSetId, courseId:course.id, tab: 'course'}) }}">{{ '课程数据概览'|trans }}
          </a>
        </li>

        <li class="{% if submenu|default() == 'lesson_dashboard' %}active{% endif %}">
          <a href="{{ path('course_set_manage_course_dashboard',{courseSetId: course.courseSetId, courseId:course.id, tab: 'task'}) }}">{{ '任务完成率'|trans }}
          </a>
        </li>

        <li class="{% if submenu|default() == 'lesson_learn_dashboard' %}active{% endif %}">
          <a href="{{ path('course_set_manage_course_dashboard',{courseSetId: course.courseSetId, courseId:course.id, tab: 'task-detail'}) }}">{{ '任务学习详情'|trans }}
          </a>
        </li>

      </ul>
      {% block dashboard %}{% endblock %}
    </div>
</div>

{% endblock %}



