{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% set column = column|default(null) %}

{% block title %}
{% if column.id %}编辑{% else %}新增{% endif %}专栏
{% endblock %}



{% block body %}

  <style type="text/css">
  #column-form .bg-1 {
  background-color: #ff8f6c;
}
#column-form .bg-2 {
  background-color: #ffbd68;
}
#column-form .bg-3 {
  background-color: #68c9fc;
}
#column-form .bg-4 {
  background-color: #aed24c;
}
#column-form .bg-5 {
  background-color: #b59dd7;
}
#column-form .bg-6 {
  background-color: #7ed0b6;
}
#column-form .bg-7 {
  background-color: #79a5bc;
}
#column-form .bg-8 {
  background-color: #ee8773;
}

#column-form .bg-1,
#column-form .bg-2,
#column-form .bg-3,
#column-form .bg-4,
#column-form .bg-5,
#column-form .bg-6,
#column-form .bg-7,
#column-form .bg-8 {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 3px;
}

  
</style>
  <form class="form-horizontal" id="column-form" action="{% if column.id %}{{ path('admin_column_update', {id:column.id}) }}{% else %}{{ path('admin_column_create') }}{% endif %}" method="post">
    <div class="form-group">
        <label class="col-md-3 control-label" for="column-name-field">专栏名称</label>
        <div class="col-md-6 controls">
          <input class="form-control" id="column-name-field" type="text" name="name" value="{{ column.name }}" data-url="{{ path('admin_column_checkname', {exclude:column.name}) }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="column-subtitle-field">专栏副标题</label>
        <div class="col-md-6 controls">
          <input class="form-control" id="column-subtitle-field" type="text" name="subtitle" value="{{ column.subtitle }}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label" for="column-code-field">专栏编码</label>
        <div class="col-md-6 controls">
          <input class="form-control" id="column-code-field" type="text" name="code" value="{{ column.code }}" data-url="{{ path('admin_column_check_code', {exclude:column.code}) }}" {% if column.id %}readonly="readonly"{% endif %}>
          <div class="help-block">必填，建议使用分类名称的英文单词或缩写作为编码,不可进行修改。</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="column-weight-field">专栏排序</label>
        <div class="col-md-6 controls">
          <input class="form-control" id="column-weight-field" type="text" name="weight" value="{{ column.weight }}">
           <div class="help-block">显示序号需为整数，按序号的顺序从小到大排序。</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="column-classIndex-field">色块选择</label>
        <div class="col-md-6 controls">
     {#      <input class="form-control" id="column-classIndex-field" type="text" name="classIndex" value="{{ column.classIndex }}"> #}
            {{ radios('classIndex', {1:'<span class="bg-1"></span>',2:'<span class="bg-2"></span>', 3:'<span class="bg-3"></span>',4:'<span class="bg-4"></span>',5:'<span class="bg-5"></span>', 6:'<span class="bg-6"></span>',7:'<span class="bg-7"></span>',8:'<span class="bg-8"></span>'}, column.classIndex|default(1) ) }}
        </div>
    </div>
    {% if column.id %}
      <div class="form-group">
          <label class="col-md-3 control-label" for="column-lowTagIds-field">初级标签</label>
          <div class="col-md-6 controls">
            <select id="course_lowTagIds_1" name="lowTagIds[0]"  class="form-control width-input width-input-large">
              {#   {{ select_options(category_choices('course'), course.categoryId, '分类') }} #}
              <option value="-1">请选择第一个标签</option>
              {% if lowLevelTags %}
                {% for tag in lowLevelTags %}
                  {% if  tag %}
                   <option value="{{tag.id}}" {% if tag.id == column.lowTagIds[0] %}selected="selected"{% endif %}>{{tag.name}}</option>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </select>
            <select id="course_lowTagIds_2" name="lowTagIds[1]"  class="form-control width-input width-input-large">
              {#   {{ select_options(category_choices('course'), course.categoryId, '分类') }} #}
              <option value="-1">请选择第二个标签</option>
              {% if lowLevelTags %}
                {% for tag in lowLevelTags %}
                   <option value="{{tag.id}}" {% if tag.id == column.lowTagIds[1] %}selected="selected"{% endif %}>{{tag.name}}</option>
                {% endfor %}
              {% endif %}
            </select>
            <select id="course_lowTagIds_3" name="lowTagIds[2]"  class="form-control width-input width-input-large">
              {#   {{ select_options(category_choices('course'), course.categoryId, '分类') }} #}
              <option value="-1">请选择第三个标签</option>
              {% if lowLevelTags %}
                {% for tag in lowLevelTags %}
                   <option value="{{tag.id}}" {% if tag.id == column.lowTagIds[2] %}selected="selected"{% endif %}>{{tag.name}}</option>
                {% endfor %}
              {% endif %}
            </select>
             
          </div>
      </div>
      <div class="form-group">
          <label class="col-md-3 control-label" for="column-middleTagIds-field">中级标签</label>
          <div class="col-md-6 controls">
            <select id="course_middleTagIds_1" name="middleTagIds[0]"  class="form-control width-input width-input-large">
              {#   {{ select_options(category_choices('course'), course.categoryId, '分类') }} #}
              <option value="-1">请选择第一个标签</option>
              {% if middleTagIds %}
                {% for tag in middleTagIds %}
                  {% if tag %}
                    <option value="{{tag.id}}"{% if tag.id == column.middleTagIds[0] %}selected="selected"{% endif %}>{{tag.name}}</option>
                  {% endif %}
                  
                {% endfor %}
              {% endif %}
            </select>
            <select id="course_middleTagIds_2" name="middleTagIds[1]"  class="form-control width-input width-input-large">
              {#   {{ select_options(category_choices('course'), course.categoryId, '分类') }} #}
              <option value="-1">请选择第二个标签</option>
              {% if middleTagIds %}
                {% for tag in middleTagIds %}
                   <option value="{{tag.id}}" {% if tag.id == column.middleTagIds[1] %}selected="selected"{% endif %}>{{tag.name}}</option>
                {% endfor %}
              {% endif %}
            </select>
            <select id="course_lowTagIds_3" name="middleTagIds[2]"  class="form-control width-input width-input-large">
              {#   {{ select_options(category_choices('course'), course.categoryId, '分类') }} #}
              <option value="-1">请选择第三个标签</option>
              {% if middleTagIds %}
                {% for tag in middleTagIds %}
                   <option value="{{tag.id}}" {% if tag.id == column.middleTagIds[2] %}selected="selected"{% endif %}>{{tag.name}}</option>
                {% endfor %}
              {% endif %}
            </select>
          </div>
      </div>
      <div class="form-group">
          <label class="col-md-3 control-label" for="column-highTagIds-field">高级标签</label>
          <div class="col-md-6 controls">
          <select id="course_highTagIds_1" name="highTagIds[0]"  class="form-control width-input width-input-large">
              {#   {{ select_options(category_choices('course'), course.categoryId, '分类') }} #}
              <option value="-1">请选择第一个标签</option>
              {% if highTagIds %}
                {% for tag in highTagIds %}
                   <option value="{{tag.id}}" {% if tag.id == column.highTagIds[0] %}selected="selected"{% endif %}>{{tag.name}}</option>
                {% endfor %}
              {% endif %}
            </select>
            <select id="course_highTagIds_2" name="highTagIds[1]"  class="form-control width-input width-input-large">
              {#   {{ select_options(category_choices('course'), course.categoryId, '分类') }} #}
             <option value="-1">请选择第二个标签</option>
              {% if highTagIds %}
                {% for tag in highTagIds %}
                   <option value="{{tag.id}}" {% if tag.id == column.highTagIds[1] %}selected="selected"{% endif %}>{{tag.name}}</option>
                {% endfor %}
              {% endif %}
            </select>
            <select id="course_highTagIds_3" name="highTagIds[2]"  class="form-control width-input width-input-large">
              {#   {{ select_options(category_choices('course'), course.categoryId, '分类') }} #}
             <option value="-1">请选择第三个标签</option>
              {% if highTagIds %}
                {% for tag in highTagIds %}
                   <option value="{{tag.id}}" {% if tag.id == column.highTagIds[2] %}selected="selected"{% endif %}>{{tag.name}}</option>
                {% endfor %}
              {% endif %}
            </select>
             
          </div>
      </div>
    {% endif %}
    <div class="form-group">
        <label class="col-md-3 control-label" for="column-name-field">专栏描述</label>
        <div class="col-md-6 controls">
            <textarea class="form-control" id="category-description-field" style="height:100px;" name="description">{{column.description}}</textarea>
        </div>
   </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
  <script type="text/javascript">app.load('customadminbundle/controller/column/save-modal')</script>
{% endblock %}

{% block footer %}
  {% if column.id %}
    <button class="btn btn-default pull-left delete-column" data-url="{{ path('admin_column_delete', {id:column.id}) }}" data-target="{{ column.id }}" data-column-id="{{ column.id }}"><i class="glyphicon glyphicon-trash"></i> 删除</button>
  {% endif %}

  <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
  <button id="column-create-btn" data-submiting-text="正在提交" type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#column-form">保存</button>
{% endblock %}
