{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}我的问答... - {{ parent() }}{% endblock %}

{% set nav = 'my-questions' %}

{% set bodyClass = 'my-questions' %}

{% block content %}

<div class="row">
    
    {% include 'TopxiaWebBundle:My:my-nav.html.twig' %}

    <div class="col-lg-9">
        <div class="panel panel-col">
            <div class="panel-heading">
               我的问答
            </div>
            <div class="panel-body">
                {% if myQuestions is empty %}
                    你还没有提过任何问题！
                {% else %}
                    <div class="my-questions">
                        {% for myQuestion in myQuestions %}
                        <div class="my-thread">
                            <div class="myQuestion-title">
                                <label>问答题目:</label>
                                <a href="{{path('course_thread_show', {courseId:myQuestion.courseId, id:myQuestion.id})}}"> {{myQuestion.title}} </a>
                            </div>
                            <div class="myQuestion-content">
                                <label>问答内容:</label> {{myQuestion.content | plain_text(20) }}
                            </div>
                            <div class="course-name"> 
                                <label> 对应课程名:</label>{{courses[myQuestion.courseId].title | plain_text(20) }}
                            </div>

                            {% include 'TopxiaWebBundle:MyQuestion:myquestion-status.html.twig' with {myQuestion: myQuestion} %}

                            <div class="createdTime"> 
                                <label> 创建时间：</label>{{myQuestion.createdTime | date('Y-n-d H:i:s') }}
                            </div>

                            <div class="latestPostTime"> 
                                <label> 最后回复：</label>
                                {{users[myQuestion['latestPostUserId']]['nickname']}}
                                {{myQuestion.latestPostTime | smart_time }}
                            </div>
                        </div>
                        <hr>
                        {% endfor %}

                        <div></div>
                    </div>
                {% endif %}
            </div>
        </div>
      {{ web_macro.paginator(paginator) }} 
      
    </div>

</div>

{% endblock %}
