{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class= "modal-md" %}

{% block title %}
  {% if activity|default(false) %}
    {{ '修改任务'|trans }}
  {% else %}
    {{ '添加任务'|trans }}
  {% endif %}
{% endblock %}

{% block body %}
  <div class="course-tasks-modal " id="">
    <div id="task-type">
      <ul class="es-step es-step-3 clearfix">
        <li class="doing">
          <span class="number">1</span>
          选择教学手段
        </li>
        <li>
          <span class="number">2</span>
          设置内容
        </li>
        <li>
          <span class="number">3</span>
          设置完成条件
        </li>
      </ul>
      <ul class="course-tasks-type row">
        {% for type, value in types %}
        <li class="col-xs-3 course-tasks-type-item js-course-tasks-item">
          <a data-role="activityType" data-type="{{ type }}" href="javascript:;"
             data-content-url="{{ path('course_manage_task_create',{courseId:course.id, type:type}) }}">
            <i class="{{ value.icon }}"></i>
            {{ value.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="tab-content" id="task-editor">

    </div>
  </div>
{% endblock %}
{% block footer %}
  <button id="course-tasks-prev" type="submit" class="btn btn-primary">{{ '上一步'|trans }}</button>
  <button id="course-tasks-next" type="submit" class="btn btn-primary">{{ '下一步'|trans }}</button>
  <button id="course-tasks-submit" type="submit" class="btn btn-primary hidden" data-toggle="form-submit" data-target="#task-create-form" data-submiting-text="{{ '正在保存...'|trans }}">{{ '保存'|trans }}</button>
  <script>app.load('taskbundle/controller/task-manage/create')</script>
{% endblock %}
