{#{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set script_controller = 'taskbundle/controller/task-manage/tasks' %}

{% block title %}{{'教学计划管理'|trans}} - {{ parent() }}{% endblock %}

{% block content %}
	<button class="btn btn-info btn-sm" id="lesson-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_manage_task_create', {courseId:1}) }}"><i class="glyphicon glyphicon-plus"></i> 任务 </button>

	<ul id="course-tasks">
		{% for task in tasks %}
			{% include 'TaskBundle:TaskManage:list-item.html.twig' with {task:task} %}
		{% endfor %}
	</ul>
	
{% endblock %}#}

{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}
{% block title %}{{ '教学计划管理'|trans }} - {{ parent() }}{% endblock %}
{% set use_webapck_loader = true %}

{% do css(['web.css']) %}
{% do script(['web/task-manage/delete.js']) %}

{% block main %}
  <div class="panel panel-default panel-col lesson-manage-panel">
    <div class="panel-heading">
      <div class="pull-right">
        <button class="btn btn-info btn-sm" id="lesson-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_manage_task_create', {courseId:course.id}) }}"><i class="glyphicon glyphicon-plus"></i> 任务 </button>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-plus"></i>
            {{ setting('default.chapter_name')|default('章'|trans) }}/{{ setting('default.part_name')|default('节'|trans) }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#" id="chapter-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_manage_chapter_create', {id:course.id}) }}">
                <i class="glyphicon glyphicon-plus"></i>
                {{'添加%chapter_name%'|trans({'%chapter_name%': setting('default.chapter_name')|default('章'|trans)})}}
              </a>
            </li>
            <li>
              <a href="#" id="chapter-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_manage_chapter_create', {id:course.id, type:'unit'}) }}">
                <i class="glyphicon glyphicon-plus"></i>
                {{'添加%part_name%'|trans({'%part_name%': setting('default.part_name')|default('节')})}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      {{'教学计划管理'|trans}}
    </div>
    <div class="panel-body">
      {#<ul class="lesson-list sortable-list js-period-list" id="course-item-list" data-sort-url="{{ path('course_manage_lesson_sort', {id:course.id}) }}">
      {% for id, item in items %}
        {% if 'chapter' in id %}
          {% include 'TopxiaWebBundle:CourseChapterManage:list-item.html.twig' with {chapter: item} %}
        {% elseif 'lesson' in id  %}
          {% include 'TopxiaWebBundle:CourseLessonManage:list-item.html.twig' with {lesson: item, file: files[item.mediaId]|default(null)} %}
        {% endif %}
      {% endfor %}
      </ul>#}

      <!-- TODO  删除返回的课程数据，为任务加章节数据 -->
      <ul class="task-manage-list">
        <li class="task-manage-item task-manage-chapter clearfix">
          <div class="item-content">
            <i class="es-icon es-icon-yidong mrm"></i>第<span class="number">1</span>章：11
          </div>
          <div class="item-actions">
            <span class="dropdown">
              <a class="dropdown-toggle dropdown-more btn btn-gray" id="dropdown-more" data-toggle="dropdown" href="#"><i class="es-icon es-icon-addcircle mrs"></i>添加
              </a>
              <ul class="dropdown-menu pull-right dropdown-menu-more" role="menu" style="margin-top:12px;min-width:144px" aria-labelledby="dLabel" style="display:none;">
                <li>
                  <a>添加节</a>
                </li>
                <li>
                  <a>添加任务</a>
                </li>
              </ul>
            </span>
            <a class="btn btn-gray">
              <i class="es-icon es-icon-edit mrs"></i>编辑
            </a>
            <a class="btn btn-gray delete-chapter-btn">
              <i class="es-icon es-icon-delete mrs"></i>删除
            </a>
          </div>
        </li>
        <li class="task-manage-item task-manage-unit clearfix">
          <div class="item-content">
            <i class="es-icon es-icon-yidong mrm"></i>第<span class="number">1</span>节：111
          </div>
          <div class="item-actions">
            <a class="btn btn-gray">
              <i class="es-icon es-icon-addcircle mrs"></i>添加
            </a>
            <a class="btn btn-gray">
              <i class="es-icon es-icon-edit mrs"></i>编辑
            </a>
            <a class="btn btn-gray">
              <i class="es-icon es-icon-delete mrs"></i>删除
            </a>
          </div>
        </li>
        {% for task in tasks %}
          {% include 'WebBundle:TaskManage:list-item.html.twig' with {task:task} %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}



