{% extends 'TopxiaWebBundle::bootstrap-modal-layout-webpack.html.twig' %}
{% set modal_class= "modal-md" %}

{% do css(['web.css']) %}
{% do script(['libs/ckeditor.js','libs/jquery-validation.js','web/task-manage/create.js']) %}

{% block title %}
  {% if activity|default(false) %}
    {{ '修改任务'|trans }}
  {% else %}
    {{ '添加任务'|trans }}
  {% endif %}
{% endblock %}

{% block body %}
  <div class="course-tasks-modal" id="task-editor" data-editor-mode="{{ mode }}"
      {% if mode == 'edit' %}
        data-editor-type="{{ currentType }}"
        data-editor-step2-url="{{ path('course_manage_task_fields', {courseId: course.id, mode: 'edit', id: task.id}) }}"
        data-save-url="{{ path('course_manage_task_update', {courseId: course.id, id: task.id }) }}"
      {% elseif mode == 'create' %}
        data-save-url="{{ path('course_manage_task_create', {courseId: course.id}) }}"
      {% endif %}
  >
    <div id="task-type">
      <ul class="es-step es-step-3 clearfix">
        <li class="doing">
          <span class="number">1</span>
          选择教学手段
        </li>
        <li>
          <span class="number">2</span>
          设置内容
        </li>
        <li>
          <span class="number">3</span>
          设置完成条件
        </li>
      </ul>
      <ul class="course-tasks-type row">
        {% if types is defined %}
          {% for type, value in types %}
            <li class="col-xs-3 course-tasks-type-item js-course-tasks-item">
              <a data-role="activityType" data-type="{{ type }}" href="javascript:;"
                 data-content-url="{{ path('course_manage_task_fields',{courseId:course.id, mode: 'create', type: type}) }}">
                <i class="{{ value.metas.icon }}"></i>
                {{ value.metas.name }}
              </a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  
    <div class="tab-content">
        
      </div>
    <input class="js-hidden-data" type="hidden" name="fromCourseSetId" value='1'>
    <input class="js-hidden-data" type="hidden" name="fromCourseId" value='{{ course.id }}'>
  </div>
{% endblock %}
{% block footer %}
  <button id="course-tasks-prev" type="submit" class="btn btn-primary" disabled>{{ '上一步'|trans }}</button>
  <button id="course-tasks-next" type="submit" class="btn btn-primary">{{ '下一步'|trans }}</button>
  <button id="course-tasks-submit" type="submit" class="btn btn-primary"
          data-submiting-text="{{ '正在保存...'|trans }}">{{ '保存'|trans }}</button>
{% endblock %}
