{% extends 'TopxiaWebBundle::bootstrap-modal-layout-webpack.html.twig' %}
{% set modal_class= "modal-md" %}

{% do css(['web.css']) %}
{% do script(['libs/jquery-validation.js','web/task-manage/create.js']) %}

{% block title %}
  {% if activity|default(false) %}
    {{ '修改任务'|trans }}
  {% else %}
    {{ '添加任务'|trans }}
  {% endif %}
{% endblock %}

{% block body %}
  <div class="task-manage-editor" id="task-manage-editor">
    <ul class="es-step es-step-3 clearfix" id="task-manage-step">
        <li class="doing">
          <span class="number">1</span>
          选择教学手段
        </li>
        <li>
          <span class="number">2</span>
          设置内容
        </li>
        <li>
          <span class="number">3</span>
          设置完成条件
        </li>
      </ul>
    <div id="task-manage-type" class="{% if mode == 'edit' %}hidden {% endif %}" data-editor-mode="{{ mode }}"
    {% if mode == 'edit' %}
      data-editor-type="{{ currentType }}"
      data-editor-step2-url="{{ path('course_manage_task_fields', {courseId: course.id, mode: 'edit', id: task.id}) }}"
      data-save-url="{{ path('course_manage_task_update', {courseId: course.id, id: task.id }) }}"
    {% elseif mode == 'create' %}
      data-save-url="{{ path('course_manage_task_create', {courseId: course.id}) }}"
    {% endif %}>
      <ul class="task-manage-type-list row">
        {% if types is defined %}
          {% for type, value in types %}
            <li class="col-xs-3 task-manage-type-item js-course-tasks-item" data-role="activityType" data-type="{{ type }}" data-content-url="{{ path('course_manage_task_fields',{courseId:course.id, mode: 'create', type: type}) }}">
              <a href="javascript:;">
                <i class="{{ value.metas.icon }}"></i>
                {{ value.metas.name }}
              </a>
            </li>
          {% endfor %}
        {% endif %}
        <li class="col-xs-3 task-manage-type-item js-course-tasks-item">
          <a data-role="activityType">
            <i class="es-icon es-icon-videoclass"></i>
            看视频
          </a>
        </li>
        <li class="col-xs-3 task-manage-type-item js-course-tasks-item">
          <a data-role="activityType">
            <i class="es-icon es-icon-description"></i>
            看文档
          </a>
        </li>
        <li class="col-xs-3 task-manage-type-item js-course-tasks-item">
          <a data-role="activityType">
            <i class="es-icon es-icon-pptclass"></i>
            看PPT
          </a>
        </li>
        <li class="col-xs-3 task-manage-type-item js-course-tasks-item">
          <a data-role="activityType">
            <i class="es-icon es-icon-flashclass"></i>
            看flash
          </a>
        </li>
        <li class="col-xs-3 task-manage-type-item js-course-tasks-item">
          <a data-role="activityType">
            <i class="es-icon es-icon-audioclass"></i>
            听音频
          </a>
        </li>
        <li class="col-xs-3 task-manage-type-item js-course-tasks-item">
          <a data-role="activityType">
            <i class="es-icon es-icon-videocam"></i>
            参加直播
          </a>
        </li>
        <li class="col-xs-3 task-manage-type-item js-course-tasks-item">
          <a data-role="activityType">
            <i class="es-icon es-icon-filedownload"></i>
            下载资料
          </a>
        </li>
        <li class="col-xs-3 task-manage-type-item js-course-tasks-item">
          <a data-role="activityType">
            <i class="es-icon es-icon-exam"></i>
            做作业题
          </a>
        </li>
        <li class="col-xs-3 task-manage-type-item js-course-tasks-item">
          <a data-role="activityType">
            <i class="es-icon es-icon-mylibrarybooks"></i>
            做练习题
          </a>
        </li>
        <!-- <li class="col-xs-3 task-manage-type-item js-course-tasks-item">
          <a data-role="activityType">
            <i class="es-icon es-icon-lesson"></i>
            参加考试
          </a>
        </li> -->
        <li class="col-xs-3 task-manage-type-item js-course-tasks-item">
          <a data-role="activityType">
            <i class="es-icon es-icon-comment"></i>
            参加讨论
          </a>
        </li>
      </ul>
    </div>
    <div id="task-manage-content"></div>
    <input class="js-hidden-data" type="hidden" name="fromCourseSetId" value='1'>
    <input class="js-hidden-data" type="hidden" name="fromCourseId" value='{{ course.id }}'>
  </div>
{% endblock %}
{% block footer %}
  <button id="course-tasks-prev" type="submit" class="btn btn-default hidden " >{{ '上一步'|trans }}</button>
  <button id="course-tasks-next" type="submit" class="btn btn-primary">{{ '下一步'|trans }}</button>
  <button id="course-tasks-submit" type="submit" class="btn btn-info hidden"  data-submiting-text="{{ '正在保存...'|trans }}">{{ '保存'|trans }}</button>
{% endblock %}
