{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{ article.title }} - {{ parent() }}{% endblock %}

{% block keywords %}{{ seoKeyword }}{% endblock %}

{% block description %}{{ seoDesc|plain_text(100) }}{% endblock %}

{% block content %}

  {{ load_script('thread/thread-show') }}

  <div class="article-detail row">
    <!-- 主内容 -->
    <div class="col-md-8 article-detail-main">
      <section class="es-section article-content">
        <ol class="breadcrumb">
          <li><a href="{{path('article_show')}}">{{setting.name}}</a></li>
          {% for breadcrumb in breadcrumbs %}
            <li><a href="{{path('article_category',{categoryCode:breadcrumb.code})}}">{{breadcrumb.name}}</a></li>
          {% endfor %}
          <li class="active">正文</li>
        </ol>
        <div class="article-metas">
          <div class="pull-left">
            <div class="date">
              <div class="day">{{day}}</div>
              <div class="month">{{month}}月</div>
            </div>
          </div>
          <div class="metas-body">
            <h2 class="title">
              <a href="javascript:;">
                {{article.title}}
              </a>
            </h2>
            <div class="sns">
              <span class="views-num"><i class="es-icon es-icon-visibility"></i>{{ article.hits|default(0) }}</span>
              <span class="comment-num"><i class="es-icon es-icon-textsms"></i>10</span>
              <span class="love-num"><i class="es-icon es-icon-favorite"></i>15</span>
            </div>
          </div>
        </div>
        <div class="article-text">
            {{article.body |raw }}
        </div>
        <div class="article-tags">
          标签：
          <a class="btn-tag" href="">在线教育</a>
          <a class="btn-tag" href="">产品动态</a>
          <a class="btn-tag" href="">Edusoho</a>
          <a class="btn-tag" href="">IOS</a>
        </div>
        <div class="article-sns">
          <a class="love" href=""><i class="es-icon es-icon-favorite"></i>{{ article.hits|default(0) }}</a>
          <span class="es-share right open">
            <a class="dropdown-toggle" href="" data-toggle="dropdown"  aria-labelledby="dropdownMenu1">
              <i class="es-icon es-icon-share"></i>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <div class="bdsharebuttonbox bdshare-button-style0-24" style="padding:1px;" data-bd-bind="1429085802250">
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信" style="margin:3px 2px 2px 6px;"><i class="es-icon es-icon-weixin"></i></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博" style="margin:3px 2px 2px 6px;"><i class="es-icon es-icon-weibo"></i></a>
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间" style="margin:3px 1px 2px 6px;"><i class="es-icon es-icon-qq"></i></a>
              </div>
            </ul>
            <!-- {% include 'TopxiaWebBundle:Common:share-dropdown.html.twig' with {type:'article'} %} -->
          </span>
        </div>
        <div class="related-artcile">
          <div class="row">
            <a class="col-sm-4" href="javascript:;">
              <div class="related-item">
                <img class="img-responsive" src="img-temp/course_1.jpg" alt="">
                <div class="title">
                  Jeff Weiner领导下的LinkedIn将走向何方？
                </div>
              </div>
            </a>
            <a class="col-sm-4" href="javascript:;">
              <div class="related-item">
                <img class="img-responsive" src="img-temp/course_1.jpg" alt="">
                <div class="title">
                  Jeff Weiner领导下的LinkedIn将走向何方？
                </div>
              </div>
            </a>
            <a class="col-sm-4" href="javascript:;">
              <div class="related-item">
                <img class="img-responsive" src="img-temp/course_1.jpg" alt="">
                <div class="title">
                  Jeff Weiner领导下的LinkedIn将走向何方？
                </div>
              </div>
            </a>
          </div>
        </div>
        <form class="es-commet" method="post">
          <div class="es-commet-header">
            文章评论<span class="badge badge-primary">42</span>
          </div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
          <textarea class="form-control" rows="6" placeholder="您的想法" name="content" {% if not app.user %}disabled=true{% endif %}></textarea>
          
          <div class="form-group clearfix">
            {% if not app.user %}<a href="{{ path('login') }}">登录</a> 后发表看法{% endif %}
            <button type="submit" class="btn btn-default pull-right {% if not app.user %}disabled{% endif %}" >发表评论</button>
          </div>
        </form>
        <div class="thread-show">
          <div class="panel panel-default">
            <div class="panel-body">
              <ul class="media-list thread-post-list thread-pripost-list">
                {% for post in posts %}
                  {% set author = users[post.userId] %}
                  <li id="post-{{ post.id }}" class="thread-post thread-post-{{ post.id }} media">
                      <a href="{{ path('user_show', {id:author.id}) }}" class="pull-left user-avatar">
                        <img class="media-object" src="{{ default_path('avatar', author.smallAvatar, '') }}" >
                      </a>
                      <div class="media-body">
                        <div class="metas">
                          {% include 'TopxiaWebBundle:Thread:post-manage-menu.html.twig' %}
                          <a href="{{ path('user_show', {id:author.id}) }}" class="nickname">{{ author.nickname }}</a>
                          <span class="bullet">•</span>
                          <span class="text-muted">{{post.createdTime|smart_time}} </span>
                        </div>
                        <div class="thread-post-content">{{ post.content|at(post.ats)|raw }}</div>
                        <div>
                          {% include 'TopxiaWebBundle:Thread:post-interaction.html.twig' %}
                        </div>
                        <div class="thread-subpost-container clearfix {% if not post.subposts %}hide{% endif %}">
                          {{ render(controller('TopxiaWebBundle:Article:subposts', {targetId: post.threadId, postId:post.id, less:true})) }}
                          <div class="thread-subpost-morebar clearfix {% if not post.subposts %}hide{% endif %}">
                            {% if service.canAccess('post.create', post) %}
                              <button class="btn btn-default btn-xs pull-right js-toggle-subpost-form">我也说一句</button>
                            {% endif %}
                            <span class="thread-subpost-moretext {% if post.subposts <= 5 %}hide{% endif %}"><span class="text-muted">还有{{ post.subposts - 5 }}条回复，</span><a href="javascript:;" class="js-post-more">点击查看</a></span>
                          </div>

                          {% if service.canAccess('post.create', post) %}
                            <form method="post" action="{{ path('thread_post_reply', {postId:post.id, threadId:0}) }}" class="thread-subpost-form {% if post.subposts %}hide{% endif %}">
                              <input type="hidden" name="targetId" value="{{ post.targetId }}">
                              <input type="hidden" name="targetType" value="article">
                              <div class="form-group">
                                <div class="controls">
                                  <textarea class="form-control" name="content" data-display="内容"></textarea>
                                </div>
                              </div>
                              <div class="form-group">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
                                <button type="submit" data-loading-text="正在发表" class="btn btn-primary btn-sm pull-right">发表</button>
                              </div>
                            </form>
                          {% endif %}

                        </div>
                      </div>
                    </li>
                {% else %}
                  <li class="empty">一个回复都没有！</li>
                {% endfor %}
              </ul>

              {{ web_macro.paginator(paginator) }}
            </div>
          </div>
        </div>
      </section>
    </div>
    
    {% include 'TopxiaWebBundle::Article:sidebar.html.twig' %}
    
  </div>

{% endblock %}

