{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}

{% block title %}{{ articleSetting.name }}首页 - {{ parent() }}{% endblock %}

{% block content %}

<div class="es-row-wrap container-gap">

  <div class="row row-8-4 article-row" style="margin-top:20px;">
    <div class="col-md-8">
      <ul class="nav nav-pills" style="margin-bottom:20px;">
        <li class="active"><a href="{{ path('article_show') }}">{{ articleSetting.name }}首页</a></li>
        {% for category in categoryTree %}
          {% if category.parentId == 0 %}
            <li><a href="{{ path('article_category', {categoryCode:category.code}) }}">{{ category.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <h2 class="thread-title">{{article.title}}</h2>
         <div class="published-time pull-left">{{ article.publishedTime|date('Y-m-d H:i:s') }}</div>
         <p><br></p>
      <div class="thread-body">{{article.body |raw }}</div>
       标签:
      {% for tag in tags %}
           <span class="label label-info">{{tag.name}}</span>
      {% endfor %}
      <p><br></p>
      分类:&nbsp;<span><a href="{{ path('article_category', {categoryCode:categoryCode}) }}">{{categoryName}}</a></span>
      <ul class="pager">
        {% if articlePrevious %}
          <li class="previous"><a href="/article/{{articlePrevious.id}}">&larr; 上一篇</a></li>
        {% else %}
          <li class="previous disabled"><a href="javascript:;">&larr; 上一篇</a></li>
        {% endif %}

          {% if articleNext %}
          <li class="next"><a href="/article/{{articleNext.id}}"> 下一篇 &rarr;</a></li>
        {% else %}
          <li class="next disabled"><a href="javascript:;"> 下一篇 &rarr;</a></li>
        {% endif %}
      </ul>
     <hr>
         
    </div>
      <div class="col-md-4">
        <div class="es-box">
          <div class="es-box-heading"><h2>热门文章</h2></div>
          <div class="es-box-body">
            <ul class="media-list">
              {% for key,hottestArticle in hottestArticles %}
                <li class="media">
                  <span class="rank_num">{{ key+1 }}</span>
                  <div class="media-body"><a href="/article/{{hottestArticle.id}}">{{ hottestArticle.title|plain_text(35) }}</a></div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
  </div>
{# 
</div> #}
{% endblock %}