{% extends 'TopxiaWebBundle:Article:layout.html.twig' %}


{% block content %}
  <!-- 资讯 -->
  <div class="es-section article-list-header">
      {% include 'TopxiaWebBundle:Article:nav.html.twig' %}

      {% if not featuredArticles and is_granted('ROLE_ADMIN') %}
        <div class="alert alert-warning">头条大图轮播功能需先在后台资讯管理页面给正文上传图片以及添加头条属性<a href="{{ path('admin_article') }}">前往设置</a></div>
      {% endif %}

    <div class="row">
      <!-- 轮播图 -->
      <div class="aricle-carousel carousel slide col-md-8" id="aricle-carousel" data-ride="carousel">
        <ol class="carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
          {% if featuredArticles %}
            {% for featuredArticle in featuredArticles %}
                <div class="item {% if loop.index < 2 %}active{% endif %}">
                  <img src="{{ featuredArticle.picture }} ">
                  <div class="carousel-caption">
                   {{ featuredArticle.title }}
                  </div>
                </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="col-md-4 article-header-right hidden-sm hidden-xs">
        {% if promotedArticles %}
          {% for promotedArticle in promotedArticles %}
              <a href="javascript:;" class="topic-post-small {% if loop.index < 2 %}one{% else %}two{% endif %}">
                <div class="content">
                  <p>{{promotedCategories[promotedArticle['id']].name}}</p>
                  <h4 class="text">{{promotedArticle.title}}</h4>
                </div>
              </a>
          {% endfor %}
        {% endif %}
      </div>
      
    </div>
  </div>

  <div class="article-list-body row">
    <!-- list主内容-->
    <div class="col-md-8 article-list-mian">
      <section class="es-section">
        {% if latestArticles %}

          {% for article in latestArticles %}
            <article class="article-item">
              <div class="article-metas clearfix">
                <div class="pull-left">
                  <div class="date">
                    <div class="day">{{day[article.id]}}</div>
                    <div class="month">{{month[article.id]}}月</div>
                  </div>
                </div>
                <div class="metas-body">
                  <p>
                  {% for category in categories %}
                    {% if article.categoryId == category.id %}
                      {{ category.name }} 
                    {% endif %}
                  {% endfor %}
                  </p>
                  <h2 class="title"><a href="{{ path('article_detail', { id:article.id }) }}" >{{ article.title }}</a></h2>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  {% if article.thumb %}
                    <a href="{{ path('article_detail', { id:article.id }) }}">
                      <img class="media-object" src="{{ file_url(article.thumb) }}" alt="资讯缩略图">
                    </a>
                  {% endif %}
                </div>
                <div class="media-body">
                   {{ article.body|plain_text(150) }}
                </div>
              </div>
            </article>
          {% endfor %}
          <nav>
            {{ web_macro.paginator(paginator) }}
          </nav>
        
        {% else %}
          <div class="empty tac text-muted mvl">还没有任何资讯</div>
        {% endif %}
      </section>

    </div>

    <aside class="col-md-4 article-sidebar">
      <!-- 热门资讯 -->
        {{ render(controller('TopxiaWebBundle:Article:popularArticlesBlock')) }}
      <!-- 热门标签 -->
      <div class="panel panel-default hot-tag">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="iconfont icon-tag"></i>热门标签</h3>
        </div>
        <div class="panel-body">
          <a class="btn-tag" href="javascript:;">在线教育</a>
          <a class="btn-tag" href="javascript:;">产品动态</a>
          <a class="btn-tag" href="javascript:;">EduSoho</a>
          <a class="btn-tag" href="javascript:;">IOS</a>
          <a class="btn-tag" href="javascript:;">Java</a>
          <a class="btn-tag" href="javascript:;">Android</a>
          <a class="btn-tag" href="javascript:;">前端开发</a>
          <a class="btn-tag" href="javascript:;">在线教育</a>
          <a class="btn-tag" href="javascript:;">Android</a>
          <a class="btn-tag" href="javascript:;">EduSoho</a>
          <a class="btn-tag" href="javascript:;">IOS</a>
          <a class="btn-tag" href="javascript:;">Java</a>
        </div>
      </div>
      <!-- 热门评论 -->
      <div class="panel panel-default hot-comments">
        <div class="panel-heading"><i class="iconfont icon-message"></i>热门评论</div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <div class="pull-left">
                <a href=""><img src="img-temp/course_1.jpg" class="img-circle"></a>
              </div>
              <div class="comments-info">
                <p><a href="javascript:;">老大</a><span>评论于</span></p>
                <h5><a href="javascript:;">2014年最棒的八个UI设计灵感，你最中</a></h5>
              </div>
              <div class="comments-content">
                最喜欢google的material design灵感，绝对是最为领先的一种设计理念。
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <div class="pull-left">
                <img src="img-temp/course_1.jpg" class="img-circle">
              </div>
              <div class="comments-info">
                <p><a href="javascript:;">老大</a><span>评论于</span></p>
                <h5><a href="javascript:;">2014年最棒的八个UI设计灵感，你最中</a></h5>
              </div>
              <div class="comments-content">
                最喜欢google的material design灵感，绝对是最为领先的一种设计理念。
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <div class="pull-left">
                <img src="img-temp/course_1.jpg" class="img-circle">
              </div>
              <div class="comments-info">
                <p><a href="javascript:;">老大</a><span>评论于</span></p>
                <h5><a href="javascript:;">2014年最棒的八个UI设计灵感，你最中</a></h5>
              </div>
              <div class="comments-content">
                最喜欢google的material design灵感，绝对是最为领先的一种设计理念。
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <div class="pull-left">
                <img src="img-temp/course_1.jpg" class="img-circle">
              </div>
              <div class="comments-info">
                <p><a href="javascript:;">老大</a><span>评论于</span></p>
                <h5><a href="javascript:;">2014年最棒的八个UI设计灵感，你最中</a></h5>
              </div>
              <div class="comments-content">
                最喜欢google的material design灵感，绝对是最为领先的一种设计理念。
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 推荐资讯 -->
      {{ render(controller('TopxiaWebBundle:Article:recommendArticlesBlock')) }}
    </aside>
  </div>

{% endblock %}
