{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}

{% block title %}{{ articleSetting.name }}首页 - {{ parent() }}{% endblock %}

{% block content %}

<div class="es-row-wrap container-gap">

  <div class="row row-8-4 article-row">
    <div class="col-md-8">
      <ul class="nav nav-pills article-nav">
        <li class="active"><a href="{{ path('article_show') }}">{{ articleSetting.name }}首页</a></li>
        {% for category in categoryTree %}
          {% if category.parentId == 0 %}
            <li><a href="{{ path('article_category', {categoryCode:category.code}) }}">{{ category.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      {% if not featuredArticles and is_granted('ROLE_ADMIN') %}
        <div class="alert alert-warning">头条大图轮播功能需先在后台文章管理页面给正文上传图片以及添加头条属性<a href="{{ path('admin_article') }}">前往设置</a></div>
      {% else %}
        
        <div class="homepage-feature homepage-feature-slides mbl" data-cycle-overlay-template='{% verbatim %}{{title}}{% endverbatim %}'>
          <div class="cycle-overlay"></div>
            {% for featuredArticle in featuredArticles %}
                <a href="{{ path('article_detail', { id:featuredArticle.id }) }}" data-cycle-title="<a href='{{ path('article_detail', { id:featuredArticle.id }) }}'>{{ featuredArticle.title|plain_text(25) }}</a>" ><img src={{ featuredArticle.img }} alt="{{ featuredArticle.title }}"></a>
            {% endfor %}
        </div>
      {% endif %}

      <ul class="article-wide-list">
        {% for article in latestArticles %}
          {% set category = article.category %}
          <li class="media article-item clearfix">
            <div class="article-title text-muted">
              <div class="pull-left">
                <span><a href="{{ path('article_category', { categoryCode:category.code }) }}">{{ category.name }} </a> / {{ category.code }}
                </span>
              </div>
              <div class="published-time">{{ article.publishedTime|date('Y-m-d H:i') }}</div>
            </div>
            {% if article.picture %}
              <a class="pull-right article-picture-link" href="{{ path('article_detail', { id:article.id }) }}">
                <img class="article-picture" src="{{ asset(article.picture) }}" alt="文章缩略图">
              </a>
            {% endif %}
            <div class="media-body">
              <h4 class="media-heading"><a href="{{ path('article_detail', { id:article.id }) }}" >{{ article.title|plain_text(25) }}</a></h4>
              {{ article.body|plain_text(150) }}
            </div>
          </li>
        {% endfor %}
      </ul>

      {{ web_macro.paginator(paginator) }}
    </div>

    <div class="col-md-4">
      <div class="es-box">
        <div class="es-box-heading"><h2>最新评论</h2></div>
        <div class="es-box-body">
          <ul class="media-list latest-review-list">
            <li class="media">
              <a href="/user/229" class="author-picture-link">
                <img class="author-picture" src="/assets/img/default/avatar.png?2.5">
              </a>
              <a href="/user/229" class="author-nickname">简爱</a> <span class="text-muted">说：</span> <br>
              <div class="review-content">实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型</div>

              <div class="review-footer">
                <span class="text-muted">评论：</span><a href="/course/18" class="course-title"> 发廊「钱」规则之业绩提升「一倍」方案</a>
              </div>
            </li>
            <li class="media">
              <a href="/user/229" class="author-picture-link">
                <img class="author-picture" src="/assets/img/default/avatar.png?2.5">
              </a>
              <a href="/user/229" class="author-nickname">简爱</a> <span class="text-muted">说：</span> <br>
              <div class="review-content">实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型实战型</div>

              <div class="review-footer">
                <span class="text-muted">评论：</span><a href="/course/18" class="course-title"> 发廊「钱」规则之业绩提升「一倍」方案</a>
              </div>
            </li>
          </ul>    
        </div>
      </div>

      <div class="es-box">
        <div class="es-box-heading"><h2>热门文章</h2></div>
        <div class="es-box-body">
          <ul class="media-list">
            {% for key,hottestArticle in hottestArticles %}
              <li class="media">
                <span class="rank_num">{{ key+1 }}</span>
                <div class="media-body"><a href="{{ path('article_detail', { id:hottestArticle.id }) }}">{{ hottestArticle.title|plain_text(35) }}</a></div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}