{% extends 'TopxiaWebBundle:Article:layout.html.twig' %}


{% block article_main %}
  {% include 'TopxiaWebBundle:Article:nav.html.twig' %}

  {% if not featuredArticles and is_granted('ROLE_ADMIN') %}
    <div class="alert alert-warning">头条大图轮播功能需先在后台文章管理页面给正文上传图片以及添加头条属性<a href="{{ path('admin_article') }}">前往设置</a></div>
  {% else %}
    
    <div class="homepage-feature homepage-feature-slides mbl" data-cycle-overlay-template='{% verbatim %}{{title}}{% endverbatim %}'>
      <div class="cycle-overlay"></div>
        {% for featuredArticle in featuredArticles %}
            <a href="{{ path('article_detail', { id:featuredArticle.id }) }}" data-cycle-title="<a href='{{ path('article_detail', { id:featuredArticle.id }) }}'>{{ featuredArticle.title|plain_text(25) }}</a>" ><img src={{ featuredArticle.picture }} alt="{{ featuredArticle.title }}"></a>
        {% endfor %}
    </div>
  {% endif %}


  <ul class="article-wide-list">
    {% for article in latestArticles %}
      {% set category = article.category %}
      <li class="media article-item clearfix">
        <div class="article-title text-muted">
          <div class="pull-left">
            <span><a href="{{ path('article_category', { categoryCode:category.code }) }}">{{ category.name }} </a>
            </span>
          </div>
          <div class="published-time">{{ article.publishedTime|date('Y-m-d H:i') }}</div>
        </div>
        {% if article.picture %}
          <a class="pull-right article-picture-link" href="{{ path('article_detail', { id:article.id }) }}">
            <img class="article-picture" src="{{ asset(article.thumb) }}" alt="文章缩略图">
          </a>
        {% endif %}
        <div class="media-body">
          <h4 class="media-heading"><a href="{{ path('article_detail', { id:article.id }) }}" >{{ article.title|plain_text(25) }}</a></h4>
          {{ article.body|plain_text(150) }}
        </div>
      </li>
    {% endfor %}
  </ul>

  {{ web_macro.paginator(paginator) }}

{% endblock %}

{% block article_side %}
  {{ render(controller('TopxiaWebBundle:Article:popularArticlesBlock')) }}
  {{ render(controller('TopxiaWebBundle:Article:recommendArticlesBlock')) }}
{% endblock %}