{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{ setting.name }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/article.css') }}" />
{% endblock %}

{% set bodyClass = 'articlepage' %}

{% set script_controller = 'index' %}

{% block content %}

  <div class="es-row-wrap container-gap">

    {% block article_header %}
      <div class="row">
        <div class="col-md-12">
          <div class="page-header"><h1>{{ setting.name }}</h1></div>
        </div>
      </div>
    {% endblock %}

    <div class="row article-row">
      <div class="col-md-8">
        {% block article_main %}
          
        {% endblock %}
      </div>
      <div class="col-md-4">
        {% block article_side %}{% endblock %}
      </div>
    </div>
  </div>

{% endblock %}