{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{% if category.seoTitle %}{{ category.seoTitle }}{% else %}{{ category.name }}{% endif %} - {{ parent() }}{% endblock %}

{% block keywords %}{{ category.seoKeyword }}{% endblock %}

{% block description %}{{ category.seoDesc }}{% endblock %}

{% block content %}
<div id="content-container" class="container">
  <!-- 资讯 -->
  {{ render(controller('TopxiaWebBundle:Article:categoryNav', {categoryCode:categoryCode})) }}

  <div class="article-list-body row">
    <!-- list主内容-->
    <div class="col-md-8 article-list-mian">
      <section class="es-section">
      {% if articles %}
        {% for article in articles %}
        <article class="article-item">
          <div class="article-metas clearfix">
            <div class="pull-left">
              <div class="date">
                <div class="day">{{day[article.id]}}</div>
                <div class="month">{{month[article.id]}}月</div>
              </div>
            </div>
            <div class="metas-body">
              <p>
                  {% for category in categories %}
                    {% if article.categoryId == category.id %}
                      {{ category.name }} 
                    {% endif %}
                  {% endfor %}
              </p>
              <h2 class="title"><a href="{{ path('article_detail', { id:article.id }) }}" >{{ article.title }}</a></h2>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
                  {% if article.thumb %}
                    <a href="{{ path('article_detail', { id:article.id }) }}">
                      <img class="media-object" src="{{ file_url(article.thumb) }}" alt="资讯缩略图">
                    </a>
                  {% endif %}
            </div>
            <div class="media-body">
                   {{ article.body|plain_text(150) }}
            </div>
          </div>
        </article>
          {% endfor %}
        <nav>
            {{ web_macro.paginator(paginator) }}
        </nav>
        {% else %}
          <div class="empty tac text-muted mvl">还没有任何资讯</div>
        {% endif %}
      </section>
    </div>
        {% include 'TopxiaWebBundle:Article:sidebar.html.twig' %}

    </div>
    </div>

{% endblock %}
