{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{% if category.seoTitle %}{{ category.seoTitle }}{% else %}{{ category.name }}{% endif %} - {{ parent() }}{% endblock %}

{% block keywords %}{{ category.seoKeyword }}{% endblock %}

{% block description %}{{ category.seoDesc }}{% endblock %}

{% block content %}
<section class="container es-main">
  <!-- 资讯 -->
  <section class="es-section article-list-header">
    {% set currentNavCategory = categoryCode|default(null) %}
    {% set rootCategory = rootCategory.code|default(null) %}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" {% if not currentNavCategory %}  class="active" {% endif %}><a href="{{ path('article_show') }}">{{ setting.name }}</a></li>
      {% for cat in categoryTree %}
        {% if cat.parentId == 0 and cat.published == 1 %}
           <li class="{% if rootCategory == cat.code %}active{% endif %}" role="presentation"><a href="{{ path('article_category', {categoryCode:cat.code}) }}">{{ cat.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="second-cat-nav">
    {% for cat in subCategories %}
      {% if cat.published == 1 %}
        <li {% if category.id == cat.id %}class="active"{% endif %}>
          <a href="{{ path('article_category', {categoryCode:cat.code}) }}">
          {% if cat.depth > 1 %}
            {% for i in 0..(cat.depth-1) %}&nbsp;&nbsp;{% endfor %}
          {% endif %}
          {{ cat.name }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
    <ul class="third-cat-nav">
      <li class="active"><a href="">全部</a></li>
      <li><a href="">股市</a></li>
      <li><a href="">比特币</a></li>
      <li><a href="">莱特币</a></li>
      <li><a href="">在线支付</a></li>
    </ul>


  </section>

  <div class="article-list-body row">
    <!-- list主内容-->
    <div class="col-md-8 article-list-mian">
      <section class="es-section">
      {% if articles %}
                {% for article in articles %}
        <article class="article-item">
          <div class="article-metas clearfix">
            <div class="pull-left">
              <div class="date">
                <div class="day">{{day[article.id]}}</div>
                <div class="month">{{month[article.id]}}月</div>
              </div>
            </div>
            <div class="metas-body">
              <p>
                  {% for category in categories %}
                    {% if article.categoryId == category.id %}
                      {{ category.name }} 
                    {% endif %}
                  {% endfor %}
              </p>
              <h2 class="title"><a href="{{ path('article_detail', { id:article.id }) }}" >{{ article.title }}</a></h2>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
                  {% if article.thumb %}
                    <a href="{{ path('article_detail', { id:article.id }) }}">
                      <img class="media-object" src="{{ file_url(article.thumb) }}" alt="资讯缩略图">
                    </a>
                  {% endif %}
            </div>
            <div class="media-body">
                   {{ article.body|plain_text(150) }}
            </div>
          </div>
        </article>
          {% endfor %}
        <nav>
            {{ web_macro.paginator(paginator) }}
        </nav>
        {% else %}
          <div class="empty tac text-muted mvl">还没有任何资讯</div>
        {% endif %}
      </section>
    </div>

    <aside class="col-md-4 article-sidebar">
     <!-- 热门资讯 -->
        {{ render(controller('TopxiaWebBundle:Article:popularArticlesBlock')) }}
      <!-- 热门标签 -->
      {% set tags = data('Tags',{'count':5}) %}
        {% if tags %}

      <div class="panel panel-default hot-tag">

        <div class="panel-heading">
          <h3 class="panel-title"><i class="iconfont icon-tag"></i>热门标签</h3>
        </div>
        <div class="panel-body">
                {% for tag in tags %}
                  {% if tag %} 
                    <a class="btn-tag" href="{{ path('tag_show', {name:tag.name}) }}"> {{ tag.name }}</a>
                  {% endif %}
                {% endfor %}
        </div>
      </div>
      {% endif %}
      <!-- 热门评论 -->
      <div class="panel panel-default hot-comments">
        <div class="panel-heading"><i class="iconfont icon-message"></i>热门评论</div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <div class="pull-left">
                <img src="img-temp/course_1.jpg" class="img-circle">
              </div>
              <div class="comments-info">
                <p><a href="javascript:;">老大</a><span>评论于</span></p>
                <h5><a href="javascript:;">2014年最棒的八个UI设计灵感，你最中</a></h5>
              </div>
              <div class="comments-content">
                最喜欢google的material design灵感，绝对是最为领先的一种设计理念。
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <div class="pull-left">
                <img src="img-temp/course_1.jpg" class="img-circle">
              </div>
              <div class="comments-info">
                <p><a href="javascript:;">老大</a><span>评论于</span></p>
                <h5><a href="javascript:;">2014年最棒的八个UI设计灵感，你最中</a></h5>
              </div>
              <div class="comments-content">
                最喜欢google的material design灵感，绝对是最为领先的一种设计理念。
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <div class="pull-left">
                <img src="img-temp/course_1.jpg" class="img-circle">
              </div>
              <div class="comments-info">
                <p><a href="javascript:;">老大</a><span>评论于</span></p>
                <h5><a href="javascript:;">2014年最棒的八个UI设计灵感，你最中</a></h5>
              </div>
              <div class="comments-content">
                最喜欢google的material design灵感，绝对是最为领先的一种设计理念。
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <div class="pull-left">
                <img src="img-temp/course_1.jpg" class="img-circle">
              </div>
              <div class="comments-info">
                <p><a href="javascript:;">老大</a><span>评论于</span></p>
                <h5><a href="javascript:;">2014年最棒的八个UI设计灵感，你最中</a></h5>
              </div>
              <div class="comments-content">
                最喜欢google的material design灵感，绝对是最为领先的一种设计理念。
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 推荐资讯 -->
      {{ render(controller('TopxiaWebBundle:Article:recommendArticlesBlock')) }}
    </aside>
  </div>
</section>

{% endblock %}
