{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{% if category.seoTitle %}{{ category.seoTitle }}{% else %}{{ category.name }}{% endif %} - {{ parent() }}{% endblock %}

{% block keywords %}{{ category.seoKeyword }}{% endblock %}

{% block description %}{{ category.seoDesc }}{% endblock %}


{% set bodyClass = 'artcile-cat-page' %}

{% block content %}

  {{ render(controller('TopxiaWebBundle:Article:categoryNav', {categoryCode:categoryCode})) }}

  <div class="article-list-body row">
    <div class="col-md-8 article-list-main">
      {% include 'TopxiaWebBundle:Article/Part:list-main.html.twig' %}
    </div>
    
    <aside class="col-md-4 article-sidebar">
      {% include 'TopxiaWebBundle:Article/Widget:sidebar.html.twig' %}
    </aside>
  </div>

{% endblock %}
