<div id="material-detail" class="material-detail-widget">
  <div class="header clearfix">
    <h1>资源详情</h1>
    <a href="javascript:;" class="js-back">返回列表</a>
  </div>
  <div class="content">
    <ul class="nav nav-pills">
      <li role="presentation" class="active js-info" data-target="#info-tab"><a href="#info-tab">基本信息</a></li>

      {% if material.type == 'video' %}
        <li role="presentation" class="js-cover" data-target="#cover-tab"><a href="#cover-tab">封面图片</a></li>
      {% endif %}
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="info-tab">
        <form class="form-horizontal" id="info-form" action="{{ path('material_edit', {globalId:material.no}) }}">
          <div class="form-group">
            <label for="name" class="col-md-2 control-label">标题</label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="name" name="name" required="true" placeholder="标题" value="{{ material.name }}">
            </div>
          </div>
          <div class="form-group">
            <label for="tags" class="col-md-2 control-label">标签</label>
            <div class="col-md-6">
              <input type="text" class="width-full select2-offscreen" id="tags" name="tags" value="{{ material.tags|join(',') }}" placeholder="标签" data-url="{{ path('tag_match') }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">简介</label>
            <div class="col-md-6 controls">
              <textarea id="description" name="description" class="form-control" rows="6">{{ material.description }}</textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">共享</label>
            <div class="col-md-6 controls">
              <div class="radio">
                <label>
                  <input type="radio" name="isPublic" value="1" {% if material.isPublic|default(0) %}checked{% endif %}>
                  共享到公共资料<span class="text-muted">（其他老师可以查看、预览、引用该资料）</span>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="isPublic" value="0" {% if not material.isPublic|default(0) %}checked{% endif %}>
                  仅自己可见
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-offset-2 col-md-8 controls">
            <button class="btn btn-fat btn-primary" id="info-save-btn" data-loading-text="正在保存..." type="submit">保存</button>
        </div>
        </form>
      </div>

      {% if material.type == 'video' %}
        <div class="tab-pane" id="cover-tab">
          {% if material.processStatus == 'ok' %}
          <form class="form-horizontal" id="cover-form" action="{{ path('material_edit', {globalId:material.no}) }}">
            <div class="form-group">
              <label for="name" class="col-md-2 control-label">封面</label>
              <div class="col-md-4">
                <img class="js-cover-img" src="{{ asset(material.thumbnail|default('assets/img/default/cloud_' ~ material.type ~ '.jpg')) }}">
              </div>


                <div class="col-md-6" id="thumbnail-set">
                  <div class="links" style="padding-left:15px;">
                    <a class="js-set-default disabled" href="#default-thumbnails">默认</a>
                    <a class="js-set-select" href="#self-select">自选</a>
                  </div>

                  <div class="thumbnail-pane active" id="default-thumbnails">
                    {% for thumbnail in thumbnails %}
                      <div class="col-md-4" style="padding-bottom:10px">
                        <img class="js-img-set" style="cursor: pointer;" src="{{ asset(thumbnail.url) }}" data-no="{{ thumbnail.no }}">
                      </div>
                    {% endfor %}
                  </div>

                  <div class="thumbnail-pane" id="self-select">
                    <div class="video-player-container">
                      <iframe src="{{ path('admin_material_play', {globalId:material.no}) }}" id="viewerIframe" width="100%" allowfullscreen webkitallowfullscreen height="100%" style="border:0px"></iframe>
                    </div>
                  </div>

                </div>
            </div>

            <input type="hidden" name="thumbNo" id="thumbNo">
            <input type="hidden" id="orignalThumb" value="{{ asset(material.thumbnail) }}">
              <div class="col-md-offset-2 col-md-8 controls">
                <a class="btn btn-fat btn-info js-reset-btn" href="javascript:;">还原</a>
                <a class="btn btn-fat btn-info js-screenshot-btn pull-right hide" href="javascript:;" data-url="{{ path('material_thumbnail_generate', {globalId:material.no}) }}" data-loading-text="正在生成截图，请稍等...">截图</a>
                <button class="btn btn-fat btn-primary" id="save-btn" data-loading-text="正在保存..." type="submit">保存</button>
              </div>
          </form>
          {% else %}
            <div class="empty text-muted">
              视频还没有转码完成，请等待转码完成......
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

</div>
