<div id="analysis-edit-modal" class="cd-modal modal in js-analysis-modal" aria-hidden="true">
  <div class="modal-dialog cd-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="cd-icon cd-icon-close"></i>
        </button>
        <h4 class="modal-title">{{'course.testpaper_manage.import.re_edit.edit_analysis'|trans}}</h4>
      </div>
      <div class="modal-body cd-mb24">
        <textarea class="form-control js-analysis-field" style="height:190px;" id="question-analysis-field" data-image-upload-url="{{ path('editor_upload', {token:upload_token('course')}) }}"  data-image-download-url="{{ path('editor_download', {token:upload_token('course')}) }}"></textarea>
      </div>
      <div class="modal-footer">
        <button class="cd-btn cd-btn-link-default" data-dismiss="modal" type="button">{{ 'form.btn.cancel'|trans }}</button>
        <button class="cd-btn cd-btn-primary js-analysis-btn" id="analysis-set-btn" data-loading-text="{{'form.btn.hand_in.submiting'|trans}}..">{{'form.btn.confirm'|trans}}</button>
      </div>
    </div>
  </div>
</div>