<div class="modal cd-modal in js-belong-modal" aria-hidden="true">
  <div class="modal-dialog cd-modal-dialog" data-clear="{{ closeClear|default(0) }}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="cd-icon cd-icon-close"></i>
        </button>
        <h4 class="modal-title">{{ 'course.testpaper_manage.import.re_edit.batch_set_belong'|trans }}</h4>
      </div>

      <div class="modal-body overflow-unset">
        <div class="subject-state-content clearfix">
          <span>{{'course.testpaper_manage.import.re_edit.selected'|trans}}</span><div class="subject-state-content__text js-select"></div>
        </div>
        <form class="form-horizontal subject-state-form mt20" id="batch-set-belong-form">
          <div class="form-group cd-mb24">
            <div class="col-md-2 control-label subject-state-form__label"><label>{{'course.question_manage.manage.belong'|trans}}</label></div>
            <div class="col-md-9 controls">
              <div class="cd-select width-150" id="courseBelong" data-url="{{ path('course_set_manage_show_tasks',{courseSetId:courseSetId})}}">
                <input type="hidden" value="0" name="courseId" />
                <div class="select-value text-overflow">{{'course.question_manage.manage.default_belong'|trans}}</div>
                <ul class="select-options">
                  <li class="checked" data-value="0" >{{'course.question_manage.manage.default_belong'|trans}}</li>
                  {% for course in courses if course %}
                    <li data-value="{{ course.id }}" class="{% if loop.index == 1 %}tip-count-1{% endif %}" title="{{ get_course_title(course) }}" data-toggle="tooltip" data-placement="top">{{ get_course_title(course) }}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="cd-select width-150" style="display:none;" id="lessonBelong">
                <input type="hidden" value="0" name="lessonId" />
                <div class="select-value">{{'course.question_manage.manage.choose'|trans}}</div>
                <ul class="select-options js-lesson-options">
                  <li class="checked" data-value="0">{{'course.question_manage.manage.choose'|trans}}</li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="cd-btn cd-btn-link-default" data-dismiss="modal">{{ 'form.btn.cancel'|trans }}</button>
        <button type="button" class="btn cd-btn cd-btn-primary js-batch-set-belong">{{ 'form.btn.confirm'|trans }}</button>
      </div>
    </div>
  </div>
</div>