{% set singleData = [
  {
    "title": '科目汇总表的总范围是（）',
    "type": 'single_choice',
    "flag": 1,
    "order": 1,
    "options": [
      {
        "order": 'A',
        "text": '全部账户的借方余额1',
        "check": 0,
        "flag": 0
      },
      {
        "order": 'B',
        "text": '全部账户的借方余额2',
        "check": 1,
        "flag": 0
      },
      {
        "order": 'C',
        "text": '全部账户的借方余额3',
        "check": 0,
        "flag": 0
      },
      {
        "order": 'D',
        "text": '全部账户的借方余额4',
        "check": 0,
        "flag": 0
      },
      {
        "order": 'E',
        "text": '全部账户的借方余额5',
        "check": 0,
        "flag": 0
      },
    ],
    'difficulty': '一般',
    'score': '5',
    'errors': [],
  }, 
  {
    "title": '科目汇总表的总范围是（）',
    "type": 'choice',
    "flag": 1,
    "order": 2,
    "options": [
      {
        "order": 'A',
        "text": '',
        "check": 0,
        "flag": 1,
      },
      {
        "order": 'B',
        "text": '全部账户的借方余额2',
        "check": 1,
        "flag":0,
      },
      {
        "order": 'C',
        "text": '全部账户的借方余额3',
        "check": 1,
        "flag": 0,
      },
      {
        "order": 'D',
        "text": '全部账户的借方余额4',
        "check": 0,
        "flag": 0,
      },
      {
        "order": 'E',
        "text": '全部账户的借方余额5',
        "check": 0,
        "flag": 0
      },
    ],
    'difficulty': '一般',
    'score': '5',
    'errors': [
      {
        "element" : "stem",
        "index" : 0,
        "code" : 40487,
        "message" : "题干有特殊字符",
      },
    ],
  },
  {
    "title": '科目汇总表的总范围是全部账户的借、贷方发生额。',
    "type": 'determine',
    "flag": 0,
    "order": 3,
    'difficulty': '一般',
    'score': '5',
    "options": [
      {
        "text": '正确',
        "check": 0,
      },
      {
        "text": '错误',
        "check": 1
      },
    ],
    'errors': [],
  }
] %}


{% for item in singleData %}
  <div class="subject-item" id="{{ item.order }}">
    <div class="subject-item__title">
      <span class="subject-item__number {% if item.flag == 1 %}subject-item__number--danger{% endif %}">{{ loop.index }}</span> {{ item.title }}
    </div>
    <div class="subject-item__body">
      {% set options = item.options %}
      {% if item.type == 'determine' %}
        {% for option in options %}
          <label class="cd-radio single-item subject-forbid {% if option.check == 1 %}checked{% endif %}">
            <input type="radio" data-toggle="cd-radio" name="right" value="true"><span class="single-item__text">{{ option.text }}</span>
          </label>
        {% endfor %}
      {% else %}
        
        {% for option in options %}
          {% if item.type == 'single_choice' %}
            <label class="cd-radio single-item subject-forbid {% if option.check == 1 %}checked{% endif %}">
              <input type="radio" data-toggle="cd-radio" name="right" value="{{'option' ~ loop.index }}"><span>{{ option.order}}. </span><span class="single-item__text {% if option.flag == 1 %}single-item__text--danger{% endif %}">{% if option.flag == 1 %}缺少选项，请点击“编辑”进行设置。{% else %}{{ option.text }}{% endif %}</span>
            </label>
          {% else %}
            <label class="cd-checkbox single-item subject-forbid {% if option.check == 1 %}checked{% endif %}">
              <input type="checkbox" data-toggle="cd-checkbox" name="rightAnswers" value="{{'option' ~ loop.index }}"><span>{{ option.order}}. </span><span class="single-item__text {% if option.flag == 1 %}single-item__text--danger{% endif %}">{% if option.flag == 1 %}缺少选项，请点击“编辑”进行设置。{% else %}{{ option.text }}{% endif %}</span>
            </label>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    {% include 'testpaper/subject/common.html.twig' with { type: 'fill', difficulty: item.difficulty, score: item.score } %}
  </div>
{% endfor %}