<div id="cd-modal" class="cd-modal cd-fade cd-in modal">
  <div class="cd-modal-dialog" id="cd-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="cd-icon cd-icon-close"></i>
        </button>
        <h4 class="modal-title">添加新题</h4>
      </div>
      <div class="modal-body create-subject-body">
        <div class="cd-dark-major create-subject-label">选择题型</div>
        <div class="create-subject-list">
          <button class="cd-btn cd-btn-ghost-primary create-subject-btn js-create-btn" type="button" data-type="single_choice" data-url="{{ path('subject_edit_template', {type:'single_choice' })}}">单选题</button>
          <button class="cd-btn cd-btn-ghost-primary create-subject-btn js-create-btn" type="button" data-type="choice" data-url="{{ path('subject_edit_template', {type:'choice' })}}">多选题</button>
          <button class="cd-btn cd-btn-ghost-primary create-subject-btn js-create-btn" type="button" data-type="uncertain_choice" data-url="{{ path('subject_edit_template', {type:'uncertain_choice' })}}">不定项</button>
          <button class="cd-btn cd-btn-ghost-primary create-subject-btn js-create-btn" type="button" data-type="determine" data-url="{{ path('subject_edit_template', {type:'determine' })}}">判断题</button>
          <button class="cd-btn cd-btn-ghost-primary create-subject-btn js-create-btn" type="button" data-type="fill" data-url="{{ path('subject_edit_template', {type:'fill' })}}">填空题</button>
          <button class="cd-btn cd-btn-ghost-primary create-subject-btn js-create-btn" type="button" data-type="essay" data-url="{{ path('subject_edit_template', {type:'essay' })}}">问答题</button>
          <button class="cd-btn cd-btn-ghost-primary create-subject-btn js-create-btn" type="button" data-type="material" data-url="{{ path('subject_edit_template', {type:'material' })}}">材料题</button>
        </div>
      </div>
    </div>
  </div>
</div>