<div class="subject-list subject-rect js-subject-list cd-mt16">
  <div class="subject-rect__title">题目列表</div>
  <div class="subject-list__tip">第<span>2、7</span>题有违规</div>
  <div class="subject-list__body js-subject-list-body row">
    {% for key,item in questions %}
      <div class="col-sm-3 subject-list-item">
        <div class="subject-list-item__num {% if item.errors is defined %}subject-list-item__num--error{% endif %} js-subject-anchor" data-anchor="{{'#' ~ loop.index }}">
          {{ loop.index }}
          {% if item.type != 'material' %}
            <label class="sb-checkbox cd-checkbox js-show-checkbox hidden" data-type="{{ item.type }}" data-name="{{ item.stem }}" data-order="{{ loop.index }}"><input type="checkbox" data-toggle="cd-checkbox"></label>
          {% endif %}
        </div>
        {{ dict_text('questionType', item.type)|slice(0,3) }}
      </div>
    {% endfor %}
  </div>
  <button class="cd-btn cd-btn-primary btn-block js-batch-btn" type="button">批量操作</button>
  <div class="subject-batch js-subject-wrap hidden">
    <label class="cd-checkbox subject-batch-checkbox js-batch-select"><input type="checkbox" data-toggle="cd-checkbox"> 全选</label>
    <div class="row">
      <div class="col-sm-6"><a href="javascript:;" class="js-score-setting">批量设置分数</a></div>
      <div class="col-sm-6 text-right"><a href="javascript:;" class="js-difficult-setting">批量设置难度</a></div>
    </div>
    <button class="cd-btn cd-btn-primary btn-block cd-mt8 js-finish-btn" type="button">完成</button>
  </div>
</div>