{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block title %}{{'admin_v2.user.destroy_account_record.detail'|trans}}{% endblock %}

{% block body %}
<form class="form-horizontal">
  <div class="form-group">
    <div class="col-md-3 control-label">
      <label>{{ 'admin_v2.user.destroy_account_record.origin_mobile'|trans }}</label>
    </div>
    <div class="col-md-8 controls pts">{{ record.mobile|default('--') }}</div>
  </div>
  <div class="form-group">
    <div class="col-md-3 control-label">
      <label>{{ 'admin_v2.user.destroy_account_record.origin_email'|trans }}</label>
    </div>
    <div class="col-md-8 controls pts">{% if not is_system_generated_email(record.email) %}{{ record.email }}{% else %}--{% endif %}</div>
  </div>
  <div class="form-group">
    <div class="col-md-3 control-label">
      <label for="status">{{'admin_v2.user.destroy_account_record.reason'|trans}}</label>
    </div>
    <div class="col-md-8 controls pts">{{ record.reason|default('') }}</div>
  </div>
  <div class="form-group">
    <div class="col-md-3 control-label">
      <label for="status">{{'admin_v2.user.destroy_account_record.status'|trans}}</label>
    </div>
    <div class="col-md-8 controls pts">
      {% if record.status == 'audit' %}
        {{ 'admin_v2.user.destroy_account_record.status_audit'|trans }}
      {% elseif record.status == 'rejected' %}
        {{ 'admin_v2.user.destroy_account_record.status_rejected'|trans }}
      {% elseif record.status == 'cancel' %}
        {{ 'admin_v2.user.destroy_account_record.status_cancel'|trans }}
      {% elseif record.status == 'passed' %}
        {{ 'admin_v2.user.destroy_account_record.status_passed'|trans }}
      {% endif %}
    </div>
  </div>
  {% if record.status == 'passed' %}
    <div class="form-group">
      <div class="col-md-3 control-label">
        <label>{{ 'admin_v2.destroy_account.destroyed_account.number'|trans }}</label>
      </div>
      <div class="col-md-8 controls pts">{{ destroyedUser.nickname }}</div>
    </div>
  {% endif %}
  {% if record.rejectedReason|default('') %}
  <div class="form-group">
    <div class="col-md-3 control-label">
      <label for="status">{{'admin_v2.user.destroy_account_record.rejectedReson'|trans}}</label>
    </div>
    <div class="col-md-8 controls pts">{{ record.rejectedReason|default('') }}</div>
  </div>
  {% endif %}
</form>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal">{{'form.btn.confirm'|trans}}</button>
{% endblock %}