{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}我的帖子... - {{ parent() }}{% endblock %}

{% set nav = 'my-threads' %}

{% set bodyClass = 'my-threads' %}

{% block content %}

<div class="row">
    {% include 'TopxiaWebBundle:My:my-nav.html.twig' %}

    <div class="col-lg-9">
        <div class="panel panel-col">
            <div class="panel-heading">
               我的帖子
            </div>

            <div class="panel-body">
                {% if myThreads is empty %}
                    你还没有发表任何帖子！
                {% else %}
                    {% for myThread in myThreads %}

                        <div class="my-thread">
                            <div class="myThread-title">
                                <label>帖子名称:</label>
                                <a href="{{path('course_thread_show', {courseId:myThread.courseId, id:myThread.id})}}"> {{myThread.title | plain_text(20) }} </a>
                            </div>
                            <div class="myThread-content">
                                <label>帖子内容: </label> {{myThread.content | plain_text(40) }}
                            </div>
                            <div class="course-name"> 
                                <label> 对应课程名 ： </label>{{courses[myThread.courseId].title | plain_text(20) }}
                            </div>

                           {% include 'TopxiaWebBundle:MyThread:mythread-status.html.twig' with {myThread: myThread} %}

                            <div class="createdTime"> 
                                <label> 创建时间：</label>{{myThread.createdTime | date('Y-n-d H:i:s') }}
                            </div>
                            <div class="latestPostTime">
                                <label> 最后回复：</label>
                                {{users[myThread['latestPostUserId']]['nickname']}}
                                {{myThread.latestPostTime | smart_time }}
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
      {{ web_macro.paginator(paginator) }} 
    </div>

</div>

{% endblock %}