<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading" >
      <h3 class="panel-title">云视频包状态</h3>
    </div>
    <div class="panel-body" style="height: 250px;">
      {% set bill = storage.bill|default(null) %}

      {#<h4 class="eduyun-title">
        云视频
        {% if storage %}
          <a href="{{path('admin_cloud_detail')}}" target="_blank" >账单</a>
        {% endif %}
        {% if storage.ableRenew|default(0) %}
          <a href="{{ path('admin_cloud_video_renew') }}" target="_blank">续费</a> 
        {% endif %}

        {% if storage.isBuyVideo|default(0) %}
          <a href="{{ path('admin_cloud_video_upgrade') }}" target="_blank">升级</a> 
        {% endif %}
      </h4> #}
      <!--未购买-->
      {% if videoInfo.enableBuyVideo|default(0) != 1 %}
        <div class="edu-verticalmiddle">
          <div class="edu-verticalmiddle-content"><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i><a class="mhm" href="{{ path('admin_cloud_video',{type:'video'}) }}" target="_blank">购买</a>云视频包，享受更优惠的视频托管服务</div> 
        </div>
      {% else %}
      <div class="alert alert-info" role="alert">
        {% if tlpInfo|default(0) %}
          已开通TLP安全加固服务
        {% else %}
        TLP安全加固服务，防盗播、防恶意下载，<a href="{{ path('admin_cloud_tlp') }}" target="_blank">了解详情</a>
        {% endif %}
      </div>
      <p>
        <span class="text-muted mrm">存储空间: {{ videoInfo.freeSpace }}GB</span>
        {% if not videoInfo.renewVideo.effectiveDate|default(0) %}
        <a href="{{ path('admin_cloud_video_renew') }}" target="_blank">续费</a>
        <a href="{{ path('admin_cloud_video_upgrade') }}" target="_blank">升级</a>
        {% else %}
        <span>
          已续费（将于{{ videoInfo.renewVideo.effectiveDate|date("Y年n月j日") }}生效)
        </span>
        {% endif %}
      </p>
      <p class="text-muted">流量: {{ videoInfo.freeTransfer }}GB</p>
      {% if videoInfo.startMonth and videoInfo.endMonth %}
        <p class="text-muted">服务期限: {{ videoInfo.startMonth|date('Y.n.d') }} ~ {{ videoInfo.endMonth|date('Y.n.d') }}
      {% endif %}
      {% if videoInfo.remaining > 0 and videoInfo.remaining < 30 %}
        <p class="text-danger text-sm">您的云视频包将于{{ 30 - videoInfo.remaining }}天后到期，请尽快续费</p>
      {% elseif videoInfo.remaining <= 0 %}
        <p class="text-danger text-sm">您的云视频包已到期，请尽快续费</p>
      {% endif %}


       {# {% if not storage.isBuyVideo|default(0) and not bill %}
          <div class="alert alert-warning alert-sm" role="alert">
            <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i><a href="{{ path('admin_cloud_buy',{type:'video'}) }}" target="_blank">购买</a>云视频包，享受优惠的视频服务
          </div>
          <p class="text-muted">空间用量暂无记录</p>
          <p class="text-muted">已用流量暂无记录</p>
        {% endif %}

        {% if storage.isBuyVideo|default(0) and not bill  %}
          <p class="text-muted">空间用量暂无记录</p>
          <p class="text-muted">已用流量暂无记录</p>
          <p class="text-muted">云视频包有效期：{{storageStart|default('')}}~{{storageEnd|default('')}}</p>
        {% endif %}

        {% if not storage.isBuyVideo|default(0) and bill %}
          <div class="alert alert-warning alert-sm" role="alert">
            <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i><a href="{{ path('admin_cloud_buy',{type:'video'}) }}" target="_blank">购买</a>云视频包，享受优惠的视频文档服务
          </div>
          <p class="text-muted">{{month|default('上')}}月空间用量：{{bill.space|default(0)}}G</p>
          <p class="text-muted">{{month|default('上')}}月流量：{{bill.transfer|default(0)}}G</p>
        {% endif %}

        {% if storage.isBuyVideo|default(0) and bill %}
          <p class="text-muted">{{month|default('上')}}月空间用量：{{bill.space|default(0)}}G</p>
          <p class="text-muted">{{month|default('上')}}月流量：{{bill.transfer|default(0)}}G</p>
          <p class="text-muted">云视频包有效期：{{storage.startMonth|default('')}}~{{storage.endMonth|default('')}}</p>
        {% endif %}

        {% if storage.freeTransfer|default(0) != 0 or storage.freeSpace|default(0) != 0 %}

          {% if storageDate|default(31)  == 0 %}
            <p class="text-danger text-sm" >云视频视频包将于明天过期</p>
          {% endif %}
          <!--30天过期  -->
          {% if 30 >= storageDate|default(31)  and storageDate|default(31)  > 0 %}
            <p class="text-danger text-sm" >云视频视频包将于{{storageDate}}天后过期</p>
          {% endif %}
          <!--已过期 -->
          {% if storageDate|default(31)  < 0 %}
            <p class="text-danger text-sm" >
              云视频包已过期
            </p>
          {% endif %}

        {% endif %}#}
      {% endif %}
      
    </div>
  </div>
</div>