          <div class="alert alert-warning edu-balance" role="alert">
            <h4 class="eduyun-title text-muted" style="color:#555;">
              账户余额<a href="http://open.edusoho.com/article/1#recharge" target="_blank" style="float:none;"><i class="glyphicon glyphicon-question-sign"></i></a>
            </h4>
            <p>
              {% if cashInfo.cash|default('0') > 0 %}
                <span class="text-warning balance">{{ cashInfo.cash|default(0) }}</span>元
              {% else %}
                <span class="text-danger balance">{{ cashinfo.cash|default(0) }}</span>元
              {% endif %}
              <a href="{{path('admin_cloud_recharge')}}" class="btn-recharge btn btn-warning" target="_blank" style="vertical-align:top">充值</a>
              <a href="{{path('admin_cloud_detail')}}" class="btn btn-link" target="_blank" style="vertical-align:top">查看账单</a>  
            </p> 
            {% if  cashInfo.cash|default(0) < 50 and cashInfo.cash|default(0) >= 0 %}
              <p class="text-danger text-sm">你的余额不足50元，请尽快充值，以免影响正常使用。</p>
            {% elseif cashInfo.cash|default(0) < 0 %}
              {% if cashInfo.arrearageDays < 7 %}
                <p class="text-danger text-sm">您已欠费，教育云将于{{ 7 - cashInfo.arrearageDays }}天后暂停，请尽快充值，以免影响正常使用</p>
              {% else %}
                <p class="text-danger text-sm">您已欠费{{ cashInfo.arrearageDays }}天，教育云服务已暂停，请尽快充值</p>
              {% endif %}
            {% endif %}
            <hr>
            代金券余额：<span class="" >{{ couponInfo.balance|default("0.00") }}</span>
            <a href="" style="margin-left:50px">激活代金券</a>
           {# {% if account %}
           <!--不足50元-->
           {% if 0 < content.account.cash|default(0) and content.account.cash|default(0) < 50 %}
           <p class="text-danger text-sm">余额不足50元，请尽快充值！</p>
           {% endif %}
           <!--欠费7天预留保护期-->
           {% if content.account.cash|default(0) < 0 and 0 < day|default(0) and day|default(0) <= 7 %}
           <p class="text-danger text-sm">您已欠费，还剩{{7-day}}天的预留保护期，请尽快充值！</p>
           {% endif %}
           <!--欠费冻结-->
           {% if content.account.cash|default(0) < 0 and 10 <= day|default(0) %}
           <p class="text-danger text-sm">您已欠费超过{{day}}天，教育云服务已暂停，请尽快充值！</p>
           {% endif %}
           {% endif %}#}
          </div>    