{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_cloud_video_overview' %}
{% set script_controller = 'setting/cloud' %}
{% block main %}

  <style>
    .webuploader-container {
      position: relative;
    }

    .webuploader-element-invisible {
      position: absolute !important;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
    }

    .webuploader-pick {
      position: relative;
      display: inline-block;
      cursor: pointer;
      background: #fff;
      padding: 5px 10px;
      color: #333;
      text-align: center;
      border-radius: 3px;
      border: 1px solid #ccc;
      overflow: hidden;
    }

    .webuploader-pick-hover {
      background: #e6e6e6;
      border-color: #adadad;
    }

    .webuploader-pick-disable {
      opacity: 0.6;
      pointer-events: none;
    }

    .balloon-uploader {
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    .balloon-uploader-heading {
      background-color: #f5f5f5;
      color: #333;
      padding: 10px 15px;
      border-bottom: 1px solid #ddd;
      display: none;
    }

    .balloon-uploader-footer {
      background-color: #f5f5f5;
      color: #333;
      padding: 10px 15px;
      border-top: 1px solid #ddd;
      text-align: right;
    }

    .balloon-filelist {
      width: 100%;
    }

    .balloon-filelist-heading {
      position: relative;
      font-weight: bold;
      border-bottom: 2px solid #ddd;
    }

    .balloon-uploader-body {
      position: relative;

    }

    .balloon-filelist .file-name,
    .balloon-filelist .file-size,
    .balloon-filelist .file-status,
    .balloon-filelist .file-manage {
      position: relative;
      z-index: 1;
    }

    .balloon-filelist .file-name {
      margin-right: 250px;
      padding: 8px;
    }

    .balloon-filelist .file-size {
      position: absolute;
      top: 0px;
      right: 150px;
      width: 100px;
      text-align: right;
      padding: 8px;
    }

    .balloon-filelist .file-status {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 120px;
      text-align: left;
      padding: 8px;

    }

    .balloon-filelist ul {
      list-style: none;
      margin: 0;
      padding: 0;
      min-height: 100px;
      max-height: 300px;
      overflow-y: scroll;
    }

    .balloon-filelist ul li {
      position: relative;
      border-bottom: 1px solid #ddd;
    }

    .balloon-dnd {
      visibility: hidden;
    }

    .balloon-uploader-none .balloon-uploader-footer,
    .balloon-uploader-none .balloon-uploader-body {
      visibility: hidden;
    }

    .balloon-uploader-none .balloon-dnd {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      vertical-align: middle;
    }

    .balloon-nofile {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 100px;
      text-align: center;
      color: #999;
    }

    .balloon-uploader .file-pick-btn {
      display: inline-block;
    }

    .balloon-uploader .start-upload-btn {
      position: relative;
      display: inline-block;
      cursor: pointer;
      background: #5bc0de;
      padding: 5px 10px;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      border: 1px solid #46b8da;
      overflow: hidden;
    }

    .balloon-uploader .start-upload-btn:hover {
      background: #31b0d5;
      border-color: #269abc;
    }

    .balloon-filelist .file-progress {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .balloon-filelist .file-progress-bar {
      background: rgb(219, 242, 215);
      background: rgba(59, 181, 33, 0.18);
      float: left;
      height: 100%;
    }

  </style>

  {{ web_macro.flash_messages() }}

  {% if videoInfo.enableBuyVideo|default(0) == 1 and videoInfo.remaining|default(0) <= 30 and videoInfo.remaining|default(0) > 0 %}
    <div class="alert alert-warning"
         role="alert">{{ '您的云视频包将于%remaining%天后到期，请尽快续费。'|trans({'%remaining%': videoInfo.remaining|default(0)}) }}</div>
  {% endif %}
  {% if videoInfo.enableBuyVideo|default(0) == 1 and videoInfo.remaining|default(0) <= 0 %}
    <div class="alert alert-warning" role="alert">{{ '您的云视频包已到期，请尽快续费。'|trans }}</div>
  {% endif %}
  {% if info.locked|default(0) == 1 %}
    <div class="alert alert-warning" role="alert">{{ '您的云视频已被锁定，请联系客服人员：'|trans }}0571-86819929。</div>
  {% endif %}
  {% if info.enabled|default(1) == 0 or videoStatus.status|default(null) == 'stoped' %}
    <div class="alert alert-danger" role="alert">{{ '您的云视频已被禁用，请联系客服人员：'|trans }}0571-86819929。</div>
  {% endif %}

  {% if is_trial() %}
    <div class="row form-group">
      <div class="help-block">
        </br></br>
        <p style="text-align:center;font-size:16px">{{ '视频托管服务由EduSoho教育云提供'|trans }} <a
              href="http://open.edusoho.com/educloud" target="_blank">{{ '了解详情'|trans }}</a></p>
        </br>
      </div>
    </div>
    <hr>
  {% else %}
    <div class="eduyun-main">
    {% if info.enabled|default(1) == 0 or videoStatus.status|default(null) == 'stoped' %}
      <div class="mask"></div>
    {% endif %}

    <div class="controls radios">
      <form class="form-horizontal" id="cloud-video-form" method="post" novalidate>
        {% if storageSetting.upload_mode|default('local') == "local" or info.accessCloud|default(0) == 0 %}
          <div class="row">
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary" name="upload_mode"
                      value="cloud" {% if info.accessCloud|default(0) == 0 %} disabled="disabled"{% endif %} >{{ '启用云视频'|trans }}</button>
            </div>
            {% if info.accessCloud|default(0) == 0 %}
              <div class="col-md-10">
                <span class="text-danger text-sm">{{ '抱歉，您尚未接入教育云，不能使用云视频服务！'|trans }}</span>
                <p><a href="http://open.edusoho.com/educloud" target="_blank">{{ '立即接入'|trans }}</a></p>
              </div>
            {% endif %}
          </div>
        {% elseif storageSetting.upload_mode|default('cloud') == "cloud" %}
          <div>
            <span class="text-success">{{ '已启用'|trans }}</span>
            <button type="submit" class="btn btn-default btn-sm mlm" name="upload_mode" value="local"><span
                  class="text-muted">{{ '关闭'|trans }}</span></button>
          </div>
        {% endif %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      </form>
      {% if storageSetting.upload_mode|default('cloud') == "local" %}
        <div class="help-block">
          {{ 'EduSoho云视频将为您提供稳定、安全、经济、便捷的视频托管服务以及优质的视频播放体验。'|trans }}{{ '点击'|trans }}<a
              href="http://open.edusoho.com/show/cloud/video" target="_blank">{{ '这里'|trans }}</a>{{ '了解详情。'|trans }}
        </div>
      {% endif %}
    </div>

    {% include 'TopxiaAdminBundle:EduCloud:part/side-bar.html.twig'  %}

      <div class="panel panel-default notice-panel">
        <div class="panel-body">
          <i class="es-icon es-icon-infooutline text-primary"></i>
          <div class="text-md mbl">尚未启用云视频</div>
          <div class="color-gray notice-desc">云视频为您提供安全、高性价比、以及优质的视听体验的视频服务，让您轻松创建在线视频课程。<a href="">点击这里</a>了解详情。</div>
          <a href="" class="btn btn-primary btn-lg notice-btn">立即启用</a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="">升级</a>｜<a href="">续费</a>  
        </div>
        <div class="panel-body">
          <div class="row pvm">
            <div class="col-sm-2 text-right">
              存储空间
            </div>
            <div class="col-xs-7">
              <div class="progress mbm cloud-progress">
                <div class="progress-bar progress-bar-storage progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">100% Complete</span>
                </div>
              </div>
              <span class="text-danger">20GB</span>/190GB
            </div>
            <div class="col-xs-1" style="width:100px;padding-left:0">
              <div class="progress mbm cloud-progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10" style="width: 100%">
                  <span class="sr-only">100% Complete</span>
                </div>
              </div>
              <div class="text-danger text-center">超额20GB</div>
            </div>
          </div>
          <div class="row pvm">
            <div class="col-sm-2 text-right">
              存储空间
            </div>
            <div class="col-xs-7">
              <div class="progress mbm cloud-progress">
                <div class="progress-bar progress-bar-storage" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                  <span class="sr-only">60% Complete</span>
                </div>
              </div>
              <span>20GB</span>/190GB
            </div>
          </div>
          <div class="row pvm">
            <div class="col-sm-2 text-right">
            服务期限
            </div>
            <div class="col-sm-7">
               2016-01-10 ~ 2017-01-10
            </div>
            <div class="col-sm-offset-2 col-sm-7">
              <div class="text-danger">
              云视频包已过期，请尽快续费
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default panel-chart">
        <div class="panel-heading">
          <span class="prl">流量年包</span>
          <a href="" target="_blank">流量年包是什么？</a>
        </div>
        <div class="video-overview">
          <div class="panel-body"  id="hengxangliebiao">
            <div class="row pvm">
              <div class="col-sm-2 text-right">
              流量
              </div>
              <div class="col-sm-7">
                <div class="progress mbm cloud-progress">
                  <div class="progress-bar progress-bar-flow" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    <span class="sr-only">100% Complete</span>
                  </div>
                </div>
                <span class="color-danger">20GB</span>/100GB<span style="color:#aeaeae !important;">（剩余70GB）</span>
              </div>
            </div>
            <div class="row pvm">
              <div class="col-sm-2 text-right">
              服务期限
              </div>
              <div class="col-sm-7">
               2017-10-21~2017-11-11
              </div>
              <div class="col-sm-offset-2 col-sm-7">
                <div class="text-danger">
                您的流量年包已过期，请尽快续购（0571-28022356）
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <!-- 概览 -->
      <div class="buy-cloud-video clearfix">
        <img class="pull-left" src="/assets/v2/img/educloud/shopping_cart.png" alt="">
        <div class="buy-section pull-left">
          <h4 class="mbl"><a class="" href="/buy/cloud/video" target="_blank">购买</a>云视频包，享受更优惠的视频托管服务</h4>
          <div class="color-gray">最低 ￥7.2/GB/年</div>
        </div>
      </div>
      <div class="buy-cloud-video clearfix">
        <img class="pull-left" src="/assets/v2/img/educloud/shopping_cart.png" alt="">
        <div class="buy-section pull-left">
          <h4 class="mbl">开通流量年包，视频流量更划算。<a class="" href="/doc/ServiceGuide/video-package/index.html" target="_blank">什么是流量年包？</a></h4>
          <div class="gray-dark">联系官方立即开通 : <span class="color-primary">0571-28022356</span></div>
        </div>
      </div>
      <div class="panel panel-default panel-chart">
        <input id="spaceItemData" type="hidden" value="{{spaceItem|default('')}}"/>
        <div class="panel-heading">存储空间使用趋势<span class="text-muted">（最近7个月）</span><a class="pull-right" href="">更多&ensp;></a></div>
        <div class="panel-body">
          <div id="spaceItemChart" style="width: 100%;height:400px;"></div>
        </div>
      </div>
      <div class="panel panel-default panel-chart">
        <input id="flowItemData" type="hidden" value="{{flowItem|default('')}}"/>
        <div class="panel-heading">
          流量使用趋势
          <span class="text-muted">（最近7个月）</span>
          <a class="pull-right" href="">更多&ensp;></a>
        </div>
        <div class="panel-body">
          <div id="flowItemChart"></div>
        </div>
      </div>
    {#{% if  info.accessCloud|default(0) != 0 and storageSetting.upload_mode|default('cloud') == "cloud" %}#}
      {#<div class="page-header clearfix">
        <h1 class="pull-left">{{ '云视频功能设置'|trans }}</h1>
      </div>#}
      <form class="form-horizontal" id="cloud-setting-form" method="post" novalidate>
        <div class="page-heading">
          云视频开关
        </div>
        <div class="row form-group">
          <label for="" class="col-sm-3 control-label">启用云视频：</label>
          <div class="controls col-md-9 radios">
            <label>
              <input type="radio" name="cloud_open" value="1"> 开启
            </label>
            <label>
              <input type="radio" name="cloud_open" value="0" checked="checked"> 关闭
            </label>
            <div class="help-block">
              云视频为您提供安全、高性价比、以及优质的视听体验的视频服务，让您轻松创建在线视频课程。<a href="">点击这里</a>了解详情。
            </div>
          </div>
        </div>
        <div class="page-heading">
          基本设置
        </div>
        <div class="row form-group">
          <label for="" class="col-sm-3 control-label">视频转码画质：</label>
          <div class="controls col-sm-9 radios">
            <label>
              <input type="radio" name="video-view" id="inlineRadio1" value="option1"> 流畅
              <a href="javascript:;" class="glyphicon glyphicon-question-sign text-muted js-twig-widget-tips" class="btn btn-warning" data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top"  data-content="适合PPT讲解">
              </a>
            </label>
            <label>
              <input type="radio" name="video-view" id="inlineRadio1" value="option1" checked="checked"> 标准
              <a href="javascript:;" class="glyphicon glyphicon-question-sign text-muted js-twig-widget-tips" class="btn btn-warning" data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top"  data-content="适合屏幕录制、摄像头拍摄">
              </a>
            </label>
            <label>
              <input type="radio" name="video-view" id="inlineRadio1" value="option1"> 精细
              <a href="javascript:;" class="glyphicon glyphicon-question-sign text-muted js-twig-widget-tips" class="btn btn-warning" data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top"  data-content="适合动态电影">
              </a>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <label for="" class="col-sm-3 control-label">视频转码音质：</label>
          <div class="controls col-sm-9 radios">
            <label>
              <input type="radio" name="video-voice" id="inlineRadio2" value="option1"> 流畅
            </label>
            <label>
              <input type="radio" name="video-voice" id="inlineRadio2" value="option1" checked="checked"> 标准
            </label>
            <label>
              <input type="radio" name="video-voice" id="inlineRadio2" value="option1"> 高品
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-3 control-label">
            <label for="enable_playback_rates">倍速播放：</label>
          </div>
          <div class="controls col-md-8 radios">
            {{ radios('enable_playback_rates', {'1':'开启', '0':'关闭'}, storageSetting.enable_playback_rates) }}
            <div class="text-muted mts">
              开启后，云视频课时支持倍速播放。注意：仅支持高版本Chrome、火狐以及QQ浏览器（极速模式）。
            </div>
          </div>
        </div>
        <div class="upload-mode">
        </div>
        <div class="row form-group">
          <div class="col-md-3 control-label">
            <label>{{ '视频片头：'|trans }}</label>
          </div>
          {#<div class="controls col-md-8 radios">
            {{ radios('video_header', {'1':'开启'|trans,'0':'关闭'|trans}, storageSetting.video_header|default(0)) }}
          </div>#}
          <div class="controls col-md-8">
            <div id="upload-panel" data-params-url="{{ path('admin_uploadfile_head_leader_params', {storage:storageSetting.upload_mode}) }}" data-hls-encrypted="1">
              {#<div class="head-leader-edit" {% if not headLeader|default(null) %}style="display:none;"{% endif %}>#}
              <div class="head-leader-edit">
                <button class="btn btn-primary edit-btn" type="button">
                  {#<i class="glyphicon glyphicon-edit"></i> {{ '编辑'|trans }}#}
                  {{ '点击上传'|trans }}
                </button>
                <br/>
                <div class="file-name" data-role="placeholder"><i class="es-icon es-icon-videoclass mrs"></i>{{ headLeader.filename|default('') }}</div>
                {% if headLeader.convertStatus|default(null) != 'success' %}
                {#<div class="alert alert-warning" data-role="waiting-tip">
                  {{ '正在转换视频格式，转换需要一定的时间，期间将不能播放该视频。'|trans }}<br/>{{ '转换完成后将以站内消息通知您。'|trans }}#}
                </div>
                {% endif %}
              </div>
              <div class="file-chooser-main"{% if headLeader|default(null) %}style="display:none;"{% endif %}>
              <!-- <div class="file-chooser-main"> -->
                {% set token = uploader_token('headLeader', 0, 'private') %}
                <div id="balloon-uploader"
                     data-init-url="{{ path('uploader_init', {token:token}) }}"
                     data-finish-url="{{ path('uploader_finished', {token:token}) }}"
                     data-upload-auth-url="{{ path('uploader_auth', {token:token}) }}"
                     data-accept="{{ uploader_accept('attachment', 'video')|json_encode }}"
                     data-process="{{ uploader_process('headLeader') }}">
                </div>
                <div class="alert alert-info">
                  <ul>
                    <li>{{ '支持'|trans }}<strong>mp4, avi, flv, f4v, wmv, mov, rmvb, mkv,
                        m4v</strong>{{ '格式的视频文件上传，文件大小不能超过'|trans }}<strong>10 MB</strong>。
                    </li>
                    <li>{{ '支持'|trans }}<strong>{{ '断点续传'|trans }}</strong>{{ '（仅支持HTML5浏览器）。'|trans }}</li>
                    <li>{{ '视频将上传到'|trans }}
                      <strong>{{ '云视频服务器'|trans }}</strong>{{ '，上传后会对视频进行格式转换，转换过程需要一定的时间。'|trans }}</li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
        <div class="page-heading">
          安全设置
        </div>
        <div class="row form-group">
          <div class="col-md-3 control-label">
            <label>{{ '视频水印：'|trans }}</label>
          </div>
          <div class="controls col-md-8 radios " data-content="123">
            {{ radios('video_watermark', {'1':'开启', '0':'关闭'}, storageSetting.video_watermark) }}
            <div class="text-muted mts">
              开启后，将会在云视频课时的右上角显示水印。
            </div>
          </div>
        </div>
        <div class="row form-group">
          <label for="" class="col-sm-3 control-label">水印类型：</label>
          <div class="controls col-sm-9 radios">
            <label>
              <input type="radio" name="video-view" id="inlineRadio1" value="option1"> 播放器水印
              <a href="javascript:;" class="glyphicon glyphicon-question-sign text-muted js-twig-widget-tips" class="btn btn-warning" data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top"  data-content="适合PPT讲解">
              </a>
            </label>
            <label>
              <input type="radio" name="video-view" id="inlineRadio1" value="option1"> 视频内嵌水印
              <a href="javascript:;" class="glyphicon glyphicon-question-sign text-muted js-twig-widget-tips" class="btn btn-warning" data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top"  data-content="适合动态电影">
              </a>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-3 control-label">
            <label>{{ '播放器水印图片：'|trans }}</label>
          </div>
          <div class="controls col-md-8 radios">

            <button class="btn btn-primary" id="cloud-video-watermark-upload" type="button"
                    data-url="{{ path('admin_setting_cloud_video_watermark_upload') }}">{{ '点击上传'|trans }}</button>
            <button class="btn btn-primary" id="cloud-video-watermark-remove" type="button"
                    data-url="{{ path('admin_setting_cloud_video_watermark_remove') }}"
                    {% if not storageSetting.video_watermark_image %}style="display:none;"{% endif %}>{{ '删除'|trans }}</button>
            <div id="cloud-video-watermark-container">{% if storageSetting.video_watermark_image %}<img
                src="{{ filepath(storageSetting.video_watermark_image) }}">{% endif %}</div>

            <div class="text-muted mts">{{ '支持png、gif、jpg格式图片，建议使用半透明的png图片，推荐尺寸150×50。'|trans }}</div>
            <input type="hidden" name="video_watermark_image" value="{{ storageSetting.video_watermark_image }}">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-3 control-label">
            <label>{{ '视频内嵌水印图片：'|trans }}</label>
          </div>
          <div class="controls col-md-8 radios">

            <button class="btn btn-primary" id="cloud-video-embed-watermark-upload" type="button"
                    data-url="{{ path('admin_setting_cloud_video_embed_watermark_upload') }}">{{ '点击上传'|trans }}</button>
            <button class="btn btn-primary" id="cloud-video-embed-watermark-remove" type="button"
                    data-url="{{ path('admin_setting_cloud_video_embed_watermark_remove') }}"
                    {% if not storageSetting.video_embed_watermark_image %}style="display:none;"{% endif %}>{{ '删除'|trans }}</button>
            <div id="cloud-video-embed-watermark-container">{% if storageSetting.video_embed_watermark_image %}<img  src="{{ filepath(storageSetting.video_embed_watermark_image) }}">{% endif %}</div>

            <div class="text-muted mts">{{ '支持png、gif、jpg格式图片，建议使用半透明的png图片，推荐尺寸270×90。'|trans }}</div>
            <input type="hidden" name="video_embed_watermark_image"
                   value="{{ storageSetting.video_embed_watermark_image }}">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-3 control-label">
            <label>{{ '视频指纹：'|trans }}</label>
          </div>
          <div class="controls col-md-8 radios">
            {{ radios('video_fingerprint', { '1':'开启'|trans,'0':'关闭'|trans}, storageSetting.video_fingerprint) }}
            <div
                class="text-muted mts">{{ '开启后，将在视频播放中随机时间、随机位置显示当前网站域名及'|trans }}{% if setting('default.user_name') %}{{ '%user_name%的用户名'|trans({'%user_name%': setting('default.user_name')|default('学员'|trans)}) }}{% endif %}
              。
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-3 control-label">
            <label>云视频指纹显示时长：</label>
          </div>
          <div class="controls col-md-8">
            <input type="text" id="video_fingerprint_time" class="form-control width-input width-input-small"
                   name="video_fingerprint_time" value="{{ storageSetting.video_fingerprint_time }}"> 秒
            <div class="text-muted mts">建议时长在0.5 - 1.5秒之间</div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-3 control-label"></div>
          <div class="controls col-md-8">
            <button type="submit" id="cloud-video-form-btn" class="btn btn-primary"
                    data-submiting-text="{{ '正在提交'|trans }}">{{ '确认保存'|trans }}</button>
          </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      </form>
    {#{% endif %}#}
  {% endif %}
  </div>
{% endblock %}