{% extends 'WebBundle:CourseSetManage:layout.html.twig' %}
{% block title %}{{ '教学计划管理'|trans }} - {{ parent() }}{% endblock %}

{% block main %}
  <div class="panel panel-default panel-col lesson-manage-panel">
    <div class="panel-heading">
      <a href="/courseset/{{courseSet.id}}/courses">{{'教学计划列表'|trans}}</a>/{{course.title}}
      <button class="btn btn-success btn-sm pull-right">发布计划</button>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills mbl">
        <li class=""><a href="/courseset/{{courseSet.id}}/course/{{course.id}}/tasks">计划任务</a></li>
        <li class=""><a href="/courseset/{{courseSet.id}}/course/{{course.id}}/info">计划设置</a></li>
        <li class=""><a href="/courseset/{{courseSet.id}}/course/{{course.id}}/marketing">营销设置</a></li>
        <li class=""><a href="/courseset/{{courseSet.id}}/course/{{course.id}}/teachers">教师设置</a></li>
        <li class="active"><a href="javascript:;">学员管理</a></li>
      </ul>
      <div class="content">
      	学员管理
      </div>
    </div>
  </div>
{% endblock %}



