{% extends 'WebBundle:CourseSetManage:layout.html.twig' %}
{% block title %}{{ '教学计划管理'|trans }} - {{ parent() }}{% endblock %}

{% set side_nav = 'marketing' %}

{% block main %}
  <div class="panel panel-default panel-col lesson-manage-panel">
    <div class="panel-heading">
      <a href="{{path('courseset_manage_courses', {courseSetId: courseSet.id})}}">{{'教学计划列表'|trans}}</a>/{{course.title}}
      <button class="btn btn-success btn-sm pull-right">发布计划</button>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills mbl">
        <li class="">
        	<a href="{{path('courseset_manage_course_tasks', {courseSetId: courseSet.id, courseId: course.id})}}">计划任务</a>
        </li>
        <li class="">
        	<a href="{{path('courseset_manage_course_info', {courseSetId: courseSet.id, courseId: course.id})}}">计划设置</a>
        </li>
        <li class="active"><a href="javascript:;">营销设置</a></li>
        <li class="">
        	<a href="{{path('courseset_manage_course_teachers', {courseSetId: courseSet.id, courseId: course.id})}}">教师设置</a>
        </li>
        <li class="">
        	<a href="{{path('courseset_manage_course_students', {courseSetId: courseSet.id, courseId: course.id})}}">学员管理</a>
        </li>
      </ul>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">收费免费加入方式</label>
          <div class="col-sm-8 radios">
            <label><input type="radio" name="type">收费</label>
            <label><input type="radio" name="type">免费</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">学习有效期加入方式</label>
          <div class="col-sm-4">
            <input class="form-control" type="" name="" style="">
          </div>
          <div class="col-sm-4 form-control-static">天</div>
          <div class="col-sm-8 col-sm-offset-2 help-block">从加入的当前起，学员可在此有效期内学习，过期后无法学习。系统会在到期前10天提醒学员。设置为0则无时间限制</div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">加入方式</label>
          <div class="col-sm-8">
            <label><input type="" name="type">学员自己加入学习，也可以由老师来添加学员</label>
            <label><input type="" name="type">只能由老师添加／移除学员，学员自己无法加入。常用于封闭型教学</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">开启视频试看</label>
          <div class="col-sm-8">
            <label><input type="" name="type">是</label>
            <label><input type="" name="type">否</label>
            <div class="help-block">常用于收费视频内容的前几分钟免费试看</div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}



