{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{'邮箱验证成功'|trans}} - {{ parent() }}{% endblock %}
{% set script_controller = 'auth/email-verify' %}

{% block content %}

<div class="es-section login-section">
  <div class="section-header">
    <h3>{{'邮箱验证成功'|trans}}</h3>
  </div>
  <input type="hidden" name="verifyUrl" value="{{ path('register_email_verify', {token:token.token}) }}">

  <p>{{'正在跳转到首页'|trans}}...<a id="jump-btn" href="{{ path('homepage') }}" class="mll"> &raquo; {{'点此直接进入'|trans}}</a></p>
</div>
{% endblock %}