{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}

{% block title %}
  替换素材
{% endblock %}
{% block body %}
  <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/ztree.css') }}" />
  <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/tag-chooser2.css') }}" />

<div class="well well-sm">
  <form id="message-search-form" class="form-inline" action="" method="get" novalidate>
    <input type="hidden" name="categoryId" value="{{ category.id }}">
      <div class="form-group mrl" id="tags-search-group">
        <label>标签：</label>
          <a href="javascript:;" class="tag-search-trigger">
            {% for tag in tagSearchs %}
              {{tag.name}}
            {% else %}
              选择
            {% endfor %}
          </a>
      </div>
      <div class="form-group mrl" id="knowledges-search-group">
        <label>知识点：</label>
        <a href="javascript:;" class="knowledge-search-trigger">
          {% for knowledge in knowledgeSearchs %}
            {{knowledge.name}}
          {% else %}
            选择
          {% endfor %}
        </a>
      </div>

      <div class="form-group mrl">
        <input class="form-control" type="text" name="keywords" value="{{ app.request.query.get('keyword') }}" placeholder="标题关键词">
      </div>

      <button id="article-material-search" data-url="{{  path('admin_essay_content_edit', {essayId:essay.id, contentId:contentId}) }}" type="submit" class="btn btn-sm btn-primary">搜索</button>

      <input type="hidden" name="tagIds" value="{{ app.request.query.get('tagIds') }}">
      <input type="hidden" name="knowledgeIds" value="{{ app.request.query.get('knowledgeIds') }}">
  </form>
    {% include 'CustomWebBundle:Tag:tagchooser-overlay.html.twig' with {id: 'tags-search', type: 'question'} %}
    {% include 'CustomWebBundle:Tag:tagchooser-knowledge-overlay.html.twig' with {id: 'knowledges-search', categoryId: category.id} %}
</div>

    <div>
      <table class="table table-hover table-striped" id="content-edit-item-list">
        <thead>
          <tr>
            <th width="70%">文章素材标题</th>
            <th width="">知识点</th>
          </tr>
        </thead>
        <tbody>
          {% for articleMaterial in articleMaterials %}
          {% set knowledge = knowledges[articleMaterial.mainKnowledgeId]|default(null) %}
            <tr class="content-edit" data-url="{{ path('admin_essay_content_edit', {contentId:contentId, essayId:essay.id }) }}" data-article-material-id="{{ articleMaterial.id }}">
              <td>{{ articleMaterial.title }}</td>
              <td>{{ knowledge.name|default(null) }}</td>
            </tr>
          {% else %}
            <tr class="empty"><td colspan="20">无文件记录</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {{ web_macro.paginator(paginator) }}
  </div>
<script type="text/javascript">app.load('essay-content/content-edit-modal')</script>
{% endblock %}
