{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}

{% block title %}
  {% if article|default(null) %}编辑{% else %}创建{% endif %}文章
{% endblock %}
{% block body %}
<form id="message-search-form" class="form-inline well well-sm" action="" method="get" novalidate>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="知识点搜索" name="knowledgeIds[]" value="{{ app.request.get('knowledgeIds[]') }}">
      <span class="glyphicon glyphicon-tasks"></span>
    </div>

    <div class="form-group">
      <select class="form-control method-form-group" name="method">
        {{ select_options(dict('courseware'), app.request.query.get('method')) }}
      </select>
    </div>

    <div class="form-group tagIds-form-group {% if method == 'title' %}hide{% endif %}">
    </div>

    <div class="form-group title-form-group {% if method != 'title' %}hide{% endif %}">

      <input class="form-control" type="text" placeholder="标题关键词搜索" name="title" value="{{ app.request.get('title') }}">
    </div>

    <button class="btn btn-primary">搜索</button>
  </form>

  <div class="courseware-list">
  {% block list %}{% endblock %}

  {{ web_macro.paginator(paginator) }}
  <div>
    <label class="checkbox-inline"><input type="checkbox" data-role="batch-select"> 全选</label>
    <button type="button" class="btn btn-default btn-sm mlm" data-role="batch-delete" data-url="{{ path('admin_courseware_delete')}}">删除</button>
  </div>
</div>
<script type="text/javascript">app.load('essay-content/content-moda')</script>
{% endblock %}