{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}

{% block title %}
  替换素材
{% endblock %}
{% block body %}
<form id="message-search-form" class="form-inline well well-sm" action="" method="get" novalidate>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="知识点搜索" name="knowledgeIds[]" value="{{ app.request.get('knowledgeIds[]') }}">
      <span class="glyphicon glyphicon-tasks"></span>
    </div>

    <div class="form-group">
      <select class="form-control method-form-group" name="method">
        {{ select_options(dict('courseware'), app.request.query.get('method')) }}
      </select>
    </div>

    <div class="form-group tagIds-form-group {% if method == 'title' %}hide{% endif %}">
    </div>

    <div class="form-group title-form-group {% if method != 'title' %}hide{% endif %}">

      <input class="form-control" type="text" placeholder="标题关键词搜索" name="title" value="{{ app.request.get('title') }}">
    </div>

    <button id="article-material-search" class="btn btn-primary" data-url="{{ path('admin_essay_content_create',{essayId:essayId})}}">搜索</button>
  </form>


    <div>
      <table class="table table-hover table-striped" id="content-edit-item-list">
        <thead>
          <tr>
            <th width="70%">文章素材标题</th>
            <th width="">知识点</th>
          </tr>
        </thead>
        <tbody>
          {% for articleMaterial in articleMaterials %}
          {% set knowledge = knowledges[articleMaterial.mainKnowledgeId]|default(null) %}
            <tr class="content-edit" data-url="{{ path('admin_essay_content_edit', {contentId:contentId, essayId:essayId }) }}" data-article-material-id="{{ articleMaterial.id }}">
              <td>{{ articleMaterial.title }}</td>
              <td>{{ knowledge.name|default(null) }}</td>
            </tr>
          {% else %}
            <tr class="empty"><td colspan="20">无文件记录</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {{ web_macro.paginator(paginator) }}
  </div>
<script type="text/javascript">app.load('essay-content/content-edit-modal')</script>
{% endblock %}
