{% extends 'TopxiaAdminBundle:CategoryManage:layout.html.twig' %}

{% block title %}文章管理 - {{ parent() }}{% endblock %}
{% set nav = 'course' %}
{% set side_nav = 'article_manage' %}
{% set script_controller = 'essay-content/index' %}

{% block main %}
<div class="essay-content-manage-panel">
  <div class="page-header clearfix">
    <h1 class="pull-left">文章内容管理</h1>
    <div class="pull-right">
      <button class="btn btn-info btn-sm" id="content-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('admin_essay_content_list', {articleId:articleId}) }}"><i class="glyphicon glyphicon-plus"></i>内容</button>
      
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-plus"></i>章节<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="#" id="chapter-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('admin_essay_content_chapter_create', {articleId:articleId}) }}"><i class="glyphicon glyphicon-plus"></i> 添加 章</a>
          </li>
          <li>
            <a href="#" id="chapter-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('admin_essay_content_chapter_create', {articleId:articleId, type:'unit'}) }}"><i class="glyphicon glyphicon-plus"></i> 添加 小节</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  {% if items is empty %}
    <div class="empty">暂无课时内容！</div>
  {% endif %}

  <div class="panel-body">
    <ul class="content-list sortable-list" id="essay-item-list" data-sort-url="{{ path('admin_essay_content_sort', {articleId:articleId}) }}">
      {% for id, item in items %}
        {% if 'chapter' in id %}
          {% include 'TopxiaAdminBundle:EssayContent:list-chapter-tr.html.twig' with {chapter: item} %}
        {% elseif 'content' in id %}
          {% include 'TopxiaAdminBundle:EssayContent:list-content-tr.html.twig' with {content: item} %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
