<li class="item-essay-content clearfix" id="content-{{ content.id }}"style="word-break: break-all;" >
  <div class="item-line"></div>
  <div class="item-content">
    素材<span class="number">{{ content.number }}</span> {{ content.title }}
  </div>

  <div class="item-actions">
    <button class="btn btn-link" title="替换" data-toggle="modal" data-target="#modal" data-keyboard="false" data-url="{{ path('admin_essay_content_edit', {contentId:content.id, articleId:articleId}) }}"><i class="glyphicon glyphicon-refresh"></i></button>

    <button class="btn btn-link" title="预览" href="{# {{ path('course_learn', {id:course.id, preview:1}) }}#content/{{ content.id }} #}" target="_blank"><span class="glyphicon glyphicon-eye-open prs"></span></button>

    <button class="btn btn-link delete-chapter-btn" title="删除" data-url="{{ path('admin_essay_content_delete', {articleId:articleId, contentId:content.id}) }}"><i class="glyphicon glyphicon-trash"></i></button>
  </div>
</li>
