{% extends 'WebBundle:Activity:activity-form-layout.html.twig' %}
{#{% do script(['http://localhost:12345/sdk.js', 'web/activity-manage/video-activity-fields.js']) %}#}
{% do script(['web/activity-manage/video-activity-fields.js']) %}

{% block activity_content %}
  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="title">{{ '标题'|trans }}</label>
    </div>
    <div class="col-md-9 controls">
      <input id="title" class="form-control" type="text" name="title" value={{ activity.title|default('') }}></div>
  </div>
  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="title">{{ '是否免费课时'|trans }}</label>
    </div>
    <div class="col-md-9 controls">
      <input id="title" class="form-control" type="checkbox" name="free" value={{ activity.title|default('') }}></div>
  </div>
  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="text-content-field" class="style1">{{ '简介'|trans }}</label>
    </div>
    <div class="col-md-9 controls">
      <textarea class="form-control" id="text-content-field" name="content"
                data-image-upload-url="{{ path('editor_upload', {token:upload_token('course')}) }}"
                data-flash-upload-url="{{ path('editor_upload', {token:upload_token('course', 'flash')}) }}"
                data-image-download-url="{{ path('editor_download', {token:upload_token('course')}) }}"
      >{{ activity.content|default('') }}</textarea>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="text-content-field" class="style">{{ '视频'|trans }}</label>
    </div>
    <div class="col-md-9 controls">
      <ul class="nav nav-pills" id="material">
        <li role="presentation" class="active"><a href="#video-chooser-upload-pane">上传资料</a></li>
        <li role="presentation"><a href="#video-chooser-disk-pane">从资料库中选择</a></li>
        <li role="presentation"><a href="#video-chooser-course-file">从课程中选择文件</a></li>
        <li role="presentation"><a href="#video-chooser-import-pane">导入网络视频</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="video-chooser-upload-pane">
          {% set targetType = 'courseactivity' %}
          {% set token = uploader_token(targetType, courseId, 'private') %}
          {% set storageSetting = setting('storage') %}
          <div id="uploader-container" 
            data-accept="{{ uploader_accept(targetType, 'video')|json_encode }}"
            data-init-url="{{ url('uploader_init', {token: token}, true) }}"
            {% if storageSetting.upload_mode == 'cloud' %}
              data-uploader-mode="sdk"
              data-accept="{{ uploader_accept(targetType, 'video')|json_encode }}"
            {% else %}
              data-uploader-mode="local"
              data-accept="{{ uploader_accept(targetType, 'local_video')|json_encode }}"
            {% endif %}
            data-process="{{ uploader_process(targetType) }}"
            >
          </div>  
        </div>
        <div class="tab-pane" id="video-chooser-disk-pane">
          <div class="btn-group">
            <span>资料来源</span>
            <a type="button" class="btn btn-default btn-sm js-material-type active"
               data-type="my">{{ '来自上传'|trans }}</a>
            <a type="button" class="btn btn-default btn-sm js-material-type" data-type="sharing" data-sharing-contacts-url="{{ path('material_lib_my_sharing_contacts') }}">{{ '来自分享'|trans }}</a>
            <a type="button" class="btn btn-default btn-sm js-material-type" data-type="public">{{ '公共资料'|trans }}</a>
            <a type="button" class="btn btn-default btn-sm js-material-type" data-type="favorite">{{ '我的收藏'|trans }}</a>
          </div>
          <div class="row material-search-form">
            <div class="col-xs-5 js-file-name-group">
                <span class="input-group">
                  <input name="file-filter-by-name" class="form-control width-input-small js-file-name" type="text"
                         placeholder="输入视频标题关键字">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default js-browser-search"
                            data-url="{{ path('material_lib_choose') }}"
                            data-loading-text="正在加载，请稍等">搜索</button>
                  </span>
                </span>
            </div>
            <div class="js-file-owner-group hidden">
              <span class="file-filter-by-owner-container col-xs-5" style="">
                <select name="file-filter-by-owner" class="js-file-owner form-control width-input-large">
                  <option value="">请选择老师</option>
                </select>
              </span>
            </div>
          </div>
          <input type="hidden" name="sourceFrom" value="my">
          <input type="hidden" name="page" value="1">
          <div class="js-material-list">
            <div class="empty">资源加载中...</div>
          </div>

        </div>
        <div class="tab-pane" id="video-chooser-course-file"> 从课程中选择文件</div>
        <div class="tab-pane" id="video-chooser-import-pane"> 导入网络视频</div>
      </div>
    </div>
  </div>

{% endblock %}


{% block activity_finish %}
  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="condition">{{ '完成条件'|trans }}</label>
    </div>
    <div class="col-md-9 controls">
      <input id="condition" class="form-control" type="text" name="condition" value={{ activity.title|default('') }}>
    </div>
  </div>
{% endblock %}