{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_edu_cloud_email_overview' %}
{% block tabs %}{% endblock %}
{% block main %}
  <div class="panel panel-default notice-panel">
  <div class="panel-body">
    {{ web_macro.flash_messages() }}
    <i class="es-icon es-icon-infooutline text-primary"></i>
    <div class="text-md mbl">{{'admin.edu_cloud.edu_email.no_enabled_email'|trans}}</div>
    {% if overview.isBuy == false %}
      <div class="color-gray notice-desc">
        {{'admin.edu_cloud.edu_email.start_enabled_email'|trans({'%buyUrl%': path('admin_cloud_email_buy', {type:'email'}), '%showUrl%': path('admin_cloud_show', {type:'email'})})|raw}}
      </div>
    {% endif %}
    <div class="color-gray notice-desc mbl">{{'admin.edu_cloud.edu_email.email_provider_service_tips'|trans}}</div>
    <div class="color-gray notice-desc">{{'admin.edu_cloud.edu_email.email_limit_provider_tips'|trans}}
      <form class="form-horizontal" role="form" method="post" action="{{ path('admin_edu_cloud_email_switch') }}">
        <button type="submit" class="btn btn-primary btn-lg notice-btn" {% if overview.isBuy == false %}disabled="disabled"{% endif %}
          name="email-open">{{'admin.edu_cloud.edu_email.start_enabled_email_btn'|trans}}
        </button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      </form>
    </div>
  </div>
{% endblock %}