{% extends 'layout.html.twig' %}
{% block title %}{{ '写私信'|trans }} - {{ parent() }}{% endblock %}
{% set script_arguments = {
followingMatchByNickname: path('following_match_bynickname')
} %}

{% block content %}
  <style>

    .ui-autocomplete {
      border: 1px solid #ccc;
      background-color: #FFFFFF;
      box-shadow: 2px 2px 3px #EEEEEE;
    }

    .ui-autocomplete-ctn {
      margin: 0;
      padding: 0;
    }

    .ui-autocomplete-item {
      width: 180px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 30px;
      padding: 0 10px 0 10px;
      cursor: default;
    }

    .ui-autocomplete-item-hover {
      background: #f2f2f2;
    }

    .ui-autocomplete-item-hl {
      background: #F6FF94;
    }

  </style>
  <div class="row row-8">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default panel-page">
        <div class="panel-heading">
          <a href="{{ path('message') }}" class="btn btn-default pull-right">{{ '返回我的私信'|trans }}</a>
          <h2>{{ '写私信'|trans }}</h2>
        </div>

        <form id="message-create-form" class="form-horizontal" method="post">

          <div class="form-group">
            <div class="col-md-12 controls">
              <input type="text" id="message_receiver" name="message[receiver]" required="required" class="form-control"
                     placeholder="收信人用户名" data-auto-url="{{ script_arguments.followingMatchByNickname }}"
                     data-url="{{ path('message_check_receiver') }}" data-display="{{ '收信人用户名'|trans }}"
                     data-widget-cid="widget-2" data-explain=""
                     autocomplete="off">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 controls">
              <textarea id="message_content" name="message[content]" required="required" class="form-control" rows="5"
                        placeholder="{{ '想要说的话'|trans }}" data-display="{{ '想要说的话'|trans }}" data-widget-cid="widget-3" data-explain=""></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 controls">
              <button id="message-create-btn" class="btn btn-primary pull-right"
                      data-loading-text="{{ '正在发送...'|trans }}" type="submit" value="">{{ '发送'|trans }}</button>
            </div>
          </div>

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
        </form>


      </div><!-- /panel -->
    </div>
  </div>

  {% do load_script('message/create') %}
  {% include 'seajs_loader_compatible.html.twig' with {topxiawebbundle: true} %}
{% endblock %}