{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'cd-modal-dialog administrator-perspective-modal' %}

{% block title %}
  {{ 'question_manage.ai_analysis.introduction'|trans }}
{% endblock %}

{% block body %}
  <div>
    <div class="ai-analysis-image">
      <img class="" src="{{ asset('static-dist/app/img/admin-v2/ai-analysis-group.png') }}" alt="guide"/>
    </div>
    <div class="ai-analysis-center">
      <li class="ai-analysis-text">
        <span class="li-content">{{ 'question_manage.ai_analysis.introduction.tip1'|trans|raw }}</span>
      </li>
      <li class="ai-analysis-text">
        <span class="li-content">{{ 'question_manage.ai_analysis.introduction.tip2'|trans|raw }}</span>
      </li>
      <li class="ai-analysis-text">
        <span class="li-content">{{ 'question_manage.ai_analysis.introduction.tip3'|trans|raw }}</span>
      </li>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <a class="js-close-btn" href="javascript:;">{{ 'question_manage.ai_analysis.introduction.close'|trans }}</a>
{% endblock %}
