{% extends 'my/my-teaching.html.twig' %}

{% block title %}{{ 'my.teaching.question_bank.question.manage'|trans }} - {{ parent() }}{% endblock %}
{% set side_nav = 'my-question-bank' %}

{% do script(['libs/select2.js', 'app/js/question-bank/question/index.js'])  %}

{% block main %}
  <div class="panel panel-default panel-col">
    <div class="panel-heading">{{ questionBank.name }}</div>
  </div>

  <div>
    <div class="courseset-header-section">
      <ul class="nav nav-tabs nav-header-section clearfix">
        <li class="nav-header-section__item cd-ml32 active"><a href="{{ path('question_bank_manage_question_list', {id: questionBank.id }) }}">{{ 'my.teaching.question_bank.question.manage'|trans }}</a></li>
        <li class="nav-header-section__item cd-ml32"><a href="javascript:;">{{ 'my.teaching.question_bank.testpaper.manage'|trans }}</a></li>
        <li class="nav-header-section__item cd-ml32"><a href="{{ path('question_bank_manage_question_category', {id: questionBank.id }) }}">{{ 'my.teaching.question_bank.question_category.manage'|trans }}</a></li>
      </ul>
    </div>
    <div class="panel panel-default panel-col">
      {% block panel_body %}
        <div class="panel-body question-list-container js-question-container">
          <div class="mtl category-list-content js-category-content">
            {% include 'question-bank/question/category-list.html.twig' %}
          </div>
          <div class="mtl question-list-content">
            {% include 'question-bank/question/question-list.html.twig' %}
          </div>
        </div>
      {% endblock %}
    </div>
  </div>

  {% block question_category_modal %}
    {% include 'question-bank/question/category-set-modal.html.twig' %}
  {% endblock %}
{% endblock %}