<!doctype html>
{% block html %}<html>{% endblock %}
<head>

<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
{% block stylesheets %}

<link href="{{ asset('bundles/topxiamobilebundlev2/libs/frozen/1.2.1/css/global.css') }}" rel="stylesheet" />
<link href="{{ asset('bundles/topxiamobilebundlev2/libs/ionic/1.0.0/css/ionic.min.css') }}" rel="stylesheet" />
<link href="{{ asset('bundles/topxiamobilebundlev2/css/ui-style.css') }}" rel="stylesheet" />

{% endblock %}

<script src="{{ asset('bundles/topxiamobilebundlev2/js/cordova.js') }}"></script>
{% block head_scripts %}

{% endblock %}
</head>

<body unresolved  onload="onLoad()">

<script type="text/javascript">
    window.onLoad = function() {
                document.addEventListener("deviceready", onDeviceReady, false);
        }

    window.onDeviceReady = function() {
    }
</script>
{% block content %}

{% block bottom_scripts %}
<script src="{{ asset('bundles/topxiamobilebundlev2/libs/sea.js') }}"></script>
<script type="text/javascript">
    seajs.config({
      base: "/bundles/topxiamobilebundlev2/",
      alias: {
        "AppControllers": "article/js/controller.js",
        "AppDirectives": "article/js/directive.js",
        "AppFilters": "article/js/filter.js",
        "AppServices": "article/js/service.js",
        "frozen": "libs/frozen/1.2.1/js/frozen.js",
        "app": "article/js/app.js"
      }
    })

    // 加载入口模块
    seajs.use("app");
</script>
{% endblock %}

{% endblock %}
</body>

</html>