<div class="material-search-list material-tabs">
  <span class="all">{{'material_lib.type'|trans}}</span>
  <ul class="js-material-tabs right-content  clearfix">
    <li class="active js-type-btn" data-value="">
      <a href="javascript:;">{{'material_lib.type.all'|trans}}</a>
    </li>
    <li class="js-type-btn" data-value="video">
      <a href="javascript:;">{{'material_lib.type.video'|trans}}</a>
    </li>
    <li class="js-type-btn" data-value="flash">
      <a href="javascript:;">flash</a>
    </li>
    <li class="js-type-btn" data-value="audio">
      <a href="javascript:;">{{'material_lib.type.audio'|trans}}</a>
    </li>
    <li class="js-type-btn" data-value="image">
      <a href="javascript:;">{{'material_lib.type.image'|trans}}</a>
    </li>
    <li class="js-type-btn" data-value="document">
      <a href="javascript:;">{{'material_lib.type.doc'|trans}}</a>
    </li>
    <li class="js-type-btn" data-value="ppt">
      <a href="javascript:;">PPT</a>
    </li>
    <li class="js-type-btn" data-value="other">
      <a href="javascript:;">{{'material_lib.type.other'|trans}}</a>
    </li>
    <input type="hidden" name="type" value="{{ type|default('') }}"></ul>
</div>
