{% extends 'layout.html.twig' %}
{% do script(['libs/easy-pie-chart/dist/jquery.easypiechart.js','app/js/courseset/show/index.js']) %}

{% block full_content %}

	{{ render(controller(metas.header,{id: course.id})) }}

	<div class="container">
	  <div class="row">
	  	<div class="col-lg-9 col-md-8 course-detail-main">

	      {% include 'course/announcement/block.html.twig' with { courseSetId:courseSet.id, courseId:course.id } %}

	      <section class="es-section">
					<div class="nav-btn-tab">
					  <ul class="nav nav-tabs" role="tablist">
					  	{% for key, tab in metas.tabs %}
						    <li role="presentation" class="{% if nav|default('') == key %}active{% endif %}">
						      <a href="{{ path(tab.path, {'id': course.id}) }}">
						      	{{tab.name}}
						      	{% if tab.number|default(false) %}
						      	<small class="text-muted">({{ course[tab.number]|default(0) }})</small>
						      	{% endif %}
						      </a>
						    </li>
					  	{% endfor %}
					  </ul>

					  {% if (course.parentId == 0 or course.locked == 0) and (app.user.admin|default(false) or member.role|default('') == "teacher") %}
					    <div class="btnbar hidden-xs">
					      <a href="#modal" data-toggle="modal" data-url="{{ path('announcement_add',{targetType:'course',targetId:course.id}) }}" class="btn btn-link">
					        <i class="es-icon es-icon-anonymous-iconfont"></i>
					        {{'公告'|trans}}
					      </a>
					    </div>
					  {% endif %}

					</div>
					<div class="course-detail-content">

						{% block detail_content %}{% endblock %}

					</div>
	      </section>
	      
			</div>
	    <div class="col-lg-3 col-md-4 course-sidebar">
	    	{% for key, widget in metas.widgets %}
	    		{% if widget.type == 'render' %}
	    			{{ render(controller(widget.uri, {id: course.id})) }}
	    		{% elseif widget.type == 'include' %}
	    			{% include widget.uri with {id: course.id} %}
	    		{% endif %}
	    	{% endfor %}
	    </div>
		</div>
	</div>
{% endblock %}