{% extends 'MaterialLibBundle:MaterialLib:layout.html.twig' %}

{% set script_controller = 'materiallibbundle/controller/material-lib/index' %}

{% block page_body %}

		<ul class="nav nav-tabs">
			<li class="{{ type == 'all' ? 'active' : '' }}"><a name="search-items" data-url="{{ path('material_lib_browsing', {type:'all', viewMode: viewMode, source: source}) }}">全部</a></li>
			<li class="{{ type == 'video' ? 'active' : '' }}"><a href="{{ path('material_lib_browsing', {type:'video', viewMode: viewMode, source: source}) }}">视频</a></li>
			<li class="{{ type == 'audio' ? 'active' : '' }}"><a href="{{ path('material_lib_browsing', {type:'audio', viewMode: viewMode, source: source}) }}">音频</a></li>
			<li class="{{ type == 'image' ? 'active' : '' }}"><a href="{{ path('material_lib_browsing', {type:'image', viewMode: viewMode, source: source}) }}">图片</a></li>
			<li class="{{ type == 'document' ? 'active' : '' }}"><a href="{{ path('material_lib_browsing', {type:'document', viewMode: viewMode, source: source}) }}">文档</a></li>
			<li class="{{ type == 'ppt' ? 'active' : '' }}"><a href="{{ path('material_lib_browsing', {type:'ppt', viewMode: viewMode, source: source}) }}">PPT</a></li>
			<li class="{{ type == 'other' ? 'active' : '' }}"><a href="{{ path('material_lib_browsing', {type:'other', viewMode: viewMode, source: source}) }}">其它</a></li>
			</ul>
		<br>
		
		<form id="message-search-form" class="form-inline well well-sm" action="{{ path('material_lib_browsing', {type: type, viewMode: viewMode, source: source}) }}" method="get" novalidate>
            <div class="well well-sm" style="margin-bottom:10px">
              <span style="padding-right:50px">筛选:</span>
              <span>上传时间:</span>

              <div class="form-group mlm">
                <input class="form-control" type="text" id="startDate" name="startDate" value="" placeholder="起始时间">
                -
                <input class="form-control" type="text" id="endDate" name="endDate" value="" placeholder="结束时间">
              </div>

              <div class="checkbox">
                <label class="mlm">
                  <input type="checkbox" name="processStatus" value="error"> 转码失败
                </label>
              </div>
            </div>
            <div class="well well-sm" style="margin-bottom:10px">
              <span style="padding-right:50px">排序:</span>

              <div class="form-group">
                <select class="form-control" name="uploadTime">
                  <option value="desc">最近上传</option>
                  <option value="asc">最早上传</option>
                </select>
              </div>

              <div class="form-group">
                <select class="form-control" name="views">
                  <option value="desc">最多播放</option>
                  <option value="asc">最少播放</option>
                </select>
              </div>
            </div>
            <div class="well well-sm" style="margin-bottom:10px">
                <span style="padding-right:50px">标签:</span>
                {% for tag in tags %}
                <span class="mlm mrm">{{ tag.name }}</span>
                {% endfor %}
            </div>
        	<div class="form-group">
        	  <input class="form-control" type="text" placeholder="输入标题关键词"  name="keyword" value="{{ app.request.get('keyword') }}">
        	</div>
        	<button class="btn btn-primary btn-sm">搜索</button>
        	{% if source == "upload" %}
        		<div class="pull-right">
    				<a class="btn btn-info btn-sm file-create-btn"
                        data-toggle="modal" data-target="#modal"
                        data-url="{{ path('uploader_batch_uplod', {token:uploader_token('materiallib', app.user.id, 'private')}) }}">
	               <i class="glyphicon glyphicon-plus"></i>上传文件</a>
        		</div>
        		{% endif %}
        </form>
        
        <div id="material-lib-items-panel">
			{% block list %}{% endblock %}
                <div class="delete-operation">
                    <label class="checkbox-inline">
                        <input type="checkbox" data-role="batch-select" /> 全选
                    </label>
    	            {% if source == "upload" %}
                  		<button class="btn btn-info btn-md ml25" data-role="batch-delete" data-name="资料库文件"  data-url="{{ path('materiallib_file_deletes') }}">
                            <i class="es-icon es-icon-delete"></i> 删除
                        </button>
                    {% endif %}
                </div>

          {{ web_macro.paginator(paginator) }}
        </div>
		
{% endblock %}