{% if source == "upload" %}
    <li class="course-grid item-material" id="panel-upload-file">
        <div style="width: 180px; height: 180px; padding: 8px;">
       <div class="container" style="width: 100%; height: 120px; vertical-align: middle;">
        <a class="btn btn-link center-block file-create-btn tip" style="margin-top: 30px;"
        data-toggle="modal" data-target="#modal"
        data-url="{{ path('uploader_batch_uplod', {token:uploader_token('materiallib', app.user.id, 'private')}) }}" title="添加"   data-placement="bottom" >
            <i class="glyphicon glyphicon-plus" style="font-size:40px;"></i>
        </a>
        </div>
            <div>
            {% if type == 'all' %}
                <span class="text-sm">支持常见文档、图片、音视频、压缩包等格式。</span>
            {% elseif type == 'video' %}
                <span class="text-sm">支持mp4, avi, flv, wmv, mov格式，文件不能超过1GB。</span>
            {% elseif type == 'audio' %}
                <span class="text-sm">仅支持mp3格式。</span>
            {% elseif type == 'image' %}
                <span class="text-sm">支持png, jpg, gif格式。</span>
            {% elseif type == 'ppt' %}
                <span class="text-sm">支持ppt, pptx格式。</span>
            {% elseif type == 'document' %}
                <span class="text-sm">支持doc, docx, pdf格式。</span>
            {% elseif type == 'other' %}
                <span class="text-sm">支持常见文档、图片、音视频、压缩包等格式。</span>
            {% endif %}
        
            </div>
        </div>
    </li>
{% endif %}
{% for uploadFile in files %}
	<li class="course-grid item-material">
		<div style="width: 180px; height: 180px; padding: 2px;" class="course-item-list-multi">
	    <div><input value="{{uploadFile.id}}" type="checkbox" data-role="batch-item" 
	    	data-link-count="{{ uploadFile.usedCount }}"
	    	data-file-name="{{ uploadFile.filename }}"></div>

	   	{% if uploadFile.type == 'video' %}
			{% set parentClass = "item-object-video" %}
		{% elseif uploadFile.type == 'audio' %}
			{% set parentClass = "item-object-audio" %}
		{% elseif uploadFile.type == 'ppt' %}
			{% set parentClass = "item-object-ppt" %}
		{% elseif uploadFile.ext == 'pdf' %}
			{% set parentClass = "item-object-pdf" %}
		{% elseif uploadFile.ext == 'doc' or uploadFile.ext == 'docx' %}
			{% set parentClass = "item-object-doc" %}
		{% elseif uploadFile.ext == 'xls' or uploadFile.ext == 'xlsx' %}
			{% set parentClass = "item-object-xls" %}
		{% else %}
			{% set parentClass = "item-object-text" %}
		{% endif %}
		
		{% if uploadFile.type in ['video', 'audio'] %}
			{% set subTitle = uploadFile.length|date('i:s') %}
		{% else %}
			{% set subTitle = uploadFile.ext|upper %}
		{% endif %}
		
		<div style="height: 90px;" class="center-block">
			
			{% if uploadFile.type in ['video', 'audio', 'ppt', 'image'] or uploadFile.ext in ['pdf'] %}
				{% set tagName = "a" %}
				{% set title = "预览" %}
			{% else %}
				{% set tagName = "span" %}
				{% set title = "暂不支持预览" %}
			{% endif %}

			{% if uploadFile.type in ['image'] %}
				<a href="{{ path('material_lib_file_preview_content', {fileId: uploadFile.id}) }}" style="float: none;" class="item-object {{ parentClass|default('') }} center-block mtm tip image-preview" 
					title="{{ title }}" data-file-name="{{ uploadFile.filename }}" >

			{% else %}
				<{{ tagName }} style="float: none;" class="item-object {{ parentClass|default('') }} center-block mtm tip" 
					title="{{ title }}" data-placement="top" 
					{% if tagName == 'a' %} 
						href="#modal" data-toggle="modal" 
						data-url="{{ path('material_lib_file_preview', {fileId: uploadFile.id}) }}" 
					{% endif %} >
			{% endif %}
				{% if uploadFile.type == 'video' %}
					<i class="fa fa-file-video-o"></i>
				{% elseif uploadFile.type == 'audio' %}
					<i class="fa fa-file-audio-o"></i>
				{% elseif uploadFile.type == 'ppt' %}
					<i class="fa fa-file-powerpoint-o"></i>
				{% elseif uploadFile.ext == 'pdf'%}
					<i class="fa fa-file-pdf-o"></i>
				{% elseif uploadFile.ext == 'doc' or uploadFile.ext == 'docx' %}
					<i class="fa fa-file-word-o"></i>
				{% elseif uploadFile.ext == 'xls' or uploadFile.ext == 'xlsx' %}
					<i class="fa fa-file-excel-o"></i>
				{% elseif uploadFile.ext == 'txt' %}
					<i class="fa fa-file-o"></i>
				{% else %}
					<i class="fa fa-file-photo-o"></i>
				{% endif %}
				<span class="item-length">
					{{ subTitle|default('') }}
				</span>
			</{{ tagName }}>

		</div>
												
	    <span class="file-name-container text-sm">
		    {% if source == "shared"%}
	    		{{ uploadFile.filename|sub_text(12) }}
				<br>
				<span class="text-sm text-muted">
					来自 
					<span class="text-info">{{ createdUsers[uploadFile.createdUserId]["nickname"]}}</span>
				</span>
		    {% else %}
		    	{{ uploadFile.filename|sub_text(30) }}
		    {% endif %}
	    </span>
	    

	    <span class="action-buttons-container center-block text-center" style="display: none; background-color: #f6f6f6;">
	  		<a class="btn btn-link tip" href="{{ path('material_lib_file_preview_content', {fileId: uploadFile.id}) }}">
	  			<span class="glyphicon glyphicon-cloud-download"></span> 下载
	  		</a>
	  		{% if uploadFile.createdUserId == currentUserId %}
		    	<a
		    		class="btn btn-link delete-material-btn" 
		    		data-url="{{ path('material_lib_delete_file', {id: uploadFile.id}) }}"
		    		data-link-count="{{ uploadFile.usedCount }}">
		    		<span class="glyphicon glyphicon-trash"></span> 删除
		    	</a>
		    {% endif %}
		    {% if uploadFile.convertStatus == 'waiting' %}
		      <br><span class="text-warning text-sm">正在文件格式转换</span>
		      {% if ( now - uploadFile.updatedTime ) > 28800 %}
		        <a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换</a>
		      {% endif %}

		    {% elseif uploadFile.convertStatus == 'doing' %}
		      <br><span class="text-info text-sm">正在文件格式转换</span>
		      {% if uploadFile.type == 'ppt' and ( now - uploadFile.updatedTime ) > 1800 %}
		        <a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换</a>
		      {% endif %}
		    {% elseif uploadFile.convertStatus == 'error' %}
		      <br><span class="text-danger text-sm">文件格式转换失败，<a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn">重新转换</a></span>
		    {% else %}
		        {% if uploadFile.type == 'ppt' and ( not uploadFile.metas2.length|default(null) ) and uploadFile.targetType == 'courselesson'  %}
		          <br><a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换</a>
		        {% endif %}
		    {% endif %}

		    {% if setting('developer.debug') and uploadFile.convertParams.convertor|default(null) %}
		      <a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换(调试模式)</a>
		    {% endif %}
	    </span>
	  </div>
	</li>
{% else %}
    <div class="empty">无文件记录</div>
{% endfor %}
<tr class="hide">
  <td class="js-paginator">
    {% if paginator.lastPage > 1 %}
      <ul class="pagination">
        {% if paginator.currentPage != paginator.firstPage %}
          <li data-page="{{paginator.firstPage}}"><a  href="javascript:;">首页</a></li>
          <li data-page="{{paginator.previousPage}}"><a  href="javascript:;"><i class="es-icon es-icon-chevronleft"></i></a></li>
        {% endif %}
        {% for page in paginator.pages %}
          <li {% if page == paginator.currentPage %}class="active"{% endif %} data-page="{{ page }}"><a href="javascript:;">{{ page }}</a></li>
        {% endfor %}

        {% if paginator.currentPage != paginator.lastPage %}
          <li data-page="{{paginator.nextPage}}"><a  href="javascript:;"><i class="es-icon es-icon-chevronright"></i></a></li>
          <li data-page="{{paginator.getLastPage}}"><a  href="javascript:;">尾页</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </td>
</tr>


	{# <li class="course-grid item-material">
		<div style="width: 180px; height: 180px; padding: 2px;" class="course-item-list-multi" data-file="{{file.id}}">
	    <div class="select"><input value="{{file.id}}" type="checkbox" data-role="batch-item" 
	    	data-link-count="{{ file.usedCount }}"
	    	data-file-name="{{ file.filename }}"></div>

	   	{% if file.type == 'video' %}
			{% set parentClass = "item-object-video" %}
		{% elseif file.type == 'audio' %}
			{% set parentClass = "item-object-audio" %}
		{% elseif file.type == 'ppt' %}
			{% set parentClass = "item-object-ppt" %}
		{% elseif file.ext == 'pdf' %}
			{% set parentClass = "item-object-pdf" %}
		{% elseif file.ext == 'doc' or file.ext == 'docx' %}
			{% set parentClass = "item-object-doc" %}
		{% elseif file.ext == 'xls' or file.ext == 'xlsx' %}
			{% set parentClass = "item-object-xls" %}
		{% else %}
			{% set parentClass = "item-object-text" %}
		{% endif %}
		
		{% if file.type in ['video', 'audio'] %}
			{% set subTitle = file.length|date('i:s') %}
		{% else %}
			{% set subTitle = file.ext|upper %}
		{% endif %}
		
		<div style="height: 70px;" class="center-block">
			
			{% if file.type in ['video', 'audio', 'ppt', 'document', 'image'] %}
				{% set tagName = "a" %}
				{% set title = "预览" %}
			{% else %}
				{% set tagName = "span" %}
				{% set title = "暂不支持预览" %}
			{% endif %}

			{% if file.type in ['image'] %}
				<a href="{{ path('material_lib_file_preview_content', {fileId: file.id}) }}" style="float: none;" class="item-object {{ parentClass|default('') }} center-block mtm tip image-preview" 
					title="{{ title }}" data-file-name="{{ file.filename }}">

			{% else %}
				<{{ tagName }} style="float: none;" class="item-object {{ parentClass|default('') }} center-block mtm tip" 
					title="{{ title }}" data-placement="top" 
				{% if tagName == 'a' %} 
					href="#modal" data-toggle="modal" 
					data-url="{{ path('materiallib_file_preview', {id: file.id}) }}" 
				{% endif %} >
			{% endif %}

			{% if file.type == 'video' %}
				<i class="fa fa-file-video-o"></i>
			{% elseif file.type == 'audio' %}
				<i class="fa fa-file-audio-o"></i>
			{% elseif file.type == 'ppt' %}
				<i class="fa fa-file-powerpoint-o"></i>
			{% elseif file.ext == 'pdf'%}
				<i class="fa fa-file-pdf-o"></i>
			{% elseif file.ext == 'doc' or file.ext == 'docx' %}
				<i class="fa fa-file-word-o"></i>
			{% elseif file.ext == 'xls' or file.ext == 'xlsx' %}
				<i class="fa fa-file-excel-o"></i>
			{% elseif file.ext == 'txt' %}
				<i class="fa fa-file-o"></i>
			{% else %}
				<i class="fa fa-file-photo-o"></i>
			{% endif %}
			<span class="item-length">
				{{ subTitle|default('') }}
			</span>
			</{{ tagName }}>

		</div>
												
	    <div class="file-name-container text-sm text-muted">
	    	{{ file.filename|sub_text(30) }}
	    	<br>
	    	<span class="text-small">
		    	{{ web_macro.bytesToSize(file.fileSize) }}
		    </span>

		    {% if source == "shared"%}
				<br>
				<span>
					分享自
					<span>{{ createdUsers[file.createdUserId]["nickname"]}}</span>
				</span>
		    {% endif %}
	    </div>
	    

	    <div class="action-buttons-container center-block text-center convertInfo{{file.id}}" style="display: none; background-color: #f6f6f6;">
	  		<a class="btn btn-link tip" href="{{ path('materiallib_file_download', {id: file.id}) }}">
	  			<span class="es-icon es-icon-filedownload mrs"></span> 下载
	  		</a>
	  		{% if file.createdUserId == currentUserId %}
		    	<a
		    		class="btn btn-link delete-material-btn" 
		    		data-url="{{ path('materiallib_file_delete', {id: file.id}) }}"
		    		data-link-count="{{ file.usedCount }}">
		    		<span class="es-icon es-icon-delete mrs"></span> 删除
		    	</a>
		    {% endif %}
		    
	    </div>
	  </div>
	</li>
	#}
