{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %} 
{% set modalSize = 'large' %} 

{% block title %}我的分享历史{% endblock %}

{% set side_nav = 'material-lib' %}
{% set parentId = parentId | default(null)%}

{% block body %}
<script type="text/javascript">
$("#target-teachers-input").select2({
    multiple: true,
    data:[
        {% for contact in allTeachers %}
            {% if contact.id != currentUserId %}
                {id: '{{ contact.id }}', text: '{{ contact.nickname }}'},
            {% endif %}
        {% endfor %}
        ]
});
</script>
<div id="share-history-table-container">
    <table class="table table-hover table-striped" id="share-history-table">
        <div style="position:relative;">
        <form id="share-materials-form" class="form-horizontal" method="post"
    action="{{ path('material_lib_save_sharing') }}">
            <div class="btn btn-primary pull-left" id="share"style="
            z-index:2;position:relative;">
                {#<a class="btn btn-primary btn-sm" id="share" href="javascript:;" data-toggle="modal" data-target="#modal" data-url="{{ path('material_lib_my_sharing') }}">#}
                    <i class="glyphicon glyphicon-share"></i>
                    分享给
                {#</a>#}
            </div>
            <div class="col-md-8 controls">
            <div class="select2-container select2-container-multi width-full"
                id="target-teachers-input"></div>
            </div>
        </form>
            {#<div  id="show-share-input"hidden="hidden"style="
                z-index:1;left:-250px;position:relative;">
                <input id="share-teachers-input" class=" mlm select2-container select2-container-multi "style="width:200px" >
                <a id="close-share-input"class="glyphicon glyphicon-remove-sign mlm" href="javascript:;"></a>
                <a id="submit-share-input" class="glyphicon glyphicon-ok-sign mlm " href="javascript:;"></a>
            </div>#}
        </div>
    </table>
</div>
        
<div class="content">
    <ul class="nav nav-pills">
      <li><a href="javascript:;" data-url="{{ path("material_lib_my_sharing_users")}}" class="btn btn-default btn-sm show-share-users" type="button">分享用户</a></li>

        <li><a href="javascript:;" data-url="{{ path("material_lib_my_sharing_history")}}" class="btn btn-default btn-sm show-share-history" type="button">历史记录</a></li>
    </ul>
</div>

<div class="share-body">
    
</div>

<script>app.load('materiallibbundle/controller/material-lib/share-history')</script>
<script>app.load('materiallibbundle/controller/material-lib/teachers')</script>
{% endblock %}
{% block footer %}
<button id="share-materials-form-submit" type="submit"
    class="btn btn-primary pull-right" data-toggle="form-submit"
    data-target="#share-materials-form" data-submiting-text="正在保存...">保存</button>
<button type="button" class="btn btn-link pull-right"
    data-dismiss="modal">取消</button>
{% endblock %}