{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<tr id="upload-file-tr-{{uploadFile.id}}" data-role="item" data-convertHash="{{uploadFile.convertHash}}" class="item-material">

  <td><input value="{{uploadFile.id}}" type="checkbox" data-role="batch-item" 
    data-link-count="{{ uploadFile.usedCount }}"
    data-file-name="{{ uploadFile.filename }}"></td>

  <td>
    {{uploadFile.filename}}

    {% if source == "shared"%}
      <br>
      <span class="text-sm text-muted">
        来自 
        <span class="text-info">{{ createdUsers[uploadFile.createdUserId]["nickname"]}}</span>
      </span>
    {% endif %}
    
    {% if uploadFile.convertStatus == 'waiting' %}
      <br><span class="text-warning text-sm">正在文件格式转换</span>
      {% if ( now - uploadFile.updatedTime ) > 28800 %}
        <a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换</a>
      {% endif %}

    {% elseif uploadFile.convertStatus == 'doing' %}
      <br><span class="text-info text-sm">正在文件格式转换</span>
      {% if uploadFile.type == 'ppt' and ( now - uploadFile.updatedTime ) > 1800 %}
        <a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换</a>
      {% endif %}
    {% elseif uploadFile.convertStatus == 'error' %}
      <br><span class="text-danger text-sm">文件格式转换失败，<a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn">重新转换</a></span>
    {% else %}
        {% if uploadFile.type == 'ppt' and ( not uploadFile.metas2.length|default(null) ) and uploadFile.targetType == 'courselesson'  %}
          <br><a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换</a>
        {% endif %}
    {% endif %}

    {% if setting('developer.debug') and uploadFile.convertParams.convertor|default(null) %}
      <a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:'0', fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换(调试模式)</a>
    {% endif %}

  </td>
  <td>{{ web_macro.bytesToSize(uploadFile.fileSize) }}</td>
  {% if type in ['all', 'video', 'audio'] %}
    <td> 
    {% if uploadFile.type in ['video', 'audio'] %}
      {{ uploadFile.length|date('i:s') }}
    {% endif %}
    </td>
  {% endif %}
  <td> 
    <span class="text-muted text-sm">{{ uploadFile.updatedTime|date('Y-n-d H:i')}}</span>
  </td>
  <td>
    
  <span class="pull-right">
    {% if uploadFile.type in ['video', 'audio', 'ppt'] or uploadFile.ext in ['pdf'] %}
      <a class="btn btn-link tip" title="预览"  href="#modal" data-toggle="modal" data-url="{{ path('material_lib_file_preview', {fileId: uploadFile.id}) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
    {% elseif uploadFile.type in ['image'] %}
      <a class="btn btn-link tip image-preview" title="预览" href="{{ path('material_lib_file_preview_content', {fileId: uploadFile.id}) }}" 
         data-file-name="{{ uploadFile.filename }}" ><span class="glyphicon glyphicon-eye-open"></span></a>
    {% endif %}

    <a class="btn btn-link tip" title="下载"  href="{{ path('material_lib_file_preview_content', {fileId: uploadFile.id}) }}">
      <span class="glyphicon glyphicon-cloud-download"></span>
    </a>
    {% if uploadFile.createdUserId == currentUserId %}
      <a
        class="btn btn-link delete-material-btn tip" title="删除" 
        data-url="{{ path('material_lib_delete_file', {id: uploadFile.id}) }}"
        data-link-count="{{ uploadFile.usedCount }}">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    {% endif %} 
  </span>
  </td>

</tr>


{#
{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<tr id="upload-file-tr-{{file.id}}" data-role="item" data-file="{{file.id}}" data-convertHash="{{file.convertHash}}" class="item-material">

  <td><input value="{{file.id}}" type="checkbox" data-role="batch-item" 
    data-link-count="{{ file.usedCount }}"
    data-file-name="{{ file.filename }}"></td>

  <td class="first-col convertInfo{{file.id}}">
    {{file.filename}}

    {% if source == "shared"%}
      <br>
      <span class="text-sm text-muted">
        分享自 
        <span>{{ createdUsers[file.createdUserId]["nickname"]}}</span>
      </span>
    {% endif %}

  </td>
  <td>{{ web_macro.bytesToSize(file.fileSize) }}</td>
	{% if type in ['all', 'video', 'audio'] %}
	  <td> 
	  {% if file.type in ['video', 'audio'] %}
			{{ file.length|date('i:s') }}
		{% endif %}
	  </td>
  {% endif %}
  <td> 
    {{ file.updatedTime|date('Y-n-d H:i')}}
  </td>
  <td>

  <span class="pull-right">
    {% if file.type in ['video', 'audio', 'ppt', 'document', 'flash'] %}
    	<a class="btn btn-link tip" title="预览"  href="#modal" data-toggle="modal" data-url="{{ path('materiallib_file_preview', {id: file.id}) }}"><span class="es-icon es-icon-removeredeye"></span></a>
    {% elseif file.type in ['image'] %}
      <a class="btn btn-link tip image-preview" title="预览" href="{{ path('material_lib_file_preview_content', {fileId: file.id}) }}" 
         data-file-name="{{ file.filename }}" ><span class="es-icon es-icon-removeredeye"></span></a>
    {% endif %}

  	<a class="btn btn-link tip" title="下载"  href="{{ path('materiallib_file_download', {id: file.id}) }}">
      <span class="es-icon es-icon-filedownload"></span>
    </a>
    {% if file.createdUserId == currentUserId %}
    	<a
        class="btn btn-link delete-material-btn tip" title="删除" 
        data-url="{{ path('materiallib_file_delete', {id: file.id}) }}"
        data-link-count="{{ file.usedCount }}">
        <span class="es-icon es-icon-delete"></span>
      </a>
    {% endif %} 
  </span>
  </td>

</tr>
#}