{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<tr id="upload-file-tr-{{file.id}}" data-role="item" data-convertHash="{{file.convertHash}}" class="item-material">

  <td><input value="{{file.id}}" type="checkbox" data-role="batch-item" 
    data-link-count="{{ file.usedCount }}"
    data-file-name="{{ file.filename }}"></td>

  <td class="first-col">
    {{file.filename}}

    {% if file.convertStatus == 'waiting' %}
      <div class="label label-default audit-status-label">等待转码</div>
    {% elseif file.convertStatus == 'doing' %}
      <div class="label label-default audit-status-label">正在转码</div>
    {% elseif file.convertStatus == 'error' %}
      <div class="label label-info audit-status-label">转码失败</div>
    {% endif %}

    {% if source == "shared"%}
      <br>
      <span class="text-sm text-muted">
        分享自 
        <span>{{ createdUsers[file.createdUserId]["nickname"]}}</span>
      </span>
    {% endif %}

  </td>
  <td>{{ web_macro.bytesToSize(file.fileSize) }}</td>
	{% if type in ['all', 'video', 'audio'] %}
	  <td> 
	  {% if file.type in ['video', 'audio'] %}
			{{ file.length|date('i:s') }}
		{% endif %}
	  </td>
  {% endif %}
  <td> 
    {{ file.updatedTime|date('Y-n-d H:i')}}
  </td>
  <td>

  <span class="pull-right">
    {% if file.type in ['video', 'audio', 'ppt', 'document', 'flash'] %}
    	<a class="btn btn-link tip" title="预览"  href="#modal" data-toggle="modal" data-url="{{ path('materiallib_file_preview', {id: file.id}) }}"><span class="es-icon es-icon-removeredeye"></span></a>
    {% elseif file.type in ['image'] %}
      <a class="btn btn-link tip image-preview" title="预览" href="{{ path('material_lib_file_preview_content', {fileId: file.id}) }}" 
         data-file-name="{{ file.filename }}" ><span class="es-icon es-icon-removeredeye"></span></a>
    {% endif %}

  	<a class="btn btn-link tip" title="下载"  href="{{ path('materiallib_file_download', {id: file.id}) }}">
      <span class="es-icon es-icon-filedownload"></span>
    </a>
    {% if file.createdUserId == currentUserId %}
    	<a
        class="btn btn-link delete-material-btn tip" title="删除" 
        data-url="{{ path('materiallib_file_delete', {id: file.id}) }}"
        data-link-count="{{ file.usedCount }}">
        <span class="es-icon es-icon-delete"></span>
      </a>
    {% endif %} 
  </span>
  </td>

</tr>