{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}

{% block title %}<span class="text-muted">资料预览</span>{% endblock %}

{% block body %}
    {# {{ render(controller('TopxiaWebBundle:FileWatch:modalBody', {file:file})) }} #}

    {% if file.type == 'video' or file.type == 'audio' %}
    <div id="lesson-preview-player" 
        style="height:300px"
        data-balloon-player="{{ setting('developer.balloon_player')|default(0) }}"
        data-player-url="{{path('material_lib_file_player', {fileId: file.id})}}"
      {% if setting('storage.video_watermark') and setting('storage.video_watermark_image') %}
        data-watermark="{{ file_url(setting('storage.video_watermark_image'), null, true) }}"
      {% endif %}
      {% if setting('storage.video_fingerprint') and app.user %}
        data-fingerprint="{{ url('cloud_video_fingerprint', {userId:app.user.id}) }}"
      {% endif %}
    ></div>
  {% elseif file.type == 'ppt' %}
    <div id="lesson-preview-ppt-player" data-url="{{ path('material_lib_file_preview_ppt', {fileId: file.id}) }}" style="min-height: 500px; "></div>
  {% elseif file.type == 'image' %}
    <img src="{{file.thumbnail}}">
    {#<div id="lesson-preview-iframe" data-url="{{ path('material_lib_file_preview_image', {fileId: file.id}) }}"></div>
    <div {% if setting('course.copy_enabled')|default(0) > 0 %} oncopy="return false;" oncut="return false;" onselectstart="return false" oncontextmenu="return false;"{% endif %}>
    </div>#}
  {% endif %}

  <script>app.load('course/lesson-preview')</script>
{% endblock %}

{% block footer %}
	<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
{% endblock %}