{% extends 'TopxiaWebBundle:ClassroomManage:layout.html.twig' %}

{% block title %}{{ setting('classroom.name')|default("班级") }}管理 - {{ parent() }}{% endblock %}

{% set side_nav = 'main' %}
{% set script_controller = 'classroom/index' %}

{% block main %}

       
<div class="panel panel-default panel-col">

  <div class="panel-body">
        {{ web_macro.flash_messages() }}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="well">
                                <h4>设置</h4>
                                <table class="table">
                                    <tr>
                                        <td>简介</td>
                                        {% if not classroom.about %}
                                        <td><a class="btn btn-danger btn-xs pull-right" href="{{path('classroom_manage_set_info',{id:classroom.id})}}">未设置 <i class="glyphicon glyphicon-circle-arrow-right"></i></a></span></td>
                                        {% else %}
                                        <td><i class="glyphicon glyphicon-ok-sign pull-right text-success"></i></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>图片</td>
                                        {% if not classroom.smallPicture %}
                                        <td><a class="btn btn-danger btn-xs pull-right" href="{{path('classroom_manage_set_picture',{id:classroom.id})}}">未设置 <i class="glyphicon glyphicon-circle-arrow-right"></i></a></span></td>
                                        {% else %}
                                        <td><i class="glyphicon glyphicon-ok-sign pull-right text-success"></i></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>价格</td>
                                        <td><a class="btn btn-info btn-xs pull-right" href="{{path('classroom_manage_set',{id:classroom.id})}}">{{classroom.price}} <i class="glyphicon glyphicon-circle-arrow-right"></i></a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well">
                                <h4>课程</h4>
                                <table class="table">
                                    <tr>
                                        <td>课程数</td>
                                        <td><a class="btn btn-{% if coursesCount > 0 %}info{% else %}danger{% endif %} btn-xs pull-right" href="{{ path('classroom_manage_courses', {id:classroom.id}) }}">{{coursesCount|default(0)}} <i class="glyphicon glyphicon-circle-arrow-right"></i></a></span></td>
                                    </tr>
                                    <tr>
                                        <td>课时数</td>
                                        <td><span class="label label-default pull-right">{{lessonNum}}</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well">
                                <h4>学员</h4>
                                <table class="table">
                                    <tr>
                                        <td>学员数</td>
                                        <td><a class="btn {% if (classroom.studentNum) > 0 %}btn-info{% else %}btn-danger{% endif %} btn-xs pull-right" href="{{ path('classroom_manage_students', {id:classroom.id}) }}">{{classroom.studentNum}} <i class="glyphicon glyphicon-circle-arrow-right"></i></a></span></td>
                                    </tr>
                                    <tr>
                                        <td>旁听生数</td>
                                        <td><a class="btn {% if (classroom.auditorNum) > 0 %}btn-info{% else %}btn-danger{% endif %} btn-xs pull-right" href="{{ path('classroom_manage_students', {id:classroom.id}) }}">{{classroom.auditorNum}} <i class="glyphicon glyphicon-circle-arrow-right"></i></a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    {% if classroom.status == "published" %}
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>{{ setting('classroom.name')|default("班级") }}学习情况</h4>
                                <table class="table">
                                    <thead>
                                        <th></th>
                                        <th>昨日</th>
                                        <th>今日</th>
                                    </thead>
                                    <tr>
                                        <td>全部学员数</td>
                                        <td>72</td>
                                        <td>43</td>
                                    </tr>
                                    <tr>
                                        <td>正式学员数</td>
                                        <td>16</td>
                                        <td>8</td>
                                    </tr>
                                    <tr>
                                        <td>课时完成学习数</td>
                                        <td>3453</td>
                                        <td>527</td>
                                    </tr>
                                    <tr>
                                        <td>新增问题数</td>
                                        <td>86</td>
                                        <td>17</td>
                                    </tr>
                                    <tr>
                                        <td>新增话题数</td>
                                        <td>366</td>
                                        <td>93</td>
                                    </tr>
                                    <tr>
                                        <td>新增笔记数</td>
                                        <td>464</td>
                                        <td>270</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-6">
                                <h5>最新评价</h5>
                                <hr>
                                <div class="media">
                                  <div class="pull-left">
                                    <span class="class-name">阿本</span>
                                        <a href="" class="btn btn-success btn-xs">私信</a>
                                  </div>
                                  <div class="media-body">
                                    <span class="class-star">
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                    </span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<time>2015-01-27</time>
                                    <p>体验了一下，感觉还不错哦！</p>
                                  </div>
                                </div>

                                <div class="media">
                                  <div class="pull-left">
                                    <span class="class-name">阿本</span>
                                        <a href="" class="btn btn-success btn-xs">私信</a>
                                  </div>
                                  <div class="media-body">
                                    <span class="class-star">
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                    </span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<time>2015-01-27</time>
                                    <p>体验了一下，感觉还不错哦！</p>
                                  </div>
                                </div>

                                <div class="media">
                                  <div class="pull-left">
                                    <span class="class-name">阿本</span>
                                        <a href="" class="btn btn-success btn-xs">私信</a>
                                  </div>
                                  <div class="media-body">
                                    <span class="class-star">
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                    </span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<time>2015-01-27</time>
                                    <p>体验了一下，感觉还不错哦！</p>
                                  </div>
                                </div>

                                <div class="media">
                                  <div class="pull-left">
                                    <span class="class-name">阿本</span>
                                        <a href="" class="btn btn-success btn-xs">私信</a>
                                  </div>
                                  <div class="media-body">
                                    <span class="class-star">
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                    </span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<time>2015-01-27</time>
                                    <p>体验了一下，感觉还不错哦！</p>
                                  </div>
                                </div>

                            </div>
                        </div>
                        <hr>
                    <div class="row text-center">
                        <span class="text-success-large"> <i class="glyphicon glyphicon-ok-circle"></i> 已发布</span>&nbsp;&nbsp;
                        <div class="btn btn-default" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">关闭</div>
                    </div>

                    <div id="myModal" class="modal fade">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">关闭{{ setting('classroom.name')|default("班级") }}</h4>
                          </div>
                          <div class="modal-body">
                            <p>确定要关闭吗？</p>
                          </div>
                          <div class="modal-footer">
                            <a data-dismiss="modal" href="">取消</a>&nbsp;
                            <button type="button" class="btn btn-success" id="sure" data-url="{{path('classroom_manage_close',{id:classroom.id})}}">确定</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% else %}
                    <div class="row text-center">
                        <a href="#" class="btn btn-default">预览</a>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                        发布
                        </button>
                    </div>

                    <div id="myModal" class="modal fade">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">发布{{ setting('classroom.name')|default("班级") }}</h4>
                          </div>
                          <div class="modal-body">
                            <p><span class="text-danger">课程还未设置</span>&nbsp;确定要发布吗？</p>
                          </div>
                          <div class="modal-footer">
                            <a data-dismiss="modal" href="">取消</a>&nbsp;
                            <button type="button" class="btn btn-success" id="sure" data-url="{{path('classroom_manage_publish',{id:classroom.id})}}">确定</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}


  </div>
</div>

{% endblock %}