{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{ setting('classroom.name')|default("班级") }}管理 - {{ parent() }}{% endblock %}

{% block content %}

  {% include ('TopxiaWebBundle:ClassroomManage:header.html.twig') %}

<div class="row">
  <div class="col-md-3">
    {% block side %}
      {% set side_nav = side_nav|default(null) %}
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="list-group-panel">
            <div class="list-group-heading">{{ setting('classroom.name')|default("班级") }}</div>
            <div class="list-group">
              <a class="list-group-item {% if side_nav == 'main' %}active{% endif %}" href="{{ path('classroom_manage', {id:classroom.id}) }}">{{ setting('classroom.name')|default("班级") }}管理</a>
              <a class="list-group-item {% if side_nav == 'set' %}active{% endif %}" href="{{ path('classroom_manage_set_info', {id:classroom.id}) }}">设置</a>
              <a class="list-group-item {% if side_nav == 'courses' %}active{% endif %}" href="{{ path('classroom_manage_courses', {id:classroom.id}) }}">课程管理</a>
              <a class="list-group-item {% if side_nav == 'students' %}active{% endif %}" href="{{ path('classroom_manage_students', {id:classroom.id}) }}">学员管理</a>
              <a class="list-group-item {% if side_nav == 'teachers' %}active{% endif %}" href="{{ path('classroom_manage_teachers', {id:classroom.id}) }}">教师管理</a>
            </div>
          </div>
        </div>

      </div>
    {% endblock %}
  </div>
  <div class="col-md-9">
    {% block main %}{% endblock %}
  </div>
</div>
{% endblock %}