{% extends 'admin-v2/layout.html.twig' %}

{% set script_controller = '' %}

{% set menu = 'admin_v2_operation_certificate_template_manage' %}

{% block main %}
  <form class="well well-sm form-inline">
    <div class="form-group">
      <label>{{ 'admin.operation_certificate.template.type'|trans }}:</label>
      <select class="form-control" name="targetType">
        {{ select_options(dict('certificateTypes'), app.request.query.get('targetType'), 'admin.operation_certificate.template.type.all'|trans) }}
      </select>
    </div>
    <div class="form-group mll">
      <label>{{ 'admin.operation_certificate.template.title'|trans }}:</label>
      <input class="form-control" name="nameLike" type="text" placeholder="{{'admin.custom_page_manage.keyword_placeholder'|trans}}" value="{{ app.request.query.get('nameLike') }}">
    </div>
    <button class="btn btn-primary" type="submit">{{'form.btn.search'|trans}}</button>
    <a class="btn btn-primary" href="{{ path('admin_v2_operation_certificate_template_create') }}">{{ 'admin.operation_certificate.template.create'|trans }}</a>
  </form>

  <table class="table table-hover table-striped" id="template-table">
    <thead>
    <tr>
      <th width="25%">{{'admin.operation_certificate.template.title'|trans}}</th>
      <th>{{'admin.operation_certificate.template.type'|trans}}</th>
      <th>{{'admin.operation_certificate.template.creator'|trans}}</th>
      <th>{{'admin.operation_certificate.template.create_time'|trans}}
      <th>{{'admin.operation_certificate.template.operate'|trans}}</th>
    </tr>
    </thead>
    <tbody>
    {% if templates %}
      {% for template in templates %}
        {% set user = users[template.createdUserId]|default(null) %}
        {% include 'admin-v2/operating/certificate-template/template-tr.html.twig' %}
      {% endfor %}
    {% else %}
      <tr><td colspan="20"><div class="empty">{{'site.datagrid.empty'|trans}}</div></td></tr>
    {% endif %}
    </tbody>
  </table>
{% endblock %}