{% import "common/data-dict-macro.html.twig" as dict_macro %}
<tr>
  <td>
    {{ certificate.userId }}
  </td>
  <td>
    {{ dict_macro.certificateTypes(certificate.targetType) }}
  </td>
  <td>
    {{ certificate.auditTime|date('Y-n-d H:i:s') }}
  </td>
  <td>{{ certificate.status }}
  </td>
  <td>
    {{ certificate.issueTime|date('Y-n-d H:i:s') }}
  </td>
  <td>
    {{ certificate.userId }}
  </td>
  <td>
    <div class="btn-group">
      {% if has_permission('admin_v2_certificate_manage') %}
        <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal"
           data-url="{{ path('admin_v2_certificate_examine_audit_detail', {id:certificate.id}) }}"
           type="button">{{ 'admin.operation_certificate.certificate.audit.audit_certificate'|trans }}</a>
      {% endif %}
    </div>
  </td>
</tr>