{% extends 'activity/activity-layout.html.twig' %}
{% do script(['libs/select2.js','libs/ltc-sdk-client.js','trainingactivity/js/create/index.js']) %}
{% block activity_step %}
<div class="tab-content" id="iframe-content">
    <div class="tab-pane js-course-tasks-pane active js-step2-view">
        <form class="form-horizontal" id="step2-form" >
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label for="title" class="control-label-required">
                        标题名称
                    </label>
                </div>
                <div class="col-sm-10">
                  <input id="title" class="form-control" type="text" name="title" value="" >
                  <div class="help-block">{{ 'course.plan_task.activity_manage.help_block'|trans }}</div>
                </div>
            </div>
          <div class="form-group">
            <div class="col-sm-2 control-label">
                  <label for="lab_type" class="control-label-required">
                      实训环境
                  </label>
              </div>
              <div class="col-sm-8">
                <select class="form-control width-150" id="lab_type" name="lab_type">
                  <option value="">请选择</option>
                  <option value="1" {% if info.lab_type == 1 %} selected {% endif %} >Lab环境</option>
                  <option value="2" {% if info.lab_type == 2 %} selected {% endif %} >Link环境</option>
                </select>
              </div>
          </div>
          <div class="form-group link_div" style="display:none;">
              <div class="col-sm-2 control-label">
                  <label for="link_url" class="control-label-required">
                      URL
                  </label>
              </div>
              <div class="col-sm-8">
                <input id="link_url" class="form-control" type="text" name="link_url" value="{% if info.link is defined %}{{ info.link }}{% endif %}" >
              </div>
          </div>
          <div class="form-group images_div" style="display:none;">
              <div class="col-sm-2 control-label">
                  <label for="images" class="control-label-required">
                      镜像
                  </label>
              </div>
              <div class="col-sm-8">
                <a id="picker_images_items" data-url="{{ path('images_set_manage_picker',{id:activity.fromCourseSetId}) }}" data-pick-url="{{ path('images_set_manage_pickerd',{id:activity.fromCourseSetId}) }}" class="btn btn-info btn-sm js-pick-modal" data-role="pick-item-images"><i class="es-icon es-icon-anonymous-iconfont"></i>
                    选择镜像
                </a>
                {% set cacheName = "" %}
                {% set imagesName = "" %}
                {% if info.lab_type == 1 %}
                  {% set cacheName = {'name':info.img_repo,'version':info.img_tag} %}
                  {% set imagesName = info.img_repo ~ ":"~info.img_tag %}
                {% endif %}
                <span class="selectImages">{{imagesName}}</span>
                <input type="hidden" class="images-cache" id="images" name="images" value="{{cacheName|json_encode|raw|escape}}">
              </div>
          </div>

          <div class="form-group dataset_div" style="display:none;">
              <div class="col-sm-2 control-label">
                  <label class="control-label-required">
                      数据集
                  </label>
              </div>
              <div class="col-sm-8">
                <a id="picker_dataset_items" data-url="{{ path('dataset_set_manage_picker',{id:activity.fromCourseSetId}) }}" class="btn btn-info btn-sm js-pick-modal" data-role="pick-item-dataset"><i class="es-icon es-icon-anonymous-iconfont"></i>
                  选择数据集
                </a>
                <input type="hidden" class="dataset-cache" id="datasets" name="datasets" value="{% if info.datasets is defined %}{{info.datasets|json_encode|raw|escape}}{% endif %}">
              </div>
              <div class="col-sm-8">
              <br />
                <h4 class="tag-lists">
                {% if info.datasets is defined %}
                  {% set tags = info.datasets %}
                {% endif %}
                  {{ include('training/manage/dataset/component/tags.html.twig') }}
                </h4>
              </div>
          </div>
          <div class="form-group">
              <div class="col-sm-2 control-label">
                  <label for="text-content-field" class="control-label-required">
                    内容
                  </label>
              </div>
              <div class="col-sm-10">
                <a id="see-draft-btn" class="activity-link text-12 js-continue-edit hidden" data-content="">
                  您有一段自动保存内容，请点击继续编辑
                </a>
                  <textarea class="form-control type-hidden js-text" id="text-content-field" name="content"></textarea>
                  <div class="help-block">{{ 'editor.iframe_tips'|trans }}</div>
              </div>
          </div>
        </form>
    </div>
</div>
<style>
   .tag-info{
        float:left;
        padding-left:5px;
    }
    .items-tag-info{
        display:inline-block; *display:inline; *zoom:1;
    }

    .bb-icon-close {
        color: black;
        position: absolute;
        display: inline-block;
        width: 16px;
        height: 16px;
        line-height: 15px;
        cursor: pointer;
        text-decoration: underline;
        vertical-align: top;
        text-align: left;
    }
    .bb-icon-close a{
        text-decoration:none;
    }
</style>
{% endblock %}