{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}绑定用户 - {{ parent() }}{% endblock %}
{% set script_controller = 'auth/login-bind-exist' %}

{% block content %}
<div class="row row-6">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default panel-page">
      <div class="panel-heading"><h2>绑定用户</h2></div>

        {% if error %}<div class="alert alert-warning">{{ error }}</div>{% endif %}
        <div class="alert">您当前正在使用<strong>{{ client.clientInfo.name }}</strong>登录{{ setting('site.name') }}</div>

        <form id="bind-exist-form" class="form-vertical" method="post">
          <div class="form-group">
            {{ form_label(form.email, 'Email地址', {label_attr:{class:'control-label'}}) }}
            <div class="controls">
              {{ form_widget(form.email, {attr:{class:'form-control', 'data-url':path('login_check_email')}}) }}
              <p class="help-block">请填写在{{ setting('site.name') }}注册时填写的Email地址</p>
            </div>
          </div>

          <div class="form-group">
            {{ form_label(form.password, '密码', {label_attr:{class:'control-label'}}) }}
            <div class="controls">
              {{ form_widget(form.password, {attr:{class:'form-control'}}) }}
            </div>
          </div>

          <div class="form-group">
            <div class="controls">
              {{ form_rest(form) }}
              <button class="btn btn-fat btn-primary btn-large" type="submit">绑定</button>
            </div>
          </div>
        </form>

        <div>
          <span class="text-muted">还没有帐号？</span>
          <a href="{{ path('login_bind_new', {type: client.clientInfo.type}) }}">注册一个新帐号</a>
        </div>

    </div>

  </div>
</div>
{% endblock %}