{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}登录 - {{ parent() }}{% endblock %}
{% set script_controller = 'auth/login' %}

{% block content %}
<div class="row row-6">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default panel-page">
      <div class="panel-heading"><h2>登录</h2></div>

      <form id="login-form" class="form-vertical" method="post" action="{{ path('login_check') }}">

        {% if error %}
          <div class="alert alert-danger">{{ error.message|trans }}</div>
        {% endif %}
{{ web_macro.flash_messages() }}
        <div class="form-group">
          <label class="control-label" for="login_username">帐号</label>
          <div class="controls">
            <input class="form-control" id="login_username" type="text" name="_username" value="{{ last_username }}" required />
            <div class="help-block">请输入Email地址 / 用户昵称</div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="login_password">密码</label>
          <div class="controls">
            <input class="form-control" id="login_password" type="password" name="_password" required />
          </div>
        </div>

        {% if (setting('login_bind.captcha_enabled')|default(0)) == 1 %}
          <div class="form-group">
            <label class="control-label required" for="captcha_num">验证码</label>
            <div class="controls row" >
              <div class = "col-md-7" >
                <input type="text" class="form-control" id="captcha_num" name="captcha_num" maxlength="5" data-explain="输入验证码，区分大小写" required="required"  data-url="{{path('register_captcha_check')}}" >
              </div>
              <div class="col-md-5">
                <img src="{{ path('register_captcha_num') }}" data-url="{{ path('register_captcha_num') }}" id="getcode_num" title="看不清，点击换一张" >
              </div>
              <div class="col-md-12 help-block">输入验证码，区分大小写</div>  
            </div>
            
          </div>  
        {% endif %}

        <div class="form-group">
          <div class="controls">
            <span class="checkbox mtm pull-right">
              <label> <input type="checkbox" name="_remember_me" checked="checked"> 记住密码 </label>
            </span>
            <button type="submit" class="btn btn-fat btn-primary btn-large">登录</button>
          </div>
        </div>

        <input type="hidden" name="_target_path" value="{{ _target_path }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      </form>

      <div class="ptl">
          <a href="{{ path('password_reset') }}">找回密码</a>
          <span class="text-muted mhs">|</span>
          <span class="text-muted">还没有注册帐号？</span>
          <a href="{{ path('register', {goto:_target_path}) }}">立即注册</a>
      </div>

      {% include 'TopxiaWebBundle:Login:social-logins-block.html.twig' %}
    </div>

  </div>
</div>
{% endblock %}