{% extends 'bootstrap-modal-layout.html.twig' %}
{% block title %}{{'order.refund'|trans}}{% endblock %}
{% do script(['app/js/product/exit/index.js'])%}

{% block body %}
  <form id="refund-form" class="form-horizontal" method="post" action="{{ path('product_member_exit', {targetId:product.targetId, targetType:product.targetType}) }}">
    <div class="form-group">
      <div class="col-md-3 control-label">{{'order.refund'|trans}}</div>
      <div class="col-md-8 controls">
        <select class="form-control" name="reason[type]" id="reasonType">
          {{ dict_select_options('refund_reason') }}
        </select>
        <textarea id="reasonNote" class="form-control hide mtm" name="reason[note]" placeholder="{{'order.refund.reason_tips'|trans}}"></textarea>
        <div class='color-danger warnning mts'></div>
        {% if order.pay_amount > 0 %}
          {% if member.refundDeadline == 0 %}
              <div class="gray-medium ptm">{{ 'order.refund.refund_is_not_supported'|trans }}</div>           
          {% elseif member.refundDeadline < timestamp() %}
            <label class="mtm gray-medium">
              <input type="checkbox" name="applyRefund" value="0" disabled /> 
              {{'order.refund.apply_for_btn'|trans}} 
              <span class="text-sm">{{'order.refund.buy_price'|trans({'%amount%':order.pay_amount})}}</span>
            </label>
            <div class="alert alert-warning mtm mbs">{{'order.refund.failed_tips'|trans({'%maxRefundDays%':maxRefundDays})}}</div>          
          {% else %}        
            <label class="mtm">
              <input type="checkbox" name="applyRefund" value="1" /> 
              {{'order.refund.apply_for_btn'|trans}} 
              <span class="color-gray text-sm">{{'order.refund.buy_price'|trans({'%amount%':order.pay_amount})}}</span>
            </label>
            <div class="alert alert-info mtm mbs">
              {{'order.refund.success_tips'|trans({'%maxRefundDays%':maxRefundDays})}}
            </div>            
          {% endif %}
        {% endif %}
      </div>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}

{% block footer %}
  <button class="btn btn-danger refund-btn" type="submit" data-toggle="form-submit" data-target="#refund-form" data-loading-text="{{'order.refund.quit_study_btn.submiting'|trans}}">{{'order.refund.quit_study_btn'|trans}}</button>
{% endblock %}
