{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}笔记详情... - {{ parent() }}{% endblock %}

{% set nav = 'my-notes' %}
{% set script_controller = 'my-notes/my-notes' %}
{% set bodyClass = 'lesson-notes' %}

{% block content %}

<div class="row">
    
    {% include 'TopxiaWebBundle:My:my-nav.html.twig' %}

    <div class="col-lg-9">
        
        <div class="notice-my-notes">
           
            <a href="{{ path('my_notes') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-backward"> </span>
            </a>
            <h1> {{course.title}} </h1>
        </div>

        <div class="col-lg-3">

            <ul class="nav nav-tabs nav-stacked note-list">
                {% for courseNote in courseNotes %}
                    <li id="note-li-{{courseNote.id}}" data-role="note-in-list"
                    {% if loop.index == 1 %}
                    class="active"
                    {% endif %} value="{{courseNote.id}}">
                       <a href="javascript:;">课时 {{ lessons[courseNote['lessonId']].number }} : 
                        {{ lessons[courseNote['lessonId']].title }}
                       </a> 
                    </li>
                {% endfor %}
            </ul>
            
        </div>

        <div class="col-lg-6 course-notes">

            {% for courseNote in courseNotes %}

                <form id="note-form-{{courseNote.id}}" name="note-form" class="form-horizontal note-form" method="post" action="{{ path('my_notes_update', {noteId:courseNote.id}) }}" noteId="{{courseNote.id}}">

                    <div class="operations" {% if loop.index != 1 %}  style="display:none" {% endif %}>
                        <a href="javascript:;" class="btn btn-mini note-edit" data-url=""> <span class="glyphicon glyphicon-edit"></span> </a>

                        <a class="btn btn-mini note-delete" href="javascript:" data-url="{{ path('my_notes_delete', {noteId:courseNote.id}) }}"> <span class="glyphicon glyphicon-trash"></span></a>

                        <div class="note-content">
                            {{ courseNote.content | raw }}

                            <textarea id="note-content-{{courseNote.id}}" name="content" style="display:none"> 
                            {{ courseNote.content | raw }}
                            </textarea>
                        </div>
                    </div>

                    <button style="display:none" type="submit" class="btn btn-primary pull-right update-note" data-toggle="form-submit" data-target="#note-form">保存</button>
                </form>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}
