{% extends '@Web/TaskPlugin/base.html.twig' %}

{% set preview = 1 %}

{% block content %}

  <ul class="task-list ">
    {% for task in tasks %}
      {% set task_lock =  not  task.result|default(null) %}
      <li class="task-item {% if task.activityId == activity.id %} active {% endif %} mouse-control">
        <i class="es-icon
              {% if task_lock %}
                es-icon-lock
              {% elseif task.result.status == 'start' %}
                es-icon-doing
              {% elseif task.result.status == 'finish' %}
                es-icon-iccheckcircleblack24px
              {% endif %}
                left-menu"></i>
        {% if task.isOptional %}
          <span class="label label-success mrm">选修</span>
        {% endif %}
        <a class="text-overflow" {% if task_lock and not preview %} data-url {% else %}
           href {% endif %} ="{{ path('course_task_show', {id:task.id,courseId:task.courseId, preview: preview}) }}">{{ task.title }}</a>
        {% if task_lock %}
          <span class="right-menu mouse-leave">{{ task.activity.length|activity_length_format }}
            <i class="es-icon {{ activity_metas(task.activity.mediaType).icon }} mlm"></i>
                </span>
          <span class="right-menu mouse-enter color-primary">任务未解锁</span>
        {% else %}
          <span class="right-menu">{{ task.activity.length|activity_length_format }}
            <i class="es-icon {{ activity_metas(task.activity.mediaType).icon }} mlm" data-toggle="tooltip"
               data-placement="top" title="{{ activity_metas(task.activity.mediaType).name }}任务"></i>
                </span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endblock %}