{% set minPrice = coursesPrice[course.id].minPrice|default(0)|currency %}
{% set maxPrice = coursesPrice[course.id].maxPrice|default(0)|currency %}

{% if setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin' %}
  <span class="course-price course-price-{{course.id}}" style="display:inline">
    {% if minPrice == 0 and maxPrice == 0 %}
      {{'免费'|trans}}
    {% else %}
      {% set minCoinPrice = minPrice * setting('coin.cash_rate') %}
      {% set maxCoinPrice = maxPrice * setting('coin.cash_rate') %}
      {{'价格 : %minPrice%%coinName% - %maxPrice%%coinName%'|trans({'%minPrice%': minCoinPrice,'%maxPrice%': maxCoinPrice, '%coinName%': setting('coin.coin_name')}) }}
    {% endif %}
  </span>
{% else %}
  <span class="course-price course-price-{{course.id}}">
    {% if minPrice == 0 and maxPrice == 0 %}
      {{'免费'|trans}}
    {% else %}
      {{'价格 : %minPrice%元 - %maxPrice%元'|trans({'%minPrice%': minPrice,'%maxPrice%': maxPrice}) }}
    {% endif %}
  </span>
{% endif %}