{% import "macro.html.twig" as web_macro %}
{% do script(['app/js/open-course-manage/header/index.js'])%}

<div class="courseset-manage-header cd-mb32 clearfix">
  <a href="{{ path('open_course_show', {courseId:course.id}) }}">
    <img class="courseset-manage-header__img" src="{{ filepath(course.largePicture, 'course.png') }}" />
  </a>

  {% if course.status =='closed' %}
    <span class="course-publish-status course-publish-status--closed">{{'course.status.closed'|trans}}</span>
  {% elseif course.status =='draft' %}
    <span class="course-publish-status course-publish-status--unpublished">{{'course.status.unpublished'|trans}}</span>
  {% elseif course.status =='published' %}
    <span class="course-publish-status course-publish-status--published">{{'course.status.published'|trans }}</span>
  {% endif %}

  <div class="courseset-manage-header-info">
    <div class="courseset-manage-header-info__title text-overflow">
      [{{ dict('courseType')[course.type] }}]<a class="link-dark" href="{{ path('open_course_show', {courseId:course.id}) }}">{{ course.title }}</a>
    </div>
  </div>


  <div class="courseset-manage-header-btn hidden-xs">

    {% if course.status == 'published' %}
      <a class="cd-btn cd-btn-primary" href="{{ path('open_course_show',{courseId:course.id}) }}">{{'course.btn.back_course_homepage'|trans}}</a>
    {% else %}
      <button class="cd-btn cd-btn-primary course-publish-btn" data-url="{{ path('open_course_manage_publish', {id:course.id}) }}">{{'course.btn.publish'|trans}}</button>
    {% endif %}

    <div class="cd-dropdown cd-dropdown-right" data-toggle="cd-dropdown">
      <button class="cd-btn cd-btn-primary course-manage-header-more">
        <i class="es-icon es-icon-morehoriz"></i>
      </button>
      <ul class="dropdown-menu text-center">
        <li>
          <a href="{{ path('open_course_show',{courseId:course.id,as:'preview'}) }}" target="_blank">{{ 'open_course.preview'|trans }}</a>
        </li>
        <li>
          <a href="{{ path('open_course_show',{courseId:course.id,as:'preview', previewType: 'wx'}) }}" target="_blank">{{ 'open_course.preview_in_wechat'|trans }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="courseset-manage-header-data">
    <span>{{ 'my.teaching.open_course.hit_num'|trans }}</span>
    <div class="cd-mt16 cd-dark-major"><span class="courseset-manage-header-data__num">{{ course.hitNum }}</span>{{ 'site.default.times'|trans }}</div>
  </div>
</div>