{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}
{% set lesson = lesson|default(null) %}


{% block title %}
  {% if lesson %}{{'my.teaching.open_course.lesson.modal.edit'|trans}}{{ lesson.number }}{% else %}{{'my.teaching.open_course.lesson.modal.add'|trans}}{% endif %}
{% endblock %}

{% block body %}

<form id="course-lesson-form" data-course-id="{{course.id}}" class="form-horizontal lesson-form" method="post" {% if parentId is defined%}data-parentId="{{parentId}}" {% endif %}
  data-create-draft-url="{{path('open_course_draft_create')}}"
  {% if lesson %}
    action="{{ path('open_course_manage_lesson_edit', {courseId:course.id, lessonId:lesson.id}) }}" data-lesson-id="{{lesson.id}}"
  {% else %}
    action="{{ path('open_course_manage_lesson_create', {id:course.id}) }}"
  {% endif %}
  >

  <div class="form-group" style="display:none;">
    <div class="col-md-2 control-label"><label>{{'my.teaching.open_course.lesson.modal.lesson_type'|trans}}</label></div>
    <div class="col-md-9 controls">
      <div class="radios">
        <label><input type="radio" name="type" value="video" checked="checked" /> {{'my.teaching.open_course.lesson.video'|trans}}</label>
      </div>
    </div>
  </div>

  <div class="form-group for-text-type for-video-type for-audio-type {% if storageSetting.upload_mode == 'cloud' %}for-ppt-type for-document-type for-flash-type{% endif %}" >
    <div class="col-md-2 control-label"><label for="lesson-title-field">{{'my.teaching.open_course.lesson.modal.lesson_title'|trans}}</label></div>
    <div class="col-md-9 controls">
      <div class="row">
        <div class="col-md-10">
          <input id="lesson-title-field" class="form-control" type="text" name="title" value="{{ field_value(lesson, 'title') }}" >
        </div>
      </div>
    </div>
  </div>
   
  <div class="form-group for-text-type">

    <div class="col-md-2 control-label"><label for="lesson-content-field" class="style1">{{'my.teaching.open_course.lesson.modal.lesson_content'|trans}}</label></div>
    <div class="col-md-9 controls">

      {% if draft|default(false) %}
      <a id ="see-draft-btn" class="btn btn-link" data-url="{{path('course_draft_view')}}" >
        <small>
        {{'my.teaching.open_course.lesson.modal.lesson_content.tips'|trans}}
        </small>
      </a>
      {% endif %}

      <textarea class="form-control" id="lesson-content-field" name="content"
      data-image-upload-url="{{ path('editor_upload', {token:upload_token('course')}) }}"
      data-flash-upload-url="{{ path('editor_upload', {token:upload_token('course', 'flash')}) }}" data-image-download-url="{{ path('editor_download', {token:upload_token('course')}) }}"
      >{{ lesson.content|default('') }}</textarea>
    </div>
  </div>

  <div class="form-group for-video-type for-audio-type {% if storageSetting.upload_mode == 'cloud' %}for-ppt-type for-document-type for-flash-type{% endif %} ">
    <div class="col-md-2 control-label for-video-type"><label>{{'my.teaching.open_course.lesson.video'|trans}}</label></div>
    <div class="col-md-2 control-label for-audio-type"><label>{{'my.teaching.open_course.lesson.audio'|trans}}</label></div>
    <div class="col-md-2 control-label for-ppt-type"><label>PPT</label></div>
    <div class="col-md-2 control-label for-document-type"><label>{{'my.teaching.open_course.lesson.document'|trans}}</label></div>
    <div class="col-md-2 control-label for-flash-type"><label>Flash</label></div>
    <div class="col-md-9 controls">
      {% include "open-course-manage/media-choose.html.twig" %}
      <input id="lesson-media-field" type="hidden" name="media" value="{{ field_value(lesson, 'media')|json_encode }}">
    </div>
  </div>

  {% if storageSetting.upload_mode|default('local') == 'cloud' and lesson.mediaSource|default('self') == 'self' %}
    <div class="form-group for-video-type" id="subtitle-form-group">
      <div class="col-md-2 control-label for-video-type"><label>{{'my.teaching.open_course.lesson.modal.media_dialog'|trans}}</label></div>
      <div class="col-md-10 controls js-subtitle-list" data-dialog-url="{{ path('media_subtitle_manage_dialog') }}">
        <p style="margin-top:6px;color:#a1a1a1">{{ 'my.teaching.open_course.lesson.modal.upload.tips'|trans }}</p>
      </div>
      <div class="col-md-offset-2 help-block">
        <p style="margin-left:10px;">{{ 'my.teaching.open_course.lesson.modal.media_dialog.help_block'|trans|raw }}</p>
      </div>
    </div>
  {% endif %}

  <div class="form-group for-video-type for-audio-type" id="lesson-length-form-group">
      <div class="col-md-2 control-label for-video-type"><label>{{'my.teaching.open_course.lesson.modal.video_length'|trans}}</label></div>
      <div class="hide"><label for="lesson-length-field">{{'my.teaching.open_course.lesson.modal.video_length'|trans}}{{ 'site.default.or'|trans }}</label></div>
      <div class="col-md-2 control-label for-audio-type"><label for="lesson-length-field">{{'my.teaching.open_course.lesson.modal.audio_length'|trans}}</label></div>
    <div class="col-md-9 controls">
      <input class="form-control width-input width-input-small" id="lesson-minute-field" type="text" name="minute" value="{{ field_value(lesson, 'minute') }}">{{'site.default.minute'|trans}}
      <input class="form-control width-input width-input-small" id="lesson-second-field" type="text" name="second" value="{{ field_value(lesson, 'second') }}">{{'site.default.second'|trans}}
      <div class="help-block">{{'my.teaching.open_course.lesson.modal.lesson_length.help_block'|trans}}</div>
    </div>
  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

</form>

{% include 'seajs_loader_compatible.html.twig' with {topxiawebbundle: true} %}
<script>app.lazyPool.push(function() { app.load('open-course-manage/lesson-modal') });</script>

{% endblock %}
{% block footer %}
    <button type="button" class="btn btn-link" data-dismiss="modal" id="cancel-btn">{{'form.btn.cancel'|trans}}</button>
    <button id="course-lesson-btn" data-submiting-text="{{'form.btn.submit.submiting'|trans}}" type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#course-lesson-form">{% if lesson %}{{'form.btn.save'|trans}}{% else %}{{'form.field.create'|trans}}{% endif %}</button>
{% endblock %}

{% set hideFooter = true %}