{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}
{% set lesson = lesson|default(null) %}

{% block title %}
  {% if lesson %}{{'my.teaching.open_course.lesson.modal.edit'|trans}}{{ lesson.number }}{% else %}{{'my.teaching.open_course.lesson.modal.add'|trans}}{% endif %}
{% endblock %}

{% do script(['libs/iframe-resizer.js', 'app/js/open-course-manage/lesson-modal/index.js']) %}

{% block body %}
  <div class="task-create-editor" id="task-create-editor">
    <div id="task-create-content" class="task-create-content hidden" 
      {% if lesson %}
        data-save-url="{{ path('open_course_manage_lesson_edit', {courseId: course.id, lessonId: lesson.id}) }}" data-lesson-id="{{lesson.id}}"
      {% else %}
        data-url= "{{ path('open_course_manage_lesson_create_form', {id: course.id}) }}"
        data-save-url="{{ path('open_course_manage_lesson_create', {id: course.id}) }}"
      {% endif %}
    ></div>
  </div>
{% endblock %}

{% block footer %}
<button type="button" class="btn btn-link" data-dismiss="modal">{{ 'form.btn.cancel'|trans }}</button>
<button id="form-submit" type="submit" class="btn btn-primary" data-loading-text="{{ 'form.btn.submit.submiting'|trans }}">
  {% if lesson %}{{'form.btn.save'|trans}}{% else %}{{'form.field.create'|trans}}{% endif %}
</button>
{% endblock %}