<style>
  .webuploader-container {
    position: relative;
  }

  .webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }

  .webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #fff;
    padding: 5px 10px;
    color: #333;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ccc;
    overflow: hidden;
  }

  .webuploader-pick-hover {
    background: #e6e6e6;
    border-color: #adadad;
  }

  .webuploader-pick-disable {
    opacity: 0.6;
    pointer-events: none;
  }

  .balloon-uploader {
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .balloon-uploader-heading {
    background-color: #f5f5f5;
    color: #333;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    display: none;
  }

  .balloon-uploader-footer {
    background-color: #f5f5f5;
    color: #333;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    text-align: right;
  }

  .balloon-filelist {
    width: 100%;
  }

  .balloon-filelist-heading {
    padding: 8px 10px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
  }

  .balloon-uploader-body {
    position: relative;

  }

  .balloon-filelist .file-name,
  .balloon-filelist .file-size,
  .balloon-filelist .file-status,
  .balloon-filelist .file-manage {
    position: relative;
    z-index: 1;
  }

  .balloon-filelist .file-name {
    display: inline-block;
    width: 40%;
  }

  .balloon-filelist .file-size {
    display: inline-block;
    width: 20%;
  }

  .balloon-filelist .file-status {
    display: inline-block;
    width: 18%;
  }

  .balloon-filelist .file-manage {
    display: inline-block;
    width: 20%;
    z-index: 9999;
    position: absolute;
  }

  .balloon-filelist ul {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 100px;
    max-height: 300px;
    overflow-y: scroll;
  }

  .balloon-filelist ul li {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 8px 10px;
  }

  .balloon-dnd {
    visibility: hidden;
  }

  .balloon-uploader-none .balloon-uploader-footer,
  .balloon-uploader-none .balloon-uploader-body {
    visibility: hidden;
  }

  .balloon-uploader-none .balloon-dnd {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
  }

  .balloon-nofile {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 100px;
    text-align: center;
    color: #999;
  }

  .balloon-uploader .file-pick-btn {
    display: inline-block;
  }

  .balloon-uploader .start-upload-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #5bc0de;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #46b8da;
    overflow: hidden;
  }

  .balloon-uploader .start-upload-btn:hover {
    background: #31b0d5;
    border-color: #269abc;
  }

  .balloon-filelist .file-progress {
    position: absolute;
    top: 0;
    left: 0;
    right: -40px;
    bottom: 0;
  }

  .balloon-filelist .file-progress-bar {
    background: rgb(219, 242, 215);
    background: rgba(59, 181, 33, 0.18);
    float: left;
    height: 100%;
  }

</style>

{% set courseType = courseType|default('course') %}
{% set courseMaterialUrl = 'open_course_manage_material_browser' %}

{% set lesson = lesson|default(null) %}
<div id="media-choosers">

  <div class="file-chooser" id="video-chooser" style="display:none;"
       data-targetType="{{ targetType }}"
       data-targetId="{{ targetId }}"
  >
    <div class="file-chooser-bar" style="display:none;">
      <span data-role="placeholder"></span>
      <button class="btn btn-link btn-sm" type="button" data-role="trigger"><i
            class="glyphicon glyphicon-edit"></i> {{ 'my.teaching.open_course.lesson.video_chooser.edit_btn'|trans }}</button>
      <div class="alert alert-warning" data-role="waiting-tip"
           style="display:none;">{{ 'my.teaching.open_course.lesson.video_chooser.tips'|trans|raw }}</div>
    </div>

    <div class="file-chooser-main pv10 ph10">
      <ul class="nav nav-pills nav-pills-sm mbs file-chooser-tabs">
        <li><a class="file-chooser-uploader-tab" href="#video-chooser-upload-pane"
               data-toggle="tab">{{ 'my.teaching.open_course.lesson.video_chooser.upload_btn'|trans }}</a></li>
        <li>
          <a href="#video-chooser-disk-pane" data-toggle="tab">
            {{ 'my.teaching.open_course.lesson.video_chooser.upload_form_material_btn'|trans }}
          </a>
        </li>

        <li>
          <a href="#video-chooser-course-file" data-toggle="tab">
            {{ 'my.teaching.open_course.lesson.video_chooser.upload_form_course_file_btn'|trans }}
          </a>
        </li>

        <li {% if lesson and lesson.mediaSource != 'self' %}class="active"{% endif %}>
          <a href="#video-chooser-import-pane" data-toggle="tab">{{ 'my.teaching.open_course.lesson.video_chooser.import_online_video_btn'|trans }}</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="video-chooser-upload-pane">

          <div class="file-chooser-uploader">
            {% include 'cloud-file/video-quality-switcher.html.twig' %}
            {% set token = uploader_token(targetType, targetId, 'private') %}
            <div class="balloon-uploader"
                 data-init-url="{{ path('uploader_init', {token:token}) }}"
                 data-finish-url="{{ path('uploader_finished', {token:token}) }}"
                 data-upload-auth-url="{{ path('uploader_auth', {token:token}) }}"
                {% if storageSetting.upload_mode == 'cloud' %}
                  data-accept="{{ uploader_accept(targetType, 'video')|json_encode }}"
                {% else %}
                  data-accept="{{ uploader_accept(targetType, 'local_video')|json_encode }}"
                {% endif %}
                 data-process="{{ uploader_process(targetType) }}"
            ></div>


            <div class="alert alert-info">
              <ul>
                {% if storageSetting.upload_mode == 'cloud' %}
                  {{ 'my.teaching.open_course.lesson.video_chooser.upload_mode.cloud.tips'|trans|raw }}
                {% else %}
                  {{ 'my.teaching.open_course.lesson.video_chooser.upload_mode.no_cloud.tips'|trans({'%upload_max_filesize%':upload_max_filesize(), '%Edusoho%':'EduSoho'|copyright_less })|raw }}
                {% endif %}
              </ul>
            </div>

          </div>

        </div>
        <div class="tab-pane" id="video-chooser-disk-pane">
          <div id="file-browser-video" data-role="file-browser"
               data-base-url="{{ path('uploadfile_browser', {type:'video', source:'upload'}) }}"
               data-default-url="{{ path('uploadfile_browser', {type:'video', source:'upload'}) }}"
               data-my-sharing-contacts-url="{{ path('material_lib_my_sharing_contacts') }}"
               data-empty="{{ 'my.teaching.open_course.lesson.video_chooser.upload_validate_empty'|trans }}">
            <div class="file-browser-list-container"></div>
          </div>
        </div>

        <div class="tab-pane" id="video-chooser-course-file">
          <div id="file-browser-video" data-role="course-file-browser"
               data-url="{{ path(courseMaterialUrl, {courseId:targetId, type:'video', courseType:courseType}) }}"
               data-empty="{{ 'my.teaching.open_course.lesson.video_chooser.upload_validate_empty'|trans }}">
          </div>
        </div>

        <div class="tab-pane" id="video-chooser-import-pane">
          {% if lesson %}
            <div>{{ 'my.teaching.open_course.lesson.video_chooser.origin_url'|trans }}{{ lesson.mediaUri }}</div>
          {% endif %}
          <div class="input-group">
            <input class="form-control" type="text" placeholder="{{ 'site.media.import.input_placeholder'|trans }}"
                   data-role="import-url">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" data-role="import"
                      data-url="{{ path('media_video_import', {courseId:course.id}) }}"
                      data-loading-text="{{ 'my.teaching.open_course.lesson.video_chooser.impor_loading'|trans }}">{{ 'my.teaching.open_course.lesson.video_chooser.import_btn'|trans }}</button>
            </span>
          </div>
          <strong class="color-danger">* {{ 'my.teaching.open_course.lesson.video_chooser.import.tips'|trans }}</strong>
        </div>
      </div>
    </div>

  </div>


  <div class="file-chooser" id="audio-chooser" style="display:none;"
       data-targetType="{{ targetType }}"
       data-targetId="{{ targetId }}"
  >
    <div class="file-chooser-bar" style="display:none;">
      <span data-role="placeholder"></span>
      <button class="btn btn-link btn-sm" type="button" data-role="trigger"><i
            class="glyphicon glyphicon-edit"></i> {{ 'my.teaching.open_course.lesson.video_chooser.edit_btn'|trans }}</button>
    </div>

    <div class="file-chooser-main">
      <ul class="nav nav-pills nav-pills-sm mbs file-chooser-tabs">
        <li><a class="file-chooser-uploader-tab" href="#audio-chooser-upload-pane"
               data-toggle="tab">{{ 'my.teaching.open_course.lesson.audio_chooser.upload_audio_btn'|trans }}</a></li>
        <li><a href="#audio-chooser-disk-pane" data-toggle="tab">
            {{ 'my.teaching.open_course.lesson.video_chooser.upload_form_material_btn'|trans }}
          </a></li>

        <li>
          <a href="#audio-chooser-course-file" data-toggle="tab">
            {{ 'my.teaching.open_course.lesson.video_chooser.upload_form_course_file_btn'|trans }}
          </a>
        </li>

      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="audio-chooser-upload-pane">

          <div class="file-chooser-uploader">
            {% set token = uploader_token(targetType, targetId, 'private') %}
            <div class="balloon-uploader"
                 data-init-url="{{ path('uploader_init', {token:token}) }}"
                 data-finish-url="{{ path('uploader_finished', {token:token}) }}"
                 data-upload-auth-url="{{ path('uploader_auth', {token:token}) }}"
                 data-accept="{{ uploader_accept(targetType, 'audio')|json_encode }}"
                 data-process="{{ uploader_process(targetType) }}"
            >
            </div>

            <div class="alert alert-info">
              <ul>
                <li>{{ 'my.teaching.open_course.lesson.audio_chooser.tips'|trans|raw }}<strong>
                    {% if storageSetting.upload_mode == 'cloud' %}
                      500M
                    {% else %}
                      {{ upload_max_filesize() }}
                    {% endif %}
                  </strong>。
                </li>
                {% if storageSetting.upload_mode == 'cloud' %}
                  {{ 'my.teaching.open_course.lesson.audio_chooser.upload_mode.cloud.tips'|trans|raw }}
                {% else %}
                  {{ 'my.teaching.open_course.lesson.audio_chooser.upload_mode.not_cloud.tips'|trans({'%Edusoho%':'EduSoho'|copyright_less})|raw }}
                {% endif %}
              </ul>
            </div>
          </div>

        </div>
        <div class="tab-pane" id="audio-chooser-disk-pane">
          <div id="file-browser-audio" data-role="file-browser"
               data-base-url="{{ path('uploadfile_browser', {type:'audio'}) }}"
               data-default-url="{{ path('uploadfile_browser', {type:'audio', source:'upload'}) }}"
               data-my-sharing-contacts-url="{{ path('material_lib_my_sharing_contacts') }}"
               data-empty="{{ 'my.teaching.open_course.lesson.audio_chooser.audio.empty'|trans }}">
            <div class="file-browser-list-container"></div>
          </div>
        </div>

        <div class="tab-pane" id="audio-chooser-course-file">
          <div id="file-browser-audio" data-role="course-file-browser"
               data-url="{{ path(courseMaterialUrl, {courseId:targetId, type:'audio', courseType:courseType}) }}"
               data-empty="{{ 'my.teaching.open_course.lesson.audio_chooser.audio.empty'|trans }}"></div>
        </div>

      </div>
    </div>

  </div>


  <div class="file-chooser" id="ppt-chooser" style="display:none;"
       data-params-url="{{ path('uploadfile_params', {storage:storageSetting.upload_mode, targetType:targetType, targetId:targetId, convertor:'ppt', lazyConvert:1}) }}"
       data-targetType="{{ targetType }}"
       data-targetId="{{ targetId }}"
  >
    <div class="file-chooser-bar" style="display:none;">
      <span data-role="placeholder"></span>
      <button class="btn btn-link btn-sm" type="button" data-role="trigger"><i
            class="glyphicon glyphicon-edit"></i> {{ 'my.teaching.open_course.lesson.video_chooser.edit_btn'|trans }}</button>
    </div>

    <div class="file-chooser-main">
      <ul class="nav nav-pills nav-pills-sm mbs file-chooser-tabs">
        <li><a class="file-chooser-uploader-tab" href="#ppt-chooser-upload-pane" data-toggle="tab">{{ 'my.teaching.open_course.lesson.ppt_chooser.upload_btn'|trans }}</a></li>
        <li><a href="#ppt-chooser-disk-pane" data-toggle="tab">
            {{ 'my.teaching.open_course.lesson.video_chooser.upload_form_material_btn'|trans }}
          </a></li>

        <li>
          <a href="#ppt-chooser-course-file" data-toggle="tab">
            {{ 'my.teaching.open_course.lesson.video_chooser.upload_form_course_file_btn'|trans }}
          </a>
        </li>

      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="ppt-chooser-upload-pane">

          <div class="file-chooser-uploader">
            {% set token = uploader_token(targetType, targetId, 'private') %}
            <div class="balloon-uploader"
                 data-init-url="{{ path('uploader_init', {token:token}) }}"
                 data-finish-url="{{ path('uploader_finished', {token:token}) }}"
                 data-upload-auth-url="{{ path('uploader_auth', {token:token}) }}"
                 data-accept="{{ uploader_accept(targetType, 'ppt')|json_encode }}"
                 data-process="{{ uploader_process(targetType) }}"
            >
            </div>

            <div class="alert alert-info">
              <ul>
                {{ 'my.teaching.open_course.lesson.ppt_chooser.tips'|trans|raw }}
              </ul>
            </div>
          </div>

        </div>
        <div class="tab-pane" id="ppt-chooser-disk-pane">
          <div id="file-browser-ppt" data-role="file-browser"
               data-base-url="{{ path('uploadfile_browser', {type:'ppt'}) }}"
               data-default-url="{{ path('uploadfile_browser', {type:'ppt', source:'upload'}) }}"
               data-my-sharing-contacts-url="{{ path('material_lib_my_sharing_contacts') }}"
               data-empty="{{ 'my.teaching.open_course.lesson.ppt_chooser.audio.empty'|trans }}">
            <div class="file-browser-list-container"></div>
          </div>
        </div>

        <div class="tab-pane" id="ppt-chooser-course-file">
          <div id="file-browser-ppt" data-role="course-file-browser"
               data-url="{{ path(courseMaterialUrl, {courseId:targetId, type:'ppt', courseType:courseType}) }}"
               data-empty="{{ 'my.teaching.open_course.lesson.ppt_chooser.audio.empty'|trans }}"></div>
        </div>

      </div>
    </div>

  </div>


  <div class="file-chooser" id="document-chooser" style="display:none;"
       data-params-url="{{ path('uploadfile_params', {storage:storageSetting.upload_mode, targetType:targetType, targetId:targetId, convertor:'document'}) }}"
       data-targetType="{{ targetType }}"
       data-targetId="{{ targetId }}"
  >
    <div class="file-chooser-bar" style="display:none;">
      <span data-role="placeholder"></span>
      <button class="btn btn-link btn-sm" type="button" data-role="trigger"><i
            class="glyphicon glyphicon-edit"></i> {{ 'my.teaching.open_course.lesson.video_chooser.edit_btn'|trans }}</button>
    </div>

    <div class="file-chooser-main">
      <ul class="nav nav-pills nav-pills-sm mbs file-chooser-tabs">
        <li><a class="file-chooser-uploader-tab" href="#document-chooser-upload-pane"
               data-toggle="tab">{{ 'my.teaching.open_course.lesson.document_chooser.upload_btn'|trans }}</a></li>
        <li><a href="#document-chooser-disk-pane" data-toggle="tab">
            {{ 'my.teaching.open_course.lesson.video_chooser.upload_form_material_btn'|trans }}
          </a></li>

        <li>
          <a href="#document-chooser-course-file" data-toggle="tab">
            {{ 'my.teaching.open_course.lesson.video_chooser.upload_form_course_file_btn'|trans }}
          </a>
        </li>

      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="document-chooser-upload-pane">

          <div class="file-chooser-uploader">

            {% set token = uploader_token(targetType, targetId, 'private') %}
            <div class="balloon-uploader"
                 data-init-url="{{ path('uploader_init', {token:token}) }}"
                 data-finish-url="{{ path('uploader_finished', {token:token}) }}"
                 data-upload-auth-url="{{ path('uploader_auth', {token:token}) }}"
                 data-accept="{{ uploader_accept(targetType, 'cloud_document')|json_encode }}"
                 data-process="{{ uploader_process(targetType) }}"></div>

            <div class="alert alert-info">
              <ul>
                {{ 'my.teaching.open_course.lesson.document_chooser.tips'|trans|raw }}
              </ul>
            </div>
          </div>

        </div>
        <div class="tab-pane" id="document-chooser-disk-pane">
          <div id="file-browser-document" data-role="file-browser"
               data-base-url="{{ path('uploadfile_browser', {type:'document'}) }}"
               data-default-url="{{ path('uploadfile_browser', {type:'document', source:'upload'}) }}"
               data-my-sharing-contacts-url="{{ path('material_lib_my_sharing_contacts') }}"
               data-empty="{{ 'my.teaching.open_course.lesson.document_chooser.document.empty'|trans }}">
            <div class="file-browser-list-container"></div>
          </div>
        </div>

        <div class="tab-pane" id="document-chooser-course-file">
          <div id="file-browser-document" data-role="course-file-browser"
               data-url="{{ path(courseMaterialUrl, {courseId:targetId, type:'document', courseType:courseType}) }}"
               data-empty="{{ 'my.teaching.open_course.lesson.document_chooser.document.empty'|trans }}"></div>
        </div>

      </div>
    </div>

  </div>


  <div class="file-chooser" id="flash-chooser" style="display:none;"
       data-params-url="{{ path('uploadfile_params', {storage:storageSetting.upload_mode, targetType:targetType, targetId:targetId, convertor:''}) }}"
       data-targetType="{{ targetType }}"
       data-targetId="{{ targetId }}"
  >
    <div class="file-chooser-bar" style="display:none;">
      <span data-role="placeholder"></span>
      <button class="btn btn-link btn-sm" type="button" data-role="trigger"><i
            class="glyphicon glyphicon-edit"></i> {{ 'my.teaching.open_course.lesson.video_chooser.edit_btn'|trans }}</button>
    </div>

    <div class="file-chooser-main">
      <ul class="nav nav-pills nav-pills-sm mbs file-chooser-tabs">
        <li><a class="file-chooser-uploader-tab" href="#flash-chooser-upload-pane"
               data-toggle="tab">{{ 'my.teaching.open_course.lesson.flash_chooser.upload_btn'|trans }}</a></li>
        <li><a href="#flash-chooser-disk-pane" data-toggle="tab">
            {{ 'my.teaching.open_course.lesson.video_chooser.upload_form_material_btn'|trans }}
          </a></li>

        <li>
          <a href="#flash-chooser-course-file" data-toggle="tab">
            {{ 'my.teaching.open_course.lesson.video_chooser.upload_form_course_file_btn'|trans }}
          </a>
        </li>

      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="flash-chooser-upload-pane">

          <div class="file-chooser-uploader">
            {% set token = uploader_token(targetType, targetId, 'private') %}
            <div class="balloon-uploader"
                 data-init-url="{{ path('uploader_init', {token:token}) }}"
                 data-finish-url="{{ path('uploader_finished', {token:token}) }}"
                 data-upload-auth-url="{{ path('uploader_auth', {token:token}) }}"
                 data-accept="{{ uploader_accept(targetType, 'flash')|json_encode }}"
                 data-process="{{ uploader_process(targetType) }}"
            ></div>


            <div class="alert alert-info">
              <ul>
                {{ 'my.teaching.open_course.lesson.flash_chooser.tips'|trans|raw }}
              </ul>
            </div>
          </div>

        </div>
        <div class="tab-pane" id="flash-chooser-disk-pane">
          <div id="file-browser-flash" data-role="file-browser"
               data-base-url="{{ path('uploadfile_browser', {type:'flash'}) }}"
               data-default-url="{{ path('uploadfile_browser', {type:'flash', source:'upload'}) }}"
               data-my-sharing-contacts-url="{{ path('material_lib_my_sharing_contacts') }}"
               data-empty="{{ 'my.teaching.open_course.lesson.flash_chooser.flash.empty'|trans }}">
            <div class="file-browser-list-container"></div>
          </div>
        </div>

        <div class="tab-pane" id="flash-chooser-course-file">
          <div id="file-browser-flash" data-role="course-file-browser"
               data-url="{{ path(courseMaterialUrl, {courseId:targetId, type:'flash', courseType:courseType}) }}"
               data-empty="{{ 'my.teaching.open_course.lesson.flash_chooser.flash.empty'|trans }}"></div>
        </div>

      </div>
    </div>

  </div>


</div>
