{% extends 'open-course-manage/layout.html.twig' %}
{% block title %}{{'my.teaching.open_course.course_picture.title'|trans}} - {{ parent() }}{% endblock %}
{% set side_nav = 'picture' %}
{% do script(['app/js/open-course-manage/picture/index.js'])%}

{% block main %}

<div class="panel panel-default panel-col">
  <div class="panel-heading">
    {{'my.teaching.open_course.course_picture.title'|trans}}
  </div>

  <div class="panel-body">
      {{ web_macro.flash_messages() }}

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <img class="img-responsive" src="{{ filepath(course.largePicture, 'course.png') }}" />
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <p class="help-block">{{ 'my.teaching.open_course.course_picture.title.help_block'|trans|raw }}<strong>{{'2MB'|trans}}</strong>。</p>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <a
          id="upload-picture-btn"
          class="btn btn-fat btn-primary upload-picture-btn"
          data-upload-token="{{ upload_token('tmp', 'image') }}"
          data-goto-url="{{path('open_course_manage_picture_crop', {id:course.id})}}"
          >{{'form.btn.picture_crop'|trans}}</a>
        </div>
      </div>

  </div>
</div>

{% endblock %}

