{% extends 'open-course-manage/layout.html.twig' %}

{% block title %}{{'教师设置'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'teachers' %}
{% do script(['libs/jquery-validation.js','app/js/course-manage/teachers/index.js']) %}

{% block main %}

<style>

.ui-autocomplete {
    border:1px solid #ccc;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 3px #EEEEEE;
}
.ui-autocomplete-ctn{
    margin:0;
    padding:0;
}
.ui-autocomplete-item {
    width: 180px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    padding:0 10px 0 10px;
    cursor: default;
}
.ui-autocomplete-item-hover {
    background:#f2f2f2;
}
.ui-autocomplete-item-hl {
    background:#F6FF94;
}

</style>

<div class="panel panel-default panel-col">
  <div class="panel-heading">{{'教师设置'|trans}}</div>
  <div class="panel-body">
    <form id="teachers-form" class="form-horizontal" method="post" >
      {{ web_macro.flash_messages() }}
      <div class="form-group" id="teachers-form-group">
        <div class="col-md-2 control-label"><label>{{'已添加教师'|trans}}</label></div>
        <div class="col-md-8 controls">
          <div id="course-teachers" data-field-name="teachers" data-init-value="{{teacherIds|json_encode}}" data-query-url="{{path('open_course_manage_teachers_match', {id:course.id})}}"></div>
          <div class="help-block">{{'只能添加有教师权限的用户'|trans}}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-8 controls">
          <button type="submit" class="btn btn-fat btn-primary">{{'保存'|trans}}</button>
        </div>
      </div>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    </form>
  </div>
</div>
{% endblock %}