{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_edu_cloud_sms_setting' %} 
{% set script_controller = 'educloud/sms-overview' %}
{% set script_arguments = {items: items}  %}

{#{% if setting('cloud_status.locked')|default('') == true %}
  {% block page_title %}
      <div class="alert alert-warning" role="alert">{{'您的教育云服务已被锁定，请联系客服人员：'|trans}}0571-86819929。</div>
    {{ currentMenu.code|parent_permission.name|trans }}
  {% endblock %}
{% endif %}#}

{% block main %}
<div class="panel panel-default">
  <div class="panel-heading">
    基本信息 
  </div>
  <div class="panel-body">
    <div class="pll pbl">
      短信余额：
      <span class="h3 text-primary plm prs">{{account.remainCount}}</span>条
      <span class="color-gray">（信用额度剩余: {{account.creditLimit}}条）</span>
      <a href="" class="btn btn-sm btn-primary">购买</a>
      <div class="text-danger pts">
      {{account.message}}
      </div>
    </div>
    <div class="pll pbm">
      今日发送：
      <span class="color-gray phm text-md">{{account.todayUsed}} 条</span>
      <a href="">发送记录</a>｜<a href="">发送明细</a> 
    </div>
  </div>
</div>

<div class="panel panel-default panel-chart">
  <input id="flowItemData" type="hidden" value="{{flowItem|default('')}}"/>
  <div class="panel-heading">
    短信发送趋势
    <span class="text-muted">（最近1个月）</span>
    <a class="pull-right" href="">更多&ensp;></a>
  </div>
  <div class="panel-body">
    <div id="smsSendChart" style="width: 100%;height:400px;"></div>
  </div>
</div>
{% endblock %}