{% extends 'admin-v2/layout.html.twig' %}
{% set script_controller = 'data-statistics/overview/index' %}
{% set menu = 'admin_v2_data_statistics_overview_basic_tab' %}

{% block main %}
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title">
        {{ 'admin.homepage.todays_data_title'|trans }}
        <span data-toggle="popover"
              class="glyphicon glyphicon-question-sign color-gray text-sm js-today-data-popover"></span>
        {{ 'admin.homepage.todays_data.tooltips'|trans|raw }}
      </h3>
    </div>
    <div class="panel-body" id="site-overview-table" data-url="{{ path('admin_v2_data_statistics_daily_overview') }}">
      <div class="empty">{{ 'admin.homepage.loadig_data_tips'|trans }}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default panel-420">
        <div class="panel-heading">
          <div class="pull-right">
            <span class="mrl text-sm js-data-switch-time">{{ dates.weekDate }}~{{ 'now'|date('Y-m-d') }} </span>
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-primary js-task-switch-button"
                      data-time="{{ dates.weekDate }}~{{ 'now'|date('Y-m-d') }}"
                      data-url="{{ path('admin_v2_data_statistics_task_learn_overview', {period: 'week'}) }}">{{ 'admin.homepage.statistic.week'|trans }}</button>
              <button type="button" class="btn btn-default js-task-switch-button"
                      data-time="{{ dates.monthDate }}~{{ 'now'|date('Y-m-d') }}"
                      data-url="{{ path('admin_v2_data_statistics_task_learn_overview', {period: 'month'}) }}">{{ 'admin.homepage.statistic.month'|trans }}</button>
            </div>
          </div>
          <h3 class="panel-title">{{ 'admin.homepage.task_finish_statistic_title'|trans({'%taskName%':setting('course.task_name')|default('admin.setting_course.task'|trans)}) }}
            <span data-toggle="popover"
                  class="glyphicon glyphicon-question-sign color-gray text-sm js-data-popover"></span>
            <div class="popover-content hidden">
              <div class="popover-item">
                <div class="content">
                  {{ 'admin.homepage.task_finish_statistic.tips'|trans({'%taskName%':setting('course.task_name')|default('admin.setting_course.task'|trans)}) }}
                </div>
              </div>
            </div>
          </h3>
        </div>
        <div class="panel-body js-statistic-areas" id="study-task-count-statistic"
             data-url="{{ path('admin_v2_data_statistics_task_learn_overview', {period: 'week'}) }}"
             style="height:360px;">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default panel-420">
        <div class="panel-heading">
          <div class="pull-right">
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-primary js-course-switch-button"
                      data-time="{{ dates.weekDate }}~{{ 'now'|date('Y-m-d') }}"
                      data-url="{{ path('admin_v2_data_statistics_course_explore_overview', {period: 'week'}) }}">{{ 'admin.homepage.statistic.week'|trans }}</button>
              <button type="button" class="btn btn-default  js-course-switch-button"
                      data-time="{{ dates.monthDate }}~{{ 'now'|date('Y-m-d') }}"
                      data-url="{{ path('admin_v2_data_statistics_course_explore_overview', {period: 'month'}) }}">{{ 'admin.homepage.statistic.month'|trans }}</button>
            </div>
          </div>
          <h3 class="panel-title">{{ 'admin.homepage.course_ranking_title'|trans }}</h3>
        </div>
        <div class="panel-body js-statistic-areas" id="course-explore-list"
             data-url="{{ path('admin_v2_data_statistics_course_explore_overview', {period: 'week'}) }}">
        </div>
      </div>
    </div>
  </div>

{% endblock %}
