{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_size = 'xlarge' %}

{% block title %}测验管理{% endblock %}

{% block body %}

<div class="quiz-manager" id="quiz-manager">
  <div class="quiz-manager-side">
    <div class="quiz-manager-side-header">
      <button data-role="quiz-item-add" type="button" class="btn btn-sm btn-default pull-right">新增题目</button>
      <span class="quiz-manager-side-title">题目列表</span>
    </div>

    <div class="quiz-manager-side-body">
      <div class="list-group quiz-manager-list" data-role="items" data-delete-url="{{ path('course_manage_quiz_item_delete', {courseId:course.id, itemId:'__id__'}) }}"></div>
    </div>

  </div>

  <div class="quiz-manager-main">

    <form id="quiz-item-form" class=" quiz-item-form" method="post"
        action="{{ path('course_manage_quiz_item_save', {courseId:course.id, lessonId:lesson.id}) }}"
        >

      <div class="form-group">
        <div class="control-label"><label for="quiz-description-field">问题描述</label></div>
        <div class="controls"><textarea class="form-control" id="quiz-description-field" name="description"></textarea></div>
      </div>
      
      <div class="form-group">
        <div class="control-label"><label>题目难度</label></div>
        <div class="controls radios">
          <label><input type="radio" name="level" value="low"> 入门</label>
          <label><input type="radio" name="level" value="normal"> 中级</label>
          <label><input type="radio" name="level" value="high"> 高级</label>
        </div>
      </div>

      <div class="options">

      </div>

      <button data-role="option-add" type="button" class="btn btn-success btn-sm choice-add-btn">增加新的选项</button>
      <input type="hidden" name="id">
      <input type="hidden" name="answers">

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

    </form>

    <script type="text/plain" data-role="items-model">{{ quizItems|json_encode|raw }}</script>
    <script type="text/x-handlebars-template" data-role="choice-template">
      {% verbatim %}
        <div class="form-group mbs">
          <div class="controls">
            <label class="choice-label">选项{{ code }}</label>
            <input class="form-control item-input" id="item-input-{{ globalId }}" name="choices[]" type="text" value="{{ name }}" data-display="选项内容">
            <label class="choice-answer-label"><input type="checkbox" class="answer-checkbox" {{#if isAnswer }}checked="checked"{{/if}}> 正确答案</label>
            <button type="button" data-role="option-delete" class="btn btn-link btn-sm choice-delete-btn" tabindex="-1"><i class="glyphicon glyphicon-trash"></i></button>
          </div>
        </div>
      {% endverbatim %}
    </script>

    <script type="text/x-handlebars-template" data-role="item-template">
      {% verbatim %}

        <a class="list-group-item quiz-manager-list-item" href="javascript:;" data-id="{{ id }}" data-role="quiz-item-edit">
          <button class="btn btn-mini btn-link pull-right item-delete-btn" data-role="quiz-item-delete"><i class="glyphicon glyphicon-trash"></i></button>
          <span class="item-description">{{ description }}</span>
        </a>

      {% endverbatim %}
    </script>



  </div>


</div>

<script>app.load('course-manage/quiz-modal')</script>

{% endblock %}

{% block footer %}
    <button type="button" class="btn btn-link" data-dismiss="modal" tabindex="-1">关闭</button>
    <button type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#quiz-item-form">保存</button>
{% endblock %}

{% set hideFooter = true %}