  <div class="form-group">
    <label class="control-label col-md-3" for="data[{{ code }}][items][{{ dataId }}][src]">图片</label>
    <div class="col-md-7">
      <input class="form-control" type="text" name="data[{{ code }}][items][{{ dataId }}][src]" id="data[{{ code }}][items][{{ dataId }}][src]" value="{{ data.src|default('') }}">
    </div>
    <div class="col-md-2">
      <button class="btn btn-default btn-sm img-upload" type="button" data-url="{{ path('admin_block_picture_upload', {blockId:block.id, code:code, dataId:dataId}) }}">上传</button>
    </div>
 </div>

 <div class="form-group">
    <label class="control-label col-md-3" for="data[{{ code }}][items][{{ dataId }}][alt]">图片描述</label>
    <div class="col-md-8">
      <input class="form-control" type="text" name="data[{{ code }}][items][{{ dataId }}][alt]" id="data[{{ code }}][items][{{ dataId }}][alt]" value="{{ data.alt|default('') }}" >
    </div>
    
 </div>

 <div class="form-group">
    <label class="control-label col-md-3" for="data[{{ code }}][items][{{ dataId }}][href]">图片链接</label>
  <div class="col-md-8">
    <input class="form-control" type="text" name="data[{{ code }}][items][{{ dataId }}][href]" id="data[{{ code }}][items][{{ dataId }}][href]" value="{{ data.href|default('') }}">
  </div>
 </div>

 <div class="form-group">
    <label class="control-label col-md-3">打开新窗口</label>
    <label class="checkbox-inline"><input type="radio" name="data[{{ code }}][items][{{ dataId }}][target]" value="_blank" {% if data.target|default('_self') == '_blank' %} checked="checked" {% endif %}> 是</label>
    <label class="checkbox-inline"><input type="radio" name="data[{{ code }}][items][{{ dataId }}][target]" value="_self" {% if data.target|default('_self') == '_self' %} checked="checked" {% endif %}> 否</label>
 </div>
