{% extends 'CustomWebBundle:Question:question-choice-doing.html.twig' %}

{% block body %}
    {% include 'CustomWebBundle:Question:question-choice-options.html.twig' %}
    {% set answerChoiceIndex = (itemResult.answer|default(-1)) %}
    <div class="question-choices-inputs">
        {% for key, choice in question.metas.choices %}
            {% set choiceIndex = (65+key)|chr %}
            <label class="radio-inline">
                <input id="question-{{ question.id }}-input-{{ choiceIndex }}" type="radio" data-type="choice" name="answer[{{ question.id }}]" value="{{ key }}" {% if key ==  answerChoiceIndex %}checked{% endif %}> {{ choiceIndex }}
            </label>
        {% endfor %}
    </div>


{% endblock %}