{% extends 'CustomWebBundle:Question:question-choice-reviewing.html.twig' %}

{% block body %}

  {% include 'CustomWebBundle:Question:question-choice-options-result.html.twig' %}

{% set choiceIndex = (65+itemResult.answer[0]|default('-1'))|chr %}
{% if itemResult %}

  <div class="homework-question-result">

    {% if itemResult.status == 'right' %}
      <span class="glyphicon glyphicon-ok question-text-success"></span>
    {% elseif itemResult.status == 'wrong' %}
     <span class="glyphicon glyphicon-remove question-text-danger"></span> 选择了<strong class="question-text-danger">{{ choiceIndex }}</strong>
     {% elseif itemResult.status == 'noAnswer' %}
　　　  <span class="glyphicon glyphicon-remove question-text-danger pull-left">未答题</span>
    {% endif %}

    <div class="form-group">
        <div class="control-label"><label for="review-score-{{question.id}}-field">评分</label></div>
        <div class="controls">
            <input class="form-control homework-result-item score" id='review-score-{{question.id}}-field' name="score[{{question.id}}]" data-max-score="{{ question.score}}" data-item-id="{{ itemResult.id }}" value="{{ itemResult.status=='right' ? (question.score| round) : 0 }}" disabled>
        </div>
    </div> 
</div>
{% endif %}


{% endblock %}