<tr id="{{navigation.id}}" >
    <td>
        <a href="{{navigation.url}}"> {{navigation.name}} </a>
    </td>
    <td>{{navigation.url}}</td>
    <td>
        {% if navigation.isNewWin == 0 %}
            否
        {% elseif navigation.isNewWin == 1 %}
            是
        {% endif %}
    </td>

    <td>{{navigation.sequence}}</td>
    <td> 
        {% if navigation.type == "top" %}
        顶部菜单
        {% elseif navigation.type == "foot" %}
        底部链接
        {% endif %}
    </td>
    <td> 
        {% if navigation.isOpen == 1 %}
        开启
        {% elseif navigation.isOpen == 0 %}
        关闭
        {% endif %}
    </td>
    <td>
        <button class="btn btn-small btn-primary edit-btn" data-url="{{ path('admin_navigation_update', {id:navigation.id}) }}" data-toggle="modal" data-target="#modal">编辑</button>
        <button class="btn btn-small delete-btn" data-url="{{ path('admin_navigation_delete', {id:navigation.id}) }}" data-target="{{ navigation.id }}">删除</button>
    </td>
</tr>