<tbody>
  {% for navigation in navigations %}
		<tr id="navigations-tr-{{ navigation.id }}">
		  <td> <a href="{{navigation.url|navigation_url}}" target="_blank"> {{navigation.name}} </a></td>
		  <td>
				{% if navigation.isNewWin == 0 %}否{% else %}是{% endif %}
  		</td>
		  <td>{{ navigation.sequence }}</td>
		  <td>
        {% if navigation.isOpen == 1 %}开启{% else %}关闭{% endif %}
  		</td>
		  <td>
	        <button class="btn btn-sm btn-default edit-btn" data-url="{{ path('admin_navigation_update', {id:navigation.id}) }}" data-toggle="modal" data-target="#modal">编辑</button>
	        <button class="btn btn-sm btn-default delete-btn" data-url="{{ path('admin_navigation_delete', {id:navigation.id}) }}" data-target="{{ navigation.id }}">删除</button>
		   </td>
		 </tr>
	{% else %}
	  <tr><td colspan="5"><div class="empty">无导航记录，请添加。</div></td></tr>
  {% endfor %}

</tbody>