{% extends 'oauth2/layout.html.twig' %}
{% do script(['libs/jquery-validation.js','app/js/oauth2/create/index.js']) %}

{% block page_title %}
  {{ 'user.oauth.register_account'|trans }}
{% endblock %}

{% block panel_body %}

  {% if oauthUser.mode != 'closed' %}

    {% if oauthUser.accountType == "email" %} {% set accountType = 'user.oauth.login_by_email'|trans %}{% else %}{% set accountType = 'user.oauth.login_by_mobile'|trans %}{% endif %}

    <div class="text-center cd-mb32">
      <img class="third-party-avatar" src="{{ asset(oauthUser.avatar) }}">
    </div>
    <div class="text-center cd-mb32">
      <div class="third-party-bind-tip">{{ 'user.oauth.register_account_by_ways'|trans({ '%accountType%': accountType }) }}</div>
      <div class="third-party-user color-primary js-account">{{ oauthUser.account }}</div>
    </div>

    <form class="third-party-form clearfix" id="third-party-create-account-form" method="post">

      <div class="form-group cd-form-group">
        <label class="third-party-form__label" for="username">{{ 'user.register.username_label'|trans }}</label>
        <input class="form-control" type="text" id="username" name="username" placeholder="{{ 'user.oauth.register.nickname_placeholder'|trans }}" data-url="{{ path('register_nickname_check') }}" value="{{ oauthUser.name }}">
      </div>

      <div class="form-group cd-form-group">
        <label class="third-party-form__label" for="password">{{ 'user.register.password_label'|trans }}</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="{{ 'user.oauth.register.password__placeholder'|trans }}">
      </div>

      <div class="form-group cd-form-group">
        <label class="third-party-form__label" for="confirmPassword">{{ 'user.oauth.register.confirm_password_label'|trans }}</label>
        <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" placeholder="{{ 'user.oauth.register.confirm_password_placeholder'|trans }}">
      </div>

      {# <div class="form-group cd-form-group third-party-captcha-form-group js-captcha {% if oauthUser.captchaEnabled == false %} hidden {% endif %}">
        <label class="third-party-form__label" for="captcha_code">{{'form.captcha_code'|trans}}</label>
        <input class="form-control" type="text" id="captcha_code" name="captcha_code" maxlength="5" placeholder="{{'user.oauth.register.input_captcha_code_placeholder'|trans}}">
        <div class="third-party-captcha">
          <img class="third-party-captcha__img" src="{{ asset('static-dist/app/img/captcha.png') }}" id="getcode_num" title="{{'user.settings.security.change_captcha_code'|trans}}">
        </div>
      </div> #}
      
      <div class="form-group cd-form-group {% if oauthUser.captchaEnabled == false %} hidden {% endif %}">
        <label class="control-label required cd-mb8">{{ 'user.register.account_with_sms_code_label'|trans }}</label>
        <input type="hidden" name="drag_captcha_token" value="" />
        <input type="hidden" name="jigsaw" value="" />
        <div class="drag-section-wrap">
          <div class="drag-section">
            <div class="drag-img js-drag-img">
              <img class="js-jigsaw-placeholder drag-img__bg" src="{{ asset('static-dist/app/img/dragCaptcha.png') }}">
              <img class="js-jigsaw drag-img__jigsaw" src="{{ asset('static-dist/app/img/dragCaptcha.png') }}">
              <div class="drag-img__mask js-drag-img-mask infinite-loading hidden"></div>
            </div>

            <div class="drag-bar">
              <span class="drag-bar__tip js-drag-bar-tip">{{ 'user.register.drag_captcha_tips'|trans }}</span>
              <div class="drag-bar__mask js-drag-bar-mask"></div>
              <div id="drag-btn" class="drag-bar__btn"><i class="es-icon es-icon-shuxian"></i></div>
            </div>
          </div>
        </div>
      </div>

      {% if oauthUser.accountType == "mobile" %}
        <div class="form-group cd-form-group third-party-sms-form-group cd-mb32">
          <label for="sms_code">{{ 'user.oauth.register.input_sms_code_tips'|trans }}</label>
          <input class="form-control" type="text" maxlength="6" id="sms-code" name="sms_code" placeholder="{{ 'user.oauth.register.input_sms_code_placeholder'|trans }}">
          <div class="third-part-action-button">
            <button type="button" class="btn cd-btn cd-btn-ghost-primary btn-block js-sms-send" {% if oauthUser.captchaEnabled %}disabled{% endif %}>
              <span class="js-time-left"></span>
              <span class="js-fetch-btn-text">{{ 'user.oauth.register.send_sms'|trans }}</span>
            </button>
          </div>
        </div>
      {% endif %}

      <button class="btn cd-btn cd-btn-primary cd-btn-lg btn-block cd-mb16 js-submit-btn" id="submit-btn" data-loading-text="{{'form.btn.submit.submiting'|trans}}" type="button" data-url="{{ path('oauth2_login_create') }}">{% if setting('auth.user_terms') == 'opened' %}{{ 'user.register.agree_terms'|trans }}{% else %}{{ 'form.btn.register'|trans }}{% endif %}</button>

      {% if setting('auth.user_terms') == 'opened' %}
        <span class="pull-left third-party-link">{{ 'user.register.read_detail'|trans }}<a href="{{ path('user_terms') }}" target="_blank">《{{'user.register.user_service_protocol'|trans}}》</a></span>
      {% endif %}
      <a class="pull-right third-party-link" href="{{ path('oauth2_login_index') }}">{{ 'user.oauth.bind_existed_account'|trans }}</a>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    </form>

  {% else %}
    <h1 class="text-center cd-dark-major">{{ 'user.oauth.register.closed'|trans }}</h1>
  {% endif %}

{% endblock %}
