{% extends 'oauth2/layout.html.twig' %}
{% do script(['libs/jquery-validation.js','app/js/oauth2/create/index.js']) %}

{% block page_title %}
  {{ '创建账号'|trans }}
{% endblock %}

{% block panel_body %}
  <div class="text-center cd-mb32">
    <img class="cd-avatar cd-avater-circle-lg cd-avatar-lg-shadow" src="{{ asset(oauthUser.avatar) }}">
  </div>
  <div class="text-center cd-mb32">
    <div class="third-party-bind-tip">{% if oauthUser.accountType == "email" %}{{ '使用邮箱创建账号'|trans }}{% else %}{{ '使用手机创建账号'|trans }}{% endif %}</div>
    <div class="third-party-user color-primary">{{ oauthUser.account }}</div>
  </div>

  <form class="third-party-form clearfix" id="third-party-create-account-form" method="post">

    <div class="form-group cd-form-group">
      <label class="label-required" for="username">{{ '用户名'|trans }}</label>
      <input class="form-control" type="text" id="username" name="username" placeholder="{{ 'user.oauth.register.nickname_placeholder'|trans }}" data-url="{{ path('register_nickname_check') }}">
    </div>

    <div class="form-group cd-form-group">
      <label class="label-required" for="password">{{ '密码'|trans }}</label>
      <input class="form-control" type="password" id="password" name="password" placeholder="{{ 'user.oauth.register.password__placeholder'|trans }}">
    </div>

    <div class="form-group cd-form-group">
      <label class="label-required" for="confirmPassword">{{ '确认密码'|trans }}</label>
      <input class="form-control" type="password" id="confirmPassword" name="confirmPayPassword" required="required" placeholder="{{ '再次输入密码'|trans }}">
    </div>

    <div class="form-group cd-form-group cd-form-group-action third-party-sms-form-group cd-mb32">
      <label for="sms_code">{{ '输入验证码'|trans }}</label>
      <input class="form-control" type="text" id="sms-code" name="sms_code" placeholder="{{ '请输入手机收到的验证码'|trans }}">
      <div class="action-button">
        <button type="button" class="btn cd-btn cd-btn-ghost-primary btn-block js-sms-send">
          <span id="js-time-left"></span>
          <span id="js-fetch-btn-text">{{ '发送验证'|trans }}</span>
        </button>
      </div>
    </div>

    <button class="btn cd-btn cd-btn-primary cd-btn-lg btn-block cd-mb16 js-submit-btn" id="submit-btn" data-loading-text="{{'form.btn.submit.submiting'|trans}}" type="button" data-url="{{ path('oauth2_login_success') }}">{{ '同意服务协议并注册'|trans }}</button>

    <span class="pull-left third-party-link">{{ '请详细阅读'|trans }}<a href="{{ path('user_terms') }}" target="_blank">《{{'用户服务协议'|trans}}》</a></span>
    <a class="pull-right third-party-link" href="{{ path('oauth2_login_index') }}">{{ '绑定已有账号？'|trans }}</a>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}
