{% extends 'oauth2/layout.html.twig' %}
{% do script(['libs/jquery-validation.js','app/js/wap/third-party/login/index.js']) %}

{% block page_title %}
  {{ '绑定账号'|trans }}
{% endblock %}

{% block panel_body %}
  <div class="alert cd-alert cd-alert-warning cd-mb32">
    {{ '为获取更优质服务，请绑定您的手机或邮箱账号'|trans }}
  </div>
  <div class="text-center cd-mb32">
    <img class="cd-avatar cd-avater-circle-lg cd-avatar-lg-shadow" src="{{ asset(oauthUser.avatar) }}">
  </div>
  {{ '当前注册模式:' ~ oauthUser.mode }}
  <form class="third-party-form" id="third-party-login-form" method="post" action="{{ path('oauth2_login_bind_account') }}">

    <div class="form-group cd-form-group">
      <label class="label-required" for="way">{{ '手机/邮箱'|trans }}</label>
      <input class="form-control" type="text" id="way" name="account" required data-url="{{ path('register_email_or_mobile_check') }}">
      <input class="form-control" type="text" id="way" name="accountType" required data-url="{{ path('register_email_or_mobile_check') }}">
    </div>

    <button class="btn cd-btn cd-btn-primary cd-btn-lg btn-block js-submit-btn" id="submit-btn"  data-loading-text="{{ 'form.btn.submit.submiting'|trans }}" data-create-url="{{ path('oauth2_login_create') }}" type="submit">{{ 'form.btn.next'|trans }}</button>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}
