{% extends 'oauth2/layout.html.twig' %}
{% do script(['libs/jquery-validation.js','app/js/oauth2/login/index.js']) %}

{% block page_title %}
  {{ '绑定账号'|trans }}
{% endblock %}

{% block panel_body %}
  <div class="alert cd-alert cd-alert-warning cd-mb32">
    {{ '为获取更优质服务，请绑定您的手机或邮箱账号'|trans }}
  </div>
  <div class="text-center cd-mb32">
    <img class="cd-avatar cd-avater-circle-lg cd-avatar-lg-shadow" src="{{ asset('static-dist/app/img/card_user.png') }}">
  </div>
  {{ '当前注册模式:' ~ dump(mode) }}
  <form class="third-party-form" id="third-party-login-form" method="post" data-url="">

    <div class="form-group cd-form-group">
      <label class="label-required" for="way">{{ '手机/邮箱'|trans }}</label>
      <input class="form-control" type="text" id="way" name="way" required data-url="{{ path('register_email_or_mobile_check') }}">
    </div>

    <button class="btn cd-btn cd-btn-primary cd-btn-lg btn-block js-submit-btn" id="submit-btn" data-loading-text="{{ 'form.btn.submit.submiting'|trans }}" data-url="{{ path('login_third_party_bind') }}" data-create-url="{{ path('login_third_party_create') }}" type="button">{{ 'form.btn.next'|trans }}</button>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}
