{% extends 'oauth2/layout.html.twig' %}
{% do script(['app/js/default/message/index.js']) %}

{% block page_title %}
  {% if bind|default('') %}{{ '绑定成功'|trans }}{% else %}{{ '注册成功'|trans }}{% endif %}
{% endblock %}

{% set duration = 3 %}

{% block panel_body %}
  <div class="cd-feedback third-party-feedback cd-mb32" data-token="{{ token }}" data-goto="{{ path('homepage') }}"data-duration="{{ duration }}" id="page-message-container" data-os="{{ oauthUser.os }}">
    <div class="feedback-icon"><i class="cd-icon cd-icon-check"></i></div>
    <div class="feedback-title">{% if bind|default('') %}{{ '账号绑定成功'|trans }}{% else %}{{ '账号注册成功'|trans }}{% endif %}</div>
    <div class="feedback-content">{{ 'user.settings.security.set_pay_password_success.closed_automatically'|trans }}</div>
  </div>
{% endblock %}