{% extends "bootstrap-modal-layout.html.twig" %}

{% set modal_class = 'modal-lg' %}

{% block title %}{{'import.user_import'|trans}}{% endblock %}

{% block body %}
  <div id="importer-app" data-type="{{ importerType }}" data-import-url="{{ path('importer_import', {type: importerType}) }}">
    <form method="post" id="importer-form" enctype="multipart/form-data" class="form-horizontal" action="{{ path('importer_check', {type: importerType}) }}">
      {% block form_data %}{% endblock %}
      <div class="form-group">
        <div class="col-md-3 col-md-offset-1"></div>
        <div class="col-md-8 controls">
          <button type="button" class="btn btn-primary" id="import-verify-btn">{{'import.check_datas'|trans}}</button>
        </div>
      </div>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    </form>
  </div>

  <script type="text/x-handlebars-template" id="importer-progress-template">
    <div id="importer-progress" class="package-update-progress">
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: 0%"></div>
      </div>
      <div class="text-success progress-text"></div>
    </div>
    <div class="text-right">
      <a data-loading-text="{{'正在完成导入, 请稍等...'|trans}}" class="btn btn-primary hidden js-import-finish-btn" href="javascript:;">{{ '完成导入'|trans }}</a>
      <span class="text-danger js-import-progress-text hidden">{{ '正在导入, 请勿关闭当前窗口...'|trans }}</span>
    </div>
  </script>

{% endblock %}

