{# 个人操作模块 #}
<div class="navbar-user {% if setting('esBar.enabled', 0) %} left {% endif %}">

  <ul class="nav user-nav">
    {% if app.user %}
    <li class="user-avatar-li nav-hover cd-ml24">
      <a href="javascript:;" class="dropdown-toggle user-avatar-toggle">
        <img class="cd-avatar cd-avatar-xs" src="{{ filepath(app.user.smallAvatar, 'avatar.png') }}">
      </a>
      <div class="dropdown-menu cd-dropdown-menu cd-dropdown-menu-right user-dropdown hidden-sm hidden-xs hidden-md">
        <div class="user-dropdown__info cd-mb24">
          <a class="user-dropdown__avatar cd-mr24" href="{{ path('user_show', {id:app.user.id}) }}">
            <img class="cd-avatar cd-avatar" src="{{ filepath(app.user.smallAvatar, 'avatar.png') }}">
          </a>
          {# 静态会员等级，会员等级图标 #}
          {% set userVip = true %}
          {% set vip = {
              'rank': '网校超级黄金开挂无敌乱入纵横捭阖江湖无敌手独孤求败会员',
            }
          %}
          <div class="user-dropdown__profile">
            <div class="user-dropdown__nickname">
              <span>{{ app.user.nickname }}</span>
              {{ slot('header.user.logo', {user: app.user}) }}
            </div>
            {{ slot('header.user.info', {user: app.user}) }}
             {# 静态积分 
            {% set reward = 899 %}
            {% if is_plugin_installed('RewardPoint') %}
              <div class="user-dropdown__rank">{{ 'homepage.header.reward'|trans }}：<span class="color-warning">{{ reward }}</span></div>
            {% endif %} #}
          </div>
        </div>
        <div class="user-dropdown__link cd-mb24">
          <a class="cd-link-gray" href="{{ path('my_orders') }}"><i class="cd-icon cd-icon-payment"></i>{{ 'homepage.header.account_menu'|trans }}</a>
          <a class="cd-link-gray" href="{{ path('settings') }}"><i class="es-icon es-icon-setting"></i>{{ 'homepage.header.settings_menu'|trans }}</a>
        </div>
        <div class="user-dropdown__logout"><a class="cd-link-gray" href="{{ path('logout') }}">{{ 'homepage.header.logout'|trans }}</a></div>
      </div>
      <ul class="dropdown-menu hidden-lg" role="menu">
        <div class="dropdown-header"><a class="cd-link-gray" href="{{ path('user_show', {id:app.user.id}) }}">{{ app.user.nickname }}</a></div>
        <li><a href="{{path('my_orders')}}"><i class="es-icon es-icon-accountwallet"></i>{{'homepage.header.account_menu'|trans}}</a></li>
        <li><a href="{{ path('settings') }}"><i class="es-icon es-icon-setting"></i>{{'homepage.header.settings_menu'|trans}}</a></li>
        {% if has_permission('admin') %}<li><a href="{{ path('admin') }}"><i class="es-icon es-icon-dashboard"></i>{{'homepage.header.admin_menu'|trans}}</a></li>
        {% endif %}
        {% if 'ROLE_TEACHER' in app.user.roles %}<li class="hidden-lg user-nav-li-my"><a href="{{ path('my') }}"><i class="es-icon es-icon-eventnote"></i>{{'homepage.header.my_teaching_menu'|trans}}</a></li>
        {% endif %}
        <li class="hidden-lg user-nav-li-my">
          <a href="{{ path('my_courses_learning') }}">
            <i class="es-icon es-icon-eventnote"></i>{{'homepage.header.my_learning_menu'|trans}}
          </a>
        </li>
        <li class="hidden-lg hidden-md"><a href="{{ path('notification') }}"><span class="pull-right num">{% if app.user.newNotificationNum > 0 %}{{ app.user.newNotificationNum }}{% endif %}</span><i class="es-icon es-icon-notificationson"></i>{{'homepage.header.notice'|trans}}</a></li>
        <li class="hidden-lg hidden-md"><a href="{{ path('message') }}"><span class="pull-right num">{% if app.user.newMessageNum > 0 %}{{ app.user.newMessageNum }}{% endif %}</span><i class="es-icon es-icon-mail"></i>{{'homepage.header.message'|trans}}</a></li>
        {% if mobile %}
          <li class="mobile-switch js-switch-pc visible-xs"><a href="javascript:;">
            <i class="es-icon es-icon-qiehuan"></i>{{'homepage.header.switch_pc'|trans}}</a></li>
        {% elseif setting('wap.enabled') == 1  %}
          <li class="mobile-switch js-switch-mobile visible-xs"><a href="javascript:;">
            <i class="es-icon es-icon-qiehuan"></i>{{'homepage.header.switch_mobile'|trans}}</a>
          </li>
        {% endif %}
        <li class="user-nav-li-logout"><a href="{{ path('logout') }}"><i class="es-icon es-icon-power"></i>{{'homepage.header.logout'|trans}}</a></li>
      </ul>
    </li>

    {# <li class="visible-lg nav-hover">
      {% if setting('esBar.enabled', 0) and app.user.newMessageNum > 0 %}
        <a class="hasmessage"><i class="es-icon es-icon-mail"></i><span class="dot"></span></a>
      {% elseif ( not setting('esBar.enabled', 0)) and ( app.user.newNotificationNum > 0 or app.user.newMessageNum > 0) %}
        <a class="hasmessage"><i class="es-icon es-icon-mail"></i><span class="dot"></span></a>
      {% else %}
        <a><i class="es-icon es-icon-mail"></i></a>
      {% endif %}

      <ul class="dropdown-menu" role="menu">
        {% if not setting('esBar.enabled', 0) %}
          <li>
            <a href="{{ path('notification') }}">
              <span class="pull-right num">{% if app.user.newNotificationNum > 0 %}{{ app.user.newNotificationNum }}{% endif %}</span>
              <i class="es-icon es-icon-notificationson"></i>{{'notification.user_notification'|trans}}
            </a>
          </li>
        {% endif %}
        <li>
          <a href="{{ path('message') }}">
            <span class="pull-right num">{% if app.user.newMessageNum > 0 %}{{ app.user.newMessageNum }}{% endif %}</span>
            <i class="es-icon es-icon-mail"></i>{{'user.btn.send_message'|trans}}
          </a>
        </li>
      </ul>
    </li> #}
    {% else %}

    {# 未登录状态 #}
    <li class="user-avatar-li nav-hover visible-xs">
      <a href="javascript:;" class="user-avatar-toggle">
        <img class="cd-avatar cd-avatar-xs" src="{{ asset('assets/img/default/avatar.png') }}">
      </a>
      <ul class="dropdown-menu" role="menu">
        <li class="user-nav-li-login">
          <a href="{{ path('login', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">
            <i class="es-icon es-icon-denglu"></i>{{'homepage.header.login'|trans}}
          </a>
        </li>
        <li class="user-nav-li-register">
          <a href="{{ path('register', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">
            <i class="es-icon es-icon-zhuce"></i>{{'homepage.header.register'|trans}}
          </a>
        </li>
        {% if mobile %}
          <li class="mobile-switch js-switch-pc"><a href="javascript:;">
            <i class="es-icon es-icon-qiehuan"></i>{{'homepage.header.switch_pc'|trans}}</a>
          </li>
        {% elseif setting('wap.enabled') == 1  %}
          <li class="mobile-switch js-switch-mobile"><a href="javascript:;">
            <i class="es-icon es-icon-qiehuan"></i>{{'homepage.header.switch_mobile'|trans}}</a>
          </li>
          {% endif %}
      </ul>
    </li>

    <li class="hidden-xs visitor-li visitor-login-li"><a href="{{ path('login', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">{{'homepage.header.login'|trans}}</a></li>
    <li class="hidden-xs visitor-li"><a href="{{ path('register', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">{{'homepage.header.register'|trans}}</a></li>
    {% endif %}
    {#{% include 'default/switch-language.html.twig' %}#}
  </ul>

  {# 搜索框 #}
  {#  <form class="navbar-form navbar-right hidden-xs hidden-sm" action="{{ path('search') }}" method="get">
    <div class="form-group">
      <input class="form-control js-search" value="{{ app.request.get('q')|default() }}" name="q" placeholder="{{'homepage.header.search'|trans}}">
      <button class="button es-icon es-icon-search"></button>
    </div>
  </form> #}
</div>