{% extends 'layout.html.twig' %}
{% import "admin-v2/macro.html.twig" as admin_macro %}
{% do script(['app/js/images/manage/index.js']) %}
{% block content %}
<div class="panel panel-default panel-col">
    <div class="images-info-list">{{image_name}}</div>
</div>
<div class="panel panel-default panel-col">
    <table class="table table-striped table-hover" id="images-table" style="word-break:break-all;">
        <thead>
            <tr>
                <th width="20%">名称</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for item in lists %}
            <tr>
                <td>{{item.tag_name}}</td>
                <td>{{item.ctime}}</td>
                <td>
                    <a class="btn btn-default btn-sm delete-course" href="javascript:;" data-url="{{ path('images_set_manage_version_delete',{name:image_name,vname:item.tag_name}) }}">删除</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">
                <div class="empty">版本为空</div>
                </td>
            </tr>
        {% endfor %}    
            
        </tbody>
    </table>
    {{ admin_macro.paginator(paginator) }}
</div>
<style>
    .images-info-list{
        position: relative;
        font-size: 16px;
        /* padding: 10px 0; */
        line-height: 30px;
        background: #fff;
    }
</style>
{% endblock %}