{% extends 'layout.html.twig' %}

{% do script(['libs/vue.js','libs/item-bank-test/lib/itemBank.umd.min.js','app/js/question-manage/preview/index.js']) %}

{% block title %}{{'course.question_manage.preview'|trans}}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% if maincolor != 'default' and setting('theme.code', 'jianmo') == 'jianmo' %}
    <link href="{{ asset('static-dist/libs/item-bank-test/lib/styles/item-bank-' ~ maincolor ~ '.css') }}" rel="stylesheet" />
  {% else %}
    <link href="{{ asset('static-dist/libs/item-bank-test/lib/styles/item-bank.css') }}" rel="stylesheet" />
  {% endif %}
{% endblock %}

{% block body %}
  {% verbatim %}
    <div id="app">
    </div>
  {% endverbatim %}

  <input type="hidden" name="item" value="{{ item|json_encode }}">
  {% include 'attachment-upload/upload-data.html.twig'  %}
{% endblock %}
