{% extends 'layout.html.twig' %}

{% do script(['app/js/question-manage/preview/index.js']) %}

{% block title %}{{'course.question_manage.preview'|trans}}{% endblock %}

{% block bodyClass %}
  {{ 'es-main-' ~ maincolor }} {{ 'es-nav-' ~ navigationcolor }} {{ 'cd-design test-vue' }}
{% endblock %}

{% block body %}
  {% verbatim %}
    <div id="app">
    </div>
  {% endverbatim %}

  <input type="hidden" name="item" value="{{ item|json_encode }}">
  {% include 'attachment-upload/upload-data.html.twig'  %}
{% endblock %}
