{% extends 'question-bank/question/layout.html.twig' %}

{% do script(['libs/vue.js', 'app/js/question-manage/form/index.js']) %}

{% block stylesheets %}
  {{ parent() }}
  {% include 'item-bank-css-loader.html.twig' %}
{% endblock %}

{% block container %}
  <div class="panel panel-default panel-col">
    <div class="panel-body">
      <div id="question-creator-widget">
        {% verbatim %}
          <div id="app">
          </div>
        {% endverbatim %}
        <input type="hidden" name="mode" value="{{ mode }}">
        <input type="hidden" name="bank_id" value="{{ questionBank.itemBankId }}">
        <input type="hidden" name="type" value="{{ type }}">
        <input type="hidden" name="create_url" value="{{ path('question_bank_manage_question_create', {id: questionBank.id, type: type, categoryId: categoryId}) }}">
        <input type="hidden" name="check_duplicative_url" value="{{ path('question_bank_manage_check_question_duplicative', {id: questionBank.id}) }}">
        <input type="hidden" name="back_url" value="{{ goto ? : path('question_bank_manage_question_list', {id: questionBank.id}) }}">
        <input type="hidden" name="ckeditor_path" value="{{ asset('static-dist/libs/es-ckeditor/ckeditor.js') }}">
        <input type="hidden" name="jquery_path" value="{{ asset('static-dist/libs/jquery/dist/jquery.min.js') }}">
        <input type="hidden" name="ckeditor_image_upload_url" value="{{ path('editor_upload', {token:upload_token('course')}) }}">
        <input type="hidden" name="ckeditor_image_download_url" value="{{ path('editor_download', {token:upload_token('course')}) }}">
        <input type="hidden" name="category" value="{{ categoryTree|json_encode }}">
        <input type="hidden" name="question_bank_attachment_setting" value="{{ setting('question_bank_attachment_setting')|json_encode }}">
        <input type="hidden" name="ai_analysis_enable" value="{{ setting('question_ai_analysis.teacher_enabled', 0) }}">
        {% include 'attachment-upload/upload-data.html.twig' %}
        {% if mode == 'edit' %}
          <input type="hidden" name="update_url" value="{{ path('question_bank_manage_question_update', app.request.query.all|merge({id: questionBank.id, questionId: item.id})) }}">
          <input type="hidden" name="item" value="{{ item|json_encode }}">
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
