{% extends 'layout.html.twig' %}

{% do script(['app/js/re-edit/index.js']) %}

{% block title %}{{ 'course.testpaper_manage.import.re_edit.title'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
  <div id="app"></div>
  <input type="hidden" name="filename" value='{{ filename }}'>
  <input type="hidden" name="items" value='{{ items|json_encode }}'>
  <input type="hidden" name="bankId" value='{{ questionBankId }}'>
  <input type="hidden" name="categoryTree" value='{{ categoryTree|json_encode }}'>
  <input type="hidden" name="type" value="{{ type }}">
  <input type="hidden" name="saveUrl" value="
    {% if type == 'item' %}
      {{ path('questions_import_save', {token: app.request.get('token')}) }}
    {% else %}
      {{ path('testpaper_import_save', {token: app.request.get('token')}) }}
    {% endif %}
  ">
{% endblock %}