{% extends 'layout.html.twig' %}

{% do script(['libs/vue.js', 'app/js/re-edit/index.js']) %}

{% block title %}{{ 'course.testpaper_manage.import.re_edit.title'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% if maincolor != 'default' and setting('theme.code', 'jianmo') == 'jianmo' %}
    <link href="{{ asset('static-dist/app/css/item-bank-' ~ maincolor ~ '.css') }}" rel="stylesheet" />
    <link href="{{ asset('static-dist/app/css/item-bank-antdv-' ~ maincolor ~ '.css') }}" rel="stylesheet" />
  {% else %}
    <link href="{{ asset('static-dist/app/css/item-bank.css') }}" rel="stylesheet" />
    <link href="{{ asset('static-dist/app/css/item-bank-antdv.css') }}" rel="stylesheet" />
  {% endif %}
{% endblock %}

{% block body %}

  {% set showHeader = 1 %}
  {% block header %}
    {% if showHeader %}{{ parent() }}{% endif %}
  {% endblock %}

  <div id="app"></div>
  <input type="hidden" name="filename" value='{{ filename }}'>
  <input type="hidden" name="items" value='{{ items|json_encode }}'>
  <input type="hidden" name="bankId" value='{{ itemBankId }}'>
  <input type="hidden" name="categoryTree" value='{{ categoryTree|json_encode }}'>
  <input type="hidden" name="type" value="{{ type }}">
  <input type="hidden" name="ckeditor_path" value="{{ asset('static-dist/libs/es-ckeditor/ckeditor.js') }}">
  <input type="hidden" name="jquery_path" value="{{ asset('static-dist/libs/jquery/dist/jquery.min.js') }}">
  <input type="hidden" name="ckeditor_image_upload_url" value="{{ path('editor_upload', {token:upload_token('course')}) }}">
  <input type="hidden" name="ckeditor_image_download_url" value="{{ path('editor_download', {token:upload_token('course')}) }}">
  <input type="hidden" name="ai_analysis_enable" value="{{ setting('question_ai_analysis.teacher_enabled', 0) }}">
  <input type="hidden" name="saveUrl" value="
    {% if type == 'item' %}
      {{ path('questions_import_save', {token: app.request.get('token'), categoryId: categoryId}) }}
    {% else %}
      {{ path('testpaper_import_save', {token: app.request.get('token')}) }}
    {% endif %}
  ">
  <input type="hidden" name="check_duplicated_questions_url" value="{{ path('questions_import_check_duplicated_questions', {token: app.request.get('token')}) }}">
  <input type="hidden" name="check_question_duplicative_url" value="{{ path('question_bank_manage_check_question_duplicative', {id: questionBankId}) }}">
  <input type="hidden" name="import_token" value="{{ app.request.get('token') }}">
  {% include 'attachment-upload/upload-data.html.twig' %}

  {% block footer %}
    {% if showHeader|default(1) %}{{ parent() }}{% endif %}
  {% endblock %}
{% endblock %}