<form class="form-inline well well-sm" action="" method="get" novalidate>
  <div class="form-group">
    <select class="form-control" name="type">
      {{ select_options(dict('questionType'), app.request.query.get('type'), '--按题型--'|trans) }}
    </select>
  </div>

  <div class="form-group">
    <select class="form-control" name="target" style="width:200px;">
      <option value="0" {% if not app.request.query.get('target') %}selected{% endif %}>{{'本课程'|trans}}</option>
      {% for courseTask in courseTasks if courseTask%}
        <option value="{{ courseTask.id }}" {% if app.request.query.get('target') == courseTask.id%}selected{% endif %}>{{ courseTask.title}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}" placeholder="{{'关键词'|trans}}">
  </div>

  <button class="btn btn-primary btn-sm">{{'搜索'|trans}}</button>
</form>