{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_coin_user_records' %}

{% block main %}

  <form id="coin-orders-search-form" class="form-inline well well-sm" action="" method="get" novalidate>

    <input value="{{ condition.type }}" name="flowType" type="hidden"/>
    <input value="{{ condition.timeType }}" name="timeType" type="hidden"/>
    <div class="form-group">
      <select class="form-control" name="searchType">
        {% set options = {'nickname':'admin.coin.search_type_option.nickname'|trans,'email':'admin.coin.search_type_option.email'|trans} %}
        {{ select_options(options, app.request.get('searchType')) }}
      </select>
    </div>

    <div class="form-group">
      <input type="text" id="keyword" name="keyword" class="form-control" value="{{ app.request.query.get('keyword') }}"
             placeholder="{{'form.placeholder.keyword'|trans}}">
    </div>

    <button class="btn btn-primary">{{'form.btn.search'|trans}}</button>
  </form>

  <div class="well">
    <div>
      {{'time'|trans}}：
      <a type="button"
         class="btn btn-default btn-sm {% if condition.timeType != "threeMonths" and  condition.timeType != "oneMonth" and  condition.timeType != "all" %}btn-info{% endif %}"
         href="{{ path('admin_coin_user_records',{timeType:"oneWeek",searchType:condition.searchType,keyword:condition.keyword}) }}">{{'admin.coin.datagrid.filter.oneWeek'|trans}}</a>
      <a type="button" class="btn btn-default btn-sm {% if condition.timeType == "oneMonth" %}btn-info{% endif %}"
         href="{{ path('admin_coin_user_records',{timeType:"oneMonth",searchType:condition.searchType,keyword:condition.keyword}) }}">{{'admin.coin.datagrid.filter.oneMonth'|trans}}</a>
      <a type="button" class="btn btn-default btn-sm {% if condition.timeType == "threeMonths" %}btn-info{% endif %}"
         href="{{ path('admin_coin_user_records',{timeType:"threeMonths",searchType:condition.searchType,keyword:condition.keyword}) }}">{{'admin.coin.datagrid.filter.threeMonths'|trans}}</a>
      <a type="button" class="btn btn-default btn-sm {% if condition.timeType == "all" %}btn-info{% endif %}"
         href="{{ path('admin_coin_user_records',{timeType:"all",searchType:condition.searchType,keyword:condition.keyword}) }}">{{'admin.coin.datagrid.filter.all_history'|trans}}</a>
      <span class="mll"></span>
      {{'type'|trans}}：
      <a type="button"
         class="btn btn-default btn-sm {% if condition.flowType != "out" and  condition.flowType != "in" %}btn-info{% endif %}"
         href="{{ path('admin_coin_user_records',{flowType:"",timeType:condition.timeType,sort:condition.sort}) }}">{{'admin.coin.datagrid.filter.default'|trans}}</a>
      <a type="button" class="btn btn-default btn-sm {% if condition.flowType == "out" %}btn-info{% endif %}"
         href="{{ path('admin_coin_user_records',{flowType:"out",timeType:condition.timeType,sort:condition.sort}) }}">{{'admin.coin.datagrid.filter.consume'|trans}}</a>
      <a type="button" class="btn btn-default btn-sm {% if condition.flowType == "in" %}btn-info{% endif %}"
         href="{{ path('admin_coin_user_records',{flowType:"in",timeType:condition.timeType,sort:condition.sort}) }}">{{'admin.coin.datagrid.filter.recharge'|trans}}</a>
      <span class="mll"></span>
      {{'admin.coin.sort'|trans}}：
      <a type="button" class="btn btn-default btn-sm {% if condition.sort == "up" %}btn-info{% endif %}"
         href="{{ path('admin_coin_user_records',{flowType:condition.flowType,timeType:condition.timeType,sort:"up"}) }}">{{'admin.coin.datagrid.filter.asc'|trans}}</a>
      <a type="button" class="btn btn-default btn-sm {% if condition.sort == "down" %}btn-info{% endif %}"
         href="{{ path('admin_coin_user_records',{flowType:condition.flowType,timeType:condition.timeType,sort:"down"}) }}">{{'admin.coin.datagrid.filter.desc'|trans}}</a>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th width="30%">{{'user'|trans}}</th>
        <th>{{'coin.recharge'|trans}}</th>
        <th>{{'coin.consume'|trans}}</th>
        <th>{{'finance.balance'|trans}}</th>
        <th>{{'admin.coin.operation'|trans}}</th>
      </tr>

      {% if userIds %}
        {% for userId in userIds %}
          <tr>
            <td> {{ web_macro.user_link(users[userId] , 'link-muted') }}</td>
            <td style="color:#1bb974;"> {{ userInCash(userId,condition.timeType)|default("0.00") }}</td>
            <td style="color:#ff7b0e;"> {{ userOutCash(userId,condition.timeType)|default("0.00") }}</td>
            <td style="color:blue;"> {{ userAccount(userId).cash|default(0) }}</td>
            <td>
              <a class= {% if userAccount(userId) %} "btn btn-default" {% else %} "btn btn-default disabled"  {% endif %}
              data-toggle="modal" data-target="#modal"
              data-url="{{ path('admin_coin_flow_detail',{userId:userId,timeType:condition.timeType}) }}"
              href="javascript:;">{{'form.btn.view'|trans}}</a>
            </td>
          </tr>
        {% endfor %}
      {% endif %}

    </table>
    {% if not userIds %}
      <div class="empty">{{'site.datagrid.empty'|trans}}</div>{% endif %}
    {% if paginator|default(null) %}
      {{ admin_macro.paginator(paginator) }}
    {% endif %}
  </div>
{% endblock %}