{% extends 'old-bootstrap-modal-layout.html.twig' %}
{% import "admin/macro.html.twig" as admin_macro %}
{% set modalSize = 'large' %}

{% block title %}{{'admin.order.logs.content_title'|trans}}{% endblock %}
{% block body %}
    
        {% if orderLogs %}
        <table class="table">
          <thead>
            <tr>
              <th width="50%">{{'admin.order.logs.info'|trans}}</th>
              <th width="25%">{{'admin.order.logs.operator'|trans}}</th>
              <th width="25%">{{'admin.order.logs.created_time'|trans}}</th>
            </tr>
          </thead>
          <tbody>
            {% for orderLog in orderLogs %}
              {% set logUser = users[orderLog.userId]|default(null) %}
              <tr>
                <td>
                  {{ orderLog.message | plain_text(50) }}
                  <br>
                  <span class="text-muted text-sm">{{ orderLog.type }}</span>
                </td>
                <td>
                  {% if logUser %}
                    {{ admin_macro.user_link(logUser) }}
                  {% else %}
                    --
                  {% endif %}
                </td>
                <td>
                  {{ orderLog.createdTime|date('Y-n-d H:i')}}
                  <br>
                  <span class="text-muted text-sm">{{ orderLog.ip}}</span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
      <div class="empty">{{'admin.order.logs.empty_hint'|trans}}</div>
      {% endif %}
     
{% endblock %}

{% block footer %}
  <div>
    <button type="button" class="btn btn-primary" data-dismiss="modal">{{'form.btn.close'|trans}}</button>
  </div>

{% endblock %}

