{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}搜索：{% if keywords %}{{ keywords }}{% else %}全部课程{% endif %} - {{ parent() }}{% endblock %}

{% do load_script('search/cloud-search') %}
{% block top_content %}
  <div class="search-banner">
    <div class="container">
      <form class="input-group search-input-group" id="search-input-group" action="{{path('search')}}" method="get">
        <div class="input-wrap">
          <input type="hidden" name="type" value="{{type|default('')}}" >
          <input type="hidden" name="targetType" value="{{targetType|default('')}}" >
          <input type="text" name="q" class="form-control" placeholder="搜索" value="{{keywords}}">
          <i class="js-btn-clear es-icon es-icon-close01"></i>
        </div>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">搜索</button>
        </span>
      </form>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <div class="es-section">
        <ul class="nav nav-tabs" id="search-nav-tabs" role="tablist">
          <li {% if type == 'course' %}class="active" {% endif %}><a href="{{path('cloud_search',{q : keywords,type : 'course'}) }}" data-type="course" >课程</a></li>
          <li {% if type == 'teacher' %}class="active" {% endif %}><a href="{{path('cloud_search',{q : keywords,type : 'teacher'}) }}" data-type="teacher" >教师</a></li>
          <li {% if type == 'thread' %}class="active" {% endif %}><a href="{{path('cloud_search',{q : keywords,type : 'thread'}) }}" data-type="thread" >话题</a></li>
          <li {% if type == 'article' %}class="active" {% endif %}><a href="{{path('cloud_search',{q : keywords,type : 'article'}) }}" data-type="article" >资讯</a></li>
        </ul>
        <div class="search-result" id="search-result">
        {% if type %}
          {% include 'TopxiaWebBundle:Search:search-' ~ type|lower ~ '.html.twig' %}
        {% endif %}
        </div>
        <nav class="text-center">
          {{ web_macro.paginator(paginator) }}
        </nav>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">常用关键词</h3>
        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
  
{% endblock %}