{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}搜索：{% if keywords %}{{ keywords }}{% else %}全部课程{% endif %} - {{ parent() }}{% endblock %}

{% do load_script('search/search') %}

{% block top_content %}
  <div class="search-banner">
    <div class="container">
      <form class="input-group search-input-group" id="search-input-group" action="/search" method="get">
        <div class="input-wrap">
          <input type="hidden" name="type" value="{{type}}" >
          <input type="text" name="q" class="form-control" placeholder="搜索">
          <i class="js-btn-clear es-icon es-icon-close01"></i>
        </div>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">搜索</button>
        </span>
      </form>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-8">
      <div class="es-section">
        <ul class="nav nav-tabs" id="search-nav-tabs" role="tablist">
          <li {% if type == 'Course' %}class="active" {% endif %}><a href="{{path('cloud_search',{q : keywords,type : 'Course'}) }}" data-type="course" >课程</a></li>
          <li {% if type == 'Teacher' %}class="active" {% endif %}><a href="{{path('cloud_search',{q : keywords,type : 'Teacher'}) }}" data-type="teacher" >教师</a></li>
          <li {% if type == 'Thread' %}class="active" {% endif %}><a href="{{path('cloud_search',{q : keywords,type : 'Thread'}) }}" data-type="thread" >话题</a></li>
          <li {% if type == 'Article' %}class="article" {% endif %}><a href="{{path('cloud_search',{q : keywords,type : 'Article'}) }}" data-type="article" >资讯</a></li>
        </ul>
        <div class="search-result" id="search-result">
        {% if type == 'Course' %}
          {% include 'TopxiaWebBundle:Search:search-course.html.twig' %}
        {% elseif type == 'Teacher' %}
          {% include 'TopxiaWebBundle:Search:search-teacher.html.twig' %}
        {% elseif type == 'Thread' %}
          {% include 'TopxiaWebBundle:Search:search-topic.html.twig' %}
        {% elseif type == 'Article' %}
          {% include 'TopxiaWebBundle:Search:search-article.html.twig' %}
        {% endif %}
        </div>
        <nav class="text-center">
          {{ web_macro.paginator(paginator) }}
        </nav>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">常用关键词</h3>
        </div>
        <div class="panel-body">

          <a href="{{path('cloud_search',{q : '神奇',type : type}) }}" class="btn-tag">神奇</a>
          <a href="{{path('cloud_search',{q : '在线教育',type : type}) }}" class="btn-tag">在线教育</a>
          <a href="{{path('cloud_search',{q : '在线教育',type : type}) }}" class="btn-tag">在线教育</a>
          <a href="{{path('cloud_search',{q : '在线教育',type : type}) }}" class="btn-tag">在线教育</a>
          <a href="{{path('cloud_search',{q : '在线教育',type : type}) }}" class="btn-tag">在线教育</a>
          <a href="{{path('cloud_search',{q : '在线教育',type : type}) }}" class="btn-tag">在线教育</a>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}