{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}

{% block title %}搜索：{% if keywords %}{{ keywords }}{% else %}全部课程{% endif %} - {{ parent() }}{% endblock %}

{% block content %}
  
  <!-- 通栏内容区 -->
    <div class="course-banner es-banner">
    <div class="container">
      <div class="title">
        <span>搜索</span>SEARCH
      </div>
    </div>
  </div>
  <!-- /通栏内容区 -->
  
  <!-- 核心内容区 -->
  <div class="container" id="content-container">  <div class="cuorse-filter search-filter" id="cuorse-filter">
    <div class="result-declare">
      共找到<span>{{ count }}</span>门{% if keywords %}<span>“{{ keywords }}”</span>相关{% endif %}课程
    </div>
    <div class="course-cat-tags hidden-xs">
      <a href="{{ path('search') }}" class="btn btn-default cat-tag">全部课程</a>
      {% if isShowVipSearch  %}
          {% if currentUserVipLevel  %}
            <a href="{{ path('search',{'coursesTypeChoices':'vipCourses'}) }}" class="btn btn-default cat-tag">会员课程</a>
          {% endif %}
      {% endif %}
      <a href="{{ path('search',{'coursesTypeChoices':'freeCourses'}) }}" class="btn btn-default cat-tag">免费课程</a>
      <a href="{{ path('search',{'coursesTypeChoices':'liveCourses'}) }}" class="btn btn-default cat-tag">直播课程</a>
    </div>

  </div>

    <!-- 课程列表 -->
  <div class="course-list">
      {% if courses %}
        <div class="row">
          {% for course in courses %}
            <div class="col-lg-3 col-md-4 col-sm-6">
              {% include 'TopxiaWebBundle:Course:Widget/course-grid.html.twig' with {course:course}%}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="empty">没有搜到相关课程，请换个关键词试试！</div>
      {% endif %}

  </div>

  <nav class="text-center">
    {% if courses %}
    {{ web_macro.paginator(paginator) }} 
    {% endif %}
  </nav>
</div>
  <!-- /核心内容区 -->

{% endblock %}