<div class="course-item clearfix">
    <div class="course-img">
      <a href=""><img class="img-responsive" src="{{ asset('assets/img/default/course.png') }}" alt=""></a>
    </div>
    <div class="course-info">
      <h3 class="title"><a href="">{{course.title}}<small class="label label-primary label-xs">正在学</small></h3>
      <div class="score">
        <i class="es-icon es-icon-star"></i>
        <i class="es-icon es-icon-starhalf"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <span class="mlm">12人评价(1230人学习)</span>
      </div>
      <div class="score">
        {{ web_macro.star(course.rating) }}
        <span>({{ course.ratingNum }}人)</span>
      </div>
      <div class="content">{{course.about|raw}}</div>
      <ul class="ul-lesson">
      {% for lesson in course.lessons%}
        <li>
          <a class="link-light" href="">
            <i class="es-icon es-icon-chevronright"></i>
            课时 {{lesson.number}}: {{lesson.title}}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>