<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{'热门小组'|trans}}</h3>
  </div>
  <div class="panel-body">
    {#{% set hotThreads = data('HotThreads',{'count':10}) %}
      {% if hotThreads %}
          {% for thread in hotThreads %}
    <li style="border-bottom:none;background:url('{{asset('assets/img/default/triangle.png')}}') no-repeat 0 3px;padding-left:8px;padding-top:0px;margin-bottom:8px;">
      <a  href="{{path('group_thread_show',{id:thread.groupId,threadId:thread.id})}}">{{thread.title|sub_text(textNum|default('15'))}}</a>
    </li>
    {% endfor %}
      {% else %}
    <div class="empty">{{'暂无话题信息！'|trans}}</div>
    {% endif %}#}
    <div class="media-group-list">
      <div class="media media-group">
        <div class="media-left">
          <a href="/group/1" title="123123123">
            <img src="/files/default/2015/07-13/160431f01c37572154.jpg?6.16.1" alt="123123123" class="avatar-square-md"></a>
        </div>
        <div class="media-body">
          <div class="title">
            <a class="gray-darker" href="/group/1" title="123123123">123123123</a>
          </div>
          <div class="metas">
            <a class="userImg js-user-card" href="/user/591" data-card-url="/user/591/card/show" data-user-id="591" data-original-title="" title="">
              <img class="avatar-xxs" src="/files/default/2016/01-26/1424099d5570746932.jpg?6.16.1"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>