<div class="alert alert-blank alert-sm">
  EduSoho教育云为您找到课程结果约 <span class="color-danger">100,000</span>个
</div>
<div class="search-course-list">
  <div class="course-item clearfix">
    <div class="course-img">
      <a href=""><img class="img-responsive" src="{{ asset('assets/img/default/course.png') }}" alt=""></a>
    </div>
    <div class="course-info">
      <h3 class="title"><a class="link-dark" href="">网校<span class="color-danger">运营</span>指南</a> <small class="label label-primary label-xs">正在学</small></h3>
      <div class="score">
        <i class="es-icon es-icon-star"></i>
        <i class="es-icon es-icon-starhalf"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <span class="mlm">12人评价(1230人学习)</span>
      </div>
      <div class="content">
        本套课程主要讲解 HTML5 元素、属性和格式化，掌握 HTML5 元素简介及使用方法、HTML 属性的使用方法和 HTML 格式化使用。
      </div>
      <ul class="ul-lesson">
        <li>
          <a class="link-light" href="">
            <i class="es-icon es-icon-chevronright"></i>
            课时1: 如何迅速搭建网校
          </a>
        </li>
        <li>
          <a class="link-primary" href="">
            <i class="es-icon es-icon-chevronright"></i>
            课时1: 如何迅速搭建网校
          </a>
        </li>
        <li>
          <a class="link-light" href="">
            <i class="es-icon es-icon-chevronright"></i>
            课时1: 如何迅速搭建网校
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="course-item clearfix">
    <div class="course-img">
      <img class="img-responsive" src="{{ asset('assets/img/default/course.png') }}" alt="">
    </div>
    <div class="course-info">
      <h3 class="title">网校<span class="color-danger">运营</span>指南</h3>
      <div class="score">
        <i class="es-icon es-icon-star"></i>
        <i class="es-icon es-icon-starhalf"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <span class="mlm">12人评价(1230人学习)</span>
      </div>
      <div class="content">
        本套课程主要讲解 HTML5 元素、属性和格式化，掌握 HTML5 元素简介及使用方法、HTML 属性的使用方法和 HTML 格式化使用。
      </div>
    </div>
  </div>
  <div class="course-item clearfix">
    <div class="course-img">
      <img class="img-responsive" src="{{ asset('assets/img/default/course.png') }}" alt="">
    </div>
    <div class="course-info">
      <h3 class="title">网校<span class="color-danger">运营</span>指南</h3>
      <div class="score">
        <i class="es-icon es-icon-star"></i>
        <i class="es-icon es-icon-starhalf"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <span class="mlm">12人评价(1230人学习)</span>
      </div>
      <div class="content">
        本套课程主要讲解 HTML5 元素、属性和格式化，掌握 HTML5 元素简介及使用方法、HTML 属性的使用方法和 HTML 格式化使用。
      </div>
    </div>
  </div>
  <div class="course-item clearfix">
    <div class="course-img">
      <img class="img-responsive" src="{{ asset('assets/img/default/course.png') }}" alt="">
    </div>
    <div class="course-info">
      <h3 class="title">网校<span class="color-danger">运营</span>指南</h3>
      <div class="score">
        <i class="es-icon es-icon-star"></i>
        <i class="es-icon es-icon-starhalf"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <span class="mlm">12人评价(1230人学习)</span>
      </div>
      <div class="content">
        本套课程主要讲解 HTML5 元素、属性和格式化，掌握 HTML5 元素简介及使用方法、HTML 属性的使用方法和 HTML 格式化使用。
      </div>
    </div>
  </div>
  <div class="course-item clearfix">
    <div class="course-img">
      <img class="img-responsive" src="{{ asset('assets/img/default/course.png') }}" alt="">
    </div>
    <div class="course-info">
      <h3 class="title">网校<span class="color-danger">运营</span>指南</h3>
      <div class="score">
        <i class="es-icon es-icon-star"></i>
        <i class="es-icon es-icon-starhalf"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <i class="es-icon es-icon-staroutline"></i>
        <span class="mlm">12人评价(1230人学习)</span>
      </div>
      <div class="content">
        本套课程主要讲解 HTML5 元素、属性和格式化，掌握 HTML5 元素简介及使用方法、HTML 属性的使用方法和 HTML 格式化使用。
      </div>
    </div>
  </div>
</div>
<nav class="text-center">
  {% if courses %}
  {{ web_macro.paginator(paginator) }} 
  {% endif %}
</nav>