{% extends 'TopxiaWebBundle:ActivityManage:layout.html.twig' %}

{% block title %}基本信息 - {{ parent() }}{% endblock %}

{% set side_nav = 'base' %}
{% set script_controller = 'activity-manage/base' %}
{% set script_arguments = {
  categoryUrl: path('category_all'),
  tagUrl: path('tag_all'),
  locationUrl: path('location_all')
} 
%}
{% block main %}

<div class="panel panel-default panel-col">
	<div class="panel-heading">基本信息</div>
	<div class="panel-body">
		<form class="form-horizontal" id="course-form" method="post">

		  {{ web_macro.flash_messages() }}

		  {{ form_errors(form) }}

			<div class="form-group">
				<div class="col-lg-2 control-label">{{ form_label(form.title, '标题') }}</div>
				<div class="col-lg-8 controls">{{ form_widget(form.title, {attr:{class:'form-control'}}) }}</div>
			</div>

			<div class="form-group">
				<div class="col-lg-2 control-label">{{ form_label(form.subtitle, '副标题') }}</div>
				<div class="col-lg-8 controls">{{ form_widget(form.subtitle, {attr:{class:'form-control'}}) }}</div>
			</div>
			

			

			<div class="form-group">
			  <div class="col-lg-2 control-label">{{ form_label(form.tagsid, '标签') }}</div>
			  <div class="col-lg-8 controls"> {{ form_widget(form.tagsid, {attr:{class:'width-full'}}) }}</div>
			</div>

			<div class="form-group">
			  <div class="col-lg-2 control-label">{{ form_label(form.categoryid, '分类') }}</div>
			  <div class="col-lg-8 controls">
			    {{ form_widget(form.categoryid, {attr:{class:'form-control width-input width-input-large'}}) }}
			  </div>
			</div>

			<div class="form-group">
			  <div class="col-lg-2 control-label">{{ form_label(form.locationId, '举办城市') }}</div>
			  <div class="col-lg-8 controls">
			    {{ form_widget(form.locationId, {attr:{class:'form-control width-input width-input-large'}}) }}
			  </div>
			</div>

			<div class="form-group">
			  <div class="col-lg-2 control-label">{{ form_label(form.address, '线下地址') }}</div>
			  <div class="col-lg-8 controls">
			    {{ form_widget(form.address, {attr:{class:'form-control width-input width-input-large'}}) }}
			  </div>
			</div>

			<div class="form-group">
			  <div class="col-lg-2 control-label">{{ form_label(form.onlineAddress, '直播地址') }}</div>
			  <div class="col-lg-8 controls">
			    {{ form_widget(form.onlineAddress, {attr:{class:'form-control width-input width-input-large'}}) }}
			  </div>
			</div>


			<div class="form-group">
			  <div class="col-lg-2 control-label">{{ form_label(form.form, '活动形式') }}</div>
			  <div class="col-lg-8 controls">
			    {{ form_widget(form.form, {attr:{class:'form-control width-input width-input-large'}}) }}
			  </div>
			</div>

			
			<div class="form-group">
			  <div class="col-lg-2 control-label">{{ form_label(form.strstartTime, '开始时间') }}</div>
			  <div class="col-lg-8 controls">
			    {{ form_widget(form.strstartTime, {attr:{class:'form-control width-input width-input-large',value:course.strstartTime}}) }}
			  </div>
			</div>

			<div class="form-group">
			  <div class="col-lg-2 control-label">{{ form_label(form.strendTime, '结束时间') }}</div>
			  <div class="col-lg-8 controls">
			    {{ form_widget(form.strendTime, {attr:{class:'form-control width-input width-input-large',value:course.strendTime}}) }}
			  </div>
			</div>

		  <div class="form-group">
		    <div class="col-lg-offset-2 col-lg-8 controls">
		    	{{ form_rest(form) }}
		    	<button class="btn btn-fat btn-primary" id="course-create-btn" type="submit">保存</button>
		    </div>
		  </div>

		</form>
	</div>
</div>

{% endblock %}



