{% set nav = nav|default(null) %}
<div class="course-nav  clearfix">
  <ul class="nav">
    {% if not member %}
    	<li class="active" ><a href="#course-about-pane" data-anchor="#course-about-pane">课程介绍</a></li>

      {% if course.goals %}
     	 <li><a href="#course-goal-pane" data-anchor="#course-goal-pane">课程目标</a></li>{# 课程目标 #}
      {% endif %}

      {% if course.audiences %}
      <li><a href="#course-audience-pane" data-anchor="#course-audience-pane">适合人群</a></li>
      {% endif %}

      <li><a href="#course-list-pane" data-anchor="#course-list-pane">课程列表</a></li>
      {% if course.ratingNum %}
      <li><a href="#course-review-pane" data-anchor="#course-review-pane">学员心声(<span>{{ course.ratingNum }}</span>)</a></li>
      {% endif %}

	    {% else %}
	    <li class="{% if nav == 'overview' %}active{% endif %}"><a href="{{ path('course_show', {id:course.id}) }}">课程介绍</a></li>
	    <li class="{% if nav == 'thread' %}active{% endif %}"><a href="{{ path('course_threads', {id:course.id}) }}">讨论区</a></li>
	    <li class="{% if nav == 'material' %}active{% endif %}"><a href="{{ path('course_materials', {id:course.id}) }}">资料区</a></li>
	    <li class="{% if nav == 'info' %}active{% endif %}" ><a  href="{{ path('course_info', {id:course.id}) }}">课程信息</a></li>
	    {% endif %}
  </ul>
</div>