{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'cd-modal-dialog' %}

{% do script(['libs/jquery-validation.js','app/js/my/order-refund-apply/index.js']) %}

{% block title %}
  {{'申请退款'|trans}}
{% endblock %}

{% block body %}
  <form method="post" id="refund-apply-form" action="{{path('my_order_refund_apply', {id: order.id })}}">

    <table class="table cd-table table-striped order-detail-table">
      <tr>
        <td width="25%">{{'商品名称'|trans}}</td>
        <td width="75%">{{ order.title }}</td>
      </tr>
      <tr>
        <td width="25%">{{ '实付价格'|trans }}</td>
        <td width="75%"><span class="color-danger">{{ order.pay_amount|fen_to_yuan(0) }}</span> {{ 'site.currency.CNY'|trans }}</td>
      </tr>
      <tr>
        <td width="25%" class="color-gray cd-pl32">{{ '实付虚拟币'|trans }}</td>
        <td width="75%"><span class="color-danger">{{ order.paid_coin_amount|fen_to_yuan(0) }}</span></td>
      </tr>
      <tr>
        <td width="25%" class="color-gray cd-pl32">{{ '实付现金'|trans }}</td>
        <td width="75%"><span class="color-danger">{{ order.paid_cash_amount|fen_to_yuan(0) }}</span> {{ 'site.currency.CNY'|trans }}</td>
      </tr>
      <tr>
        <td class="25%">{{ '退款原因'|trans }}</td>
        <td class="75%"><textarea data-display="ceer3" class="form-control" name="reason" id="" rows="5"></textarea></td>
      </tr>
    </table>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}

{% block footer %}
  <button class="btn cd-btn cd-btn-flat-default cd-btn-lg" type="button" data-dismiss="modal">取消</button>
  <button id="card-use-btn" class="btn cd-btn cd-btn-primary cd-btn-lg" type="submit" data-target="#refund-apply-form" data-toggle="form-submit" data-loading-text="{{ '正在提交' | trans }}">确定</button>
{% endblock %}
