{% import "TopxiaAdminBundle::macro.html.twig" as web_macro %}
<tr>
  <td>{{ coupon.code }}</td>
  <td>{% if coupon.status == "unused" %}未使用{% else %}已使用{% endif %}</td>
  <td>{% if user %}{{ web_macro.user_link(user) }}{% else %}-{% endif %}</td>
  <td>
    {% if coupon.targetType == 'course' and coupon.targetId != 0 %}
      购买课程《{{ course.title }}》
    {% else %}
      -
    {% endif %}
  </td> 
  <td>
    {% if user %}
      {{ coupon.orderTime }}
    {% else %}
      -
    {% endif %}
  </td>
  <td class="text-danger">
    {% if course %}
      {% if coupon.type == 'minus' %}
        抵价{{ coupon.rate }}元
      {% else %}
        打折{{ coupon.rate|number_format(1) }}折
      {% endif %}
    {% else %}
      -
    {% endif %}
  </td>
  <td class="text-danger">
    {% if course %}
      {{ course.price }}元
    {% else %}
      -
    {% endif %}
  </td>
  <td class="text-danger">
    {% if course %}
      {% if coupon.type == 'minus' %}
        {{ course.price - coupon.rate }}元
      {% else %}
        {{ course.price * coupon.rate * 0.1 }}元
      {% endif %}
    {% else %}
      -
    {% endif %}
  </td>
  <td><a href="#modal" data-toggle="modal" data-url="{{ path('admin_coupon_show', { batchId:batch.id }) }}">{{ batch.name }}</a></td>
  <td>{{ coupon.createdTime|date('Y-n-d H:i') }}</td>
</tr>