{% if newGroups %}
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">{{'group.new_group.content_title'|trans}}</h3></div>
    <div class="panel-body">
      <div class="media-group-list">
        {% for group in newGroups %}
          {% if loop.index <= 3 %}
          <div class="media media-group">
            <div class="media-left">
              <a href="{{path('group_show',{id:group.id})}}" title="{{group.title}}">
                <img src="{{filepath(group.logo, 'group.png')}}" alt="{{group.title}}" class="avatar-square-md">
              </a>
            </div>
            <div class="media-body">
              <div class="title">
                <a class="gray-darker" href="{{path('group_show',{id:group.id})}}" title="{{group.title}}">{{group.title|sub_text(9)}}</a>
              </div>
              <div class="metas">
                <span><i class="es-icon es-icon-people"></i>{{ group.memberNum }}</span>
                <span><i class="es-icon es-icon-textsms"></i>{{ group.threadNum }}</span>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}