{% if canManage %}
<div  class="es-panel notice-column">
  <div class="panel-heading clearfix">课程公告<span class="notice-icon"></span>
    <a href="#modal" data-toggle="modal" data-url="{{ path('course_announcement_add',{courseId:course.id}) }}" class="btn btn-link btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span> 添加公告</a>
  </div>
  <div class="panel-body">
    {% if announcements %}
    <ul class="announcement-list">
      {% for announcement in announcements %}
        <li>
          <div class="course-date">
            <span class="date-icon"></span>{{ announcement.createdTime|date('Y-m-d H:i') }}
          </div>
          <div class="content">
            {# 从2014年10月18日起，EduSoho的安装教程、使用教程将迁移至… #}
            {% if canTake %}
              <a id="course-buy-btn" href="#modal" data-toggle="modal" data-url="{{ path('course_announcement_show', {courseId:course.id, id:announcement.id}) }}" >{{ announcement.content|plain_text(40)|default('<span class="text-warning">(请点击查看)</span>')|raw }}</a>
            {% else %}
              <a id="course-buy-btn"
              {% if setting("course.buy_fill_userinfo")|default(false) %}
              href="#modal" 
              data-toggle="modal" 
              data-url="{{ path('course_buy', {id:course.id, targetType:'course'}) }}"
              {% else %}
              href="{{ path('order_show', {targetId:course.id, targetType:'course'}) }}"
              {% endif %}
              >{{ announcement.content|plain_text(40)|default('<span class="text-warning">(请点击查看)</span>')|raw }}</a>
            {% endif %}
          </div>
          <div class="clearfix">
            <a class="text-muted text-sm mrm action" href="javascript:;" data-target="#modal"  data-toggle="modal" data-url="{{ path('course_announcement_update',{courseId:course.id, id:announcement.id}) }}">
              <span class="glyphicon glyphicon-pencil"></span> 修改
            </a>
            <a class="text-muted text-sm action" href="#" data-role="delete" data-url="{{ path('course_announcement_delete',{courseId:course.id, id:announcement.id}) }}">
              <span class="glyphicon glyphicon-trash"></span> 删除
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <div class="empty">暂无课程公告</div>
    {% endif %}
  </div>
</div>  

{% elseif announcements %}
<div class="es-panel notice-column">
  <div class="panel-heading clearfix">课程公告<span class="notice-icon"></span>
  </div>
  <div class="panel-body">
    <ul>
    {% for announcement in announcements %}
      <li>
        <div class="course-date"><span class="date-icon"></span>{{announcement.createdTime|date('m-d H:i')}}</div>
        <div class="content">
          {% if canTake %}
            <a id="course-buy-btn" href="#modal" data-toggle="modal" data-url="{{ path('course_announcement_show', {courseId:course.id, id:announcement.id}) }}" >{{ announcement.content|plain_text(40)|default('<span class="text-warning">(请点击查看)</span>')|raw }}</a>
          {% else %}
            <a id="course-buy-btn" 
            {% if setting("course.buy_fill_userinfo")|default(false) %}
            href="#modal" 
            data-toggle="modal" 
            data-url="{{ path('course_buy', {id:course.id, targetType:'course'}) }}" 
            {% else %}
            href="{{ path('order_show', {targetId:course.id, targetType:'course'}) }}"
            {% endif %}
            >{{ announcement.content|plain_text(40)|default('<span class="text-warning">(请点击查看)</span>')|raw }}</a>
          {% endif %}
        </div>
    </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}