<div class="course-detail-header-join clearfix">
  <div class="course-header-img">
    <a href="{{ path('course_show', {id:course.id}) }}">
      <img class="img-responsive"src="{{ filepath(course.largePicture, 'course.png') }}">
    </a>
  </div>
  <div class="course-hader-info">
    <div class="title"><a href="{{ path('course_show', {id:course.id}) }}">{{ course.title }}</a></div>
    <div class="course-setting clearfix">
      <a class="tooltop" href="#modal" data-toggle="modal" data-url="{{ path('course_review_create', {id:course.id}) }}" data-role="tooltip" title="评价" data-placement="top" >
        <span class="icon-comment"></span>
      </a>
      <a class="tooltop" href="#modal" data-toggle="modal" data-url="{{ path('course_members', {id:course.id}) }}" data-role="tooltip" title="课程学员" data-placement="top">
        <span class="icon-user"></span>
      </a>
      {% if canManage %}
        <a class="tooltop" href="{{ path('course_manage', {id:course.id}) }}" data-role="tooltip" title="课程管理" data-placement="top">
        <i class="icon icon-setting"></i>
        </a>
      {% endif %}
      <span class="es-share dropdown tooltop" data-bdText="{{setting('default.groupShareContent')}}" data-role="tooltip" title="分享到" data-placement="top"></span>

      
      {% if member.role|default(null) == 'student' %}
 
        {% if member.orderId %}
          <a class="tooltop" title="退出学习" type="button" href="#modal" data-toggle="modal" data-url="{{ path('order_refund', {id:course.id, targetType:'course'}) }}">
            <span class="icon-out"></span>
          </a>
        {% else %}
        <a class="tooltop" id="exit-course-learning" title="退出学习" type="button"  href="javascript:;" data-url="{{ path('course_exit', {id:course.id}) }}"  data-goto="{{ path('course_show', {id:course.id}) }}">
           <span class="icon-out"></span>
        </a>
        {% endif %}
      {% endif %}
      
      {% if canManage %}
        <div class="pull-right hidden-xs hidden-sm">
          {% if course.status == 'published' %}
            <div class="btn-group">
              <a class="btn btn-mooc-primary btn-sm" href="{{ path('course_show', {id:course.id}) }}">返回课程主页</a>
            </div>
          {% endif %}
          <div class="btn-group">
            <button class="btn btn-mooc-primary btn-sm dropdown-toggle" data-toggle="dropdown">预览 <span class="caret"></span></button>
            <ul class="dropdown-menu pull-right">
              <li><a href="{{ path('course_show', {id:course.id, previewAs:'member'}) }}" target="_blank">作为 已加入学习用户</a></li>
              <li><a href="{{ path('course_show', {id:course.id, previewAs:'guest'}) }}" target="_blank">作为 未加入学习用户</a></li>
            </ul>
          </div>
          {% if course.status != 'published' %}
            <div class="btn-group">
              <button class="btn btn-mooc-primary btn-sm course-publish-btn" data-url="{{ path('course_manage_publish', {id:course.id}) }}">发布课程</button>
            </div>
          {% endif  %}
        </div>
      {% endif %}
    </div> 

  </div>
  
  {{ render(controller('TopxiaWebBundle:Course:progressBlock',{course:course})) }}

  {% if not isNonExpired %}
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        您购买的课程已到期，无法学习课时、提问等。如有疑问，请联系老师，或点击
        <a class="btn btn-primary btn-sm "  href="{{path('course_rebuy',{courseId:course.id})}}">
        {% if course.price>0 %}
        重新购买
        {% else %}
        重新加入
        {% endif %}
        </a>
    </div>
  {% endif %}

 

