{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block keywords %}
  {{ render(controller('TopxiaWebBundle:Course:keywords',{course: course} )) }}
{% endblock %}
{% block description %}{{ course.about }}{% endblock %}

{% set bodyClass = '' %}
{% set script_arguments = {course_uri: path('course_show', {id:course.id})} %}

{% block top_content %}
  
{% endblock %}
{% block content %}
	{{ render(controller('TopxiaWebBundle:Part/Course:header',{course: course, member: member})) }}
	<div class="course-about clearfix">
		{{ render(controller('TopxiaWebBundle:Announcement:block',{targetObject:course,targetType:'course'})) }}
		<div class="course-about-main">
	    <div class="course-detail">
				
	    	{% include 'TopxiaWebBundle:Course:Part/normal-nav.html.twig' %}
        {% block course_main %}{% endblock %}

	    </div>
  	</div>
  	 	{% block dashboard_relatedCoursesBlock %}
        {% if setting('course.relatedCourses') == 1 %}
          {{ render(controller('TopxiaWebBundle:Course:relatedCoursesBlock',{course:course})) }}
        {% endif %}
      {% endblock %}
	</div>
{% endblock %}