{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set siteNav = 'course/explore' %}
{% block title %}{% if not category.id %}全部课程{% else %}{{ category.name }} 课程{% endif %} 第{{ app.request.get('page', 1)}}页- {{ parent() }}{% endblock %}

{% block keywords %}{% if category.id %}{{ category.name }}{% endif %} {{ setting('site.name') }}{% endblock %}
{% block description %}{% if category.id %}{{category.name}}的{% endif %}课程列表，第{{ app.request.get('page', 1)}}页。{% endblock %}

{% block content %}
  <div class="course-screening clearfix">
    <div class="title">学科分类:</div>
    <div class="class-tab">
      <div class="options clearfix">
        <a class="{% if not category.id %}active sub{% endif %} clearfix" href="{{ path('course_explore') }}">全部</a>
        
        {% set parentId = category.parentId|default("") %}
        {% for cat in categories %}
          {% if cat.depth == 1 %}
            <a class="{% if category.id == cat.id or parentId == cat.id  %}active sub{% endif %} clearfix" href="{{ path('course_explore', {category:cat.code|default(cat.id)}) }}">
              {{ cat.name }}
            </a>
          {% endif %}
        {% endfor %}

      </div>
      <div class="tab-content">

        {% set allChilds={} %}
        {% set allChilds = data('Categories',{'group':'course','parentId':category.id})|merge(allChilds) %}
        {% if not category.id %}

          <div class="tab-pane active">
            <ul class="clearfix">
              {% for cat in categories %}
                {% if cat.depth > 1 %}
                  <li class="{% if category.id == cat.id %}active{% endif %}">
                    <a href="{{ path('course_explore', {category:cat.code|default(cat.id)}) }}">
                      {{ cat.name }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul> 
          </div>

        {% elseif allChilds %}

          <div class="tab-pane active">
            <ul class="clearfix">
              {% for cat in allChilds %}
                <li class="{% if category.id == cat.id %}active{% endif %}">
                  <a href="{{ path('course_explore', {category:cat.code|default(cat.id)}) }}">
                    {{ cat.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>

        {% elseif parentId %}

          {% set allsibligs = data('Categories',{'group':'course','parentId':parentId}) %}
          <div class="tab-pane active">
            <ul class="clearfix">
              {% for cat in allsibligs %}
                <li class="{% if category.id == cat.id %}active{% endif %}">
                  <a href="{{ path('course_explore', {category:cat.code|default(cat.id)}) }}">
                    {{ cat.name }}
                  </a>
                </li>
              {% endfor %}
            </ul> 
          </div>

        {% endif %}

      </div>
    </div>
  </div>

  <div class="category-filters">
    <a href="{{ path('course_explore', {category:category.code|default(category.id), sort:'latest'}) }}" {% if sort == 'latest' %}class="selected"{% endif %}>最近更新</a>        
    <a href="{{ path('course_explore', {category:category.code|default(category.id), sort:'popular'}) }}" {% if sort == 'popular' %}class="selected"{% endif %}>最热课程</a>
    <a href="{{ path('course_explore', {category:category.code|default(category.id), sort:'recommendedSeq'}) }}" {% if sort == 'recommendedSeq' %}class="selected"{% endif %}>推荐课程</a>
  </div>

  <div class="course-list">

    {% if courses %}
      {{ render(controller('TopxiaWebBundle:Course:coursesBlock', {courses:courses, view: 'list'})) }}
      {{ web_macro.ajaxCoursePaginator(paginator) }}
    {% else %}
      <div class="empty">该分类下无课程</div>
    {% endif %}
    
  </div>

{% endblock %}