  <div class="course-btn-join">
    {% if progress.percent == '100%' %}
      <a href="javascript:;">
        <span class="text-study">您已完成全部课时的学习</span>
      </a>
    {% else %}
      {% if nextLearnLesson %}
      <a href="{{ path('course_learn', {id:course.id}) }}#lesson/{{nextLearnLesson.id}}" >
        <span class="text-study">继续学习</span>
        <span>已学: <strong>{{ progress.number }}</strong> / <strong>{{ progress.total }}</strong></span>
      </a>
      {% endif %}
    {% endif %}
  </div>
</div>
<div class="progress es-progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ progress.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.percent }}">
    <span class="progress-data clearfix">{{ progress.percent }}</span>
  </div>
</div> 