{% extends 'layout.html.twig' %}
{% do script(['libs/jquery-validation.js','app/js/init-password/index.js']) %}
{% set bodyClass = 'login' %}

{% block title %}{{ 'user.login.content_title'|trans }} - {{ parent() }}{% endblock %}

{% block content %}

  <div class="es-section login-section">
    <div class="login-main">
      <form class="form-vertical" id="init-password-form" action="{{ path('password_init') }}" method="post">
        <div class="form-group mbl">
          <label class="control-label" for="newPassword">{{ '密码'|trans }}</label>
          <div class="controls">
            <input class="form-control input-lg" id="newPassword" type="password" name="newPassword" value="" required="required"
                   placeholder="{{ '请输入您的密码'|trans }}"/>
            <div class="help-block"></div>
          </div>
        </div>
        <div class="form-group mbl">
          <label class="control-label" for="confirmPassword">{{ '确认密码'|trans }}</label>
          <div class="controls">
            <input class="form-control input-lg" id="confirmPassword" type="password" name="confirmPassword" required="required" placeholder="{{ '请再输入一遍您的密码'|trans }}"/>
          </div>
        </div>

        <div class="form-group mbl">
          <button type="submit" data-loading-text="提交中..." class="btn btn-primary btn-lg btn-block js-btn-login">{{ '确认提交'|trans }}</button>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      </form>
    </div>
  </div>

{% endblock %}
