{% extends 'user/layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% set pageNav = type %}

{% block main %}

  <ul class="nav nav-pills mbl">
      {% if pageNav == 'teach' %}
        <li class="active"><a href="{{ path('user_teach', {id:user.uuid}) }}">{{'site.default.course'|trans}}</a></li>
        <li><a href="{{ path('user_teaching_classrooms', {id:user.uuid}) }}">{{'site.default.classroom.notempty'|trans}}</a></li>
        <li><a href="{{ path('user_question_bank_teach', {id:user.uuid}) }}">{{'site.default.question.bank'|trans}}</a></li>
      {% endif %}
      {% if pageNav == 'learn' %}
        <li><li class="active"><a href="{{ path('user_learn', {id:user.uuid}) }}">{{'site.default.course'|trans}}</a></li>
        <li><a href="{{ path('user_learning_classrooms', {id:user.uuid}) }}">{{'site.default.classroom.notempty'|trans}}</a></li>
        <li><a href="{{ path('user_question_bank_learn', {id:user.uuid}) }}">{{'site.default.question.bank'|trans}}</a></li>
      {% endif %}
  </ul>

  {% if courseSets %}

    {% if app.user and app.user.isTeacher() and app.user.id == user.id and type == 'teach' %}
      {{ render(controller('AppBundle:Course/CourseSet:courseSetsBlock', { courseSets:courseSets, view: 'teacher-list' })) }}
    {% else %}
      {{ render(controller('AppBundle:Course/CourseSet:courseSetsBlock', { courseSets:courseSets, view: 'student-list' })) }}
    {% endif %}
    <nav class="text-center">
      {{ web_macro.paginator(paginator) }}
    </nav>
  {% else %}
    {% if pageNav == 'teach' %}
      <div class="empty">{{'user.homepage.teaching_courses.empty'|trans}}</div>
    {% elseif pageNav == 'learn' %}
      <div class="empty">{{'user.homepage.learning_courses.empty'|trans}}</div>
    {% elseif pageNav == 'favorited' %}
      <div class="empty">{{'user.homepage.favorite_courses.empty'|trans}}</div>
    {% endif %}
  {% endif %}

{% endblock %}