<div class="subject-item" id="{% if token|default(null) %}{{token}}{% else %}{{ key }}{% endif %}">
  {% if item.type == 'material' %}
    <div class="subject-item__title">
      <span class="subject-item__number">
      {% if seq|default(null) %}
        {{ seq }}
      {% else %}
        {{ item.order }}
      {% endif %}
      </span>
      {{ item.stem }}
    </div>
  {% else %}
    <div class="subject-item__body">
      <span>{{ '（' ~ item.subOrder ~ '）'  }}</span><span>{{ item.title }}</span>
      <div class="subject-sub-item__answer"><span class="subject-sub-item__label">答案：</span><span class="">{{ item.answer }}</span></div>
    </div>
  {% endif %}
  {% include 'testpaper/subject/common.html.twig' with { type: item.type, difficulty: item.difficulty, score: item.score } %}
</div>