<div class="subject-item" id="{{ key }}">
  {% if item.type == 'material' %}
    <div class="subject-item__title">
      <span class="subject-item__number">{{ item.order }}</span>
      {{ item.title }}
    </div>
  {% else %}
    <div class="subject-item__body">
      <span>{{ '（' ~ item.subOrder ~ '）'  }}</span><span>{{ item.title }}</span>
      <div class="subject-sub-item__answer"><span class="subject-sub-item__label">答案：</span><span class="">{{ item.answer }}</span></div>
    </div>
  {% endif %}
  {% include 'testpaper/subject/common.html.twig' with { type: item.type, difficulty: item.difficulty, score: item.score } %}
</div>