<div class="subject-item" id="{{ item.order }}">
  <div class="subject-item__title">
    <span class="subject-item__number {% if item.flag == 1 %}subject-item__number--danger{% endif %}">{{ loop.index }}</span> {{ item.title }}
  </div>
  <div class="subject-item__body">
    {% set options = item.options %}
    {% set answer = item.answer %}
    {% for option in options %}
      <label class="cd-radio single-item subject-forbid {% if  %}checked{% endif %}">
        <input type="radio" data-toggle="cd-radio" name="right" value="{{'option' ~ loop.index }}"><span>{{ option.order}}. </span><span class="single-item__text {% if option.flag == 1 %}single-item__text--danger{% endif %}">{% if option.flag == 1 %}缺少选项，请点击“编辑”进行设置。{% else %}{{ option.text }}{% endif %}</span>
      </label>
    {% endfor %}
  </div>
  {% include 'testpaper/subject/common.html.twig' with { type: item.type, difficulty: item.difficulty, score: item.score } %}
</div>