{% set options = item.options %}
{% set errors = item.errors|default([]) %}
{% set answers = item.answers %}
<div class="subject-item {% if position|default(null)  ==  'sub' %}subject-sub-item{% endif %}" id="{% if token|default(null) %}{{token}}{% else %}{{ key }}{% endif %}">
  <div class="subject-item__title">
    <span class="subject-item__number {% if errors is not empty %}subject-item__number--danger{% endif %}">
      {% if seq|default(null) %}
        {{ seq }}
      {% else %}
        {{ key }}
      {% endif %}
    </span> {{ item.stem|raw }}
  </div>
  <div class="subject-item__body">

    {% for option_key, option in options %}
      <label class="cd-radio single-item subject-forbid {% if option_key in answers  %}checked{% endif %}">
        <input type="radio" data-toggle="cd-radio" name="right" value="{{'option' ~ loop.index }}">
        <span>{{ (option_key+65)|chr }}. </span>
        <span class="single-item__text {% if errors is not empty %}single-item__text--danger{% endif %}">{% if errors is not empty %}缺少选项，请点击“编辑”进行设置。{% else %}{{ option|raw }}{% endif %}</span>
      </label>
    {% endfor %}
  </div>
  {% include 'testpaper/subject/common.html.twig' with { type: item.type, difficulty: item.difficulty, score: item.score } %}
</div>