{% set errors = item.errors|default([]) %}
<div class="subject-item subject-sub-item" id="{{ key~'_'~subKey }}">
  <div class="subject-item__title subject-sub-item__title">
    <span class="subject-sub-item__number">
      {% if seq|default(null) %}
        {{ '(' ~ seq ~ ')'  }}
      {% else %}
        {{ '(' ~ loop.index ~ ')'  }}
      {% endif %}
    </span>
    {% if errors.stem is not defined %}
      <div class="subject-sub-item__stem">{{ item.stem|raw }}</div>
    {% elseif errors.stem.code == 100001 %}
      <span class="single-item__text--danger">缺少题干，请点击"编辑"进行设置。</span>
    {% endif %}
  </div>
  <div class="subject-item__body">
    <div class="subject-sub-item__answer">
      <span class="subject-sub-item__label">答案：</span>
        {% for answer_key,answer in item.answers %}
          {% if errors['answers_'~answer_key] is not defined %}
            {{ item.answers[answer_key] }}
          {% elseif errors['answers_'~answer_key].code == 100003 %}
            <span class="single-item__text--danger">缺少正确答案，请点击“编辑”进行设置。</span>
          {% endif %}
        {% endfor %}
    </div>
  </div>
  {% include 'testpaper/subject/common.html.twig' with {position:position, type: item.type, difficulty: item.difficulty, score: item.score } %}
</div>