{% set options = item.options %}
{% set errors = item.errors|default([]) %}
{% set answers = item.answers %}

<div class="subject-item subject-sub-item js-subject-item" id="sub{% if seq is defined %}{{seq - 1}}{% else %}{{ subKey }}{% endif %}" data-material-token="{{ token|default('') }}" data-key="{% if seq is defined %}{{seq - 1}}{% else %}{{ subKey }}{% endif %}">
  <div class="subject-item__title subject-sub-item__title">
    <span class="subject-sub-item__number">
      {% if seq|default(null) %}
        {{ '(' ~ seq ~ ')'  }}
      {% else %}
        {{ '(' ~ loop.index ~ ')'  }}
      {% endif %}
    </span>
    {% if errors.stem is not defined %}
      <div class="subject-sub-item__stem">{{ item.stem|raw }}</div>
    {% elseif errors.stem.code == 100001 %}
      <span class="single-item__text--danger">缺少题干，请点击"编辑"进行设置。</span>
    {% endif %}
  </div>
  <div class="subject-item__body">
    {% for option_key,option in options %}
      <label class="cd-radio single-item sub-single-item subject-forbid {% if option_key in answers  %}checked{% endif %}">
        <input type="radio" data-toggle="cd-radio" name="right" value="{{'option' ~ loop.index }}">
        <span>{{ dict_text('questionOption', option_key) }}. </span>
        <span class="single-item__text {% if  errors['options_'~option_key] is defined %}single-item__text--danger{% endif %}">
          {% if errors['options_'~option_key] is not defined %}
            {{ option|raw }}
          {% elseif errors['options_'~option_key].code == 100002 %}
            缺少选项，请点击“编辑”进行设置。
          {% endif %}
        </span>
      </label>
    {% endfor %}
  </div>
  {% include 'testpaper/subject/common.html.twig' with {position:'sub', type: item.type, difficulty: item.difficulty, score: item.score } %}
</div>