{% set answer = item.answer %}
{% set errors = item.errors|default([]) %}
<div class="subject-item subject-sub-item js-subject-item" id="{{ key~'_'~subKey }}">
  <div class="subject-item__title subject-sub-item__title">
    <span class="subject-sub-item__number">{{ '(' ~ loop.index ~ ')'  }}</span>
    {% if errors.stem is not defined %}<span>{{ item.stem }}</span>{% else %}缺少题干，请点击"编辑"进行设置{% endif %}
  </div>
  <div class="subject-item__body">
    <label class="cd-radio single-item sub-single-item subject-forbid {% if answer %}checked{% endif %}">
      <input type="radio" data-toggle="cd-radio" name="right" value="true"><span class="single-item__text">{{ '正确' }}</span>
    </label>
    <label class="cd-radio single-item sub-single-item subject-forbid {% if not answer %}checked{% endif %}">
      <input type="radio" data-toggle="cd-radio" name="wrong" value="true"><span class="single-item__text">{{ '错误' }}</span>
    </label>
  </div>
  {% include 'testpaper/subject/common.html.twig' with {position:position, type: item.type, difficulty: item.difficulty, score: item.score } %}
</div>