{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set tagGroup = tagGroup|default(null) %}

{% block title %}
<h4>{{ tagGroup.name }}&nbsp;<small>标签管理</small></h4>
{% endblock %}
{% block body %}
  <form class="form-horizontal" id="tag-create-form" action="{{ path('admin_tag_create',{id:tagGroup.id}) }}" method="post">

    <div class="form-group row">
      <div class="col-md-9 controls">
        <input class="form-control" id="tag" type="text" name="name" data-url="{{ path('admin_tag_checkname') }}">
      </div>
      <div class="col-md-3 controls">
        <button id="tag-create-btn" data-submiting-text="正在提交" type="submit" class="btn btn-primary " data-url="{{ path('admin_tag_create', {id:tagGroup.id}) }}" >添加标签</button>
      </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>

<table id="tag-table" class="table table-striped">
  <thead>
    <th width="70%">标签</th>
    <th width="30%">操作</th>
  </thead>
  <tbody>
    {% for tag in tags %}
      {% include 'TopxiaAdminBundle:Tag2:tag-manage-modal-tr.html.twig' %}
    {% else %}
      <tr><td colspan="20"><div class="empty">暂无标签记录</div></td></tr>
    {% endfor %}
  </tbody>
</table>

  <script type="text/javascript">app.load('tag2/manage-modal')</script>
{% endblock %}

{% block footer %}
{% endblock %}
