{% extends 'course/course-show.html.twig' %}
{% block title %} {{thread.title}} - {{ parent() }}{% endblock %}
{% do script(['libs/es-ckeditor/ckeditor.js','libs/jquery-validation.js','app/js/course/thread-show/index.js'])%}

{% set nav = 'threads' %}

{% block detail_content %}

  <ul class="breadcrumb">
    <li><a href="{{ path('my_course_show', {id: course.id, 'tab': 'threads'}) }}">{{'course.thread'|trans}}</a></li>
    <li class="active">{% if thread.type == 'question' %}{{'thread.hover_tips.question'|trans}}{% else %}{{'thread.hover_tips.thread'|trans}}{% endif %}</li>
  </ul>

  <div class="thread">
    <div class="thread-header">
      {{ web_macro.user_avatar(author, 'pull-right') }}
      <h2 class="thread-title">
        {% if thread.type == 'question' %}
        <span class="label label-info">{{'thread.status.question'|trans}}</span>
        {% endif %}
        {{ thread.title }}
      </h2>
      <div class="thread-metas">
        By {{  web_macro.user_link(author, 'link-primary') }}
        <span class="bullet mhs">•</span>
        {{ thread.createdTime|smart_time }}
        <span class="bullet mhs">•</span>
        {{'course.thread.hit_times'|trans({'%hitNum%': thread.hitNum})}}
        {% if task|default(null) %}
          <span class="bullet mhs">•</span>
          <a class="link-primary" href="{{ path('course_task_show', {courseId: thread.courseId, id:thread.taskId}) }}" title="{{task.title}}">{{'course.thread.mission_seq'|trans({'%seq%': task.seq})}}</a>
        {% endif %}

      </div>
    </div>
    <div class="thread-body">{{ thread.content|cdn|raw }}</div>

    {% include 'attachment/widget/list.html.twig' with {targetType:'course.thread', targetId:thread.id} %}

    {% if isManager or app.user.id == author.id %}
      <div class="thread-footer" >
        <a href="{{ path('course_thread_edit', {courseId:thread.courseId, threadId:thread.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-edit"></span> {{'thread.edit_btn'|trans}}</a>
        {% if isManager %}
          <a href="javascript:;" class="btn btn-link" data-url="{{ path('course_thread_delete', {courseId:course.id, threadId:thread.id}) }}" data-after-url="{{ path('my_course_show', {id:course.id, tab: 'threads'}) }}" data-role="confirm-btn" data-confirm-message="{{'thread.delete_confirm_message'|trans}}"><span class="glyphicon glyphicon-remove-sign"></span> {{'thread.delete_btn'|trans}}</a>
          {% if thread.isStick %}
            <a href="javascript:" class="btn btn-link" data-url="{{ path('course_thread_unstick', { courseId:course.id, threadId:thread.id}) }}" data-role="confirm-btn" data-confirm-message="{{'thread.stick_cancel_confirm_message'|trans}}"><span class="glyphicon glyphicon-minus-sign"></span> {{'thread.stick_cancel_btn'|trans}}</a>
          {% else %}
            <a href="javascript:" class="btn btn-link" data-url="{{ path('course_thread_stick', {courseId:course.id, threadId:thread.id}) }}" data-role="confirm-btn" data-confirm-message="{{'thread.stick_confirm_message'|trans}}"><span class="glyphicon glyphicon-circle-arrow-up"></span> {{'thread.stick_btn'|trans}}</a>
          {% endif %}

          {% if thread.isElite %}
            <a href="javascript:" class="btn btn-link" data-url="{{ path('course_thread_unelite', {courseId:course.id, threadId:thread.id}) }}"data-role="confirm-btn" data-confirm-message="{{'thread.cancel_essence_confirm_message'|trans}}"><span class="glyphicon glyphicon-hand-right"></span> {{'thread.cancel_essence_btn'|trans}}</a>
          {% else %}
            <a href="javascript:" class="btn btn-link" data-url="{{ path('course_thread_elite', {courseId:course.id, threadId:thread.id}) }}"data-role="confirm-btn" data-confirm-message="{{'thread.set_essence_confirm_message'|trans}}"><span class="glyphicon glyphicon-thumbs-up"></span>  {{'thread.set_essence_btn'|trans}}</a>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  </div>

  <div class="thread-posts">
    {% if thread.type == 'question' and elitePosts %}
      <h3 class="thread-posts-heading"><span class="glyphicon glyphicon-share-alt"></span> {{'course.thread.teacher_answer'|trans}}</h3>
      <ul class="thread-post-list media-list">
        {% for post in elitePosts %}
          {% set author = users[post.userId] %}
          {% include 'course/thread/post-list-item.html.twig' %}
        {% endfor %}
      </ul>
    {% endif %}

    <h3 class="thread-posts-heading">
      <span class="glyphicon glyphicon-share-alt"></span>
      <span id="thread-post-num">{{ thread.postNum }}</span> {% if thread.type == 'question' %}{{'thread.all_answer'|trans}}{% else %}{{'thread.reply'|trans}}{% endif %}
    </h3>

    <ul class="thread-post-list media-list">
      {% for post in posts %}
        {% set author = users[post.userId] %}
        {% include 'course/thread/post-list-item.html.twig' %}
      {% else %}
        {% if thread.type == 'question' %}
          <li class="empty">{{ 'course.thread.empty'|trans({'%thread%': 'thread.answer'|trans }) }}</li>
        {% else %}
          <li class="empty">{{ 'course.thread.empty'|trans({'%thread%': 'thread.reply'|trans }) }}</li>
        {% endif %}
      {% endfor %}
    </ul>

    {{ web_macro.paginator(paginator) }}

    {% if isMemberNonExpired %}
      <h3 class="thread-posts-heading"><span class="glyphicon glyphicon-plus"></span> {{'thread.add_btn'|trans}}{% if thread.type == 'question' %}{{'thread.answer'|trans}}{% else %}{{'thread.reply'|trans}}{% endif %}</h3>
      {{ render(controller('AppBundle:Course/Thread:post', {courseId:course.id, threadId:thread.id})) }}
    {% endif %}

  </div>

{% endblock %}
