{% block side %}
  <div class="cd-sidebar locked js-sidenav">
    <ul class="cd-sidebar__list">
      <div class="js-sidenav-course-menu">
        {# 章节练习 #}
        <li class="cd-sidebar__item {% if course_side_nav == 'chapter' %}active{% endif %}">
            <a href="#">
              {{ 'item_bank_exercise.chapter_practice'|trans }}
            </a>
        </li>
        {# 试卷练习 #}
          <li class="cd-sidebar__item {% if course_side_nav == 'assessment' %}active{% endif %}">
              <a
                href="{{ path('item_bank_exercise_manage_assessment', {exerciseId:exercise.id}) }}">
                {{ 'item_bank_exercise.testpaper_practice'|trans }}
              </a>
          </li>
        <li class="cd-sidebar__heading">
          <hr class="mt0 mb0 mh10 bg-border-color"/>
        </li>
        {#基础设置#}
        <li class="cd-sidebar__item {% if course_side_nav == 'base' %}active{% endif %}">
          <a href="{{ path('item_bank_exercise_manage_base', {exerciseId:exercise.id}) }}">
            {{ 'course.plan_base_info'|trans }}
          </a>
        </li>
        {#营销设置#}
        <li class="cd-sidebar__item {% if course_side_nav == 'business' %}active{% endif %}">
            <a
              href="#">
              {{ 'course.marketing_setup'|trans }}
            </a>
        </li>
        {#学员管理#}
        <li class="cd-sidebar__item {% if course_side_nav == 'students' %}active{% endif %}">
          <a
            href="{{ path('item_bank_exercise_manage_students', {exerciseId:exercise.id}) }}">
            {{ 'course.student_manage'|trans }}
          </a>
        </li>
      </div>
    </ul>
  </div>
{% endblock %}
