{% set smsEnabled = (setting('cloud_sms.sms_enabled')|default('')) == '1' and (setting('cloud_sms.sms_bind')|default('')) %}

<div class="find-way-list row">
  {% if smsEnabled %}
    <div class="col-md-6">
      <div class="find-way-item">
        <div class="find-way-item__svg">
          <embed src="{{ asset('static-dist/app/img/svg/iphone.svg') }}" type="image/svg+xml"/>
        </div>
        <a class="btn cd-btn cd-btn-primary cd-btn-lg {% if not hasVerifiedMobile %}disabled{% endif %}" href="{% if hasVerifiedMobile %}{{ path('settings_find_pay_password_by_sms') }}{% else %}javascript:;{% endif %}">{{ 'user.settings.security.pay_password_find.by_mobile_phone'|trans }}</a>
        {% if not hasVerifiedMobile %}
          <p class="find-way-item__tip"><span>{{ 'user.settings.security.pay_password_find.by_mobile.unbound'|trans }}</span><a class="cd-link-primary" href="javascript:;" data-url="{{ path('settings_bind_mobile') }}" data-toggle="modal" data-target="#modal">{{ 'user.settings.security.pay_password_find.by_mobile.immediately_bind'|trans }}</a></p>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="col-md-6 {% if not smsEnabled %} col-md-offset-3 {% endif %}">
    <div class="find-way-item">
      <div class="find-way-item__svg">
        <embed src="{{ asset('static-dist/app/img/svg/lock.svg') }}" type="image/svg+xml"/>
      </div>
      <a class="btn cd-btn cd-btn-primary cd-btn-lg {% if not hasFindPayPasswordQuestion %}disabled{% endif %}" href="{% if hasFindPayPasswordQuestion %}{{ path('settings_find_pay_password_by_question') }}{% else %}javascript:;{% endif %}" >{{ 'user.settings.security.pay_password_find.by_question'|trans }}</a>
      {% if not hasFindPayPasswordQuestion %}
        <p class="find-way-item__tip"><span>{{ 'user.settings.security.pay_password_find.current_empty'|trans }}</span><a class="cd-link-primary" href="javascript:;" data-url="{{ path('settings_security_questions') }}" data-toggle="modal" data-target="#modal">{{ 'user.settings.security.pay_password_find.start_set'|trans }}</a></p>
      {% endif %}
    </div>
  </div>
</div>