
{% if materialFlag == 1 %}

<div class="testpaper-question testpaper-question-choice" id="question8">

				<div class="testpaper-question-body">
					    <div class="testpaper-question-stem-wrap clearfix">
							  <div class="testpaper-question-seq-wrap">
							    <div class="testpaper-question-seq">{{subQuestionVal.number}}</div>
							  </div>
						      <div class="testpaper-question-stem">{{subQuestionVal.stem}}</div>
					    </div>

						<ul class="testpaper-question-choices">
								{% for key,choice in subQuestionVal.metas.choices %}		  				{% set choiceIndex = (key+65)|chr %}	  
								<li class=""><span class="testpaper-question-choice-index">{{choiceIndex}}.</span>{{choice}}</li>
								{% endfor %}
							
						</ul>
				</div>

		</div>

{% else %}

    <div class="panel panel-default testpaper-question-block" id="homework-questions-single_choice">
      <div class="panel-heading">
          <strong>{{dict('questionType')[type]}}</strong>
          <small class="text-muted">共{{typeQuestionsNum['single_choice']}}题</small>
      </div>
      <div class="testpaper-question-body">


{% if type == 'single_choice' %}
	{% for subQuestion in single_choice_questions %}
	  		<div class="testpaper-question testpaper-question-choice" id="question8">

					<div class="testpaper-question-body">
						    <div class="testpaper-question-stem-wrap clearfix">
								  <div class="testpaper-question-seq-wrap">
								    <div class="testpaper-question-seq">{{subQuestion.number}}</div>
								  </div>
							      <div class="testpaper-question-stem">{{subQuestion.stem}}</div>
						    </div>

							<ul class="testpaper-question-choices">
									{% for key,choice in subQuestion.metas.choices %}		  		{% set choiceIndex = (key+65)|chr %}	  
									<li class=""><span class="testpaper-question-choice-index">{{choiceIndex}}.</span>{{choice}}</li>
									{% endfor %}
								
							</ul>
					</div>

			</div>
	{% endfor %}

{% elseif type == 'choice'  %}

	{% for subQuestion in choice_questions %}
	  		<div class="testpaper-question testpaper-question-choice" id="question8">

					<div class="testpaper-question-body">
						    <div class="testpaper-question-stem-wrap clearfix">
								  <div class="testpaper-question-seq-wrap">
								    <div class="testpaper-question-seq">{{subQuestion.number}}</div>
								  </div>
							      <div class="testpaper-question-stem">{{ subQuestion.stem|fill_question_stem_html|bbCode2Html|raw }}</div>
						    </div>

							<ul class="testpaper-question-choices">
									{% for key,choice in subQuestion.metas.choices %}		  			  
									<li class=""><span class="testpaper-question-choice-index">{{key}}</span>{{choice}}</li>
									{% endfor %}
								
							</ul>
					</div>

			</div>
	{% endfor %}

	{% elseif type == 'uncertain_choice'  %}

		{% for subQuestion in uncertain_choice %}
	  		<div class="testpaper-question testpaper-question-choice" id="question8">

					<div class="testpaper-question-body">
						    <div class="testpaper-question-stem-wrap clearfix">
								  <div class="testpaper-question-seq-wrap">
								    <div class="testpaper-question-seq">{{subQuestion.number}}</div>
								  </div>
							      <div class="testpaper-question-stem">{{subQuestion.stem}}</div>
						    </div>

							<ul class="testpaper-question-choices">
									{% for key,choice in subQuestion.metas.choices %}		  			  
									<li class=""><span class="testpaper-question-choice-index">{{key}}</span>{{choice}}</li>
									{% endfor %}
								
							</ul>
					</div>

			</div>
	{% endfor %}


{% endif  %}

 </div>
  </div>
{% endif %}
 