
<div id="testpaper-questions-determine" class="panel panel-default testpaper-question-block">
  <div class="panel-heading"><strong class="">判断题</strong>
  	<small class="text-muted">共{{typeQuestionsNum['determine']}}题</small>
  </div>
  <div class="panel-body">

		
			
			{% for subDetermineQuestion in determine_questions %} 		
			
<div id="question15" class="testpaper-question testpaper-question-fill">
	<div class="testpaper-question-body">
	  <div class="testpaper-question-stem-wrap clearfix">
  <div class="testpaper-question-seq-wrap">
    <div class="testpaper-question-seq">{{subDetermineQuestion.number}}</div>
  </div>
      <div class="testpaper-question-stem">{{subDetermineQuestion.stem}}</div>
    </div>  </div>

			<div class="testpaper-question-footer clearfix">
		  <div class="testpaper-question-determine-inputs">
				<label class="radio-inline "><input type="radio" value="1" name="{{subDetermineQuestion.id}}" data-type="determine"> 正确</label>
		 		<label class="radio-inline "><input type="radio" value="0" name="{{subDetermineQuestion.id}}" data-type="determine">错误</label>
	 		</div>

	 		<div class="testpaper-question-actions pull-right">
	 		  


	 		</div>
		</div>

		
	</div>
	{% endfor %}	

				
	  </div>
</div>
