{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}

{% block title %}作业批改 - {{ parent() }}{% endblock %}

{% set side_nav = 'my-teaching-homework-check' %}
{% set script_controller = 'course-manage/homework-list' %}

{% block main %}

<div class="panel panel-default panel-col">
  	<div class="panel-heading">作业批改</div>
  	<div class="panel-body">
    	<ul class="nav nav-tabs">
    		<li {% if status == 'unchecked' %} class="active"{% endif %}>
    			<a href="{{ url('course_homework_list', {courseId:course.id, lessonId:lesson.id, status:'unchecked'}) }}">未批改
    			<span class="badge">{{ reviewingCount }}</span></a>
    		</li>
    		<li {% if status == 'uncommitted' %} class="active"{% endif %}>
    			<a href="{{ url('course_homework_list', {courseId:course.id, lessonId:lesson.id, status:'uncommitted'}) }}">未提交
    			<span class="badge">{{ uncommitCount }}</span></a>
    		</li>
    		<li {% if status == 'finished' %} class="active"{% endif %}>
    			<a href="{{ url('course_homework_list', {courseId:course.id, lessonId:lesson.id, status:'finished'}) }}">已批改
    			<span class="badge">{{ finishedCount }}</span></a>
    		</li>
  	  	</ul>
  	  	{% if homework and students %}
  	  	<table class="table table-striped" id="homework-student-list">
	      	<thead>
		        <tr>
		          <th width="70%">学员</th>
		          <th width="30%">操作</th>
		        </tr>
	      	</thead>
      		<tbody>
      			{% for student in students %}
      			{% set user = users[student.userId] %}
      			{% set homeworkResult = homeworkResults[student.userId]|default(null) %}
      			{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
      			<tr id="student-{{ user.id }}-tr">
					<td class="media">
					    {{ web_macro.user_avatar(user, 'pull-left') }}
					    <a target="_blank" href="{{ path('user_show', {id:user.id}) }}">{{ user.nickname }}</a>
					    {% if status == 'unchecked' %}
					    <div class="text-muted text-sm">提交时间：{{ homeworkResult.usedTime|date('Y-n-d H:i') }}</div>
					    {% endif %}
					</td>
					<td>
					    <div class="btn-group">
					    	{% if status == 'uncommitted' %}
					    		<button class="btn btn-default btn-sm homework-urge-btn" data-url="{{ path('homework_urge', { homeworkId:homework.id, userId:user.id } )}}">私信催缴</button>
					    	{% elseif status == 'unchecked' or status == null %}
					        	<a class="btn btn-default btn-sm" data-url="/user/4/follow" href="{{ path('course_homework_check',{courseId:course.id,homeworkId:homework.id, userId:user.id }) }}" target="_blank">批改</a>
					        {% else %}
					        	<a class="btn btn-default btn-sm" data-url="/user/4/follow">查看</a>
					        {% endif %}
					    </div>
					</td>
				</tr>
				{% endfor %}                
            </tbody>
    	</table>
    	{% else %}
			<div class="empty">没有需要批改的作业</div>
		{% endif %}
		{{ web_macro.paginator(paginator) }}
  	</div>
</div>

{% endblock %}
