{% if materialFlag == 1 %}


<div class="panel-body">
			
		<div class="testpaper-question testpaper-question-fill" id="question14">
						<div class="testpaper-question-body">
						  <div class="testpaper-question-stem-wrap clearfix">
							  <div class="testpaper-question-seq-wrap">
							    <div class="testpaper-question-seq">{{subQuestionVal.number}}</div>
							  </div>
							  {% set titleElements = subQuestionVal.stem|split('[[') %}
							  <div class="testpaper-question-stem">
								  {% for key,titleElement in titleElements %}
									  {% if key == 0 %}
									      {{ titleElement }}
									      {% else %}
									      <span class="question-stem-fill-blank">({{key}}){{titleElement|trim(']]')}}</span>
									  {% endif %}
								  {% endfor %}
						      </div>
						  </div>  
					  </div>

							  <div class="testpaper-question-footer clearfix">
							  <div class="testpaper-question-fill-inputs">
									<input class="form-control " type="text" data-type="fill" name="14" placeholder="填空(1)答案，请填在这里">
										<input class="form-control " type="text" data-type="fill" name="14" placeholder="填空(2)答案，请填在这里">
							</div>

								<div class="testpaper-question-actions pull-right">
									
								</div>
						  </div>
		</div>
  </div>

{% else %}



<div class="panel panel-default testpaper-question-block" id="testpaper-questions-fill">
	  <div class="panel-heading"><strong class="">填空题</strong>
	  	<small class="text-muted">共{{typeQuestionsNum['fill']}}题</small>
	  </div>
  <div class="panel-body">
			
			{% for subQuestion in fill_questions %}		
		<div class="testpaper-question testpaper-question-fill" id="question14">
						<div class="testpaper-question-body">
						  <div class="testpaper-question-stem-wrap clearfix">
							  <div class="testpaper-question-seq-wrap">
							    <div class="testpaper-question-seq">{{subQuestion.number}}</div>
							  </div>
							  {% set titleElements = subQuestion.stem|split('[[') %}
							  <div class="testpaper-question-stem">
								  {% for key,titleElement in titleElements %}
									  {% if key == 0 %}
									      {{ titleElement }}
									      {% else %}
									      <span class="question-stem-fill-blank">({{key}}){{titleElement|trim(']]')}}</span>
									  {% endif %}
								  {% endfor %}
						      </div>
						  </div>  
					  </div>

							  <div class="testpaper-question-footer clearfix">
							  <div class="testpaper-question-fill-inputs">
									<input class="form-control " type="text" data-type="fill" name="14" placeholder="填空(1)答案，请填在这里">
										<input class="form-control " type="text" data-type="fill" name="14" placeholder="填空(2)答案，请填在这里">
							</div>

								<div class="testpaper-question-actions pull-right">
									
								</div>
						  </div>
		</div>
		  {% endfor %}		
  </div>
</div>
{% endif %}
