<div class="question question-{{ question.type }} question-{{ question.id }}"  data-question-id="{{ question.id }}">
	<div class="question-heading editor-text">
		不定项选择题
		<a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
	</div>
	<div class="question-body clearfix">
		<div class="gray-darker mbm">{{ question.stem|bbCode2Html|raw }}</div>
		{% if answer|default(null) %}
		  {% set answerChoiceIndex = answer %}
		{% endif %}
		<ul class="question-choices">
			{% for key, choice in question.metas.choices %}
		    {% set choiceIndex = (65+key)|chr %}
			<li data-index="{{ choiceIndex }}" data-for="question-{{ question.id }}-input-{{ choiceIndex }}">
				<span class="type-check {% if key in answer and key in selfAnswer %} correct {% elseif key in selfAnswer %}error{% endif %}" id="question-{{ question.id }}-input-{{ choiceIndex }}" name="answer[{{ question.id }}][]" value="{{ key }}">{{ choiceIndex }}</span>
				{{ choice|bbCode2Html|raw}}
					{% if key in answer %}
				<span class="label label-success label-md">正确答案</span>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="question-footer clearfix">
		{% include 'TopxiaWebBundle:Marker:answer-progress.html.twig' %}
		<input id="data" data-markerid="{{markerId}}"data-type="{{question.type}}" data-questionid="{{question.id}}" data-url="{{ path('course_lesson_question_marker_next',{markerId:markerId,questionId:question.id}) }}" hidden="hidden">
		<button id="continue" class="btn btn-primary btn-lg pull-right">{% if compelete %}完成{% else %}下一题{% endif %}</button>
	</div>
</div>