<div class="question"  data-question-id="{{ question.id }}">
	<div class="question-heading editor-text">
		填空题<a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
	</div>
	<div class="question-body clearfix">
	  <div class="gray-darker mbl">{{ question.stem|fill_question_stem_html|bbCode2Html|raw }}
	  </div>
		{% if answer|default(null) %}
		{% set fileItemResultAnswer = answer[0] %}
		{% endif %}
		<div class="homework-question-fill question-fill-inputs">
		  	<div class="fill-answer {% if status == 'right' %}correct{% else %}error{% endif %}">
		    {{selfAnswer}}<span class="type">{% if status == 'right' %}正确{% else %}错误{% endif %}</span>
		   	</div>
		  <p class="answer-title mtl">正确答案</p>
		  {% for index,value in answer[0] %}
		  <div class="fill-answer">
		    {{value }}
		  {% endfor %}
		  </div>
		</div>
		<input id="data" data-markerid="{{markerId}}"data-type="{{question.type}}" data-questionid="{{question.id}}" data-url="{{ path('course_lesson_question_marker_next',{markerId:markerId,questionId:question.id}) }}" hidden="hidden">
		{% include 'TopxiaWebBundle:Marker:answer-progress.html.twig' %}
		<button id="continue" class="btn btn-primary btn-lg mvm pull-right">完成</button>
	</div>
	<div class="question-footer">
	</div>
</div>