<div class="question"  data-question-id="{{ question.id }}">
	<div class="question-heading editor-text">
		单选题
		<a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
	</div>
	<div class="question-body clearfix">
		<div class="gray-darker mbm">{{ question.stem|bbCode2Html|raw}}</div>
		{% if answer|default(null) %}
			{% set answerChoiceIndex = (1+answer[0]) %}
		{% else %}
			{% set answerChoiceIndex = '-1' %}
		{% endif %}
		<ul class="question-choices">
			{% for key, choice in question.metas.choices %}
			{% set choiceIndex = (65+key)|chr %}
			<li data-index="{{ choiceIndex }}" data-for="question-{{ question.id }}-input-{{ choiceIndex }}">
				<span class="type-check {% if loop.index == answerChoiceIndex and loop.index == (selfAnswer+1) %} correct {% elseif loop.index == (selfAnswer+1) %} error {% endif %} " id="question-{{ question.id }}-input-{{ choiceIndex }}" data-type="single_choice" name="answer[{{ question.id }}]" value="{{ key }}">{{ choiceIndex }}</span>
				{{ choice|bbCode2Html|raw}}
				{% if loop.index == answerChoiceIndex %}
				<span class="label label-success label-md">正确答案</span>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="question-footer clearfix">
		{% include 'TopxiaWebBundle:Marker:answer-progress.html.twig' %}
		<input id="data" data-markerid="{{markerId}}"data-type="{{question.type}}" data-questionid="{{question.id}}" data-url="{{ path('course_lesson_question_marker_next',{markerId:markerId,questionId:question.id}) }}" hidden="hidden">
		<button id="continue" class="btn btn-primary btn-lg pull-right">{% if compelete %}完成{% else %}下一题{% endif %}</button>
	</div>
</div>
