<div class="question question-{{ question.type }} question-{{ question.id }}"  data-question-id="{{ question.id }}">
	<div class="question-heading editor-text">（单选）{{ question.stem|bbCode2Html|striptags|raw}}</div>
	<div class="question-body clearfix">
		{% if question.answer|default(null) %}
			{% set answerChoiceIndex = question.answer[0]|chr %}
		{% else %}
			{% set answerChoiceIndex = '-1' %}
		{% endif %}
		<ul class="question-choices">
			{% for key, choice in question.metas.choices %}
		{% set choiceIndex = (65+key)|chr %}
			<li data-index="{{ choiceIndex }}" data-for="question-{{ question.id }}-input-{{ choiceIndex }}">
				<label class="radio-inline mrm">
					<input id="question-{{ question.id }}-input-{{ choiceIndex }}" type="radio" data-type="single_choice" name="answer[{{ question.id }}]" value="{{ key }}" {% if key ==  answerChoiceIndex %}checked="checked"{% endif %}>{{ choiceIndex }}.</label><span class="choice-body editor-text">{{ choice|bbCode2Html|striptags|raw}}</span>
			</li>
			{% endfor %}
		</ul>
		<input id="data" data-markerid="{{markerId}}"data-type="{{question.type}}" data-questionid="{{question.id}}" data-url="{{ path('course_lesson_question_marker_next',{markerId:markerId,questionId:question.id}) }}" hidden="hidden">
		<button id="submitQuestion" class="btn btn-primary btn-md mvm">提 交</button>
	</div>
</div>
