{% extends 'TopxiaWebBundle:Question:question-choice-doing.html.twig' %}

{% block body %}

{% include 'TopxiaWebBundle:Question:question-choice-options.html.twig' %}

{% if itemResult.answer|default(null) %}
 {% set answerChoiceIndex = itemResult.answer|chr %}
 {% else %}
 {% set answerChoiceIndex = '-1' %}
{% endif %}
<div class="question-choices-inputs">
    {% for key, choice in question.metas.choices %}
      {% set choiceIndex = (65+key)|chr %}
      <label class="radio-inline">
        <input id="question-{{ question.id }}-input-{{ choiceIndex }}" type="radio" data-type="single_choice" name="answer[{{ question.id }}]" value="{{ key }}" {% if choiceIndex ==  answerChoiceIndex %}checked{% endif %}> {{ choiceIndex }}
      </label>
    {% endfor %}
</div>
<input id="data" data-markerid="{{markerId}}" data-url="{{ path('course_lesson_question_marker_next',{markerId:markerId}) }}" hidden="hidden">
<button id="submit" class="btn btn-success btn-sm">提交</button>

{% endblock %}
