<div class="question question-{{ question.type }} question-{{ question.id }}"  data-question-id="{{ question.id }}">
	<div class="question-heading editor-text">
		判断题
		<a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
	</div>
	<div class="question-body clearfix">
		<div class="gray-darker mbm">{{ question.stem|bbCode2Html|raw }}</div>
		{% if itemResult.answer|default(null) %}
		  {% set answerChoiceIndex = itemResult.answer %}
		{% endif %}
		<ul class="question-choices">
			<li>
				<span class="type-check" type="radio" data-type="determine" name="answer[{{ question.id }}]" value="1"> <i class="es-icon es-icon-done"></i>
				</span>
				<span class="mll">正确</span>
			</li>
			<li>
				<span class="type-check" data-type="determine" name="answer[{{ question.id }}]" value="0"> <i class="es-icon es-icon-close01"></i>
				</span>
				<span class="mll">错误</span>
			</li>
		</ul>
	</div>
	<div class="question-footer">
		<input id="data" data-markerid="{{markerId}}"data-type="{{question.type}}" data-questionid="{{question.id}}" data-url="{{ path('course_lesson_question_marker_next',{markerId:markerId,questionId:question.id}) }}" data-show-questionanswer="{{ path('course_lesson_question_marker_answer_show',{markerId:markerId,questionId:question.id}) }}"data-lessonid="{{lessonId}}" hidden="hidden">
		<div class="row">
			<div class="col-xs-10 text-right">
				<div class="pvm text-danger "></div>
			</div>
			<div class="col-xs-2">
				<button id="submitQuestion" class="btn btn-primary btn-lg pull-right">提 交</button>
			</div>
		</div>
	</div>
</div>