{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% block title %}{{'弹题管理'|trans}}{% endblock %}

{% set script_controller = 'marker/index' %}
{% set bodyClass="marker-manage" %}

{% block body %}
  <div class="marker-manage-content js-marker-manage-content" id="lesson-dashboard"
    data-course-id="{{ course.id }}"
    data-lesson-id="{{ lesson.id }}"
    data-lesson-mediaid="{{ lesson.mediaId }}"
    data-hide-media-lesson-learn-btn="{{ is_feature_enabled('hide_media_lesson_learn_btn') }}">
    {% include 'TopxiaWebBundle:Marker:player.html.twig' %}
    <div class="manage-edit-body">
      <ul class="nav nav-tabs nav-tabs-edit" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">随堂练习</a></li>
        <li role="presentation" class="hidden"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">字幕</a></li>
        <li class="static" role="presentation">
          <a>
            <!-- border show-introhelp-->
            <span class=" show-introhelp">
              <i class="es-icon es-icon-xinxi introhelp-icon-help" id="step-1" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="为保险起见，所有对视频的编辑操作都将实时保存。"></i>
              <div class="popover bottom" >
                <div class="arrow"></div>
                <div class="popover-content clearfix">
                  <p>为保险起见，所有对视频的编辑操作都将实时保存。</p>
                  <span class="close-introhelp js-close-introhelp">知道了</span>
                </div>
              </div>
            </span>
          </a>
        </li>
      </ul>
      <a href="{{ path('course_lesson_marker_manage_preview', {courseId:course.id,lessonId:lesson.id}) }}" class="btn btn-info btn-preview" target="_blank"  >{{'预览'|trans}}</a>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active pane-question js-pane-question" id="home" data-url="{{ path('course_lesson_question_marker_list',{courseId:course.id,lessonId:lesson.id})}}">
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          字幕
        </div>
      </div>
    </div>
    {% include 'TopxiaWebBundle:Marker:coord.html.twig' %}
  </div>
  <div class="modal"></div>
  <div class="introhelp-overlay js-introhelp-overlay hidden"></div>
{% endblock %}