{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

<div class="row list-title">
  <div class="col-md-6">题干</div>
  <div class="col-md-2">题型</div>
  <div class="col-md-2">难度</div>
  <div class="col-md-2">操作</div>
</div>


<ul class="lesson-list gruop-lesson-list" id="subject-lesson-list">
  {% for question in questions %} 
  <li class="row item-lesson">
    <div class="col-md-6 title">
      <div class="before">
        <span class="idname">{{question.id}}</span>
        <span class="glyphicon glyphicon-move mrm"></span>
        <span class="number"><span class="num">1</span>.</span>
        {{question.stem|fill_question_stem_text|plain_text(12) }}
      </div>
      <i class="icon-close glyphicon glyphicon-remove"></i>
    </div>
    <div class="col-md-2 content">{{ dict('questionType')[question.type] }}</div>
    <div class="col-md-2 content">{{ dict('difficulty')[question.difficulty] }}</div>
    <div class="col-md-2 content"><a href="javascript:;" class="marker-preview" data-url="{{ path('course_manage_question_preview', {id:question.id, courseId:course.id}) }}">预览</a></div>
  </li>
  {% else %}
    <div class="empty">一道题都没有</div>
  {% endfor %}
</ul>

