<li class="row media">
  <div class="col-md-9">
  	{% if status.type=='learned_lesson' %}
  		学习了课时 <a href="#modal" data-toggle="modal" data-url="{{ path('course_lesson_preview', {courseId:status.properties.course.id,lessonId:status.properties.lesson.id}) }}">《{{ status.properties.lesson.title }}》</a>
  	{% elseif status.type=='finished_testpaper' %}
  		完成了考试<a href="{{ path('course_manage_test_results', {id: status.properties.result.id}) }}" class="btn btn-link btn-sm">《{{ status.properties.testpaper.name }}》</a>
  	{% else %}
  		加入了课程<a href="{{ path('course_show', {id: status.properties.course.id}) }}">《{{ status.properties.course.title }}》</a>
  	{% endif %}
  </div>
  {% if status.time=='今天' %}
    <div class="col-md-3 timeline-smart-time">
    	{{status.createdTime|smart_time}}
    </div>
  {% endif %}
</li>