    <div class="course-img">
      <a href="{{ path('course_show', {id:course.id}) }}"><img class="img-responsive" src="{{ filepath(course.largePicture, 'course.png') }}"  /></a>
    </div>
    <div class="course-info">
      <div class="title">
        <a href="{{ path('course_show', {id:course.id}) }}">
          {{course.title }}
        </a>
      </div>
      <div class="content">{{ course.about|plain_text(100) }}</div>
      <div class="metas">
     {#   <a class="pull-right week-reminder"><i class="iconfont icon-time"></i>1/9周</a> #} 
        <a class="pull-right time-reminder"><i class="iconfont icon-time"></i>2015年10月1号开课</a> 
        <span class="student-mun">已有<span>{{course.studentNum}}</span>人学习</span>
        <span class="star-{{(course.rating)|number_format }}"></span>

      </div>
    </div>
    <div class="course-teacher">
      {% set teacher = course.teacherIds|first|default(null) %}
      {% if teacher %}
        {% set teacher = data('User',{userId:teacher})%}
        <div class="avatar">
            <img src="{{ filepath(teacher.mediumAvatar, 'avatar.png') }}">
          </a>
        </div>
        <div class="teacher-name"><a href="{{ path('user_show', {id:teacher.id}) }}">{{ teacher.nickname }}</a></div>
        <div class="teacher-position hidden-sm">{{ teacher.title }}</div>
      {% endif %}
    </div>
