{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">学员动态</h3>
  </div>
  <div class="panel-body">
  {% if learns %}
    <ul class="user-grids clearfix user-status-list">
      {% for learn in learns %}
      <li class="media" style="width: 100%;">
        {% if learn.type == "finished_testpaper" %}
        <div class="pull-left">{{ web_macro.user_avatar(learn.user, 'img-circle') }}</div>
        <div class="media-body">
          <a href="{{ path('user_show', {id:learn.user.id}) }}">{{learn.user.nickname}}</a>
          完成了考试 {{learn.properties.testpaper.name|plain_text(15)}}
         </div>
          

        {% elseif learn.type == "finished_homework" %}
        <div class="pull-left">{{ web_macro.user_avatar(learn.user, 'img-circle') }}</div>
        <div class="media-body">
          <a href="{{ path('user_show', {id:learn.user.id}) }}">{{learn.user.nickname}}</a>
          完成了 课程 {{learn.properties.course.title|default('')|plain_text(15)}} 课时 {{learn.properties.lesson.title|default('')|plain_text(15)}} 下的作业
        </div>


        {% elseif learn.type == "finished_exercise" %}
        <div class="pull-left">{{ web_macro.user_avatar(learn.user, 'img-circle') }}</div>
        <div class="media-body">
          <a href="{{ path('user_show', {id:learn.user.id}) }}">{{learn.user.nickname}}</a>
          完成了 课程 {{learn.properties.course.title|default('')|plain_text(15)}} 课时 {{learn.properties.lesson.title|default('')|plain_text(15)}} 下的练习
        </div>

        {% elseif learn.objectType == "classroom" and learn.type == "become_student" %}
        <div class="pull-left">{{ web_macro.user_avatar(learn.user, 'img-circle') }}</div>
        <div class="media-body">
          <a href="{{ path('user_show', {id:learn.user.id}) }}">{{learn.user.nickname}}</a>
          成为了班级 {{learn.properties.classroom.title|plain_text(15)}} 的学员
         </div>

        {% elseif learn.objectType == "classroom" and learn.type == "become_auditor" %}
        <div class="pull-left">{{ web_macro.user_avatar(learn.user, 'img-circle') }}</div>
        <div class="media-body">
          <a href="{{ path('user_show', {id:learn.user.id}) }}">{{learn.user.nickname}}</a>
          成为了班级 {{learn.properties.classroom.title|plain_text(15)}} 的旁听生
         </div>
        
        {% elseif learn.type == "learned_lesson" %}
        <div class="pull-left">{{ web_macro.user_avatar(learn.user, 'img-circle') }}</div>
        <div class="media-body">
          <a href="{{ path('user_show', {id:learn.user.id}) }}">{{learn.user.nickname}}</a>
           完成了课时 {{learn.properties.lesson.title|plain_text(15)}}
        </div>
       
        {% elseif learn.type == "favorite_course" %}
        <div class="pull-left">{{ web_macro.user_avatar(learn.user, 'img-circle') }}</div>
        <div class="media-body">
          <a href="{{ path('user_show', {id:learn.user.id}) }}">{{learn.user.nickname}}</a>
          收藏了课程 {{learn.properties.course.title|plain_text(15)}}
        </div>

        {% elseif learn.type == "start_learn_lesson" %}
        <div class="pull-left">{{ web_macro.user_avatar(learn.user, 'img-circle') }}</div>
        <div class="media-body">
          <a href="{{ path('user_show', {id:learn.user.id}) }}">{{learn.user.nickname}}</a>
          开始学习课时 {{ learn.properties.lesson.title|plain_text(15) }}
        </div>
        
        {% endif %}
      </li>
      {% endfor %}
     </ul>
    {% else %}
     <div class="empty">还没有动态</div>
    {% endif %}
  </div>
</div>
