<table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
  <thead>
  <tr>
    <th>{{ 'admin.operation_analysis.teach_plan'|trans }}</th>
    <th>{{ 'admin.operation_analysis.teach_plan.creator'|trans }}</th>
    <th>{{ 'site.default.student'|trans }}{{ 'site.data.count'|trans }}</th>
  </tr>
  </thead>
  <tbody>
  {% if courseSumDetail %}
    {% for data in courseSumDetail %}
      <tr>
        <td><a href="{{ path('course_show', {id:data.id}) }}" target="_blank"><strong>{{ courseSets[data.courseSetId].title  ~ '-' ~data.title }}</strong></a><br></td>
        <td>{{ admin_macro.user_link(users[data.creator]) }}<br>{{ data.createdTime|date("Y-m-d H:i:s") }}</td>
        <td>{{ data.studentNum }}</td>
      </tr>
    {% endfor %}
  {% else %}
    　
    <tr>
      <td colspan="4">
        <div class="empty">{{ 'admin.operation_analysis.teach_plan.empty'|trans }}</div>
      </td>
    </tr>
  {% endif %}
  </tbody>
</table>
{{ admin_macro.paginator(paginator) }}
