{% extends 'TopxiaWebBundle:Question2:question-base-layout.html.twig' %}

{% block heading %}
  {{ question.stem|bbCode2Html|raw }}
{% endblock %}

{% block body %}
  {% include 'TopxiaWebBundle:Question2:question-choice-options.html.twig' %}
{% endblock %}

{% block footer %}
  {% if result.answer|default(null) %}
    {% set answerChoiceIndex = result.answer|split(',') %}
  {% endif %}

<div class="question-choices-inputs">
  {% for key, choice in question.metas.choices %}
  {% set choiceIndex = (65+key)|chr %}
  <label class="checkbox-inline">
    <input id="question-{{ question.id }}-input-{{ choiceIndex }}" type="checkbox" name="answer[{{ question.id }}][]" value="{{ key }}"  {% if key in answerChoiceIndex|default(null) %}checked{% endif %}> {{ choiceIndex }}
  </label>
  {% endfor %}
</div>
{% endblock %}