{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}{{'添加任务'|trans}}{% endblock %}
{% block body %}

	{% if not currentType %}
		{% for type, value in activityTypes  %}
			<a data-role="activityType" href="javascript:;" data-url="{{path('course_task_create',{courseId:courseId, currentType:type})}}">{{value.name}}</a>
		{% endfor %}
	{% endif %}


	{% if currentType %}
		<form id='task-create-form' class="form-horizontal" method="POST" action="{{path('course_task_create',{courseId:courseId, currentType:currentType})}}">
            <input type="hidden" name="mediaType" value='{{currentType}}'>
            <input type="hidden" name="fromCourseSetId" value='1'>
			<input type="hidden" name="fromCourseId" value='{{courseId}}'>
			{% include activityTypes[currentType]['create_modal'] %}
		</form>
	{% endif %}

{% endblock %}


{% block footer %}
	{% if currentType %}
		<button id="task-create-form-submit" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#task-create-form" data-submiting-text="{{'正在保存...'|trans}}" >{{'保存'|trans}}</button>
	{% endif %}

  	<button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'取消'|trans}}</button>

  	<script>app.load('taskbundle/controller/task-manage/create')</script>
{% endblock %}
