{% extends 'WebBundle:CourseSetManage:layout.html.twig' %}
{% block title %}{{ '教学计划管理'|trans }} - {{ parent() }}{% endblock %}

{% set side_nav = 'info' %}
{% do script(['libs/es-ckeditor/ckeditor.js','libs/jquery-validation.js','libs/bootstrap-datetimepicker.js','web/course-manage/info/index.js']) %}

{% block main %}
  <div class="panel panel-default panel-col lesson-manage-panel">
    <div class="panel-heading">
      <a href="{{path('course_set_manage_courses', {courseSetId: courseSet.id})}}">{{'教学计划列表'|trans}}</a>/{{course.title}}
      <button class="btn btn-success btn-sm pull-right js-publish-course" data-url="{{path('course_set_manage_course_publish', {courseSetId: courseSet.id, courseId: course.id})}}">{{'发布计划'|trans}}</button>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills mbl">
        <li class="">
        	<a href="{{path('course_set_manage_course_tasks', {courseSetId: courseSet.id, courseId: course.id})}}">{{'计划任务'|trans}}</a>
        </li>
        <li class="active"><a href="javascript:;">{{'计划设置'|trans}}</a></li>
        <li class="">
        	<a href="{{path('course_set_manage_course_marketing', {courseSetId: courseSet.id, courseId: course.id})}}">{{'营销设置'|trans}}</a>
        </li>
      </ul>
      <form class="form-horizontal" role="form" id="course-info-form" action="{{path('course_set_manage_course_info', {courseSetId: courseSet.id, courseId: course.id})}}" method="post">
        <div class="form-group">
          <label for="title" class="col-sm-2 control-label">{{'计划名称'|trans}}</label>
          <div class="col-sm-8">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
            <input type="hidden" name="courseSetId" value="{{courseSet.id}}">
            <input type="hidden" name="id" value="{{course.id|default(0)}}">
            <input class="form-control" type="text" id="title" name="title" value="{{course.title|default('')}}">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">{{'学习模式'|trans}}</label>
          <div class="col-sm-8 radios">
            <label>
              <input type="radio" id="learnModeFreeOrder" name="learnMode" value="freeOrder" 
              {% if course.learnMode|default('freeOrder') == 'freeOrder' %}checked{% endif %}
              disabled data-role="tab" data-tab-content="#learnFreeOrderHelp" >{{'自由模式'|trans}}
            </label>
            <label>
              <input type="radio" name="learnMode" value="byOrder" 
              {% if course.learnMode|default('freeOrder') == 'byOrder' %}checked{% endif %}
              disabled data-role="tab" data-tab-content="#learnByOrderHelp">
              {{'任务式学习'|trans}}
            </label>
            <p class="help-block {% if course.learnMode|default('freeOrder') == 'byOrder' %}hidden{% endif %}"  id="learnFreeOrderHelp" data-role="tab-content">{{'学习过程自由安排'|trans}}</p>
            <p class="help-block {% if course.learnMode|default('freeOrder') == 'freeOrder' %}hidden{% endif %}" id="learnByOrderHelp" data-role="tab-content" >{{'根据计划预定的顺序学习'|trans}}</p>
          </div>
        </div>
        <div class="form-group">
         <label class="col-sm-2 control-label">{{'学习有效期模式'|trans}}</label>
         <div class="col-sm-8 radios">
            <label>
              <input data-role="tab" data-tab-content="#expiry-days" type="radio" id="expiryModeDays" name="expiryMode" value="days" 
              {% if course.expiryMode|default('days') == 'days' %}checked{% endif %}
              {% if course.status|default('draft') == 'published' %}disabled{% endif %}>
              {{'随到随学'|trans}}
            </label>
            <label>
              <input data-role="tab" data-tab-content="#expiry-date" type="radio" name="expiryMode" value="date" 
              {% if course.expiryMode|default('days') == 'date' %}checked{% endif %}
              {% if course.status|default('draft') == 'published' %}disabled{% endif %}>
              {{'指定日期学习'|trans}}
            </label>
            <div class="mbm mtm {% if course.expiryMode|default('days') == 'date' %}hidden{% endif %}" id="expiry-days" data-role="tab-content">
            {{'学习有效期'|trans}}
              <input class="form-control mhm" type="text" id="expiryDays" name="expiryDays" style="display:inline-block;width:150px" value="{{course.expiryDays|default('0')}}" {% if course.status|default('draft') == 'published' %}disabled{% endif %}>{{'天'|trans}}
              <span class="color-gray mll">{{'设置为0天则无限制'|trans}}</span>
            </div>
            <div class="mbm mtm {% if course.expiryMode|default('days') == 'days' %}hidden{% endif %}" id="expiry-date" data-role="tab-content">
             {{'开始日期'|trans}}
              <input class="form-control" id="expiryStartDate" type="text" name="expiryStartDate" value="{{course.expiryStartDate|default('now'|date('Y-m-d'))}}" style="display:inline-block;width:150px" 
              {% if course.status|default('draft') == 'published' %}disabled{% endif %}>
             {{'结束日期'|trans}}
              <input class="form-control" type="text" id="expiryEndDate" name="expiryEndDate" value="{{course.expiryEndDate|default('')}}" style="display:inline-block;width:150px"
              {% if course.status|default('draft') == 'published' %}disabled{% endif %}>
            </div>
            <p class="help-block">{{'过期后将无法观看内容，系统默认会在到期前10天提醒学员。'|trans}}</p>
            <div class="color-warning">{{'课程首次发布后“学习有效期方式”将不能再修改'|trans}}</div>
         </div>
        </div>
        <div class="form-group">
          <div class="col-md-2 control-label">
            <label>{{'计划简介'|trans}}</label>
          </div>
          <div class="col-md-8 controls">
            <textarea class="form-control" name="summary" rows="10" id="summary" data-image-upload-url="{{ path('editor_upload', {token:upload_token('course')}) }}">{{ field_value(course, 'summary') }}</textarea>
          </div>
        </div>
        <div class="form-group dynamic-collection" id="course-goals-form-group">
          <div class="col-md-2 control-label">
            <label>{{'课程目标'|trans}}</label>
          </div>
          <div class="col-md-8 controls">
            <ul class="list-group sortable-list" data-role="list" style="margin-bottom:10px;display:none;"></ul>
            <div class="input-group">
              <input class="form-control" id="goals" name="goals" type="text" data-role="item-input" value="{{course.goals|default('')}}">          
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-role="item-add" >{{'添加'|trans}}</button>
              </span>
            </div>
            <script type="text/plain" data-role="model">{{ course.goals|json_encode|raw }}</script>
            <script type="text/x-handlebars-template" data-role="item-template">
              {% verbatim %}
                <li class="list-group-item clearfix" data-role="item">
                  <span class="glyphicon glyphicon-resize-vertical sort-handle"></span>
                  {{ this }}
                  <input type="hidden" name="goals[]" value="{{ this }}">
                  <button class="close delete-btn" data-role="item-delete" type="button" title="删除">&times;</button>
                </li>
              {% endverbatim %}
            </script>
          </div>
        </div>
        <div class="form-group" id="course-audiences-form-group">
          <div class="col-md-2 control-label">
            <label>{{'适应人群'|trans}}</label>
          </div>
          <div class="col-md-8 controls">

            <ul class="list-group sortable-list dynamic-collection" data-role="list" style="margin-bottom:10px;display:none;"></ul>
            <div class="input-group">
              <input class="form-control" id="audiences" name="audiences" type="text" data-role="item-input" value="{{course.audiences|default('')}}">          
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-role="item-add" >{{'添加'|trans}}</button>
              </span>
            </div>

            <script type="text/plain" data-role="model">{{ course.audiences|json_encode|raw }}</script>
            <script type="text/x-handlebars-template" data-role="item-template">
              {% verbatim %}
                <li class="list-group-item clearfix" data-role="item">
                  <span class="glyphicon glyphicon-resize-vertical sort-handle"></span>
                  {{ this }}
                  <input type="hidden" name="audiences[]" value="{{ this }}">
                  <button class="close delete-btn" data-role="item-delete" type="button" title="删除">&times;</button>
                </li>
              {% endverbatim %}
            </script>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button id="course-submit" type="button" class="btn btn-primary" data-loading-text="{{ '正在保存...'|trans }}">{{ '保存'|trans }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}



