{% extends 'WebBundle:CourseManage:layout.html.twig' %}
{% block title %}{{ '教学计划管理'|trans }} - {{ parent() }}{% endblock %}

{% set side_nav = 'plan' %}
{% set active = 'marketing' %}
{% do script(['libs/jquery-validation.js','web/course-manage/marketing/index.js']) %}

{% block course %}
<form id="course-marketing-form" class="form-horizontal" action="{{path('course_set_manage_course_marketing', {courseSetId: courseSet.id, courseId: course.id})}}" method="post">
  <div class="form-group">
    <label class="col-sm-2 control-label">{{'收费免费'|trans}}</label>
    <div class="col-sm-8 radios">
      <label for="chargeMode">
        <input type="radio" id="chargeMode" name="isFree" value="0" {% if course.isFree|default(0) == 0 %}checked{% endif %}>
        {{'收费'|trans}}
      </label>
      <label for="freeMode">
        <input type="radio" id="freeMode" name="isFree" value="1" {% if course.isFree|default(0) == 1 %}checked{% endif %}>
        {{'免费'|trans}}
      </label>
    </div>
  </div>
  <div class="form-group js-is-free" {% if course.isFree|default(0) == 1 %}style="display: none;"{% endif %}>
    <label class="col-sm-2 control-label">{{'价格'|trans}}</label>
    <div class="col-sm-4">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      <input type="text" name="price" value="{{course.price|default(0)}}">
    </div>
  </div>
  <div class="form-group js-is-free" {% if course.isFree|default(0) == 1 %}style="display: none;"{% endif %}>
    <label class="col-sm-2 control-label">{{'会员规则设置'|trans}}</label>
    <div class="col-sm-4">
      <!-- TODO 需要从会员插件里提取会员列表，这里用select展示，实际存储level_id -->
      <input type="text" name="vipLevelId" value="{{course.vipLevelId|default('')}}">
      <div class="help-block">{{'设置会员课程后，该会员及更高等级的会员，可免费学习。'|trans}}</div>
    </div>
  </div>
  {# <div class="form-group">
    <label class="col-sm-2 control-label">{{'学习有效期'|trans}}</label>
    <div class="col-sm-4">
      <input class="form-control" type="" name="" style="">
    </div>
    <div class="col-sm-4 form-control-static">天</div>
    <div class="col-sm-8 col-sm-offset-2"><div class="help-block">{{'从加入的当前起，学员可在此有效期内学习，过期后无法学习。系统会在到期前10天提醒学员。设置为0则无时间限制'|trans}}</div></div>
  </div> #}
  <div class="form-group">
    <label class="col-sm-2 control-label">{{'加入方式'|trans}}</label>
    <div class="col-sm-10 radios">
      <label for="canBuy">
        <input type="radio" id="canBuy" name="buyable" {% if course.buyable|default(1) == 1 %}checked{% endif %} value="1">
        {{'学员自己加入学习，也可以由老师来添加学员'|trans}}
      </label>
      <label for="cannotBuy">
        <input type="radio" id="cannotBuy" name="buyable" {% if course.buyable|default(1) == 0 %}checked{% endif %} value="0">
        {{'只能由老师添加／移除学员，学员自己无法加入。常用于封闭型教学'|trans}}
      </label>
    </div>
  </div>
  {# <div class="form-group">
    <label class="col-md-2 control-label">{{ '实名认证'|trans }}</label>
    <div class="col-md-8 controls radios">
      <label><input type="radio" name="type">{{'是'|trans}}</label>
      <label><input type="radio" name="type">{{'否'|trans}}</label>
      <div class="help-block">{{ '设置该值后，学员购买课程前，必须先去申请实名认证。'|trans }}</div>
    </div>
  </div> #}
  <div class="form-group">
    <label class="col-sm-2 control-label">{{'开启视频试看'|trans}}</label>
    <div class="col-sm-8 radios">
      <label for="enableTryLook">
        <input type="radio" id="enableTryLook" name="tryLookable" {% if course.tryLookable|default(0) %}checked{% endif %} value="1">
        {{'是'|trans}}
      </label>
      <label for="disableTryLook">
        <input type="radio" id="disableTryLook" name="tryLookable" {% if course.tryLookable|default(0) == 0 %}checked{% endif %} value="0">
        {{'否'|trans}}
      </label>
      <div class="help-block">{{'常用于收费视频内容的前几分钟免费试看'|trans}}</div>
    </div>
  </div>
  <div class="form-group js-enable-try-look" {% if course.tryLookable|default(0) == 0 %}style="display: none;"{% endif %}>
    <label class="col-sm-2 control-label">{{'试看时长'|trans}}</label>
    <div class="col-sm-8">
      <label><input type="text" name="trylookLength" value="{{course.trylookLength|default(1)}}">分钟</label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">{{'视频观看时长限制'|trans}}</label>
    <div class="col-sm-8">
      <label><input type="text" name="watchLimit" value="{{course.watchLimit|default(0)}}">{{'倍单视频总时长'|trans}}</label>
      <div class="help-block">{{'0表示无限制'|trans}}</div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">{{'承诺提供服务'|trans}}</label>
    <div class="col-sm-8">
      TODO ....
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button id="course-submit" type="button" class="btn btn-primary" data-loading-text="{{ '正在保存...'|trans }}">{{ '保存'|trans }}</button>
    </div>
  </div>
</form>
{% endblock %}



