{% extends 'WebBundle:CourseSetManage:layout.html.twig' %}
{% block title %}{{ '教学计划管理'|trans }} - {{ parent() }}{% endblock %}

{% block main %}
  <div class="panel panel-default panel-col lesson-manage-panel">
    <div class="panel-heading">
      <a href="{{path('course_set_manage_courses', {courseSetId: courseSet.id})}}">{{'教学计划列表'|trans}}</a>/{{course.title}}
      <button class="btn btn-success btn-sm pull-right js-publish-course" data-url="{{path('course_set_manage_course_publish', {courseSetId: courseSet.id, courseId: course.id})}}">{{'发布计划'|trans}}</button>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills mbl">
        <li class="active">
          <a href="javascript:;">{{'计划任务'|trans}}</a>
        </li>
        <li class="">
          <a href="{{path('course_set_manage_course_info', {courseSetId: courseSet.id, courseId: course.id})}}">{{'计划设置'|trans}}</a>
        </li>
        <li class="">
          <a href="{{path('course_set_manage_course_marketing', {courseSetId: courseSet.id, courseId: course.id})}}">{{'营销设置'|trans}}</a>
        </li>
      </ul>
      <div class="content">
        {{'计划任务列表'|trans}}
      </div>

      {% do script(['libs/jquery-sortable.js','web/course-manage/index.js']) %}
      <div class="task-list-header clearfix">
        任务总数：<span class="color-warning space">{{tasks|length}}</span> 日均约需完成：<span class="color-warning">2.5</span> 个任务
        <div class="pull-right">
          <button class="btn btn-info btn-sm" id="lesson-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_manage_task_create', {courseId:1}) }}"><i class="es-icon es-icon-anonymous-iconfont"></i> 任务 </button>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
              <i class="es-icon es-icon-anonymous-iconfont"></i>
              {{ setting('default.chapter_name')|default('章'|trans) }}/{{ setting('default.part_name')|default('节'|trans) }}/课时
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#" id="chapter-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_manage_chapter_create', {id:course.id}) }}">
                  <i class="es-icon es-icon-anonymous-iconfont"></i>
                  {{'添加%chapter_name%'|trans({'%chapter_name%': setting('default.chapter_name')|default('章'|trans)})}}
                </a>
              </li>
              <li>
                <a href="#" id="chapter-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_manage_chapter_create', {id:course.id, type:'unit'}) }}">
                  <i class="es-icon es-icon-anonymous-iconfont"></i>
                  {{'添加%part_name%'|trans({'%part_name%': setting('default.part_name')|default('节')})}}
                </a>
              </li>
              <li>
                <a href="#" id="chapter-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_manage_chapter_create', {id:course.id, type:'lesson'}) }}">
                  <i class="es-icon es-icon-anonymous-iconfont"></i>
                  {{'添加课时'|trans}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul id="sortable-list" class="task-manage-list sortable-list" data-sort-url='{{path("course_manage_items_sort",{courseId:1})}}'>
        {% for key, item in items %}
          {% if item.itemType == 'task' %}
            {% include 'WebBundle:TaskManage:list-item.html.twig' with {task:item} %}
          {% elseif item.itemType == 'chapter' %}
            {% include 'WebBundle:CourseChapterManage:list-item.html.twig' with {chapter:item, course:course} %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}



