{% extends 'bootstrap-modal-layout.html.twig' %}
{% set modal_class = 'modal-lg' %}
{% do script(['app/js/admin-v2/marketing/information-collect/edit/course-chooser/index.js']) %}

{% block title %}{{'admin_v2.information_collect.selecte_course'|trans}}{% endblock %}
{% block body %}

<form id="message-search-form" class="form-inline well well-sm" action="{{ path('admin_v2_information_collect_course_chooser_ajax') }}" method="post" novalidate>
	<div class="form-group">
	  <select class="form-control" name="categoryId">
	    {{ select_options(category_choices('course'), app.request.get('categoryId'), 'admin.course_manage.chooser.course_category'|trans) }}
	  </select>
	</div>
    <div class="form-group">
      <select class="form-control" name="status">
        {{ select_options(dict('courseStatus'), app.request.get('status'), 'admin.course_manage.chooser.course_status'|trans) }}
      </select>
    </div>
	<div class="form-group">
	  <input class="form-control" type="text" placeholder="{{'admin.course_manage.title_placeholder'|trans}}" name="title" value="{{ app.request.get('title') }}">
	</div>
	<div class="form-group">
	  <input class="form-control" type="text" placeholder="{{'admin.course_manage.creator_placeholer'|trans}}" name="creatorName" value="{{ app.request.get('creatorName') }}">
	</div>
	<a class="btn btn-primary" id="search">{{'form.btn.search'|trans}}</a>
</form>
  <div>
    <label class="">
      {{'admin_v2.information_collect.selected'|trans}}<i id="selected-count" class="text-success">0</i>
    </label>
    <input id="courseSets" type="hidden" value="">
    <a id="clear-cookie" href="javascript:;">{{'admin_v2.information_collect.selected.clear'|trans}}</a>
    <span class="mll">
      {{'admin_v2.information_collect.course.chooser.limit'|trans}}
    </span>
  </div>
  <div class="courses-list">
    {% include 'admin-v2/marketing/information-collect/edit/course-set-chooser/course-set-chooser-table.html.twig' %}
  </div>
{% endblock %}
{% block footer %}
  <button id="chooser-items" data-url="{{ path('admin_v2_information_collect_course_selected') }}" data-submiting-text="{{ 'form.btn.submit.submiting'|trans }}" type="submit" class="btn btn-primary pull-right">{{ 'form.btn.confirm'|trans }}
  </button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{ 'form.btn.cancel'|trans }}</button>
{% endblock %}