{% import "admin-v2/macro.html.twig" as admin_macro %}
<table class="table">
	<thead>
		<tr>
			<th width="50%">{{ 'site.default.course'|trans }}</th>
			<th><span class="pull-right">{{ 'operation'|trans }}</span></th>
		</tr>
	</thead>
	<tbody>
		{% for courseSetId in courseSetIds %}
			{% set location = locations[courseSetId]|default(null) %}
			{% set courseSet = courseSets[courseSetId]|default(null) %}
			{% if not courseSet %}
				<tr class="js-selected-item hidden" data-id="{{ courseSetId }}"/>
			{% else %}
				<tr class="js-selected-item {% if location %} js-selected-item-binded {% endif %}" data-id="{{ courseSetId }}">
					<td>
						<a href="{{ path('course_show',{id: courseSet.defaultCourseId}) }}" target="_blank">
							<strong>{{ courseSet.title }}</strong>
						</a>
						<br>
					</td>
					<td>
						<div class="information-collect-selected-item-operate pull-right">
							{% if location %}
								<div class="text-danger">
									{{ 'admin_v2.information_collect.chooser.tips'|trans }},<a class="text-danger" href={{ path('homepage') }} target="_blank">{{ 'admin_v2.information_collect.more'|trans }}>></a>
								</div>
								<a href="javascript:;" class="js-selected-item-unbind plm">{{ 'admin_v2.information_collect.chooser.unbind_item'|trans }}</a>
							{% endif %}
							<a href="javascript:;" class="js-selected-item-delete plm">{{ 'admin_v2.information_collect.chooser.delete_item'|trans }}</a>
						</div>
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>

{% if hasRelated|default(false) %}
<div class="has-related"></div>
{% endif %}

{% if paginator|default() %}
	{{ admin_macro.ajax_paginator(paginator) }}
{% endif %}
