{% for uploadFile in files %}
   <div class="col-md-3">
    <ul class="materials-ul">
      <li class="img-li">
        {% include 'MaterialLibBundle:Web/Widget:thumbnail.html.twig' %}
      </li>
      <li class="caption">
        <p class="title text-overflow">{{ uploadFile.filename }}</p>
        <p class="text-muted tags text-overflow">
          <i class="glyphicon glyphicon-tag"></i>
          {{ uploadFile.tags|default('没有标签')|join(' ') }}
        </p>
        <p class="text-muted date">{{ uploadFile.createdTime|date('Y/m/d H:i') }}</p>
      </li>
      <li class="row op-li">
        <div class="op-btn col-md-3" data-toggle="tooltip" data-placement="bottom" title="收藏">
          <i class="glyphicon glyphicon-star"></i>
        </div>
        <div href="javascript:;" class="op-btn border-left js-detail-btn col-md-3" data-toggle="tooltip" data-placement="bottom" title="详情" data-url="{{ path('material_lib_file_detail', {globalId:uploadFile.globalId}) }}">
          <i class="glyphicon glyphicon-info-sign"></i>
        </div>
        <div data-url="{{ path('material_download', {globalId:uploadFile.globalId}) }}" class="js-download-btn op-btn border-left col-md-3" data-toggle="tooltip" data-placement="bottom" title="下载">
          <i class="glyphicon glyphicon-arrow-down"></i>
        </div>
        <div class="js-delete-btn op-btn border-left col-md-3" data-toggle="tooltip" data-placement="bottom" title="删除" data-url="{{ path('material_delete', {globalId:uploadFile.globalId}) }}" >
          <i class="glyphicon glyphicon-trash"></i>
        </div>
      </li>
    </ul>
  </div>
{% else %}
   <div class="empty">无文件记录</div>
{% endfor %}