<input class="batch-item" value="{{uploadFile.id}}" type="checkbox" data-role="batch-item"
      data-link-count="{{ uploadFile.usedCount }}"
      data-file-name="{{ uploadFile.filename }}" style="display:none;">
<a href="#modal" data-toggle="modal" data-url="{{ path('material_lib_file_preview', {fileId: uploadFile.id}) }}" ><img src="{{ asset(uploadFile.thumbnail|default('assets/img/default/cloud_' ~ uploadFile.type ~ '.png')) }}">
</a>

<div class="option-vertical">
  <i href="javascript:;" class="glyphicon glyphicon-option-vertical" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </i>
  <ul class="dropdown-menu">
      <li>
      <a href="javascript:;"class=" js-detail-btn" data-toggle="tooltip" data-placement="bottom" data-url="{{ path('material_lib_file_detail', {fileId:uploadFile.id}) }}"><i class="glyphicon glyphicon-pencil prm"></i>详情</a>
      </li>
      <li>
        <a data-url="{{ path('material_download', {fileId:uploadFile.id}) }}" class="js-download-btn" data-toggle="tooltip" data-placement="bottom" ><i class="glyphicon glyphicon-save prm"></i>下载</a>
      </li>
      {% if uploadFile.createdUserId == app.user.id %}
      <li>
        <a class="js-delete-btn" data-toggle="tooltip" data-placement="bottom" data-url="{{ path('material_delete', {fileId:uploadFile.id}) }}"> <i class="glyphicon glyphicon-trash prm"></i>删除</a>
      </li>
      {% endif %}
  </ul>
</div>
<div class="star">
    <i class="glyphicon glyphicon-star js-collect-btn left {% if collections[uploadFile.id]|default(0) %} material-collection {% endif %}"data-toggle="tooltip" data-placement="bottom" title="收藏" data-url="{{ path('material_lib_save_collection', {fileId:uploadFile.id}) }}"></i>
</div>
<div class="mask">
  {#}<i class="es-icon es-icon-view"></i><span>{{ uploadFile.views|default(0) }}</span>#}
  {% if uploadFile.type in ['video', 'audio'] %}
    <span class="text-muted text-overflow">{{ uploadFile.length|date('i:s') }}</span>
  {% else %}
    <span class="">{{ uploadFile.ext|upper }}</span>
  {% endif %}
</div>
