<input class="batch-item" value="{{uploadFile.id}}" type="checkbox" data-role="batch-item"
      data-link-count="{{ uploadFile.usedCount }}"
      data-file-name="{{ uploadFile.filename }}" style="display:none;">
<a href="#modal" data-toggle="modal" data-url="{{ path('material_lib_file_preview', {fileId: uploadFile.id}) }}" ><img src="{{ asset(uploadFile.thumbnail|default('assets/img/default/cloud_' ~ uploadFile.type ~ '.jpg')) }}">
</a>

{% if uploadFile.convertStatus == 'error' %}
  <span class="status label label-danger">转码失败</span>
  <button class="reconvert-btn btn btn-xs btn-primary">重新转码</button>
{% elseif uploadFile.convertStatus == 'doing' %}
  <span class="status label label-primary">正在转码</span>
{% elseif uploadFile.convertStatus == 'waiting' %}
  <span class="status label label-info">等待转码</span>
{% endif %}


<div class="btn-group option-vertical">
  <a href="javascript:;" class="glyphicon glyphicon-option-vertical" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </a>
  <ul class="dropdown-menu">
      <li>
      <a href="javascript:;"class="glyphicon glyphicon-option-vertical js-detail-btn" data-toggle="tooltip" data-placement="bottom" data-url="{{ path('material_lib_file_detail', {globalId:uploadFile.globalId}) }}">详情</a>
      </li>
      <li>
        <a data-url="{{ path('material_download', {globalId:uploadFile.globalId}) }}" class="js-download-btn" data-toggle="tooltip" data-placement="bottom" >下载</a>
      </li>
      <li>
        <aclass="js-delete-btn" data-toggle="tooltip" data-placement="bottom" data-url="{{ path('material_delete', {globalId:uploadFile.globalId}) }}">删除</a>
      </li>
  </ul>
</div>
<div class="star">
    <i class="glyphicon glyphicon-star js-collect-btn left {% if uploadFile.collected|default(0) %} material-collection {% endif %}"data-toggle="tooltip" data-placement="bottom" title="收藏" data-url="{{ path('material_lib_save_collection', {fileId:uploadFile.id}) }}"></i>
</div>
<div class="mask">
  <i class="es-icon es-icon-view"></i><span>{{ uploadFile.views|default(0) }}</span>
  {% if uploadFile.type in ['video', 'audio'] %}
    <span class="pull-right">{{ uploadFile.length|date('i:s') }}</span class="pull-right">
  {% else %}
    <span class="pull-right">{{ uploadFile.ext|upper }}</span class="pull-right">
  {% endif %}
</div>
