{% import 'TopxiaWebBundle::macro.html.twig' as web_macro %}
<div class="row">
{% for uploadFile in files %}
   <div class="col-lg-3 col-sm-4 col-xs-6 materials-list">
    <ul class="materials-ul clearfix">
      <li class="img-li" style="position:relative;">
        {% include 'MaterialLibBundle:Web/Widget:thumbnail.html.twig' %}
      </li>
      <li class="caption">
        <p class="title text-overflow" data-toggle="tooltip" data-placement="top" title="{{uploadFile.filename}}">{% if uploadFile.storage == 'cloud' %}
          <span class="glyphicon glyphicon-cloud"></span>
        {% endif %}{{ uploadFile.filename }}</p>

        <p class="text-overflow">
        {% if uploadFile.type in ['video', 'audio', 'ppt', 'document', 'flash'] %}
          {% if uploadFile.convertStatus == 'error' %}
            <span class="status label label-danger">转码失败</span>
            <button class="reconvert-btn btn btn-xs btn-primary">重新转码</button>
          {% elseif uploadFile.convertStatus == 'doing' %}
            <span class="status label label-info">转码中</span>
          {% elseif uploadFile.convertStatus == 'waiting' %}
            <span class="status label label-info">转码中</span>
          {% endif %}
        {% endif %}
          {% if uploadFile.type in ['video', 'audio', 'ppt', 'document', 'flash'] and uploadFile.usedCount|default(0) == 0 %}
            <span class="label label-default">未使用</span>
          {% endif %}
        </p>
        {#<p class="text-muted use-time text-overflow">热度： {{ uploadFile.usedCount|default(0) }}次</p>#}
        <p class="text-muted date">时间：  {{ uploadFile.createdTime|date('Y/m/d H:i') }}</p>
      </li>
    </ul>
  </div>
{% else %}
   <div class="empty">无文件记录</div>
{% endfor %}
</div>
{% if paginator.lastPage > 1 %}
<nav class=" {{ class|default('text-center') }}">
  <ul class="pagination">
    {% if paginator.currentPage != paginator.firstPage %}
      <li data-page="{{paginator.firstPage}}"><a  href="javascript:;">首页</a></li>
      <li data-page="{{paginator.previousPage}}"><a  href="javascript:;"><i class="es-icon es-icon-chevronleft"></i></a></li>
    {% endif %}
    {% for page in paginator.pages %}
      <li {% if page == paginator.currentPage %}class="active"{% endif %} data-page="{{ page }}"><a href="javascript:;">{{ page }}</a></li>
    {% endfor %}

    {% if paginator.currentPage != paginator.lastPage %}
      <li data-page="{{paginator.nextPage}}"><a  href="javascript:;"><i class="es-icon es-icon-chevronright"></i></a></li>
      <li data-page="{{paginator.getLastPage}}"><a  href="javascript:;">尾页</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
