{% import "macro.html.twig" as web_macro %}
<table class="table table-striped">
  <thead>
  <tr>
    <th width="8%">{{ 'admin.course_manage.manage.number'|trans }}</th>
    <th width="30%">{{ 'classroom.name'|trans }}</th>
    <th width="15%">{{ 'admin_v2.course.category.classroom_category_tab'|trans }}</th>
    <th>{{ 'admin.course_manage.chooser.creator'|trans }}</th>
    <th>{{ 'admin.course_manage.chooser.operation'|trans }}</th>
  </tr>
  </thead>
  <tbody>
  {% for classroom in targets %}
    <tr>
      <td>
        {{ classroom.id}}
        <input class="hidden js-select" value="{{ classroom.id }}">
      </td>
      <td>
        <a class="pull-left mr5 link-primary" href="{{ path('classroom_show',{id: classroom.id}) }}" target="_blank">
          <img class="course-picture" src="{{ filepath(classroom.middlePicture, 'classroom.png') }}" alt="{{ classroom.title }}" width="100">
        </a>
        <div class="mlm">
          <a class="link-primary" href="{{ path('classroom_show',{id: classroom.id}) }}">{{ classroom.title }}</a>
        </div>
      </td>
      <td>
        {% if classroom.categoryId != 0 %}
          {% set category = categories[classroom.categoryId]|default(null) %}
          {{ category.name|default() }}
        {% else %}
          --
        {% endif %}
      </td>
      <td>
        {% set teacher = users[classroom.creator]|default(null) %}
        {% if teacher %}
          <div class="teacher">
            <a class="teacher-nickname ellipsis link-primary" target="_blank"  href="{{ user_show_path({id:teacher.id}) }}">{{ teacher.nickname }}</a>
          </div>
        {% endif %}
      </td>
      <td>
        <button type="button" data-title="{{ classroom.title }}" data-id="{{ classroom.id }}" class="btn btn-primary js-item-select">{{'form.btn.select'|trans}}</button>
      </td>
    </tr>
  {% else %}
    <tr>
      <td class="text-center" colspan="20">
        <div class="empty">{{ 'site.datagrid.empty'|trans }}</div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{{ web_macro.ajax_paginator(paginator) }}
