{% for conversation in conversations %}
  {% set fromUser = users[conversation.fromId]|default(null) %}
  <a class="inform-dropdown-body__item clearfix inform-message-item" href="{{ path('message_conversation_show', {conversationId:conversation.id })}}" target="_blank">
    <div class="inform-message-item__avatar">
      <img src="{{ filepath(fromUser.smallAvatar, 'avatar.png') }}">
    </div>
    <div class="inform-message-item__info">
      <div class="cd-mb8 cd-text-gray">{{ fromUser.nickname }}</div>
      <div class="cd-text-gray-dark">{{ conversation.latestMessageContent|sub_text(13) }}</div>
    </div>
  </a>
{% else %}
  <div class="inform-empty-status">
    <img class="cd-mb24" src="{{ asset('static-dist/app/img/notice/null-message.png') }}"
srcset="{{ asset('static-dist/app/img/notice/null-message.png') }} 1x, {{ asset('static-dist/app/img/notice/null-message@2x.png') }} 2x"/>
    <div class="inform-empty-status__tip">{{ 'homepage.header.no_new_messages'|trans }}</div>
  </div>
{% endfor %}