{% extends 'coin/layout.html.twig' %}

{% set  side_nav = 'my_award_points'%}


{% block main %}
  <section class="es-section h400">
    <div class="nav-btn-tab">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="{% if nav == 'award_point_detail' %}active{% endif %}"><a  href="{{  path('award_point_detail') }}">{{'我的积分'|trans}}</a></li>
        <li role="presentation" class="{% if nav == 'award_point_list' %}active{% endif %}"><a  href="{{  path('award_point_list') }}">{{'积分商城'|trans}}</a></li>
        <li role="presentation" class="{% if nav == '' %}active{% endif %}"><a  href="#">{{'兑换记录'|trans}}</a></li>
        <li role="presentation" class="{% if nav == '' %}active{% endif %}"><a  href="#">{{'积分规则'|trans}}</a></li>
      </ul>
    </div>
    {% block award_point_content %}

    {% endblock %}
  </section>
{% endblock %}