{% extends 'courseset-manage/header.html.twig' %}

{% block js %}
{% endblock %}

{% block coursesetTitle %}
  <a class="cd-link-major" target="_blank" href="{{ courseSet.redirect_path }}">{{ courseSet.title }}</a>
{% endblock %}

{% block courseTitle %}
  {{ courseSet.courseNum|default(0) }}
{% endblock %}

{% block courseType %}
{% endblock %}

{% block btn %}
  <a class="cd-btn cd-btn-ghost-primary" target="_blank" href="{{ courseSet.redirect_path }}">{{ 'course.manage_btn'|trans }}</a>
{% endblock %}

{% block close %}
{% endblock %}

{% block fold %}{% endblock %}
{% block unfold %}{% endblock %}
