{% import "common/data-dict-macro.html.twig" as dict_macro %}
{% extends 'my/my-teaching.html.twig' %}

{% block title %}{{ 'my.teaching.page_title'|trans }} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-teaching-courses' %}

{% block main %}
  <div role="my-teaching-course-sets">
    {% include 'my/teaching/course-type-select.html.twig' %}
    <div class="my-teaching-status">
      <ul>
        <li {% if tab == 'publish' %}class="active" {% endif %}><a href="{{path('my_teaching_course_sets',{'tab': 'publish',filter:filter})}}">{{ 'course.status.published'|trans }}</a></li>
        <li {% if tab == 'unPublish' %}class="active" {% endif %}><a href="{{path('my_teaching_course_sets',{'tab': 'unPublish',filter:filter})}}">{{ 'course.status.unpublished'|trans }}</a></li>
        <li {% if tab == 'updating' %}class="active" {% endif %}><a href="{{path('my_teaching_course_sets',{'tab': 'updating',filter:filter})}}">{{ 'course.status.serialized'|trans }}</a></li>
        <li {% if tab == 'closed' %}class="active" {% endif %}><a href="{{path('my_teaching_course_sets',{'tab': 'closed',filter:filter})}}">{{ 'course.status.closed'|trans }}</a></li>
        <li {% if tab == 'finished' %}class="active" {% endif %}><a href="{{path('my_teaching_course_sets',{'tab': 'finished',filter:filter})}}">{{ 'course.status.finished'|trans }}</a></li>
      </ul>
    </div>
    {% for courseSet in courseSets %}
      <div class="js-course-set-item cd-mb32">
        {% include 'my/teaching/course-set-list.html.twig' %}
      </div>
    {% else %}
      <div class="empty">
        <a class="cd-link-primary" href="{{ path('course_set_manage_create') }}" target="_blank">
          {% if filter|default('normal') == 'live' %}
            {{ 'my.teaching.course_set.live_empty_hint'|trans }}
          {% else %}
            {{ 'my.teaching.course_set.empty_hint'|trans }}
          {% endif %}
        </a>
      </div>
    {% endfor %}

    <nav class="text-center">
      {{ web_macro.paginator(paginator) }}
    </nav>
  </div>
{% endblock %}
