<ul class="nav nav-pills mb15">

	<li class="{% if filter == 'normal' %}active{% endif %}"><a href="{{path('my_teaching_course_sets', {filter:'normal'}) }}">{{'my.teaching.course_set.normal'|trans}}</a></li>
	<li class="{% if filter == 'live' %}active{% endif %}"><a href="{{path('my_teaching_course_sets', {filter:'live'}) }}">{{'my.teaching.course_set.live'|trans}}</a></li>

	{# 班级这边应该是教学计划了 #}
	<li class="{% if filter == 'classroom' %}active{% endif %}"><a href="{{path('my_teaching_course_sets', {filter:'classroom'}) }}">{{'my.teaching.course_set.classroom'|trans({'%classroom%': setting("classroom.name")|default("classroom"|trans)})}}</a></li>
	<li class="{% if filter == 'open' %}active{% endif %}"><a href="{{ path('my_teaching_open_courses', {filter:'open'}) }}">{{'my.teaching.open_course.normal'|trans}}</a></li>
	<li class="{% if filter == 'liveOpen' %}active{% endif %}"><a href="{{ path('my_teaching_open_courses', {filter:'liveOpen'}) }}">{{'my.teaching.open_course.live'|trans}}</a></li>

</ul>