{% extends 'layout.html.twig' %}

{% block title %}{{ 'my.teaching.live_schedule_menu'|trans }} - {{ parent() }}{% endblock %}

{% do script(['libs/fullcalendar.js', 'app/js/my/teaching-calendar/index.js'])  %}

{% block content %}
  <ul class="breadcrumb breadcrumb-o">
    <li><a href="{{ path('my_teaching_course_sets') }}">{{'my.teaching.menu_heading'|trans}}</a></li>
    <li class="active">{{'my.teaching.live_schedule_menu'|trans}}</li>
  </ul>
  <div class="panel panel-default panel-col lesson-manage-panel">
    <div class="panel-heading">
      {{'my.teaching.hints_block'|trans}}
    </div>
    <div class="panel-body schedule-panel-body">
      <div class="schedule-panel-body__current-num">今日课程数：<span class="cd-text-lg">22</span></div>
      <div id='calendar'></div>
      <div id="todayDateStr" class="hidden">{{"now"|date('Y-m-d')}}</div>
      <div id="courseNumber" class="hidden">{{ courseNumber }}</div>
    </div>
  </div>
{% endblock %}