{% extends 'open-course-manage/header.html.twig' %}

{% block js %}
{% endblock %}

{% block btn %}
  {% if course.status != 'published' %}
    <a class="cd-btn cd-btn-ghost-default cd-mr16" href="{{ path('open_course_show',{courseId:course.id,as:'preview'}) }}" target="_blank">{{ 'course.preview.course'|trans }}</a>
  {% else %}
    <a class="cd-btn cd-btn-ghost-default cd-mr16" href="{{ path('open_course_show',{courseId:course.id}) }}" target="_blank">{{'my.learning.course.watch'|trans}}</a>
  {% endif %}
  <a class="cd-btn cd-btn-ghost-primary" href="{{ path('open_course_manage', {id:course.id}) }}" target="_blank">{{ 'course.manage_btn'|trans }}</a>
{% endblock %}

{% block coursesetTitle %}
  <a class="cd-link-major" href="{{ path('open_course_manage', {id:course.id}) }}" target="_blank">{{ course.title }}</a>
{% endblock %}

{% block liveTag %}
{% endblock %}
