{% import "common/data-dict-macro.html.twig" as dict_macro %}
{% extends 'my/my-teaching.html.twig' %}

{% block title %}{{'my.teaching.page_title'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'my-teaching-open-courses' %}

{% set type = "question" %}

{% block main %}
  {% include 'my/teaching/open-course-type-select.html.twig' %}

  {% for course in courses %}
    <div class="open-course-item">
      {% include 'my/teaching/open-course-list.html.twig' %}
    </div>
  {% else %}
    <div class="empty">
      {% if has_permission('admin_v2_course_content_manage') or 'ROLE_TEACHER' in app.user.roles %}
        <a class="cd-link-primary" href="{{ path('course_set_manage_create') }}" target="_blank">
          {% if filter|default('normal') == 'live' %}
            {{ 'my.teaching.course_set.live_empty_hint'|trans }}
          {% else %}
            {{ 'my.teaching.course_set.empty_hint'|trans }}
          {% endif %}
        </a>
      {% endif %}
    </div>
  {% endfor %}

  <nav class="text-center">
    {{ web_macro.paginator(paginator) }}
  </nav>
{% endblock %}