{% for menu in menus %}
          {% set param = {} %}
          {% set router_name = menu.router_name %}

            {% if menu.router_params|default(null) %}
            {% set router_params = menu.router_params %}
          
              {% if menu.router_params_context|default(false) %}
                {% for key,router_param in router_params %}

                {% set router_param = router_param|split('.') %}
                {% set object = router_param[0] %}
                {% set value = router_param[1] %}
                {% set item = setItem(key,_context[object][value]) %}
                {% set param = param|merge(item) %}
                
                {% endfor %}

                {% if menu.mode == 'modal' %}
                <a data-url="{{path(router_name,param)}}" data-toggle="modal" data-target="#modal"  class="{{menu.class|default(' btn btn-info btn-sm pull-right mls mbs')}}  " {% if menu.blank|default(false) %}target=blank{% endif %} >{% if menu.icon|default(false) %}<span class="{{menu.icon}}"></span>{% endif %} {{menu.name}}</a>
                {% else %}
                <a href="{{path(router_name,param)}}" class=" {{menu.class|default(' btn btn-info btn-sm pull-right mls mbs')}}" {% if menu.blank|default(false) %}target=blank{% endif %} >{% if menu.icon|default(false) %}<span class="{{menu.icon}}"></span>{% endif %} {{menu.name}}</a>
                {% endif %}

              {% else %}

                {% if menu.mode == 'modal' %}
                <a data-url="{{path(router_name,router_params)}}" data-toggle="modal" data-target="#modal"  class="{{menu.class|default(' btn btn-info btn-sm pull-right mls mbs')}}  " {% if menu.blank|default(false) %}target=blank{% endif %} >{% if menu.icon|default(false) %}<span class="{{menu.icon}}"></span>{% endif %} {{menu.name}}</a>
                {% else %}
                <a href="{{path(router_name,router_params)}}" class="{{menu.class|default(' btn btn-info btn-sm pull-right mls mbs')}}"  {% if menu.blank|default(false) %}target=blank{% endif %} >{% if menu.icon|default(false) %}<span class="{{menu.icon}}"></span>{% endif %} {{menu.name}}</a>
                {% endif %}

              {% endif %}

           
            {% else %}
              {% if menu.mode == 'modal' %}
              <a data-url="{{path(router_name)}}" data-toggle="modal" data-target="#modal"  class="{{menu.class|default(' btn btn-info btn-sm pull-right mls mbs')}}  " {% if menu.blank|default(false) %}target=blank{% endif %} >{% if menu.icon|default(false) %}<span class="{{menu.icon}}"></span>{% endif %} {{menu.name}}</a>
              {% else %}
              <a href="{{path(router_name)}}" class="{{menu.class|default(' btn btn-info btn-sm pull-right mls mbs')}}  " {% if menu.blank|default(false) %}target=blank{% endif %} >{% if menu.icon|default(false) %}<span class="{{menu.icon}}"></span>{% endif %} {{menu.name}}</a>
              {% endif %}
            {% endif %}
          
          {% endfor %}