{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
{% import "TopxiaAdminBundle::paginator.html.twig" as pg %}
<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}EduSoho管理后台{% endblock %}</title>
  <link href="{{ asset('assets/libs/bootstrap/3.0.0/css/bootstrap.css') }}" rel="stylesheet" />
  <link rel="stylesheet" media="screen" href="{{ asset('assets/libs/bootstrap/3.0.0/css/bootstrap-glyphicons.css') }}" />
  <link href="{{ asset('bundles/topxiaadmin/css/admin.css') }}" rel="stylesheet" />
  <link href="{{ asset('bundles/topxiaadmin/css/admin_v2.css') }}" rel="stylesheet" />
  {% block javascripts %}{% endblock %}
</head>

{% set nav = nav|default(null) %}
{% set menu = menu|default(null) %}

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url('admin') }}">Edusoho管理后台</a>
    <div class="nav-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li {% if nav == 'course' %}class="active"{% endif %}><a href="{{ path('admin_course') }}">课程</a></li>
        
        <li {% if nav == 'group' %}class="active"{% endif %} style="display:none;"><a href="{{ path('admin_group') }}">小组</a></li>

        <li {% if nav == 'user' %}class="active"{% endif %}><a href="{{ path('admin_user') }}">用户</a></li>
        
        <li {% if nav == 'trade' %}class="active"{% endif %}><a href="{{ path('admin_course_order_manage') }}">交易</a></li>
        
        <li {% if nav == 'content' %}class="active"{% endif %}><a href="{{ path('admin_content') }}">内容</a></li>
        
        <li {% if nav == 'system' %}class="active"{% endif %}><a href="{{ path('admin_setting_site') }}">系统</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><a href="{{ path('user_show', {'userId':app.user.uri|default(app.user.id)}) }}"><i class="glyphicon glyphicon-user"></i> {{ app.user.nickname }}</a></li>
        <li><a href="{{ path('homepage') }}"><i class="glyphicon glyphicon-home"></i> 回首页</a></li>
        <li><a href="{{ path('logout') }}"><i class="glyphicon glyphicon-off"></i> 退出</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">{% block content %}{% endblock %}</div>
</div>



{% block footer %}{% endblock %}

{% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaadmin/js/admin-app.js')} %}

<div id="modal" class="modal"></div>
</body>
</html>