{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block title %}{{'global.notification'|trans}}{% endblock %}

{% set notification = notification|default(null) %}

{% block body %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {% if batchnotification %}
      <h2 style="margin-top:0">
        {{ batchnotification.title }}
      </h2>
      <p class="color-gray">
        {{'global.notification.publish_time'|trans}} ：{{ batchnotification.sendedTime|date_format }}
      </p>
      <div class="editor-text">
        {{ batchnotification.content|raw }}
      </div>
    {% else %}
      <div class="empty">{{'global.notification.empty'|trans}}</div>
    {% endif %}
  </div>
</div>
{% endblock %}
