<tr id="tag-tr-{{ tag.id }}">
  <td>{{ tag.id }}</td>
  <td class="tag_name">{{ tag.name }}</td>
  <td>
  	<a href="javascript:;" class="tag_sort">{{ tag.sort }}</a>
  	<div class="text-danger" style="display:none;"></div>
  </td>
  <td>{{ tag.createdTime|date('Y-m-d H:i') }}</td>
  <td>
    <button class="btn btn-default btn-sm" data-url="{{ path('admin_tag_update', {id:tag.id}) }}" data-toggle="modal" data-target="#modal">编辑</button>
  </td>
</tr>