{% import _self as self_macro %}
<div class="col-md-3 footer-logos hidden-sm hidden-xs footer-logo">
  <a class="" href="{{ bottomLogo[0].href|default('') }}" target="{{ bottomLogo[0].target|default('') }}"><img src="{{ asset(bottomLogo[0].src|default('')) }}" alt="{{ bottomLogo[0].alt|default('') }}"></a>
  <div class="footer-sns">
    {% if (weibo[0].href) %}
    <a href="{{ weibo[0].href|default('javascript:;') }}" target="{{ weibo[0].target|default('') }}"><i class="es-icon es-icon-weibo"></i></a>
    {% endif %}
    {% if (weixin[0].src) %}
    <a class="qrcode-popover top">
      <i class="es-icon es-icon-weixin"></i>
      <div class="qrcode-content">
        <img src="{{ asset(weixin[0].src|default('')) }}" alt="">  
      </div>
    </a>
    {% endif %}
    {% if (apple[0].src) %}
    <a class="qrcode-popover top">
      <i class="es-icon es-icon-apple"></i>
      <div class="qrcode-content">
        <img src="{{ asset(apple[0].src|default('')) }}" alt=""> 
      </div>
    </a>
    {% endif %}
    {% if (android[0].src) %}
    <a class="qrcode-popover top">
      <i class="es-icon es-icon-android"></i>
      <div class="qrcode-content">
        <img src="{{ asset(android[0].src|default('')) }}" alt=""> 
      </div>
    </a>
    {% endif %}
  </div>
</div>

<div class="col-md-6 footer-attr hidden-sm hidden-xs">
  <p>
    <i class="mc-icon icon-iconfontlocation"></i>
    {{ bottomAddr[0].value|default('') }}
  </p>
  <p>
    <i class="mc-icon icon-iconfontphone"></i>
    {{ bottomPhone[0].value|default('') }}
  </p>
  <p>
    <i class="mc-icon icon-plane"></i>
    {{ bottomEmail[0].value|default('') }}
  </p>
</div>


<div class="col-md-3 clearfix weichat">
  <img src="{{asset('themes/mooc/img/temp/weixin.jpg')}}">
  <p>扫一扫关注微信</p>
</div>

{% macro footer_div(title, links, className) %}
<div class="link-item {% if className %}{{className}}{% endif %}">
  <h4>{{ title.value|default('') }}</h4>
  <ul>
    {% for link in links|default(null) %}
      <li>
        <a href="{{ link.href }}" target="{{ link.target }}">{{ link.value }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}