
  <div class="container">
    <div class="cow">
      {% for i in 0..2 %}
        <div class="feature-item col-sm-4">
          <a href="{{ banner[i].href|default('') }}"><img class="img-responsive" src="{{ banner[i].src|default('') }}" alt="{{ banner[i].alt|default('') }}"></a>
          <a href="{{ banner[i].href|default('') }}"><h4>{{ banner[i].value|default('') }}</h4></a>
        </div>
      {% endfor %}

    </div>
  </div>
