<div class="container">
 <div class="row">
      {% for i in 0..2 %}
      <div class="col-md-4 col-sm-4">
        <a href="{{ banner[i].href|default('') }}"><img src="{{ banner[i].src|default('') }}" alt="{{ banner[i].alt|default('') }}" class="img-responsive"></a>
        <h4>{{ banner[i].title|default('') }}</h4>
        <p>{{ banner[i].value|default('') }}</p>
      </div>
      {% endfor %}
 </div>
</div>
