{% set side_navs = {'tasks':'计划任务','info': '计划设置',
'marketing':'营销设置','teachers':'教师设置','students':'学员管理','testpaper-check':'试卷批阅'
,'homework-check':'作业批阅','dashboard':'学习数据','orders':'订单查询'} %}
{% if courseSet.type != 'live' %}
    <div class="panel-heading">
        {{ course.title }}<span class="mh5">／</span>{{side_navs[code]|trans}}
        {% if course.status != 'published' %}
            <button class="btn btn-success btn-sm pull-right js-publish-course"
                    data-url="{{ path('course_set_manage_course_publish', {courseSetId: courseSet.id, courseId: course.id}) }}">
                {{ '发布计划'|trans }}
            </button>
            <a class="btn btn-default btn-sm pull-right mrs"
                    href="{{ path('my_course_show', {id: course.id, 'previewAs':'member'} ) }}">
                {{ '预览'|trans }}
            </a>
        {% endif %}
        {% if btnGroup|default() %}
            {% include 'course-manage/panel-header/' ~ code ~ '-btn-group.html.twig' with {code: side_nav} %}
        {% endif %}
    </div>
{% endif %}