<tr id="tag-tr-{{ lesson.id }}">
  {% set lessonUrl = path('course_learn', {id:lesson.courseId}) ~ '#lesson/' ~ lesson.id %}
  <td>
    <a href="{{ lessonUrl }}" target="_blank">{{ lesson.title }}</a>
    <div class="mts">
      {% if course %}
        <a class="text-success text-sm" href="{{ path('course_show', {id:course.id}) }}" target="_blank">{{ course.title }}</a>
      {% else %}
        <span class="text-muted text-sm">课程已删除</span>
      {% endif %}
    </div>
  </td>
  {% include 'OrgBundle:Org/Parts:table-body-td.html.twig' with {orgCode: course.orgCode}%}
  <td>{{ lesson.startTime|date('Y-m-d H:i') }}</td>
  <td>{{ lesson.length }}</td>
  <td>
    {% if course %}
      {{ course.maxStudentNum }}
    {% else %}
      <span class="text-muted">课程已删除</div>
    {% endif %}
  </td>
  {#
  <td>{{ lesson.maxOnlineNum }}</td>
  <td>
  {% if lesson.status == 'published' and status == 'end' %}
    <a  class="btn btn-link replay-lesson-btn" title="获取在线人数峰值" data-url="{{ path('admin_live_get_max_online', {courseId:course.id, lessonId:lesson.id}) }}"><span class="glyphicon glyphicon-refresh"></span></a>
  {% endif %}
  </td>
  #}
</tr>