{% extends 'course-manage/header.html.twig' %}
{% block js %}
{% endblock %}

{% block title %}
  <a class="cd-link-major" href="{{ path('my_course_show', { id: course.id, previewAs: 'member' }) }}" target="_blank">
    {{ course.title }}
  </a>
{% endblock %}

{% block planType %}
  {% if course.courseType == 'default' %}
    <span class="cd-tag cd-tag-blue cd-ml8">{{ 'course.teaching_default_plan'|trans }}</span>
  {% endif %}
{% endblock %}

  {% block action %}
    <div class="pull-right hidden-xs courses-operation js-plan-operation">
      {% if courseSet.canManage|default() or course.canManage|default()  %}
        <div class="js-plan-icon">
          <a class="cd-mr32 cd-dark-major" href="{{ path('course_set_manage_course_tasks', {courseSetId: courseSet.id, courseId: course.id}) }}">
            <i class="es-icon es-icon-setting"></i>
          </a>

          <div class="cd-dropdown" data-toggle="cd-dropdown" data-trigger="hover">
            <a class="cd-dark-major" href="javascript:;">
              <i class="es-icon es-icon-morehoriz"></i>
            </a>
            <ul class="dropdown-menu courses-operation-dropdown">
              <li>
                <a href="{{ path('my_course_show', { id: course.id, previewAs: 'member' }) }}" target="_blank">{% if course.status|default('') == 'published' %}查看计划{% else %}预览计划{% endif %}</a>
              </li>
              {% if course.status|default('') == 'published' %}
                <li>
                  <a href="javascript:;" data-toggle="modal" data-target="#modal"
                    data-url="{{ path('course_set_manage_course_copy', {courseSetId: courseSet.id, courseId: course.id}) }}">
                    {{ 'course.teaching_plan.copy_btn'|trans }}
                  </a>
                </li>
                <li>
                  <a href="javascript:;"
                    data-check-url="{{ path('course_set_manage_course_close_check', {courseSetId: courseSet.id, courseId: course.id}) }}"
                    data-url="{{ path('course_set_manage_course_close', {courseSetId: courseSet.id, courseId: course.id}) }}"
                    class="js-close-course">
                    {{ 'form.btn.close'|trans }}
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="javascript:;"
                    data-url="{{ path('course_set_manage_course_publish', {courseSetId: courseSet.id, courseId: course.id}) }}"
                    class="js-publish-course">{{ 'course.teaching_plan.publish_btn'|trans }}</a><!-- 已发布的不能删除，可关闭 -->
                </li>
                <li>
                  <a href="javascript:;" data-toggle="modal" data-target="#modal"
                    data-url="{{ path('course_set_manage_course_copy', {courseSetId: courseSet.id, courseId: course.id}) }}">
                    {{ 'course.teaching_plan.copy_btn'|trans }}
                  </a>
                </li>
                <li>
                  <a href="javascript:;"
                    data-url="{{ path('course_set_manage_course_delete', {courseSetId: courseSet.id, courseId: course.id}) }}"
                    class="js-delete-course">{{ 'course.teaching_plan.delete_btn'|trans }}</a>
                </li>
              {% endif %}

            </ul>
          </div>
        </div>
        <div class="js-plan-dragged-icon hidden">
          <a class="cd-link-assist" href="javascript:;"><i class="es-icon es-icon-sort"></i></a>
        </div>
      {% else %}
        <span class="color-gray">{{ 'course.teaching_plan.no_permission'|trans }}</span>
      {% endif %}
    </div>
  {% endblock %}