{% extends 'courseset-manage/layout.html.twig' %}

{% block title %}{{ '教学计划列表'|trans }} - {{ parent() }}{% endblock %}
{% set side_nav = 'plan' %}

{% do script(['app/js/course-manage/index.js']) %}

{% block main %}
<!-- 当前课程的教学计划列表 -->
<div class="panel panel-default panel-col lesson-manage-panel">
  <div class="panel-heading">
    {{'教学计划列表'|trans}}
    <button class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#modal" data-url="{{path('course_set_manage_course_create', {courseSetId: courseSet.id})}}"><i class="es-icon es-icon-anonymous-iconfont"></i>{{'创建教学计划'|trans}}</button>
  </div>

  <div class="panel-body">
      <table id="course-table" class="table table-striped">
      	<thead>
      	  <th>{{'名称'|trans}}</th>
          <th>{{'任务数'|trans}}</th>
          <th>{{'学员'|trans}}</th>
          <th>{{'价格（元）'|trans}}</th>
          <th>{{'操作'|trans}}</th>
      	</thead>
      	<tbody>
      		{% for course in courses %}
      		<tr>
      			<td>{{course.title}}
              <span class="label label-warning mll">{{'会员免费'|trans}}</span>
              <span class="label label-warning mll">{{'6折'|trans}}</span>
            </td>
      			<td>{{course.taskNum|default(0)}}</td>
      			<td>{{course.studentNum|default(0)}}</td>
      			<td>{{course.price|currency}}{{'元'|trans}}</td> {# 货币国际化？ #}
      			<td>
      				<div class="btn-group">
		                <a class="mrl a-hover" href="{{path('course_set_manage_course_tasks', {courseSetId: courseSet.id, courseId: course.id})}}">{{'管理'|trans}}</a>
		                <a href="#" type="button" class="dropdown-toggle a-hover" data-toggle="dropdown">
                      更多<i class="es-icon es-icon-keyboardarrowdown"></i>
		                </a>
		                <ul class="dropdown-menu pull-right">
		                  <li>
		                  	<a href="{{path('course_set_show', { id: courseSet.id, courseId: course.id, preview: 1 })}}"><i class="es-icon es-icon-removeredeye mrm"></i>{{'预览'|trans}}</a>
		                  </li>
    	      				  {# <li>
    	      				  	<a href="javascript:;" data-toggle="modal" data-target="#modal" data-url="{{path('course_set_manage_course_copy', {courseSetId: courseSet.id, courseId: course.id})}}">{{'复制为'|trans}}</a>
    	      				  </li> #}
                      {% if course.status|default('') == 'published' %}
        				      <li>
        				      	<a href="javascript:;" data-url="{{path('course_set_manage_course_close', {courseSetId: courseSet.id, courseId: course.id})}}" class="js-close-course"><i class="es-icon es-icon-close01 mrm"></i>{{'关闭'|trans}}</a>
        				      </li>
                      {% else %}
        				      <li>
        				      	<a href="javascript:;" data-url="{{path('course_set_manage_course_delete', {courseSetId: courseSet.id, courseId: course.id})}}" class="js-delete-course"><i class="es-icon es-icon-delete mrm"></i>{{'删除'|trans}}</a>
        				      </li>
        				      <li>
        				      	<a href="javascript:;" data-url="{{path('course_set_manage_course_publish', {courseSetId: courseSet.id, courseId: course.id})}}" class="js-publish-course"><i class="es-icon es-icon--check-circle mrm"></i>{{'发布'|trans}}</a><!-- 已发布的不能删除，可关闭 -->
        				      </li>
                      {% endif %}
		                </ul>
		          </div>
      			</td>
      		</tr>
      		{% endfor %}
      	</tbody>
      </table>
  </div> 
</div>

{% endblock %}

{% block bottom %}

<div class="modal fade course-function-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content color-gray">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">课程功能升级啦</h4>
      </div>
      <div class="modal-body">
        <div class="media course-function-top">
          <a class="pull-left mrm" href="#">
            <img src="{{ asset('static-dist/app/img/course-manage/course_function_1.png') }}" alt="背景图片1">
          </a>
          <div class="media-body">
            <h4 class="media-heading color-info mbm text-20">全新教学计划</h4>
            <p class="ptm"><i class="es-icon es-icon-dot prs"></i>支持直播、讨论等更多的教学手段，丰富您的教学形式</p>
            <p class="ptm"><i class="es-icon es-icon-dot prs"></i>同一个课程支持多个教学计划</p>
            <p class="ptm pll">满足周期开班、一个课程多种方法教学的需要</p>
          </div>
        </div>
        <div class="media mt0 course-function-bottom">
          <a class="pull-left mrm" href="#">
            <img src="{{ asset('static-dist/app/img/course-manage/course_function_2.png') }}" alt="背景图片2">
          </a>
          <div class="media-body">
            <h4 class="media-heading color-info text-20 mvm">对于学员</h4>
            <p class="ptm"><i class="es-icon es-icon-dot prs"></i>用完成任务的方式，有序学习。</p>
            <p class="ptm"><i class="es-icon es-icon-dot prs"></i>选择适合自己的教学计划，加入学习。</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">知道啦</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}