{% extends 'courseset-manage/layout.html.twig' %}

{% block title %}{{ 'courseset_manage.cover_img'|trans }} - {{ parent() }}{% endblock %}
{% set side_nav = 'cover' %}
{% do script(['app/js/courseset-manage/cover-crop/index.js']) %}
{% set token = upload_token('tmp', 'image') %}
{% block main %}

<div class="panel panel-default panel-col">
  <div class="panel-heading">
    {{'courseset_manage.cover_img'|trans}}
  </div>

  <div id="courseset-picture-crop-form" class="panel-body">

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
          <img class="img-responsive" src="{{ filepath(pictureUrl) }}"
          id="courseset-picture-crop"
          width="{{scaledSize.width}}" height="{{scaledSize.height}}" data-natural-width="{{ naturalSize.width }}" data-natural-height="{{ naturalSize.height }}" />
          <div class="help-block">{{'courseset_manage.cover_img.tips'|trans}}</div>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-md-offset-2 col-md-8 controls">
        {% if courseSet.type == 'open' or courseSet.type == 'liveOpen' %}
       {#   <button class="btn btn-fat btn-primary"
          data-url="{{path('open_course_manage_picture_crop', {id: courseSet.id})}}"
          data-goto-url="{{path('open_course_manage_picture',{id: courseSet.id})}}"
          id="upload-picture-btn">{{'保存'|trans}}</button> #}
        {% else %}
         <button class="btn btn-fat btn-primary upload-picture-btn"
          data-url="{{path('course_set_manage_cover_crop', {id: courseSet.id})}}"
          data-goto-url="{{path('course_set_manage_cover',{id: courseSet.id})}}"
          id="upload-picture-btn" data-loading-text="{{'form.btn.save.submiting'|trans}}">{{'form.btn.save'|trans}}</button>
        {% endif %}
          <a href="javascript:;" class="go-back btn btn-link">{{'courseset_manage.cover_img.again_select_picture_btn'|trans}}</a>
        </div>
      </div>
  </div>
</div>

{% endblock %}

