{% extends 'courseset-manage/layout.html.twig' %}

{% block title %}{{ 'course.detail'|trans }} - {{ parent() }}{% endblock %}
{% set side_nav = 'detail' %}
{% do script(['libs/es-ckeditor/ckeditor.js','libs/jquery-validation.js','app/js/courseset-manage/detail/index.js']) %}

{% block main %}
<div class="panel panel-default" role="courseSet-manage-detail">
  <div class="panel-heading">{{'course.detail.content_title'|trans}}</div>
  <div class="panel-body">
    <form id="courseset-detail-form" class="form-horizontal" action="{{path('course_set_manage_detail', {id: courseSet.id})}}" method="post">
      {{ web_macro.flash_messages() }}

      <div class="form-group">
        <div class="col-md-2 control-label"><label>{{'course.detail.summary'|trans}}</label></div>
        <div class="col-md-8 controls">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
          <textarea name="summary" rows="10" id="courseset-summary-field" class="form-control" data-image-upload-url="{{ path('editor_upload', {token:upload_token('course')}) }}">{{ field_value(courseSet, 'summary') }}</textarea>
        </div>
      </div>

      <div class="form-group dynamic-collection" id="courseset-goals-form-group">
        <div class="col-md-2 control-label"><label>{{'course.detail.target'|trans}}</label></div>
        <div class="col-md-8 controls">
          <div id="course-goals" data-field-name="goals" data-init-value="{{courseSet.goals|default([])|json_encode_utf8()}}"></div>
        </div>
      </div>

      <div class="form-group" id="courseset-audiences-form-group">
        <div class="col-md-2 control-label"><label>{{'course.detail.intended-students'|trans}}</label></div>
        <div class="col-md-8 controls">
          <div id="intended-students" data-field-name="audiences" data-init-value="{{courseSet.audiences|default([])|json_encode_utf8()}}"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-8 col-md-offset-2 controls">
            <button class="btn btn-fat btn-primary" id="detail-submit" type="button" data-loading-text="{{'form.btn.save.submiting'|trans}}">{{'form.btn.save'|trans}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
