{% import "macro.html.twig" as web_macro %}
{% do script(['app/js/courseset-manage/header/index.js']) %}
{% set basepath = path('course_show', {id: courseSet.defaultCourseId}) %}


<div class="es-section course-manage-header clearfix">
    <a href="{{basepath}}">
      <img class="picture" src="{{ filepath(course_set_cover(courseSet, 'large'), 'courseSet.png') }}" /> <!-- courseSet.largePicture -->
    </a>
  <h1 class="title">
    {% if courseSet.type != 'normal' %}
      [{{ dict('courseType')[courseSet.type] }}]
    {% endif %}
    <a class="link-dark" href="{{basepath}}">{{ courseSet.title }}</a>
    {% if courseSet.status=='closed' %}
      <span class="label label-danger ">{{'course.status.closed'|trans}}</span>
    {% elseif courseSet.status=='draft' %}
      <span class="label label-warning ">{{'course.status.unpublished'|trans}}</span>
    {% elseif courseSet.status=='published' %}
      {% if courseSet.serializeMode=='serialized' %}
        <span class="label label-success ">{{'course.status.serialized'|trans}}</span>
      {% elseif courseSet.serializeMode=='finished' %}
        <span class="label label-warning ">{{'course.status.finished'|trans}}</span>
      {% else %}
        <span class="label label-success ">{{'course.status.published'|trans}}</span>
      {% endif %}
    {% endif %}
  </h1>

  <div class="teachers">
    {% if courseSet.teacherIds|default(null) %}
      {{'course.teacher'|trans}}
      {% for id in courseSet.teacherIds %}
        {% set user = users[id] %}
        <a href="{{ path('user_show',  {id:user.id}) }}" >{{ user.nickname }}</a>
      {% endfor %}
    {% endif  %}
  </div>

  <div class="toolbar hidden-xs">
    {% if course.courseSetId|default(null) and course_count(course.courseSetId)|default(0) > 1 %}
        <a class="btn btn-default btn-sm " href="{{ path('course_set_manage_base', {id: courseSet.id}) }}">{{'course.btn.back_course_edit'|trans}}</a>
    {% endif %}

    {% if courseSet.status == 'published' %}
      <div class="btn-group">
        <a class="btn btn-default btn-sm" href="{{basepath}}">{{'course.btn.back_course_homepage'|trans}}</a>
      </div>
    {% endif %}

    {% if courseSet.status != 'published' %}
      <div class="btn-group">
        <a class="btn btn-default btn-sm" target="_blank" href="{{ path('course_show', {id: courseSet.defaultCourseId, 'previewAs':'guest'}) }}">{{'course.btn.preview'|trans}}</a>
      </div>
      <div class="btn-group">
        <button class="btn btn-primary btn-sm course-publish-btn" data-url="{{ path('course_set_manage_publish', {id:courseSet.id}) }}">{{'course.btn.publish'|trans}}</button>
      </div>
    {% endif %}
  </div>
</div>
{% if courseSet.status == 'closed' %}
<div class="alert alert-warning">{{'course.remove_students_tips'|trans}}</div>
{% endif %}
