{% extends 'courseset-manage/layout.html.twig' %}

{% set modal_class= "modal-sm" %}

{% block title %}{{ '课程基本信息'|trans }} - {{ parent() }}{% endblock %}

{% do script(['libs/jquery-validation.js', 'libs/select2.js', 'app/js/courseset-manage/base/index.js']) %}
{% set side_nav = sideNav %}

{% block main %}
  <div class="panel panel-default">
    <div class="panel-heading">{{ menuTitle|trans }}</div>
    <div class="panel-body">
      <div class="panel-locked text-center">
        <h5>
          <p class="mt20 mb20">本课程内容与原课程
            <a href="{{ menuPath }}" target="_blank">&nbsp;&nbsp;《{{copyCourseSet.title}}》&nbsp;&nbsp;</a>
          实时同步中。如需更改内容可以选择对原课程进行更改。
          </p>
        </h5>
        <h5>
          <p class="panel-margin mt20 mb20">
            如需解除同步单独编辑本课程，可点击下方按钮解除同步。
            <font color="#e83d2c">注意：本操作不可逆！</font>
          </p>
        </h5>
        <p class="panel-margin mt20 mb20">
          <a href="#modal" data-toggle="modal" data-url="{{path('course_set_manage_unlock_confirm', {id: id})}}" class="btn btn-danger">解除同步</a></p>
      </div>
    </div>
  </div>
{% endblock %}