<ul class="nav nav-tabs courseset-header-section-nav clearfix">
  <li class="cd-sidebar__item {% if side_nav == 'base' %}active{% endif %}">
    {% if courseSet.locked %}
      <a href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'base'}) }}">
        <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.base'|trans }}
      </a>
    {% else %}
      <a href="{{ path('course_set_manage_base', {id: courseSet.id}) }}">{{ 'course.base'|trans }}</a>
    {% endif %}
  </li>

  <li class="cd-sidebar__item {% if side_nav == 'plan' %}active{% endif %}">
    <a class="courseset-header-section-nav__link" href="{{ path('course_set_manage_courses', {courseSetId: courseSet.id}) }}">{{ 'course.teach_plan_manage'|trans }}</a>
  </li>

  <li class="cd-sidebar__item {% if side_nav == 'files' %}active{% endif %}">
    {% if courseSet.locked %}
      <a href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'files'}) }}">
        <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.course_files'|trans }}
      </a>
    {% else %}
      <a href="{{ path('course_set_manage_files', {id: courseSet.id}) }}">{{ 'course.course_files'|trans }}</a>
    {% endif %}
  </li>

  <li class="cd-sidebar__item {% if side_nav == 'testpaper' %}active{% endif %}">
    {% if courseSet.locked %}
      <a href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'testpaper'}) }}">
        <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.testpaper_manage'|trans }}
      </a>
    {% else %}
      <a href="{{ path('course_set_manage_testpaper', {id: courseSet.id}) }}">
        {{ 'course.testpaper_manage'|trans }}
      </a>
    {% endif %}
  </li>

  <li class="cd-sidebar__item {% if side_nav == 'question' %}active{% endif %}">
    {% if courseSet.locked %}
      <a href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'question'}) }}">
        <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.question_manage'|trans }}
      </a>
    {% else %}
      <a href="{{ path('course_set_manage_question', {id: courseSet.id}) }}">
        {{ 'course.question_manage'|trans }}
      </a>
    {% endif %}
  </li>

  {{ slot('course_set.menu.extension', {'courseSet':courseSet,'sideNav':side_nav}) }}
</ul>