{% block side %}
  {% set side_nav = side_nav|default(null) %}
  {% set menuType = 'course' %}
  {% if side_nav in ['base', 'detail', 'cover', 'question', 'testpaper', 'files', 'plan'] %}
    {% set menuType = 'courseSet' %}
  {% endif %}
  {% set coursesLength =  courses|length %}
  {% set courseListIntroCookie = app.request.cookies.get('COURSE_LIST_INTRO_COOKIE')|default(null)  %}
  {% set isShowCourseMenu  = (curCourse and (menuType != 'courseSet' or coursesLength <= 1  or courseListIntroCookie)) %}
  {% set isShowCourseList =  ( courseSet.type != 'live' and courseSet.parentId|default(0) <= 0  and (menuType == 'courseSet' or coursesLength <= 1 or courseListIntroCookie|default(null) )) %}

  {#只有一个教学计划#}
  <div class="{% if menuType == 'courseSet' or coursesLength <= 1 %}sidenav{% else %} cd-sidebar {% endif %} locked js-sidenav" data-course-length="{{coursesLength}}">
    <ul class="{% if menuType == 'courseSet' or coursesLength <= 1 %}list-group{% else %} cd-sidebar__list {% endif %}">
      {#为courseSet 或者 长度小于 1 #}

      {% if menuType == 'courseSet' or coursesLength <= 1 %}
        <li class="list-group-item {% if side_nav == 'base' %}active{% endif %}">
          {% if courseSet.locked %}
            <a class="pl10" href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'base'}) }}">
              <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.base'|trans }}
            </a>
          {% else %}
            <a href="{{ path('course_set_manage_base', {id: courseSet.id}) }}">
              {{ 'course.base'|trans }}
            </a>
          {% endif %}
        </li>
        <li class="list-group-item {% if side_nav == 'detail' %}active{% endif %}">
          {% if courseSet.locked %}
            <a class="pl10" href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'detail'}) }}">
              <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.detail'|trans }}
            </a>
          {% else %}
            <a href="{{ path('course_set_manage_detail', {id: courseSet.id}) }}">
              {{ 'course.detail'|trans }}
            </a>
          {% endif %}
        </li>
        <li class="list-group-item {% if side_nav == 'cover' %}active{% endif %}">
          {% if courseSet.locked %}
            <a class="pl10" href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'cover'}) }}">
              <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.cover'|trans }}
            </a>
          {% else %}
            <a href="{{ path('course_set_manage_cover', {id: courseSet.id}) }}">
              {{ 'course.cover_image'|trans }}
            </a>
          {% endif %}
        </li>
        <li class="list-group-item {% if side_nav == 'files' %}active{% endif %}">
          {% if courseSet.locked %}
            <a class="pl10" href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'files'}) }}">
              <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.course_files'|trans }}
            </a>
          {% else %}
            <a href="{{ path('course_set_manage_files', {id: courseSet.id}) }}">
              {{ 'course.course_files'|trans }}
            </a>
          {% endif %}
        </li>
        <li class="list-group-item {% if side_nav == 'testpaper' %}active{% endif %}">
          {% if courseSet.locked %}
            <a class="pl10" href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'testpaper'}) }}">
              <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.testpaper_manage'|trans }}
            </a>
          {% else %}
            <a href="{{ path('course_set_manage_testpaper', {id: courseSet.id}) }}">
              {{ 'course.testpaper_manage'|trans }}
            </a>
          {% endif %}
        </li>
        <li class="list-group-item {% if side_nav == 'question' %}active{% endif %}">
          {% if courseSet.locked %}
            <a class="pl10" href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'question'}) }}">
              <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.question_manage'|trans }}
            </a>
          {% else %}
            <a href="{{ path('course_set_manage_question', {id: courseSet.id}) }}">
              {{ 'course.question_manage'|trans }}
            </a>
          {% endif %}
        </li>
        {{ slot('course_set.menu.extension', {'courseSet':courseSet,'sideNav':side_nav}) }}
      {% endif %}

      {#不为courseSet 或者 长度小于 1 #}
      {% if isShowCourseMenu %}
        <div class="js-sidenav-course-menu">
          {% set showMenu = menuType == 'courseSet' or coursesLength <= 1 %}

          <li class="{% if showMenu %}list-group-item {% else %}cd-sidebar__item{% endif %} {% if side_nav == 'tasks' %}active{% endif %}" id="step-1">
            {% if courseSet.locked %}
              <a class="pl10" href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'tasks'}) }}">
                <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.plan_task'|trans }}
              </a>
            {% else %}
              <a href="{{ path('course_set_manage_course_tasks', {courseSetId: courseSet.id, courseId: curCourse.id}) }}">
                {{ 'course.plan_task'|trans }}
              </a>
            {% endif %}
          </li>
          <li class="{% if showMenu %}list-group-item {% else %}cd-sidebar__item{% endif %} {% if side_nav == 'info' %}active{% endif %}">
            {% if courseSet.locked %}
              <a class="pl10" href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'info'}) }}">
                <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.plan_setup'|trans }}
              </a>
            {% else %}
              <a href="{{ path('course_set_manage_course_info', {courseSetId: courseSet.id, courseId: curCourse.id}) }}">
                {{ 'course.plan_setup'|trans }}
              </a>
            {% endif %}
          </li>

          {# 录播管理 #}
          {% if hasLiveTasks or courseSet.type == 'live' %}
            <li class="{% if showMenu %}list-group-item {% else %}cd-sidebar__item{% endif %} {% if side_nav == 'replay' %}active{% endif %}">
              {% if courseSet.locked %}
                <a class="pl10" href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'replay'}) }}">
                  <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.replay_manage'|trans }}
                </a>
              {% else %}
                <a href="{{ path('course_set_manage_course_replay', {courseSetId: courseSet.id, courseId: curCourse.id}) }}">
                  {{ 'course.replay_manage'|trans }}
                </a>
              {% endif %}
            </li>
          {% endif %}

          <li class="{% if showMenu %}list-group-item {% else %}cd-sidebar__item{% endif %} {% if side_nav == 'marketing' %}active{% endif %}" id="step-2">
            {% if courseSet.locked %}
              <a class="pl10" href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'marketing'}) }}">
                <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.marketing_setup'|trans }}
              </a>
            {% else %}
              <a href="{{ path('course_set_manage_course_marketing', {courseSetId: courseSet.id, courseId: curCourse.id}) }}">
                {{ 'course.marketing_setup'|trans }}
              </a>
            {% endif %}
          </li>

          {% if not showMenu %}
            <li class="cd-sidebar__heading"><hr class="mt0 mb0 mh10 bg-border-color"/></li>
          {% endif %}

          <li class="{% if showMenu %}list-group-item {% else %}cd-sidebar__item{% endif %} {% if side_nav == 'teachers' %}active{% endif %}">
            {% if courseSet.locked %}
              <a class="pl10" href="{{ path('course_set_manage_sync', {id: courseSet.id, sideNav: 'teachers'}) }}">
                <span class="es-icon es-icon-lock mr10" aria-hidden="true"></span>{{ 'course.teacher_setup'|trans }}
              </a>
            {% else %}
              <a href="{{ path('course_set_manage_course_teachers', {courseSetId: courseSet.id, courseId: curCourse.id}) }}">
                {{ 'course.teacher_setup'|trans }}
              </a>
            {% endif %}
          </li>

          <li class="{% if showMenu %}list-group-item {% else %}cd-sidebar__item{% endif %} {% if side_nav == 'students' %}active{% endif %}">
            <a href="{{ path('course_set_manage_course_students', {courseSetId: courseSet.id, courseId: curCourse.id}) }}">
              {{ 'course.student_manage'|trans }}
            </a>
          </li>

          {% if not showMenu %}
            <li class="cd-sidebar__heading"><hr class="mt0 mb0 mh10 bg-border-color"/></li>
          {% endif %}

          <li class="{% if showMenu %}list-group-item {% else %}cd-sidebar__item{% endif %} {% if side_nav == 'testpaper-check' %}active{% endif %}">
            <a href="{{ path('course_manage_testpaper_check_list', {id: curCourse.id}) }}">{{ 'course.testpaper_check'|trans }}
            </a>
          </li>
          <li class="{% if showMenu %}list-group-item {% else %}cd-sidebar__item{% endif %} {% if side_nav == 'homework-check' %}active{% endif %}">
            <a href="{{ path('course_manage_homework_check_list', {id: curCourse.id}) }}">{{ 'course.homework_check'|trans }}
            </a>
          </li>
          {% if not showMenu %}
            <li class="cd-sidebar__heading"><hr class="mt0 mb0 mh10 bg-border-color"/></li>
          {% endif %}
          <li class="{% if showMenu %}list-group-item {% else %}cd-sidebar__item{% endif %} {% if side_nav == 'overview' %}active{% endif %}" id="step-0">
            <a href="{{ path('course_set_manage_course_overview', {courseSetId: courseSet.id, courseId: curCourse.id}) }}">
              {{ 'course.plan_overview'|trans }}
            </a>
          </li>
          {% if setting('storage.upload_mode', 'local') == 'cloud' %}
            <li class="{% if showMenu %}list-group-item {% else %}cd-sidebar__item{% endif %} {% if side_nav == 'question_marker' %}active{% endif %}">
              <a href="{{ path('course_manage_question_marker',{courseSetId: courseSet.id, courseId: curCourse.id}) }}">
                {{ 'course.question_marker_statistics'|trans }}</a>
            </li>
          {% endif %}

          {% if app.user.isAdmin() or setting('course.teacher_search_order') == 1 %}
            <li class="{% if showMenu %}list-group-item {% else %}cd-sidebar__item{% endif %} {% if side_nav == 'orders' %}active{% endif %}">
              <a href="{{ path('course_set_manage_course_orders', {courseSetId: courseSet.id, courseId: curCourse.id}) }}">{{ 'course.order'|trans }}
              </a>
            </li>
          {% endif %}
        </div>
      {% endif %}

      {# 不是直播，不是编辑下得课程，课程编辑或者#}
      {% if isShowCourseList %}
        <li class="list-group-item {% if side_nav == 'plan' %}active{% endif %}">
          <a href="{{ path('course_set_manage_courses', {courseSetId: courseSet.id}) }}">
            {{ 'course.teach_plan_manage'|trans }}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>


{% endblock %}
