{% block side %}
      {% set side_nav = side_nav|default(null) %}
      <div class="sidenav locked">
        <ul class="list-group">
          <li class="list-group-heading">{{'课程设置'|trans}}</li>
          <li class="list-group-item {% if side_nav == 'base' %}active{% endif %}">
            <a href="{{ path('course_set_manage_base', {id:id}) }}">
              <span></span>{{'基本信息'|trans}}
            </a>
          </li>
          <li class="list-group-item {% if side_nav == 'detail' %}active{% endif %}">
            <a href="{{ path('course_set_manage_detail', {id:id}) }}">
              <span></span>{{'详细信息'|trans}}
            </a>
          </li>
          <li class="list-group-item {% if side_nav == 'cover' %}active{% endif %}">
            <a href="{{ path('course_set_manage_cover', {id:id}) }}">
              <span></span>{{'课程封面'|trans}}
            </a>
          </li>
          <li class="list-group-item {% if side_nav == 'question' %}active{% endif %}">
            <a href="{{ path('course_set_manage_question', {id:id}) }}">
              <span></span>{{'题目管理'|trans}}
            </a>
          </li>
          <li class="list-group-item {% if side_nav == 'testpaper' %}active{% endif %}">
            <a href="{{ path('course_set_manage_testpaper', {id:id}) }}">
              <span></span>{{'试卷管理'|trans}}
            </a>
          </li>
          <li class="list-group-item {% if side_nav == 'files' %}active{% endif %}">
            {# 未考虑课程同步问题 #}
            <a href="{{ path('course_set_manage_files', {id:id}) }}">
              <span></span>{{'课程文件'|trans}}
            </a>
          </li>
        </ul>
        {% if curCourse %}
        <ul class="list-group">

          <li class="list-group-heading">{{curCourse.title}}</li>
          <li class="list-group-item {% if side_nav == 'tasks' %}active{% endif %}">
            <a href="{{ path('course_set_manage_course_tasks', {courseSetId: id, courseId: curCourse.id}) }}">
              <span></span>{{'计划任务'|trans}}</a>
          </li>
          <li class="list-group-item {% if side_nav == 'info' %}active{% endif %}">
            <a href="{{ path('course_set_manage_course_info', {courseSetId: id, courseId: curCourse.id}) }}">
              <span></span>{{'计划设置'|trans}}</a>
          </li>
          <li class="list-group-item {% if side_nav == 'marketing' %}active{% endif %}">
            <a href="{{ path('course_set_manage_course_marketing', {courseSetId: id, courseId: curCourse.id}) }}">
              <span></span>{{'营销设置'|trans}}</a>
          </li>
          <li class="list-group-item {% if side_nav == 'teachers' %}active{% endif %}">
            <a href="{{ path('course_set_manage_course_teachers', {courseSetId: id, courseId: curCourse.id}) }}">
              <span></span>{{'教师设置'|trans}}
            </a>
          </li>
          <li class="list-group-item {% if side_nav == 'students' %}active{% endif %}">
            <a href="{{ path('course_set_manage_course_students', {courseSetId: id, courseId: curCourse.id}) }}">
              <span></span>{% if setting('default.user_name') %}{{setting('default.user_name')|default('学员'|trans)}}{% endif %}{{'管理'|trans}}
            </a>
          </li>
          <li class="list-group-item {% if side_nav == 'testpaper-check' %}active{% endif %}">
            <a href="{{ path('course_manage_testpaper_check_list', {id: curCourse.id}) }}"><span></span>{{'试卷批阅'|trans}}</a>
          </li>
          <li class="list-group-item {% if side_nav == 'homework-check' %}active{% endif %}">
            <a href="{{ path('course_manage_homework_check_list', {id: curCourse.id}) }}"><span></span>{{'作业批改'|trans}}</a>
          </li>
          <li class="list-group-item {% if side_nav == 'dashboard' %}active{% endif %}">
            <a href="{{path('course_set_manage_course_dashboard',{courseSetId: id, courseId: curCourse.id})}}">
              <span></span>{{'学习数据'|trans}}</a>
          </li>
          {# {% if app.user.isAdmin() or setting('course.teacher_search_order') == 1 %} #}
            <li class="list-group-item {% if side_nav == 'orders' %}active{% endif %}">
              <a href="{{path('course_set_manage_course_orders', {courseSetId: id, courseId: curCourse.id})}}"><span></span>{{'订单查询'|trans}}</a>
            </li>
          {# {% endif %} #}
        </ul>
        {% endif %}
        <ul class="list-group">
          <li class="list-group-heading">{{'教学计划'|trans}}</li>
          <li class="list-group-item {% if side_nav == 'plan' %}active{% endif %}">
            <a href="{{ path('course_set_manage_courses', {courseSetId: id}) }}">
              {{'教学计划管理'|trans}}
            </a>
          </li>
        </ul>
      </div>
    {% endblock %}