{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% set category = category | default(null)%}
{% block title %}{% if category %}编辑分类{% else %}添加分类{% endif %}{% endblock %}

{% block body %}
	<form id="category-form" class="form-horizontal" action="
	{% if category.id == 0 %}{{ path('course_manage_quiz_question_category_create', {courseId:course.id}) }}
	{% else %}{{ path('course_manage_quiz_question_category_edit', {courseId:course.id,categoryId:category.id}) }}
	{% endif %}" method="post">
		<div class="form-group">
			<label class="col-md-2 control-label" for="category-name-field">名称</label>
			<div class="col-md-8 controls">
				<input class="form-control" id="category-name-field" type="text" name="name" value="{{ category.name }}" tabindex="1">
			</div>
		</div>

		{#<div class="form-group">
          <div class="col-md-2 control-label"><label>从属</label></div>
          <div class="col-md-8 controls">
            <select class="form-control width-input width-input-large" name="target" data-role="target"></select>
            <script type="text/plain" data-role="targets-data">{{ targets|json_encode|raw }}</script>
          </div>
        </div>
        #}

		<input type="hidden" name="courseId" value="{{ course.id }}">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
	</form>

	<div>

	</div>

	<script type="text/javascript"> app.load('quiz-question/category-creator') </script>
{% endblock %}

{% block footer %}
	{% if category.id %}
		<button type="button" class="btn btn-default pull-left delete-category" data-url="{{ path('admin_category_delete', {id:category.id}) }}" tabindex="5"><i class="glyphicon glyphicon-trash"></i> 删除</button>
	{% else %}

	{% endif %}
  	<button type="button" class="btn btn-link" data-dismiss="modal" tabindex="6">取消</button>
	<button type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#category-form" tabindex="4">保存</button>
{% endblock %}