{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}
{% import 'TopxiaWebBundle::macro.html.twig' as macro %}

{% block title %}材料题 - 添加题目 - {{ parent() }}{% endblock %}

{% set side_nav = 'base' %}
{% set script_controller = 'quiz-question/create' %}

{% block main %}

<div class="panel panel-default panel-col">
  <div class="panel-heading"> 材料题 - 添加题目</div>
  <div class="panel-body">
    <a href="{{ path('course_manage_quiz_question_create',{courseId:course.id}) }}?parentId={{question.id}}&type=essay" class="btn btn-info btn-sm pull-right mls"><span class="glyphicon glyphicon-plus"></span>问答题</a>
    <a href="{{ path('course_manage_quiz_question_create',{courseId:course.id}) }}?parentId={{question.id}}&type=determine" class="btn btn-info btn-sm pull-right mls"><span class="glyphicon glyphicon-plus"></span>判断题</a>
    <a href="{{ path('course_manage_quiz_question_create',{courseId:course.id}) }}?parentId={{question.id}}&type=fill" class="btn btn-info btn-sm pull-right mls"><span class="glyphicon glyphicon-plus"></span>填空题</a>
    <a href="{{ path('course_manage_quiz_question_create',{courseId:course.id}) }}?parentId={{question.id}}&type=choice" class="btn btn-info btn-sm pull-right mls"><span class="glyphicon glyphicon-plus"></span>选择题</a>
  </div>
</div>

{% endblock %}



 