{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}
{% import 'TopxiaWebBundle::macro.html.twig' as macro %}

{% block title %}材料题 - 添加题目 - {{ parent() }}{% endblock %}
{% set side_nav = 'base' %}
{% set script_controller = 'quiz-question/list' %}

{% block main %}

<div class="panel panel-default panel-col" id="quiz-table">
  <div class="panel-heading">材料题管理</div>
  <div class="panel-body ">
    <a href="{{ path('course_manage_quiz_question_material_create',{courseId:course.id,questionId:questionId,type:'essay'}) }}" class="btn btn-info btn-sm pull-right mls"><span class="glyphicon glyphicon-plus"></span>问答题</a>
    <a href="{{ path('course_manage_quiz_question_material_create',{courseId:course.id,questionId:questionId,type:'determine'}) }}" class="btn btn-info btn-sm pull-right mls"><span class="glyphicon glyphicon-plus"></span>判断题</a>
    <a href="{{ path('course_manage_quiz_question_material_create',{courseId:course.id,questionId:questionId,type:'fill'}) }}" class="btn btn-info btn-sm pull-right mls"><span class="glyphicon glyphicon-plus"></span>填空题</a>
    <a href="{{ path('course_manage_quiz_question_material_create',{courseId:course.id,questionId:questionId,type:'choice'}) }}" class="btn btn-info btn-sm pull-right mls"><span class="glyphicon glyphicon-plus"></span>选择题</a>
 
<table class="table table-striped table-hover" >
    <thead>
    <tr>
      <th><input type="checkbox"  data-role="batch-select"></th>
      <th width="40%">题干</th>
      <th>类型</th>
      <th>从属</th>
      <th>更新人/时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
      {% for question in questions %}
        {% include 'TopxiaWebBundle:CourseManage:question-tr.html.twig' with {item:question} %}
      {% else %}
        <tr><td colspan="6"><div class="empty">无题目记录</div></td></tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <label class="checkbox-inline"><input type="checkbox" data-role="batch-select"> 全选</label>
    <button class="btn btn-default btn-sm mlm" data-role="batch-delete"  data-name="题目" data-url="{{ path('course_manage_quiz_question_deletes') }}">删除</button>
  </div>

  {{ web_macro.paginator(paginator) }}
  <a href="{{ path('course_manage_quiz_question',{courseId:course.id}) }}" class="btn btn-link">返回</a>

  </div>
  
</div>

{% endblock %}



 