{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_size = 'small' %}

{% block title %}上传{% endblock %}
{% block body %}

<ul class="nav nav-tabs">
  <li class="active"><a href="#image" data-toggle="tab">图片</a></li>
  <li><a href="#video" data-toggle="tab">视频</a></li>
  <li><a href="#audio" data-toggle="tab">音频</a></li>
</ul>
<br>
<div class="tab-content">

  <div class="tab-pane active" id="image">
    <form id="quiz-upload-form" class="form-horizontal" action="{{ path('course_manage_quiz_question_upload', {courseId:course.id, type:type}) }}" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2  controls">
          <label for="uploadInput">上传图片</label>
          <input type="file" id="uploadInput" name="uploadFile">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-2 controls">
          <button class="btn btn-primary" id="uploadBtn" data-dismiss="modal">添加</button>
        </div>
      </div>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

    </form>
  </div>

  <div class="tab-pane" id="video">
    <form id="quiz-upload-form" class="form-horizontal" action="{{ path('course_manage_quiz_question_upload', {courseId:course.id, type:type}) }}" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2  controls">
          <label for="uploadInput">上传视频</label>
          <input type="file" id="uploadInput" name="uploadFile">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-2 controls">
          <button class="btn btn-primary" id="uploadBtn" data-dismiss="modal">添加</button>
        </div>
      </div>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

    </form>
  </div>
  
  <div class="tab-pane" id="audio">
    <form id="quiz-upload-form" class="form-horizontal" action="{{ path('course_manage_quiz_question_upload', {courseId:course.id, type:type}) }}" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2  controls">
          <label for="uploadInput">上传音频</label>
          <input type="file" id="uploadInput" name="uploadFile">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-2 controls">
          <button class="btn btn-primary" id="uploadBtn" data-dismiss="modal">添加</button>
        </div>
      </div>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

    </form>
  </div>
</div>
<script>app.load('quiz-question/upload-file')</script>

{% endblock %}

{% set hide_footer = true %}