{% extends 'TopxiaWebBundle:Member:layout.html.twig' %}

{% set main_nav = 'buyMember' %}

{% block main_body %}

<ul class="course-wide-list" style="margin-top:20px;">
  {% for userlevel in userlevels %}
    <li class="course-item clearfix">
        <img class="course-picture" style="float:left;width:150px;" src="{{ userlevel.icon}}" alt="{{ userlevel.name}}">
      <div class="course-view" style="float:right;margin:5px;">
        <a href="{{ path('member_course_show', {id:userlevel.id}) }}" type="button" class="btn btn-primary btn-sm">查看会员课程</a>
        <button type="button" class="btn btn-primary btn-sm">购买</button>
      </div>
      <div class="course-body">
        <h4 class="course-title"><a href="/course/5">{{ userlevel.name}}</a></h4>
        <div class="course-about ellipsis">{{ userlevel.description }}</div>
        <div class="course-footer clearfix">
          <div class="teacher">
            <span class="teacher-title" style="color:#006600;font-size:18px;white-space:nowrap;margin-bottom:10px;">{{ userlevel.monthPrice }}元/月,{{ userlevel.yearPrice }}元/年</span>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>

<div class="es-box-heading"><h2>最新课程</h2></div>
<div class="es-box-body">
  {% if courses %}
    {{ render(controller('TopxiaWebBundle:Course:coursesBlock', {courses:courses, view: 'list'})) }}
    {% if courses|length >= 12 %}
      <a class="btn btn-default btn-lg btn-block" href="{{ path('course_explore') }}">更多课程</a>
    {% endif %}
  {% else %}
    <div class="empty">还没有发布的课程</div>
  {% endif %}
</div>
{% endblock %}