{% extends 'TopxiaWebBundle:Member:layout.html.twig' %}

{% block main_body %}

    <div class="col-md-9">

      {% set memberBlocks = data('Blocks',{'codes':['member_banner'] }) %}
      {% if memberBlocks.member_banner %}
        <div id="member-carousel" class="carousel slide mbl hidden-xs" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#member-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#member-carousel" data-slide-to="1" class=""></li>
              <li data-target="#member-carousel" data-slide-to="2" class=""></li>
          </ol>
          <div class="carousel-inner">{{ memberBlocks.member_banner|raw }}</div>
        </div>
      {% endif %}

      <div class="es-box-heading"><h2>购买会员</h2></div>
      <ul class="course-wide-list">
        {% for level in levels %}
          <li class="course-item clearfix member-item">
              <img class="course-picture" src="{{ level.picture }}" alt="{{ level.name}}">
            <div class="course-view">
              <a href="{{ path('member_course', {id:level.id}) }}" class="btn btn-primary btn-sm">查看会员课程</a>
              <a  href="#" class="btn btn-primary btn-sm">购买</a>
            </div>
            <div class="course-body">
              <h4 class="course-title"><a href="{{ path('member_course', {id:level.id}) }}">{{ level.name}}</a></h4>
              <div class="course-about ellipsis">{{ level.description }}</div>
              <div class="course-footer clearfix">
                <span class="course-price" >{{ level.monthPrice }}元/月 {{ level.yearPrice }}元/年</span>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>

      <div class="es-box-heading">
        <a href="#" class="pull-right">更多 &raquo;</a>
        <h2>最新会员课程</h2>
      </div>
      <div class="es-box-body">
        {% if latestCourses %}
          {{ render(controller('TopxiaWebBundle:Course:coursesBlock', {courses:latestCourses, view: 'grid'})) }}
        {% else %}
          <div class="empty">还没有发布的课程</div>
        {% endif %}
      </div>

      <div class="es-box-heading">
        <a href="#" class="pull-right">更多 &raquo;</a>
        <h2>最新热门课程</h2>
      </div>
      <div class="es-box-body">
        {% if hotestCourses %}
          {{ render(controller('TopxiaWebBundle:Course:coursesBlock', {courses:hotestCourses, view: 'grid'})) }}
        {% else %}
          <div class="empty">还没有发布的课程</div>
        {% endif %}
      </div>

    </div>

{% endblock %}