{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}会员专区 - {{ parent() }}{% endblock %}

{% block content %}

<div class="es-row-wrap container-gap">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header"><h1>会员专区</h1></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% if app.user %}
        {% if app.user.level > 0 %} 
          {% for userlevel in userlevels %} 
            {% if app.user.level == userlevel.id %}
            <div class="well">我的会员等级:<span class="text-danger">{{ userlevel.name }}</span>
              {% if not app.user.levelDeadline == 0 %}
              <span>会员期限： <strong class="text-success">{{ app.user.levelDeadline|date('Y-m-d H:i') }} 剩余{{ app.user.levelDeadline|remain_time }}</strong></span></div>
              {% else %}
              <span class="text-primary text-center">会员已到期,请充值续费</span></div>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% else %}
        <h3 class="text-danger text-center">请先登录后购买</h3>
      {% endif %}

      <ul class="nav nav-pills nav-stacked list-inline">
        <li {% if main_nav == 'buyMember' %} class="active"{% endif %} style="position: relative;display: inline-block;"><a href="{{ path('member_show') }}">购买会员</a></li>
        <li {% if main_nav == 'memberCourses' %} class="active"{% endif %} style="position: relative;display: inline-block;"><a href="{{ path('member_course_show',{ id:1|default(null) }) }}">会员课程</a></li>
      </ul>
    {% block main_body %}{% endblock %}
    </div>
  </div>
</div>

{% endblock %}
