{% extends 'live-course/entry.html.twig' %}

{% do script(['app/js/liveroom/eslive-entry/index.js']) %}

{% block bodyStyle %}style="width: 100%;height: 100%;overflow: hidden;"{% endblock %}

{% block body %}
  <div id="eslive-container" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;"></div>
  <div id="entry"
       data-course-id="{{ courseId|default(0) }}"
       data-task-id="{{ task.id|default(0) }}"
       data-role="{{ role|default('') }}"
  ></div>
  <div id="eslive-params"
       data-url="{{ replayUrl|default() }}"
       data-watermark="{{ watermark|default() }}"
  ></div>
{% endblock %}