{% if overview.locked|default(false) == true %}
  <div class="alert alert-warning" role="alert">{{'您的教育云服务已被锁定，请联系客服人员：'|trans}}0571-86819929。</div>
{% endif %}
  <div class="row">
    <div class="col-md-8">
      <div class="edu-user clearfix">
        <div class="user-part pull-left">
          <a href="{{path('admin_cloud_access')}}" target="_blank"><img class="img-circle" {% if  isBinded.avatar|default("") == "" %} src="{{ default_path('user_avatar.png') }}" {% else %} src="{{ isBinded.avatar }}" {% endif %}></a>
          <div class="user-name text-md pts">Hi,<a href="{{path('admin_cloud_access')}}" target="_blank"><span class="text-primary">{{ isBinded.name }}</span></a></div>
        </div>
        <div class="user-part pull-left">
          <div class="ptm">余额</div>
          <div class="money">{{ overview.cashAccount }}</div>
          <a href="{{path('admin_cloud_recharge')}}" target="_blank" class="btn btn-primary btn-xs mrs">充值</a> 
          <a href="{{path('admin_cloud_account_person')}}" target="_blank">费用中心</a>
        </div>
        <div class="user-part pull-left">
          <div class="ptm">代金券</div>
          <div class="money">{{ overview.couponAccount }}</div>
          <a href="{{path('admin_cloud_list_coupon')}}" target="_blank">代金券管理</a>
        </div>
      </div>


      {% if paid == true %}
        <div class="edu-combo">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">已开通服务</div>
            </div>
            <div class="panel-body">
            {% if overview.services.video == true %}
              <div class="col-md-4">
                <a href="{{path('admin_cloud_service_overview',{type:'storage'})}}" target="_blank" class="my-products-item">
                  <i class="es-icon es-icon-playcircleoutline"></i>
                  云视频
                </a>
              </div>
            {% endif %}
            {% if overview.services.live == true %}
              <div class="col-md-4">
                <a href="{{path('admin_cloud_service_overview',{type:'live'})}}" target="_blank" class="my-products-item">
                  <i class="es-icon es-icon-zhibokecheng"></i>
                  云直播
                </a>
              </div>
            {% endif %}
            {% if overview.services.sms == true %}
              <div class="col-md-4">
                <a href="{{path('admin_cloud_service_overview',{type:'sms'})}}" target="_blank" class="my-products-item">
                  <i class="es-icon es-icon-textsms"></i>
                  云短信
                </a>
              </div>
            {% endif %}
            {% if overview.services.search == true %}
              <div class="col-md-4">
                <a href="{{path('admin_cloud_service_overview',{type:'search'})}}" target="_blank" class="my-products-item">
                  <i class="es-icon es-icon-search"></i>
                  云搜索
                </a>
              </div>
            {% endif %}
            {% if overview.services.email == true %}
              <div class="col-md-4">
                <a href="{{path('admin_cloud_service_overview',{type:'email'})}}" target="_blank" class="my-products-item">
                  <i class="es-icon es-icon-search"></i>
                  云邮件
                </a>
              </div>
            {% endif %}
            </div>
          </div>
      {% endif %}
    </div>


    {% if unPaid == true %}
      <div class="edu-combo">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">需要开通／购买的服务</div>
          </div>
          <div class="panel-body">
          {% if overview.services.video == false %}
            <div class="col-md-4">
              <a href="{{path('admin_cloud_service_overview',{type:'storage'})}}" target="_blank" class="my-products-item">
                <i class="es-icon es-icon-playcircleoutline"></i>
                云视频
              </a>
            </div>
          {% endif %}
          {% if overview.services.live == false %}
            <div class="col-md-4">
              <a hhref="{{path('admin_cloud_service_overview',{type:'live'})}}" target="_blank" class="my-products-item">
                <i class="es-icon es-icon-zhibokecheng"></i>
                云直播
              </a>
            </div>
          {% endif %}
          {% if overview.services.sms == false %}
            <div class="col-md-4">
              <a href="{{path('admin_cloud_service_overview',{type:'sms'})}}" target="_blank" class="my-products-item">
                <i class="es-icon es-icon-textsms"></i>
                云短信
              </a>
            </div>
          {% endif %}
          {% if overview.services.search == false %}
            <div class="col-md-4">
              <a href="{{path('admin_cloud_service_overview',{type:'search'})}}" target="_blank" class="my-products-item">
                <i class="es-icon es-icon-search"></i>
                云搜索
              </a>
            </div>
          {% endif %}
          {% if overview.services.email == false %}
            <div class="col-md-4">
              <a href="{{path('admin_cloud_service_overview',{type:'email'})}}" target="_blank" class="my-products-item">
                <i class="es-icon es-icon-search"></i>
                云邮件
              </a>
            </div>
          {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">产品更新日志</div>
        </div>
        <div class="panel-body">
          <ul class="update-list">
            <li class="pvs">
              <a href="" class="text-overflow link-gray">
                <i class="es-icon es-icon-dot text-primary"></i>
                <span class="text-muted mrm">9-23</span>云视频流量计算器，云短信用量预云视频流量计算器，云短信用量预
              </a>
            </li>
            <li class="pvs">
              <a href="" class="text-overflow link-gray">
                <i class="es-icon es-icon-dot text-primary"></i>
                <span class="text-muted mrm">9-23</span>云视频流量计算器，云短信用量预云视频流量计算器，云短信用量预
              </a>
            </li>
            <li class="pvs">
              <a href="" class="text-overflow link-gray">
                <i class="es-icon es-icon-dot text-primary"></i>
                <span class="text-muted mrm">9-23</span>云视频流量计算器，云短信用量预云视频流量计算器，云短信用量预
              </a>
            </li>
            <li class="pvs">
              <a href="" class="text-overflow link-gray">
                <i class="es-icon es-icon-dot text-primary"></i>
                <span class="text-muted mrm">9-23</span>云视频流量计算器，云短信用量预云视频流量计算器，云短信用量预
              </a>
            </li>
            <li class="pvs">
              <a href="" class="text-overflow link-gray">
                <i class="es-icon es-icon-dot text-primary"></i>
                <span class="text-muted mrm">9-23</span>云视频流量计算器，云短信用量预云视频流量计算器，云短信用量预
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
    
  </div>