<div class="order-detail-bg  checkout" style="border:none">
  <div class="order-detail  clearfix">
    <div class="order-img hidden-xs">
      <a href="{{ path('course_show', {id:course.id}) }}">
        <img class="img-responsive" src="{{ filepath(course_cover(course, 'middle'), 'courseSet.png') }}"alt="{{'pay_center.fee'|trans}}"></a>
    </div>
    <div class="order-info">
      <p>{{'pay_center.order.title'|trans({'%title%': order.title})}}</p>
      <p>{{'pay_center.order.id'|trans({'%sn%': order.sn})}}</p>
      <p>
        {{'pay_center.order.price'|trans}}
        <span class="pay-rmb">￥{{order.amount}}</span>
      </p>
    </div>
  </div>
</div>
