{% extends 'layout.html.twig' %}
{% block title %} {{'pay_center'|trans}} - {{ parent() }}{% endblock %}
{% do script(['app/js/pay/success-redirect/index.js'])%}

{% block content %}
<div class="order-pay">
  <div  class="es-section">
    <ul class="es-step es-step-3 clearfix">
      <li class="done"><span class="number"><i class="es-icon es-icon-done"></i></span>{{'pay_center.confirm'|trans}}</li>
      <li class="done"><span class="number"><i class="es-icon es-icon-done"></i></span>{{'pay_center.pay'|trans}}</li>
      <li class="done"><span class="number"><i class="es-icon es-icon-done"></i></span>{{'pay_center.finish'|trans}}</li>
    </ul>
    <div class="order-pay-body">
      <div class="order-pay-state">
        <i class="es-icon  es-icon-iccheckcircleblack24px"></i>
        <p class="js-turn" data-url='{{ goto }}'>{{'pay_center.finish_tips'|trans|raw}}
      </div>
    </div>
  </div>
</div>
{% endblock %}
