{% extends 'layout.html.twig' %}
{% block title %} {{ 'pay_center'|trans }} - {{ parent() }}{% endblock %}
{% do script(['app/js/pay/select/index.js']) %}

{% block esBar %}
{% endblock %}

{% block content %}
  <div class="order-pay">

    <div class="es-section">
      <ul class="es-step es-step-3 clearfix">
        <li class="done"><span class="number"><i class="es-icon es-icon-done"></i></span>{{ 'pay_center.confirm'|trans }}</li>
        <li class="doing"><span class="number">2</span>{{ 'pay_center.pay'|trans }}</li>
        <li><span class="number">3</span>{{ 'pay_center.finish'|trans }}</li>
      </ul>
      <div class="order-pay-body">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          {{ 'pay_center.pay.submit_tips'|trans }}
        </div>

        <div class="order-detail-bg  checkout" style="border:none">
          <div class="order-detail  clearfix">
            <div class="order-info">
              <p>{{'order.name'|trans}}: {{ order.title }}</p>
              <p>{{'order.id'|trans}}: {{ order.sn }}</p>
              <p>
                {{'order.price'|trans}}: <span class="pay-rmb">{{ order.pay_amount|price_format }}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="es-piece" style="margin-bottom:20px;">
          <div class="piece-header">{{ 'pay_center.pay.submit_tips'|trans }}</div>
        </div>

        <form class="form-paytype" method="post" action="{{ path('pay_center_pay') }}">

          <input type="hidden" name="orderId" value="{{ order.id }}"/>

          <div class="form-group order-detail-bg">
            {% for payment in payments %}
              <div class="check {% if loop.index == 1 %}active{% endif %}" id="{{ payment.name }}">
                <img src="{{ asset('assets/img/order/'~payment.name~'.png') }}"/>
                <span class="icon"></span>
              </div>
            {% else %}
              <div class="pay-type-label text-warning ">{{ 'payment.useless_tips'|trans }}</div>
            {% endfor %}
          </div>

          <div class="form-group">
            <div class="total-price">
              {{ 'order.confirm.pay_rmb'|trans }}
              <span role="pay-rmb" class="pay-rmb">{{ order.pay_amount|price_format }}</span>
            </div>
          </div>
          <div class="form-group text-right">
            <button class="pay-button btn btn-primary" {% if payments %} type="submit" {% else %} disabled="disabled" {% endif %} >{{ 'pay_center.pay.confirm_pay_btn'|trans }}</button>
          </div>

        </form>
      </div>
    </div>
  </div>
{% endblock %}
