{% extends 'bootstrap-modal-layout.html.twig' %}
{% block title %}{{'pay_center.verify_mobile'|trans}}{% endblock %}
{% do script(['libs/jquery-validation.js','app/js/show-mobile-modal/index.js']) %}

{% block body %}
<style>
.unbind{
  height:100px;
  overflow: hidden;
}
.unbind-frame{
  padding:15px;
}
.unbind-down{
  margin-bottom: 0px !important;
}
.form-horizontal{
  margin:12px auto;
}
.modal-body{
  padding:0px !important;
}
</style>

    <div class="pannel pannel-default unbind">
      <div class="unbind-frame">
        <form id="unbind-form" class="form-horizontal" method="post" action="{{ path('pay_center_auth_unbind') }}">
          <input type="hidden" name="payAgreementId" value="{{payAgreementId}}"/>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
          <div class="form-group unbind-down">
            <div class="col-md-3 control-label">
              <label for="mobile">{{'pay_center.verify_mobile.mobile'|trans}}</label>
            </div>
            <div class="col-md-6 controls">
              <input type="text" id="mobile" name="mobile" class="form-control" placeholder="{{'pay_center.verify_mobile.mobile'|trans}}">
              <div class="help-block"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}

{% block footer %}
  <button  class="btn btn-primary pull-right" id="unbind-btn" data-submiting-text="{{'form.btn.submit.submiting'|trans}}" >{{'form.btn.confirm'|trans}}</button>
  <button type="button" class="btn btn-link" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>
{% endblock %}
