<table class="table table-hover table-striped {% if style == 'essay' %}hide{% endif %}" id="essay-material-table">
  <thead>
    <tr>
      <th width="60%">文章素材标题</th>
      <th width="">知识点</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for essayMaterial in essayMaterials %}
    {% set knowledge = knowledges[essayMaterial.mainKnowledgeId]|default(null) %}
      <tr>
        <td>{{ essayMaterial.title }}</td>
        <td>{{ knowledge.name|default(null) }}</td>
        <td>
          <button type="submit" class="btn btn-primary essay-material-creat" data-loading-text="正在提交"data-url="{{ path('course_create_lecture_note',{courseId:courseId, lessonId:lessonId , style: 'essayMaterial', type:type})}}" data-id='{{ essayMaterial.id }}' tabindex="5">添加</button>
        </td>
      </tr>
    {% else %}
      <tr class="empty"><td colspan="20">无文件记录</td></tr>
    {% endfor %}
  </tbody>
  {{ web_macro.paginator(paginator) }}
</table>