{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}

{% block title %}添加{% if type == 'lectureNote' %}讲义{% else %}资料{% endif %}{% endblock %}
{% block body %}
  <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/ztree.css') }}" />
  <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/tag-chooser2.css') }}" />

<div >
  <ul class="list-group" id="lecture-note-list">
    {% for lectureNote in lectureNotes %}
      {% include 'CustomWebBundle:LectureNote:list-item.html.twig' %}
    {% else %}
      <div class="control-text text-warning">暂无{% if type == 'lectureNote' %}讲义{% else %}资料{% endif %}，请选择。</div>
    {% endfor %}
  </ul>
</div>

  <div class="well well-sm">
    <form id="lecture-note-form" class="form-inline" action="" method="get" novalidate>
      <div class="form-group">
        <select class="form-control method-form-group" name="style">
          {% set options = {essayMaterial:'文章素材',essay: '文章'} %}
          {{ select_options(options, style) }}
        </select>
      </div>
      <span id="essay-search" {% if style == 'essayMaterial' %}class="hide"{% endif %}>
        <div class="form-group">
          <select class="form-control method-form-group" name="status">
            {{ select_options(dict('essayStatus'), app.request.query.get('status')) }}
          </select>
        </div>
      </span>

      <span id="essay-material-search" {% if style == 'essay' %}class="hide"{% endif %}>
        <div class="form-group mrl" id="tags-search-group">
          <label>标签：</label>
            <a href="javascript:;" class="tag-search-trigger">
              {% for tag in tagSearchs %}
                {{tag.name}}
              {% else %}
                选择
              {% endfor %}
            </a>
        </div>
        <div class="form-group mrl" id="knowledges-search-group">
          <label>知识点：</label>
          <a href="javascript:;" class="knowledge-search-trigger">
            {% for knowledge in knowledgeSearchs %}
              {{knowledge.name}}
            {% else %}
              选择
            {% endfor %}
          </a>
        </div>
      </span>
        <div class="form-group mrl">
          <input class="form-control" type="text" name="keyword" value="{{ app.request.query.get('keyword') }}" placeholder="标题关键词">
        </div>


        <button id="lecture-note-search" data-url="{{ path('course_manage_lecture_note',{courseId:courseId, lessonId:lessonId, type:type})}}" type="submit" class="btn btn-sm btn-primary">搜索</button>

        <input type="hidden" name="tagIds" value="{{ app.request.query.get('tagIds') }}">
        <input type="hidden" name="knowledgeIds" value="{{ app.request.query.get('knowledgeIds') }}">
    </form>
      {% include 'CustomWebBundle:Tag:tagchooser-overlay.html.twig' with {id: 'tags-search', type: 'question'} %}
      {% include 'CustomWebBundle:Tag:tagchooser-knowledge-overlay.html.twig' with {id: 'knowledges-search', categoryId: category.id} %}
  </div>

  {% include 'CustomWebBundle:LectureNote:essay-material-table-modal.html.twig' %}
  {% include 'CustomWebBundle:LectureNote:essay-table-modal.html.twig' %}

<script>app.load('customwebbundle/controller/lecture-note/modal')</script>

{% endblock %}

{% set hide_footer = true %}