{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<tr id="offsale-table-tr-{{ linksale.id }}" data-role="item">
  <td><input value="{{linksale.id}}" type="checkbox"  data-role="batch-item" ></td>

  <td class="text-muted text-sm text-break">{{ dict_text('saleType:html', linksale.saleType) }}<br>
    
     {% if linksale.customized == '0' %}
        <span >系统默认佣金设置</span>
      {% else %}
        <span class="text-color-red">已单独设置佣金</span>
      {% endif %}

  </td>
  <td class="text-muted text-sm text-break">{{ linksale.tUrl }}</td>
  
  <td>
    {% if partner %}
       {{ partner.nickname }}
    {% endif %}

     <button class="btn btn-warning btn-sm"  id="setting-linksale-btn" data-toggle="modal" data-target="#modal" data-url="{{ path('admin_sale_linksale_setting',{id:linksale.id}) }}">单独设置</button>
  </td>


   <td>
     {{ linksale.adCommission}}%
     <br>   
     <span class="text-muted text-sm text-break">推广有效期：{{ linksale.adCommissionDay }}天</span>
   </td>


   <td>
     ￥{{ linksale.reducePrice}}
     <br>   
     <span class="text-muted text-sm text-break">优惠有效期：{{ linksale.validTime|default('永久')}}</span>
   </td>


  <td class="text-muted text-sm text-break">{{ linksale.prodName }}</td>
 

 
 
 

  <td class="mz pz">
    
    {% for order in orders %}
    {% set buyer = users[order.userId]|default(null) %}
    <p class="mz phz pts {% if not loop.first %} h-divider {% endif %}">
      
       <span class="text-muted text-sm" >{{ admin_macro.user_link(buyer) }}  
     {{ order.createdTime|date('Y-n-d H:i') }}
     {{ dict_text('orderStatus:html', order.status) }} </span>

      <a href="javascript:;" class=" text-sm"  data-toggle="modal" data-target="#modal" data-url="{{ path('admin_order_detail', {id:order.id}) }}">查看详细</a>
       
    </p>
   
   {% endfor %}
  </td>

 

</tr>