{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
<tr id="offsale-table-tr-{{ offsale.id }}" data-role="item">
  <td><input value="{{offsale.id}}" type="checkbox"  data-role="batch-item" ></td>
  

  <td class="text-muted text-sm text-break"> {{ dict_text('offsaleType',offsale.saleType) }}</td>

  <td>{{ offsale.promoCode }}</td>

  

  <td>
    {% if partner %}
       {{ partner.nickname }}
    {% endif %}
  </td>

  <td>
    {{ offsale.adCommission}}%
    <br>  
    <span class="text-muted text-sm text-break">推广有效期：{{ offsale.adCommissionDay }}天</span>

  </td>

  <td>
    ￥{{ offsale.reducePrice}}
    <br>  
    <span class="text-muted text-sm text-break">优惠有效期：{{ offsale.validTime|default('永久')}}</span>
  </td>
 
  <td class="text-muted text-sm text-break">{{ offsale.prodName }}</td>

   

 
 
  <td class="text-muted text-sm text-break">{{ offsale.promoName }}</td>

  <td class="mz pz">
    
    {% for order in orders %}
    {% set buyer = users[order.userId]|default(null) %}
    <p class="mz phz pts {% if not loop.first %} h-divider {% endif %}">
      
       <span class="text-muted text-sm" >{{ admin_macro.user_link(buyer) }}  
     {{ order.createdTime|date('Y-n-d H:i') }}
     {{ dict_text('orderStatus:html', order.status) }} </span>

      <a href="javascript:;" class=" text-sm"  data-toggle="modal" data-target="#modal" data-url="{{ path('admin_course_order_detail', {id:order.id}) }}">查看详细</a>
       
    </p>
   
   {% endfor %}
  </td>

 

</tr>