{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% set block = block|default(null) %}
{% block title %}
  生成优惠码
{% endblock %}
{% block body %}
<form class="form-horizontal" id="offsale-form"  action="{{ path('admin_sale_offsale_create') }}" method="post">

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="promoName">优惠码描述</label>
    </div>
    <div class="col-md-8 controls">
      <input class="form-control" type="text" id="promoName" value="{{offsetting.promoName}}" name="promoName" required/>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="reducePrice">优惠幅度（元）</label>
    </div>
    <div class="col-md-8 controls">
      <input class="form-control" type="text" id="reducePrice" value="{{offsetting.reducePrice}}" name="reducePrice" required/>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="promoNum">生成数量</label>
    </div>
    <div class="col-md-8 controls">
      <input class="form-control" type="text" id="promoNum" value="{{offsetting.promoNum}}" name="promoNum" required/>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="promoPrefix">编码前缀</label>
    </div>
    <div class="col-md-8 controls">
      <input class="form-control" type="text" id="promoPrefix" value="{{offsetting.promoPrefix}}" name="promoPrefix"></div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="prodType">商品类型</label>
    </div>
    <div class="col-md-8 controls">
      <select name="prodType" id="prodType">
        <option value='课程' selected>课程</option>
        <option value'活动'>活动</option>
      </select>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="prodId">商品编号</label>
    </div>
    <div class="col-md-8 controls">
      <input class="form-control" type="text" id="prodId" value="{{offsetting.prodId}}" name="prodId" data-url="{{ path('admin_sale_offsale_prod_check')}}"  data-fid="offsale-form" required/>
      <p class="help-block" id="prod_info">请输入商品编号</p>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="strvalidTime">有效期</label>
    </div>
    <div class="col-md-6 controls">
      <div class="input-group">
        <input class="form-control" type="text" id="strvalidTime" value="{{offsetting.strvalidTime}}" name="strvalidTime" readonly>          
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="reuse">可多次使用</label>
    </div>
    <div class="col-md-8 controls">
      <select name="reuse" id="reuse">
        <option value='不可以' selected>不可以</option>
        <option value'可以'>可以</option>
      </select>
    </div>
  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}"></form>

<script type="text/javascript">app.load('sale/create-modal')</script>
{% endblock %}

{% block footer %}
<button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
<button type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#offsale-form">保存</button>
{% endblock %}