{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% set block = block|default(null) %}
{% set modal_size = 'xlarge' %}

{% block title %}
  生成优惠码
{% endblock %}
{% block body %}
<form class="form-horizontal" id="offsale-form"  action="{{ path('admin_sale_offsale_create') }}" method="post">

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="partnerName">所属渠道</label>
    </div>
    <div class="col-md-8 controls">
      <div  class="input-group">
        <input class="form-control" type="text" id="partnerName" value="{{offsetting.partnerName}}" name="partnerName"  data-url="{{ path('admin_sale_offsale_parnter_check') }}"  data-fid="offsale-form"  ></div>
      <div class="help-block"  id="parterName_info">请输入系统中已注册的渠道用户昵称</div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="prodId">课程编号</label>
    </div>
    <div class="col-md-8 controls">
      <input class="form-control" type="text" id="prodId" value="{{offsetting.prodId}}" name="prodId" data-url="{{ path('admin_sale_offsale_prod_check')}}"  data-fid="offsale-form" required/>
      <p class="help-block" id="prod_info">请输入课程编号</p>
    </div>
  </div>


  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="adCommission">佣金比例</label>
    </div>
    <div class="col-md-8 controls">
      <div class="input-group">
        <input class="form-control" type="text" id="adCommission" value="{{offsetting.adCommission}}" name="adCommission" required/>
        <span class="input-group-addon">%</span>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="reducePrice">优惠幅度</label>
    </div>
    <div class="col-md-8 controls">
      <div  class="input-group">
        <input class="form-control" type="text" id="reducePrice" value="{{offsetting.reducePrice}}" name="reducePrice" required/>
        <span class="input-group-addon">元</span>
      </div>

    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="promoNum">生成数量</label>
    </div>
    <div class="col-md-8 controls">
      <input class="form-control" type="text" id="promoNum" value="{{offsetting.promoNum}}" name="promoNum" required/>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="promoPrefix">编码前缀</label>
    </div>
    <div class="col-md-8 controls">
      <input class="form-control" type="text" id="promoPrefix" value="{{offsetting.promoPrefix}}" name="promoPrefix"></div>
  </div>

  

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="strvalidTime">有效期</label>
    </div>
    <div class="col-md-8 controls">
      <div class="input-group">
        <input class="form-control" type="text" id="strvalidTime" value="{{offsetting.strvalidTime}}" name="strvalidTime" >
        <p class="help-block" id="prod_info">格式：yyyy-mm-dd hh:mm 空表示无限制期限</p>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3 control-label">
      <label for="promoName">备注描述</label>
    </div>
    <div class="col-md-8 controls">
      <input class="form-control" type="text" id="promoName" value="{{offsetting.promoName}}" name="promoName" required/>
    </div>
  </div>

   <input type="hidden" name="prodType" value="course">   
   <input type="hidden" name="saleType" value="offsale-course">   
   <input type="hidden" name="adCommissionType" value="ratio">
   <input type="hidden" name="adCommissionDay" value="0">
   <input type="hidden" name="customized" value="1">   
   <input type="hidden" name="reduceType" value="quota"> 
   <input type="hidden" name="reuse" value="不可以">
   <input type="hidden" name="valid" value="有效">   

 

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}"></form>

<script type="text/javascript">app.load('sale/create-modal')</script>
{% endblock %}

{% block footer %}
<button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
<button type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#offsale-form">保存</button>
{% endblock %}