{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}我的笔记... - {{ parent() }}{% endblock %}

{% set nav = 'my-notes' %}

{% set bodyClass = 'lesson-notes' %}

{% block content %}

<div class="row">
    
    {% include 'TopxiaWebBundle:My:my-nav.html.twig' %}

    <div class="col-lg-9">

        <div class="panel panel-col">
            <div class="panel-heading">
               我的笔记
            </div>
            <div class="panel-body">
            {% for course in courses %}
                <div class="notes-of-course">
                    <a href="{{ path('my_notes_detail', {userId: app.user.id, courseId: course.id }) }}">
                        <img src="{{ file_path(course.largePicture, 'course-large.png', true) }}">
                    </a>
                    <br>
                    课程名称:<font size="4"> {{course.title}} </font>
                    <p> 共 {{ courseMembers[course.id].notesNum }} 篇笔记</p>
                    {% if courseMembers[course.id].notesLastUpdateTime > 0 %}
                        <p> 最后更新 {{ courseMembers[course.id].notesLastUpdateTime | smart_time }} </p>
                    {% endif %}
                </div>
                <hr>
            {% endfor %}
            
            </div>
        </div>  
        {{ web_macro.paginator(paginator) }} 
    </div>
</div>

{% endblock %}
