<div class="list-group note-list">
    {% for lesson in lessons %}
        <a id="lesson-li-{{lesson.id}}" data-role="lesson-header-in-list"
       
        {% if loop.index == 1 %}  
            class="list-group-item active" 
        {% else %}
            class="list-group-item" 
        {% endif %}
        value="{{lesson.id}}"  href="javascript:;">
                <label>课时{{lesson.number}}: </label> {{lesson.title}} 
                {% for courseNote in courseNotes %}
                    {% if courseNote.lessonId == lesson.id %}
                        <span class="content-count-{{lesson.id}}"> ({{courseNote.contentCount}})字 </span>
                    {% endif %}
                {% endfor %}    
        </a> 
    {% endfor %}
</div>
