 {% import _self as forms %}
  <tr>
    <td>
        <div class="materials-table-img">
          <input class="batch-item" value="{{ cloudAttachment.globalId }}" type="checkbox" data-role="batch-item" data-file-id="{{ cloudAttachment.id }}" data-link-count="{{ cloudAttachment.usedCount }}" data-file-name="{{ cloudAttachment.filename }}" style="display:none;" />
          <div class="mask">
            {% if (cloudAttachment.type in ['video','document','ppt'] and cloudAttachment.processStatus == 'ok') or cloudAttachment.type in ['audio','flash','image'] %}
              <a class="btn btn-info btn-xs" href="#modal" data-toggle="modal" data-url="{{ path('admin_cloud_file_preview', {globalId: cloudAttachment.no}) }}">资料预览</a>
            {% endif %}
            {% if cloudAttachment.processStatus == 'error' %}
              {% if setting("developer.debug")|default(0) %}
              <a class="js-reconvert-btn btn btn-warning btn-xs" data-url='{{ path('admin_cloud_file_reconvert', {globalId:cloudAttachment.no}) }}' data-loading-text="正在提交...">重新转码</a>
              {% endif %}
            {% endif %}
            {% if (cloudAttachment.type == 'video' and cloudAttachment.processStatus == 'ok') %}
              <div class="time">
                {{ cloudAttachment.length|default(0)|date('i:s') }}
              </div>
            {% endif %}
          </div>
          <img src="{{ asset(cloudAttachment.thumbnail|default('assets/img/default/cloud_' ~ cloudAttachment.type ~ '.png')) }}">
        </div>
        <div class="materials-table-title">
          <a class="heading"  href="#modal" data-toggle="modal" data-url="{{ path('admin_cloud_file_preview', {globalId: cloudAttachment.no})}}"  data-placement="top" title="{{ cloudAttachment.filename }}">{{ cloudAttachment.filename }}</a>
          <span class="subtitle">
            {% if createdUser %}
                {{ createdUser.nickname }} 上传
            {% endif %}
          </span>
          {% if cloudAttachment.type in ['video', 'ppt', 'document'] %}
            {% if cloudAttachment.processStatus == 'waiting' %}
              <span class="label label-info">{{ dict_text('processStatus', cloudAttachment.processStatus) }}</span>
            {% elseif cloudAttachment.processStatus == 'processing' %}
              <span class="label label-info">{{ dict_text('processStatus', cloudAttachment.processStatus) }}</span>
            {% elseif cloudAttachment.processStatus == 'error' %}
              <span class="label label-danger">{{ dict_text('processStatus', cloudAttachment.processStatus) }}</span>
            {% endif %}
          {% endif %}
          {% if  cloudAttachment.usedCount|default(0) == 0 %}
          <span class="label label-default">未使用</span>
          {% endif %}
        </div>
    </td>

    <td class="text-center">
      <div class="mbs">{{ dict_text('fileType', cloudAttachment.type) }}</div>
      {% if cloudAttachment.mcStatus|default('no') == 'yes' %}
        <div class="label label-info mtm">已生成MP4</div>
      {% endif %}
    </td>
    <td class="text-center">
      {{ cloudAttachment.fileSize|file_size }}
    </td>
    <td class="text-center">
      <span style="display:block">{{ cloudAttachment.createdTime|date('Y-m-d H:i:s') }}</span>
    </td>
     <td class="text-center">
      <span style="display:block">{{ forms.showType(cloudAttachment.useType) }}</span>
    </td>
    <td class="es-materillib-table text-center">
      <div class="btn-group ">
         <a class="btn btn-default btn-sm " href="{{ path('admin_cloud_file_download', {globalId:cloudAttachment.no}) }}"title="下载" target="__blank"><span class="glyphicon glyphicon-download-alt"></span> 下载</a>
        <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
           
          </li>
          <li>
            <a class="js-delete-btn" href="javascript:" data-url="{{ path('admin_cloud_file_delete_modal_show') }}" data-id="{{ cloudAttachment.no }}"><span class="glyphicon glyphicon-trash"></span> 删除</a>
          </li>
        </ul>
      </div>
    </td>
  </tr>

{% macro showType( useType) %}
    {% if useType == "article" %}
      资讯
    {% elseif useType in ['course.thread','course.thread.post'] %}
      课程讨论区
    {% elseif  useType in ['classroom.thread','classroom.thread.post'] %}
      班级讨论区
    {% elseif useType in ['group.thread', 'group.thread.post'] %}
      小组
    {% elseif useType in ['question.stem', 'question.analysis'] %}
      试题
    {% endif %}
{% endmacro %}
