{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block title %} {{'admin.edu_cloud.edu_sms.apply.content_title'|trans}} {% endblock %}

{% block body %}
	<form id="apply-sms-form" class="form-horizontal" data-url="{{ path('admin_edu_cloud_apply_for_sms') }}">
		<fieldset>
			<div class="row form-group">
		      <div class="col-md-3 control-label">
		        <label>{{'admin.edu_cloud.edu_sms.apply.remind'|trans}}</label>
		      </div>
		      <div class="col-md-7 controls" style="padding-top: 5px;">
		      	{% if (setting('cloud_sms.sms_school_name')|default('')) == '' %}
		      		<span>{{'admin.edu_cloud.edu_sms.apply.first_open_tips'|trans}}</span>
		      	{% else %}
		      		<span>{{'admin.edu_cloud.edu_sms.apply.verify_tips'|trans}}</span>
		      	{% endif %}

		      </div>
		    </div>

			<div class="row form-group">
		      <div class="col-md-3 control-label">
		        <label for="name">{{'admin.edu_cloud.edu_sms.apply.school_name'|trans}}</label>
		      </div>
		      <div class="col-md-7 controls">
		        <input type="text" name="name" class="form-control" id="name">
		        <p>
              {{'admin.edu_cloud.edu_sms.apply.sms_content'|trans|raw}}
            </p>
		      </div>
		    </div>
		</fieldset>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
	</form>
{% endblock %}

{% block footer %}
	<button class="btn btn-default col-md-offset-7" data-dismiss="modal">{{'form.btn.close'|trans}}</button>
	<button class="btn btn-primary col-md-offset-2" id="js-submit">{{'form.btn.submit'|trans}}</button>

  <script>app.load('educloud/apply-sms');</script>
{% endblock %}
