
<div class="panel panel-default">
  <div class="panel-body">
    <div class="edu-balance">
      <h4 style="color:#555; margin-bottom:20px">
        {{'admin.edu_cloud.account.content_title'|trans}}
      </h4>
      <p>
        {% if overview.account.cash|default('0') > 0 %}
          <span class="balance">{{ overview.account.cash|default(0) }}</span>{{'site.currency.CNY'|trans}}
        {% else %}
          <span class="balance">{{ overview.account.cash|default(0) }}</span>{{'site.currency.CNY'|trans}}
        {% endif %}
        <a href="{{path('admin_cloud_recharge')}}" class="btn btn-primary" target="_blank" style="margin-left:20px;">{{'admin.edu_cloud.account.recharge_btn'|trans}}</a>
      </p>
      {% if  overview.account.cash|default(0) < 50 and overview.account.cash|default(0) >= 0 %}
        <p class="text-danger text-sm">{{'admin.edu_cloud.account.balance_not_enough'|trans}}</p>
      {% elseif overview.account.cash|default(0) < 0 %}
        {% if overview.account.arrearageDays < 7 %}
          <p class="text-danger text-sm">{{'admin.edu_cloud.account.cloud_wiil_stop_tips'|trans({'%arrearageDays%':  7 - overview.account.arrearageDays })}}</p>
        {% else %}
          <p class="text-danger text-sm">{{'admin.edu_cloud.account.arrears_tips'|trans({'%arrearageDays%': overview.account.arrearageDays })}}</p>
        {% endif %}
      {% endif %}
      <hr style="margin: 10px 0">
      <div>{{'admin.edu_cloud.account.coupon_balance'|trans}}<span class="" >{{ overview.coupon.balance|default("0.00") }}</span>
      <a href="http://open.edusoho.com/coupon/activate" target="_blank" style="margin-left:30px">{{'admin.edu_cloud.account.active_ben'|trans}}</a></div>
    </div>
  </div>
</div>
