{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}{{'admin.edu_cloud.edu_search.clause'|trans}}{% endblock %}

{% block body %}
  <form id="search-clause-form" class="form-horizontal" method="post" action="{{ path('admin_edu_cloud_search_clause') }}">
    <div class="item">
      {{'admin.edu_cloud.edu_search.clause_content'|trans|raw}}
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}

{% block footer %}
  <button id="search-clause-form" data-submiting-text="{{'form.btn.submit.submiting'|trans}}" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#search-clause-form">{{'admin.edu_cloud.edu_search.agree_btn'|trans}}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>
{% endblock %}
