
<div class="col-md-6">
  <input id="imUsedInfo"  type="hidden" value='{% if setting('app_im.enabled') %}{{chartInfo.imUsedInfo}}{% else %}{{"[]"}}{% endif %}'>
  <div class="panel panel-default">
    <div class="panel-heading">
      {#<p class="pull-right"><a href="{{path('admin_cloud_sms_account')}}" target="_blank">æ˜ç»†</a></p>	#}
      <h3 class="panel-title">{{'admin.edu_cloud.edu_im.rencent_seven_day_status'|trans}}</h3>
    </div>
    <div class="panel-body" id="im-data-tab" style="height: 250px;">
    {% if not setting('app_im.enabled') %}
      <div class="edu-verticalmiddle">
        <div class="edu-verticalmiddle-content text-muted">
          <p class="text-danger">{{'admin.edu_cloud.edu_im.start_open_instant_chat'|trans({'%openUrl%': path('admin_app_im')})|raw}}</p>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
</div>