{% import "TopxiaAdminBundle::macro.html.twig" as admin_macro %}
{% set target = 'normal_index' %}
<tr id="course-tr-{{ course.id }}">
  {% include 'OrgBundle:Org/Parts:table-body-checkbox.html.twig' %}
  <td>{{ course.id }}</td>
  <td>
    <a href="{{ path('course_show', {id:course.id}) }}" target="_blank"><strong>{{ course.title }}</strong></a>
    
    {% if course.type == 'live' %}
      <span class="label label-success live-label mls">直播</span>
    {% endif %}

    {% if filter == 'classroom' %}
      {% set classroom = classrooms[course.id]|default(null) %}
      {% if not classroom %}
        <span class="label label-danger live-label mls">已移除</span>
      {% endif %}
    {% endif %}
    <br>
    <span class="text-muted text-sm">分类：{{ category.name|default('--') }}</span>
    {% if course.recommended %}
      <span class="label label-default">荐:{{ course.recommendedTime|date('Y-m-d') }} / 序号:{{ course.recommendedSeq }}</span>
    {% endif %}

  </td>
  <td>{{ course.originPrice }}</td>
  {% include 'OrgBundle:Org/Parts:table-body-td.html.twig' with {orgCode: course.orgCode}%}
  <td>
    {% if  course.serializeMode =="none" %}
    <span class="text-info">非连载课程</span>
    {% elseif course.serializeMode =="serialize" %}
    <span class="text-info">连载中</span>
    {% elseif course.serializeMode =="finished" %}
    <span class="text-info">已完结</span>
    {% endif %}
  </td>
  {% if filter == 'classroom' %}
  <td>
    {% set classroom = classrooms[course.id]|default(null) %}
    {% if classroom %}
      <a href="{{path('classroom_show',{id:classroom.classroomId})}}" target="_blank">{{classroom.classroomTitle}}</a>
    {% endif %}
  </td>
  {% else %}
    <td>{{ course.studentNum }}</td>
  {% endif %}
  {% if filter == 'course' %}
    <td><span class="money-text">{{ course.income }}</span></td>
  {% elseif filter == 'vip' %}
    {% set vip = vips[course.vipLevelId]|default(null) %}
    <td>{% if vip %}{{ vip.name }}{% else %}该会员等级已删除{% endif %}</td>
  {% endif %}

  <td>{{ dict_text('courseStatus:html', course.status) }}</td>
  <td>
    {{ admin_macro.user_link(user) }}
    <br>
    <span class="text-muted text-sm">{{ course.createdTime|date('Y-n-d H:i') }}</span>
  </td>
  <td>
    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="{{ path('course_manage', {id:course.id}) }}" target="_blank">管理</a>

      {% include 'PermissionBundle:Templates:group-button.html.twig' with {parentCode: 'admin_course_manage', group:'groupButton', course: course} %}

    </div>
  </td>
</tr>
