{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set panel = 'dashboard' %}

{% block content %}

{% if error %}<div class="alert alert-error">{{error}}</div>{% endif %}


<div class="page-header"><h1>课程转让</h1></div>


<div class="alert">您正在设置《{{course.title}}》课程的创建人，当前课程的创建人为<strong>{{ author.nickname }}</strong>。</div>

<form method="post" class="form-horizontal">


  <div class="control-group">
    {{ form_label(form.to, '转让给', {label_attr:{class:'control-label'}}) }}
    <div class="controls">
      {{ form_widget(form.to, {attr: {class: 'input-xxlarge'}}) }}
      <div class="help-block">请输入昵称</div>
    </div>
  </div>

  <div class="form-actions">
      {{ form_rest(form) }}
      <input type="submit" class="btn btn-success" value="提交" />
  </div>
</form>



{% endblock %}