<div class="course-detail-content">
  <ul class="task-list task-list-md task-list-hover">
    {% for key, item in courseItems %}
      {% if item.type == 'chapter' %}
        <li class="task-item bg-gray-lighter"><i class="es-icon es-icon-menu left-menu"></i>
          <span class="text-overflow title">第{{ item.number }}
            章：{{ item.title }}</span>
          <i class="right-menu es-icon es-icon es-icon-anonymous-iconfont"></i>
        </li>
      {% elseif item.type == 'unit' %}
        <li class="task-item color-gray bg-gray-lighter">
          <span class="text-overflow title" >第{{ item.number }}
            节：{{ item.title }}</span>
          <i class="right-menu es-icon es-icon es-icon-anonymous-iconfont"></i>
        </li>
      {% elseif  item.type == 'lesson' %}
        {% for task in item.tasks %}
          {% set task_lock =  (not  task.result|default(null)) and (not course.isDefault) and course.learnMode  == 'lockMode' %}
          <li class="task-item task-content mouse-control">
            <i class="es-icon
              {% if task_lock %}
              es-icon-lock
              {% elseif  not task.result|default(null) %}
              es-icon-undone-check
              {% elseif task.result.status == 'start' %}
              es-icon-doing
              {% elseif task.result.status == 'finish' %}
              es-icon-iccheckcircleblack24px
              {% endif %}
              left-menu"></i>
            <a class="text-overflow title" href="{{ path('course_task_show',{courseId:task.courseId, id: task.id}) }}">
              {% if task.isFree %}  <span class="label label-warning mr10">免费</span> {% endif %}
              课时{{task.number }}：{{ task.title }}
            </a>
            <span class="right-menu mouse-leave">
              {{ task.activity.length|default(0)|activity_length_format }}
              {% set meta =  activity_meta(task.activity.mediaType) %}
              <i class="es-icon es-icon {{ meta.icon }}" data-toggle="tooltip" data-placement="top" title=""
                 data-original-title="{{ meta.name }}任务"></i>
            </span>
            <span class="right-menu mouse-enter">
                <a href="{{ path('course_task_show',{courseId:task.courseId, id: task.id}) }}" class="btn btn-primary btn-sm btn-learn">继续学习</a>
              </span>
          </li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
</div>



