{% extends 'activity/activity-form-layout.html.twig' %}

{% do script([cloud_sdk_url('uploader'), 'app/js/activity-manage/doc/index.js']) %}

{% block activity_content %}
  <div class="form-group">
    <div class="col-sm-2 control-label">
      <label for="mediaId" class="style control-label-required">{{'course.plan_task.activity_manage.doc'|trans}}</label>
    </div>
    <div class="col-sm-10">
      {% include 'file-chooser/file-choose.html.twig' with {
      mediaType: 'document',
      fileType:'document',
      file: doc.media|default(null),
      placeholder: 'course.plan_task.activity_manage.doc'|trans
      } %}
      <input type="hidden" value="{{ doc.mediaId|default(null) }}" name="mediaId" id="mediaId"/>
      <div id="file-choose-type" class="hidden" data-type="doc"></div>
    </div>
  </div>
{% endblock %}

{% block activity_finish %}
  <div class=" form-group">
    <div class="col-sm-2 control-label">
      <label for="condition-select">{{ 'course.plan_task.activity_manage.finished_condition'|trans }}</label>
    </div>
    <div class="col-xs-4 form-control-static">
      {{'course.plan_task.activity_manage.doc.watch_time'|trans}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2 control-label">
      <label for="condition-detail">{{ 'course.plan_task.activity_manage.doc.watch_time_at_least'|trans }}</label>
    </div>
    <div class="col-xs-4 controls">
      <input id="condition-detail" class="form-control" type="text" name="finishDetail" value="{{ doc.finishDetail|default(1) }}">
    </div>
    <div class="col-xs-4 controls">
      <p class="form-control-static">{{'site.date.minute'|trans}}</p>
    </div>
  </div>
{% endblock %}
