{% extends "activity/content-layout.html.twig" %}

{% do script(['web/activity/doc/index.js']) %}

{% block body %}
  {% if not error is empty %}
    <div class="content-text-body text-danger">
      {{ error.message|raw }}
    </div>
  {% else %}
    <div class="content" id="document-content" data-swf="{{ docMedia.swf }}" data-pdf="{{ docMedia.pdf }}"
         data-finish-type="{{ doc.finishType }}" data-finish-detail="{{ doc.finishDetail }}"
         {% if setting('magic.doc_watermark') %}data-watermark-url="{{ path('cloud_doc_watermark') }}"{% endif %}>
    </div>
  {% endif %}
{% endblock %}