{# 暂时去掉 by wenqin 2014/8/12 
<div class="online-contact" id="hhService" style="display:none">
  <div class="online-contact-content">
    <div class="online-contact-list">
      <div class="online-contact-title">
        <div class="online-contact-title_above">
          <img border="0" src="{{asset('/bundles/topxiaweb/img/contact/webchat.png')}}" /> 
          <span>{{contact.title}}</span>
          <a title="隐藏"></a></div>
        <div class="online-contact-title_below">
          <span>{{contact.worktime}}</span>
        </div>
        
      </div>
      
        <div class="online-contact-qq">
           {%  if contact.qq1 is not empty or contact.qq2 is not empty or contact.qq3 is not empty %}
           <div class="online_bar expand" id="onlineSort1">
              <h1><a id="1">QQ联系</a></h1>
              <div class="online_content overz" id="onlineType1">
                {%  if contact.qq1 is not empty %}
                <p>
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={{contact.qq1}}&site=edusoho&menu=yes" ><img border="0" src="{{asset('/bundles/topxiaweb/img/contact/qq24.png')}}" alt="点击这里给我发消息" title="点击这里给我发消息"/>在线客服</a>
                </p>
                {% endif %}

                 {%  if contact.qq2 is not empty %}
                <p>
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={{contact.qq2}}&site=edusoho&menu=yes"><img border="0" src="{{asset('/bundles/topxiaweb/img/contact/qq24.png')}}" alt="点击这里给我发消息" title="点击这里给我发消息"/>在线客服</a>
                </p>
                {% endif %}

                 {%  if contact.qq3 is not empty %}
                <p>
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={{contact.qq3}}&site=edusoho&menu=yes"><img border="0" src="{{asset('/bundles/topxiaweb/img/contact/qq24.png')}}" alt="点击这里给我发消息" title="点击这里给我发消息"/>在线客服</a>
                </p>
                {% endif %}
              </div>
          </div>
           {% endif %}

            {% if contact.qqgroup1 is not empty or  contact.qqgroup2 is not empty or  contact.qqgroup3 is not empty%}
            <div class="online_bar mycollapse" id="onlineSort2">
              <h1><a  id="2">QQ群联系</a></h1>
              <div class="online_content overz" id="onlineType2" style="display:none">  
            {% if contact.qqgroup1 is not empty %}
                <p>
                    <img border="0" src="{{asset('/bundles/topxiaweb/img/contact/qqgroup.png')}}" alt="加入ＱＱ群" title="加入ＱＱ群">
                    {{contact.qqgroup1 }}
                </p>
            {% endif %}

            {% if contact.qqgroup2 is not empty %}
                <p>
                    <img border="0" src="{{asset('/bundles/topxiaweb/img/contact/qqgroup.png')}}" alt="加入ＱＱ群" title="加入ＱＱ群">
                    {{contact.qqgroup2 }}
                </p>
            {% endif %}

            {% if contact.qqgroup3 is not empty %}
                <p>
                    <img border="0" src="{{asset('/bundles/topxiaweb/img/contact/qqgroup.png')}}" alt="加入ＱＱ群" title="加入ＱＱ群">
                    {{contact.qqgroup3 }}
                </p>
            {% endif %}
          </div>
        </div>
        {% endif %}

        {% if contact.hotline1 is not empty or contact.hotline2 is not empty  or contact.hotline3 is not empty %}
          <div class="online_bar mycollapse" id="onlineSort3">
              <h1><a id="3">热线电话</a></h1>
              <div class="online_content overz" id="onlineType3" style="display:none">  
            {% if contact.hotline1 is not empty %}
                <p>
                    <img border="0" src="{{asset('/bundles/topxiaweb/img/contact/telephone.png')}}" alt="Call us" title="Call us">
                    {{contact.hotline1}}
                </p>
            {% endif %}

            {% if contact.hotline2 is not empty %}
                 <p>
                    <img border="0" src="{{asset('/bundles/topxiaweb/img/contact/telephone.png')}}" alt="Call us" title="Call us">
                    {{contact.hotline2}}
                </p>
            {% endif %}

            {% if contact.hotline3 is not empty %}
                <p>
                    <img border="0" src="{{asset('/bundles/topxiaweb/img/contact/telephone.png')}}" alt="Call us" title="Call us">
                    {{contact.hotline3}}
                </p>
            {% endif %}
          </div>
        </div>
          {% endif %}

          {% if contact.webchat is not empty %}
        <div class="online_bar mycollapse" id="onlineSort4">
              <h1><a id="4">微信</a></h1>
              <div class="online_content overz" id="onlineType4" style="display:none">  
           
               <p>
                <img border="0" src="{{asset('/bundles/topxiaweb/img/contact/webchat24.png')}}" alt="微信" title="微信">
                <a href="#" class="hovera">{{contact.webchat}}</a>
               </p>
                <div class="displayimg">
                  <img  boarder="0" src="{{ asset(contact.webchatURI) }}" alt="微信二维码" title="微信二维码">
                </div>
                
          </div>
        </div>
        {% endif %}

          {% if contact.email is not empty %}
          <div class="online_bar mycollapse" id="onlineSort5">
              <h1><a id="5">电子邮件</a></h1>
              <div class="online_content overz" id="onlineType5" style="display:none">  
                <p>
                  <img border="0" src="{{asset('/bundles/topxiaweb/img/contact/email24.png')}}" alt="email" title="email" style="float:left;padding-left: 5px;">
                  <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                </p>
          
          </div>
        </div>
         {% endif %}
         
        </div>
      
      <div class="online-contact-bottom">
      </div>
    </div>
  </div>
  <div class="online-contact-show">
    <img border="0" src="{{asset('/bundles/topxiaweb/img/contact/webchat.png')}}" />    
    <div class="my_vertical">{{contact.title}}</div>
    <div class="arrow"></div>
  </div>
</div>
#}