<div class="course-detail-content">
  <ul class="task-list task-list-md task-list-hover">
    {% for key, item in courseItems %}
      {% if item.type == 'chapter' %}
        <li class="task-item bg-gray-lighter js-task-chapter"><i class="es-icon es-icon-menu left-menu"></i>
          <a href="javascript:void(0);" class="text-overflow title gray-dark">第{{ item.number }}
            章：{{ item.title }}</a>
          <i class="right-menu es-icon es-icon-remove js-remove-icon"></i>
        </li>
      {% elseif item.type == 'unit' %}
        <li class="task-item color-gray bg-gray-lighter">
          <span class="text-overflow title">第{{ item.number }}
            节：{{ item.title }}</span>
        </li>
      {% elseif  item.type == 'lesson' %}
        {% for task in item.tasks %}
          {% set task_lock =  false %}
          {% set file = files[task.activity.mediaId]|default(null) %}
          <li class="task-item task-content mouse-control">
            <i class="es-icon
              {% if task_lock %}
              es-icon-lock
              {% elseif  not task.result|default(null) %}
              es-icon-undone-check color-gray
              {% elseif task.result.status == 'start' %}
              es-icon-doing color-primary
              {% elseif task.result.status == 'finish' %}
              es-icon-iccheckcircleblack24px color-primary
              {% endif %}
              left-menu"></i>
            {% if task.status == 'published' %}              
              <a class="text-overflow title" {% if member %} href="{{ path('course_task_show',{courseId:task.courseId, id: task.id}) }}"{% else %}data-toggle="modal" data-url="{{ path('course_task_preview',{courseId:task.courseId, id: task.id}) }}" {% endif %}>
                {% include 'course/task-list/parts/list-li-title.html.twig' %}
              </a>
            {% else %}
              <span class="text-overflow title">
                {% include 'course/task-list/parts/list-li-title.html.twig' %}
              </span>
            {% endif %}
              <span class="right-menu mouse-leave">
              {{ task.activity.length|default(0)|activity_length_format }}
                {% set meta = activity_meta(task.activity.mediaType) %}
                <i class="{{ meta.icon }} color-gray" data-toggle="tooltip" data-placement="top" title=""data-original-title="{{ meta.name }}任务"></i>
              </span>
              <span class="right-menu mouse-enter">
                {% if task.status != 'published' %}
                  敬请期待
                {% endif %}
              </span>
          </li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
</div>



