<div class="course-detail-content">
  <ul class="task-list task-list-md task-list-hover">
    {% for key, item in courseItems %}
      {% if item.itemType == 'chapter' and item.type == 'chapter' %}
        <li class="task-item bg-gray-lighter"><i class="es-icon es-icon-menu left-menu"></i>
          <span class="text-overflow title">第{{ item.number }}
            章：{{ item.title }}</span>
          <i class="right-menu es-icon es-icon es-icon-anonymous-iconfont"></i>
        </li>
      {% elseif item.itemType == 'chapter'  and item.type == 'unit' %}
        <li class="task-item color-gray bg-gray-lighter">
          <span class="text-overflow title">第{{ item.number }}
            节：{{ item.title }}</span>
          <i class="right-menu es-icon es-icon es-icon-anonymous-iconfont"></i>
        </li>
      {% elseif  item.itemType == 'task' %}
        {% set task = item %}
        {% if  member is empty %}
          {% set task_lock = true %}
        {% else %}
          {% set task_lock =  (course.learnMode  == 'lockMode')  and (  task.number != 1 and  task.lock  ) %}
        {% endif %}
        {% set file = files[task.activity.mediaId]|default(null) %}
        <li class="task-item task-content mouse-control">
          <i class="es-icon
              {% if task_lock %}
              es-icon-lock
              {% elseif  not task.result|default(null) %}
              es-icon-undone-check color-gray
              {% elseif task.result.status == 'start' %}
              es-icon-doing color-primary
              {% elseif task.result.status == 'finish' %}
              es-icon-iccheckcircleblack24px color-primary
              {% endif %}
              left-menu"></i>
          {% if task.status == 'published' %}
          {% if member %}
          <a class="text-overflow title" href="{{ path('course_task_show',{courseId:task.courseId, id: task.id}) }}">
            {% else %}
            <a class="text-overflow title" href="#modal" data-toggle="modal"
               data-url="{{ path('course_task_preview',{courseId:task.courseId, id: task.id}) }}"
            >
              {% endif %}
              {% if task.isFree %}
                <span class="label label-success mr10">免费</span>
              {% elseif course.tryLookable and task.type == 'video' and file.storage|default('') == 'cloud' %}
                <span class="label label-warning mrm">{{ '试看'|trans }}</span>
              {% endif %}
              课时{{ task.number }}：{{ task.title }}
            </a>

            {% else %}
              <span class="text-overflow title">
            {% if task.isFree %}  <span class="label label-warning mr10">免费</span> {% endif %}
                课时{{ task.number }}：{{ task.title }}
            </span>
            {% endif %}
            <span class="right-menu mouse-leave">
            {% set meta =  activity_meta(task.activity.mediaType) %}
              {#{% if task.status != 'published' %}敬请期待{% endif %}#}
              {{ task.activity.length|default(0)|activity_length_format }}
              <i class="es-icon es-icon {{ meta.icon }}" data-toggle="tooltip" data-placement="top" title=""
                 data-original-title="{{ meta.name }}任务"></i>
            </span>
            <span class="right-menu mouse-enter">
             {% if task.status != 'published' %}敬请期待{% endif %}
          </span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>



