<div class="course-detail-content">
  {#暂时去除方形状模块#}
  {#{% if not isMarketingPage %} <div class="clearfix mbl"> <div class="btn-group pull-right js-task-show-type" role="tablist"> <a class="btn btn-default active" data-list=".js-task-list-ul" data-type="list"> <i class="es-icon es-icon-menu"></i> </a>
  <a class="btn btn-default" data-list=".js-task-chart-ul" data-type="chart"> <i class="es-icon es-icon-viewmodule"></i> </a> </div> </div> {% endif %}#}
  <ul class="task-list task-list-md task-list-hover js-task-list-ul">
    {# 选修任务不显示 #}
    {% for key, item in courseItems if not (item.itemType == 'task' and item.isOptional) %}
      {% if item.itemType == 'chapter' and item.type == 'chapter' %}
        <li class="task-item bg-gray-lighter js-task-chapter">
          <i class="es-icon es-icon-menu left-menu"></i>
          <a href="javascript:void(0);" class="title gray-dark">第{{ item.number }}{{ setting('default.chapter_name')|default('章'|trans) }}: {{ item.title }}</a>
          <i class="right-menu es-icon es-icon-remove js-remove-icon"></i>
        </li>
      {% elseif item.itemType == 'chapter' and item.type == 'unit' %}
        <li class="task-item color-gray bg-gray-lighter">
          <span class="title">第{{ item.number }}{{ setting('default.part_name')|default('节'|trans) }}: {{ item.title }}</span>
        </li>
      {% elseif item.itemType == 'task' %}
        {% set task = item %}
        {% if member is empty %}
          {% set task_lock = (course.learnMode == 'lockMode') %}
        {% else %}
          {% set task_lock = (course.learnMode == 'lockMode')and task.lock %}
        {% endif %}
        {% set file = files[task.activity.id]|default(null) %}
        <li class="task-item task-content mouse-control">
          <i
            class="es-icon
              {% if task_lock %}
              es-icon-lock
              {% elseif  not task.result|default(null)  or (member is empty) %}
              es-icon-undone-check color-gray
              {% elseif task.result.status == 'start' %}
              es-icon-doing color-primary
              {% elseif task.result.status == 'finish' %}
              es-icon-iccheckcircleblack24px color-primary
              {% endif %}
              left-menu"
            {% if  task_lock %}
              data-toggle="tooltip" data-trigger="hover" data-placement="top" title="需要解锁上一个任务才能学习"
            {% endif %} ></i>
          {% if course.status == 'published' and task.status == 'published' %}

            {% if member %}
              {% if not task_lock %}
                <a class="title" href="{{ path('course_task_show',{courseId:task.courseId, id: task.id}) }}">
                  {% include 'course/task-list/parts/list-li-title.html.twig' %}
                </a>
              {% else %}
                {#未解锁#}
                <span class="title">
                  {% include 'course/task-list/parts/list-li-title.html.twig' %}
                </span>
              {% endif %}

            {% else %}
              <span class="title">
                {% include 'course/task-list/parts/list-li-title.html.twig' %}
              </span>
              <span class="right-menu mouse-enter">
                {% if task.isFree %}
                  <a class="btn btn-primary" href="#modal" data-toggle="modal"
                    data-url="{{ path('course_task_preview',{courseId:task.courseId, id: task.id}) }}" style="margin-top:-8px">预览</a>
                {% elseif course.tryLookable and task.type == 'video' and file.storage | default('') == 'cloud' %}
                  <a class="btn btn-warning" href="#modal" data-toggle="modal"
                    data-url="{{ path('course_task_preview',{courseId:task.courseId, id: task.id}) }}" style="margin-top:-8px">试看</a>
                {% elseif (not task.isFree) and course.parentId | default(0) == 0 %}
                  {% if course.isFree %}
                    <a
                      style="margin-top:-8px"
                      class="btn btn-primary {% if previewAs|default() %}disabled{% endif %}"
                      {% if is_buy_course_from_modal(course.id) %}
                      href="#modal"
                      data-toggle="modal"
                      data-url="{{ path('course_buy', {id:course.id, targetType:'course'}) }}"
                    {% else %}
                      href="{{ path('order_show', {targetId:course.id, targetType:'course'}) }}"
                      {% endif %}>加入
                    </a>
                  {% else %}
                    <a class="btn btn-primary" href="#modal" data-toggle="modal"
                      data-url="{{ path('course_task_preview',{courseId:task.courseId, id: task.id}) }}" style="margin-top:-8px">购买</a>
                  {% endif %}
                {% endif %}
                </span>
            {% endif %}
            {% include 'course/task-list/parts/task-length.html.twig' %}
          {% else %}
            {#not published#}
            <span class="title">
                {% include 'course/task-list/parts/list-li-title.html.twig' %}
              </span>
            <span class="right-menu">
                敬请期待
              </span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  {#暂时去除方形状模块#}
  {#<ul class="task-list task-chart task-list-md task-list-hover clearfix hidden js-task-chart-ul">
		{% for key, item in courseItems %}
			{% if  item.itemType == 'task' %}
				{% set task = item %}
				{% if isMarketingPage or  member is empty %}
					{% set task_lock = true %}
				{% else %}
					{% set task_lock =  (course.learnMode  == 'lockMode')  and task.lock %}
				{% endif %}
				{% set file = files[task.activity.mediaId]|default(null) %}
				<li class="task-item task-content mouse-control">
					<i class="es-icon
              {% if task_lock %}
              es-icon-lock
              {% elseif  not task.result|default(null) %}
              es-icon-undone-check color-gray
              {% elseif task.result.status == 'start' %}
              es-icon-doing color-primary
              {% elseif task.result.status == 'finish' %}
              es-icon-iccheckcircleblack24px color-primary
              {% endif %}
              left-menu">
					</i>
					{% if task.status == 'published' %}
						{% if member %}
							{% if task_lock is empty %}
								<a class="title"
								   href="{{ path('course_task_show',{courseId:task.courseId, id: task.id}) }}">
									{% include 'course/task-list/parts/list-li-title.html.twig' %}
								</a>
							{% else %}
								<span class="title">
                  {% include 'course/task-list/parts/list-li-title.html.twig' %}
                </span>
							{% endif %}
						{% else %}
							<a class="title" href="#modal" data-toggle="modal"
							   data-url="{{ path('course_task_preview',{courseId:task.courseId, id: task.id}) }}">
								{% include 'course/task-list/parts/list-li-title.html.twig' %}
							</a>
						{% endif %}
						{% set meta =  activity_meta(task.activity.mediaType) %}
						<span class="es-icon es-icon {{ meta.icon }} right-menu task-type-icon" data-toggle="tooltip"
						      data-placement="top" title="" data-original-title="{{ meta.name }}任务"></span>
					{% else %}
						<span class="title">
              {% include 'course/task-list/parts/list-li-title.html.twig' %}
            </span>
						<span class="right-menu">
                敬请期待
              </span>
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>#}
</div>
