<div class="course-detail-content">

  {% if courseItems and courseItems[0]['seq'] != 1 %}
    <a class="js-up-more-link link-gray center-block text-center" href="javascript:" data-url="{{ path('course_task_paging_show', {courseId:course.id, offsetSeq:courseItems[0]['seq'] - 1, direction: 'up'}) }}">{{ 'my.learning.course.click_loading_more'|trans }}</a>
  {% endif %}

  <ul class="task-list task-list-md task-list-hover js-task-list-ul infinite-container">
    {# 选修任务不显示 #}
    {% for item in courseItems if not (item.itemType == 'task' and item.isOptional) %}
      {% set file = item.activity.ext.file|default() %}
      {% if item.itemType == 'chapter' %}
        <li class="task-item bg-gray-lighter js-task-chapter infinite-item">
          <i class="es-icon es-icon-menu left-menu"></i>
          <a href="javascript:" class="title gray-dark">{{ 'course.chapter'|trans({'%chapter_name%':course_chapter_alias('chapter')|trans,'%number%':item.number, '%title%':item.title}) }}</a>
          <i class="right-menu es-icon es-icon-remove js-remove-icon"></i>
        </li>
      {% elseif item.itemType == 'unit' %}
        <li class="task-item color-gray bg-gray-lighter infinite-item">
          <span class="title">{{ 'course.unit'|trans({'%part_name%':course_chapter_alias('part')|trans,'%number%':item.number, '%title%':item.title}) }}</span>
        </li>
      {% elseif item.itemType == 'task' %}
        {% set task = item %}
        {% set isOvertime = (course.buyExpiryTime and course.buyExpiryTime < 'now'|date('U')) or (course.expiryEndDate and course.expiryEndDate < 'now'|date('U')) %}
        {% if member is empty %}
          {% set task_lock = (course.learnMode == 'lockMode') %}
        {% else %}
          {% set task_lock = (course.learnMode == 'lockMode')and task.lock %}
        {% endif %}
        <li class="task-item task-content mouse-control infinite-item">
          <i class="es-icon
            {% if task_lock %}
            es-icon-lock
            {% elseif  not task.result|default(null)  or (member is empty) %}
            es-icon-undone-check color-gray
            {% elseif task.result.status == 'start' %}
            es-icon-doing color-primary
            {% elseif task.result.status == 'finish' %}
            es-icon-iccheckcircleblack24px color-primary
            {% endif %}
              left-menu"
            {% if  task_lock %}
              data-toggle="tooltip" data-trigger="hover" data-placement="top" title="{{ 'course.task.lock_tips'|trans }}"
            {% endif %} ></i>
          {% if course.status == 'published' and task.status == 'published' %}

            {% if member %}
              {% if not task_lock %}
                <a class="title" href="{{ path('course_task_show',{courseId:task.courseId, id: task.id}) }}">
                  {% include 'course/task-list/parts/list-li-title.html.twig' %}
                </a>
              {% else %}
                {#未解锁#}
                <span class="title">
                  {% include 'course/task-list/parts/list-li-title.html.twig' %}
                </span>
              {% endif %}

            {% else %}
              <span class="title">
                {% include 'course/task-list/parts/list-li-title.html.twig' %}
              </span>
              <span class="right-menu mouse-enter">
                {% if courseSet.status | default('published') == 'published' %}
                  {% if task.isFree %}
                    <a class="btn btn-primary" href="#modal" data-toggle="modal"
                      data-url="{{ path('course_task_preview',{courseId:task.courseId, id: task.id}) }}" style="margin-top:-8px">{{ 'course.catalogue.task.preview_btn'|trans }}</a>
                  {% elseif task.tryLookable %}
                    <a class="btn btn-warning" href="#modal" data-toggle="modal"
                      data-url="{{ path('course_task_preview',{courseId:task.courseId, id: task.id}) }}" style="margin-top:-8px">{{ 'course.catalogue.task.try_look_btn'|trans }}</a>
                  {% elseif (not task.isFree) and course.parentId | default(0) == 0 %}
                    {% if course.isFree %}
                      {% if not isOvertime %}
                        <a style="margin-top:-8px" class="btn btn-primary js-task-buy-btn" href="javascript:" data-url="{{ path('course_buy', {id:course.id}) }}">{{ 'course.catalogue.task.join_btn'|trans }}</a>
                      {% endif %}
                    {% elseif not isOvertime %}
                      <a class="btn btn-primary" href="#modal" data-toggle="modal"
                        data-url="{{ path('course_task_preview',{courseId:task.courseId, id: task.id}) }}" style="margin-top:-8px">{{ 'course.catalogue.task.buy_btn'|trans }}</a>
                    {% endif %}
                  {% endif %}
                {% endif %}
              </span>
            {% endif %}

            {% include 'course/task-list/parts/task-length.html.twig' %}
          {% else %}
            {#not published#}
            <span class="title">
                {% include 'course/task-list/parts/list-li-title.html.twig' %}
              </span>
            <span class="right-menu">
                {{ 'course.catalogue.task_status.looking_forward'|trans }}
              </span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if nextOffsetSeq|default(0) %}
    <a class="infinite-more-link js-down-loading-more" href="{{ path('course_task_paging_show', {courseId:course.id, offsetSeq:nextOffsetSeq}) }}"></a>
  {% endif %}
</div>
