<li id="chapter-{{lesson.id}}" class="task-manage-item drag task-manage-{{lesson.type}} js-task-manage-{{lesson.type}}  clearfix" style="border: none;">
  <div class="chapter-item clearfix mbm">
    <div class="item-line"></div>
    <div class="item-content">
      {{'course.plan_task.which_lesson'|trans({'%chapterNumber%':lesson.number, '%title%':lesson.title|sub_text(30)})|raw }}
    </div>
    <div class="item-actions">
      <a class="btn gray-darker" href="#" data-toggle="modal" data-target="#modal" data-type="task" data-position="{{lesson.id}}" data-url="{{ path('course_manage_task_create', {courseId:course.id, categoryId: lesson.id}) }}">
        <i class="es-icon es-icon-anonymous-iconfont mrs"></i> {{'course.plan_task.create_task'|trans }}
      </a>
    {% include 'lesson-manage/chapter/action.html.twig' with {
      chapter: lesson,
      chapterId: lesson.id,
      course: course, 
      collapse: 0,
      } %}
    </div>
  </div>
  <ul style="list-style-type: none;" class="js-lesson-box">
    {% include 'lesson-manage/normal/tasks.html.twig' with {
      tasks: lesson.tasks|default(),} %}
  </ul>
</li>
