<a class="cd-mr24" href="javascript:;" data-toggle="modal" data-target="#modal" data-url="{{ path('course_manage_lesson_update', {courseId:course.id, lessonId:lesson.id}) }}">
  <i class="es-icon es-icon-edit"></i>
</a>

<div class="cd-dropdown" data-toggle="cd-dropdown" data-trigger="hover">
  <a class="cd-link-assist" href="javascript:;">
    <i class="es-icon es-icon-morehoriz"></i>
  </a>
  {% set status = lesson.status|default('create') == 'published' ? 1 : 0 %}
  <ul class="dropdown-menu task-manage-item__dropdown">
    <li>
      <a class='publish-item {% if status == 1 %}hidden{% endif %}' href="javascript:;" data-type="chapter" data-url="{{ path('course_manage_lesson_publish', {courseId:course.id, lessonId:lesson.id}) }}">
        {{'course.plan_task.publish_btn'|trans}}
      </a>
    </li>
    <li>
      <a class='unpublish-item {% if status != 1 %}hidden{% endif %}' href="javascript:;" data-type="chapter" data-url="{{ path('course_manage_lesson_unpublish', {courseId:course.id, lessonId:lesson.id}) }}">
        {{'course.plan_task.unpublish_btn'|trans}}
      </a>
    </li>
    <li>
      <a class="js-delete {% if status == 1 %}hidden{% endif %}" href="javascript:;" data-type="chapter" data-name="{{ ('site.data.' ~ lesson.type)|trans }}" data-url="{{ path('course_manage_chapter_delete', {courseId:course.id, chapterId:lesson.id}) }}">
        {{ 'form.btn.delete'|trans }}
      </a>
    </li>
  </ul>
</div>
