<li id="chapter-{{chapter.id}}" class="task-manage-item drag task-manage-{{chapter.type}} js-task-manage-{{chapter.type}}  clearfix" style="border: none;">
  <div class="chapter-item clearfix mbm" style="border: 1px solid #c1c1c1;">
    <div class="item-content">
      {{'course.plan_task.which_lesson'|trans({'%chapterNumber%':chapter.number, '%title%':chapter.title|sub_text(30)})|raw }}
    </div>
    <div class="item-actions">
      <a class="btn gray-darker" href="#" data-toggle="modal" data-target="#modal" data-type="task" data-position="{{chapter.id}}" data-url="{{ path('course_manage_task_create', {courseId:course.id, categoryId: chapter.id}) }}">
        <i class="es-icon es-icon-anonymous-iconfont mrs"></i> {{'course.plan_task.create_task'|trans }}
      </a>
    {% include 'lesson-manage/chapter/action.html.twig' with {courseId: course.id, chapterId: chapter.id} %}
    </div>
  </div>
  <ul style="list-style-type: none;" class="js-lesson-box">
    {% include 'lesson-manage/normal/tasks.html.twig' with {tasks: chapter.tasks|default()} %}
  </ul>
</li>
