{{ set_js_injection({'sign' : 'sign/sign'}) }}
<div style="display:block;height:200px; width:auto;background-color: #fff;"  class="well">
  <div>亲爱的&nbsp;&nbsp;&nbsp;<span style="color:red;font-size:16px">{{user.truename}}</span>&nbsp;&nbsp;&nbsp;同学
  </div>
  {% if classMember %}
  <div style="margin:10px 0 10px 0">
    我的学分 <span style="color:red">{{user.point}}</span> 
    <div class="pull-right">
      学分排名<span style="color:red"> {{ classMember.currentRank }}</span>
      {% if classMember.lastRank - classMember.currentRank > 0 %}
        <span class="glyphicon glyphicon-arrow-up" style="color:green" title="比昨日上升了{{ classMember.lastRank - classMember.currentRank }}名,击败了{{classMember.rate}}的同学" />
      {% elseif classMember.lastRank - classMember.currentRank < 0 %}
        <span class="glyphicon glyphicon-arrow-down" style="color:red" title="比昨日下降了{{ classMember.lastRank - classMember.currentRank }}名, 击败了{{classMember.rate}}的同学"/>
      {% else %}
        <span class="glyphicon glyphicon-minus text-muted" title="击败了{{classMember.rate}}的同学"/>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if nextCourse %}
    <a style="margin:10px 0 10px 0" href="{{ path('course_learn', {id:nextCourse.id}) ~ '#lesson/' ~ nextLesson.id }}">上次正在学习《{{nextCourse.title}}》 课时 {{ nextLesson.title}}</a>
  {% else %}
    <a style="margin:10px 0 10px 0" href="{{ path('class_courses', {classId:class.id})}}">还开始学习课程，快去学习吧!</a>
  {% endif %}


<div style="margin:20px 0; ">

  <div class="class-sign class-sign-finished">
    <div class="date-col">
      <div class="dayofweek">周{{ 'now'|day_of_week }}</div>
      <div class="date">{{ 'now'|date('m-d') }}</div>
    </div>

    <div class="action-col">
    <div id="class-sign" data-records="{{ path('signed_records', {'classId':class.id,'userId':app.user.id})}}" data-signurl="{{ path('user_sign', {'classId':class.id,'userId':app.user.id}) }}">
    <div>
      {% if not isSignedToday %}
        <button class="btn btn-primary btn-block" data-role="sign">签到</button>
      {% else %}
        <button class="btn btn-primary btn-block sign-btn" data-role="signed" onclick="return false;">已签</button>
      {% endif %}
    </div>
    
    <div class="class_sign_main" style="display:none">
      <div class="">
        <div class="calendar_title_month clearfix">
          <span class="pull-left glyphicon glyphicon-chevron-left title-margin" data-role="previous"></span>
          <span class="pull-right glyphicon glyphicon-chevron-right title-margin disabled-next" data-role="next"></span>
          <div class="text-center title-month title-margin" data-time="{{ "now"|date('Y/m') }}" id="title-month">{{ "now"|date('Y年m月') }}
          </div>
        </div>
        
        <table class="sign_succ_table ">
          <thead align="center">
            <tr class="sign_succ_canlerdar_head">
              <td>日</td><td>一</td><td>二</td><td>三</td><td>四</td><td>五</td><td>六</td>
            </tr>
          </thead>
          <tbody align="center" class="sign_succ_canlerdar_days j_canlerdar_days">

          </tbody>
        </table>
      </div>
      <div class="sign_tip_boards">
        <div class="sign_tip_board sign_tip_board_urank j_sign_ad_mobi">
          <p>签到排名：今日本班第<span class="" id="todayRank"></span>个签到</p>
        </div>
        <div class="sign_tip_board sign_tip_board_barrank">
          <p>本班签到人数：<span class="" id="signedNum"></span></p>
        </div>
        <div class="sign_tip_board sign_tip_board_barrank">
          <p>连续签到：<span class="" id="keepDays"></span>天</p>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>

</div>

  {# <div id="class-sign" data-records="{{ path('signed_records', {'classId':class.id,'userId':app.user.id})}}" data-signurl="{{ path('user_sign', {'classId':class.id,'userId':app.user.id}) }}">
    <div>
      {% if not isSignedToday %}
        <button class="btn btn-primary btn-block" data-role="sign">签到</button>
      {% else %}
        <button class="btn btn-primary btn-block sign-btn " data-role="signed" onclick="return false;">已签</button>
      {% endif %}
    </div>
    
    <div class="class_sign_main" style="display:none">
      <div class="">
        <div class="calendar_title_month clearfix">
          <span class="pull-left glyphicon glyphicon-chevron-left title-margin" data-role="previous"></span>
          <span class="pull-right glyphicon glyphicon-chevron-right title-margin disabled-next" data-role="next"></span>
          <div class="text-center title-month title-margin" data-time="{{ "now"|date('Y/m') }}" id="title-month">{{ "now"|date('Y年m月') }}
          </div>
        </div>
        
        <table class="sign_succ_table ">
          <thead align="center">
            <tr class="sign_succ_canlerdar_head">
              <td>日</td><td>一</td><td>二</td><td>三</td><td>四</td><td>五</td><td>六</td>
            </tr>
          </thead>
          <tbody align="center" class="sign_succ_canlerdar_days j_canlerdar_days">

          </tbody>
        </table>
      </div>
      <div class="sign_tip_boards">
        <div class="sign_tip_board sign_tip_board_urank j_sign_ad_mobi">
          <p>签到排名：今日本班第<span class="" id="todayRank"></span>个签到</p>
        </div>
        <div class="sign_tip_board sign_tip_board_barrank">
          <p>本班签到人数：<span class="" id="signedNum"></span></p>
        </div>
        <div class="sign_tip_board sign_tip_board_barrank">
          <p>连续签到：<span class="" id="keepDays"></span>天</p>
        </div>
      </div>
    </div>
  </div> #}

</div>



