<div style="display:block;height:200px; width:auto;"  class="well">
  <div>亲爱的&nbsp;&nbsp;&nbsp;<span style="color:red;font-size:16px">张三三</span>&nbsp;&nbsp;&nbsp;同学
  </div>
  <div style="margin:10px 0 10px 0">
    我的学分 <span style="color:red">45</span> 
    <div class="pull-right">
      学分排名<span style="color:red"> 23 <span>
      <span class="glyphicon glyphicon-arrow-up" style="color:green" />
    </div>
  </div>

  <div id="class-sign" data-records="{{ path('signed_records', {'classId':class.id,'userId':app.user.id})}}" data-signurl="{{ path('user_sign', {'classId':class.id,'userId':app.user.id}) }}">
    <div class="sign_wapper">
      {% if not isSignedToday %}
      <a class="btn btn-primary" data-role="sign">签到</a>
      {% else %}
      <a class="btn btn-primary" data-role="signed" onclick="return false;">已签到</a>
      {% endif %}
      <span class="pull-right">
        {{ "now"|date('m月d日')}}<br>
      </span>
    </div>
    
    <div class="class_sign_main">
      <div class="">
        <div class="calendar_title_month clearfix">
          <span class="pull-left glyphicon glyphicon-chevron-left title-margin" data-role="previous"></span>
          <span class="pull-right glyphicon glyphicon-chevron-right title-margin" data-role="next"></span>
          <div class="text-center title-month title-margin" data-time="{{ "now"|date('Y/m') }}" id="title-month">{{ "now"|date('Y年m月') }}
          </div>
        </div>
        
        <table class="sign_succ_table ">
          <thead align="center">
            <tr class="sign_succ_canlerdar_head">
              <td>日</td><td>一</td><td>二</td><td>三</td><td>四</td><td>五</td><td>六</td>
            </tr>
          </thead>
          <tbody align="center" class="sign_succ_canlerdar_days j_canlerdar_days">

          </tbody>
        </table>
      </div>
      <div class="sign_tip_boards">
        <div class="sign_tip_board sign_tip_board_urank j_sign_ad_mobi">
          <p>签到排名：今日本班第<span class="" id="todayRank"></span>个签到</p>
        </div>
        <div class="sign_tip_board sign_tip_board_barrank">
          <p>本班签到人数：<span class="" id="signedNum"></span></p>
        </div>
        <div class="sign_tip_board sign_tip_board_barrank">
          <p>连续签到：<span class="" id="keepDays"></span>天</p>
        </div>
      </div>
    </div>
  </div>

</div>



