<div class="tab-content">
  <div class="tab-pane fade active in" id="detail">
    <table class="table cd-table table-striped order-detail-table">
      <tr> <td width="25%">{{'order.id'|trans}}</td> <td width="75%">{{ order.sn }}</td> </tr>
      <tr> <td width="25%">{{'order.status'|trans}}</td>
           <td width="75%">
             {{ dict_text('orderStatus', order.status) }}
           </td>
      </tr>
      <tr>
        <td width="25%">{{'order.name'|trans}}</td>
        <td width="75%">
          {% for item in orderItems  %}
            《{{ item.title }}》
          {% endfor %}

        </td>
      </tr>
      <tr> <td width="25%">{{'order.buyers'|trans}}</td>
        <td width="75%">
          <strong>
            {{ web_macro.user_link(user) }}
          </strong>
        </td>
      </tr>
      <tr> <td width="25%">{{'order.price'|trans}}</td>
        <td width="75%">
          <span class="color-warning">{{ order.price_amount }}</span>
          {% if paymentTrade.currency|default('') == "RMB" %}
          {{'site.currency.CNY'|trans}}
          {% elseif paymentTrade.currency|default('') == "Coin" %}
          {{setting("coin.coin_name")}}
          {% endif %}
        </td>
      </tr>
      {#<tr> <td width="25%">{{'plugin.coupon.code'|trans}}</td>#}
        {#<td width="75%">#}
          {#{% if order.coupon %}{{ order.coupon }}{% else %}{{'site.data.empty'|trans}}{% endif %}#}
        {#</td>#}
      {#</tr>#}
      <tr> <td width="25%">{{'plugin.coupon.amount'|trans}}</td>
        <td width="75%">
          <span class="color-warning">{{ order.price_amount - order.pay_amount }}</span>
          {% if paymentTrade.currency|default('') == "RMB" %}
          {{'site.currency.CNY'|trans}}
          {% elseif paymentTrade.currency|default('') == "Coin" %}
          {{setting("coin.coin_name")}}
          {% endif %}
        </td>
      </tr>
      {#<tr> <td width="25%">{{'order.real_pay'|trans}}</td>
        <td width="75%">
          <span class="color-warning">{{ order.totalPrice }}</span>
          {% if order.priceType == "RMB" %}
          {{'site.currency.CNY'|trans}}
          {% elseif order.priceType == "Coin" %}
          {{setting("coin.coin_name")}}
          {% endif %}
        </td>
      </tr>#}
      {% if setting("coin.coin_enabled")|default(0) == 1 %}
      <tr>
        <td width="25%">
          {% trans with {'%coin_name%': setting('coin.coin_name')|default("finance.coin"|trans)} %}order.payment_pattern.coin{% endtrans %}
        </td>
        <td width="75%">
          <span class="color-warning">{{ paymentTrade.coin_amount|default(0) }}</span> {{setting("coin.coin_name")}}
        </td>
      </tr>
      {% endif %}
      <tr> <td width="25%">{{'order.payment_pattern.cash'|trans}}</td>
        <td width="75%">
          <span class="color-warning">{{ order.pay_amount }}</span> {{'site.currency.CNY'|trans}}
        </td>
      </tr>
      <tr> <td width="25%">{{'order.payment_pattern'|trans}}</td>
           <td width="75%">
             {% if order.payment == 'none' %}
               --
             {% else %}
               {{ dict_text('payment', order.payment, '--') }}
             {% endif %}
           </td>
      </tr>
      <tr> <td width="25%">{{'order.created_time'|trans}}</td> <td width="75%">{{ order.created_time | date('Y-n-d H:i:s') }}</td> </tr>
      {% if order.status == 'paid' %}
        <tr> <td width="25%">{{'order.pay_time'|trans}}</td> <td width="75%">{% if not order.pay_time == 0 %} {{ order.pay_time | date('Y-n-d H:i:s') }} {% endif %}</td> </tr>
        {% if order.sn %}
          <tr> <td width="25%">{{'order.token_id'|trans}}</td> <td width="75%">{{order.sn}}</td> </tr>
        {% endif %}
      {% endif %}
      {#<tr>#}
        {#<td width="25%">{{'user.orders.detail.special_operations'|trans}}</td>#}
        {#<td width="75%">{{ order.edit[0]|default('--') }}</td>#}
      {#</tr>#}
    </table>
  </div>

  <div class="tab-pane fade" id="log">
    {% if orderLogs %}
      <table class="table cd-table">
        <thead>

          <tr>
            <td width="50%">{{'user.orders.detail.log_info'|trans}}</td>
            <td width="25%">{{'user.orders.detail.operator'|trans}}</td>
            <td width="25%">{{'user.orders.detail.log_createdTime'|trans}}</td>
          </tr>
        </thead>
        <tbody>
          {% for orderLog in orderLogs %}
            {% set logUser = users[orderLog.user_id]|default(null) %}
            <tr>
              <td>
                {{ orderLog.deal_data.message|default('')|plain_text(50) }}
                <br>
                <span class="color-gray text-sm">{{ orderLog.status }}</span>
              </td>
              <td>
                {% if logUser %}
                  {{ web_macro.user_link(logUser) }}
                {% else %}
                  --
                {% endif %}
              </td>
              <td>
                {{ orderLog.created_time|date('Y-n-d H:i')}}
                <br>
                <span class="color-gray text-sm">{{ orderLog.deal_data.ip|default('--')}}</span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="cd-empty">{{'user.orders.detail.empty'|trans}}!</div>
    {% endif %}
  </div>
</div>