{% extends 'my-order/layout.html.twig' %}

{% set script_controller = 'my/orders' %}

{% set main_nav = 'orders' %}

{% block main_body %}
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" {% if app.request.query.get('status')=='' %}class="active"{% endif %}><a href="{{path('my_orders',{status:''})}}">{{'user.orders.all_orders'|trans}}</a></li>
    <li role="presentation" {% if app.request.query.get('status')=='created' %}class="active"{% endif %}><a href="{{path('my_orders',{status:'created'})}}">{{'user.orders.created_status'|trans}}<span class="badge">{{waitToBePaidCount}}</span></a></li>
    <li role="presentation" {% if app.request.query.get('status')=='paid' %}class="active"{% endif %}><a href="{{path('my_orders',{status:'paid'})}}">{{'user.orders.paid_status'|trans}}</a></li>
  </ul>
  <br>
  <form id="user-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
    <input type="hidden" name="status" value="{{app.request.query.get('status')}}">
    <div class="form-group">
      <select class="form-control" name="lastHowManyMonths"  onchange="submit();" >
        {% set options = {'oneWeek':'site.dategrid.filter.last_one_week'|trans,'twoWeeks':'site.dategrid.filter.last_two_week'|trans,'oneMonth':'site.dategrid.filter.last_one_month'|trans,'twoMonths':'user.last_two_month'|trans,'threeMonths':'site.dategrid.filter.last_three_month'|trans,'':'site.dategrid.filter.all_records'|trans} %}
        {{ select_options(options, request.get('lastHowManyMonths')) }}
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" name="payWays"  onchange="submit();" >

        {% set options = {'alipay':'order.payment_pattern.alipay'|trans,'wxpay':'order.payment_pattern.wxpay'|trans,'heepay':'order.payment_pattern.heepay'|trans,'quickpay':'order.payment_pattern.quickpay'|trans,'llpay':'order.payment_pattern.llpay'|trans,'none':'order.payment_pattern.other'|trans,'':'order.payment_pattern'|trans} %}
        {{ select_options(options, request.get('payWays')) }}
      </select>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-striped table-hover" id="orders-table">
      {% include 'order/order-table.html.twig' with {mode: 'my'} %}
    </table>
  </div>
{{ web_macro.paginator(paginator) }}
{% endblock %}