{% import "common/data-dict-macro.html.twig" as dict_macro %}
{% extends 'my-order/layout.html.twig' %}

{% block title %}{{'user.orders.refund_record_title'|trans}} - {{ parent() }}{% endblock %}
{% set main_nav = 'refunds' %}

{% block main_body %}

  {% if refunds %}
    <table class="table table-striped table-hover" id="refunds-table">
    	<thead>
    		<th>{{'user.orders.refund_order'|trans}}</th>
    		<th>{{'user.orders.refund_apply_time'|trans}}</th>
    		<th>{{'user.orders.refund_status'|trans}}</th>
    	</thead>
    	<tbody>
    		{% for refund in refunds %}
    		  {% set order = orders[refund.orderId] %}
    		  <tr>
      		  <td>
              {% if order.targetType == 'course' %}
                <a class="link-primary" href="{{ path('course_show', {id:order.targetId}) }}" target="_blank">{{ order.title }}</a>
              {% elseif order.targetType == 'vip' %}
        		    <a class="link-primary" href="{{ path('vip', {id:order.targetId}) }}" target="_blank">{{ order.title }}</a>
              {% else %}
                {{ order.title }}
              {% endif %}
      		    <div class="text-sm color-gray">{{'user.orders.refund_id'|trans({'%sn%':order.sn})}}</div>
      		  </td>
      		  <td>
      		  	{{ refund.createdTime|date('Y-n-d H:i') }}
      		  </td>
      		  <td>
              {{ dict_macro.refundStatus(refund.status) }}
      		  </td>
    		  </tr>
    		{% endfor %}
  		</tbody>
  	</table>
    {{ web_macro.paginator(paginator) }}
  {% else %}
    <div class="empty">{{'user.orders.refund_empty'|trans}}</div>
  {% endif %}

{% endblock %}