
{% if member.locked|default("0") == "1" %}
<div class="row">
  <div class="col-md-12">
    <div class="mtl alert alert-warning">
      您的退款申请已提交，请等待管理员的处理。
      <button class="btn btn-warning btn-sm cancel-refund" data-url="{{ path('order_cancel_refund', {id:classroom.id, targetType:"classroom"}) }}">取消退款，继续学习！</button>
    </div>
  </div>
</div>
{% endif %}

<section class="class-header before">
  <div class="container">
    <div class="class-header-mian">
      <div class="class-bg-layer"></div>
      <div class="class-bg-layer two"></div>
      <div class="class-header-bg clearfix">
        <div class="class-img">
          <img src="{{ default_path('classroomPicture',classroom.largePicture, 'large') }}" alt="{{ classroom.title }}" href="{{path('classroom_show',{id:classroom.id})}}">
        </div>
        <div class="class-info">
          <h2 class="title">{{ classroom.title }}</h2>
          <div class="metas">
            {% include 'TopxiaWebBundle:Review/Widget:star.html.twig' with {score:classroom.rating, num:classroom.ratingNum} %}
          </div>
          <ul class="class-data hidden-sm clearfix">
            <li>
              <i class="es-icon es-icon-person"></i><br>学员({{classroom.studentNum + classroom.auditorNum }})
            </li>
            <li>
              <i class="es-icon es-icon-book"></i><br>课程({{classroom.courseNum}})
            </li>
            <li>
              <span class="es-share top">
                <a class="dropdown-toggle" href="" data-toggle="dropdown"  aria-labelledby="dropdownMenu1">
                  <i class="es-icon es-icon-share"></i>
                </a>
                    {% include 'TopxiaWebBundle:Common:share-dropdown.html.twig' with {type:'classroom'} %}
              </span>
              <br>分享
            </li>
          {% if classroomMemberLevel %}

          {% if checkMemberLevelResult == 'not_login' %}
            <li class="active" data-toggle="tooltip" data-placement="top" title="{{ classroomMemberLevel.name }}免费学">
              <i class="es-icon es-icon-crown"></i><br> <a href="{{ path('login') }}" >会员</a>
            </li> 
          {% elseif checkMemberLevelResult in ['not_member', 'member_expired'] %}
              <li class="active" data-toggle="tooltip" data-placement="top" title="{{ classroomMemberLevel.name }}免费学">
              <i class="es-icon es-icon-crown"></i><br>            
              <a href="{{ path('vip_buy') }}">会员</a>  
              </li> 

          {% elseif checkMemberLevelResult == 'level_low' %}
           <li class="active" data-toggle="tooltip" data-placement="top" title="{{ classroomMemberLevel.name }}免费学">
              <i class="es-icon es-icon-crown"></i><br><a  href="{{ path('vip_upgrade', {level:classroomMemberLevel.id}) }}" >会员</a>
            </li> 
            
          {% elseif checkMemberLevelResult == 'ok' %}
            <li class="active" data-toggle="tooltip" data-placement="top" title="{{ classroomMemberLevel.name }}免费学">
              <i class="es-icon es-icon-crown"></i><br><a href="{{ path('classroom_vip_buy', {id:classroom.id}) }}" >会员</a>
            </li> 
          {% endif %}

          {% else %}
            <li data-toggle="tooltip" data-placement="top" title="会员免费学">
              <i class="es-icon es-icon-crown"></i><br>会员
            </li>
          {% endif %}
          </ul>

          <div class="bottom-metas clearfix">
            <div class="class-serve hidden-sm hidden-xs">
              <div class="serve-frame">
                承<br>诺<br>服<br>务
              </div>
              {% include 'ClassroomBundle:Classroom:service-block.html.twig' with {'services':classroom.service }%}
            </div>

            <div class="btn-buy">
            {% if classroom.price > 0 and not canFreeJoin  %}
              <a class="btn btn-link" href="{{path('order_show',{targetId:classroom.id,targetType:'classroom'})}}">加入购买</a>
              <a class="btn btn-primary btn-lg" href="{{path('classroom_become_auditor',{id:classroom.id})}}">进去逛逛</a>
            {% else %}
              <a class="btn btn-primary btn-lg"  href="{{path('order_show',{targetId:classroom.id,targetType:'classroom'})}}"
              {% if canFreeJoin %}
              data-toggle="tooltip"
              data-placement="top"
              title="您之前已购买了本{{setting('classroom.name')}}的所有收费课程，可免费学习！"
              {% endif %}
              >免费加入</a>
            {% endif %}
            </div>

          </div>
        </div>
        <div class="price">
          价格： 
         <span>
            {% if setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin' %}
                {% if classroom.price > 0 %}
               {{classroom.price * setting('coin.cash_rate') }} {{setting('coin.coin_name')}}
                {% else %}
                免费
                {% endif %}
            {% else %}
              {% if classroom.price > 0 %}
                {{ classroom.price }}元
              {% else %}
                免费
              {% endif %}
            {% endif %}
        </span>
        </div>
      {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('classroom_manage',{id:classroom.id})}}" class="setting" title="{{ setting('classroom.name')|default("班级") }}管理">
          <i class="es-icon es-icon-setting"></i>
        </a>
      {% endif %}

      </div>
    </div>
  </div>
</section>                
