<section class="class-header after {% if member.role == 'auditor'%} auditor{% endif %}">
  <div class="container">
    <div class="class-header-mian">
      <div class="class-bg-layer"></div>
      <div class="class-bg-layer two"></div>
      <div class="class-header-bg clearfix">
        <div class="class-img">
          <img src="{{ default_path('classroomPicture',classroom.largePicture, 'large') }}" alt="{{ classroom.title }}" href="{{path('classroom_show',{id:classroom.id})}}">
        </div>
        <div class="class-info">
          <h2 class="title">{{ classroom.title }}</h2>
          <div class="metas">
            <div class="score">
                  {% if ( classroom.rating )|number_format == 0 %}
                          {% else %}
                              {% for i in  1.. (classroom.rating)|number_format %}
                                  <i class="es-icon es-icon-star"></i>
                              {% endfor %}
                          {% endif %}

                          {% if (classroom.rating)|number_format == 5 %}
                          {% else %}
                              {% for i in  (classroom.rating)|number_format..4  %}
                                  <i class="es-icon es-icon-staroutline"></i>
                              {% endfor %}
                  {% endif %}
              <span>({{classroom.ratingNum}}评价)</span>
            </div>
          </div>
          <div class="class-serve hidden-sm hidden-xs">
            <div class="serve-frame">
              承<br>诺<br>服<br>务
            </div>
            {% include 'ClassroomBundle:Classroom:service-block.html.twig' with {'services':classroom.service} %}
          </div>
          <div class="class-auditor visible-sm">
            您现在是旁听生，不能完整学习<i class="es-icon es-icon-help color-p"></i><br>
            <a href="{{path('order_show',{targetId:classroom.id,targetType:'classroom'})}}">立即加入购买</a> <span>价格： {% if setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin' %}
                {% if classroom.price > 0 %}
               {{classroom.price * setting('coin.cash_rate') }} {{setting('coin.coin_name')}}
                {% else %}
                免费
                {% endif %}
            {% else %}
              {% if classroom.price > 0 %}
                {{ classroom.price }}元
              {% else %}
                免费
              {% endif %}
            {% endif %}</span>
          </div>
        </div>
        <div class="class-operation">
          <ul class="class-data clearfix">
            <li><i class="es-icon es-icon-person"></i><br>学员({{classroom.studentNum + classroom.auditorNum }})</li>
            <li>
              <span class="es-share top">
                <a class="dropdown-toggle" href="" data-toggle="dropdown"  aria-labelledby="dropdownMenu1">
                  <i class="es-icon es-icon-share"></i>
                </a>
                    {% include 'TopxiaWebBundle:Common:share-dropdown.html.twig' with {type:'classroom'} %} 
              </span>
              <br>
              分享
            </li>
            <li>
          {% if member.role != "teacher" and member.role != "headTeacher" %}
            <a type="button" 
            {% if  member.role == "student" and member.orderId > 0 %}
            href="#modal" 
            data-toggle="modal" 
            data-url="{{path('order_refund', {id:classroom.id, targetType:'classroom'})}}"
            {% else %}
            href="{{path('classroom_exit', {id:classroom.id})}}" id ="quit" 
            {% endif %}
            >
             <i class="es-icon es-icon-exit"></i><br>退出
            </a>
          {% endif %}
            </li>
          </ul>
          {% if member.role == 'auditor'%}
          <div class="class-auditor hidden-sm">
            您现在是旁听生，不能完整学习<i class="es-icon es-icon-help color-p"></i><br>
            <a href="{{path('order_show',{targetId:classroom.id,targetType:'classroom'})}}">立即加入购买</a>
          </div>
            {% endif %}
        </div>
        {% if member.role == 'auditor'%}
        <div class="price hidden-sm">
          价格： <span>{% if setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin' %}
                {% if classroom.price > 0 %}
               {{classroom.price * setting('coin.cash_rate') }} {{setting('coin.coin_name')}}
                {% else %}
                免费
                {% endif %}
            {% else %}
              {% if classroom.price > 0 %}
                {{ classroom.price }}元
              {% else %}
                免费
              {% endif %}
            {% endif %}</span>
        </div>
        {% endif %}
      {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('classroom_manage',{id:classroom.id})}}" class="setting" title="{{ setting('classroom.name')|default("班级") }}管理">
          <i class="es-icon es-icon-setting"></i>
        </a>
      {% endif %}
      </div>
    </div>
  </div>
</section>
