{% extends layout|default('ClassroomBundle:Classroom:layout.html.twig') %}
{% block keywords %}
  {{ render(controller('ClassroomBundle:Classroom:keywords',{classroom: classroom} )) }}
{% endblock %}
{% block title %}{{ parent() }}{% endblock %}
{% block content %}

{% if is_plugin_installed('GroupSell') and not member %}
  {{ render(controller('GroupSellBundle:GroupSell:showGroup',{type:'classroom',targetId:classroom.id})) }}
{% endif %}

<div class="class-detail row" id="detail-content">
  <div class="col-lg-9 col-md-8 class-detail-main">

    {% include 'TopxiaWebBundle:Announcement:announcement-block.html.twig' with {targetId:classroom.id,targetType:'classroom'} %}

    <section class="es-section">
      {% if nav is defined %}
        {{ render(controller('ClassroomBundle:Classroom:dashboard',{classroom:classroom, nav:nav, member:member})) }}
      {% endif %}
      <div class="class-detail-content">
        {% block main %}
        {% endblock %}
      </div>
    </section>
  </div>

  <aside class="col-lg-3 col-md-4 class-sidebar">
    {% block side %}
      {% if is_plugin_installed('ClassroomPlan') %}
        {{ render(controller('ClassroomPlanBundle:ClassroomPlan:todayUserTaskBlock',{classroomId:classroom.id})) }}
      {% endif %}

      {% if classroom_permit(classroom.id, 'Take', true) %}
        {{ render(controller('ClassroomBundle:Classroom:signPage',{classroomId:classroom.id})) }}
      {% endif %}
      
      {{ render(controller('ClassroomBundle:Classroom:teachersBlock',{classroom:classroom})) }}

      {{ render(controller('ClassroomBundle:Classroom:latestMembersBlock',{classroom:classroom})) }}

      {{ render(controller('ClassroomBundle:Classroom:classroomStatusBlock',{classroom:classroom})) }}
      
    {% endblock %}
  </aside>

  {% if not canLook|default(false) %}
    <input type="hidden" name="access-intercept-check" value="{{ path('classroom_canview', {classroomId:classroom.id}) }}">
    {% include 'ClassroomBundle:ClassroomThread:access-intercept-modal.html.twig' %}
  {% endif %}
</div>
{% endblock %}