{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}



{% block main_header %}

  <div class="class-banner es-banner">
    <div class="container">
      <div class="title">
        <span>{{ setting('classroom.name')|default("班级") }}</span>classroom
      </div>
      <div class="course-more">
        <a class="btn-more" href="{{ path('course_explore') }}">
          查看<br>课程
        </a>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  {{ render(controller('TopxiaWebBundle:Category:treeNav',{code:code, path:'classroom_explore'})) }}

  <div class="class-list row">
      {% if classrooms %}
          {% for classroom in classrooms %}
      <div class="col-md-4 col-sm-6">
        <div class="class-item">

          <div class="class-img">
            <a href="{{ path('classroom_show', {id:classroom.id}) }}">
              <img class="img-responsive" src="{{ default_path('classroomPicture',classroom.largePicture, 'large') }}" alt="{{ classroom.title }}">
              <h3>{{ classroom.title }}</h3>
              <div class="image-overlay"></div>
            </a>
          </div>

          <div class="class-serve">
            {% include 'ClassroomBundle:Classroom:service-block.html.twig' with {'services':classroom.service} %}
          </div>

          <ul class="class-data clearfix">
            <li><i class="es-icon es-icon-book"></i>{{allClassrooms[classroom.id].courseNum}}</li>
            <li><i class="es-icon es-icon-people"></i>{{classroom.studentNum + classroom.auditorNum }}</li>
            <li><i class="es-icon es-icon-textsms"></i>{{classroom.threadNum}}</li>
          </ul>

        </div>
      </div>

        {% endfor %}
        
        {% else %}
          <div class="empty">目前暂时无{{ setting('classroom.name')|default("班级") }}</div>
        {% endif %}
        </div>

   <nav class="text-center">
      <ul class="pagination">
            {{ web_macro.paginator(paginator) }}
      </ul>
    </nav>
{% endblock %}
