{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set bodyClass = 'classroom-list-page bg-blank' %}
{% set script_controller = 'classroombundle/controller/classroom/explore' %}
{% block keywords %}{% if categoryArray %}{{categoryArray.name}}{% if categoryParent %}{{ ','}}{{ categoryParent.name|default('') }}{% endif %}{% else %}{{ '全部' }}{% endif %}{% endblock %}
  {% block description %}{{ categoryArrayDescription|default('')|plain_text(100) }}{% endblock %}
    {% block title %}{{ categoryArray.name|default('全部')  }} - {{setting('site.name')}}{% if setting('site.slogan') %}{{' - '}}{{ setting('site.slogan')}}{% endif %}{% if not setting('copyright.owned') %} - Powered By EduSoho{% endif %}
    {% endblock %}

{% block top_content %}
  <div class="es-banner">
    <div class="container">
      <div class="title">
        <i class="es-icon es-icon-viewcomfy"></i>
        {{ setting('classroom.name')|default("班级") }}列表
      </div>
      <a class="btn btn-primary btn-lg more" href="{{ path('course_explore') }}">
        查看课程
      </a>
    </div>
  </div>
  
{% endblock %}
{% block content %}
  {% set price = filter.price|default('all')%}
  {% set orderBy = orderBy|default('createdTime')%}
  {% set currentLevelId = filter.currentLevelId|default('all')%}
  {{ render(controller('TopxiaWebBundle:Category:treeNav',{category:category, path:'classroom_explore',filter:{price: price,currentLevelId: currentLevelId},orderBy:orderBy})) }}
  <div class="es-filter">
    <ul class="nav nav-sort">
      <li><a href="{{ path('classroom_explore', {category:category, filter: {price: price,currentLevelId: currentLevelId},orderBy: 'createdTime'}) }}" class="{% if (orderBy == 'createdTime') %} active {% endif %}">最新</a></li><li><a href="{{ path('classroom_explore', {category:category, filter: {price: price,currentLevelId: currentLevelId},orderBy: 'studentNum'}) }}" class="{% if (orderBy == 'studentNum') %} active {% endif %}">最热</a></li><li><a href="{{ path('classroom_explore', {category:category, filter: {price: price,currentLevelId: currentLevelId},orderBy: 'recommendedSeq'}) }}" class="{% if (orderBy == 'recommendedSeq') %} active {% endif %}">推荐</a></li>
    </ul>
    <div class="filter hidden-xs">
      {% if is_plugin_installed('vip')%}
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="es-icon es-icon-crown text-warning"></i>
            {% if (currentLevelId == 'all') %}会员{{ setting('classroom.name')|default("班级") }}{% endif %}
            {% for level in levels%}{% if (level.id == currentLevelId) %}{{level.name}}{% endif %}{% endfor %}
          </button>
          <ul class="dropdown-menu" role="menu">
          <li role="presentation"class="{% if (currentLevelId == 'all') %}active {% endif %}"><a href="{{ path('classroom_explore', {category:category, filter: {price: price,currentLevelId: 'all'},orderBy: orderBy}) }}">全部</a></li>
          {% for level in levels %}
            <li role="presentation"class="{% if (level.id == currentLevelId) %}active {% endif %}"><a href="{{ path('classroom_explore', {category:category, filter: {price: price,currentLevelId: level.id},orderBy: orderBy}) }}">{{level.name}}</a></li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      <label class="checkbox-inline hidden-xs">
        <input type="checkbox" {% if price == 'free'%}checked="true" {% endif %} id="free" value="
        {% if price == 'all'%}
          {{ path('classroom_explore', {category:category, filter: {price: 'free',currentLevelId: currentLevelId},orderBy: orderBy}) }}
        {% else %} 
          {{ path('classroom_explore', {category:category, filter: {price: 'all',currentLevelId: currentLevelId},orderBy: orderBy}) }}
        {% endif %}
        "> 免费{{ setting('classroom.name')|default("班级") }}
      </label>
    </div>
  </div>
  <div class="class-list row">
    {% if classrooms %}
      {% for classroom in classrooms %}
        <div class="col-md-4 col-sm-6">
          <div class="class-item">
            <div class="class-img">
              <a href="{{ path('classroom_show', {id:classroom.id}) }}" target="_blank">
                {{ lazy_img(filepath(classroom.middlePicture, 'classroom.png'), 'img-responsive', classroom.title, 'lazyload_class.png') }}
                <h3>{{ classroom.title }}</h3>
                <div class="image-overlay"></div>
              </a>
            </div>
            <div class="class-serve">
              {% include 'ClassroomBundle:Classroom:service-block.html.twig' with {'services':classroom.service} %}
            </div>
            <ul class="class-data clearfix">
              <li><i class="es-icon es-icon-book"></i>{{classroom.courseNum}}</li>
              <li><i class="es-icon es-icon-people"></i>{{classroom.studentNum + classroom.auditorNum }}</li>
              <li><i class="es-icon es-icon-textsms"></i>{{classroom.threadNum}}</li>
            </ul>
          </div>
        </div>
      {% endfor %}
      
    {% else %}
      <div class="empty">目前暂时无{{ setting('classroom.name')|default("班级") }}</div>
    {% endif %}
  </div>
  <nav class="text-center">
    {{ web_macro.paginator(paginator) }}
  </nav>
{% endblock %}