<style>
/*sign css*/

.sign_wapper {
    display:block;
    height:50px;
    width:180px;
    background-color:#fff;
}
.sign_wapper .btn {
    margin: 5px; 
}
.sign_main {
    position: absolute;
    left: 50px;
    width: 280px;
    background: #fbfefe;
    display: none;
    margin-top: 10px;
    z-index: 9999;
    border: 1px #ccc solid;
}

.sign_main .disabled-next {
    cursor: not-allowed;
    color: #999;
}

.sign_main table {
    width: 278px;
    border: 1px solid #e3e3e3;
    border-width: 1px 0;
    background: #fff;
    color: #666;
}

.sign_main thead {
    color: #999;
}

.sign_main table tr td{
    border-bottom: 1px solid #e3e3e3;
}


.sign_main table tbody td {
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}

.sign_main .calendar_title_month {
    height: 40px;
}

.sign_main .today-rank,
.sign_main .signed-number,
.sign_main .keep-days{
    color: #ff7f3e;
}
.sign_main .calendar_title_month span:hover {
    cursor: pointer;
}
.sign_main .title-month {
    font-size: 14px;
    color: #656565;
}

.sign_main .title-margin {
    margin: 10px;
}

.sign_main .signed_day{
   background: url({{filepath('','sign_have_anime.gif')}}) center no-repeat;
}

.sign_main .signed_anime_day{
   background: url({{filepath('','sign_have_anime.gif')}}) center no-repeat;
}
</style>
  
<div class="panel panel-default class-signin">
  <div class="panel-body">

      <div id="classroom-sign"  data-records="{{ path('classroom_signed_records', {'classroomId':classroom.id})}}" data-signurl="{{path('classroom_sign',{classroomId:classroom.id})}}" >

                    <i class="es-icon es-icon-today"></i>
                    {% if not isSignedToday %}
                        <span class="date">{{ 'now' | date('m') }}月{{ 'now' | date('d') }}号</span>
                           <br>
                        星期{{week}}
                        {% else %}
                        <span class="date">{{ 'now' | date('m') }}月{{ 'now' | date('d') }}号</span>
                        <br>漏签<span style="color:red;">{{notSign}}</span>天
                    {% endif %}

                    <div class="media" id="sign">
                        {% if not isSignedToday %}
                            <div  class="sign-area"  data-role="sign">
                                 <a  class="btn-signin">
                                 签到
                                </a>
                            </div>
                        {% else %}
                          <div  class="sign-area" data-role="signed" onclick="return false;" >             
                            <a class="btn-signin after" >已签到 
                            <br>连续{{userSignStatistics.keepDays}}天</a>
                          </div>
                        {% endif %}
                  </div>


          <div class="sign_main" style="display:none">
              <div class="">
                <div class="calendar_title_month clearfix">
                  <span class="pull-left glyphicon glyphicon-chevron-left title-margin" data-role="previous"></span>
                  <span class="pull-right glyphicon glyphicon-chevron-right title-margin disabled-next" data-role="next"></span>
                  <div class="text-center title-month title-margin" data-time="{{ "now"|date('Y/m') }}" id="title-month">{{ "now"|date('Y年m月') }}
                  </div>
                </div>
                
                <table class="sign_succ_table ">
                  <thead align="center">
                    <tr class="sign_succ_canlerdar_head">
                      <td>日</td><td>一</td><td>二</td><td>三</td><td>四</td><td>五</td><td>六</td>
                    </tr>
                  </thead>
                  <tbody align="center" class="sign_succ_canlerdar_days j_canlerdar_days">

                  </tbody>
                </table>
              </div>
              <div class="sign_tip_boards">
                <div class="mlm mtm">
                  <p class=" text-muted"><i class="icon-user-md"></i> 签到排名：今日第<span class="today-rank"></span>个签到</p>
                </div>
                <div class="mlm">
                  <p class=" text-muted"><i class=" icon-signal"></i> 今日签到人数：<span class="signed-number"></span></p>
                </div>
                <div class="mlm">
                  <p class=" text-muted"><i class="icon-flag"></i> 连续签到：<span class="keep-days"></span>天</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>




