{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set nav = 'openclass' %}

{% set bodyClass = 'activity-explore' %}

{% set script_controller = 'activity/explore' %}

{% block content %} 

<section >

    <div class="row banner-pic ptl">
       <div class="container">  
          <div class="col-md-12 mbz mtl" >                               
                  <img class='img-responsive' src="{{ asset('/assets/img/default/openclass-banner.png') }}" alt="title" />
          </div>
        </div>  
    </div> 
     <div class="row banner-text">
       <div class="container">  
          <div class="col-md-8 mbl " >                               
               
          </div>
        </div>  
    </div> 
</section> 

<section class="container ptl">

    <div class="row ">
        <div class="col-md-12 ">  
           <div class="mod k_postlist filter">
              <div class="kytitle clearfix">
                <h3>条件筛选</h3>             
              </div>
              <div class="content">
                <ul class="plm">
                  <li> <strong>地点：</strong>
                    <a href="{{ path('activity_home') }}">全部</a>
                    {% for location in locations %}
                      <a href="{{ path('activity_home', {location:location.id}) }}" {% if filters.locationId == location.id %} class="active"{% endif %}>{{location.name}}</a>
                    {% endfor %}
                  </li>
                  
                  <li> <strong>状态：</strong>
                    {% set istimeout=filters.istimeout|default('') %}
                    <a href="{{ path('activity_home') }}" {% if filters.istimeout=='0' %} class="active"{% endif %}>全部</a>
                    <a href="{{ path('activity_home', {}|merge(filters)|merge({istimeout:0})) }}" {% if filters.istimeout=='0' %} class="active"{% endif %}>未开始</a>
                    <a href="{{ path('activity_home', {}|merge(filters)|merge({istimeout:1})) }}" {% if filters.istimeout %} class="active"{% endif %}
                    >已结束</a>
                  
                  <li>
                    <strong>标签：</strong>
                     <a href="{{ path('activity_home') }}">全部</a>
                      {% for tag in tags %}              
                        <a href="{{ path('activity_home', {tagsid:tag.id}) }}" 
                        {% if filters.tagId == tag.id %} class="active"{% endif %}>
                          {{ tag.name }}
                        </a>
                      {% endfor %}
                  </li>
                  <li>
                    <strong>时间：</strong>
                     <a href="{{ path('activity_home') }}">全部</a>
                
                  <a href="{{ path('activity_home', {time:'thisweek'}) }}"
                  {% if filters.time == 'thisweek' %} class="active"{% endif %}>本周</a>
                
                
                  <a href="{{ path('activity_home', {time:'lastweek'}) }}"
                  {% if filters.time == 'lastweek' %} class="active"{% endif %}>上周</a>
                
                
                  <a href="{{ path('activity_home', {time:'nextweek'}) }}"
                  {% if filters.time == 'nextweek' %} class="active"{% endif %}>下周</a>
                
                  <a href="{{ path('activity_home', {time:'thismonth'}) }}"
                  {% if filters.time == 'thismonth' %} class="active"{% endif %}>本月</a>
                
                  <a href="{{ path('activity_home', {time:'lastmonth'}) }}"
                  {% if filters.time == 'lastmonth' %} class="active"{% endif %}>上月</a>

                  <a href="{{ path('activity_home', {time:'nextmonth'}) }}"
                  {% if filters.time == 'nextmonth' %} class="active"{% endif %}>下月</a>

                  </li>
                </ul>
              </div>
           </div> 
        </div>
    </div>        
    <div class="row">
        <div class="col-md-12 ">
           <div class="mod  openstack">
                <ul class="content pz">
                  {% for activity in activitys %}
                  <li class="shadow pz">
                    <div class="imageblock clearfix">
                      <div class="imageblock-image">
                        <a href="#" class="show-user-card" >
                          <img class="open-class-logo-large-size" src="{{ file_path(activity.largePicture,'activity-large.jpg') }}" alt="{{ activity.subtitle}}"></a>
                      </div>
                      <div class="imageblock-content">
                        {% if activity.expired==1 %}
                        <h4><span >{{ activity.subtitle}}</span></h4>
                        {% endif %}

                         {% if activity.expired==0 %}
                        <h4><span >{{ activity.subtitle}}</span></h4>
                        {% endif %}
                        

                        <h3>{{ activity.title}}</h3>
                       
                        <p>开始时间： {{activity.startTime}}</p>
                        <p>结束时间： {{activity.endTime}}</p>

                        <p>形式：  {{ activity.form }}</p>
                        <p>现场地址：{{ activity.address }}</p>
                        <p>直播地址： {% if activity.join %}<a target="_blank" href="{{ activity.onlineAddress }}"> {{ activity.onlineAddress }}</a> {% else %} <span class='text-danger'> 报名后即可参加直播 </span>{% endif %}</p>
                        <p>费用： {{ activity.price}}</p>

                         {% if activity.expired==1 %}
                           
                            <h3 class="text-icon mz"> <span class='label label-default'>已结束</span></h3>

                            <div class="text-right">
                              <p>
                                {{ activity.studentNum }}人已报名<a class='mar-l btn btn-warning'  href="{{ path('activity_show',{id:activity.id})}}">回看详情</a>
                              </p>
                            </div>
                         
                          {% endif %}

                          {% if activity.expired==0 %}

                            <div class="text-right">
                              <p>
                                {{ activity.studentNum }}人已报名<a class='mar-l btn btn-success'  href="{{ path('activity_show',{id:activity.id})}}">查看详情</a>
                              </p>
                            </div>
                         
                          {% endif %}

                        
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
                {{ web_macro.paginator(paginator) }}         
              
           </div>
        </div>
    </div> 

</section>

{% endblock %}