{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set nav = 'openclass' %}

{% set bodyClass = 'activity-explore' %}

{% set script_controller = 'activity/explore' %}

{% block content %} 

<section class="mtl ">
  <div class="container pz">
    <div class="row mlz mrz  activity-banner-image ps-re">           
      {% for activity in recommendedActivitys %}
       <div class="teacher-left-offset pull-left"></div>

       <div class="teacher-box activity-banner-teacher pull-left mtm ps-re" >

          <div class="ps-ab ps-tpl ps-ltl">
            <span class='text-large text-weight teacher-color'>本期主讲</span>
          </div>
        
          <div class="phm pvm ">
          
            {% if activity['userProfiles'] %}
                <div class="teacher-carousel {% if activity['userProfiles']|length == 1 %}teacher-carousel-onlyone{% endif %}">
                  <div class="carousel slide" id="teacher-carousel">
                    <div class="carousel-inner ">
                      {% for user in activity['userProfiles'] %}
                        <div class="item {% if loop.first %}active{% endif %}" data-id="{{ user.id }}">
                          <a class="" href="{{ path('user_show', {id:user.id}) }}"><img src="{{ file_path(user.mediumAvatar, 'avatar.png') }}" class="user-logo-avatar center-block"></a>
                        </div>
                      {% endfor %}
                    </div>
                    <a class="left carousel-control text-color-white" href="#teacher-carousel" data-slide="prev">
                      <span class="icon-prev glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control text-color-white" href="#teacher-carousel" data-slide="next">
                      <span class="icon-next glyphicon glyphicon-chevron-right"></span>
                    </a>
                  </div>
                  <div class="teacher-detail" id="teacher-detail">
                    {% for user in activity['userProfiles'] %}
                       
                      <div class="teacher-item teacher-item-{{ user.id }} {% if loop.first %}teacher-item-active{% endif %}">
                        <div class="text-color-white nickname"><a class="text-color-white nickname" href="{{ path('user_show', {id:user.id}) }}">{{ user.nickname }}</a></div>
                        <div class="text-color-white title">{{ user.title }}</div>

                      </div>          
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <div class="empty">该课程尚未设置教师</div>
            {% endif %}

          </div>
      </div>

      <div class="pull-left phl pts ">
       
        <h3 class=" text-weight text-color-white mbl pbl">{{ activity.subtitle}}</h3>
        <h5 class=" text-weight teacher-color"></h5>
         
        <h4 class=" text-weight "> <a href="{{ path('activity_show',{id:activity.id})}}"  class="" >{{ activity.title}}</a> </h4> 

          
        <p class="text-color-white  text-large"> {{activity.address}} </p>
        <p class="teacher-color  text-large">时间： {{activity.startTime}} </p>
        
      </div>

      <div class="ps-ab ps-bt ps-rtl">
                    <p class="text-color-white  text-large">
                      {{activity.studentNum}}人已报名，还不快来参与！
                       

                        <a  class="btn btn-success btn-lg text-weight "   href="{{ path('activity_show',{id:activity.id}) }}" >立即报名</a>
                    
                    
                    </p>
       </div>      

      {% endfor %}
    </div>
  </div>
</section>

<section class="activity-last">
  <div class="container pz">
  
    <div class="col-md-8 pz">
      
    
        <div class="phz mtl ">
           <div class="kytitle activity-last-title clearfix mbz">
              <h3 >近期公开课活动</h3>             
           </div>
        </div>
        <ul id="last-list" class="phz mvl clearfix ps-re">
              {% for activity in lastActivitys %}
              <li class="col-md-4 pvs phs mbl display-no ">
                
                <div class="activity-last-bgcolor-white pvm phm  ps-re  clearfix ">
                    <a href="{{ path('activity_show',{id:activity.id})}}"  class="show-user-card" >
                      <img class="img-responsive" src="{{ file_path(activity.largePicture,'activity-large.jpg') }}" alt="{{ activity.subtitle}}"></a>               
                    <h5>{{ activity.subtitle}}</h5>
                    <h4> <a href="{{ path('activity_show',{id:activity.id})}}"  class="show-user-card" >{{ activity.title}}</a></h4>                       
                    <p class="text-color-gray  text-normal">时间： {{activity.startTime}} </p>
                    <p class="text-color-gray  text-normal"> {{activity.address}} </p>
                    <p class="text-color-gray  text-normal"> 主讲： 
                          {% for userProfile in activity['userProfiles'] %} 
                           <span class="prm"> {{userProfile.nickname}}</span>
                          {% endfor %}
                         </p>
                    <p class="text-danger  text-normal">
                      {% if  activity.onlinePrice>0 %} 线上{{ activity.onlinePrice}}元{% else %} 线上免费 {% endif %};
                      {% if  activity.price>0  %}  线下 {{ activity.price}}元{% else %} 线下免费 {% endif %}
                    </p> 

                    {% if activity.expired==1 %}
                    <div class=" phm pvm   ">
                      <p class="text-color-gray  text-normal pull-right">
                        共{{ activity.studentNum }}人参加
                        <span class='label label-default text-size-12'>已结束</span>
                      </p>
                    </div>
                    {% else %}
                    <div class=" phm pvm  ">
                      <a  class="btn btn-success btn-xs  text-normal pull-right"  href="{{ path('activity_show',{id:activity.id}) }}" >报名参与</a>
                      <span class="text-color-gray  text-normal pull-right prm">{{activity.studentNum}}人已报名</span>
                    </div>
                    {% endif %}


                </div>
               
              </li>



              {% endfor %}
        </ul> 

    </div>

    <div class="col-md-4 prz">
 

          <!-- 答疑动态 -->
            <div class="mtl">
              <div class="es-row-wrap container-gap">
                <div class="kytitle clearfix es-box-heading mtm">
                  <h3 >我要讲课</h3>

                </div>

                <div class="es-box-body pll prm">

                
 <button type="button" class="btn btn-primary btn-lg btn-block"> 申请成为公开课讲师  <span class="glyphicon glyphicon-circle-arrow-right"></span></button>

开源力量广泛征集公开课讲师，我
                </div>
              </div>
            </div>
     
    </div>
  
  </div>
</section>

{% endblock %}