{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set nav = 'openclass' %}

{% set bodyClass = 'activity-explore' %}

{% set script_controller = 'activity/explore' %}

{% block content %} 

<section class="mtl ">
  <div class="container pz">
    <div class="row mlz mrz  activity-banner-image ps-re">           
      {% for activity in recommendedActivitys %}
       <div class="teacher-left-offset pull-left"></div>

       <div class="teacher-box activity-banner-teacher pull-left mtm ps-re" >

          <div class="ps-ab ps-tpl ps-ltl">
            <span class='text-large text-weight teacher-color'>本期主讲</span>
          </div>
        
          <div class="phm pvm ">
          
            {% if activity['userProfiles'] %}
                <div class="teacher-carousel {% if activity['userProfiles']|length == 1 %}teacher-carousel-onlyone{% endif %}">
                  <div class="carousel slide" id="teacher-carousel">
                    <div class="carousel-inner ">
                      {% for user in activity['userProfiles'] %}
                        <div class="item {% if loop.first %}active{% endif %}" data-id="{{ user.id }}">
                          <a class="" href="{{ path('user_show', {id:user.id}) }}"><img src="{{ file_path(user.mediumAvatar, 'avatar.png') }}" class="user-logo-avatar center-block"></a>
                        </div>
                      {% endfor %}
                    </div>
                    <a class="left carousel-control text-color-333" href="#teacher-carousel" data-slide="prev">
                      <span class="icon-prev glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control text-color-333" href="#teacher-carousel" data-slide="next">
                      <span class="icon-next glyphicon glyphicon-chevron-right"></span>
                    </a>
                  </div>
                  <div class="teacher-detail" id="teacher-detail">
                    {% for user in activity['userProfiles'] %}
                       
                      <div class="teacher-item teacher-item-{{ user.id }} {% if loop.first %}teacher-item-active{% endif %}">
                        <div class="text-color-333 nickname"><a class="text-color-333 nickname" href="{{ path('user_show', {id:user.id}) }}">{{ user.nickname }}</a></div>
                        <div class="text-color-777 title text-size-12">{{ user.title }}</div>

                      </div>          
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <div class="empty">该课程尚未设置教师</div>
            {% endif %}

          </div>
      </div>

      <div class="pull-left phl pts ">
       
        <h3 class=" text-weight text-color-333 mbl pbl">{{ activity.subtitle}}</h3>
        <h5 class=" text-weight teacher-color"></h5>
         
        <h4 class=" text-weight "> <a href="{{ path('activity_show',{id:activity.id})}}"  class="activity-title-color" >{{ activity.title}}</a> </h4> 

        <p class="teacher-333  text-large">时间： {{activity.startTime}} </p> 
        <p class="text-color-333  text-large">线下地址： {{activity.address}} </p>
        
        {% if activity.onlineAddress  is not null %}
        <p class="text-color-333  text-large">
            直播地址： {% if activity.join %}
            <a target="_blank" href="{{ activity.onlineAddress }}">{{ activity.onlineAddress }}</a>
            {% else %}
            <span class='text-danger'>报名后显示直播地址</span>
            {% endif %}
        </p>
        {% endif %}
        
      </div>

      <div class="ps-ab ps-bt ps-rtl">
                    <p class="text-color-555  text-large text-weight-800">
                      {{activity.studentNum}}人已报名，还不快来参与！
                       

                        <a  class="btn btn-success btn-lg text-weight "   href="{{ path('activity_show',{id:activity.id}) }}" >立即报名</a>
                    
                    
                    </p>
       </div>      

      {% endfor %}
    </div>
  </div>
</section>

<section class="activity-last">
  <div class="container pz">
  
    <div class="col-md-8 plz prz">
      
    
        <div class="phz mtl ">
           <div class=" clearfix mbz plm">
              <h4 >所有活动</h4>             
           </div>
        </div>
        
        <div class="plz prm bor-r" >
       
          <ul id="last-list" class="phz mvz clearfix ps-re">
                {% for activity in lastActivitys %}
                <li class="col-md-4 pvs phs mbl display-no ">
                  
                  <div class="activity-last-bgcolor-white pvm phm  ps-re  clearfix ">
                    <div class="grid-img ps-re">
                      <a href="{{ path('activity_show',{id:activity.id})}}"  class="show-user-card" ><img class="img-responsive" src="{{ file_path(activity.largePicture,'activity-large.jpg') }}" alt="{{ activity.subtitle}}"> 
                        <div class="card-desc">
                   
                           {% if activity.expired==1 %}

                           <div class="ps-ab ps-bts ps-rts text-vertial" >

                             <img   class="pz mz" style="display:inline" src="{{ asset('assets/img/default/play_icon_normal.png') }}" />

                             <span class="btn btn-info btn-xs text-normal" style="display:inline"  >回看详情</span>

                           </div>

                            {% endif %}
                        </div>
                        </a> 
                    </div>      


                      <p class="text-color-gray  text-normal">{{ activity.subtitle}}</p>
                      <p> <a href="{{ path('activity_show',{id:activity.id})}}"  class="show-user-card text-font-14 text-weight-700" >{{ activity.title}}</a></p>                       
                      <p class="text-color-gray  text-normal">时间： {{activity.startTime}} </p>
                      <p class="text-color-gray  text-normal">地点：{{activity.address}} </p>
                      <p class="text-color-gray  text-normal">主讲： 
                            {% for userProfile in activity['userProfiles'] %} 
                             <span class="prm"> {{userProfile.nickname}}</span>
                            {% endfor %}
                           </p>
                      <p class="text-danger  text-normal">
                        {% if  activity.onlinePrice>0 %} 线上{{ activity.onlinePrice}}元{% else %} 线上免费 {% endif %};
                        {% if  activity.price>0  %}  线下 {{ activity.price}}元{% else %} 线下免费 {% endif %}
                      </p> 

                      {% if activity.expired==1 %}
                      <div class=" phm pvs   ">
                        <p class="text-color-gray  text-normal pull-right">
                          共{{ activity.studentNum }}人参加
                          <span class='label label-default text-size-12'>已结束</span>
                        </p>
                      </div>
                      {% else %}
                      <div class=" phm pvs  ">
                        <a  class="btn btn-success btn-xs  text-normal pull-right"  href="{{ path('activity_show',{id:activity.id}) }}" >报名参与</a>
                        <span class="text-color-gray  text-normal pull-right prm">{{activity.studentNum}}人已报名</span>
                      </div>
                      {% endif %}


                  </div>
                 
                </li>



                {% endfor %}
          </ul> 

          {{ web_macro.paginator(paginator) }} 
        </div>
    </div>

    <div class="col-md-4 plz prz ">

            <div class="pll  mtl">
                <div class="pls text-size-18 mbm">开源有你更精彩。。</div>    
                <a  class="btn btn-success btn-lg btn-block pvl" href="/page/speakerapply" target="_blank"> 加入开源公开课讲师  <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            </div>

             <div class="pll mtl ">
          
              <div class="plm prm  text-size-12 text-color-333">每年，开源（开放源代码）领域都会有很多期活动举行。纵观所有活动，多为短时间技术市场演讲，并且还安排混合了多个技术领域。但是80%的听众参加活动的目的都是为了深入学习技术，并期望将其用在自己的实际工作中。那些活动形式无法满足爱好者深入的学习需求。因此我们组织了“开源力量公开课”。</div>             
          
            </div>
            

               
        <div class="pll mtl">
          <div>
            <div class="mlm bor-b-green-2 text-size-16 ">最新报名</div>
          </div>
          <div class="content model-over-h">
            {% for student in students %}
              {% set user = student_users[student.userId] %}
              {% set profile = student_profiles[student.userId] %}
            <a href="{{ path('user_show',{id:user.id}) }}" class="user-link user-avatar-link activity-user-link" >
              <img src="{{ file_path(user.smallAvatar,'avatar.png') }}">        
              <p>{{ user.nickname}}</p>
            </a>
            {% endfor %}
            <span class="justify_fix"></span>
          </div>
        </div>

        <div class="pll mtl ">
           <div >
             <div class="mlm bor-b-green-2 text-size-16 ">最新提问</div>
           </div>

           <div class="plm prm ptm">

             <ul class="media-list">
               {% for thread in threads  %}
                          {% set user = thread_users[thread.userId] %}
                          {% set profile = thread_users[thread.userId] %}
                          {% set thread_activity = thread_activitys[thread.activityId] %}
               <li class="media  pbz">
                 <a class="pull-left" href="{{ path('user_show',{id:user.id}) }}">
                   <img class="img-responsive media-object user-logo-small-size" src="{{ file_path(user.mediumAvatar,'avatar-large.png')  }}" alt="user icon"></a>
                 <div class="media-body">

                   <p class="text-color-gray text-normal">

                     <a class="text-color-gray" href="{{ path('user_show', {id:user.id}) }}">{{ user.nickname }}</a>
                     {{ thread.createdTime|smart_time }} 参加公开课 <a class="text-size-12" href="{{  path('activity_show', {id:thread_activity.id})  }}">《{{ thread_activity.title }}》</a>提问：
                   </p>
                   <p class="text-color-666 text-size-12">{{ thread.content }}</p>
                  
                 </div>
                 <div class="pts" ></div>
               </li>
               {% endfor %}
             </ul>

           </div>
        </div>
           
     
    </div>
  
  </div>
</section>

{% endblock %}