{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set nav = 'openclass' %}

{% set bodyClass = 'homepage' %}

{% set script_controller = 'activity/explore' %}

{% block content %} 

  <section class="row"> 
    <div class="row">
        <div class="banner-bg">
           <img  class='open-class-banner-size' src="{{ asset('assets/img/default/open-class-default-banner.jpg') }}" alt="title" />
         <!--
          <div class="top">
            <div id="focus">
              <div id="slides">
                <div class="slides_container">
                  <a href="#" title="title" rel="external">
                  <img src="{{ asset('bundles/topxiaweb/img/home-slide/home-slide.jpg') }}" alt="title" /></a>
                  <a href="#" title="title" rel="external">
                  <img src="{{ asset('bundles/topxiaweb/img/home-slide/ticket_banner.png') }}" alt="title" /></a>
                  <a href="#" title="title" rel="external">
                  <img src="{{ asset('bundles/topxiaweb/img/home-slide/coupon.jpg') }}" alt="title" /></a>
                </div>
              </div>
            </div>
          </div>
        -->
        </div>  
    </div> 
    <div class="row">
          <div class="col-md-12">  
            <div class="mod k_postlist filter">
              <div class="kytitle clearfix">
                <h3>条件筛选</h3>             
              </div>
              <div class="content">
                <ul>
                  <li> <strong>地点：</strong>
                    <a href="{{ path('activity_home') }}">全部</a>
                    {% for location in locations %}
                      <a href="{{ path('activity_home', {location:location.id}) }}" {% if filters.locationId == location.id %} class="active"{% endif %}>{{location.name}}</a>
                    {% endfor %}
                  </li>
                  
                  <li> <strong>状态：</strong>
                    <a href="{{ path('activity_home') }}">全部</a>
                    {% set istimeout=filters.istimeout|default('') %}
                    <a href="{{ path('activity_home', {}|merge(filters)|merge({istimeout:0})) }}" {% if filters.istimeout=='1' %} class="active"{% endif %}>未开始</a>
                    <a href="{{ path('activity_home', {}|merge(filters)|merge({istimeout:1})) }}" {% if filters.istimeout=='0' %} class="active"{% endif %}>已结束</a>
                  
                  <li>
                    <strong>标签：</strong>
                     <a href="{{ path('activity_home') }}">全部</a>
                      {% for tag in tags %}              
                        <a href="{{ path('activity_home', {tagsid:tag.id}) }}" 
                        {% if filters.tagId == tag.id %} class="active"{% endif %}>
                          {{ tag.name }}
                        </a>
                      {% endfor %}
                  </li>
                  <li>
                    <strong>时间：</strong>
                     <a href="{{ path('activity_home') }}">全部</a>
                
                  <a href="{{ path('activity_home', {time:'thisweek'}) }}"
                  {% if filters.time == 'thisweek' %} class="active"{% endif %}>本周</a>
                
                
                  <a href="{{ path('activity_home', {time:'lastweek'}) }}"
                  {% if filters.time == 'lastweek' %} class="active"{% endif %}>上周</a>
                
                
                  <a href="{{ path('activity_home', {time:'nextweek'}) }}"
                  {% if filters.time == 'nextweek' %} class="active"{% endif %}>下周</a>
                
                  <a href="{{ path('activity_home', {time:'thismonth'}) }}"
                  {% if filters.time == 'thismonth' %} class="active"{% endif %}>本月</a>
                
                  <a href="{{ path('activity_home', {time:'lastmonth'}) }}"
                  {% if filters.time == 'lastmonth' %} class="active"{% endif %}>上月</a>

                  <a href="{{ path('activity_home', {time:'nextmonth'}) }}"
                  {% if filters.time == 'nextmonth' %} class="active"{% endif %}>下月</a>

                  </li>
                </ul>
              </div>
            </div>        
            <!-- item-list -->
            <div class="mod k_postlist openstack">            
              <div class="content pz">       
                <ul>
                  {% for activity in activitys %}
                  <li class="shadow pz">
                    <div class="imageblock clearfix">
                      <div class="imageblock-image">
                        <a href="#" class="show-user-card" >
                          <img class="open-class-logo-large-size" src="{{ file_path(activity.largePicture,'activity-large.jpg') }}" alt="{{ activity.subtitle}}"></a>
                      </div>
                      <div class="imageblock-content">
                        <p class="title">
                          <h4>{{ activity.subtitle}}</h4>
                          <h3>{{ activity.title}}</h3>
                          
                        </p>
                        <p>开始时间： {{activity.startTime}}</p>
                        <p>结束时间： {{activity.endTime}}</p>
                        <p>地点： {{ activity.address }}</p>
                        <p>形式： {{ activity.form }}</p>
                        <p>费用： {{ activity.price}}</p>
                        <div class="text-right">
                          <p>
                            {{ activity.studentNum }}人已报名
                          {% if activity.isExpired==1 %}
                            <a class='mar-l btn btn-success  green' 
                            href="{{ path('activity_showsuccess',{id:activity.id})}}">
                              活动内容
                            </a>
                          {% else %}
                            <a class='mar-l btn btn-success  green' 
                            href="{{ path('activity_show',{id:activity.id})}}">
                              查看详情
                            </a>
                          {% endif %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
                {{ web_macro.paginator(paginator) }}         
              </div>
            </div>
          </div>
    </div>    
  </section>
{% endblock %}