{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set nav = 'openclass' %}

{% set bodyClass = 'activity-explore' %}

{% set script_controller = 'activity/explore' %}

{% block content %} 

<section class="activity-banner ">
  <div class="container pz">
    <img class="img-responsive" src="{{ asset('assets/img/default/current-activity-bg.jpg')}}"  >
    
    <div class="row ">
      <div class="col-md-12 activity-banner-content"> 
       <ul >
          {% for activity in recommendedActivitys %}
        
          {% endfor %}
       </ul>
      </div>  
      
    </div>
  </div>
</section>

<section class="activity-last ">
  <div class="container  pz">
    <div class="row">
      <div class="col-md-12 mtl mbm">
         <div class="kytitle activity-last-title clearfix mbz">
            <h3 >近期公开课</h3>             
         </div>
      </div>
        <ul class="pz mz clearfix">
            {% for activity in lastActivitys %}
            <li class="col-md-4 mbl ">
              <div class="activity-last-bgcolor-white pvm phm  ps-re">                           
                  <a href="{{ path('activity_show',{id:activity.id})}}"  class="show-user-card" >
                    <img class="img-responsive" src="{{ file_path(activity.largePicture,'activity-large.jpg') }}" alt="{{ activity.subtitle}}"></a>               
                  <h5>{{ activity.subtitle}}</h5>
                  <h4>{{ activity.title}}</h4>                       
                  <p class="text-color-gray  text-normal">时间： {{activity.startTime}} 

                    </p>
                  <p class="text-color-gray  text-normal"> {{activity.address}} </p>
                  <p class="text-color-gray  text-normal"> 主讲： 
                        {% for userProfile in activity['userProfiles'] %} 
                         <span class="prm"> {{userProfile.nickname}}</span>
                        {% endfor %}
                       </p>
                  <p class="text-danger  text-normal">
                    {% if  activity.onlinePrice>0 %} 线上{{ activity.onlinePrice}}元{% else %} 线上免费 {% endif %};
                    {% if  activity.price>0  %}  线下 {{ activity.price}}元{% else %} 线下免费 {% endif %}
                  </p> 

                  <div class="ps-ab ps-bt ps-rtl">
                      <p class="text-color-gray  text-normal">
                        {{activity.studentNum}}人已报名
                        {% if activity.join %}
                          <a href="{{ path('activity_remove',{id:activity.id}) }}" class="btn btn-warning btn-xs  text-normal" >取消报名</a>
                        {% else %}    

                          <a  class="btn btn-success btn-xs  text-normal"   href="{{ path('activity_join',{id:activity.id}) }}" >报名参与</a>
                        {% endif %}
                      
                      </p>
                  </div>      
              </div>
             
            </li>
            {% endfor %}
        </ul> 
    </div>
  </div>
</section>

<section class="activity-expired ">
  <div class="container  pz">
    <div class="row">
        <div class="col-md-8  mtl mbm">
           <div class="kytitle clearfix">
                <h3>往期回顾</h3>             
           </div>  
           
          <ul class="pz">
            {% for activity in expiredActivitys %}
            <li class=" widget shadow pz mbl">
              <div class="row  pz mz ps-re">
                
                <div class="col-md-4 pts pbs pls prs">
                  <a href="{{ path('activity_show',{id:activity.id})}}" class="show-user-card" >
                    <img class="img-responsive" src="{{ file_path(activity.largePicture,'activity-large.jpg') }}" alt="{{ activity.subtitle}}"></a>
                </div>

                <div class="col-md-8 pll prl">
                  <h5 class="text-color-gray">{{ activity.subtitle}}</h5>
                  <h4>{{ activity.title}}</h4>                       
                  <p class="text-color-gray  text-normal" >时间： {{activity.startTime}}</p>
                  <p class="text-color-gray  text-normal"> 主讲： 
                        {% for userProfile in activity['userProfiles'] %} 
                         <span class="prm"> {{userProfile.nickname}}</span>
                        {% endfor %}
                  </p>
                  
                  <p class="text-color-gray  text-normal" >简介： {{ (activity.about|raw)}}</p>                   
                </div>

                {% if activity.expired==1 %}
                     
                      <h3 class="ps-ab ps-tps ps-ltl"> <span class='label label-default'>已结束</span></h3>
                      <div class="ps-ab ps-bt ps-rtl">
                        <p class="text-color-gray  text-normal">
                          {{ activity.studentNum }}人已报名<a class='mar-l btn btn-default btn-xs  text-normal'  href="{{ path('activity_show',{id:activity.id})}}">回看详情</a>
                        </p>
                      </div>
                {% endif %}

              </div>
            </li>
            {% endfor %}
          </ul>
          {{ web_macro.paginator(paginator) }}         
        </div>
    </div> 
  </div>
</section>
{% endblock %}