{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default clearfix course-header">
      <div class="panel-body">
        <a href="{{ path('activity_show', {id:activity.id}) }}"><img class="picture" src="{{ file_path(activity.largePicture, 'course-default-475x250.png') }}" /></a>
        <h1 class="title"><a href="{{ path('activity_show', {id:activity.id}) }}">{{ activity.title }}</a></h1>
        <div class="teachers">
          {% if activity.teacherIds|default(null) %}
            教师：
            {% for id in activity.teacherIds %}
              {% set user = users[id] %}
              <a href="{{ path('user_show', {id:user.id}) }}" data-toggle="modal" data-target="#modal" data-url="{{ path('course_teacher_info',  {courseId:course.id, id:user.id}) }}">{{ user.nickname }}</a>
            {% endfor %}
          {% endif  %}
        </div>
        <div class="toolbar">
          {% if not manage %}

          <div class="btn-group" title="操作">
            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-cog"></i>
            </button>
            <ul class="dropdown-menu pull-right">
              {% if canManage %}
                <li><a href="{{ path('course_manage', {id:activity.id}) }}">活动管理</a></li>
              {% endif %}
              {% if member.role|default(null) == 'student' %}
                <li><a class="course-exit-btn" href="javascript:" data-url="{{ path('course_exit', {id:activity.id}) }}">退出学习</a></li>
              {% endif %}
            </ul>
          </div>
          {% else %}

            {% if activity.status == 'published' %}
              <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('activity_show', {id:activity.id}) }}">返回活动主页</a>
              </div>
            {% endif %}

            <div class="btn-group">
              <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">预览 <span class="caret"></span></button>
              <ul class="dropdown-menu pull-right">
                  <li><a href="{{ path('activity_show', {id:activity.id, previewAs:'member'}) }}" target="_blank">活动未开始页面</a></li>
                  <li><a href="{{ path('activity_show', {id:activity.id, previewAs:'guest'}) }}" target="_blank">活动已结束页面</a></li>
              </ul>
            </div>

            {% if activity.status != 'published' %}
              <div class="btn-group">
                <button class="btn btn-success btn-sm course-publish-btn" data-url="{{ path('activity_manage_publish', {id:activity.id}) }}">发布活动</button>
              </div>
            {% endif  %}

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>