{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set nav = 'openclass' %}

{% set bodyClass = 'activity-form-vistor' %}
{% set script_controller = 'activity/activity-form-vistor' %}

{% block content %}

<div class="row widget shadow pz  mbl ">
	
		<div class="col-md-4  phs pvs">
			<a href="#" class="show-user-card" >
				<img class="img-responsive" src="{{ file_path(activity.largePicture,'activity-large.jpg') }}" alt=""></a>
		</div>
		<div class=" col-md-8 plm">
	      	<p class="title">
	        	<h4>{{ activity.subtitle }}</h4>
	        	<h3>{{ activity.title }}</h3>
	      	</p>
	      	<p>开始时间： {{activity.startTime}}</p>
	     	<p>结束时间： {{activity.endTime}}</p>
	      	<p>形式：  {{ activity.form }}</p>
	      	<p>现场地址： {{ activity.address }}</p>
	      	<p>直播地址： {% if activity.join %}<a target="_blank" href="{{ activity.onlineAddress }}"> {{ activity.onlineAddress }}</a> {% else %} <span class='text-danger'> 报名后即可参加直播 </span>{% endif %}</p>
			
		  	<p>费用： {% if  activity.price>0  %} {{ activity.price}}元{% else %} 免费 {% endif %}</p>
		</div>

</div>	
					
<div class="row">
	<form id="ActivityForm" class="form-horizontal" method="post" action="{{ path('activity_join',{id:activity.id}) }}">
		<div class="widget shadow">
			<div class="kytitle clearfix bor-l-green">
				<h3>报名信息</h3>
			</div>
			<div class="content clearfix">
				<div class="col-md-7">
					<div class="form-group">
			            <label class="col-lg-3 control-label" for="activity_email">Email地址</label>
			            <div class="col-lg-9">

			              <input id="activity_email" type="text" class="form-control"   name="activitymember[email]" data-url="{{ path('register_email_check') }}" required />
			               <p class="help-block" id="email_info">填写你常用的邮箱作为登录帐号</p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-lg-3 control-label" for="activity_nickname">昵称</label>
			            <div class="col-lg-9">
			              <input id="activity_nickname" class="form-control" type="text" name="activitymember[nickname]" 
			                data-url="{{ path('register_nickname_check') }}"    required />
			               <p class="help-block">该怎么称呼你？ 中、英文均可，最长14个英文或7个汉字</p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-lg-3 control-label" for="activity_truename">真实姓名</label>
			            <div class="col-lg-9">
			              <input id="activity_truename" class="form-control" type="text" name="activitymember[truename]" required />
			               <p class="help-block">请输入真实姓名，必须是中文或英文姓名</p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-lg-3 control-label" for="activity_mobile">手机号码</label>
			            <div class="col-lg-9">
			              <input id="activity_mobile" class="form-control" type="text" name="activitymember[mobile]" required />
			                <p class="help-block">请收入正确的11位手机号码</p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-lg-3 control-label" for="activity_job">职位</label>
			            <div class="col-lg-9">
			              <input id="activity_job" class="form-control" type="text" name="activitymember[job]"   />
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-lg-3 control-label" for="activity_company">公司</label>
			            <div class="col-lg-9">
			              <input id="activity_company" class="form-control" type="text" name="activitymember[company]"   />
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-lg-3 control-label" for="activity_aboutInfo">其他信息</label>
			            <div class="col-lg-9">
			              <textarea rows="3" class="form-control" name="activitymember[aboutInfo]"></textarea>
			            </div>
			        </div>
				</div>
				<div class="col-md-5">
					<div>
						<p>问题出干货--高质量问题互动，才能点燃老师在公开课上的激情，亲，让我们一起吧讲师编成蜡炬的灰吧～～</p>
					</div>
					<div><textarea rows="10" class="form-control" name="activitymember[question]"></textarea></div>
					<div class="form-group">
			            <div class="col-lg-12">
			              <div class="checkbox">
					        <label>
					          <input type="checkbox" checked="checked" /> 转发微博
					       	</label>
					      </div>
					      <button type="submit" class="form-control btn btn-fat btn-primary btn-large">立即报名</button>
			            </div>
			        </div>
				</div>
			</div>
		</div>
	 <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
	</form>
</div>


{% endblock %}