{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set nav = 'openclass' %}

{% set bodyClass = 'homepage' %}
{% set script_controller = 'activity/activity-form-member' %}

{% set userTitle=user.title|default(NULL) %}
{% block content %}

<div class="row pld prd">	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="text-center">你正在报名参加</h3>
		</div>
		<div class="panel-body  ">
			<div class="col-lg-10 col-md-10 plm">
		          
		            <h5>{{ activity.subtitle }}</h5>
		            <h4>{{ activity.title }}</h4>
		          
		           <p>
		            {% if  activity.onlinePrice>0 %} 线上：<span class='text-danger'>{{ activity.onlinePrice}}元</span>{% else %} 线上：<span class='text-danger'>免费 </span>{% endif %}
		          </p>
		          <p>
		            {% if  activity.price>0  %}  线下：<span class='text-danger'> {{ activity.price}}元</span>{% else %} 线下：<span class='text-danger'>免费</span> {% endif %}
		          </p> 

		          
			</div>
			<div class="col-lg-2   col-md-2 phs pvs">
				<a href="#" class="show-user-card" >
					<img class="img-responsive" src="{{ file_path(activity.largePicture,'activity-large.jpg') }}" alt="openstack30"></a>
			</div>
		</div>
	</div>
</div>

{% if user.setup == 0   %}
      <div class="alert alert-danger">
       
        您是通过社交账号登陆,尚未设置Email地址,系统无法向您发送报名确认邮件,需要您设置Email并验证后,才能报名公开课!
        <a href="{{ path('settings_setup') }}">现在就去设置</a>
      </div>
{% elseif  user.emailVerified == 0 %}
<div class="alert alert-danger">
       
        您的Email地址尚未通过验证,系统无法向您发送报名确认邮件,需要验证您的邮件后,才能报名公开课!
        <a href="{{ path('settings_email') }}">现在就去验证</a>
</div>
{% else %}



<form id="ActivityForm" class="form-horizontal" method="post" action="{{ path('activity_join',{id:activity.id}) }}">					
<div class="row pld prd mbl">
	
				
		<!-- 报名 -->
		<div class="widget  shadow">
			<div class="kytitle clearfix bor-l-green">
				<h4>报名信息</h4>
			</div>
			<div class="content clearfix">
				<div class="col-md-6">
					<div class="form-group">
        				<label class="col-lg-3 control-label" for="activity_email">Email地址</label>
        				<div class="col-lg-9">
              				<input id="activity_email" type="text" class="form-control"   name="activitymember[email]" data-url="{{ path('register_email_check') }}"  value="{{user.email}}" required disabled/>
              					 <p class="help-block" id="email_info">请务必填写正确，活动信息将通过本邮箱发送。</p>
       					 </div>
	        		</div>
			        <div class="form-group">
			            <label class="col-lg-3 control-label" for="activity_nickname">昵称</label>
			            <div class="col-lg-9">
			              <input id="activity_nickname" class="form-control" type="text" name="activitymember[nickname]" 
			                data-url="{{ path('register_nickname_check') }}"  value="{{user.nickname}}"  required disabled/>
			               <p class="help-block">该怎么称呼你？ 中、英文均可，最长14个英文或7个汉字</p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-lg-3 control-label" for="activity_truename">真实姓名</label>
			            <div class="col-lg-9">
			              <input id="activity_truename" class="form-control" type="text" name="activitymember[truename]" value="{{profile.truename}}" required />
			               <p class="help-block">请输入真实姓名，必须是中文或英文姓名</p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-lg-3 control-label" for="activity_mobile">手机号码</label>
			            <div class="col-lg-9">
			              <input id="activity_mobile" class="form-control" type="text" name="activitymember[mobile]"
			               value="{{profile.mobile}}" required />
			               <p class="help-block">请收入正确的11位手机号码</p>
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-lg-3 control-label" for="activity_job">职位</label>
			            <div class="col-lg-9">
			              <input id="activity_job" class="form-control" type="text" name="activitymember[job]"  value="{{profile.job }}" />
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-lg-3 control-label" for="activity_job">公司</label>
			            <div class="col-lg-9">
			              <input id="activity_company" class="form-control" type="text" name="activitymember[company]"  value="{{profile.company}}" />
			            </div>
			        </div>
			        <div class="form-group">
			            <label class="col-lg-3 control-label" for="activity_aboutInfo">其他信息</label>
			            <div class="col-lg-9">
			              <textarea rows="3" class="form-control" name="activitymember[aboutInfo]"></textarea>
			            </div>
			        </div>
				</div>
				<div class="col-md-6">
					<div class="mbm">
						<p>问题出干货--高质量问题互动，才能点燃老师在公开课上的激情，亲，让我们一起吧讲师编成蜡炬的灰吧～～</p>
					</div>
					<div><textarea rows="22" class="form-control" name="activitymember[question]"></textarea></div>					
				</div>
			</div>
		</div>

		 <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

		<div class="col-md-4 col-md-offset-4">
			<button type="submit" class="btn btn-primary btn-lg btn-block">立即报名</button>
		</div>
	
</div>
</form>

{% endif %}

{% endblock %}