 <li class="media">
    <a class="pull-left user-link user-avatar-link" href="javascript:">
      <img src="{{ qustion.usersmallAvatar }}"></a>
    </a>
    <div class="media-body">
      <p class="media-content"><a  href="{{ path('user_show',{id:qustion.userId }) }}">{{qustion.usernickname }}:</a> {{qustion.content}}
      </p>
      <div class="reply-tools media-content " >
        <a hef="javascript:" class="reply btn btn-link"><span class="glyphicon glyphicon-share-alt"></span> 回复</a>
        <p style="float:right;" class="huifu">{{qustion.createdTime|smart_time }}</p>
      </div>
      <div class="post-list media-content">
      </div>
      <div class="reply-box media-content" style="display:none;" action="{{ path("activity_qustionpost",{id:qustion.activityId,qid:qustion.id}) }}">
      </div>
    </div>
</li>