{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set nav = 'openclass' %}
{% set bodyClass = 'homepage' %}
{% set script_controller = 'activity/show-activity' %}

{% block content %}
<div class="row widget shadow mhz ps-re ">

  <div class="col-md-4  pts pbs pls prs">
    <a href="#" class="show-user-card" >
      <img class="img-responsive"  src="{{ file_path(activity.largePicture,'activity-large.jpg') }}"></a>
  </div>
  <div class="col-md-8  plm">
      <p class="title">
        <h4>{{ activity.subtitle }}</h4>
        <h3>{{ activity.title }}</h3>
      </p>
      <p>时间： {{activity.startTime}}  {{activity.duration}} </p>
     
      <p>形式：  {{ activity.form }}</p>
    
      {% if activity.address %}

          <p>现场地址： {{ activity.address }}</p>

      {% endif %}

      {% if activity.onlineAddress %}
      <p>
        直播地址： <span class='text-danger'>
        {% if activity.join %}
           参课方式已通过邮件方式发送到您的邮箱 (如未收到邮件，请点击这里！）
        {% else %}
           报名后将通过邮件方式告知参课方式和地址，请正确填写邮件地址
        {% endif %}
        </span>
      </p>
      {% endif %}

      <p>
        价格：
        <span  class='text-danger'>
          线上{% if activity.onlinePrice>0 %}{{activity.onlinePrice}}元{% else %}免费{% endif %}  线下{% if  activity.price>0  %}{{activity.price}}元{% else %}免费{% endif %}
        </span>
      </p>

      {% if (activity['expired']!=1) %}
      <div class="pull-right ">
        <p>
          {{activity.studentNum}}人已报名
          {% if activity.join %}
          <span class="glyphicon glyphicon-ok-circle label label-default text-size-18 pvm">您已报名</span>
          {% else %}
          <a  class="mlm btn btn-success  green"   href="{{ path('activity_join',{id:activity.id}) }}" >活动报名</a>
          {% endif %}
          <a href="javascript:void(0)" id="media-qustion" class="mlm btn btn-success  green">课前提问</a>
        </p>
      </div>
      {% else %}
      <h3 class="pull-right ">
        <span class='label label-default'>已结束</span>
      </h3>
      {% endif %}


  </div>

  

</div>

<div class="row mhz">

  <div class="col-md-8 plz">

    <div class="widget shadow pvs phs">

      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#about" data-toggle="tab">内容主题</a>
        </li>
        {% if activity.summary %}
        <li >
          <a href="#summary" data-toggle="tab">现场详情</a>
        </li>
        {% endif %}
      </ul>

      <div class="tab-content">

        <div class="tab-pane active pvm phm " id="about">
          {% if activity.about %}
          <p class="tab-pane pvm phm" >{{activity.about|raw}}</p>
          {% endif %}
        </div>
        {% if activity.summary %}
        <div class="tab-pane pvm phm" id="summary">{{activity.summary|raw}}</div>
        {% endif %}
      </div>
    </div>


    <div class="mhz">
      <div class="plz prz">
        <div class="widget k_postlist shadow">
         
          <div class="kytitle">
            <h3>提问与交流</h3>
            <a class="pull-right text-color-red">如果在公开课前进行提问，我们会挑选关注度最高的几个问题让老师进行回答</a>
          </div>

          <div class="content">

             <form class="form-horizontal" role="form" id="qustion-form" action="{{ path("activity_qustioncreate",{id:activity.id}) }}" method="post">

              <div class="row">
                                           

                            <div class="col-md-10 mbl">
                                  
                                   <textarea class="form-control" rows="5" name="qustion[content]"  id="qustiontext"></textarea>      

                            </div>
                           
                            <div class="col-md-2 mbl">                            
                                <button type="submit" class="btn btn-success"  data-toggle="form-submit" data-target="#qustion-form">我要提问</button>
                            </div>
               
              </div>

            </form>


            <div class="row">
              <ul class="col-md-12 mbm mtm " id="qustion-media-list">
                {% for qustion in qustions %}
                <li class="media li-no">
                  <a class="pull-left user-link user-avatar-link" href="javascript:">
                    {% if qustion['userId']==0 %}
                    <img src="/assets/img/default/avatar.png" >    
                    {% else %}
                    <img src="{{ file_path(qustion_users[qustion['userId']].mediumAvatar,'avatar.png') }}" >{% endif %}</a>
                  <div class="media-body">
                    <div class="media-content post-list phm pvm">
                      <a  href="{{ path('user_show',{id:qustion['userId'] }) }}">{{qustion_users[qustion['userId']].nickname }}:</a>
                      {{qustion.content}} 
                      <a hef="javascript:" class="reply btn btn-link">
                        <span class="glyphicon glyphicon-share-alt text-size-10">回复</span>
                      </a>
                      <span class="post-item-time">{{qustion.createdTime|smart_time }}</span>
                    </div>
                   
                    <div class=" media-content">
                      {% for post in qustion.bindpost %}
                      <div class="post-item post-list">
                        <a  href="{{ path('user_show',{id:post.userId }) }}">{{ post_users[post.userId].nickname }}</a>
                        :{{post.content}}
                        <span class="post-item-time">{{ post.createdTime|smart_time }}</span>
                      </div>
                      {% endfor %}
                    </div>
                    
                    <div class="reply-box media-content" style="display:none;" action="{{ path("activity_qustionpost",{id:qustion.activityId,qid:qustion.id}) }}"></div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="col-md-4 prz">

    <!--现场回放 -->
    {% if courses %}
    <div class="widget  shadow">
      <div class="kytitle">
        <h3>课程回放</h3>
      </div>
      <div class="content pbm ">
        {% for course in courses %}
        <a href="{{ path('course_show', {id:course.id}) }}" target="_blank">
          <div class="grid-img ps-re">
            <img src="{{ file_path(course.largePicture, 'course-large.png') }}"  class="img-responsive">
            <div class="card-desc">
              <div class="ps-ab ps-bt ps-rtll text-vertial " >
                <img   class="pz mz" style="display:inline" src="{{ asset('assets/img/default/play_icon_normal.png') }}" />
                <span class="btn btn-primary btn-xs text-size-16" style="display:inline"  >现在就去看</span>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}


    <!-- PPT -->
    {% if appendixs %}
    <div class="widget  shadow">
      <div class="kytitle">
        <h3>活动资料及ppt下载</h3>
      </div>
      <div class="content  pbm">
        <ul class="plm">
          {% for appendix in appendixs %}
          <li>
            <a href="{{ path('activity_material_download', {activityId:activity.id, materialId: appendix.id}) }}">{{ appendix.title }}</a>
            <br></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}


    <!-- 讲师介绍 -->
    {{ render(controller('TopxiaWebBundle:Activity:expertersBlock',{activity:activity}))}}


    <!-- 已报名 -->
    <div class="widget shadow">
      <div class="kytitle clearfix ">
        <h3 class="panel-title">新报名小伙伴(总{{activity.studentNum}}人)</h3>
      </div>
      <div class="panel-body pbz ptz">
        {% if students %}
        <ul class="media-list">
          {% for student in students  %}
          {% set studentInfo = studentInfos[student.id]%}
          <li class="media">
            <a class="pull-left" href="{{ path('user_show',{id:student.id}) }}">
              <img width="30px" class="img-responsive media-object " src="{{ file_path(student.mediumAvatar,'avatar-large.png')  }}" alt="user icon"></a>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="{{ path('user_show', {id:student.id}) }}" class="text-color-gray text-size-12" >{{ student.nickname }}</a>
              </h4>
              <p class="text-color-gray text-size-12">{{ studentInfo.job }} {{ studentInfo.company }}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <div class="empty">该课程尚未设置教师</div>
        {% endif %}
        <div class="empty">更多小伙伴．省略显示．．</div>
      </div>
    </div>

  </div>
</div>



<!-- 小伙伴们正在看 -->
<section class="row mhz">
<div class="col-md-12 pz">
<!-- 小伙伴们正在看 -->
{{ render(controller('TopxiaWebBundle:Activity:activityBlockSame', {activitys:activitys})) }}
</div>
</section>

<script type="reply-templete" id="post-templete">
          <div class="input-group well well-sm">
            <input type="text" name="activitypost[content]" class="form-control" id="posttest" />
            <span class="input-group-btn">
              <button class="btn btn-info reply-btn" type="button">回复</button>
            </span>
          </div>
</script>
{% endblock %}