{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set nav = 'openclass' %}

{% set bodyClass = 'homepage' %}

{% set script_controller = 'activity/show-success' %}

{% block content %}

<div class="row">
  <ul class='col-md-12'>
    <li class="widget shadow pz">
      <div class="clearfix">
        <div class="imageblock-image">
          <a href="#" class="show-user-card" >
            <img class="open-class-logo-large-size"  src="{{ file_path(activity.largePicture,'activity-large.jpg') }}"></a>
        </div>
        <div class="imageblock-content prm">
          <p class="title">
            <h4>{{ activity.subtitle }}</h4>
            <h3>{{ activity.title }}</h3>
          </p>
          <p>开始时间： {{activity.startTime}}</p>
          <p>结束时间： {{activity.endTime}}</p>
          <p>地点： {{ activity.address }}</p>
          {% if current_user.id!=0  %}
          <p>线上地址: {{ activity.onlineAddress }}</p>
          {% endif %}
          <p>形式：  {{ activity.form }}</p>
          <p>费用： {{ activity.price}}</p>
          <div class="text-right">
            <p>
              <h3> <span class='label label-default'>课程已结束</span></h3>
            </p>
          </div>
        </div>
      </div>
    </li>  
  </ul>  
</div>

<section class="row"> 
 
       <!-- 视频播放-->
      <div class="col-md-8">
        <div class="mod k_postlist openstack">
            <ul class="pz">
              <li class="shadow pz">
                {% if activity.courseId %}
               <div class="activity-video-player" 
                data-url="{{ path('course_lesson_media',{courseId:activity.courseId[0],lessonId:lessonid}) }}">
                <video id="lesson-video-player" class="video-js vjs-default-skin" controls preload="auto"></video>
              </div>
                {% else %}
                  <p class="empty-info">暂无视频信息</p>
                {% endif %}
              </li>           
            </ul>         
        </div>
      </div>
      <!-- 附件下载-->
      <div class="col-md-4">
        <div class="widget k_postlist shadow">
          <div class="kytitle clearfix bor-l-green">
            <h3>附件下载</h3>
          </div>
          <div class="content outline mod-h-sm">
          
              {% for appendix in appendixs %}
                {{ appendix.title }}  . <a href="{{ path('activity_material_download', {activityId:activity.id, materialId: appendix.id}) }}">下载</a>
              {% endfor %}
          
          </div>
        </div>
      </div>
   
</section>

<section class="row">
  <div class="col-md-12 ">

          {% if pics %}
          <div id="carousel-demo-1" class="carousel-demo">
              <span class="ui-switchable-prev-btn glyphicon glyphicon-chevron-left" data-role="prev"></span>
              <span class="ui-switchable-next-btn glyphicon glyphicon-chevron-right" data-role="next"></span>
              <div class="scroller">
                  <div class="ui-switchable-content" data-role="content">
                    {% for pic in pics %}
                      <a href="{{ path('photoview',{id:pic.groupId }) }}" class="ui-switchable-panel">
                        <img  src="{{ file_path(pic.url,'course-large.png') }}" alt=""  />
                        <div class="tit">
                          <p>{{ pic.content }}</p>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
              </div>
          </div>
          {% else %}
              <p class="empty-info">暂无活动图片信息</p>
          {% endif %}
       
      </div>

</section>

<section class="row"> 
  <!-- 课程大纲 -->
  <div class="col-md-8">
    <div class="widget k_postlist shadow">
        <div class="kytitle clearfix bor-l-green">
          <h3>课程大纲</h3>
        </div>
        <div class="content outline">
          <div class="padding">
            {{ activity.about|raw}}
          </div>
        </div>
    </div>
  </div> 
  <div class="col-md-4">
    <!-- 讲师介绍 -->                
    {{ render(controller('TopxiaWebBundle:Activity:expertersBlock',{activity:activity}))}}
    <!-- 已报名 -->
    <div class="widget k_postlist shadow">
      <div class="kytitle clearfix bor-l-green">
        <h3>已报名的小伙伴</h3>             
      </div>
      <div class="content model-over-h">
        {% for student in students %}
          <a href="{{ path('user_show',{id:student.id}) }}" class="user-link user-avatar-link activity-user-link"><img src="{{ file_path(student.smallAvatar,'avatar.png') }}">
            <p>{{ student.nickname}}</p>
          </a>
        {% endfor %}
        <span class="justify_fix"></span>         
      </div>
    </div>
  </div>

</section>
<section class="row"> 
  <div class="col-md-12">
      <div class="widget k_postlist shadow">
        <div class="kytitle clearfix bor-l-green">
          <h3>提问与交流</h3><span>如果在公开课前进行提问，我们会挑选关注度最高的几个问题让老师进行回答</span>
        </div>
        <div class="content comment">
          <div class="padding">
            <div class="clearfix mar-b">
              <div class="imageblock-image">
                <a href="javascript:" class="show-user-card user-avatar-link pull-left" >
                  {% if current_user['id']==0 %}
                  <img src="/assets/img/default/avatar.png" alt="ae120"></a>
                  {% else %}
                  <img src="{{ file_path(current_user.smallAvatar,'avatar.png') }}" alt="ae120"></a>
                  {% endif %}
              </div>
              <div class="imageblock-content">
                <div class="comment-box">
                  <form class="form-horizontal" role="form" id="qustion-form" action="{{ path("activity_qustioncreate",{id:activity.id}) }}" method="post">
                    <textarea class="form-control" rows="5" name="qustion[content]"
                    id="qustiontext"></textarea>
                    <div class="comment-side">
                      <p><img src="{{ asset('bundles/topxiaweb/img/smile.png') }}"></p>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="qustion[castweibo]">转发微博</label>
                      </div>
                      <button type="submit" class="btn btn-success"  data-toggle="form-submit" data-target="#qustion-form">提问</button>
                    </div>
                  </form>
                </div>
              </div>                  
            </div>
          </div>
          <ul class="mar-b" id="qustion-media-list">
            {% for qustion in qustions %}
                <li class="media">
                  <a class="pull-left user-link user-avatar-link" href="javascript:">
                    {% if qustion['userId']==0 %}
                    <img src="/assets/img/default/avatar.png"></a>
                    {% else %}
                    <img src="{{ file_path(qustion_users[qustion['userId']].mediumAvatar,'avatar.png') }}" alt="ae120"></a>
                    {% endif %}
                  </a>
                  <div class="media-body">
                    <p class="media-content"><a  href="{{ path('user_show',{id:qustion['userId'] }) }}">{{qustion_users[qustion['userId']].nickname }}:</a> {{qustion.content}}
                    </p>
                    <div class="reply-tools media-content " >
                      <a hef="javascript:" class="reply btn btn-link"><span class="glyphicon glyphicon-share-alt"></span> 回复</a>
                      <p style="float:right;" class="huifu">{{qustion.createdTime|smart_time }}</p>
                    </div>
                    <div class="post-list media-content">
                      {% for post in qustion.bindpost %}
                        <div class="post-item">
                                  <a  href="{{ path('user_show',{id:post.userId }) }}">{{ post_users[post.userId].nickname }}</a>:{{post.content}} <span class="post-item-time">{{ post.createdTime|smart_time }}</span>
                        </div>
                      {% endfor %}
                    </div>
                    <div class="reply-box media-content" style="display:none;" action="{{ path("activity_qustionpost",{id:qustion.activityId,qid:qustion.id}) }}">
                      
                    </div>
                  </div>
                </li>
            {% endfor %}
          </ul>
        </div>
      </div>
  </div>
</section>


<!-- 小伙伴们正在看 -->
<div class="row">
  <div class="col-md-12">
        <!-- 小伙伴们正在看 -->
        <div class="widget k_postlist shadow">
          <div class="kytitle clearfix bor-l-gray">
            <h3>小伙伴们正在看</h3>              
          </div>                  
          <div class="content daren imgpanel"> 
              {% for item in activitys %}
                <a href="{{ path('activity_show',{id:item.id})}}">
                  <img class="open-class-logo-middle-size" src="{{ file_path(item.middlePicture,'activity-large.jpg') }}" />
                  <div class="tit">
                          <p>{{ item.title }}</p>
                  </div>
                </a>
              {% endfor %}
              <span class="justify_fix"></span>         
          </div>
        </div>
      </div>  
</section>

  <script type="reply-templete" id="post-templete">
                    <div class="input-group well well-sm">
                      <input type="text" name="activitypost[content]" class="form-control" id="posttest" />
                      <span class="input-group-btn">
                        <button class="btn btn-info reply-btn" type="button">回复</button>
                      </span>
                    </div>
  </script>


{% endblock %}