{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set nav = 'openclass' %}
{% set bodyClass = 'homepage' %}
{% set script_controller = 'activity/show' %}

{% block content %}
   
<div class="row widget shadow ps-re pz ">

    <div class="col-md-4  pts pbs pls prs">
          <a href="#" class="show-user-card" >
            <img class="img-responsive"  src="{{ file_path(activity.largePicture,'activity-large.jpg') }}"></a>
     
    </div> 
    <div class="col-md-8  plm">    
          <p class="title">
            <h4>{{ activity.subtitle }}</h4>
            <h3>{{ activity.title }}</h3>
          </p>
          <p>开始时间： {{activity.startTime}}</p>
          <p>结束时间： {{activity.endTime}}</p>
          <p>形式：  {{ activity.form }}</p>
          <p>现场地址： {{ activity.address }}</p>
          <p>直播地址： {% if activity.join %}<a target="_blank" href="{{ activity.onlineAddress }}"> {{ activity.onlineAddress }}</a> {% else %} <span class='text-danger'> 报名后即可参加直播 </span>{% endif %}</p>
                   
          <p>费用： {{ activity.price}}</p>
         
    </div> 
     <div class="ps-ab ps-bt ps-rtl">
            <p>
              {{activity.studentNum}}人已报名
              {% if activity.join %}
                <a href="{{ path('activity_remove',{id:activity.id}) }}" class="mar-l btn btn-warning" >取消报名</a>
              {% else %}
                <a href="{{ path('activity_join',{id:activity.id}) }}" class="mar-l btn btn-success  green" >活动报名</a>
              {% endif %}
              <a href="javascript:void(0)" id="media-qustion" class="mar-l btn btn-success  green">课前提问</a>
            </p>
      </div>      
 
</div>


<div class="row">
  <div class="col-md-8 plz">
    <!-- 课程大纲 -->
    <div class="widget k_postlist shadow">
      <div class="kytitle clearfix bor-l-green">
        <h3>课程大纲</h3>
      </div>
      <div class="content">
        <div class="padding">
          {{ activity.about|raw}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 prz">
    <!-- 讲师介绍 -->                
    {{ render(controller('TopxiaWebBundle:Activity:expertersBlock',{activity:activity}))}}
    <!-- 已报名 -->
    <div class="widget k_postlist shadow">
      <div class="kytitle clearfix bor-l-green">
        <h3>已报名的小伙伴</h3>             
      </div>
      <div class="content model-over-h">
        {% for student in students %}
          <a href="{{ path('user_show',{id:student.id}) }}" class="user-link user-avatar-link activity-user-link"><img src="{{ file_path(student.smallAvatar,'avatar.png') }}">
            <p>{{ student.nickname}}</p>
          </a>
        {% endfor %}
        <span class="justify_fix"></span>         
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 plz">
      <div class="widget k_postlist shadow">
        <div class="kytitle clearfix bor-l-green">
          <h3>提问与交流</h3> ------- <span class="text-right">如果在公开课前进行提问，我们会挑选关注度最高的几个问题让老师进行回答</span>
        </div>
        <div class="content comment">
          <div class="padding">
            <div class="clearfix mar-b">
              <div class="imageblock-image">
                <a href="javascript:" class="show-user-card user-avatar-link pull-left" >
                  {% if current_user['id']==0 %}
                  <img src="/assets/img/default/avatar.png" alt="ae120"></a>
                  {% else %}
                  <img src="{{ file_path(current_user.smallAvatar,'avatar.png') }}" alt="ae120"></a>
                  {% endif %}
              </div>
              <div class="imageblock-content">
                <div class="comment-box">
                  <form class="form-horizontal" role="form" id="qustion-form" action="{{ path("activity_qustioncreate",{id:activity.id}) }}" method="post">
                    <textarea class="form-control" rows="5" name="qustion[content]"
                    id="qustiontext"></textarea>
                    <div class="comment-side">
                      <p><img src="{{ asset('bundles/topxiaweb/img/smile.png') }}"></p>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="qustion[castweibo]">转发微博</label>
                      </div>
                      <button type="submit" class="btn btn-success"  data-toggle="form-submit" data-target="#qustion-form">提问</button>
                    </div>
                  </form>
                </div>
              </div>                  
            </div>
          </div>
          <ul class="mar-b" id="qustion-media-list">
            {% for qustion in qustions %}
                <li class="media">
                  <a class="pull-left user-link user-avatar-link" href="javascript:">
                    {% if qustion['userId']==0 %}
                    <img src="/assets/img/default/avatar.png" ></a>
                    {% else %}
                    <img src="{{ file_path(qustion_users[qustion['userId']].mediumAvatar,'avatar.png') }}" ></a>
                    {% endif %}
                  </a>
                  <div class="media-body">
                    <p class="media-content"><a  href="{{ path('user_show',{id:qustion['userId'] }) }}">{{qustion_users[qustion['userId']].nickname }}:</a> {{qustion.content}}
                    </p>
                    <div class="reply-tools media-content">
                    <a hef="javascript:" class="reply btn btn-link"><span class="glyphicon glyphicon-share-alt"></span> 回复</a>
                      <p style="float:right;" class="huifu">{{qustion.createdTime|smart_time }}</p>
                    </div>
                    <div class="post-list media-content">
                      {% for post in qustion.bindpost %}
                        <div class="post-item">
                                  <a  href="{{ path('user_show',{id:post.userId }) }}">{{ post_users[post.userId].nickname }}</a>:{{post.content}} <span class="post-item-time">{{ post.createdTime|smart_time }}</span>
                        </div>
                      {% endfor %}
                    </div>
                    <div class="reply-box media-content" style="display:none;" action="{{ path("activity_qustionpost",{id:qustion.activityId,qid:qustion.id}) }}">
                      
                    </div>
                  </div>
                </li>
            {% endfor %}
          </ul>
        </div>
      </div>
  </div>
</div>


<!-- 小伙伴们正在看 -->
<section class="row">
  <div class="col-md-12 pz">
        <!-- 小伙伴们正在看 -->
         {{ render(controller('TopxiaWebBundle:Activity:activityBlockSame', {activitys:activitys})) }}
      </div>  
</section>


<script type="reply-templete" id="post-templete">
          <div class="input-group well well-sm">
            <input type="text" name="activitypost[content]" class="form-control" id="posttest" />
            <span class="input-group-btn">
              <button class="btn btn-info reply-btn" type="button">回复</button>
            </span>
          </div>
</script>

{% endblock %}