{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set nav = 'openclass' %}

{% set bodyClass = 'homepage' %}

{% set script_controller = 'activity/show' %}

{% block content %}

<section class="row"> 
  <div class="container">
    <div class="kytitle clearfix">
      <h3>首页—公开课—{{ activity.title }}</h3>
      <!-- <div class="height-down"></div>   -->
    </div>  
    <div class="row">
      <div class="col-md-8">
        <!-- item-list -->
        <div class="mod k_postlist openstack">
          <div class="content">       
            <ul>
              <li class="shadow">
                {% if activity.courseId %}
               <div class="activity-video-player" 
                data-url="{{ path('course_lesson_media',{courseId:activity.courseId[0],lessonId:lessonid}) }}">
                <video id="lesson-video-player" class="video-js vjs-default-skin" controls preload="auto"></video>
              </div>
                {% else %}
                  <p class="empty-info">暂无视频信息</p>
                {% endif %}
              </li>           
            </ul>
          </div>
        </div>
      </div>

      <!-- 侧栏 -->
      <aside class="col-md-4">
        
        <!-- 小伙伴们正在看 -->
        <div class="widget k_postlist shadow">
          <div class="kytitle clearfix bor-l-gray">
            <h3>小伙伴们正在看</h3>              
          </div>                  
            <div class="content daren"> 
              {% for item in activitys %}
                <a href="{{ path('activity_showsuccess',{id:item.id})}}">
                  <img src="{{ file_path(item.middlePicture,'avatar.png') }}">
                </a>
              {% endfor %}
            <span class="justify_fix"></span>         
          </div>
        </div>
        <!-- 已报名的开源达人 -->
        <div class="widget k_postlist shadow">
          <div class="kytitle clearfix bor-l-gray">
            <h3>已报名的开源达人</h3>             
          </div>
          <div class="content daren">
            {% for student in students %}
              <a href="" class="user-link user-avatar-link"><img src="{{ file_path(student.smallAvatar,'avatar.png') }}"></a>
            {% endfor %}
            <span class="justify_fix"></span>         
          </div>
        </div>
              
      </aside>
    </div>
  </div>    
</section>

<div class="row">
  <div class="col-md-12 ">
    <div class="widget k_postlist shadow">
      <div class="content" >
          {% if pics %}
          <div id="carousel-demo-1" class="carousel-demo">
              <span class="ui-switchable-prev-btn" data-role="prev">&lsaquo; 上一页</span>
              <span class="ui-switchable-next-btn" data-role="next">下一页 &rsaquo;</span>
              <div class="scroller">
                  <div class="ui-switchable-content" data-role="content">
                    {% for pic in pics %}
                      <a href="#"><img  src="{{ file_path(pic.url,'course-large.png') }}" alt="" class="ui-switchable-panel"></a>
                    {% endfor %}
                  </div>
              </div>
          </div>
          {% else %}
              <p class="empty-info">暂无活动图片信息</p>
          {% endif %}
        </div>
      </div>
    </div>
</div>

<section class="row"> 
  <div class="container">
    <div class="col-md-4 clear-pleft">
                <!-- 讲师介绍 -->
                <div class="widget k_postlist shadow">
                  <div class="kytitle clearfix bor-l-green">
                    <h3>讲师介绍</h3>
                  </div>
                  <div class="content lecturer mod-h-sm">
                    {% if experter %}
                    <div class="text-center">
                      <img class="bor" src="{{ file_path(experter.mediumAvatar,'avatar.png') }}">
                      <p>{{experter.nickname }}</p>
                    </div>
                    <p class="padding">
                      {{experter.profile.about|raw }}
                    </p>
                  
                  {% else %}
                    <p class="empty-info">暂无老师信息</p>
                  {% endif %}
                  </div>
                </div>

                <!-- 附件下载-->
                <div class="widget k_postlist shadow">
                  <div class="kytitle clearfix bor-l-green">
                    <h3>附件下载</h3>
                  </div>
                  <div class="content outline mod-h-sm">
                    <div class="padding">
                      {% for appendix in appendixs %}
                        {{ appendix.title }}  . <a href="{{ path('activity_material_download', {courseId:activity.id, materialId: appendix.id}) }}">下载</a>
                      {% endfor %}
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-8 clear-pright">
                <!-- 课程大纲 -->
                <div class="widget k_postlist shadow">
                  <div class="kytitle clearfix bor-l-green">
                    <h3>课程大纲</h3>
                  </div>
                  <div class="content outline">
                    <div class="padding">
                      {{ activity.about|raw}}
                    </div>
                  </div>
                </div>
              </div>
  </div>

  <div class="container">
      <div class="widget k_postlist shadow">
              <div class="kytitle clearfix bor-l-green">
                <h3>提问与交流</h3><span>如果在公开课前进行提问，我们会挑选关注度最高的几个问题让老师进行回答</span>
              </div>
              <div class="content comment">
                <div class="padding">
                  <div class="clearfix mar-b">
                    <div class="imageblock-image">
                      <a href="#" class="show-user-card" >
                        <a href="#" class="show-user-card user-avatar-link pull-left" >
                        {% if current_user['id']==0 %}
                        <img src="/assets/img/default/avatar.png" alt="ae120"></a>
                        {% else %}
                        <img src="{{ file_path(current_user.smallAvatar,'avatar.png') }}" alt="ae120"></a>
                        {% endif %}
                    </div>
                    <div class="imageblock-content">
                      <div class="comment-box">
                         <form class="form-horizontal" role="form" id="qustion-form" action="{{ path("activity_qustioncreate",{id:activity.id}) }}" method="post">
                          <textarea class="form-control" rows="5" name="qustion[content]"
                          id="qustiontext"></textarea>
                          <div class="comment-side">
                            <p><img src="{{ asset('bundles/topxiaweb/img/smile.png') }}"></p>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="qustion[castweibo]">转发微博</label>
                            </div>
                            <button type="submit" class="btn btn-success"  data-toggle="form-submit" data-target="#qustion-form">提问</button>
                          </div>
                        </form>
                      </div>
                    </div>                  
                  </div>
                  <div class="sequence clearfix">
                    <span class="btn btn-default">按提问时间</span>
                    <span class="btn btn-default">按老师回答</span>
                  </div>
                </div>                
                <ul class="mar-b" id="qustion-media-list">
                   {% for qustion in qustions %}
          <li class="media">
            <a class="pull-left user-link user-avatar-link" href="javascript:">
              {% if qustion['userid']==0 %}
              <img src="/assets/img/default/avatar.png" alt="ae120"></a>
              {% else %}
              <img src="{{ file_path(qustion_users[qustion['userid']].mediumAvatar,'avatar.png') }}" alt="ae120"></a>
              {% endif %}
            </a>
            <div class="media-body">
              <p class="media-content"><a>{{qustion_users[qustion['userid']].nickname }}:</a> {{qustion.content}}
              </p>
              <div class="media-content" style="margin-bottom:5px;">
                <a hef="javascript:" class="reply btn btn-link">回复</a>
                <a hef="javascript:" style="float:right;" class="huifu">2013-8-24</a>
              </div>
              <div class="post-list media-content">
                {% for post in qustion.bindpost %}
                  <div class="well well-sm">
                            <a href="#">{{ post_users[post.userid].nickname }}</a>:{{post.content}}
                  </div>
                {% endfor %}
              </div>
              <div class="reply-box media-content" style="display:none;" action="{{ path("activity_qustionpost",{id:qustion.activityId,qid:qustion.id}) }}">
                
              </div>
            </div>
          </li>
         {% endfor %}
                </ul>
              </div>
            </div>
  </div>
</section>




  <script type="reply-templete" id="reply-templete">
          <li class="media">
            <a class="user-link user-avatar-link pull-left" href="javascript:">
              <img src="{ usersmallAvatar }"></img>
            </a>
            <div class="media-body">
              <p class="media-content"><a>{ usernickname }:</a> { content }</p>
              <div class="media-content" style="margin-bottom:5px;">
                <a hef="javascript:" class="btn btn-link reply">回复</a>
                <a hef="javascript:" style="float:right;" class="huifu">2013-8-24</a>
              </div>
              <div class="post-list media-content"></div>
              <div class="reply-box media-content" style="display:none;" action='{ action }'></div>
            </div>
          </li>
  </script>
  <script type="reply-templete" id="post-templete">
                    <div class="input-group well well-sm">
                      <input type="text" name="activitypost[content]" class="form-control" id="posttest" />
                      <span class="input-group-btn">
                        <button class="btn btn-info reply-btn" type="button">回复</button>
                      </span>
                    </div>
  </script>
  <script type="reply-templete" id="post-reply-templete">
    <div class="well well-sm">
      <a href="#">{ usernickname }</a>:{ content }
    </div>
  </script>

{% endblock %}