{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% set nav = 'openclass' %}

{% set bodyClass = 'homepage' %}

{% set script_controller = 'activity/show-success' %}

{% block content %}

<section class="row ">
      <div class="container widget shadow ptm pbm phz mbl ps-re">
        <div class="col-md-2 phm">
          <img class="img-responsive"  src="{{ file_path(activity.largePicture,'activity-large.jpg') }}">
        </div>
        <div class=" col-md-10 pz">
            <h5 class="ps-ab ps-tp ps-rtl">{{ activity.subtitle }} </h5>
            <h4>{{ activity.title }} </h4>
         
            <p>时间： {{activity.startTime}} </p> 
            <p>现场地址： {{ activity.address }}</p> 
         
        </div> 
        <h3 class="ps-ab ps-bt ps-rtl">
            <span class='label label-default'>已结束</span>
        </h3>           
      </div>
</section>

<section class="row mhz">  
       <!-- 视频播放-->
  <div class="col-md-8 pz"> 
        <div class="widget shadow pvs phs">
           
              
            <ul class="nav nav-tabs">
              <li><a href="#about" data-toggle="tab">活动内容</a></li>
              <li  class="active"><a href="#pics" data-toggle="tab">现场详情</a></li>
            </ul>


            <div class="tab-content">
              <div class="tab-pane  pvm phm " id="about">
                  {{activity.about|raw}}
              </div>
              <div class="tab-pane active" id="pics">
                  <ul id="pic-list" class="phz mvl clearfix ps-re">
                  {% if pics %}
                    {% for pic in pics %}
                    <li class="display-no col-md-6">
                      <a href="{{ path('photoview',{id:pic.groupId }) }}"  target="_blank">
                        <img  src="{{ file_path(pic.url,'course-large.png') }}" class="img-responsive" alt=""  />
                        <p>{{ pic.content }}</p>

                      </a>
                    </li>
                    {% endfor %}
                  {% endif %}
                  </ul>
              </div>

              
            </div>


        </div>                    
  </div>
      <!-- 本期看点，讲师PPT-->
  <div class="col-md-4 prz"> 

    <!--现场回放 -->    
    <div class="widget  shadow">
      <div class="kytitle">
        <h3>直播回放</h3>
      </div>
      <div class="content  ">
        
      </div>
    </div>

    <!-- PPT -->    
    <div class="widget  shadow">
      <div class="kytitle">
        <h3>活动ppt</h3>
      </div>
      <div class="content  pbm">
        {% for appendix in appendixs %}
        <a href="{{ path('activity_material_download', {activityId:activity.id, materialId: appendix.id}) }}">{{ appendix.title }} </a>
        {% endfor %}
      </div>
    </div>
    
    <!-- 讲师介绍 --> 
    {{ render(controller('TopxiaWebBundle:Activity:expertersBlock',{activity:activity}))}}
  </div> 

   

</section>






<!-- 小伙伴们正在看 -->
<section class="row mhz">
  <div class="col-md-12 pz">
        <!-- 小伙伴们正在看 -->
         {{ render(controller('TopxiaWebBundle:Activity:activityBlockSame', {activitys:activitys})) }}
      </div>  
</section>



{% endblock %}