{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}

{% block title %}优惠码管理 - {{ parent() }}{% endblock %}

{% set side_nav = 'coupons' %}
{% set script_controller = 'course-manage/coupons' %}

{% block main %}

<div class="panel panel-default panel-col">
  <div class="panel-heading">优惠码管理
    {% if app.user.isAdmin() %}
      <button class="btn btn-info btn-sm pull-right mhs" id="coupon-add-btn" data-toggle="modal" data-target="#modal" data-url="{{ path('course_manage_coupon_create', {id:course.id}) }}"><i class="glyphicon glyphicon-plus"></i> 生成优惠码</button>
    {% endif %}
  </div>
  <form id="coupon-search-form" class="form-inline  well-sm" action="" method="get" novalidate>
    <div class="form-group">
      <select class="form-control" name="status">
        {{ select_options(dict('couponStatus'), app.request.query.get('status'), '状态') }}
      </select>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="优惠码" name="code" value="{{ app.request.get('code') }}">
    </div>
    <button class="btn btn-primary">检索</button>
  </form>
  <div class="panel-body">  
    <table class="table table-striped" id="course-coupon-list">
      <thead>
        <tr>
          <th>优惠码</th>
          <th>优惠说明</th>
          <th width="20%">状态</th>
          <th>可使用次数</th>
          <th>生成日期</th>
          <th>过期日期</th>
          <th>操作</th>
        </tr>
      </thead>

      <tbody>
        {% for coupon in coupons %}
          {% include 'TopxiaWebBundle:CouponManage:tr.html.twig' %}
        {% else %}
          <tr class="empty"><td colspan="20">无优惠码记录</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {{ web_macro.paginator(paginator) }}
</div>


{% endblock %}