{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<tr>
  <td>{{ coupon.code }}</td>
  <td>
  {% if coupon.type=='discount' %}
    <span>折扣:{{ coupon.rate|number_format(1) }}折</span>
  {% elseif coupon.type=='minus' %}
    <span>减免:{{ coupon.rate }}元</span>
  {% endif %}
  </td>
  <td>
  {% if coupon.status=='unused' %}  
    <span class="label label-success ">未使用</span>
  {% elseif coupon.status=='used' %}
    <span class="label label-default ">已使用</span>
  {% endif %}
  </td>  
  <td>{{ coupon.times }}</td>
  <td>{{ coupon.createdTime|date('Y-n-d H:i') }}</td>
  <td>{{ coupon.deadline|date('Y-n-d H:i') }}</td>
  <td><a class="coupon-remove" href="javascript:;" data-url="{{ path('course_manage_coupon_delete', {id:course.id, couponId:coupon.id}) }}">删除</a>
  </td>
</tr>