<table class="table table-striped table-hover table-bordered reward-point-table">
  <tr>
    <th></th>
    <th width="40%">{{ '行为'|trans }}</th>
    <th width="15%">{{ '开关'|trans }}</th>
    <th width="15%">{{ '分值'|trans }}{{ '(分/次)'|trans }}</th>
    <th width="15%">{{ '每日上限'|trans }}{{ '(分)'|trans }}</th>
  </tr>
  <tr>
    <td rowspan="6">{{ '交流'|trans }}</td>
    <td>{{ '在课程或班级中提出1个问题'|trans }}</td>
    <td>
      <span class="es-switch {% if rewardPoint.create_question['enable'] %}is-active{% endif %}">
        <input class="es-switch__input" type="text" name="create_question[enable]" value="{{ rewardPoint.create_question['enable'] }}" data-close="0" data-open="1">
      </span>
    </td>
    <td>
      <input class="form-control reward-point-amount" name="create_question[amount]" type="text" value="{{ rewardPoint.create_question['amount'] }}">
    </td>
    <td>
      <input class="form-control reward-point-daily-limit" name="create_question[daily_limit]" type="text" value="{{ rewardPoint.create_question['daily_limit'] }}">
    </td>
  </tr>
  <tr>
    <td>{{ '在课程或班级中回答1个问题'|trans }}</td>
    <td>
      <span class="es-switch {% if rewardPoint.reply_question['enable'] %}is-active{% endif %}">
        <input class="es-switch__input" type="text" name="reply_question[enable]" value="{{ rewardPoint.reply_question['enable'] }}" data-close="0" data-open="1">
      </span>
    </td>
    <td>
      <input class="form-control reward-point-amount" name="reply_question[amount]" type="text" value="{{ rewardPoint.reply_question['amount'] }}">
    </td>
    <td>
      <input class="form-control reward-point-daily-limit" name="reply_question[daily_limit]" type="text" value="{{ rewardPoint.reply_question['daily_limit'] }}">
    </td>
  </tr>
  <tr>
    <td>{{ '在课程或班级中发起1个话题'|trans }}</td>
    <td>
      <span class="es-switch {% if rewardPoint.create_discussion['enable'] %}is-active{% endif %}">
        <input class="es-switch__input" type="text" name="create_discussion[enable]" value="{{ rewardPoint.create_discussion['enable'] }}" data-close="0" data-open="1">
      </span>
    </td>
    <td>
      <input class="form-control reward-point-amount" name="create_discussion[amount]" type="text" value="{{ rewardPoint.create_discussion['amount'] }}">
    </td>
    <td>
      <input class="form-control reward-point-daily-limit" name="create_discussion[daily_limit]" type="text" value="{{ rewardPoint.create_discussion['daily_limit'] }}">
    </td>
  </tr>
  <tr>
    <td>{{ '在课程或班级中回复1个话题'|trans }}</td>
    <td>
      <span class="es-switch {% if rewardPoint.reply_discussion['enable'] %}is-active{% endif %}">
        <input class="es-switch__input" type="text" name="reply_discussion[enable]" value="{{ rewardPoint.reply_discussion['enable'] }}" data-close="0" data-open="1">
      </span>
    </td>
    <td>
      <input class="form-control reward-point-amount" name="reply_discussion[amount]" type="text" value="{{ rewardPoint.reply_discussion['amount'] }}">
    </td>
    <td>
      <input class="form-control reward-point-daily-limit" name="reply_discussion[daily_limit]" type="text" value="{{ rewardPoint.reply_discussion['daily_limit'] }}">
    </td>
  </tr>
  <tr>
    <td>{{ '课程或班级中话题、问题被设为精华'|trans }}</td>
    <td>
      <span class="es-switch {% if rewardPoint.elite_thread['enable'] %}is-active{% endif %}">
        <input class="es-switch__input" type="text" name="elite_thread[enable]" value="{{ rewardPoint.elite_thread['enable'] }}" data-close="0" data-open="1">
      </span>
    </td>
    <td>
      <input class="form-control reward-point-amount" name="elite_thread[amount]" type="text" value="{{ rewardPoint.elite_thread['amount'] }}">
    </td>
    <td>
      --
    </td>
  </tr>
  <tr>
    <td>{{ '评价1个课程或班级'|trans }}</td>
    <td>
      <span class="es-switch {% if rewardPoint.appraise_course_classroom['enable'] %}is-active{% endif %}">
        <input class="es-switch__input" type="text" name="appraise_course_classroom[enable]" value="{{ rewardPoint.appraise_course_classroom['enable'] }}" data-close="0" data-open="1">
      </span>
    </td>
    <td>
      <input class="form-control reward-point-amount" name="appraise_course_classroom[amount]" type="text" value="{{ rewardPoint.appraise_course_classroom['amount'] }}">
    </td>
    <td>
      --
    </td>
  </tr>
  <tr>
    <td>{{ '活跃'|trans }}</td>
    <td>{{ '每日登录'|trans }}</td>
    <td>
      <span class="es-switch {% if rewardPoint.daily_login['enable'] %}is-active{% endif %}">
        <input class="es-switch__input" type="text" name="daily_login[enable]" value="{{ rewardPoint.daily_login['enable'] }}" data-close="0" data-open="1">
      </span>
    </td>
    <td>
      <input class="form-control reward-point-value" name="daily_login[amount]" type="text" value="{{ rewardPoint.daily_login['amount'] }}">
    </td>
    <td>
      --
    </td>
  </tr>
</table>