<table class="table table-striped table-hover table-bordered reward-point-table">
  <tr>
    <th></th>
    <th width="40%">{{ 'admin.reward_point.setting.behavior'|trans }}</th>
    <th width="15%">{{ 'admin.reward_point.setting.switch'|trans }}</th>
    <th width="15%">{{ 'course.question_manage.manage.score'|trans }}{{ '(分/次)'|trans }}</th>
    <th width="15%">{{ 'admin.reward_point.setting.daily_limit'|trans }}{{ '(分)'|trans }}</th>
  </tr>
  {{ slot('reward_point.admin.extension', {'reward_point':'reward_point'}) }}
</table>