<table class="table table-striped table-hover table-bordered ">
  <tr>
    <th></th>
    <th width="40%">{{ '行为'|trans }}</th>
    <th width="15%">{{ '开关'|trans }}</th>
    <th width="15%">{{ '分值'|trans }}{{ '(分/次)'|trans }}</th>
    <th width="15%">{{ '每日上限'|trans }}{{ '(分)'|trans }}</th>
  </tr>
  <tr>
    <td rowspan="6">{{ '交流'|trans }}</td>
    <td>{{ '在课程或班级中提出1个问题'|trans }}</td>
    <td>
      <input type="radio" name="create_question[enable]" value="1"
             {% if rewardPoint.create_question['enable'] == 1 %}checked="checked"{% endif %}>{{ '开启'|trans }}
      <input type="radio" name="create_question[enable]" value="0"
             {% if rewardPoint.create_question['enable'] == 0 %}checked="checked"{% endif %}>{{ '关闭'|trans }}
    </td>
    <td>
      <input class="form-control" name="create_question[amount]" type="text" value="{{ rewardPoint.create_question['amount'] }}">
    </td>
    <td>
      <input class="form-control" name="create_question[daily_limit]" type="text" value="{{ rewardPoint.create_question['daily_limit'] }}">
    </td>
  </tr>
  <tr>
    <td>{{ '在课程或班级中回答1个问题'|trans }}</td>
    <td>
      <input type="radio" name="reply_question[enable]" value="1"
             {% if rewardPoint.reply_question['enable'] == 1 %}checked="checked"{% endif %}>{{ '开启'|trans }}
      <input type="radio" name="reply_question[enable]" value="0"
             {% if rewardPoint.reply_question['enable'] == 0 %}checked="checked"{% endif %}>{{ '关闭'|trans }}
    </td>
    <td>
      <input class="form-control" name="reply_question[amount]" type="text" value="{{ rewardPoint.reply_question['amount'] }}">
    </td>
    <td>
      <input class="form-control" name="reply_question[daily_limit]" type="text" value="{{ rewardPoint.reply_question['daily_limit'] }}">
    </td>
  </tr>
  <tr>
    <td>{{ '在课程或班级中发起1个话题'|trans }}</td>
    <td>
      <input type="radio" name="create_discussion[enable]" value="1"
             {% if rewardPoint.create_discussion['enable'] == 1 %}checked="checked"{% endif %}>{{ '开启'|trans }}
      <input type="radio" name="create_discussion[enable]" value="0"
             {% if rewardPoint.create_discussion['enable'] == 0 %}checked="checked"{% endif %}>{{ '关闭'|trans }}
    </td>
    <td>
      <input class="form-control" name="create_discussion[amount]" type="text" value="{{ rewardPoint.create_discussion['amount'] }}">
    </td>
    <td>
      <input class="form-control" name="create_discussion[daily_limit]" type="text" value="{{ rewardPoint.create_discussion['daily_limit'] }}">
    </td>
  </tr>
  <tr>
    <td>{{ '在课程或班级中回复1个话题'|trans }}</td>
    <td>
      <input type="radio" name="reply_discussion[enable]" value="1"
             {% if rewardPoint.reply_discussion['enable'] == 1 %}checked="checked"{% endif %}>{{ '开启'|trans }}
      <input type="radio" name="reply_discussion[enable]" value="0"
             {% if rewardPoint.reply_discussion['enable'] == 0 %}checked="checked"{% endif %}>{{ '关闭'|trans }}
    </td>
    <td>
      <input class="form-control" name="reply_discussion[amount]" type="text" value="{{ rewardPoint.reply_discussion['amount'] }}">
    </td>
    <td>
      <input class="form-control" name="reply_discussion[daily_limit]" type="text" value="{{ rewardPoint.reply_discussion['daily_limit'] }}">
    </td>
  </tr>
  <tr>
    <td>{{ '课程或班级中话题、问题被设为精华'|trans }}</td>
    <td>
      <input type="radio" name="elite_thread[enable]" value="1"
             {% if rewardPoint.elite_thread['enable'] == 1 %}checked="checked"{% endif %}>{{ '开启'|trans }}
      <input type="radio" name="elite_thread[enable]" value="0"
             {% if rewardPoint.elite_thread['enable'] == 0 %}checked="checked"{% endif %}>{{ '关闭'|trans }}
    </td>
    <td>
      <input class="form-control" name="elite_thread[amount]" type="text" value="{{ rewardPoint.elite_thread['amount'] }}">
    </td>
    <td>
      --
    </td>
  </tr>
  <tr>
    <td>{{ '评价1个课程或班级'|trans }}</td>
    <td>
      <input type="radio" name="appraise_course_classroom[enable]" value="1"
             {% if rewardPoint.appraise_course_classroom['enable'] == 1 %}checked="checked"{% endif %}>{{ '开启'|trans }}
      <input type="radio" name="appraise_course_classroom[enable]" value="0"
             {% if rewardPoint.appraise_course_classroom['enable'] == 0 %}checked="checked"{% endif %}>{{ '关闭'|trans }}
    </td>
    <td>
      <input class="form-control" name="appraise_course_classroom[amount]" type="text" value="{{ rewardPoint.appraise_course_classroom['amount'] }}">
    </td>
    <td>
      --
    </td>
  </tr>
  <tr>
    <td>{{ '活跃'|trans }}</td>
    <td>{{ '每日登录'|trans }}</td>
    <td>
      <input type="radio" name="daily_login[enable]" value="1"
             {% if rewardPoint.daily_login['enable'] == 1 %}checked="checked"{% endif %}>{{ '开启'|trans }}
      <input type="radio" name="daily_login[enable]" value="0"
             {% if rewardPoint.daily_login['enable'] == 0 %}checked="checked"{% endif %}>{{ '关闭'|trans }}
    </td>
    <td>
      <input class="form-control" name="daily_login[amount]" type="text" value="{{ rewardPoint.daily_login['amount'] }}">
    </td>
    <td>
      --
    </td>
  </tr>
</table>