{% extends 'admin/layout.html.twig' %}

{% set script_controller = 'topxiaadminbundle/controller/reward-point/set' %}

{%  set menu = 'admin_reward_point_set' %}

{% block main %}
  {{ web_macro.flash_messages() }}
  <form class="form-horizontal" id="reward-point-set-form" method="post" action="">
    <div class="form-group">
      <label class="col-md-2 control-label" for="enable">
        {{ 'admin.reward_point.setting'|trans }}
      </label>
      <div class="col-md-8 controls radios">
        {{ radios('enable', {1:'admin.reward_point.setting.open_reward_point'|trans, 0:'admin.reward_point.setting.close_reward_point'|trans}, rewardPoint.enable|default(0)) }}      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="name">
        {{ 'admin.reward_point.setting.custom_name'|trans }}
      </label>
      <div class="col-md-4 controls">
        <input class="form-control" name="name" type="text" value="{{ rewardPoint.name|default('admin.reward_point') }}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="">
        {{ 'admin.reward_point.setting.get_rules'|trans }}
      </label>
      <div class="col-md-10 controls">
        {% include 'admin/reward-point/rule-table.html.twig' %}
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="">
        {{ 'admin.reward_point.setting.course_reward_rules'|trans }}
      </label>
      <div class="col-md-8 controls">
        <label class="checkbox-inline">
          <input type="checkbox" name="allowTeacherSet" {% if rewardPoint.allowTeacherSet|default(0) == 1 %}checked="checked"{% else %}{% endif %}>{{ 'admin.reward_point.setting.teacher_set_reward_setting'|trans }}
          <a href="{{ path('admin_course_reward_point_set_list') }}">{{ 'admin.reward_point.setting.go_to_set_list'|trans }}</a>
        </label>
      </div>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    <div class="form-group">
      <div class="controls col-md-offset-2">
        <button type="submit" class="btn btn-primary">{{'form.btn.save'|trans}}</button>
      </div>
    </div>
  </form>
{% endblock %}