
<tr>
  <td>{{ user.nickname }}</td>
  <td>{{ userProfiles[user.id].truename}}</td>
  <td>{{ accounts[user.id].balance|default(0) }}</td>
  <td>{{ accounts[user.id].balance|default(0) }}</td>
  <td>{{ userProfiles[user.id].mobile}}</td>
  <td>{{ user.email}}</td>
</tr>