<tr>
	<td>
		<a href="{{ path('course_manage_test_teacher_check', {id:reviewingTest.id}) }}">{{ testPaper.name }}</a> 
		<br>
		<small>来自课程《{{ course.title }}》，{{ student.nickname }} 于 {{ reviewingTest.endTime|date("Y-m-d H:i:s") }} 交卷 。</small>
	</td>
	<td width="25%">
		{% if status == 'reviewing' %}
			<a href="{{ path('course_manage_test_teacher_check', {id:reviewingTest.id}) }}" class="btn btn-default pull-right">批阅</a>
		{% endif %}

		{% if status == 'finished' %}
			<span class="text-success">总分：{{ reviewingTest.score }} 分</span>
			<br>
			<small>客观题得分：{{ reviewingTest.score - reviewingTest.subjectiveScore }} 分，主观题得分：{{ reviewingTest.subjectiveScore }} 分</small>
		{% endif %}
	</td>
</tr>