<tr>
	<td>
		<a href="">{{ myTestPaper.name }}</a> 
		{% if myTestPaperResult.status == 'reviewing' %}
			<small>老师正在批阅试卷</small>
		{% endif %}
		<br>
		<small>来自课程《{{ course.title }}》，{{ myTestPaperResult.beginTime|date("Y-m-d H:i:s") }}，得分{{ myTestPaperResult.score }}分，共{{ myTestPaper.itemCount }}题，做对{{ myTestPaperResult.rightItemCount }}题。</small>
	{# </td>
	<td width="20%"> #}
		<div class="btn-group pull-right">
			
			{% if myTestPaperResult.status in ['doing', 'paused'] %}
				<a href="{{ path('course_manage_show_test', {id:myTestPaperResult.id}) }}" class="btn btn-default">继续考试</a>
			{% else %}
			<a href="{{ path('course_manage_test_results', {id:myTestPaperResult.id}) }}" class="btn btn-default">查看解析</a>
			<a href="{{ path('course_manage_do_test', {testId:myTestPaper.id}) }}" class="btn btn-default">再做一次</a>
			{% endif %}
		</div>
	</td>
</tr>