<tr id="article-{{ article.id }}">
	<td>{{article.id}}</td>
	<td>
		<a href="{{ path('article_' ~ article.type ~ '_show', {alias:article.alias|default(article.id)}) }}" target="_blank">{{ article.title }}</a><br />
		{% if article.type == 'page' %}
		  <span class="text-muted text-sm">地址：page/{{ article.alias|default(article.id) }}</span>
		{% endif %}
		{% if category %}
			<span class="text-muted text-sm">分类：{{ category.name }}</span>
		{% endif %}
	</td>
	<td>
	{% if category %}
		<span class="text-muted">{{ category.name }}</span>
		{% else %}
		<span class="text-muted">未分类</span>
	{% endif %}
	</td>
	{# <td>{{ dict_text('articleType', article.type) }}</td> #}
	<td>{{ article.updated|date('Y-n-d H:i') }}</td>
	<td>
	<span class="label label-primary">{{ article.featured}}</span> 
	<span class="label label-primary">{{ article.promoted}}</span> 
	<span class="label label-primary">{{ article.sticky}}</span> 
	</td>
	

	{# <td>{{ dict_text('articleType', article.type) }}</td> #}
	<td>{{ dict_text('articleStatus:html', article.status) }}</td>
	<td>
		{{ article.publishedTime|date('Y-n-d H:i') }}<br />
		{{ user.nickname }}
	</td>
	<td>
		<div class="btn-group">
		  <a href="#modal" data-toggle="modal" data-url="{{ path('admin_article_edit', {id:article.id}) }}" class="btn btn-default btn-sm">编辑</a>
		  <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		  	{% if article.status != 'published' %}
			    <li><a href="javascript:" data-role="publish-item" data-url="{{ path('admin_article_publish', {id:article.id}) }}">发布</a></li>
		    {% endif  %}
		    {% if article.status != 'trash' %}
			    <li><a href="javascript:" data-role="trash-item" data-url="{{ path('admin_article_trash', {id:article.id}) }}">移至回收站</a></li>
		    {% endif %}
		    {% if article.status == 'trash' %}
			    <li><a href="javascript:" data-role="delete-item" data-url="{{ path('admin_article_delete', {id:article.id}) }}">永久删除</a></li>
			  {% endif %}
		  </ul>
		</div>
	</td>
</tr>