<tr id="article-{{ article.id }}">
	<td><input value="{{article.id}}" type="checkbox" data-role="batch-item" > {{article.id}}</td>
	<td>
			<span class="text-muted"><a href="{{ path('article_detail',{id:article.id}) }}" target="_blank">{{ article.title | slice(0,22) }}{% if article.title|length >22 %}...{% endif %}</a></span>
	</td>
	<td>
	{% if category %}
		<span class="text-muted"><a href="{{ path('article_category',{categoryCode:category.code}) }}" target="_blank">{{ category.name }}</a></span>
		{% else %}
		<span class="text-muted">未分类</span>
	{% endif %}
	</td>
	<td>{{ article.updatedTime|date('Y-n-d H:i') }}</td>
	<td>
	<a href="javascript:;" class="featured-label" data-set-url="{{ path('admin_article_set_property', {id:article.id,property:'featured'}) }}" data-cancel-url="{{ path('admin_article_cancel_property', {id:article.id,property:'featured'}) }}">{% if article.featured == 1 %}<span class="label label-success">{% else %}<span class="label label-default">{% endif %}头</span></a>

	<a href="javascript:;" class="promoted-label" data-set-url="{{ path('admin_article_set_property', {id:article.id,property:'promoted'}) }}" data-cancel-url="{{ path('admin_article_cancel_property', {id:article.id,property:'promoted'}) }}">{% if article.promoted == 1 %}<span class="label label-success">{% else %}<span class="label label-default">{% endif %}荐</span></a>

	<a href="javascript:;" class="sticky-label" data-set-url="{{ path('admin_article_set_property', {id:article.id,property:'sticky'}) }}" data-cancel-url="{{ path('admin_article_cancel_property', {id:article.id,property:'sticky'}) }}">{% if article.sticky == 1 %}<span class="label label-success">{% else %}<span class="label label-default">{% endif %}顶</span></a>
	</td>

	<td>{{ dict_text('articleStatus:html', article.status) }}</td>

	<td>
		<div class="btn-group">
		  <a  href="{{ path('admin_article_edit',{id:article.id}) }}" class="btn btn-default btn-sm" >编辑</a>
		  <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		  	{% if article.status != 'published' %}
			    <li><a href="javascript:" data-role="publish-item" data-url="{{ path('admin_article_publish', {id:article.id}) }}">发布</a></li>
		    {% endif %}
	     	{% if article.status == 'published' %}
			    <li><a href="javascript:" data-role="unpublish-item" data-url="{{ path('admin_article_unpublish', {id:article.id}) }}">未发布</a></li>
		    {% endif %}
		    {% if article.status != 'trash' %}
			    <li><a href="javascript:" data-role="trash-item" data-url="{{ path('admin_article_trash', {id:article.id}) }}">移至回收站</a></li>
		    {% endif %}
		    {% if article.status == 'trash' %}
			    <li><a href="javascript:" data-role="delete-item" data-url="{{ path('admin_article_delete', {id:article.id}) }}">永久删除</a></li>
			  {% endif %}
		  </ul>
		</div>
	</td>
</tr>