{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set nav = 'article' %}

{% block content %}
  <div class="col-md-2">

    {% block sidebar %}
      <div class="list-group">

    <a href="{{ path('admin_navigation') }}" class="list-group-item {% if menu == 'navigation' %}active{% endif %}">导航管理</a>
    <a href="{{ url('admin_article', {type:'page'}) }}" class="list-group-item {% if menu == 'article' %}active{% endif %}">文章管理</a>
    <a href="{{ path('admin_article_category') }}" class="list-group-item {% if menu == 'navigation' %}active{% endif %}">分类管理</a>
    <a href="{{ url('admin_block') }}" class="list-group-item {% if menu == 'admin_block' %}active{% endif %}">编辑区管理</a>
    <a href="{{ path('admin_file') }}" class="list-group-item {% if menu == 'file' %}active{% endif %}" style="display:none;">文件监控</a>
    <a href="{{ path('admin_comment') }}" class="list-group-item {% if menu == 'comment' %}active{% endif %}" style="display:none;">评论管理</a>

      </div>
    {% endblock %}
  </div>
  <div class="col-md-10">
      {% block main %}{% endblock %}
  </div>
{% endblock %}