{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}
{% set memberlevel = memberlevel|default(null) %}
{% set modalSize = 'large' %}
{% block title %}
示意图标
{% endblock %}

{% block body %}
<form id="system-icon">
	<div class="bs-example bs-example-tabs">
	  	<ul id="myTab" class="nav nav-tabs">
	    	<li class="active"><a href="#system" data-toggle="tab">系统内置</a></li>
	    	<li class=""><a href="#user-defined" data-toggle="tab">自定义</a></li>
	  	</ul>
	 	<div id="myTabContent" class="tab-content">
		    <div class="tab-pane fade active in container" id="system">
		    	<span class="help-block">系统默认图标列表</span>
		    	<div class="row">
			      	<div class="radio-inline col-md-1">
					  <label style="width:100%">
					    <input type="radio" name="system-icon" id="system-icon1" value="{{ asset('assets/img/default/gold_icon.png') }}" checked="checked">
					   	<img src="{{ asset('assets/img/default/gold_icon.png') }}" class="img-responsive" />
					  </label>
					</div>
					<div class="radio-inline col-md-1">
					  <label style="width:100%">
					    <input type="radio" name="system-icon" id="system-icon2" value="{{ asset('assets/img/default/silver_icon.png') }}">
					    <img src="{{ asset('assets/img/default/silver_icon.png') }}" class="img-responsive" />
					  </label>
					</div>
					<div class="radio-inline col-md-1">
					  <label style="width:100%">
					    <input type="radio" name="system-icon" id="system-icon3" value="{{ asset('assets/img/default/copper_icon.png') }}">
					    <img src="{{ asset('assets/img/default/copper_icon.png') }}" class="img-responsive" />
					  </label>
					</div>
					<div class="radio-inline col-md-1">
					  <label style="width:100%">
					    <input type="radio" name="system-icon" id="system-icon4" value="{{ asset('assets/img/default/bronze_icon.png') }}">
					    <img src="{{ asset('assets/img/default/bronze_icon.png') }}" class="img-responsive" />
					  </label>
					</div>
				</div>
		    </div>
		    <div class="tab-pane fade" id="user-defined">
				<form>
					<input type="hidden" name="uploadIcon">
				    <div class="row" id="iconContent"></div>
				</form>
				<span class="help-block">建议图标尺寸小于32×32</span>
				<form id="icon-upload-form" action="{{ path('file_upload', {group:'default'}) }}" method="post" enctype="multipart/form-data">
				  <input class="btn btn-default btn-sm" type="file" name="file" value="上传" style="display:inline-block;" accept="image/ico" id="icon-upload-input">
				  <button class="btn btn-default btn-sm">上传图标</button>
				  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
				</form>
		    </div>
	  	</div>
	</div>
</form>
{% endblock %}

{% block footer %}
  <button type="submit" class="btn btn-primary pull-right" id="upload-icon-btn">确定</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
  <script>app.load('vipbundle/controller/vipleveladmin/icon')</script>
{% endblock %}
  