{% extends 'WebBundle:CourseSet:Part/header-layout.html.twig' %}

{% set layoutClass = 'before' %}

{% block before_content %}
  {#<ol class="breadcrumb breadcrumb-o">
    <li><a href="{{ path('homepage') }}">{{'扶뒬못'|trans}}</a></li>
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ path('course_explore',{'category':breadcrumb.code}) }}">{{ breadcrumb.name }}</a></li>
    {% endfor %}
    <li class="active">{{ course.title|raw }}</li>
  </ol>#}


  <ol class="breadcrumb breadcrumb-o">
    <li><a href="{{ path('homepage') }}">{{'扶뒬못'|trans}}</a></li>
    <li class="active">{{ course.title|raw }}</li>
  </ol>
{% endblock %}

{%  set courseVip = null %}
{% set hasFavorited = null %}

{% block content %}

  {{header_macro.title(course)}}

  {{ header_macro.picture(course, previewLesson) }}

  {{ header_macro.info(course, member, userVipStatus) }}
  <!-- <div class="course-operation clearfix"> -->
    <ul class="course-operation clearfix {% if courseVip and course.parentId == '0' %}active{% endif %}">
      {{ header_macro.favorite_btn(course, hasFavorited) }}
      {{ header_macro.share_btn(course) }}
      {{ header_macro.setting_btn(course) }}
      {{ header_macro.courseVip_btn(courseVip) }}
      
    </ul>
   
  <!-- </div> -->
   <div class="buy">
      {% if source|default("") == "classroom" %}
        {{ render(controller('TopxiaWebBundle:Part/Course:classroomInfo',{courseId: course.id})) }}
      {% else %}
        {#{% include 'TopxiaWebBundle:Course:Part/normal-header-buy-btn.html.twig' %}#}
      {% endif %}
    </div>

{% endblock %}


