{% extends 'course-manage/layout.html.twig' %}

{% block title %}{{'course.homework_check'|trans}} - {{ course.title }} - {{ parent() }}{% endblock %}
{% set side_nav = 'homework-check' %}

{% block page_title %}{{ 'course.homework_check'|trans }}{% endblock %}

{% block main_body %}
  <div>
    {% if isTeacher is defined and not isTeacher %}
      <span class="color-danger">{{'course.homework_check.no_permission_tips'|trans}}</span>
    {% endif %}

    {{ render(controller('AppBundle:Testpaper/Manage:checkList',{request:app.request,targetId:course.id, targetType: 'course',type:'homework'})) }}
  </div>
{% endblock %}