<div class="cd-dropdown" data-toggle="cd-dropdown" data-trigger="hover">
  <a class="cd-link-assist" href="javascript:;">
    <i class="es-icon es-icon-morehoriz"></i>
  </a>
  <ul class="dropdown-menu">
    {% if task.type == 'video' and setting('storage.upload_mode') == 'cloud' %}
      {% set file = task.activity.ext.file|default(null) %}
      {% if file.storage|default(null) == 'cloud' %}
        <li class="mark-manage">
          <a href="{{ path('course_task_marker_manage', {courseId:course.id, taskId:task.id}) }}" target="_blank" >
          <span class="glyphicon glyphicon-list prs"></span>{{'course.plan_task.lesson-marker_btn'|trans}}
          </a>
        </li>
        <li class="divider mark-manage-divider" style="display:none;"></li>
      {% endif %}
    {% endif %}

    {% if lesson.status|default('create') == 'published' %}
      {% set isPublish = true %}
    {% else %}
      {% set isPublish = 0 %}
    {% endif %}
    <li>
      <a class='unpublish-item {% if not isPublish %}hidden{% endif %}' href="javascript:;"
        data-url="{{ path('course_manage_chapter_unpublish', {chapterId:lesson.id, courseId:task.courseId}) }}">
        <i class="es-icon es-icon-close01 prs"></i>{{'course.plan_task.unpublish_btn'|trans}}
      </a>
    </li>
    <li>
      <a class='publish-item {% if isPublish %}hidden{% endif %}' href="javascript:;"
        data-url="{{ path('course_manage_chapter_publish', {chapterId:lesson.id, courseId:task.courseId}) }}">
        <i class="es-icon es-icon--check-circle prs"></i>{{'course.plan_task.publish_btn'|trans}}
      </a>
    </li>
    {{ slot('task.menu.extension', {'task': task}) }}
    <li>
      <a class='js-delete {% if isPublish %}hidden{% endif %}' href="javascript:;" data-name="{{ ('site.data.lesson')|trans }}" data-url="{{ path('course_manage_chapter_delete', {chapterId:lesson.id, courseId:task.courseId}) }}">
        <i class="es-icon es-icon-delete mrm"></i>{{'course.plan_task.delete_btn'|trans}}
      </a>
    </li>
  </ul>
</div>