{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}
{% set systemRoles = [] %}
{% set CustomRoles = [] %}
{% set notUpdateRoles = ['ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_TEACHER', 'ROLE_USER', 'ROLE_TEACHER_ASSISTANT', 'ROLE_EDUCATIONAL_ADMIN'] %}
{% block title %}{{'admin.user.manage.staff_role.fields.heading_title'|trans}}{% endblock %}
{% block body %}

<form id="user-roles-form" class="form-horizontal" method="post" action="{{ url('admin_v2_staff_roles', {id:user.id}) }}" data-currentuser="{{ app.user.id }}" data-edituser="{{ user.id }}">
  <div class="checkboxs" id="old-checkboxs">
    {% set admin_roles = get_admin_roles() %}
    {% for role in admin_roles if (role.code in app.user.roles or role.createdUserId == app.user.id) or 'ROLE_SUPER_ADMIN' in app.user.roles %}
      {% if role.code == 'ROLE_USER' %}
        <input type="checkbox" style="display: none" name="roles[]" value="{{role.code}}" checked="checked">
      {% elseif role.code in  notUpdateRoles %}
        {% set systemRoles = systemRoles|merge([role]) %}
      {% else %}
        {% set CustomRoles = CustomRoles|merge([role]) %}
      {% endif %}
    {% endfor %}
    <p>系统角色：</p>
    {% for system in systemRoles %}
      <label>
        <input type="checkbox" name="roles[]" value="{{system.code}}" {% if system in user.roles %}checked="checked"{% endif %}>{{system.name}}
      </label>
    {% endfor %}
    <p style="margin-top: 15px">自定义角色：</p>
    {% for custom in CustomRoles %}
      <label>
        <input type="checkbox" name="roles[]" value="{{custom.code}}" {% if custom in user.roles %}checked="checked"{% endif %}>{{custom.name}}
      </label>
    {% endfor %}
  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>
{% endblock %}

{% block footer %}
  <button id="change-user-roles-btn" data-submiting-text="{{'form.btn.submit.submiting'|trans}}" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#user-roles-form"  data-user="{{default.user_name|default('role.student'|trans)}}" >{{'form.btn.save'|trans}}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>
  
  <script>app.load('user/roles-modal');</script>
{% endblock %}