{% extends 'old-layout.html.twig' %}

{% block title %}{{'user.settings.security.password_reset'|trans}} - {{ parent() }}{% endblock %}

{% block content %}
<div class="row row-6">
  <div class="col-md-6 col-md-offset-3 ptl">
    <div class="panel panel-default panel-page">
      <div class="panel-heading"><h2>{{'user.settings.security.password_reset.first_tab.email.page_title'|trans}}</h2></div>
      <p>
        {{'user.settings.security.password_reset.first_tab.email.goto'|trans}} <span class="color-success">{{ user.email }}</span> {{'user.settings.security.password_reset.first_tab.email.hint'|trans({'%site.name%': setting('site.name')})}}
      </p>
      <p>
        <a class="btn btn-primary" href="{{ emailLoginUrl }}" target="_blank">{{'user.settings.security.password_reset.first_tab.email.check_email_btn'|trans}}</a>
      </p>
    </div><!-- /panel -->
  </div>
</div>

{% endblock %}