{% extends 'old-layout.html.twig' %}

{% block title %}{{'重设密码成功'|trans}} - {{ parent() }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 ptl">
    <div class="panel panel-default panel-page">
      <div class="panel-heading"><h2>{{'user.settings.security.password_reset.success.page_title'|trans}}</h2></div>
          <p class="color-success">{{'user.settings.security.password_reset.success.hint'|trans}}</p>
          <p class=""><a href="{{ path('login') }}" class="btn btn-primary">{{'form.btn.login'|trans}}</a></p>

    </div><!-- /panel -->

  </div>

</div>
{% endblock %}