{% extends 'layout.html.twig' %}
{% block title %}{{ 'user.settings.security.password_reset.success'|trans }} - {{ parent() }}{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3 ptl">
			<div class="panel panel-default panel-page">
				<div class="panel-heading"><h2>{{ 'user.settings.security.password_reset.success.content_title'|trans }}</h2>
				</div>
				<p class="color-success">{{ 'user.settings.security.password_reset.success.tips'|trans }}</p>
				<p class=""><a href="{{ path('login') }}" class="btn btn-primary">{{ 'form.btn.login'|trans }}</a></p>
			</div><!-- /panel -->
		</div>
	</div>
{% endblock %}