{% extends 'TopxiaAdminBundle:Content:layout.html.twig' %}

{% block title %}网盘管理 - {{ parent() }}{% endblock %}

{% set menu = 'admin_net_disk' %}

{% set script_controller = 'net-disk/file-tree' %}

{% block main %}

<div class="page-header clearfix">
  <h4 class="pull-left text-success">
  文件夹：
  <a href="{{path('admin_net_disk_course_find_files', {courseId:course.id})}}"> 
    <strong>{{course.title}}</strong>
  </a>
  </h4>
    
    <div class="pull-right">
  <a class="btn btn-success btn-sm" 
   href="{{path('admin_net_disk')}}"> 返回网盘管理 
  </a>

  <a class="btn btn-info btn-sm" 
   href="{{path('admin_net_disk_course_find_files', {courseId:course.id})}}"> 刷新页面 
  </a>
    </div>

</div>

<div class="options">

  <button class="btn btn-danger btn-sm" data-role="batch-delete"  data-name="私信" data-url="{{ path('admin_message_delete_messages') }}">删除</button>

  <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modal" data-url="{{path('admin_user_create')}}">移动</button>

  <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal" data-url="{{path('admin_user_create')}}">重命名</button>

  <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal" data-url="{{path('admin_net_disk_course_upload_files',{courseId:course.id})}}">上传</button>

</div>

<div id="course-files-table-container">
  <table id="course-files-table" class="table table-striped table-hover" data-search-form="#user-search-form">
    <thead>
      <tr>
        <th> <input type="checkbox"  data-role="batch-select"> 选中</th>
        <th>文件名</th>
        <th>文件类型</th>
        <th>大小</th>
        <th>修改日期</th>
        <th>修改人</th>
        <th>创建时间</th>
        <th>创建人</th>
      </tr>
    </thead>
    <tbody>
      {% for mediaFile in mediaFiles %}
        {% include 'TopxiaAdminBundle:NetDisk:media-file-tr.html.twig' with {mediaFile:mediaFile} %}
      {% endfor %}
    </tbody>
  </table>
  
  <div>
    <label class="checkbox-inline"><input type="checkbox" data-role="batch-select"> 全选</label>
  </div>

</div>

{% endblock %} 