{% import 'TopxiaAdminBundle::macro.html.twig' as admin_macro %}

<tr id="course-table-tr-{{ course.id }}">
  <td>
  <input value="{{course.id}}" type="checkbox" data-role="batch-item" >
  </td>

  <td>
    <strong class="text-success text-sm">
      <i class="glyphicon glyphicon-film"></i> {{mediaFile}}
    </strong>
  </td>

    <td>
      <span class="text-primary text-sm">文件</span>
    </td>

      <td class="text-info">
        {{ admin_macro.bytesToSize(1000) }}
      </td>

      <td class="text-info">
        {{ course.createdTime |date('Y-n-d H:i:s') }}
      </td>

      <td class="text-info">
         <strong>{{ createUser.nickname }}</strong>
      </td>

      <td class="text-info">
        {{ course.createdTime |date('Y-n-d H:i:s') }}
      </td>

      <td class="text-info">
         <strong>{{ createUser.nickname }}</strong>
      </td>

</tr>