<li class="media">
  <div class="pull-left">
    <span class="glyphicon glyphicon-volume-down media-object"></span>
  </div>
  <div class="media-body">
    <div class="notification-body">
    {% set data = notification.content %}
  {{'恭喜您获得%rewardName%奖励：%settingName%元面值抵价优惠券一张，已发至您'|trans({'%rewardName%':data.rewardName,'%settingName%':data.settingName})}}<a href="{{ path('my_cards', {cardType:'coupon'}) }}">{{'我的卡包'|trans}}</a>{{'中。'|trans}}
    </div>
    <div class="notification-footer">
     {{ notification.createdTime|date_format }}  
    </div>
  </div>
</li>