{% extends 'TopxiaAdminBundle:Content:layout.html.twig' %}

{% block title %}分类管理 - {{ parent() }}{% endblock %}

{% set menu = 'category' %}

{% block main %}

<div class="page-header clearfix">
  <h1>分类管理</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>最大层级数</th>
    </tr>
  </thead>
  <tbody>
    {% for group in groups %}
      <tr>
        <td>{{ group.id }}</td>
        <td>{{ group.name }}</td>
        <td>{{ group.depth }}</td>
        <td><a href="{{ path('admin_category', {groupId:group.id}) }}" class="btn btn-small btn-primary">管理</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
