<li id="category-table-body">
    {% if categories is not empty %}
        {{ _self.showCategoryTree(categories, group, true) }}
    {% else %}
        <div class="row empty">暂无分类记录</div>
    {% endif %}
</li>

{% macro showCategoryTree(categories, group, isCollapseChildren) %}
    <ul class="list-table">
        {% for category in categories %}
            {% set isParent = category.children|default(null) is not empty %}
            {% set isRoot = category.depth == 1 %}
            <li class="tr" style="display: {{ (not isRoot and isCollapseChildren) ? 'none' : 'block' }}">
                <div class="row{{ (isParent and isCollapseChildren) ? ' row-collapse' : ' row-expand' }}" data-id="{{ category.id }}" data-parent-id="{{ category.parentId }}">
                    <div class="td col-md-5 first" style="padding-left: {{ 48 * (category.depth - 1 ) }}px">
                        {% if isParent %}
                            <i class="glyphicon glyphicon-chevron-{{ isCollapseChildren ? 'right' : 'down' }}"></i>
                        {% endif %}
                        {{ category.name }}
                    </div>
                    <div class="td col-md-2">{{ category.code }}</div>
                    <div class="td col-md-2">{{ category.weight }}</div>
                    <div class="td col-md-3">
                        <a href="javascript:;" class="btn btn-default btn-sm " data-url="{{ path('admin_category_edit', {id:category.id}) }}" data-toggle="modal" data-target="#modal">
                            <i class="glyphicon glyphicon-edit"></i> 编辑
                        </a>
                        {% if group.depth > category.depth %}
                            <a href="javascript:;" class="btn btn-default btn-sm" data-url="{{ path('admin_category_create', {parentId:category.id, groupId:group.id}) }}" data-toggle="modal" data-target="#modal"><i class="glyphicon glyphicon-plus"></i> 添加子分类</a>
                        {% endif %}

                    </div>
                </div>
                {% if isParent %}
                    {{ _self.showCategoryTree(category.children, group, isCollapseChildren) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}