{% extends 'my/learning/course/layout.html.twig' %}

{% block title %}{{'my.learning.course.favorited'|trans}} - {{ parent() }}{% endblock %}

{% set tab_nav = 'favorited' %}

{% block main %}

  <div class="panel panel-default panel-col course-favoriate-panel">
    <div class="panel-heading">{{'my.learning.course'|trans}}
      <div class="pull-right">
          <form class="search-form" style="margin-right: 54px;" method="get">
            <input class="search-input-content inline-block" type="text" name="title" value="{{ app.request.get("title") }}" placeholder="{{ 'course.placeholder.name'|trans }}" />
            <a class="btn inline-block searchCourseBtn es-icon es-icon-search" type="submit"></a>
          </form>
        </div>
    </span></div>
    <div class="panel-body">
      {% include 'my/learning/course/nav-pill.html.twig' %}

      {% for courseFavorite in courseFavorites if courseFavorite %}
        {% if courseFavorite.targetType == 'course' %}
          {% set courseSet =  data('CourseSet',{id:courseFavorite.targetId}) %}
          {% if courseSet.defaultCourseId|default(null) %}
            {% set course = data('Course',{courseId:courseSet.defaultCourseId }) %}
            {% set coursePath = path('course_show', {id: courseSet.defaultCourseId}) %}
            {% include 'my/learning/my-course-set-grid.html.twig' %}
          {% endif %}
        {% elseif courseFavorite.targetType == 'openCourse' %}
          {% set course = data('OpenCourse',{courseId:courseFavorite.targetId})|default(null) %}
          {% if course %}
            {% include 'open-course/widget/my-open-course-grid.html.twig' %}
          {% endif %}
        {% elseif courseFavorite.targetType == 'goods' %}
          {% set goods = data('Goods',{id:courseFavorite.targetId})|default(null) %}
          {% if goods %}
            {% include 'my/learning/my-goods-grid.html.twig' %}
          {% endif %}
        {% endif %}
      {% else %}
        <div class="cd-empty">{{'my.learning.course.favorite_empty'|trans}}</div>
      {% endfor %}
      {{ web_macro.paginator(paginator) }}
    </div>
  </div>

{% endblock %}