<div class="thumbnail class-course-grid">
  {% if course.compulsory %}
    <span class="label label-success compulsory">必修</span>
  {% else %}
    <span class="label label-warning compulsory">选修</span>
  {% endif %}
  <a href="{{ path('course_show',{id:course.id}) }}"><img  alt="{{ course.title }}" src="{{ file_path(course.middlePicture, 'course-large.png') }}"></a>
  <div class="caption">
    <div class="title">
      <a href="{{ path('course_show',{id:course.id}) }}">{{ course.title }}</a>
    </div>
    <div class="clearfix">
      <a href="{{ path('class_show',{ classId: class.id })}}" class="pull-left"><small>{{ class_name(class) }}</small></a>
    </div>
  </div>
</div>