{% for learn in learns %}
{% set student = students[learn.userId] %}
<tr class="has-item tac">
  <td width="10%"><span class="label {% if start+loop.index==1 %} label-finished {% elseif start+loop.index==2 %} label-finished {% elseif start+loop.index==3 %} label-finished {% else %} label-finished {% endif %}" >{{ (start + loop.index) }}</span></td>
  <td width="15%">{{ student.truename }}</td>
  <td width="45%" style="overflow:hidden">
    {% if questions[student.id] is defined %}
      <a href="{{ path('course_thread_show', {courseId:questions[student.id].courseId, id:questions[student.id].id}) }}">{{ questions[student.id].title }}</a>
    {% endif %}</td>
  <td width="30%">{{ learn.finishedTime |date('Y-m-d H:i:s') }}</td>
</tr>

{% else %}
<tr class="empty">
  <td >还没有学生完成课时</td>
</tr>
{% endfor %}
