{% extends 'TopxiaWebBundle:My:layout.html.twig' %}

{% block title %}在教课程 - {{ parent() }}{% endblock %}

{% set script_controller = 'course/my-teaching-courses' %}

{% set side_nav = 'my-teaching-courses' %}

{% block main %}
<div class="panel panel-default panel-col">
  <div class="panel-heading">
    <a id="create-course" href="javascript:" data-url="{{ path('course_create') }}" class="btn btn-info btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span> 创建课程</a>
    在教课程
    <div class="text-center">
      <span class="text-danger set-avatar" style="display:none;">请先设置头像后再创建课程<a href="{{ path('settings_avatar') }}">点击设置</a>&nbsp;</span>
      <span class="text-danger set-title" style="display:none;">请先设置头衔后再创建课程<a href="{{ path('settings') }}">点击设置</a></span>
    </div>

    <div class="hidden">
      <p class="avatar">{{ app.user.largeAvatar }}</p>
      <p class="title">{{ app.user.title }}</p>
    </div>

  </div>
  <div class="panel-body">

  <table class="table table-striped table-hover" id="course-table">
    <thead>
    <tr>
      <th width="50%">名称</th>
      <th>学员数</th>
      <th>价格(元)</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
      {% for course in courses %}
        <tr>
          <td>

    <a class="pull-left" href="{{ path('course_show', {id:course.id}) }}">
      <img class="course-picture" src="{{ file_path(course.middlePicture, 'course-large.png') }}" alt="{{ course.title }}" width="100">
    </a>



          <a href="{{ path('course_show', {id:course.id}) }}" class="mlm">{{ course.title }}</a>

          </td>
          <td>{{ course.studentNum }}</td>
          <td>{{ course.price }}</td>
          <td>{{ dict_text('courseStatus:html', course.status) }}</td>
          <td>
            <div class="btn-group">
              <a class="btn btn-default btn-sm" href="{{ path('course_manage', {id:course.id}) }}">管理</a>

              <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu pull-right">
                <li><a href="{{ path('course_manage_lesson', {id:course.id}) }}">课时管理</a></li>
                <li><a href="{{ path('course_manage_files', {id:course.id}) }}">文件管理</a></li>
                <li><a href="{{ path('course_manage_students', {id:course.id}) }}">学员管理</a></li>
              </ul>
            </div>

          </td>
        </tr>
      {% else %}
        <tr><td colspan="20">暂无在教的课程</td></tr>
      {% endfor %}
    </tbody>
  </table>

  {{ web_macro.paginator(paginator) }} 

  </div>
</div>

{% endblock %}