{% extends 'TopxiaWebBundle:My:layout.html.twig' %}

{% block title %}我的教学 - {{ parent() }}{% endblock %}

{% set side_nav = 'my-teaching' %}

{% block main %}
<div class="panel panel-default panel-col lesson-manage-panel class-table">

  <div class="panel-body">
    <div class="myteaching-title">
      <div class="text">正在教学</div>
      <div class="num"><span class="label label-success">{{courseCount|default(0)}}</span></div>
    </div><br>
    <hr>
    <div class="row">
      {% set count =0 %}
      {% for class in classes %}
        {% set courses = courseList[class.id]|default(null) %}
        {% for course in courses %}
          {% if count <4 %}
            <div class="col-sm-6 col-md-3">
              {% include 'TopxiaWebBundle:MyTeaching:course-grid.html.twig' %}
            </div>
            {% set count=count+1 %}
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="empty">暂无在教课程</div>
      {% endfor %}
    </div>
    {% if courseCount>0 %}
      <div class="row">
        <a class="col-md-1 col-md-offset-11 text-rigtht" href="{{path('my_teaching_courses',{classId:'all'}) }}">更多</a>
      </div>
    {% endif %}
  </div>

  <div class="panel-body">
    {% if manageClasses %}
      <div class="myteaching-title">
        <div class="text">我的班级</div>
        <div class="num"><span class="label label-success">{{manageClasses|length}}</span></div>
      </div><br>
      <hr>
      <div class="row">
        {% for manageClass in manageClasses %}
          <div class="col-sm-6 col-md-3">
            {% include 'TopxiaWebBundle:MyTeaching:class-grid.html.twig' %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="panel-body">
    <div class="myteaching-title">
      <div class="text">等待解答</div>
      <div class="num"><span class="label label-success">{{threadCount|default(0)}}</span></div>
    </div><br>
    <hr>
    <div class="row">
      {% for thread in threads %}
        {% set threadUser = threadUsers[thread.userId] %}
        <div class="col-md-6">
          {% include 'TopxiaWebBundle:MyTeaching:thread-grid.html.twig' %}
        </div>
      {% else %}
        <div class="empty">暂无等待解答的问题</div>
      {% endfor %}
    </div>
    {% if threadCount>0 %}
      <div class="row">
        <a class="col-md-1 col-md-offset-11 text-rigtht" href="{{path('my_teaching_threads', {type:'question'}) }}">更多</a>
      </div>
    {% endif %}
  </div>

  <div class="panel-body">
    <div class="myteaching-title">
      <div class="text">待批试卷</div>
      <div class="num"><span class="label label-success">{{testpaperCount|default(0)}}</span></div>
    </div><br>
    <hr>
    <div class="row">
      {% for paperResult in paperResults %}
        {% set testpaper = testpapers[paperResult.testId] %}
        {% set testpaperUser = testpaperUsers[paperResult.userId] %}
        <div class="col-md-6">
          {% include 'TopxiaWebBundle:MyTeaching:testpaper-grid.html.twig' %}
        </div>
      {% else %}
        <div class="empty">暂无等待批阅的试卷</div>
      {% endfor %}
    </div>
    {% if testpaperCount>0 %}
      <div class="row">
        <a class="col-md-1 col-md-offset-11 text-rigtht" href="{{path('course_manage_list_teacher_test_reviewing') }}">更多</a>
      </div>
    {% endif %}
  </div>

  <div class="panel-body">
    <div class="myteaching-title">
      <div class="text">待批作业</div>
      <div class="num"><span class="label label-success">{{reviewingCount|default(0)}}</span></div>
    </div><br>
    <hr>
    <div class="row">
      {% for homeworkResult in homeworkResults %}
        {% set homework = homeworks[homeworkResult.homeworkId] %}
        {% set user = users[homeworkResult.userId] %}
        {% set homeworkCourse = homeworkCourses[homeworkResult.courseId] %}
        {% set homeworkLesson = homeworkLessons[homeworkResult.lessonId] %}
        <div class="col-md-6">
          {% include 'TopxiaWebBundle:MyTeaching:homework-grid.html.twig' %}
        </div>
      {% else %}
        <div class="empty">暂无等待批改的作业</div>
      {% endfor %}
    </div>
    {% if reviewingCount>0 %}
      <div class="row">
        <a class="col-md-1 col-md-offset-11 text-rigtht" href="{{path('my_teaching_homework_list') }}">更多</a>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}