{% extends 'TopxiaWebBundle:My:layout.html.twig' %}

{% block title %}我的教学 - {{ parent() }}{% endblock %}

{% set side_nav = 'my-teaching-courses' %}

{% block main %}
<div class="panel panel-default panel-col lesson-manage-panel class-table">

  <div class="panel-body">
    <h5>正在教学（{{courseCount}}）</h5>
    <hr>
    <div class="row">
      {% set count =0 %}
      {% for class in classes %}
        {% set courses = courseList[class.id]|default(null) %}
        {% for course in courses %}
          {% if count <4 %}
            <div class="col-sm-6 col-md-3">
              {% include 'TopxiaWebBundle:MyTeaching:course-grid.html.twig' %}
            </div>
            {% set count=count+1 %}
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="empty">暂无在教课程</div>
      {% endfor %}
    </div>
    {% if courseCount>0 %}
      <div class="row">
        <a class="col-md-1 col-md-offset-11 text-rigth" href="#">更多</a>
      </div>
    {% endif %}
  </div>

  <div class="panel-body">
    {% if manageClasses %}
      <h5>我的班级（{{manageClasses|length}}）</h5>
      <hr>
      <div class="row">
        {% for manageClass in manageClasses %}
          <div class="col-sm-6 col-md-3">
            {% include 'TopxiaWebBundle:MyTeaching:class-grid.html.twig' %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="panel-body">
    <h5>等待解答（{{threadCount}}）</h5>
    <hr>
    <div class="row">
      {% for thread in threads %}
        {% set threadUser = threadUsers[thread.userId] %}
        <div class="col-md-6">
          {% include 'TopxiaWebBundle:MyTeaching:thread-grid.html.twig' %}
        </div>
      {% else %}
        <div class="empty">暂无等待解答的问题</div>
      {% endfor %}
    </div>
    {% if threadCount>0 %}
      <div class="row">
        <a class="col-md-1 col-md-offset-11 text-rigth" href="{{path('my_teaching_threads', {type:'question'}) }}">更多</a>
      </div>
    {% endif %}
  </div>

  <div class="panel-body">
    <h5>等待批阅（{{testpaperCount}}）</h5>
    <hr>
    <div class="row">
      {% for paperResult in paperResults %}
        {% set testpaper = testpapers[paperResult.testId] %}
        {% set testpaperUser = testpaperUsers[paperResult.userId] %}
        <div class="col-md-6">
          {% include 'TopxiaWebBundle:MyTeaching:testpaper-grid.html.twig' %}
        </div>
      {% else %}
        <div class="empty">暂无等待批阅的试卷</div>
      {% endfor %}
    </div>
    {% if testpaperCount>0 %}
      <div class="row">
        <a class="col-md-1 col-md-offset-11 text-rigth" href="{{path('course_manage_list_teacher_test_reviewing') }}">更多</a>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}