{% do load_script('category/nav') %}

{% set tagMarks = data('TagMarks', {tags:tags}) %}
{% set categoryMarks = data('CategoryMarks', {selectedCategory:selectedCategory, selectedSubCategory:selectedSubCategory}) %}

<div class="tabs-wrapper">
  <div class="tabs-mark-group plm ptm">
    <div class="title">所有分类：</div>

    <ul class="content list-unstyled list-inline">
      {% if categoryMarks[0]|default('') %}
      <li class="classify">
        <a href="{{ path(path, {category:selectedCategory, subCategory:selectedSubCategory, tag:{tags:tags}, filter:filter,orderBy:orderBy}) }}">{{ categoryMarks[0].name|default('') }}<i class="es-icon es-icon-chevronright"></i></a>
      </li>
      {% endif %}

      {% if categoryMarks[1]|default('') %}
      <li class="classify">
        <a href="{{ path(path, {category:selectedCategory, subCategory:selectedSubCategory, tag:{tags:tags}, filter:filter,orderBy:orderBy}) }}">{{ categoryMarks[1].name|default('') }}<i class="es-icon es-icon-chevronright"></i></a>
      </li>
      {% endif %}

      {% for tagMark in tagMarks|default('') %}
        <li class="tabs-mark">
          <a class="btn btn-link" href="{{ path(path, {category:selectedCategory, subCategory:selectedSubCategory, tag:{tags:tags, selectedTag:{group:tagMark.groupId, tag:tagMark.tagId}}, filter:filter, orderBy:orderBy}) }}">{{ tagMark.tagName }}<i class="glyphicon glyphicon-remove"></i></a>
        </li>     
      {% endfor %}
    </ul>

  </div>

  <div class="tabs-group">
    <div class="title">分类:</div>
      <ul class="content clearfix">
        <li class="{% if not selectedCategory %}active{% endif %}"><a class="nav-link" href="{{ path(path, {tag:{tags:tags}, filter:filter,orderBy:orderBy}) }}">全部</a></li>
        {% for category in categories %}
          <li class="{% if category.code == selectedCategory %}active{% endif %}"><a class="nav-link" href="{{ path(path, {category:category.code, tag:{tags:tags}, filter:filter,orderBy:orderBy}) }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
  </div>

  {% if subCategories|default(null) %}
    <div class="tabs-group" >
     <div class="title"></div>
      <ul class="content clearfix">
        <li class="{% if not selectedSubCategory %}active{% endif %}"><a class="nav-link" href="{{ path(path, {category:selectedCategory, tag:{tags:tags}, filter:filter,orderBy:orderBy}) }}">全部</a></li>   
        {% for subCategory in subCategories %}
          <li class="{% if subCategory.code == selectedSubCategory %}active{% endif %}"><a class="nav-link" href="{{ path(path, {category:selectedCategory, subCategory:subCategory.code, tag:{tags:tags}, filter:filter,orderBy:orderBy}) }}">{{ subCategory.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% for tagGroup in tagGroups %}
    {% if 'course' in tagGroup.scope %}
      <div class="tabs-group">
          <div class="title">{{ tagGroup.name }}:</div>
          <ul class="content clearfix">
            {% for sub in tagGroup.subs %}
              <li class="{% if tag_equal(tags, sub.id, tagGroup.id) %}active{% endif %}" ><a class="nav-link tag" href="{{ path(path, {category:selectedCategory, subCategory:selectedSubCategory, tag:{tags:tags, selectedTag:{group:tagGroup.id, tag:sub.id}}, filter:filter, orderBy:orderBy}) }}">{{ sub.name }}</a></li>
            {% endfor %}
          </ul>
      </div>
    {% endif %}
  {% endfor %}
</div>


