{% do load_script('category/nav') %}

<div class="tabs-wrapper">
  <div class="tabs-group" style="height: 50px;">
    <div class="title">分类:</div>
      <ul class="content clearfix">
        <li class="{% if not selectedCategory %}active{% endif %}"><a class="nav-link" href="{{ path(path, {tag:tag, filter:filter,orderBy:orderBy}) }}">全部</a></li>
        {% for category in categories %}
          <li class="{% if category.code == selectedCategory %}active{% endif %}"><a class="nav-link" href="{{ path(path, {category:category.code, tag:tag|join(','), filter:filter,orderBy:orderBy}) }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    <a class="js-tabs-toggle tabs-toggle tabs-hide hidden">展开</a>
  </div>

  {% if subCategories|default(null) %}
    <div class="tabs-group" style="height: 50px;">
     <div class="title"></div>
      <ul class="content clearfix">
        <li class="{% if not selectedSubCategory %}active{% endif %}"><a class="nav-link" href="{{ path(path, {category:selectedCategory, tag:tag, filter:filter,orderBy:orderBy}) }}">全部</a></li>   
        {% for subCategory in subCategories %}
          <li class="{% if subCategory.code == selectedSubCategory %}active{% endif %}"><a class="nav-link" href="{{ path(path, {category:selectedCategory, subCategory:subCategory.code, tag:tag, filter:filter,orderBy:orderBy}) }}">{{ subCategory.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% for tagGroup in tagGroups %}
    {% if 'course' in tagGroup.scope %}
      <div class="tabs-group" style="height: 50px;">
          <div class="title">{{ tagGroup.name }}:</div>
          <ul class="content clearfix">
            {% for sub in tagGroup.subs %}
              <li class="{% if sub.id == tag %}active{% endif %}" ><a class="nav-link" href="{{ path(path, {category:selectedCategory, subCategory:selectedSubCategory, tag:tag, selectedTag:sub.id, filter:filter, orderBy:orderBy}) }}">{{ sub.name }}</a></li>
            {% endfor %}
          </ul>
        <div class="title"></div>
        <a class="js-tabs-toggle tabs-toggle tabs-hide hidden">展开</a>
      </div>
    {% endif %}
  {% endfor %}
</div>


