{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_user_learn_statistics' %}

{% set script_controller = 'user-data/index' %}


{% block page_title %}
  <div class="mbm">
    <img class="user-data-avatar" src="{{ filepath(user.largeAvatar, 'avatar.png') }}">
    <span class="mlm">{{ user.nickname }}</span>
  </div>
{% endblock %}
{% block page_buttons %}
  <a class="btn btn-success btn-sm" href="{{ path('user_show', {id:user.id}) }}" target="_blank">{{ 'admin.user.fields.personal_menu_label'|trans }}</a>
{% endblock %}

{% block main %}

  <div class="user-data-count">
    <div class="row">
      <div class="col-sm-4 col-xs-4">
        <label>{{ 'admin.user.statistics.data_detail.learning_course_sets'|trans }}</label>
        <strong class="inflow-num mll">{{ overview.learningCourseSetCount|default(0) }}</strong>
      </div>
      <div class="col-sm-4 col-xs-4">
        <label>{{ 'admin.user.statistics.data_detail.learning_courses'|trans }}</label>
        <strong class="inflow-num mll">{{ overview.learningCoursesCount|default(0) }}</strong>
      </div>
      <div class="col-sm-4 col-xs-4">
        <label>{{ 'admin.user.statistics.data_detail.average_process'|trans }}</label>
        <strong class="inflow-num mll mrs">{{ overview.learningProcess.percent|default(0) }}%</strong>
        <span data-toggle="popover" class="glyphicon glyphicon-question-sign color-gray text-sm js-user-data-popover" data-original-title="" title=""></span>
        <div class="popover-content hidden">
          <div class="popover-item">
            <div class="content">
              {{ 'admin.user.statistics.data_detail.plan_progress_tip'|trans }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-4">
        <label>{{ 'admin.user.statistics.data_detail.note_number'|trans }}</label>
        <strong class="inflow-num mll">{{ overview.learningCourseNotesCount|default(0) }}</strong>
      </div>
      <div class="col-sm-4 col-xs-4">
        <label>{{ 'admin.user.statistics.data_detail.thread_number'|trans }}</label>
        <strong class="inflow-num mll">{{ overview.learningCourseThreadsCount|default(0) }}</strong>
      </div>
      <div class="col-sm-4 col-xs-4">
        <label>{{ 'admin.user.statistics.data_detail.post_number'|trans }}</label>
        <strong class="inflow-num mll">{{ overview.learningReviewCount|default(0) }}</strong>
      </div>
    </div>
  </div>
  <hr class="user-data-line">

  <div class="user-data-chart js-learn-data-trendency" data-url={{ path('admin_user_learn_chart', {userId: user.id}) }}>
    <div class="user-data-title mbm">{{ 'admin.user.statistics.data_detail.active_chart'|trans }}</div>

    <div id="date-range-picker">
      <span class="user-date-select">
        <input class="user-date-select__range js-date-range-input" type="text" name="course-datetime" value="{{ '-29 days'|date('Y/m/d') }}-{{ 'now'|date('Y/m/d') }}">
        <i class="es-icon es-icon-arrowdropdown"></i>
      </span>
      <a href="javascript:;" class="user-date-select__link js-quick-day-pick week" data-days="7">{{ 'course.dashboard.student_trend_seven_days'|trans }}</a>
      <a href="javascript:;" class="user-date-select__link js-quick-day-pick month gray-darker" data-days="30">{{ 'course.dashboard.student_trend_thirty_days'|trans }}</a>
      <a href="javascript:;" class="user-date-select__link js-quick-day-pick three-month" data-days="90">{{ 'admin.user.statistics.data_detail.student_trend_ninety_days'|trans }}</a>
    </div>

    <div class="mtl mbl" id="js-learn-data-trendency-chart" style="height:360px;"></div>
  </div>

  <hr class="user-data-line">


  <div class="user-data-detail">
    <div class="user-data-title">{{ 'admin.user.statistics.data_detail.learn_detail'|trans }}</div>

    {% for course in courses %}
      {% set courseSet = courseSets[course.courseSetId] %}
      {% set member = members[course.id] %}
      <div class="user-teaching-plan clearfix">
        <div class="user-teaching-plan__info">
          <div class="user-teaching-plan__title text-overflow"><a href="{{ path('course_show', {id:course.id}) }}" target="_blank">{{ courseSet.title }}-{{ course.title }}</a></div>
          <div class="user-teaching-plan__time">{{ 'join.time'|trans }}：<span>{{ member.createdTime|date('Y-m-d H:i:s') }}</span></div>
          <div class="user-teaching-plan__money">{{ 'course.price'|trans }}：<span>{{ member.order.pay_amount|default(0)|to_cash(1) }}</span></div>
        </div>
        <div class="user-teaching-plan__progress">
          <span>{{ 'course.members_manage.official_student.progress'|trans }}</span>
          <div class="plan-progress plan-progress-xs">
            <div class="progress-bar plan-progress-bar progress-bar-success" style="width: {{ course.process.percent }}%;"></div>
          </div>
          <span>{{ course.process.percent }}%</span>
        </div>
      </div>
    {% else %}
      <tr><td colspan="20"><div class="empty">{{'site.datagrid.empty'|trans}}</div></td></tr>
    {% endfor %}

  </div>

  {{ admin_macro.paginator(paginator) }}
{% endblock %}