{% extends 'bootstrap-modal-layout.html.twig' %}
{% do script(['app/js/course/user-avatar/index.js']) %}
{% block title %}{% if course.price > 0 %}{{ 'course.btn.buy'|trans }}{% else %}{{ 'course.btn.join'|trans }}{% endif %}{% endblock %}
{% block body %}
	<div class="alert alert-warning">{{ 'course.no_avatar_tips'|trans|raw }}</div>
{% endblock %}

{% block footer %}
	<a class="js-course-avatar btn btn-primary"
	   data-url="{{ path('settings') }}" class="alert-link" target="_blank">{{ 'form.btn.set'|trans }}</a>
{% endblock %}