{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
<li class="media thread-item" data-id="{{ thread.id }}">
	<div class="media-body thread-item-body">
		<div class="title"><a  class="show-question-item" target="_blank" data-id="{{ thread.id }}">{{ thread.title }}</a>
		</div>
		<div class="metas">
			{{ web_macro.user_link(user) }} 发表于 {{ thread.createdTime|smart_time }}
			<span class="bullet">•</span>
			{% if thread.marker|default(0) >0 %}
			提问于
			<span class="btn btn-link" data-role="marker-time" data-marker-time="{{ thread.marker}}">
				<span class="glyphicon glyphicon-time "> {{ thread.marker|duration }}</span>
			</span>
			{% endif %}
			<a href="#">{{ thread.postNum }}回答</a>
		</div>
	</div>
</li>