<li class="autumn-grid autumn-course-grid">
  <a href="{{ path('course_show', {id:course.id}) }}" class="course-picture">
    {{ lazy_img(filepath(course.middlePicture, 'course.png'), 'img-responsive', '') }}
    <div class="course-label">
    {% if course.status == 'draft' %}
      <span class="label  label-warning">未发布</span>
    {% elseif course.status == 'closed' %}
      <span class="label label-danger">已关闭</span>
    {% endif %} 

    {% if course.serializeMode == 'serialize' %}
      <span class="label label-success">更新中</span>
    {% elseif course.serializeMode == 'finished' %}
      <span class="label label-warning">已完结</span>
    {% endif %}

    {% if course.type == 'live' %}
      {% set lesson = course['lesson']|default(null) %}
      {% if lesson and "now"|date("U") >= lesson.startTime and "now"|date("U") <= lesson.endTime %}
        <span class="label label-warning">正在直播中</span>
      {% else %}
        <span class="label label-success">直播</span>
      {% endif %}
    {% endif %}
    </div>
  </a>
  <div class="course-body">
    <h3 class="course-name"><a href="{{ path('course_show', {id:course.id}) }}">{{ course.title }}</a></h3>
    <div class="course-about">{{ course.about|plain_text(60) }}</div>
    
    <div class="course-price-info">  
      {% if setting('course.coursesPrice') == 0 %}
        {% include "TopxiaWebBundle:Course:price-widget.html.twig" with {shows: ['price', 'discount']} %}
      {% endif %}
    </div>

    <div class="course-metas">
      <span class="teachers">
         主讲:
        {% for teacher in course.teachers %}
         {% if loop.index <= 1 %}
          {{ web_macro.user_link(teacher, 'text-muted') }}
         {% endif %}
        {% endfor %}
      </span>
    </div>
  </div>  
</li>
