{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}

{% block topbanner %}

  {% set content_blocks = service('Content.BlockService', 'getContentsByCodes', [['autumn:home_top_banner']]) %}

  {% if content_blocks['autumn:home_top_banner'] %}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">{{ content_blocks['autumn:home_top_banner']|raw }}</div>
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  {% endif %}

{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-autumn panel-autumn-primary">
            <div class="panel-heading panel-heading-important">
                <h2 class="panel-title">推荐课程 / <small>RecommendCourse</small></h2>
            </div>
            <div class="panel-body">
              {% set courses = datas('course', {status:'published', recommended:1}, 'recommended', 0, 8) %}
              {% if courses %}
                <ul class="autumn-grids">
                  {% for course in courses %}
                    <li class="autumn-grid autumn-course-grid">
                        <h3 class="course-name"><a href="{{ path('course_show', {id:course.id}) }}">{{ course.title }}</a></h3>
                        <a href="{{ path('course_show', {id:course.id}) }}" class="course-picture"><img src="{{ file_path(course.largePicture, 'course-large.png') }}"></a>
                        <div class="course-about">{{ course.about|plain_text(60) }}</div>

                        <div class="course-metas">
                          <span class="price">{% if course.price > 0 %}{{ course.price }}元{% else %}免费{% endif %}</span>
                          <span class="teachers">
                            <span class="glyphicon glyphicon-user text-muted"></span>
                            {% set teachers = service('User.UserService', 'findUsersByIds', [course.teacherIds]) %}
                            {% for teacher in teachers %}
                              {{ web_macro.user_link(teacher, 'text-muted') }}
                            {% endfor %}
                          </span>
                        </div>

                    </li>
                  {% endfor %}
                </ul>
                {% else %}
                  <div class="empty">无推荐课程，请在后台课程管理设置。</div>
                {% endif %}
            </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-autumn panel-autumn-default">
        <div class="panel-heading panel-heading-important">
            <h2 class="panel-title">最新课程 / <small>LatestCourse</small></h2>
        </div>
        <div class="panel-body">
          {% set courses = datas('course', {status:'published'}, 'latest', 0, 8) %}
          {% if courses %}
            <ul class="media-list autumn-course-list">
              {% for course in courses %}
                <li class="media">
                  <a href="{{ path('course_show', {id:course.id}) }}" class="pic-link pull-left hidden-xs"><img src="{{ file_path(course.largePicture, 'course-large.png') }}" class="media-object"></a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="{{ path('course_show', {id:course.id}) }}">{{ course.title }}</a></h4>

                    <div class="course-about"><p>{{ course.about|plain_text(100) }}</p></div>
                    <div class="course-metas">
                      <span class="price">{% if course.price > 0 %}{{ course.price }}元{% else %}免费{% endif %}</span>
                      <span class="teachers">
                        <span class="glyphicon glyphicon-user text-muted"></span> <span class="text-muted">老师</span>
                        {% set teachers = service('User.UserService', 'findUsersByIds', [course.teacherIds]) %}
                        {% for teacher in teachers %}
                          {{ web_macro.user_link(teacher, 'text-muted') }}
                        {% endfor %}
                      </span>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>

            <a class="btn btn-default btn-lg btn-block" href="{{ path('course_explore') }}">更多课程</a>
            
          {% else %}
            <div class="empty">尚未发布课程，请先发布。</div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-autumn panel-autumn-default">
        <div class="panel-heading">
          <h4 class="panel-title">课程排行榜 / <small>Top10</small></h4>
        </div>
        <div class="panel-body">
          {% set courses = service('Course.CourseService', 'searchCourses', [{status:'published'}, 'popular', 0, 10]) %}
          {% if courses %}
            <ul class="media-list media-list-rank">
              {% for course in courses %}
                <li class="media">
                  <a href="{{ path('course_show', {id:course.id}) }}" class="pull-left"><img src="{{ file_path(course.largePicture, 'course-large.png') }}" class="media-object"></a>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="{{ path('course_show', {id:course.id}) }}">{{ course.title }}</a></h4>
                    {{ course.subtitle }}
                  </div>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <div class="empty">无课程排行记录</div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-autumn panel-autumn-primary">
          <div class="panel-heading panel-heading-important">
              <h2 class="panel-title">
                  讲师团 / <small>Teachers</small>
              </h2>
          </div>
          <div class="panel-body">
            {% set teachers = service('User.UserService', 'findLatestPromotedTeacher', [0, 8]) %}
            {% if teachers %}
              <ul class="autumn-grids">
                {% for teacher in teachers %}
                  <li class="autumn-grid">
                    <div class="media teacher-media">
                      <a href="" class="pull-left"><img class="media-object" src="{{ file_path(teacher.mediumAvatar, 'avatar.png') }}"></a>
                      <div class="media-body">
                          <h4 class="media-heading">{{ web_macro.user_link(teacher) }}</h4>
                          <p>{{ teacher.title }}</p>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <div class="empty">尚未设置推荐老师，请在管理后台设置。</div>
            {% endif %}
          </div>
      </div>
    </div>
  </div>

{% endblock %}