<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      {% set bill = storage.bill|default(null) %}

      <h4 class="eduyun-title">
        云视频
        {% if storage %}
          <a href="{{path('admin_cloud_detail')}}" target="_blank" >账单</a>
        {% endif %}
        {% if storage.ableRenew|default(0) %}
          <a href="{{ path('admin_cloud_video_renew') }}" target="_blank">续费</a> 
        {% endif %}

        {% if storage.isBuyVideo|default(0) %}
          <a href="{{ path('admin_cloud_video_upgrade') }}" target="_blank">升级</a> 
        {% endif %}
      </h4>
      <!--未购买-->
      {% if not storage %}
        <div class="alert alert-warning alert-sm" role="alert">
          <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>您尚未开通云视频功能，点击<a href="{{ path('admin_cloud_video',{type:'video'}) }}" target="_blank">这里</a>了解详情
        </div>
      {% else %}

        {% if not storage.isBuyVideo|default(0) and not bill %}
          <div class="alert alert-warning alert-sm" role="alert">
            <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i><a href="{{ path('admin_cloud_buy',{type:'video'}) }}" target="_blank">购买</a>云视频包，享受优惠的视频服务
          </div>
          <p class="text-muted">空间用量暂无记录</p>
          <p class="text-muted">已用流量暂无记录</p>
        {% endif %}

        {% if storage.isBuyVideo|default(0) and not bill  %}
          <p class="text-muted">空间用量暂无记录</p>
          <p class="text-muted">已用流量暂无记录</p>
          <p class="text-muted">云视频包有效期：{{storageStart|default('')}}~{{storageEnd|default('')}}</p>
        {% endif %}

        {% if not storage.isBuyVideo|default(0) and bill %}
          <div class="alert alert-warning alert-sm" role="alert">
            <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i><a href="{{ path('admin_cloud_buy',{type:'video'}) }}" target="_blank">购买</a>云视频包，享受优惠的视频文档服务
          </div>
          <p class="text-muted">{{month|default('上')}}月空间用量：{{bill.space|default(0)}}G</p>
          <p class="text-muted">{{month|default('上')}}月流量：{{bill.transfer|default(0)}}G</p>
        {% endif %}

        {% if storage.isBuyVideo|default(0) and bill %}
          <p class="text-muted">{{month|default('上')}}月空间用量：{{bill.space|default(0)}}G</p>
          <p class="text-muted">{{month|default('上')}}月流量：{{bill.transfer|default(0)}}G</p>
          <p class="text-muted">云视频包有效期：{{storage.startMonth|default('')}}~{{storage.endMonth|default('')}}</p>
        {% endif %}

        {% if storage.freeTransfer|default(0) != 0 or storage.freeSpace|default(0) != 0 %}

          {% if storageDate|default(31)  == 0 %}
            <p class="text-danger text-sm" >云视频视频包将于明天过期</p>
          {% endif %}
          <!--30天过期  -->
          {% if 30 >= storageDate|default(31)  and storageDate|default(31)  > 0 %}
            <p class="text-danger text-sm" >云视频视频包将于{{storageDate}}天后过期</p>
          {% endif %}
          <!--已过期 -->
          {% if storageDate|default(31)  < 0 %}
            <p class="text-danger text-sm" >
              云视频包已过期
            </p>
          {% endif %}

        {% endif %}
      {% endif %}
      <p class="panel-bottom">
        {% if tlp %}
          已开通TLP安全加固服务
        {% else %}
          <a href="{{ path('admin_cloud_tlp') }}" target="_blank">
            尚未开通TLP安全加固服务
          </a>
        {% endif %}
      </p>
    </div>
  </div>
</div>