              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">
                    {% set status = sms.status|default('created') %}
                    <h4 class="eduyun-title">云短信
                      {% if sms %}
                        <a href="{{path('admin_cloud_detail')}}" target="_blank">账单</a>{% endif %}
                        <a href="{{ path('admin_cloud_buy',{type:'sms'}) }}" target="_blank">购买</a>
                    </h4>
                     {% if not sms %}
                        <div class="alert alert-warning alert-sm" role="alert" >
                          <!--未开启-->
                          <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>您尚未开通云短信，<a href="{{path('admin_edu_cloud_sms')}}" target="_blank">去开通</a>
                        </div>
                        
                      {% else %}

                        {% if status == 'created' %}
                          <div class="alert alert-warning alert-sm" role="alert" >
                              <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>您尚未开启云短信功能，<a href="{{path('admin_edu_cloud_sms')}}" target="_blank">去开启</a>
                          </div>
                              <p class="text-muted">昨日用量：{{sms.yestoday|default(0)}}条</p>
                              <p class="text-muted">上月使用：{{sms.lastMonth|default(0)}}条</p>
                        {% endif %}

                        {% if status == 'used' %}
                            <p class="text-muted">昨日用量：{{sms.yestoday|default(0)}}条</p>
                            <p class="text-muted">上月使用：{{sms.lastMonth|default(0)}}条</p>
                        {% endif %}

                      <!--被停用-->
                        {% if status == 'stoped'%}
                            <div class="alert alert-warning alert-sm" role="alert" >
                                <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>
                                您的云短信功能已被暂停

                                  <a tabindex="0"  role="button" class="glyphicon glyphicon-question-sign text-muted " id="sms-reason-tips" data-toggle="popover" data-trigger="focus"></a> 
                                   <div id="sms-reason-tips-html" style="display:none;">
                                    <span style="color:#555;">{{sms.reason|default("")}}</span><br><a href="{{path('admin_edu_cloud_sms')}}" target="_blank">申请重新开启</a></li>
                                  </div>

                            </div>
                            <p class="text-muted">昨日用量：{{sms.yestoday|default(0)}}条</p>
                            <p class="text-muted">上月使用：{{sms.lastMonth|default(0)}}条</p>
                        {% endif %}

                      {% endif %}
                  </div>
                </div>
              </div>
