{% extends 'TopxiaAdminBundle:App:layout.html.twig' %}

{% block title %}{{ getTitle('admin_app_my_cloud')}}{% endblock %}

{% set menu = 'my-cloud' %}
{% set tab_menus = permissions('admin_app_my_cloud',"tab") %}
{% set submenu = 'my-cloud' %}

{% block main %}

      <!-- 广告页面开始 -->
      <div class="es-eduyun-ad">
        <div class="es-poster hidden-xs hidden-sm">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!--
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            </ol>

            <a class="left carousel-control" href="javascript:;" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="javascript:;" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img class="img-responsive" src="{{ default_path('banner.jpg') }}">
                <b>即将上线，敬请期待</b>
                <a href="" class="btn btn-warning disabled">接入教育云<span
                  class="glyphicon glyphicon-circle-arrow-right"></span></a>
              </div>
            </div>
          </div>

        </div>
        <div class="row es-row">
          <div class="col-md-4">
            <h3 class="es-ad-title">视频安全，四重保护一步到位</h3>

            <div class="es-ad-info">
                <p>自主研发TLP2.0技术</p>

                <p>上万家机构使用安全零事故</p>
            </div>
            <div class="media">
              <div class="pull-left">
                <a>
                  <img class="media-object" src="{{ default_path('icon_1.png') }}">
                </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">认识教育云</h4>
                  <a href="http://www.edusoho.com/videos/cloud.mp4" target="_blank">什么是教育云</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <h3 class="es-ad-title">万人直播，电视、移动端全面覆盖</h3>

            <div class="es-ad-info">
                <p>500+加速节点 更流畅</p>

                <p>淘宝大学、新东方在线等大型客户共同选择</p>
            </div>
            <div class="media">
              <div class="pull-left">
                <a>
                  <img class="media-object" src="{{ default_path('icon_2.png') }}">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><a href="http://open.edusoho.com/article" target="_blank">最新资讯</a></h4>
                <a href="">如何注册并绑定自己的网校</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <h3 class="es-ad-title">一次接入，教育应用随心选择</h3>

            <div class="es-ad-info">
              <p>主题、题库、营销等教育应用</p>

            </div>
            <div class="media">
              <div class="pull-left">
                <a>
                  <img class="media-object" src="{{ default_path('icon_3.png') }}">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><span>3分钟接入教育云</span></h4>
                <span style="color:#f8ae64;">即将上线</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 广告页面结束 -->

{% endblock %}