{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set nav = 'app' %}
{% set side_menus = permissions('admin_app') %}

{% block content %}
  <div class="col-md-2">
    {% block sidebar %}

      <div class="panel panel-default">
        <div class="panel-heading">应用管理</div>
        <div class="list-group">
          <a href="{{ path('admin_app_center', {postStatus: 'all' }) }}" class="list-group-item {% if menu == 'center' %}active{% endif %}">应用中心</a>
          <a href="{{ path('admin_app_installed',{postStatus: 'all' , hidden: 'unhidden'}) }}" class="list-group-item {% if menu == 'installed' %}active{% endif %}">已安装应用</a>
          <a href="{{ path('admin_app_upgrades') }}" class="list-group-item {% if menu == 'upgrades' %}active{% endif %}">检查应用更新</a>
          <a href="{{ path('admin_app_logs') }}" class="list-group-item {% if menu == 'logs' %}active{% endif %}">应用更新日志</a>
        </div>

      </div>
      
      {% include 'TopxiaAdminBundle::side.html.twig' with {menus:side_menus,nav:menu} %}

    {% endblock %}
  </div>
  <div class="col-md-10">
      <h4>{{ admin_macro.title(side_menus,menu) }}</h4>
      {% block main %}{% endblock %}
  </div>
{% endblock %}