{% extends 'TopxiaAdminBundle:App:layout.html.twig' %}

{% block title %}{{ getTitle('admin_app_my_cloud')}}{% endblock %}

{% set menu = 'my-cloud' %}
{% set tab_menus = permissions('admin_app_my_cloud',"tab") %}
{% set submenu = 'my-cloud' %}

{% block main %}

        <div class="eduyun-main">

          <!--个人资料-->
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">

                <div class="media edu-user col-md-8">
                  <div class="pull-left">
                    <a href="javascript:;"><img src="{{ default_path('avatar', app.user.mediumAvatar, '') }}" alt=""> </a>
                  </div>
                  <div class="media-body">
                    <p><span class="name">{{ app.user.nickname }}</span>，您好</p>
                    <p>ES云平台账户名: qujinhuaishang@163.com</p>
                    <p class="text-muted">上次登录时间：<span>2015.03.29 19:24:56</span></p>
                  </div>
                </div>

                <div class="edu-notice col-md-4 hidden-sm hidden-xs">
                  <h4 class="title">云平台公告</h4>
                  {% if notices %}
                  <ul>
                  {% for notice in notices %}
                    <li class="glyphicon glyphicon-bell" style="color:#fed032;font-size:16px;"><a href="{{notice.detailUrl}}" style="margin-left:22px;" target="_blank">{{notice.content}}<span>{{notice.createdTime|date("Y-m-d H:i:s")}}</span></a></li>
                  {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>


          <!--账户余额-->
          <div class="alert alert-warning edu-balance" role="alert">
            <h4 class="eduyun-title text-muted">
              账户余额<i class="glyphicon glyphicon-question-sign"></i>
            </h4>
            <p>
              <!-- <span class="text-warning balance">222.11</span>元 -->
              <span class="text-danger balance">-222.11</span>元
              <a href="javascript:;" class="btn-recharge btn btn-warning">充值</a>
              <a href="javascript:;" class="btn btn-link">查看账单</a>    
            </p> 
            <!--不足50元-->
            <!-- <p class="text-warning">余额不足50元，请尽快充值！</p> -->
            <!--欠费7天预留保护期-->
            <!-- <p class="text-warning">您已欠费，还剩7天的预留保护期，请尽快充值！</p> -->
            <!--欠费冻结-->
            <p class="text-danger">您已欠费超过10天，教育云服务已暂停，请尽快充值！</p>
          </div>    


          <!--套餐信息-->
          <div class="edu-combo row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h4 class="eduyun-title">套餐信息</h4>
                  <p class="text-muted">版本：企业高级版</p>
                  <p class="text-muted">有效期：2015-03-12~2016-04-04</p>
                  <!--已到期-->
                  <p class="text-danger text-sm">套餐服务已到期，请尽快<a href="javascript:;">续费</a>！</p>
                  <!--30天提醒-->
                  <!-- <p class="text-warning text-sm">套餐服务将于30天后到期，请尽快<a href="javascript:;">续费</a>，以免影响正常使用</p> -->
                  <!-- <p class="text-warning">
                    点击<a href="javascript:;">这里</a>了解套餐详情!
                  </p> -->
                </div>  
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h4 class="eduyun-title">授权信息</h4>
                  <!-- 商业授权 -->
                  <!-- <p class="text-muted">商业授权</p> -->
                  <!-- 非商业授权 -->
                  <p class="text-muted">{{ info.levelName }}</p>
                  <p class="text-muted">授权域名: {% if info.licenseDomainCount|default(1) == 1 %}{{ info.licenseDomains }}{% else %}<span class="license-domain" data-toggle="tooltip" data-placement="bottom" title="{% for doman in info.licenseDomains|split(';') %}{{doman}}
        {% endfor %}">{{info.licenseDomainCount}}个</span>{% endif %}</p>
                </div>
              </div>
            </div>
          </div>


          <fieldset>
            <legend>服务动态</legend>

            <!--服务动态内容 --> 
            <div class="edu-service row">
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h4 class="eduyun-title">云视频+云文档<a href="">查看账单</a><a href="">去升级</a></h4>
                    <!--未购买-->
                    <!-- <div class="alert alert-warning alert-sm" role="alert">
                      <i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i>您尚未购买云视频包，点击<a href="javascript:;">这里</a>了解详情
                    </div> -->
                    <p class="text-muted">3月空间用量：61G <span class="text-warning text-sm">(剩余1G)</span></p>
                    <p class="text-muted">3月流量：50G <span class="text-warning text-sm">(剩余20G）</span></p>
                    <p class="text-muted">云视频包有效期：2015.01.22~2016.01.22</p>
                    <!--30天过期  -->
                    <p class="text-warning " style="display:none;">云视频视频包将于30天后过期，请尽快<a href="javascript:;">续费</a></p>
                    <!--已过期 -->
                    <p class="text-danger" >
                      云视频包意过期，请尽快<a href="javascript:;">续费</a>
                    </p>
                    <p class="panel-bottom">
                      TLP2.0加密，为您的网校保驾护航！
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">
                   <h4 class="eduyun-title">云直播<a href="">去购买</a></h4>
                   <!--未购买-->
                   <div class="alert alert-warning alert-sm" role="alert">
                      <i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i>您尚未购买云直播，点击<a href="javascript:;">这里</a>了解详情
                    </div>
                    <p class="text-muted">有效期：不可用</p>
                    <!--7天警告-->
                    <p class="text-warning">云视频包将于30天后过期，请尽快<a href="javascript:;">续费</a></p>
                    <!--已过期-->
                    <p class="text-danger">云视频包意过期，请尽快<a href="javascript:;">续费</a></p>
                    <p class="panel-bottom">
                      支持Web端、移动端，让手机也能看直播！
                    </p>
                  </div>
                </div>
              </div>
            </div>


            <!--服务云视频-->
            <div class="edu-service row">
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h4 class="eduyun-title">云短信<a href="{{ url('admin_edu_cloud_sms_bill') }}">查看账单</a></h4>
                    <div class="alert alert-warning alert-sm" role="alert" >
                      <!--未开启-->
                      <!-- <i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i>您尚未开启云短信功能，<a href="javascript:;">去开启</a> -->
                      <!--被停用-->
                      <i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i>
                      您的云短信功能已被暂停
                      <a href="javascript:;" class="tooltop" data-toggle="tooltip" data-palacement="top" title="此处填写理由！">[?]</a>
                    </div>
                    <p class="text-muted">昨日用量：57条</p>
                    <p class="text-muted">三月使用：111条</p>
                  </div>
                </div>
              </div>
            </div>

          </fieldset>
          
        </div>


{% endblock %}