{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_my_cloud' %}
{% set submenu = 'service-information' %}
{% set script_controller = 'app/sms-show' %}

{% block main %}
      {% if not storage and not live and not sms%}
         <ul class="nav nav-tabs mbl">

          <li class="{% if submenu == 'cloud-introduction' %}active{% endif %}">
            <a href="{{ url('admin_my_cloud') }}">产品简介
            </a>
          </li>

          <li class="{% if submenu == 'service-information' %}active{% endif %}">
            <a href="{{ url('admin_my_cloud_overview') }}">服务概况
            </a>
          </li>

        </ul> 
      {% endif %}
      {% if is_trial() %}
        {% if trialhtml is not null %}
          {{ trialhtml|raw }}
        {% endif %}
      {% else %}
        <div class="eduyun-main">

          <!--个人资料-->
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">

                <div class="media edu-user col-md-8">
                  <div class="pull-left">
                    <a href="javascript:;">{% if isBinded.avatar|default("") == "" %}<img src="{{ default_path('user_avatar.png') }}" alt="" style="width:100px;height:100px;">{% else %}<img src="{{ isBinded.avatar }}" alt="" style="width:100px;height:100px;">{% endif %}</a>
                  </div>
                  <div class="media-body">
                    {% if isBinded.name|default("")  == "" %}
                    <br>
                    <p>您尚未绑定EduSoho开放云平台&nbsp;<a href="http://open.edusoho.com/article/1" target="_blank"  title="什么是EduSoho开放云平台？" style="color: #999;"><i class="glyphicon glyphicon-question-sign"></i></a></p>
                    {% else %}
                    <p><span class="name">{{ isBinded.name|default("")}}</span>，您好</p>
                    <p>ES云平台账户名: {{email|default('') }}</p>
                    {% endif %}
                  </div>
                </div>

                <div class="edu-notice col-md-4 hidden-sm hidden-xs">
                  <h4 class="title">云平台公告</h4>
                  {% if notices %}
                  <ul>
                  {% for notice in notices %}
                    {% if loop.index <= 3 %}
                    <li><span class="date hidden-md">{{notice.createdTime|date("Y-m-d")}}</span><a href="{{notice.detailUrl}}" target="_blank">{{notice.content}}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
                  {% else %}
                  <span class="empty">暂无公告</span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>


          <!--账户余额-->
          {% include 'TopxiaAdminBundle:App:cloud-account.html.twig'  %}


          <!--套餐信息-->
          <div class="edu-combo row">

          {% include 'TopxiaAdminBundle:App:cloud-combo.html.twig'  %}

          <!-- 授权信息 -->

          {% include 'TopxiaAdminBundle:App:cloud-license.html.twig'  %}

          </div>


          <fieldset>
            <legend>服务动态</legend>

            <!--服务动态内容 --> 
            <div class="edu-service row">

              <!--云视频信息 -->
              {% include 'TopxiaAdminBundle:App:cloud-storage.html.twig'  %}

              <!-- 云直播信息 -->
              {% include 'TopxiaAdminBundle:App:cloud-live.html.twig'  %}

            </div>


            <!--服务云视频-->
            <div class="edu-service row">
              <!-- 云短信信息 -->
              {% include 'TopxiaAdminBundle:App:cloud-sms.html.twig'  %}

            </div>

          </fieldset>
          
        </div>
      {% endif %}

      

{% endblock %}