{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}
{% block title %}{% if organization.id %}编辑学校组织{% else %}添加学校组织{% endif %}{% endblock %}

{% block body %}
  <form id="organization-form" class="form-horizontal" action="{% if organization.id %}{{ path('admin_organization_edit', {id:organization.id}) }}{% else %}{{ path('admin_organization_create') }}{% endif %}" method="post">
    <div class="form-group">
      <label class="col-md-2 control-label" for="organization-name-field">组织名称</label>
      <div class="col-md-8 controls">
        <input class="form-control" id="organization-name-field" type="text" name="name" value="{{ organization.name }}" tabindex="1">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="organization-code-field">组织编码</label>
      <div class="col-md-8 controls">
        <input class="form-control" id="organization-code-field" type="text" name="code" value="{{ organization.code }}" data-url="{{ path('admin_organization_check', {type : 'code', exclude : organization.code}) }}" tabindex="2">
        <div class="help-block">非必填</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="organization-parentId-field">上级组织</label>
      <div class="col-md-8 controls">
        <select class="form-control" id="organization-parentId-field" type="text" name="parentId" tabindex="2" data-url="{{ path('admin_organization_check_parentId', {currentId : organization.id}) }}">
          <option value=0>选择组织</option>
          {% for item in tree %}
            <option value="{{ item.id }}" {% if item.id == organization.parentId  %}selected{% endif %}>{% for i in 0..(item.depth-1)*2 %}&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}└─ {{ item.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="category-description-field">组织描述</label>
      <div class="col-md-8 controls">
        <textarea class="form-control" id="category-description-field" style="height:100px;" name="description">{{organization.description}}</textarea>
        <div class="help-block">非必填</div>
      </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>

  <script type="text/javascript"> app.load('moocadminbundle/controller/organization/save-modal') </script>
{% endblock %}

{% block footer %}
  {% if organization.id %}
    <button type="button" class="btn btn-default pull-left delete-organization" data-url="{{ path('admin_organization_delete', {id:organization.id}) }}" tabindex="5"><i class="glyphicon glyphicon-trash"></i> 删除</button>
  {% else %}

  {% endif %}
  <button type="button" class="btn btn-link" data-dismiss="modal" tabindex="6">取消</button>
  <button id="organization-save-btn" data-submiting-text="正在提交" type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#organization-form" tabindex="4">保存</button>
{% endblock %}