{% extends 'bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'cd-modal-dialog' %}

{% do script(['app/js/cashier/pc/wechat-roll/index.js']) %}

{% block title %}
  {{ 'pay_center.pay.weixin_pay'|trans }}
{% endblock %}

{% block body %}
  <div class="qrcode-img">
    <img class = 'img-responsive js-qrcode-img' src="{{ path('common_qrcode', {text:trade.platform_created_result.code_url}) }}" data-url="{{ path('cashier_wechat_roll', {tradeSn:trade.trade_sn}) }}">
    <div class="text-qrcode hidden-xs">
      {{ 'pay_center.pay.weixin_pay.scan_qcode_pay_tips'|trans|raw }}
    </div>
    <div class="text-qrcode visible-xs">
      {{ 'pay_center.pay.weixin_pay.press_qcode_pay_tips'|trans }}
    </div>

    <span class="pay-rmb">{{ (trade.cash_amount)|fen_to_yuan }}</span>
  </div>
{% endblock %}