{% extends 'layout.html.twig' %}

{% block title %}{{ 'pay_center.pay.weixin_pay'|trans }} - {{ parent() }}{% endblock %}

{% block esBar %}{% endblock %}

{% do script(['app/js/pay/wxpay-roll/index.js']) %}

{% block content %}
  <div class="es-section section-wxpay">
    {% include 'order/order-step-status.html.twig' with {step: 3} %}
    <div class="order-pay-body">
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ 'pay_center.pay.submit_tips'|trans }}
      </div>
      <div class="pay-qrcode-body clearfix">
        <div class="qrcode-img">
          <img class = 'img-responsive img-js' src="{{ path('common_qrcode', {text:trade.platform_created_result.code_url}) }}"  data-url="{{ path('cashier_wechat_roll', {tradeSn:trade.trade_sn}) }}" data-goto="{{ path('cashier_pay_success', {'trade_sn':trade.trade_sn}) }}">
          <div class="text-qrcode hidden-xs">
            {{ 'pay_center.pay.weixin_pay.scan_qcode_pay_tips'|trans|raw }}
          </div>
          <div class="text-qrcode visible-xs">
            {{ 'pay_center.pay.weixin_pay.press_qcode_pay_tips'|trans }}
          </div>
        </div>
        <div class="qrcode-img-two hidden-xs">
          <img class="img-responsive" src="{{ asset('assets/v2/img/pay_phone.jpg') }}" alt="">
        </div>
      </div>
      <div class="pay-qrcode-footer">
        <a href="{{ path('cashier_show', {sn:trade.order_sn}) }}" class="mrl">
          <i class="es-icon es-icon-arrowback mrs"></i>{{ 'pay_center.pay.choose_other_way_btn'|trans }}
        </a>
        {{ 'order.confirm.pay_rmb'|trans }}<span class="pay-rmb">{{ (trade.cash_amount)|major_currency }}</span>
      </div>
    </div>
  </div>
{% endblock %}
