{% if setting('storage.upload_mode', 'local') == 'cloud'  %}

  <div class="video-quality-switcher">
    <div>
      <label>{{'upload.video_quality_switcher.type'|trans}}</label>
      <span class="quality-switcher-bar">
        <span class="color-gray quality-switcher-name"></span> <a href="javascript:;" class="edit-btn text-info"><span class="glyphicon glyphicon-cog"></span> {{'upload.video_quality_switcher.setup'|trans}}</a>
      </span>
    </div>

    <div class="quality-switcher-control" style='display:none'>
      <div class="video-quality radios">
        {{'upload.video_quality_switcher.video_quality'|trans}}
          {{ radios('video_quality', {'low':'upload.video_quality_switcher.video_quality.low'|trans, 'normal':'upload.video_quality_switcher.video_quality.normal'|trans, 'high': 'upload.video_quality_switcher.video_quality.high'|trans}, setting('storage.video_quality', 'normal')) }}
      </div>

      <div class="audio-quality radios">
        {{'upload.video_quality_switcher.audio_quality'|trans}}
          {{ radios('video_audio_quality', {'low':'upload.video_quality_switcher.audio_quality.low'|trans, 'normal':'upload.video_quality_switcher.audio_quality.normal'|trans, 'high': 'upload.video_quality_switcher.audio_quality.high'|trans}, setting('storage.video_audio_quality', 'normal')) }}
      </div>
      <input type="hidden" name="support_mobile" value="{{ setting('storage.support_mobile', 0) }}" />
      <div class="quality-actions">
        <a href="javascript:;" class="btn btn-default btn-sm confrim-btn">{{'form.btn.confirm'|trans}}</a>
        <a href="javascript:;" class="btn btn-link btn-sm cancel-btn">{{'form.btn.cancel'|trans}}</a>
      </div>
    </div>
  </div>
  {% include 'seajs_loader_compatible.html.twig' with { topxiawebbundle: true } %}

  <script>app.lazyPool.push(function() {app.load('cloud-file/cloud-video-quality-switcher');});</script>
{% endif %}
