<div id="app" style="min-height:500px"></div>
<input type="hidden" name="ckeditor_path" value="{{ asset('static-dist/libs/es-ckeditor/ckeditor.js') }}">
<input type="hidden" name="jquery_path" value="{{ asset('static-dist/libs/jquery/dist/jquery.min.js') }}">
<input type="hidden" name="ckeditor_image_upload_url" value="{{ path('editor_upload', {token:upload_token('course')}) }}">
<input type="hidden" name="ckeditor_image_download_url" value="{{ path('editor_download', {token:upload_token('course')}) }}">
<input type="hidden" name="answer_engine_submit_url" value="{{ path('answer_engine_submit') }}">
<input type="hidden" name="answer_engine_save_url" value="{{ path('answer_engine_save') }}">
<input type="hidden" name="answer_engine_review_url" value="{{ path('answer_engine_review') }}">