{% extends 'TopxiaAdminBundle:Group:layout.html.twig' %}

{% set menu = 'group_discussions' %}

{% block main %}
<div class="page-header"><h1>小组话题管理</h1></div>

<div class="alert alert-info">只显示最新的1000条记录。</div>

<ul class="nav nav-tabs">
  <li{% if kind == 'discuss' %} class="active"{% endif %}><a href="{{ path('admin_group_discussions', {'kind':'discuss'}) }}">最新话题</a></li>
  <li{% if kind == 'reply' %} class="active"{% endif %}><a href="{{ path('admin_group_discussions', {'kind':'reply'}) }}">最新回复</a></li>
</ul>

<table class="table table-striped">
   <thead>
      <tr>
         <th width="5%">ID</th>
         <th width="45%">内容</th>
         <th width="20%">标题</th>
         <th width="15%">小组</th>
         <th width="8%">发言人</th>
         <th width="7%">发言时间</th>
      </tr>
   </thead>
   <tbody>
     {% if kind == 'reply' %}
       {% for r in replies %}
       {% set d = discussList[r.discussId] %}
       {% set g = groupList[r.holderId] %}
       {% set u = userList[r.ownerId] %}
       <tr>
         <td> {{ r.id }}</td>
         <td style="max-width:200px;"> {{ r.content|raw }}</td>
         <td> <a href="{{ path('group_discuss_show', {'group':g.uriOrId, 'discuss':d.id}) }}">{{ d.title }}</a></td>
         <td> {{ m.group_link(g)}} </td>
         <td> {{ m.user_link(u) }} </td>
         <td> {{ r.createdTime|smart_time }}</td>
       </tr>
       {% endfor %}
     {% elseif kind == 'discuss' %}
       {% for d in discusses %}
       {% set g = groupList[d.holderId] %}
       {% set u = userList[d.ownerId] %}
       <tr>
         <td>{{d.id}}</td>
         <td style="max-width:200px;"> {{ d.content|raw }}</td>
         <td><a href="{{ path('group_discuss_show', {'group':g.uriOrId, 'discuss':d.id}) }}">{{ d.title }}</a></td>
         <td> {{ m.group_link(g)}} </td>
         <td> {{ m.user_link(u) }} </td>
         <td> {{ d.createdTime|smart_time }}</td>
       </tr>
       {% endfor %}
     {% endif %} 
   </tbody>
</table>

{% if paginator.lastPage > 1 %} {{ pg.paginator(paginator) }} {% endif %}

{% endblock %}