{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_group_set' %}

{% block main %}

      {{ web_macro.flash_messages() }}
            <form class="form-horizontal" method="post" id="member-zone-form" novalidate>
           
            <div class="row form-group">
              <div class="col-md-2 control-label">
                <label >{{'首页显示小组信息'|trans}}</label>
              </div>
              <div class="controls col-md-7 radios">
                {{ radios('group_show', {1:'显示'|trans, 0:'不显示'|trans}, setting('group').group_show|default(1)) }}
                <div class="help-block">{{'此功能开关只针对默认主题、默认主题B、清秋主题。'|trans}}</div>
              </div>
            </div>

           <div class="row form-group">
              <div class="col-md-2 control-label">
                <label >{{'最热话题的时间范围'|trans}}</label>
              </div>
              <div class="controls col-md-7 radios">
                {{ radios('threadTime_range', {'1':'天'|trans, '7':'周'|trans,'14':'两周'|trans,'30':'月'|trans}, setting('group').threadTime_range|default('7')) }}
                <div class="help-block"></div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-2 control-label"></div>
              <div class="controls col-md-8">
                <button type="submit" class="btn btn-primary">{{'提交'|trans}}</button>  
              </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
          </form>
      {% endblock %}

