{% if not role|default(null) == 'teacher' %}

  <div class="modal-header">
    <div class="modal-title">判断题</div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <ul class="popup-topic js-topic-content">
      <li class="title">
        {{ item.question.stem|bbCode2Html|raw }}
      </li>
      <li class="list">
        <span class="num">A</span>
        <div class="info">{{ '正确'|trans }}</div>
      </li>
      <li class="list">
        <span class="num">B</span>
        <div class="info">{{ '错误'|trans }}</div>
      </li>
    </ul>
    <ul class="popup-topic topic-resolve js-topic-resolve hidden">
      <li class="title">
        {{ item.question.stem|bbCode2Html|raw }}
      </li>
      <li class="list">
        <div class="info">{{ item.question.analysis|default('无解析'|trans)|bbCode2Html|raw|nl2br }}</div>
      </li>
    </ul>
  </div>
  <div class="topic-bottom">
    <div class="topic-bottom-info">
      {{ '正确答案是'|trans }}：<span
          class="color-success">{% if item.question.answer[0] == 1 %} A {% else %} B {% endif %}</span>
      <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</a>
      <a class="btn btn-primary js-show-resolve">查看解析</a>
    </div>
  </div>
{% endif %}