{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}编辑课程{% endblock %}
{% block body %}

<form id="class-course-edit-form" class="form-horizontal" method="post" action="{{ path('admin_school_class_course_edit', { classId:classId, courseId:course.id })}}">

   <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="title">课程名称</label>
      </div>
      <div class="col-md-7 controls radios">
      	<input type="text" id="title" name="title" value="{{ course.title }}">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label>必修课</label>
      </div>
      <div class="col-md-7 controls radios">
        {{ radios('compulsory',{'1':'必修','0':'选修'},course.compulsory)}}
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">任课老师</label>
      <div class="col-md-4 controls">
        <input type="text" id="teacherId" name="teacherId" required="required" class="width-full select2-offscreen" tabindex="-1" value="{{ teacher.truename}}" data-url="{{path('admin_school_teacher_name')}}" data-id="{{ teacher.id}}" data-name="{{ teacher.truename}}">
      </div>
    </div>


</form>
{% endblock %}

{% block footer %}
<button id="class-course-edit-btn" data-submiting-text="正在提交" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#class-course-edit-form">提交</button>
<button type="button" class="btn btn-link pull-right" data-dismiss="modal" id="backto" data-url="{{ path('admin_school_class_course_manage', { classId:classId }) }}">取消</button>
<script>app.load('school/course-edit-modal')</script>
{% endblock %}