<div class="col-sm-6 col-md-4 class-grid">
  <a href="{{ path('class_show',{ classId: class.id })}}" target="_blank">
    <img src="{{ file_url(class.icon, 'class.png') }}" alt="{{ class.name }}" class="class-img">
  </a>
  <div class="class-option row">
    <a title="编辑" href="{{ path('admin_school_class_editor', { type:'edit', classId:class.id, search:app.request.query.all() }) }}">
      <span class="glyphicon glyphicon-pencil col-md-3 button"></span>
    </a>
    <a title="删除" class="class-remove" href="javascript:;" data-stunum="{{class.studentNum}}" data-url="{{ path('admin_school_class_delete', { classId:class.id }) }}" >
      <span class="glyphicon glyphicon-trash col-md-3 button"></span>
    </a> 
    <a title="学生管理" href="{{ path('admin_school_class_student', { classId:class.id }) }}">
      <span class="glyphicon glyphicon-user col-md-3 button"></span>
    </a>
    <a title="课程设置" href="{{ path('admin_school_class_course_manage', { classId:class.id }) }}">
      <span class="glyphicon glyphicon-book col-md-3 button"></span>
    </a>
  </div>
  <div class="class-name">
    <a href="{{ path('class_show',{ classId: class.id })}}" target="_blank">
      <p class="text-center">
        {{ class_name(class) }}
      </p>
    </a>
  </div>
  <small class="text-muted">
    {{ class.year}}届
    {% if class.term == 'first' %}
      一学期  
    {% else %}
      二学期
    {% endif %}

    {% if class.enabled == '0' %}
      (已关闭)
    {% endif %}
  </small>

  <div class="class-member">
    <small class="pull-left text-muted">学生：<span class="text-danger">{{ class.studentNum }}</span>&nbsp;人</small>
    <small class="pull-right text-muted">班主任：<span class="text-danger">{{class.headTeacherName}}</span></small>
  </div>
</div>
