<tr id="user-table-tr-{{ class.id }}">
  <td>
    <strong>{{ class_name(class) }}</strong>

    <span class="text-muted text-sm">
      {{ class.year}}届
      {% if class.term == 'first' %}
        一学期  
      {% else %}
        二学期
      {% endif %}
    </span>
  </td>

  <td>
    {{ class.studentNum }}
  </td>

  <td>
 {{class.headTeacherName}}
  </td>
  <td>
   {{class.enabled}}
  </td>
  <td>
    hello
   {#  <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_show', {id:user.id}) }}" data-url="" class="btn btn-default btn-sm">查看</a>
      <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_edit', {id:user.id}) }}">编辑用户信息</a></li>

        {% if is_granted('ROLE_SUPER_ADMIN') %}

        <li><a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_roles', {id:user.id}) }}">设置用户组</a></li>

        <li><a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_avatar', {id:user.id}) }}">修改用户头像</a></li>

        <li><a href="#modal" data-toggle="modal" data-url="{{ path('admin_user_change_password', {userId:user.id}) }}">修改密码</a></li>

        {% endif %}

        <li><a class="send-passwordreset-email" href="javascript:" data-url="{{ path('admin_user_send_passwordreset_email', {id:user.id}) }}">发送密码重置邮件</a></li>

        <li><a class="send-emailverify-email" href="javascript:" data-url="{{ path('admin_user_send_emailverify_email', {id:user.id}) }}">发送Email验证邮件</a></li>

        {% if user.locked %}
          <li><a class="unlock-user" href="javascript:" title="解禁用户{{ user.nickname }}" data-url="{{ path('admin_user_unlock', {id:user.id }) }}">解禁用户</a></li>
        {% else %}
          <li><a class="lock-user" href="javascript:" title="封禁用户{{ user.nickname }}" data-url="{{ path('admin_user_lock', {id:user.id}) }}">封禁用户</a></li>
        {% endif %}
      </ul>
    </div> #}
  </td>
</tr>

