<tr id="user-table-tr-{{ class.id }}">
  <td>
    {{ class_name(class) }}

    <span class="text-muted mll">
      {{ class.year}}届
      {% if class.term == 'first' %}
        一学期  
      {% else %}
        二学期
      {% endif %}
    </span>
  </td>

  <td>
    {{ class.studentNum }}
  </td>

  <td>
   {{class.headTeacherName}}
 </td>
 <td>
  {% if class.enabled == '1' %}
    开启
  {% else %}
    关闭
  {% endif %}
 </td>
 <td>
    <div class="btn-group">
      <a href="{{ path('admin_school_class_edit', { classId:class.id }) }}" class="btn btn-default btn-sm">编辑</a>
      <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">

        <li><a href="{{ path('admin_class_student', { classId:class.id }) }}">成员设置</a></li>

        <li><a href="{{ path('admin_school_class_course_manage', { classId:class.id }) }}">课程设置</a></li>

        <li><a href="{{ path('admin_school_class_delete', { classId:class.id }) }}" onClick=" return confirm('您确定删除吗？')">删除</a></li>

      </ul>
    </div>
  </td>
</tr>

