{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set nav = 'school' %}

{% block content %}
  <div class="col-md-2">
    {% block sidebar %}
      <div class="list-group">
        <a href="{{ path('admin_school_setting') }}" class="list-group-item {% if menu == 'schoolSetting' %}active{% endif %}">学校设置</a>
        <a href="{{ path('admin_school_classes_setting') }}" class="list-group-item {% if menu == 'classSetting' %}active{% endif %}">班级设置</a>
        <a href="{{ path('admin_school_point_setting') }}" class="list-group-item {% if menu == 'pointSetting' %}active{% endif %}">学习积分设置</a>
        <a href="{{ path('admin_school_eduMaterial_setting') }}" class="list-group-item {% if menu == 'eduMaterialSetting' %}active{% endif %}">教材设置</a>
        <a href="{{ path('admin_school_knowledge_setting') }}" class="list-group-item {% if menu == 'knowledgeSetting' %}active{% endif %}">知识点管理</a>
      </div>
    {% endblock %}
  </div>
  <div class="col-md-10">
      {% block main %}{% endblock %}
  </div>
{% endblock %}