{% extends 'TopxiaAdminBundle:School:layout.html.twig' %}

{% block title %}学校设置 - {{ parent() }}{% endblock %}

{% set menu = 'schoolSetting' %}
{% set script_controller = 'school/school-setting' %}

{% block main %}



<div class="page-header"><h1>学校设置</h1></div>

{{ web_macro.flash_messages() }}

<form class="form-horizontal" id="school-form" method="post">

  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label>启用年级</label>
    </div>
    <div class="col-md-8 controls checkbox">
      {{ checkboxs('primarySchool',{'1':'小学'},school.primarySchool) }}
      <span class="mll">
        {{ radios('primaryYear', {'6':'6年制<span class="text-muted">（1年级到6年级）</span>'}, school.primaryYear) }}
      </span>
      <span class="mll">
        {{ radios('primaryYear', {'5':'5年制<span class="text-muted">（1年级到5年级）</span>'}, school.primaryYear) }}
      </span> 

    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-8 controls checkbox col-md-offset-2">
      {{ checkboxs('middleSchool',{'1':'初中'},school.middleSchool) }}
      <span class="mll">3年制<span class="text-muted">（初1到初3）</span></span>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-8 controls checkbox col-md-offset-2">
      {{ checkboxs('highSchool',{'1':'高中'},school.highSchool) }}
      <span class="mll">3年制<span class="text-muted">（高1到高3）</span></span>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label>首页图片</label>
    </div>
    <div class="col-md-8 controls">
      <div id="school-homepage-container">{% if school.homepagePicture %}<img src="{{ file_url(school.homepagePicture) }}" style="max-width:400px;">{% endif %}</div>
      <button class="btn btn-default" id="school-homepage-upload" type="button" data-url="{{ path('admin_school_homepage_upload') }}">上传</button>
      <p class="help-block">
        请上传png, jpg, gif格式的图片文件。推荐尺寸比例：400px * 400px。</p>
        <input type="hidden" name="homepagePicture" value="{{ school.homepagePicture }}">
      </div>
    </div>

    <div class="row form-group">
      <div class="controls col-md-offset-2 col-md-8">
        <button type="submit" class="btn btn-primary">提交</button>
      </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

  </form>

  {% endblock %}