{#  <footer class="footer">
    <div class="container">
      <ul class="contact clearfix">
        <li class="clearfix"> 
        {#   <img src="{{asset('themes/mooc/img/footer_logo.png')}}" alt=""> 

        {% if setting('site.logo') %}
          <a href="{{ path('homepage') }}">
            <img src="{{ asset(setting('site.logo')) }}">
          </a>
        {% else %}
          <a href="{{ path('homepage') }}">{{ setting('site.name', 'EDUSOHO') }}</a>
        {% endif %}

        </li>
        <li class="footer-line"></li>
        <li class="phone clearfix">
          <img src="{{asset('themes/mooc/img/icon_phone.png')}}" alt="">0571-8681-9929
        </li>
        <li class="footer-line"></li>
        <li class="mail clearfix">
          <img src="{{ asset('themes/mooc/img/icon_mail.png') }}"  alt="">
          {{ setting('site.master_email')|default('support@edusoho.com') }}
        </li>
      </ul>
      <div class="copyright">
        课程内容版权均归<a href="/">{{ setting('site.copyright') }}</a>所有&nbsp;{{ setting('site.icp') }}
        {{ setting('site.analytics')|raw }}
      </div>
    </div>
  </footer> #}
  <section class="friendlink">
    <div class="container">
      <h4>友情链接</h4>
      <ul>
        <li><a href="">Edusoho开源网络课堂</a></li>
        <li><a href="">气球雨学院</a></li>
        <li><a href="">好知网</a></li>
        <li><a href="">360安全网址导航</a></li>
        <li><a href="">站长之家</a></li>
        <li><a href="">新课网</a></li>
        <li><a href="">好知</a></li>
      </ul>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-link">
          <div class="link-item">
            <h4>关于</h4>
            <ul>
              <li><a href="">关于我们</a></li>
              <li><a href="">联系我们</a></li>
              <li><a href="">招聘信息</a></li>
            </ul>
          </div>
          <div class="link-item">
            <h4>帮助</h4>
            <ul>
              <li><a href="">常见问题</a></li>
              <li><a href="">客服</a></li>
              <li><a href="">免责声明</a></li>
            </ul>
          </div>
          <div class="link-item">
            <h4>推荐</h4>
            <ul>
              <li><a href="">热门老师</a></li>
              <li><a href="">热门课程</a></li>
              <li><a href="">咨询</a></li>
            </ul>
          </div>

        </div>
        <div class="col-md-4 footer-attr">
          <p>
            <i class="iconfont icon-zuobiao"></i>
            浙江省杭州市西湖区余杭塘路866号
          </p>
          <p>
            <i class="es-icon es-icon-phone"></i>
            0571-8681-9929
          </p>
          <p>
            <i class="es-icon es-icon-mail"></i>
            test@edusoho.com
          </p>
        </div>
        <div class="col-md-4 footer-logos">
         
        </div>
      </div>
    </div>
  </footer>
  <section class="footer-by">
    <p>Powered by EduSoho v6.6.4 ©2014-2015 课程存档</p>
    <p>课程内容版权均归 杭州阔知网络科技有限公司 所有 浙ICP备13006852号-1</p>
  </section>