{# 头部 #}
<header class="mooc-header">
  <div class="container clearfix">
    <div class="navbar-header">
      <div class="visible-xs  navbar-mobile">
        <a href="javascript:;" class="navbar-more js-navbar-more">
          <i class="es-icon es-icon-menu"></i>
        </a>
        <div class="html-mask"></div>
        <div class="nav-mobile">
          <form class="navbar-form" action="{{ path('search') }}" method="get">
            <div class="form-group">
              <input class="form-control" placeholder="搜索" name="q">
              <button class="button mc-icon icon-search"></button>
            </div>
          </form>
          <ul class="nav navbar-nav">
            {{ render(controller('TopxiaWebBundle:Default:topNavigation', {siteNav:siteNav|default(null), isMobile:true })) }}
          </ul>
        </div>
      </div>
     {% if setting('site.logo') %}
        <a class="navbar-brand" href="{{ path('homepage') }}">
          <img class="img-responsive" src="{{ asset(setting('site.logo')) }}">
        </a>
      {% else %}
        <a class="navbar-brand" href="{{ path('homepage') }}">{{ setting('site.name', 'EDUSOHO') }}</a>
      {% endif %}
    </div>
    <form class="navbar-form hidden-xs hidden-sm mooc-navbar-form" role="search" action="/search">
      <div class="form-group">
        <input type="text" class="form-control" name="q" placeholder="搜索关键词...">
        <button class="button mc-icon icon-search"></button>
      </div>
    </form>
    <div class="navbar-user pull-right">
      <ul class="nav user-nav dropdown">
        {% if app.user %}
        <li class="user-avatar">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <img class="avatar-sm" src="{{ filepath(app.user.smallAvatar, 'avatar.png') }}">
          </a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header">{{ app.user.nickname }}</li>
            <li><a href="{{ path('user_show', {id:app.user.id}) }}"><i class="iconfont icon-fangzi"></i>个人主页</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('settings') }}"><i class="iconfont icon-shezhi"></i>个人设置</a></li>
            <li class="divider"></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin') }}"><i class="iconfont icon-dashboard"></i>管理后台</a></li>
            {% endif %} 
            <li class="divider"></li>
            <li><a href="{{ path('message') }}"><i class="iconfont icon-sixin"></i> 私信
              {% if app.user.newMessageNum > 0 %}
                <span class="message">{{ app.user.newMessageNum }}</span>
              {% endif %}
             </a>
            </li>
            <li class="divider visible-xs"></li>
            <li class="visible-xs"><a href="{{ path('message') }}"><i class="mc-icon icon-notice"></i> 通知
              {% if app.user.newNotificationNum > 0 %}
                <span class="message">{{ app.user.newNotificationNum }}</span>
              {% endif %}
             </a>
            </li>
            <li class="divider"></li>
            <li><a href="{{ path('logout') }}"><i class="iconfont icon-tuichu"></i>退出登录</a></li>
          </ul>
        </li>
        {% else %}
        <li class="user-avatar-li nav-hover visible-xs">
          <a href="javascript:;" class="dropdown-toggle">
            <img class="avatar-sm" src="{{ asset('assets/img/default/avatar.png') }}">
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('login', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">登录</a></li>
            <li><a href="{{ path('register', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">注册</a></li>
          </ul>
        </li>
        <li class="hidden-xs"><a href="{{ path('login', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">登录</a></li>
        <li class="hidden-xs"><a href="{{ path('register', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">注册</a></li> 
        {% endif %}
      </ul>
      {% if app.user %}
      <a href="{{ path('my') }}" class="hidden-xs user-roles">
        {% if 'ROLE_TEACHER' in app.user.roles %}
          我的教学
        {% else %} 
          我的学习
        {% endif %}
      </a>
      <a href="{{ path('notification') }}" class="hidden-xs user-message {% if app.user.newNotificationNum > 0 %} hasmessage {% endif %}">
        <i class="iconfont icon-lingdang"></i>
        {% if app.user.newNotificationNum > 0 %}
          <span class="message red-dot"></span>
        {% endif %}
      </a>
     {% endif %}
    </div>
  </div>
</header>
