{# {% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}
{% block description %}{{ setting('site.seo_description') }}{% endblock %}

{% set siteNav = '/' %}
{% set bodyClass = 'indexpage' %}

{% block full_content %}
<nav class="mooc-nav hidden-xs hidden-sm">
  <div class="container"> 
  {{ render(controller('TopxiaWebBundle:Default:topNavigation', {siteNav:siteNav|default(null), isMobile:true })) }}
  </div>
</nav> 
<section class="mooc-poster">
  <div class="container clearfix">
    <div class="slide-wrapper">
      <div id="slider" class="novoSlider slideitem">
        <a href=""><img src="{{asset('themes/mooc/img/temp/banner.jpg')}}" alt="" /></a>
        <a href=""><img src="{{asset('themes/mooc/img/temp/banner1.jpg')}}" alt="" /></a>
        <a href=""><img src="{{asset('themes/mooc/img/temp/banner.jpg')}}" alt="" /></a>
      </div>
    </div>
    <div class="mooc-notice hidden-sm hidden-xs hidden-md">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="mc-icon icon-iconfontgonggao"></i>学校公告
        </div>
        <div class="panel-body">
          <ul>
            <li><a href="">这条文字最多11个字哦耶</a><span>12/20</span></li>
          </ul>
        </div>
      </div> 
    </div>   
  </div>
</section>
<section class="mooc-navset">
  <div class="container clearfix">
    <div class="set-left hidden-md hidden-sm hidden-xs">
      <h2><i class="mc-icon icon-similar"></i>学院设置</h2>
      <p>快速选择学院入口立即学习</p>
    </div>
    <div class="set-right swiper-container  hidden-sm hidden-md hidden-xs">
      <div class="swiper-wrapper">
        <div class="width-25 swiper-slide">
          <div class="navset-wrapper">
            <i class="iconfont icon-lingdang"></i>计算机学院
          </div>
        </div>
        <div class="width-25 swiper-slide">
          <div class="navset-wrapper">
            <i class="iconfont icon-lingdang"></i>计算机学院
          </div>
        </div>
        <div class="width-25 swiper-slide">
          <div class="navset-wrapper">
            <i class="iconfont icon-lingdang"></i>计算机学院
          </div>
        </div>
        <div class="width-25 swiper-slide">
         <div class="navset-wrapper">
            <i class="iconfont icon-lingdang"></i>计算机学院
          </div>
        </div>
      </div>
      <a class="arrow-left" href="#">
        <i class="iconfont icon-icon30"></i>
      </a>
      <a class="arrow-right" href="#">
        <i class="iconfont icon-icon32"></i>
      </a>
    </div>
  </div>
</section>

<!-- 课程 -->
{% set recommendCourses = data('RecommendCourses',{ count:10 }) %}
<section class="mooc-course">
  <div class="container">
    <div class="mooc-index-title">
      学校课程
    </div>
    <div class="course-list clearfix">
     {% if recommendCourses %}
          {% include 'TopxiaWebBundle:Default:course-item.html.twig' with {courses:recommendCourses}%}
      {% endif %}    
    </div>
    <div class="text-center mvl">
      <a href="{{ path('course_explore') }}"  class="moocindex-more-btn">
        更多课程
      </a>
    </div>
  </div>
</section>

{% set RecommendClassrooms = data('RecommendClassrooms',{'count':4})%}
<section class="mooc-classroom hidden-xs">
  <div class="container">
    {% if RecommendClassrooms %}
      <div class="mooc-index-title">
      学校{{setting('classroom.name')|default("专业") }}
      </div>
      <div class="class-list row swiper-container">
        <div class="swiper-wrapper">
        {% for classroom in RecommendClassrooms %}
          <div class="class-item col-md-3 swiper-slide clearfix">
            <div class="class-wrapper">
              <div class="class-img">
                <a href="{{ path('classroom_show', {id:classroom.id}) }}">
                  {{ lazy_img(filepath(classroom.middlePicture, 'classroom.png'), 'img-responsive', classroom.title, 'lazyload_class.png') }}
                </a>
              </div>
              <div class="metas pbm clearfix">
                <p class="title text-overflow">
                  <a class="link-dark" href="{{ path('classroom_show', {id:classroom.id}) }}">{{ classroom.title }}</a>
                </p>
                {% if classroom.headTeacherId %}
                  {% set user = data('User', {userId:classroom.headTeacherId}) %}
                    {% if user %}
                    <img src="{{ filepath(user.largeAvatar, 'avatar.png') }}" alt="" class="avatar-ss">
                     <span>{{user.nickname}}</span>
                    {% endif %}
                  {% else %}
                  <span>暂无班主任</span>
                {% endif %}
                <span class="num pull-right"><i class="es-icon es-icon-people mrs"></i>
                {{classroom.studentNum + classroom.auditorNum }}人</span>
              </div>
            </div>  
          </div>
        {% endfor %}
        </div>
        <a class="arrow-left" href="#">
          <i class="iconfont icon-icon30"></i>
        </a>
        <a class="arrow-right" href="#">
          <i class="iconfont icon-icon32"></i>
        </a>  
      </div>
    {% endif %}
    <div class="text-center mvl">
          <a href="{{ path('classroom_explore') }}"  class="moocindex-more-btn">
            更多班级
          </a>
        </div>
  </div>
</section>

<section class="mooc-feature">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <img src="{{asset('themes/mooc/img/badge.svg')}}" class="img-responsive">
        <h4>社区型网校</h4>
        <p>与同学和老师实时讨论课程细节，让你全面掌
          握所有知识点，巩固知识，学习不再孤单！</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="{{asset('themes/mooc/img/community.svg')}}" class="img-responsive">
        <h4>随时随地学习</h4>
        <p>网校结合移动端，能够让你随时随地掏出手
          机就进行学习，方便快捷，没有任何负担。</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="{{asset('themes/mooc/img/shake.svg')}}" class="img-responsive">
        <h4>权威电子证书</h4>
        <p>重点课程提供权威电子证书认证，让你的学
          习获得认可，为你的就业添砖加瓦。</p>
      </div>
    </div>
  </div>
</section>
{% set teachers = data('RecommendTeachers',{'count':12}) %}
<section class="mooc-teacher hidden-xs hidden-sm">
  <div class="container">
     <div class="mooc-index-title">
        名师风采
      </div>
    {% if teachers %}
      <div class="row swiper-container teach-list">
        <div class="swiper-wrapper">
          {% for teacher in teachers %}
            <div class="teach-item swiper-slide col-md-3">
            {% include 'TopxiaWebBundle:Teacher:teacher-item.html.twig' %}
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pager"></div>
      </div>  
     {% endif %}
  </div>
</section>
<section class="mooc-cooperate hidden-xs">
  <div class="container">
    <div class="mooc-index-title">
     合作院校
    </div>
    <ul class="cooperate-list clearfix">
      <li>
        <a href="javascript:;">
          <img src="{{asset('themes/mooc/img/temp/cooperate-img1.png')}}">
        </a>
      </li>
       <li>
        <a href="javascript:;">
          <img src="{{asset('themes/mooc/img/temp/cooperate-img1.png')}}">
        </a>
      </li>
       <li>
        <a href="javascript:;">
          <img src="{{asset('themes/mooc/img/temp/cooperate-img1.png')}}">
        </a>
      </li>
       <li>
        <a href="javascript:;">
          <img src="{{asset('themes/mooc/img/temp/cooperate-img1.png')}}">
        </a>
      </li>
       <li>
        <a href="javascript:;">
          <img src="{{asset('themes/mooc/img/temp/cooperate-img1.png')}}">
        </a>
      </li>
       <li>
        <a href="javascript:;">
          <img src="{{asset('themes/mooc/img/temp/cooperate-img1.png')}}">
        </a>
      </li>
       <li>
        <a href="javascript:;">
          <img src="{{asset('themes/mooc/img/temp/cooperate-img1.png')}}">
        </a>
      </li>
       <li>
        <a href="javascript:;">
          <img src="{{asset('themes/mooc/img/temp/cooperate-img1.png')}}">
        </a>
      </li>
    </div>
  </div>
</section>

<section class="mooc-learn">
  <div class="container">
    <div class="learn-list">
      <i class="mobile img hidden-sm hidden-xs"></i>
      <i class="calculator img hidden-sm hidden-xs"></i>
      <i class="book img"></i>
      <i class="earphone img hidden-sm hidden-xs"></i>
      <i class="coffee img hidden-sm hidden-xs"></i>
      <a href="{{ path('course_explore') }}" class="learning-btn img"><i class="mc-icon icon-iconfontwrite"></i>开启学习之旅</a>
    </div>
  </div>
</section>

{% endblock %}
{% do load_script('theme/default/index') %} #}

{{ render(controller('TopxiaWebBundle:Theme:index')) }}
