{% set LatestClassrooms = data('LatestClassrooms',{'count':config.count|default(4)})%}
{% if LatestClassrooms %}
<section class="mooc-classroom hidden-xs {{config.background|default("")}}">
  <div class="container">
      <div class="mooc-index-title">
        {{config.title|default("学校专业")}}
      </div>
      <div class="class-list row swiper-container">
        <div class="swiper-wrapper">
        {% for classroom in LatestClassrooms %}
          <div class="class-item col-md-3 swiper-slide clearfix">
            <div class="class-wrapper">
              <div class="class-img">
                <a href="{{ path('classroom_show', {id:classroom.id}) }}">
                  {{ lazy_img(filepath(classroom.middlePicture, 'classroom.png'), 'img-responsive', classroom.title, 'lazyload_class.png') }}
                </a>
              </div>
              <div class="metas pbm clearfix">
                <p class="title text-overflow">
                  <a  href="{{ path('classroom_show', {id:classroom.id}) }}">{{ classroom.title }}</a>
                </p>
                {% if classroom.headTeacherId %}
                  {% set user = data('User', {userId:classroom.headTeacherId}) %}
                    {% if user %}
                    <img src="{{ filepath(user.largeAvatar, 'avatar.png') }}" alt="" class="avatar-ss">
                     <span>{{user.nickname}}</span>
                    {% endif %}
                  {% else %}
                  <span>暂无班主任</span>
                {% endif %}
                <span class="num pull-right"><i class="mc-icon icon-iconfontpeople mrs"></i>
                {{classroom.studentNum + classroom.auditorNum }}人</span>
              </div>
            </div>  
          </div>
        {% endfor %}
        </div>
        {% if LatestClassrooms|length >= 5 %}
          <a class="arrow-left" href="#">
            <i class="iconfont icon-icon30"></i>
          </a>
          <a class="arrow-right" href="#">
            <i class="iconfont icon-icon32"></i>
          </a>
        {% endif %}
      </div>
    <div class="text-center">
      <a href="{{ path('classroom_explore') }}"  class="btn btn-default">
        更多{{setting('classroom.name')|default("专业") }}
      </a>
    </div>
  </div>
</section>
{% endif %}