{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}
{% block description %}{{ setting('site.seo_description') }}{% endblock %}

{% set bodyClass = 'homepage' %}
{% set siteNav = '/' %}
{% set script_controller = 'index' %}
{% set _target_path = path('homepage') %}

{% block full_content %}
{% for pendant in themeConfig.blocks.right|default([]) %}
	<nav class="mooc-nav hidden-xs hidden-sm">
	  <div class="container"> 
	  {{ render(controller('TopxiaWebBundle:Default:topNavigation', {siteNav:siteNav|default(null), isMobile:true })) }}
	  </div>
	</nav> 
	<section class="mooc-poster">
	  <div class="container clearfix">
	    <div class="slide-wrapper">
	      <div id="slider" class="novoSlider slideitem">
	        <a href=""><img src="{{asset('themes/mooc/img/banner1.jpg')}}" alt="" /></a>
	        <a href=""><img src="{{asset('themes/mooc/img/banner2.png')}}" alt="" /></a>
	        <a href=""><img src="{{asset('themes/mooc/img/banner3.jpg')}}" alt="" /></a>
	      </div>
	    </div>
	    {{ render(controller('TopxiaWebBundle:Theme:pendant', {config:pendant})) }}
	  </div>
	</section>
{% else %}
	{{ block_show('mooc:home_top_banner') }}
{% endfor %}

  {% for pendant in themeConfig.blocks.left|default([]) %}
    {{ render(controller('TopxiaWebBundle:Theme:pendant', {config:pendant})) }}
  {% endfor %}

{% endblock %}
