{% extends 'course-manage/layout.html.twig' %}

{% block title %}{{ 'course.live_statistics'|trans }} - {{ course.title }} - {{ parent() }}{% endblock %}
{% set course_side_nav = 'live-statistics' %}
{% set assistant = data('AssistantPermission', { courseId: course.id }) %}

{% block page_title %}{{ 'course.live_statistics'|trans }}{% endblock %}

{% do script(['app/vue/views/course_manage/live_statistics/index.js']) %}

{% block main %}
  <input type="hidden" class="js-course-id" value="{{ course.id }}" />
  <div id="app"></div>

  <div class="cd-main js-vue-loading">
    <div class="cd-main__body text-center pt48">
      {% include "vue-components/loading.html.twig" %}
    </div>
  </div>
{% endblock %}
