<div class="row form-group">
    <div class="col-md-4 control-label">
      <label for="course-name-{{courseFile.id}}">{{index}}. 文件名称: [{{courseFile.fileName}}]</label>
    	&nbsp;&nbsp; ===>
    </div>
    <div class="col-md-7 controls">
      <input type="text" id="course-name-{{courseFile.id}}" name="course-name" class="form-control"
      value="{{courseFile.fileName}}">
	</div>
</div>