{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

<tr id="upload-file-tr-{{uploadFile.id}}" data-role="item" data-convertHash="{{uploadFile.convertHash}}">

  <td><input value="{{uploadFile.id}}" type="checkbox" data-role="batch-item" ></td>

  <td>
    {% if uploadFile.storage == 'cloud' %}
      <span class="glyphicon glyphicon-cloud text-muted" title="云文件"></span>
    {% endif %}
    {% if uploadFile.convertStatus == 'waiting' %}
      {{uploadFile.filename}}<br><span class="text-warning text-sm">正在文件格式转换</span>
      {% if ( now - uploadFile.updatedTime ) > 28800 %}
        <a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:course.id, fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换</a>
      {% endif %}

    {% elseif uploadFile.convertStatus == 'doing' %}
      {{uploadFile.filename}}<br><span class="text-info text-sm">正在文件格式转换</span>
      {% if uploadFile.type == 'ppt' and ( now - uploadFile.updatedTime ) > 1800 %}
        <a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:course.id, fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换</a>
      {% endif %}
    {% elseif uploadFile.convertStatus == 'error' %}
      {{uploadFile.filename}}<br><span class="text-danger text-sm">文件格式转换失败，<a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:course.id, fileId:uploadFile.id}) }}" class="convert-file-btn">重新转换</a></span>
    {% else %}
      {% if uploadFile.targetType in ['courselesson', 'coursematerial'] %}
        <a href="{{ path('course_manage_file_show', {id:course.id, fileId:uploadFile.id}) }}" target="_blank">{{ uploadFile.filename }}</a>
        {% if uploadFile.type == 'ppt' and ( not uploadFile.metas2.length|default(null) ) and uploadFile.targetType == 'courselesson'  %}
          <br><a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:course.id, fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换</a>
        {% endif %}
      {% else %}
        {{ uploadFile.filename }}
      {% endif %}
    {% endif %}

    {% if setting('developer.debug') and uploadFile.convertParams.convertor|default(null) %}
      <a href="javascript:;" data-url="{{ path('course_manage_file_convert', {id:course.id, fileId:uploadFile.id}) }}" class="convert-file-btn text-danger">重新转换(调试模式)</a>
    {% endif %}

  </td>
  <td> 
    {{ dict_text('fileType', uploadFile.type) }}
  </td>
  <td>{{ web_macro.bytesToSize(uploadFile.size) }}</td>
  <td> 
    <span class="text-sm">{{ web_macro.user_link(users[uploadFile.updatedUserId]|default(null)) }}</span>
    <br>
    <span class="text-muted text-sm">{{ uploadFile.updatedTime|date('Y-n-d H:i')}}</span>
  </td>

</tr>