{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

<tr id="student-{{ user.id }}-tr">
  <td class="media">
    {{ web_macro.user_avatar(user, 'pull-left') }}
    <a target="_blank" href="{{ path('user_show', {id:user.id}) }}">{{ user.nickname }}</a>
    {% if student.remark %}
      <div class="text-muted text-sm">备注：{{ student.remark }}</div>
    {% endif %}
    <div class="text-muted text-sm">{{ student.createdTime|date('Y-n-d H:i') }}加入</div>
  </td>

  <td>
    <div class="progress" title="已学{{ progress.number }}课时">
      <div class="progress-bar" style="width: {{ progress.percent }}">
      </div>
    </div>
  </td>

</tr>