{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

<tr id="student-tr-{{uploadFile.id}}" data-role="item">

   <td><input value="{{uploadFile.id}}" type="checkbox" data-role="batch-item" ></td>

  <td class="text-danger"> {{uploadFile.fileName}} </td>
  <td> 
    {{ dict_text('fileType:html', uploadFile.fileType) }}
  </td>
  <td class="text-info"> {{ web_macro.bytesToSize(uploadFile.fileSize) }}</td>
  <td class="text-primary"> 
    {{ uploadFile.updateTime|date('Y-n-d')}}
      <br>
    {{ uploadFile.updateTime|date('H:i:s')}}
  </td>

  <td class="text-info"> 
    {{ web_macro.user_link(uploadFile.updateUser) }}
  </td>

  <td class="text-primary"> 
    {{ uploadFile.createdTime|date('Y-n-d')}}
      <br>
    {{ uploadFile.createdTime|date('H:i:s')}}
  </td>

  <td class="text-info"> 
    {{ web_macro.user_link(uploadFile.createdUser) }}
  </td>

</tr>