<section class="course-freelearn-section">
  <div class="row">
    <div class="col-md-3">
      <div class="course-progress">
        <div class="cricle-progress" id="freeprogress" data-percent="{{ progress }}">
          <span class="percent"></span>
        </div>
      </div>
    </div>
    <div class="col-md-7 hidden-xs hidden-sm">
      <ul class="clearfix text-12 course-learn-list ">
        <li>
          <p class="mb15 color-gray">
            <i class="es-icon es-icon-iccheckcircleblack24px mrm"></i>{{ 'my.course.free_mode_plan.task_finished'|trans }}
          </p>
          <span class="text-16"><span class="color-primary">{{ taskResultCount }}</span> / <span
                class="mrl">{{ taskCount }}</span>
          {{ 'course.task'|trans({'%taskName%':setting('course.task_name')|default('admin.setting_course.task'|trans)}) }}</span>
        </li>
        <li>
          <p class="mb15 color-gray">
            <i class="es-icon es-icon-today mrm"></i>{{ 'course.expiry_date'|trans }}
          </p>
          <span class="text-16">
            {% include 'course/header/parts/member-deadline-info.html.twig' %}
           </span>
        </li>
        <li>
          <p class="mb15 color-gray">
            <i class="es-icon es-icon-book mrm"></i>{{ 'my.course.free_mode_plan.next_task'|trans({'%taskName%':setting('course.task_name')|default('admin.setting_course.task'|trans)}) }}
          </p>
          {% for toLearnTask in toLearnTasks %}
            <a class="link-dark text-16" href="{{ path('course_task_show',{courseId: course.id, id: toLearnTask.id}) }}">{{ toLearnTask.title|sub_text(15) }}</a>
          {% else %}
            <span class="text-16">{{ 'my.course.free_mode_plan.task_empty'|trans({'%taskName%':setting('course.task_name')|default('admin.setting_course.task'|trans)}) }}</span>
          {% endfor %}
        </li>
      </ul>
      {% if setting('mobile.enabled')|default(false) and is_support_enable_audio(course.enableAudio|default(0)) and course.type == 'normal' %}
        <ul class="clearfix text-12 course-learn-list mt10">
          <li>
            <span class="lump-sm color-lump bg-primary">{{ 'course.video.convert.client.listen'|trans }}</span>
            {{ 'course.video.convert.client.click.listen'|trans }}
            <a href="{{ path('mobile') }}" target="__blank">{{ 'course.video.convert.client.try'|trans }}</a>
          </li>
        </ul>
      {% endif %}
    </div>
    {% if showLearnBtn|default(1) %}
      <div class="col-md-2 hidden-xs hidden-sm pt10">
        {% include 'course/header/free-mode-member-learn-btn.html.twig' %}
      </div>
    {% endif %}
  </div>
  {% include 'course/header/header-for-member-responsive.html.twig' %}
</section>
