{% if course.buyable|default(true) == false and ( is_plugin_installed('Vip') and  course.vipLevelId == 0) %}
  {{ '该课程为限制课程'|trans }},{{ '请联系客服'|trans }}
{% else %}
  {% if course.status != 'published' or courseSet.status != 'published' %}
    课程还未发布，不允许加入和购买
  {% else %}
    {% if course.buyExpiryTime and course.buyExpiryTime < 'now'|date('U') %}
      超过加入截止日期，不允许加入和购买
    {% elseif (course.expiryMode in ['end_date', 'date'] and course.expiryEndDate < 'now'|date('U')) %}
      超过学习截止日期，不允许加入和购买
    {% else %}
      {{ slot('course.purchase.extension', {'course':course}) }}
      {# 插件重写课程购买按钮 #}
      {% if slot('course.buy-btn.extension', {'course': course})|trim %}
        {{ slot('course.buy-btn.extension', {'course': course}) }}
      {% else %}
        {% if course.buyable|default(true) %}
          <a class="btn btn-primary btn-lg {% if previewAs|default() %}disabled{% endif %}"
            {% if is_buy_course_from_modal(course.id) %}
              href="#modal"
              data-toggle="modal"
              data-url="{{ path('course_buy', {id:course.id, targetType:'course'}) }}"
            {% else %}
              href="{{ path('order_show', {targetId:course.id, targetType:'course'}) }}"
            {% endif %}
          >
            {% if course.price > 0 %}
              {{ '购买课程'|trans }}
            {% else %}
              {{ '加入学习'|trans }}
            {% endif %}
          </a>
        {% endif %}
      {% endif %}

    {% endif %}
  {% endif %}


{% endif %}
