{% if course.buyable|default(true) == false and not is_plugin_installed('Vip') %}
  {{'该课程为限制课程'|trans}}<br>{{'请联系客服'|trans}}
{% else %}
  {% if is_plugin_installed('Vip') %}
    <a class="btn btn-default btn-lg mrm"><i class="es-icon es-icon-crown mr10"></i>会员</a>
  {% endif %}

  {% if course.buyable|default(true) %}
    <a class="btn btn-primary btn-lg"
      {% if course.status != 'published' or isPreview %}
        disabled="disabled"
      {% else %}
        {% if is_buy_course_from_modal(course.id) %}
          href="#modal"
          data-toggle="modal"
          data-url="{{ path('course_buy', {id:course.id, targetType:'course'}) }}"
        {% else %}
          href="{{ path('order_show', {targetId:course.id, targetType:'course'}) }}"
        {% endif %}
      {% endif %}
    >
      {% if course.price > 0 %}
        {{'购买课程'|trans}}
      {% else %}
        {{'加入学习'|trans}}
      {% endif %}
    </a>
  {% endif %}
{% endif %}