{% import "macro.html.twig" as web_macro %}
{% do script('app/js/course/header-top/index.js') %}

<!-- 3、加入后：任务式学习 -->
<div class="container">
  <ol class="breadcrumb breadcrumb-o">
    <li><a href="{{ path('homepage') }}">{{'homepage'|trans}}</a></li>
    {% for breadcrumb in breadcrumbs|default() %}
      <li><a href="{{ path('course_set_explore',{'category':breadcrumb.code}) }}">{{ breadcrumb.name }}</a></li>
    {% endfor %}
    {% if page_type|default('guest') == 'member' %}
      <li><a href="{{ path('course_show', {id: courseSet.defaultCourseId}) }}">{{ courseSet.title }} </a></li>
      <li class="active">{{ course.title }} </li>
    {% else %}
      <li class="active">{{ courseSet.title }} </li>
    {% endif %}
  </ol>

  {% block course_header_info %}{% endblock %}
  <div class="es-section course-detail-section clearfix">
    <div class="course-detail-top clearfix">
      {# 已完成，更新中标志 tags #}
      {# <span class="tags mrm">
        {% if courseSet.serializeMode == 'serialized' %}
          <span class="tag-serialing"></span>
        {% elseif courseSet.serializeMode == 'finished' %}
          <span class="tag-finished"></span>
        {% endif %}
      </span> #}
      {# <span class="course-detail-heading"> #}
       {# {% if marketingPage %}
        {{ courseSet.title }}
         {% else %}
        {{ course.title }}
       {% endif %} #}
       {# 二维码标志 #}
       {% block course_header_qrcode %}
        {# <span class="es-qrcode top pt5 hidden-xs" data-url="{{ path('course_qrcode', { id: course.id }) }}">
          <i class="es-icon es-icon-qrcode"></i>
          <span class="qrcode-popover">
            <img src="" alt="">
            {{ 'site.tips.scan_qrcode_tips'|trans }}
          </span>
        </span> #}
       {% endblock %}
      {# </span> #}
      {# 副标题显示 #}
      {% block course_header_subtitle %}{% endblock %}
      {# 图标操作栏 #}
 
    </div>
    {% block course_heard_content %}{% endblock %}
  </div>
</div>
