<div class="table-responsive" id = "table-responsive">
  <table class="table" style="table-layout:fixed;word-break:break-all">
    <tr>
      <th>VIP</th>
      <th>人民币价格</th>
      <th>最大可抵扣比率</th>
      <th>最大可抵扣金额</th>
      <th>最大可用{{ setting('coin.coin_name')|default('虚拟币') }}</th>
    </tr>

    {% if items %}
      {% for item in items %}
        <tr>
          <td>
            <img src="{{ item.picture|default(asset('assets/img/default/vip-default.png')) }}" style="width:100px;"/>
            <a href="{{ path('vip') }}" target=blank >{{item.name}}
            </a>
          </td>
          <td>
              <span id="rmb{{item.id}}" class="rmbPrice">{{item.monthPrice}}</span>
          </td>
          <td>
            <div class="form-group">
              <div class="controls">
                <input id="rate{{item.id}}" type="text" class="form-control rate" style="width:40%;" value="{{ item.maxRate }}" name="item-rate[{{item.id}}]" data-id="{{item.id}}"/>%
              </div>
            </div>
          </td>
          <td>
            <span id="deRmb{{item.id}}">{{ item.maxRate * item.monthPrice / 100 }}</sapn>
          </td>
          <td>
            <span id="cash{{item.id}}">{{ item.maxRate / 100 * item.monthPrice * set.cash_rate }}</sapn>
          </td>
        </tr>
      {% endfor %}
    {% endif %}
  </table>
</div>