
{% extends 'TopxiaAdminBundle:System:layout.html.twig' %}

{% block title %}虚拟币模式设置 - {{ parent() }}{% endblock %}

{% set script_controller = "coin/save" %}
{% set menu = 'coin' %}
{% set submenu = 'model' %}

{% block main %}
    {% include 'TopxiaAdminBundle:Coin:coin-ul.html.twig' %}

  {{ web_macro.flash_messages() }}
  <form class="form-horizontal" method="post" id="coin-model-form" action="{{path('admin_coin_model_save')}}">
  

    <fieldset>
    <legend>虚拟币模式设置</legend>
    <ul class="breadcrumb">
      <li><a href="{{path('admin_coin_model')}}">虚拟币模式设置</a></li>
      <li class="active">课程价格设置</li>
    </ul>

    <div class="mll clearfix mrl ">
        <span class="mrl">当前模式：<span style="color:red;">{% if set.cash_model =="deduction" %}抵扣模式{% else %}货币模式{% endif %}</span></span>
        <span class="mll">汇率：<span style="color:red;" id="cash-rate" data-val="{{ set.cash_rate}}">1 比 {{ set.cash_rate}}</span></span>
        {% if set.cash_model =="deduction" %}{% else %}<a class="btn btn-info btn-sm pull-right set">按汇率批量设置价格</a>{% endif %}
    </div>

    <div class="table-responsive mtl mll mrl">
      <table class="table">
        {% if set.cash_model =="deduction" %}
        <tr>
          <th>课程</th>
          <th>人民币价格</th>
          <th>虚拟币抵扣全额</th>
        </tr>
        {% else %}
        <tr>
          <th width="60%">课程</th>
          <th>人民币价格</th>
          <th>虚拟币价格</th>
        </tr>
        {% endif %}

        {% if courses %}
            {% for course in courses %}
                <tr>
                    <td><img src="{{ default_path('coursePicture', course.smallPicture, '') }}" style="width:100px;"/><a href="{{path('course_show',{id:course.id})}}" target=blank >{{course.title}}</a></td>
                    <td>
                        <div class="form-group">
                        <div class="controls">
                        <label for="rmb{{course.id}}" class="hidden">人民币价格</label>
                        {% if set.cash_model =="deduction" %}<input id="rmb{{course.id}}" type="text" class="form-control rmbPrice" style="width:40%;" value="{{course.price}}" name="course-rmb[{{course.id}}]" data-id="{{course.id}}"/>{% else %}<input type="hidden" class="rmb" value="{{course.price}}" data-id="{{course.id}}"/>{{course.price}}{% endif %}
                        </div>
                        </div>
                      </td>
                    <td>
                      <div class="form-group">
                      <div class="controls">
                      <label for="cash{{course.id}}" class="hidden">虚拟币价格</label>
                      {% if set.cash_model =="deduction" %}<span id="cash{{course.id}}">{{course.price * set.cash_rate }}</sapn>{% else %}<input type="text" id="cash{{course.id}}" class="form-control cashPrice" style="width:40%;" value="" name="course-cash[{{course.id}}]"/>{% endif %}
                      </div>
                      </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}


      </table>
    </div>
    <input type="hidden" name="cash_model" value="{{ set.cash_model }}">
    <input type="hidden" name="cash_rate" value="{{ set.cash_rate }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    <div class="row form-group">

      <div class="controls col-md-offset-3 col-md-8">
        <a type="button" href="{{ url('admin_coin_model',{set:set}) }}" class="btn btn-primary">上一步</a>
        <button type="submit" class="btn btn-primary" id="finish" >完成</button>
      </div>
    </div>
  </form>
{% endblock %}