{% extends 'TopxiaAdminBundle::layout.html.twig' %}

{% set menu = 'admin_setting_cloud_edulive' %}

{% block page_title %}
  {% if setting('cloud_status.locked') == true %}
    <div class="alert alert-warning" role="alert">{{'您的教育云服务已被锁定，请联系客服人员：'|trans}}0571-86819929。</div>
    {{ currentMenu.code|parent_permission.name|trans }}
  {% elseif account.status|default() == 'none' %}
    <div class="alert alert-warning" role="alert">{{'
    您的云直播服务已被暂停，不能使用，请联系客服人员：'|trans}}0571-86819929。</div>
    {{ currentMenu.code|parent_permission.name|trans }}
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block main %}
<!-- 设置 -->
<div class="page-heading">
  云直播开关
</div>
<form class="form-horizontal" role="form" method="post" novalidate>
  <div class="form-group">
    <label for="" class="col-sm-3 control-label">启用云直播：</label>
    <div class="controls col-md-9 radios">
         <div>
            <span class="text-success">{{ '已启用'|trans }}</span>
            <button type="submit" class="btn btn-default btn-sm mlm" name="live_course_enabled" value="0"><span class="text-muted">{{ '关闭'|trans }}</span></button>
          </div>
      <div class="help-block">
        大班课、小班课、一对一辅导课，云直播让直播课堂更精彩。<a href="">点击这里</a>了解详情。
      </div>
    </div>
  </div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>
{% endblock %}
