{% extends 'TopxiaWebBundle:Question:question-base-layout.html.twig' %}

{% block heading %}
  {{ question.stem|bbCode2Html|raw }}
  {% include 'TopxiaWebBundle:Attachment/Widget:list.html.twig' with {targetType:'question.stem', targetId:question.id  } %}
{% endblock %}

{% block body %}

{% if itemResult.answer|default(null) %}
  {% set answerChoiceIndex = itemResult.answer %}
{% endif %}

  <div class="question-choices-inputs">
    <label class="radio-inline"><input type="radio" data-type="determine" name="answer[{{ question.id }}]" value="1" {% if 1 in  answerChoiceIndex|default(null) %}checked{% endif %}> {{'正确'|trans}}</label>
    <label class="radio-inline"><input type="radio" data-type="determine" name="answer[{{ question.id }}]" value="0" {% if 0 in answerChoiceIndex|default(null) %}checked{% endif %}>{{'错误'|trans}}</label>
  </div>

{% endblock %}

{% block footer %}

{% endblock %}