{% extends 'TopxiaWebBundle:Question:question-base-layout.html.twig' %}

{% block heading %}
  {{ question.stem|bbCode2Html|raw }}
  {% include 'TopxiaWebBundle:Attachment/Widget:list.html.twig' with {targetType:'question.stem', targetId:question.id  } %}
{% endblock %}

{% block body %}

 {% set rightAnswerIndex = question.answer[0]|default(null) %}

  <div class="homework-question-result">
    {% if itemResult.status == 'right' %}
	   <span class="glyphicon glyphicon-ok question-text-success"></span>
    {% elseif itemResult.status == 'wrong' %}
       <span class="glyphicon glyphicon-remove question-text-danger"></span>
    {% elseif itemResult.status == 'noAnswer' %}
　　　  <span class="glyphicon glyphicon-remove question-text-danger"></span> {{'未答题'|trans}}
    {% endif %}
	 {{'正确答案是'|trans}}: <strong style="color:red">{% if rightAnswerIndex == 1 %} {{'正确'|trans}} {% else %} {{'错误'|trans}} {% endif %}</strong>
</div>

{% endblock %}

{% block footer %}

{% endblock %}