<ul class="task-list task-show">
  {% for key, item in courseItems %}
    {% if item.type == 'chapter' %}
      <li class="task-item bg-gray-lighter js-task-chapter">
        <i class="es-icon es-icon-menu left-menu"></i>
        <span class="title">{{'course.plan_task.course_chapter'|trans({'%number%': item.number, '%chapterTitle%': item.title})}}</span>
        <i class="right-menu es-icon es-icon-remove js-remove-icon"></i>
      </li>
    {% elseif item.type == 'unit' %}
      <li class="task-item color-gray bg-gray-lighter">
        <span class="title">{{'course.plan_task.course_unit'|trans({'%number%': item.number, '%unitTitle%': item.title})}}</span>
      </li>
    {% elseif  item.type == 'lesson' %}
      {% set tasks = array_index(item.tasks, 'mode') %}
      {% set index = tasks.lesson.number|default(null) %}

      {% for task in item.tasks %}
        {% if  item.tasks|length > 1 %}
          {% set taskIndex = index ~'-' ~ loop.index %}
        {% else %}
          {% set taskIndex =  index %}
        {% endif %}

        {% set task_lock =  (course.learnMode  == 'lockMode')  and (task.lock  and   task.number != 1) %}
        <li class="task-item task-content {% if task.activityId == activity.id %} active {% endif %} mouse-control">
          <i class="es-icon
          {% if task_lock %}
          es-icon-lock
          {% elseif  not task.result|default(null) %}
          es-icon-undone-check
          {% elseif task.result.status == 'start' %}
          es-icon-doing color-primary
          {% elseif task.result.status == 'finish' %}
          es-icon-iccheckcircleblack24px color-primary
          {% endif %}
          left-menu"></i>

          {% if not task_lock  and   task.status == 'published' %}
            <a class="title"
              href="{{ path('course_task_show', {id:task.id,courseId:task.courseId}) }}">
              {% if task.isOptional %}<span class="label label-success mrm">{{'course.plan_task.elective_task'|trans}}</span>{% endif %}{{'course.plan_task.task_index_title'|trans({'%index%': taskIndex, '%taskTitle%': task.title})}}
            </a>
          {% else %}
            <div class="title"
              data-url="{{ path('course_task_show', {id:task.id,courseId:task.courseId}) }}">
              {% if task.isOptional %}<span class="label label-success mrm">{{'course.plan_task.elective_task'|trans}}</span>{% endif %}{{'course.plan_task.task_index_title'|trans({'%index%': taskIndex, '%taskTitle%': task.title})}}
            </div>
          {% endif %}

          {% if task.status != 'published' %}
            {#<span class="right-menu mouse-leave">{{ task.activity.length|activity_length_format }}
              <i class="es-icon {{ activity_metas(task.activity.mediaType).icon }} ml5"></i>
            </span>#}
            <span class="right-menu ">{{'course.plan_task.coming_soon'|trans}}</span>
          {% elseif task_lock %}
            <span class="right-menu mouse-leave">{{ task.activity.length|activity_length_format }}
              <i class="es-icon {{ activity_metas(task.activity.mediaType).icon }} ml5"></i>
          </span>
            <span class="right-menu mouse-enter color-warning">{{'course.plan_task.unlock'|trans}}</span>
          {% else %}
            <span class="right-menu">{{ task.activity.length|activity_length_format }}
              <i class="es-icon {{ activity_metas(task.activity.mediaType).icon }} ml5" data-toggle="tooltip"
                data-placement="top" title="{{ activity_metas(task.activity.mediaType).name }}{{ 'course.plan_task.task'|trans }}"></i></span>
          {% endif %}
        </li>

      {% endfor %}
    {% endif %}
  {% endfor %}

</ul>
