{% extends 'TopxiaAdminBundle:CategoryManage:layout.html.twig' %}

{% block title %}知识点管理 - {{ parent() }}{% endblock %}
{% set nav = 'course' %}
{% set side_nav = 'knowledge' %}
{% set script_controller = 'knowledge/main' %}

{% block main %}

<div class="page-header clearfix">
  <button class="btn btn-sm btn-info pull-right add-category" data-toggle="modal" data-target="#modal" data-url="{{ path('admin_knowledge_create', {categoryId:category.id}) }}">添加知识点</button>
   <button class="btn btn-sm btn-info pull-right add-category hidden" id="add-knowledge" data-toggle="modal" data-target="#modal" data-url="{{ path('admin_knowledge_create', {categoryId:category.id}) }}" data-turl="{{ path('admin_knowledge_create', {categoryId:category.id}) }}">添加知识点</button>
   <button class="btn btn-sm btn-info pull-right add-category hidden" id="edit-knowledge" data-toggle="modal" data-target="#modal" data-url="{{ path('admin_knowledge_edit') }}" data-turl="{{ path('admin_knowledge_edit') }}">编辑知识点</button>
  <h1 class="pull-left">知识点管理</h1>
</div>

<div class="knowledge-list">
  <ul id="knowledge-tree" class="ztree" data-url="{{ path('admin_knowledge_getNodes')}}" data-cid="{{ category.id }}" data-durl="{{ path('admin_knowledge_delete')}}" data-surl="{{ path('admin_knowledge_sort') }}"></ul>
<div>
{% endblock %}