{% extends 'ClassroomBundle:Classroom:content-layout.html.twig' %}

{% set thread = thread|default(null) %}

{% block title %}{% if thread %}编辑{{ dict_text('threadType', type) }}{% else %}发表{{ dict_text('threadType', type) }}{% endif %} - {{ parent() }}{% endblock %}

{% set script_controller = 'thread/thread-form' %}

{% block main %}

    <ol class="breadcrumb">
    <li><a href="{{ path('classroom_threads', {classroomId:classroom.id}) }}">{{ dict_text('threadType', type) }}</a></li>
      {% if thread %}
        <li><a href="{{ path('classroom_thread_show', {classroomId:classroom.id, threadId:thread.id}) }}" title="{{ thread.title }}">{{ thread.title|plain_text(10) }}</a></li>
        <li class="active">编辑{{ dict_text('threadType', type) }}</li>
      {% else %}
        <li class="active">发表{{ dict_text('threadType', type) }}</li>
      {% endif %}
    </ol>

    {{ render(controller('TopxiaWebBundle:Thread:create', {request:app.request, target:{type:'classroom', id:classroom.id}, thread:thread, type:type})) }}

{% endblock %}
