{% extends 'TopxiaAdminBundle:CategoryManage:layout.html.twig' %}
{% set nav = 'course' %}
{% set side_nav = 'article_material' %}

{% set script_controller = 'article-material/main' %}

{% block main %}
  <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/tag-chooser-2.css') }}" />
  <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/ztree.css') }}" />

	<div class="page-header clearfix">
  <h1 class="pull-left">文章素材</h1>
    <button class="btn btn-sm btn-info pull-right add-category" data-toggle="modal" data-target="#modal" data-url="{{ path('admin_article_material_create', {categoryId:category.id}) }}">添加素材</button>
  </div>

  <div class="panel-body">
    <form id="article-material-search-form" class="form-inline well well-sm" action="" method="get" novalidate>

      <input type="hidden" name="categoryId" value="{{ category.id }}">
      <div class="form-group mrl" id="tags-search-group">
        <label>标签：</label>
          <a href="javascript:;" class="tag-search-trigger">
            {% for tag in tags %}
              {{tag.name}}
            {% else %}
              选择
            {% endfor %}
          </a>
      </div>
      <div class="form-group mrl" id="knowledges-search-group">
        <label>知识点：</label>
        <a href="javascript:;" class="knowledge-search-trigger">
          {% for knowledge in searchknowledges %}
            {{knowledge.name}}
          {% else %}
            选择
          {% endfor %}
        </a>
      </div>


      <div class="form-group mrl">
        <input class="form-control" type="text" name="keyword" value="{{ app.request.query.get('keyword') }}" placeholder="标题关键词">
      </div>

      <button type="submit" class="btn btn-sm btn-primary">搜索</button>

      <input type="hidden" name="tagIds" value="{{ app.request.query.get('tagIds') }}">
      <input type="hidden" name="knowledgeIds" value="{{ app.request.query.get('knowledgeIds') }}">

    </form>

  {% include 'CustomWebBundle:Tag:tagchooser-overlay.html.twig' with {id: 'tags-search', type: 'question'} %}
  {% include 'CustomWebBundle:Tag:tagchooser-knowledge-overlay.html.twig' with {id: 'knowledges-search', categoryId: category.id} %}


      <div class="courseware-list ">

        <div id="aticle-table-container">
          <table class="table table-hover table-striped" id="courseware-item-list">
            <thead>
              <tr>
                <th width="5%"><input type="checkbox"  data-role="batch-select"></th>
                <th width="">文件名</th>
                <th width="">知识点</th>
                <th width="20%">操作</th>
              </tr>
            </thead>
            <tbody>
              {% for articleMaterial in articleMaterials %}
              {% set knowledge = knowledges[articleMaterial.mainKnowledgeId]|default(null) %}
                {% include 'TopxiaAdminBundle:ArticleMaterial:list-view-tr.html.twig' %}
              {% else %}
                <tr class="empty"><td colspan="20">无文件记录</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {{ web_macro.paginator(paginator) }}
      </div>
      <div>
        <label class="checkbox-inline"><input type="checkbox" data-role="batch-select"> 全选</label>
        <button type="button" class="btn btn-default btn-sm mlm " data-role="batch-delete" data-url="{{ path('admin_article_material_delete')}}">删除</button>
      </div>
</div>
{% endblock %}