<tr id="package-tr-{{ package.id }}" >

  <td>{{ package.id }}</td>
  <td>{{ package.ename }}</td>
  <td>
  	{% if package.type == 0 %} 安装包
  	{% elseif package.type == 1 %} 升级包
  	{% endif %}
  </td>
  <td>
  	{% if package.type == 0 %} 
  		{{package.version}}
  	{% elseif package.type == 1 %}
  		{{package.fromVersion}} => {{package.version}}
  	{% endif %}
  </td>

  <td>
  	{% if package.level == 1 %} <strong class="text-info"> 一般 </strong>
  	{% elseif package.level == 2 %} <strong class="text-warning"> 重要 </strong>
  	{% elseif package.level == 3 %}  <strong class="text-danger"> 紧急 </strong>
  	{% endif %}
  </td>

  <td>
  	{{package.comments | plain_text(10) }}
  	<br>
    
    <div>
        <a href="#" class="btn btn-sm btn-info" rel="popover" data-content="{{package.comments}}" >详情</a>
    </div>

  </td>
  <td>
  	{% if package.type == 0 %} 

      <a href="#modal" class="btn btn-success btn-sm" data-toggle="modal" data-url="{{path('admin_upgrade_trigger_update_modal', {id:package.id})}}">安装</a>

  	{% elseif package.type == 1 %}
  		<a href="#modal" class="btn btn-primary btn-sm" data-toggle="modal" data-url="{{path('admin_upgrade_trigger_update_modal', {id:package.id})}}">更新</a>

  	{% endif %}
  </td>
</tr>