{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %} 安装软件包{% endblock %}

{% block body %}

<div id="post-url">
	
	<input type="hidden" data-type="check-environment" data-url="{{path('admin_upgrade_check_environment')}}">

	<input type="hidden" data-type="check-depends" data-url="{{path('admin_upgrade_check_depends', {id:installPackage.id})}}">

	<input type="hidden" data-type="download-extract" data-url="{{path('admin_upgrade_download_and_extract', {id:installPackage.id})}}">

</div>

<button id="begin-install" type="button" class="btn btn-success pull-right">开始安装</button>

<table class="table">
	<thead>
	  <tr>
	    <th>英文名</th>
	    <th>中文名</th>
	    <th>当前版本</th>
	    <th>文件名称</th>
	    <th>依赖关系</th>
	    <th>备份数据库</th>
	    <th>备份文件</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>{{installPackage.ename}}</td>
	    <td>{{installPackage.cname}}</td>
	    <td>{{installPackage.version}}</td>
	    <td>{{installPackage.filename}}</td>
	    <td>
	    	{% if installPackage.depends %}
	        	{{ installPackage.depends | plain_text(10) }}
	    	{% else %}
	    		无依赖关系
	    	{% endif %}
	    </td>
	    <td>
	    {% if installPackage.backupDB == 1 %}
	    是
	    {% elseif installPackage.backupDB == 0 %}
	    否
	    {% endif %}
	    </td>
	    <td>
	    {% if installPackage.backupFile == 1 %}
	    是
	    {% elseif installPackage.backupFile == 0 %}
	    否
	    {% endif %}
	    </td>
	  </tr>
	</tbody>
</table>
<hr>

<div id="install-animate">

		<div id="check-environment">
			<h5>1: 检查环境</h5>
			<h5 id="checking-environment" style='color:green; display:none; text-align: left'>正在检查环境................</h5>
			<p id="check-environment-result" style="color:red; text-align: center"></p>
		</div>
		<hr>

		<div id="check-depends">
			<h5>2: 检查依赖关系</h5>
			<h5 id="checking-depends" style='color:green; display:none; text-align: left'>正在检查依赖关系................</h5>
			<p id="check-depends-result" style="color:red ; text-align: center"></p>
		</div>
		<hr>
		
		<div id="download-extract">
			<h5>3: 下载与解压</h5>
			<h5 id="downloading-extract" style='color:green; display:none; text-align: left'>正在下载并解压软件包................</h5>
			<p id="download-extract-result" style="color:red ; text-align: center"></p>
		</div>

</div>

<script type="text/javascript"> app.load('upgrade/install-modal') </script>
{% endblock %}

{% block footer %}

  <button type="button" class="btn btn-primary dismiss" data-dismiss="modal">关闭</button>

{% endblock %}