<tr id="package-tr-{{ package.id }}">

  <td>{{ package.id }}</td>
  <td>{{ package.ename }}</td>
  <td>{{ package.cname }}</td>
  <td>{{ package.version }}</td>
  <td>{{ package.fromVersion }}</td>
  <td>{{ package.installlog }}</td>
  <td>{{ package.installTime |date('Y-n-d H:i') }}</td>
  
</tr>