{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %} 升级软件包{% endblock %}

{% block body %}

<div id="post-url">
	

	<input type="hidden" data-type="check-environment" data-url="{{path('admin_upgrade_check_environment',{id:updatePackage.id})}}">

	<input type="hidden" data-type="check-depends" data-url="{{path('admin_upgrade_check_depends', {id:updatePackage.id})}}">

	<input type="hidden" data-type="check-last-error" data-url="{{path('admin_upgrade_has_last_error', {id:updatePackage.id})}}">

	<input type="hidden" data-type="backup-system" data-url="{{path('admin_upgrade_backup_system', {id:updatePackage.id})}}">

	<input type="hidden" data-type="begin-upgrade" data-url="{{path('admin_upgrade_begin_upgrade', {id:updatePackage.id})}}">

	<input type="hidden" data-type="download-extract" data-url="{{path('admin_upgrade_download_and_extract', {id:updatePackage.id})}}">

</div>

<button id="begin-update" type="button" class="btn btn-success pull-right">开始升级</button>

<table class="table">
	<thead>
	  <tr>
	    <th>英文名</th>
	    <th>中文名</th>
	    <th>当前版本</th>
	    <th>文件名称</th>
	    <th>依赖关系</th>
	    <th>备份数据库</th>
	    <th>备份文件</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>{{updatePackage.ename}}</td>
	    <td>{{updatePackage.cname}}</td>
	    <td>{{updatePackage.version}}</td>
	    <td>{{updatePackage.filename}}</td>
	    <td>
	    	{% if updatePackage.depends %}
	        	{{ updatePackage.depends | plain_text(10) }}
	    	{% else %}
	    		无依赖关系
	    	{% endif %}
	    </td>
	    <td>
	    {% if updatePackage.backupDB == 1 %}
	    是
	    {% elseif updatePackage.backupDB == 0 %}
	    否
	    {% endif %}
	    </td>
	    <td>
	    {% if updatePackage.backupFile == 1 %}
	    是
	    {% elseif updatePackage.backupFile == 0 %}
	    否
	    {% endif %}
	    </td>
	  </tr>
	</tbody>
</table>
<hr>

<div id="install-animate">
	<p id='step1'>1、检查环境: <span id='step1-process'></span><span id='step1-result'></span></p>
	<p id='step2'>2、检查依赖包: <span id='step2-process'></span><span id='step2-result'></span></p>
	<p id='step3'>3、下载解压缩安装包: <span id='step3-process'></span><span id='step3-result'></span></p>
	<p id='step4'>4、备份系统: <span id='step4-process'></span><span id='step4-result'></span></p>
	<p id='step5'>5、更新系统文件和数据: <span id='step5-process'></span><span id='step5-result'></span></p>
	<h2 id='step6'></h2>

		

</div>

<script type="text/javascript"> app.load('upgrade/update-modal') </script>
{% endblock %}

{% block footer %}

  <button type="button" class="btn btn-primary dismiss" data-dismiss="modal">关闭</button>

{% endblock %}