<tr id="log-tr-{{ log.id }}" >

  <td>
    {{ log.cname }}
  </td>
  <td>
    {% if log.type == 1 %}
    升级包
    {% elseif log.type == 0 %}
    安装包
    {% endif %}
  </td>

  <td>
    {% if log.fromv is empty %}
      安装包
    {% else %}
      {{ log.fromv }}
    {% endif %}
  </td>

  <td> {{ log.tov }}</td>
  <td> {{ log.dbBackPath }}</td>
  <td> {{ log.srcBackPath }}</td>
  <td> {{ log.logtime | date('Y-n-d H:i:s')}}</td>
  <td> 
    {% if log.status == 'ROLLBACK' %}
    <strong class="text-danger">
      需要回滚
    </strong>
    {% elseif log.status == 'ERROR' %}
      <strong class="text-warning">
      更新失败
      </strong>
    {% elseif log.status == 'SUCCESS' %}
    <strong class="text-success">
      更新成功
    </strong>
    {% elseif log.status == 'RECOVERED' %}
    <strong class="text-info">
      已恢复
    </strong>
    {% endif %}
  </td>
  <td> 
    {{ log.reason | plain_text(10)}}
    <br>
     <div>
    <a href="#" class="btn btn-sm btn-info" rel="popover" data-content="{{log.reason}}">详情</a>
    </div>

  </td>

  <td>
  {% if log.status == 'ROLLBACK'%}
    <a href="#">回滚</a>  
  {% else %}
    无
  {% endif %}
  </td>
</tr>