<div class="row question-set-heading">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="question-set-type">作业</div>
                <div class="question-set-title">{{ lesson.title }}</div>
                <div class="homwork-status">
                    <div class="pull-right label label-success">批改中</div>
                </div>
                <div class="question-set-description">
                    {{ homework.description |raw }}
                    <p class="text-muted">所属课程 <a href="#">{{ course.title }}</a></p>
                </div>
                <hr>
                {% set tip=''%}
{#                     $tip = "1.每位同学必须评价" . $homework['minReviews'] . "人，互评成绩按如下规则换算：未评分的=自己所得分数*" . ($homework['zeroPercent'] * 100) . "%，
        评价不到" . $homework['minReviews'] . "人的=自己所得分数*" . ($homework['partPercent'] * 100) . "%，
        达到" . $homework['minReviews'] . "人=自己所得分数*" . ($homework['completePercent'] * 100) . "%；";
 #}
                {% if homework.pairReview and tip%}
                    <div class="alert alert-success" style="margin-bottom:0px">
                        <div><strong>互评评分标准：</strong></div>
                        <div class="mtm">{{ tip }}</div>
                        <div class="mtm">2.互评结束后，不能再评分</div>
                    </div>
                {% endif %}
                {% if teacherSay|default(null) %}
                    <div class="alert alert-success" style="margin-bottom:0px">
                        <div><strong>评语：</strong></div>
                        <div class="mtm">{{ teacherSay|default('') }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>