{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}
{% import 'TopxiaWebBundle::macro.html.twig' as macro %}

{% block title %}试卷题目管理 - {{ parent() }}{% endblock %}

{% set side_nav = 'testPaper' %}
{% set parentId = parentId | default(null)%}
{% set flag = flag | default(null)%}
{% set script_controller = 'test-paper/item' %}


{% block main %}

<div class="panel panel-default panel-col" id="test-item-container">
    <div class="panel-heading">
      {{testPaper.name}}
    </div>

    <div class="panel-body clearfix">

        <ol class="breadcrumb">
            <li><a href="{{ path('course_manage_testpaper',{courseId:course.id}) }}">试卷管理</a></li>
            <li class="active">{% if flag == 'update'%}修改{%else%}添加{%endif%}试卷题目</li>
        </ol>

        <div class="clearfix mbm">
            <button  data-url="{{ path('course_manage_test_item_list',{courseId:course.id,testPaperId:testPaper.id,1:1}) }}" data-role="item-modal-btn" data-target="#test-item-modal" class="btn btn-info btn-sm pull-right mls"><span class="glyphicon glyphicon-plus"></span>新增试题</button>
            <ul class="nav nav-pills nav-mini" id="myTab">
                {% for key,type in testPaper['metas']['question_type_seq'] %}
                    <li><a href="#questionType-{{type}}" data-toggle="tab">{{dict('questionType')[type]}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <form  method="post" id="test-create2-form" class="form-horizontal">
            <table class="table table-striped table-hover tab-content" id="test-item-table">
                <thead>
                    <tr>
                        <td colspan="20" class="score-text-alert"></td>
                    </tr>
                </thead>

              <thead>
                  <tr>
                      <th><input type="checkbox"  autocomplete="off"  data-role="batch-select"></th>
                      <th>顺序号</th>
                      <th width="40%">题干</th>
                      <th>类型</th>
                      <th>难度</th>
                      <th width="8%">分值</th>
                      <th>操作</th>
                  </tr>
              </thead>

              {% set seq = 1 %}

              <tbody class='hidden' data-role='item-body'>
                  {% include 'TopxiaWebBundle:QuizQuestionTest:create-2-tbody.html.twig'%}
              </tbody>

            </table>
            <div>
                <label class="checkbox-inline"><input type="checkbox"  autocomplete="off" data-role="batch-select"> 全选</label>
                <button type="button" class="btn btn-default btn-sm mlm" data-role="batch-delete"  data-name="题目">删除</button>
            </div>

            

            <button type="button" class="btn btn-primary pull-right mlm" data-toggle="modal" data-target="#confirm-modal" >保存</button>

            {#<button type="button" class="btn btn-primary pull-right mlm" >验证</button>#}
            {#% if parentTestPaper.itemCounts |default(null)%}
              <a href="{{ path('course_manage_test_paper_create',{testPaperId:testPaper.id,courseId:course.id, percentage:parentTestPaper.percentage, itemCounts:parentTestPaper.itemCounts, itemScores:parentTestPaper.itemScores, target:parentTestPaper.target,}) }}" class="btn btn-link  pull-right">上一步</a>
            {% endif %#}
            
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
        </form>
    </div>

    <div id="test-item-modal" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>

    <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">确认试卷信息</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>题目类型</th>
                                <th>题目数量</th>
                                <th>总分值</th>
                            </tr>
                        </thead>
                        <tbody class="confirm-tbody">
                            
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-link" data-dismiss="modal" type="button">关闭</button>
                    <button type="button" class="btn btn-primary confirm-submit">确定</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-handlebars-template" data-role="confirm-tr-template">
        {% verbatim %}
            <tr>
                <td>{{name}}</td>
                <td>{{count}}题</td>
                <td>{{score}}分</td>
            </tr>
        {% endverbatim %}
    </script>

    <script type="text/plain" data-role="questionType-data">{{ dict('questionType')| json_encode | raw}}</script>

    <script type="text/plain" data-role="item-scores">{{ parentTestPaper.itemScores | default(null) | json_encode | raw }}</script>


</div>



{% endblock %}



