<tr data-role='item' data-listType="{{item.questionType}}" id="{{item.id}}">

  <td>{{ item.stem|length > 40 ? item.stem|slice(0, 40) ~ '...' : item.stem }}</td>

  <td>{{ dict('questionType')[item.questionType] }}</td>

  {% if item.parentId == 0 %}
      <td>
          {% if item.targetType == 'lesson'%}
              课时{{lessons[item.targetId]['number']}}
          {% elseif item.targetType == 'course' %}
              课程
          {% endif %}
      </td>
  {% endif %}

  <td>{{ macro.user_link(users[item.userId]) }}</td>

  <td>{{item.score }}</td>
  
  <td>
      {% if replaceId %}
          <button type="button"  data-url="{{ path('course_manage_test_item_create', {courseId:course.id,testPaperId:testPaper.id,questionId:item.id,replaceId:replaceId}) }}" data-replaceId="{{replaceId}}" class="btn btn-default btn-sm item-replace-btn" data-loading-text="替换" >替换</button>
      {% else %}
          <button type="button" data-url="{{ path('course_manage_test_item_create', {courseId:course.id,testPaperId:testPaper.id,questionId:item.id}) }}" class="btn btn-default btn-sm item-add-btn" data-loading-text="添加" >添加</button>
      {% endif %}
  </td>
 
</tr>