 <tr {% if question.parentId == 0 %} class="questionType" {% endif %} id="{{question.id}}"  data-role='item' data-type='{% if question.parentId != 0 %}{{question.parentId}}{% else %}{{question.type}}{% endif %}' >
    <td >
        <input {% if question.parentId != 0 %} class="hidden" {% endif %} class="notMoveHandle" type="checkbox" value="{{question.id}}" autocomplete="off" data-role="batch-item" >
    </td>

    <td class="seq"> </td>

    <td>
        {{question['stem']|plain_text(40) }}
        <div class="text-muted text-sm">
            {% if question['parentId'] != '0'%}
            从属：材料题
            {% elseif question['targetType'] == 'lesson' %}
            从属：课时{{ lessons[question['targetId']]['number'] }}
            {% else %}
            从属：本课程
            {% endif %}
        </div>
    </td>

    <td>
        {{ dict('questionType')[question.type] }}
    </td>

    <td>
      {{ dict_text('difficulty', question.difficulty)}}

    </td>
    
    <td >
        <input name="ids[]" type="hidden" value="{{question.id}}" /></input>
        <input name="scores[]" class="notMoveHandle form-control input-sm" {% if question.typee != 'material' %} type="text" {% else %} type="hidden" 
            {% endif %} value="{% if flag | default(null) and items[question.id]['score'] | default(null) %}{{ items[question.id]['score']}}{% else %}{{question.score}}{% endif %}" /></input>
    </td>

    <td>
        <div class="btn-group">
            {% if question.parentId == 0 %}
                <a href="javascript:" class="notMoveHandle btn btn-default btn-sm">预览</a>
                <a href="javascript:" data-name='题目' data-role='item-delete' class="notMoveHandle btn btn-default btn-sm">删除</a>
                <a href="javascript:" data-role="item-modal-btn"  data-target="#test-item-modal" class="notMoveHandle btn btn-default btn-sm"  data-url="{{ path('course_manage_test_item_list',{courseId:course.id,testPaperId:testPaper.id,testItemId:question.id,replaceId:question.id}) }}" >替换</a>
            {% endif %}
            
        </div>
    </td>
</tr>

