<tr data-role='item' data-listType="{{item.type}}" id="{{item.id}}">

  <td>
    {{ item.stem|fill_question_stem_text|plain_text(40) }}
    {% if item.type == 'material' %}
      <small class="text-muted">({{ item.subCount}}子题)</small>
    {% endif %}
  </td>

  <td>{{ dict('questionType')[item.type] }}</td>

  {% if item.parentId == 0 %}
      <td>
          {% if item.targetType == 'lesson'%}
              课时{{lessons[item.targetId]['number']}}
          {% elseif item.targetType == 'course' %}
              课程
          {% endif %}
      </td>
  {% endif %}

  <td>{{ macro.user_link(users[item.userId]) }}</td>

  <td>{{item.score }}</td>
  
  <td>
      {% if replaceId %}
          <button type="button"  data-url="{{ path('course_manage_test_item_create', {courseId:course.id,testPaperId:testPaper.id,questionId:item.id,replaceId:replaceId}) }}" data-replaceId="{{replaceId}}" class="btn btn-default btn-sm item-replace-btn" data-loading-text="选择" >选择</button>
      {% else %}
          <button type="button" data-url="{{ path('course_manage_test_item_create', {courseId:course.id,testPaperId:testPaper.id,questionId:item.id}) }}" class="btn btn-default btn-sm item-add-btn" data-loading-text="选择" >选择</button>
      {% endif %}
  </td>
 
</tr>