{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}
{% import 'TopxiaWebBundle::macro.html.twig' as macro %}

{% block title %}添加题目 - {{ parent() }}{% endblock %}

{% set parentId = parentId |default(null)%}
{% set side_nav = 'testPaper' %}
{% set script_controller = 'test-paper/create' %}

{% set testPaperId = testPaper.id | default(null)%}

{% block main %}

<div class="panel panel-default panel-col test-creator">
  <div class="panel-heading clearfix">
    {% if testPaperId %}修改试卷{% else %}创建试卷{% endif %}
  </div>
  <div class="panel-body">

    <ol class="breadcrumb">
        <li><a href="{{ path('course_manage_test_paper',{courseId:course.id}) }}">试卷管理</a></li>
        <li class="active">创建试卷</li>
    </ol>

    <div id="test-creator-widget">
      <form id="test-create-form" class="form-horizontal quiz-test" method="post" action="">
        {{ web_macro.flash_messages() }}

        <div class="form-group">
          <div class="col-md-2 control-label"><label for="test-name-field">试卷名称</label></div>
          <div class="col-md-8 controls">
              <input class="form-control"  value="{% if testPaper.name | default(null)%}{{testPaper.name }}{% endif %}" name="name"   id="test-name-field"/>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label"><label for="test-description-field">试卷说明</label></div>
          <div class="col-md-8 controls">
            <textarea class="form-control" id="test-description-field" name="description">{% if testPaper.description | default(null)%}{{testPaper.description }}{% endif %}</textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label"><label for="test-limitedTime-field">时间限制</label></div>
          <div class="col-md-8 controls">
              <input class="form-control width-input width-input-large" name="limitedTime" id="test-limitedTime-field" value="{% if testPaper.limitedTime | default(null)%}{{testPaper.limitedTime }}{%else%}0{% endif %}" /> 分钟
              <div class="help-block">0分钟，表示无限制</div>
          </div>
        </div>

        {% include 'TopxiaWebBundle:QuizQuestionTest:test-paper-form.html.twig'%}

        <div class="form-group">
          <div class="col-md-2 control-label"><label for="missScore">漏选得分</label></div>
          <div class="col-md-8 controls">
            <input name="missScore" class="form-control width-input width-input-large" type="text" value="{{ missScore|default(0) }}" /></input>
            <div class="help-block">设置多选题漏选但没错选时的得分</div>
          </div>
        </div>



        <div class="form-group">
            <div class="col-md-2  controls"></div>
            <button type="submit" class="btn btn-primary" >保存，下一步</button>
            <a href="{{ path('course_manage_test_paper',{courseId:course.id}) }}" class="btn btn-link  ">返回</a>
        </div>


      </form>


    </div>
    
  </div>
</div>



{% endblock %}



 