<div class="panel panel-default" id="question{{ question.id }}">
	<div class="panel-heading">
		<h3 class="panel-title">{{ questionIndex }}. {{ question.stem }}</h3>
		<a class="btn btn-sm" style="float:right;"><span class="glyphicon glyphicon-bookmark">标记</span></a>
	</div>
	<div class="panel-body">
		<div class="radio">
  			<label>
    			<input type="radio" data-type="determine" name="{{ question.id }}" value="1">
    			正确
  			</label>
		</div>
		<div class="radio">
 			<label>
    			<input type="radio" data-type="determine" name="{{ question.id }}" value="0">
    			错误
  			</label>
		</div>
	</div>
</div>
