
{% if not role|default(null) == 'teacher' %}


<div class="panel panel-default choice" id="question{{ question.id }}">
	<div class="panel-heading">
		<h3 class="panel-title">{{ questionIndex }}. {{ question.stem }}</h3>
	</div>
	{% set keys = [] %}
	{% set keys_answer = [] %}
	<div class="panel-body">
		<ul class="list-unstyled">
			{% for key, choice in question.choices %}
				<li>{{ choice.choiceIndex }}. {{ choice.content }}</li>

				{% if key in question.answer %}
					{% set keys = keys|merge([choice.choiceIndex]) %}
				{% endif  %}
				{% if key in question.testResult.answer|default([]) %}
					{% set keys_answer = keys_answer|merge([choice.choiceIndex]) %}
				{% endif %}

			{% endfor %}
		</ul>
	</div>
	{% if question.testResult|default(null) %}
		<div class="panel-footer">
			{% if question.testResult.status == 'right' %}
				正确答案：{{ keys|join(',') }} . 您做对了！
			{% elseif question.testResult.status == 'wrong' %}
				正确答案：{{ keys|join(',') }} . 您选择了: {{ keys_answer|join(',') }}
			{% endif %}

			{% if not question.analysis == '' %}
				<a class="btn btn-sm pull-right"><span class="glyphicon glyphicon-bookmark">解析</span></a>
			{% endif %}

			<div class="well mtl" style="display:none;">{{ question.analysis }}</div>


		</div>
	{% else %}
		<div class="panel-footer">
			{% set label_index = 65 %}
			{% for choice in question.choices %}
				<label class="checkbox-inline">
					{{ label_index|chr }}<input type="checkbox" data-type="choice" name="{{ choice.questionId }}" value="{{ choice.id }}">
				</label> 
				{% set label_index = label_index + 1 %}
			{% endfor %}
			<a class="btn btn-sm pull-right marking"><span class="glyphicon glyphicon-bookmark">标记</span></a>


			<button data-url="{{ path('course_manage_favorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-info btn-sm pull-right favorite-btn"><span class="glyphicon glyphicon-bookmark">收藏</span></button>
			<button data-url="{{ path('course_manage_unfavorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-info btn-sm pull-right unfavorite-btn" style="display:none"><span class="glyphicon glyphicon-bookmark">取消收藏</span></button>
		</div>
	{% endif %}
</div>

{% endif %}