{% if not role|default(null) == 'teacher' %}


<div class="panel panel-default" id="question{{ question.id }}">
	<div class="panel-heading">
		<h3 class="panel-title">{{ questionIndex }}. {{ question.stem }}</h3>
	</div>
	<div class="panel-body">
		{% set input_index = 1 %}
		{% for answer in question.answer %}
			<input class="form-control input-sm mbs" type="text" data-type="fill" name="{{ question.id }}" placeholder="第{{ input_index }}个空请填在这里" />
			{% set input_index = input_index + 1 %}
		{% endfor %}
	</div>
	{% if question.testResult|default(null) %}
		<div class="panel-footer">
			{% if question.testResult.status == 'right' %}
				正确答案：{{ question.answer|join(', ') }}. 您做对了！
			{% elseif question.testResult.status == 'wrong' %}
				正确答案：{{ question.answer|join(', ') }}. 您填写了: {{ question.testResult.answer|join(', ') }}
			{% endif %}

			{% if not question.analysis == '' %}
				<a class="btn btn-sm pull-right"><span class="glyphicon glyphicon-bookmark">解析</span></a>
			{% endif %}

			<div class="well mtl" style="display:none;">{{ question.analysis }}</div>
		</div>
	{% else %}
		<div class="panel-footer">
			<a class="btn btn-sm pull-right"><span class="glyphicon glyphicon-bookmark">标记</span></a>
		</div>
	{% endif %}
</div>

{% endif %}