<div class="panel panel-default" id="question{{ question.id }}">
	<div class="panel-heading">
		<h3 class="panel-title">{% if questionIndex|default(null) %}{{ questionIndex }}{% endif %}. {{ question.stem }}</h3>
	</div>
	{% if question.testResult.status|default(null) in ['reviewing', 'finished'] %}

		{% if role|default(null) == 'teacher' %}

			<div class="panel-body">

				<ul class="nav nav-tabs">
					<li class="active"><a href="#studentAnswer{{ question.id }}" data-toggle="tab">学员回答</a></li>
					<li><a href="#teacherAnswer{{ question.id }}" data-toggle="tab">参考答案</a></li>
				</ul>
				<br>
				<div class="tab-content">
					<div class="tab-pane active" id="studentAnswer{{ question.id }}">{{ question.testResult.answer[0] }}</div>
					<div class="tab-pane" id="teacherAnswer{{ question.id }}">{{ question.answer[0] }}</div>
				</div>
				<br>
				<div class="form-group">
					<label class="col-sm-2 control-label">得分</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="得分" name="score_{{ question.id }}">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-sm-2 control-label">评语</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="3" name="teacherSay_{{ question.id }}"></textarea>
					</div>
				</div>

			</div>

		{% else %}
			<div class="panel-body">
				{{ question.testResult.answer[0]|default('') }}
			</div>
		{% endif %}


	{% else %}
		<div class="panel-body">

			<textarea class="form-control" data-type="essay" name="{{ question.id }}" rows="3">{% if question.testResult.answer[0]|default(null) %}{{ question.testResult.answer[0] }}{% endif %}</textarea>

		</div>
	{% endif %}
	<div class="panel-footer">
		{% if question.testResult.status|default(null) in ['reviewing', 'finished'] %}
			{% if not role|default(null) == 'teacher' %}
				<button data-url="{{ path('course_manage_favorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-info btn-sm pull-right favorite-btn"><span class="glyphicon glyphicon-bookmark">收藏</span></button>
				<button data-url="{{ path('course_manage_unfavorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-info btn-sm pull-right unfavorite-btn" style="display:none"><span class="glyphicon glyphicon-bookmark">取消收藏</span></button>
			{% endif %}

			{% if not question.analysis == '' %}
				<a class="btn btn-sm pull-right"><span class="glyphicon glyphicon-bookmark">解析</span></a>
			{% endif %}
			<div class="clearfix"></div>
			<div class="well mtl" style="display:none;">{{ question.analysis }}</div>
		{% else %}
			<a class="btn btn-sm pull-right marking"><span class="glyphicon glyphicon-bookmark">标记</span></a>
			<a class="btn btn-sm btn-link unMarking" style="display:none"><span class="glyphicon glyphicon-bookmark"> 取消标记</span></a>
			

			<button data-url="{{ path('course_manage_favorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-info btn-sm pull-right favorite-btn"><span class="glyphicon glyphicon-bookmark">收藏</span></button>
			<button data-url="{{ path('course_manage_unfavorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-info btn-sm pull-right unfavorite-btn" style="display:none"><span class="glyphicon glyphicon-bookmark">取消收藏</span></button>
		{% endif %}
	</div>
</div>