<div class="testpaper-question testpaper-question-fill" id="question{{ question.id }}">
	<div class="testpaper-question-body">
	  <div class="testpaper-question-stem-wrap clearfix">
		  <div class="testpaper-question-index">
		    {% if questionIndex|default(null) %}{{ questionIndex }}{% endif %}
		  </div>
		  <div class="testpaper-question-stem">{{ question.stem|raw }}</div>
	  </div>
  </div>

	<div class="testpaper-question-footer clearfix">
	  <div class="testpaper-question-essay-inputs">
			<textarea class="form-control" data-type="essay" name="{{ question.id }}" rows="3">{% if question.testResult.answer[0]|default(null) %}{{ question.testResult.answer[0] }}{% endif %}</textarea>
	  </div>
	  <div class="testpaper-question-actions pull-right">
	  	{% include 'TopxiaWebBundle:QuizQuestionTest:flag-marking.html.twig' %}
	  </div>
  </div>


	{% if paperResult.status|default(null) in ['reviewing', 'finished'] %}

		{% if role|default(null) == 'teacher' %}

			<div class="panel-body">

				<ul class="nav nav-tabs">
					<li class="active"><a href="#studentAnswer{{ question.id }}" data-toggle="tab">学员回答</a></li>
					<li><a href="#teacherAnswer{{ question.id }}" data-toggle="tab">参考答案</a></li>
				</ul>
				<br>
				<div class="tab-content">
					<div class="tab-pane active" id="studentAnswer{{ question.id }}">{{ question.testResult.answer[0] }}</div>
					<div class="tab-pane" id="teacherAnswer{{ question.id }}">{{ question.answer[0] }}</div>
				</div>
				<br>
				<div class="form-group">
					<label class="col-sm-2 control-label">得分</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="得分" name="score_{{ question.id }}">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-sm-2 control-label">评语</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="3" name="teacherSay_{{ question.id }}"></textarea>
					</div>
				</div>

			</div>

		{% else %}
			<div class="panel-body">
				{{ question.testResult.answer[0]|default('') }}
			</div>
		{% endif %}


	{% endif %}
		{% if paperResult.status|default(null) in ['reviewing', 'finished'] %}
	<div class="panel-footer">
			<div class="pull-right">
			{% if not role|default(null) == 'teacher' %}
				{# <button data-url="{{ path('course_manage_favorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-info btn-sm pull-right favorite-btn"><span class="glyphicon glyphicon-bookmark">收藏</span></button>
				<button data-url="{{ path('course_manage_unfavorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-info btn-sm pull-right unfavorite-btn" style="display:none"><span class="glyphicon glyphicon-bookmark">取消收藏</span></button> #}

				{% include 'TopxiaWebBundle:QuizQuestionTest:flag-marking.html.twig' with { noMarking:true } %}

			{% endif %}

			{% if not question.analysis == '' %}
				<a class="btn btn-sm pull-right"><span class="glyphicon glyphicon-bookmark">解析</span></a>
			{% endif %}
			</div>

			<div class="clearfix"></div>
			<div class="well mtl" style="display:none;">{{ question.analysis }}</div>
	</div>
		{% endif %}
</div>