{% if not role|default(null) == 'teacher' %}

<div class="testpaper-question testpaper-question-fill" id="question{{ question.id }}">
	<div class="testpaper-question-body">
	  <div class="testpaper-question-stem-wrap clearfix">
		  <div class="testpaper-question-index">
		    {% if questionIndex|default(null) %}{{ questionIndex }}{% endif %}
		  </div>
		  <div class="testpaper-question-stem">{{ question.stem|raw }}</div>
	  </div>
  </div>

	<div class="testpaper-question-footer clearfix">
	  <div class="testpaper-question-determine-inputs">
			<label class="radio-inline"><input type="radio" data-type="determine" name="{{ question.id }}" value="1" {% if question.testResult.answer[0]|default(0) == 1 %}checked{% endif %}> 正确</label>
	 		<label class="radio-inline"><input type="radio" data-type="determine" name="{{ question.id }}" value="0" {% if question.testResult.answer[0]|default(1) == 0 %}checked{% endif %}>错误</label>
 		</div>

 		<div class="testpaper-question-actions pull-right">
 		  {% include 'TopxiaWebBundle:QuizQuestionTest:flag-marking.html.twig' %}
 		</div>


	</div>
	{% if paperResult.status|default(null) in ['reviewing', 'finished'] %}
		<div class="panel-footer">
			{% if question.testResult.status == 'right' %}
				正确答案：{% if question.answer[0] == 1 %} 正确 {% else %} 错误 {% endif %}. 您做对了！
			{% elseif question.testResult.status == 'wrong' %}
				正确答案：{% if question.answer[0] == 1 %} 正确 {% else %} 错误 {% endif %}. 您选择了: {% if question.testResult.answer[0] == 1 %} 正确 {% else %} 错误 {% endif %}
			{% endif %}

			{# <button data-url="{{ path('course_manage_favorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-info btn-sm pull-right favorite-btn"><span class="glyphicon glyphicon-bookmark">收藏</span></button>
			<button data-url="{{ path('course_manage_unfavorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-info btn-sm pull-right unfavorite-btn" style="display:none"><span class="glyphicon glyphicon-bookmark">取消收藏</span></button> #}

			<div class="pull-right">
			{% include 'TopxiaWebBundle:QuizQuestionTest:flag-marking.html.twig' with { noMarking:true } %}

			{% if not question.analysis == '' %}
				<a class="btn btn-sm pull-right"><span class="glyphicon glyphicon-bookmark">解析</span></a>
			{% endif %}
			</div>

			<div class="well mtl" style="display:none;">{{ question.analysis }}</div>
		</div>
	{% endif %}
</div>

{% endif %}