
{% if not role|default(null) == 'teacher' %}


<div class="testpaper-question testpaper-question-choice" id="question{{ question.id }}">

	{% set keys = [] %}
	{% set keys_answer = [] %}
	<div class="testpaper-question-body">
	  <div class="testpaper-question-stem-wrap clearfix">
		  <div class="testpaper-question-index">
		    {% if questionIndex|default(null) %}{{ questionIndex }}{% endif %}
		  </div>
		  <div class="testpaper-question-stem">{{ question.stem|raw }}</div>
	  </div>

		<ul class="testpaper-question-choices">
			{% for key, choice in question.choices %}
				<li><span class="testpaper-question-choice-index">{{ choice.choiceIndex }}.</span> {{ choice.content }}</li>
				{% if key in question.answer %}
					{% set keys = keys|merge([choice.choiceIndex]) %}
				{% endif  %}
				{% if key in question.testResult.answer|default([]) %}
					{% set keys_answer = keys_answer|merge([choice.choiceIndex]) %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	{% if question.testResult.status|default(null) in ['reviewing', 'finished'] %}
		<div class="panel-footer">
			{% if question.testResult.status == 'right' %}
				正确答案：{{ keys|join(',') }} . 您做对了！
			{% elseif question.testResult.status == 'wrong' %}
				正确答案：{{ keys|join(',') }} . 您选择了: {{ keys_answer|join(',') }}
			{% endif %}

			<button data-url="{{ path('course_manage_favorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-info btn-sm pull-right favorite-btn"><span class="glyphicon glyphicon-bookmark">收藏</span></button>
			<button data-url="{{ path('course_manage_unfavorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-info btn-sm pull-right unfavorite-btn" style="display:none"><span class="glyphicon glyphicon-bookmark">取消收藏</span></button>

			{% if not question.analysis == '' %}
				<a class="btn btn-sm pull-right"><span class="glyphicon glyphicon-bookmark">解析</span></a>
			{% endif %}


			<div class="well mtl" style="display:none;">{{ question.analysis }}</div>


		</div>
	{% else %}
		<div class="testpaper-question-footer clearfix">

		  <div class="testpaper-question-choice-inputs">
				{% for choice in question.choices %}
					<label class="{% if question.questionType == 'single_choice' %}radio{% else %}checkbox{% endif %}-inline {% if choice.choiceIndex in keys_answer %}active{% endif %}">
						<input type="{% if question.questionType == 'single_choice' %}radio{% else %}checkbox{% endif %}" data-type="choice" name="{{ choice.questionId }}" value="{{ choice.id }}" {% if choice.choiceIndex in keys_answer %}checked{% endif %} >
						{{ choice.choiceIndex }}
					</label> 
				{% endfor %}
		  </div>

			<div class="testpaper-question-actions pull-right">
				<a class="btn btn-sm btn-link marking"><span class="glyphicon glyphicon-bookmark"> 标记</span></a>
				<a class="btn btn-sm btn-link unMarking" style="display:none"><span class="glyphicon glyphicon-bookmark"> 取消标记</span></a>




				<button data-url="{{ path('course_manage_favorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-link btn-sm favorite-btn"><span class="glyphicon glyphicon-bookmark"> 收藏</span></button>
				<button data-url="{{ path('course_manage_unfavorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-link btn-sm unfavorite-btn" style="display:none"><span class="glyphicon glyphicon-bookmark"> 取消收藏</span></button>
			</div>

		</div>
	{% endif %}
</div>

{% endif %}