{% if not role|default(null) == 'teacher' %}

<div class="testpaper-question testpaper-question-fill" id="question{{ item.question.id }}">
	<div class="testpaper-question-body">
	  {% include 'TopxiaWebBundle:QuizQuestionTest:testpaper-question-stem.html.twig' %}
  </div>

	{% if paperResult.status|default(null) in ['reviewing', 'finished'] %}
		<div class="testpaper-question-footer clearfix">
		  <div class="testpaper-question-result">
				{% if item.question.testResult.status == 'right' %}
					正确答案是 <strong class="text-success">{% if item.question.answer[0] == 1 %} 正确 {% else %} 错误 {% endif %}</strong class="text-success">，你答对了
				{% elseif item.question.testResult.status == 'wrong' %}
					正确答案是 <strong class="text-success">{% if item.question.answer[0] == 1 %} 正确 {% else %} 错误 {% endif %}</strong>， 你<strong class="text-danger">答错</strong>了
				{% elseif item.question.testResult.status == 'noAnswer' %}
					正确答案： <strong class="text-success">{% if item.question.answer[0] == 1 %} 正确 {% else %} 错误 {% endif %}</strong>，你未答题
				{% endif %}
		  </div>

		  <div class="testpaper-question-actions pull-right">
				{% include 'TopxiaWebBundle:QuizQuestionTest:flag.html.twig' with { flags:['favorite', 'analysis'] } %}
		  </div>

		</div>
		<div class="testpaper-question-analysis well" style="display:none;">{{ item.question.analysis|bbCode2Html|raw }}</div>
	{% else %}
		<div class="testpaper-question-footer clearfix">
		  <div class="testpaper-question-determine-inputs">
				<label class="radio-inline {% if item.question.testResult.answer[0]|default(0) == 1 %} active{% endif %}"><input type="radio" data-type="determine" name="{{ item.question.id }}" value="1" {% if item.question.testResult.answer[0]|default(0) == 1 %}checked{% endif %}> 正确</label>
		 		<label class="radio-inline {% if item.question.testResult.answer[0]|default(1) == 0 %} active{% endif %}"><input type="radio" data-type="determine" name="{{ item.question.id }}" value="0" {% if item.question.testResult.answer[0]|default(1) == 0 %}checked{% endif %}>错误</label>
	 		</div>

	 		<div class="testpaper-question-actions pull-right">
	 		  {% include 'TopxiaWebBundle:QuizQuestionTest:flag.html.twig' with { flags:['mark', 'favorite'] } %}
	 		</div>
		</div>

		{% if questionPreview|default(false) %}
		  <div class="testpaper-preview-answer clearfix mtl mbl">
		  	<div class="testpaper-question-result">
			    正确答案是 <strong class="text-success">{% if item.question.answer[0] == 1 %} 正确 {% else %} 错误 {% endif %}</strong class="text-success">
			</div>
		  </div>
		  <div class="testpaper-question-analysis well">{{ item.question.analysis|default('无解析')|bbCode2Html|raw }}</div>
	  	{% endif %}

	{% endif %}
</div>

{% endif %}