{% if not role|default(null) == 'teacher' %}

<div class="testpaper-question testpaper-question-fill" id="question{{ question.id }}">
	<div class="testpaper-question-body">
	  <div class="testpaper-question-stem-wrap clearfix">
		  <div class="testpaper-question-index">
		    {% if questionIndex|default(null) %}{{ questionIndex }}{% endif %}
		  </div>
		  <div class="testpaper-question-stem">{{ question.stem|raw }}</div>
	  </div>
  </div>

  <div class="testpaper-question-footer clearfix">

	  <div class="testpaper-question-fill-inputs">
			{% set input_index = 1 %}
			{% for answer in question.answer %}
				<input class="form-control " type="text" data-type="fill" name="{{ question.id }}" placeholder="第{{ input_index }}个填空答案请填在这里" {% if question.testResult.answer[input_index - 1]|default(null) %}value="{{ question.testResult.answer[input_index - 1] }}"{% endif %} />
				{% set input_index = input_index + 1 %}
			{% endfor %}
		</div>

		<div class="testpaper-question-actions pull-right">
			{# <a class="btn btn-sm marking"><span class="glyphicon glyphicon-bookmark">标记</span></a>

			<button data-url="{{ path('course_manage_favorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-link btn-sm favorite-btn"><span class="glyphicon glyphicon-bookmark">收藏</span></button>
			<button data-url="{{ path('course_manage_unfavorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-link btn-sm unfavorite-btn" style="display:none"><span class="glyphicon glyphicon-bookmark">取消收藏</span></button> #}

			{% include 'TopxiaWebBundle:QuizQuestionTest:flag-marking.html.twig' %}

		</div>
  </div>



	{% if paperResult.status|default(null) in ['reviewing', 'finished'] %}
		<div class="panel-footer">
			{% if question.testResult.status == 'right' %}
				正确答案：{{ question.answer|join(', ') }}. 您做对了！
			{% elseif question.testResult.status == 'wrong' %}
				正确答案：{{ question.answer|join(', ') }}. 您填写了: {{ question.testResult.answer|join(', ') }}
			{% endif %}

			{# <button data-url="{{ path('course_manage_favorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-info btn-sm pull-right favorite-btn"><span class="glyphicon glyphicon-bookmark">收藏</span></button>
			<button data-url="{{ path('course_manage_unfavorite_question', {questionId:question.id, testPaperResultId:id}) }}" class="btn btn-info btn-sm pull-right unfavorite-btn" style="display:none"><span class="glyphicon glyphicon-bookmark">取消收藏</span></button> #}
			<div class="pull-right">
			{% include 'TopxiaWebBundle:QuizQuestionTest:flag-marking.html.twig' with { noMarking:true } %}

			{% if not question.analysis == '' %}
				<a class="btn btn-sm pull-right"><span class="glyphicon glyphicon-bookmark">解析</span></a>
			{% endif %}
			</div>

			<div class="well mtl" style="display:none;">{{ question.analysis }}</div>
		</div>
	{% else %}
		<div class="panel-footer">
			{# <a class="btn btn-sm pull-right marking"><span class="glyphicon glyphicon-bookmark">标记</span></a>
			<a class="btn btn-sm btn-link unMarking" style="display:none"><span class="glyphicon glyphicon-bookmark"> 取消标记</span></a> #}
			
			{% include 'TopxiaWebBundle:QuizQuestionTest:flag-marking.html.twig' with { noFlag:true } %}

		</div>
	{% endif %}
</div>

{% endif %}