{% if not role|default(null) == 'teacher' %}

<div class="testpaper-question testpaper-question-fill" id="question{{ question.id }}">
	<div class="testpaper-question-body">
	  <div class="testpaper-question-stem-wrap clearfix">
		  <div class="testpaper-question-index">
		    {% if questionIndex|default(null) %}{{ questionIndex }}{% endif %}
		  </div>
		  <div class="testpaper-question-stem">{{ question.stem|bbCode2Html|raw }}</div>
	  </div>
  </div>

	{% if paperResult.status|default(null) in ['reviewing', 'finished'] %}
		<div class="testpaper-question-footer clearfix">
		  <div class="testpaper-question-result">
		    <ul>
		      {% for index, answer in question.answer %}
			    	<li>({{index+1}})： 正确答案 <strong class="text-success">{{ answer }}</strong>，你的答案 {{ question.testResult.answer[index] }}。回答错误</li>
		    	{% endfor %}
		    </ul>
			</div>

			<div class="testpaper-question-actions pull-right">
				{% include 'TopxiaWebBundle:QuizQuestionTest:flag.html.twig' with { flags:['favorite', 'analysis'] } %}
			</div>

		</div>
		<div class="testpaper-question-analysis well" style="display:none;">{{ question.analysis|raw }}</div>
	{% else %}
	  <div class="testpaper-question-footer clearfix">
		  <div class="testpaper-question-fill-inputs">
				{% set input_index = 1 %}
				{% for answer in question.answer %}
					<input class="form-control " type="text" data-type="fill" name="{{ question.id }}" placeholder="第{{ input_index }}个填空答案请填在这里" {% if question.testResult.answer[input_index - 1]|default(null) %}value="{{ question.testResult.answer[input_index - 1] }}"{% endif %} />
					{% set input_index = input_index + 1 %}
				{% endfor %}
			</div>

			<div class="testpaper-question-actions pull-right">
				{% include 'TopxiaWebBundle:QuizQuestionTest:flag.html.twig' with { flags:['mark', 'favorite'] } %}
			</div>
	  </div>
	{% endif %}
</div>

{% endif %}