<div class="testpaper-question testpaper-question-essay" id="question{{ question.id }}">
	<div class="testpaper-question-body">
	  <div class="testpaper-question-stem-wrap clearfix">
		  <div class="testpaper-question-index">
		    {% if questionIndex|default(null) %}{{ questionIndex }}{% endif %}
		  </div>
		  <div class="testpaper-question-stem">{{ question.stem|bbCode2Html|raw }}</div>
	  </div>
  </div>

	{% if paperResult.status|default(null) in ['reviewing', 'finished'] %}

		{% if role|default(null) == 'teacher' %}

			<div class="panel-body">

				<ul class="nav nav-tabs">
					<li class="active"><a href="#studentAnswer{{ question.id }}" data-toggle="tab">学员回答</a></li>
					<li><a href="#teacherAnswer{{ question.id }}" data-toggle="tab">参考答案</a></li>
				</ul>
				<br>
				<div class="tab-content">
					<div class="tab-pane active" id="studentAnswer{{ question.id }}">{{ question.testResult.answer[0] }}</div>
					<div class="tab-pane" id="teacherAnswer{{ question.id }}">{{ question.answer[0] }}</div>
				</div>
				<br>
				<div class="form-group">
					<label class="col-sm-2 control-label">得分</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="得分" name="score_{{ question.id }}">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-sm-2 control-label">评语</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="3" name="teacherSay_{{ question.id }}"></textarea>
					</div>
				</div>

			</div>

		{% else %}
			<div class="testpaper-question-footer clearfix">
			  <div class="testpaper-question-result">
			    <div class="testpaper-question-result-suggested">
				    <div class="testpaper-question-result-title">参考答案：</div>
				    <div>{{ question.answer[0]|raw }}</div>
			    </div>
			    <div class="testpaper-question-result-your">
				    <div class="testpaper-question-result-title">你的回答：</div>
						<div>{{ question.testResult.answer[0]|default('未回答')|raw }}</div>
			    </div>
			  </div>

				<div class="testpaper-question-actions pull-right">
					{% include 'TopxiaWebBundle:QuizQuestionTest:flag.html.twig' with { flags:['favorite', 'analysis'] } %}
				</div>
			</div>
			<div class="testpaper-question-analysis well" style="display:none;">{{ question.analysis|raw }}</div>
		{% endif %}

	{% else %}

		<div class="testpaper-question-footer clearfix">
		  <div class="testpaper-question-essay-inputs">
				<textarea class="form-control" data-type="essay" name="{{ question.id }}" rows="3">{% if question.testResult.answer[0]|default(null) %}{{ question.testResult.answer[0] }}{% endif %}</textarea>
		  </div>
		  <div class="testpaper-question-actions pull-right">
		  	{% include 'TopxiaWebBundle:QuizQuestionTest:flag.html.twig' with { flags:['mark', 'favorite'] } %}
		  </div>
	  </div>

	{% endif %}
</div>