 <tr data-role='test-item' data-type='{% if item.parentId != 0 %}{{item.parentId}}{% else %}{{item.questionType}}{% endif %}' >
    <td><input value="" type="checkbox"  autocomplete="off" data-role="batch-item" ></td>
    <td>{{item.seq}}</td>
    <td>{{questions[item.questionId]['stem']}}</td>
    <td>
      {% if questions[item.questionId].parentId != '0'%}
          材料题
      {% elseif questions[item.questionId].targetType == 'course' %}
          课时{{lessons[questions[item.questionId]['targetId']]['number']}}
      {% else %}
          课程
      {% endif %}
    </td>
    <td>{{item.score}}
    </td>
    <td>
      <div class="btn-group">
        <a href="" class="btn btn-default btn-sm">替换</a>
        <a href="" class="btn btn-default btn-sm">预览</a>
        <a href="javascript:" data-name='题目(子题目也会删除)' data-role='item-delete' data-url="{{ path('course_manage_quiz_question_delete', {courseId:course.id, id:1}) }}" class="btn btn-default btn-sm">删除</a>
      </div>
    </td>
</tr>