{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{ paper.name }} - {{ parent() }}{% endblock %}


{% set script_controller = 'quiz-question/do-test' %}

{% block content %}


<div class="es-row-wrap testpaper-heading">
  <div class="row">
    <div class="col-sm-12">
      <div class="testpaper-titlebar clearfix">
        <h1 class="testpaper-title">{{ paper.name }}</h1>
        <div class="testpaper-status">{% block testpaper_heading_status %}{% endblock %}</div>
      </div>
      {% block testpaper_heading_content %}{% endblock %}
    </div>

    {% if showTestpaperNavbar|default('on') == 'on' %}
      <div id="testpaper-navbar" class="testpaper-navbar" data-spy="affix" data-offset-top="200">
        <ul class="nav nav navbar-nav nav-pills">
          {% for type in paper.metas.question_type_seq %}
            <li><a href="#testpaper-questions-{{ type }}">{{dict('questionBlockType')[type]}}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-sm-9">
    <div class="testpaper-body">
      {% include 'TopxiaWebBundle:QuizQuestionTest:do-test.html.twig' %}
    </div>
  </div>
  <div class="col-sm-3">
    {% block testpaper_body_sidebar %}{% endblock %}
  </div>
</div>

{% block timeoutDialog %}

  <div class="timeout-dialog-layout">
    <div id="timeout-dialog" class="modal in" aria-hidden="false" style="display: none;"><div class="modal-dialog modal-dialog-small">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">考试结束</h4>
        </div>
        <div class="modal-body">
    <div class="well well-lg">
      <div class="empty">考试已结束，请点击下面的按钮查看结果~
      </div>
    </div>


    </div>
              <div class="modal-footer">  <a href="{{ path('course_manage_test_results', {id:id} ) }}" class="btn btn-info">查看结果</a>

    </div>
          </div>
    </div></div>
  </div>

{% endblock %}

{% endblock %}