{% extends 'TopxiaWebBundle:QuizQuestionTest:testpaper-layout.html.twig' %}

{% block testpaper_heading_content %}

  <div class="media">
    <div class="pull-left well" style="width:20%">
      <h2>{{ paperResult.score - accuracy.essay.score }} 分</h2>
      <small>客观题总分：{{ paper.score - accuracy.essay.totalScore }}</small>
    </div>
    <div class="media-body">
      <table class="table table-hover table-condensed">
        <thead>
          <th></th>
          <th>选择题 ({{ accuracy.single_choice.all + accuracy.choice.all }})</th>
          <th>判断题 ({{ accuracy.determine.all }})</th>
          <th>填空题 ({{ accuracy.fill.all }})</th>
        </thead>
        <tbody>
          <tr>
            <td>答对</td>
            <td>{{ accuracy.single_choice.right + accuracy.choice.right }}</td>
            <td>{{ accuracy.determine.right }}</td>
            <td>{{ accuracy.fill.right }}</td>
          </tr>
          <tr>
            <td>答错</td>
            <td>{{ accuracy.single_choice.wrong + accuracy.choice.wrong }}</td>
            <td>{{ accuracy.determine.wrong }}</td>
            <td>{{ accuracy.fill.all - accuracy.fill.right }}</td>
          </tr>
          <tr>
            <td>未答</td>
            <td>{{ accuracy.single_choice.noAnswer + accuracy.choice.noAnswer }}</td>
            <td>{{ accuracy.determine.noAnswer }}</td>
            <td>{{ accuracy.fill.noAnswer }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="media">
    <div class="pull-left well" style="width:20%">
      <h2>?</h2>
      <small>主观题总分：{{ accuracy.essay.totalScore }}</small>
    </div>
    <div class="media-body">
      <div class="empty">老师正在批阅试卷</div>
    </div>
  </div>

{% endblock %}

{% block testpaper_body_sidebar %}

  <div class="testpaper-card" data-spy="affix" data-offset-top="200">
    <div class="panel panel-default">
        <div class="panel-body">
          
          {% set index = 1 %}

          {% for type in paper.metas.question_type_seq|split(',') %}

            {% for question in questions[type] %}
              {% if question.questionType != 'material' %}
                <a href="#question{{ question.id }}" class="btn btn-default btn-index pull-left {{ question.testResult.status|default(null) }}">{{ index }}</a>
                {% set index = index + 1 %}
              {% else %}
                {% for question in question.questions %}
                  <a href="#question{{ question.id }}" class="btn btn-default btn-index pull-left {{ question.testResult.status|default(null) }}">{{ index }}</a>
                  {% set index = index + 1 %}
                {% endfor %}
              {% endif %}
              
            {% endfor %}

            <div class="clearfix mtm mbm"></div>

          {% endfor %}

        </div>
        <div class="panel-footer">
          <div class="btn-group btn-group-justified btn-group-sm">
            <input type="checkbox" id="showWrong" />只看错题
          </div>
        </div>
    </div>
  </div>



{% endblock %}