{% extends 'TopxiaWebBundle:QuizQuestionTest:testpaper-layout.html.twig' %}

{% block testpaper_heading_content %}

  <div class="media testpaper-result">
    <div class="testpaper-result-total">
      <div class="well">
        <div class="testpaper-result-total-score">{{ paperResult.score - accuracy.essay.score }} <small>分</small></div>
        <small class="text-muted">客观题总分 {{ paper.score - accuracy.essay.totalScore }} 分</small>
      </div>
    </div>
    <div class="media-body">
      <table class="table table-bordered table-condensed testpaper-result-table">
        <thead>
          <th></th>
          <th>选择题 <small class="text-muted">({{ accuracy.single_choice.all + accuracy.choice.all }}道)</small></th>
          <th>判断题 <small class="text-muted">({{ accuracy.determine.all }}道)</small></th>
          <th>填空题 <small class="text-muted">({{ accuracy.fill.all }}道)</small></th>
          <th>材料题 <small class="text-muted">({{ accuracy.material.all }}道子题)</small></th>
        </thead>
        <tbody>
          <tr>
            <th>答对</th>
            <td><span class="text-success">{{ accuracy.single_choice.right + accuracy.choice.right }} <small>道</small></span></td>
            <td><span class="text-success">{{ accuracy.determine.right }} <small>道</small></span></td>
            <td><span class="text-success">{{ accuracy.fill.right }} <small>道</small></span></td>
            <td><span class="text-success">{{ accuracy.material.right }} <small>道</small></span></td>
          </tr>
          <tr>
            <th>答错</th>
            <td><span class="text-danger">{{ accuracy.single_choice.wrong + accuracy.choice.wrong }} <small>道</small></span></td>
            <td><span class="text-danger">{{ accuracy.determine.wrong }} <small>道</small></span></td>
            <td><span class="text-danger">{{ accuracy.fill.all - accuracy.fill.right }} <small>道</small></span></td>
            <td><span class="text-danger">{{ accuracy.material.all - accuracy.material.right }} <small>道</small></span></td>
          </tr>
          <tr>
            <th>未答</th>
            <td><span class="text-muted">{{ accuracy.single_choice.noAnswer + accuracy.choice.noAnswer }} <small>道</small></span></td>
            <td><span class="text-muted">{{ accuracy.determine.noAnswer }} <small>道</small></span></td>
            <td><span class="text-muted">{{ accuracy.fill.noAnswer }} <small>道</small></span></td>
            <td><span class="text-muted">{{ accuracy.material.noAnswer }} <small>道</small></span></td>
          </tr>
          <tr>
            <th>得分</th>
            <td><span class="text-score">{{ accuracy.single_choice.score + accuracy.choice.score }} <small>分</small></span></td>
            <td><span class="text-score">{{ accuracy.determine.score }} <small>分</small></span></td>
            <td><span class="text-score">{{ accuracy.fill.score }} <small>分</small></span></td>
            <td><span class="text-score">{{ accuracy.material.score }} <small>分</small></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="alert alert-info">主观题总分 <strong>{{ accuracy.essay.totalScore }} 分</strong>，老师正在批阅试卷。</div>

{% endblock %}

{% block testpaper_body_sidebar %}

  <div class="testpaper-card" data-spy="affix" data-offset-top="200">
    <div class="panel panel-default">
        <div class="panel-body">
          
          {% set index = 1 %}

          {% for type in paper.metas.question_type_seq|split(',') %}

            {% for question in questions[type] %}
              {% if question.questionType != 'material' %}
                <a href="#question{{ question.id }}" class="btn btn-default btn-index pull-left {{ question.testResult.status|default(null) }}">{{ index }}</a>
                {% set index = index + 1 %}
              {% else %}
                {% for question in question.questions %}
                  <a href="#question{{ question.id }}" class="btn btn-default btn-index pull-left {{ question.testResult.status|default(null) }}">{{ index }}</a>
                  {% set index = index + 1 %}
                {% endfor %}
              {% endif %}
              
            {% endfor %}

            <div class="clearfix mtm mbm"></div>

          {% endfor %}

        </div>
        <div class="panel-footer">
          <div class="btn-group btn-group-justified btn-group-sm">
            <label class="checkbox">
              <span class="text-info">只看错题</span>
              <input type="checkbox" id="showWrong" />
            </label>
          </div>
        </div>
    </div>
  </div>



{% endblock %}