{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{ paper.name }} - {{ parent() }}{% endblock %}


{% set script_controller = 'quiz-question/do-test' %}

{% block content %}


<div class="es-row-wrap testpaper-heading">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="testpaper-name">{{ paper.name }}</h1>
      {% block testpaper_heading_content %}{% endblock %}
    </div>

    {% if showTestpaperNavbar|default('on') == 'on' %}
      <div id="testpaper-navbar" class="testpaper-navbar" data-spy="affix" data-offset-top="200">
        <ul class="nav nav navbar-nav nav-pills">
          {% for type in paper.metas.question_type_seq|split(',') %}
            <li><a href="#testpaper-questions-{{ type }}">{{dict('questionBlockType')[type]}}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-sm-9">
    <div class="testpaper-body" data-spy="scroll" data-target="#testpaper-navbar" data-offset="0">
      {% include 'TopxiaWebBundle:QuizQuestionTest:do-test.html.twig' %}
    </div>
  </div>
  <div class="col-sm-3">
    {% block testpaper_body_sidebar %}{% endblock %}
  </div>
</div>

{% endblock %}