{% import 'TopxiaWebBundle::macro.html.twig' as macro %}
<tr data-role='item'>
    <td><input value="{{item.id}}" type="checkbox"  autocomplete="off" data-role="batch-item" ></td>
    <td>
        <a href="{{ path('course_manage_preview_test', {testId:item.id}) }}" target="_blank">{{ item.name|plain_text(40) }}</a>
    </td>
    <td>
        {% if item.status == 'draft' %}草稿{% endif %}
        {% if item.status == 'open' %}已发布{% endif %}
        {% if item.status == 'closed' %}已关闭{% endif %}
    </td>
    <td>{{ item.itemCount}}题 <span class="text-muted">/</span> {{item.score}}分</td>
    <td>
      {% if item.limitedTime > 0 %}{{ item.limitedTime}}分钟{% else %}无限制{% endif %}
    </td>
    <td>
        {{ macro.user_link(user) }}
        <br />
        <span class="text-muted text-sm">{{item.updatedTime | date('Y-n-d H:i:s')}}</span>
    </td>
    <td>
        <div class="btn-group">
          <a href="{{ path('course_manage_preview_test', {testId:item.id}) }}" class="btn btn-default btn-sm" target="_blank">预览</a>

          <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
          </a>

          <ul class="dropdown-menu pull-right">
            {% if item.status in ['draft', 'closed'] %}
              <li><a class="open-testpaper" href="javascript:" title="发布试卷{{ item.name }}" data-url="{{ path('course_manage_open_test', {id:item.id}) }}"><span class="glyphicon glyphicon-list"></span> 发布试卷</a></li>
            {% endif %}
            {% if item.status == 'open' %}
              <li><a class="close-testpaper" href="javascript:" title="关闭试卷{{ item.name }}" data-url="{{ path('course_manage_close_test', {id:item.id}) }}"><span class="glyphicon glyphicon-list"></span> 关闭试卷</a></li>
            {% endif %}

            {% if item.status == 'draft' %}
              <li><a href="{{ path('course_manage_testpaper_items', {courseId:course.id,testpaperId:item.id,flag:'update'}) }}"><span class="glyphicon glyphicon-list"></span> 管理题目</a></li>
              <li><a href="javascript:;" class="test-paper-reset" data-url="{{ path('course_manage_testpaper_update_reset', {courseId:course.id,testpaperId:item.id}) }}"><span class="glyphicon glyphicon-repeat"></span> 重新生成题目</a></li>
              <li><a href="{{ path('course_manage_testpaper_update', {courseId:course.id,testpaperId:item.id}) }}"><span class="glyphicon glyphicon-edit"></span> 编辑试卷信息</a></li>
              <li><a href="javascript:" data-name='试卷' data-role='item-delete' data-url="{{ path('course_manage_testpaper_delete', {courseId:course.id, testpaperId:item.id}) }}"><span class="glyphicon glyphicon-remove-circle"></span> 删除试卷</a></li>
            {% endif %}
          </ul>
        </div>
    </td>
</tr>