<tr data-role='item'>
    <td><input value="{{item.id}}" type="checkbox"  autocomplete="off" data-role="batch-item" ></td>
    <td>
        {{ item.name|length > 40 ? item.name|slice(0, 40) ~ '...' : item.name }}
    </td>
    <td>{{ item.limitedTime}}</td>
    <td>
        {{ macro.user_link(users[item.updatedUserId]) }}
        <br />
        <span class="text-muted text-sm">{{item.updatedTime | date('Y-n-d H:i:s')}}</span>
    </td>
    <td>
        <div class="btn-group">

          <a href="{{ path('course_manage_test_paper_update', {courseId:course.id,testPaperId:item.id}) }}" class="btn btn-default btn-sm">编辑</a>

          <a href="#" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
          </a>

          <ul class="dropdown-menu pull-right">
              <li><a class="btn btn-link" href="{{ path('course_manage_test_paper_create_two', {courseId:course.id,testPaperId:item.id,flag:'update'}) }}">管理题目</a></li>
              <li><a href="javascript:;" class="btn btn-link test-paper-reset" data-url="{{ path('course_manage_test_paper_update_reset', {courseId:course.id,testPaperId:item.id}) }}">重新生成题目</a></li>
              <li><a class="btn btn-link" href="javascript:" data-name='试卷' data-role='item-delete' data-url="{{ path('course_manage_test_paper_delete', {courseId:course.id, testPaperId:item.id}) }}">删除</a></li>
          </ul>
        </div>
    </td>
</tr>