{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}
{% block title %}{{ 'admin.classroom_manage.chooser.classroom'|trans }}{% endblock %}
{% block body %}

<form id="message-search-form" class="form-inline well well-sm" action="{{ path('admin_classroom_chooser') }}" method="get" novalidate>
	<div class="form-group">
	  <select class="form-control" name="categoryId">
	    {{ select_options(category_choices('classroom'), app.request.query.get('categoryId'), 'admin.classroom_manage.chooser.category'|trans) }}
	  </select>
	</div>
	<div class="form-group">
	  <select class="form-control" name="status">
	    {{ select_options(dict('courseStatus'), app.request.query.get('status'), 'admin.classroom_manage.chooser.status'|trans) }}
	  </select>
	</div>
	<div class="form-group">
	  <input class="form-control" type="text" placeholder="{{ 'admin.classroom_manage.chooser.title_placeholder'|trans }}" name="titleLike" value="{{ app.request.get('titleLike') }}">
	</div>
	<button class="btn btn-primary">{{ 'form.btn.search'|trans }}</button>
</form>
  <div>
    <label class="">
      {{'coupon.resource.selected'|trans}}<i id="selected-count" style="color: green">0</i>
    </label>
    <input id="courseSets" type="hidden" value="">
    <a id="clear-cookie" href="javascript:;">{{'coupon.resource.clear'|trans}}</a>
  </div>
  <div class="classrooms-list">
    {% include 'admin/classroom/classroom-chooser-tr.html.twig' %}
  </div>

{% endblock %}
{% block footer %}
  <button id="chooser-items" data-url="{{ path('admin_coupon_classroom_selected') }}" data-submiting-text="{{ 'form.btn.submit.submiting'|trans }}" type="submit" class="btn btn-primary pull-right">{{ 'form.btn.confirm'|trans }}
  </button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{ 'form.btn.cancel'|trans }}</button>
  <script>app.load('topxiaadminbundle/controller/classroom/chooser');</script>
{% endblock %}