{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{'任务学习'|trans}} - {{ parent() }}{% endblock %}

{#{% set script_controller = 'taskbundle/controller/task/show' %}#}
{% set bodyClass = "" %}
{% do css(['web.css']) %}
{% do script(['libs/perfect-scrollbar.js','libs/es-ckeditor/ckeditor.js','web/task/index.js']) %}

{% block body %}

  <div id="js-hidden-data">
    <input type="hidden" name="course-id" value="{{ task.courseId }}">
    <input type="hidden" name="task-id" value="{{ task.id }}">
    <input type="hidden" name="task-result-status" value="{{ taskResult.status }}">
    <input type="hidden" name="mode" value="{% if preview %}preview{% else %}learn{% endif %}">
  </div>

  <div class="task-dashboard-page js-task-dashboard-page">
    <div class="dashboard-content" id="dashboard-content">
      <div class="dashboard-header">
        <a class="back-link" href="{{backUrl}}">
          <i class="es-icon es-icon-chevronleft"></i>
        </a>
        任务：{{ task.title }}
      </div>
      <div class="dashboard-body">
        <iframe id="task-content-iframe" class="task-content-iframe"

          data-event-url="{{ path('course_task_trigger', {courseId: task.courseId, taskId: task.id}) }}"
          src="{{path('course_task_activity_show',{ id:task.id,courseId:task.courseId, preview: preview })}}"
          style="width:100%;height:100%;border:0px">
        </iframe>
      </div>

      <div class="dashboard-footer ">
        <div class="state-opration "> 

            {% if taskResult.status != 'finish' %}
            <a class="btn btn-gray text-sm js-learn-prompt open" href="javascript:;" data-container=".js-learn-prompt" data-toggle="popover" data-trigger="hover" data-placement="top" data-content='<p class="gray-darker mbs">满足以下条件:</p>点击“学过了”' ><i class="es-icon es-icon-help mrs text-md"></i>任务完成条件</a> 
            {% endif %}

            <a class="btn text-sm js-learning-prompt" href="javascript:;" data-container=".js-learning-prompt" data-toggle="popover" data-trigger="hover" data-placement="top" data-content='<p class="gray-darker mbs">满足以下条件:</p>点击“学过了”'><i class="es-icon es-icon-iccheckcircleblack24px mrs text-md"></i>{{task.title}}任务已完成</a>

            {% if taskResult.status == 'finish' %}
            <a class="btn text-sm js-learned-prompt " href="javascript:;" data-container=".js-learned-prompt" data-toggle="popover" data-trigger="hover" data-placement="top" data-content=''>
              <div class="task-state-modal task-state-modal-xs">
                <div class="title">
                  <i class="es-icon es-icon-iccheckcircleblack24px text-success"></i>完成任务
                </div>
                <div class="content">
                  <div class="content-title">《 任务：{{task.title}} 》</div>
                  学习进度
                  <div class="content-progress">
                    <div class="progress progress-radius mts mb0">
                      <div class="progress-bar  progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:50%">60%</div>
                    </div>

                  </div>
                </div>
                <div class="footer text-right">
                  <a class="btn btn-primary btn-sm">下一任务</a>
                </div>
              </div>
              
              <i class="es-icon es-icon-iccheckcircleblack24px mrs text-md"></i>任务完成
            </a>
            {% endif %}
        </div>

        <a type="button" 
          href="javascript:;" 
        {% if taskResult.status != 'finish' %}
          class="btn btn-transparent btn-learn js-btn-learn" 
          id = 'learn-btn'
          data-url='{{path("course_task_finish",{courseId: task.courseId, taskId: task.id})}}' 
        {% else %}
          class="btn btn-transparent btn-learn js-btn-learn active" 
        {% endif %}
        >
          {% if taskResult.status == 'finish' %}
          <i class="es-icon es-icon--check-circle done"></i>
          {% else %}
          <i class="es-icon es-icon-undone-check doing"></i>
          {% endif %}
          学过了
        </a>
      </div>
    </div>
    <div class="dashboard-sidebar" id="dashboard-sidebar">
      <div class="dashboard-toolbar">
        <ul class="dashboard-toolbar-nav" id="dashboard-toolbar-nav">
          
        </ul>
      </div>
      <div data-pane="task" class="task-pane">
        <ul class="task-list ">
          {% for task in tasks %}
            {% set task_lock =  (not  task.result|default(null)) and (not course.isDefault) and course.learnMode  == 'lockMode' %}
            <li class="task-item {% if task.activityId == activity.id %} active {% endif %} mouse-control">
              <i class="es-icon 
              {% if task_lock %}
                es-icon-lock
              {% elseif  not task.result|default(null) %}
                es-icon-undone-check
              {% elseif task.result.status == 'start' %}
                es-icon-doing 
              {% elseif task.result.status == 'finish' %}
                es-icon-iccheckcircleblack24px 
              {% endif %} 
                left-menu"></i>
              {% if task.isOptional %}
                <span class="label label-success mrm">选修</span>
              {% endif %}
              <a class="text-overflow"  {% if task_lock and not preview %} data-url {% else  %} href {% endif %} ="{{path('course_task_show', {id:task.id,courseId:task.courseId, preview: preview})}}">{{task.title}}</a>
              {% if task_lock %}
                <span class="right-menu mouse-leave">{{task.activity.length|activity_length_format}}
                  <i class="es-icon {{activity_metas(task.activity.mediaType).icon}} mlm"></i>
                </span> 
                <span class="right-menu mouse-enter color-primary">任务未解锁</span>
              {% else %}
                <span class="right-menu">{{task.activity.length|activity_length_format}}
                  <i class="es-icon {{activity_metas(task.activity.mediaType).icon}} mlm" data-toggle="tooltip" data-placement="top" title="{{activity_metas(task.activity.mediaType).name}}任务"></i>
                </span>  
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

{% endblock %}