{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{'任务学习'|trans}} - {{ parent() }}{% endblock %}

{#{% set script_controller = 'taskbundle/controller/task/show' %}#}
{% set bodyClass = "task-dashboard-page js-task-dashboard-page" %}
{% do css(['web.css']) %}
{% do script(['libs/perfect-scrollbar.js','libs/es-ckeditor/ckeditor.js','web/task/index.js']) %}

{% block body %}
  <div id="hidden-data">
    <input type="hidden" name="course-id" value="{{ task.courseId }}">
    <input type="hidden" name="task-id" value="{{ task.id }}">
  </div>
  <div class="dashboard-content" id="dashboard-content">
    <div class="dashboard-header">
      <a class="back-link" href="javascript:;">
        <i class="es-icon es-icon-chevronleft"></i>
      </a>
      任务1：{{ task.title }}
    </div>
    <div class="dashboard-body">
      <iframe id="task-content-iframe" class="task-content-iframe"
              data-event-url="{{ path('course_activity_trigger', {courseId: task.courseId, activityId: task.activityId}) }}"
              src="{{path('course_task_activity_show',{ id:task.id,courseId:task.courseId })}}"
              style="width:100%;height:100%;border:0px">
      </iframe>
    </div>
    <div class="dashboard-footer">
      <div class="state-opration"> 
        <a class="btn btn-gray text-sm js-learn-prompt open" href="javascript:;" data-container="body" data-toggle="popover" data-placement="top" data-content='<p class="gray-darker mbs">满足以下条件</p>点击“看过了”' ><i class="es-icon es-icon-help mrs text-md"></i>任务完成条件</a>
        <a class="btn text-sm js-learning-prompt" href="javascript:;" data-container="body" data-toggle="popover" data-placement="top" data-content='<p class="gray-darker mbs">满足以下条件</p>点击“看过了”'><i class="es-icon es-icon-iccheckcircleblack24px mrs text-md"></i>XXX任务已完成</a>
        <a class="btn text-sm js-learned-prompt " href="javascript:;" data-container=".js-learned-prompt" data-toggle="popover" data-placement="top" data-content='
          <div class="task-state-modal task-state-modal-xs">
            <div class="title">
              <i class="es-icon es-icon-iccheckcircleblack24px text-success"></i>完成任务
            </div>
            <div class="content">
              <div class="content-title">《 第1个任务：集合的定义和使用 》</div>
              学习进度
              <div class="content-progress">
                <div class="progress progress-radius mts mb0">
                  <div class="progress-bar  progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:50%">60%</div>
                </div>
              </div>
            </div>
            <div class="footer text-right">
              <a class="btn btn-primary btn-sm">下一任务</a>
            </div>
          </div>'>
          <i class="es-icon es-icon-iccheckcircleblack24px mrs text-md"></i>任务完成
        </a>
      </div>
      <a type="button" class="btn btn-transparent btn-learn js-btn-learn" >
        <i class="es-icon es-icon-undone-check doing"></i>
        <i class="es-icon es-icon--check-circle done"></i>
        学过了
      </a>
      <a type="button" class="btn btn-transparent btn-learn js-btn-learn" >
        <i class="es-icon es-icon-undone-check doing"></i>
        <i class="es-icon es-icon--check-circle done"></i>
        学过了
      </a>
      <a class="btn btn-primary js-test">弱提示效果</a>
      <a class="btn btn-primary " data-toggle="modal" data-target="#myModal">完成任务</a>
      <a class="btn btn-primary " data-toggle="modal" data-target="#myModal2">任务失败</a>
    </div>
  </div>
  <div class="dashboard-sidebar" id="dashboard-sidebar">
    <div class="dashboard-sidebar-content">
      <div class="dashboard-toolbar">
        <ul class="dashboard-toolbar-nav" id="dashboard-toolbar-nav">
          <li class="active" data-pane="#task-pane">
            <a href="javascript:;"> <i class="es-icon es-icon-menu"></i>
              <br/>      
              课程
            </a>
          </li>
          <li class="" data-pane="#question-pane">
            <a href="javascript:;"> <i class="es-icon es-icon-help"></i>
              <br/>      
              问答
            </a>
          </li>
          <li class="" data-pane="#note-pane">
            <a href="javascript:;">
              <i class="es-icon es-icon-edit"></i>
              <br/>      
              笔记
            </a>
          </li>
        </ul>
      </div>
      <div data-pane='task' class="dashboard-pane task-pane" id="task-pane" >
        <ul class="task-list ">
          {% for task in tasks %}
            <li class="task-item {% if task.activityId == activity.id %} active {% endif %} mouse-control">
              <i class="es-icon 
              {% if task.task_result is not defined  or task.task_result.status is empty %}
                es-icon-lock 
              {% elseif task.task_result.status == 'start' %}
                es-icon-doing 
              {% elseif task.task_result.status == 'finish' %}
                es-icon-iccheckcircleblack24px 
              {% endif %} 
                left-menu"></i>
              {% if task.isOptional %}
                <span class="label label-success mrm">选修</span>
              {% endif %}
              <a class="text-overflow" href="{{path('course_task_show', {id:task.id,courseId:task.courseId})}}">{{task.title}}</a>
              {% if task.task_result is not defined  or task.task_result.status is empty %}
                <span class="right-menu mouse-leave">{{task['activity_meta']['length'] | default('')}}
                  <i class="es-icon {{task['activity_meta']['icon']}} mlm"></i>
                </span> 
                <span class="right-menu mouse-enter color-primary">任务未解锁</span>
              {% else %}
                <span class="right-menu">{{task['activity_meta']['length'] | default('')}}
                  <i class="es-icon {{task['activity_meta']['icon']}} mlm" data-toggle="tooltip" data-placement="top" title="{{task['activity_meta']['name']}}任务"></i>
                </span>  
              {% endif %}
            </li>
          {% endfor %}
          {# <li class="task-item task-title">
            <i class="es-icon es-icon-menu left-menu"></i>
            <a class="text-overflow">第一基阶段：平面设计</a>
          </li>
          <li class="task-item task-title">
            <a class="text-overflow">第一节：ps基本工具</a>
          </li>
          <li class="task-item">
            <i class="es-icon es-icon-iccheckcircleblack24px  left-menu color-primary"></i>
            <a class="text-overflow">任务1：移动工具</a>
            <span class="right-menu">12:04<i class="es-icon es-icon-videoclass mlm" data-toggle="tooltip" data-placement="top" title="图文课时"></i></span>
          </li>
          <li class="task-item active">
            <i class="es-icon es-icon-doing left-menu"></i>
            <a class="text-overflow">任务2：移动工具</a>
            <span class="right-menu">12:04<i class="es-icon es-icon-videoclass mlm"></i></span>
          </li>
          <li class="task-item mouse-control">
            <i class="es-icon es-icon-lock left-menu"></i>
            <a class="text-overflow">任务3：移动工具</a>
            <span class="right-menu mouse-leave">12:04<i class="es-icon es-icon-videoclass mlm "></i></span>
            <span class="right-menu mouse-enter color-primary">任务未解锁</span>
          </li>
          <li class="task-item mouse-control">
            <i class="es-icon es-icon-lock left-menu"></i>
            <a class="text-overflow">任务3：移动工具</a>
            <span class="right-menu mouse-leave">12:04<i class="es-icon es-icon-videoclass mlm "></i></span>
            <span class="right-menu mouse-enter color-primary">任务未解锁</span>
          </li>
          <li class="task-item mouse-control">
            <i class="es-icon es-icon-lock left-menu"></i>
            <a class="text-overflow">任务3：移动工具</a>
            <span class="right-menu mouse-leave">12:04<i class="es-icon es-icon-videoclass mlm "></i></span>
            <span class="right-menu mouse-enter color-primary">任务未解锁</span>
          </li>
          <li class="task-item mouse-control">
            <i class="es-icon es-icon-lock left-menu"></i>
            <a class="text-overflow">任务3：移动工具</a>
            <span class="right-menu mouse-leave">12:04<i class="es-icon es-icon-videoclass mlm "></i></span>
            <span class="right-menu mouse-enter color-primary">任务未解锁</span>
          </li>
          <li class="task-item mouse-control">
            <i class="es-icon es-icon-lock left-menu"></i>
            <a class="text-overflow">任务3：移动工具</a>
            <span class="right-menu mouse-leave">12:04<i class="es-icon es-icon-videoclass mlm "></i></span>
            <span class="right-menu mouse-enter color-primary">任务未解锁</span>
          </li>
          <li class="task-item mouse-control">
            <i class="es-icon es-icon-lock left-menu"></i>
            <a class="text-overflow">任务3：移动工具</a>
            <span class="right-menu mouse-leave">12:04<i class="es-icon es-icon-videoclass mlm "></i></span>
            <span class="right-menu mouse-enter color-primary">任务未解锁</span>
          </li> #}
        </ul>
      </div>
    </div>
  <div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body task-state-modal">
          <div class="title font-blod">
            <i class="es-icon es-icon-iccheckcircleblack24px text-success"></i>完成任务
          </div>
          <div class="content">
            <div class="content-title">恭喜完成<span class="font-blod mlm">《 第1个任务：集合的定义和使用 》</span></div>
            <div class="progress progress-radius progress-md content-progress">
              <div class="progress-bar progress-bar-left progress-bar-success "  role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:50%">60%</div>
              <span class="mrl">100%</span>
            </div>
            <span class="text-success">已完成了整个课程的18%，加油吧！</span>
          </div>
          <div class="footer text-right">
            <a class="btn btn-primary">下一任务</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body task-state-modal">
          <div class="title font-blod">
            <i class="es-icon es-icon-cuowu text-danger"></i>完成任务
          </div>
          <div class="content">
            <div class="content-title mbl">
              完成任务需要<span class="mlm text-success">作业得分  80分</span>
              <p class="mtm">继续加油吧！</p>
            </div>
          </div>
          <div class="footer text-right">
            <a class="btn btn-primary">重新学习</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}