{% if not role|default(null) == 'teacher' %}

  <div class="modal-header">
    <div class="modal-title">{{ 'question.determine.content_title'|trans }}</div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <ul class="popup-topic js-topic-content">
      <li class="title">
        {{ item.question.stem|bbCode2Html|raw }}
      </li>
      <li class="list">
        <span class="num">A</span>
        <div class="info">{{ 'question.answer_correct'|trans }}</div>
      </li>
      <li class="list">
        <span class="num">B</span>
        <div class="info">{{ 'question.answer_wrong'|trans }}</div>
      </li>
    </ul>
    <ul class="popup-topic topic-resolve js-topic-resolve hidden">
      <li class="title">
        {{ item.question.stem|bbCode2Html|raw }}
      </li>
      <li class="list">
        <div class="info">{{ item.question.analysis|default('question.no_analysis'|trans)|bbCode2Html|raw|nl2br }}</div>
      </li>
    </ul>
  </div>
  <div class="topic-bottom">
    <div class="topic-bottom-info">
      {{ 'question.correct_answer'|trans }}：<span
          class="color-success">{% if item.question.answer[0] == 1 %} A {% else %} B {% endif %}</span>
      <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{ 'form.btn.close'|trans }}</a>
      <a class="btn btn-primary js-show-resolve">{{ 'question.view_analysis_btn'|trans }}</a>
    </div>
  </div>
{% endif %}