{% if not role|default(null) == 'teacher' %}

	<div class="modal-header">
		<div class="modal-title">{{ 'question.fill.content_title'|trans }}</div>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	</div>
	<div class="modal-body">
		<ul class="popup-topic js-topic-content">
			<li class="title">
				{{ item.question.stem|fill_question_stem_html|bbCode2Html|raw|nl2br }}
			</li>
			{% for index, answer in item.question.answer %}
			<li class="list">
      	<span class="num">{{'%index%'|trans({'%index%': index+1})}}</span>
      	<div class="info">{{ 'question.correct_answer_tips'|trans }}：<span class="color-success">{{ answer|join('site.default.or'|trans) }}</span></div>
    	</li>
    	{% endfor %}
		</ul>
		{#<ul class="popup-topic topic-resolve ">
			<li class="title">
				{{ item.question.stem|fill_question_stem_html|bbCode2Html|raw|nl2br }}
			</li>
			<li class="list">
				<div class="info">
					{% for index, answer in item.question.answer %}
					<p>
						{{'填空(%index%)的正确答案：'| trans({'%index%': index+1})}}
						<span class="color-success">{{ answer|join(' 或 '|trans) }}</span>
					</p>
					{% endfor %}
				</div>
			</li>
		</ul>#}
		<ul class="popup-topic topic-resolve js-topic-resolve hidden">
			<li class="title">
				{{ item.question.stem|fill_question_stem_html|bbCode2Html|raw|nl2br }}
			</li>
			<li class="list">
				<div class="info">{{ item.question.analysis|default('question.no_analysis'|trans)|bbCode2Html|raw|nl2br }}</div>
			</li>
		</ul>
	</div>
	<div class="topic-bottom">
		<div class="topic-bottom-info clearfix">
			<a class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{ 'form.btn.close'|trans }}</a>
			<a class="btn btn-primary js-show-resolve">{{ 'question.view_analysis_btn'|trans }}</a>
		</div>
	</div>
{% endif %}