{% extends 'TopxiaAdminBundle:CourseOrder:layout.html.twig' %}

{% block title %}订单管理 - {{ parent() }}{% endblock %}

{#
    {% set script_controller = 'trade/index' %}
#}

{% set menu = 'course-order' %}

{% block main %}

  <div class="page-header clearfix">
    <h1>订单管理</h1>
  </div>

  <form id="user-search-form" class="form-inline well well-sm" action="" method="get" novalidate>
    <div class="form-group">
        {{ form_widget(searchForm.status, {attr:{class:'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_widget(searchForm.payment, {attr:{class:'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_widget(searchForm.paidStartTime, {attr:{class:'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_widget(searchForm.paidEndTime, {attr:{class:'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_widget(searchForm.keywordType, {attr:{class:'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_widget(searchForm.keyword, {attr:{class:'form-control', placeholder:'关键词'}}) }}
    </div>

    {{ form_rest(searchForm) }}

    <button class="btn btn-primary">搜索</button>

  </form>
      
    <table class="table table-striped" id="review-list">

      {% include 'TopxiaAdminBundle:CourseOrder:thead-tr.html.twig' %}
      <tbody>
          
          {% for order in orders %}
            {% include 'TopxiaAdminBundle:CourseOrder:tbody-tr.html.twig' with {order: order} %}
          {% endfor %}

      </tbody>
    </table>

  <div class="paginator">
    {{ web_macro.paginator(paginator) }} 
  </div>


{% endblock %}
