<div class="qs-header">
  <div class="container">
    <a class="logo" href="{{ path('homepage') }}">
      {% if setting('site.logo') %}
        <img src="{{ asset(setting('site.logo')) }}">    
      {% else %}
        {{ setting('site.name', 'EDUSOHO') }} 
      {% endif %}
    </a>
    <div class="visible-xs  navbar-mobile">
      <a href="javascript:;" class="navbar-more js-navbar-more">
        <i class="es-icon es-icon-menu"></i>
      </a>
      <div class="html-mask"></div>
      <div class="nav-mobile">
        <form class="navbar-form" action="/search" method="get">
          <div class="form-group">
            <input class="form-control" placeholder="搜索" name="q">
            <button class="button es-icon es-icon-search"></button>
          </div>
        </form>
        <ul class="nav navbar-nav">
          {{ render(controller('TopxiaWebBundle:Default:topNavigation', {siteNav:siteNav|default(null), isMobile:true })) }}
        </ul>
      </div>
    </div>
    <nav class="collapse navbar-collapse">
      {{ render(controller('TopxiaWebBundle:Default:topNavigation', {siteNav:siteNav|default(null) })) }}
    </nav>
  </div>
</div>