{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}
{% block description %}{{ setting('site.seo_description') }}{% endblock %}

{% set siteNav = "/" %}
{% set bodyClass = 'homepage' %}
{% set script_controller = 'theme/index' %}

{% block full_content %}
  {{block_show('qiushi:home_top_banner')}}

  {# 直播公开课 #}
  <section class="qs-section">
    <div class="container">
      <div class="qs-section-header">
        <div class="title">求是直播</div>
        <div class="subtitle">LIVE COURSE</div>
      </div>
      {% set firstCategories = data('Categories',{ group:'course'}) %}
      <div class="qs-course-cat" id="live-category-tab">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#live-category-all"  role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">全部课程</a></li>
          {% for firstCat in firstCategories if firstCat %}
            {% if firstCat.parentId == 0 %}
              <li role="presentation" >
                <a href="#live-category-{{firstCat.id}}"  role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">{{ firstCat.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="qs-live-course-list tab-content">
        {% set recentLiveCourses = data('LiveCourses',{ count:4 }) %}
        <div role="tabpanel" class="tab-pane fade active in row" id="live-category-all" aria-labelledby="home-tab">
          {% for course in recentLiveCourses if course %}
            {% set lesson = course['lesson']|default(null) %}

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="qs-course-item">
                <div class="course-img">
                  <a href="{{ path('course_show', {id:course.id}) }}">
                    {{ lazy_img(filepath(course.middlePicture, 'course.png'), 'img-responsive', course.title) }}</a>
                  {% if lesson and "now"|date("U") >= lesson.startTime and "now"|date("U") <= lesson.endTime %}
                    <span class="qs-tag qs-tag-danger">今天 {{ lesson.startTime|date('H:i') }}</span>
                  {% elseif lesson and "now"|date("U") < lesson.startTime %}
                    <span class="qs-tag qs-tag-warning">{{ lesson.startTime|date('m-d H:i') }}</span>
                  {% else %}
                    <span class="qs-tag qs-tag-info">{{ lesson.startTime|date('m-d H:i') }}</span>
                  {% endif %}
                </div>
                <div class="title"><a href="{{ path('course_show', {id:course.id}) }}" class="link-dark">{{ course.title }}</a></div>
                <div class="metas clearfix">
                  <span class="course-teacher">主讲人：
                    {% if course.teachers|default(null) %}
                      {{ course.teachers.0.nickname }}
                    {% endif %}
                  </span>
                  {% if lesson and "now"|date("U") >= lesson.startTime and "now"|date("U") <= lesson.endTime %}
                    <a href="{{ path('course_show', {id:course.id}) }}" class="btn btn-primary btn-sm pull-right">正在直播</a>
                  {% elseif lesson and "now"|date("U") < lesson.startTime %}
                    <a href="{{ path('course_show', {id:course.id}) }}" class="btn btn-warning btn-sm pull-right">即将直播</a>
                  {% elseif lesson and "now"|date("U") > lesson.endTime %}
                    <a href="{{ path('course_show', {id:course.id}) }}" class="btn btn-info btn-sm pull-right">查看回放</a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% else %}
            <div class="empty">该分类下暂无直播课程</div>
          {% endfor %}

        </div>
        
        {% for firstCat in firstCategories if firstCat %}
          {% if firstCat.parentId == 0 %}
            {% set recentLiveCourses = data('LiveCourses',{ categoryId:firstCat.id, count:4 }) %}
            
            <div role="tabpanel" class="tab-pane fade row" id="live-category-{{firstCat.id}}" aria-labelledby="home-tab">
              {% for course in recentLiveCourses if course %}
                {% set lesson = course['lesson']|default(null) %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="qs-course-item">
                    <div class="course-img">
                      <a href="{{ path('course_show', {id:course.id}) }}">
                        {{ lazy_img(filepath(course.middlePicture, 'course.png'), 'img-responsive', course.title) }}</a>
                      <div class="mask">
                        {% if lesson and "now"|date("U") >= lesson.startTime and "now"|date("U") <= lesson.endTime %}
                          <a href="{{ path('course_show', {id:course.id}) }}" class="btn btn-primary">正在直播</a>
                        {% elseif lesson and "now"|date("U") < lesson.startTime %}
                          <a href="{{ path('course_show', {id:course.id}) }}" class="btn btn-warning">即将直播</a>
                        {% elseif lesson and "now"|date("U") > lesson.endTime %}
                          <a href="{{ path('course_show', {id:course.id}) }}" class="btn btn-info">往期回顾</a>
                        {% endif %}
                      </div>
                    </div>
                    <div class="title"><a href="{{ path('course_show', {id:course.id}) }}" class="link-dark">{{ course.title }}</a></div>
                    <div class="metas clearfix">
                      <span class="course-teacher">主讲人：
                        {% if course.teachers|default(null) %}
                          {{ course.teachers.0.nickname }}
                        {% endif %}
                      </span> 
                      {% if lesson and "now"|date("U") >= lesson.startTime and "now"|date("U") <= lesson.endTime %}
                        <span class="qs-tag qs-tag-danger pull-right">今天 {{ lesson.startTime|date('H:i') }}</span>
                      {% elseif lesson and "now"|date("U") < lesson.startTime %}
                        <span class="qs-tag qs-tag-warning pull-right">{{ lesson.startTime|date('m-d H:i') }}</span>
                      {% else %}
                        <span class="qs-tag qs-tag-info pull-right">{{ lesson.startTime|date('m-d H:i') }}</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="empty">该分类下暂无直播课程</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}

      </div>
      <div class="section-more"><a class="btn btn-ghost-default" href="{{ path('course_explore')}}">更多课程</a></div>

    </div>
  </section>

  {#人气课程#}
  {# {% set PopularCourses = data('PopularCourses',{'count':3}) %} #}
  {% set PopularCourses = data('RecommendCourses',{count:3}) %}
  {% if PopularCourses %}
  <section class="qs-section section-white">
    <div class="container">
      <div class="qs-section-header">
        <div class="title">人气课程</div>
        <div class="subtitle">HOT COURSE</div>
      </div>
      <div class="qs-hot-course-list">
        {% for course in PopularCourses %}
        <div class="qs-course-block clearfix">
          <div class="course-img">
            <a href="{{ path('course_show', {id:course.id}) }}">
              {{ lazy_img(filepath(course.largePicture, 'course.png'), 'img-responsive', course.title) }}
              <span class="course-tag-hot"></span>
            </a>
          </div>
          <div class="course-info">
            <div class="title"><a class="link-light" href="{{ path('course_show', {id:course.id}) }}"> <i class="es-icon es-icon-whatshot color-danger"></i>{{ course.title }}</a></div>
            <p><span class="qs-tag qs-tag-info">累计已有{{ course.studentNum }}人学过</span></p>
            <div class="content">
              {{ course.about|plain_text(100) }}
            </div>
            <div class="metas visible-lg">
              {% for teacher in course.teachers %}
                {% if loop.index <= 1 %}
                  {{ web_macro.user_avatar(teacher, 'mlm') }}
                  {{ web_macro.user_link(teacher, 'mlm') }}
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="course-action">
            <div class="course-price">
              抢购价 
              {% include 'TopxiaWebBundle:Course:Widget/course-price.html.twig' with {shows:'price'} %}
            </div>
            <p class="text-center"><a href="{{ path('course_show', {id:course.id}) }}" class="btn">查看详情</a></p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="section-more"><a class="btn btn-ghost-default" href="{{ path('course_explore')}}">更多课程</a></div>
    </div>
  </section>
  {% endif %}

  {# 精品课程 #}
  <section class="qs-section">
    <div class="container">
      <div class="qs-section-header">
        <div class="title">精品课程</div>
        <div class="subtitle">EXELLENT COURSE</div>
      </div>
      <div class="qs-course-cat">
        <ul class="nav nav-pills" id="category-tab">
          <li role="presentation" class="active"><a href="#category-all"  role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">全部课程</a></li>
          {% for firstCat in firstCategories if firstCat %}
            {% if firstCat.parentId == 0 %}
              <li role="presentation" >
                <a href="#category-{{firstCat.id}}"  role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">{{ firstCat.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="course-list qs-exellent-course-list tab-content">
        {% set recommendCoursesAll = data('RecommendCourses',{count:15}) %}
        <div role="tabpanel" class="tab-pane fade active in row" id="category-all" aria-labelledby="home-tab">
          {% for course in recommendCoursesAll if course %}
            {% if loop.index > 3 %}
              <div class="col-lg-3 col-md-4 col-sm-6">
                {% include 'TopxiaWebBundle:Course:Widget/course-grid.html.twig' %}
              </div>
            {% endif %}
          {% else %}
            <div class="empty">该分类下暂无精品课程</div>
          {% endfor %}
        </div>
        
          {% for firstCat in firstCategories %}
            {% if firstCat.parentId == 0 %}
              {% set recommendCourses = data('RecommendCourses',{ categoryId: firstCat.id, count:12}) %}

              <div role="tabpanel" class="tab-pane fade row" id="category-{{firstCat.id}}" aria-labelledby="home-tab">
                {% for course in recommendCourses if course %}
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    {% include 'TopxiaWebBundle:Course:Widget/course-grid.html.twig' %}
                  </div>
                {% else %}
                  <div class="empty">该分类下暂无精品课程</div>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}

      </div>
      <div class="section-more"><a class="btn btn-ghost-default" href="{{ path('course_explore')}}">更多课程</a></div>
    </div>
  </section>

  {{block_show('qiushi:home_middle_banner')}}

  {# 推荐班级 #}
  {% set RecommendClassrooms = data('RecommendClassrooms',{'count':4})%}
  {% if RecommendClassrooms %}
  <section class="qs-section section-white">
    <div class="container">
      <div class="qs-section-header">
        <div class="title">推荐班级</div>
        <div class="subtitle">RECOMMEND CLASS</div>
      </div>
      <div class="recommend-class-list qs-recommend-class-list row">
        {% for classroom in RecommendClassrooms %}
        {#<div class="col-lg-3 col-md-4 col-sm-6">
          <div class="qs-class-item">
            <div class="class-img">
              <a href="{{ path('classroom_show', {id:classroom.id}) }}">
                {{ lazy_img(filepath(classroom.middlePicture, 'classroom.png'), 'img-responsive', classroom.title, 'lazyload_class.png') }}
              </a>
            </div>
            <div class="title"><a class="link-dark" href="{{ path('classroom_show', {id:classroom.id}) }}">{{classroom.title}}</a></div>
            <div class="metas clearfix">
              共有{{classroom.courseNum}}门课程 
              {% if classroom.price > 0 %}
                <span class="price">¥{{classroom.price}}</span>
              {% else %}
                <span class="price free">免费</span>
              {% endif %}
            </div>
          </div>
        </div>#}
        <div class="col-md-3 col-sm-6">
          {% include 'ClassroomBundle:Classroom:class-grid.html.twig' %} 
        </div>
        {% endfor %}
      </div>
      <div class="section-more"><a class="btn btn-ghost-default" href="{{ path('classroom_explore') }}">更多班级</a></div>
    </div>
  </section>
  {% endif %}

  {# 资讯和评价 #}
  <section class="qs-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="qs-article-panel">
            <div class="qs-panel-title">最新资讯<small>NEWS</small> <a class="more link-light" href="">更多</a></div>
            <div class="qs-panel-body clearfix">
              <div class="qs-recommend-article">
                {% set featuredArticles = data('LatestArticles',{'type':'featured','count':2}) %}
                {% for article in featuredArticles if article %}
                  {% if article.thumb|default(null) %}
                    <div class="qs-article-block">
                      <a href="{{ path('article_detail', {id:article.id}) }}">
                        {{ lazy_img(filepath(article.thumb|default(null) , ''), 'img-responsive', article.title, 'lazyload_class.png') }}
                        <div class="image-overlay"></div>
                        <div class="title">{{ article.title }}</div>
                      </a>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <ul class="qs-new-article">
                {% set articles = data('LatestArticles',{'count':6}) %}
                {% if articles %}
                  {% for article in articles %}
                  <li class="clearfix"><i class="es-icon es-icon-dot color-primary mrs"></i><a class="link-light" href="{{ path('article_detail', {id:article.id}) }}" title="{{ article.title }}">{{ article.title }}</a> <span class="date">{{ article.updatedTime|smart_time }}</span></li>
                  {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="qs-evaluate-panel">
            <div class="qs-panel-title">教学评价<small>EVALUATION</small></div>
            <div class="qs-panel-body">
              {{ render(controller('TopxiaWebBundle:Default:latestReviewsBlock',{number:4})) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {# 求是名师 #}
  {% set teachers = data('RecommendTeachers',{'count':20}) %}
  {% if teachers %}
  <section class="qs-section section-white hidden-xs hidden-sm">
    <div class="container">
      <div class="qs-section-header">
        <div class="title">求是名师</div>
        <div class="subtitle">OUR TEACHERS</div>
      </div>
      <div class="qs-teacher-list">
        <div class="swiper-container row">
          <div class="swiper-wrapper">
            {% for teacher in teachers %}
            {% set profile = profiles[teacher.id] %}
            <div class="col-lg-3 col-md-4 col-sm-6 swiper-slide swiper-hidden">
              <div class="qs-teacher-item">
                <div class="teacher-img"><img class="avatar-lg" src="{{ filepath(teacher.largeAvatar, 'avatar.png') }}" alt=""></div>
                <div class="teacher-name">{{teacher.nickname}}</div>
                <div class="teacher-position">
                  {% if teacher.title %}{{ teacher.title }}{% else %}暂无头衔{% endif %}
                </div>
                <div class="teacher-bottom">
                  <div class="teacher-about">
                    {% if profile.about %}
                      {{ profile.about|plain_text(50) }}
                    {% else %}
                      <div class="text-center">暂无简介</div>
                    {% endif %}
                  </div>
                </div>
                <div class="mask">
                  <div class="slogan">
                    <p class="slogan-title">觉得老师不错？</p>
                    <p>立即学习课程或者预约辅导吧！</p>
                  </div>
                  <div class="teacher-action">
                    <a class="btn btn-ghost-primary" href="{{ path('user_show', {id:teacher.id}) }}">在教课程</a>
                    <a class="btn htn-ghost-white" href="{{path('user_reservation', {id:teacher.id})}}">预约辅导</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="section-more"><a class="btn btn-ghost-default" href="{{ path('teacher') }}">更多名师</a></div>
    </div>
  </section>
  {% endif %}
{% endblock %}