{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}
{% block description %}{{ setting('site.seo_description') }}{% endblock %}

{% set siteNav = "/" %}
{% set bodyClass = 'homepage' %}
{% set script_controller = 'theme/index' %}

{% block full_content %}
  {{block_show('qiushi:home_top_banner')}}

  {# 直播公开课 #}
  <section class="live-course-list">
    <div class="container">
      <div class="qs-section-header">
        <div class="title">直播公开课</div>
        <div class="subtitle">LIVE COURSE</div>
      </div>
      <div class="course-filter">
        <ul class="nav nav-pills hidden-xs">
          <li class="active"><a href="">全部课程</a></li>
          <li><a href="">高三</a></li>
          <li><a href="">高三</a></li>
          <li><a href="">高三</a></li>
          <li><a href="">高三</a></li>
        </ul>
        <div class="more"><a href="" class="link-lighter">更多</a></div>
      </div>
      <div class="qs-live-course-list row">
        <div class="col-md-3">
          <div class="course-item">
            <div class="course-img">
              <a href=""><img src="{{asset('themes/qiushi/img/new/course_1.jpg')}}" alt=""></a>
              <div class="mask">
                <a href="" class="btn btn-primary">正在直播</a>
              </div>
            </div>
            <div class="title"><a href="" class="link-dark">高一化学专题：化学家严重的物质世界是怎样的？</a></div>
            <div class="metas clearfix">主讲人：陈林 <span class="qs-tag qs-tag-danger pull-right">今天 22:30</span></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="course-item">
            <div class="course-img">
              <a href=""><img src="{{asset('themes/qiushi/img/new/course_1.jpg')}}" alt=""></a>
              <div class="mask">
                <a href="" class="btn btn-info">正在直播</a>
              </div>
            </div>
            <div class="title"><a href="" class="link-dark">高一化学专题：化学家严重的物质世界是怎样的？</a></div>
            <div class="metas clearfix">主讲人：陈林 <span class="qs-tag qs-tag-info pull-right">今天 22:30</span></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="course-item">
            <div class="course-img">
              <a href=""><img src="{{asset('themes/qiushi/img/new/course_1.jpg')}}" alt=""></a>
              <div class="mask">
                <a href="" class="btn btn-primary">正在直播</a>
              </div>
            </div>
            <div class="title"><a href="" class="link-dark">高一化学专题：化学家严重的物质世界是怎样的？</a></div>
            <div class="metas clearfix">主讲人：陈林 <span class="qs-tag qs-tag-danger pull-right">今天 22:30</span></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="course-item">
            <div class="course-img">
              <a href=""><img src="{{asset('themes/qiushi/img/new/course_1.jpg')}}" alt=""></a>
              <div class="mask">
                <a href="" class="btn btn-info">正在直播</a>
              </div>
            </div>
            <div class="title"><a href="" class="link-dark">高一化学专题：化学家严重的物质世界是怎样的？</a></div>
            <div class="metas clearfix">主讲人：陈林 <span class="qs-tag qs-tag-info pull-right">今天 22:30</span></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {#人气课程#}
  
{% endblock %}