{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}

{% block topbanner %}
	<!--首页幻灯片开始-->
	<div class="jumbotron">
	  <div class="container">
	    <div class="row">
	      <div class="com-xs-12 col-sm-12 col-md-9 col-lg-9">
	        <img class="img-responsive" src="{{ asset('themes/qiushi/img/carousel.png') }}" alt="">
	      </div>
	      <div class="com-xs-12 col-sm-12 col-md-3 col-lg-3">
	        <div class="panel newcourse-list">
	          <div class="panel-heading">最新课程列表</div>
	          <div class="panel-body">
	            <ul class="list-group">
	            {% set lastestCourses = data('LatestCourses',{'count':5}) %}
	            	 {% for lastcourses in lastestCourses %}
			              <li class="list-group-item" style="font-size:14px;">
			                <span class="badge pull-left">{{ loop.index }}</span>
			                <a href="" class="pull-left">{{ lastcourses.title | plain_text(9) }}</a>
						        {% if lastcourses.teachers %}
			                        {% for teacher in lastcourses.teachers %}
			                          {% if loop.index <= 5%}
			                          {% set profile = profiles[teacher.id] %}
			                             <a href="{{ path('user_show', {id:teacher.id}) }}" class="pull-right">{{ profile.truename }}</a>
			                           {% endif %}
			                        {% endfor %}
			                    {% endif %}
			                
			              </li>
	              	{% endfor %}
	            </ul>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!--首页幻灯片结束-->

{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" media="screen" href="{{ asset('themes/autumn/css/class-autumn.css') }}" />
{% endblock %}

{% block content %}
  <!--老师推荐开始-->
  <div class="es-teacher">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">老师推荐</h3>
        <a class="more" href="{{ path('teacher') }}">更多&gt;</a>
      </div>
      <div class="panel-body">
        <ul class="row">
        {% set recommendTeachers = data('RecommendTeachers',{'count':4}) %}
        	{% for perTeacher in recommendTeachers %}
        	{% set profile = profiles[perTeacher.id] %}
	          <li class="col-xs-12 col-sm-6 col-md-3 col-lg-3 es-teacher-list text-center">
	            <a href="{{ path('user_show', {id:perTeacher.id}) }}">
	              <img src="{{ file_path(perTeacher.mediumAvatar, 'avatar.png') }}" class="img-circle">
	
	              <h3>{{ profile.truename }}</h3>
	
	              <p>{{ perTeacher.about|plain_text(65) }}</p>
	            </a>
	          </li>
	        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <!--老师推荐结束-->

    <!--精品课程开始-->

    <div class="es-course">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">精品课程</h3>
          <a class="more" href="">更多&gt;</a>
        </div>
        <div class="panel-body row">
          <ul id="myTab" class="nav nav-tabs" role="tablist">
		{% for firstCat in firstCategories %}
			{% if firstCat.parentId == 0 %}
            <li role="presentation" {% if loop.index == 1 %} class="active" {% endif %}><a href="#category-{{firstCat.id}}"  role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">{{ firstCat.name }}</a></li>
            {% endif %}
		{% endfor %}
          </ul>
          
          <div id="myTabContent" class="tab-content">
        {% for firstCat in firstCategories %}
			{% if firstCat.parentId == 0 %}
            <div role="tabpanel" class="tab-pane fade {% if loop.index == 1 %}active in{% endif %}" id="category-{{firstCat.id}}" aria-labelledby="home-tab">
              <ul class="row">
              {% set recommendCourses = data('RecommendCourses',{ categoryId: firstCat.id,count:8}) %}
              {% for courses in recommendCourses %}
              <li class="col-xs-12 col-sm-6 col-md-3 col-lg-3 es-course-list">
                <div class="lessonimg-box">
                  <img src="{{ default_path('coursePicture', courses.middlePicture, 'large') }}" class="img-responsive lessonimg" alt="">

                  <div class="lessonplay" >
                    <a class="btn btn-default course-button" href="{{ path('course_show', {id:courses.id}) }}" role="button">点击查看</a>
                  </div>
                </div>
                <div class="lesson-infor" >
                  <h3><a href="{{ path('course_show', {id:courses.id}) }}">{{ courses.title }}</a></h3>

                  <p >{{ courses.about|plain_text(60) }}</p>
                  <span class="student-num pull-right"><i class="fa fa-users"></i>{{ courses.studentNum }}</span>
                    <span class="nickname clearfix">
                                             {% for teacher in courses.teachers %}
                          {% if loop.index <= 1%}
                          {% set profile = profiles[teacher.id] %}
                             <a class="text-muted" href="{{ path('user_show', {id:teacher.id}) }}"><i class="fa fa-user"></i>{{ profile.truename }}</a>
                           {% endif %}
                        {% endfor %}
                    </span>
                </div>
              </li>
             {% endfor %}
                
              </ul>
            </div>
            
            {% endif %}
		{% endfor %}
            
          </div>
        </div>
      </div>
    </div>
    <!--精品课程结束-->
    
    <!--直播课开始-->
    
 {% set recentLiveCourses = data('RecentLiveCourses',{ count:4 }) %}
  <div class="es-course live-lesson">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">直播课</h3>
        <a class="more" href="">更多&gt;</a>
      </div>
      <div class="panel-body">
        <ul class="row">
        {% for liveCourses in recentLiveCourses %}
          <li class="col-xs-12 col-sm-6 col-md-3 col-lg-3 es-course-list">
            <div class="lessonimg-box">
            {% set lesson = liveCourses['lesson']|default(null) %}
                                    {% if lesson and "now"|date("U") >= lesson.startTime and "now"|date("U") <= lesson.endTime %}
                          <span class="liveicon">正在直播</span>
                        {% else %}
                         <span class="liveicon">直播</span>
                        {% endif %}
              
              <img src="{{ default_path('coursePicture',liveCourses.largePicture, 'large') }}" class="img-responsive lessonimg" alt="">

              <div class="lessonplay" style="opacity: 0;">
                <a class="btn btn-default course-button" href="{{ path('course_show', {id:liveCourses.id}) }}" role="button">点击查看</a>
              </div>
            </div>
            <div class="lesson-infor" style="height: 100px;">
              <h3>{{ liveCourses.title }}</h3>

              <p style="opacity: 0; height: 0px; display: none;">{{ liveCourses.about|plain_text(60) }}</p>
              <span class="livetime pull-left">{{ liveCourses.startTime|date('n月j日 H:i') }} 开课</span>
                <span class="nickname pull-right clearfix">
                  <a class="text-muted" href=""><i class="fa fa-user"></i>
                        {% for teacher in liveCourses.teachers %}
                         {{ web_macro.user_link(teacher, 'text-muted') }}
                        {% endfor %}
                  </a>
                </span>
            </div>
          </li>
         {% endfor %}
        </ul>
      </div>
    </div>

    <!--直播课结束-->
 {{ render(controller('TopxiaWebBundle:Default:latestReviewsBlock', {number:5})) }}
{% endblock %}