{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}
{% if reviews %}
{% for review in reviews %}
{% set author = users[review.userId]|default(null) %}
{% set course = courses[review.courseId]|default(null) %}
  {% if author and course %}
  <div class="media media-dynamic">
    <div class="media-left">
      {{ web_macro.user_avatar(author,'','avatar-sm') }}
    </div>
    <div class="media-body">
      <div class="title">
        {{ web_macro.user_link(author,'link-light') }}
        <span class="score">{{ web_macro.star(course.rating) }}</span>
        发布于 <a href="{{ path('course_show', {id:course.id}) }}" class="link-light">《{{ course.title|plain_text(10) }}》</a>
      </div>
      <div class="content">{{ review.content|plain_text(30) }}</div>
      <span class="date">{{review.createdTime|smart_time}}</span>
    </div>
  </div>
  {% endif %}
{% endfor %}
{% endif %}
