<div class="panel panel-default testpaper-card-panel {% if paper.type == 'homework' %}homework-card-panel{% endif %}">
  <div class="panel-body">
    <div class="testpaper-card-info">
      <span class="testpaper-card-info__text">
        {% if targetType|default('classroom') == 'course'%}
          {{ 'course.testpaper_manage.analysis_card.course_total_person'|trans }}
        {% else %}
          {{ 'course.testpaper_manage.analysis_card.classroom_total_person'|trans }}
        {% endif %}
      </span>
      <span class="testpaper-card-info__number">{{ relatedData.studentNum }}</span>
    </div>
    <div class="testpaper-card-info">
      <span class="testpaper-card-info__text">
        {{ 'course.testpaper_manage.analysis_card.join_person'|trans }}</span>
      <span class="testpaper-card-info__number">{{ relatedData.total }}</span>
    </div>
    <div class="testpaper-card-info">
      <span class="testpaper-card-info__text">
        {{ 'course.testpaper_manage.analysis_card.complete_person'|trans }}</span>
      <span class="testpaper-card-info__number">{{ relatedData.finished }}</span>
    </div>
    {% if paper.type == 'testpaper' %}
      <div class="testpaper-card-info">
        <span class="testpaper-card-info__text">
          {{ 'course.testpaper_manage.analysis_card.total_score'|trans }}</span>
        <span class="testpaper-card-info__number">{{ paper.score }}</span>
      </div>
      <div class="testpaper-card-info">
        <span class="testpaper-card-info__text">
          {{ 'course.testpaper_manage.analysis_card.avg_score'|trans }}</span>
        <span class="testpaper-card-info__number">{{ relatedData.avgScore }}</span>
        <span class="glyphicon glyphicon-question-sign testpaper-card-info__icon" data-toggle="tooltip" data-placement="bottom" data-container="body" href="javascript:" title="{{ 'course.testpaper_manage.analysis_card.avg_score_tip'|trans }}" data-original-title=""></span>
      </div>
    {% endif %}
  </div>
</div>
