<tbody>
	<tr class="drop-out-reason">
		<td>
			└─退学原因
		</td>
		<td></td>
		<td></td>

		<td>
			<a href="javascript:;" class="btn btn-default btn-sm" data-url="{{ path('admin_dictionary_create') }}" data-toggle="modal" data-target="#modal"><i class="glyphicon glyphicon-plus"></i> 添加退学原因</a>
		</td>
  	</tr>
  	{% for dictionary in dictionaries %}
	  	<tr>
	  		<td>
	  			&nbsp;&nbsp;&nbsp;&nbsp;└─ {{ dictionary.name }}
	  		</td>
	  		<td>
	  			--
	  		</td>
	  		<td>
	  			{{ dictionary.weight }}
	  		</td>
	  		<td>
	  			<a href="javascript:;" class="btn btn-default btn-sm edit-btn" data-url="{{ path('admin_dictionary_edit', {id:dictionary.id}) }}" data-toggle="modal" data-target="#modal"><i class="glyphicon glyphicon-edit"></i> 编辑</a>
	  			<a href="javascript:;" class="btn btn-default btn-sm delete-btn" data-url="{{ path('admin_dictionary_delete', {id:dictionary.id}) }}" data-toggle="modal" data-target="{{ dictionary.id }}"><i class="glyphicon glyphicon-plus"></i> 删除</a>
	  		</td>
	  	</tr>
	{% else %}
		<tr><td colspan="20"><div class="empty">暂无分类记录</div></td></tr>
	{% endfor %}
</tbody>