<tbody>
	{% for dictionary in dictionaries %}
	<tr class="drop-out-reason">
		<td>
			└─{{ dictionary.name }}
		</td>
		<td></td>

		<td>
			<a href="javascript:;" class="btn btn-default btn-sm" data-url="{{ path('admin_dictionary_create',{type:dictionary.type}) }}" data-toggle="modal" data-target="#modal"><i class="glyphicon glyphicon-plus"></i> 添加</a>
		</td>
  	</tr>
  	{% for dictionaryItem in dictionaryItems %}
  		{% if dictionaryItem.type == dictionary.type %}
	  	<tr>
	  		<td>
	  			&nbsp;&nbsp;&nbsp;&nbsp;└─ {{ dictionaryItem.name }}
	  		</td>
	  		<td>
	  			--
	  		</td>
	  		<td>
	  			{{ dictionaryItem.weight }}
	  		</td>
	  		<td>
	  			<a href="javascript:;" class="btn btn-default btn-sm edit-btn" data-url="{{ path('admin_dictionary_edit', {id:dictionaryItem.id}) }}" data-toggle="modal" data-target="#modal"><i class="glyphicon glyphicon-edit"></i> 编辑</a>
	  			<a href="javascript:;" class="btn btn-default btn-sm delete-btn" data-url="{{ path('admin_dictionary_delete', {id:dictionaryItem.id}) }}" data-toggle="modal" data-target="{{ dictionaryItem.id }}"><i class="glyphicon glyphicon-trash"></i> 删除</a>
	  		</td>
	  	</tr>
	  	{% endif %}
	
	{% endfor %}
	{% endfor %}
	{#{% if not dictionaryItems %}
		<tr><td colspan="20"><div class="empty">暂无分类记录</div></td></tr>
	{% endif %}#}
</tbody>