{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}

{% block title %}{% if exercise.id %}编辑练习{% else %}添加练习{% endif %} - {{ parent() }}{% endblock %}

{% set side_nav = 'lesson' %}
{% set script_controller = 'exercise-manage/exercise' %}

{% block main %}

<div class="panel panel-default panel-col">
  <div class="panel-heading">
		<ol class="breadcrumb">
			<li><a href="{{ path('course_manage_lesson',{id:course.id}) }}">课时管理</a></li>
			<li class="active">{% if exercise.id %}编辑练习{% else %}添加练习{% endif %}</li>
		</ol>
	</div>

	<div class="panel-body">
  	<form id="exercise-form" data-build-check-url="{{ path('course_exercise_check', {courseId:course.id, lessonId:lesson.id}) }}" data-target="{{ path('course_manage_lesson',{id:course.id}) }}" class="form-horizontal" method="post" {% if exercise.id %}data-action="{{ path('course_exercise_update',{ courseId:course.id, lessonId:lesson.id, id:exercise.id }) }}"{% else %}data-action="{{ path('course_manage_exercise_create',{ courseId:course.id, lessonId:lesson.id }) }}"{% endif %} >

    	<div class="form-group">
				<label for="questionCount" class="col-md-2 control-label">题目个数</label>
				<div class="col-md-8 controls">
					<input type="text" id="questionCount" name="questionCount" required="required" class="form-control width-input width-input-large" value="{% if exercise.id %}{{ exercise.itemCount }}{% endif %}">
				</div>
			</div>

    	<div class="form-group">
				<label class="col-md-2 control-label">题目来源</label>
				<div class="col-md-8 controls radios">
					{{ radios('source', {'lesson':'当前课时的题目', 'course':'整个课程的题目'}, exercise.source|default('lesson') ) }}
				</div>
			</div>

  		<div class="form-group">
      	<div class="col-md-2 control-label"><label>难度</label></div>
      	<div class="col-md-8 controls">
      		<select id="course_categoryId" class="form-control width-input width-input-large" name="difficulty">
          	{{ select_options({ '':'不限', 'simple':'简单', 'normal':'一般', 'hard':'困难' }, exercise.difficulty|default('')) }}
        	</select>
      	</div>
      </div>

			<div class="form-group">
				<label class="col-md-2 control-label">题型范围</label>

				<div class="col-md-9 controls">
					{% set range = exercise.questionTypeRange|default(null) %}
					<label class="checkbox-inline">
					  <input type="checkbox" name="questionTypes[]" value="single_choice" {% if 'single_choice' in range %}checked=checked{% endif %} >单选题
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" name="questionTypes[]" value="uncertain_choice" {% if 'uncertain_choice' in range %}checked=checked{% endif %} >不定项选择题
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" name="questionTypes[]" value="choice" {% if 'choice' in range %}checked=checked{% endif %} >多选题
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" name="questionTypes[]" value="fill" {% if 'fill' in range %}checked=checked{% endif %} >填空题
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" name="questionTypes[]" value="determine" {% if 'determine' in range %}checked=checked{% endif %} >判断题
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" name="questionTypes[]" value="essay" {% if 'essay' in range %}checked=checked{% endif %}>问答题
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" name="questionTypes[]" value="material" {% if 'material' in range %}checked=checked{% endif %} >材料题
					</label>
				</div>
			</div>
			<br>
			<p class="help-block">提示：练习为随机出题，只需填写题目个数和题目类型即可。</p>
  		<div class="form-group">
    		<div class="col-md-8 col-md-offset-2 controls">
        	<button class="btn btn-fat btn-primary" id="exercise-save-btn" data-loading-text="正在保存...">保存</button>
    		</div>
  		</div>
    	<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  	</form>
	</div>
</div>

{% endblock %}
