{% extends 'admin/layout.html.twig'%}

{% set menu = 'admin_reward_point_product_exchange_manage' %}

{% set script_controller = 'reward-point-mall/exchange-list'%}

{% block main %}
  <form id="exchange-search-form" class="form-inline well well-sm" action="" method="get" novalidate>

    <div class="mbm">
      <div class="form-group">
        <label>{{'reward_point_product.exchange_time'|trans }}：</label>
        <input class="form-control" type="text" id="startDate" name="startDate"
               value="{{ app.request.query.get('startDate') }}" placeholder="{{ 'form.placeholder.start_date'|trans }}">
        -
        <input class="form-control" type="text" id="endDate" name="endDate"
               value="{{ app.request.query.get('endDate') }}" placeholder="{{ 'form.placeholder.end_date'|trans }}">
      </div>
    </div>

    <div class="form-group">
      <select class="form-control" name="status" id="status">
        {{ select_options(dict('exchangeStatus'), app.request.query.get('status') ,'admin.reward_point_product.select_status'|trans) }}
      </select>
    </div>

    <div class="form-group">
      <select class="form-control" name="keywordType" id="keywordType">
        {{ select_options(dict('exchangeType'), app.request.query.get('keywordType') ? app.request.query.get('keywordType') : 'nickName') }}
      </select>
    </div>

    <div class="form-group">
      <input class="form-control" type="text" id="keyword" name="keyword" value="{{ app.request.query.get('keyword') }}"
             placeholder="{{ 'form.placeholder.keyword'|trans }}">
    </div>

    <button class="btn btn-primary">{{ 'form.btn.search'|trans }}</button>
    <a class="btn btn-primary btn-export-csv"
       href="{{ path('admin_reward_point_product_exchange_export_csv',
       { startDate:app.request.get('startDate'),
         endDate:app.request.get('endDate'),
         status:app.request.get('status'),
         keywordType:app.request.get('keywordType'),
         keyword:app.request.get('keyword')
       }) }}"
       data-export-count="{{ paginator.getItemCount() }}"
       data-export-count-format="{{ paginator.getItemCount()|number_to_human }}"
       data-export-allow-count="{{ setting('magic.export_allow_count') }}"
       data-export-allow-count-format="{{ setting('magic.export_allow_count')|number_to_human }}"
    >{{ 'form.btn.export_result'|trans }}</a>
  </form>

  <table id="exchange-table" class="table table-striped">
    <thead>
    <th width="22%">{{'admin.reward_point_product.product'|trans}}</th>
    <th width="16%">{{'reward_point_product.exchange_time'|trans}}</th>
    <th width="8%">{{setting('reward_point').name|default('admin.reward_point'|trans)}}</th>
    <th width="12%">{{'user.fields.username_label'|trans}}</th>
    <th width="15%">{{'reward_point_product.consignee_information'|trans}}</th>
    <th width="15%">{{'reward_point_product.delivery_message'|trans}}</th>
    <th width="12%">{{'admin.coin.operation'|trans}}</th>
    </thead>

    <tbody>
    {% if orders %}
      {% for order in orders %}
        {% set user = users[order.userId] %}
        {% set product = products[order.productId]|default(null) %}
        {% include 'admin/reward-point-mall/exchange/list-tr.html.twig' %}
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="20">
          <div class="empty">
            {{'user.account.empty'|trans}}
          </div>
        </td>
      </tr>
    {% endif %}
    </tbody>
  </table>

{{ admin_macro.paginator(paginator) }}
{% endblock %}