{% extends 'coin/layout.html.twig' %}

{% set  side_nav = 'my-reward-point'%}


{% block main %}
  <section class="es-section h400">
    <div class="nav-btn-tab">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="{% if nav == 'detail' %}active{% endif %}"><a  href="{{  path('my_reward_point') }}">{{'my.learning.classroom'|trans({'%name%':setting('reward_point').name|default('admin.reward_point'|trans)})}}</a></li>
        <li role="presentation" class="{% if nav == 'mall' %}active{% endif %}"><a  href="{{  path('my_reward_point_mall') }}">{{'my.reward_point.mall'|trans({'%name%':setting('reward_point').name|default('admin.reward_point'|trans)})}}</a></li>
        <li role="presentation" class="{% if nav == 'record' %}active{% endif %}"><a  href="{{  path('my_reward_point_record') }}">{{'my.reward_point.exchange_record'|trans}}</a></li>
        <li role="presentation" class="{% if nav == 'rule' %}active{% endif %}"><a  href="{{  path('my_reward_point_rule') }}">{{'my.reward_point.rule'|trans({'%name%':setting('reward_point').name|default('admin.reward_point'|trans)})}}</a></li>
      </ul>
    </div>
    {% block reward_point_content %}


    {% endblock %}
  </section>
{% endblock %}