{%- macro reward_point_acquire_way(way, targetType) -%}
  {% if way == 'create_question' %}
    {{ 'reward_point.create_question'|trans }}
  {% elseif way == 'create_discussion' %}
    {{ 'group.detail.create_article'|trans }}
  {% elseif way == 'reply_question' %}
    {{ 'reward_point.exchange'|trans }}
  {% elseif way == 'reply_discussion' %}
    {{ 'course.members_manage.official_student.detail.reply_article'|trans }}
  {% elseif way == 'elite_thread' %}
    {{ 'reward_point.elite_thread'|trans }}
  {% elseif way == 'appraise_course_classroom' %}
    {{ 'admin.course_review.content'|trans }}{% if targetType == 'course_review_add' %}{{ 'admin.operation_analysis.income.course'|trans }}{% else %}{{ 'admin.classroom_default_name'|trans }}{% endif %}
  {% elseif way == 'exchange_product' %}
    {{ 'reward_point.exchange'|trans }}
  {% elseif way == 'admin_grant' %}
    {{ 'reward_point.admin_grant'|trans }}{{ setting('reward_point').name|default('admin.reward_point'|trans) }}
  {% elseif way == 'admin_deduction' %}
    {{ 'reward_point.admin_deduction'|trans }}{{ setting('reward_point').name|default('admin.reward_point'|trans) }}
  {% elseif way == 'task_reward_point' %}
    {{ 'reward_point.macro.task_reward_point'|trans }}
  {% elseif way == 'course_reward_point' %}
    {{ 'reward_point.macro.course_reward_point'|trans }}
  {% elseif way == 'daily_login' %}
    {{ 'reward_point.daily_login'|trans }}
  {% endif %}
{%- endmacro -%}

{%- macro reward_point_target(targetId, targetType, note) -%}
  {% if targetType == 'course_thread' or targetType == 'course_thread_elite' %}
    {% set thread = data('CourseThreadByThreadId', {courseId: null, threadId: targetId}) %}
    {% if thread|default() %}
    <a class="color-primary" href="{{ path('course_thread_show', {courseId: thread.courseId, threadId: thread.id}) }}" target="_blank">
      {{ thread.title|default() }}
    </a>
    {% endif %}
  {% elseif targetType == 'course_review_add' %}
    {% set courseReview = data('CourseReview', {reviewId: targetId}) %}
      {% if courseReview|default() %}
    {% set course = data('Course', {courseId: courseReview.courseId}) %}
    {% set courseSet = data('CourseSet', {id: course.courseSetId}) %}
    <a class="color-primary" href="{{ path('course_show', {id: course.id ,tab:'reviews'}) }}" target="_blank">
        {{ courseSet.title|default() }}
    </a>
      {% endif %}
  {% elseif targetType == 'thread' or targetType == 'thread_nice' %}
    {% set thread = data('Thread', {threadId: targetId}) %}
    {% if thread|default() %}
    <a class="color-primary" href="{{ path('classroom_thread_show', {classroomId: thread.targetId, threadId: thread.id}) }}" target="_blank">
      {{ thread.title|default() }}
    </a>
    {% endif %}
  {% elseif targetType == 'course_thread_post' %}
    {% set thread = data('CourseThreadByPostId', {courseId: null, postId: targetId}) %}
    {% if thread|default() %}
    <a class="color-primary" href="{{ path('course_thread_show', {courseId: thread.courseId, threadId: thread.id}) }}" target="_blank">
      {{ thread.title|default() }}
    </a>
    {% endif %}
  {% elseif targetType == 'thread_post' %}
    {% set thread = data('ThreadByPostId', {postId: targetId}) %}
    {% if thread|default() %}
    <a class="color-primary" href="{{ path('classroom_thread_show', {classroomId: thread.targetId, threadId: thread.id}) }}" target="_blank">
      {{ thread.title|default() }}
    </a>
    {% endif %}
  {% elseif targetType == 'classroom_review_add' %}
    {% set classroom = data('Classroom', {classroomId: targetId}) %}
    <a class="color-primary" href="{{ path('classroom_reviews', {id:classroom.id}) }}" target="_blank">
      {{ classroom.title|default() }}
    </a>
  {% elseif targetType == 'task' %}
    {% set task = data('Task', {taskId: targetId}) %}
      {% if task is not empty %}
    {% set course = data('Course', {courseId: task.courseId}) %}
    <a class="color-primary" href="{{ path('course_task_show', {courseId: course.id, id: task.id}) }}" target="_blank">
        {{ course.title|default() }} - {{ task.title|default() }}
    </a>
      {% endif %}
  {% elseif targetType == 'course' %}
    {% set course = data('Course', {courseId: targetId}) %}
      {% if course.teachers is not empty %}
    <a class="color-primary" href="{{ path('my_course_show', {id: course.id}) }}" target="_blank">
      {{ course.title|default() }}
    </a>
      {% endif %}
  {% elseif targetType == 'product' %}
    {% set product = data('Product', {productId: targetId}) %}
    <a class="color-primary" href="{{ path('my_reward_point_product_detail', {productId: product.id}) }}">
      {{ product.title|default() }}
    </a>
  {% else %}
    {% if note|default() %}
      {{ 'reward_point_account.note'|trans }}：{{ note|default() }}
    {% endif %}
  {% endif %}
{%- endmacro -%}

