{%- macro reward_point_acquire_way(way, targetType) -%}
  {% if way == 'create_question' %}
    提出问题
  {% elseif way == 'create_discussion' %}
    发表话题
  {% elseif way == 'reply_question' %}
    回答问题
  {% elseif way == 'reply_discussion' %}
    回复话题
  {% elseif way == 'elite_thread' %}
    话题加精
  {% elseif way == 'appraise_course_classroom' %}
    评价{% if targetType == 'course_review_add' %}课程{% else %}班级{% endif %}
  {% elseif way == 'exchange_product' %}
    兑换商品
  {% elseif way == 'admin_grant' %}
    发放{{ setting('reward_point').name|default('积分'|trans) }}
  {% elseif way == 'admin_deduction' %}
    扣减{{ setting('reward_point').name|default('积分'|trans) }}
  {% elseif way == 'task_reward_point' %}
    完成学习任务
  {% elseif way == 'course_reward_point' %}
    完成课程
  {% elseif way == 'daily_login' %}
    登录奖励
  {% endif %}
{%- endmacro -%}

{%- macro reward_point_target(targetId, targetType, note) -%}
  {% if targetType == 'course_thread' or targetType == 'course_thread_elite' %}
    {% set thread = data('CourseThreadByThreadId', {courseId: null, threadId: targetId}) %}
    {% if thread|default() %}
    <a class="color-primary" href="{{ path('course_thread_show', {courseId: thread.courseId, threadId: thread.id}) }}" target="_blank">
      {{ thread.title|default() }}
    </a>
    {% endif %}
  {% elseif targetType == 'course_review_add' %}
    {% set courseReview = data('CourseReview', {reviewId: targetId}) %}
    {% set course = data('Course', {courseId: courseReview.courseId}) %}
    {% set courseSet = data('CourseSet', {id: course.courseSetId}) %}
    <a class="color-primary" href="{{ path('course_show', {id: course.id ,tab:'reviews'}) }}" target="_blank">
        {{ courseSet.title|default() }}
    </a>
  {% elseif targetType == 'thread' or targetType == 'thread_nice' %}
    {% set thread = data('Thread', {threadId: targetId}) %}
    {% if thread|default() %}
    <a class="color-primary" href="{{ path('classroom_thread_show', {classroomId: thread.targetId, threadId: thread.id}) }}" target="_blank">
      {{ thread.title|default() }}
    </a>
    {% endif %}
  {% elseif targetType == 'course_thread_post' %}
    {% set thread = data('CourseThreadByPostId', {courseId: null, postId: targetId}) %}
    {% if thread|default() %}
    <a class="color-primary" href="{{ path('course_thread_show', {courseId: thread.courseId, threadId: thread.id}) }}" target="_blank">
      {{ thread.title|default() }}
    </a>
    {% endif %}
  {% elseif targetType == 'thread_post' %}
    {% set thread = data('ThreadByPostId', {postId: targetId}) %}
    {% if thread|default() %}
    <a class="color-primary" href="{{ path('classroom_thread_show', {classroomId: thread.targetId, threadId: thread.id}) }}" target="_blank">
      {{ thread.title|default() }}
    </a>
    {% endif %}
  {% elseif targetType == 'classroom_review_add' %}
    {% set classroom = data('Classroom', {classroomId: targetId}) %}
    <a class="color-primary" href="{{ path('classroom_reviews', {id:classroom.id}) }}" target="_blank">
      {{ classroom.title|default() }}
    </a>
  {% elseif targetType == 'task' %}
    {% set task = data('Task', {taskId: targetId}) %}
    {% set course = data('Course', {courseId: task.courseId}) %}
    <a class="color-primary" href="{{ path('course_task_show', {courseId: course.id, id: task.id}) }}" target="_blank">
        {{ course.title|default() }} - {{ task.title|default() }}
    </a>
  {% elseif targetType == 'course' %}
    {% set course = data('Course', {courseId: targetId}) %}
    <a class="color-primary" href="{{ path('my_course_show', {id: course.id}) }}" target="_blank">
      {{ course.title|default() }}
    </a>
  {% elseif targetType == 'product' %}
    {% set product = data('Product', {productId: targetId}) %}
    <a class="color-primary" href="{{ path('my_reward_point_product_detail', {productId: product.id}) }}">
      {{ product.title|default() }}
    </a>
  {% else %}
    {% if note|default() %}
      {{ '备注' }}:{{ note|default() }}
    {% endif %}
  {% endif %}
{%- endmacro -%}

