{% extends 'reward-point/layout.html.twig' %}

{% set nav = 'reward_point_list' %}

{% block reward_point_content %}
  <div class="o-reward-point-product-detail-wrap">
    <div class="clearfix">
      <ol class="breadcrumb breadcrumb-no-bg pull-left" style="background-color: transparent;">
        <li><a href="#">{{ '积分商城'|trans }}</a></li>
        <li class="active">#</li>
      </ol>
    </div>
    <section class="c-reward-point-product-detail">
      <div class="c-reward-point-product-detail__hd clearfix">
        <img class="c-reward-point-product-detail__img">
        <div class="c-reward-point-product-detail__info">
          <div class="c-reward-point-product-detail__title">
          {{'title'}}
          </div>
          <div class="c-reward-point-product-detail__point">
            <span>10000</span> {{'积分'|trans}}
          </div>
          <button class="c-reward-point-product-detail__btn btn btn-primary">{{'立即兑换'|trans}}</button>
        </div>
      </div>
      <div class="c-reward-point-product-detail__bd">
        <div class="c-reward-point-product-detail-info">
          <div class="c-reward-point-product-detail-info__hd">
            <div class="c-reward-point-product-detail-info__title">{{'商品简介'|trans}}</div>
          </div>
          <div class="c-reward-point-product-detail-info__bd">
            <div class="empty text-left pad-no">简介编辑中，敬请期待。</div>
            </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}