{% extends 'reward-point/layout.html.twig' %}

{% set nav = 'record' %}

{% do script(['app/js/reward-point/record/index.js']) %}


{% block reward_point_content %}
  {% if setting('reward_point.enable') == 1|default() %}
  <table class="table table-striped table-hover" id="keyword-table" data-search-form="#keyword-search-form">
    <thead>
    <tr>
      <th width="25%">{{ 'order.name'|trans }}</th>
      <th width="15%">{{ setting('reward_point').name|default('admin.reward_point'|trans) }}</th>
      <th width="20%">{{ 'reward_point_product.exchange_time'|trans }}</th>
      <th width="15%">{{ 'reward_point_product.consignee_information'|trans }}</th>
      <th width="15%">{{ 'reward_point_product.delivery_message'|trans }}</th>
      <th width="10%">{{ 'admin.course_manage.manage.status'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if productOrders|default() %}
      {% for productOrder in productOrders %}
        <tr>
          <td>{{ productOrder.title|default() }}</td>
          <td>{{ productOrder.price|default(0)|round(0, 'floor') }}</td>
          <td>{{ productOrder.createdTime|date_format|default() }}</td>
          <td>
            {% if productOrder.consignee|default() %}
              <a class="link-gray js-popover" href="javascript:;" data-trigger="manual" data-placement="bottom" data-container='body'
                 data-toggle="popover" data-placement="bottom" data-content="{{ productOrder.consignee }}">
                <i class="es-icon es-icon-person"></i>
              </a>
            {% endif %}
            {% if productOrder.telephone|default() %}
            <a class="link-gray js-popover" href="javascript:;" data-trigger="manual" data-placement="bottom" data-container='body'
               data-toggle="popover" data-placement="bottom" data-content="{{ productOrder.telephone }}">
              <i class="es-icon es-icon-phone"></i>
            </a>
            {% endif %}
            {% if productOrder.email|default() %}
            <a class="link-gray js-popover" href="javascript:;" data-trigger="manual" data-placement="bottom" data-container='body'
               data-toggle="popover" data-placement="bottom" data-content="{{ productOrder.email }}">
              <i class="es-icon es-icon-mail"></i>
            </a>
            {% endif %}
            {% if productOrder.address|default() %}
            <a class="link-gray js-popover" href="javascript:;" data-trigger="manual" data-placement="bottom" data-container='body'
               data-toggle="popover" data-placement="bottom" data-content="{{ productOrder.address }}">
              <i class="es-icon es-icon-locationcircle"></i>
            </a>
            {% endif %}
          </td>
          <td>
            <a class="link-gray js-popover" href="javascript:;" data-trigger="manual" data-placement="bottom" data-container='body'
               data-toggle="popover" data-placement="bottom" data-content="{{ productOrder.message }}" herf="">
              {{ productOrder.message|plain_text(4)|default('无')|trans }}</a>
          </td>
          <td>
            {% if productOrder.status=='created' %}
              <span class="label  label-warning course-status">{{ 'reward_point_product.pending'|trans }}</span>
            {% else %}
              <span class="label label-success course-status">{{ 'reward_point_product.delivered'|trans }}</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="20">
          <div class="empty">{{ 'admin.iap_product.empty'|trans }}</div>
        </td>
      </tr>
    {% endif %}
    </tbody>
  </table>
  {{ web_macro.paginator(paginator) }}
  {% else %}
    <div class="alert alert-danger">{{ 'my.reward_point.record.permissions'|trans({'%name%':setting('reward_point').name|default('admin.reward_point'|trans)}) }}</div>
  {% endif %}
{% endblock %}