{% extends 'bootstrap-modal-layout.html.twig' %}

{% block title %}{{ '提示'|trans }}{% endblock %}
{% block body %}
  <div class="alert">
    {% set message = slot('course.expired.message', {
      course: course,
      member: member
    }) %}
    {% if not message | trim is empty %}
      {{ message|raw }}
    {% else %}
      {% if course.expiryMode == 'date' %}
        {{ '您购买的课程已到期，无法学习任务、提问等。如有疑问请联系老师。'|trans }}
      {% else %}
        {{ '您购买的课程已到期，无法学习任务、提问等。如有疑问请联系老师，或点击 重新加入 。'|trans }}
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% set hide_footer = course.expiryMode != 'days' %}

{% block footer %}
  <a href="{{ path('course_member_deadline_reach',{id: course.id}) }}" class="btn btn-primary">
    {{'退出并重新加入'|trans }}
  </a>
{% endblock %}
