{% extends 'bootstrap-modal-layout.html.twig' %}

{% set message = slot('course.expired.message', {
  course: course,
  member: member
}) %}

{% block title %}{{ 'course.member.tips.title'|trans }}{% endblock %}
{% block body %}
  <div class="alert">
    {% if member.deadline < timestamp() and member.deadline != 0 %}
      {% if course.expiryMode == 'date' %}
        {{ 'course.member.course.tips'|trans({'%taskName%':setting('course.task_name')|default('admin.setting_course.task'|trans)}) }}
      {% else %}
        {{ 'course.member.course.allow_buy.tips'|trans({'%taskName%':setting('course.task_name')|default('admin.setting_course.task'|trans)}) }}
      {% endif %}
    {% elseif course.expiryMode == 'date' and course.expiryStartDate > timestamp() %}
      {{ 'course.member.course.expiry_start_date_tips'|trans({'%taskName%':setting('course.task_name')|default('admin.setting_course.task'|trans)}) }}
    {% elseif message|trim is not empty %}
       {{ message|raw }}
    {% endif %}
  </div>
{% endblock %}

{% set hide_footer = course.expiryMode != 'days' and not message %}

{% block footer %}
  {% if not message %}
    <a href="{{ path('course_member_deadline_reach',{id: course.id}) }}" class="btn btn-primary">
      {{'course.member.course.join_btn'|trans }}
    </a>
  {% else %}
    <a href="{{ path('course_exit_no_reason', {id: course.id}) }}" class="btn btn-primary">
      {{'course.member.course.exit_btn'|trans }}
    </a>
  {% endif %}
{% endblock %}
