{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}

{% block title %}文章预览:{{ essay.title }} {% endblock %}

{% block body %}

<div class="panel-body">
  {% for id, item in items %}
    {% if 'chapter' in id %}
      <div>
        {% if item.type == 'unit' %}
          &nbsp;&nbsp;第 <span class="number">{{ item.number }}</span>节： {{ item.title }}
        {% else %}
          第 <span class="number">{{ item.number }}</span> 章： {{ item.title }}
        {% endif %}
      </div>
    {% elseif 'content' in id %}
      <div>&nbsp;&nbsp;&nbsp;&nbsp;{{ item.title }}</div>
      <div>    {{ item.content|raw }}</div>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
{% endblock %}