{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}

{% block title %}文章预览:{{ essay.title }} {% endblock %}

{% block body %}

<div class="panel-body">
  {% for id, item in items %}
    {% if 'chapter' in id %}
      <div>
        {% if item.type == 'unit' %}
          <h4>&nbsp;&nbsp;第{{ item.number }}节： {{ item.title }}</h4>
        {% else %}
        <h4><strong>第{{ item.number }}章： {{ item.title }}</strong></h4>
        {% endif %}
      </div>
    {% elseif 'content' in id %}
      <strong>&nbsp;&nbsp;&nbsp;&nbsp;{{ item.title }}</strong>
      <div>    {{ item.content|raw }}</div>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
{% endblock %}