<div class="course-item cd-mb40 clearfix">
  <a class="course-picture-link" href="{{ path('open_course_show', {courseId:course.id}) }}">
    <img class="course-picture" src="{{ filepath(course.largePicture, 'course.png') }}">
  </a>
  <div class="course-info">
    <div class="title cd-mb24 text-overflow">
      <a class="cd-link-gray-dark" href="{{ path('open_course_show', {courseId:course.id}) }}">{{ course.title }}</a>
    </div>

    <div class="status">
      <span class="color-success">{{ 'open_course'|trans }}</span>
    </div>
  </div>

  <div class="course-btn-item">
    <a class="btn cd-btn cd-btn-primary cd-btn-lg course-btn" href="{{ path('open_course_show', {courseId:course.id}) }}" target="_blank">{{ 'course.block_grid.view_course_btn'|trans }}</a>
  </div>
</div>
