{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}订单确认 - {{ parent() }}{% endblock %}

{# {% set script_controller = 'customwebbundle/controller/carts/list' %}

{% set pageNav = pageNav|default('hotSale') %} #}

{# <div class="page-header"><h1>订单确认</h1></div> #}
{% block content %}
  
  {{ web_macro.flash_messages() }}

  <div class="row">
    {% include 'CustomWebBundle:Order:order-process.html.twig'  with { process : 'verify'} %}
  </div>
  <div class="row">
      {# 确认用户信息 #}
      {# {{ render(controller('CustomWebBundle:Order:userVerify'))}} #}
  </div>
   <div class="row">
      {# 发票信息 #}
      {# {{ render(controller('CustomWebBundle:Order:userVerify'))}} #}
  </div>
   <div class="row">
      {# 地址信息 #}
      {# {{ render(controller('CustomWebBundle:Order:userVerify'))}} #}
  </div>
  <div class="row">
      {# 订单信息 #}
      {# {{ render(controller('CustomWebBundle:Order:userVerify'))}} #}
  </div>

{% endblock %}