{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

<div class="lesson-about lesson-lecture-note">
<h5>课时讲义</h5>
  <div>
  {% for lessonLectureNote in lessonLectureNotes %}
    {{ lessonLectureNote.title }}
  {% else %}
    <div class="empty-item" style="text-align:left;margin-left:10px;">此课时暂无讲义</div>。
  {% endfor %}
  </div>
  
  {% for items in essayContentItems %}
    {% for id, item in items %}
      {% if 'chapter' in id %}
        <div>
          {% if item.type == 'unit' %}
            <h4>&nbsp;&nbsp;第{{ item.number }}节： {{ item.title }}</h4>
          {% else %}
          <h4>第{{ item.number }}章： {{ item.title }}</h4>
          {% endif %}
        </div>
      {% elseif 'content' in id %}
        <div>{{ item.content|raw }}</div>
      {% endif %}
    {% endfor %}
  {% endfor %}

  <div>
    {% for essayMaterial in essayMaterials%}
      {{ essayMaterial.content|raw }}
    {% endfor %}
  </div>
</div>
