{% extends 'TopxiaAdminBundle:Course:layout.html.twig' %}

{% block title %}笔记管理 - {{ parent() }}{% endblock %}

{% set menu = 'note' %}

{% set script_controller = 'course/note' %}

{% block main %}
<div class="page-header clearfix">
  <h1 class="pull-left">笔记管理</h1>
</div>

<div class="well well-small">
  <form>
    <div class="col-lg-3">
      {{ form_widget(form.keywords, {attr:{placeholder:'输入关键词'}}) }}
    </div>

    <div class="col-lg-3">
      {{ form_widget(form.nickname, {attr:{placeholder:'输入作者昵称'}}) }}
    </div>

    <input type="submit" class="btn btn-primary" value="搜索">
  </form>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th wdith="5%"></th>
      <th width="15%">作者</th>
      <th width="10%">课程标题</th>
      <th width="10%">课时标题</th>
      <th width="45%">内容</th>
      <th width="20%">创建时间</th>
    </tr>
  </thead>
  <body>
    {% for note in notes %}
      <tr>
        <td><input value="{{note.id}}" type="checkbox" name='note-item'></td>
        <td>
        	{{ users[note.userId].nickname }}
        </td>
         <td>
          {{ courses[note.courseId].title }}
        </td>
        <td>
          {{lessons[note.lessonId].title}}
        </td>
        <td>
        {{ note.content | raw | plain_text(20) }}
        </td>
        <td>{{ note.createdTime|date('Y-n-d H:i:s') }}</td>
      </tr>
    {% endfor %}
  </body>
</table>

 <input class= "choose-all" name="choose-all" type="checkbox">
    全选/取消全选
  <a class="note-delete pull-right btn btn-danger" href="javascript:"  data-url="{{ path('admin_note_delete_notes') }}">删除</a>

{% endblock %} 