{% set testpaper = testpaper|default(null) %}
{% set targetResultInfo = targetResultInfo|default(null) %}
{% set resultListRout = resultListRout|default('course_manage_testpaper_result_list') %}

<style>
  .testpaper-list{
    border-radius: 5px;
    padding-bottom: 0px;
    border: 0;
    overflow:hidden;
    margin-bottom: 20px
  }
  .testpaper-list a{
    color: #272a41;
  }

  .testpaper-meta{
    color: #9496a1;
  }
  .testpaper-info{
    background-color: #fafafa;
    padding: 0 15px;
  }
  .testpaper-describe{
    color: #9496a1;
    height: 40px;
    overflow:hidden;
  }
  .result-info{
    background-color: #f4f4f4;
    height: 129px;
    border-left: 1px dashed #dcdcdc;
    padding: 40px 11px 35px 11px;
  }
  .count-info a{
    color: inherit;
  }
  .testpaper-span{
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }
  .panel-default {
    padding:  0 20px;
  }
</style>

<div class="clearfix testpaper-list">
  <div class="testpaper-info col-md-9">
    <div>
      <h3>
        <a href="">
          {% if task.isOptional %}
            {{ 'course.testpaper_check.optional_task_title'|trans({'%title%':task.title}) }}
          {% else %}
            {{ 'course.catalogue.task_status.task'|trans({'%taskNumber%':task.number, '%taskTitle%':task.title}) }}
          {% endif %}
        </a>
      </h3>
    </div>
    <div class="testpaper-describe">
      {% if testpaper %}{{ testpaper.name }}{% else %}{{ 'course.testpaper_check.testpaper_delete'|trans }}{% endif %}
    </div>
    <div class="mvm testpaper-meta">
      <span class="mrl">{{'course.testpaper_check.start_date'|trans}}:{{ task.createdTime|date('Y-m-d H:i') }}</span>
    </div>
  </div>
  
  <div class="result-info col-md-3 text-center">
    {% if testpaper %}
      <div class="row">
        <div class="count-info pull-left color-success col-md-4">
          <a href="{{ path(resultListRout,{id:targetId,testpaperId:testpaper.id, activityId:task.activityId,status:'finished'}) }}">
            <span class="testpaper-span">{{'course.testpaper_check.status.check'|trans}}</span><br>
            <p class="mtm pts">{{ targetResultInfo.finished|default(0) }}</p>
          </a>
        </div>
        <div class="count-info pull-left color-warning col-md-4">
          <a href="{{ path(resultListRout,{id:targetId,testpaperId:testpaper.id,activityId:task.activityId,status:'reviewing'}) }}">
            <span class="testpaper-span">{{'course.testpaper_check.status.not_check'|trans}}</span><br>
            <p class="mtm pts">{{ targetResultInfo.reviewing|default(0) }}</p>
          </a>
        </div>
        <div class="count-info pull-left color-danger col-md-4">
        <a href="{{ path(resultListRout,{id:targetId,testpaperId:testpaper.id,activityId:task.activityId,status:'doing'}) }}">
          <span class="testpaper-span">{{'course.testpaper_check.status.not_submit'|trans}}</span><br>
          <p class="mtm pts">{{ targetResultInfo.doing|default(0) }}</p>
        </a>
        </div>
      </div>
    {% endif %}
  </div>
  
</div>