{% set testpaper = testpaper|default(null) %}
{% set targetResultInfo = targetResultInfo|default(null) %}
{% set resultListRout = resultListRout|default('course_manage_testpaper_result_list') %}

<style>
  .testpaper-list{
    border-radius: 5px;
    padding-bottom: 0px;
    border: 0;
    overflow:hidden;
    margin-bottom: 20px
  }
  .testpaper-list a{
    color: #272a41;
  }

  .testpaper-meta{
    color: #9496a1;
  }
  .testpaper-info{
    background-color: #fafafa;
    padding: 0 15px;
  }
  .testpaper-describe{
    color: #9496a1;
    height: 40px;
    overflow:hidden;
  }
  .result-info{
    background-color: #f4f4f4;
    height: 129px;
    border-left: 1px dashed #dcdcdc;
    padding: 40px 11px 35px 11px;
  }
  .count-info a{
    color: inherit;
  }
  .testpaper-span{
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }
  .panel-default {
    padding:  0 20px;
  }
</style>

<div class="clearfix testpaper-list">
  <div class=" testpaper-info col-md-6">
    <div>
      <h3>
        <a href="{{ path(resultListRout,{id:targetId,testpaperId:testpaper.id,status:'all'}) }}">{{ testpaper.name }}</a>
      </h3>
    </div>
    <div class="testpaper-describe">{{ testpaper.description|purify_and_trim_html|raw }}</div>
    <div class="mvm testpaper-meta">
      <span class="mrl">{{'course.testpaper_check.start_date'|trans}}:{{ testpaper.createdTime|date('Y-m-d H:i') }}</span>
    </div>
  </div>

  <div class="col-md-3">
    <a href="#modal" data-toggle="modal" data-url="{{ path('course_manage_testpaper_result_graph', {id:'128', activityId:'816'}) }}">成绩分布</a>

    <a href="" {% if targetResultInfo.reviewing|default(0) == 0 %}class="disabled"{% endif %}><i class="es-icon es-icon-check"></i></a>
  </div>

  <div class="result-info col-md-3 text-center">
    <div class="row">
      <div class="count-info pull-left color-primary col-md-4">
        <a href="{{ path(resultListRout,{id:targetId,testpaperId:testpaper.id,status:'finished'}) }}">
          <span class="testpaper-span ">{{'course.testpaper_check.status.check'|trans}}</span><br>
          <p class="mtm pts">{{ targetResultInfo.finished|default(0) }}</p>
        </a>
      </div>
      <div class="count-info pull-left  color-warning col-md-4">
        <a href="{{ path(resultListRout,{id:targetId,testpaperId:testpaper.id,status:'reviewing'}) }}">
          <span class="testpaper-span">{{'course.testpaper_check.status.not_check'|trans}}</span><br>
          <p class="mtm pts">{{ targetResultInfo.reviewing|default(0) }}</p>
        </a>
      </div>
      <div class="count-info pull-left color-danger col-md-4">
      <a href="{{ path(resultListRout,{id:targetId,testpaperId:testpaper.id,status:'doing'}) }}">
        <span class="testpaper-span">{{'course.testpaper_check.status.not_submit'|trans}}</span><br>
        <p class="mtm pts">{{ targetResultInfo.doing|default(0) }}</p>
      </a>
      </div>
    </div>
  </div>
</div>