<div class="courseset-manage-move-tip">
  <img class="move-tip__img" src="{{ asset('static-dist/app/img/testpaper/move.png') }}"
       srcset="{{ asset('static-dist/app/img/testpaper/move@2x.png') }} 2x" alt="move"/>
  <p>{{ 'course.testpaper_manage.transfer_text'|trans }}</p>
  <a href="{{ path('question_bank_list') }}" class="cd-btn cd-btn-primary move-tip__btn"> {{ 'course.testpaper_manage.transfer_btn'|trans }} </a>
</div>