<style>
  .testpaper_num{
    vertical-align: middle;
  }
</style>
<table class="table table-bordered mb0">
  <tr>
    <td width="19%"></td>
    <td width="27%">{{'question.nums'|trans}}</td>
    <td width="27%">{{'site.question.attr.score'|trans}}</td>
    <td width="27%">试卷(份)</td>
  </tr>
  {% set first = true %}
  {% for section in assessment.sections %}
    <tr>
      <td>{{ section.name }}</td>
      <td >{{ section.item_count|default(0) }}</td>
      <td >{{ section.total_score|default(0) }}</td>
      {% if first %}
        <td rowspan="{{ assessment.sections|length }}" style="vertical-align: middle">100</td>
        {% set first = false %}
      {% endif %}
    </tr>
  {% endfor %}
</table>
