{% extends 'layout.html.twig' %}

{% block title %}{{ assessment.name }} - {{ parent() }}{% endblock %}
{% set showHeader = 1 %}

{% block stylesheets %}
  {{ parent() }}
  {% if maincolor != 'default' and setting('theme.code', 'jianmo') == 'jianmo' %}
    <link href="{{ asset('static-dist/app/css/item-bank-' ~ maincolor ~ '.css') }}" rel="stylesheet" />
    <link href="{{ asset('static-dist/app/css/item-bank-antdv-' ~ maincolor ~ '.css') }}" rel="stylesheet" />
  {% else %}
    <link href="{{ asset('static-dist/app/css/item-bank.css') }}" rel="stylesheet" />
    <link href="{{ asset('static-dist/app/css/item-bank-antdv.css') }}" rel="stylesheet" />
  {% endif %}
{% endblock %}

{% block body %}
  {% block header %}
    {% if showHeader %}{{ parent() }}{% endif %}
  {% endblock %}

  <div class="js-testpaper-container container mt20" data-need-job="{{ needJob }}" data-job-sync="{{ jobSync }}" data-job-id="{{ answerScene.question_report_job_name }}">
    <div class="js-data-large-loading cd-alert cd-alert-warning" hidden>
      {{ 'exam_bank.analysis.data_large_loading'|trans }}
    </div>
    <div class="js-data-large-info cd-alert cd-alert-warning" hidden><i class="cd-icon cd-icon-info"></i>{{ 'exam_bank.analysis.data_large_info'|trans({ '%date%': answerScene.question_report_update_time|date('Y-m-d H:i:s')  }) }}
      <button data-url="{{ path('exam_result_analysis_job_sync', {answerSceneId:answerScene.id}) }}" data-check-url="{{ path('exam_result_analysis_job_check', {answerSceneId:answerScene.id}) }}"
              class="js-data-large-loading-btn cd-btn cd-btn-warning cd-btn-sm pull-right" style="position: relative;bottom: 5px;">{{ 'exam_bank.analysis.data_large_loading_btn'|trans }}</button>
    </div>

    <div class="js-data-large-finish cd-alert cd-alert-warning" hidden>
      {{ 'exam_bank.analysis.data_large_loading_finish'|trans }}
    </div>

    <div class="row">
      <div class="col-md-9 prevent-copy">
        {{ render(controller('AppBundle:AnswerEngine/AnswerEngine:sceneReport', {assessmentId:assessment.id, answerSceneId: answerSceneReport.answer_scene_id})) }}
      </div>
      <div class="col-md-3">
        {% include 'testpaper/analysis-card.html.twig' %}
      </div>
    </div>
  </div>

  {% block footer %}
    {% if showHeader|default(1) %}{{ parent() }}{% endif %}
  {% endblock %}
{% endblock %}