{% extends 'CustomWebBundle::layout.html.twig' %}
{% set nextLearnLesson = currentCoursePackage.nextLearnLesson|default() %}
{% set currentCourse = currentCoursePackage.course|default() %}
{% block stylesheets %}
  {{ parent()}}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/customweb/css/head-special.css') }}">
{% endblock %}
{% block full_content %}
  <div class="container header-section">
    <div class="header-layout clearfix">
      {% if primaryPost %}
        <div class="header-title hidden-xs" >{% set postGroup = data('PostGroup', {id:primaryPost.groupId}) %}{{ postGroup.name|default() }}/{{ primaryPost.name|default() }}</div>
      {% endif %}
      <div class="header-content clearfix">
        <div class="item header-task"> 当前任务：<span>
          {% if currentCourse %}
            {{ currentCourse.title|default() }}
          {% else %}
            当前没有学习任务
          {% endif %}
        </span></div>
        <div class="item header-progress hidden-xs">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ passPercentage }}%;"></div>
          </div>
        </div>
        <div class="item progress-text hidden-xs"> {{ passRate }}</div>

        {% if currentCourse.studyStatus|default() == 'learning' %}
          <a class="btn btn-primary" target="_blank" role="button" href="{{ path('course_learn', {id:currentCourse.id}) }}#lesson/{{nextLearnLesson.id|default()}}">
            <i class="iconfont icon-unlock1"></i>继续学习
          </a>
        {% elseif currentCourse.studyStatus|default(false) %}
          <button data-toggle="modal" data-target="#modal" data-url="{{ path('internal_training_course_unlock', {courseId:currentCourse.id}) }}" type="button" class="btn btn-primary"><i class="iconfont icon-lock"></i>解锁学习</button>
        {% else %}
        {% endif %}

      </div>
    </div>
  </div>
  <div class="container content-section">
    <div class="panel-group" id="accordion" role="tablist">
      {% for post in posts %}
        <div class="panel panel-course 
        {% if currentCoursePackage is null %}
          {% if loop.index == loop.length %}active{% endif %}
        {% else %}
          {% if currentCoursePackage.postId == post.id %}active{% endif %}
        {% endif %}
          ">
          <div class="panel-heading js-panel-heading" role="tab" id="heading-{{ post.id }}">
            <h4 class="panel-title">
              <a class="link collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ post.id }}">
                {{ post.name }}
                <div class="pull-right text-more hidden-xs">MORE<span class="glyphicon glyphicon-menu-right"></span></div>
              </a>
            </h4>
          </div>
          <div id="collapse-{{ post.id }}" class="panel-collapse 
          {% if currentCoursePackage is null %}
            {% if loop.last %} collapse in {% else %} collapse {% endif %}
          {% else %}
            {% if currentCoursePackage.postId == post.id %}collapse in{% else %} collapse {% endif %}"
          {% endif %}
          role="tabpanel">
            <div class="panel-body">
              {% for postCourseCategory in postCourseCategorys %}
                {% if postCourseCategory.postId == post.id %}
                  <div class="panel panel-theme">                
                      <div class="panel-title">
                          <div class="title-detail">
                            {% if postCourseCategory.categoryId %}
                              {% set category = data('Category', {categoryId:postCourseCategory.categoryId}) %}{{category.name}}
                            {% else %}
                              默认分类
                            {% endif %}
                          </div>
                      </div>
                      <div class="panel-body panel-body-theme">
                        <div class="row">
                            <div class="item-container ">
                              <ul class="list-group list-group-course clearfix">
                                {% set index = 1 %}
                                {% for postCoursePackage in postCoursePackages %}
                                  {% if postCoursePackage.postId == post.id %}
                                    {% if postCoursePackage.course.categoryId == postCourseCategory.categoryId %}
                                        {% include 'CustomWebBundle:Default:list-group-item-li.html.twig' %}
                                      {% set index = index + 1 %}
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                              </ul>
                              <div class="line"></div>
                            </div>
                        </div>

                      </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footer %}
{{load_script('customwebbundle/controller/default/index')}}
{% endblock %}