{% extends 'layout.html.twig' %}

{% block title %}{% if category.seoTitle %}{{ category.seoTitle }}{% else %}{{ category.name }}{% endif %} - {{ parent() }}{% endblock %}

{% block keywords %}{{ category.seoKeyword }}{% endblock %}

{% block description %}{{ category.seoDesc }}{% endblock %}


{% set bodyClass = 'artcile-cat-page' %}
{% set articleSetting = setting('article') %}
{% block content %}

  {{ render(controller('AppBundle:Article:categoryNav', {categoryCode:categoryCode})) }}

  <div class="article-list-body row">
    <div class="col-md-8 article-list-main">
      {% include 'article/part/list-main.html.twig' %}
    </div>
    
    <aside class="col-md-4 article-sidebar">
      {% include 'article/widget/sidebar.html.twig' with {'isShowComment': articleSetting.show_comment|default('1') } %}
    </aside>
  </div>

{% endblock %}
