{% extends 'course-manage/layout.html.twig' %}

{% block title %}{{ 'course.members_manage'|trans }} - {{ course.title }} - {{ parent() }}{% endblock %}
{% set course_side_nav = 'students' %}

{% do script(['vue3/js/course-manage/students/index.js']) %}

{% block main %}
  <div style="margin-left: 200px; padding: 20px 32px 0 32px;">
    {{ web_macro.flash_messages() }}
    <div id="student-list-app"
         data-course-id="{{ course.id }}"
         data-course-set-id="{{ course.courseSetId }}"
         data-course-status="{{ course.status }}"
         data-is-normal-course="{{ courseSet.parentId == 0 }}"
         data-enable-add-and-remove="{{ isEnableAddAndRemove }}"
         data-enable-export="{{ enableExport }}"
    ></div>
  </div>

  {% include 'export/export-modal.html.twig' %}
{% endblock %}
