<ul class="cd-tabs mbl">
  <li {% if panelNav == 'manage' %}class="active" {% endif %}>
    <a href="{{path('course_set_manage_course_students', {courseSetId: courseSet.id, courseId: course.id})}}">{{ 'course.members_manage.official_student'|trans }}</a>
  </li>
  <li {% if panelNav == 'join' %}class="active" {% endif %}>
    <a href="{{path('course_set_manage_course_records', {courseSetId: courseSet.id, courseId: course.id, type: 'join'})}}">{{ 'course.members_manage.join_records'|trans }}</a>
  </li>
  <li {% if panelNav == 'exit' %}class="active" {% endif %}>
    <a href="{{path('course_set_manage_course_records', {courseSetId: courseSet.id, courseId: course.id, type: 'exit'})}}">{{ 'course.members_manage.quit_records'|trans }}</a>
  </li>
</ul>