{% extends 'bootstrap-modal-layout.html.twig' %}
{% set modal_class= "modal-lg" %}

{% block title %}
    {{ user.nickname|default('') }}{{ '的学习情况'|trans }}
{% endblock %}

{% block body %}
<div class="class-detail-content">
	{#先隐藏，数据不准确#}
  <div class="es-piece hidden">
	<div class="piece-header">学习进度</div>
	<div class="study-process-list row">
	  <div class="col-md-4 col-sm-4">
	    <div class="study-process-item well">
	      <div class="title">累计学习天数</div>
	      <div class="content">
	        <span class="current">{{daysCount}}天</span>
	      </div> <i class="es-icon es-icon-column"></i>
	    </div>
	  </div>
	  <div class="col-md-4 col-sm-4">
	    <div class="study-process-item well">
	      <div class="title">学习时长</div>
	      <div class="content">
	        <span class="current">{{learnedTime}}小时</span>
	      </div> <i class="es-icon es-icon-target"></i>
	    </div>
	  </div>
	  <div class="col-md-4 col-sm-4">
	    <div class="study-process-item well bg-success">
	      <div class="title">日均学习时长</div>
	      <div class="content">
	        <span class="current">{{learnedTimePerDay}}小时</span>
	      </div>
	      <i class="es-icon es-icon-speed" style="font-size:90px"></i>
	    </div>
	  </div>
	</div>
	<div class="well process-table hidden">
	  <div class="reference">
	    <span class="reference-item item-one">
	      <i class="color-lump lump-xs"></i>
	      未完成
	    </span>
	    <span class="reference-item item-two">
	      <i class="color-lump lump-xs lump-success"></i>
	      准时完成
	    </span>
	    <span class="reference-item item-three">
	      <i class="color-lump lump-xs lump-warning"></i>
	      逾期
	    </span>
	    <span class="reference-item item-four">
	      <i class="color-lump lump-xs lump-danger"></i>
	      严重逾期
	    </span>
	  </div>
	  <div class="lump-list">
	    <a class="color-lump lump-danger" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content='<div class="process-popover"'>
	      <div class="process-popover-title bg-danger"> <i class="es-icon es-icon-kaoshi mrs"></i>
	        任务 :都睡觉
	      </div>
	      <div class="process-popover-score">1 天</div>
	      <div class="process-popover-date">计划完成日期：2016-03-08</div>
	      <div class="process-popover-date">实际完成日期：2016-11-29</div>
	    </a>
	  </div>
	</div>
	</div>

	{{ render(controller('AppBundle:Course/StudentManage:reportCard',{course:course,user:user})) }}

	<div class="es-piece" style="margin-bottom:-20px">
	<div class="piece-header">学习数据</div>
	<div class="study-data row">
	  <div class="col-md-3 col-sm-6">
	    <div class="well">
	      <p>发起提问</p>
	      <p class="number">{{questionCount}}</p>
	      <i class="es-icon es-icon-comment1"></i>
	    </div>
	  </div>
	  <div class="col-md-3 col-sm-6">
	    <div class="well">
	      <p>参加活动</p>
	      <p class="number">{{activityCount}}</p>
	      <i class="es-icon es-icon-activity"></i>
	    </div>
	  </div>
	  <div class="col-md-3 col-sm-6">
	    <div class="well">
	      <p>发起话题</p>
	      <p class="number">{{discussionCount}}</p>
	      <i class="es-icon es-icon-topic"></i>
	    </div>
	  </div>
	  <div class="col-md-3 col-sm-6">
	    <div class="well">
	      <p>回复话题</p>
	      <p class="number">{{postCount}}</p>
	      <i class="es-icon es-icon-answer"></i>
	    </div>
	  </div>
	 
	</div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
