{% extends (course_count(course.courseSetId) > 1 ? 'course' : 'courseset') ~ '-manage/layout.html.twig' %}

{% block title %}{{'course.members_manage.quit_records.content_title'|trans}} - {{ course.title }} - {{ parent() }}{% endblock %}
{% do script(['app/js/course-manage/students/index.js']) %}
{% set side_nav = 'students' %}
{% set active = 'plan' %}

{% block main %}
  <div class="panel panel-default">
      <div class="panel-heading">
        {{'course.members_manage.quit_records.content_title'|trans}}
        {% if courseSet.type != 'live' %}
        <div class="pull-right">
          {% if course.status != 'published' %}
            <button class="btn btn-success btn-sm js-publish-course"
              data-url="{{ path('course_set_manage_course_publish', {courseSetId: courseSet.id, courseId: course.id}) }}">
              {{ 'course.members_manage.publish_btn'|trans }}
            </button>
          {% endif %}
      </div>
      {% endif %}
      </div>
    <div class="panel-body">
      <ul class="nav nav-pills mbl">
        <li class="">
          <a href="{{path('course_set_manage_course_students', {courseSetId: courseSet.id, courseId: course.id})}}">{{ 'course.members_manage.official_student'|trans }}</a>
        </li>

        <li class="active">
          <a href="javascript:;">{{ 'course.members_manage.quit_records'|trans }}</a>
        </li>
      </ul>
      {{ render(controller('AppBundle:MemberOperationRecord:showExitRecord', {type: 'course', id: course.id})) }}
    </div>
  </div>
{% endblock %}
