{% extends 'bootstrap-modal-layout.html.twig' %}

{% block title %}
  {{'site.default.student'|trans}} {{'course_manage.student.remark_btn'|trans}}
{% endblock %}

{% do script(['libs/jquery-validation.js','app/js/course-manage/student-remark/index.js'])%}
{% set modalSize = 'large' %}
{% block body %}
<form id="student-remark-form" method="post" action="{{ path('course_set_manage_course_students_remark', {courseSetId: course.courseSetId, courseId:course.id, userId:user.id}) }}" data-user="{{ default.user_name|default('site.default.student'|trans) }}">
  <div class="form-group">
    <div class="controls">
    	<input class="form-control" id="student-remark" name="remark" value="{{ member.remark|trans }}" >
    	<div class="help-block">
        {{'course.members_manage.official_student.remark.tips'|trans}}
      </div>
    </div>
  </div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>
{% endblock %}
{% block footer %}
  <button type="button" class="btn btn-primary pull-right js-student-remark-save-btn">{{'form.btn.save'|trans}}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>
{% endblock %}
