{% extends 'bootstrap-modal-layout.html.twig' %}

{% block title %}
  {{ 'admin.operation_certificate.template.stamp'|trans }}
{% endblock %}

{% set modal_class = 'cd-modal-dialog' %}

{% do script(['app/js/admin-v2/operating/certificate-template/stamp/index.js']) %}

{% block body %}
  <style>
    .img-full {
      display: block;
      height: auto;
      width: 100%;
    }
  </style>
  <img class="img-full" src="" id="stamp-crop" alt=""/>
  <div class="text-center cd-dark-major cd-mt16 cd-mb16">
    {{ 'user.settings.avatar.crop_hint'|trans }}
  </div>
{% endblock %}

{% block footer %}
  <div class="text-center">
    <button type="button" class="btn cd-btn btn-default cd-btn-lg" id="select-btn">
      {{ 'user.settings.profile.choose_again'|trans }}
    </button>

    <button type="button" class="btn cd-btn btn-primary cd-btn-lg" id="save-btn"
            data-url="{{ path('admin_v2_operation_certificate_template_stamp_modal') }}"
            data-loading-text="{{ 'form.btn.submit.submiting'|trans }}">
      {{ 'form.btn.save'|trans }}
    </button>
  </div>
{% endblock %}
