{% do script(['app/js/order/coupon-item/index.js']) %}

<div class="order-center-deduction">
  <span class="order-center-deduction__title">
    {{'order.confirm.coupon'|trans}}
  </span>
  <span class="order-center-deduction__content">
    通过优惠券抵扣金额
  </span>
</div>

<div class="order-center-coupon" id="order-coupon">
  <div class="order-center-coupon__select" id="order-center-coupon__select">
    <div class="form-group cd-form-group cd-form-group-inline cd-form-group-action" id="coupon-form-group">
      <input type="text" class="form-control" name="couponCode" value=""  
        data-display="{{'plugin.coupon.use.input_placeholder'|trans}}"  placeholder="{{'plugin.coupon.use.input_placeholder'|trans}}">
      <div class="action-button">
        <button type="button" data-loading-text="使用中" class="btn cd-btn cd-btn-ghost-primary" data-url="{{ path('coupon_check') }}" id="use-coupon-btn">{{'form.btn.use'|trans}}</button>
      </div>
      <div id="coupon-error-message" class="form-error-message" style="display:none"></div>
    </div>
    {% if product.availableDeducts.coupon|default() %}
      <a href="javascript:;" id="select-coupon-btn" class="cd-link-gray" data-container="body"  data-toggle="popover" placement="left" data-html="html" data-content='
        {% for deduct in product.availableDeducts.coupon %}
          <label for="radio_1" class="cd-radio cd-mb16" >
            <input id="radio_1" type="radio" class="js-existing-coupon" data-code="{{ deduct.code }}">
            <span class="cd-text-gray-dark">{{ deduct.deduct_amount|price_format }}</span> 有效期至{{deduct.deadline|date("Y-m-d")}}
          </label>
        {% endfor %}
      '>选择已有优惠券</a>
    {% endif %}
  </div>
  <div class="order-center-coupon__selected cd-mb32" style="display:none"  id="order-center-coupon__selected">
    <span class="cd-text-gray-dark">
      已使用优惠券 <span id="coupon-code"></span> 抵扣 <span id="deduct-amount"></span>
    </span> 
    <a href="javascript:;" class="cd-link-primary" id="cancel-use-coupon-btn">取消</a>
  </div>
</div>

<div class="order-center-line"></div>

