<div class="order-center-card clearfix">
  <div class="order-center-card__img">
    <a href="{{ path('item_bank_exercise_show', {id: product.targetId}) }}">
      <img src="{{ filepath(product.cover.middle|default(null), 'item_bank_exercise.png') }}" alt="{{ product.title }}">
    </a>
  </div>
  <div class="order-center-card__info">
    <div class="order-center-card__title">
      {{ product.title }}
    </div>
    <div class="order-center-card__price" role="total-price">
      {{ product.payablePrice|price_format }}
    </div>
  </div>
</div>



