{% extends 'order/layout.html.twig' %}
{% do script(['libs/jquery-validation.js', 'app/js/order/show/index.js']) %}

{% block order_body %}
  <div class="order-pay-body">
    <form id="order-create-form" method="post" action="{{path('order_create')}}" data-price-calculate="{{ path('order_calculate_price') }}">
      {% include 'order/show/order-form-fields.html.twig' with {step: 1} %}
      <div class="order-detail-bg" style="border:none">
        {% include product.showTemplate %}
      </div>
        {% if product|default() %}
        <div class="order-detail-bg">
          {{ slot('order.show.deducts', {'product': product}) }}
          {% include 'order/show/coupon-item.html.twig' %}
        </div>
      {% endif %} 
 
      <div class="form-group">
        <div class="total-price">
          {{'order.confirm.pay_rmb'|trans}}
            <span class="pay-rmb" id="price-show">
             {{ product.originPrice|price_format }}
            </span>
        </div>
      </div>

      <div class="form-group text-right">
         <a
          href="{{ path(product.backUrl.routing, product.backUrl.params) }}"
          class="btn btn-link">{{'form.btn.cancel'|trans}}</a> 
          <button class="btn btn-primary" id="order-create-btn" type="submit" data-loading-text="{{ 'order.confirm.submit_btn_loading'|trans }}">{{'order.confirm.submit_btn'|trans}}</button>
      </div>  

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    </form>
  </div>
{% endblock %}
