<tr>
  <th width="60%">{{'course'|trans}}</th>
  <th>{{'finance.RMB_price'|trans}}</th>
  <th>{{ setting('coin.coin_name') }}{{'price'|trans}}</th>
</tr>
{% if items %}
  {% for item in items %}
    <tr>
      <td>
        <div class="clearfix">
          <img class="pull-left mrl" src="{{ filepath(item.conver.small|default(''),'course.png') }}" style="width:100px;"/>
          <a class="pull-left" href="{{ path('course_show', {id: item.defaultCourseId}) }}" target="_blank" >{{item.title}}
          </a>
        </div>
      </td>
      <td>
        {% if item.minCoursePrice == item.maxCoursePrice %}
          {{item.minCoursePrice}}
        {% else %}
          {{item.minCoursePrice}} ~ {{item.maxCoursePrice}}
        {% endif %}
      </td>
      <td>
        {% if item.minCoursePrice == item.maxCoursePrice %}
          {{item.minCoursePrice * set.cash_rate}}
        {% else %}
          {{item.minCoursePrice * set.cash_rate}} ~ {{item.maxCoursePrice * set.cash_rate}}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
{% endif %}
