{% extends 'TopxiaWebBundle:MySale:layout.html.twig' %}

{% block title %}收入明细 - {{ parent() }}{% endblock %}
{% set side_nav = 'commission-list' %}

{% block main %}
<div class="panel panel-default panel-col">
  <div class="panel-heading">
     佣金收入明细
  </div>
  <div class="panel-body">

  <table class="table table-striped table-hover" id="commission-table">
    <thead>
    <tr>
      <th>成交定单</th>
      <th>成交价(元)</th>
      <th>日期</th>
      <th>本笔佣金(元)</th>
      <th>状态</th>
      <th>备注</th>        
      <th>购买客户</th>
      
    </tr>
    </thead>
    <tbody>
      {% for commission in commissions %}
        {% set order = orders[commission.orderId] %}
        {% set mysale = mysales[commission.mysaleId] %}
        {% set buyer = buyers[commission.buyerId] %}
        <tr>
          <td class="text-muted text-sm">定单号：{{commission.orderSn }}<br>{{mysale.prodName }}</td>
          <td class="text-muted text-sm">{{commission.orderPrice }}<br>{{dict_text('orderStatus:html', order.status) }}</td>
          <td>{{commission.paidTime|date('Y-n-d H:i') }}</td>
          <td>{{commission.commission }}</td>
          <td>{{ dict_text('commissionStatus:html', commission.status) }}</td>
          <td>{{commission.note }}</td>
          <td class="text-muted text-sm">{{buyer.nickname }}</td>
        </tr>
      {% else %}
        <tr><td colspan="7">无数据</td></tr>
      {% endfor %}
    </tbody>
  </table>

  {{ web_macro.paginator(paginator) }} 

  </div>
</div>

{% endblock %}