{% extends 'TopxiaWebBundle:MySale:layout.html.twig' %}

{% block title %}单品课程推广 - {{ parent() }}{% endblock %}
{% set side_nav = 'link-course-list' %}

{% block main %}
<div class="panel panel-default panel-col">
  <div class="panel-heading">
     可推广课程列表
  </div>
  <div class="panel-body">

  <table class="table table-striped table-hover" id="course-table">
    <thead>
    <tr>
      <th width="30%">课程名称</th>
      <th>销量/浏览量</th>
      <th>单价</th>

      <th>佣金比率</th>
      <th>佣金</th>
     
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
      {% for course in courses %}
        <tr>
          <td>

          <a class="pull-left" href="{{ path('course_show', {id:course.id}) }}" target="_blank">
            <img class="course-picture mrm" src="{{ file_path(course.middlePicture, 'course-large.png') }}" alt="{{ course.title }}" width="70">
          </a>

          <a href="{{ path('course_show', {id:course.id}) }}"  target="_blank">{{ course.title }}</a>

          </td>
          <td>{{ course.studentNum }}/{{ course.hitNum }}</td>
          <td>￥{{ course.price|number_format(2, '.', ',')  }}</td>
          
          <td>
            {% if(course.adCommissionType=='quota') %}
                {{course.adCommission/course.price*100|number_format(2, '.', ',') }}%
            {% elseif (course.adCommissionType=="ratio") %}
                {{ course.adCommission|number_format(2, '.', ',')  }}%
            {% else %}
               30.00%
            {% endif %}
          </td>

          <td>￥
             {% if(course.adCommissionType=='quota') %}
                {{course.adCommission|number_format(2, '.', ',') }}
            {% elseif (course.adCommissionType=="ratio") %}
                {{ course.adCommission/100*course.price|number_format(2, '.', ',')   }}
            {% else %}
               {{0.3*course.price|number_format(2, '.',',') }}
            {% endif %}

          </td>
          <td>
                    
          <a  class="btn btn-default btn-sm"  href="#modal" data-toggle="modal"  data-url="{{ path('mysale_link_course_link', {id:course.id}) }}"> 获取推广链接 </a>

          <a  class="btn btn-default btn-sm"  href="#modal" data-toggle="modal"  data-url="{{ path('mysale_link_course_reduce', {id:course.id}) }}"> 设置促销让利 </a>        
          </td>
        </tr>
      {% else %}
        <tr><td colspan="20">暂无可推广的课程</td></tr>
      {% endfor %}
    </tbody>
  </table>

  {{ web_macro.paginator(paginator) }} 

  </div>
</div>

{% endblock %}