
<div class="form-group" id="course-picture-class" 
{% if setting('default.defaultCoursePicture') == 0 %}
style="display:none;"
{% endif %}
>
  <div class="controls col-md-8 controls">
    <img src="{{ filepath(defaultSetting['course.png']|default(''), 'course.png') }}" class="img-responsive">
    <a id="default-course-picture-btn"
      data-upload-token="{{ upload_token('system', 'image') }}"
      data-goto-url="{{path('admin_setting_default_course_picture_crop')}}"
      class="btn btn-default btn-sm mtl">{{'form.btn.upload'|trans}}
    </a>
  </div>
</div>

<div class="form-group" id="system-course-picture-class" 
{% if setting('default.defaultCoursePicture') == 1 %}
style="display:none;"
{% endif %}
>
  <div class="controls col-md-8 controls">
    <img src="{{ asset('assets/img/default/course.png') }}" class="img-responsive">
  </div>
</div>

