<form class="form-horizontal" id="cloud-setting-form" method="post" novalidate>
  <div >
    <fieldset>
{#
      <div class="form-group">
        <div class="col-md-3 control-label">
          <label for="article_share_content">{{'邀请分享内容'|trans}}</label>
        </div>
        <div class="controls col-md-8">
          <textarea id="inviteShareContent" name="inviteShareContent" class="form-control" rows="5">{{ defaultSetting.inviteShareContent }}</textarea>
          <div class="help-block">
            <div>{{'变量说明：'|trans}}</div>
            <ul>
              <li>{% verbatim %}{{sitename}}{% endverbatim %} {{'为网校名称'|trans}}</li>
            </ul>
          </div>
        </div>
      </div>
#}
      <div class="form-group">
        <div class="col-md-3 control-label">
          <label for="article_share_content">{{'admin.setting.share.article_share_content'|trans}}</label>
        </div>
        <div class="controls col-md-8">
          <textarea id="courseShareContent" name="articleShareContent" class="form-control" rows="5">{{ defaultSetting.articleShareContent }}</textarea>
          <div class="help-block">
            <div>{{'admin.setting.share.Variables.tips'|trans}}</div>
            <ul>
              <li>{% verbatim %}{{articletitle}}{% endverbatim %} {{'admin.setting.share.as_article_title.tips'|trans}}</li>
              <li>{% verbatim %}{{sitename}}{% endverbatim %} {{'admin.setting.share.as_online_school_name.tips'|trans}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-3 control-label">
          <label for="course_share_content">{{'admin.setting.share.course_share_content'|trans}}</label>
        </div>
        <div class="controls col-md-8">
          <textarea id="courseShareContent" name="courseShareContent" class="form-control" rows="5">{{ defaultSetting.courseShareContent }}</textarea>
          <div class="help-block">
            <div>{{'admin.setting.share.Variables.tips'|trans}}</div>
            <ul>
              <li>{% verbatim %}{{course}}{% endverbatim %} {{'admin.setting.share.as_course_name'|trans}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-3 control-label">
          <label for="course_share_content">{{'admin.setting.share.group_share_content'|trans}}</label>
        </div>
        <div class="controls col-md-8">
          <textarea id="groupShareContent" name="groupShareContent" class="form-control" rows="5">{{ defaultSetting.groupShareContent }}</textarea>
          <div class="help-block">
            <div>{{'admin.setting.share.Variables.tips'|trans}}</div>
            <ul>
              <li>{% verbatim %}{{groupname}}{% endverbatim %} {{'admin.setting.share.as_group_name'|trans}}</li>
              <li>{% verbatim %}{{threadname}}{% endverbatim %} {{'admin.setting.share.as_thread_name'|trans}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-3 control-label">
          <label for="course_share_content">{{'admin.setting.share.classroom_share_content'|trans}}</label>
        </div>
        <div class="controls col-md-8">
          <textarea id="classroomShareContent" name="classroomShareContent" class="form-control" rows="5">{{ defaultSetting.classroomShareContent }}</textarea>
          <div class="help-block">
            <div>{{'admin.setting.share.Variables.tips'|trans}}</div>
            <ul>
              <li>{% verbatim %}{{classroom}}{% endverbatim %} {{'admin.setting.share.as_classroom_name'|trans}}</li>
            </ul>
          </div>
        </div>
      </div>

    </fieldset>
  </div>
  <div class="form-group">
    <div class="controls col-md-offset-3 col-md-8">
      <button type="submit" class="btn btn-primary">{{'form.btn.submit'|trans}}</button>
    </div>
  </div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>