{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_setting_avatar' %}
{% set script_controller = 'setting/default-avatar-crop' %}

{% block main %}

<meta http-equiv="pragma" content="no-cache" />
<div class="panel panel-default panel-col">
  <div class="panel-heading">
    {{'admin.user_avatar.customer_default_avatar'|trans}}
  </div>

  <div class="panel-body">

    <div class="form-group clearfix">
      <div class="col-md-offset-2 col-md-8 controls">
        <img class="img-responsive" src="{{ filepath(pictureUrl) }}"
        id="default-avatar-crop"
        width="{{scaledSize.width}}" height="{{scaledSize.height}}" data-natural-width="{{ naturalSize.width }}" data-natural-height="{{ naturalSize.height }}" />
        <div class="help-block">{{'admin.user.manage.avatar_crop.crop_hint'|trans}}</div>
      </div>
    </div>

    <div class="form-group clearfix">
      <div class="col-md-offset-2 col-md-8 controls">
        <a class="btn btn-fat btn-primary upload-picture-btn"
        id="upload-picture-btn"
        data-url="{{path('admin_setting_default_avatar_crop')}}"
        data-goto-url="{{path('admin_setting_avatar')}}"
        >{{'form.btn.save'|trans}}</a>
        <a href="javascript:;" class="go-back btn btn-link">{{'admin.user.manage.avatar_crop.select_again_btn'|trans}}</a>
      </div>
    </div>

  </div>
</div>


{% endblock %}
