{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_setting_mobile_settings' %}

{% set script_controller = 'setting/mobile' %}


{% block main %}
<style>
#mobile-splash1-container img ,
#mobile-splash2-container img ,
#mobile-splash3-container img ,
#mobile-splash4-container img ,
#mobile-splash5-container img ,
#mobile-logo-container img ,
#site-appcover-container img,
#site-applogo-container img
{max-width: 80%; margin-bottom: 10px;}
</style>

{{ web_macro.flash_messages() }}

<form class="form-horizontal" id="mobile-form" method="post">

  <div class="form-group">
    <div class="col-md-2 control-label">
      <label >{{'admin.mobile_setting.client_open_or_close'|trans}}</label>
    </div>
    <div class="controls col-md-8 radios">
      {{ radios('enabled', {1:'form.radio_btn.open'|trans, 0:'form.radio_btn.close'|trans}, mobile.enabled) }}
      <div class="help-block">{{ 'admin.mobile_setting.mobile_homepage_set_hint'|trans({'%mobileHomepage%': path('mobile')})|raw }}</div>
      <div class="help-block">{{ 'admin.mobile_setting.mobile_operation_hint'|trans({'%operationUrl%': path('admin_operation_mobile')})|raw }}</div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-2 control-label">
      <label for="mobile_about">{{'site.online_school_about'|trans}}</label>
    </div>
    <div class="controls col-md-8">
      <textarea class="form-control" id="mobile_about" rows="10" name="about" data-image-upload-url="{{ path('editor_upload', {token:upload_token('default')}) }}">{{ mobile.about }}</textarea>
      <div class="help-block">{{'admin.mobile_setting.online_school_about_hint'|trans}}</div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2 control-label">
      <label for="logo">{{'site.online_school_logo'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <div id="mobile-logo-container">{% if mobile.logo %}<img src="{{ asset(mobile.logo) }}">{% endif %}</div>
      <a class="btn btn-default btn-sm" id="mobile-logo-upload" data-upload-token="{{ upload_token('system', 'image') }}" data-goto-url="{{ path('admin_setting_mobile_picture_upload', {type:'logo'}) }}">{{'form.btn.upload'|trans}}</a>
      <button class="btn btn-default btn-sm" id="mobile-logo-remove" type="button" data-url="{{ path('admin_setting_mobile_picture_remove', {type:'logo'}) }}" {% if not mobile.logo %}style="display:none;"{% endif %}>{{'form.btn.delete'|trans}}</button>
      <p class="help-block">{{'admin.mobile_setting.online_school_logo_hint'|trans}}</p>
      <input type="hidden" name="logo" value="{{ mobile.logo }}">
    </div>
  </div>

  {#<div class="form-group">#}
    {#<div class="col-md-2 control-label">#}
      {#<label for="logo">{{'公告'|trans}}</label>#}
    {#</div>#}
    {#<div class="col-md-8 controls">#}
      {#<input type="text" class="form-control" name="notice" value="{{ mobile.notice }}">#}
      {#<p class="help-block">{{'将会在手机端banner下面显示网校的公告，建议用简练概括的语言描述，字数在20字以下。'|trans}}</p>#}
    {#</div>#}
  {#</div>#}

{% if mobileCode != 'edusoho' and mobileCode != 'edusohov3' %}
  <fieldset>
    <legend>{{'admin.mobile_setting.app_custom_setting_option'|trans}}</legend>
      <div class="form-group">
        <div class="col-md-2 control-label">
          <label for="appname">{{'admin.mobile_setting.app_custom_name'|trans}}</label>
        </div>
        <div class="col-md-8 controls">
        <input type="text" class="form-control" name="appname" value="{{mobile.appname}}" >
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2 control-label">
          <label for="appabout">{{'admin.mobile_setting.app_custom_about'|trans}}</label>
        </div>
        <div class="col-md-8 controls">
        <input type="text" class="form-control" name="appabout" value="{{mobile.appabout}}">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2 control-label">
          <label for="applogo">{{'admin.mobile_setting.app_custom_logo'|trans}}</label>
        </div>
        <div class="col-md-8 controls">

         <div id="site-applogo-container" class="mbl">{% if mobile.applogo %}<img src="{{ asset(mobile.applogo) }}">{% endif %}</div>
          <a class="btn btn-default btn-sm" id="site-applogo-upload" data-upload-token="{{ upload_token('system', 'image') }}"
          data-goto-url="{{ path('admin_setting_mobile_picture_upload', {type:'applogo'}) }}">{{'form.btn.upload'|trans}}</a>
          <button class="btn btn-default btn-sm" id="site-applogo-remove" type="button"
          data-url="{{ path('admin_setting_mobile_picture_remove', {type:'applogo'}) }}" {% if not mobile.applogo %}style="display:none;"{% endif %}>{{'form.btn.delete'|trans}}</button>
          <p class="help-block">{{'admin.mobile_setting.app_custom_logo_hint'|trans}}</p>
           <input type="hidden" name="applogo" value="{{ mobile.applogo }}">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2 control-label">
          <label for="appcover">{{'admin.mobile_setting.app_custom_cover'|trans}}</label>
        </div>
        <div class="col-md-8 controls">
         <div id="site-appcover-container" class="mbl">{% if mobile.appcover %}<img src="{{ asset(mobile.appcover) }}">{% endif %}</div>
          <a class="btn btn-default btn-sm" id="site-appcover-upload" data-upload-token="{{ upload_token('system', 'image') }}"
          data-goto-url="{{ path('admin_setting_mobile_picture_upload', {type:'appcover'}) }}">{{'form.btn.upload'|trans}}</a>
          <button class="btn btn-default btn-sm" id="site-appcover-remove" type="button"
          data-url="{{ path('admin_setting_mobile_picture_remove', {type:'appcover'}) }}" {% if not mobile.appcover %}style="display:none;"{% endif %}>{{'form.btn.delete'|trans}}</button>
          <p class="help-block">{{'admin.mobile_setting.app_custom_cover_hint'|trans}}</p>
          <input type="hidden" name="appcover" value="{{ mobile.appcover }}">
        </div>

      </div>
  </fieldset>
{% endif %}

 <fieldset>
  <legend>{{'admin.mobile_setting.splash_setting'|trans}}</legend>
  <div class="help-block">{{'admin.mobile_setting.splash_setting_hint'|trans}}</div>
  <div class="form-group">
    <div class="col-md-2 control-label">
      <label for="splash1">{{'admin.mobile_setting.splash1'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <div id="mobile-splash1-container">{% if mobile.splash1 %}<img src="{{ asset(mobile.splash1) }}">{% endif %}</div>
      <a class="btn btn-default btn-sm" id="mobile-splash1-upload" data-upload-token="{{ upload_token('system', 'image') }}"data-goto-url="{{ path('admin_setting_mobile_picture_upload', {type:'splash1'}) }}">{{'form.btn.upload'|trans}}</a>
      <button class="btn btn-default btn-sm" id="mobile-splash1-remove" type="button" data-url="{{ path('admin_setting_mobile_picture_remove', {type:'splash1'}) }}" {% if not mobile.splash1 %}style="display:none;"{% endif %}>{{'form.btn.delete'|trans}}</button>
      <p class="help-block">{{'admin.mobile_setting.splash_pic_setting_hint'|trans}}</p>
      <input type="hidden" name="splash1" value="{{ mobile.splash1 }}">
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2 control-label">
      <label for="splash2">{{'admin.mobile_setting.splash2'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <div id="mobile-splash2-container">{% if mobile.splash2 %}<img src="{{ asset(mobile.splash2) }}">{% endif %}</div>
      <a class="btn btn-default btn-sm" id="mobile-splash2-upload" data-upload-token="{{ upload_token('system', 'image') }}" data-goto-url="{{ path('admin_setting_mobile_picture_upload', {type:'splash2'}) }}">{{'form.btn.upload'|trans}}</a>
      <button class="btn btn-default btn-sm" id="mobile-splash2-remove" type="button" data-url="{{ path('admin_setting_mobile_picture_remove', {type:'splash2'}) }}" {% if not mobile.splash2 %}style="display:none;"{% endif %}>{{'form.btn.delete'|trans}}</button>
      <p class="help-block">{{'admin.mobile_setting.splash_pic_setting_hint'|trans}}</p>
      <input type="hidden" name="splash2" value="{{ mobile.splash2 }}">
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2 control-label">
      <label for="splash3">{{'admin.mobile_setting.splash3'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <div id="mobile-splash3-container">{% if mobile.splash3 %}<img src="{{ asset(mobile.splash3) }}">{% endif %}</div>
      <a class="btn btn-default btn-sm" id="mobile-splash3-upload" data-upload-token="{{ upload_token('system', 'image') }}" data-goto-url="{{ path('admin_setting_mobile_picture_upload', {type:'splash3'}) }}">{{'form.btn.upload'|trans}}</a>
      <button class="btn btn-default btn-sm" id="mobile-splash3-remove" type="button" data-url="{{ path('admin_setting_mobile_picture_remove', {type:'splash3'}) }}" {% if not mobile.splash3 %}style="display:none;"{% endif %}>{{'form.btn.delete'|trans}}</button>
      <p class="help-block">{{'admin.mobile_setting.splash_pic_setting_hint'|trans}}</p>
      <input type="hidden" name="splash3" value="{{ mobile.splash3 }}">
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2 control-label">
      <label for="splash4">{{'admin.mobile_setting.splash4'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <div id="mobile-splash4-container">{% if mobile.splash4 %}<img src="{{ asset(mobile.splash4) }}">{% endif %}</div>
      <a class="btn btn-default btn-sm" id="mobile-splash4-upload" data-upload-token="{{ upload_token('system', 'image') }}" data-goto-url="{{ path('admin_setting_mobile_picture_upload', {type:'splash4'}) }}">{{'form.btn.upload'|trans}}</a>
      <button class="btn btn-default btn-sm" id="mobile-splash4-remove" type="button" data-url="{{ path('admin_setting_mobile_picture_remove', {type:'splash4'}) }}" {% if not mobile.splash4 %}style="display:none;"{% endif %}>{{'form.btn.delete'|trans}}</button>
      <p class="help-block">{{'admin.mobile_setting.splash_pic_setting_hint'|trans}}</p>
      <input type="hidden" name="splash4" value="{{ mobile.splash4 }}">
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2 control-label">
      <label for="splash5">{{'admin.mobile_setting.splash5'|trans}}</label>
    </div>
    <div class="col-md-8 controls">
      <div id="mobile-splash5-container">{% if mobile.splash5 %}<img src="{{ asset(mobile.splash5) }}">{% endif %}</div>
      <a class="btn btn-default btn-sm" id="mobile-splash5-upload" data-upload-token="{{ upload_token('system', 'image') }}" data-goto-url="{{ path('admin_setting_mobile_picture_upload', {type:'splash5'}) }}">{{'form.btn.upload'|trans}}</a>
      <button class="btn btn-default btn-sm" id="mobile-splash5-remove" type="button" data-url="{{ path('admin_setting_mobile_picture_remove', {type:'splash5'}) }}" {% if not mobile.splash5 %}style="display:none;"{% endif %}>{{'form.btn.delete'|trans}}</button>
      <p class="help-block">{{'admin.mobile_setting.splash_pic_setting_hint'|trans}}</p>
      <input type="hidden" name="splash5" value="{{ mobile.splash5 }}">
    </div>
  </div>

  </fieldset>



  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  
  <div class="row form-group">
    <div class="controls col-md-offset-2 col-md-8">
      <button type="submit" class="btn btn-primary">{{'form.btn.submit'|trans}}</button>
    </div>
  </div>

</form>
{% endblock %}