<!doctype html>
{% block html %}<html ng-app="EduSohoApp">{% endblock %}
<head>

<title>{% block title %}{% endblock %}</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width, minimum-scale=1.0, maximum-scale=1, user-scalable=no">
{% block stylesheets %}

<link href="{{ asset('bundles/topxiamobilebundlev2/libs/ionic/1.0.0/css/ionic.min.css') }}" rel="stylesheet" />
<link href="{{ asset('bundles/topxiamobilebundlev2/esmobile/css/ui-style.css') }}" rel="stylesheet" />
<link href="{{ asset('bundles/topxiamobilebundlev2/libs/sideview-component.css') }}" rel="stylesheet" />
<link href="{{ asset('bundles/topxiamobilebundlev2/esmobile/fonts/iconfont.css') }}" rel="stylesheet" />

{% endblock %}
{% if clientType == 'Android' %}
    <script src="{{ asset('bundles/topxiamobilebundlev2/js/cordova_Android.js') }}"></script>
{%  elseif clientType == 'iOS' %} 
    <script src="{{ asset('bundles/topxiamobilebundlev2/js/cordova_iOS.js') }}"></script>
{% endif %}

<script src="{{ asset('bundles/topxiamobilebundlev2/libs/ionic/1.0.0/js/ionic.bundle.js') }}"></script>

<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/app.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/service.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/filter.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/directive.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/factory.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/provider.js') }}"></script>

<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/controller/AppInitController.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/controller/MainController.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/controller/FoundTabController.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/controller/LoginController.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/controller/RegistController.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/controller/UserController.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/controller/SettingController.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/controller/CourseController.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/controller/MyLearnController.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/controller/MyFavoriteController.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/controller/MyGroupController.js') }}"></script>
<script src="{{ asset('bundles/topxiamobilebundlev2/esmobile/js/controller/QuestionController.js') }}"></script>

<script src="{{ asset('bundles/topxiamobilebundlev2/libs/angular-sideview.js') }}"></script>

{% block head_scripts %}

{% endblock %}
</head>

<body>
<ion-nav-view class="rootView" name="rootView" animation="slide-left-right"></ion-nav-view>

{% block content %}

{% block bottom_scripts %}
{% endblock %}

{% endblock %}
</body>

</html>