


<div class="form-group">
    <label class="control-label col-md-3 col-xs-3" for="data[{{ code }}][{{ dataId }}][src]">图片</label>
    <div class="col-md-7 col-xs-7">
      <input class="form-control" type="text" name="data[{{ code }}][{{ dataId }}][src]" id="data[{{ code }}][{{ dataId }}][src]" data-role="img-url" value="{{ data.src|default('') }}">
    </div>
    <div class="col-md-2 col-xs-2">
      <div class="btn btn-default btn-sm img-upload webuploader-container" id="item-{{ code }}-uploadId-{{ dataId }}" data-url="{{ path('admin_block_picture_upload', {blockId:block.id, code:code}) }}">上传</div>
    </div>
 </div>


<div class="form-group">
    <label class="control-label col-md-3 col-xs-3" for="data[{{ code }}][{{ dataId }}][src]">图片</label>
    <div class="col-md-8 col-xs-8">
      <img class="img-responsive mtm img-mtl" style="width:200px;height:200px" src="{{ asset(data.src) }}" alt="{{ data.alt|default('') }}">
      <p class="text-success">推荐尺寸：{{data.desc|default('')}}</p>
      <input class="form-control js-label-input" type="hidden" name="data[{{ code }}][{{ dataId }}][desc]" id="data[{{ code }}][{{ dataId }}][desc]" value="{{ data.desc|default('') }}" >
      <input class="form-control js-label-input" type="hidden" name="data[{{ code }}][{{ dataId }}][alt]" id="data[{{ code }}][{{ dataId }}][alt]" value="{{ data.alt|default('') }}" >
    </div>

    
 </div>


{% if  data.title|default('') %}
 <div class="form-group">
    <label class="control-label col-md-3 col-xs-3" for="data[{{ code }}][{{ dataId }}][title]">标题</label>
    <div class="col-md-8 col-xs-8">
      <input class="form-control js-label-input" type="text" name="data[{{ code }}][{{ dataId }}][title]" id="data[{{ code }}][{{ dataId }}][title]" value="{{ data.title|default('') }}" >
    </div>
    
 </div>
{% endif  %}


  <div class="form-group">
    <label class="control-label col-md-3 col-xs-3" for="data[{{ code }}][{{ dataId }}][value]">描述</label>
    <div class="col-md-8 col-xs-8">
      <input class="form-control js-label-input" type="text" name="data[{{ code }}][{{ dataId }}][value]" id="data[{{ code }}][{{ dataId }}][value]" value="{{ data.value|default('') }}" >
    </div>
 </div>
 

  <div class="form-group">
  <label class="control-label col-md-3 col-xs-3" for="data[{{ code }}][{{ dataId }}][href]">链接地址</label>
  <div class="col-md-8 col-xs-8">
    <input class="form-control js-label-input" type="text" name="data[{{ code }}][{{ dataId }}][href]" value="{{ data.href|default('') }}" placeholder="http://" >
  </div>
 </div>

