{% extends 'es-bar/list-content/practice.html.twig' %}
{% set esBarMenu = status %}
{% block myPractice %}
  <div class="text-line gray small">
    <h5><span>{{ 'es_bar.practice.testpaper'|trans }}</span></h5>
    <div class="line"></div>
  </div>

  <ul class="list-unstyled">
    {% if testpaperData.answerRecords %}
      {% for answerRecord in testpaperData.answerRecords %}
        {% set assessment = testpaperData.assessments[answerRecord.assessment_id]|default(null) %}
        {% set activity = testpaperData.activities[testpaperData.testpeaperActivities[answerRecord['answer_scene_id']]['id']]|default(null) %}
        {% set task = testpaperData.tasks[activity.id]|default(null) %}
        {% set course = testpaperData.courses[task.courseId]|default(null) %}
        <li>
          <i class="es-icon es-icon-chevronright"></i>
          <a target="_blank" href="{{ path('testpaper_result_show',{answerRecordId:answerRecord.id,action:'result'}) }}"
            class="color-gray">{{ task.title|default(assessment.name) }}</a>
        </li>
      {% endfor %}
      {% if testpaperData.pageCount >= 2 %}
        <li class="text-center">
          <a class="color-gray" href="{{ path('my_testpaper_list') }}" target="_blank">
            {{ 'site.default.more'|trans }}<i class="es-icon es-icon-angledoubleright"></i>
          </a>
        </li>
      {% endif %}
    {% else %}
      <li class="empty">{{ 'es_bar.practice.testpaper_empty_tips'|trans }}</li>
    {% endif %}
  </ul>

  <div class="text-line gray small">
    <h5><span>{{ 'es_bar.practice.homework'|trans }}</span></h5>
    <div class="line"></div>
  </div>

  <ul class="list-unstyled">
    {% if homeworkData.answerRecords %}
      {% for answerRecord in homeworkData.answerRecords %}
          {% set assessment = homeworkData.assessments[answerRecord.assessment_id]|default(null) %}
          {% set activity = homeworkData.activities[homeworkData.homeworkActivities[answerRecord['answer_scene_id']]['id']]|default(null) %}
          {% set task = homeworkData.tasks[activity.id]|default(null) %}
          {% set course = homeworkData.courses[task.courseId]|default(null) %}
        <li>
          <i class="es-icon es-icon-chevronright"></i>
          <a target="_blank" class="color-gray" href="{{ path('homework_result_show', {answerRecordId:answerRecord.id,action:'result'}) }}">
            {{ task.title|default('') }}
          </a>
        </li>
      {% endfor %}
      {% if homeworkData.pageCount >= 2 %}
        <li class="text-center">
          <a class="color-gray" href="{{ path('my_homework_list') }}" target="_blank">
            {{ 'site.default.more'|trans }}<i class="es-icon es-icon-angledoubleright"></i>
          </a>
        </li>
      {% endif %}
    {% else %}
      <li class="empty">{{ 'es_bar.practice.homework_empty_tips'|trans }}</li>
    {% endif %}
  </ul>

{% endblock %}
