{% if setting('consult.enabled', 0)  %}
  {% set consult = setting('consult') %}
  <div class="bar-popover-content" style="display:none;">
    <div id="bar-qq-content">
      <div class="row mtm">
        {% for qq in consult.qq if qq.name is not empty %}
          <div class="col-xs-6 mbm">
            <a class="link-light" href="http://wpa.qq.com/msgrd?v=3&uin={{ qq.number }}&site=qq&menu=yes" target="_blank"><img class="mrs" src="http://wpa.qq.com/pa?p=2:{{ qq.number }}:52" alt="" title="点击这里给我发消息" alt="">
              {{ qq.name }}
            </a>
          </div>
        {% endfor %}
      </div>
      <hr>
      <div class="row">
        {% for qqgroup in consult.qqgroup if qqgroup.name is not empty %}
          <div class="col-xs-6 mbm">
            <p>{{ qqgroup.name }}</p>
            <a class="link-light" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey={{ qqgroup.idKey }}">
              {{qqgroup.number}}
            </a>
            <p></p>
          </div>
        {% endfor %}
      </div>
    </div>
    <div id="bar-phone-content">
      {% if consult.worktime is not empty %}
        <p class="mtl"><i class="es-icon es-icon-accesstime mrm"></i>工作时间： {{ consult.worktime }}</p>
      {% endif %}
      {% for phone in consult.phone if phone.name is not empty %}
        <p class="mtl"><i class="es-icon es-icon-phone mrm"></i>{{ phone.name }}： {{ phone.number }}</p>
      {% endfor %}
      {% if consult.email is not empty %}
        <p class="mtl"><i class="es-icon es-icon-mail mrm"></i>邮箱： <a class="link-light" href="mailto:{{consult.email}}">{{consult.email}}</a></p>
      {% endif %}
    </div>
    {% if consult.webchatURI is not empty %}
      <div id="bar-weixin-content">
        <img class="img-responsive" src="{{ asset(consult.webchatURI) }}" alt="">
      </div>
    {% endif %}
  </div>
{% endif %}
