{% extends 'TopxiaWebBundle:EsBar:layout.html.twig' %}
{% block esBarTitle %}
    {{'我的考试/作业'|trans}}
{% endblock %}

{% block esBarBody %}
  <div class="text-center">
    <div class="btn-group btn-action">
      <a href="javascript:;" data-url="{{ path('esbar_my_practice',{status:'reviewing'}) }}" class="btn btn-primary {% if esBarMenu|default('') != 'finished' %}active{% endif %}" id="bar-practice-review">{{'已提交'|trans}}</a>
      <a href="javascript:;" data-url="{{ path('esbar_my_practice',{status:'finished'}) }}" class="btn btn-primary {% if esBarMenu|default('') == 'finished'%}active{% endif %}" id="bar-practice-finish"><span>{{'已批阅'|trans}}</span></a>
    </div>
  </div>
  <div class="bar-homework">
    {% block myPractice %}

    {% endblock %}
  </div>
{% endblock %}