{% extends 'TopxiaWebBundle:Course:Part/normal-header-layout.html.twig' %}

{% set layoutClass = 'after' %}

{% block before_content %}
  <ol class="breadcrumb breadcrumb-o">
    <li><a href="{{ path('homepage') }}">{{'首页'|trans}}</a></li>
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ path('course_explore',{'category':breadcrumb.code}) }}">{{ breadcrumb.name }}</a></li>
    {% endfor %}
    <li class="active">{{ course.title }}</li>
  </ol>
  {% if member and member.locked %}
    <div class="alert alert-warning">
      {{'您的退款申请已提交，请等待管理员的处理。'|trans}}
      <button class="btn btn-warning btn-sm cancel-refund" data-url="{{ path('order_cancel_refund', {id:course.id, targetType:"course"}) }}">{{'取消退款，继续学习！'|trans}}</button>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {{ load_script('course/common') }}

  <div class="course-header-top clearfix">

    {{ header_macro.picture(course) }}

    {{ header_macro.info(course, member, userVipStatus) }}

    <div class="course-operation">
      {{ header_macro.student_num(course) }}
      <ul class="course-data clearfix two-col">
        {{ header_macro.favorite_btn(course, hasFavorited) }}
        {{ header_macro.share_btn(course) }}
      </ul>
    </div>
  </div>

  <div class="progress progress-sm">
    <div class="progress-bar" role="progressbar" style="width: {{ learnProgress.percent }}" data-toggle="tooltip" data-placement="right" title="{{ learnProgress.percent }}">
    </div>
  </div>

  <div class="course-header-bottom clearfix">
    <span class="pull-left">{{'完成课时：'|trans}} {{ learnProgress.number }}/{{ learnProgress.total }}</span>
    {% if nextLearnLesson %}
      <a class="btn btn-lg btn-primary" href="{{ path('course_learn', {id:course.id}) }}#lesson/{{ nextLearnLesson.id }}">{{'继续学习'|trans}}</a>
      <span class="next-class hidden-xs">{{'下一课时：'|trans}}<a href="{{ path('course_learn', {id:course.id}) }}#lesson/{{ nextLearnLesson.id }}">{{ nextLearnLesson.title|raw }}</a></span>
    {% endif %}
  </div>

{% endblock %}


