<div class="panel panel-default new-student">
  <div class="panel-heading">
    <a href="javascript:;" class="more"><i class="es-icon es-icon-morehoriz"></i></a>
    <h3 class="panel-title">
      <i class="es-icon es-icon-personadd"></i>
      新加学员
    </h3>
  </div>
  <div class="panel-body">
    <ul class="student-list list-unstyled">
      <li>
        <a href="" class="cardtip">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
      <li>
        <a href="" class="cardtip">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
      <li>
        <a href="" class="cardtip">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
      <li>
        <a href="">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
      <li>
        <a href="">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
      <li>
        <a href="">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
      <li>
        <a href="">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
      <li>
        <a href="">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
      <li>
        <a href="">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
      <li>
        <a href="">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
      <li>
        <a href="">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
      <li>
        <a href="">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
      <li>
        <a href="">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
      <li>
        <a href="">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
      <li>
        <a href="">
          <img class="img-circle" src="{{ filepath('', 'avatar.png') }}" alt=""></a>
      </li>
    </ul>
  </div>
</div>