<!-- 推荐班级 -->

<section class="recommend-class">
  <div class="container">
    <div class="class-label hidden-xs hidden-sm">推荐班级</div>
    <div class="recommend-class-list">

      {% for classroom in classrooms %}
        <div class="cycle-item">
          <div class="class-item">
            <a href="{{ path('classroom_show', {id:classroom.id}) }}">
              <img class="img-responsive" src="{{ filepath(classroom.smallPicture, 'classroom.png') }}" alt="{{ classroom.title }}">
              <h3>{{ classroom.title }}</h3>
              <div class="image-overlay"></div>
              <!-- 如该课程属于这个班级，则显示下面的提示，用于课程的推荐班级 -->
              <!-- <div class="class-belong hidden-xs hidden-sm">所属班级</div> -->
            </a>
          </div>
        </div>
      {% endfor %}

      {% set emptyClassroomNum = 4 - classrooms|length %}
      {% if emptyClassroomNum > 0 %}
        {% for i in range(1, emptyClassroomNum) %}
          <div class="cycle-item">
            <div class="class-item item-default">
              <img class="img-responsive" src="{{ asset('assets/v2/img/class_default.png') }}">
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% if classrooms|length > 4 %}
        <div class="cycle-prev"><i class="es-icon es-icon-chevronleft"></i></div>
        <div class="cycle-next"><i class="es-icon es-icon-chevronright"></i></div>
      {% endif %}

    </div>
  </div>
</section>