<tr id="product-tr-{{ product.id }}">
  <td>
    <a href="{{ path('admin_reward_point_product_update', { id:product.id }) }}"><img style="width:60px;" src="{{ filepath(product.img|default(''), 'product.png') }}"/>&nbsp;&nbsp;{{ product.title }}</a>
  </td>
  <td class="text-middle">{{ product.price }}</td>
  <td class="text-middle">
    <a class="btn btn-default btn-sm" href="{{ path('admin_reward_point_product_update', { id:product.id }) }}">{{'编辑'|trans}}</a>
    {% if product.status == 'draft' %}
    <a class="btn btn-default btn-sm js-upShelves" data-url="{{ path('admin_reward_point_product_upShelves', { id:product.id }) }}">{{'上架'|trans}}</a>
    {% else %}
    <a class="btn btn-default btn-sm js-downShelves" data-url="{{ path('admin_reward_point_product_downShelves', { id:product.id }) }}">{{'下架'|trans}}</a>
    {% endif %}
  </td>
</tr>