
<div class="order-detail">
  <div class="order-img  hidden-xs">
    <a href="{{path('classroom_show',{id:classroom.id})}}">
      <img class="img-responsive" src="{{ filepath(classroom.middlePicture, 'classroom.png')|default(asset('assets/img/default/classroom-default-213-142.png')) }}" alt="" width="213" height="142"></a>
  </div>
  <div class="order-info">{{ classroom.title}}</div>
  <div class="order-price">
    {% if priceType|default('RMB') == "RMB" %}
    <span class="pay-rmb">￥</span>
    <span class="pay-rmb">{{classroom.price}}</span>
    {% elseif priceType|default('RMB') == "Coin" %}
    <span class="pay-rmb">{{classroom.price * cashRate}}</span>
    {{setting("coin.coin_name")}}
    {% endif %}
    <span role="total-price" class="order-price hidden">{{totalPrice}}</span>
  </div>
</div>
{% if paidCourses|length > 0 and setting('classroom.discount_buy')|default(1) == 1 %}
{% include 'TopxiaWebBundle:Order:paid-course.html.twig' %}
{% endif %}