<div class="order-item clearfix">
  <div class="order-item-title">
    <i class="es-icon es-icon-money"></i>
    <span class="title">{{ setting("coin.coin_name") }}</span>
    <span>（1元 = {{cashRate}}{{setting("coin.coin_name")}}）</span>
  </div>
  <div class="order-item-detail">
    <div class="pay-password">
      {% if hasPayPassword %}
      本次使用
      <label class="control-label" for="coinPayAmount" style="display:none">使用金额</label>
      <input id="coinPayAmount" class="form-control text-center width-input-small" role="coinNum" type="text" name="coinPayAmount" value="{{coinPayAmount|default(0)}}" maxlength="">
      {{setting("coin.coin_name")}}
      {% endif %}
      <span class="coin-detail">
        （账户余额：<span class="text-danger" role="accountCash">{{account.cash|default(0)}}</span> {{setting("coin.coin_name")}}）
      </span>
      <input style="display:none">{# Prevent autocompleting #}
      <input type="password" style="display:none">{# Prevent autocompleting #}
      {% if not hasPayPassword %}
      <div  class="alert alert-warning alert-xs">
          为了保障账户资金安全，请先
        <a class="alert-link" href="javascript:;" data-toggle="modal" data-target="#modal" data-url="{{path('settings_set_pay_password')}}">设置支付密码</a>
      </div>
      {% else %}
      <div role="password-input" style="display:none">
        <div class="controls mtm">
          <input id="payPassword" class="form-control width-input-large" name="payPassword" type="password" placeholder="请输入支付密码" data-url="{{path('pay_password_check')}}" autocomplete="off"/>
          <a href="{{path('settings_find_pay_password')}}" target='_blank' class="btn-link">忘记密码？</a>
          <br>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="order-item-price">
    <span class="mrs">抵扣</span>
     {% if priceType|default("RMB") == "RMB" %}<span>￥</span>{% endif %}
    <span role="cash-discount" style="font-size: 24px"></span>
    <span>
      {% if priceType|default("RMB") == "RMB" %} {% else %} {{ setting("coin.coin_name") }} {% endif %}
    </span>
  </div>
</div>   