{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %} 订单确认 - {{ parent() }}{% endblock %}

{% set script_controller = 'order/pay' %}

{% block content %}
<div class="container order-pay">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 ptl">
      <div class="panel panel-default panel-page">
        <div class="panel-heading"><h4>订单确认</h4></div>
        <div class="panel-body">
          <form method="post" action="{{path(payUrl)}}" 
          >
          	
          	<input type="hidden" role="cash-rate" value="{{cashRate}}"
            data-course-price-show-type = "{{coursePriceShowType}}"/>
            {% for targetType in targetTypes %}
            <input type="hidden" name="targets[]" value="{{targetType}}-{{targetIds[loop.index0]}}"/>
            {% endfor %}
            <input type="hidden" name="totalPrice" value="{{totalPrice}}"/>
            <input type="hidden" name="coursePriceShowType" value="{{coursePriceShowType}}"/>
            <input type="hidden" name="shouldPayMoney" value="{{shouldPayMoney}}"/>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

            {% if courses|default(null) %}
            {% include 'TopxiaWebBundle:Course:courses-block-list.html.twig' with {courses:courses} %}
            {% endif %}

            <div class="order-item row">
            	<h4 class="price_r">应付{% if coursePriceShowType == "RMB" %}金额：￥{% elseif coursePriceShowType == "Coin" %}虚拟币：{% endif %}<span role="total-price">{{totalPrice}}</span></h4>
            </div>
            
            {% if couponApp|default(null) and account|default(null)%}
            	{% include 'TopxiaWebBundle:Order:order-item-coupon.html.twig' %}
            {% endif %}

            {% if setting('coin.coin_enabled') and account|default(null)%}
            	{% include 'TopxiaWebBundle:Order:order-item-coin.html.twig' %}
            {% endif %}

            <div class="order-item row">
              <div class="total-price">
                {% if coursePriceShowType == "Coin" %}
              	<h4>需支付虚拟币：<span role="pay-coin">{{shouldPayMoney}}</span></h4>
                {% endif %}

                <h4>需支付RMB：￥<span role="pay-rmb">{{shouldPayMoney}}</span></h4>
              </div>
            </div>

            <div class="form-group pay">
              <div class="col-md-offset-10 controls">
                <button class="btn btn-fat btn-primary" id="course-create-btn" type="submit">支付</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}