<div class="order-detail-item clearfix">
  <h4>{{'您已购买过：'|trans}}</h4>
  <div class="paid-courses">
    {% for paidCourse in paidCourses %}
    <div class="course-item clearfix">
      <div class="course-img">
        <a href="{{path("course_show", {id:paidCourse.id})}}" target="_blank"><img  src="{{ filepath(paidCourse.middlePicture, 'course.png') }}" alt=""></a>
      </div>
      <div class="course-title">
        <h4><a class="link-light" href="{{path("course_show", {id:paidCourse.id})}}" target="_blank">{{paidCourse.title}}</a></h4>
      </div>
      <div class="course-info">
        {{'抵扣：'|trans}}
        <span style="font-size: 18px">{{paidCourse.afterDiscountPrice}}</span>
        <span> {% if priceType|default('RMB') == "RMB" %}
          {{'元'|trans}}
        {% elseif priceType|default('RMB') == "Coin" %}
          {{setting("coin.coin_name")}}
        {% endif %} </span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
