{% set props = status.properties %}

{% if mode == 'simple' %}
  {{'成为了%classroom%'|trans({'%classroom%':setting("classroom.name")|default('班级'|trans)})}} <a class="link-dark" href="{{ path('classroom_show', {id: props.classroom.id}) }}" title="{{'来自《%props%》'|trans({'%props%':props.classroom.title})}}">{{ props.classroom.title|sub_text(15)}} </a>{{'的旁听生'|trans}}
{% elseif mode == 'full' %}

{% endif %}