{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set url = inviteInfomation_template %}
{% set message = setting('default.inviteShareContent') %}
{% set title = 'ES网校' %}
{% if logo|default('') %}
{% set picture = asset(logo) %}
{% else %}
{% set picture = asset('assets/img/default/MAIN_icon.png') %}
{% endif %}

{% block title %}{{'分享邀请链接'|trans}}{% endblock %}
{% block body %}
<div class="form-horizontal">

  <div class="form-group">
    <div class="col-md-offset-1 col-md-10 controls">
    <textarea rows="3" class="form-control" id="content" readonly="true">{{ message }}</textarea>
    </div>
  </div>
</div>
<script>app.load('coin/invite-content-copy')</script>
{% endblock %}

{% block footer %}
  <div class='pull-right'>
    <div class="js-social-share-params pull-left mrm mts es-share" data-title="{{ title }}" data-summary="{{ summary|default('') }}" data-message="{{ message }}" data-url="{{ url }}" data-picture="{{ picture|default('') }}">
      <a href="javascript:;" class="js-social-share color-gray" data-cmd="weixin" title="{{'分享到微信'|trans}}" data-share="weixin" data-qrcode-url="{{ path('common_qrcode',{text:url}) }}"><i class="es-icon es-icon-weixin icon-font"></i></a>
      <a href="javascript:;" class="js-social-share color-gray" data-cmd="tsina" title="{{'分享到新浪微博'|trans}}" data-share="weibo"><i class="es-icon es-icon-weibo icon-font"></i></a>
      <a href="javascript:;" class="js-social-share color-gray" data-cmd="qq" title="{{'分享到QQ好友'|trans}}" data-share="qq"><i class="es-icon es-icon-qq icon-font"></i></a>
      <a href="javascript:;" class="js-social-share color-gray" data-cmd="qzone" title="{{'分享到QQ空间'|trans}}" data-share="qzone"><i class="es-icon es-icon-qzone icon-font"></i></a>
    </div>
  </div>
{% endblock %}