<ol class="breadcrumb">
  <li><a href="{{path('article_show')}}">{{ setting('article.name', '资讯频道'|trans) }}</a></li>
  {% for breadcrumb in breadcrumbs %}
    <li><a href="{{path('article_category',{categoryCode:breadcrumb.code})}}">{{breadcrumb.name}}</a></li>
  {% endfor %}
  <li class="active">{{'正文'|trans}}</li>
</ol>