
{% extends 'bootstrap-modal-layout.html.twig' %}

{% do script(['app/js/task/app-modal/index.js']) %}

{% set modal_class = 'cd-modal-dialog task-only-app-modal' %}

{% block title %}
  {{ 'task.app_modal.title'|trans}}
{% endblock %}

{% block body %}
  <input type="hidden" name="courseId" value="{{ courseId }}">
  <div>
  <div class="modal-intro">
    <span>
      {{ 'task.app_modal.intro'|trans }} 
    </span>
    <span class="modal-app">{{ 'task.app_modal.app'|trans }}</span>
    <span>{{ 'task.app_modal.learning'|trans }}</span>
  </div>
  <div class="download-app">
    <div class="download-app-qrcode">
      <canvas class="qrcode-canvas"></canvas>
    </div>
  </div> 
  </div>
{% endblock %}

{% block footer %}
<div class="modal-guide flex justify-center items-center">
  <img class="mobile-wechat-qrcode" src="{{ asset('static-dist/app/img/task/wechat-qrcode.png') }}" alt="" />
  <div class="flex flex-col items-start ml8">
  <span>{{ 'task.app_modal.use'|trans }}</span>
  <span>{{ 'task.app_modal.sweep'|trans }}</span>
  </div>
</div>
{% endblock %}