{% import "admin/macro.html.twig" as web_macro %}

{% for classroom in classrooms %}
  <tr class='js-selected-item' data-id="{{ classroom.id }}">
    <td  width="40%">
      <a href="{{ path('classroom_show', {id:classroom.id}) }}" target="_blank"><strong>{{ classroom.title }}</strong></a>
      <br>
    </td>
    <td  width="40%">
      {% if setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin' %}
        {% if classroom.price > 0 %}
          {{classroom.price * setting('coin.cash_rate') }} {{setting('coin.coin_name')}}
        {% else %}
          {{ 'admin.classroom_manage.chooser.free'|trans }}
        {% endif %}
      {% else %}
        ¥{{ classroom.price }}
      {% endif %}
    </td>
    <td  width="20%">
      <a href="javascript:;" class="js-selected-item-delete">{{ 'site.btn.delete'|trans }}</a>
      <br>
    </td>
  </tr>
{% endfor %}