<tr id="tag-tr-{{ tag.id }}">
  <td>{{ tag.id }}</td>
  <td>{{ tag.name }}</td>
  <td>
  {% for groupName in tag.groupNames|default('') %}
    《{{ groupName }}》
  {% endfor %}
  </td>
  <td>{{ tag.createdTime|date('Y-m-d H:i') }}</td>
  <td>
    <button class="btn btn-default btn-sm" data-url="{{ path('admin_v2_tag_update', {id: tag.id}) }}" data-toggle="modal" data-target="#modal">{{ 'admin.tag_manage.tag.edit_btn'|trans }}</button>
  </td>
</tr>