{% if courseSet.type == 'open' or courseSet.type == 'liveOpen' %}
  {% set layout = 'open-course-manage/layout.html.twig' %}
{% else %}
  {% set layout = 'courseset-manage/courseset-layout.html.twig' %}
{% endif %}
{% extends layout %}

{% block title %}{{'course.course_files'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'files' %}
{% set tab = 'courseLesson' %}

{% block paddingClass %}
  material-table-padding
{% endblock %}

{% do script(['app/vue/views/courseset_manage/resource/index.js']) %}

{% block main %}
  <div role="courseset-manage-file">
    <div class="courseset-manage-body__title">
      {{ 'course.course_resource'|trans }}
    </div>

    <div class="btn-group btn-group-sm mv16">
      <a href="{{ path('course_set_manage_files', { id: courseSet.id }) }}" class="btn btn-default">
        {{ 'course.course_files'|trans }}
      </a>
      <a href="{{ path('course_set_manage_files_live_playback', { id: courseSet.id }) }}" class="btn btn-default active">
        {{ 'course.activity.replay'|trans }}
      </a>
    </div>

    <input type="hidden" class="js-course-id" value="{{ course.id }}" />
    <div id="app"></div>

    <div class="js-vue-loading text-center pt48">
      {% include "vue-components/loading.html.twig" %}
    </div>
  </div>
{% endblock %}
