{% extends 'old-bootstrap-modal-layout.html.twig' %}


{% set modal_class = 'modal-lg' %}

{% block title %}
  {% if targetType == 'courselesson' or targetType == 'opencourselesson' %} {{'courseset_manage.batch_upload.upload_courseLesson_file'|trans}}
  {% elseif targetType == 'coursematerial' %} {{'courseset_manage.batch_upload.upload_material_file'|trans}}
  {% elseif targetType == 'materiallib' %} {{'courseset_manage.batch_upload.upload_materiallib_file'|trans}}
  {% endif %}
{% endblock %}

{% block body %}

<style>
  .plupload_filelist_footer {
    height: 40px;
    line-height: 20px;
  }


</style>

	<div id="file-uploader-container"
    class="mbl"
    data-target-type="{{targetType}}"
    data-upload-mode="{{ storageSetting.upload_mode }}"
    data-hls-encrypted="{{ setting('developer.hls_encrypted', 1) }}"

    >

     <div
      id="file-chooser-uploader-div"
      data-role="uploader-div"
      data-upload-url="{{ path('uploadfile_upload', {targetType:targetType, targetId:targetId}) }}"
      data-params-url="{{ path('uploadfile_params', {storage:storageSetting.upload_mode, targetType:targetType, targetId:targetId}) }}"
     ></div>

	</div>

  {% if targetType == 'courselesson' or  targetType == 'materiallib' or targetType == 'opencourselesson'%}
    <div class="alert alert-info">
      <ul>
        {% if storageSetting.upload_mode == 'cloud' %}
          {{ 'courseset_manage.batch_upload.cloud.tips'|trans|raw }}
        {% else %}
          {{ 'courseset_manage.batch_upload.tips'|trans({'%upload_max_filesize%':upload_max_filesize(), '%EduSoho%':'EduSoho'|copyright_less})|raw }}
        {% endif %}
      </ul>
    </div>

    {% if storageSetting.upload_mode == 'cloud' %}
    <div class="quality-switcher">
      <div class="quality-switcher-bar">
        {{'courseset_manage.batch_upload.cloud.video_transcoding_type'|trans}}<span class="color-gray quality-switcher-name"></span> <a href="javascript:;" class="edit-btn text-info"><span class="glyphicon glyphicon-cog"></span> {{'courseset_manage.batch_upload.cloud.setting_btn'|trans}}</a>
      </div>
      <div class="quality-switcher-control">
        <div class="video-quality radios">
          {{'courseset_manage.batch_upload.cloud.video-quality'|trans}}
        {{ radios('video_quality', {'low':'courseset_manage.batch_upload.cloud.video-quality.low'|trans|raw, 'normal':'courseset_manage.batch_upload.cloud.video-quality.normal'|trans|raw, 'high': 'courseset_manage.batch_upload.cloud.video-quality.high'|trans|raw}, storageSetting.video_quality|default('low')) }}
        
        </div>

        <div class="audio-quality radios">
          {{'courseset_manage.batch_upload.cloud.audio-quality'|trans}}
          {{ radios('video_audio_quality', {'low':'courseset_manage.batch_upload.cloud.audio-quality.low'|trans, 'normal':'courseset_manage.batch_upload.cloud.audio-quality.normal'|trans, 'high': 'courseset_manage.batch_upload.cloud.audio-quality.high'|trans}, storageSetting.video_audio_quality|default('low')) }}
        </div>

        <div class="quality-actions">
          <a href="javascript:;" class="btn btn-default btn-sm confrim-btn">{{'form.btn.confrim'|trans}}</a>
          <a href="javascript:;" class="btn btn-link btn-sm cancel-btn">{{'form.btn.cancel'|trans}}</a>
        </div>
      </div>
    </div>
    {% endif %}
  {% elseif targetType == 'coursematerial' %}
    <div class="alert alert-info">
      <ul>
        {% if storageSetting.upload_mode == 'local' %}
          {% set max_file_size = upload_max_filesize()|default() %}
          {% set text = 'courseset_manage.batch_upload.coursematerial.cloud.max_file_size_text.tips'|trans|default() %}
        {% endif %}
        <li>
          {{ 'courseset_manage.batch_upload.coursematerial.tips'|trans({'%text%':text, '%max_file_size%':max_file_size})|raw }}
        </li>
        {% if storageSetting.upload_mode == 'cloud' %}
          {{ 'courseset_manage.batch_upload.coursematerial.cloud.tips'|trans|raw }}
        {% else %}
          {{ 'courseset_manage.batch_upload.coursematerial.not_cloud.tips'|trans({'%EduSoho%'|'EduSoho'|copyright_less})|raw }}
        {% endif %}
      </ul>
    </div>
  {% endif %}

{% endblock %}

{% block script %}
 {% include 'seajs_loader_compatible.html.twig' with {topxiawebbundle: true} %}
  <script>app.lazyLoad = function() { app.load('course-manage-file/upload-course-files') };</script>
 {% endblock %}

{% block footer %}
  <button type="button" class="btn btn-primary" data-dismiss="modal">{{'form.btn.close'|trans}}</button>
{% endblock %}