{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% block title %}{% if shippingAddress.id|default(0) == 0 %}新增{% else %}修改{% endif %}收货地址{% endblock %}
{% block body %}
  <form id="shipping-address-from" method="post" class="form-horizontal"  data-url="{{ path('user_shipping_address', {id:shippingAddress.id|default(0)}) }}">

    <div class="row form-group">
      <div class="col-md-3 control-label">
        <label for="region">所在地区<span class="asterisk">*</span></label>
      </div>
      <div class="col-md-7 controls">
        <input class="form-control" type="text" id="region" name="region" data-role ="region-picker" data-remote="{{ path('ajax_region_remote') }}" data-picked="{{ shippingAddress.region|default('') }}" data-visible="10">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-3 control-label">
        <label for="address">详细地址<span class="asterisk">*</span></label>
      </div>
      <div class="col-md-7 controls">
        <textarea id="address" name="address" class="form-control" rows="2" value="{{ shippingAddress.address|default('') }}"></textarea>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-3 control-label">
        <label for="postCode">邮政编码<span class="asterisk">*</span></label>
      </div>
      <div class="col-md-7 controls">
        <input class="form-control" type="text" id="postCode" name="postCode" value="{{ shippingAddress.postCode|default('') }}">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-3 control-label">
        <label for="contactName">收货人姓名<span class="asterisk">*</span></label>
      </div>
      <div class="col-md-7 controls">
        <input class="form-control" type="text" id="contactName" name="contactName" value="{{ shippingAddress.contactName|default('') }}">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-3 control-label">
        <label for="MobileNo">手机号码</label>
      </div>
      <div class="col-md-7 controls">
        <input class="form-control" type="text" id="MobileNo" name="MobileNo" value="{{ shippingAddress.mobileNo|default('') }}">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-3 control-label">
        <label for="telNo">电话号码</label>
      </div>
      <div class="col-md-2 controls">
        <input class="form-control" type="text" id="telNo1" name="telNo[0]" value="{{ shippingAddress.telNo[0]|default('') }}" placeholder="区号">
      </div>
      <div class="col-md-3 controls">
        <input class="form-control" type="text" id="telNo2" name="telNo[1]" value="{{ shippingAddress.telNo[1]|default('') }}" placeholder="电话号码">
      </div>
      <div class="col-md-2 controls">
        <input class="form-control" type="text" id="telNo3" name="telNo[2]" value="{{ shippingAddress.telNo[2]|default('') }}" placeholder="分机">
      </div>
    </div>

    <input type="hidden" name="userId" value="{{ app.user.id }}">
    <input type="hidden" name="id" value="{{ shippingAddress.id|default(0) }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}

{% block footer %}
    <button class="btn btn-link" data-dismiss="modal">取消</button>
    <button class="btn btn-primary" id="save-btn" type="submit" data-submiting-text="正在保存..." data-toggle="form-submit" data-target="#shipping-address-from">保存</button>
  <script>
      app.load('customwebbundle/controller/address/shipping-address-modal');
  </script>
{% endblock %}