{% extends 'activity/activity-layout.html.twig' %}

{% do script(['libs/ltc-sdk-client.js', 'libs/jquery-nouislider.js', 'libs/bootstrap-datetimepicker.js', 'libs/select2.js', 'testpaperactivity/js/manage/index.js'], 300) %}

{% block activity_step %}

<style>
	.tooltip-inner {
		max-width:613px !important;
		width:304px;
		text-align: left;
	}
	.form-switch {
		position: relative;
		border-radius: 20px;
		height: 20px;
		width: 40px;
		background: #ccc;
		background: rgba(0, 0, 0, .32);
		transition: all 0.3s ease;
	}
	.form-switch.checked {
		background: #428bca;
		transition: all 0.3s ease;
	}
	.form-switch.checked:before {
		left: 22px;
		transition: all 0.3s ease;
	}
	.form-switch:before {
		content: '';
		position: absolute;
		top: 2px;
		left: 2px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: #fff;
		transition: all 0.3s ease;
	}
	.form-switch:hover {
		cursor: pointer;
	}
	.form-switch input {
		display: none;
	}
	.switch-content{
		margin-top:8px;
	}
  .advanced-settings{
    color: #14954B;
    text-align: right;
    font-family: "PingFang SC";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }

</style>

  <div class="tab-pane js-course-tasks-pane active js-step2-view">

    <form class="form-horizontal" id="step2-form">
      {% set course = get_course(activity.fromCourseId) %}
      {% set testpaper = activity.ext.testpaper|default('') %}
      {% set questionBankTree = data('QuestionBankTree', {selectId: testpaper.bankId|default(0)}) %}
      {% set features = get_features() %}
      {% set testMode = activity.ext.answerScene.start_time|default(0) > 0 ? 'realTime' : 'normal' %}
      {% set examMode = activity.ext.answerScene.exam_mode|default(0) %}
      {% set canUpdate = activity.ext.answerScene.canUpdate is defined ? activity.ext.answerScene.canUpdate : 'true' %}
      {% set validPeriodMode = activity.ext.validPeriodMode|default('0') %}
      <input type="hidden" id="activityId" value="{{ activity.id|default(0) }}" />
      <input type="hidden" name="mediaType" value="testpaper" />
      <input type="hidden" id="canUpdate" value="{{ canUpdate }}" />
      <input type="hidden" id="validPeriodMode" value="{{ validPeriodMode }}" />
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <label for="examMode">{{ 'course.plan_task.activity_manage.testpaper.mode'|trans }}</label>
        </div>
        <div class="col-sm-10 clearfix">
          <input id="examMode" class="form-control" type="hidden" name="exam_mode" value="{{ examMode }}">
          <div class="testpaper-mode  js-testpaper-mode {% if examMode == 0 %}active{% endif %}"
               data-value="0"
               style="margin-right: 16px; {% if not(canUpdate) and validPeriodMode == 3 %}cursor: not-allowed{% endif %}"
          >
            <div class="testpaper-mode__title">{{ 'course.plan_task.activity_manage.testpaper.mock_type'|trans }}</div>
            <div class="testpaper-mode__rule">{{ 'course.plan_task.activity_manage.testpaper.mock_tips1'|trans }}</div>
            <div class="testpaper-mode__rule">{{ 'course.plan_task.activity_manage.testpaper.mock_tips2'|trans }}</div>
          </div>
          <div class="testpaper-mode js-testpaper-mode  {% if examMode == 1 %}active{% endif %}"
               data-value="1"
               style="{% if not(canUpdate) and validPeriodMode == 3 %}cursor: not-allowed{% endif %}"
          >
            <div class="testpaper-mode__title">{{ 'course.plan_task.activity_manage.testpaper.practise_type'|trans }}</div>
            <div class="testpaper-mode__rule">{{ 'course.plan_task.activity_manage.testpaper.practise_tips1'|trans }}</div>
            <div class="testpaper-mode__rule">{{ 'course.plan_task.activity_manage.testpaper.practise_tips2'|trans }}</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <label for="title" class="control-testpaper-medialabel-required">{{ 'course.plan_task.activity_manage.title_name'|trans }}</label>
        </div>
        <div class="col-sm-10">
          <input id="title" class="form-control" type="text" name="title" value="{{ activity.title|default('') }}">
          <div class="help-block">{{ 'course.plan_task.activity_manage.help_block'|trans }}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <label for="testpaper-media" class="control-label-required">{{ 'course.plan_task.activity_manage.testpaper'|trans }}</label>
        </div>
        <div class="col-sm-3 controls">
          <select id="question-bank"
                  class="form-control"
                  name="questionBankId"
                  data-url="{{ path('question_bank_manage_testpaper_json', {id:0}) }}"
                  {% if not(canUpdate) and validPeriodMode == 3 %}disabled{% endif %}
          >
            {% if questionBankTree %}
              <option value="0">{{ 'question.select_question_bank'|trans }}</option>
              {% for bank in questionBankTree %}
                {% if bank.selected is defined %}
                  <option class="hidden" value={{ bank.id }} {% if testpaper.bank_id|default(0) == bank.itemBankId %}selected{% endif %}>{{ bank.name }}</option>
                {% else %}
                  <option {% if bank.categoryId is not defined %} value disabled="disabled" {% else %} value="{{ bank.id }}" {% if testpaper.bank_id|default(0) == bank.itemBankId %}selected{% endif %}{% endif %}>{% for i in 1..(bank.depth-1) if bank.depth > 1 %}　{% endfor %}{{ bank.name }}</option>
                {% endif %}
              {% endfor %}
            {% else %}
              <option value="0">{{ 'question_bank.empty.no_auth'|trans }}</option>
            {% endif %}
          </select>
          <div class="help-block hidden js-help-block"></div>
        </div>
        <div class="col-sm-3 controls">
          <input id="testpaper-type"
                 class="form-control hidden"
                 name="type"
                 value="{{ type|default(0) }}"
                 data-url="{% if testpaper %}{{ path('question_bank_manage_testpaper_json', {id:testpaper.bank_id}) }}{% endif %}"
                 {% if not(canUpdate) and validPeriodMode == 3 %}disabled{% endif %}
          >
          {% if testpaper.type|default() %}
            <input type="hidden" id="testPaperType" value="{{testpaper.type}}">
          {% endif %}
        </div>
        <div class="col-sm-3 controls">
          <input id="testpaper-media"
                 class="form-control hidden"
                 name="testpaperId"
                 value="{{ testpaper.id|default(0) }}"
                 data-url="{% if testpaper %}{{ path('question_bank_manage_testpaper_json', {id:testpaper.bank_id}) }}{% endif %}"
                 data-get-testpaper-items="{{ path('course_set_manage_testpaper_info',{id:course.courseSetId}) }}"
                 {% if not(canUpdate) and validPeriodMode == 3 %}disabled{% endif %}
          >
          {% if testpaper|default() %}
            <input type="hidden" id="testPaperName" value="{{ testpaper.name }}">
          {% endif %}
          {% if not(canUpdate) and validPeriodMode == 3 %}
            <input type="hidden" name="testpaperId" value="{{ testpaper.id|default(0) }}">
          {% endif %}
        </div>
      </div>

      <div class="form-group" id="questionItemShowDiv" style="display:none;">
        <div class="col-sm-2 control-label"></div>
        <div id="questionItemShowTable"
             class="col-sm-10 controls"
        ></div>
      </div>

      <div id="js-test-and-comment" class="js-score-form-group" {% if activity.finishData is not defined %}style="display:none;"{% endif %}>
        <div class="form-group" id="score-condition" data-pass="{{ activity.finishData|default('0.6') }}" data-score="{{ testpaper.total_score|default(0) }}">
          <div class="col-sm-2 control-label">
            <label for="testpaper-media" class="control-label-required">{{ 'course.plan_task.activity_manage.testpaper.qualified_score'|trans }}</label>
          </div>
          <div class="col-sm-10 color-gray" style="{% if not(canUpdate) and validPeriodMode == 3 %}cursor: not-allowed{% endif %}">
            <span>0</span>
            <div class="js-slider-content inline-block vertical-middle mlm mrl" id="score-slider"></div>
            <span class="js-score-total"></span>{{ 'site.question.attr.score.unit'|trans }}
            <input type="hidden" id="finishData" name="finishData" value="{{ activity.finishData|default('0.6') }}">
            {% if activity.finishType|default('') %}
              <input type="hidden" name="finishType" value="{{ activity.finishType }}">
            {% endif %}
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2 control-label">
            <label for="">{{ 'course.plan_task.activity_manage.testpaper.auto_comment'|trans }}</label></div>
          <div class="col-sm-10">
            <table class="table table-bordered text-center {% if activity.customComments is empty %}hidden{% endif %}" id="customCommentTable">
              <tr>
                <th width="25%">
                  {{ 'course.plan_task.activity_manage.testpaper.score'|trans }}
                  <span class="link-medium es-icon es-icon-help ml5"
                      data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top"
                      data-content="{{ 'course.plan_task.activity_manage.testpaper.comment_tips'|trans()|raw}}"></span>
                </th>
                <th>{{ 'course.plan_task.activity_manage.testpaper.comment_content'|trans }}</th>
                <th>{{ 'course.plan_task.activity_manage.testpaper.comment_operation'|trans }}</th>
              </tr>
              {% for key,item in activity.customComments %}
                <tr>
                  <td class="form-inline">
                    <input type="text" class="form-control" name="start[{{ key }}]" value="{{ item.start|default('') }}" style="width: 47px; padding: 6px;">
                    -
                    <input type="text" class="form-control" name="end[{{ key }}]" value="{{ item.end|default('') }}" style="width: 47px; padding: 6px;">
                  </td>
                  <td class="form-inline">
                    <textarea name="comment[{{ key }}]" rows="1" maxlength="1500" class="form-control js-comment-content" style="width: 310px;margin-right: 15px;">{{ item.comment|default('') }}</textarea>
                    <div class="default-comment">
                      <a href="javascript:;" class="default-comment__btn js-default-comment">{{ 'course.plan_task.activity_manage.testpaper.default_comment' | trans }}</a>
                      <div class="default-comment-list hidden">
                        <div class="default-comment-list__item js-default-comment-item">{{ 'course.plan_task.activity_manage.testpaper.default_comment1' | trans }}</div>
                        <div class="default-comment-list__item js-default-comment-item">{{ 'course.plan_task.activity_manage.testpaper.default_comment2' | trans }}</div>
                        <div class="default-comment-list__item js-default-comment-item">{{ 'course.plan_task.activity_manage.testpaper.default_comment3' | trans }}</div>
                        <div class="default-comment-list__item js-default-comment-item">{{ 'course.plan_task.activity_manage.testpaper.default_comment4' | trans }}</div>
                        <div class="default-comment-list__item js-default-comment-item">{{ 'course.plan_task.activity_manage.testpaper.default_comment5' | trans }}</div>
                      </div>
                    </div>
                  </td>
                  <td class="form-inline vertical-middle">
                    <a href="javascript:;" class="js-comment-remove">{{ 'course.plan_task.activity_manage.testpaper.comment_remove'|trans }}</a>
                  </td>
                </tr>
              {% endfor %}
            </table>
            <div class="form-control pl0" style="border: none;">
              <a href="javascript:;" id="addComment">{{ 'course.plan_task.activity_manage.testpaper.add_comment'|trans }}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
			  <div class="col-sm-2 control-label">
          <label for="length" class="control-label-required">{{ 'course.plan_task.activity_manage.testpaper.validity.period.of.examination'|trans }}</label>
				</div>
				<div class="col-sm-10 controls radios">
          <label>
            <input
              type="radio"
              name="validPeriodMode"
              value="0"
              {% if validPeriodMode == 0 %}checked="checked"{% endif %}
              {% if not(canUpdate) and validPeriodMode == 3 %}disabled{% endif %}
            >
            {{ 'course.plan_task.activity_manage.exercise.default_difficulty'|trans }}
            <i class="es-icon es-icon-wenhaotishi color-gray" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'course.plan_task.activity_manage.testpaper.unlimited'|trans|raw }}"></i>
          </label>
          <label>
            <input
              type="radio"
              name="validPeriodMode"
              value="1"
              {% if validPeriodMode == 1 %}checked="checked"{% endif %}
              {% if not(canUpdate) and validPeriodMode == 3  %}disabled{% endif %}
            >
            {{ 'course.plan_task.activity_manage.testpaper.mode.realTimeRange'|trans }}
            <i class="es-icon es-icon-wenhaotishi color-gray" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'course.plan_task.activity_manage.testpaper.realTimeRange'|trans|raw }}"></i>
          </label>
          <label>
            <input
              type="radio"
              name="validPeriodMode"
              value="2"
              {% if validPeriodMode == 2 %}checked="checked"{% endif %}
              {% if not(canUpdate) and validPeriodMode == 3  %}disabled{% endif %}
            >
            {{ 'course.plan_task.activity_manage.testpaper.mode.startTime'|trans }}
            <i class="es-icon es-icon-wenhaotishi color-gray" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'course.plan_task.activity_manage.testpaper.startTime'|trans|raw }}"></i>
          </label>
          <label>
            <input
              type="radio"
              name="validPeriodMode"
              value="3"
              {% if validPeriodMode == 3 %}checked="checked"{% endif %}
              {% if not(canUpdate) %}disabled{% endif %}
            >
            {{ 'course.plan_task.activity_manage.testpaper.mode.fixedTimeInterval'|trans }}
            <i class="es-icon es-icon-wenhaotishi color-gray" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'course.plan_task.activity_manage.testpaper.fixedTimeInterval'|trans|raw }}"></i>
          </label>
          {% if not(canUpdate) %}
            <input type="hidden" name="validPeriodMode" value="{{ validPeriodMode }}">
          {% endif %}
        </div>
          <input type="hidden" name="startTime" value="{% if activity.ext.answerScene.start_time|default(0) > 0 %}{{ activity.ext.answerScene.start_time|date('Y-m-d H:i:s') }}{% else %}0{% endif %}" size="25" >
          <input type="hidden" name="endTime" value="{% if activity.ext.answerScene.end_time|default(0) > 0 %}{{ activity.ext.answerScene.end_time|date('Y-m-d H:i:s') }}{% else %}0{% endif %}" size="25" >
        <div class="col-sm-offset-2 col-sm-10 controls">
          <input
            type="{% if validPeriodMode != 1 %}hidden{% else %}text{% endif %}"
            readonly
            unselectable="on"
            id="rangeTime"
            name="rangeTime"
            size="25"
            class="form-control js-realTimeRange-data testpaperTimeRange"
            autocomplete="off"
            style="width: 320px;"
            {% if not(canUpdate) and validPeriodMode == 3 %}disabled{% endif %}
          >
        </div>
        <div class="col-sm-offset-2 col-sm-10 controls">
          <input
            type="{% if validPeriodMode != 2 %}hidden{% else %}text{% endif %}"
            readonly
            unselectable="on"
            size="25"
            id="rangeStartTime"
            name="rangeStartTime"
            class="form-control js-start-range testpaperTimeRange"
            style="width: 160px;"
            {% if not(canUpdate) and validPeriodMode == 3 %}disabled{% endif %}
          >
        </div>
        <div class="col-sm-offset-2 col-sm-10 controls" style="display: flex; flex-direction: column;">
          <div style="display: flex; align-items: center;">
            <input
              type="{% if validPeriodMode != 3 %}hidden{% else %}text{% endif %}"
              readonly
              unselectable="on"
              id="rangeFixedTime"
              name="rangeFixedTime"
              size="25"
              class="form-control js-fixedTime-data testpaperTimeRange"
              autocomplete="off"
              style="width: 320px; margin-right: 24px"
              {% if not(canUpdate) and validPeriodMode == 3 %}disabled{% endif %}
            >
            <div class="js-test-duration" style="margin-right: 12px; margin-bottom: 10px"></div>
          </div>
          <div class="js-fixed-time-tip" style="margin-top: 5px; font-size: 14px; font-weight: 400; line-height: 22px; color: #A1A1A1;"></div>
        </div>
			</div>

      <div class="form-group js-fixed-time-form-group">
        <div class="col-sm-2 control-label">
          <label for="length" {% if examMode == '0' %}class="control-label-required"{% endif %}>{{ 'course.plan_task.activity_manage.testpaper.time_limit'|trans }}</label></div>
        <div class="col-sm-10 controls radios">
          <input id="length" class="form-control inline-block width-150" type="text" name="length" value="{{ activity.length|default() }}"> {{ 'site.date.minute'|trans }}
          <div class="help-block js-mode-helpblock js-mode-helpblock-0 {% if examMode == '1' %}hidden{% endif %}">
            {{ 'course.plan_task.activity_manage.testpaper.mock_tips3'|trans }}
          </div>
          <div class="help-block js-mode-helpblock js-mode-helpblock-1  {% if examMode == '0' %}hidden{% endif %}">
            {{ 'course.plan_task.activity_manage.testpaper.practise_tips3'|trans }}
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
          <label>{{ 'course.plan_task.activity_manage.testpaper.times'|trans }}</label></div>
        <div class="col-sm-10 controls radios">
          <label>
            <input type="radio"
                   name="isLimitDoTimes"
                   value="0"
                   {% if activity.ext.isLimitDoTimes|default('0') == 0 %}checked{% endif %}
                   {% if not(canUpdate) and validPeriodMode == 3  %}disabled{% endif %}
            >
            {{ 'course.plan_task.activity_manage.testpaper.times.always'|trans }}
          </label>
          <label>
            <input type="radio"
                   name="isLimitDoTimes"
                   value="1"
                   {% if activity.ext.isLimitDoTimes|default('0') == 1 %}checked{% endif %}
                   {% if not(canUpdate) and validPeriodMode == 3  %}disabled{% endif %}
            >
            {{ 'course.plan_task.activity_manage.testpaper.times.once'|trans }}
          </label>
          {% if not(canUpdate) and validPeriodMode == 3 %}
            <input type="hidden" name="isLimitDoTimes" value="{{ activity.ext.isLimitDoTimes|default('0') }}">
          {% endif %}
        </div>

        <div class="col-sm-offset-2 col-sm-10 controls">
          <input type="{% if activity.ext.isLimitDoTimes|default('0') == '0' %}hidden{% else %}text{% endif %}"
                 size="25"
                 id="doTimes"
                 name="doTimes"
                 value="{{ activity.ext.answerScene.do_times|default('1') }}"
                 class="form-control inline-block width-150 js-examinations-num"
                 {% if not(canUpdate) and validPeriodMode == 3 %}doTimes{% endif %}
          >
        </div>

        <div class="col-sm-offset-2 col-sm-10 controls">
          <label class="checkbox-inline" style="color: #a1a1a1 !important;">
            <input name="answerMode"
                   type="checkbox"
                   value="1"
                   {% if not(canUpdate) and validPeriodMode == 3 %}disabled{% endif %}
                   {% if activity.ext.answerMode|default(0) == 1 %}checked=checked {% endif %}
            >
            {{ 'course.plan_task.activity_manage.testpaper.show_answer'|trans }}
          </label>
          {% if not(canUpdate) and validPeriodMode == 3 %}
            <input type="hidden" name="answerMode" value="{{ activity.ext.answerMode|default(0) == 1 ? 1 : 0 }}">
          {% endif %}
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 advanced-settings" id = "toggle-advanced-settings" style="cursor: pointer;">
          <apan>高级设置</apan>
          <span class="es-icon es-icon-xiangxia"></span>
        </div>
      </div>

      <div id="advanced-settings" class="form-group" style="display: none;">
        <div class="form-group js-redo-interval-form-group">
          <div class="col-sm-2 control-label">
            <label for="lesson-redo-interval-field">{{ 'course.plan_task.activity_manage.testpaper.redo_interval'|trans }}</label>
            <i class="es-icon es-icon-wenhaotishi color-gray" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'course.plan_task.activity_manage.testpaper.redo_interval_tips'|trans }}"></i>
          </div>
          <div class="col-sm-10 controls">
            <input id="lesson-redo-interval-field" class="form-control inline-block width-150" type="text" name="redoInterval" value="{{ activity.ext.answerScene.redo_interval|default('0') / 60 }}"> {{ 'site.date.hour'|trans }}
            <div class="help-block">{{ 'course.plan_task.activity_manage.testpaper.time_limit_tips'|trans }}</div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2 control-label">
              <label for="lesson-redo-interval-field">{{ 'course.plan_task.activity_manage.testpaper.topic.out.of.order'|trans }}</label>
              <i class="es-icon es-icon-wenhaotishi color-gray" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'course.plan_task.activity_manage.testpaper.question.disorder'|trans }}"></i>
            </div>
          <div class="col-sm-10 controls switch-content">
            <label class="form-switch setting-switch {% if activity.ext.answerScene.is_items_seq_random|default(0) %}checked{% endif %}" style="{% if not(canUpdate) and validPeriodMode == 3 %}cursor: not-allowed{% endif %}">
              <input id="weixinweb_enabled"
                     type="checkbox"
                     name="abandonIsItemsSeqRandom"
                     value="{{ activity.ext.answerScene.is_items_seq_random|default(0) }}"
                     data-toggle="switch"
                     {% if not(canUpdate) and validPeriodMode == 3 %}disabled{% endif %}
              >
              <input type="hidden" name="isItemsSeqRandom" value="{{ activity.ext.answerScene.is_items_seq_random|default(0) }}">
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2 control-label">
              <label for="lesson-redo-interval-field">{{ 'course.plan_task.activity_manage.testpaper.option.out.of.order'|trans }}</label>
              <i class="es-icon es-icon-wenhaotishi color-gray" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'course.plan_task.activity_manage.testpaper.option.disorder'|trans }}"></i>
            </div>
          <div class="col-sm-10 controls switch-content">
            <label class="form-switch setting-switch {% if activity.ext.answerScene.is_options_seq_random|default(0) %}checked{% endif %}" style="{% if not(canUpdate) and validPeriodMode == 3 %}cursor: not-allowed{% endif %}">
              <input id="weixinweb_enabled"
                     type="checkbox"
                     name="abandonIsOptionsSeqRandom"
                     value="{{ activity.ext.answerScene.is_options_seq_random|default(0) }}"
                     data-toggle="switch"
                     {% if not(canUpdate) and validPeriodMode == 3 %}disabled{% endif %}
              >
              <input type="hidden" name="isOptionsSeqRandom" value="{{ activity.ext.answerScene.is_options_seq_random|default(0) }}">
            </label>
          </div>
        </div>

        {{ slot('course.task.facein.settings', {'activity': activity|default([])}) }}
        {% if is_facein_open() %}
          <div class="form-group js-enable_facein {% if examMode == '1' %}hidden{% endif %}">
            <div class="col-sm-2 control-label"><label>{{ 'course.task.enable_facein'|trans }}</label></div>
            <div class="col-sm-10 controls radios">
            <label class="form-switch setting-switch {% if activity.ext.answerScene.enable_facein|default(0) %}checked{% endif %}">
              <input type="checkbox" name="abandonEnable_facein" value="{{ activity.ext.answerScene.enable_facein|default(0) }}" id="weixinweb_enabled" data-toggle="switch">
              <input type="hidden" name="enable_facein" value="{{ activity.ext.answerScene.enable_facein|default(0) }}">
            </label>
            </div>
          </div>
        {% endif %}
      </div>
    </form>
  </div>
  {% if 'lesson_credit' in features %}
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label for="lesson-title-field">{{ 'course.plan_task.activity_manage.testpaper.mode.require_credit'|trans }}</label>
      </div>
      <div class="col-sm-10 controls">
        <input class="form-control widt-input width-150" type="text" name="requireCredit" value="{{ lesson.requireCredit|default(0) }}"> {{ 'site.data.score'|trans }}
        <div class="help-block">{{ 'course.plan_task.activity_manage.testpaper.mode.require_credit_tips'|trans }}</div>
      </div>
    </div>
  {% endif %}
{% endblock %}
