<li class="item-chapter {% if chapter.type == 'unit' %}item-chapter-unit{% endif %} clearfix" id="chapter-{{ chapter.id }}" style="word-break: break-all;" >
	<div class="item-content">第 <span class="number">{{ chapter.number }}</span> {% if chapter.type == 'unit' %}节{% else %}章{% endif %}： {{ chapter.title }}</div>
	<div class="item-actions prs">
		<div class="btn-group">
		<button class="btn btn-link dropdown-toggle" title="添加"  data-toggle="dropdown"><i class="glyphicon glyphicon-plus-sign"></i></button>
		{% if chapter.type == 'unit' %}
		 	<ul class="dropdown-menu" role="menu">
			    <li>
			      <a href="#" id="chapter-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{% if course.type == 'normal' %}{{ path('course_manage_lesson_create', {id:course.id, parentId:'chapter-'~chapter.id}) }}{% else %}{{ path('live_course_manage_lesson_create', {id:course.id, parentId:'chapter-'~chapter.id}) }}{% endif %}"><i class="glyphicon glyphicon-plus"></i> {% if course.type == 'normal' %} 添加 课时 {% else %} 添加 直播课时 {% endif %} </a>
			    </li>
			    {% if course.type == 'normal' %}
			    <li>
			      <a href="#" id="chapter-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_manage_lesson_create_testpaper', {id:course.id, parentId:'chapter-'~chapter.id}) }}"><i class="glyphicon glyphicon-plus"></i> 添加 试卷 </a>
			    </li>
			    {% endif %}
			</ul>
		 {% else %}
		  	<ul class="dropdown-menu" role="menu">
			    <li>
			      <a href="#" id="chapter-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_manage_chapter_create', {id:course.id, type:'unit', parentId:'chapter-'~chapter.id}) }}"><i class="glyphicon glyphicon-plus"></i> 添加 小节 </a>
			    </li>
			   <li>
			      <a href="#" id="chapter-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{% if course.type == 'normal' %}{{ path('course_manage_lesson_create', {id:course.id, parentId:'chapter-'~chapter.id}) }}{% else %}{{ path('live_course_manage_lesson_create', {id:course.id, parentId:'chapter-'~chapter.id}) }}{% endif %}"><i class="glyphicon glyphicon-plus"></i> {% if course.type == 'normal' %} 添加 课时 {% else %} 添加 直播课时 {% endif %} </a>
			    </li>
			    {% if course.type == 'normal' %}
			    <li>
			      <a href="#" id="chapter-create-btn" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" data-url="{{ path('course_manage_lesson_create_testpaper', {id:course.id, parentId:'chapter-'~chapter.id}) }}"><i class="glyphicon glyphicon-plus"></i> 添加 试卷 </a>
			    </li>
			    {% endif %}
			</ul>
		{% endif %}	
		</div>

		<button class="btn btn-link" title="编辑" data-toggle="modal" data-target="#modal" data-keyboard="false" data-url="{{ path('course_manage_chapter_edit', {courseId:course.id, chapterId:chapter.id}) }}"><i class="glyphicon glyphicon-edit"></i></button>

		<button class="btn btn-link delete-chapter-btn" title="删除" data-url="{{ path('course_manage_chapter_delete', {courseId:course.id, chapterId:chapter.id}) }}"><i class="glyphicon glyphicon-trash"></i></button>

		</div>
</li>