{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

{% if isModal|default(null) %}

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">评价课程</h4>
    </div>
    <div class="modal-body">
      <ul class="comment-list">
        {% for review in reviews %}
        {% set user = users[review.userId] %}
        <li class="clearfix">
          <div class="avatar">
            <a href="{{ path('user_show', {id:user.id}) }}"><img src="{{ filepath(user.smallAvatar, 'avatar.png') }}" alt=""></a>
          </div>
          <div class="comment-content clearfix">
            <div class="score">
              <span class="name">{{user.nickname}}</span>
              <span class="stars-{{ review.rating }}"></span>
              <span class="date hidden-xs">{{ review.createdTime|date('Y-m-d') }}</span>
            </div>
            <p> {{ review.content }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" data-dismiss="modal">取消</button>
      <button class="btn btn-primary" data-url="{{ path('course_review_create', {id:course.id}) }}" id="back_to_create">返回</button>
    </div>
  </div>
</div>


{% else %}

<div class="course-column no-border" id="course-review-pane">
  <div class="title">学员心声</div>
  <ul class="comment-list">
    {% for review in reviews %}
    {% set user = users[review.userId] %}
    <li class="clearfix">
      <div class="avatar">
        <a href="{{ path('user_show', {id:user.id}) }}"><img src="{{ filepath(user.smallAvatar, 'avatar.png') }}" alt=""></a>
      </div>
      <div class="comment-content clearfix">
        <div class="score">
          <span class="name">{{user.nickname}}</span>
          <span class="stars-{{ review.rating }}"></span>
          <span class="date hidden-xs">{{ review.createdTime|date('Y-m-d') }}</span>
        </div>
        <p> {{ review.content }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endif %}

