<div class="admin-v2-section__header cd-mb16">{{ 'admin_v2.homepage.application_intro'|trans }}
  <a class="admin-v2-section__more application-intro-not-connected" href="{{ returnUrl }}"
     {% if not hasPermission %}target="_blank"{% endif %}>{{ 'admin_v2.homepage.application_intro.more_btn'|trans }}</a>
</div>
<div class="admin-v2-section__body">
  <div class="row">
    {% for app in applicationData %}
      <div class="col-md-3">
        <a class="text-center admin-application" href="{{ app.url }}" target="_blank">
          <img src={{ app.image }}>
          <div class="admin-application__name">{{ app.title }}</div>
        </a>
      </div>
    {% else %}
      {% for i in 0..3 %}
        <div class="col-md-3">
          <div class="text-center admin-application">
            <i class="es-icon es-icon-entry-application"></i>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>