<div class="row">
  <div class="col-md-3">
    <div class="admin-data__value">{{ 'admin_v2.homepage.today_login_user'|trans }}</div>
    <div class="admin-data__explain">{{ loginCount|default('0') }}</div>
  </div>
  <div class="col-md-3">
    <div class="admin-data__value">{{ 'admin_v2.homepage.today_register_user'|trans }}</div>
    <div class="admin-data__explain">{{ registerNum|default('0') }}</div>
  </div>
  <div class="col-md-3">
    <div class="admin-data__value">{{ 'admin_v2.homepage.today_new_paid_order'|trans }}</div>
    <div class="admin-data__explain">{{ newPaidOrderCount|default('0') }}</div>
  </div>
  <div class="col-md-3">
    <div class="admin-data__value">{{ 'admin_v2.homepage.today_new_order'|trans }}</div>
    <div class="admin-data__explain">{{ newOrderCount|default('0') }}</div>
  </div>
</div>
