{% extends 'admin-v2/layout.html.twig' %}
{% block title %}{{ 'admin.hompage.html_head_title'|trans }}{% endblock %}
{% set panel = 'dashboard' %}
{% set adminV2Homepage = 1 %}
{% do script(['app/js/admin-v2/default/index.js']) %}

{% set bodyClass = "admin-v2-page" %}

{% block container %}
  <div class="container admin-v2-container">
    {# 域名检查提示#}
    <div class="alert-list">
      {{ render(controller('AppBundle:AdminV2/Default:validateDomain')) }}
      {% if not (setting('copyright.thirdCopyright')|default(0) == 1) and is_trial() %}
        {{ render(controller('AppBundle:AdminV2/Default:getCloudNotices')) }}
      {% endif %}
    </div>

    <div class="row cd-mt24">
      <div class="col-md-9">

        {# 任务助手 #}
        {% if not isNewcomerTaskAllDone %}
          {% include 'admin-v2/default/newcomer-task.html.twig' %}
        {% endif %}

        {# 数据概览 #}
        <div class="admin-v2-section cd-pb24">
          <div class="admin-v2-section__header cd-mb16">{{ 'admin_v2.homepage.data_overview'|trans }}<a class="admin-v2-section__more" href="{{ path('admin_v2_data_statistics_overview') }}">{{ 'admin_v2.homepage.more_btn'|trans }}<i class="es-icon es-icon-chevronright"></i></a></div>
          <div class="admin-v2-section__body admin-data" data-url="{{ path('admin_v2_homepage_daily_statistics') }}">
            <div class="row text-center" style="line-height: 56px;">
              {{ 'admin_v2.homepage.loading_data_tips'|trans }}
            </div>
          </div>
        </div>

        {# 常用入口 #}
        <div class="admin-v2-section cd-pb16">
          <div class="admin-v2-section__header cd-mb16">{{ 'admin_v2.homepage.quick_entrance'|trans }}</div>
          <div class="admin-v2-section__body">
            <div class="row quick-entrance">
              {{ render(controller('AppBundle:AdminV2/Default:quickEntrance')) }}
            </div>
          </div>
        </div>

        {# 应用简介 #}
        <div class="admin-v2-section cd-pb24 application-intro"
             {% if not is_without_network() %}data-url="{{ path('admin_v2_homepage_application_intro') }}" {% endif %}>
          <div class="admin-v2-section__header cd-mb16">{{ 'admin_v2.homepage.application_intro'|trans }}
            <a class="admin-v2-section__more js-no-network"
               href="javascript:;">{{ 'admin_v2.homepage.application_intro.more_btn'|trans }}</a></div>
          <div class="admin-v2-section__body">
            <div class="row">
              {% for i in 0..3 %}
                <div class="col-md-3">
                  <div class="text-center admin-application">
                    <i class="es-icon es-icon-entry-application"></i>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        {# 经营建议 #}
        {{ render(controller('AppBundle:AdminV2/Default:businessAdvice')) }}

      </div>
      <div class="col-md-3">

        {{ render(controller('AppBundle:AdminV2/Default:info')) }}

        {% set test = {
          'src': 'http://open.edusoho.com/files/product/SubSchool/iconed1fed70.jpg',
          'text': '北京用户大会于上扣扣的看风使舵开始发送到了解详情点击进入坎坎坷坷第三方发倒是是啦啦>>'
        } %}

        <div class="admin-sidebar-section cd-pb16">
          <div class="admin-sidebar-section__header">{{ 'admin_v2.homepage.announcement_from_platform'|trans }}</div>
          <div class="announcement-from-platform"{% if not is_without_network() %} data-url="{{ path('admin_v2_announcement_from_platform') }}"{% endif %}>
            <div class="admin-notice">
              <img src="{{ asset('static-dist/app/img/admin-v2/announcement-from-platform.png') }}">
            </div>
          </div>
        </div>

        {{ render(controller('AppBundle:AdminV2/Default:changelog')) }}

        {# 公众号 #}
        {{ render(controller('AppBundle:AdminV2/Default:qrCode')) }}

      </div>
    </div>

    <div  id="cloud-ad" class="admin-cloud-ad modal fade text-center" aria-hidden="true" data-backdrop="static"  tabindex="-1" role="dialog" data-url ="{{ path('admin_v2_cloud_ad') }}">
      <div class="modal-dialog">
          <a href="" target="_blank">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </a>
      </div>
    </div>
  </div>
{% endblock %}
