<div class="row">
  <div class="col-md-2 pr0">
    <div class="task-step{% if newcomerTaskStatus.cloud_applied %} task-step--done{% endif %}">
      {% if newcomerTaskStatus.cloud_applied %}<span class="task-step__tag"></span>{% endif %}
      <div class="task-step__title">{{ 'admin_v2.newcomer_task.cloud_applied.title'|trans }}</div>
      <div class="task-step__tip">{{ 'admin_v2.newcomer_task.cloud_applied.tip'|trans }}</div>
      <a class="task-step__btn" href="{{ path('admin_v2_setting_cloud_key_update') }}">{% if newcomerTaskStatus.cloud_applied %}{{ 'admin_v2.newcomer_task.done'|trans }}{% else %}{{ 'admin_v2.newcomer_task.todo'|trans }}{% endif %}</a>
      <a class="task-step__link" href="http://www.qiqiuyu.com/faq/523/detail" target="_blank">{{ 'admin_v2.newcomer_task.check_guide'|trans }}</a>
    </div>
  </div>
  <div class="col-md-2 pr0">
    <div class="task-step{% if newcomerTaskStatus.payment_applied %} task-step--done{% endif %}">
      {% if newcomerTaskStatus.payment_applied %}<span class="task-step__tag"></span>{% endif %}
      <div class="task-step__title">{{ 'admin_v2.newcomer_task.payment_applied.title'|trans }}</div>
      <div class="task-step__tip">{{ 'admin_v2.newcomer_task.payment_applied.tip'|trans }}</div>
      <a class="task-step__btn"
         href="{{ path('admin_v2_setting_payment') }}">{% if newcomerTaskStatus.payment_applied %}{{ 'admin_v2.newcomer_task.done'|trans }}{% else %}{{ 'admin_v2.newcomer_task.todo'|trans }}{% endif %}</a>
      <a class="task-step__link" href="http://www.qiqiuyu.com/faq/525/detail"
         target="_blank">{{ 'admin_v2.newcomer_task.check_guide'|trans }}</a>
    </div>
  </div>
  <div class="col-md-2 pr0">
    <div class="task-step{% if newcomerTaskStatus.auth_applied %} task-step--done{% endif %}">
      {% if newcomerTaskStatus.auth_applied %}<span class="task-step__tag"></span>{% endif %}
      <div class="task-step__title">{{ 'admin_v2.newcomer_task.auth_applied.title'|trans }}</div>
      <div class="task-step__tip">{{ 'admin_v2.newcomer_task.auth_applied.tip'|trans }}</div>
      <a class="task-step__btn"
         href="{{ path('admin_v2_setting_auth') }}">{% if newcomerTaskStatus.auth_applied %}{{ 'admin_v2.newcomer_task.done'|trans }}{% else %}{{ 'admin_v2.newcomer_task.todo'|trans }}{% endif %}</a>
      <a class="task-step__link" href="http://www.qiqiuyu.com/faq/526/detail"
         target="_blank">{{ 'admin_v2.newcomer_task.check_guide'|trans }}</a>
    </div>
  </div>
  <div class="col-md-2 pr0">
    <div class="task-step{% if newcomerTaskStatus.plugin_applied %} task-step--done{% endif %}">
      {% if newcomerTaskStatus.plugin_applied %}<span class="task-step__tag"></span>{% endif %}
      <div class="task-step__title">{{ 'admin_v2.newcomer_task.plugin_applied.title'|trans }}</div>
      <div class="task-step__tip">{{ 'admin_v2.newcomer_task.plugin_applied.tip'|trans }}</div>
      <a class="task-step__btn"
         href="{{ path('admin_v2_app_center') }}">{% if newcomerTaskStatus.plugin_applied %}{{ 'admin_v2.newcomer_task.done'|trans }}{% else %}{{ 'admin_v2.newcomer_task.todo'|trans }}{% endif %}</a>
      <a class="task-step__link" href="http://www.qiqiuyu.com/faq/524/detail"
         target="_blank">{{ 'admin_v2.newcomer_task.check_guide'|trans }}</a>
    </div>
  </div>
  <div class="col-md-2 pr0">
    <div class="task-step{% if newcomerTaskStatus.course_applied %} task-step--done{% endif %}">
      {% if newcomerTaskStatus.course_applied %}<span class="task-step__tag"></span>{% endif %}
      <div class="task-step__title">{{ 'admin_v2.newcomer_task.course_applied.title'|trans }}</div>
      <div class="task-step__tip">{{ 'admin_v2.newcomer_task.course_applied.tip'|trans }}</div>
      <a class="task-step__btn"
         href="{{ path('admin_v2_course_set') }}">{% if newcomerTaskStatus.course_applied %}{{ 'admin_v2.newcomer_task.done'|trans }}{% else %}{{ 'admin_v2.newcomer_task.todo'|trans }}{% endif %}</a>
      <a class="task-step__link" href="http://www.qiqiuyu.com/faq/527/detail"
         target="_blank">{{ 'admin_v2.newcomer_task.check_guide'|trans }}</a>
    </div>
  </div>
  <div class="col-md-2">
    <div class="task-step{% if newcomerTaskStatus.decoration_applied %} task-step--done{% endif %}">
      {% if newcomerTaskStatus.decoration_applied %}<span class="task-step__tag"></span>{% endif %}
      <div class="task-step__title">{{ 'admin_v2.newcomer_task.decoration_applied.title'|trans }}</div>
      <div class="task-step__tip">{{ 'admin_v2.newcomer_task.decoration_applied.tip'|trans }}</div>
      <a class="task-step__btn"
         href="{{ path('admin_v2_navigation', {'type':'top'}) }}">{% if newcomerTaskStatus.decoration_applied %}{{ 'admin_v2.newcomer_task.done'|trans }}{% else %}{{ 'admin_v2.newcomer_task.todo'|trans }}{% endif %}</a>
      <a class="task-step__link" href="http://www.qiqiuyu.com/faq/528/detail"
         target="_blank">{{ 'admin_v2.newcomer_task.check_guide'|trans }}</a>
    </div>
  </div>
</div>
