{% set currentTheme = current_theme() %}
{% set mobileEnabled = setting('mobile.enabled', 0) %}

<div class="admin-info-section">
  <div class="admin-website text-center">
    {% if setting('site.logo') %}
      <a class="admin-website__logo" href="#">
        <img src="{{ asset(setting('site.logo')) }}">
      </a>
    {% endif %}
    <div class="admin-website__name"><a class="admin-website__text text-overflow" href="{{ path('homepage') }}">{{ setting('site.name') }}</a></div>
    {# 三种颜色的客户等级 #}
    <div class="text-left">
      <div class="rank-tag {% if schoolLevel == 'saas' %}rank-tag--yellow{% elseif schoolLevel == 'license' %}{% elseif schoolLevel == 'opensource' %}rank-tag--green{% endif %}">
        <span class="rank-tag__icon"><i class="es-icon es-icon-star"></i></span><div class="rank-tag__text">{{ ('admin_v2.homepage.school_info.level.'~schoolLevel)|trans }}</div>
      </div>
      <div class="theme-tag">{{ currentTheme.name }}</div>
    </div>
  </div>

  <div class="admin-update">
    <div class="admin-update__cell">
      <span class="admin-update__label">{{ 'admin_v2.homepage.school_info.cloud_service'|trans }}：</span><span class="admin-update__number">
      {% if disabledCloudServiceCount == 0 %}
      </span><span>{{ 'admin_v2.homepage.school_info.cloud_service_status.open'|trans }}</span>
      {% else %}
        {{ disabledCloudServiceCount }}个</span ><a class="admin-update__link" href="{{ path('admin_v2_my_cloud_overview') }}">{{ 'admin_v2.homepage.school_info.cloud_service_status.not_open'|trans }}</a>
      {% endif%}
    </div>
    <div class="admin-update__cell">
      <span class="admin-update__label">{{ 'admin_v2.homepage.school_info.app_center'|trans }}：</span><span class="admin-update__number">
      {% if upgradeAppCount == 0 %}
      </span><span>{{ 'admin_v2.homepage.school_info.app_status.upgraded'|trans }}</span>
      {% else %}
        {{ upgradeAppCount }}个</span><a class="admin-update__link" href="{{ path('admin_v2_app_upgrades') }}">{{ 'admin_v2.homepage.school_info.app_status.has_upgrade'|trans }}</a>
      {% endif %}
    </div>
    <div class="admin-update__cell">
      <span class="admin-update__label">{{ 'admin_v2.homepage.school_info.system_upgrade'|trans }}：</span><span class="admin-update__number"></span>
      {% if mainAppUpgrade %}
        <a class="admin-update__link" href="{{ path('admin_v2_app_upgrades') }}">{{ 'admin_v2.homepage.school_info.system_status.has_upgrade'|trans }}</a>
      {% else %}
      {% endif %}
    </div>
  </div>
  <div class="admin-link">
    <a class="admin-link__btn" href="{{ path('homepage') }}" target="_blank"><i class="es-icon es-icon-website"></i>{{ 'admin_v2.homepage.school_info.access_web'|trans }}</a>
    <a {% if mobileEnabled %}class="admin-link__btn" href="{{ path('mobile') }}" {% else %}class="admin-link__btn admin-link__btn--disabled" href="{{ path('admin_v2_setting_mobile') }}"{% endif %}>{% if not mobileEnabled %}<span class="closed-tag"></span>{% endif %}<i class="es-icon es-icon-app"></i>{{ 'admin_v2.homepage.school_info.access_mobile_app'|trans }}</a>
    <a {% if wechatAppStatus.installed %}{% else %}class="admin-link__btn admin-link__btn--disabled" href="{{ path('admin_v2_wechat_app') }}"{% endif %}>{% if not wechatAppStatus.installed %}<span class="closed-tag"></span>{% endif %}<i class="es-icon es-icon-miniprogram"></i>{{ 'admin_v2.homepage.school_info.access_wechat_app'|trans }}</a>
  </div>
  <div class="admin-version">{{ 'admin_v2.homepage.school_info.system_version'|trans }}：{{ version }}</div>
</div>