{% set currentTheme = current_theme() %}
{% set mobileEnabled = setting('mobile.enabled', 0) %}
{% set isWithoutNetwork = is_without_network() %}

<div class="admin-info-section">
  <div class="admin-website text-center">
    {% if setting('site.logo') %}
      <a class="admin-website__logo" href="{{ path('admin_v2_school_information') }}">
        <img src="{{ asset(setting('site.logo')) }}">
      </a>
    {% endif %}
    <div class="admin-website__name"><a class="admin-website__text text-overflow" href="{{ path('admin_v2_school_information') }}">{{ setting('site.name') }}</a></div>
    {# 三种颜色的客户等级 #}
    <div class="">
      <div class="rank-tag {% if schoolLevel == 'saas' %}rank-tag--yellow{% elseif schoolLevel == 'license' %}{% elseif schoolLevel == 'none' %}rank-tag--green{% endif %}">
        <span class="rank-tag__icon">
            <img src={{ asset('static-dist/app/img/edition/edition-'~schoolLevel~'.svg') }} alt="">
        </span>
        <div class="rank-tag__text">{{ ('admin_v2.homepage.school_info.level.'~schoolLevel)|trans }}</div>
      </div>
      <div class="theme-tag">{{ currentTheme.name }}</div>
    </div>
  </div>
</div>
{# 网校版本信息、云服务开启情况（高级去版权不显示）#}
{% if not setting('copyright.thirdCopyright', false) == 1 %}
<div class="admin-update clearfix">
  <div class="admin-update__cell clearfix">
    <div class="admin-update__label pull-left">{{ 'admin_v2.homepage.school_info.cloud_service'|trans }}：</div>
    {% if isWithoutNetwork %}
      <div class="cdv2-light-minor pull-right"><div class="admin-update__number"></div>{{ 'admin_v2.homepage.school_info.cloud_service_status.not_open'|trans }}</div>
    {% elseif disabledCloudServiceCount == 0 %}
      <div class="cdv2-light-minor pull-right"><div class="admin-update__number"></div>{{ 'admin_v2.homepage.school_info.cloud_service_status.open'|trans }}</div>
    {% else %}
      <div class="admin-update__link pull-right"><div class="cdv2-light-minor inline-block" style="margin-right: 12px;">{{ disabledCloudServiceCount }}个</div><a class="admin-update__link"  href="{{ path('admin_v2_my_cloud_overview') }}">{{ 'admin_v2.homepage.school_info.cloud_service_status.not_open'|trans }}</a></div>
    {% endif %}
  </div>
  <div class="admin-update__cell clearfix" style="margin-top: 8px;">
    <div class="admin-update__label pull-left">{{ 'admin_v2.homepage.school_info.app_center'|trans }}：</div>
    {% if upgradeAppCount == 0 or isWithoutNetwork %}
      <div class="cdv2-light-minor pull-right admin-update__updated">{{ 'admin_v2.homepage.school_info.app_status.upgraded'|trans }}</div>
    {% else %}
      <div class="admin-update__link pull-right"><div class="admin-update__number">{{ upgradeAppCount }}个</div><a class="admin-update__link" href="{{ path('admin_v2_app_upgrades') }}">{{ 'admin_v2.homepage.school_info.app_status.has_upgrade'|trans }}</a></div>
    {% endif %}
  </div>
  <div class="admin-update__cell clearfix" style="margin-top: 8px;">
    <div class="admin-update__label pull-left">{{ 'admin_v2.homepage.school_info.system_upgrade'|trans }}：</div>
    {% if mainAppUpgrade and not isWithoutNetwork %}
      <div class="admin-update__link pull-right"><div class="cdv2-light-minor admin-update__version">{{ version }}</div><a class="admin-update__link" href="{{ path('admin_v2_app_upgrades') }}">{{ 'admin_v2.homepage.school_info.system_status.has_upgrade'|trans }}</a></div>
    {% else %}
      <div class="cdv2-light-minor pull-right"><div class="cdv2-light-minor admin-update__version">{{ version }}</div><span class="admin-update__updated">{{ 'admin_v2.homepage.school_info.system_status.upgraded'|trans }}</span></div>
    {% endif %}
  </div>
</div>
{% endif %}

<div class="admin-link">
<div class="cd-dropdown js-sass" data-toggle="cd-dropdown" data-trigger="hover">
  <a class="admin-link__btn" style="width: 100%;" href="{{ path('homepage') }}" target="_blank">
    <i class="es-icon es-icon-micronetwork-school"></i>
    {{ 'admin_v2.homepage.school_info.access_mobile_web'|trans }}
  </a>
    <div class="dropdown-menu" style="width: 232px;left: -20px; padding: 20px 16px;">
      <div class="school-share-container">
        <div class="school-share-link js-copy-school_link">扫码打开微网校
          <span class="school-share-divider">|</span>
          <a class="school-share-copy">{{ 'admin_v2.homepage.school_info.enter.copy_btn'|trans }}</a>
        </div>
        <img id="js-marketing-qrcode3" style="width: 200px;" />
      </div>
    </div>
  </div>
  <a {% if mobileEnabled %}class="admin-link__btn" href="{{ path('mobile') }}" target="_blank" {% else %}class="admin-link__btn admin-link__btn--disabled" data-toggle="tooltip" title="{{ 'admin_v2.homepage.school_info.no_access'|trans }}" href="{{ path('admin_v2_setting_mobile') }}"{% endif %}>{% if not mobileEnabled %}{% endif %}<i class="es-icon es-icon-app"></i>{{ 'admin_v2.homepage.school_info.access_mobile_app'|trans }}</a>
  <a {% if wechatAppStatus.installed|default(false) and wechatAppStatus.configured|default(false) %}class="admin-link__btn js-mini-program mb0" href="javascript:;" data-src="{{ miniProgramCodeImg.img_url|default() }}" {% else %}class="admin-link__btn admin-link__btn--disabled" data-toggle="tooltip" title="{{ 'admin_v2.homepage.school_info.no_access'|trans }}" href="{{ path('admin_v2_wechat_app') }}"{% endif %}>{% if not wechatAppStatus.installed %}{% endif %}<i class="es-icon es-icon-entry-miniprogram"></i>{{ 'admin_v2.homepage.school_info.access_wechat_app'|trans }}</a>
</div>
<script>
$('[data-toggle="tooltip"]').tooltip();
</script>
