{% block content_header %}
  <div class="mbl">
    <span class="mrm">{{ certificate.name }}</span>
    <a href="{{ path('admin_v2_certificate_manage') }}">{{ 'form.btn.return'|trans }}</a>
  </div>
{% endblock %}
<ul class="nav nav-tabs mbm">
  <li {% if tab == 'member' %}class="active"{% endif %}>
    <a href="{{ path('admin_v2_certificate_member_list', {id: certificate.id}) }}">
      {{ 'admin.operation_certificate.certificate.member_manage'|trans }}
    </a>
  </li>
  <li {% if tab == 'audit' %}class="active"{% endif %}>
    <a href="{{ path('admin_v2_certificate_audit_manage', {'id': certificate.id}) }}">
      {{ 'admin.operation_certificate.certificate.audit'|trans }}
    </a>
  </li>
  <li {% if tab == 'edit' %}class="active"{% endif %}>
    <a href="{{ path('admin_v2_certificate_edit', {'id': certificate.id}) }}">
      {{ 'admin.operation_certificate.certificate.update'|trans }}
    </a>
  </li>
</ul>
