{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}{{ '设置组织机构'|trans }}{% endblock %}
{% block body %}
<style>
  .user-help {
    line-height: 36px;
  }
</style>
  <form id="batch-setting-org-form" class="form-horizontal" method="post"
        action="{{ path('admin_batch_update_org',{module: module}) }}">

    {% include 'OrgBundle:Org:org-tree-select.html.twig' with {colmd:7} %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    <input type="hidden" name="ids" id="batch-ids">

    <input type="hidden" id="module" value="{{ module }}">
    <input type="hidden" id="appUserId" value="{{ app.user.id }}">
  </form>
{% endblock %}

{% block footer %}
  <span class="js-user-help  pull-left text-muted hidden">{{ '你不能更改自己的所属组织机构，你的账号已取消勾选'|trans }}</span>
  <button id="batch-setting-org-btn" data-submiting-text="{{ '正在提交'|trans }}" type="submit" class="btn btn-primary pull-right"
          data-toggle="form-submit" data-target="#batch-setting-org-form">{{ '提交'|trans }}
  </button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{ '取消'|trans }}</button>
  <script>app.load('orgbundle/controller/org/batch-org-modal')</script>
{% endblock %}