{% if has_permission('admin') or 'ROLE_TEACHER' in app.user.roles %}
  <li class="user-manage-li dropdown visible-lg cd-ml24">
    <a class="btn cd-btn cd-btn-sm dropdown-toggle user-manage-toggle{% if navigationcolor == 'white' %} user-manage-toggle--white cd-btn-primary{% else %} cd-btn-white {% endif %}" href="javascript:;" data-toggle="dropdown">{% if has_permission('admin') %}{{'homepage.header.admin_menu'|trans}}{% elseif 'ROLE_TEACHER' in app.user.roles %}{{ 'homepage.header.my_course'|trans }}{% endif %}<i class="cd-icon cd-icon-arrow-down cd-text-xs"></i></a>
    <ul class="dropdown-menu cd-dropdown-menu cd-dropdown-menu-right user-manage-dropdown" role="menu">
      {% if has_permission('admin') %}<li><a href="{{ path('admin') }}">{{'homepage.header.admin_menu'|trans}}</a></li>
      {% endif %}
      <li class="active"><a href="{{ path('my') }}">{{ 'homepage.header.my_course'|trans }}</a></li>
      <li><a href="{{ path('my_courses_learning') }}">{{ 'homepage.header.my_learning'|trans }}</a></li>
    </ul>
  </li>
{% else %}
  <li class="user-manage-li visible-lg cd-ml24">
    <a class="btn cd-btn cd-btn-sm user-manage-toggle user-student-manage{% if navigationcolor == 'white' %} cd-btn-primary user-manage-toggle--white{% else %} cd-btn-white {% endif %}" href="{{ path('my_courses_learning') }}">{{ 'homepage.header.my_learning'|trans }}</a>
  </li>
{% endif %}