<div class="course-item">
  <div class="course-img">
    {% if courseSet.course is defined %}
      {% set course = courseSet.course %}
    {% else %}
      {% set course = data('PublishedCourseByCourseSet',{ courseSetId: courseSet.id } ) %}
    {% endif %}

    <a href="{{ path('admin_v2_content_resource_product_detail', {courseSetId: courseSet.id}) }}" target="_blank">
      {% if courseSet.serializeMode == 'serialized' %}
        <span class="tags"><span class="tag-serialing"></span></span>
      {% elseif courseSet.serializeMode == 'finished' %}
        <span class="tags"><span class="tag-finished"></span></span>
      {% endif %}
      {% if courseSet.type|default() == 'live' %}
        <span class="tags">
          <span class="tag-live"></span>
        </span>
      {% endif %}
      {% if courseSet.type|default() == 'reservation' %}
        <span class="tags">
          <span class="tag-reservation"></span>
        </span>
      {% endif %}
      <img src="{{ filepath(course_set_cover(courseSet, 'large'), 'courseSet.png') }}" alt="{{ courseSet.title }}"
           class="img-responsive" data-echo="{{ filepath(course_set_cover(courseSet, 'large'), 'courseSet.png') }}"/>
    </a>
  </div>
  <div class="course-info">
    <div class="title">
      <a class="link-dark" href="{{ path('admin_v2_content_resource_product_detail', {courseSetId: courseSet.id}) }}" target="_blank">
        {{ courseSet.title }}
      </a>
    </div>
    <div class="metas clearfix">
      {% if setting('course.show_student_num_enabled', '1') == 1 %}
        <span class="num">
          {% if setting('course.show_cover_num_mode') == 'studentNum' %}
            <i class="es-icon es-icon-people"></i>{{ courseSet.studentNum }}
          {% elseif setting('course.show_cover_num_mode') == 'hitNum' %}
            <i class="es-icon es-icon-view"></i>{{ course.hitNum }}
          {% endif %}
        </span>
      {% endif %}

      <div class="form-group row">
        <label class="coopertion control-label" style="width: auto">
          {{ '首个计划合作面额'|trans }}:
        </label>
        <span class="cooperation-price">
          {% set amountAfterDeduct = courseSet.cooperationPrice|default(0) * merchant.coop_level_deduct|default(100) / 100 %}
          {{ amountAfterDeduct | number_format(2) }}
        </span>
      </div>

      <div class="form-group row">
        <label class="retail control-label" style="width: auto">
          {{ '首个计划建议零售'|trans }}:
        </label>
        <span class="retail-price">
          {{ courseSet.suggestionPrice|default(0) }}
        </span>
      </div>
    </div>

    <div class="selected_btn">
      {% set hasChosen = chosenCourses[courseSet.id]|default() %}
      {% set canChoose = (merchant.coop_status|default('') != 'cooperation' or hasChosen or courseSet.wholeEditStatus|default() == 'unpublished' ) %}
      <button id="course_selected_{{ courseSet.id }}"
              data-course-set="{{ courseSet|json_encode() }}"
{#              data-choose-url="{{ path('admin_v2_resource_market_choose_course_product') }} 选择课程暂时禁用"#}
              class="btn btn-fat btn-primary course-v2-btn{% if canChoose %} disabled {% endif %}"
              style="{% if canChoose %} background-color: #ccc; border-color: #ccc;{% else %} border-color: #409eff; background-color: #409eff;{% endif %}">
        {% if hasChosen %}
          {{ 'merchant.content_resource.has_chosen'|trans }}
        {% elseif courseSet.wholeEditStatus|default() == 'unpublished' %}
          {{ 'merchant.content_resource.editing'|trans }}
        {% else %}
          {{ 'merchant.content_resource.choose'|trans }}
        {% endif %}
      </button>
    </div>
  </div>
</div>

