<li data-course-id="{{course.id|default(null)}}" class="course-grid related-course-grid" role="course-item" 
{% if not showDelBtn|default(false) %}
style="cursor:pointer"
{% endif %}>
	<div class="grid-body" style="position:relative">
    {% if course %}
      {% set courseSet = data('CourseSet',{'id':course.courseSetId|default(-1)}) %}
    {% else %}
      {% set courseSet = [] %}
    {% endif %}
    <img src="{{ filepath(course_set_cover(courseSet, 'large'), 'courseSet.png') }}" class="img-responsive thumb"/>
		<span class="title" style="max-height: 15px;overflow: hidden;line-height: 20px;">
		{{courseSet.title|default('admin.course_manage.manage.not_select_course'|trans)}}{% if course and course.title %}-{{ course.title }}{% endif %}
		</span>

		<button type="button" role="course-item-delete" data-course-id="{{course.id|default(null)}}" {% if not showDelBtn|default(false) %}style="display:none"{% endif %} class="series-mode-label close"><i class="glyphicon glyphicon-remove"></i></button>

	</div>
</li>