<form class="task-question-plugin-form" id="task-question-plugin-form" method="post" action="{{ path('course_task_plugin_thread_create', {courseId: task.courseId, taskId: task.id}) }}">
  <div class="form-group mb0">
    <div class="controls">
      {{ form_widget(form.title, {attr:{class:'form-control expand-form-trigger', placeholder:'我要提问'|trans, 'data-display':'标题'|trans}}) }}
    </div>
  </div>

  <div class="form-group js-detail-form-group mtm  hide">
    <div class="controls">
      {{ form_widget(form.content, {attr:{class:'form-control', rows:5, placeholder:'详细描述你的问题'|trans, 'data-image-upload-url': path('editor_upload', {token:upload_token('course')}) }}) }}
    </div>
  </div>

  <div class="form-group js-detail-form-group mtm hide">
    <div class="controls clearfix">
      <button class="btn btn-primary btn-sm pull-right" type="submit">{{'提问'|trans}}</button>
      <button class="btn btn-link btn-sm collapse-form-btn pull-right" type="button">{{'取消'|trans}}</button>
    </div>
  </div>
  <div class="form-group mtm clearfix">
    <span class="color-gray form-control-static  pull-right">
      {{'提问可得'|trans}}<span class="color-primary"> 5 </span>{{'积分'|trans}}
      <i class="es-icon es-icon-help"  data-toggle="popover" data-container="body" data-trigger="hover" data-placement="bottom" title="{{'积分奖励'
      |trans}}" data-content="{{'获取积分可在“我的账户”中查看，可用于积分商城兑换商品。提问获取积分上限：50积分／天'|trans}}"></i>
    </span>
  </div>
  {{ form_rest(form) }}
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>