<form class="task-question-plugin-form" id="task-question-plugin-form" method="post" action="{{ path('course_task_plugin_thread_create', {courseId: task.courseId, taskId: task.id}) }}">
  <div class="form-group mb0">
    <div class="controls">
      {{ form_widget(form.title, {attr:{class:'form-control expand-form-trigger', placeholder:'course.plan_task.question_placeholder'|trans, 'data-display':'course.plan_task.question_title'|trans}}) }}
    </div>
  </div>

  <div class="form-group js-detail-form-group mtm  hide">
    <div class="controls">
      {{ form_widget(form.content, {attr:{class:'form-control', rows:5, placeholder:'course.plan_task.question_describe'|trans, 'data-image-upload-url': path('editor_upload', {token:upload_token('course')}) }}) }}
    </div>
  </div>

  <div class="form-group js-detail-form-group mtm hide">
    <div class="controls clearfix">
      <button class="btn btn-primary btn-sm pull-right" type="submit">{{'course.plan_task.put_question'|trans}}</button>
      <button class="btn btn-link btn-sm collapse-form-btn pull-right" type="button">{{'form.btn.cancel'|trans}}</button>
    </div>
  </div>
  {{ form_rest(form) }}
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
</form>
