<li class="post-item media">
	<div class="media-left">
		<img class="avatar" src="{{ filepath(user.smallAvatar, 'avatar.png') }}">
	</div>

	<div class="post-item-body media-body">
    <a class="nickname" href="{{ path('user_show', {id:user.id}) }}" target="_blank">{{ user.nickname }}</a>
    {% if user.id in course.teacherIds %}
      <span class="teacher-flag">{{'course.plan_task.course_teacher'|trans}}</span>
    {% endif %}
    <span class="time cd-text-sm cd-ml8">{{ post.createdTime|smart_time }}</span>
		<div>{{ post.content|raw }}</div>
	</div>
</li>