<div class="task-question-plugin-pane">

  <div class="task-question-plugin-pane-header clearfix">
    <a class="back-to-list link-gray" href="javascript:;"><i class="es-icon es-icon-chevronleft"></i>{{'course.plan_task.go_back_btn'|trans}}</a>
  </div>

  <div class="task-question-plugin-pane-thread">
  	<h5><a href="{{ path('course_thread_show', {courseId:thread.courseId, threadId:thread.id}) }}" target="_blank">{{ thread.title }}</a></h5>
  	<div class="lesson-question-plugin-pane-thread-content editor-text">{{ thread.content|cdn|raw }}</div>
    <div class="cd-text-sm">{{'course.plan_task.question_author'|trans({'%nickname%': threader.nickname})|raw}}</div>
  </div>

  <div class="task-question-plugin-pane-posts">
  	<div class="posts-header"><h5><span data-role="post-number">{{ thread.postNum }}</span> {{'course.plan_task.question_answer'|trans}}</h5></div>
  </div>

  <ul data-role="post-list" class="posts media-list">
  	{% for post in posts %}
  		{% set user = users[post.userId] %}
  		{% include 'task/plugin/question/post-item.html.twig' %}
  	{% endfor %}
  </ul>

  <form class="post-form" data-role="post-form" method="post" action="{{ path('course_task_plugin_thread_answer', {courseId:thread.courseId, taskId: thread.taskId, threadId: thread.id}) }}" novalidate>
  	<div class="form-group">
  		<div class="controls">
  			{{ form_widget(form.content, {attr:{class:'form-control', rows:4, 'data-display':'course.plan_task.question_content'|trans}}) }}
  		</div>
  	</div>
  	<div class="form-group">
  		<div class="controls clearfix">
  			{{ form_rest(form) }}
  			<button type="submit" class="btn btn-primary pull-right">{{'course.plan_task.add_answer_btn'|trans}}</button>
  		</div>
  	</div>
  	<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
</div>
