{% set mode = mode|default('default') %}

<ul class="course-grids">
  {% for course in courses %}
    {% set courseSet = data('CourseSet', { id: course.courseSetId }) %}
    <li class="course-grid">
      <a href="{{ path('my_course_show', {id:course.id}) }}" class="grid-body">
        <div class="course-grid-img">
          <img src="{{ filepath(course_set_cover(courseSet, 'large'), 'courseSet.png') }}"  class="img-responsive thumb">

          <div class="course-grid-mask">
            <span class="btn btn-warning btn-sm course-grid-btn-learn">
              {% if course.memberIsLearned|default(1) %}
                {{'course.block_grid.view_course_btn'|trans}}
              {% else %}
                {{'course.block_grid.countinue_learn_btn'|trans}}
              {% endif %}
            </span>
          </div>

        </div>
        <span class="course-label">
          {% if courseSet.status == constant('Biz\\Course\\Service\\CourseSetService::DRAFT_STATUS') %}
            <span class="label  label-warning">{{'course.block_grid.DRAFT_STATUS'|trans}}</span>
          {% elseif courseSet.status == constant('Biz\\Course\\Service\\CourseSetService::CLOSE_STATUS') %}
            <span class="label label-danger">{{'course.block_grid.CLOSE_STATUS'|trans}}</span>
          {% endif %}
          {% if courseSet.status != constant('Biz\\Course\\Service\\CourseSetService::CLOSE_STATUS') %}
            {% if courseSet.serializeMode == constant('Biz\\Course\\Service\\CourseSetService::SERIALIZE_SERIALIZE_MODE') %}
              <span class="label label-success">{{'course.block_grid.SERIALIZE_SERIALIZE_MODE'|trans}}</span>
            {% elseif courseSet.serializeMode == constant('Biz\\Course\\Service\\CourseSetService::FINISH_SERIALIZE_MODE') %}
              <span class="label label-warning">{{'course.block_grid.FINISH_SERIALIZE_MODE'|trans}}</span>
            {% endif %}
          {% endif %}
          {% if courseSet.type == 'live' %}
            {% set task = course['task']|default(null) %}
            {% if task and "now"|date("U") >= task.startTime and "now"|date("U") <= task.endTime %}
              <span class="label label-warning">{{'course.block_grid.onlive'|trans}}</span>
            {% else %}
              <span class="label label-success">{{'course.block_grid.live'|trans}}</span>
            {% endif %}
          {% endif %}
        </span>
        
        {% if mode in ['default', 'teach'] %}

          {% if courseSet.type == 'live' %}
            {% set task = course['task']|default(null) %}
            {% if task %}
              <span class="live-course-lesson metas">
                <span class="color-success mrm">{{ task.startTime|date('course.block_grid.date_format'|trans) }} ~ {{ task.endTime|date('H:i') }}</span>
                <span class="color-gray mrm">{{'course.block_grid.taskNumber'|trans({'%number%': task.number})}}</span>
              </span>
            {% endif %}
          {% endif %}

          <span class="metas clearfix">
            <span class="price-col">
              <span class="meta-label">{{'course.block_grid.price'|trans}}</span>
              {% if setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin' %}
              <span class="price-num" style="display:inline " >{% if course.price > 0 %}{{ course.price * setting('coin.cash_rate')}}{{setting('coin.coin_name')}}{% else %}{{'course.block_grid.price_free'|trans}}{% endif %}</span>
              {% else %}
              <span class="price-num">{% if course.price > 0 %}{{'course.price.RMB'|trans({'%price%': course.price}) }}{% else %}{{'course.block_grid.price_free'|trans}}{% endif %}</span>
              {% endif %}
            </span>

            {% if setting('course.show_student_num_enabled', '1') == 1 %}
            <span class="student-col">
              <span class="meta-label">{{ default.user_name|default('site.default.student'|trans) }}</span>
              <span class="student-num">{{'course.course_member_count'|trans({'%studentsNum%': course.studentNum })}}</span>
            </span>
            {% endif %}

            <span class="review-col">
              {% if course.ratingNum > 0 %}
                <span class="meta-label"><strong>{{ course.ratingNum }}</strong> {{'course.block_grid.review'|trans}}</span>
                <span class="review-rating">
                  <span class="stars-{{ (course.rating)|number_format }}">&nbsp;</span>
                </span>
              {% else %}
                <span class="meta-label">{{'course.block_grid.not_review'|trans}}</span>
                <span class="review-rating">
                  <span class="stars-0">&nbsp;</span>
                </span>
              {% endif %}
            </span>

          </span>
        {% endif %}

        {% if mode in ['default'] %}
          {% set user = users[course.teacherIds|first]|default(null) %}
          {% if user %}
            <span class="teacher clearfix">
              <img src="{{ filepath(user.smallAvatar, 'avatar.png') }}" class="thumb">
              <span class="nickname ellipsis">{{ user.nickname }}</span>
              <span class="user-title ellipsis">{{ user.title }}</span>
            </span>
          {% endif %}
        {% endif  %}

        {% if mode in ['learn'] %}
          {% if course.classroomCount > 0 %}
            {% set classroom = course.classroom %}
            <div class="course-label belong-classroom">
              <img class="classroomPicture" src="{{ filepath(classroom.smallPicture, 'classroom.png') }}">
              {{classroom.title|sub_text(10)}}
              {% if course.classroomCount > 1 %}
                  {{'course.block_grid.equal'|trans}}
              {% endif %}
            </div>
          {% endif %}

          {% if course.memberIsLearned %}
          {% else %}
            <div class="progress progress-sm mb0">
              <div class="progress-bar progress-bar-success" style="width: {{ percent(course.memberLearnedNum, course.compulsoryTaskNum) }};"></div>
            </div>
          {% endif %}
        {% endif %}
        <div class="title">
          {{ courseSet.title|sub_text(8) }}
          <span class="pull-right color-primary text-12" data-trigger="hover" data-container="body" 
            data-toggle="popover" data-placement="top" data-content="{{course.title}}">
            <span class="gray-light mrs">|</span>
            {{course.title|sub_text(6)}}
          </span>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>