{% if exercise.joinEnable|default(true) == false %}
  {{ 'item_bank_exercise.course_limited_tips'|trans }}
{% elseif exercise.status != 'published' %}
  {{ 'item_bank_exercise.unbuyable.unpublished_tips'|trans }}
{% elseif (exercise.expiryMode in ['end_date', 'date'] and exercise.expiryEndDate < 'now'|date('U')) %}
  {{ 'course.unbuyable.over_expiry_end_date_tips'|trans }}
{% else %}

  {% if exercise.originPrice == 0 or exercise.isFree %}
    {% set btnText = 'course.btn.join' %}
    {% set toUrl = '' %}
  {% else  %}
    {% set btnText = 'course.btn.buy' %}
    {% set toUrl = '' %}
  {% endif %}
  <a class="cd-btn cd-btn-primary" href="javascript:" data-url="{{ toUrl }}">
    {{ btnText|trans }}
  </a>

{% endif %}
