{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'small' %}

{% block title %}{{ 'admin.edu_cloud.edu_video.delete_confirm_title'|trans }}{% endblock %}
{% block body %}
  {{ 'admin.edu_cloud.edu_video.delete_confirm_content'|trans }}
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-link pull-right js-video-delete-btn" data-loading-text="{{ 'form.btn.delete.submiting'|trans }}" data-url="{{ path('admin_v2_cloud_normal_video_delete') }}">{{ 'form.btn.delete'|trans }}</button>
  <button type="button" class="btn btn-link gray-darker pull-right" data-dismiss="modal">{{ 'form.btn.cancel'|trans }}</button>

  <script>app.load('educloud/cloud-video-delete');</script>
{% endblock %}