<tbody>
  {% for knowledge in knowledges %}
		<tr id="knowledge-tr-{{ knowledge.id }}">
		  <td>
		    {% for i in 0..(knowledge.depth-1)*2 %}&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}└─ {{ knowledge.name }}
		  </td>
		  <td>{{ knowledge.description }}</td>
		  <td>
		    <a href="javascript:;" class="btn btn-default btn-sm " data-url="{{ path('admin_knowledge_edit', {categoryId:category.id,id:knowledge.id}) }}" data-toggle="modal" data-target="#modal"><i class="glyphicon glyphicon-edit"></i> 编辑</a>
		    {% if  7 > knowledge.depth %}
		      <a href="javascript:;" class="btn btn-default btn-sm" data-url="{{ path('admin_knowledge_create', {parentId:knowledge.id, categoryId:category.id}) }}" data-toggle="modal" data-target="#modal"><i class="glyphicon glyphicon-plus"></i> 添加子知识点</a>
		    {% endif %}

		  </td>
		</tr>
	{% else %}
	  <tr><td colspan="20"><div class="empty">暂无知识点</div></td></tr>
  {% endfor %}
</tbody>