<div class="row class-header">
  <div class="col-md-12">
    <div class="class-header-inner" style="background-image:url({{ file_url(class.backgroundImg,'classbackgroundImg.png')}}) ; background-size: 100% 100%;background-repeat: repeat;">
      <div class="media">
        <a class="pull-left" href="{{ path('class_show', {classId:class.id}) }}">
          <img class="media-object" src="{{ file_path(user.mediumAvatar,'avatar.png') }}" alt="...">
        </a>
        <div class="media-body">
          <h1 class="media-heading">{{ class_name(class) }}</h1>
          {% if headTeacher %}
          <div class="media-metas">班主任： {{ headTeacher.truename }}</div>
          {% endif %}
        </div>
      </div>

      <ul class="nav nav-pills">
        <li {% if classNav == 'threads' %}class="active"{% endif %}><a href="{{ path('class_threads', {classId:class.id}) }}">班级讨论区</a></li>
        <li {% if classNav == 'courses' %}class="active"{% endif %}><a href="{{ path('class_course_show', { classId:class.id })}}">班级课程</a></li>
        <li {% if classNav == 'notes' %}class="active"{% endif %}><a href="{{ path('class_notes', {classId:class.id}) }}">同学笔记</a></li>
        <li {% if classNav == 'members' %}class="active"{% endif %}><a href="{{ path('class_members', {classId:class.id}) }}">班级成员</a></li>
      </ul>

    </div>
  </div>
</div>