{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %} - {{ parent() }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" media="screen" href="{{ asset('bundles/topxiaweb/css/class.css') }}" />
{% endblock %}

{% block content %}

{% set classNav = classNav|default('threads') %}

<div class="container-gap course-dashboard-container">

  {{ render(controller('TopxiaWebBundle:Class:headerBlock', {class:class, classNav:classNav})) }}

  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          {% block class_main %}{% endblock %}
        </div>
      </div>
    </div>

    <div class="col-md-4">
          {% block class_side %}
            {{ render(controller('TopxiaWebBundle:Class:statusBlock')) }}





          {% endblock %}
    </div>
  </div>

</div>

{% endblock %}