<div style="display:block;height:200px; width:auto;background-color: #fff;"  class="well">
  <div>亲爱的&nbsp;&nbsp;&nbsp;<span style="color:red;font-size:16px">{{user.truename}}</span>&nbsp;&nbsp;&nbsp;同学
  </div>
  {% if classMember %}
  <div style="margin:10px 0 10px 0">
    我的学分 <span style="color:red">{{user.point}}</span> 
    <div class="pull-right">
      学分排名<span style="color:red"> {{ classMember.currentRank }}</span>
      {% if classMember.lastRank - classMember.currentRank > 0 %}
        <span class="glyphicon glyphicon-arrow-up" style="color:green" title="比昨日上升了{{ classMember.lastRank - classMember.currentRank }}名,击败了{{classMember.rate}}的同学" />
      {% elseif classMember.lastRank - classMember.currentRank < 0 %}
        <span class="glyphicon glyphicon-arrow-down" style="color:red" title="比昨日下降了{{ classMember.currentRank - classMember.lastRank }}名, 击败了{{classMember.rate}}的同学"/>
      {% else %}
        <span class="glyphicon glyphicon-minus text-muted" title="击败了{{classMember.rate}}的同学"/>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if nextCourse %}
    <a style="margin:10px 0 10px 0" href="{{ path('course_learn', {id:nextCourse.id}) ~ '#lesson/' ~ nextLesson.id }}">上次正在学习《{{nextCourse.title}}》 课时 {{ nextLesson.title}}</a>
  {% else %}
    <a style="margin:10px 0 10px 0" href="{{ path('class_courses', {classId:class.id})}}">还没有开始学习课程，快去学习吧!</a>
  {% endif %}
{% include 'TopxiaWebBundle:Sign:show.html.twig'%}

</div>