<table class="table table-striped">
  <tbody>
    {% if paperResults|default(null) %}
      <thead>
        <tr>
          <th width="80%">学员</th>
          <th width="20%">操作</th>
        </tr>
      </thead>
      {% for key,homeworkResult in paperResults %}
        {% set user = users[homeworkResult.userId] %}
        {% set lesson = lessons[homeworkResult.lessonId]|default(null) %}
        {% set course = courses[homeworkResult.courseId]|default(null) %}
        {% set courseSet = courseSets[homeworkResult.courseSetId]|default(null) %}
        
        <tr>
          <td class="media">
            {{ web_macro.user_avatar(user, 'pull-left') }}
            <a target="_blank" href="{{ path('user_show', {id:user.id}) }}">{{ user.nickname }}</a>
            <div class="clear-fix text-sm">
              <div class="pull-left">
                课程:<a class="text-success" href="{{ path('course_set_show',{id:courseSet.id}) }}">《{{ courseSet.title }}》</a>
              </div>
              <div class="pull-left">
                计划:<a class="text-success" href="{{ path('course_show',{id:course.id}) }}">《{{ course.title }}》</a>
              </div>
              
              <div class="mll text-muted pull-left">
                提交时间：{{ homeworkResult.endTime|date('Y-n-d H:i') }}
              </div>
            </div>
          </td>
          <td>
            {% if status == 'reviewing' %}
              <a href="{{ path('course_manage_homework_check', {id:homeworkResult.courseId,resultId:homeworkResult.id,source:source|default('course'),targetId:targetId|default(0),action:'check' }) }}" target="_blank">批改</a>
            {% else %}
              <a href="{{ path('homework_result_show',{resultId:homeworkResult.id,action:'check' }) }}" target="_blank" >查看</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    {% else %}
      {% if status == 'reviewing' %}
        <div class="empty">没有需要批改的作业</div>
      {% else %}
        <div class="empty">没有已批改的作业</div>
      {% endif %}
    {% endif  %}
  </tbody>
</table>
{{ web_macro.paginator(paginator) }}