{% extends 'activity/activity-form-layout.html.twig' %}
{% set doc = activity.ext|default(null) %}
{% do script(['libs/ltc-sdk-client.js','docactivity/js/finish/index.js']) %}
{% block  activity_step %}
  <div class="tab-pane js-course-tasks-pane active js-step2-view">
    <form class="form-horizontal" id="step3-form" >
      <div class=" form-group">
        <div class="col-sm-2 control-label">
          <label for="condition-select">{{ 'course.plan_task.activity_manage.finished_condition'|trans }}</label>
        </div>
        <div class="col-xs-4 form-control-static">
          {{'course.plan_task.activity_manage.doc.watch_time'|trans}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <label for="condition-detail">{{ 'course.plan_task.activity_manage.doc.watch_time_at_least'|trans }}</label>
        </div>
        <div class="col-xs-4 controls">
          <input id="condition-detail" class="form-control" type="text" name="finishDetail" value="{{ doc.finishDetail|default(1) }}">
        </div>
        <div class="col-xs-4 controls">
          <p class="form-control-static">{{'site.date.minute'|trans}}</p>
        </div>
      </div>
    </form>
  </div>
{% endblock %}