{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
  <div class="table-responsive">
    <table class="table table-bordered" style="word-break:break-all;text-align:center;">
      {% for key,value in oldData %}

        {% if key == 'price' %}
          <tr class="active">
            <td>{{ key|trans }}</td>
            <td>{{ 'log.field.change.detail'|trans({'%old%': value, '%new%': newData[key] })|raw }}</td>
          </tr>
        {% endif %}

        {% if key == 'status' %}
          <tr class="active">
            <td>{{ 'classroom.status'|trans }}</td>
            <td>{{ 'log.field.change.detail'|trans({'%old%': ('classroom.status.'~value)|trans, '%new%': ('classroom.status.'~newData[key])|trans })|raw }}</td>
          </tr>
        {% endif %}

        {% if key == 'expiryMode' %}
          <tr class="active">
            <td>{{ 'classroom.expiryMode'|trans }}</td>
            <td>{{ 'log.field.change.detail'|trans({'%old%': ('classroom.expiryMode.'~value)|trans, '%new%': ('classroom.expiryMode.'~newData[key])|trans })|raw }}</td>
          </tr>
        {% endif %}

        {% if key == 'expiryValue' %}
          <tr class="active">
            {% if value > 10000 %}
              {% set value = value|date("Y-m-d H:i:s") %}
            {% endif %}

            {% set newValue = newData[key] %}
            {% if newData[key] > 10000 %}
              {% set newValue = newValue|date("Y-m-d H:i:s") %}
            {% endif %}

            <td>{{ 'classroom.expiryValue'|trans }}</td>
            <td>{{ 'log.field.change.detail'|trans({'%old%': value, '%new%': newValue })|raw }}</td>
          </tr>
        {% endif %}

      {% endfor %}
    </table>
  </div>
{% endblock %}
