{% extends 'settings/layout.html.twig' %}

{% block title %}{{'user.settings.avatar'|trans}} - {{ parent() }}{% endblock %}
{% set side_nav = 'avatar' %}
{% set script_controller = 'settings/avatar' %}

{% block main %}
  {% embed "bootstrap/panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}{{'user.settings.avatar.content_title'|trans}}{% endblock %}
    {% block body %}

      {% if fromCourse %}
      <div class="alert alert-info">{{'user.settings.avatar.alter_tips。'|trans}}</div>
      {% endif %}

      <form id="settings-avatar-form" class="form-horizontal" method="post">

        {{ web_macro.flash_messages() }}

        <div class="form-group">
          <div class="col-md-2 control-label"><b>{{'user.settings.avatar.current_avatar'|trans}}</b></div>
          <div class="controls col-md-8 controls">
          	<img src="{{ filepath(user.largeAvatar, 'avatar.png') }}">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label">
          </div>
          <div class="controls col-md-8 controls">
            <p class="help-block">{{'user.settings.avatar.upload_tips'|trans|raw}}<strong>{{'user.settings.avatar.upload_size'|trans}}</strong>。</p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label"></div>
          <div class="controls col-md-8 controls">
            <a id="upload-picture-btn"
            class="btn btn-primary upload-picture-btn"
            data-upload-token="{{ upload_token('tmp', 'image') }}"
            data-goto-url="{{path('settings_avatar_crop',{goto: goto})}}"
            >{{'user.settings.avatar.upload_submit_btn'|trans}}</a>
          </div>
        </div>

        {% if partnerAvatar %}
          <div class="form-group">
            <div class="col-md-2 control-label"><b>{{'user.settings.avatar.partner_avatar'|trans}}</b></div>
            <div class="controls col-md-8 controls">
              <img src="{{ partnerAvatar }}" class="mrm">
              <button class="btn btn-default use-partner-avatar" type="button" data-url="{{ path('settings_avatar_fetch_partner') }}" data-goto="{{ path('settings_avatar') }}" data-img-url="{{ partnerAvatar }}" >{{'user.settings.avatar.using_current_avatar'|trans}}</button>
            </div>
          </div>
        {% endif %}

      </form>

    {% endblock %}
  {% endembed %}
{% endblock %}