{% extends 'v2/layout.html.twig' %}

{% block title %} {{ 'user.settings.oauth'|trans }} - {{ parent() }}{% endblock %}

{% set side_nav = 'binds' %}

{% set settings = setting('login_bind', []) %}

{% block page_title %}
  {{ 'user.settings.oauth.content_title'|trans }}
{% endblock %}

{% block main_body %}
  {{ web_macro.flash_messages(true) }}
  {% for type, client in clients %}
    {% if settings[type ~ '_enabled']|default(false) and type != 'weixinmob' %}
      <div class="cd-setting">
        <div class="setting-icon">
          <i class="cd-icon cd-icon-{{ client.icon_class }}"></i>
        </div>
        <div class="setting-title">{% if type == 'weixinweb' %}{{ 'user.settings.oauth.weixin'|trans }}{% else %}{{ client.name }}{% endif %}</div>
        <div class="setting-action">
          {% if client.status|default(null) == 'bind' %}
            <div class="cd-setting-status cd-setting-status-done">{{ 'user.fields.mobile_label.bind'|trans }}</div>
            <a class="btn cd-btn cd-btn-default" href="{{ path('settings_binds_unbind', {'type':type}) }}">{{ 'form.btn.bind_cancel'|trans }}</a>
          {% else %}
            <div class="cd-setting-status">{{'user.fields.mobile_label.no_bind'|trans}}</div>
            <a class="btn cd-btn cd-btn-default" href="{{ path('settings_binds_bind', {'type':type}) }}">{{ 'form.btn.bind_account'|trans }}</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}