{% extends 'settings/layout.html.twig' %}

{% block title %} {{'user.settings.oauth'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'binds' %}

{% set settings = setting('login_bind', []) %}

{% block main %}
  {% embed "bootstrap/panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}{{'user.settings.oauth.page_title'|trans}}{% endblock %}
    {% block body %}
      {{ web_macro.flash_messages() }}
       <ul class="media-list">
          {% for type, client in clients %}
          {% if settings[type ~ '_enabled']|default(false) and type != 'weixinmob' %}
            <li class="media">
              {% if client.large_icon_img|default(null) %}
                <img src="{{ asset(client.large_icon_img) }}" class=" media-object pull-left">
              {% endif %}
              <div class="media-body">
                {% if client.status|default(null) == 'bind' %}
                  <a href="{{ path('settings_binds_unbind', {'type':type}) }}" class="unbind btn btn-default pull-right">{{'form.btn.cancelbind'|trans}}</a>
                {% else %}
                  <a href="{{ path('settings_binds_bind', {'type':type}) }}" class="bind btn btn-primary pull-right">{{'form.btn.bind'|trans}}</a>
                {% endif %}

                <div>{% if type == 'weixinweb'%}{{'user.settings.oauth.weixin'|trans}}{% else %}{{ client.name }}{% endif %}</div>
                {% if client.status|default(null) == 'bind' %}
                  <div class="color-success">{{'form.hasbind'|trans}}</div>
                {% else %}
                  <div class="color-gray">{{'form.notbind'|trans}}</div>
                {% endif %}

              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endblock %}
  {% endembed %}
{% endblock %}