{% extends 'v2/layout.html.twig' %}

{% block full_content %}
  <div class="container cd-container">
    <div class="cd-content row">
      {% block sidebar %}
      {% endblock %}

      <div class="col-md-8 col-md-offset-2 cd-panel">
        {% block main %}
          {% block main_heading %}
            <ul class="cd-panel-heading cd-step clearfix">
              <li class="cd-step__one doing"><span class="number">1</span><span class="info">{{ 'user.settings.security.pay_password_find.way'|trans }}</span></li>
              <li class="cd-step__three"><span class="number">3</span><span class="info">{{ 'user.settings.security.password_reset'|trans }}</span></li>
              <li class="cd-step__two cd-step__divided"><span class="number">2</span><span class="info">{{ 'user.settings.security.pay_password.validate_info'|trans }}</span></li>
            </ul>
          {% endblock %}
          <div class="cd-panel-body">
            {% block main_body %}
              <div class="find-way-list row">
                {% set smsEnabled = (setting('cloud_sms.sms_enabled')|default('')) == '1' and (setting('cloud_sms.sms_bind')|default('')) %}

                <div class="col-md-6 find-way-item {% if not smsEnabled %} col-md-offset-3 {% endif %}">
                  <div class="find-way-item__svg">
                    <embed src="{{ asset('static-dist/app/img/svg/iphone.svg') }}" type="image/svg+xml"/>
                  </div>
                  <a class="btn cd-btn cd-btn-primary cd-btn-lg {% if not hasVerifiedMobile %}disable{% endif %}" href="{% if hasVerifiedMobile %}{{ path('settings_find_pay_password_by_sms') }}{% else %}javascript:;{% endif %}">{{ 'user.settings.security.pay_password_find.by_mobile_phone'|trans }}</a>
                  {% if not hasVerifiedMobile %}
                    <p class="find-way-item__tip"><span>{{ 'user.settings.security.pay_password_find.by_mobile.unbound'|trans }}</span><a class="cd-link-primary" href="javascript:;" data-url="{{ path('settings_bind_mobile') }}" data-toggle="modal" data-target="#modal">{{ 'user.settings.security.pay_password_find.by_mobile.immediately_bind'|trans }}</a></p>
                  {% endif %}
                </div>

                {% if smsEnabled %}
                  <div class="col-md-6 find-way-item">
                    <div class="find-way-item__svg">
                      <embed src="{{ asset('static-dist/app/img/svg/lock.svg') }}" type="image/svg+xml"/>
                    </div>
                    <a class="btn cd-btn cd-btn-primary cd-btn-lg {% if not hasFindPayPasswordQuestion %}disable{% endif %}" href="{% if hasFindPayPasswordQuestion %}{{ path('settings_find_pay_password_by_question') }}{% else %}javascript:;{% endif %}" >{{ 'user.settings.security.pay_password_find.by_question'|trans }}</a>
                    {% if not hasFindPayPasswordQuestion %}
                      <p class="find-way-item__tip"><span>{{ 'user.settings.security.pay_password_find.current_empty'|trans }}</span><a class="cd-link-primary" href="javascript:;" data-url="{{ path('settings_security_questions') }}" data-toggle="modal" data-target="#modal">{{ 'user.settings.security.pay_password_find.start_set'|trans }}</a></p>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
              </div>
            {% endblock %}
          </div>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}