{% extends 'settings/find-pay-password.html.twig' %}
{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security_menu'|trans}} - {{ parent() }}{% endblock %}
{% set side_nav = 'security' %}
{% set questionOptions = dict('secureQuestion') %}
{% do script(['libs/jquery-validation.js','app/js/settings/find_pay_password_by_sms/index.js'])%}

{% block main_heading %}
  <ul class="find-pay-password-main__head cd-step clearfix">
    <li class="cd-step__one doing"><span class="number pass-icon"><i class="cd-icon cd-icon-check"></i></span><span class="info">选择找回方式</span></li>
    <li class="cd-step__three"><span class="number">3</span><span class="info">重置密码</span></li>
    <li class="cd-step__two cd-step__divided doing"><span class="number">2</span><span class="info">验证信息</span></li>
  </ul>
{% endblock %}

{% block main_body %}
  <form id="settings-find-pay-password-form" class="form-horizontal find-pay-password-form" method="post">

    <div class="form-group row" style="display: none;">
      <div  class="col-md-2 control-label"><label for="mobile">{{'user.fields.mobile_label'|trans}}</label></div>
      <div class="col-md-8 controls">
        <input type="text" id="mobile" name="mobile" class="form-control" data-role="mobile" value="{{verifiedMobile}}">
      </div>
    </div>

    <div class="form-group cd-form-group cd-form-group-mobile row">
      <label>当前手机</span>
      <span>{{blur_phone_number(verifiedMobile)}}</span>
      <a class="cd-link-gray-light form-control-static" href="{{path('settings_bind_mobile')}}" target="_blank">修改手机？</a>
    </div>

    <div class="form-group cd-form-group cd-form-group-action">
      <label for="sms_code">{{'user.settings.security.sms_code'|trans}}</label>
      <input type="text" id="sms-code" name="sms_code" class="form-control" value="" data-url="{{path('edu_cloud_sms_check',{type:'sms_forget_pay_password'})}}" placeholder="请输入手机收到的验证码">
      <div class="action-button">
        <a href="#modal" data-toggle="modal" class="btn cd-btn cd-btn-ghost-primary js-sms-send {% if not verifiedMobile %}disabled{% endif %}" data-url="{{ path('register_captcha_modal') }}" data-sms-url="{{ path('edu_cloud_sms_send') }}">
          <span id="js-time-left"></span>
          <span id="js-fetch-btn-text">{{'user.settings.security.get_sms_code_btn'|trans}}</span>
        </a>
      </div>
    </div>

    <div class="form-group cd-form-group">
      <button class="btn cd-btn cd-btn-primary cd-btn-lg btn-block" id="submit-btn" data-submiting-text="{{'form.btn.submit.submiting'|trans}}" type="button">{{'form.btn.submit'|trans}}</button>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}