{% extends 'settings/find-pay-password.html.twig' %}
{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security_menu'|trans}} - {{ parent() }}{% endblock %}
{% set side_nav = 'security' %}
{% set questionOptions = dict('secureQuestion') %}
{% do script(['libs/jquery-validation.js','app/js/settings/find_pay_password_by_sms/index.js'])%}

{% block main_heading %}
  <ul class="cd-panel-heading cd-steps cd-steps-3">
    <li class="cd-steps-item doing">
      <div class="cd-steps-tail"><i></i></div>
      <div class="cd-steps-content">
        <div class="content-wrap">
          <div class="content-number content-icon"><i class="cd-icon cd-icon-check"></i></div>
        </div>
        <div class="content-wrap">
          <span class="content-info">{{ 'user.settings.security.pay_password_find.way'|trans }}</span>
        </div>
      </div>
    </li>
    <li class="cd-steps-item">
      <div class="cd-steps-tail"><i></i></div>
      <div class="cd-steps-content">
        <div class="content-wrap">
          <div class="content-number">2</div>
        </div>
        <div class="content-wrap">
          <span class="content-info">{{ 'user.settings.security.pay_password.validate_info'|trans }}</span>
        </div>
      </div>
    </li>
    <li class="cd-steps-item">
      <div class="cd-steps-tail"><i></i></div>
      <div class="cd-steps-content">
        <div class="content-wrap">
          <div class="content-number">3</div>
        </div>
        <div class="content-wrap">
          <span class="content-info">{{ 'user.settings.security.password_reset'|trans }}</span>
        </div>
      </div>
    </li>
  </ul>
{% endblock %}

{% block main_body %}
  <div class="hidden">
    {{ web_macro.flash_messages() }}
  </div>
  <form id="settings-find-pay-password-form" class="find-pay-password-form" method="post" data-url="{{ path('settings_update_pay_password') }}">

    <div class="form-group row" style="display: none;">
      <div  class="col-md-2 control-label"><label for="mobile">{{'user.fields.mobile_label'|trans}}</label></div>
      <div class="col-md-8 controls">
        <input type="text" id="mobile" name="mobile" class="form-control" data-role="mobile" value="{{verifiedMobile}}">
      </div>
    </div>

    <div class="form-group cd-form-group cd-form-group-mobile">
      <label>{{ 'user.settings.security.pay_password_find.by_mobile_current'|trans }}</label>
      <span class="color-primary">{{ blur_phone_number(verifiedMobile) }}</span>
      <a class="cd-link-gray-light" data-url="{{ path('settings_bind_mobile') }}" data-toggle="modal" data-target="#modal" href="javascript:;">{{ 'user.settings.security.pay_password_find.by_mobile.change'|trans }}</a>
    </div>

    <div class="form-group cd-form-group cd-form-group-action">
      <label for="sms_code">{{'user.settings.security.sms_code'|trans}}</label>
      <input type="text" id="sms-code" name="sms_code" class="form-control" value="" data-url="{{path('edu_cloud_sms_check',{type:'sms_forget_pay_password'})}}">
      <div class="action-button">
        <button class="btn cd-btn cd-btn-ghost-primary btn-block js-sms-send {% if not verifiedMobile %}disabled{% endif %}" type="button" data-sms-url="{{ path('edu_cloud_sms_send') }}" data-sms-type="sms_forget_pay_password">
          <span id="js-time-left"></span>
          <span id="js-fetch-btn-text">{{'user.settings.security.get_sms_code_btn'|trans}}</span>
        </button>
      </div>
    </div>

    <div class="form-group cd-form-group">
      <button class="btn cd-btn cd-btn-primary cd-btn-lg btn-block" id="submit-btn" data-submiting-text="{{'form.btn.submit.submiting'|trans}}" type="button">{{'form.btn.submit'|trans}}</button>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>

{% endblock %}