{% extends 'layout.html.twig' %}

{% set bodyClass = 'find-pay-password' %}

{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security_menu'|trans}} - {{ parent() }}{% endblock %}

{% block full_content %}
  <div class="container find-pay-password-container">
    <div class="find-pay-password-main">
      {% block main %}
        {% block main_heading %}
          <ul class="find-pay-password-main__head cd-step clearfix">
            <li class="cd-step__one doing"><span class="number">1</span><span class="info">选择找回方式</span></li>
            <li class="cd-step__three"><span class="number">3</span><span class="info">重置密码</span></li>
            <li class="cd-step__two cd-step__divided"><span class="number">2</span><span class="info">验证信息</span></li>
          </ul>
        {% endblock %}
        <div class="find-pay-password-main__body clearfix">
          {% block main_body %}
            <div class="find-way-wrap clearfix">
              {% if hasVerifiedMobile %}
                <div class="find-way {% if hasFindPayPasswordQuestion %} find-way--two {% endif %}">
                  <div class="find-way__svg">
                    <embed src="{{ asset('static-dist/app/img/svg/phone.svg') }}" type="image/svg+xml"/>
                  </div>
                  <a class="btn cd-btn cd-btn-primary cd-btn-lg find-password-btn" href="{{ path('settings_find_pay_password_by_sms') }}">通过手机号码找回</a>
                </div>
              {% endif %}
              {% if hasFindPayPasswordQuestion %}
                <div class="find-way {% if hasVerifiedMobile %} find-way--two {% endif %}">
                  <div class="find-way__svg">
                    <embed src="{{ asset('static-dist/app/img/svg/lock.svg') }}" type="image/svg+xml"/>
                  </div>
                  <a class="btn cd-btn cd-btn-primary find-password-btn" href="{{ path('settings_find_pay_password_by_question') }}">通过密保问题找回</a>
                </div>
              {% endif %}
            </div>
          {% endblock %}
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block esBar %}
{% endblock %}

{% block floatConsult %}
{% endblock %}

{% block footer %}
{% endblock %}


