{# {% extends 'settings/layout.html.twig' %}
{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security_menu'|trans}} - {{ parent() }}{% endblock %}
{% set side_nav = 'security' %}
{% set questionOptions = dict('secureQuestion') %}
{% do script(['libs/jquery-validation.js', 'app/js/settings/find-pay-password/index.js']) %}

{% block main %}
 {% embed "bootstrap/panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}
      {{'user.settings.security.pay_password_find.content_title'|trans}}
    {% endblock %}
    {% block body %}

      <ul class="breadcrumb">
        {{ 'user.settings.security.pay_password_find.bread_crumbs'|trans({'%settingSecurityUrl%':path('settings_security')})|raw }}
      </ul>

      {% set type = 'questions' %}
      {% include 'settings/questions-or-sms-tabs.html.twig' %}

      {{ web_macro.flash_messages() }}

      <form id="settings-find-pay-password-form" class="form-horizontal" method="post" >
        <div class="form-group">
          <div  class="col-md-2 control-label"><label for="answer">{{ questionOptions[question] }}</label></div>
          <div class=" col-md-8 controls">
            <input type="text" id="answer" name="answer" class="form-control" value="" placeholder="{{'user.settings.security.pay_password_find.by_question.answer'|trans}}">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-8 controls">
            <button id="answer-question-btn" data-loading-text="{{'form.btn.save.submiting'|trans}}" class="btn btn-primary" type="button">{{'form.btn.submit'|trans}}</button>
          </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
        <input type="hidden" name="questionNum" class="form-control" value="{{questionNum}}">
      </form>


    {% endblock %}
  {% endembed %}
{% endblock %} #}

{% extends 'layout.html.twig' %}

{% set bodyClass = 'find-pay-password' %}

{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security_menu'|trans}} - {{ parent() }}{% endblock %}

{% block full_content %}
  <div class="container find-pay-password-container">
    {% block main %}
      <div class="col-sm-8 col-sm-offset-2 find-pay-password-main">
          {% block main_heading %}
            <div class="find-pay-password-main__head">
              <div class="step-one">
                <span>1</span>
                <span>选择找回方式</span>
                {# <hr class="divided-line"> #}
              </div>
            </div>
          {% endblock %}
        </div>
        <div class="find-pay-password-main__body">
          {% block main_body %}{% endblock %}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}

{% block esBar %}
{% endblock %}

{% block floatConsult %}
{% endblock %}

{% block footer %}
{% endblock %}