{% extends 'settings/find-pay-password.html.twig' %}
{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security_menu'|trans}} - {{ parent() }}{% endblock %}

{% set stepTwo = true %}
{% set questionOptions = dict('secureQuestion') %}

{% do script(['libs/jquery-validation.js', 'app/js/settings/find-pay-password/index.js']) %}


{% block panel_body %}
  <div class="hidden">
    {{ web_macro.flash_messages() }}
  </div>
  <form id="settings-find-pay-password-form" class="find-pay-password-form" method="post">
    <div class="form-group cd-form-group">
      <label for="answer">{{ questionOptions[questionKey] }}</label>
      <input type="text" id="answer" name="answer" class="form-control" value="" placeholder="{{ 'user.settings.security.pay_password_find.by_question.answer'|trans }}">
    </div>

    <button class="btn cd-btn cd-btn-primary cd-btn-lg btn-block" id="answer-question-btn" data-loading-text="{{ 'form.btn.submit.submiting'|trans }}" type="button">{{ 'form.btn.submit'|trans }}</button>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    <input type="hidden" name="questionKey" class="form-control" value="{{ questionKey }}">
  </form>
{% endblock %}