{% extends 'settings/find-pay-password.html.twig' %}
{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security_menu'|trans}} - {{ parent() }}{% endblock %}
{% set side_nav = 'security' %}
{% set questionOptions = dict('secureQuestion') %}
{% do script(['libs/jquery-validation.js', 'app/js/settings/find-pay-password/index.js']) %}

{% block main_heading %}
  <ul class="find-pay-password-main__head cd-step clearfix">
    <li class="cd-step__one doing"><span class="number pass-icon"><i class="cd-icon cd-icon-check"></i></span><span class="info">选择找回方式</span></li>
    <li class="cd-step__three"><span class="number">3</span><span class="info">重置密码</span></li>
    <li class="cd-step__two cd-step__divided doing"><span class="number">2</span><span class="info">验证信息</span></li>
  </ul>
{% endblock %}

{% block main_body %}
  {{ web_macro.flash_messages(true) }}
  <form id="settings-find-pay-password-form" class="form-horizontal find-pay-password-form" method="post">
    <div class="form-group cd-form-group">
      <label for="answer">{{ questionOptions[question] }}</label>
        <input type="text" id="answer" name="answer" class="form-control" value="" placeholder="{{'user.settings.security.pay_password_find.by_question.answer'|trans}}">
    </div>

    <div class="form-group cd-form-group">
      <button class="btn cd-btn cd-btn-primary cd-btn-lg btn-block" id="answer-question-btn"data-submiting-text="{{'form.btn.submit.submiting'|trans}}" type="button">{{'form.btn.submit'|trans}}</button>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    <input type="hidden" name="questionNum" class="form-control" value="{{questionNum}}">
  </form>
{% endblock %}