{% extends 'layout.html.twig' %}
{% block title %}{{'user.settings.security.setup_login_password'|trans}} - {{ parent() }}{% endblock %}
{% set hideSetupHint = true %}
{% do script(['libs/jquery-validation.js','app/js/settings/setup-password/index.js'])%}

{% block content %}
<div class="row row-6">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default panel-page">
      <div class="panel-heading"><h2>{{'user.settings.security.setup_login_password'|trans}}</h2></div>

      {% if not app.user.password %}
        <form id="setup-password-form" class="form-vertical" method="post" action="{{ path('settings_setup_password') }}">

          {{ web_macro.flash_messages() }}
          <div class="alert alert-warning"> {{'user.settings.security.safety_tips'|trans}} </div>

          <div class="form-group">
            <div class="control-label">{{ form_label(form.newPassword, 'user.settings.security.password_modify.new_password'|trans) }}</div>
            <div class="controls">
              {{ form_widget(form.newPassword, {attr:{class:'form-control'}}) }}
            </div>
          </div>

          <div class="form-group">
            <div class="control-label">{{ form_label(form.confirmPassword, 'user.settings.security.password_modify.confirm_password'|trans) }}</div>
            <div class="controls">
              {{ form_widget(form.confirmPassword, {attr:{class:'form-control'}}) }}
            </div>
          </div>

          <div class="form-group">
            <div class="control-label"></div>
            <div class="controls">
              {{ form_rest(form) }}
              <button id="password-save-btn" data-submiting-text="{{'form.btn.save.submiting'|trans}}" type="submit" class="btn btn-primary">{{'form.btn.submit'|trans}}</button>
            </div>
          </div>

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
        </form>
      {% else %}
        <div class="alert alert-danger">
          <p>{{'user.settings.security.setup_login_password.failed_tips'|trans}}</p>
          <p><a href="{{ path('homepage') }}" class="btn btn-primary">{{'form.btn.back_to_homepage'|trans}}</a></p>
        </div>
      {% endif %}

    </div>

  </div>
</div>
{% endblock %}
