{% extends 'bootstrap-modal-layout.html.twig' %}
{% block title %}{{ 'user.settings.security.setup_login_password'|trans }}{% endblock %}
{% set modalSize = 'large' %}
{% do script(['libs/jquery-validation.js','app/js/settings/password-modal/index.js']) %}

{% block body %}
	<form id="settings-password-form" class="form-horizontal" method="post" action="{{ path('settings_set_password') }}">
		<div class="form-group">
			<div
					class="col-md-3 col-md-offset-1 control-label">{{ form_label(form.newPassword, 'user.fields.login_password'|trans) }}</div>
			<div class="controls col-md-6 controls">
				{{ form_widget(form.newPassword, {attr:{class:'form-control'}}) }}
			</div>
		</div>
		
		<div class="form-group">
			<div
					class="col-md-3 col-md-offset-1 control-label">{{ form_label(form.confirmPassword, 'user.btn.confirm_login_password'|trans) }}</div>
			<div class="controls col-md-6 controls">
				{{ form_widget(form.confirmPassword, {attr:{class:'form-control'}}) }}
			</div>
		</div>
		
		<div style="display: none;">
			{{ form_rest(form) }}
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
	</form>
{% endblock %}

{% block footer %}
	<span class="btn btn-primary pull-right js-submit-form">{{ 'form.btn.next'|trans }}</span>
	<button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{ 'form.btn.cancel'|trans }}</button>
{% endblock %}
