{% extends 'settings/layout.html.twig' %}

{% block title %}{{'user.settings.security.password_modify'|trans}} - {{'user.settings.security_menu'|trans}} - {{ parent() }}{% endblock %}

{% set script_controller = 'settings/password' %}
{# {% set side_nav = 'password' %} #}
{% set side_nav = 'security' %}

{% block main %}

  <div class="panel panel-default panel-col">
    <div class="panel-heading">{{'user.settings.security.password_modify.content_title'|trans}}</div>
    <div class="panel-body">

    <ul class="breadcrumb">
      {{ 'user.settings.security.password_modify.bread_crumbs'|trans({'%settingSecurityUrl%':path('settings_security')})|raw }}
    </ul>

    {% if not app.user.password %}
      <div class="alert alert-warning">
        {{ 'user.settings.security.no_password_tips'|trans({'%passwordResetUrl%': path('password_reset')})|raw }}
      </div>
    {% endif %}

      <form id="settings-password-form" class="form-horizontal" method="post" {% if not app.user.password %} style="display:none;"{% endif %}>

        {{ web_macro.flash_messages() }}

        <div class="form-group">
          <div class="col-md-2 control-label">{{ form_label(form.currentPassword, 'user.settings.security.password_modify.current_password'|trans) }}</div>
          <div class="controls col-md-8 controls">
            {{ form_widget(form.currentPassword, {attr:{class:'form-control'}}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label">{{ form_label(form.newPassword, 'user.settings.security.password_modify.new_password'|trans) }}</div>
          <div class="controls col-md-8 controls">
            {{ form_widget(form.newPassword, {attr:{class:'form-control'}}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label">{{ form_label(form.confirmPassword, 'user.settings.security.password_modify.confirm_password'|trans) }}</div>
          <div class="controls col-md-8 controls">
            {{ form_widget(form.confirmPassword, {attr:{class:'form-control'}}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label"></div>
          <div class="controls col-md-8 controls">
            {{ form_rest(form) }}
            <button id="password-save-btn" data-submiting-text="{{'form.btn.save.submiting'|trans}}" type="submit" class="btn btn-primary">{{'form.btn.submit'|trans}}</button>
          </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

      </form>

    </div>
  </div>

{% endblock %}
