{% extends 'settings/find-pay-password.html.twig' %}
{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security.content_title'|trans}} - {{ parent() }}{% endblock %}
{% do script(['app/js/default/message/index.js']) %}

{% block main %}
  <div class="find-pay-password-feedback cd-feedback" data-goto="{{ goto }}" data-duration={{ duration }} id="page-message-container">
    <div class="feedback-icon"><i class="cd-icon cd-icon-check"></i></div>
    <div class="feedback-title color-primary">{{'user.settings.security.reset_pay_password_success'|trans}}</div>
    <div class="feedback-content">5 秒后该页面自动关闭</div>
  </div>
{% endblock %}