{% extends 'settings/layout.html.twig' %}
{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security_menu'|trans}} - {{ parent() }}{% endblock %}
{% set script_controller = 'settings/pay_password' %}
{% set side_nav = 'security' %}

{% block main %}
 {% embed "bootstrap/panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}
       {{'user.settings.security.pay_password_set.page_title'|trans}}
    {% endblock %}
    {% block body %}

      <ul class="breadcrumb">
        <li><a href="{{ path('settings_security') }}">{{'user.settings.security.pay_password_set.first_bread_crumbs'|trans}}</a></li>
        <li class="active">{{'user.settings.security.pay_password_set.second_bread_crumbs'|trans}}</li>
      </ul>

      {% if not app.user.password %}
        <div class="alert alert-warning">
          <p>{{'user.settings.security.no_password.line_one_hint'|trans}}</p>
          <p>{{'user.settings.security.no_password.line_two_hint'|trans}}</p>
          <p><a href="{{ path('password_reset') }}" class="btn btn-primary">{{'user.settings.security.no_password.go_reset_password_btn'|trans}}</a></p>
        </div>
      {% endif %}

      <form id="settings-pay-password-form" class="form-horizontal" method="post" {% if not app.user.password %} style="display:none;"{% endif %}>

        {{ web_macro.flash_messages() }}

        <div class="form-group">
          <div class="col-md-2 control-label">{{ form_label(form.currentUserLoginPassword, 'user.fields.login_password'|trans) }}</div>
          <div class="controls col-md-8 controls">
            {{ form_widget(form.currentUserLoginPassword, {attr:{class:'form-control'}}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label">{{ form_label(form.newPayPassword, 'user.settings.security.pay_password_set.new_pay_password'|trans) }}</div>
          <div class="controls col-md-8 controls">
            {{ form_widget(form.newPayPassword, {attr:{class:'form-control'}}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label">{{ form_label(form.confirmPayPassword, 'user.settings.security.pay_password_set.confirm_pay_password'|trans) }}</div>
          <div class="controls col-md-8 controls">
            {{ form_widget(form.confirmPayPassword, {attr:{class:'form-control'}}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label"></div>
          <div class="controls col-md-8 controls">
            {{ form_rest(form) }}
            <button id="password-save-btn" data-submiting-text="{{'form.btn.save.submiting_text'|trans}}" type="submit" class="btn btn-primary">{{'form.btn.submit'|trans}}</button>
          </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

      </form>


    {% endblock %}
  {% endembed %}
{% endblock %}