{% extends 'settings/find-pay-password.html.twig' %}
{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security.content_title'|trans}} - {{ parent() }}{% endblock %}
{% do script(['app/js/default/message/index.js']) %}

{% block panel_heading %}
{% endblock %}

{% block panel_body %}
  <div class="find-pay-password-feedback cd-feedback cd-mt32" data-goto="{{ goto }}" data-duration={{ duration }} id="page-message-container">
    <div class="feedback-icon"><i class="cd-icon cd-icon-check"></i></div>
    <div class="feedback-title">{{ 'user.settings.security.pay_password_set.reset_success'|trans }}</div>
    <div class="feedback-content">{{ 'user.settings.security.set_pay_password_success.closed_automatically'|trans }}</div>
  </div>
{% endblock %}