{% extends 'layout.html.twig' %}
{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security.content_title'|trans}} - {{ parent() }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 ptl">
    <div class="panel panel-default panel-page">
      <div class="panel-heading"><h2>{{'user.settings.security.reset_pay_password_success'|trans}}</h2></div>
          <p class="color-success">{{'user.settings.security.set_pay_password_success'|trans}}</p>
          <p>
            <a href="{{ path('settings_security') }}">{{'user.settings.security.return_btn'|trans}}</a>
          </p>
    </div><!-- /panel -->
  </div>

</div>
{% endblock %}
