{% extends 'v2/layout.html.twig' %}

{% block title %}{{'user.settings.security_menu'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'profile' %}

{% do script(['libs/es-ckeditor/ckeditor.js', 'libs/bootstrap-datetimepicker.js', 'libs/jquery-validation.js','app/js/settings/profile/index.js']) %}

{% block page_title %}
  {{'user.settings.basic_info.content_title'|trans}}
{% endblock %}

{% block main_body %}
  {% if fromCourse %}
    <div class="alert cd-alert cd-alert-info">{{'user.settings.basic_info.alter_description'|trans}}</div>
  {% endif %}

  <form id="user-profile-form" class="row cd-row" method="post">
    {{ web_macro.flash_messages() }}
    <div class="col-md-5">
      <div class="form-group cd-form-group">
        <label for="">{{'user.fields.username_label'|trans}}</label>
        <input type="text" value="{{app.user.nickname}}">
      </div>
    </div>
    <div class="col-md-7"></div>
    <div class="col-md-5">
      <div class="form-group cd-form-group">
        <label for="profile_truename">{{'user.fileds.realname'|trans}}</label>
        {% if profile.truename and (app.user.approvalStatus == 'approved' or app.user.approvalStatus == 'approving') %}
          <input type="text" id="profile_truename" name="profile[truename]"  class="form-control" value="{{ profile.truename }}" readonly>
        {% else %}
          <input type="text" id="profile_truename" name="profile[truename]" class="form-control" value="{{ profile.truename|default('') }}">
        {% endif %}
      </div>
    </div>
    <div class="col-md-5 col-md-offest-1">
      <div class="form-group cd-form-group">
        <label>{{'user.fields.gender_label'|trans}}</label>
        <div class="cd-radio-group">
          <label class="cd-radio {% if profile.gender == 'male' %}checked{% endif %}" for="profile_gender_0" data-toggle="radio">
            <input type="radio" id="profile_gender_0" name="profile[gender]" value="male" {% if profile.gender == 'male' %}checked{% endif %}>
            {{'user.fields.gender.male'|trans}}
          </label>

          <label class="cd-radio {% if profile.gender == 'female' %}checked{% endif %}" for="profile_gender_1" data-toggle="radio">
            <input type="radio" id="profile_gender_1" name="profile[gender]" value="female" {% if profile.gender == 'female' %}checked{% endif %}>
            {{'user.fields.gender.female'|trans}}
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group cd-form-group">
        <label for="profile_title">{{'user.settings.basic_info.rank'|trans}}</label>
        <input type="text" id="profile_title" name="profile[title]" class="form-control" value="{{ profile.title|default('') }}">
      </div>
    </div>

    <div class="col-md-5 col-md-offest-1">
      <div class="form-group cd-form-group">
        <label class="col-md-2 control-label">{{'user.settings.basic_info.personal_signature'|trans}}</label>
        <input type="text" id="profile_signature" name="profile[signature]" class="form-control" value="{{ profile.signature|default('') }}">
      </div>
    </div>

    <div class="col-md-11">
      <div class="form-group cd-form-group">
        <label for="profile_about">{{'user.settings.basic_info.self_introduction'|trans}}</label>
        <textarea name="profile[about]" rows="10" id="profile_about" class="form-control" data-image-upload-url="{{ path('editor_upload', {token:upload_token('user')}) }}">{{ profile.about|default('') }}</textarea>
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group cd-form-group">
      </div>
    </div>
  </form>
{% endblock %}