{% extends 'settings/layout.html.twig' %}
{% block title %}{{'安全问题'|trans}} - {{'安全设置'|trans}} - {{ parent() }}{% endblock %}


{% do script(['libs/jquery-validation.js','app/js/settings/security-questions/index.js']) %}

{% set side_nav = 'security' %}
{% set questionOptions = dict('secureQuestion') %}

{% if not hasSecurityQuestions %}
  {% set script_controller = 'settings/security-questions' %}
{% endif %}

{% block main %}
 {% embed "bootstrap/panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}
      {{'安全设置'|trans}}
    {% endblock %}

    {% block body %}
      {{ web_macro.flash_messages() }}
      {%  if not hasSecurityQuestions  %}

        <ul class="breadcrumb">
          <li><a href="{{ path('settings_security') }}">{{'安全设置'|trans}}</a></li>
          <li class="active">{{'设置安全问题'|trans}}</li>
        </ul>

        <div class="alert alert-warning"> <span class="glyphicon glyphicon-info-sign"></span> {{'安全问题一经设置，不可再次修改。'|trans}}</div>

        <form id="settings-security-questions-form" class="form-horizontal" autocomplete="off" method="post" {# {% if not app.user.password %} style="display:none;"{% endif %} #}>

          <input style="display:none">{# Prevent autocompleting #}
          <input type="password" style="display:none">

          <div class="form-group row">
            <div  class="col-md-3 control-label"><label for="question-1">{{'安全问题1'|trans}}</label></div>
            <div class="col-md-4">
              <select class="form-control" id="question-1" name="question-1">
                {{ select_options(questionOptions, question1|default('parents') ) }}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div  class="col-md-3 control-label"><label for="answer-1">{{'答案'|trans}}</label></div>
            <div class="col-md-4 controls">
              <input type="text" id="answer-1" name="answer-1" class="form-control" autocomplete="off" value="" placeholder="{{'安全问题1答案'|trans}}">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-3 control-label"><label for="question-2">{{'安全问题2'|trans}}</label></div>
            <div class="col-md-4">
              <select class="form-control " id="question-2" name="question-2">
                {{ select_options(questionOptions, question2|default('teacher')) }}
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div  class="col-md-3 control-label"><label for="answer-2">{{'答案'|trans}}</label></div>
            <div class="col-md-4 controls">
              <input type="text" id="answer-2" name="answer-2" class="form-control" autocomplete="off"  value="" placeholder="{{'安全问题2答案'|trans}}">
            </div>
          </div>
        </form>

      {% else %}

        <ul class="breadcrumb">
          <li><a href="{{ path('settings_security') }}">{{'安全设置'|trans}}</a></li>
          <li class="active">{{'查看安全问题'|trans}}</li>
        </ul>

        <form class="form-horizontal" role="form">
          <div class="form-group row">
            <label  class="col-md-3 control-label">{{'安全问题1'|trans}}</label>
            <p class="form-control-static">{{ questionOptions[question1] }}</p>
          </div>
          <div class="form-group row">
            <label  class="col-md-3 control-label">{{'安全问题2'|trans}}</label>
            <p class="form-control-static">{{ questionOptions[question2] }}</p>
          </div>
          <div class="form-group row">
            <label  class="col-md-3 control-label">{{'安全问题3'|trans}}</label>
            <p class="form-control-static">{{ questionOptions[question3] }}</p>
          </div>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}