{% extends 'settings/layout.html.twig' %}
{% block title %}{{'user.settings.security.questions'|trans}} - {{'user.settings.security_menu'|trans}} - {{ parent() }}{% endblock %}
{% set script_controller = 'settings/security-questions' %}
{% set side_nav = 'security' %}
{% set questionOptions = dict('secureQuestion') %}

{% if not hasSecurityQuestions %}
  {% set script_controller = 'settings/security-questions' %}
{% endif %}

{% block main %}
 {% embed "bootstrap/panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}
      {{'user.settings.security.questions.content_title'|trans}}
    {% endblock %}
    {% block body %}

    {{ web_macro.flash_messages() }}

  {% if not hasSecurityQuestions %}

    <ul class="breadcrumb">
      {{ 'user.settings.security.questions.setting.bread_crumbs'|trans({'%settingSecurityUrl%':path('settings_security')})|raw }}
    </ul>

    <div class="alert alert-warning"> <span class="glyphicon glyphicon-info-sign"></span> {{'user.settings.security.questions.setting.warning'|trans}}</div>

    <form id="settings-security-questions-form" class="form-horizontal" autocomplete="off" method="post" {# {% if not app.user.password %} style="display:none;"{% endif %} #}>

      <input style="display:none">{# Prevent autocompleting #}
      <input type="password" style="display:none">

      <div class="form-group row">
        <div  class="col-md-3 control-label"><label for="question-1">{{'user.settings.security.questions.first_question'|trans}}</label></div>
        <div class="col-md-4">
          <select class="form-control" id="question-1" name="question-1">
            {{ select_options(questionOptions, question1|default('parents') ) }}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div  class="col-md-3 control-label"><label for="answer-1">{{'user.settings.security.questions.answer'|trans}}</label></div>
        <div class="col-md-4 controls">
          <input type="text" id="answer-1" name="answer-1" class="form-control" autocomplete="off" value="" placeholder="{{'user.settings.security.questions.setting.first_question_answer'|trans}}">
        </div>
      </div>



      <div class="form-group row">
        <div class="col-md-3 control-label"><label for="question-2">{{'user.settings.security.questions.second_question'|trans}}</label></div>
        <div class="col-md-4">
          <select class="form-control " id="question-2" name="question-2">
            {{ select_options(questionOptions, question2|default('teacher')) }}
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div  class="col-md-3 control-label"><label for="answer-2">{{'user.settings.security.questions.answer'|trans}}</label></div>
        <div class="col-md-4 controls">
          <input type="text" id="answer-2" name="answer-2" class="form-control" autocomplete="off"  value="" placeholder="{{'user.settings.security.questions.setting.second_question_answer'|trans}}">
        </div>
      </div>

      <div class="form-group row">
        <div  class="col-md-3 control-label"><label for="question-3">{{'user.settings.security.questions.third_question'|trans}}</label></div>
        <div class="col-md-4">
          <select class="form-control" id="question-3" name="question-3">
            {{ select_options(questionOptions,question3|default('lover')) }}
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div  class="col-md-3 control-label"><label for="answer-3">{{'user.settings.security.questions.answer'|trans}}</label></div>
        <div class="col-md-4 controls">
          <input type="text" id="answer-3" name="answer-3" class="form-control" autocomplete="off" value="" placeholder="{{'user.settings.security.questions.setting.third_question_answer'|trans}}">
        </div>
      </div>

      <div class="form-group row">
        <div  class="col-md-3 control-label"><label for="userLoginPassword">{{'user.settings.security.login_password'|trans}}</label></div>
        <div class="col-md-4 controls">
          <input type="text" id="userLoginPassword" name="userLoginPassword" class="form-control" onfocus="this.type='password'" autocomplete="false"  value="">
        </div>
      </div>

      <br>
      <div class="form-group row">
          <div class="col-md-4 col-md-offset-3  controls">
            <button id="password-save-btn" data-submiting-text="{{'form.btn.save.submiting'|trans}}" type="submit" class="btn btn-primary {# pull-right #}">{{'form.btn.submit'|trans}}</button>
          </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

    </form>

  {% else %}

    <ul class="breadcrumb">
      {{ 'user.settings.security.questions.check.bread_crumbs'|trans({'%settingSecurityUrl%':path('settings_security')})|raw }}
    </ul>


    <form class="form-horizontal" role="form">
      <div class="form-group row">
        <label  class="col-md-3 control-label">{{'user.settings.security.questions.first_question'|trans}}</label>
        <p class="form-control-static">{{ questionOptions[question1] }}</p>
      </div>
      <div class="form-group row">
        <label  class="col-md-3 control-label">{{'user.settings.security.questions.second_question'|trans}}</label>
        <p class="form-control-static">{{ questionOptions[question2] }}</p>
      </div>
      <div class="form-group row">
        <label  class="col-md-3 control-label">{{'user.settings.security.questions.third_question'|trans}}</label>
        <p class="form-control-static">{{ questionOptions[question3] }}</p>
      </div>
    </form>
  {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
