{% extends 'v2/layout.html.twig' %}

{% block title %}{{'user.settings.security_menu'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'security' %}

{% do script(['app/js/settings/security/index.js']) %}

{% block page_title %}
  {{'user.settings.security.content_title'|trans}}
{% endblock %}

{% block main_body %}
  {% if progressScore > 67 %}
    {% set security_type = 'success' %}
    {% set security_level = 'user.settings.security.high_level'|trans %}
  {% elseif progressScore > 34 %}
    {% set security_type = 'warning' %}
    {% set security_level = 'user.settings.security.middle_level'|trans %}
  {% else %}
    {% set security_type = 'danger' %}
    {% set security_level = 'user.settings.security.low_level'|trans %}
  {% endif %}
  <div class="cd-security cd-security-{{ security_type }} cd-mb32">
    <div class="security-icon">
      <i class="cd-icon cd-icon-{{ security_type }}"></i>
    </div>
    <div class="security-title">{{ 'user.settings.security.level'|trans }}</div>
    <div class="security-progress done"></div>
    <div class="security-progress {% if progressScore > 34 %}done{% endif %}"></div>
    <div class="security-progress {% if progressScore > 67 %}done{% endif %}"></div>
    <div class="security-level">{{ security_level }}</div>
  </div>

  <div class="cd-setting">
    <div class="setting-icon"><i class="cd-icon cd-icon-lock"></i></div>
    <div class="setting-title">{{'user.fields.login_password'|trans}}</div>
    <div class="setting-content">{{'user.settings.security.login_password_tips'|trans}}</div>
    <div class="setting-action">
      {% if hasLoginPassword %}
        <div class="cd-setting-status cd-setting-status-done">{{'site.setting.finished'|trans}}</div>
      {% else %}
        <div class="cd-setting-status">{{'site.setting.unfinished'|trans}}</div>
      {% endif %}
      <button class="btn cd-btn cd-btn-default" data-url="{{ path('settings_password') }}" data-toggle="modal" data-target="#modal">{{'form.btn.modify'|trans}}</button>
    </div>
  </div>

  <div class="cd-setting">
    <div class="setting-icon"><i class="cd-icon cd-icon-payment"></i></div>
    <div class="setting-title">{{'user.fields.pay_password'|trans}}</div>
    <div class="setting-content">{{'user.settings.security.pay_password_tips'|trans}}</div>
    <div class="setting-action">
      {% if hasPayPassword %}
        <div class="cd-setting-status cd-setting-status-done">{{'site.setting.finished'|trans}}</div>
        <button class="btn cd-btn cd-btn-default" data-url="{{ path('settings_reset_pay_password') }}" data-toggle="modal" data-target="#modal">{{'form.btn.reset'|trans}}</button>
      {% else %}
        <div class="cd-setting-status">{{'site.setting.unfinished'|trans}}</div>
        <button class="btn cd-btn cd-btn-default" data-url="{{ path('settings_pay_password') }}" data-toggle="modal" data-target="#modal">{{'form.btn.set'|trans}}</button>
      {% endif %}
    </div>
  </div>

  <div class="cd-setting">
    <div class="setting-icon"><i class="cd-icon cd-icon-safe"></i></div>
    <div class="setting-title">{{'user.settings.security.questions'|trans}}</div>
    <div class="setting-content">{{'user.settings.security.questions_tips'|trans}}</div>
    <div class="setting-action">
      {% if hasFindPayPasswordQuestion %}
        <div class="cd-setting-status cd-setting-status-done">{{'site.setting.finished'|trans}}</div>
        <button class="btn cd-btn cd-btn-default" data-url="{{ path('settings_security_questions') }}" data-toggle="modal" data-target="#modal">{{'form.btn.view'|trans}}</button>
      {% else %}
        <div class="cd-setting-status">{{'site.setting.unfinished'|trans}}</div>
        <button class="btn cd-btn cd-btn-default" data-url="{{ path('settings_security_questions') }}" data-toggle="modal" data-target="#modal">{{'form.btn.set'|trans}}</button>
      {% endif %}
    </div>
  </div>

  {% if (setting('cloud_sms.sms_enabled')|default('')) == '1' and (setting('cloud_sms.sms_bind')|default('')) == 'on' %}
    <div class="cd-setting">
      <div class="setting-icon"><i class="cd-icon cd-icon-iphone"></i></div>
      <div class="setting-title">{{'user.settings.security.mobile_bind'|trans}}</div>
      <div class="setting-content">
        {% if hasVerifiedMobile %}
          {{'site.verify.mobile_finished'|trans}}：{{ blur_phone_number(verifiedMobile) }}
        {% else %}
          {{'user.settings.security.mobile_bind_tips'|trans}}
        {% endif %}
      </div>
      <div class="setting-action">
        {% if hasVerifiedMobile %}
          <div class="cd-setting-status cd-setting-status-done">{{'site.verify.finished'|trans}}</div>
          <button class="btn cd-btn cd-btn-default" data-url="{{ path('settings_bind_mobile') }}" data-toggle="modal" data-target="#modal">{{'form.btn.modify'|trans}}</button>
        {% else %}
          <div class="cd-setting-status">{{'site.verify.unfinished'|trans}}</div>
          <button class="btn cd-btn cd-btn-default" data-url="{{ path('settings_bind_mobile') }}" data-toggle="modal" data-target="#modal">{{'form.btn.bind'|trans}}</button>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="cd-setting">
    <div class="setting-icon"><i class="cd-icon cd-icon-email"></i></div>
    <div class="setting-title">{{'user.settings.email_menu'|trans}}</div>
    <div class="setting-content">
      {% if hasEmail %}
        {{'site.setting.email_finished'|trans}}：{{ email }}
      {% else %}
        邮箱可用于找回密码
        {# {{'user.settings.security.email_setting_tips'|trans}} #}
      {% endif %}
    </div>
    <div class="setting-action">
      {% if hasEmail %}
        {% if hasVerifiedEmail %}
          <div class="cd-setting-status cd-setting-status-done">{{'site.verify.finished'|trans}}</div>
          <button class="btn cd-btn cd-btn-default" data-url="{{ path('settings_email') }}" data-toggle="modal" data-target="#modal">{{'form.btn.modify'|trans}}</button>
        {% else %}
          <div class="cd-setting-status">{{'site.verify.unfinished'|trans}}</div>
          <button class="btn cd-btn cd-btn-default" data-url="{{ path('settings_email') }}" data-toggle="modal" data-target="#modal">{{'form.btn.modify'|trans}}</button>
          <button class="btn cd-btn cd-btn-ghost-primary" id="send-verify-email" data-url="{{ path('settings_email_verify') }}" data-loading-text="{{'form.btn.verifying'|trans}}">{{'form.btn.verify'|trans}}</button>
        {% endif %}
      {% else %}
        <div class="cd-setting-status">{{'site.setting.unfinished'|trans}}</div>
        <button class="btn cd-btn cd-btn-default" data-url="{{ path('settings_email') }}" data-toggle="modal" data-target="#modal">{{'form.btn.bind'|trans}}</button>
      {% endif %}
    </div>
  </div>

{% endblock %}