{% extends 'settings/find-pay-password.html.twig' %}
{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security.content_title'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'security' %}
{% do script(['libs/jquery-validation.js','app/js/settings/update-pay-password/index.js'])%}

{% block main_heading %}
  <ul class="cd-panel-heading cd-step clearfix">
    <li class="cd-step__one doing"><span class="number pass-icon"><i class="cd-icon cd-icon-check"></i></span><span class="info">{{ 'user.settings.security.pay_password_find.way'|trans }}</span></li>
    <li class="cd-step__three doing"><span class="number">3</span><span class="info">{{ 'user.settings.security.password_reset'|trans }}</span></li>
    <li class="cd-step__two cd-step__divided doing done"><span class="number pass-icon"><i class="cd-icon cd-icon-check"></i></span><span class="info">{{ 'user.settings.security.pay_password.validate_info'|trans }}</span></li>
  </ul>
{% endblock %}

{% block main_body %}
  <div class="hidden">
    {{ web_macro.flash_messages() }}
  </div>
  <form id="pay-password-reset-update-form" class="find-pay-password-form" method="post" action="{{ path('settings_update_pay_password') }}">

    <div class="form-group cd-form-group">
      <label>{{ 'user.settings.security.pay_password_set.new_pay_password'|trans }}</label>
      {{ form_widget(form.payPassword, {attr:{class:'form-control'}}) }}
    </div>

    <div class="form-group cd-form-group">
      <label>{{ 'user.settings.security.pay_password_set.confirm_pay_password'|trans }}</label>
      {{ form_widget(form.confirmPayPassword, {attr:{class:'form-control'}}) }}
    </div>

    <div class="form-group cd-form-group cd-form-group-submit">
      <label>{{ 'user.settings.security.pay_password_set.user_login_password'|trans }}</label>
      {{ form_widget(form.currentUserLoginPassword, {attr:{class:'form-control'}}) }}
    </div>

    <div class="form-group cd-form-group">
      {{ form_rest(form) }}
      <button class="btn cd-btn cd-btn-primary cd-btn-lg btn-block" id="payPassword-save-btn" type="submit" class="btn btn-primary">{{'user.settings.security.reset_pay_password'|trans}}</button>
    </div>
    <input type="hidden" name="token" value="{{ token.token }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}