{% extends 'settings/find-pay-password.html.twig' %}
{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security.content_title'|trans}} - {{ parent() }}{% endblock %}


{% set stepThree = true %}
{% do script(['libs/jquery-validation.js','app/js/settings/update-pay-password/index.js'])%}


{% block panel_body %}
  <div class="hidden">
    {{ web_macro.flash_messages() }}
  </div>
  <form id="pay-password-reset-update-form" class="find-pay-password-form" method="post" action="{{ path('settings_update_pay_password') }}">

    <div class="form-group cd-form-group">
      <label for="form_payPassword">{{ 'user.settings.security.pay_password_set.new_pay_password'|trans }}</label>
      {{ form_widget(form.payPassword, {attr:{class:'form-control'}}) }}
    </div>

    <div class="form-group cd-form-group">
      <label for="form_confirmPayPassword">{{ 'user.settings.security.pay_password_set.confirm_pay_password'|trans }}</label>
      {{ form_widget(form.confirmPayPassword, {attr:{class:'form-control'}}) }}
    </div>

    <div class="form-group cd-form-group">
      <label for="form_currentUserLoginPassword">{{ 'user.settings.security.pay_password_set.user_login_password'|trans }}</label>
      {{ form_widget(form.currentUserLoginPassword, {attr:{class:'form-control'}}) }}
    </div>

    <div class="hidden">
      {{ form_rest(form) }}
    </div>
    <button class="btn cd-btn cd-btn-primary cd-btn-lg btn-block" id="payPassword-save-btn" data-loading-text="{{'form.btn.submit.submiting'|trans}}" type="button" class="btn btn-primary">{{'user.settings.security.reset_pay_password'|trans}}</button>
    <input type="hidden" name="token" value="{{ token.token }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}