{% extends 'settings/layout.html.twig' %}
{% block title %}{{'user.fields.pay_password'|trans}} - {{'user.settings.security.content_title'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'security' %}
{% do script(['libs/jquery-validation.js','app/js/settings/update-pay-password/index.js'])%}

{% block main %}
 {% embed "bootstrap/panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}{{'user.settings.security.content_title'|trans}}{% endblock %}
    {% block body %}

      <ul class="breadcrumb">
        <li><a href="{{ path('settings_security') }}">{{'user.settings.security.content_title'|trans}}</a></li>
        <li class="active">{{'user.settings.security.pay_password_set.find_pay_password'|trans}}</li>
      </ul>

    {{ web_macro.flash_messages() }}

      <form id="pay-password-reset-update-form" class="form-horizontal" method="post" action="{{ path('settings_update_pay_password') }}">

        {{ web_macro.flash_messages() }}

        <div class="form-group">
          <div class="col-md-3 control-label">
            {{ form_label(form.payPassword, 'user.settings.security.pay_password_set.new_pay_password'|trans) }}
          </div>
          <div class="col-md-8 controls">
            {{ form_widget(form.payPassword, {attr:{class:'form-control'}}) }}
            <p class="help-block">{{'order.confirm.input_pay_password_tips'|trans}}</p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3 control-label">
            {{ form_label(form.confirmPayPassword, 'user.settings.security.pay_password_set.confirm_pay_password'|trans) }}
          </div>
          <div class="col-md-8 controls">
            {{ form_widget(form.confirmPayPassword, {attr:{class:'form-control'}}) }}
            <p class="help-block">{{'user.settings.security.pay_password_set.input_pay_password_again'|trans}}</p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3 control-label">
            {{ form_label(form.currentUserLoginPassword, 'user.settings.security.pay_password_set.user_login_password'|trans) }}
          </div>
          <div class="col-md-8 controls">
            {{ form_widget(form.currentUserLoginPassword, {attr:{class:'form-control'}}) }}
            <p class="help-block">{{'user.settings.security.pay_password_set.input_login_password'|trans}}</p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-3 col-md-8">
            {{ form_rest(form) }}
            <button  id="payPassword-save-btn" type="submit" class="btn btn-primary">{{'user.settings.security.reset_pay_password'|trans}}</button>
          </div>
        </div>

        <input type="hidden" name="token" value="{{ token.token }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

      </form>

    {% endblock %}
  {% endembed %}
{% endblock %}
