{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modalSize = 'large' %}

{% block title %}添加家长{% endblock %}
{% block body %}

<form id="user-create-form" class="form-horizontal" method="post" action="{{ path('admin_parent_create')}}">
  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="mobile">手机号码</label>
    </div>
    <div class="col-md-7 controls">
      <input type="text" id="mobile" data-url="{{path('admin_user_create_mobile_check')}}" name="mobile" class="form-control" >
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="truename">姓名</label>
    </div>
    <div class="col-md-7 controls">
      <input type="text" id="truename" name="truename" class="form-control" >
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="email">邮箱地址</label>
    </div>
    <div class="col-md-7 controls">
      <input type="text" id="email" data-url="{{path('admin_user_create_email_check')}}" name="email" class="form-control" >
    </div>
  </div>

   <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="password">密码</label>
    </div>
      <div class="col-md-7 controls">
        <input type="password" id="password" name="password" class="form-control" value="">
      <p class="help-block">5-20位英文、数字、符号，区分大小写</p>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="confirmPassword">确认密码</label>
    </div>
    <div class="col-md-7 controls">
      <input type="password" id="confirmPassword" name="confirmPassword" class="form-control">
      <p class="help-block">再输入一次密码</p>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="familyRelation">家庭关系</label>
    </div>
    <div class="col-md-7">
      <select id="relation" name="relation" class="form-control">
        {{ select_options(dict('family'), app.request.query.get('relation'), '--家庭关系--') }}
      </select>
    </div>
  </div>

  <input type="hidden" id="numberInputNum" value="1" />
  
  <input type="hidden" id="dataSource" value="{{path('admin_student_match')}}">
  <div class="row form-group">
    <div class="col-md-2 control-label">
      <label for="id_1">子女选择</label>
    </div>
    <div class="col-md-7 controls">
      <input type="text" id="id_1" name="ids[]" class="select2-offscreen childId" data-url="{{path('admin_parent_create_childNumber_check')}}">
      <span style="cursor: pointer;" class="glyphicon glyphicon-remove deleteNumberBtn"></span>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-7 col-md-offset-2 control-label">
      <button id="addNumberBtn" type="button" class="btn btn-primary btn-block pull-left">+</button>
    </div>
  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

</form>
{% endblock %}

{% block footer %}
  <button id="user-create-btn" data-submiting-text="正在提交" type="submit" class="btn btn-primary pull-right" data-toggle="form-submit" data-target="#user-create-form">提交</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">取消</button>
  <script>app.load('parent/create-modal')</script>
{% endblock %}