{% extends 'TopxiaAdminBundle:Course:layout.html.twig' %}

{% set menu = 'note' %}

{% block main %}
<div class="page-header"><h1>笔记监控</h1></div>

<table class="table table-striped">
   <thead>
      <tr>
         <th width="5%">ID</th>
         <th width="20%">所属课时</th>
         <th width="40%">笔记内容</th>
         <th width="5%">状态</th>
         <th width="10%">发言人</th>
         <th width="10%">发言时间</th>
         <th width="10%">操作</th>
      </tr>
   </thead>
   <tbody>
     {% for n in notes %}
     {% set u = userList[n.userId] %}
     {% set l = lessonList[n.lessonId] %}
     <tr>
       <td>{{ n.id }}</td>
       <td>
         <a href="{{ path('course_lesson_show', {course:n.courseId, lesson:n.lessonId}) }}">{{ l.title }}</a>
       </td>
       <td>
        {% if n.picked %}
        <div><span class="badge badge-success">已推荐 ( {{ n.pickedTime|fulltime }} )</span></div>
        {% endif %}
        {{ n.content|striptags|nl2br|raw }}
       </td>
       <td>
        {% if n.status == 0 %}
          <span class="muted">私有</span>
        {% else %}
          <span class="text-success">公开</span>
        {% endif %}
      </td>
       <td>{{ m.user_link(u) }}</td>
       <td>{{ n.createdTime|fulltime }}</td>
       <td>
          <div class="btn-toolbar">
            <div class="btn-group">
              <button class="btn btn-mini btn-primary" data-toggle="dropdown">管理</button>
              <button class="btn  btn-mini btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
              <ul class="dropdown-menu pull-right">
                <li><a href="{{ path('note', {note: n.id}) }}" target="_blank"><i class="icon-eye-open" ></i> 查看笔记</a></li>
                <li>
                  {% if n.picked %}
                    <a href="javascript:;" class="unpick-btn" data-url="{{ path('admin_note_unpick', {id:n.id}) }}"><i class="icon-thumbs-down"></i> 取消推荐</a>
                  {% else %}
                    <a href="javascript:;" class="pick-btn" data-url="{{ path('admin_note_pick', {id:n.id}) }}"><i class="icon-thumbs-up"></i> 推荐笔记</a>
                  {% endif %}
                </li>
                <li><a href="{{ path('admin_note_delete', {noteId: n.id}) }}" title="删除" onclick="return confirm('真的要删除吗？');"><i class="icon-remove"></i> 删除笔记</a></li>
              </ul>
            </div>
          </div>
      </td>
     </tr>
     {% endfor %}
   </tbody>
</table>

{% if paginator.lastPage > 1 %} {{ pg.paginator(paginator) }} {% endif %}

{% endblock %}

{% block page_script %} app.load('note'); {% endblock %}