{% extends 'my/layout.html.twig' %}

{% block title %}{{'finance.balance'|trans}} - {{ parent() }}{% endblock %}

{% set side_nav = 'income_records' %}

{% block main %}
<div class="panel panel-default panel-col">
  <div class="panel-heading">{{'finance.balance'|trans}}</div>
  <div class="panel-body">
  	<div class="record">
      {{'finance.balance'|trans}}:<span class="record_num">100.00{{'site.currency.CNY'|trans}}</span>
      <button type="button" class="btn btn-primary">{{'my.money_record.start_recharge'|trans}}</button>
      <span class="glyphicon glyphicon-question-sign"><a href="a">{{'my.money_record.recharge_help'|trans}}</a></span>
    </div>
    {% set main_nav = main_nav|default(null) %}
    <ul class="nav nav-pills nav-pills-sm clearfix">
      <li{% if main_nav == 'IncomeRecords' %} class="active"{% endif %}><a href="{{ path('income_records') }}">{{'my.money_record.recharge'|trans}}</a></li>
      <li{% if main_nav == 'PayoutRecords' %} class="active"{% endif %}><a href="{{ path('payout_records') }}">{{'my.money_record.payout_record'|trans}}</a></li>
    </ul>

    {% block main_body %}{% endblock %}
  </div>
</div>
{% endblock %}