{% set categoryMarks = data('QuestionBankCategoryMarks', {selectedCategory:selectedCategory, selectedSubCategory:selectedSubCategory}) %}
{% set filter = request.query.get('filter')|default(null) %}

{% set path = 'question_bank_list' %}


<div class="tabs-wrapper">
  <div class="tabs-group">
    <div class="title">{{'question_bank_category'|trans}}:</div>
    <ul class="content clearfix">
      <li class="{% if not selectedCategory %}active{% endif %}"><a class="nav-link" href="{{ path(path,{filter:filter}) }}">{{'question_bank_category.all_category'|trans}}</a></li>
      {% for category in categories %}
        <li class="{% if category.id == selectedCategory %}active{% endif %}"><a class="nav-link" href="{{ path(path, {category:category.id, filter:filter}) }}">{{ category.name }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% if subCategories|default(null) %}
    <div class="tabs-group" >
      <div class="title"></div>
      <ul class="content clearfix">
        <li class="{% if not selectedSubCategory %}active{% endif %}"><a class="nav-link" href="{{ path(path, {category:selectedCategory, filter:filter}) }}">{{'question_bank_category.all_category'|trans}}</a></li>
        {% for subCategory in subCategories %}
          <li class="{% if subCategory.id == selectedSubCategory %}active{% endif %}"><a class="nav-link" href="{{ path(path, {category:selectedCategory, subCategory:subCategory.id, filter:filter}) }}">{{ subCategory.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>


