{% extends 'TopxiaWebBundle::bootstrap-modal-layout.html.twig' %}

{% set modal_size = '' %}

{% block title %}购买课程{% endblock %}
{% block body %}
  {% if app.request.query.get('preview') %}
    <div class="alert alert-info">该课时非免费课时，不能预览，需购买后才能查看。</div>
  {% endif %}
  <form id="course-buy-form" class="form-horizontal" method="post" action="{{ path('course_order_pay') }}" data-auto-submit="false">

    <div class="row control-group">
      <div class="col-lg-3 control-label">课程名称</div>
      <div class="col-lg-9 controls">
      	<span class="control-text text-muted">《{{ course.title }}》</span>
      </div>
    </div>

    <div class="row control-group">
      <div class="col-lg-3 control-label">价格</div>
      <div class="col-lg-9 controls">
      	<span class="control-text"><strong class="money">{{ course.price }}</strong>
      		<span class="text-muted">元</span>
      	</span>
      </div>
    </div>

    {% if course.price > 0 %}
      <div class="row control-group">
        <div class="col-lg-3 control-label">选择支付方式</div>
        <div class="col-lg-9 controls">
        	<input type="radio" checked="checked" />
        	<img src="/assets/img/order/alipay.gif" />
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-lg-12">
          <div class="alert">此课程为免费课程，无需购买，可直接加入学习。</div>
        </div>
      </div>
    {% endif %}
    <input type="hidden" name="courseId" value="{{ course.id }}" />
    <input type="hidden" name="payment" value="alipay" />
  </form>

<script>
app.load('course/buy-modal');
</script>

{% endblock %}

{% block footer %}
  {% if course.price > 0 %}
    <input class="btn btn-primary" type="submit" data-toggle="form-submit" data-target="#course-buy-form" value="去支付">
  {% else %}
    <button class="btn btn-primary course-join-btn" type="button" data-url="{{ path('course_join', {id:course.id}) }}">加入学习</button>
  {% endif %}
{% endblock %}