{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}购买课程《{{ course.title }}》 - {{ parent() }}{% endblock %}

{% set nav = 'course' %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="panel-col panel">
      <div class="panel-heading">购买课程</div>

      <div class="panel-body">
        <div class="row">
          <div class="col-offset-2 col-lg-8">
            <div class="media" style="background:#">
              <div class="pull-left">
                <img class="media-object" src="{{ file_path(course.largePicture, 'course-default-475x250.png') }}" width="200">
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{ course.title }}</h4>
                <div>价格： {{ course.price }}元</div>
              </div>
            </div>

            <form class="form-horizontal">

              <div class="row control-group">
                <div class="col-lg-3 control-label">选择支付方式</div>
                <div class="col-lg-7 controls">

                </div>
              </div>

              <div class="row control-group">
                <div class="col-offset-2 col-lg-10 controls">
                  <button class="btn btn-primary">去支付</button>

                </div>
              </div>


            </form>





          </div>

        </div>




      </div>
    </div>

  </div>
</div>
{% endblock %}