{% extends 'bootstrap-modal-layout.html.twig' %}
{% set modal_class= "modal-lg" %}

{% do script(['app/js/report/modal/index.js']) %}

{% block title %}{{ '举报' }}{% endblock %}

{% block body %}
  <div class="center">{{ '请选择举报理由' }}</div>
  <form action="get" class="form-horizontal js-report-form">
    <div class="form-group">
      <div class="controls radios">
        <label>
          <input type="radio" name="reportTag" value="1">{{ '垃圾广告信息'|trans }}
        </label>
      </div>
      <div class="controls radios">
        <label>
          <input type="radio" name="reportTag" value="2">{{ '政治敏感信息'|trans }}
        </label>
      </div>
      <div class="controls radios">
        <label>
          <input type="radio" name="reportTag" value="3">{{ '色情低俗信息'|trans }}
        </label>
      </div>
      <div class="controls radios">
        <label>
          <input type="radio" name="reportTag" value="4">{{ '违法违规信息'|trans }}
        </label>
      </div>
      <div class="controls radios">
        <label>
          <input type="radio" name="reportTag" value="5">{{ '辱骂、人身攻击等不友善行为'|trans }}
        </label>
      </div>
    </div>
    <a data-target-type="{{ targetType }}" data-target-id="{{ targetId }}" data-url="{{ path('common_report') }}" class="btn btn-info js-report-submit">提交</a>
  </form>
{% endblock %}