<div class="testpaper-card affix">
  {% if paperResult.status|default(null) == 'finished' and (app.user.id|default(0) == paperResult.userId ) %}
    <div class="mbl">
      <a href="{{ path('homework_start_do',{lessonId:paperResult.lessonId,homeworkId:paperResult.testId}) }}" class="btn btn-primary btn-block btn-lg  border-radius-none">再次尝试</a>
    </div>
  {% endif %}
  <div class="panel panel-gray border-radius-none">
    <div class="panel-heading">
      {{'答题卡'|trans}} 
      <a class="pull-right link-medium" href="javascript:;" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content='<div>本次考试共<span class="color-primary">2题</span>，总分<span class="color-primary">8.0分</span>，及格为<span class="color-primary">5.0</span>分。请在<span class="color-primary">50分钟</span>内作答。</div>'><i class="es-icon es-icon-info"></i></a>
    </div>
    <div class="panel-body">
      {% for question in questions %}
        {% if question.type == 'material' and question.subs > 0 %}
          {% for subQuestion in question.subs|default([]) %}
            {% include 'testpaper/part/paper-card-choice.html.twig' with {paperResult:paperResult,question:subQuestion,seq:subQuestion.seq} %}
          {% endfor %}
        {% else %}
          {% include 'testpaper/part/paper-card-choice.html.twig' with {paperResult:paperResult,question:question,seq:question.seq} %}
        {% endif %}
      {% endfor %}

      {% if paperResult.status|default(null) in ['reviewing','finished'] %}
        <div class="testpaper-card-explain clearfix">
          <a href="javascript:;" class="color-lump lump-xs bg-success"></a><small class="color-gray mls">{{'正确'|trans}}</small>
          <a href="javascript:;" class="color-lump lump-xs bg-danger"></a><small class="color-gray mls">{{'错误'|trans}}</small>
          <a href="javascript:;" class="color-lump lump-xs bg-warning"></a><small class="color-gray mls">{{'待批阅'|trans}}</small>
          <a href="javascript:;" class="color-lump lump-xs lump-card"></a><small class="color-gray mls">{{'未做'|trans}}</small>
        </div>
      {% endif %}
    </div>

    <div class="panel-footer">
      {% if paperResult.status|default(null) == 'reviewing' %}
        {% if app.user.id|default(0) == paperResult.userId %}
          <div class="checkbox">
            <label>
              <input type="checkbox" id="showWrong" />
              <span class="text-info">{{'只看错题'|trans}}</span>
            </label>
          </div>
        {% else %}
          <a class="btn btn-success" data-role="check-submit">{{'完成批改'|trans}}</a>
        {% endif %}
      {% elseif paperResult.status|default(null) == 'doing' %}
        <a class="btn btn-default" id="homework-next-do" data-url="" data-return-url="">{{'下次再做'|trans}}</a>
        <a id="paper-finish" class="btn btn-success" data-toggle="modal" data-target="#testpaper-finished-dialog">{{'提交作业'|trans}}</a>
      {% else %}
        <div class="checkbox">
          <label>
            <input type="checkbox" id="showWrong" />
            <span class="text-info">{{'只看错题'|trans}}</span>
          </label>
        </div>
      {% endif %}
    </div>
  </div>
</div>