<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <title>文件预览</title>
  {% include 'TopxiaWebBundle:Default:stylesheet.html.twig' %}
  <!--[if lt IE 9]>
    <script src="{{ asset('assets/libs/html5shiv.js') }}"></script>
  <![endif]-->
</head>
<style>
    #lesson-preview-video-player, #lesson-preview-flash, #lesson-preview-doucment, #lesson-preview-ppt-player {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
    }
</style>
<body>

{% do load_script('customwebbundle/controller/file/preview') %}

{% if player.error is defined %}
  {{ player.error }} : {{ player.message }}
{% else %}
  <div id="file-player" 
    {% for key, value in player %}
      data-{{ key }}="{{ value }}"
    {% endfor %}
  ></div>
{% endif %}

{% include 'TopxiaWebBundle::script_boot.html.twig' with {script_main: asset('bundles/topxiaweb/js/app.js')} %}

</body>
</html>