{% extends 'activity/activity-layout.html.twig' %}

{% set course = get_course(activity.fromCourseId) %}
{% set exercise = activity.ext|default(null) %}
{% set range = exercise.metas.range|default(null)|parse_exercise_range %}
{% if range.bankId|default(0) != 0 %}
  {% set questionCategories = data('QuestionCategoryTree', {bankId: range.bankId}) %}
{% endif %}
{% do script(['libs/select2.js', 'libs/ltc-sdk-client.js', 'exerciseactivity/js/create/index.js'],300) %}
{% block activity_step %}
<div class="tab-pane js-course-tasks-pane active js-step2-view">
  <form class="form-horizontal" id="step2-form" >
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label for="title" class="control-label-required">{{ 'course.plan_task.activity_manage.title_name'|trans }}</label>
      </div>
      <div class="col-sm-10">
        <input id="title" class="form-control" type="text" name="title" value="{{ activity.title|default('') }}" >
        <div class="help-block">{{ 'course.plan_task.activity_manage.help_block'|trans }}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label for="questionCount" class="control-label-required">{{'course.plan_task.exercise.question_numbers'|trans}}</label>
      </div>
      <div class="col-sm-10 controls">
        <input type="text" id="itemCount" name="itemCount" required="required" class="form-control width-input width-input-large" value="{{ exercise.itemCount|default(1) }}">
      </div>
    </div>
    {% set questionBankTree = data('QuestionBankTree', {}) %}

    <div class="form-group">
      <label class="col-sm-2 control-label">{{'course.testpaper_manage.create.range'|trans}}</label>
      <div class="col-sm-10 controls radios">
        <select class="form-control width-150" id="questionBankSelect" name="range[bankId]" data-url="{{ path('question_bank_manage_question_category_show') }}" data-check-num-url="{{ path('question_bank_manage_question_check_num') }}">
          {% if questionBankTree %}
            <option value="0" {% if not range.bankId|default(0) %}selected{% endif %}>{{'question.marker_question.select_question_bank'|trans}}</option>
            {% for tree in questionBankTree %}
              <option {% if tree.categoryId is not defined %}value={{ tree.id }}-category disabled="disabled" {% else %}value={{ tree.id }} {% endif %} {% if range.bankId|default(0) == tree.id %}selected{% endif %}>{% for i in 1..(tree.depth-1) if tree.depth > 1 %}　{% endfor %}{{ tree.name }}</option>
            {% endfor %}
          {% else %}
            <option value="0" {% if not range.bankId|default(0) %}selected{% endif %}>{{'question_bank.empty.no_auth'|trans}}</option>
          {% endif %}
        </select>
{#        <select class="form-control width-200 width-input-xlarge {% if not questionCategories|default(null) %}hidden{% endif %}" id="questionCategorySelect" name="range[categoryId]" multiple="multiple">#}
{#          <option value="0" {% if not range.categoryId|default(0) %}selected{% endif %}>{{'course.plan_task.exercise.question_sourse.choose'|trans}}</option>#}
{#          {% if questionCategories|default(null) %}#}
{#            {% for category in questionCategories %}#}
{#              <option value={{ category.id }} {% if range.categoryId|default(0) == category.id %}selected{% endif %}>{% for i in 1..(category.depth-1) if category.depth > 1 %}　{% endfor %}{{ category.name }}</option>#}
{#            {% endfor %}#}
{#          {% endif %}#}
{#        </select>#}
        {% set placeholder = 'admin.custom_page_manage.custom_page_category_option'|trans %}
        {% include 'common/select.html.twig' with {
          placeholder: placeholder,
          id: 'questionCategorySelect',
          data: questionCategories,
          ids: range.categoryId|join(','),
          treeName: 'range[categoryId]',
          classNames: 'width-400'
        } %}
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label"><label>{{'course.plan_task.exercise.difficulty'|trans}}</label></div>
      <div class="col-sm-10 controls">
        <select id="course_categoryId" class="form-control width-input width-input-large" name="difficulty"  data-url="{{ path('course_set_manage_show_tasks',{courseSetId:activity.fromCourseSetId})}}" data-check-num-url="{{ path('course_set_manage_question_check_num',{courseSetId:activity.fromCourseSetId}) }}">
          {{ select_options(dict('difficulty'), exercise.metas.difficulty|default('0'),{'0':'course.plan_task.exercise.default_difficulty'|trans}) }}
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label class="control-label-required">{{'course.plan_task.exercise.question_type_range'|trans}}</label>
      </div>
      <div class="col-sm-10 controls">
        {% set questionRange = exercise.metas.questionTypes|default(null) %}
        {% set questionTypes = getQuestionTypes() %}
        {% set questionNums = find_question_num_by_course_set_id(activity.fromCourseSetId) %}
        {% for questionType,name in questionTypes %}
          {% set questionNum = questionNums[questionType]|default(null) %}
          <label class="checkbox-inline ml0 width-200 js-question-type">
            <input type="checkbox" class="questionTypes" name="questionTypes[]" value="{{ questionType }}" {% if questionType in questionRange %} checked=checked {% endif %}>{{ name }}
            （{{ 'course.plan_task.activity_manage.exercise.questionNum'|trans({'%questionType%':questionType, '%questionNum%':questionNum.questionNum|default(0)})|raw }}）

          </label>
        {% endfor %}
        <input type="hidden" name="checkQuestion" value="false" data-check-url="{{ path('course_manage_exercise_check',{courseId:course.id}) }}" />
        <p class="help-block mtl">{{'course.plan_task.exercise.question_type_range_tips'|trans}}</p>
      </div>
    </div>
    <input type="hidden" name="mediaType" value="exercise" />
    <input type="hidden" name="courseSetId" value="{{activity.fromCourseSetId}}" />
  </form>
</div>
{% endblock %}