{% extends "layout.html.twig" %}

{% block main %}
  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

  <form class="form-horizontal" id="init-form" method="post">

    <div class="form-group">
      <label for="sitename-field" class="col-sm-4 control-label">网站名称</label>
      <div class="controls col-sm-5">
        <input type="text" class="form-control" id="sitename-field" name="sitename" value="{{ request.sitename|default('EduSoho网络课堂') }}">
      </div>
    </div>

    <div class="form-group">
      <label for="admin-email-field" class="col-sm-4 control-label">管理员Email地址</label>
      <div class="controls col-sm-5">
        <input type="text" class="form-control" id="admin-email-field" name="admin[email]" value="{{ request.admin.email|default('') }}">
      </div>
    </div>

    <div class="form-group">
      <label for="admin-nickname-field" class="col-sm-4 control-label">管理员昵称</label>
      <div class="controls col-sm-5">
        <input type="text" class="form-control" id="admin-nickname-field" name="admin[nickname]" value="{{ request.admin.nickname|default('') }}">
      </div>
    </div>

    <div class="form-group">
      <label for="admin-password-field" class="col-sm-4 control-label">管理员密码</label>
      <div class="controls col-sm-5">
        <input type="text" class="form-control" id="admin-password-field" name="admin[password]" value="{{ request.admin.password|default('') }}">
      </div>
    </div>

    <div class="form-group">
      <label for="website-user-name" class="col-sm-4 control-label">网站所有人姓名 </label>
      <div class="controls col-sm-5">
        <input type="text" class="form-control" id="website-user-name" name="web[name]" value="">
      </div>
    </div>

    <div class="form-group">
      <label for="website-user-mobile" class="col-sm-4 control-label">手机号码 </label>
      <div class="controls col-sm-5">
        <input type="text" class="form-control" id="website-user-mobile" name="web[mobile]" value="">
      </div>
    </div>

    <div class="form-group">
      <label for="website-user-qq" class="col-sm-4 control-label">QQ号码</label>
      <div class="controls col-sm-5">
        <input type="text" class="form-control" id="website-user-qq" name="web[qq]" value="">
      </div>
    </div>


    <div class="actions">
      <button type="submit" id="init-btn" class="btn btn-primary btn-lg">初始化系统</button>
    </div>

  </form>
{% endblock %}

{% block bottom_scripts %}
<script>
  seajs.use(['jquery', 'bootstrap.validator', 'common/validator-rules','bootstrap'], function($, Validator, Rules){
    window.$ = $;
    Rules.inject(Validator);
    var $form = $("#init-form");

    var validator = new Validator({
        element: $form,
        onFormValidated: function(error, results, $form){
            if (error) {
                return false;
            }
            $('#init-btn').button('submiting').addClass('disabled');
        }
    });

    validator.addItem({
        element: '#sitename-field',
        required: true
    });

    validator.addItem({
        element: '#admin-email-field',
        required: true,
        rule: 'email'
    });

    validator.addItem({
        element: '#admin-nickname-field',
        required: true,
        rule: 'chinese_alphanumeric byte_minlength{min:4} byte_maxlength{max:14}'
    });

    validator.addItem({
        element: '#admin-password-field',
        required: true,
        rule: 'minlength{min:5} maxlength{max:20}'
    });

    validator.addItem({
        element: '#website-user-name',
        required: true,
        rule:'chinese minlength{min:2} maxlength{max:12}'
    });

    validator.addItem({
        element: '#website-user-mobile',
        required: true,
        rule: 'mobile'
    });

    validator.addItem({
        element: '#website-user-qq',
        rule: 'qq'
    });


  });
</script>
{% endblock %}