{% extends 'TopxiaWebBundle:CourseManage:layout.html.twig' %}

{% block title %}课时价格设置 - {{ parent() }}{% endblock %}

{% set side_nav = 'price' %}
{% set script_controller = 'customwebbundle/controller/courseManage/set-price' %}
{% block main %}

<div class="panel panel-default panel-col">
  <div class="panel-heading">课时价格设置
    <a class="btn btn-primary btn-sm pull-right" id="set-price">设置统一价格</a>
  </div>
  <div class="panel-body">
    <form  method="POST">
    <table class="table table-striped">
      <tr>
        <th width="50%">课时名</th>
        <th>XXX</th>
        <th>购买人数</th>
    </tr>
    {% if lessons %}
        {% for lesson in lessons %}
        <tr>
        <td>{{lesson.title}}</td>
        <td ><input  value="{{lesson.price}}" name="price[{{lesson.id}}]" type="text" class="price col-md-4"/></td>
        <td>111</td>
        </tr>
        {% endfor %}
    {% endif %}
    </table>
    <p class="text-info">注：课时泰课币默认设置为0，如果设置为0则不能购买</p>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    <button type="submit" class="btn btn-primary pull-right" >保存</button>
    </form>
  </div>
</div>


<div class="modal fade" id="price-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">设置课时统一价格</h4>
      </div>
      <div class="modal-body">
        <div class="row">
           <label for="exampleInputFile" class="col-md-2 col-md-offset-2">XXX</label>
            <input type="text"  name="set-price" class="col-md-4">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="sure">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>   
      </div>
    </div>
  </div>
</div>
{% endblock %}