{% import "TopxiaWebBundle::macro.html.twig" as web_macro %}

{% if lesson.type != 'live' %}
<h5>课时简介</h5>
<div class="lesson-about">
  {% if lesson.summary  %}
    {{ lesson.summary }}
  {% else %}
    此课时无简介。
  {% endif %}
</div>
{% endif %}

<h5>课时资料</h5>

{% if lesson.status == 'published' %}
  <ul class="media-list toolbar-pane-list">
  {% for lessonMaterial in lessonMaterials %}
    <li>
      {% if lessonMaterial.essayId != 0  %}
        <a class="btn-link" data-role="preview-item" data-url="{{ path('admin_essay_preview', {id:lessonMaterial.essayId}) }}" data-toggle="modal" data-target="#modal" data-toggle="tooltip" data-placement="bottom">
        {{ lessonMaterial.title}}</a>
      {% else %}
      <a class="btn btn-link preview-courseware-btn" data-url="{{ path('admin_article_material_preview',{categoryId:categoryId, id:lessonMaterial.essayMaterialId}) }}" data-toggle="modal" data-target="#modal" data-toggle="tooltip" data-placement="bottom" title="预览">{{ lessonMaterial.title}}</a>
      {% endif %}
    </li>
    {% else %}
      <li class="empty-item" style="text-align:left;margin-left:10px;">此课时无资料</li>
  {% endfor %}
  </ul>
{% else %}
  <div class="lesson-about">此课时尚未发布，不能下载课时资料</div>
{% endif %}