{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}私信 - {{ parent() }}{% endblock %}
{% set script_controller = 'message/show' %}
{% block content %}

<div class="row">
  <div class="col-lg-8 col-offset-2">
    <div class="panel panel-page">
      <div class="panel-heading">
        <a href="{{ path('message')}}" class="btn btn-default pull-right">返回我的私信</a>
        <h2>与{{ receiver.nickname }}的私信对话</h2>
      </div>

      <form id="message-reply-form" class="message-reply-form form-horizontal clearfix" method="post" 
      action="{{ path('message_conversation_show', {conversationId:conversation.id}) }}">
        <p>
          {{ form_widget(form.content, {attr:{rows:3, placeholder:'请输入私信内容'}}) }}
        </p>
        <p>
          {{ form_rest(form) }}
          <button id="course-reply-btn" class="btn btn-primary pull-right disabled">发送</button>
        </p>
      </form>

      <ul class="media-list message-list">
        {% for message in messages %}
          {% include 'TopxiaWebBundle:Message:message-item.html.twig' with {message:message} %}
        {% endfor %}
      </ul>

      {{ web_macro.paginator(paginator) }}

    </div><!-- /panel -->
  </div>
</div>


{% endblock %}