<li class="media">
    <div>
          {{ web_macro.user_avatar(message.createdUser, 'pull-left media-object') }}
          
    <div class="media-body">
            <h4 class="media-heading">
              {{ web_macro.user_link(message.createdUser) }}:
            </h4>
             {{ message.content}}
        <div class="text-muted clearfix">
<span class="pull-left">{{ message.createdTime|smart_time }}</span><br>
<a class="btn btn-mini btn-warning" id="delete-conversation" href="{{ path('message_delete',
{conversationId:conversation.id, messageId:message.id })}}">删除当前私信</a>
        </div>
    </div>

    </div>
</li>
