{% extends 'TopxiaWebBundle:Default:layout.html.twig' %}

{% set siteNav = 'course/explore' %}

{% block title %}{% if not category.id %}全部课程{% else %}{{ category.name }} 课程{% endif %} 第{{ app.request.get('page', 1)}}页- {{ parent() }}{% endblock %}

{% block keywords %}{% if category.id %}{{ category.name }}{% endif %} {{ setting('site.name') }}{% endblock %}
{% block description %}{% if category.id %}{{category.name}}的{% endif %}课程列表，第{{ app.request.get('page', 1)}}页。{% endblock %}

{% block content %}

    <!--二级页面路径导航开始-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 crumbs">
      <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">首页</a></li>
        <li><a href="{{ path('course_explore') }}">课程库</a></li>
        {% if category.id %}
        <li class="active">
            <span style="display: inline-block"> 
            {% if category.parentId == 0 %}
              <a href="{{ path('course_explore', {kind:kind,material:material,sort:sort }) }}">{{ category.name }}<i class="fa fa-times"></i> 
              </a>
              {% elseif  category.parentId != 0 %}
                <a href="{{ path('course_explore', {kind:kind,material:material,sort:sort,first:first,category:category.parentId }) }}">{{ category.name }}<i class="fa fa-times"></i> 
                </a>
              {% endif %}
            </span>
         
        </li>
		{% endif %}	
        {% if kind %}
        <li class="active">
        <span style="display: inline-block">
          <a href="{{ path('course_explore', {category:category.id,material:material,sort:sort,first:first }) }}">{{ kind }}
          <i class="fa fa-times"></i>
          </a>
        </span> </li>
		{% endif %}
        {% if material %}
      
      <li class="active">
        <span style="display: inline-block">
          <a href="{{ path('course_explore', {category:category.id,kind:kind,sort:sort,first:first }) }}">{{ material }}
            <i class="fa fa-times"></i>
          </a>
        </span>
      </li>
        
		{% endif %}
      </ol>
    </div>
    <!--二级页面路径导航结束-->
    <!--课程筛选开始-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nav-stacked">
      <ul class="list-inline">
        年级：
        {% for firstCat in firstCategories %}
		    {% if firstCat.parentId == 0 %}
        <li {% if firstCat.code == category.id or firstCat.id ==  first %}class="active" {% endif %}><a href="{{ path('course_explore', {category:firstCat.code|default(firstCat.id),kind:kind,material:material,first:firstCat.id,sort:sort }) }}">{{ firstCat.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
       {% if category.id %}
      <ul class="list-inline">
        学科：
       
        {% set secCategories = data('Categories',{ group:'course',parentId:first}) %}
		{% for secCat in secCategories %}
		<li {% if secCat.code == category.code %} class="active"{% endif %}><a href="{{ path('course_explore', {category:secCat.code|default(secCat.id),kind:kind,material:material,sort:sort,first:first }) }}">{{ secCat.name }}</a></li>
		{% endfor %}
      </ul>
        {% endif %} 
      <ul class="list-inline">
        类别：
        
        {% for perTag in tagKind %}
        <li {% if perTag.name == kind %}class="active"{% endif %}><a href="{{ path('course_explore', {category:category.code|default(category.id),kind:perTag.name,material:material,sort:sort,first:first }) }}">{{ perTag.name }}</a></li>
        {% endfor %}
      </ul>
      <ul class="list-inline">
        教材：
        {% for perTag in tagMaterial %}
        <li {% if perTag.name == material %}class="active"{% endif %}><a href="{{ path('course_explore', {category:category.code|default(category.id),material:perTag.name,kind:kind,sort:sort,first:first }) }}">{{ perTag.name }}</a></li>
        {% endfor %}
      </ul>

    </div>
    <!--课程筛选结束-->
    <!--课程排序列表开始-->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 es-course">
        <ul  class="nav nav-tabs" >
          <li {% if sort == 'latest' %}class="active"{% endif %} ><a href="{{ path('course_explore', {category:category.code|default(category.id),material:material,kind:kind, sort:'latest',first:first}) }}">最新</a></li>
          <li  {% if sort == 'popular' %}class="active"{% endif %} ><a href="{{ path('course_explore', {category:category.code|default(category.id),material:material,kind:kind, sort:'popular',first:first}) }}">热门</a></li>
          <li {% if sort == 'recommendedSeq' %}class="active"{% endif %} ><a href="{{ path('course_explore', {category:category.code|default(category.id),material:material,kind:kind,sort:'recommendedSeq',first:first}) }}">推荐</a></li>

        </ul>
        <div  class="tab-content">
          <div class="tab-pane fade active in">
           {% if courses %}
                   {{ render(controller('TopxiaWebBundle:Course:coursesBlock', {courses:courses, view: 'grid'})) }}
				   {{ web_macro.paginator(paginator) }} 
                {% else %}
        <div class="empty">该分类下无课程</div>
      {% endif %}
          </div>

        </div>
      </div>
    <!--课程排序列表结束-->



{% endblock %}