{% extends 'TopxiaAdminBundle:Course:layout.html.twig' %}

{% block title %}课程评价管理 - {{ parent() }}{% endblock %}

{% set script_controller = 'review/list' %}

{% set menu = 'review' %}

{% block main %}
  <div class="page-header clearfix">
    <h1>评价管理</h1>
  </div>

  <form id="review-search-form" class="form-inline well well-sm" action="" method="get" novalidate> 
    <div class="form-group">
      {{ form_widget(form.keywordType, {attr:{class:'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_widget(form.keyword, {attr:{class:'form-control',  placeholder:'关键词:标题或者内容'}}) }}
    </div>

    <div class="form-group">
      {{ form_widget(form.nickname, {attr:{class:'form-control', placeholder:'作者'}}) }}
    </div>

    <button class="btn btn-primary">搜索</button>

    {{ form_rest(form) }}
  </form>

  <div id="review-table-container">
    <table class="table table-striped" id="review-table">
      <thead>
        <tr>
          <th width="4%"><input type="checkbox"  data-role="batch-select"></th>
          <th width="60%">评价</th>
          <th width="20%">作者</th>
          <th width="16%">操作</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews %}
          {% set author = users[review.userId]|default(null) %}
          <tr class="review-tr" id="review-table-tr-{{review.id}}">
            <td><input type="checkbox" value="{{review.id}}" data-role="batch-item" name="review-item"></td>
            <td class="short-long-text">
              <div><a href="{{ path('course_show', {id:review.courseId}) }}" target="_blank">{{ courses[review.courseId].title }}：</a></div>
              <div class="short-text">
                {{ review.content }} <span class="text-muted trigger">(展开)</span>
              </div>
              <div class="long-text">{{ review.content|nl2br }} <span class="text-muted trigger">(收起)</span></div>
            </td>
            <td>
              {{ admin_macro.user_link(author) }}<br>
              <span class="text-muted">{{review.createdTime|date('Y-n-d H:i')}}</span>
            </td>
            <td>
              <button class="btn btn-default btn-sm">删除</button>

            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div>
      <label class="checkbox-inline"><input type="checkbox" data-role="batch-select"> 全选</label>
      <button class="btn btn-default btn-sm mlm" data-url="{{ path('admin_review_batch_delete') }}" data-role="batch-delete" data-name="评价">删除</button>
    </div>
  </div>

  {{ web_macro.paginator(paginator) }}

{% endblock %}
