<div class="form-group">
  <label class="col-md-2 control-label" for="img">{{'admin.reward_point_product.product_img'|trans}}：</label>
  <div class="col-md-4 controls">
    <div class="js-picture" >
      <img class="product-img img-responsive" src="{{ filepath(product.img|default(''), 'product.png') }}">
      <input id="img" name="img" value="{{ product.img|default('') }}" type="hidden">
    </div>
    <div class="help-block">{{'admin.reward_point_product.cover_message'|trans}}</div>
    <a class="btn btn-default"
       id="upload-picture-btn"
       data-upload-token="{{ upload_token('tmp','image') }}"
       data-goto-url="{{ path('admin_reward_point_product_cover') }}"
    >{{'admin.block_manage.visual_edit.upload_img'|trans}}</a>
  </div>
</div>
