<div class="course-item cd-mb40 clearfix">
  <a class="course-picture-link" href="{{ path('course_set_show', {id:courseSet.id}) }}">
    <img class="course-picture" src="{{ filepath(course_set_cover(courseSet, 'large'), 'courseSet.png') }}" >
  </a>
  <div class="course-info">
    <div class="title text-overflow">
      <a class="cd-link-gray-dark" href="{{ path('course_set_show', {id:courseSet.id}) }}">{{ courseSet.title }}</a>
    </div>

    {% if classroom|default(null) %}
      <div class="belong-classroom">
        <span >{{ 'course.block_grid.from_classroom'|trans }}<a class="cd-link-gray" href="{{ path('classroom_show', {'id':classroom.id}) }}">{{ classroom.title }}</a></span>
      </div>
    {% endif %}

    {% set percent = percent(courseSet.totalUserLearned, courseSet.totalTaskNum) %}
    <div class="learn-progress cd-mt24">
      <span>{{ 'course.members_manage.official_student.progress'|trans }}</span>
      <div class="cd-progress cd-progress-xs cd-progress-radius">
        <div class="progress-bar cd-progress-bar progress-bar-success" style="width: {{ percent }};"></div>
      </div>
      <span>{{ percent }}</span>
    </div>
  </div>

  {% if currentCourses|length > 1 %}
    <div class="course-btn-item dropdown">
      <a class="btn cd-btn cd-btn-primary cd-btn-lg course-btn dropdown-toggle" href="javascript:;" data-toggle="dropdown">{% if percent == "100%" %}{{ 'course.block_grid.view_course_btn'|trans }}{% else %}{{ 'course.block_grid.countinue_learn_btn'|trans }}{% endif %}</a>
      <ul class="dropdown-menu cd-dropdown-menu cd-dropdown-menu-right" role="menu">
        {% for course in currentCourses %}
          {% set member = members[course.id]|default(null) %}
          <li><a class="clearfix" href="{{ path('my_course_show', {id:course.id}) }}">{{ course.title|sub_text(10) }}<span class="pull-right">{{  member.learnedNum|default(0) }}&nbsp;<span class="cd-text-gray-light">/{{ course.compulsoryTaskNum }}</span></span></a></li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <div class="course-btn-item">
      <a class="btn cd-btn cd-btn-primary cd-btn-lg course-btn" href="{{ path('my_course_show', {id:currentCourses[0].id}) }}" >{% if percent == "100%" %}{{ 'course.block_grid.view_course_btn'|trans }}{% else %}{{ 'course.block_grid.countinue_learn_btn'|trans }}{% endif %}</a>
    </div>
  {% endif %}
</div>