<div class="cd-course-line cd-mb40 clearfix">
  <a class="pull-left" href="{{ path('course_set_show', {id:courseSet.id}) }}">
    <div class="cd-course-img">
      <img src="{{ filepath(course_set_cover(courseSet, 'large'), 'courseSet.png') }}" class="img-responsive thumb">
    </div>
  </a>
  <div class="pull-left cd-course-info">
    <div class="cd-course-title cd-mb24 text-overflow">
      <a class="cd-link-gray-dark" href="{{ path('course_set_show', {id:courseSet.id}) }}">{{ courseSet.title }}</a>
    </div>

   <div class="cd-belong-classroom">
    来自班级:
        {# {{ classroom.title|sub_text(10) }} #}
        厉害了我哦的歌
        {{ 'course.block_grid.equal'|trans }}

    </div>

   {#  {% if courseSet.classroomCount > 0 %}
      {% set classroom = courseSet.classroom %}
      <div class="course-label belong-classroom">
        {{ classroom.title|sub_text(10) }}
        {% if courseSet.classroomCount > 1 %}
          {{ 'course.block_grid.equal'|trans }}
        {% endif %}
      </div>
    {% endif %}
 #}
    <div class="cd-course-progress">
      <span>{{ 'course.members_manage.official_student.progress'|trans }}</span>
      <div class="cd-progress cd-progress-xs cd-progress-radius">
        <div class="progress-bar cd-progress-bar progress-bar-success" style="width: {{ percent(courseSet.totalUserLearned, courseSet.totalTaskNum) }};"></div>
      </div>
      <span>{{ percent(courseSet.totalUserLearned, courseSet.totalTaskNum) }}</span>
    </div>
  </div>

  <div class="pull-right course-btn-group dropdown">
    {% if currentCourses|length > 1 %}
      <a class="btn cd-btn cd-btn-primary cd-btn-lg course-btn" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">{{ 'course.block_grid.countinue_learn_btn'|trans }}</a>
      <ul class="dropdown-menu cd-dropdown-menu cd-dropdown-menu-right" role="menu">

        {% for course in currentCourses %}
          <li><a class="clearfix" href="{{ path('my_course_show', {id:course.id}) }}">{{ course.title|sub_text(10) }}<span class="pull-right">{{ course.memberLearnedNum }} /{{ course.compulsoryTaskNum }}</span></a></li>
        {% endfor %}
      </ul>
    {% else %}
      <a class="btn cd-btn cd-btn-primary cd-btn-lg" href="{{ path('my_course_show', {id:currentCourses[0].id}) }}" >{{ 'course.block_grid.countinue_learn_btn'|trans }}</a>
    {% endif %}
  </div>
</div>