{% extends 'my/learning/course/layout.html.twig' %}

{% block title %}{{ 'my.learning.course.learned'|trans }} - {{ parent() }}{% endblock %}

{% set tab_nav = 'learned' %}

{% block main %}
  <div class="cd-main ml0">
    <div class="cd-main__heading">
      <div class="cd-main__title">{{ 'my.learning.course'|trans }}</div>
    </div>
    <div class="cd-main__body">
      {% include 'my/learning/course/nav-pill.html.twig' %}

      {% for courseSet in courseSets if courseSet %}
        {% set currentCourses = courses[courseSet.id]|default(null) %}
        {% set classroom = courseSet['classroom']|default(null) %}

        {% if currentCourses %}
          {% include 'my/learning/course/courses-block-item.html.twig' %}
        {% endif %}
      {% else %}
        {% set transText = 'my.learning.course.' ~ type ~ '_empty' %}
        <div class="empty">{{ transText|trans }}</div>
      {% endfor %}
      {{ web_macro.paginator(paginator) }}
    </div>
  </div>
{% endblock %}