<ul class="subfield-list five-subfield" >
  <li>
    <div class="title">{{ 'admin.account_center.dashboard.this_week_cash_income'|trans }}</div>
    <span class="number">{{ weekTotalPrice.cashTotalPrice }}</span>
    <p>{{ 'admin.account_center.month'|trans }}: {{ monthTotalPrice.cashTotalPrice }}</p>
  </li>
  <li>
    <div class="title"><a class="link-primary">{{ 'admin.account_center.dashboard.this_week_coin_income'|trans }}</a></div>
    <span class="number">{{ weekTotalPrice.coinTotalPrice }}</span>
    <p>{{ 'admin.account_center.month'|trans }}: {{ monthTotalPrice.coinTotalPrice }}</p>
  </li>
  <li>
    <div class="title"><a class="link-primary">{{ 'admin.account_center.dashboard.this_week_course_income'|trans }}</a></div>
    <span class="number">{{ weekTotalPrice.courseTotalPrice }}</span>
    <p>{{ 'admin.account_center.month'|trans }}: {{ monthTotalPrice.courseTotalPrice }}</p>
  </li>
  <li>
    <div class="title"><a class="link-primary">{{ 'admin.account_center.dashboard.this_week_classroom_income'|trans }}</a></div>
    <span class="number">{{ weekTotalPrice.classroomTotalPrice }}</span>
    <p>{{ 'admin.account_center.month'|trans }}: {{ monthTotalPrice.classroomTotalPrice }}</p>
  </li>
  <li>
    <div class="title"><a class="link-primary">{{ 'admin.account_center.dashboard.this_week_vip_income'|trans }}</a></div>
    <span class="number">{{ weekTotalPrice.vipTotalPrice }}</span>
    <p>{{ 'admin.account_center.month'|trans }}: {{ monthTotalPrice.vipTotalPrice }}</p>
  </li>
</ul>