{% extends 'layout.html.twig' %}

{% block title %}{{'search.content_title'|trans}}{% if keywords %}{{ keywords }}{% else %}{{'search.all_courses'|trans}}{% endif %} - {{ parent() }}{% endblock %}
{% set bodyClass = 'bg-blank' %}

{% do script(['app/js/search/index.js']) %}

{% block top_content %}
  <div class="course-banner es-banner">
    <div class="container">
      <div class="title">
        <span>{{'search.content_title'|trans}}</span>{% if app.request.locale == 'zh_CN' %}SEARCH{% endif %}
      </div>
    </div>
  </div>
  <div class="with-error" data-type="{{ app.request.get('errorType') }}"></div>
{% endblock %}

{% block content %}
  {% include 'search/local-search-'~ type|lower ~'.html.twig' %}
{% endblock %}