{% if chapter.depth == 2 %}
{% set type = 'unit' %}
{% elseif chapter.depth == 1 %}
{% set type = 'chapter' %}
{% endif %}

<li id="chapter-{{chapter.id}}" class="task-manage-item drag js-task-manage-{{type}} task-manage-{{type}} clearfix">
  {% if type == 'unit' %}
    <div class="item-line"></div>
  {% endif %}
  <div class="item-content">
    <a class="js-toggle-show js-toggle-{{ type }} cd-link-assist" href="javascript:;">
      <i class="es-icon es-icon-keyboardarrowdown cd-mr16"></i></a>{{ chapter.name }}
  </div>
  <div class="item-actions">{% if chapter.isShowNum %}{{ chapter.question_num }}{% endif %}</div>
</li>

