{% extends 'TopxiaWebBundle:Settings:layout.html.twig' %}
{% block title %}支付密码 - 安全设置 - {{ parent() }}{% endblock %}
{% set script_controller = 'settings/find_pay_password_by_sms' %} 
{% set side_nav = 'security' %} 
{% set questionOptions = dict('secureQuestion') %} 
  
{% block main %} 
 {% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}
      安全设置
    {% endblock %}
    {% block body %}

      <ul class="breadcrumb">
        <li><a href="{{ path('settings_security') }}">安全设置</a></li>
        <li class="active">找回支付密码</li>
      </ul>

      {% set type = 'sms' %}
      {% include 'TopxiaWebBundle:Settings:questions-or-sms-tabs.html.twig' %}
      {# <br> #}


    {{ web_macro.flash_messages() }} 

    <form id="settings-find-pay-password-form" class="form-horizontal" method="post" >

        <div class="form-group row" style="display: none;"> 
	        <div  class="col-md-2 control-label"><label for="mobile">手机号码</label></div> 
	        <div class=" col-md-8 controls"> 
	        	<input type="text" id="mobile" name="mobile" class="form-control" data-role="mobile" value="{{verifiedMobile}}"> 
	        </div>           
        </div> 

        <div class="form-group row"> 
          <div  class="col-md-2 control-label"> <label>已绑定手机号</label></div>
          <div class="col-md-5 controls"> 
            <div class="col-md-5 control-text">
              {{blur_phone_number(verifiedMobile)}}
            </div>
            <a class="btn-link col-md-5 control-text" href="{{path('settings_bind_mobile')}}" target="_blank">修改手机号？</a>
          </div>
        </div>

        <div class="form-group row"> 
          <div  class="col-md-2 control-label"><label for="sms_code">短信验证码</label></div> 
          <div class="col-md-3  controls"> 
            <input type="text" id="sms-code" name="sms_code" class="form-control" value="" data-url="{{path('edu_cloud_sms_check',{type:'sms_forget_pay_password'})}}">
          </div>
          <div class="col-md-3">
              <span class="btn btn-default btn-sm js-sms-send" data-url="{{ path('edu_cloud_sms_send') }}">
                <span id="js-time-left"></span>
                <span id="js-fetch-btn-text">获取短信验证码{# 秒后重新获取 #}</span>
              </span>
          </div>
        </div>

    	<div class="form-group row"> 
        	<div class="col-md-4 col-md-offset-2  controls"> 
            	<button id="submit-btn" data-submiting-text="正在提交" type="submit" class="btn btn-primary">提交</button> 
        	</div> 
        </div> 

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    </form>   

{#       <div class="alert alert-info">
          <p>您已经绑定了手机&nbsp;{{blur_phone_number(verifiedMobile)}}</p>
      </div> #}

    {% endblock %}
  {% endembed %}
{% endblock %}