{% extends 'TopxiaWebBundle:Settings:layout.html.twig' %}

{% block title %}实名认证 - {{ parent() }}{% endblock %}
{% set side_nav = 'profile' %}
{% set script_controller = 'settings/nickname' %}

{% block main %}

{% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" with {class:'panel-col'} %}
		{% block heading %}昵称修改{% endblock %}
    	{% block body %}

	    	<form id="nickname-form" class="form-horizontal" method="post" enctype="multipart/form-data">

	        {{ web_macro.flash_messages() }}
	        		
		    <div class="form-group">
		      <div class="col-md-2 control-label"> 
		        <label for="nickname">昵称</label> 
		      </div>
		      <div class="col-md-8 controls">
		       <input data-url={{path ('update_nickname_check') }} type="text" id="nickname" name="nickname" class="form-control" value="{{app.user.nickname}}">
		      </div>
		    </div>

	        <div class="row">
	            <div class="col-md-7 col-md-offset-2">
	             <button type="submit" class="btn btn-primary">提交</button>
		    	 <a class="btn btn-link" href="{{ path('settings') }}">返回</a>
	            </div>
	        </div>

	           <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
	        </form>
        

	    {% endblock %}


{% endembed %}

{% endblock %}