{% extends 'TopxiaWebBundle:Settings:layout.html.twig' %}

{% block title %}密码修改 - {{ parent() }}{% endblock %}

{% set script_controller = 'settings/password' %}
{% set side_nav = 'password' %}

{% block main %}
  {% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}密码修改{% endblock %}
    {% block body %}
      <form id="settings-password-form" class="form-horizontal" method="post">

        {{ web_macro.flash_messages() }}
        
        <div class="form-group">
          <div class="col-md-2 control-label">{{ form_label(form.currentPassword, '当前密码') }}</div>
          <div class="controls col-md-8 controls">
            {{ form_widget(form.currentPassword, {attr:{class:'form-control'}}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label">{{ form_label(form.newPassword, '新密码') }}</div>
          <div class="controls col-md-8 controls">
            {{ form_widget(form.newPassword, {attr:{class:'form-control'}}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label">{{ form_label(form.confirmPassword, '确认密码') }}</div>
          <div class="controls col-md-8 controls">
            {{ form_widget(form.confirmPassword, {attr:{class:'form-control'}}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 control-label"></div>
          <div class="controls col-md-8 controls">
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">提交</button>
          </div>
        </div>

      </form>    
    {% endblock %}
  {% endembed %}
{% endblock %}