{% extends 'TopxiaWebBundle:Settings:layout.html.twig' %}

{% block title %}基础信息 - {{ parent() }}{% endblock %}

{% set script_controller = 'settings/profile' %}
{% set side_nav = 'profile' %}

{% block main %}

  {% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}基础信息{% endblock %}
    {% block body %}
      <form id="user-profile-form" class="form-horizontal" method="post">
        {{ web_macro.flash_messages() }}
        
          <div class="form-group">
            {{ form_label(form.truename, '姓名', {label_attr:{class:'col-md-2 control-label'}}) }}
            <div class="col-md-7 controls">{{ form_widget(form.truename, {attr:{class:'form-control'}}) }}</div>
          </div>

          <div class="form-group">
            <div class="col-md-2 control-label">{{ form_label(form.gender, '性别') }}</div>
            <div class="col-md-7 controls radios">{{ form_widget(form.gender) }}</div>
          </div>

          <div class="form-group">
            <div class="col-md-2 control-label"> {{ form_label(form.job, '职位') }} </div>
            <div class="col-md-7 controls"> {{ form_widget(form.job, {attr:{class:'form-control'}}) }} </div>
          </div>

           <div class="form-group">
            <div class="col-md-2 control-label"> {{ form_label(form.company, '公司') }} </div>
            <div class="col-md-7 controls"> {{ form_widget(form.company, {attr:{class:'form-control'}}) }} </div>
          </div>

          <div class="form-group">
            <div class="col-md-2 control-label"> {{ form_label(form.title, '头衔') }} </div>
            <div class="col-md-7 controls"> {{ form_widget(form.title, {attr:{class:'form-control'}}) }} </div>
          </div>

          <div class="form-group">
            <div class="col-md-2 control-label"> {{ form_label(form.signature, '个人签名') }} </div>
            <div class="col-md-7 controls"> {{ form_widget(form.signature, {attr:{class:'form-control'}}) }} </div>
          </div>          

          <div class="form-group">
            <div class="col-md-2 control-label"> {{ form_label(form.about, '自我介绍') }} </div>
            <div class="col-md-7 controls"> {{ form_widget(form.about, {attr:{class:'form-control'}}) }} </div>
          </div>

          <div class="form-group">
            <div class="col-md-2 control-label"> {{ form_label(form.site, '个人主页') }} </div>
            <div class="col-md-7 controls"> {{ form_widget(form.site, {attr:{class:'form-control'}}) }} </div>
          </div>  

          <div class="form-group">
            <div class="col-md-2 control-label"> {{ form_label(form.mobile, '手机') }} </div>
            <div class="col-md-7 controls"> {{ form_widget(form.mobile, {attr:{class:'form-control'}}) }} </div>
          </div>  

          <div class="form-group">
            <div class="col-md-2 control-label"> {{ form_label(form.weibo, '微博') }} </div>
            <div class="col-md-7 controls"> {{ form_widget(form.weibo, {attr:{class:'form-control'}}) }} </div>
          </div>

          <div class="form-group">
            <div class="col-md-2 control-label"> {{ form_label(form.weixin, '微信') }} </div>
            <div class="col-md-7 controls"> {{ form_widget(form.weixin, {attr:{class:'form-control'}}) }} </div>
          </div>         

          <div class="form-group">
            <div class="col-md-2 control-label"> {{ form_label(form.qq, 'QQ') }} </div>
            <div class="col-md-7 controls"> {{ form_widget(form.qq, {attr:{class:'form-control'}}) }} </div>
          </div>  
                           

          <div class="row">
            <div class="col-md-7 col-md-offset-2">
              {{ form_rest(form) }}
              <button type="submit" class="btn btn-primary">保存</button>
            </div>
          </div>

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

      </form>

    {% endblock %}
  {% endembed %}
{% endblock %}