{% extends 'TopxiaWebBundle:Settings:layout.html.twig' %}

{% set script_controller = 'settings/security' %} 
{% set side_nav = 'security' %} 

{% block main %} 
 {% embed "TopxiaWebBundle:Bootstrap:panel.html.twig" with {class:'panel-col'} %}
    {% block heading %}安全设置{% endblock %}
    {% block body %}

    	<div class="row">
    		<div class="col-md-1 col-md-offset-2">
    			{# <h2><span class="text-danger glyphicon glyphicon-exclamation-sign"></span></h2> #}
    			{# <img src="{{  asset('assets/img/order/alipay.gif')  }}"/> #}
    			<span class="glyphicon glyphicon-warning-sign text-danger" style="font-size:35px"></span>
    		</div>
			<div class="col-md-5 progress mtm" style=" padding-left: 0px; padding-right: 0px;">
			  <div class="progress-bar" role="progressbar"{#  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"  #}style="width: 60%;"></div>
			</div>
			<div class="col-md-4 mtm">
				安全等级：
			</div>
		</div>
		<hr>
	    
	    <form id="settings-password-form" class="form-horizontal" method="post" 
	    {% if not app.user.password %} style="display:none;"{% endif %}>

	    	{{ web_macro.flash_messages() }}
	        
			{#  <div class="form-group">
				<div class="col-md-2 control-label">{{ form_label(form.currentPassword, '当前密码') }}</div>
				<div class="controls col-md-8 controls">
	            	{{ form_widget(form.currentPassword, {attr:{class:'form-control'}}) }}
				</div>
				</div> #}
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
		</form>

    {% endblock %}
  {% endembed %}
{% endblock %}