{% set modalSize = 'large' %}
{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block title %}{{ 'admin.course_copy.title'|trans }}{% endblock %}
{% block body %}

    <form id="course-copy-form" class="form-horizontal">

        <div class="row form-group">
            <div class="col-md-3 control-label">
                <label for="course_title">{{'admin.course_copy.course_title_label'|trans}}</label>
            </div>
            <div class="col-md-8 controls">
                <input type="text" id="course_title" name="title" class="form-control"  value="{{courseSet.title}}">
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

    </form>
{% endblock %}

{% block footer %}
    <button id="js-course-clone-btn" data-web-url="{{ path('admin_v2_course_set_clone_by_web',{courseSetId: courseSet.id }) }}" data-crontab-url="{{ path('admin_v2_course_set_clone_by_crontab',{courseSetId: courseSet.id }) }}" data-submiting-text="{{'admin.course_copy.course_copying.btn'|trans}}" data-course-set-id="{{ courseSet.id }}" type="button" data-toggle="form-submit" data-target="#course-copy-form" class="btn btn-primary pull-right">{{'admin.course_copy.course_copy.btn'|trans}}</button>
    <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>
    <script>app.load('course-set/clone-detail.js');</script>
{% endblock %}
