<div class="modal in" id="functionModal" aria-hidden="true">
  <div class="modal-dialog cd-modal-dialog function-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="cd-icon cd-icon-close"></i>
        </button>
        <h4 class="modal-title">{{ 'admin_v2.quick_entrance_setting'|trans }}</h4>
      </div>
      <div class="modal-body js-function-body">
        <form id="quick-entrance-form" method="post" action="{{ path('admin_v2_quick_entrance') }}">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
          {% for typeEntrance in allQuickEntrances if typeEntrance.data is not empty %}
            <div class="entrance-section">
              <div class="entrance-section__title">{{ typeEntrance.title }}</div>
              <div class="{{ 'entrance-section__body js-entrance-list cd-pt16 row ' ~ typeEntrance.class }}">
                {% for entrance in typeEntrance.data %}
                  <div class="col-md-3">
                    <div class="text-center admin-function  js-function-choose {% if entrance.code in selectedEntranceCodes %}active{% endif %}" data-code="{{ entrance.code }}">
                      <div class="admin-function__tag"></div>
                      <div class="admin-function__icon"><i class="{{ 'es-icon es-icon-entry-' ~ entrance.icon }}"></i></div>
                      <div class="admin-function__name">{{ entrance.text }}</div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </form>
      </div>
      <div class="modal-footer clearfix">
        <div class="function-modal-tip">{{ 'admin_v2.quick_entrance_setting.tips'|trans }}</div>
        <a class="function-modal__link" data-dismiss="modal" href="javascript:;">{{ 'form.btn.cancel'|trans }}</a>
        <button type="button" class="btn function-modal__btn js-save-btn" data-loading-text="{{ 'form.btn.save.submiting'|trans }}">{{ 'form.btn.save'|trans }}</button>
      </div>
    </div>
  </div>
</div>