{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %} {{'支付中心'|trans}} - {{ parent() }}{% endblock %}
{% set script_controller = 'pay/success-redirect' %}

{% block content %}
<div class="order-pay">
  <div  class="es-section">
    <ul class="es-step es-step-3 clearfix">
      <li class="done"><span class="number"><i class="es-icon es-icon-done"></i></span>{{'订单确认'|trans}}</li>
      <li class="done"><span class="number"><i class="es-icon es-icon-done"></i></span>{{'订单支付'|trans}}</li>
      <li class="done"><span class="number"><i class="es-icon es-icon-done"></i></span>{{'订单完成'|trans}}</li>
    </ul>
    <div class="order-pay-body">
      <div class="order-pay-state">
        <i class="es-icon  es-icon-iccheckcircleblack24px"></i>
        <p class="js-turn" data-url='{{ goto }}'>{{'订单支付成功，将在 <span class="js-countdown">3</span> 秒后跳转</p>'|trans|raw}}
      </div>
    </div>
  </div>
</div>
{% endblock %}