{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %} {{'支付中心'|trans}} - {{ parent() }}{% endblock %}
{% set script_controller = 'pay/success-redirect' %}

{% block content %}
<div class="order-pay">
  <div class="order-nav hidden-xs clearfix ">
    <div>{{'确认订单'|trans}}<b></b></div>
    <div><span></span>{{'订单支付'|trans}}<b></b></div>
    <div class="on"><span></span>{{'订单完成'|trans}}</div>
  </div>
  <div  class="es-section">
    <div class="section-header">
      <h1>{{'订单完成'|trans}}</h1>
    </div>
    <div class="order-pay-body">
      <div class="order-pay-state">
        <i class="es-icon  es-icon-iccheckcircleblack24px"></i>
        <p class="js-turn" data-url= {{ goto }}>{{'订单支付成功，将在'|trans}} <span class="js-countdown">3</span> {{'秒后跳转'|trans}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}