{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %} 支付中心 - {{ parent() }}{% endblock %}


{% block content %}
<div class="container order-pay">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 ptl">
      <div class="panel panel-default panel-page">
        <div class="panel-heading"><h4>支付中心</h4></div>
        <div class="panel-body">
          <form method="post" action="{{path('pay_center_pay')}}">
            <input type="hidden" name="orderId" value="{{order.id}}"/>
            
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
            
          	<div class="form-group">
              <div class="col-md-3 control-label col-md-offset-2">选择支付方式</div>
              <div class="col-md-7 controls">
              {% for payment, options in payments %}
              <input type="radio"  role="payTypeChoices" name="payTypeChoices" id="zhiFuBao" value="zhiFuBao" checked="checked"/>
              <img src="{{ asset('assets/img/order/alipay.gif') }}" /></br></br>
              {% endfor %}
              </div>
            </div>
            <div class="form-group pay">
              <div class="col-md-offset-10 controls">
                <button class="btn btn-fat btn-primary" id="course-create-btn" type="submit">支付</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}