{% import 'macro.html.twig' as web_macro %}

<div class="row">
  <div class="material-common-table">
    <table class="table table-striped">
      <thead>
        <tr class="cd-dark-major cd-text-medium">
          <th width="8%"><input type="checkbox" data-role="batch-select" class="cd-mr8">全选</th>
          <th width="25%">文件名称</th>
          <th>类型</th>
          <th>大小</th>
          <th>上传时间</th>
          <th width="25%">转码状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      
      {% for uploadFile in files %}
        <tr>
          <td class="vertical-middle">
            <input class="" value="{{uploadFile.id}}" type="checkbox"  data-link-count="{{ uploadFile.usedCount }}" data-file-name="{{ uploadFile.filename }}">
          </td>
          <td class="cd-dark-major vertical-middle">
            {% if uploadFile.storage == 'local' or (uploadFile.storage == 'cloud' and uploadFile.type in ['video', 'ppt', 'document'] and uploadFile.convertStatus != "success") %}
              <img class="img-responsive pull-left cd-mr8" width="100px" src="{{ asset(uploadFile.thumbnail|default('assets/img/default/cloud_' ~ uploadFile.type ~ '.png')) }}">
            {% else %}
              <img class="img-responsive pull-left cd-mr8" width="100px" src="{{ asset(uploadFile.thumbnail|default('assets/img/default/cloud_' ~ uploadFile.type ~ '.png')) }}">
            {% endif %}

            <div class="material-table-info">
              <p class="title text-overflow" data-toggle="tooltip" data-placement="top" title="{{uploadFile.filename}}">
              {# 修改为本地文件添加图标作为识别的标志，暂时使用这个图标 #}
              {% if uploadFile.storage != 'cloud' %}
                本地<i class="es-icon es-icon-home"></i>
              {% endif %}
                
                {{ uploadFile.filename }}
              </p>
              <p class="status-parent">
                {% if uploadFile.usedCount|default(0) == 0 %}
                  <span class="cd-tag">{{'material_lib.upload_file.not_used'|trans}}</span>
                {% endif %}
              </p>
            </div>
          </td>
          <td class="cd-dark-major vertical-middle">
            {{ dict_text('fileType', uploadFile.type) }}
            {% if uploadFile.type in ['video', 'audio'] and uploadFile.storage == 'cloud' %}
              <div class="cd-mt8"><span class="cd-tag cd-tag-blue">已生成MP4</span></div>
            {% endif %}
          </td>
          <td class="cd-dark-major vertical-middle">
            <div>{{ uploadFile.fileSize|file_size }}</div>
            {% if uploadFile.type in ['video', 'audio'] and uploadFile.storage == 'cloud' %}
              {{ uploadFile.length|activity_length_format }}
            {% endif %}
          </td>
          <td class="cd-dark-major vertical-middle">{{ uploadFile.createdTime|date('Y-m-d H:i') }}</td>
          <td class="vertical-middle">
            <div class="clearfix">
              <span class="cd-tag cd-tag-blue cd-mr8 pull-left">超清</span>
              <div class="cd-progress cd-progress-success material-progress">
                <div class="progress-bar ">
                  <div class="progress-outer">
                    <div class="progress-inner" style="width: 50%;"></div> 
                  </div>
                </div>
                <div class="progress-text">50%</div>
              </div>
            </div>
            <div class="clearfix">
              <span class="cd-tag pull-left cd-mr8">高清</span>
              <div class="cd-progress cd-progress-success material-progress">
                <div class="progress-bar">
                  <div class="progress-outer">
                    <div class="progress-inner" style="width: 0;"></div> 
                  </div>
                </div>
                <div class="progress-text">0%</div>
              </div>
            </div>
            <div class="clearfix">
              <span class="cd-tag cd-mr8 pull-left">标清</span>
               <span class="cd-text-danger cd-text-sm">{{'material_lib.upload_file.convert_status.error'|trans}}</span>
            {# {% if uploadFile.storage == 'cloud' and uploadFile.type in ['video', 'ppt', 'document'] %} #}
              {# {% if uploadFile.convertStatus == 'error' %} #}
                {# <span class="cd-text-danger">{{'material_lib.upload_file.convert_status.error'|trans}}</span> #}
              {# {% elseif uploadFile.convertStatus in ['doing','waiting'] %} #}
              {# {% endif %} #}
            {# {% endif %} #}

            {# <div class=""><span class="cd-text-success">转码成功</span></div> #}
          </td>
          <td class="vertical-middle">
            <div class="btn-group">
              <button type="button" class="cd-btn btn cd-btn-primary btn-group--left">编辑</button>
              <button type="button" class="cd-btn cd-btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {# <span class="caret"></span> #}
                <i class="cd-icon cd-icon-arrow-down cd-text-sm"></i>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu btn-group__menu text-center">
                <li><a href="#">下载</a></li>
                <li><a href="#">删除</a></li>
                <li><a href="#">收藏</a></li>
                <li><a href="#">字幕管理</a></li>
              </ul>
            </div>
          </td>
        </tr>
        {# {% include 'material-lib/web/widget/thumb-item.html.twig' with {uploadFile:uploadFile} %} #}
      {% else %}
        <div class="empty">{{'material_lib.upload_file.empty'|trans}}</div>
      {% endfor %}

      </tbody>
    </table>
  </div>
</div>

{{ web_macro.ajax_paginator(paginator) }}

