{% extends 'testpaper/subject/type/question-edit-layout.html.twig' %}

{% block subject %}
  <div class="cd-mb24">
    <label class="col-sm-1 ph0 control-label cd-text-sm text-left">{{ 'course.testpaper_manage.import.re_edit.answer'|trans }}：</label>
    <div class="col-sm-11 ph0">
      <input class="form-control cd-dark-major text-sm" type="text" value="{{ question_html_filter(question.answer|default('')) }}" data-role="edit">
      <textarea class="form-control" style="height:190px;display: none;" id="question-answer-field" data-image-upload-url="{{ path('editor_upload', {token:upload_token('course')}) }}"  data-image-download-url="{{ path('editor_download', {token:upload_token('course')}) }}" data-edit="answer" name="answer">{{ question.answer|default('') }}</textarea>
    </div>
  </div>
{% endblock %}