<div class="subject-item subject-edit-item" id="{{ seq }}">
  <form class="form-horizontal js-edit-form" data-url="{{ path('subject_show_template', {type: type}) }}">
    <div class="row">
      <div class="col-sm-8 js-choose-item">
        <div class="subject-edit-item__order js-edit-form-seq">{{ seq }}</div>
        <input type="hidden" name="token" value="{{ token|default('') }}" class="js-hidden-token">
        <input type="hidden" name="isSub" value="{{ isSub }}" class="js-sub-judge">
        <input type="hidden" name="method" value="{{ method }}" class="js-hidden-method">
        <div class="cd-ml24">
          <input type="text" class="form-control" value="{{ question.stem|default('') }}" data-role="edit" style="display: none;">
          <textarea class="form-control" style="height:190px;" id="question-stem-field" data-image-upload-url="{{ path('editor_upload', {token:upload_token('course')}) }}" data-image-download-url="{{ path('editor_download', {token:upload_token('course')}) }}" data-edit="stem" name="stem">{{ question.stem|default('') }}</textarea>
        </div>
        <div class="cd-ml24">
          {% include 'testpaper/subject/attachment.html.twig' with { target: 'stem', btnTitle:'上传题干附件', attachment: question.attachments.stem|default([]) } %}
        </div>
        <div class="cd-ml24 cd-mt24">
          {% block subject %}
          {% endblock %}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group edit-form-group cd-mb24">
          <label class="col-sm-2 control-label ph0 edit-form-group__label">难度</label>
          <div class="col-sm-10 cd-radio-group">
            <label class="cd-radio mtm {% if question.difficulty|default('normal') == 'simple' %}checked{% endif %}"><input type="radio" name="difficulty" value="simple" data-toggle="cd-radio" {% if question.difficulty|default('normal') == 'simple' %}checked{% endif %}>{{  'course.question_manage.manage.easy_difficulty'|trans}}</label>
            <label class="cd-radio mtm cd-ml16 {% if question.difficulty|default('normal') == 'normal' %}checked{% endif %}"><input type="radio" name="difficulty" value="normal" data-toggle="cd-radio" {% if question.difficulty|default('normal') == 'normal' %}checked{% endif %}>{{ 'course.question_manage.manage.normal_difficulty'|trans }}</label>
            <label class="cd-radio mtm cd-ml16 {% if question.difficulty|default('normal') == 'difficulty' %}checked{% endif %}"><input type="radio" name="difficulty" value="difficulty" data-toggle="cd-radio" {% if question.difficulty|default('normal') == 'difficulty' %}checked{% endif %}>{{ 'course.question_manage.manage.hard_difficulty'|trans }}</label>
          </div>
        </div>
        {% if type != 'material' %}
          <div class="form-group edit-form-group cd-mb24">
            <label class="col-sm-2 control-label ph0 edit-form-group__label">分值</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" data-edit="score" name="score" value="{{ question.score|default('') }}">
            </div>
          </div>
        {% endif %}
        {% block miss_score %}{% endblock %}
        {% if type != 'material' %}
          <div class="form-group edit-form-group">
            <label class="col-sm-2 control-label ph0 edit-form-group__label">解析</label>
            <div class="col-sm-10">
              <div class="cd-dark-major pts js-analysis-content">{{ question_html_filter(question.analysis|default('')) }}</div>
              <input type="hidden" data-edit="analysis" name="analysis" value="{{ question.analysis|default('') }}">
              <a class="color-primary cd-mt24 edit-form-group__operate js-analysis-edit" href="javascript:;"><i class="es-icon es-icon-exam text-md mrs"></i>编辑解析</a>
              {% include 'testpaper/subject/attachment.html.twig' with { target: 'analysis', btnTitle:'上传解析附件', attachment: question.attachments.analysis|default([]) } %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    {% block change %}
      {% include 'testpaper/subject/type/change-subject.html.twig' with { type: type|default('') } %}
    {% endblock %}
    <input type="hidden" name="type" data-edit="type" value="{{ type|default('') }}">
    <div class="text-center"><button class="cd-btn cd-btn-primary cd-mt24 cd-mb8 subject-button js-finish-edit" type="button">完成编辑</button></div>
  </form>
</div>
