{% extends 'testpaper/subject/type/question-edit-layout.html.twig' %}

{% set type = 'single_choice' %}

{% block subject %}
  <div class="edit-subject-item cd-mb24 cd-mt24 form-group">
    <label class="cd-radio col-sm-1 cd-mt8 mlm">
      <input type="radio" data-toggle="cd-radio" name="right" value="option1"><span class="cd-dark-major edit-subject-item__order">A. </span>
    </label>
    <div class="col-sm-6 pl0">
      <input class="form-control edit-subject-item__input js-item-stem-option-edit" type="text" value="全部账户的借方余额">
      <textarea class="form-control hidden" style="height:190px;" id="question-option-1-field"
                data-image-upload-url="{{ path('editor_upload', {token:upload_token('course')}) }}"
                data-image-download-url="{{ path('editor_download', {token:upload_token('course')}) }}">请简要谈谈你对在线教育的看法。</textarea>
      <a class="edit-subject-item__delete cd-link-assist js-item-option-delete" href="javascript:;"><i class="es-icon es-icon-shanchu"></i></a>
    </div>
  </div>
  <div class="edit-subject-item cd-mb24 form-group">
      <label class="cd-radio col-sm-1 cd-mt8 mlm">
        <input type="radio" data-toggle="cd-radio" name="right" value="option2"><span class="cd-dark-major edit-subject-item__order">B. </span>
      </label>
      <div class="col-sm-6 pl0">
        <input class="form-control edit-subject-item__input js-item-stem-option-edit" type="text" value="全部账户的借方余额">
        <textarea class="form-control hidden" style="height:190px;" id="question-option-2-field"
                  data-image-upload-url="{{ path('editor_upload', {token:upload_token('course')}) }}"
                  data-image-download-url="{{ path('editor_download', {token:upload_token('course')}) }}">全部账户的借方余额</textarea>
        <a class="edit-subject-item__delete cd-link-assist js-item-option-delete" href="javascript:;"><i class="es-icon es-icon-shanchu"></i></a>
      </div>
  </div>
  <div class="edit-subject-item cd-mb24 form-group">
    <label class="cd-radio col-sm-1 cd-mt8 mlm">
      <input type="radio" data-toggle="cd-radio" name="right" value="option3"><span class="cd-dark-major edit-subject-item__order">C. </span>
    </label>
    <div class="col-sm-6 pl0">
      <input class="form-control edit-subject-item__input js-item-stem-option-edit" type="text" value="全部账户的借方余额">
      <textarea class="form-control hidden" style="height:190px;" id="question-option-3-field"
                data-image-upload-url="{{ path('editor_upload', {token:upload_token('course')}) }}"
                data-image-download-url="{{ path('editor_download', {token:upload_token('course')}) }}">全部账户的借方余额</textarea>
      <a class="edit-subject-item__delete cd-link-assist js-item-option-delete" href="javascript:;"><i class="es-icon es-icon-shanchu"></i></a>
    </div>
  </div>
  <div class="edit-subject-item cd-mb24 form-group">
    <label class="cd-radio col-sm-1 cd-mt8 mlm">
      <input type="radio" data-toggle="cd-radio" name="right" value="option4"><span class="cd-dark-major edit-subject-item__order">D. </span>
    </label>
    <div class="col-sm-6 pl0">
      <input class="form-control edit-subject-item__input js-item-stem-option-edit" type="text" value="全部账户的借方余额">
      <textarea class="form-control hidden" style="height:190px;" id="question-option-4-field"
                data-image-upload-url="{{ path('editor_upload', {token:upload_token('course')}) }}"
                data-image-download-url="{{ path('editor_download', {token:upload_token('course')}) }}">全部账户的借方余额</textarea>
      <a class="edit-subject-item__delete cd-link-assist js-item-option-delete" href="javascript:;"><i class="es-icon es-icon-shanchu"></i></a>
    </div>
  </div>
  <div class="color-primary cd-mv24"><a class="cd-link-primary js-item-option-add" href="javascript:;"><i class="es-icon es-icon-tianjia text-md"></i><span class="text-md mls">添加选项</span></a></div>
{% endblock %}