{% extends 'TopxiaAdminBundle:OpenCourseAnalysis:layout.html.twig' %}
{% set nav = 'referer' %}	
{% block analysis_content %}
  {% set tab = 'list' %}
  {% include 'TopxiaAdminBundle:OpenCourseAnalysis/Referer:summary-tab.html.twig' with { tab: tab } %}
  <table class="table table-hover" style="word-break:break-all;">
    <thead>
      <tr>
        <th width="60%">公开课名称</th>
        <th width="20%">访问数</th>
        <th width="20%">详情</th>
      </tr>
    </thead>
    <tbody>
      {% for refererLog in refererlogDatas %}
        {% set orderCount = refererLog.orderCount|default(0) %}
        {% set hitNum = refererLog.hitNum|default(0) %}
        {% if refererLog.orderCount is null %}
          {% set orderCount = 0 %}
        {% endif %}
        {% if refererLog.hitNum is null %}
          {% set hitNum = 0 %}
        {% endif %}

        {% set openCourse = openCourses[refererLog.targetId]|default(null) %}
        <tr {% if not openCourse %}style="text-decoration:line-through"{% endif %}>
          <th scope="row">
            {% if openCourse %}
              <a href="{{ path('open_course_show', {courseId:openCourse.id}) }}" target="_blank"><strong>{{ openCourse.title }}</strong></a>
              {% if openCourse.type == 'live' or openCourse.type == 'liveOpen' %}
                <span class="label label-success live-label mls">{{ '直播'|trans }}</span>
              {% endif %}
            {% else %}
              该课程已删除
            {% endif %}
          </th>
          <th>
            {{ hitNum }} 次
          </th>
          <th>
            {% if openCourse %}
              <a href="javascript:;" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal"
               data-url="{{ path('admin_opencourse_analysis_referer_detail',{id:refererLog.targetId, startTime:dateRange.startTime,endTime:dateRange.endTime}) }}">详情</a>
            {% endif %}
          </th>
        </tr>
      {% else %}
        <tr>
          <td colspan="20">
            <div class="empty">暂无记录</div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <span>注：列表结果中，不会包含没有访问过的课程</span>
    {{ web_macro.paginator(paginator) }}
{% endblock %}