{% extends 'TopxiaAdminBundle:OpenCourseAnalysis:layout.html.twig' %}
{% set nav = 'referer' %}	
{% block analysis_content %}
	 <div class="">
	 	{% include 'TopxiaAdminBundle:OpenCourseAnalysis/Referer:summary-tab.html.twig' %}

		<div >
			<table class="table table-hover">
				<thead>
					<tr>
						<th width="40%">课程名称</th>
						<th>访问数</th>
						<th>购买转化数</th>
						<th>购买转化率</th>
					</tr>
				</thead>
				<tbody>
					{% for refererLog in refererlogDatas %}
						{% set orderCount = refererLog.orderCount|default(0) %}
						{% set hitNum = refererLog.hitNum|default(0) %}
						{% if refererLog.orderCount is null %}
						  {% set orderCount = 0 %}
						{% endif %}
						{% if refererLog.hitNum is null %}
						  {% set hitNum = 0 %}
						{% endif %}

						<tr>
							<th scope="row">{{openCourses[refererLog.targetId].title }}</th>
							<th>
								{{ hitNum }} 次
								<a href="javascript:;" data-toggle="modal" data-target="#modal" data-url="{{path('admin_opencourse_analysis_referer_detail',{id:refererLog.targetId, startTime:dateRange.startTime,endTime:dateRange.endTime})}}">来源和转化详情</a>
							</th>
							<th>{{ orderCount }} 次</th>
							<th>
								{% if refererLog and orderCount and hitNum %}{{ (orderCount / hitNum * 100)|number_format(2,'.') }} {% else %} 0 {% endif %} %
							</th>
						</tr>
						{% else %} 
						  <tr><td colspan="20"><div class="empty">暂无记录</div></td></tr>
       				{% endfor %}
				</tbody>
			</table>
		</div>
		{{web_macro.paginator(paginator)}}
	</div>
{% endblock %}