{% extends 'TopxiaAdminBundle:OpenCourseAnalysis:layout.html.twig' %}

{% set nav = 'watch' %}

{% block form %}
  <form id="refererlog-search-form" class="form-inline well well-sm" action="" method="get" novalidate="">
    <div class="form-group ">
      <label for="startDate">起始日期</label>
      <input class="form-control" type="text" id="startTime" name="startTime" value="{{dateRange.startTime}}" placeholder="起始时间">
      <label for="endDate">截止日期</label>
      <input class="form-control" type="text" id="endTime" name="endTime" value="{{dateRange.endTime}}" placeholder="结束时间">
    </div>
    <button class="btn btn-default btn-data-range {% if app.request.query.get('date-range','week') ==  'day'%}active {% endif %}"type="button" id="btn-yesterday-range" data-type= "day" data-start="{{dateRange.yesterdayStart}}" data-end="{{dateRange.yesterdayEnd}}">昨天</button>
    <button class="btn btn-default btn-data-range {% if app.request.query.get('date-range','week') ==  'week'%}active {% endif %}" type="button" id="btn-lastWeek-range" data-type= "week"  data-start="{{dateRange.lastWeekStart}}" data-end="{{dateRange.lastWeekEnd}}">最近七天</button>
    <button class="btn btn-default btn-data-range {% if app.request.query.get('date-range','week') ==  'month'%}active {% endif %}" type="button" id="btn-lastMonth-range" data-type= "month"  data-start="{{dateRange.lastMonthStart}}" data-end="{{dateRange.lastMonthEnd}}">最近30天</button>
    <input name="date-range" type="hidden">
    <input name="type" type="hidden" value="{{ app.request.get('type') }}">
    <button class="btn btn-primary" type="submit">搜索</button>
  </form>
{% endblock %}

{% block analysis_content %}
  <div>
    <a href="javascript:;" class="btn btn-default js-watch-type {% if app.request.query.get('type', '') == '' %}active{% endif %}" role="button">全部</a>
    <a href="javascript:;" class="btn btn-default js-watch-type {% if app.request.query.get('type', '') == 'open' %}active{% endif %}" role="button" data-value="open">录播</a>
    <a href="javascript:;" class="btn btn-default js-watch-type {% if app.request.query.get('type', '') == 'liveOpen' %}active{% endif %}" role="button" data-value="liveOpen">直播</a>
  </div>
  <div id="line-charts" data-charts-data="{{ watchData }}" style="width: 800px; height: 600px;"></div>

  <div class="well">
      <div class="row">
        <div class="col-md-4">
          <span class="prs" style="display: table-cell;vertical-align: middle;">公开课总数: </span>
          <span style="font-size:24px;display: table-cell;vertical-align: middle;">{{ totalOpenCourseNum }}</span>
        </div>
        <div class="col-md-4">
          <span class="prs" style="display: table-cell;vertical-align: middle;">总访问量: </span>
          <span style="font-size:24px;display: table-cell;vertical-align: middle;">{{ totalWatchNum }}</span>
        </div>
        <div class="col-md-4">
          <span class="prs" style="display: table-cell;vertical-align: middle;">日均观看次数: </span>
          <span style="font-size:24px;display: table-cell;vertical-align: middle;">{{ averageWatchNum }}</span>
        </div>
      </div>
  </div>
{% endblock %}

{% do load_script('open-course-analysis/watch') %}
