{% extends 'TopxiaWebBundle:Class:layout.html.twig' %}

{% set classNav = 'courses' %}

{% block class_main %}
<div class="row">
  {% if courses %}
  {% for course in courses%}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail course-thumbnail">
      <a href="{{ path('course_show',{id:course.id}) }}"><img  alt="{{ course.title }}" src="{{ file_path(course.middlePicture, 'course-large.png') }}"></a>
      <div class="caption">
        <a href="{{ path('course_show',{id:course.id}) }}"><h3 class="title">{{ course.title }}</h3></a>
        <div class="metas clearfix">
          <a href="#" class="pull-left">{{ course.teachername[0]}}</a>
          <span class="pull-right">{{ course.lessonCount}}个课时</span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <span class="empty">该班级暂无课程，快去增加课程吧！</span>
  {% endif %}
</div>
{% endblock %}