{% extends 'TopxiaWebBundle:Class:layout.html.twig' %}

{% set classNav = 'courses' %}

{% block class_main %}
<div class="row">
  {% if courses %}
  {% for course in courses%}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="{{ path('course_show',{id:course.id}) }}"><img  alt="{{ course.title }}" src="{{ file_path(course.middlePicture, 'course-large.png') }}" style="height: 200px; width: 120%; display: block;"></a>
      <div class="caption">
        <a href="{{ path('course_show',{id:course.id}) }}"><h3 class="text-primary">{{ course.title }}</h3></a>
        <span>{{ course.teachername[0]}}</span>
        <span class="pull-right">{{ course.lessonCount}}个课时</span>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <span class="empty">该班级暂无课程，快去增加课程吧！</span>
  {% endif %}
</div>
{% endblock %}