{% extends 'TopxiaWebBundle:Class:layout.html.twig' %}
{% set script_controller = 'class-member/member' %}
{% block class_main %}
	<div class="col-md-12"><h5>任课老师</h5><hr/></div>
	<div class="col-md-12">
		{% for teacher in teachers %}
			<div class="col-md-6 member-teacher">
				{% set teacherProfile = teacherProfiles[teacher.id]|default(null) %}
				<a href="{{ path('user_show', {id:teacher.id}) }}">
					<img class="media-object pull-left" width="48" height="48" src="{{file_path(teacher.smallAvatar, 'avatar.png')}}" alt="{{teacher.truename}}">
				</a>
				{% if app.user.id!=teacher.id %}
					<button class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#modal" data-url="{{path('message_create', {toId:teacher.id})}}">发私信</button>
				{% endif %}
				<a href="{{ path('user_show', {id:teacher.id}) }}">
					<h5>{{teacher.truename}}</h5>
				</a>
			</div>
		{% else %}
			<p class="text-center empty">尚无任课老师</p>
		{% endfor %}
	</div>
	<div class="col-md-12"><h5>学生</h5><hr/></div>
	<div class="col-md-12">
		{% for student in students %}
			<div class="col-md-1">
				<a href="{{ path('user_show', {id:student.id}) }}">
					<img class="media-object pull-left" width="48" height="48" src="{{file_path(student.smallAvatar, 'avatar.png')}}" title="{{student.truename}}" alt="{{student.truename}}">
				</a>
			</div>
		{% else %}
			<p class="text-center empty">尚无学生</p>
		{% endfor %}
	</div>
{% endblock %}