{% extends 'TopxiaWebBundle:Class:layout.html.twig' %}
{% set script_controller = 'class-member/member' %}
{% block class_main %}

  <div class="panel-block">
    <div class="row panel-block-heading">
      <div class="col-xs-12">
        <h3>老师们</h3>
      </div>
    </div>

    <div class="row panel-block-body class-student-grids">
      <div class="col-md-6">
        <div class="student-status-img pull-left">
          <a href="{{ path('user_show', {id:headTeacher.id}) }}" class="pull-left">
            <img class="avatar {% if not loginSessions[headTeacher.id]|default('') %}img-grey{% endif %}" width="48" height="48" src="{{file_path(headTeacher.smallAvatar, 'avatar.png')}}" alt="{{headTeacher.truename}}">
          </a>
        </div>



          <div class="member-name">
            <a href="{{ path('user_show', {id:headTeacher.id}) }}" class="truename pull-left">{{headTeacher.truename}}（班主任）</a></br>
            {% if app.user.id!=headTeacher.id %}
              <div class="send-message">
                <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#modal" data-url="{{path('message_create', {toId:headTeacher.id})}}">发私信</button>
              </div>
            {% endif %}
          </div>
      </div>


      {% for teacher in teachers %}
        {% if teacher['id']!=headTeacher.id %}
          <div class="col-md-6">
            <div class="student-status-img pull-left">
              <a href="{{ path('user_show', {id:teacher.id}) }}" class="pull-left">
                <img class="avatar {% if not loginSessions[teacher.id]|default('') %}img-grey{% endif %}" width="48" height="48" src="{{file_path(teacher.smallAvatar, 'avatar.png')}}" alt="{{teacher.truename}}">
              </a>
            </div>

            <div class="member-name">
              <a href="{{ path('user_show', {id:teacher.id}) }}" class="truename pull-left">{{teacher.truename}}</a><br>

              {% if app.user.id!=teacher.id %}
                <div class="send-message">
                  <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#modal" data-url="{{path('message_create', {toId:teacher.id})}}">发私信</button>
                </div>
              {% endif %}
            </div>

          </div>
        {% endif %}
      {% else %}
        <div class="empty">尚无任课老师</div>
      {% endfor %}    
    </div>
  </div>

  <div class="panel-block">
    <div class="row panel-block-heading">
      <div class="col-xs-12">
        <h3>同学们</h3>
      </div>
    </div>

    <div class="row panel-block-body class-student-grids">
      {% for student in students %}
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 grid ">
          <div class="student-status-img pull-left">
            <a href="{{ path('user_show', {id:student.id}) }}">
              <img class="avatar {% if not loginSessions[student.id]|default('') %}img-grey{% endif %}" width="48" height="48" src="{{ file_path(student.smallAvatar, 'avatar.png') }}" alt="{{student.truename}}">
            </a>
          </div>

          <div class="member-name">
            <a href="{{ path('user_show', {id:student.id}) }}" class="truename pull-left">{{student.truename}}</a><br>
            
            <div class="login-status">
              {% if loginSessions[student.id]|default('') %}
                <span class="label label-success">在线</button>
              {% else %}
                <span class="label label-default">离线</button>
              {% endif %}
            </div>
          </div>

          <div class="student-card-content">
            <div class="media">
              <a href="{{ path('user_show', {id:student.id}) }}" class="pull-left">
                <img class="media-object pull-left {% if not loginSessions[student.id]|default('') %}img-grey{% endif %}" src="{{ file_path(student.smallAvatar, 'avatar.png') }}">
              </a>

              <div class="media-body">
                <spann class="text-success">{{student.truename}} </spann>
                <span class="text-muted"> ({{ student.number }})</span></br>

                {% if setting('point').show|default(1)%}
                  {{ setting('point', '学分').name|default('学分') }}：<span class="text-danger">{{student.point}}</span>
                {% endif %}
                
                <div style="padding-right:15px" class="actions clearfix">
                  {% if app.user.id != student.id %}
                    <button class="btn btn-xs btn-success pull-right" data-toggle="modal" data-target="#modal" data-url="{{path('message_create', {toId:student.id})}}">发私信</button>
                  {% endif %}
                </div>
              </div>
              {% if app.user.isTeacher() %}
                {% if relations[student.id]|default('') %}
                  <div style="color:#f6f6f6;"><hr></div>
                {% endif %}
                <div style="margin-top:10px" class="list-group">
                  {% for relation in relations[student.id]|default('') %}
                    {% set parent=parents[relation.fromId]|default('') %}
                    {% if parent %}
                      <a style="border:none;" class="list-group-item">
                        <div class="pull-right">
                          {% if app.user.id != parent.id %}
                            <button class="btn btn-xs btn-success pull-right" data-toggle="modal" data-target="#modal" data-url="{{path('message_create', {toId:parent.id})}}">发私信</button>
                          {% endif %}
                        </div>
                        <div class="parent-name">
                          <small class="text-muted">
                            {{ dict_text('family', relation.relation)}}
                          </small>
                          {{parent.truename}}
                        </div>
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div> 
        </div>
      {% else %}
        <div class="empty">尚无学生</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}