{% extends 'bootstrap-modal-layout.html.twig' %}

{% do script(['libs/jquery-validation.js', 'app/js/admin-v2/operating/group/recommend-modal/index.js']) %}

{% set modalSize = 'large' %}

{% block title %}{{ 'admin.operation_group.recommend.modal_title'|trans }}{% endblock %}
{% block body %}

  <form id="group-recommend-form" class="form-horizontal" method="post" action="{{ path('admin_v2_group_recommend', {id: group.id, ref: ref}) }}">

    <div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="number">{{ 'admin.course_manage.recommend.set_seq.seq_label'|trans }}</label>
      </div>
      <div class="col-md-7 controls">
        <input type="text" id="number" name="number" class="form-control" value="" data-widget-cid="widget-1" data-explain="{{ 'admin.course_manage.recommend.set_seq.seq_tips'|trans }}">
        <div class="help-block">{{ 'admin.course_manage.recommend.set_seq.seq_tips'|trans }}</div>
      </div>
    </div>

  </form>
{% endblock %}

{% block footer %}
  <button id="group-recommend-btn" data-submiting-text="{{ 'form.btn.submit.submiting'|trans }}" class="btn btn-primary pull-right">{{ 'form.btn.save'|trans }}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{ 'form.btn.cancel'|trans }}</button>
{% endblock %}