<img src="http://open.edusoho.com/files/product/{{ app.icon }}" class="app-img pull-left mrl mtm"/>
<div class="mtm">

  <h4>
    <a target="_blank" href="http://open.edusoho.com/app/{{ app.id }}">
      <strong class="text-primary">{{ app.name }}</strong>
      {% if app.licensed %}
        <span class="label label-success mls">{{ 'admin.app_center.business_edition'|trans }}</span>
      {% endif %}
    </a>
  </h4>

</div>

<div class="info mtm mbm clearfix">
  <div class="left-info pull-left">

    <div class="text-muted">{{ 'admin.app_center.author'|trans }}： {{ app.developerName }}</div>
    <div class="mts text-muted">{% if app.type == "theme" %}{{ 'admin.app_center.type.theme'|trans }}{% else %}{{ 'admin.app_center.type.app'|trans }}{% endif %}
    </div>
  </div>

  <div class="middle-info pull-left short-long-text">
    <div class="short-text text-muted">{{ app.description|plain_text(80) }} <span
          class="trigger">({{ 'admin.app_center.description_open'|trans }})</span></div>
    <div class="long-text text-muted">{{ app.description|raw }} <span class="trigger">({{ 'admin.app_center.description_close'|trans }})</span></div>
  </div>
