{% if member or app.user.isSuperAdmin()|default('') %}
  {% set lessonUrl = path('course_learn', {id:course.id}) ~ '#lesson/' ~ item.id %}
{% else %}
  {% set lessonUrl = previewUrl ~ '?lessonId=' ~ item.id %}
{% endif %}
<li class="period lesson-item lesson-item-{{ item.id }}" data-id="{{ item.id }}" data-num="{{ loop.index }}">
  {% if item.status == 'published' %}
    {% 
    if ( app.user and app.user.isLogin() and setting('course.buy_fill_userinfo') == 0)
    and 
    (
      (setting('coin.coin_enabled') == 1 and setting('coin.price_type') == 'Coin' and course.coinPrice == 0) 
      or (setting('coin.price_type') == 'RMB' and course.price == 0)
    ) 
    and ( not course.approval or (course.approval and app.user.approvalStatus == 'approved'))
    %}
        <a href="{{ lessonUrl }}" >
          {% include 'TopxiaWebBundle:CourseLesson/Part:status-ball.html.twig' %}
          <span class="title">课时{{ item.number }}：{{ item.title }}</span>
          {% include 'TopxiaWebBundle:CourseLesson/Part:micro-tips.html.twig' %}
        </a>
    {% else %}
      <a {% if member and not member.locked|default(0) or app.user.isSuperAdmin()|default('') %}href="{{ lessonUrl }}"{% elseif not member.locked|default(0) %}href="#modal" data-toggle="modal" data-url="{{ lessonUrl }}"{% endif %}>
        {% include 'TopxiaWebBundle:CourseLesson/Part:status-ball.html.twig' %}
        <span class="title">课时{{ item.number }}：{{ item.title }}</span>
        {% include 'TopxiaWebBundle:CourseLesson/Part:micro-tips.html.twig' %}
      </a>
    {% endif %}
  {% else %}
    {% include 'TopxiaWebBundle:CourseLesson/Part:status-ball.html.twig' %}
    <span class="title">课时{{ item.number }}：{{ item.title }}</span>
    {% include 'TopxiaWebBundle:CourseLesson/Part:micro-tips.html.twig' %}
  {% endif %}

</li>