<!-- 紧跟标题 -->
{% if item.id in homeworkLessonIds|default(null) %}
  <span data-toggle="tooltip" data-placement="top" title="" data-original-title="{{'作业'|trans}}"><i class="es-icon es-icon-mylibrarybooks mls"></i></span>
{% endif %}

{% if item.id in exercisesLessonIds|default(null) %}
  <span data-toggle="tooltip" data-placement="top" title="" data-original-title="{{'练习'|trans}}"><i class="es-icon es-icon-exam mls color-gray mls"></i></span>
{% endif %}

{% if item.materialNum > 0 %}
  <span data-toggle="tooltip" data-placement="top" title="" data-original-title="{{'资料'|trans}}"><i class="glyphicon glyphicon-paperclip mls"></i></span>
{% endif %}

{% if app.user and setting('magic.lesson_watch_limit') and course.watchLimit > 0 and item.type == 'video' and not fromPlugin|default(false) %}
  {% set remainTime = (course.watchLimit * item.length) - lessonLearns[item.id].watchTime|default(0) %}
  {% if remainTime > 0 %}
    <small class="text text-info">{{'还剩'|trans}} {{ remainTime|duration_text }}</small>
  {% else %}
    <small class="text text-info">{{'已达最大可看时长'|trans}}</small>
  {% endif %}
{% endif %}


<!-- 右边图标 -->
{% if item.status == 'published' %}
  {% if item.type == 'video' %}
    <span class="date" title="{{'视频时长'|trans}}{{ item.length|duration }}">{{ item.length|duration }}</span>
    <span class="course-type">
      <i class="es-icon es-icon-videoclass" data-toggle="tooltip" data-placement="top" title="{{'视频课程'|trans}}"></i>
    </span>
  {% endif %}

  {% if item.type == 'audio' %}
    <span class="date" title="{{'音频时长'|trans}}{{ item.length|duration }}">{{ item.length|duration }}</span>
    <span class="course-type">
      <i class="es-icon es-icon-audioclass" data-toggle="tooltip" data-placement="top" title="{{'音频课程'|trans}}"></i>
    </span>
  {% endif %}

  {% if item.type == 'text' %}
    <span class="course-type">
      <i class="es-icon es-icon-graphicclass" data-toggle="tooltip" data-placement="top" title="{{'图文课程'|trans}}" data-original-title="{{'图文'|trans}}"></i>
    </span>
  {% endif %}

  {% if item.type == 'testpaper' %}
    
    {% if item.testStartTime|default(null) and item.testMode == 'realTime' and testpapers[item.mediaId]|default(null) %}
      {% set endTime = (testpapers[item.mediaId].limitedTime * 60) + item.testStartTime %}
      <span class="color-gray course-type ">
        {% if date().timestamp < item.testStartTime %}
            {{'考试倒计时'|trans}}:<span class="color-primary pls">{{item.testStartTime|remain_time}}</span>
        {% else %}
          {% if date().timestamp < endTime %}
              {{'考试已开始'|trans}}
          {% else %}
              {{'考试已结束'|trans}}
          {% endif %}
      {% endif %}
      </span>
    {% else %}
      <span class="course-type">
        <i class="es-icon es-icon-check" data-toggle="tooltip" data-placement="top" title="{{'试卷'|trans}}" data-original-title="{{'试卷'|trans}}"></i>
      </span>
    {% endif %}
  {% endif %}

  {% if item.type == 'ppt' %}
    <span class="course-type">
      <i class="es-icon es-icon-pptclass" data-toggle="tooltip" data-placement="top" title="{{'PPT课程'|trans}}"></i>
    </span>
  {% endif %}

  {% if item.type == 'document' %}
    <span class="course-type">
      <i class="es-icon es-icon-description" data-toggle="tooltip" data-placement="top" title="{{'文档课程'|trans}}" data-original-title="文档"></i>
    </span>
  {% endif %}

  {% if item.type == 'flash' %}
    <span class="course-type">
      <i class="es-icon es-icon-flashclass" data-toggle="tooltip" data-placement="top" title="{{'flash课程'|trans}}"></i>
    </span>
  {% endif %}

  {% if item.type == 'live' %}

    <span class="course-type">
      <i class="es-icon es-icon-videocam" data-toggle="tooltip" data-placement="top" title="{{'直播课程'|trans}}"></i>
      {% if item.startTime > currentTime %}
        <small class="type">{{ item.startTime|date('m月d日') }}
          {# {% for key,week in weeks %}
            {% if key == item.startTime|date('w')  %}
              星期{{ week }}
            {% endif %}
            {% endfor %}  先隐藏星期#}
          {{ item.startTime|date('H：i') }}
        </small>
      {% elseif item.startTime <= currentTime and item.endTime >= currentTime %}
        <small class="type">{{'正在直播中'|trans}}</small>
      {% elseif item.endTime < currentTime %}

        <small class="type">
          {% if item.replayStatus in ['generated','videoGenerated'] %}
            {{'回放'|trans}}
          {% else %}
            {{'直播结束'|trans}}
          {% endif %}
        </small>

      {% endif %}
    </span>
  {% endif %}

{% else %}
  <span class="period-state">{{'敬请期待'|trans}}</span>
{% endif %}
