<!-- 紧跟标题 -->
{% if item.materialNum > 0 %}
  <i class="es-icon es-icon-filedownload" title="资料"></i>
{% endif %}

{% if item.homeworkId or item.exerciseId %}
  <i class="es-icon es-icon-description" title="作业、练习"></i>
{% endif %}

{% if item.free %}
  <span class="label label-warning">免费</span>
{% endif %}


<!-- 右边图标 -->
{% if item.status == 'published' %}
  {% if item.type == 'video' %}
    <span class="date" title="视频时长{{ item.length|duration }}">{{ item.length|duration }}</span>
    <i class="course-type es-icon es-icon-videoclass" data-toggle="tooltip" data-placement="top" title="视频课程"></i>
  {% endif %}

  {% if item.type == 'audio' %}
    <span class="date" title="音频时长{{ item.length|duration }}">{{ item.length|duration }}</span>
    <i class="course-type es-icon es-icon-audioclass" data-toggle="tooltip" data-placement="top" title="音频课程"></i>
  {% endif %}

  {% if item.type == 'text' %}
    <i class="course-type es-icon es-icon-graphicclass" data-toggle="tooltip" data-placement="top" title="图文课程" data-original-title="图文"></i>
  {% endif %}
  
  {% if item.type == 'testpaper' %}
    <i class="course-type es-icon es-icon-check" data-toggle="tooltip" data-placement="top" title="试卷" data-original-title="试卷"></i>
  {% endif %}

  {% if item.type == 'ppt' %}
    <i class="course-type es-icon es-icon-pptclass" data-toggle="tooltip" data-placement="top" title="PPT课程"></i>
  {% endif %}

  {% if item.type == 'document' %}
    <i class="course-type es-icon es-icon-description" data-toggle="tooltip" data-placement="top" title="文档课程" data-original-title="文档"></i>
  {% endif %}

  {% if item.type == 'flash' %}
    <i class="course-type es-icon es-icon-flashclass" data-toggle="tooltip" data-placement="top" title="flash课程"></i>
  {% endif %}

  {% if item.type == 'live' %}
    
    <span class="type">&nbsp;<i class="fa fa-video-camera"></i></span>
      {% if item.startTime > currentTime %}
    <small class="type">{{ item.startTime|date('m月d日') }} 
      {# {% for key,week in weeks %}
        {% if key == item.startTime|date('w')  %}
          星期{{ week }}
        {% endif %}
        {% endfor %}  先隐藏星期#}
      {{ item.startTime|date('H：i') }}
    </small>
  {% elseif item.startTime <= currentTime and item.endTime >= currentTime %}
    <small class="type">正在直播中</small>
  {% elseif item.endTime < currentTime %}

    <small class="type" >
        {% if item.replayStatus == 'generated' %}
        <span class="type">回放</span>
        <span class="glyphicon 
        glyphicon-play-circle"></span>
        {% else %}
        <span class="type">直播结束</span>
        {% endif %}
      </small>
    
  {% endif %}
  {% endif %}

{% else %}
  <span class="period-state">未发布</span>
{% endif %}
