<div class="testpaper-card" data-spy="affix" data-offset-top="200">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if paper.limitedTime != 0 %}
                {# <span class="{{ paperCard.isPreview|default('') }} testpaper-card-timer" id="time_show" data-time="{% if paperResult.usedTime|default(0) == 0 %}{{ paperCard.limitTime }}{% else %}{{ paperCard.limitTime - paperResult.usedTime }}{% endif %}">00:00</span> #}
                
                <button id="pause" class="btn btn-sm btn-default" data-toggle="modal" data-backdrop="static" data-target="#modal" data-url="{{ path('course_manage_do_test_pause') }}">暂停</button>
            {% else %}
              <span class="testpaper-card-timer"><small class="text-muted" style="font-size:14px;">时间不限</small></span>
            {% endif %}
            <button class="btn btn-sm btn-default pull-right" id="suspend" {% if id is defined %}data-url="{{ path('course_manage_do_test_suspend', {id:id}) }}" {% endif %} data-goto="{{ path('my_quiz') }}">下次再做</button>
        </div>
        <div class="panel-body">

            {% for part in paper.metas.parts %}

                {% for questionItem in questionItemSet[part.id] %}
                    {% if questionItem.item.questionType != 'material' %}
                        <a href="javascript:;" data-anchor="#question{{ questionItem.item.questionId }}" class="btn btn-default btn-index pull-left {% if questionItem.result|default(null) %}active{% endif %}">{{ questionItem.item.seq }}</a>
                    {% else %}
                        {% for subItem in questionItem.subItems|default([]) %}
                            <a href="javascript:;" data-anchor="#question{{ subItem.item.questionId }}" class="btn btn-default btn-index pull-left {% if subItem.result|default(null) %}active{% endif %}">{{ subItem.item.seq }}</a>
                        {% endfor %}
                    {% endif %}
                    
                {% endfor %}

                <div class="clearfix mtm mbm"></div>

            {% endfor %}

        </div>
        <div class="panel-footer">
            {% if status == 'previewing' %}
                <button class="btn btn-success btn-block">我要交卷</button>
            {% else %}
                <button class="btn btn-success btn-block do-test" id="finishPaper" data-ajax="{{ path('course_manage_submit_advanced_test', { id: id }) }}" data-url="{{ path('course_manage_finish_advanced_test', { id: id }) }}" data-goto="{{ path('course_manage_test_results', { id: id }) }}">我要交卷</button>
            {% endif %}
        </div>
    </div>
  </div>

<div class="testpaper-finished-dialog-layout">
    <div id="testpaper-finished-dialog" class="modal in" aria-hidden="false" style="display: none;">
        <div class="modal-dialog modal-dialog-small">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">确认交卷</h4>
            </div>
            <div class="modal-body">
              <h4 class="text-primary">您真的要交卷吗？</h4>
            </div>
            <div class="modal-footer">
              <a href="javascript:;" class="btn btn-link" data-dismiss="modal">取消</a>
              <button class="btn btn-primary" id="testpaper-finish-btn" data-saving-text="正在交卷, 请稍等...">确认交卷</button>
            </div>
          </div>
        </div>
    </div>
</div>