{% extends 'admin/layout.html.twig' %}

{% set menu = 'admin_cloud_video_overview' %}
{% block tabs %}{% endblock %}

{% block main %}

  <div class="panel panel-default notice-panel">
    <div class="panel-body">
      <i class="es-icon es-icon-infooutline text-primary"></i>
      <div class="text-md mbl">{{'admin.edu_cloud.edu_video.no_enable'|trans}}</div>
      <form class="form-horizontal" role="form" method="post" action="{{ path('admin_cloud_video_switch') }}">
        <button type="submit" class="btn btn-primary btn-lg notice-btn" name="upload_mode" value="cloud">{{'admin.edu_cloud.edu_video.enable'|trans}}</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
      </form>
    </div>
    <div class="edu-cloud-video-intro">
      {{'admin.edu_cloud.edu_video.enable_tips'|trans({'%url%': path('admin_cloud_video')})|raw}}
    </div>
  </div>
{% endblock %}