<div class="material-common-table">
  <table class="table table-striped">
    <thead>
      <tr class="cd-dark-major cd-text-medium">
        <th width="8%"><input type="checkbox" data-role="batch-select" class="cd-mr8">{{ 'form.checkbox.batch_select'|trans }}</th>
        <th width="25%">{{ 'material.common_table.th.file_name'|trans }}</th>
        <th>{{ 'material.common_table.th.file_type'|trans }}</th>
        <th>{{ 'material.common_table.th.file_size'|trans }}</th>
        <th>{{ 'material.common_table.th.upload_time'|trans }}</th>
        <th width="25%">{{ 'material.common_table.th.transcode_status'|trans }}</th>
        <th>{{ 'material.common_table.th.manage'|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for uploadFile in files %}
      <tr>
        <td class="vertical-middle">
          <input class="" value="{{uploadFile.id}}" type="checkbox"  data-link-count="{{ uploadFile.usedCount }}" data-file-name="{{ uploadFile.filename }}">
        </td>
        <td class="cd-dark-major vertical-middle">
          <img class="img-responsive pull-left cd-mr8" width="100px" src="{{ asset(uploadFile.thumbnail|default('assets/img/default/cloud_' ~ uploadFile.type ~ '.png')) }}">

          <div class="material-table-info">
            <p class="title text-overflow" data-toggle="tooltip" data-placement="top" title="{{uploadFile.filename}}">
              {# 修改为本地文件添加图标作为识别的标志，暂时使用这个图标 #}
              {% if uploadFile.storage != 'cloud' %}
                {{ 'material.common_table.file.local'|trans }}<i class="es-icon es-icon-home"></i>
              {% endif %}
              {{ uploadFile.filename }}
            </p>
            <p class="status-parent">
              {% if uploadFile.usedCount|default(0) == 0 %}
                <span class="cd-tag">{{'material_lib.upload_file.not_used'|trans}}</span>
              {% endif %}
            </p>
          </div>
        </td>
        <td class="cd-dark-major vertical-middle">
          {{ dict_text('fileType', uploadFile.type) }}
          {% if uploadFile.type in ['video', 'audio'] and uploadFile.storage == 'cloud' %}
            <div class="cd-mt8"><span class="cd-tag cd-tag-blue">已生成MP4</span></div>
          {% endif %}
        </td>
        <td class="cd-dark-major vertical-middle">
          <div>{{ uploadFile.fileSize|file_size }}</div>
          {% if uploadFile.type in ['video', 'audio'] and uploadFile.storage == 'cloud' %}
            {{ uploadFile.length|activity_length_format }}
          {% else %}
            {{ uploadFile.ext|upper }}
          {% endif %}
        </td>
        <td class="cd-dark-major vertical-middle">{{ uploadFile.createdTime|date('Y-m-d H:i') }}</td>
        {# 静态的效果 #}
        <td class="vertical-middle">
          {% if uploadFile.storage == "cloud" %}
            {% if uploadFile.type == 'video' %}
              {% for transcodingQuality, status in uploadFile.transcodingStatus %}
              <div class="clearfix">
                <span class="cd-tag cd-tag-blue cd-mr8 pull-left">{{ ('material.common_table.quality.' ~ transcodingQuality)|trans }}</span>
                {% if status.status == 'ok' %}
                  <span class="cd-text-success">{{ 'material.common_table.transcode_success'|trans }}</span>
                {% elseif status.status == 'error'%}
                  <span class="cd-text-danger">{{ 'material.common_table.transcode_error'|trans }}</span>
                {% else %}
                  <div class="cd-progress cd-progress-success material-progress">
                    <div class="progress-bar">
                      <div class="progress-outer">
                        <div class="progress-inner" style="width: {{ status.process }}%;"></div>
                      </div>
                    </div>
                    <div class="progress-text">{{ status.process }}%</div>
                  </div>
                {% endif %}
              </div>
              {% endfor %}
            {% elseif uploadFile.type in ['ppt', 'document'] %}
              {% if uploadFile.convertStatus == 'error' %}
                <span class="cd-text-danger">{{ 'material.common_table.transcode_error'|trans }}</span>
              {% elseif uploadFile.convertStatus in ['doing','waiting'] %}
                <span class="cd-text-success">{{ 'material.common_table.transcode_success'|trans }}</span>
              {% endif %}
            {% endif %}
          {% endif %}
        </td>
        <td class="vertical-middle">
          <div class="btn-group">
            <button type="button" class="cd-btn btn cd-btn-primary btn-group--left" href="{{ path('material_lib_file_detail', {fileId:uploadFile.id}) }}">{{'material_lib.btn.edit'|trans}}</button>
            <button type="button" class="cd-btn cd-btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="cd-icon cd-icon-arrow-down cd-text-sm"></i>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu btn-group__menu text-center">
              <li><a target="_blank"href="{{ path('material_download', {fileId:uploadFile.id}) }}">{{'material_lib.btn.download'|trans}}</a></li>
              <li><a href="{{ path('material_delete_modal_show') }}">{{'material_lib.btn.delete'|trans}}</a></li>
              <li><a href="{{ path('material_lib_save_collection', {fileId:uploadFile.id}) }}">{{'material_lib.btn.collect'|trans}}</a></li>
              <li><a target="_blank" href="{{ path('media_subtitle_manage', {mediaId:uploadFile.id, goto:path('material_lib_browsing')}) }}">{{'material_lib.btn.subtitle_manage'|trans}}</a></li>
            </ul>
          </div>
        </td>
      </tr>
    {% else %}
      <div class="empty">{{'material_lib.upload_file.empty'|trans}}</div>
    {% endfor %}
    </tbody>
  </table>
</div>
