<div class="row">
  <div class="material-btn-group cd-mb8">
    <button class="cd-btn cd-btn-primary js-upload-file-btn cd-mr32" data-toggle="modal" data-backdrop="static"  data-target="#modal"
      data-url="{{ path('uploader_batch_upload', {token:uploaderToken }) }}" title="{{'material_lib.btn.upload_files'|trans}}"  type="button" data-placement="bottom" >{{'material_lib.btn.upload_files'|trans}}
    </button>
    {# 批量下载功能？？？ #}
    {# <a class="cd-btn cd-btn-primary cd-mr32">下载资料 #}
    {# </a> #}
    <button class="cd-btn cd-btn-primary cd-mr32 js-batch-tag-btn" disabled type="button" data-role="batch-tag">{{'material_lib.btn.add_tag'|trans}}
    </button>
    {% if type|default('') != 'courseFile' %}
      <button class="cd-btn cd-btn-primary cd-mr32 js-batch-share-btn" disabled type="button" data-role="batch-share" data-url="{{ path('material_batch_share') }}">共享资料
      </button>
    {% endif %}
    {# 删除资料 #}

    <button class="cd-btn cd-btn-danger js-batch-delete-btn"  disabled type="button" data-role="batch-delete" data-url="{{ path }}">删除资料
    </button>
  </div>
</div>