<div class="material-common-table table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class="cd-dark-major cd-text-medium">
        <th width="8%"><input type="checkbox" data-role="batch-select" class="{% if size|default('') == 'sm'%} mrs {% else %}
        cd-mr8 {% endif %}">{{ 'form.checkbox.batch_select'|trans }}</th>
        <th width="{% if size|default('') == 'sm' %}22% {% else %}25%{% endif %}">{{ 'material.common_table.th.file_name'|trans }}</th>
        <th>{{ 'material.common_table.th.file_type'|trans }}</th>
        <th>{{ 'material.common_table.th.file_size'|trans }}</th>
        <th {% if size|default('') == 'sm' %}width="11%"{% endif %}>{{ 'material.common_table.th.upload_time'|trans }}</th>
        <th width="25%">{{ 'material.common_table.th.transcode_status'|trans }}</th>
        <th>{{ 'material.common_table.th.manage'|trans }}</th>
      </tr>
    </thead>
    <tbody>
    {% for uploadFile in files %}
      <tr>
        <td class="vertical-middle">
          <input class="" value="{{uploadFile.id}}" type="checkbox"  data-link-count="{{ uploadFile.usedCount }}" data-file-name="{{ uploadFile.filename }}">
        </td>
        <td class="cd-dark-major vertical-middle">
          <img class="img-responsive pull-left cd-mr8" width="100px" src="{{ asset(uploadFile.thumbnail|default('assets/img/default/cloud_' ~ uploadFile.type ~ '.png')) }}">

          <div class="material-table-info">
            <p class="title text-overflow" data-toggle="tooltip" data-placement="top" title="{{uploadFile.filename}}">
              {# 修改为本地文件添加图标作为识别的标志，暂时使用这个图标 #}
              {% if uploadFile.storage != 'cloud' %}
                {{ 'material.common_table.file.local'|trans }}<i class="es-icon es-icon-home"></i>
              {% endif %}
              {{ uploadFile.filename }}
            </p>
            <p class="status-parent">
              {% if type|default('') == 'courseFile' %}
               {% if (uploadFile.targetType == 'coursematerial' and uploadFile.usedCount <= 1) or (uploadFile.targetType != 'coursematerial' and uploadFile.usedCount < 1) %}
                  <span class="cd-tag">{{'course.course_files.use_status.unused'|trans}}</span>
                {% endif %}
              {% elseif type|default('') == 'openCourseFile' %}
                {% set fileQuotes = filesQuote[uploadFile.id]|default(null) %}
                {% if fileQuotes is empty %}
                  <span class="cd-tag">{{'course.course_files.use_status.unused'|trans}}</span> 
                {% endif %}
              {% else %}
                {% if uploadFile.usedCount|default(0) == 0 %}
                  <span class="cd-tag">{{'material_lib.upload_file.not_used'|trans}}</span>
                {% endif %}
              {% endif %}
            </p>
          </div>
        </td>
        <td class="cd-dark-major vertical-middle">
          {{ dict_text('fileType', uploadFile.type) }}
          {% if uploadFile.type in ['video', 'audio'] and uploadFile.storage == 'cloud' %}
            <div class="cd-mt8"><span class="cd-tag cd-tag-blue">已生成MP4</span></div>
          {% endif %}
        </td>
        <td class="cd-dark-major vertical-middle">
          <div>{{ uploadFile.fileSize|file_size }}</div>
          {% if uploadFile.type in ['video', 'audio'] and uploadFile.storage == 'cloud' %}
            {{ uploadFile.length|activity_length_format }}
          {% endif %}
        </td>
        <td class="cd-dark-major vertical-middle">{{ uploadFile.createdTime|date('Y-m-d H:i:s') }}</td>

        <td class="vertical-middle">
          {% if uploadFile.storage == "cloud" %}
            {% if uploadFile.type == 'video' %}
              {% if uploadFile.transcodingStatus|default(false) %}
                {% for transcodingQuality, status in uploadFile.transcodingStatus %}
                <div class="clearfix">
                  <span class="cd-tag cd-tag-blue cd-mr8 pull-left">{{ ('material.common_table.quality.' ~ transcodingQuality)|trans }}</span>
                  {% if status.status == 'ok' %}
                    <span class="cd-text-success">{{ 'material.common_table.transcode_success'|trans }}</span>
                  {% elseif status.status == 'error'%}
                    <a class="cd-text-danger" href="javascript:;" data-reason="{{ ('cloud_file.transcoding_tips.error_code_' ~ status.errorCode ~ '.reason')|trans }}" data-solution="{{ ('cloud_file.transcoding_tips.error_code_' ~ status.errorCode ~ '.solution')|trans }}">{{ 'material.common_table.transcode_error'|trans }}</a>
                  {% else %}
                    <div class="cd-progress cd-progress-success material-progress">
                      <div class="progress-bar">
                        <div class="progress-outer">
                          <div class="progress-inner" style="width: {{ status.process }}%;"></div>
                        </div>
                      </div>
                      <div class="progress-text">{{ status.process }}%</div>
                    </div>
                  {% endif %}
                </div>
                {% endfor %}
              {% endif %}
            {% elseif uploadFile.type in ['ppt', 'document'] %}
              {% if uploadFile.convertStatus == 'error' %}
                <a class="cd-text-danger" href="javascript:;" data-reason="{{ ('cloud_file.transcoding_tips.error_code_' ~ status.errorCode ~ '.reason')|trans }}" data-solution="{{ ('cloud_file.transcoding_tips.error_code_' ~ status.errorCode ~ '.solution')|trans }}">{{ 'material.common_table.transcode_error'|trans }}</a>
              {% elseif uploadFile.convertStatus in ['doing','waiting'] %}
                <span class="cd-text-success">{{ 'material.common_table.transcode_success'|trans }}</span>
              {% endif %}
            {% else %}
              {{ 'material.common_table.no_need_transcode'|trans }}
            {% endif %}
          {% else %}
            --
          {% endif %}
        </td>
        <td class="vertical-middle">
          <div class="btn-group">
            {% if uploadFile.createdUserId == app.user.id %}
              <a class="cd-btn btn cd-btn-primary {% if size|default('') == 'sm' %}cd-btn-sm{% endif %} btn-group--left js-detail-btn" data-toggle="tooltip" data-placement="bottom" href="javascript:;" data-url="{{ path('material_lib_file_detail', {fileId:uploadFile.id}) }}">
              {{'material_lib.btn.edit'|trans}}
              </a>
            {% endif %}
            {% if uploadFile.storage == "cloud" and uploadFile.createdUserId != app.user.id %}
              <a class="cd-btn btn cd-btn-primary {% if size|default('') == 'sm' %}cd-btn-sm{% endif %} btn-group--left js-detail-btn" data-toggle="tooltip" data-placement="bottom" href="javascript:;"  data-url="{{ path('material_lib_file_detail', {fileId:uploadFile.id}) }}">
              {{'material_lib.btn.view'|trans}}
              </a>
            {% endif %}
            <button type="button" class="cd-btn cd-btn-primary dropdown-toggle {% if size|default('') == 'sm' %}cd-btn-sm{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="cd-icon cd-icon-arrow-down cd-text-sm"></i>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu btn-group__menu text-center">
              {# 下载 #}
              <li>
                <a href="javascript:;"  data-url="{{ path('material_download', {fileId:uploadFile.id}) }}" class="js-download-btn" data-toggle="tooltip" data-placement="bottom" >
                  {{'material_lib.btn.download'|trans}}
                </a>
              </li>



              {% if uploadFile.createdUserId == app.user.id %}
                {# 删除判断 #}
  

                {% if type|default is not empty %}
                  <li>
                    <a href="javascript:;"  class="js-delete-btn" data-toggle="tooltip" data-placement="bottom" data-url="{{ path('material_delete_modal_show') }}" data-id="{{uploadFile.id }}">
                      {{'material_lib.btn.delete'|trans}}
                    </a>
                  </li>
                {% endif %}
                {# 共享和取消共享 #}
                {% if type|default is empty %}
                  {% if source|default('') != 'public' %}
                    <li>
                      <a href="javascript:;"  class="js-delete-btn" data-toggle="tooltip" data-placement="bottom" data-url="{{ path('material_delete_modal_show') }}" data-id="{{uploadFile.id }}">
                        {{'material_lib.btn.delete'|trans}}
                      </a>
                    </li>
                  {% endif %}
                  {% if uploadFile.isPublic %}
                    <li>
                      <a href="javascript:;" class="js-unshare-btn" data-toggle="tooltip" data-placement="bottom" data-url="{{ path('material_unshare', {fileId:uploadFile.id}) }}">
                        {{'material_lib.btn.cancel_share'|trans}}
                      </a>
                    </li>
                  {% else %}
                    <li>
                      <a href="javascript:;" class="js-share-btn" data-toggle="tooltip" data-placement="bottom" data-file-id="{{ uploadFile.id }}" data-url="{{ path('material_batch_share') }}">
                        {{'material_lib.btn.share'|trans}}
                      </a>
                    </li>
                  {% endif %}
                {% endif %}
              {% endif %}

              {# 收藏和取消收藏 #}
              {% if type|default is empty %}
                <li>
                  <a class="js-collect-btn" href="javascript:;" data-url="{{ path('material_lib_save_collection', {fileId:uploadFile.id}) }}">
                    {% if collections[uploadFile.id]|default(0) %}取消收藏{% else %}收藏{% endif %}
                  </a>
                </li>
              {% endif %}

              {# 字幕管理 #}
              {% if uploadFile.storage == "cloud" and uploadFile.type == 'video' %}
                <li>
                  <a href="{{ path('media_subtitle_manage', {mediaId:uploadFile.id, goto:path('material_lib_browsing')}) }}" data-toggle="tooltip" data-placement="bottom">
                    {{'material_lib.btn.subtitle_manage'|trans}}
                  </a>
                </li>
              {% endif %}

              {# 需要添加条件判断 #}
              {# <li><a target="_blank"href="{{ path('material_download', {fileId:uploadFile.id}) }}">{{'material_lib.btn.download'|trans}}</a></li>
              <li><a href="{{ path('material_delete_modal_show') }}">{{'material_lib.btn.delete'|trans}}</a></li>
              <li><a href="{{ path('material_lib_save_collection', {fileId:uploadFile.id}) }}">{{'material_lib.btn.collect'|trans}}</a></li>
              <li><a href="{{ path('material_lib_save_collection', {fileId:uploadFile.id}) }}">{{'material_lib.btn.collect'|trans}}</a></li>
              <li><a target="_blank" href="{{ path('media_subtitle_manage', {mediaId:uploadFile.id, goto:path('material_lib_browsing')}) }}">{{'material_lib.btn.subtitle_manage'|trans}}</a></li> #}
            </ul>
          </div>
        </td>
      </tr>
    {% else %}
      <div class="empty">{{'material_lib.upload_file.empty'|trans}}</div>
    {% endfor %}
    </tbody>
  </table>
</div>
