{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}{{ paper.name }} - {{ parent() }}{% endblock %}

{% block content %}

	{% block paper_header %}
		<div class="es-section testpaper-heading">
		  <div class="testpaper-titlebar clearfix">
				<h1 class="testpaper-title">
					{{ paper.name }} <br>
					<small class="text-sm">
						{% if result.status|default(null) in ['reviewing','finished'] %}
							{{'答题人：'|trans}}{{ student.nickname }} 
							{{'交卷时间：'|trans}}{{ result.endTime|date('Y-n-d H:i') }} 
							{{'用时：'|trans}}{{ result.usedTime|duration }}
						{% endif %}
					</small>
				</h1>
		    <div class="testpaper-status">
		    	{% if result.status|default(null) == 'doing' %}
						<div class="label label-primary">{{'答题中'|trans}}</div>
		    	{% elseif result.status|default(null) == 'reviewing' %}
						<div class="label label-info">{{'批阅中'|trans}}</div>
		    	{% else %}
						<div class="label label-success">{{'批阅完成'|trans}}</div>
		    	{% endif %}
		    </div>
		  </div>

			{% block paper_description %}{% endblock %}
		  {% block paper_result_bar %}{% endblock %}
		  {% block paper_warning %}{% endblock %}
		  {% block paper_question_type_bar %}{% endblock %}
		</div>
	{% endblock %}

	{% block paper_content %}
		<div class="row">
		  <div class="col-md-9 prevent-copy">
		    <div class="testpaper-body" >
		    	{% block paper_body %}
						{% include 'WebBundle:Testpaper:do-test.html.twig' %}
		    	{% endblock %}
		    </div>
		  </div>
		  <div class="col-md-3">
		    {% block paper_sidebar %}{% endblock %}
		  </div>
		</div>
	{% endblock %}

{% endblock %}