{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% set script_controller = 'homework/do' %}

{% block content %}
  <div class="question-set homework-set" id="homework-set">

    <div class="row question-set-heading">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="question-set-type">作业</div>
            <div class="question-set-title">{{ lesson.title }}</div>
            <div class="question-set-description">
              {{ homework.description }}
              <p class="text-muted">所属课程 <a href="#">{{ course.title }}</a></p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row question-set-body">
      <div class="col-md-9 question-set-main">
        <div class="panel panel-default">
          <div class="panel-heading">作业题目 <small class="text-muted">共{{ itemSetResult.total }}题</small></div>
          <div class="panel-body">
            
            <div class="question-set-items">
              {% for item in itemSetResult.items %}
              {# {{ dump(item) }} #}
                {% if item.subItems|default(null) %}
                  {% include 'TopxiaWebBundle:Question:question-set-item-have-sub.html.twig' %}
                {% else %}
                  {% include 'TopxiaWebBundle:Question:question-set-item.html.twig' %}
                {% endif %}
              {% endfor %}
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}