{% if  rules.create_question['enable'] == 1 %}
  <tr>
    <td>{{ 'admin.reward_point.setting.rule.create_question'|trans }}</td>
    <td>{{ rules.create_question['amount'] }}</td>
    <td>{% if  rules.create_question['daily_limit'] == 0 %}{{ 'course.plan_task.exercise.default_difficulty'|trans }}{% else %}{{ rules.create_question['daily_limit'] }}{% endif %}</td>
  </tr>
{% endif %}
{% if  rules.reply_question['enable'] == 1 %}
  <tr>
    <td>{{ 'admin.reward_point.setting.rule.reply_question'|trans }}</td>
    <td>{{ rules.reply_question['amount'] }}</td>
    <td>{% if  rules.reply_question['daily_limit'] == 0 %}{{ 'course.plan_task.exercise.default_difficulty'|trans }}{% else %}{{ rules.reply_question['daily_limit'] }}{% endif %}</td>
  </tr>
{% endif %}
{% if  rules.create_discussion['enable'] == 1 %}
  <tr>
    <td>{{ 'admin.reward_point.setting.rule.create_discussion'|trans }}</td>
    <td>{{ rules.create_discussion['amount'] }}</td>
    <td>{% if  rules.create_discussion['daily_limit'] == 0 %}{{ 'course.plan_task.exercise.default_difficulty'|trans }}{% else %}{{ rules.create_discussion['daily_limit'] }}{% endif %}</td>
  </tr>
{% endif %}
{% if  rules.reply_discussion['enable'] == 1 %}
  <tr>
    <td>{{ 'admin.reward_point.setting.rule.reply_discussion'|trans }}</td>
    <td>{{ rules.reply_discussion['amount'] }}</td>
    <td>{% if  rules.reply_discussion['daily_limit'] == 0 %}{{ 'course.plan_task.exercise.default_difficulty'|trans }}{% else %}{{ rules.reply_discussion['daily_limit'] }}{% endif %}</td>
  </tr>
{% endif %}
{% if  rules.elite_thread['enable'] == 1 %}
  <tr>
    <td>{{ 'admin.reward_point.setting.rule.elite_thread'|trans }}</td>
    <td>{{ rules.elite_thread['amount'] }}</td>
    <td>--</td>
  </tr>
{% endif %}
{% if  rules.appraise_course_classroom['enable'] == 1 %}
  <tr>
    <td>{{ 'admin.reward_point.setting.rule.appraise_course_classroom'|trans }}</td>
    <td>{{ rules.appraise_course_classroom['amount'] }}</td>
    <td>--</td>
  </tr>
{% endif %}
{% if  rules.daily_login['enable'] == 1 %}
  <tr>
    <td>{{ 'admin.reward_point.setting.rule.daily_login'|trans }}</td>
    <td>{{ rules.daily_login['amount'] }}</td>
    <td>--</td>
  </tr>
{% endif %}