<tr>
  <td rowspan="6">{{ 'admin.reward_point.setting.interaction'|trans }}</td>
  <td>{{ 'admin.reward_point.setting.rule.create_question'|trans }}</td>
  <td>
    <span class="es-switch {% if rules.create_question['enable'] %}is-active{% endif %}">
      <input class="es-switch__input" type="text" name="create_question[enable]" value="{{ rules.create_question['enable'] }}" data-close="0" data-open="1">
    </span>
  </td>
  <td>
    <input class="form-control reward-point-amount" name="create_question[amount]" type="text" value="{{ rules.create_question['amount'] }}">
  </td>
  <td>
    <input class="form-control reward-point-daily-limit" name="create_question[daily_limit]" type="text" value="{{ rules.create_question['daily_limit'] }}">
  </td>
</tr>
<tr>
  <td>{{ 'admin.reward_point.setting.rule.reply_question'|trans }}</td>
  <td>
    <span class="es-switch {% if rules.reply_question['enable'] %}is-active{% endif %}">
      <input class="es-switch__input" type="text" name="reply_question[enable]" value="{{ rules.reply_question['enable'] }}" data-close="0" data-open="1">
    </span>
  </td>
  <td>
    <input class="form-control reward-point-amount" name="reply_question[amount]" type="text" value="{{ rules.reply_question['amount'] }}">
  </td>
  <td>
    <input class="form-control reward-point-daily-limit" name="reply_question[daily_limit]" type="text" value="{{ rules.reply_question['daily_limit'] }}">
  </td>
</tr>
<tr>
  <td>{{ 'admin.reward_point.setting.rule.create_discussion'|trans }}</td>
  <td>
    <span class="es-switch {% if rules.create_discussion['enable'] %}is-active{% endif %}">
      <input class="es-switch__input" type="text" name="create_discussion[enable]" value="{{ rules.create_discussion['enable'] }}" data-close="0" data-open="1">
    </span>
  </td>
  <td>
    <input class="form-control reward-point-amount" name="create_discussion[amount]" type="text" value="{{ rules.create_discussion['amount'] }}">
  </td>
  <td>
    <input class="form-control reward-point-daily-limit" name="create_discussion[daily_limit]" type="text" value="{{ rules.create_discussion['daily_limit'] }}">
  </td>
</tr>
<tr>
  <td>{{ 'admin.reward_point.setting.rule.reply_discussion'|trans }}</td>
  <td>
    <span class="es-switch {% if rules.reply_discussion['enable'] %}is-active{% endif %}">
      <input class="es-switch__input" type="text" name="reply_discussion[enable]" value="{{ rules.reply_discussion['enable'] }}" data-close="0" data-open="1">
    </span>
  </td>
  <td>
    <input class="form-control reward-point-amount" name="reply_discussion[amount]" type="text" value="{{ rules.reply_discussion['amount'] }}">
  </td>
  <td>
    <input class="form-control reward-point-daily-limit" name="reply_discussion[daily_limit]" type="text" value="{{ rules.reply_discussion['daily_limit'] }}">
  </td>
</tr>
<tr>
  <td>{{ 'admin.reward_point.setting.rule.elite_thread'|trans }}</td>
  <td>
    <span class="es-switch {% if rules.elite_thread['enable'] %}is-active{% endif %}">
      <input class="es-switch__input" type="text" name="elite_thread[enable]" value="{{ rules.elite_thread['enable'] }}" data-close="0" data-open="1">
    </span>
  </td>
  <td>
    <input class="form-control reward-point-amount" name="elite_thread[amount]" type="text" value="{{ rules.elite_thread['amount'] }}">
  </td>
  <td>
    --
  </td>
</tr>
<tr>
  <td>{{ 'admin.reward_point.setting.rule.appraise_course_classroom'|trans }}</td>
  <td>
    <span class="es-switch {% if rules.appraise_course_classroom['enable'] %}is-active{% endif %}">
      <input class="es-switch__input" type="text" name="appraise_course_classroom[enable]" value="{{ rules.appraise_course_classroom['enable'] }}" data-close="0" data-open="1">
    </span>
  </td>
  <td>
    <input class="form-control reward-point-amount" name="appraise_course_classroom[amount]" type="text" value="{{ rules.appraise_course_classroom['amount'] }}">
  </td>
  <td>
    --
  </td>
</tr>
<tr>
  <td>{{ 'admin.reward_point.setting.active'|trans }}</td>
  <td>{{ 'admin.reward_point.setting.rule.daily_login'|trans }}</td>
  <td>
    <span class="es-switch {% if rules.daily_login['enable'] %}is-active{% endif %}">
      <input class="es-switch__input" type="text" name="daily_login[enable]" value="{{ rules.daily_login['enable'] }}" data-close="0" data-open="1">
    </span>
  </td>
  <td>
    <input class="form-control reward-point-value" name="daily_login[amount]" type="text" value="{{ rules.daily_login['amount'] }}">
  </td>
  <td>
    --
  </td>
</tr>