{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block title %}师资介绍 - {{ parent() }}{% endblock %}

{% block keywords %}师资介绍 {{ setting('site.name') }}{% endblock %}
{% block description %}{{ setting('site.name') }}的师资介绍。{% endblock %}



{% block content %}
<!--二级页面路径导航开始-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 crumbs">
      <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li><a href="/teacher">求是名师</a></li>
        {% if gradeTag|default(0) %}
        <li class="active">
          <span style="display: inline-block">
          <a href="{{ path('teacher_search',{ subjectTagId:subjectTag.id|default() }) }}"> 
            {{ gradeTag.name}}
            <i class="fa fa-times"></i>
          </a>
          
          </span></li> 
        {% endif %}
        {% if subjectTag|default(0) %}<li class="active">
        <span style="display: inline-block">
         <a href="{{ path('teacher_search',{ gradeTagId:gradeTag.id|default() }) }}"> 
           {{ subjectTag.name}}
            <i class="fa fa-times"></i>
        </a>
       </span></li> {% endif %}
        
      </ol>
    </div>
    <!--二级页面路径导航结束-->
    <!--课程筛选开始-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nav-stacked">
      <ul class="list-inline">
        年级：
        {% set teacherTags = data('TeacherTag',{ type:'grade' }) %}
        {% for tag in teacherTags %}
          <li><a href="{{ path('teacher_search',{ gradeTagId:tag.id,subjectTagId:subjectTag.id|default(0) }) }}">{{ tag.name }}</a></li>
        {% endfor %}

      </ul>
      <ul class="list-inline">
        学科：
        {% set teacherTags = data('TeacherTag',{ type:'subject' }) %}
        {% for tag in teacherTags %}
          <li><a href="{{ path('teacher_search',{subjectTagId:tag.id,gradeTagId:gradeTag.id|default(0) }) }}">{{ tag.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  <div class="teacher-box">
    <ul class="row">
    {% for teacher in teachers %}
          {% set profile = profiles[teacher.id] %}
      <li class="col-xs-12 col-sm-12 col-md-6 col-lg-6 es-teacher-list">
        <a href="{{ path('user_show', {id:teacher.id}) }}">
        <div class="media">
          <div class="media-left">
              <img class="media-object" src="{{ default_path('avatar',teacher.mediumAvatar, '') }}r" alt="...">
            <span class="teacher-link">点击查看</span>
          </div>
          <div class="media-body">
            <span class="com-author-link">{{ profile.truename }}</span>

            <span class="course-title">
                            {% if teacher.title %}
                  {{ teacher.title }}
                {% else %}
                  请设置头衔
                {% endif %}
            </span>
            <p class="teacher-info">
              {{ profile.about|plain_text(40)| raw}}
            </p>
            <span class="pull-left course-num">在教课程：11</span>
          </div>
        </div>
        </a>
      </li>
              {% endfor %}
      </ul>
      {{ web_macro.paginator(paginator) }}
        </div>

{% endblock %}